// Filter panel
// -------------------------
.origin-filter-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: @nav-width;
    z-index: @zindex-nav;

    overflow-x: hidden;
    overflow-y: scroll;

    background: @color-darknavy;

    pointer-events: none;

    .translate3d(125%, 0, 0);
    .transition(transform @timing-long-ease-out);
}

.origin-filter-panel-isvisible {
    pointer-events: auto;
    .translate3d(0, 0, 0);
}

.origin-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.origin-filter-item {
    position: relative;
    padding: 12px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid fade(@color-mediumnavy, 15%);
}

.origin-filter-item-submenu .origin-filter-item {
    border-bottom: none;
}

.origin-filter-item-isactive {
    background: @color-black;

    > .otkicon {
        .translate3d(0, 0, 0);
        .transition(transform @timing-long-ease-out);
    }
}

.origin-filter-item-isdisabled {
    opacity: 0.4;

    &:hover {
        background: @color-darknavy;
        color: @color-lightnavy;
    }
}

.origin-filter-link {
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.origin-filter-check-icon {
    position: absolute;
    right: 6px;

    color: @color-green;
    font-size: 32px;

    .translate3d(125%, 0, 0);
}

.origin-filter-item-option {
    color: @color-lightnavy;
    font-weight: @weight-normal;

    .transition(all @timing-simple-animate);

    &:hover {
        background: @color-black;
        color: @color-white;
    }
}

.origin-filter-item-submenu {
    color: @color-lightnavy;
}

.origin-filter-submenu-icon-closed {
    .rotate(270deg);
}

.origin-filter-item-submenu-text {
    margin: 0;
    padding-bottom: 12px;
    line-height: 20px;

    > .otkicon {
        position: absolute;
        top: 6px;
        right: 6px;
        font-size: 32px;
    }
}

.origin-filter-item-link {
    color: @color-dark-blue;
    font-weight: @weight-normal;
}

.origin-filter-searchfield {
    padding-right: 40px;
}

.origin-filter-dismiss-icon {
    display: none;
    position: absolute;

    top: 20px;
    right: 20px;
    z-index: 100;

    color: @color-mediumnavy;
    font-size: 23px;

    &:hover {
        color: @color-darknavy;
    }
}

.origin-filter-dismiss-icon-isvisible {
    display: block;
}