<div class="origin-store-carousel-hero-controls origin-store-carousel-hero-controls-left" ng-if="carouselState.slides.length > 1" ng-click="goTo(carouselState.current-1)" ng-class="{'origin-store-carousel-hero-controls-active': carouselState.focus}">
    <i class="otkicon otkicon-leftarrowcircle icon-leftarrow-carousel origin-telemetry-otkicon-leftarrowcircle"></i>
</div>
<div class="origin-store-carousel-hero-controls origin-store-carousel-hero-controls-right" ng-if="carouselState.slides.length > 1" ng-click="goTo(carouselState.current+1)" ng-class="{'origin-store-carousel-hero-controls-active': carouselState.focus}">
    <i class="otkicon otkicon-rightarrowcircle icon-rightarrow-carousel origin-telemetry-otkicon-rightarrowcircle"></i>
</div>
