<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <fileset name="f">
        <includes name="one.txt" asis="true" />
        <includes name="two.txt" asis="true" />
    </fileset>
    
    <fail unless="'@{FileSetToString('f', ';')}' == 'one.txt;two.txt'" />
</project>
]]>
</code>
</example>