<h2 class='otktitle-3 origin-home-recommended-header' ng-bind-html="::sectionTitle"></h2>
<h3 class='otktitle-4 origin-home-recommended-subtitle' ng-if="::sectionSubtitle" ng-bind-html="::sectionSubtitle"></h3>
<div class="origin-tile origin-home-recommended-tile origin-tealium-rna-origin-home-recommended-action-gift">
    <div class="origin-tile-container" origin-touch="touched(event)" ng-click="onBtnClick($event)">

        <!-- no imageRaw shows packArt w/ fallback treatment -->
        <div class="origin-tile-image" ng-class="{'origin-tile-image-gift': backupImage}" ng-style="{
            'background-image': !backupImage ? 'url(' + image + ')' : '',
            'background-color': discoverTileColor ? '#{{discoverTileColor}}' : ''
            } ">
        </div>
        <div class='origin-tile-overlay' ng-if="::isTouchDisable">
            <div class="origin-tile-overlay-content">
                <div class="origin-cta-primary">
                    <button class="otkbtn otkbtn-primary origin-tealium-otkbtn-primary" ng-disabled="disabled" ng-click="onBtnClick($event)">
                        <span class="otkbtn-primary-text origin-tealium-otkbtn-primary-text" ng-bind-html="ctaText"></span>
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- tile-img-wrapper end -->

    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <h1 class="otktitle-3 origin-tile-support-text-title"><strong ng-bind-html="::subtitle"></strong></h1>
        <p class="origin-tile-support-text-paragraph">
            <span ng-bind-html="description"></span>
        </p>
    </div><!-- .support-text end -->
</div>