<h2 class='otktitle-3 origin-home-recommended-header' ng-bind-html="::sectionTitle"></h2>
<h3 class='otktitle-4 origin-home-recommended-subtitle' ng-if="::sectionSubtitle" ng-bind-html="::sectionSubtitle"></h3>
<div class="origin-tile origin-home-recommended-tile origin-telemetry-home-recommended-tile" ng-class="{{::telemetryTrackerClass}}" telemetry-type="{{::telemetryTrackerType}}" telemetry-ctid="{{::ctid}}" telemetry-offerid="{{::offerId}}" telemetry-image="{{::image}}" telemetry-subtitle="{{::subtitle}}" >
    <div class="origin-tile-container" origin-touch="touched(event)" ng-click="navigateToGame()">

        <!-- no imageRaw shows packArt w/ fallback treatment -->
        <div class="origin-tile-image" ng-style="{
            'background-image': !backupImage ? 'url(' + image + ')' : '',
            'background-color': discoverTileColor ? '#{{discoverTileColor}}' : ''
            } ">
            <img ng-if="backupImage" ng-src="{{ image }}" alt="{{ gamename }}" />
        </div>
        <div class='origin-tile-overlay origin-telemetry-tile-overlay ng-class:{"origin-tile-overlay-isvisible": isDownloading}' ng-if="::isTouchDisable">
            <div class="origin-tile-overlay-content">
                <a ng-click="navigateToGame()" class='otka origin-tile-overlay-link'>
                    <h2 class="otktitle-2 origin-tile-overlay-content-title origin-telemetry-tile-overlay-content-title" ng-bind-html="gamename"></h2>
                </a>
                <origin-cta-downloadinstallplay ng-if='offerId' offerid="{{::offerId}}" tealium-offerid="{{::offerId}}" fallbacktext="" type="primary" ng-hide='isDownloading'></origin-cta-downloadinstallplay>
                <origin-cta-loadurlinternal ng-if='!offerId' href='{{ctaUrl}}' description='{{ctaText}}' tealium-description='{{ctaText}}' type="primary"></origin-cta-loadurlinternal>
                <div class='l-origin-tile-gameprogress' ng-show='isDownloading'>
                    <origin-game-progress offerid='{{::offerId}}'></origin-game-progress>
                </div>
                <a href="{{linkUrl}}" ng-show="linkText" class="origin-tile-secondarycta">{{::linkText}}</a>
            </div>
        </div>
        <div class="origin-tile-title" ng-hide='isDownloading || !gamename'>
            <h2 class="otktitle-2" ng-bind-html="gamename"></h2>
        </div>
    </div> <!-- tile-img-wrapper end -->

    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <h1 class="otktitle-3 origin-tile-support-text-title" ng-bind-html="subtitle"></h1>
        <p class="origin-tile-support-text-paragraph">
            <span ng-bind-html="description" ng-if="!displayFriends"></span>
            <origin-game-friendsplaying-text offerid="{{::offerId}}" tealium-offerid="{{::offerId}}" text="{{description}}" ng-if="displayFriends"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display offerid="{{::offerId}}" tealium-offerid="{{::offerId}}" userid="{{::userId}}" ng-show="offerId"></origin-game-friendsplaying-display>
        <origin-store-price offer-id={{::priceOfferId}} ng-if="priceOfferId && displayPrice" hide-owned-state="true"></origin-store-price>
        <span ng-if=showTrialViolator class="origin-home-recommended-violator"></span>
    </div><!-- .support-text end -->
</div>
