<header class="origin-profile-header">

    <!-- blurry background image and gradient overlay -->
    <div ng-if="backgroundImage">
        <origin-profile-header-image class="origin-profile-header-bg-image-wrapper" image-url="backgroundImage"></origin-profile-header-image>
    </div>
    <div class="origin-profile-header-bg-scrim"></div>

    <div class="origin-profile-header-info-section">

        <!-- avatar and presence circle -->
        <a href="javascript:void(0)" class="otkavatar-large otkavatar origin-profile-header-avatar" ng-class="{
                'otkavatar-isonline': presence.show === 'ONLINE' && (subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND'),
                'otkavatar-isjoinable': presence.isJoinable && (subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND'),
                'otkavatar-isingame': presence.show === 'INGAME' && (subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND'),
                'otkavatar-isbroadcasting': presence.isBroadcasting && (subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND'),
                'otkavatar-isaway': presence.show === 'AWAY' && (subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND'),
                'otkavatar-isoffline': presence.show == 'UNAVAILABLE' && (subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND')}">
            <img draggable="false" ng-src="{{avatarImgSrc}}" class="otkavatar-img">
        </a>

        <div class="origin-profile-header-presence-area">
            <!-- presence dot -->
            <i ng-show="(subscription.relationship === 'SELF' || subscription.relationship === 'FRIEND')" class="origin-profile-header-presence-dot" ng-class="{'otkpresence' : true,
                    'otkpresence-online': (presence.show === 'ONLINE'),
                    'otkpresence-ingame': (presence.show === 'INGAME') && !presence.isBroadcasting,
                    'otkpresence-broadcasting': presence.isBroadcasting,
                    'otkpresence-away': (presence.show === 'AWAY'),
                    'otkpresence-offline': (presence.show === 'UNAVAILABLE' && subscription.relationship !== 'SELF'),
                    'otkpresence-invisible': (presence.show === 'UNAVAILABLE' && subscription.relationship === 'SELF')}">
            </i>
			<span ng-if="subscription.relationship !== 'NON_FRIEND'">
				<span class='otktitle-5 otktitle-5-caps' ng-if="(presence.isBroadcasting)">
					<span ng-bind-html="broadcastingLoc"></span> <span ng-bind-html="presence.gameActivity.gameTitle"></span> 
                    <span ng-bind-html="presence.gameActivity.richPresence"></span>
				</span>
				<span class='otktitle-5 otktitle-5-caps' ng-if="(presence.show === 'INGAME') && !presence.isBroadcasting">
                    <span ng-bind-html="playingLoc"></span> <span ng-bind-html="presence.gameActivity.gameTitle"></span> 
                    <span ng-bind-html="presence.gameActivity.richPresence"></span>
                </span>
                <span class='otktitle-5 otktitle-5-caps' ng-if="( subscription.relationship === 'SELF' && presence.show === 'UNAVAILABLE')" ng-bind-html="invisibleLoc"></span>
                <span class='otktitle-5 otktitle-5-caps' ng-if="( subscription.relationship === 'FRIEND' && presence.show === 'UNAVAILABLE')" ng-bind-html="offlineLoc"></span>
                <span class='otktitle-5 otktitle-5-caps' ng-if="(presence.show === 'ONLINE')" ng-bind-html="onlineLoc"></span>
                <span class='otktitle-5 otktitle-5-caps' ng-if="(presence.show === 'AWAY')" ng-bind-html="awayLoc"></span>
            </span>
        </div>

        <div class='otktitle-page origin-profile-header-username' ng-bind="user.EAID"></div>

        <div>
            <span class='otktitle-3' ng-bind="user.firstName"></span>
            <span class='otktitle-3' ng-bind="user.lastName"></span>
        </div>

        <div class="origin-profile-header-controls" ng-class="{ hasCTA: ((subscription.relationship === 'NON_FRIEND') || (subscription.relationship === 'SELF') || (subscription.relationship === 'PENDING_OUT') || (subscription.relationship === 'PENDING_IN')),
                                                                hasDropdown: ((subscription.relationship === 'PENDING_OUT') || (subscription.relationship === 'PENDING_IN') || (subscription.relationship === 'FRIEND') || (subscription.relationship === 'NON_FRIEND') || (subscription.relationship === 'BLOCKED')) }">
            <div class="origin-profile-header-hasaccess-logo" ng-if="hasSubscription">
                <i class="otkicon otkicon-originlogo"></i><i class="otkicon otkicon-origintext"></i><i class="otkicon otkicon-accesstext"></i>
            </div>
            <!-- CTA button - make sure the logic here matches the ng-class on header-controls -->
            <span ng-show="subscription.relationship === 'SELF'"><a class="otkbtn otkbtn-primary origin-profile-header-controls-primary-button" data-button="editselfprofile">{{editoneadotcomLoc}}</a></span>
            <span ng-show="(subscription.relationship === 'NON_FRIEND')"><a class="otkbtn otkbtn-primary origin-profile-header-controls-primary-button" data-button="sendfriendrequest">{{sendfriendrequestLoc}}</a></span>
            <span ng-show="(subscription.relationship === 'PENDING_OUT')"><a class="otkbtn otkbtn-primary otkbtn-disabled origin-profile-header-controls-primary-button">{{friendrequestsentLoc}}</a></span>
            <span ng-show="(subscription.relationship === 'PENDING_IN')"><a class="otkbtn otkbtn-primary origin-profile-header-controls-primary-button" data-button="acceptfriendrequest">{{acceptFriendRequestLoc}}</a></span>
            <!-- Dropdown -->
            <span ng-show="((subscription.relationship === 'PENDING_OUT') || (subscription.relationship === 'PENDING_IN') || (subscription.relationship === 'NON_FRIEND') || (subscription.relationship === 'FRIEND') || (subscription.relationship === 'BLOCKED'))" class="origin-profile-header-controls-options-button">
                <i class="otkicon otkicon-downarrow"></i>
            </span>
        </div>

        <!-- debug info -->
<!--
        <br /><br />
        <h1 class='otktitle-6'>subscription.relationship = {{subscription.relationship}}</h1>
        <h1 class='otktitle-6'>Subcription State = {{subState}}</h1>
-->
        <!-- debug info -->

    </div> <!-- end of info-section -->

    <!-- context menu -->
    <div id="origin-profile-header-controls-options-menu" class="otkcontextmenu-wrap" ng-class="{ 'otkcontextmenu-isvisible' : optionsContextmenuVisible }">
        <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
            <li ng-show="(subscription.relationship === 'PENDING_IN')" role="presentation">
                <a ng-click="contextmenuCallbacks.ignoreFriendRequest()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{ignoreFriendRequestLoc}}</a>
            </li>
            <li ng-show="subscription.relationship === 'FRIEND'" role="presentation">
                <a ng-click="contextmenuCallbacks.unfriendUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{unfriendLoc}}</a>
            </li>
            <li ng-show="subscription.relationship === 'NON_FRIEND'" role="presentation">
                <a ng-click="contextmenuCallbacks.blockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{blockuserLoc}}</a>
            </li>
            <li ng-show="subscription.relationship === 'PENDING_IN'" role="presentation">
                <a ng-click="contextmenuCallbacks.ignoreAndBlockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{ignoreandblockuserLoc}}</a>
            </li>
            <li ng-show="subscription.relationship === 'PENDING_OUT'" role="presentation">
                <a ng-click="contextmenuCallbacks.cancelAndBlockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{cancelandblockuserLoc}}</a>
            </li>
            <li ng-show="subscription.relationship === 'FRIEND'" role="presentation">
                <a ng-click="contextmenuCallbacks.blockAndUnfriendUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{blockandunfriendLoc}}</a>
            </li>
            <li ng-show="subscription.relationship === 'BLOCKED'" role="presentation">
                <a ng-click="contextmenuCallbacks.unblockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{unblockuserLoc}}</a>
            </li>
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.reportUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{reportuserLoc}}</a>
            </li>

        </ul>
    </div>
    <!-- /context menu -->

</header>
