<!-- Achievements Tab Content -->
<section class="origin-profile-section" ng-if="topic === 'achievements'">
    <origin-profile-page-achievements nucleusid="{{nucleusId}}" achievementsetid="{{detailsId}}"></origin-profile-page-achievements>
</section>
<!-- Friends Tab Content -->
<section class="origin-profile-section" ng-if="topic === 'friends'">
    <origin-profile-page-friends nucleusid="{{nucleusId}}"></origin-profile-page-friends>
</section>
<!-- Games Tab Content -->
<section class="origin-profile-section" ng-if="topic === 'games'">
    <origin-profile-page-games nucleusid="{{nucleusId}}"></origin-profile-page-games>
</section>
<!-- Wishlist Tab Content -->
<section class="origin-profile-section" ng-if="topic === 'wishlist' && isWishlistEnabled">
    <origin-profile-page-wishlist nucleusid="{{nucleusId}}"></origin-profile-page-wishlist>
</section>