.origin-store-promo-accolade-wrapper {
    text-align: center;
    .font-condensed();
    font-weight: @weight-condensed-bold;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    padding-right: 30px;
    z-index: 5;

    &.origin-store-promo-accolade-leftalign {
        left: 45px;
        max-width: 650px;
    }

    &.origin-store-promo-accolade-centeralign {
        width: 100%;
        padding-right: 0;
    }

    &.origin-store-promo-accolade-rightalign {
        width: calc(50% - 45px);
        right: 45px;
        max-width: 650px;
    }

    .media-max-width(@access-landing-wide, {
        &.origin-store-promo-accolade-leftalign, &.origin-store-promo-accolade-rightalign, &.origin-store-promo-accolade-centeralign {
            left: 0;
            right: 0;
            width: 100%;
            padding-right: 0;
            max-width: none;
        }
    });
}

.origin-store-promo-accolade-imagescrim {
    .origin-store-promo-accolade-imagescrim-overlay {
        display: none;
        background: fade(@color-darknavy, 65%);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}


.origin-store-promo-accolade {
    width: 100%;
    max-width: 720px;
    .position-center();
}

.origin-store-promo-accolade-textcolor-light {

    .origin-store-promo-accolade-quote {
        color: @color-white;
        text-shadow: 0 0 5px fade(@color-black, 20%);
    }

    .origin-store-promo-accolade-source {
        color: @color-lightnavy;
        text-shadow: 0 0 5px fade(@color-black, 20%);
    }

    .origin-store-promo-accolade-gamelogo-dark {
        display: none;
    }

    &.origin-store-promo-accolade-imagescrim {
        .media-max-width(@access-landing-wide, {

            .origin-store-promo-accolade-imagescrim-overlay {
                display: block;
            }

        });
    }
}

.origin-store-promo-accolade-textcolor-dark {

    .origin-store-promo-accolade-quote {
        color: @color-darknavy;
    }

    .origin-store-promo-accolade-source {
        color: @color-mediumnavy;
    }

    .origin-store-promo-accolade-gamelogo-light {
        display: none;
    }

    &.origin-store-promo-accolade-imagescrim {

        .media-max-width(@access-landing-wide, {

            .origin-store-promo-accolade-quote {
                color: @color-white;
            }

            .origin-store-promo-accolade-source {
                color: @color-lightnavy;
            }

            .origin-store-promo-accolade-imagescrim-overlay {
                display: block;
            }

            .origin-store-promo-accolade-gamelogo-light {
                display: initial;
            }

            .origin-store-promo-accolade-gamelogo-dark {
                display: none;
            }
        });
    }
}

.origin-store-promo-accolade-quotewrapper {
    margin-bottom: 24px;
    max-width: 720px;
    width:100%;

    .media-max-width(@global-width-small, {
        margin-bottom: 12px;
        padding: 0 10px;
        .box-sizing(border-box);
    });

    .media-max-width(@global-width-xsmall, {

        &:nth-child(2), &:nth-child(3) {
            display:none;
        }
    });
}

.origin-store-promo-accolade-logo {
    margin-top: 12px;
    img {
        max-width: 250px;
        max-height: 125px;

        .media-max-width(@global-width-small, {
            max-width: 160px;
            max-height: 80px;
        });
    }
}

.l-origin-store-column-hero {
    .origin-store-promo-accolade-largefont {

        .origin-store-promo-accolade-quote {
            font-size: 48px;
            line-height: 56px;
            white-space: normal;

            .media-max-width(@global-width-small, {
                font-size: 36px;
                line-height: 42px;
            });

            .media-max-width(@global-width-xsmall, {
                font-size: 24px;
                line-height: 32px;
            });
        }

        .origin-store-promo-accolade-source {
            font-size: 24px;
            line-height: 32px;

            .media-max-width(@global-width-small, {
                font-size: 16px;
                line-height: 24px;
            });
        }
    }

    .origin-store-promo-accolade-mediumfont {

        .origin-store-promo-accolade-quote {
            font-size: 36px;
            line-height: 42px;

            .media-max-width(@global-width-small, {
                font-size: 24px;
                line-height: 32px;
            });
        }

        .origin-store-promo-accolade-source {
            font-size: 24px;
            line-height: 32px;

            .media-max-width(@global-width-small, {
                font-size: 16px;
                line-height: 24px;
            });
        }
    }
}

.l-origin-store-column-full, .l-origin-store-column-half {
    .origin-store-promo-accolade-largefont {

        .origin-store-promo-accolade-quote {
            font-size: 36px;
            line-height: 42px;
            white-space: normal;

            .media-max-width(@global-width-xsmall, {
                font-size: 24px;
                line-height: 32px;
            });
        }

        .origin-store-promo-accolade-source {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .origin-store-promo-accolade-mediumfont {

        .origin-store-promo-accolade-quote {
            font-size: 24px;
            line-height: 32px;
        }

        .origin-store-promo-accolade-source {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
