.origin-store-promo-badge-wrapper {
    width: 100%;
    z-index: 12;
    bottom: auto;
    right: auto;
    max-width: 720px;
    .position-center();

    .origin-store-promo-badge {
        text-align: center;
        color: @color-darknavy;
    }

    .origin-store-promo-badge-textcolor-light {
        color: @color-white;
        text-shadow: 0 0 5px fade(@color-black, 20%);
    }

    .origin-store-promo-badge-image {
        vertical-align: middle;
        margin-bottom: 24px;
        max-width: 150px;
    }

    .media-max-width(@global-width-xsmall, {
        padding: 0 10px;
    });

}

.l-origin-store-column-hero {
    .media-min-width(@global-width-small, {
        .origin-store-promo-badge-quote {
            font-size: 48px;
            line-height: 56px;
        }
    });

    .media-max-width(@store-width-large, {
        .origin-store-promo-badge-image {
            max-width: 100px;
        }
    });

    .media-max-width(@global-width-xsmall, {

        .origin-store-promo-badge-quote {
            font-size: 24px;
            line-height: 32px;
        }
    });
}

.l-origin-store-column-full, .l-origin-store-column-half {
    .media-max-width(@store-width-large, {
        .origin-store-promo-badge-image {
            max-width: 100px;
        }
    });

    .media-max-width(@global-width-xsmall, {

        .origin-store-promo-badge-image {
            max-width: 70px;
            margin-bottom: 12px;
        }

        .origin-store-promo-badge-quote {
            font-size: 24px;
            line-height: 32px;
        }
    });
}