// This file contains styles for the
// following two components:
//
// <origin-store-promo-callout>
// <origin-store-promo-callout-cta>


// Callout && CalloutCta Component both get
// similar layout styles
.origin-store-promo {
	// -----------------------------
	// Custom styles for different layouts (3: hero/full/half)
	//

	// For HALF-WIDTH callout/calloutcta promos ONLY
	&.origin-store-promo-callout-half {
		.origin-store-promo-callout-content {
			max-width: @promo-textcontent-maxwidth-small;
		}

		.origin-store-promo-callout-content-text {
			.display-flex();
			.flex-direction(column);
			.align-items(center);
		}

		// adds to shell, if no bg image present
		.origin-store-backgroundimagecarousel-image,
		.origin-store-backgroundimagecarousel-wrapper {
			height: @promo-image-height-medium;
			.media-max-width(@promo-width-xsmall-exact, {
				height: @promo-image-height-small;
			});
		}
  }

	// for FULL-WIDTH layout on callout/calloutcta ONLY
	&.origin-store-promo-callout-full {
		.origin-store-promo-callout-content {
			max-width: @promo-textcontent-maxwidth-large;
		}
		// adds to shell, if no bg image present
		.origin-store-backgroundimagecarousel-image,
		.origin-store-backgroundimagecarousel-wrapper {
			height: @promo-image-height-medium; // 360
			.media-max-width(@promo-width-xsmall-exact, {
				height: @promo-image-height-small; // 300
			});
		}
	}

	// for HERO layout on callout/calloutcta ONLY
	&.l-origin-store-column-hero-callout {
		.origin-store-promo-callout-content {
			max-width: @promo-textcontent-maxwidth-large;
		}

		// adds to shell, if no bg image present
		.origin-store-backgroundimagecarousel-image,
		.origin-store-backgroundimagecarousel-wrapper,
		.origin-store-promo-shell {
			height: @promo-image-hero-height-medium;
			.media-max-width(@promo-width-xsmall-exact, {
				height: @promo-image-hero-height-small;
			});
		}
	}
}

.origin-store-promo-callout-content {
	color: @color-white;
	.position-center();
	.box-sizing(border-box);

	text-align: center;
	width: 100%;

	// This should never happen, but better
	// than overflowing outside element bounds
	word-wrap: break-word;

	// For callout & calloutCTA
	.origin-store-promo-callout-text-color-dark &,
	&.origin-store-promo-calloutcta-text-color-dark {
		color: @color-darknavy;
	}
}


.origin-store-promo-callout-content-text {
	margin: 0;

	// The calloutText (or 'promo code')
	.callout-text {
		.font-condensed();
		position: relative;
		text-transform: uppercase;
		top: 4px; // overridden for half-width
		background: @color-orange;
		.border-radius(8px);
		border: 2px solid @color-white;
		padding: 0 1vw;
		margin: 0 6px;
		display: inline-block;

		.media-max-width(@global-width-xsmall, {
			font-size: 6vw;
			line-height: 7vw;
			margin: 0 .6vw;
		});

		.origin-store-promo-callout-half & {
			top: 0px;
		}
	}
}

.origin-store-promo-callout-content-title {
  font-weight: @weight-semibold;
  text-transform: uppercase;

	&.otktitle-1-condensed {
		margin-bottom: 6px;

		.media-max-width(@global-width-xsmall, {
			font-size: 13vw;
			line-height: 13vw;
			margin-bottom: .6vw;
		});
	}
	&.otktitle-2-condensed {
		margin-bottom: 8px;

		.media-max-width(@global-width-xsmall, {
			font-size: 11vw;
			line-height: 11vw;

			margin-bottom: .8vw;
		});
	}
	&.otktitle-3-condensed {
		margin-bottom: 9px;

		.media-max-width(@global-width-xsmall, {
			font-size: 8.7vw;
			line-height:8.7vw;

			margin-bottom: .9vw;
		});
	}
}

.origin-store-promo-callout-content-subtitle,
.origin-store-promo-callout-content-text {
	font-weight: @weight-light;
	.media-max-width(@global-width-xsmall, {
	  font-size: 4vw;
	  line-height: 5vw;
	});
}


.origin-store-promo-callout .origin-legaldisclaimer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

// --------------------
// CTA Callout Component ONLY
//
.origin-store-promo-calloutcta-cta {
	margin-top: 24px;
}