@promo-banner-height: 100px;

// Promo heights
@promo-image-height-xsmall: 200px;
@promo-image-height-small: 300px;
@promo-image-height-medium: 360px;

// Hero heights
@promo-image-hero-height-small: 300px;
@promo-image-hero-height-medium: 450px;

@promo-width-xsmall-exact: (@global-width-xsmall + 1);

@promo-textcontent-maxwidth-small: 325px;
@promo-textcontent-maxwidth-large: 600px;

@promo-titleimage-maxwidth: 210px;
@promo-titleimage-maxheight: 50px;

// hero maxes
@promo-titleimage-hero-maxwidth: 270px;
@promo-titleimage-hero-maxheight: 80px;