<div class="origin-agegate origin-agegate-underage-{{underage}}" ng-controller="OriginAgegateCtrl as ctrl">
	<div ng-if="underage !== 'no'" class="origin-agegate-overlay">
		<div ng-if="underage == 'yes'" class="origin-agegate-restrictedmessage">
			<span class="otktitle-2">{{restrictedMessage}}</span>
		</div>
		<form novalidate ng-if="underage == 'unknown'" class="origin-agegate-form" name="originAgeGate" >
			<div class="origin-agegate-header">
				<div class="otktitle-page">{{titleStr}}</div>
				<div class="otktitle-3">{{descriptionStr}}</div>
			</div>
			<span class="otkselect origin-agegate-select">
				<select name="origin-agegate-month" ng-model="ctrl.dob.month" required>
					<option ng-repeat="m in months" value="{{m.key}}">{{m.value}}</option>
				</select>
				<span class="otkselect-label" ng-if="ctrl.dob.month">{{'2000-'+ctrl.dob.month+'-01'|date:'MMMM'}}</span>
				<span class="otkselect-label" ng-if="!ctrl.dob.month">{{monthLabelStr}}</span>
			</span>
			<span class="otkselect origin-agegate-select">
				<select name="origin-agegate-day" ng-model="ctrl.dob.day" ng-options="d for d in days" required></select>
				<span class="otkselect-label" ng-if="ctrl.dob.day">{{ctrl.dob.day}}</span>
				<span class="otkselect-label" ng-if="!ctrl.dob.day">{{dayLabelStr}}</span>
			</span>
			<span class="otkselect origin-agegate-select">
				<select name="origin-agegate-year" ng-model="ctrl.dob.year" ng-options="y for y in years" required></select>
				<span class="otkselect-label" ng-if="ctrl.dob.year">{{ctrl.dob.year}}</span>
				<span class="otkselect-label" ng-if="!ctrl.dob.year">{{yearLabelStr}}</span>
			</span>
			<div class="origin-agegate-buttons">
				<button ng-disabled="originAgeGate.$invalid" ng-click="ctrl.confirmAge()" class="otkbtn otkbtn-primary">{{confirmStr}}</button>
			</div>
		</form>
	</div>
</div>