<a href="#/profile" ng-class="{
	'otkavatar': true,
	'otkavatar-isonline': presence == 'ONLINE',
	'otkavatar-isingame': presence == 'INGAME',
	'otkavatar-isbroadcasting': presence == 'BROADCASTING',
	'otkavatar-isaway': presence == 'AWAY',
	'otkavatar-isoffline': presence == 'OFFLINE',
	'otkavatar-medium': avatarSize == 'medium',
	'otkavatar-large': avatarSize == 'large'}">
    <img ng-src="{{userImage}}" alt="{{::originId}}" class="otkavatar-img" width='{{::avatarWidthHeight}}' height='{{::avatarWidthHeight}}'>
</a>