.origin-store-access-trials-footer {
	#gradient > .vertical(@color-white, #d7dce1 , 0%, 100%);
	padding: 100px 45px;
	text-align: center;

	.media-max-width(@global-width-xsmall, {
    	padding: 100px 10px;
    });
}

.origin-store-access-trials-footer-logo {
	margin-bottom: 18px;
}

.origin-store-access-trials-footer-top {
	margin-bottom: 36px;
}

.origin-store-access-trials-footer-description {
	color: @color-mediumnavy;
}

.origin-store-access-trials-props {
	.display-flex();
    .flex-wrap(wrap);
    .justify-content(center);
    .align-items(flex-start);
    .box-sizing(border-box);

    max-width: @access-container-width;
    margin: 0 auto;
    text-align: left;

	.origin-store-access-list {
    	list-style-type: none;
    	margin: 12px 0 18px;
    	padding: 0;
    	.box-sizing(border-box);

    	.media-min-width(@access-landing-wide, {
			&:nth-child(odd) {
		        padding-right: 30px;
		    }
		    &:nth-child(even) {
		        padding-left: 30px;
		    }
	    });

	    .origin-store-access-item {
	    	position: relative;
	    	padding-left: 22px;
    		margin-bottom: 12px;
    		color: @color-mediumnavy;

	    	&:before {
	    		content: "";
			    position: absolute;
			    border-radius: 20px;
			    width: 9px;
			    height: 9px;
			    top: 7px;
			    left: 0;
			    border: 2px solid @color-mediumnavy;
	    	}

	    	.otkicon {
	    		display: none;
	    	}
	    }
	}
}

.origin-store-access-trials-prop {
	.flex(0, 0, 50%);
	max-width: 50%;
	.box-sizing(border-box);
	margin-bottom: 12px;

	.media-min-width(@access-landing-wide, {
		&:nth-child(odd) {
	        padding-right: 30px;
	    }
	    &:nth-child(even) {
	        padding-left: 30px;
	    }
    });

    .media-max-width(@access-landing-wide, {
    	max-width: @access-module-width;
    	.flex(0, 0, 100%);
    });
}

.origin-store-access-trials-footer-platform,
.origin-store-access-trials-footer-link {
	margin-top: 12px;
	color: @color-mediumnavy;
}

.origin-store-access-trials-footer-player {
	max-width: @access-module-width;
	margin: 18px auto 0;
}

.origin-store-access-trials-footer-player-wrapper {
	padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    position: relative;
    .box-shadow(0 10px 30px 0 fade(@color-darknavy, 25%));
}

.origin-store-access-trials-footer-player-location {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}