.origin-store-access-trials-hero {
	width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 45px;
    .box-sizing(border-box);

    .media-max-width(@access-landing-wide, {
    	height: auto;
    });

    .media-max-width(@global-width-xsmall, {
        padding: 0 10px;
    });
}

.origin-store-access-trials-hero-background {
    min-width: 101%;
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: -1;
	.translate(-50%, -50%);

    .media-max-width(@access-background-image-width, {
        max-width: @access-background-image-width;
    });

    .media-min-width(@access-background-image-width, {
        max-width: 101%;
    });
}

.origin-store-access-trials-hero-content {
    .display-flex();
    .flex-wrap(wrap);
    .justify-content(center);
    .align-items(flex-start);
    .box-sizing(border-box);
    width: 100%;
    height: 100%;
    padding: 100px 0;
    position: relative;
    max-width: @access-container-width;
    margin: 0 auto;

    .media-max-width(@access-landing-wide, {
        background: fade(@color-white, 70%);

        &:after {
            background: fade(@color-white, 70%);
            width: 100%;
            height: inherit;
            content: '';
            position: absolute;
            top: 0;
            right: -100%;
        }
    });

    &:before {
        background: fade(@color-white, 70%);
        width: 100%;
        height: inherit;
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
    }

    .media-min-width(@access-landing-wide, {
        #gradient > .horizontal-three-colors(fade(@color-white, 70%); fade(@color-white, 40%); 50%; fade(@color-white, 0%); 70%);
    });

    &.origin-store-access-trials-hero-text-light {
        .media-max-width(@access-landing-wide, {
            background: fade(@color-black, 70%);
        });

        &:before {
            background: fade(@color-black, 70%);
        }

        &:after {
            background: fade(@color-black, 70%);
        }

    	.media-min-width(@access-landing-wide, {
            #gradient > .horizontal-three-colors(fade(@color-black, 70%); fade(@color-black, 40%); 50%; fade(@color-black, 0%); 70%);
    	});
    	
    	.origin-store-access-trials-hero-text {
	    	color: @color-white;
    	}

    	 .origin-store-access-list {
		    .origin-store-access-item {
		    	&:before {
				    border: 2px solid @color-white;
		    	}
		    }
	    }

        .origin-store-access-trials-hero-platform,
        .origin-store-access-trials-hero-legal {
            color: @color-lightnavy;
        }
	}
}

.origin-store-access-trials-hero-text {
    max-width: 50%;
    padding-right: 45px;
    color: @color-darknavy;
    .flex(0, 0, 50%);
    .box-sizing(border-box);

    .media-max-width(@access-landing-wide, {
        max-width: @access-module-width;
	    .flex(0, 0, 100%);
    	padding: 0;
    });

    .origin-store-access-list {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;

	    .origin-store-access-item {
	    	position: relative;
	    	padding-left: 22px;
    		margin-bottom: 12px;

	    	&:before {
	    		content: "";
			    position: absolute;
			    border-radius: 20px;
			    width: 9px;
			    height: 9px;
			    top: 7px;
			    left: 0;
			    border: 2px solid @color-mediumnavy;
	    	}

	    	.otkicon {
	    		display: none;
	    	}
	    }
	}

	origin-store-access-cta .origin-cta-primary {
		margin-top: 18px;
	}
}

.origin-store-access-trials-hero-logo {
	margin-bottom: 18px;
}

.origin-store-access-trials-hero-foreground {
    max-width: 50%;
    padding-left: 45px;
    height: 100%;
    position: relative;
	.flex(0, 0, 50%);
	.box-sizing(border-box);

    .media-max-width(@access-landing-wide, {
        max-width: @access-module-width;
	    .flex(0, 0, 100%);
    	padding: 0;
    });
}

.origin-store-access-trials-hero-foreground-image {
	position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;

	.media-max-width(@access-landing-wide, {
    	display: none;
    });
}

.origin-store-access-trials-hero-platform,
.origin-store-access-trials-hero-legal {
	margin-top: 12px;
    color: @color-mediumnavy;
}

.origin-store-access-trials-video-player-wrapper {
	padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    position: relative;
    .box-shadow(0 10px 30px 0 fade(@color-darknavy, 25%));

    .media-max-width(@access-landing-wide, {
        margin-top: 24px;
    });
}

.origin-store-access-trials-video-player-location {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}