.origin-store-access-trials-mediaprop {
	position: relative;
	overflow: hidden;
	padding: 0 45px;

	.media-max-width(@global-width-xsmall, {
        padding: 0 10px;
    });
}

.origin-store-access-trials-mediaprop-background {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 101%;
	.translate(-50%, -50%);

	.media-max-width(@access-background-image-width, {
		max-width: @access-background-image-width;
	});

	.media-min-width(@access-background-image-width, {
		max-width: 101%;
	});
}

.origin-store-access-trials-mediaprop-content {
	padding: 100px 0;
	position: relative;
	top: 0;
	left: 0;
	max-width: @access-container-width;
	margin: 0 auto;
	.box-sizing(border-box);

	.origin-store-carousel-product-controls-active {
    	&:hover {
	    	color: @color-black;
    	}
    }

	&.origin-store-access-trials-mediaprop-content-light {
		color: @color-white;

		.origin-store-carousel-product-controls-active {
			color: @color-mediumnavy;
	    	&:hover {
		    	color: @color-white;
	    	}
	    }

	    .origin-store-access-trials-mediaprop-mainheader {
			color: @color-white;
		}

	    .origin-store-access-trials-mediaprop-header {
			margin-bottom: 6px;
			color: @color-white;
		}

		.origin-store-access-trials-mediaprop-text {
			color: @color-lightnavy;
		}
	}

	.media-max-width(@access-landing-wide, {
    	max-width: @access-module-width;
    });

    .origin-carouselimage-slidearea {
    	&.origin-store-carousel-carousel-slidearea {
    		margin-top: 0;
    		padding-top: 0;
    	}
    }
}

.origin-store-access-trials-mediaprop-top {
	.display-flex();
	.justify-content(center);
	.align-items(flex-start);
	.flex-wrap(wrap);
}

.origin-store-access-trials-mediaprop-top-right {
	.flex(0, 0, 50%);
	padding-left: 30px;
	max-width: 50%;
	.box-sizing(border-box);

	.media-max-width(@access-landing-wide, {
		max-width: @access-module-width;
    	.flex(0, 0, 100%);
    	padding-left: 0;
    });
}

.origin-store-access-trials-mediaprop-top-left {
	.flex(0, 0, 50%);
	padding-right: 30px;
	max-width: 50%;
	.box-sizing(border-box);

	.media-max-width(@access-landing-wide, {
		max-width: @access-module-width;
    	.flex(0, 0, 100%);
    	padding-right: 0;
    });
}

.origin-store-access-trials-mediaprop-props {
	padding-top: 30px;
	.display-flex();
	.justify-content(center);
	.align-items(flex-start);
	.flex-wrap(wrap);
}

.origin-store-access-trials-mediaprop-prop {
	max-width: 50%;
	.flex(0, 0, 50%);
	margin-bottom: 30px;
	.box-sizing(border-box);

	.media-min-width(@access-landing-wide, {
		&:nth-child(odd) {
	        padding-right: 30px;
	    }
	    &:nth-child(even) {
	        padding-left: 30px;
	    }
    });

    .media-max-width(@access-landing-wide, {
    	max-width: @access-module-width;
    	.flex(0, 0, 100%);
    });
}

.origin-store-access-trials-mediaprop-mainheader {
	color: @color-black;
}

.origin-store-access-trials-mediaprop-header {
	margin-bottom: 6px;
	color: @color-black;
}

.origin-store-access-trials-mediaprop-text {
	color: @color-black;
}

.origin-store-access-trials-mediaprop-content-twotone {
	.origin-store-access-trials-mediaprop-text {
		color: @color-mediumnavy;
	}
}