//
// Store Pack
// ------------------------------------

.origin-store-pack-title
{
	margin: 0 0 10px 0;
}

.l-origin-store-pack
{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	width: 100%;
}

.l-origin-store-pack-item
{
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 12px;
}

.l-origin-store-pack-item:nth-child(3n)
{
	margin-right: 0;
}

.origin-store-pack-title {
  display: inline;
  padding-right: 10px;
}


@media only screen and (max-width: 1150px){
	.l-origin-store-pack-item
	{
	    width: 49%;
	    margin-right: 2%;
	}

	.l-origin-store-pack-item:nth-child(3n)
	{
	    margin-right: 2%;
	}

	.l-origin-store-pack-item:nth-child(2n)
	{
	    margin-right: 0;
	}

	.l-origin-store-pack-item:nth-child(n+9)
	{
	    display: none;
	}
}


@media only screen and (max-width: 600px) {
	.l-origin-store-pack-item
	{
		width: 100%;
		margin-right: 0;
	}

	.l-origin-store-pack-item:nth-child(3n)
	{
		margin-right: 0;
	}

	.l-origin-store-pack-item:nth-child(2n)
	{
		margin-right: 0;
	}

	.l-origin-store-pack-item:last-child
	{
		display: block;
	}
}
