.origin-storebundlecart-container {
}

.origin-storebundlecart-header {
    margin-bottom: 15px;
    @media (max-width: @width-mobile) {
        display: none;
    }
}

.origin-storebundlecart-wrapper {
    position: relative;
}

.origin-storebundlecart {
    height: 215px;
    width: calc(100% - 300px);
    z-index: 1;

    margin: 0;
    padding: 10px;

    box-sizing: border-box;
    border: 2px dashed @color-mediumnavy;
    .border-radius(4px);

    background: fade(@color-mediumnavy, 30%) none repeat scroll 0% 0%;

    list-style: none;

    .clearfix();
    @media (max-width: @width-mobile) {
        display: none;
    }
}

.origin-storebundlehero-shrink .origin-storebundlecart {
    height: 175px;
}

.origin-storebundlecart-item {
    float: left;
    margin-right: 15px;
}

.origin-storebundlecart-item-small {
    width: 110px;
}

.origin-storebundlecart-itemwrapper {
    position: relative;
    margin-top: 6px;
    margin-left: 3px;
}
.origin-storebundlehero-shrink .origin-storebundlecart-itemwrapper img {
    width: 100px;
    height: 141px;
}

.origin-storebundlecart-posterart {
    width: 130px;
    height: 180px;

    border-width: 0;
    .border-radius(2px);
}

.origin-storebundlecart-deleteicon {
    position: absolute;

    top: -5px;
    left: -5px;
    z-index: 2;
    .circle(20px);

    text-decoration: none;
    color: @color-white;
    font-size: 35px;
    opacity: 1;

    background-color: fade(@color-darknavy, 80%);

    &::before {
        position: relative;
        top: -7px;
        left: -7px;
    }
}

.origin-storebundlecart .origin-store-carousel-product-carousel-headerarea {
    position: absolute;
    top: -50px;
    width: 100%;
}

.origin-storebundlecart .origin-store-carousel-product-controls-left,
.origin-storebundlecart .origin-store-carousel-product-controls-right {
    &:hover {
        color: @color-white;
    }
}

.origin-storebundlecart .origin-store-carousel-product-carousel-container {
    min-height: 210px;
}
.origin-storebundlehero-shrink .origin-storebundlecart .origin-store-carousel-product-carousel-container {
    min-height: 175px;
}