@store-bundlehero-padding: 45px;

.origin-storebundlehero {
    color: @color-white;
    background: @color-black;
    padding: @store-bundlehero-padding;
    z-index: @zindex-bundle-hero;
    left: 0;
    right: 0;
    position: relative;

    @media (max-width: @width-mobile) {
        left: 0;
    }
}

.origin-storebundlehero-pinned {
    position: fixed;
    top: 0;
    left: @nav-width;
    @media (max-width: @width-mobile) {
        left: 0;
    }
}

.origin-content-isdocked .origin-storebundlehero {
    @media (min-width: @width-large-desktop) {
        right: @social-hub-width;
    }
}

.origin-storebundlehero-header {
    margin-bottom: 24px;
    z-index: 1;
}
.origin-storebundlehero-shrink .origin-storebundlehero-header {
    display: none;
}

.origin-storebundlehero-title {
    margin-bottom: 6px;
}

.origin-storebundlehero-description {
    color: @color-lightnavy;
}

.origin-storebundlehero-backgroundwrapper {
    overflow: hidden;
}

.origin-storebundlehero-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.origin-storebundlehero-backgroundimage {
    display: block;
    position: absolute;
    width: 120%;
    height: auto;
    .position-center();
    .filter(blur(25px));
    .opacity(.2);
}

.origin-storebundlehero-price {
    bottom: 0;
    right: 0;
    width: 250px;

    @media (min-width: @width-mobile) {
        position: absolute;
        text-align: right;
    }
}

.origin-storebundlehero-price-item {
    margin-top: 0;

    > span {
        font-size: @font-size-subtitle;
        font-weight: @weight-normal;
    }
}

.origin-storebundlehero-cta {
    margin-top: 6px;
}