.origin-bundlemain {
    position: relative;
    padding: 45px;
    margin-bottom: 0;
    .clearfix();
}

.origin-bundlemain-offerlist-nodescription {
    margin-top: 336px;
}

.origin-bundlemain-offerlist-shrink {
    margin-top: 296px;
}

.origin-bundlemain-offerlist-pinned {
    margin-top: 420px;
}

@media screen and (max-width: @width-desktop) {
    .origin-bundlemain {
        padding: 45px 20px;
    }
}

.origin-bundlemain-legal {
    font-size: 12px;
}
