.origin-bundle-offer-list {
    position: relative;
    padding: 3.33%;
    .clearfix();
}

@media screen and (min-width: 1000px) and (max-width: 1700px) {
    .origin-gameslist-list {
        padding-left: 2%;
    }
}

@media screen and (min-width: 1700px) {
    .origin-gameslist-list {
        padding-left: 1.66%;
    }
}
