redirectorsettingsconfig = {

    clientVersions = {
        // List of the compatible client versions.  Only versions listed here will be accepted by
        // the redirector.  If this list is empty, any client version string will be accepted.
        compatible = [
        //    "1.2"
        ]

        // List of the incompatible client versions.  This allows a specific error message to be
        // returned to client which are reporting an incompatible version.  There is a distinction
        // here between an unrecognized client version and an incompatible one.  Different messages
        // will be returned to the client.
        incompatible = [
        //    "3.4"
        ]
    }

#if PLATFORM == "pc"
    // Titles can define a remapping to a trial service name. If this mapping is defined and the title is running under a trial license,
    // a client that wishes to connect to #BLAZE_SERVICE_NAME_DEFAULT# will actually end up connecting to "#BLAZE_SERVICE_NAME_DEFAULT#-trial"
    // You can use either the platform specific service names below or BLAZE_SERVICE_NAME_DEFAULT as well.
    //trialServiceNameRemap = {
        //#PC_SERVICE_NAME_DEFAULT#      = "#PC_SERVICE_NAME_DEFAULT#-trial",
        //#XONE_SERVICE_NAME_DEFAULT#    = "#XONE_SERVICE_NAME_DEFAULT#-trial",
        //#PS4_SERVICE_NAME_DEFAULT#     = "#PS4_SERVICE_NAME_DEFAULT#-trial",
        //#NX_SERVICE_NAME_DEFAULT#     = "#NX_SERVICE_NAME_DEFAULT#-trial",
        //#IOS_SERVICE_NAME_DEFAULT#     = "#IOS_SERVICE_NAME_DEFAULT#-trial",
        //#ANDROID_SERVICE_NAME_DEFAULT# = "#ANDROID_SERVICE_NAME_DEFAULT#-trial"
    //}
    trialServiceNameRemap = { 
        #BLAZE_SERVICE_NAME_DEFAULT# = "#BLAZE_SERVICE_NAME_DEFAULT#-trial"
    }
#endif
}

