<?xml version="1.0"?>
<example>
<para>Simple example recording build log to a named property.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <record property="log">
        <echo message="This gets saved in the log property"/>
    </record>
    <fail 
        unless="@{StrIndexOf('${log}', 'This gets saved in the log property')} != 0" 
        message="Log wasn't saved: ${log}"/>
</project>
]]>
</code>
</example>
