.origin-store-carousel-featured-carousel{
    position: relative;
    display: inline-flex;
    overflow: hidden;

    padding: 25px 0 10px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    height: 440px;
    z-index: 0;

    .media-max-width(@global-width-small, {
        height: auto;
        flex-direction: column;
    });
}

.origin-store-carousel-featured-text-color-light {
    color: @color-white;
}

.origin-store-carousel-featured-text-color-dark {
    .origin-store-carousel-featured-carousel-title {
        color: @color-darknavy;
    }
    .origin-store-carousel-featured-carousel-subtitle {
        color: @color-mediumnavy;
    }
}

// Light/Dark theme treatments
.origin-store-carousel-featured-text-color-dark {
    // Carousel controls
    .origin-store-carousel-product-controls-left, .origin-store-carousel-product-controls-right {
        color: @color-darknavy;
    }
    .origin-store-carousel-product-controls-active:hover {
        color: @color-black;
    }

    // Carousel pills/nav
    .origin-store-carousel-product-indicator {
        border-color: @color-darknavy;
        &:hover {
            background-color: @color-darknavy;
        }
        &-active,
        &-active:hover {
            border-color: @color-orange;
            background-color: @color-orange;
        }
    }
}

.origin-store-carousel-featured-carousel-img-wrapper {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.origin-store-carousel-product-controls {
    height: 40px;
}

.origin-store-carousel-featured-carousel-caption {
    position: absolute;
    width: 375px;
    padding: 52px 30px;
    box-sizing: border-box;
    z-index: 10;

    .media-max-width(@store-width-medium, {
        padding: 0 30px 0 20px;
        width: 350px;
    });

    .media-max-width(@global-width-small, {
        position: relative;
        width: 100%;
        padding: 24px 10px;
    });

    .touch-enabled .origin-cta-primary, .origin-cta-secondary {
       position: relative;
    }
}

.origin-store-carousel-featured-carousel-title {
    color: @color-white;
}

.origin-store-carousel-featured-carousel-subtitle {
    color: @color-white;
    padding-bottom: 25px
}

.origin-store-carousel-featured-carousel-slider {
    position: absolute;
    left: 375px;
    right: 45px;

    .media-max-width(@store-width-medium, {
        left: 350px;
        right: 45px;
    });

    .media-max-width(@global-width-small, {
        position: relative;
        width: 100%;
        left: auto;
        right: auto;
    });

}

.origin-store-carousel-featured-carousel-slider-isloading {
    .loading();
    display: inline-block;
    opacity: 0.6;
    position: absolute;
    top: 0;
}
