@origin-store-carousel-hero-shadowoffset: 6px;

.origin-store-carousel-hero {
  .icon-leftarrowcircle { &:before { content: @icon-leftarrowcircle; } }
  .icon-rightarrowcircle { &:before { content: @icon-rightarrowcircle; } }
  position: relative;

  .origin-socialmedia {
    z-index: 60;
    position: absolute;
    top: 20px;
    padding: 0;
    right: @section-spacing-small;

    .media-min-width(@global-width-xsmall, {
        right: @section-spacing-medium;
    });

    .media-min-width(@global-width-medium, {
        right: @section-spacing-large;
    });
  }

  > .origin-store-carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: -@origin-store-carousel-hero-shadowoffset;
    padding-bottom: @origin-store-carousel-hero-shadowoffset;

    .origin-store-carousel-content {
      display: none;
      position: relative;
      .transition(0.3s ease-in-out left);

      &.carousel-item-active, &.carousel-item-next, &.carousel-item-prev {
        display: block;
      }

      &.carousel-item-active {
        left:0;
      }
      &.carousel-item-linked{
        cursor: pointer;
      }

      &.carousel-item-next, &.carousel-item-prev {
          position: absolute;
          top: 0;
          width: 100%;
      }


      /* Classes used to slide the hero banners */
      &.carousel-item-next, &.carousel-item-active.carousel-item-right  { left: 100%; }
      &.carousel-item-prev, &.carousel-item-active.carousel-item-left { left: -100%; }
      &.carousel-item-next.carousel-item-left, &.carousel-item-prev.carousel-item-right { left: 0; }

      .carousel-caption-left {
        left: 8%;
        right: 8%;
      }
      .carousel-caption-center {
        left: 50%;
        right: auto;
        width: 50%;
        margin-left:-25%;
        text-align:center;
        .c {
          margin:auto;
        }
        .origin-store-timer-table {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .carousel-caption-right {
        right: 8%;
        left: 8%;
        text-align: right;
        .origin-store-timer-table{
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
  }

  .origin-store-carousel-hero-controls {
    .transition(0.3s ease-in-out all);
    padding: 0 @section-spacing-large;
    text-indent: -4px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    width: auto;
    height: 100%;
    color: @color-mediumnavy;
    color: @color-white;
    text-decoration: none;

    .no-touch & {
      color: @color-mediumnavy;
    }

    .no-touch &:hover, .no-touch &:focus {
      outline: none;
      text-decoration: none;
    }

    &.origin-store-carousel-hero-controls-right {
      left: auto;
      right:  0;

      .icon-rightarrow-carousel {
        .media-max-width(@store-width-medium, {
          .horizontal-center();
        });
      }
    }

    &.origin-store-carousel-hero-controls-left {
      left: 0;
      right: auto;

      .icon-leftarrow-carousel {
        .media-max-width(@store-width-medium, {
          .horizontal-center();
        });
      }
    }

    &.origin-store-carousel-hero-controls-active {
      opacity: 1;
      color: @color-white;
    }

    > .otkicon {
      position: absolute;
      top: 50%;
      bottom: auto;
      font-size: 44px;
      left: 30px;
      background: fade(@color-black, 75%);
      border-radius: 50%;
      width: 26px;
      height: 26px;
      .box-shadow(0 0 8px 2px fade(@color-darknavy, 30%));
      .translate(0, -50%);

      &:before {
        position: relative;
        top: -11px;
        left: -5px;
      }
    }
  }

  > .origin-store-carousel-hero-indicators-container {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 40;
    width: 60%;
    margin-left: -30%;
    margin-top: (16px - @origin-store-carousel-hero-shadowoffset);
    margin-bottom: 16px;
    padding-left: 0;
    list-style: none;
    text-align: center;

    > .origin-store-carousel-hero-indicator {
      display: inline-block;
      width:  6px;
      height: 6px;
      margin: 3px;
      text-indent: -999px;
      border-radius: 8px;
      cursor: pointer;

      // IE8-9 hack for event handling
      //
      // Internet Explorer 8-9 does not support clicks on elements without a set
      // `background-color`. We cannot use `filter` since that's not viewed as a
      // background color by the browser. Thus, a hack is needed.
      //
      // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
      // set alpha transparency for the best results possible.
      background-color: #000 \9; // IE8
      background-color:  rgba(0,0,0,0); // IE9
      border: 1px solid  @color-mediumnavy;
      .box-shadow(0 0 30px fade(@color-darknavy, 30%));


    }

    > .origin-store-carousel-hero-indicator-active {
      width: 10px;
      height: 10px;
      background-color: @color-orange;
      border: 1px solid @color-orange;
      position: relative;
      top: 2px;
    }
  }

  .l-origin-section-divider {
    margin-bottom: 0;
  }
}

.origin-cta-textplay-icon{
  font-size: 11px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid @color-white;
  color: @color-white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 17px;
  text-indent: 1px;
  top: -1px;
}
