
.origin-carouselimage-isloading {
    .loading();
    opacity: 0.6;
    top: 0;
}


@carouselcontainer-maxheight: 177px;
@carouselcontainer-offset: 6px;
@carouselcontainer-blurradius: 25px;

.origin-carouselimage {
    position: relative;

    .origin-carouselimage-headerarea {
        position: relative;
        padding-bottom: 10px;
        padding-top: 10px;

        .origin-carouselimage-title {
            display: inline;
            padding-right: 10px;
        }
    }

    .origin-carouselimage-container {
        .box-sizing(border-box);
        overflow: hidden;
        position: relative;
        width: calc(100% + @carouselcontainer-blurradius);

        // This odd positioning is to allow the box-shadow to appear
        // Even when multiple items on the carousel have overflow: hidden
        left: -@carouselcontainer-blurradius;
        top: -@carouselcontainer-blurradius;
        margin-bottom: ( (-1) * (2 * @carouselcontainer-blurradius) );

        .origin-carouselimage-slidearea {
          padding-left: @carouselcontainer-blurradius;
          padding-right: @carouselcontainer-blurradius;
          padding-top: (@carouselcontainer-blurradius + @carouselcontainer-offset);
          padding-bottom: (@carouselcontainer-blurradius - @carouselcontainer-offset);
          display: block;
          position: relative;
          width: 10000%;
          .translateX(0);
          .transition(0.5s ease-in-out all);
          .origin-carouselimage-slidearea-items {
              margin-right: 15px;
          }
        }
    }
}

/* Image Item CSS */
.origin-carouselmediaitem {
    width: 210px;
    height: 118px;
    display: inline-block;
    overflow: hidden;
    .transition(box-shadow @timing-simple-animate);

    &:hover {
        cursor: pointer;
        .box-shadow(0px @carouselcontainer-offset @carouselcontainer-blurradius 0px fade(@color-darknavy, 30%) );
    }

    .media-min-width(@store-width-xsmall, {
        width: 315px;
        height: 177px;
    });
}
.origin-carouselimageitem-modal, .origin-carouselvideoitem-modal {
    display: inline-block;
    padding: 30px;
    .origin-carouselimageitem-thumb{
        height: 100%;
    }
}

.origin-carouselimageitem-thumb {
    .position-center(relative);
    height: 100%;
    cursor: pointer;
}

/* Video Item CSS */
.origin-store-carousel-media-videoitem-container {
  position: relative;
  width: 315px;
  height: 177px;
  overflow: hidden;
  .transition(all @transition-short);
  .media-max-width(@store-width-xsmall, {
      width: 210px;
      height: 118px;
  });
}

.origin-store-carousel-media-videoitem-videothumb {
  width: 100%;
  position: relative;
  top: 50%;
  .translate(0, -50%);
}

.origin-store-carousel-media-videoitem-videoicon {
    background: fade(@color-darknavy, 70%);
    border: 2px solid @color-white;
    border-radius: 50%;
    .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.9));
    color: @color-white;
    display: inline-block;
    font-size: 35px;
    height: 48px;
    width: 48px;
    left: 121.5px;
    top: 52px;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    text-indent: 10px;
    z-index: 2;
    line-height: 52px;
    .transition(all @transition-short);
    .media-max-width(@store-width-xsmall, {
        height: 32px;
        width: 32px;
        left: 77px;
        top: 34px;
        font-size: 21px;
        line-height: 32px;
    });

    &:hover {
        background: fade(@color-darknavy, 90%);
        border: 2px solid @color-lightgray;
        .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.5));
        color: @color-white;
    }
}
