/*
 * Product Carousel CSS
 */

@carousel-dropshadow-buffer: 24px;

.origin-store-carousel-product-img-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.origin-store-carousel-product-carousel-headerarea {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}


.origin-store-carousel-product-carousel-isloading {
	.loading();
	opacity: 0.6;
	top: 0;
}

.origin-store-carousel-product-indicators-container {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0;

  > .origin-store-carousel-product-indicator {
	display: inline-block;
	width:  6px;
	height: 6px;
	margin: 3px;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid @color-mediumnavy;
	.box-shadow(0 0 30px rgba(30, 38, 44, 0.3));
    .transition(background-color @transition-short);
    &:hover {
      background-color: @color-mediumnavy;
    }
  }

  > .origin-store-carousel-product-indicator-active {
	width: 10px;
	height: 10px;
	background-color: @color-orange;
	border: 1px solid @color-orange;
	position: relative;
	top: 2px;
    &:hover {
      background-color: @color-orange;
    }
  }
}

// Only for PDP media carousel pills
.origin-store-pdp-section-wrapper {

  .origin-store-carousel-product-indicators-container{
	  margin-top: 12px;
  }

  .origin-store-pdp-carousel-header {
	  position: absolute;
	  .media-max-width(@global-width-xsmall, {
		  .text-overflow();
		  width: calc(100% - 80px); //100% - control buttons width
	  });
  }

  .origin-store-carousel-product-controls-left,
  .origin-store-carousel-product-controls-right{
	  margin-top: -15px; //Adjustment to align with header
  }
}

.origin-store-carousel-product-carousel {
  position: relative;
}

.module-link {
  display: inline;
  padding-right: 10px;
}


.origin-store-carousel-product-carousel-title-area
{
  margin: 0 0 10px;
}
.origin-store-carousel-product-carousel-title {
  display: inline-flex;
  padding-right: 10px;
  margin-top: -12px;
   > h2 {
	 line-height: 24px;
	 padding-right: 20px;
   }
}


.origin-store-carousel-product-carousel-container {
  overflow: hidden;
  width: calc(100% + @carousel-dropshadow-buffer);
  margin-bottom: (-@carousel-dropshadow-buffer + 6px);
  margin-left: -@carousel-dropshadow-buffer;
}

ul.origin-store-carousel-product-carousel-slidearea {
  padding: 0 0 @carousel-dropshadow-buffer @carousel-dropshadow-buffer;
  position: relative;
  width: 2000%;
  .translate3d(0, 0, 0);
  .transition(0.5s ease-in-out all);
  li{
	margin-right: 15px;
  }
}

.origin-store-carousel-product-controls{
  list-style-type: none;
  padding-left: 0;
  position: relative;
  display: block;
  float: right;
  width: 80px;
}
.origin-store-carousel-product-controls-left {
  left: 0;
  text-align: left;
}
.origin-store-carousel-product-controls-right {
  right: 0;
  text-align: right;
}

.origin-store-carousel-product-controls-left, .origin-store-carousel-product-controls-right {
  color: @color-mediumnavy;
  cursor: default;
  margin-top: -20px;
  opacity: 0.2;
  position: absolute;
  text-decoration: none;
}

.origin-store-carousel-product-controls-left:before {
  font-family: "origin";
  font-size: 40px;
  display: inline-block;
  content: '\e605'; // good
  text-align: center;
  cursor: pointer;
}

.origin-store-carousel-product-controls-right:before {
  font-family: "origin";
  font-size: 40px;
  display: inline-block;
  text-align: center;
  content: '\e603';
  cursor: pointer;
}

.origin-store-carousel-product-controls-active {
  opacity: 1;
  .transition(color @transition-short);
  &:hover {
	color: @color-white;
  }
}

.origin-store-carousel-secondarycta-playtext{
  font-size: 16px;
}
.origin-store-carousel-secondarycta-container{
  margin-top: 20px;
}

/*
 * Origin Access Carousel
 */
.l-origin-store-access-carousel {
  background-color: @color-white;
  max-width: 2000px;
  margin: 0 auto;

  .media-min-width(@width-mobile-small, {
	padding: 0 45px 30px;
  });

  .media-max-width(@width-mobile-small, {
	padding: 0 25px 30px;
  });

  .origin-store-carousel-product-controls {
	height: 10px;
  }
}

.origin-store-access-carousel-container {
  min-height: 212px;
}

.origin-access-carousel-packart {
  width: 150px;
  height: 212px;
 }
