<div ng-if="userLoggedIn" class="l-origin-social-hub-area origin-social-hub-area" origin-social-hub-keyevents> 
    
    <header class="origin-social-hub-area-header">
        <origin-social-hub-localpresence></origin-social-hub-localpresence>
      	<div class="origin-social-hub-area-options" ng-click="toggleOptionsContextmenu()">
      		<i class="otkicon otkicon-downarrow origin-social-hub-area-options-menu-icon"></i>

      		<!-- context menu -->
		    <div id="origin-social-hub-area-options-menu" class="otkcontextmenu-wrap" ng-class="{ 'otkcontextmenu-isvisible' : optionsContextmenuVisible }">
		        <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
		            <li ng-show="!isDocked" role="presentation">
		                <a ng-click="hubContextmenuCallbacks.minimizeHub()" role="menuitem" tabindex="-1" href="#">Minimize</a>
		            </li>
		            <li role="presentation">
		                <a ng-click="hubContextmenuCallbacks.popOutWindow()" role="menuitem" tabindex="-1" href="#">Open In A New Window</a>
		            </li>
		            <li role="presentation">
		                <a ng-click="hubContextmenuCallbacks.goToSettings()" role="menuitem" tabindex="-1" href="#">Chat Settings</a>
		            </li>
		            <li role="presentation">
		                <a class="contextmenu-close-all" role="menuitem" tabindex="-1" href="#">Close All Chat Tabs</a>
		            </li>
		        </ul>
			</div><!-- /context menu -->

      	</div>
    </header>

    <origin-social-hub-listselector></origin-social-hub-listselector>            
</div>