<example>
<para>An example of building the proverbial "Hello World" program.</para>
<code file="Hello.build">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <csc target="exe" output="hello.exe" debug="true">
        <sources basedir="source">
            <includes name="hello.cs"/>
        </sources>
    </csc>
    <exec program="hello"/>
</project>
]]>
</code>
<para>Where <c>source/hello.cs</c> contains:</para>
<code file="source/hello.cs">
<![CDATA[
using System;

class HelloWorld {
    static void Main() {
        Console.WriteLine("Hello, World!");
    }
}
]]>
</code>
</example>
