<example>
<para>This example builds the proverbial "Hello World" program and
    builds its associated documentation using ndoc.</para>
<code file="ndoc.build">
<![CDATA[
<project default="build">
    <target name="build">
        <mkdir dir="build"/>
        <csc
            target="exe" 
            debug="true"
            output="build/NdocWorld.exe" 
            doc="build/NdocWorld.xml">
            <sources>
                <includes name="NdocWorld.cs"/>
            </sources>
        </csc>

        <!-- call nant recurisvely because ndoc is locking the build directory -->
        <exec program="${nant.location}/nant" commandline="doc"/>
        <delete dir="doc"/>
        <delete dir="build"/>
    </target>

    <target name="doc">
        <ndoc>
            <assemblies basedir="build">
                <includes name="NdocWorld.exe" />
            </assemblies>
            <documenters>
                <documenter name="MSDN">
                    <property name="OutputDirectory"            value="doc" />
                    <property name="HtmlHelpName"               value="Hello" />
                    <property name="HtmlHelpCompilerFilename"   value="${nant.location}/../source/UserDoc/bin/hhc.exe" />
                    <property name="IncludeFavorites"           value="False" />
                    <property name="Title"                      value="Hello World Documentation" />
                    <property name="SplitTOCs"                  value="False" />
                    <property name="DefaulTOC"                  value="" />
                    <property name="ShowVisualBasic"            value="True" />
                    <property name="ShowMissingSummaries"       value="False" />
                    <property name="ShowMissingRemarks"         value="False" />
                    <property name="ShowMissingParams"          value="False" />
                    <property name="ShowMissingReturns"         value="False" />
                    <property name="ShowMissingValues"          value="False" />
                    <property name="DocumentInternals"          value="False" />
                    <property name="DocumentPrivates"           value="False" />
                    <property name="DocumentProtected"          value="True" />
                    <property name="DocumentEmptyNamespaces"    value="False" />
                    <property name="IncludeAssemblyVersion"     value="False" />
                    <property name="CopyrightText" value="(c) 2003 Electronic Arts Inc" />
                    <property name="CopyrightHref" value="http://framework.eac.ad.ea.com/wiki/index.php/FrameworkPackage" />
                </documenter>
            </documenters>
        </ndoc>
    </target>
</project>
]]>
</code>
<para>Where <c>HelloWorld.cs</c> contains:</para>
<code file="NdocWorld.cs">
<![CDATA[
using System;

namespace EA.HelloWorld {

    /// <summary>The main application class</summary>
    public class App {

        /// <summary>The main entry point for the application.</summary>
        static void Main() {
            Console.WriteLine("Hello, World!");
        }
    }
}
]]>
</code>
</example>
