<example>
<para>An example of building an application which includes embedded resources.</para>
<code file="restest.build">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <fail message="Resource file not in a sub directory." unless="@{FileExists('resources/resource.txt')}"/>
    <csc target="exe" output="restest.exe" debug="true">
        <sources>
            <includes name="restest.cs"/>
        </sources>
        <resources basedir="resources">
            <includes name="resource.txt"/>
        </resources>
    </csc>
    <exec program="restest.exe"/>
</project>
]]>
</code>
<para>Where <c>restest.cs</c> contains:</para>
<code file="restest.cs">
<![CDATA[
using System;
using System.IO;
using System.Reflection;

class ResourceTest {
    static void Main() {
        Stream stream = Assembly.GetExecutingAssembly().GetManifestResourceStream("resource.txt");
        StreamReader reader = new StreamReader(stream);
        Console.WriteLine(reader.ReadToEnd());
        reader.Close();
        stream.Close();
    }
}
]]>
</code>
<para>And <c>resources/resource.txt</c> contains:</para>
<code file="resources/resource.txt">Hello, World!</code>
</example>
