//
// Search Classes
// --------------------------------------------------

.origin-globalsearch-dropdown {
	width: 400px !important;
}

.origin-search-results {
    margin: 0 20px;
}

.origin-search-title {
    margin: 5px 0;
    text-align: center;
}