<div class="origin-logo" ng-if="inClient == false">
    <a href="#"><i class="otkicon otkicon-originlogo"></i></a>
</div>
<origin-shell-client-nav ng-if="inClient"></origin-shell-client-nav>
<div class="l-origin-hamburger">
	<a href='javascript:void(0)' class='origin-hamburger' ng-click='toggleSideNav()'>
		<i class='otkicon otkicon-menu'></i>
	</a>
</div>
<div class='l-origin-sidenav ng-class:{"l-origin-sidenav-isvisible":sideNavVisible}'>
	<ul class="origin-nav origin-nav-iconstacked" ng-transclude></ul>
</div>