QLabel#icon {
	min-width: 21px;
	min-height: 21px;
	max-width: 21px;
	max-height: 21px;
}

QLabel#icon[style="command"] {
	image: url(:/OriginCommonControls/OriginMessageBox/command.png);
}

QLabel#icon[style="error"] {
	image: url(:/OriginCommonControls/OriginMessageBox/error.png);
}

QLabel#icon[style="info"] {
	image: url(:/OriginCommonControls/OriginMessageBox/info.png);
}

QLabel#icon[style="notice"] {
	image: url(:/OriginCommonControls/OriginMessageBox/notice.png);
}

QLabel#icon[style="validated"] {
	image: url(:/OriginCommonControls/OriginMessageBox/validated.png);
}
