<div class="origin-logo" ng-if="inClient == false">
    <a class="origin-side-nav-header" href="#">
        <i class="otkicon otkicon-originlogo"></i>
        <i class="otkicon otkicon-origintext origin-shell-texticon"></i>
    </a>
</div>
<origin-shell-client-nav ng-if="inClient"></origin-shell-client-nav>
<div class="l-origin-hamburger" ng-click='toggleSideNav()'>
    <div class="hamburger-menu">
          <div class='bar'  ng-class='{"animate": sideNavVisible}'></div>
    </div>
</div>
<div class='l-globalsearch'>
    <origin-global-search></origin-global-search>
</div>
<div class='origin-navigation-overlay' ng-class='{"origin-navigation-overlay-isvisible": sideNavVisible}' ng-click='toggleSideNav()'></div>
<div class='l-origin-sidenav' ng-class='{"l-origin-sidenav-isvisible": sideNavVisible}'>
    <ul class="origin-nav origin-main-nav-stacked" ng-transclude></ul>
</div>
