<div class="progress-manager-mini"  ng-class="{'closed': !title && !numNotification}">
    <a class="l-progress-mini-notification" ng-class="{'closed': !numNotification}">
        <span class="otktitle-4 otktitle-4-strong">{{downloadManagerStr}}</span>
        <div class="otkbadge otkbadge-isnotifying progress-mini-badge">{{numNotification}}</div>
    </a>

    <div class="l-progress-mini-progress" ng-class="{'closed': !title}">
        <div ng-show="packArt" class="l-pack-art">
            <img class="pack-art" ng-src="{{packArt}}" ondragstart="return false;"/>
        </div>
        <div class="otkprogress otkprogress-block otkprogress-block-dark" data-status="progressState" 
             ng-class="{'otkprogress-block-ispaused': progressState == 'paused',
                        'otkprogress-block-iscomplete': progressState == 'complete',
                        'otkprogress-block-isactive': progressState == 'active',
                        'otkprogress-block-ispreparing': progressState == 'preparing'}">
            <h3 class="otkc progress-mini-title">{{title}}</h3>
            
            <div class="l-download-flag" ng-show="flagPosition && arrowPosition" ng-class="{playable: shouldLightFlag}">
                <div ng-style="{'left':flagPosition + '%'}" class="download-flag otktitle-5 otktitle-5-caps">
                    {{playableStr}}
                </div>
                <div ng-style="{'left':arrowPosition + '%'}"  class="flag-arrow"></div>
            </div>
            <div class="otkprogress-wrap">
                <div class="otkprogress-bar progress-manager-mini-bar">
                    <div class="otkprogress-value" ng-style="{'width':percent + '%'}"></div>
                </div>
                
                <span class="progress-mini-display otkc-small" ng-bind-html="phaseDisplay"></span>
                <span class="otkicon otkicon-rightarrow progress-mini-arrow"></span>
            </div>

        </div>
    </div>
</div>