<form ng-submit="search(true)" class="origin-globalsearch" ng-class="{'origin-globalsearch-isfocused': focused}">
    <label>
        <div class='otkinput'>
            <i class="otkicon otkicon-search otkinput-icon"></i>
            <i ng-show="searchString.length" class="otkicon otkicon-closecircle otkinput-clear" ng-click="clear()"></i>
            <input ng-model="searchString" ng-change="search()" ng-model-options="{debounce: 500}" ng-keyup="escapeClearSearch($event.keyCode)" type="text" placeholder="{{searchPlaceholder}}" ng-focus="onfocus()" ng-blur="onblur()">
        </div>
    </label>
</form>