<example>
<para>Example of &lt;copy&gt; task with flatten set to true.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="srcDir" value="${nant.location}\..\config"/>
    <echo message="Copying NAnt's config folder to temp"/>
    <mkdir dir="temp"/>
    <copy todir="temp" flatten="true">
        <fileset basedir="${srcDir}">
            <includes name="**/*.*"/>
        </fileset>
    </copy>
    <echo>Folder temp has @{DirectoryGetFileCount('temp', '*.*')} files</echo>
    <echo>Deleting temp</echo>
    <delete dir="temp" failonerror="false"/>
</project>
]]>
</code>
</example>