<example>
<para>Copy a set of files to a new directory.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <!-- create some test files -->
    <touch file="a.txt"/>
    <touch file="b.txt"/>
    <touch file="c.txt"/>
    
    <!-- copy the files to new directory (directory will get created) -->
    <copy todir="sub">
        <fileset>
            <includes name="*.txt"/> 
        </fileset>
    </copy>

    <!-- make sure the files got copied -->    
    <fail unless="@{FileExists('sub/a.txt')}"/>
    <fail unless="@{FileExists('sub/b.txt')}"/>
    <fail unless="@{FileExists('sub/c.txt')}"/>
</project>
]]>
</code>
</example>