<!-- Main Download Tile - Currently Downloading  -->
<section class="origin-download-current" ng-if="format === 'large'">
    <div class="origin-download-current-keyart">
        <!-- TODO: src will be coming from cms once Generic Gameshub Assets Component is done ORCORE-3006 -->
        <img class="origin-download-current-poster" ng-show="backgroundImage" ng-src="{{backgroundImage}}">
        <div class="origin-download-current-gradient"></div>
        <div class="origin-download-current-vignette"></div>
    </div>
    <div class="origin-download-current-status">
        <div class="origin-download-current-status-left">
            <img class="origin-download-current-packart" ng-src="{{packart}}">
        </div>
        <div class="origin-download-current-status-right">
            <div class="otkprogress otkprogress-block otkprogress-block-dark origin-download-current-progress" data-status="preparing" 
                 ng-class="{'otkprogress-block-ispaused': progressState == 'paused',
                            'otkprogress-block-iscomplete': progressState == 'complete',
                            'otkprogress-block-isactive': progressState == 'active',
                            'otkprogress-block-ispreparing': progressState == 'preparing'}">
                <h2 ng-show="currentStatus" class="otktitle-5 otktitle-5-caps" ng-bind-html="currentStatus"></h2>
                <h3 class="otktitle-2 origin-download-current-title" ng-bind-html="title"></h3>
                <div class="origin-download-playable" ng-show="flagPosition && arrowPosition" ng-class="{'origin-download-playablenow': shouldLightFlag}">
                    <span class="origin-download-playabletext otktitle-5 otktitle-5-caps" ng-style="{'left':flagPosition + '%'}" >{{playable}}</span>
                    <span class="origin-download-playabletip" ng-style="{'left':arrowPosition + '%'}"></span>
                </div>
                <div class="origin-download-current-wrap otkprogress-wrap">
                    <div class="otkprogress-bar">
                        <div class="otkprogress-value" ng-style="{'width':percent + '%'}"></div>
                    </div>
                    <div class="origin-download-current-info" ng-class="{'origin-download-current-running': phase === 'RUNNING'}">
                        <span class="origin-download-current-percent otkprogress-percent">{{percent}}%</span>
                        <span class="origin-download-current-phase otktitle-5" ng-bind-html="phaseDisplay"></span><br>
                        <span ng-show="phase!=='INSTALLING' && totalFileSize > 0"class="origin-download-current-remaining otktitle-5">{{downloaded}} / {{size}}</span><br>
                        <span class="origin-download-current-rate otktitle-5" ng-show="phase === 'RUNNING'"ng-bind-html="speed"></span>
                    </div>
                    <div class="origin-download-controls">
                        <i ng-show="flagPosition && arrowPosition" class="otkicon otkicon-play-with-circle origin-download-icons" ng-click="progress.playing || onIconClick($event, 'play')" ng-class="{'origin-download-icons-isdisabled': progress.playing || !shouldLightFlag}"></i>
                        <a ng-show="resume && !isOnline" origin-tooltip="{{::goOnlineLoc}}" origin-tooltip-placement="left" ng-click="onIconClick($event)">
                            <i class="otkicon otkicon-downloadnegative origin-download-icons-isdisabled"></i>
                        </a>
                        <i ng-show="resume && isOnline" class="otkicon otkicon-downloadnegative origin-download-icons" ng-click="!resumable || onIconClick($event, states.resume)" ng-class="{'origin-download-icons-isdisabled': !resumable}"></i>
                        <i ng-show="!resume" class="otkicon otkicon-pausecircle origin-download-icons" ng-click=" !isOnline || !pausable ||onIconClick($event, states.pause)" ng-class="{'origin-download-icons-isdisabled': !isOnline || !pausable}"></i>
                        <i class="otkicon otkicon-closecircle origin-download-icons" ng-click="progress.playing || progress.installing || onIconClick($event, states.cancel)" ng-class="{'origin-download-icons-isdisabled': progress.playing || progress.installing}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Game Tile which is in either download queue or completed queue  -->
<section class="origin-download-tile" ng-if="format === 'small'">
    <div class="origin-download-tile-left">
        <img class="origin-download-tile-packart" ng-src={{packart}}>
    </div>
    <div class="origin-download-tile-right">
        <h3 class="origin-download-tile-title otkc" ng-bind-html="title"></h3>
        <h2 ng-show="status==='inQueue' && percent > 0" class="origin-download-tile-percent otktitle-3">{{percent}}%</h2>
        <div ng-if="status==='complete'" class="origin-download-controls-small">
            <i class="otkicon otkicon-play-with-circle origin-download-icons" ng-click="onIconClick($event, 'play')"></i>
            <i class="otkicon otkicon-closecircle origin-download-icons" ng-click="onIconClick($event, 'remove')"></i>
        </div>
        <div ng-if="status==='inQueue'" class="origin-download-controls-small">
            <a ng-show="parentOfferId && isOnline" origin-tooltip="{{::waitingLoc}}" origin-tooltip-placement="left" ng-click="onIconClick($event)">
                <i class="otkicon otkicon-downloadnegative origin-download-icons-isdisabled"></i>
            </a>
            <i ng-show="!parentOfferId && isOnline" class="otkicon otkicon-downloadnegative origin-download-icons" ng-class="{'origin-download-icons-isdisabled': !progress.queueSkippingEnabled}" ng-click="!progress.queueSkippingEnabled || onIconClick($event, 'pushToTop')"></i>
            <i class="otkicon otkicon-closecircle origin-download-icons" ng-click="onIconClick($event, 'cancel')"></i>
        </div>
    </div>
</section>

<!-- Mini Download Manager Tile - currently downloaded game progress -->
<section class="origin-download-mini" ng-if="format === 'mini'">
    <div class="origin-download-mini-bg">
        <img class="origin-download-mini-image" ng-show="backgroundImage" ng-src="{{backgroundImage}}">
        <div class="origin-download-mini-vignette"></div>
    </div>
    <div class="otkprogress otkprogress-block otkprogress-block-dark origin-download-mini-progress" data-status="preparing" ng-class="{'otkprogress-block-ispaused': progressState == 'paused',
                   'otkprogress-block-iscomplete': progressState == 'complete',
                   'otkprogress-block-isactive': progressState == 'active',
                   'otkprogress-block-ispreparing': progressState == 'preparing'}">
        <h3 class="otktitle-3 origin-download-mini-title" ng-bind-html="title"></h3>
        <div class="origin-download-playable" ng-show="flagPosition && arrowPosition" ng-class="{'origin-download-playablenow': shouldLightFlag}">
            <span class="origin-download-playabletext otktitle-5 otktitle-5-caps" ng-style="{'left':flagPosition + '%'}" >{{::playableLoc}}</span>
            <span class="origin-download-playabletip" ng-style="{'left':arrowPosition + '%'}"></span>
        </div>
        <div class="origin-download-mini-wrap otkprogress-wrap">
            <div class="origin-download-mini-bar otkprogress-bar">
                <div class="otkprogress-value" ng-style="{'width':percent + '%'}"></div>
            </div>
            <span class="origin-download-mini-phase otkc-small">{{phaseDisplay}}</span>
            <i class="otkicon otkicon-downarrow origin-download-mini-rightarrow"></i>
        </div>
    </div>
</section>
