<div class="origin-download" 
     ng-class="{'origin-download-queue': !completedQueue.length && downloadQueue.length > 1,
                'origin-download-oig': isOIGContext }">
    <section class="origin-download-header" ng-if="!isOIGContext">
        <div class="origin-download-overlay">
            <span class="otkc origin-download-title" ng-bind-html="downloadManagerLoc"></span>
            <a class="otkc otkc-small origin-download-header-control" ng-click="closeFlyout($event)">
                {{::minimizeLoc}}
                <i class="otkicon otkicon-rightarrow origin-download-downarrow"></i>
            </a>
        </div>
    </section>
    <section ng-show="isOIGContext && !downloadQueue.length && !completedQueue.length" class="origin-download-isempty">
        <h2 class="otktitle-3 origin-download-isempty-desc" ng-bind-html="emptyQueueLoc"></h2>
    </section>
    <origin-download-manager-game ng-repeat-start="game in downloadQueue track by game.productId" ng-if="$first" offerid="{{game.productId}}" parentofferid="{{game.parentInQueue}}" format="large" status="active"></origin-download-manager-game>
    <div ng-if="$first && downloadQueue.length > 1" class="origin-download-queue-title otktitle-5 otktitle-5-caps" ng-bind-html="queueLoc"></div>
    <origin-download-manager-game ng-repeat-end offerid="{{game.productId}}" parentofferid="{{game.parentInQueue}}" ng-if="!$first" format="small" status="inQueue"></origin-download-manager-game>
    <section class="origin-download-completed" ng-if="completedQueue.length">
        <div class="origin-download-completed-title otktitle-5 otktitle-5-caps">
            {{::completeLoc}}
            <div class="origin-download-badge otkbadge otkbadge-isnotifying">{{completedQueue.length}}</div>
            <a class="otka origin-download-clear" href="javascript:void(0)" ng-click="clearCompleteQueue($event)" ng-bind-html="clearLoc"></a>
        </div>
        <origin-download-manager-game ng-repeat="offerId in completedQueue" offerid="{{offerId}}" format="small" status="complete"></origin-download-manager-game>
    </section>
</div>