<div ng-if="inClient">
    <section class="origin-download-mini-wrapper" ng-class="{'origin-download-mini-iscompleted': completeCount}" ng-click="showFlyout($event)">
        <section class="origin-download-mini-header" ng-show="completeCount">
            <span class="otktitle-4 otktitle-4-strong">{{::downloadManagerLoc}}</span>
            <div class="otkbadge otkbadge-isnotifying origin-download-mini-badge">{{completeCount}}</div>
        </section>
        <origin-download-manager-game ng-if="offerId" offerid="{{offerId}}" format="mini" status="active"></origin-download-manager-game>
    </section>
    <section ng-show="!isOIGContext" class="origin-downloadflyout-wrapper">
        <div class="origin-downloadflyout" origin-add-sitestripe-margin><origin-download-manager-queue></origin-download-manager-queue></div>
        <span class="origin-downloadflyout-tip"></span>
    </section> 
</div>