<div class="origin-profile-page-friends-friendtile origin-tile" ng-click='viewProfile()'>
    <origin-avatar nucleusid="{{nucleusId}}" class="origin-profile-page-friends-friendtile-avatar"></origin-avatar>
    <div class="origin-profile-page-friends-friendtile-labels" ng-class="{'has-gamename': presence.gameActivity.gameTitle.length}">
        <a href class="otka origin-profile-page-friends-friendtile-username"><h3 class="otktitle-4"><strong>{{username}}</strong></h3></a>
        <h3 class="otktitle-4 origin-profile-page-friends-friendtile-gamename">{{presence.gameActivity.gameTitle}}</h3>
    </div>
</div>
