
<h3 ng-if="privacy.isPrivate && !loadingState && !errorState" class="otktitle-2 header-text" ng-bind-html="privateLoc"></h3>

<div ng-if="!privacy.isPrivate && !loadingState && !errorState">

    <div ng-show="usersFriendsInCommon.length === 0 && usersFriendsOther.length === 0">
        <h3 class="otktitle-2 header-text" ng-bind-html="noFriendsTitleLoc"></h3>
        <h3 class="otktitle-3 header-text" ng-bind-html="noFriendsSubtitleLoc"></h3>
    </div>
    <div ng-show="usersFriendsInCommon.length !== 0 || usersFriendsOther.length !== 0">

        <section class="friendtile-section" ng-show="usersFriendsInCommon.length !== 0">
            <h2 class="otktitle-3 row-header" ng-bind-html="friendsInCommonLoc"></h2>

            <origin-profile-page-friends-friendtile ng-repeat="friend in usersFriendsInCommon | orderBy:'EAID' | limitTo: friendsInCommonLimit"
                                                    nucleusid="{{friend.userId}}" username="{{friend.EAID}}">
            </origin-profile-page-friends-friendtile>

            <a ng-show="friendsInCommonLimit < usersFriendsInCommon.length" href='javascript:void(0)' ng-click='showMoreCommon()' class='otkbtn otkbtn-light show-more-less' ng-bind-html="showMoreLoc"></a>
        </section>

        <section class="friendtile-section" ng-show="usersFriendsOther.length !== 0">
            <h2 class="otktitle-3 row-header" ng-bind-html="otherFriendsLoc"></h2>

            <origin-profile-page-friends-friendtile ng-repeat="friend in usersFriendsOther | orderBy:'EAID' | limitTo: friendsOtherLimit"
                                                    nucleusid="{{friend.userId}}" username="{{friend.EAID}}">
            </origin-profile-page-friends-friendtile>

            <a ng-show="friendsOtherLimit < usersFriendsOther.length" href='javascript:void(0)' ng-click='showMoreUncommon()' class='otkbtn otkbtn-light show-more-less' ng-bind-html="showMoreLoc"></a>
        </section>

    </div>

</div>
<div ng-if="loadingState && !errorState">
    <div class="loading-indicator"></div>
</div>
<div class="error-page" ng-if="errorState">
    <h1 class="otktitle-2" ng-bind-html="errorTitleLoc"></h1>
    <p class="otkc" ng-bind-html="errorDescriptionLoc"></p><br /><br />
    <a href="javascript:void(0)" class="otkbtn otkbtn-primary" ng-click="onTryAgain()">{{errorButtonLoc}}</a>
</div>
