<div ng-if="allFriends && allFriends.length === 0">
    <h3 class="otktitle-2 header-text" ng-bind-html="noFriendsTitleLoc"></h3>
    <h3 class="otktitle-3 header-text"><span ng-bind-html="noFriendsSubtitleLoc"></span> <a class="otka find-friends-link" ng-click="findFriends()">{{findFriendsLoc}}</a></h3>
</div>
<div ng-if="allFriends && allFriends.length !== 0">

    <section class="friendtile-section">
        <h2 class="otktitle-3 row-header" ng-bind-html="myFriendsLoc"></h2>

        <origin-profile-page-friends-friendtile ng-repeat="friend in allFriends | orderBy:'originId' | limitTo: friendsLimit"
                                                nucleusid="{{friend.nucleusId}}" username="{{friend.originId}}">
        </origin-profile-page-friends-friendtile>

        <a href='javascript:void(0)' ng-show="friendsLimit < allFriends.length" class="otkbtn otkbtn-light show-more-less" ng-click='showMore()' ng-bind-html="showMoreLoc"></a>
    </section>

</div>
