<div class="origin-offline-reconnectbutton">
    <!-- light theme -->
    <div ng-show="state === states.GO_ONLINE && buttonTheme === 'light'" class="otkbtn otkbtn-light origin-offline-reconnectbutton-button" ng-click="goOnline()">{{goOnlineLoc}}</div>
    <div ng-show="state === states.RECONNECTING && buttonTheme === 'light'" class="otkbtn otkbtn-light origin-offline-reconnectbutton-button" disabled="true"><i class="otkicon otkicon-refresh"></i>{{reconnectingLoc}}</div>
    <!-- primary theme -->
    <div ng-show="state === states.GO_ONLINE && buttonTheme === 'primary'" class="otkbtn otkbtn-primary origin-offline-reconnectbutton-button" ng-click="goOnline()">{{goOnlineLoc}}</div>
    <div ng-show="state === states.RECONNECTING && buttonTheme === 'primary'" class="otkbtn otkbtn-primary origin-offline-reconnectbutton-button" disabled="true"><i class="otkicon otkicon-refresh"></i>{{reconnectingLoc}}</div>
    <!-- transparent theme -->
    <div ng-show="state === states.GO_ONLINE && buttonTheme === 'transparent'" class="otkbtn otkbtn-transparent origin-offline-reconnectbutton-button" ng-click="goOnline()">{{goOnlineLoc}}</div>
    <div ng-show="state === states.RECONNECTING && buttonTheme === 'transparent'" class="otkbtn otkbtn-transparent origin-offline-reconnectbutton-button" disabled="true"><i class="otkicon otkicon-refresh"></i>{{reconnectingLoc}}</div>
</div>
