<div class="origin-offline-sitestripe" ng-if="inClient && isOffline">
    <div class="origin-offline-sitestripe-message">
        <span class="otkicon otkicon-warning origin-offline-sitestripe-icon"></span>
        <span class="otkc otkc-small origin-sitestripe-message-text">
            <strong>{{::strings.offlineTitleLoc}}</strong><br>
            <span class="origin-offline-sitestripe-reason" ng-bind-html="strings.offlineReasonLoc"></span>
            <a href="javascript:void(0)" class="otka" ng-click="goOnline()">{{::strings.goOnlineLoc}}</a>
        </span>
    </div>
</div>