<example>
<para>Define a <c>debug</c> property with the value <c>true</c> and use the 
user-defined <c>debug</c> property.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="debug" value="true"/>
    <property name="trace" value="${debug}"/>
    <fail unless="${trace} == ${debug}"/>
</project>
]]>
</code>
</example>
