/* Style for OriginSingleLineEdit */
input.textbox{
	border-width: 4px 3px 2px 3px;
	color: #555555;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	min-height: 22px;
	min-width: 40px;
	padding: 0px 5px 0px 5px;	
}

input.defaultTextBox{
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_off.png) 4 3 2 3 round round;
}

input.defaultTextBox:focus{
	outline: none;
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_on.png) 4 3 2 3 stretch stretch;
}

input.defaultTextBox:disabled{
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_disabled.png) 4 3 2 3 stretch stretch;
	-webkit-user-select: none;
}

input.defaultTextBox:read-only{
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_disabled.png) 4 3 2 3 stretch stretch;
	color: #909090;
}

input.defaultTextBox:read-only:focus{
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_readonly_focused.png) 4 3 2 3 stretch stretch;
	color: #909090;
}

input.errorTextBox{
	-webkit-border-image: url(../resources/OriginSingleLineEdit/textEdit_invalid.png) 4 3 2 3 stretch stretch;
}

input.errorTextBox:focus{
	outline: none;
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_on.png) 4 3 2 3 stretch stretch;
}

input.validTextBox{
	-webkit-border-image: url(../resources/OriginSingleLineEdit/textEdit_valid.png) 4 3 2 3 stretch stretch;
}

input.validTextBox:focus{
	outline: none;
	-webkit-border-image: url(../resources/OriginSingleLineEdit/inputbox_on.png) 4 3 2 3 stretch stretch;
}

.searchIcon{
	position: relative;
	width:170px;/* added for show and tell */
}

.searchIcon span{
	position: absolute;
	top: 8px;
	left: 150px;/* added for show and tell */
	background: url(../resources/OriginSingleLineEdit/search.png) no-repeat;
	width: 15px;
	height: 15px;
}
.searchIcon span:hover{
	cursor: pointer;
}
/* End style for OriginSingleLineEdit */