.originToolTip{
	position: relative;
	display: inline-block;
	text-decoration: none;
	font: bold 12px Arial;
	color: #222;
	outline: none;	
}
.originToolTip span{
	visibility: hidden;
	position: absolute;
	bottom: 30px;
	left: 50%;
	z-index: 999;
	width: 150px;
	margin-left: -89px;
	padding: 15px;
	color: #ffffff;
	background-color: #4b4b4b;
	border-color: #7b7b7b;
	background-image: -webkit-linear-gradient(#7b7b7b, #4b4b4b);
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	text-shadow: 0 1px 0 black;
	font: bold 12px Arial;
}

.originToolTip span.medium {
	width: 210px; 
	margin-left: -120px;
}

.originToolTip span.large {
	width: 280px; 
	margin-left: -153px;
}

.originToolTip:hover span
{
	visibility: visible;
}

.originToolTip span:before, .originToolTip span:after{
	content: "";
	position: absolute;
	z-index: 1000;
	bottom: -7px;
	left: 50%;
	margin-left: -8px;
	border-top: 8px solid #4b4b4b;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;
}

.originToolTip span:before{
	border-top-color: #ccc;
	bottom: -8px;
}