label.originRadioButtonLabel {
	font-size: 13px;
	font-family: Arial;
	color: #444444;
	line-height: 37px;
}
label.originRadioButtonLabel.disabled {
	color: #b0b0b0;
}

input.originRadioButton{
	float: left;
	width: 25px;
	height: 25px;
	-webkit-appearance: none;
	margin: 5px 5px 5px 0;
}
input.originRadioButton:focus {
	outline: none;
}
input.defaultRadioButton{
	background: transparent url(../resources/OriginRadioButton/normal_unchecked.png) no-repeat left top;
}
input.defaultRadioButton:checked{
	background: transparent url(../resources/OriginRadioButton/normal_checked.png) no-repeat left top;
}
input.defaultRadioButton:focus, input.errorRadioButton:focus {
	background: transparent url(../resources/OriginRadioButton/focused_unchecked.png) no-repeat left top;
}
/* only works in client atm */
input.defaultRadioButton:checked:focus, input.errorRadioButton:checked:focus, input.focused {
	background: transparent url(../resources/OriginRadioButton/focused_checked.png) no-repeat left top;
}
input.disabled{
	background: transparent url(../resources/OriginRadioButton/disabled_unchecked.png) no-repeat left top;
}
input.disabled:checked{
	background: transparent url(../resources/OriginRadioButton/disabled_checked.png) no-repeat left top;
}
input.errorRadioButton{
	background: transparent url(../resources/OriginRadioButton/error_unchecked.png) no-repeat left top;
}
input.errorRadioButton:checked{
	background: transparent url(../resources/OriginRadioButton/error_checked.png) no-repeat left top;
}