label.originCheckBoxLabel{
	font-size: 13px;
	font-family: Arial;
	line-height: 27px;
	margin-left: 5px;
}
input.originCheckBox{
	float: left;
	width: 22px;
	height: 21px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}
input.defaultCheckBox{
	background: transparent url(../resources/OriginCheckButton/checkbox_off.png) no-repeat left top;
}
input.defaultCheckBox:checked{
	background: transparent url(../resources/OriginCheckButton/checkbox_on.png) no-repeat left top;
}
input.defaultCheckBox:focus{
	background: transparent url(../resources/OriginCheckButton/checkbox_off_focused.png) no-repeat left top;
}
input.defaultCheckBox:checked:focus{
	background: transparent url(../resources/OriginCheckButton/checkbox_on_focused.png) no-repeat left top;
}
input.disabledCheckBox{
	background: transparent url(../resources/OriginCheckButton/checkbox_disabled.png) no-repeat left top;
}
input.disabledCheckBox:checked{
	background: transparent url(../resources/OriginCheckButton/checkbox_disabled_checked.png) no-repeat left top;
}
input.errorCheckBox{
	background: transparent url(../resources/OriginCheckButton/checkbox_off_error.png) no-repeat left top;
}
input.errorCheckBox:checked{
	background: transparent url(../resources/OriginCheckButton/checkbox_on_error.png) no-repeat left top;
}
input.errorCheckBox:focus{
	background: transparent url(../resources/OriginCheckButton/checkbox_off_focused.png) no-repeat left top;
}
input.errorCheckBox:checked:focus{
	background: transparent url(../resources/OriginCheckButton/checkbox_on_focused.png) no-repeat left top;
}