.banner{
	margin: 15px 0px;
	padding: 16px 20px 16px 55px;
	font: bold 13px Arial;
	-webkit-box-flex:1.0;
	color: #FFFFFF;
	min-height: 17px;
}

.message{
	margin: 15px 0px;
	padding: 15px 20px 15px 55px;
	color: #444444;
	font-weight: bold;
	font-size: 18px;
	font-family: Klavika Basic Medium,Arial;
	-webkit-box-flex:1.0;
}

.info{	
	background: url('../resources/OriginBanner/info_large.png') no-repeat 13px center;	
}

.success{
	background: url('../resources/OriginBanner/validated_large.png') no-repeat 13px center;
}

.error{
	background: url('../resources/OriginBanner/error_large.png') no-repeat 13px center;
}

.notice{
	color: #444444;
	background: url('../resources/OriginBanner/notice_large.png') no-repeat 13px center;
}

