.originPushButton
{
      border-width:           3px;
      padding:                4px 11px;
      min-width:              90px;
      min-height:             16px;
	  /*
	        width:              62px;
      height:             16px;
*/
      font-family:            Arial, Sans-Serif;
      font-size:              14px;
      text-align:             center;
      display:                inline-block;
	  -webkit-box-shadow: 	  0 0 2px 2px rgba(0,0,0,.10);
      -webkit-border-radius:  .5em;
      cursor:             	  default;
}

a.originPushButton {
	text-decoration: none;
}

.originPushButton:focus {
	outline: none;
}

.buttonPrimary
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_primary_normal.png") 3 3 3 3 stretch;
    background: -webkit-linear-gradient(-90deg, #ffbf00 0%, #fe6b00 100%);
    color: #ffffff;
}
.buttonSecondary
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_secondary_normal.png") 3 3 3 3 stretch;
    background: -webkit-linear-gradient(-90deg, #aeaeae 0%, #777777 100%);
    color: #ffffff;
}
.buttonTertiary
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_tertiary_normal.png") 3 3 3 3 stretch;
    background: -webkit-linear-gradient(-90deg, #fefefe 0%, #ececec 100%);
    color: #404040;
    font-size: 12px;
    padding: 3px 0px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0, 0.3)
}

.buttonPrimary:hover, .buttonPrimary:focus:hover
{
	-webkit-border-image: url("../resources/OriginPushButton/pushbutton_primary_hover.png") 3 3 3 3 stretch;
	background-image:
	-webkit-radial-gradient(50% -50%, ellipse cover, rgba(255,233,0,.8), rgba(255,255,255,0) 50%),
	-webkit-linear-gradient(-90deg, rgba(255, 191, 0, 1) 0%, rgba(254, 107, 0, 1) 100%);
    color: #ffffff;
}
.buttonSecondary:hover, .buttonSecondary:focus:hover
{
	-webkit-border-image: url("../resources/OriginPushButton/pushbutton_secondary_hover.png") 3 3 3 3 stretch;
	background-image:
	-webkit-radial-gradient(50% -50%, ellipse cover, rgba(214,214,214,.8), rgba(255,255,255,0) 50%),
	-webkit-linear-gradient(-90deg, rgba(188, 188, 188, 1) 0%, rgba(130, 130, 130, 1) 100%);	
    color: #ffffff;
}
.buttonTertiary:hover, .buttonTertiary:focus:hover
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_tertiary_hover.png") 3 3 3 3 stretch;
   	background-image:
	-webkit-radial-gradient(50% 3%, ellipse cover, rgba(253,253,253,.8), rgba(255,255,255,0) 50%),
	-webkit-linear-gradient(-90deg, rgba(254, 254, 254, 1) 0%, rgba(208, 208, 208, 1) 100%);
    color: #404040;
    font-size: 12px;
    padding: 3px 0px;
}

.buttonPrimary.pressed
{
	-webkit-border-image: url("../resources/OriginPushButton/pushbutton_primary_clicked.png") 3 3 3 3 stretch !important;
	background: -webkit-linear-gradient(-90deg, #e96e00 0%, #f9a600 100%) !important;
}

.buttonSecondary.pressed
{
	-webkit-border-image: url("../resources/OriginPushButton/pushbutton_secondary_clicked.png") 3 3 3 3 stretch !important;
	background: -webkit-linear-gradient(-90deg, #707070 0%, #aaaaaa 100%) !important;
}
.buttonTertiary.pressed
{
	-webkit-border-image: url("../resources/OriginPushButton/pushbutton_tertiary_clicked.png") 3 3 3 3 stretch !important;
	background: -webkit-linear-gradient(-90deg, #dfdfdf 0%, #fefefe 100%) !important;
}

.buttonPrimary.disabled, .buttonPrimary.disabled:hover
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_primary_normal.png") 3 3 3 3 stretch;
	opacity: .45;
    background: -webkit-linear-gradient(-90deg, #ffbf00 0%, #fe6b00 100%);
	color: #efefef;
}
.buttonSecondary.disabled, .buttonSecondary.disabled:hover
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_secondary_normal.png") 3 3 3 3 stretch;
	opacity: .45;
	background: -webkit-linear-gradient(-90deg, #aeaeae 0%, #777777 100%);
	color: #efefef;
}
.buttonTertiary.disabled, .buttonTertiary.disabled:hover
{
    -webkit-border-image: url("../resources/OriginPushButton/pushbutton_tertiary_normal.png") 3 3 3 3 stretch;
	opacity: .45;
	background: -webkit-linear-gradient(-90deg, #fefefe 0%, #ececec 100%);
	color: #808080;
}

