
<origin-store-row>
    <h1 class='otktitle-3'>Store Product Carosuels</h1>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-image title="Image Slider">

    <origin-store-carousel-image-videoitem video-id="grwZs9zp5wA"> </origin-store-carousel-image-videoitem>
    <origin-store-carousel-image-videoitem video-id="hlEKa6tUPlU"> </origin-store-carousel-image-videoitem>

    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
    <origin-store-carousel-image-imageitem image-url="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/bf4_02.jpg"></origin-store-carousel-image-imageitem>
  </origin-store-carousel-image>
</origin-store-row>

<origin-store-row>
    <origin-store-carousel-featuredsearch title="Hello Monkeys" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" href="/store" description="GO STORE" image-src="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png" view-all-str="View All" search-string='battle' facet-data="genre:shooter" limit="10" offset="0">
    </origin-store-carousel-featuredsearch>
</origin-store-row>


<origin-store-row>
    <origin-store-carousel-productsearch  facet-data="gameType:basegame,genre:puzzle" title="Solr Slider" view-all-str="View All" search-string='peg' limit="10" offset="0">
    </origin-store-carousel-productsearch>
</origin-store-row>

<origin-store-row>
    <origin-store-carousel-productsearch  facet-data="gameType:basegame,genre:puzzle" title="Solr Slider" view-all-str="View All" search-string='peg' limit="10" offset="0">
    </origin-store-carousel-productsearch>
</origin-store-row>

<origin-store-row>
    <origin-store-carousel-featured title="Hello Monkeys" text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" href="/store" description="GO STORE" image-src="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png">
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000743"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000858"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000828"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="DR:208591800"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="OFB-EAST:60885"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="DR:230773600"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="OFB-EAST:109546867"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="OFB-EAST:109552419"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000743"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000858"></origin-store-carousel-product-gameitem>
  </origin-store-carousel-product>
</origin-store-row>

<origin-store-row>
    <origin-store-pack
        type="nine"
        title="Nine Pack"
        viewallstr="View more that 9"
        viewallhref="">
        <origin-store-pack-item offerid="OFB-EAST:55621"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
        <origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
    </origin-store-pack>
</origin-store-row>
  </origin-store-carousel-product>
</origin-store-row>
>
    </origin-store-carousel-featured>
</origin-store-row>
