// Local variables
// -------------------------
@game-library-container-padding: 45px;
@game-library-empty-height: 850px;

// Layout
// -------------------------
.l-origin-gamelibrary {
    padding: 0 @game-library-container-padding;
    position: relative;
}

.l-origin-gamelibrary-nogames .origin-messages-center {
    width: 60%;

    > .otkc {
        max-width: none;
    }
}

.l-origin-gamelibrary-nogames-offline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: @game-library-empty-height;

    background-image: url(../images/empty-library.jpg);
}

// Game Library Top Nav
// -------------------------
.l-origin-gamelibrary-topbanner {
    position: fixed;
    left: 295px;
    right: @game-library-container-padding;
    z-index: @zindex-filter-bar;

    height: 58px;
    .clearfix();

    background: @color-lightgray;
    border-bottom: 1px solid fade(@color-lightnavy, 50%);

    @media screen {
        @media (min-width: @width-large-desktop) {
            left: (@nav-width + @game-library-container-padding);
            right: @social-hub-width;
        }
    }
}

.l-origin-filter-panel {
    position: fixed;
    top: 120px;
    bottom: 0;
    right: @game-library-container-padding;
    width: 0;
    overflow: hidden;

    @media screen {
        @media (min-width: @width-large-desktop) {
            right: @social-hub-width;
        }
    }
}

.l-origin-filter-panel-isopen {
    width: @nav-width;
}

.origin-gamelibrary-nav {
    position: absolute;
    top: 0;
    right: 0;
}

.origin-gamelibrary-nav-item {
    display: inline-block;

    > a {
        position: relative;
        display: block;
        padding: 19px 19px 19px 50px;
        color: @color-mediumnavy;
        text-decoration: none;
        line-height: 2;
    }
}

.origin-gamelibrary-nav-item-isactive {
    background: @color-darknavy;
}

.l-origin-gamelibrary-content {
    padding-top: 60px;

    .transition(padding-right @timing-long-ease-out);
}

.l-origin-gamelibrary-content-isfilterpanelopen {
    padding-right: (@nav-width + @game-library-container-padding);
}

// Games List
// -------------------------


.origin-gameslist-header {
    position: relative;
    margin: 60px 0 21px 0;
    height: 1px;
    border-bottom: 1px solid fade(@color-lightnavy, 50%);
}

.origin-gameslist-title {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    padding: 0 36px;
    color: @color-mediumnavy;
    background: @color-lightgray;
    .translate(-50%, -50%);
}

.origin-gameslist-toggletrigger {
    position: absolute;
    right: 0;
    top: -12px;
    width: 24px;
    height: 24px;
    background: @color-lightgray;
    color: @color-mediumnavy;
    border: 1px solid fade(@color-lightnavy, 50%);
    .border-radius(4px);
    text-align: center;
    .transition(all 0.3s ease-in-out);
    text-decoration: none;
    &:hover {
        border: 1px solid @color-lightnavy;
        color: @color-darknavy;
    }
}

// the wrapper for the games list
.origin-gameslist-wrapper {
    overflow: hidden;
    /* need to do this for the box shadow */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border: 1px solid transparent;
    .transition(height 0.3s ease-in-out);
}

.origin-gameslist-droptarget .origin-gameslist-wrapper {
    border: 1px dashed fade(@color-mediumnavy, 50%);
}

.origin-gameslist-list {
    position:relative;
    margin:0 0 0 -3.33%;
    padding:0;
    .clearfix();
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .origin-gameslist-list {
        margin-left: -2%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1700px) {
    .origin-gameslist-list {
        margin-left: -2%;
    }
}

@media screen and (min-width: 1700px) {
    .origin-gameslist-list {
        margin-left: -1.66%;
    }
}

.origin-gameslist-item {
    float:left;
    margin:0 0 20px 3.33%;
    padding:0;
    width:30%;
    list-style-type:none;
    opacity: 0;
    .translate3d(0, -15px, 0);
    .transition(all @transition-long);
    &:hover {
        .box-shadow(0px 0px 10px 0px fade(@color-black, 60%));
    }
}

.origin-gameslist-item-isvisible {
    opacity: 1.0;
    .translate3d(0, 0, 0);
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .origin-gameslist-item {
        width: 23%;
        margin-left: 2%;
    }

    .l-origin-gamelibrary-content-isfilterpanelopen .origin-gameslist-item {
        width: 31%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1700px) {
    .origin-gameslist-item {
        width: 18%;
        margin-left: 2%;
    }

    .l-origin-gamelibrary-content-isfilterpanelopen .origin-gameslist-item {
        width: 23%;
    }
}

@media screen and (min-width: 1700px) {
    .origin-gameslist-item {
        width: 15%;
        margin-left: 1.66%;
    }

    .l-origin-gamelibrary-content-isfilterpanelopen .origin-gameslist-item {
        width: 18%;
    }
}

// proxy element used for drag and drop
.origin-gameslist-proxyelement {
    position: absolute;
    width: 50px;
    opacity: 0.8;
}