header {
    height: 5rem;
}

header:after {
    background: none 0 0/100% no-repeat;
    content: '';
    height: .80rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%; }

header .logo img {
    height: 55px;
    margin-right: 0.5rem;
}

ul.menu, ol.menu {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.page ol li, .page ul li {
    margin-top: 0.5rem;
}

h1 {
    font-size: 3.25rem; 
    line-height: 3.20rem;
}
    
h2 {
    font-size: 2.55rem; 
    line-height: 2.50rem;
}

h3 {
    font-size: 2.0rem; 
    line-height: 2.0rem;
}

h6 {
    font-size: 1.0rem;
}

.panel-body p {
    margin: 0 0;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word; 
    word-break: break-all;
    display: auto;
    overflow: auto;
}
table td {
    border: 1px solid #ccc;
}


article > aside .menu .dd-item li div {
    white-space: nowrap;
}

.panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.github-link-top {
        position:fixed;
        width:60px;
        height:60px;
        top:80px;
        right:30px;
        background-color:#0C9;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        align-content: center;

}

article section.page .github-link-top img{
    margin-top: 10px;
    margin-bottom: auto; 
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: auto;
}