<div class="origin-store-freegames-module l-origin-store-column-full origin-store-freegames-module-{{ alignment }}">
    
    <div class="origin-store-freegames-module-bg-scrim">
        <div class="origin-store-freegames-module-content">
            <h2 class="otktitle-page ng-binding">{{ title }}</h2>
            <h4 class="otktitle-3 ng-binding">{{ subtitle }}</h4>
            <br>
            <origin-cta-loadurlinternal 
                href="{{ href }}" 
                description="{{ description }}" 
                type="transparent">
            </origin-cta-loadurlinternal>
        </div>
    </div>
    
    <div class="origin-store-freegames-module-image-wrapper">
        <div class="origin-store-freegames-module-image-wrapper-inner">
            <div class="origin-store-freegames-module-image-scrim-right"></div>
            <div class="origin-store-freegames-module-image-scrim-left"></div>
            <img src="{{ image }}" alt="" class="origin-store-freegames-module-image">
        </div>
    </div>
</div>