<div class="origin-store-freegames-program l-origin-store-column-{{ ::size }} origin-store-freegames-program-loading">
    <div class="origin-store-freegames-program-bg-scrim">
       
        <div class="origin-store-freegames-program-offer">
            <a href="{{ ::offerhref }}"><img src="{{ ::packart }}" alt="{{ ::offertitle }}" title="{{ ::offertitle }}" class="origin-store-freegames-program-offer-packart"></a>

            <h2 class="otktitle-2"><a href="{{ ::offerhref }}" class="origin-store-freegames-program-offer-title">{{ ::offertitle }}</a></h2>
            
            <p>
				<span class="otktitle-4 origin-store-freegames-program-offer-free">{{ offerprice }}</span>
				<span class="otktitle-4 origin-store-freegames-program-offer-original">{{ offeroriginal }}</span>
			</p>
            
            <origin-cta-directacquisition
                href="{{ ::entitlmenturl }}"
                description="{{ ::description }}"
                type="primary">
            </origin-cta-directacquisition>
            
            <p class="otkc otkc-small origin-store-freegames-program-offer-description">
                <strong class="ng-binding">{{ ::offerdescriptiontitle }}</strong>
                <br>
                {{ ::offerdescription }}
            </p>
        </div>
    </div>
    
    <div class="origin-store-freegames-program-image-wrapper">
        <div class="origin-store-freegames-program-image-wrapper-inner">
            <div class="origin-store-freegames-program-image-scrim-right"></div>
            <div class="origin-store-freegames-program-image-scrim-left"></div>
            <img src="{{ ::image }}" alt="" class="origin-store-freegames-program-image">
        </div>
    </div>
</div>