<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.2.1">
    <name>Achievements</name>

    <feature name="http://widgets.dm.origin.com/features/interfaces/achievementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/clientNavigation" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/dateFormat" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/entitlementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/onlineStatus" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originSocial"/>
    <feature name="http://widgets.dm.origin.com/features/interfaces/originUser" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/subscriptionManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/telemetryClient"/>
    <feature name="http://widgets.dm.origin.com/features/interfaces/originPageVisibility" />

    <!-- Needed for box art and achievement widgets -->
    <access origin="http://static.cdn.ea.com" />
    <access origin="https://eaassets-a.akamaihd.net" />
    <access origin="https://achievements.integration.gameservices.ea.com" />
    <access origin="https://achievements.gameservices.ea.com" />

    <origin:link role="http://widgets.dm.origin.com/linkroles/achievementdetails" template="/achievement-details.html{?id,userid,gameTitle,inigo}" />
    <origin:link role="http://widgets.dm.origin.com/linkroles/achievements" template="/index.html{?inigo}" />
</widget>
