<example>
<para>Shows how to execute a task that takes a property but only if that property is defined.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="foo" value="bar"/>
    <do if="@{PropertyExists('foo')}">
        <echo message="${foo}"/>
    </do>
</project>
]]>
</code>
</example>