<div ng-if="userLoggedIn" class="l-origin-social-hub-area origin-social-hub-area ng-class:{
    'origin-social-hub-standalone' : standalone,
    'origin-social-hub-area-isminimized': isMinimized  && !standalone,
    'origin-social-hub-area-ispoppedout': isPoppedOut()}"
    origin-add-sitestripe-margin set-margin="setSitestripeMargin">

    <header class="origin-social-hub-area-header">
        <span class="origin-social-hub-area-structure">
            <origin-social-hub-localpresence></origin-social-hub-localpresence>
            <div ng-if="isPlayingGame() && presence.show !== 'UNAVAILABLE'" class="ng-binding ng-scope">
                <li ng-if="!presence.isBroadcasting" class="otktitle-5 origin-social-hub-area-richpresence">{{playingLoc}}
                    {{presence.gameActivity.gameTitle}} {{presence.gameActivity.richPresence}}
                </li>
                <li ng-if="presence.isBroadcasting" class="otktitle-5 origin-social-hub-area-richpresence">{{broadcastingLoc}}
                    {{presence.gameActivity.gameTitle}} {{presence.gameActivity.richPresence}}
                </li>
            </div>
        </span>
        <div class="origin-social-hub-area-options" ng-click="toggleOptionsContextmenu($event)" tabindex="-1" keytarget="contextmenu">
            <i class="otkicon otkicon-downarrow origin-social-hub-area-options-menu-icon"></i>

            <!-- context menu -->
            <div class="otkcontextmenu-wrap" ng-class="{ 'otkcontextmenu-isvisible' : optionsContextmenuVisible }">
                <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
                    <li ng-show="!standalone && !igoContext" role="presentation">
                        <a ng-click="hubContextmenuCallbacks.minimizeHub($event)" role="menuitem" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">{{minimizeLoc}}</a>
                    </li>
                    <li ng-show="!standalone && !igoContext" role="presentation">
                        <a ng-click="hubContextmenuCallbacks.popOutWindow($event)" role="menuitem" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">{{openInWindowLoc}}</a>
                    </li>
                    <li ng-if="isVoiceSupported" role="presentation">
                        <a ng-click="hubContextmenuCallbacks.goToSettings($event)" role="menuitem" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">{{chatSettingsLoc}}</a>
                    </li>
                    <li role="presentation">
                        <a ng-click="hubContextmenuCallbacks.closeAllConversations($event)" role="menuitem" tabindex="-1" keytarget="contextmenuitem" href="javascript:void(0);">{{closeAllChatLoc}}</a>
                    </li>
                </ul>
            </div><!-- /context menu -->

      	</div>
    </header>

    <origin-social-hub-listselector ng-show="!clientOffline"></origin-social-hub-listselector>
    <origin-offline-cta ng-show="clientOffline" notavailablestr="{{notAvailableLoc}}" buttontheme="light"></origin-offline-cta>

</div>
