<div class="origin-social-hub-area-minimized ng-class:{
    'origin-social-hub-area-ispoppedout': isPoppedOut()
}" keytarget tabindex="-1">

	<div class="origin-social-hub-area-minimized-middle">
		<span ng-if="xmppConnection.isConnected" class="origin-social-hub-area-minimized-center">
            <i class="otkpresence"
               ng-class="{
               'otkpresence-online': xmppConnection.isConnected && presence.show === 'ONLINE',
               'otkpresence-away': xmppConnection.isConnected && presence.show === 'AWAY',
               'otkpresence-offline': !xmppConnection.isConnected,
               'otkpresence-invisible': xmppConnection.isConnected && presence.show === 'UNAVAILABLE'}">
            </i>
			<span class="otktitle-5 otktitle-5-caps origin-social-hub-area-minimized-label"><strong>{{chatLoc.replace('%count%', onlineCount.count)}}</strong></span>    
		</span>
        <span ng-if="!xmppConnection.isConnected" class="origin-social-hub-area-minimized-center">
            <span class="otktitle-5"><strong>{{offlineLoc}}</strong></span>
        </span>
	</div>
</div>
