<!--
<ul class="origin-social-hub-listselector otknav otknav-tabs otknav-tabs-dark" role="tablist">
    <li data-target="origin-social-hub-roster-tab" class="origin-social-hub-listselector-tab otktab otktab-active">
        <a class="origin-social-hub-listselector-tab" href="javascript:void(0);">
            <div class="otktab-content">
                <span class="otktab-title otktitle-5 otktitle-5-caps active-tab">{{friendsLoc}}</span>
            </div>
        </a>
    </li>
    <li data-target="origin-social-hub-chatrooms-area-tab" class="origin-social-hub-listselector-tab otktab">
        <a class="origin-social-hub-listselector-tab" href="javascript:void(0);">
            <div class="otktab-content">
                <span class="otktab-title otktitle-5 otktitle-5-caps">{{chatroomsLoc}}</span>
            </div>
        </a>
    </li>
</ul>      
-->

<section class="origin-social-hub-list-item origin-social-hub-roster-tab">
    <origin-social-hub-roster-area></origin-social-hub-roster-area>
</section>

<!--
<section class="origin-social-hub-list-item origin-social-hub-chatrooms-area-tab" style="display: none;">
    <origin-social-hub-chatrooms-area></origin-social-hub-chatrooms-area>
</section>
-->
