<div ng-class="{'cursor_is_pointer' : xmppConnection.isConnected }" class="origin-social-hub-area-presence" keytarget="contextmenu" tabindex="-1">

    <i ng-class="{'otkpresence' : true,
                    'otkpresence-online': presence.show === 'ONLINE' && xmppConnection.isConnected,
                    'otkpresence-away': presence.show === 'AWAY' && xmppConnection.isConnected,
                    'otkpresence-invisible': presence.show === 'UNAVAILABLE' && xmppConnection.isConnected,
                    'otkpresence-ingame': isPlayingGame() && presence.show !== 'UNAVAILABLE' && xmppConnection.isConnected,
                    'otkpresence-broadcasting': presence.isBroadcasting && presence.show !== 'UNAVAILABLE' && xmppConnection.isConnected,
                    'otkpresence-offline': !xmppConnection.isConnected
                }">
    </i>
    <div class="otkdropdown">
        <a ng-class="{'otkdropdown-trigger-caret' : !!presence.show && xmppConnection.isConnected }" class="otktitle-4 otktitle-4-strong otkdropdown-trigger" href="javascript:void(0);" id="origin-social-hub-area-presence-trigger">
            <span ng-if="!isPlayingGame() && presence.show === 'ONLINE' && xmppConnection.isConnected" ng-bind-html="::trustAsHtml(onlineLoc)"></span>
            <span ng-if="isPlayingGame() && !presence.isBroadcasting && presence.show !== 'UNAVAILABLE' && xmppConnection.isConnected" ng-bind-html="::trustAsHtml(inGameLoc)"></span>
            <span ng-if="presence.isBroadcasting && presence.show !== 'UNAVAILABLE' && xmppConnection.isConnected" ng-bind-html="::trustAsHtml(broadcastingLoc)"></span>
            <span ng-if="!isPlayingGame() && presence.show === 'AWAY' && xmppConnection.isConnected" ng-bind-html="::trustAsHtml(awayLoc)"></span>
            <span ng-if="presence.show === 'UNAVAILABLE' && xmppConnection.isConnected" ng-bind-html="::trustAsHtml(invisibleLoc)"></span>
            <span ng-if="!xmppConnection.isConnected" ng-bind-html="offlineLoc"></span>
        </a>
        <div class="otkcontextmenu-wrap" id="origin-social-hub-area-presence-menu">
            <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="origin-social-hub-area-presence-trigger">

                <!-- Online -->
                <li role="presentation" ng-if="!isPlayingGame()">
                    <a role="menuitem" data-value="online" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-online"></i>
                        {{onlineLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence.show === 'ONLINE'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>

                <!-- In Game -->
                <li role="presentation" ng-if="isPlayingGame() && !presence.isBroadcasting">
                    <a role="menuitem" data-value="online" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-ingame"></i>
                        {{inGameLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence.show === 'INGAME'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>

                <!-- Broadcasting -->
                <li role="presentation" ng-if="presence.isBroadcasting">
                    <a role="menuitem" data-value="online" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-broadcasting"></i>
                        {{broadcastingLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence.isBroadcasting && presence.show !== 'UNAVAILABLE'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>

                <!-- Away -->
                <li role="presentation" ng-if="!isPlayingGame()">
                    <a role="menuitem" data-value="away" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-away"></i>
                        {{awayLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence.show === 'AWAY'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>

                <!-- Invisible -->
                <li role="presentation">
                    <a role="menuitem" data-value="invisible" keytarget="contextmenuitem" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-invisible"></i>
                        {{invisibleLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence.show === 'UNAVAILABLE' && xmppConnection.isConnected">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</div>
