<section class="origin-sitestripe origin-tealium-global-sitestripe" ng-show="visible && !isOigContext" data-sitestripe-id="{{stripe.id}}">
    <div class="otknotice-stripe otknotice-active otknotice-error">
        <span ng-show="!stripe.permanent" class="otkicon otkicon-closecircle origin-sitestripe-closecircle" ng-click="hideMessage()"></span>

        <div class="otknotice-stripe-message">
            <p class="origin-sitestripe-message otkc otkc-small">
                <span class="otkicon otkicon-warning origin-sitestripe-icon" ng-class="{'origin-sitestripe-message-passive': isPassive(), 'origin-sitestripe-message-warning': isWarning(), 'origin-sitestripe-message-error': isError()}"></span>
                <span class="origin-sitestripe-message-text" ng-bind-html="stripe.message"></span>
            </p>

            <p class="origin-sitestripe-reason otkc otkc-small"><span class="l-origin-sitestripe-reason"></span></p>
        </div>
    </div>
</section>
