/*

### TODO ###

# Adding webkit specific transitions
# discuss with ui team about max-width on otkc-small
# figure out whether to use hard coded width or rely on webview and use 100%
# renaming certain elements based on the new location once merged with real data

*/

.oig-broadcast-container
{
    width: 510px;
    background-color: #1E262C;
}

.oig-broadcast-container .otkc-small
{
    max-width: none; /* TODO overriding max-width from otk */
}

.oig-broadcast-container .otkform-label
{
    font-size: 14px;
    margin-bottom: 6px;
}

/* Begin: Header */
.broadcast-header
{
    padding: 24px;
}
/* End: Header */

/* Begin Twitch Connect */
.oig-broadcast-connect
{
    display: block;
}

.oig-broadcast-connect-info
{
    text-align: center;
    padding: 24px;
}

.oig-broadcast-connect-info > .otkicon-twitchlogo
{
    display: inline-block;
    background-image: url(../../oig/images/Twitch_WhiteLogo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 248px;
    height: 90px;
}

.oig-broadcast-connect-info > .connect-twitch-cta
{
    margin: 48px 0px 6px 0px;
}

.oig-broadcast-connect-info > .otkc
{
    display: block;
}
/* End: Twitch Connect */

/* Begin: Twitch Settings */

.oig-broadcast-settings .otknav-tabs:after
{
    content: "";
    display: table;
    clear: both;
}

.oig-broadcast-settings .otknav
{
    background-color: #EDF1F2;
}

.oig-broadcast-settings .otktab-active
{
    background-color: #FFFFFF;
}

.otktab-content
{
    display: none;
    background-color: #FFFFFF;
    padding: 24px;
    color: #141B20;
    font-size: 14px;
}

.otktab-content[disabled] > *
{
    opacity: .4;
    filter: alpha(opacity=40);
    pointer-events: none;
    cursor: default;
}

.otktab-content-active
{
    display: block;
}

.otkicon-twitchemblem
{
    display: inline-block;
    position: relative;
    top: 4px;
    background-image: url(../../oig/images/GlitchIcon_PurpleonWhite.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.broadcast-gamename-group
{
    margin: 24px 0;
}

/* TODO: check if slider will be part of OTK */
.slider-group
{
    display: inline-block;
}

.slider-game-volume
{
    margin-left: 24px;
}

.otknotice-stripe-message
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #22313C;
    padding: 12px;
}

.otknotice-passive .otkicon
{
    color: #FEA722;
    font-size: 24px;
    top: 6px;
}

.otkslider
{
    width: 216px;
    display: block;
    height: 52px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.otkslider[disabled]
{
    opacity: .4;
    filter: alpha(opacity=40);
    pointer-events: none;
    cursor: default;
}

.otkslider > .otkslider-track
{
    content: '';
    display: block;
    position: relative;
    height: 6px;
    top: 14px;
    margin: 0;
    border-radius: 4px;
    z-index: 1;
    width: 50%;
    max-width: calc(100% - 1px);
    pointer-events: none;
    background-color: #F56C2D;
}

.otkslider input[type="range"]
{
    -webkit-appearance: none !important;
    cursor: pointer;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #C3C6CE;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.otkslider input[type="range"]:focus
{
    outline: none;
}

.otkslider input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    cursor: -webkit-grab;
    z-index: 1;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #EDF1F2;
    border: 1px solid #C3C6CE;
    transition: all 0.3s ease-in-out;
}

.otkslider input[type="range"]::-webkit-slider-thumb:hover
{
    border-color: #F56C2D;
    transition: all 0.3s ease-in-out;
}

.otkslider input[type="range"]::-webkit-slider-thumb:focus
{
    border-color: #F56C2D;
    transition: all 0.3s ease-in-out;
}

.advance-settings-dropdown
{
    margin-bottom: 20px;
}

.broadcast-cta
{
    background-color: #FFFFFF;
    padding: 0 24px 24px 24px;
    text-align: right;
}

/* End: Twitch Settings */