/* Start: oig-nux */
.oig-nux-wrap
{
    display: block;
    z-index: 100;
    position: fixed;
    -webkit-filter: drop-shadow(0px 0px 4px #141b20);
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* TODO: Change positioning based on the OIG - not ready yet.. so using set values */

.oig-nux-wrap.oig-nux-welcome
{
    left: 60px;
}

.oig-nux-wrap.oig-nux-time
{
    top: 60px;
}

.oig-nux-back-to-game
{
    top: calc(50% - 240px);
    left: calc(50% - 256px);
}

.oig-nux-content:after,
.oig-nux-content:before
{
    content: '';
    background-color: #1ba58a;
    position: absolute;
} 

.oig-nux-welcome .oig-nux-content:before
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: calc(50% - 16px);
    left: -56px;
}

.oig-nux-welcome .oig-nux-content:after
{
    width: 32px;
    height: 4px;
    top: calc(50% - 2px);
    left: -32px;
}

.oig-nux-time .oig-nux-content:before
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: -56px;
    right: calc(50% - 165px);
}

.oig-nux-time .oig-nux-content:after
{
    width: 4px;
    height: 32px;
    top: -28px;
    right: calc(50% - 151px);
}

.oig-nux-content
{
    background-color: white;
    border: 4px solid #787d85;
    border-radius: 8px;
    min-width: 480px;
    max-width: 512px;
    padding: 30px;
    overflow: auto;
    border-color: #1ba58a;
}

.oig-nux-content .otkicon-closecircle
{
    float: right;
    position: relative;
    top: -20px;
    right: -20px;
    font-size: 32px;
    cursor: pointer;
    color: #c3c6ce;
    transition: color 0.3s ease-in-out;
}

.oig-nux-content .otktitle-nux
{
    font-size: 28px;
    line-height: 32px;
    margin: 12px 0px 42px 0px; 
    font-weight: 400;
    color: #1ba58a;
}

.oig-nux-content .oig-nux-content-image
{
    float: left;
}

.oig-nux-content .oig-nux-content-image img
{
    width: 128px;
    margin: 0px 30px 0px 0px;
    border: solid 1px #c3c6ce;
    border-radius: 50%;
}

.oig-nux-content .oig-nux-content-body
{
    color: #141b20;
}

.oig-nux-content .oig-nux-content-body .otkc
{
    padding-top: 24px;
}

.oig-nux-content .oig-nux-content-cta
{
    display: inline-block;
    width: 100%;
    margin-top: 42px;
}

.oig-nux-content .oig-nux-content-cta a
{
    float: right;
}

.oig-nux-content .oig-nux-content-cta .otkbtn-primary
{
    background-color: #1ba58a;
    border-color: #1ba58a;
}

.oig-nux-content .oig-nux-content-cta .otkbtn-primary:hover
{
    background-color: #098C73;
}

.oig-nux-content .oig-nux-content-cta .otka
{
    margin: 12px 24px;
}

.oig-nux-content .shortkey-indicator-light
{
    border-radius: 4px;
    border-top: solid 2px white;
    border-bottom: solid 2px #f0f0f0;
    background-color: #f8f8f8;
    padding: 2px 6px;
    margin: 0px 6px;
    vertical-align: top;
    color: #141b20;
    font-size: 13px;
    font-weight: 600;
}

/* End: oig-nux */