*
{
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

img
{
    vertical-align: middle;
}

body
{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body
{
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/* TODO - Remove oig-content styles once OIG c++ background is available */
.oig-content
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

/* Begin System Time */

.oig-clock > .oig-session-time
{
    display: block;
}

/* End System Time */

/* Begin: OIG SIDENAV */
.oig-sidenav
{
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.03, 1, 0.2, 1);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.03, 1, 0.2, 1);
}

.oig-sidenav > ul > li
{
    list-style: none;
    margin-bottom: 30px;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
}

.oig-sidenav > ul > li > .otktitle-2:hover
{
    color: #F56C2D;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
/* End: OIG SIDE NAV */