//
// Download Info Dialog
// --------------------------------------------------
.origin-cldialog-downloadinfo-warning {
    padding-top: 12px;
    margin-bottom: -17px;
}

.origin-cldialog-downloadinfo-warning-icon {
    font-size: 36px;
    color: @color-yellow;
    display: table-cell;
    vertical-align: middle;
}

.origin-cldialog-downloadinfo-warning-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2px;
}

.origin-cldialog-downloadinfo-table {
    margin: 21px 0;
    width: 100%;
    border-spacing: 0;
}

.origin-cldialog-downloadinfo-cell {
    width: 40%;
    padding: 5px 0;
    display: inline-block;
}