//
// Download Eula Dialog
// --------------------------------------------------

.origin-cldialog-downloadeula-viewport {
    height: 200px;
    overflow-y: auto;
    border: 1px solid @color-lightnavy;
    .border-radius(3px);
    padding: 0 12px;
    margin-bottom: 6px;
}

.origin-cldialog-downloadeula-pagecount {
    margin-top: 0;
    margin-bottom: 19px;
}