<div class='l-origin-gamelibrary'>
    <origin-gamelibrary-empty-offline ng-if="!hasGames() && !isLoading && !isOnline"></origin-gamelibrary-empty-offline>
    <origin-gamelibrary-empty-online ng-if="!hasGames() && !isLoading && isOnline"></origin-gamelibrary-empty-online>

    <div ng-if="hasGames() && !isLoading">
        <div class='l-origin-gamelibrary-topbanner'>
            <origin-gamelibrary-filter-bar></origin-gamelibrary-filter-bar>

            <origin-gamelibrary-nav>
                <origin-gamelibrary-navigationitem title="{{::localizedStrings.addGameLabel}}" icon-class="otkicon-add" active="false"></origin-gamelibrary-navigationitem>
                <origin-gamelibrary-navigationitem title="{{localizedStrings.filterLabel | countWrapper:activeFiltersCount}}" icon-class="otkicon-menu" active="isFilterPanelOpen" ng-click="toggleFilterpanel()"></origin-gamelibrary-navigationitem>
            </origin-gamelibrary-nav>
        </div>

        <div class="l-origin-gamelibrary-content ng-class:{'l-origin-gamelibrary-content-isfilterpanelopen': isFilterPanelOpen}">
            <origin-gamelibrary-gameslist origin-gamelibrary-draggable
                id='gamelibrary-favoritegames'
                draggable-target='gamelibrary-othergames'
                title='{{::localizedStrings.favouritesLabel}}'
                games="favoriteGames">
            </origin-gamelibrary-gameslist>
            <origin-gamelibrary-gameslist origin-gamelibrary-draggable
                id='gamelibrary-othergames'
                draggable-target='gamelibrary-favoritegames'
                title='{{::localizedStrings.allOthersLabel}}'
                games="otherGames">
            </origin-gamelibrary-gameslist>
            <origin-gamelibrary-gameslist
                title="{{::localizedStrings.hiddenLabel}}"
                games="hiddenGames">
            </origin-gamelibrary-gameslist>
        </div>

        <div class="l-origin-filter-panel ng-class:{'l-origin-filter-panel-isopen': isFilterPanelOpen}">
            <origin-gamelibrary-filter-panel is-visible="isFilterPanelOpen" on-change="refreshView()"></origin-gamelibrary-filter-panel>
        </div>

        <div class="l-origin-gamelibrary-slideout">
            <div ui-view="slideout"></div>
        </div>
    </div>
</div>
