<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <!-- HKEY_LOCAL_MACHINE\SOFTWARE\Electronic Arts\Framework -->
    <echo message="@{RegistryGetValue('LocalMachine', 'SOFTWARE\Electronic Arts\Framework')}" />
</project>
]]>
</code>
</example>