<div class="origin-social-hub-roster-area">
    <!-- Filter -->
    <section ng-show="rosterLoadStatus.status === 'ROSTER_LOADED' && (rosterLoadStatus.friendCount > 0 || rosterLoadStatus.pendingCount > 0) " class="origin-social-hub-roster-area-friends-filter">
        <div class="otkinput otkinput-filter origin-social-hub-roster-area-friends-filter-group-field">
			<span ng-show="filterText.length > 0" class="origin-social-hub-roster-area-friends-clear-filter">
				<i class="otkicon otkicon-closecircle"></i>
			</span>
            <input type="text" placeholder="{{searchFriendsLoc}}" maxlength={{maxFilterLen}} tabindex="-1" keytarget></input>
        </div>
        <span class="origin-social-hub-roster-area-friends-add-friends" tabindex="-1" keytarget>
            <i class="otkicon otkicon-addcontact"></i>
        </span>
    </section>

    <!-- Loading -->
    <section ng-show="rosterLoadStatus.status === 'ROSTER_LOADING'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-loading">
    </section>

    <!-- Error -->
    <section ng-show="rosterLoadStatus.status === 'ROSTER_LOAD_ERROR'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-error">
        <origin-social-hub-cta titleTxt="{{errorLoadingFriendsListCtaTitleLoc}}" parTxt="{{errorLoadingFriendsListCtaDescLoc}}"></origin-social-hub-cta>
    </section>

    <!-- Timeout -->
    <section ng-show="rosterLoadStatus.status === 'ROSTER_LOAD_TIMEOUT'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-timeout">
        <origin-social-hub-cta partxt="{{timeoutLoc}}"></origin-social-hub-cta>
    </section>

    <!-- No Friends -->
    <section ng-show="rosterLoadStatus.status === 'ROSTER_LOADED' && rosterLoadStatus.friendCount === 0 && rosterLoadStatus.pendingCount === 0" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-nofriends">
        <origin-social-hub-cta titleTxt="{{noFriendsCtaTitleLoc}}" parTxt="{{noFriendsCtaDescLoc}}" btnTxt="{{noFriendsCtaButtonLoc}}"></origin-social-hub-cta>
    </section>

    <!-- Has Friends -->
    <section ng-show="rosterLoadStatus.status === 'ROSTER_LOADED' && (rosterLoadStatus.friendCount > 0 || rosterLoadStatus.pendingCount > 0)" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-roster">

        <div class="origin-social-hub-roster-area-viewport">
            <origin-social-hub-roster-section filter="INCOMING" titlestr="{{friendRequestsReceivedLoc}}"></origin-social-hub-roster-section>
            <origin-social-hub-roster-section filter="OUTGOING" titlestr="{{pendingApprovalLoc}}"></origin-social-hub-roster-section>
            <!-- hold off on favorites until supported on the backend
			<origin-social-hub-roster-section filter="FAVORITES" titlestr="{{favoritesLoc}}"></origin-social-hub-roster-section>
			-->
            <origin-social-hub-roster-section filter="FRIENDS" showonlinecount="true" titlestr="{{friendsLoc}}"></origin-social-hub-roster-section>
        </div>
        <!-- All Friends Filtered -->
		<div ng-if="(filterText.length) && (totalRosterLength === 0) && !rosterCountDirty" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-nofriends">
            <origin-social-hub-cta titleTxt="{{noFilteredFriendTitleLoc}}" parTxt="{{noFilteredFriendBodyLoc}}" btnTxt="{{noFilteredFriendsCtaButtonLoc}}"></origin-social-hub-cta>
        </div>
    </section>
</div>
