<div class="origin-social-hub-roster-item origin-social-hub-roster-friend origin-social-hub-roster-pendingitem" keytarget="contextmenu" tabindex="-1" >
    <a href="javascript:void(0)" class="otkavatar origin-social-hub-roster-friend-link">
        <img ng-src="{{friend.avatarImgSrc}}" alt="{{friend.originId}}" class="otkavatar-img">
    </a>
    <div class="origin-social-hub-roster-friend-inner-wrapper">
        <h3 class="origin-social-hub-roster-pendingitem-originId otktitle-4"><strong>{{friend.originId}}</strong></h3>
    </div>

    <!-- Accept -->
    <span ng-if="!friend.subReqSent" class="otka origin-social-hub-roster-pendingitem-icon origin-social-hub-roster-pendingitem-accept-icon-wrap">
        <a class="origin-social-hub-roster-pendingitem-accept-icon" origin-tooltip={{acceptLoc}}>
            <i class="otkicon otkicon-checkcircle"></i>
        </a>
    </span>

    <!-- Decline -->
    <span ng-if="!friend.subReqSent" class="otka origin-social-hub-roster-pendingitem-icon origin-social-hub-roster-pendingitem-decline-icon-wrap">
        <a class="origin-social-hub-roster-pendingitem-decline-icon" origin-tooltip={{declineLoc}}>
            <i class="otkicon otkicon-closecircle"></i>
        </a>
    </span>

    <!-- Cancel -->
    <span ng-if="friend.subReqSent" class="otka origin-social-hub-roster-pendingitem-icon origin-social-hub-roster-pendingitem-cancel-icon-wrap">
        <a class="origin-social-hub-roster-pendingitem-cancel-icon" origin-tooltip={{cancelLoc}}>
            <i class="otkicon otkicon-closecircle"></i>
        </a>
    </span>

    <div class="origin-social-hub-roster-friend-menu-icon" ng-class="{ 'icon-visible' : isContextmenuVisible }">
        <i class="otkicon otkicon-downarrow origin-social-hub-roster-contextmenu-otkicon-downarrow"></i>
    </div>

    <!-- context menu -->
    <div class="otkcontextmenu-wrap origin-social-hub-roster-contextmenu" ng-class="{ 'otkcontextmenu-isvisible' : isContextmenuVisible }">
        <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
            <li ng-if="!friend.subReqSent" role="presentation">
                <a keytarget="contextmenuitem" ng-click="contextmenuCallbacks.acceptRequest($event)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{acceptfriendrequest}}</a>
            </li>
            <li ng-if="!friend.subReqSent" role="presentation">
                <a keytarget="contextmenuitem" ng-click="contextmenuCallbacks.ignoreRequest($event)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{ignorefriendrequest}}</a>
            </li>
            <li ng-if="friend.subReqSent" role="presentation">
                <a keytarget="contextmenuitem" ng-click="contextmenuCallbacks.cancelRequest($event)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{cancelfriendrequest}}</a>
            </li>
            <li role="presentation">
                <a keytarget="contextmenuitem" ng-click="contextmenuCallbacks.viewProfile($event)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{viewprofile}}</a>
            </li>
            <li class="otkmenu-context-divider"></li>
            <li ng-if="friend.subReqSent" role="presentation">
                <a keytarget="contextmenuitem" ng-click="contextmenuCallbacks.cancelAndBlockRequest($event)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{cancelfriendrequestandblock}}</a>
            </li>
            <li ng-if="!friend.subReqSent" role="presentation">
                <a keytarget="contextmenuitem" ng-click="contextmenuCallbacks.blockPendingRequestor($event)" role="menuitem" tabindex="-1" href="javascript:void(0);">{{ignorefriendrequestandblock}}</a>
            </li>

        </ul>
    </div><!-- /context menu -->
</div>
