<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="FileName" value="@{PathGetTempPath()}Mixed Case.txt"/>
    <touch file="${FileName}"/>
    <property name="DOSPath" value="@{PathGetFileSystemFileName('@{PathGetTempPath()}MIXEDC~1.TXT')}"/>
    <fail 
        unless="'@{PathGetFileName(${DOSPath})}' == '@{PathGetFileName(${FileName})}'"
        message="'@{PathGetFileName(${DOSPath})}' does not match case of '@{PathGetFileName(${FileName})}'."
        />
    <delete file="${FileName}"/>
</project>
]]>
</code>
</example>