//
// Change Language Dialog
// --------------------------------------------------

.origin-cldialog-languages {
	margin: 0;
	padding: 0;
	list-style: none;
}

.origin-cldialog-language {
	float: left;
	position: relative;
	width: 50%;
	height: 220px;
	background: @color-white;
	.transition(all 0.3s ease-out);
	&:hover {
		background: @color-lightgray;
	}
}

.origin-cldialog-language-image {
	width: 90%;
	position:absolute;
	top: 50%;
	left: 5%;
	.translate(0, -50%);
}

.origin-cldialog-language-name {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align:center;
}
