
// Anonymous (logged out) page
// ------------------------

.origin-gamelibrary-anonymous {
    width: 100%;
    max-height: 100%;
    position: relative;

    .media-min-width(@global-width-xlarge, {
        width: @global-content-width-xlarge;
    });
}

.origin-gamelibrary-anonymous-background {
    z-index: @zindex-background-image;
    width: 100%;
    max-height: 100vh;
    position: absolute;
    overflow: hidden;
}

.origin-gamelibrary-anonymous-center .origin-messages-center {
    color: @color-darknavy;
    max-width: 600px;
    padding-top: 100px;

    .media-max-width(@global-width-xsmall, {
        padding-top: 40px;
    });
}

.origin-gamelibrary-anonymous-description {
    color: @color-darknavy;
    font-size: 18px;
    .media-max-width(@global-width-xsmall, {
        font-size: 16px;
    });
}

.origin-gamelibrary-anonymous-description > a {
    color: @color-lightblue;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        .underline(@color-lightblue, 18px);
    }
}

.origin-gamelibrary-anonymous-actionitems {
    position: relative;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    .media-max-width(@global-width-xsmall, {
        position: static;
        width: 290px;
        display: block;
        margin: 0 auto;
    });
}

.origin-gamelibrary-anonymous-actionitems .otkbtn {
    width: 240px;
    float: left;
    margin: 20px;
    .media-max-width(@global-width-small, {
         width: 200px;
    });
    .media-max-width(@global-width-xsmall, {
        width: 240px;
        float: none;
        clear: both;
        margin: 10px;
    });
    .otkbtn .otktooltip-arrow { display: none; }
    .otkbtn .otktooltip-top {
        padding: 0;
        margin: 0;
    }
}
