// OGD
@ogd-width-tiny: 600px;
@ogd-width-small: 900px;
@ogd-width-small-mobile: @global-width-small; // hide nav
@ogd-width-medium: 1300px;
@ogd-width-large: 1800px;

@ogd-overlay-width-large: 1100px;

