// Local variables
// -------------------------
@game-library-empty-height: 850px;
@game-library-topbanner-height: 58px;

// Layout
// -------------------------
.l-origin-gamelibrary {
    position: relative;
    overflow: hidden;
}

.l-origin-gamelibrary-content {
    .transition(padding-right @timing-reallyshort-ease-out);
    .media-min-width(@global-width-small, {
        padding-top: @game-library-topbanner-height;
    });
}

.l-origin-gamelibrary-nogames .origin-messages-center {
    width: 60%;
}

.l-origin-gamelibrary-nogames-offline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: @game-library-empty-height;

    background-image: url(../images/empty-library.jpg);
}

// Callout for first time user hides a game
.origin-gamelibrary .origin-featureintro {
    top: 10px;
    right: 130px;
}

// Games List
// ------------------------
.origin-gameslist-header {
    position: relative;
    margin-top: @game-library-topbanner-height;
    height: 1px;
    border-bottom: 1px solid fade(@color-lightnavy, 50%);
}

.origin-gameslist-title {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    padding: 0 36px;
    color: @color-mediumnavy;
    background: @color-lightgray;
    .translate(-50%, -50%);
}

.origin-gameslist-toggletrigger {
    position: absolute;
    right: 0;
    top: -12px;
    width: 24px;
    height: 24px;
    background: @color-lightgray;
    color: @color-mediumnavy;
    border: 1px solid fade(@color-lightnavy, 50%);
    .border-radius(4px);
    text-align: center;
    .transition(all 0.3s ease-in-out);
    text-decoration: none;
    &:hover {
        border: 1px solid @color-lightnavy;
        color: @color-darknavy;
    }
}

.l-origin-gameslist-list {
    margin-top: 0;
}

.origin-gameslist-zoom-small {
    zoom: 60%;

    .media-max-width(@global-width-medium, {
        zoom: 52%;
    });
}

.origin-gameslist-zoom-medium {
    zoom: 75%;

    .media-max-width(@global-width-medium, {
        zoom: 60%;
    });
}

.origin-gameslist-wrapper {
    margin: 36px 0 21px 0;
    .transition(all 0.3s ease-in-out);
}

.origin-gameslist-wrapper-hidden {
    overflow: hidden;
}

.origin-gameslist-droptarget .origin-gameslist-wrapper {
    border: 1px dashed fade(@color-mediumnavy, 50%);
}

// Start browse grid styles
// Default (no chat, no filter) -----
.l-origin-gameslist {
    // Container
    &-list {
        .l-browsegrid-container();
    }
    // Item
    &-item {
        .l-browsegrid-item();
        opacity: 1.0;
        .translate3d(0, 0, 0);
        &[disabled] {
            opacity: .5;
        }
    }
}

// With filter -----------------------
// Container
.origin-content-hasembeddedfilter .l-origin-gameslist {
    &-list {
        .l-browsegrid-container-withembeddedfilter();
    }
    // Item
    &-item {
        .l-browsegrid-item-withembeddedfilter();
    }
}

// With chat --------------------------
// Container
.origin-content-hasembeddedchat .l-origin-gameslist {
    &-list {
        .l-browsegrid-container-withchat();
    }
    // Item
    &-item {
        .l-browsegrid-item-withchat();
    }
}

// With chat and filter -----------------
// Container
.origin-content-hasembeddedchat.origin-content-hasembeddedfilter .l-origin-gameslist {
    &-list {
        .l-browsegrid-container-withchatandfilter();
    }
    // Item
    &-item {
        .l-browsegrid-item-withchatandfilter();
    }
}

// End browse grid styles
// There was silence as angels wept

// proxy element used for drag and drop
.origin-gameslist-proxyelement {
    position: absolute;
    width: 15%;
    opacity: 0.6;
}

// Game Library Filter panel
// ------------------------
.l-origin-filterpanel-gamelibrary  {
    .translate3d(125%, 0, 0);
    position: absolute;

    overflow: auto;

    top: calc(@game-library-topbanner-height + 4px);

    // To align w/ favourites border
    .align-with-gutters-right();


    .media-max-width(@global-width-small, {
        right: 0px;
    });
}

// game library filterpanel when open
.l-origin-gamelibrary.origin-isfilterpanelopen .origin-filterpanel {
    .translate3d(0, 0, 0);
    .media-max-width(@global-width-small, {
        position: absolute;
        overflow-y: auto;
        height: calc(100vh - @nav-height-mobile);
        top: 0;
    });

}

.origin-isfilterpanelopen .origin-gamelibrary-content {
    .media-min-width(@global-width-small, {
        padding-right: (@filterpanel-width-desktop + @section-spacing-large);
    });
}

// To fix issue with some packart having height
// of 325, others 326. Not an issue on store.
.origin-gametile {
    .img-aspect-ratio(@browsegrid-tile-maxwidth, @browsegrid-tile-maxheight);
}

// Fallback text when all games are filtered
.origin-gamelibrary-content-nogames {
    .media-max-width(@global-width-small, {
            width: 100%;
    });
}

.origin-content-hasembeddedfilter .origin-gamelibrary-content-nogames {
    .media-min-width(@global-width-small, {
        padding-right: @filterpanel-width-desktop;
    });
}
