/* local vars & mixins */
@ogd-gamepackart-width: 160px;
@ogd-font-size-title: 35px;
@ogd-font-size-icon: 36px;
@ogd-height-header: 600px;
@origin-ogd-gamestats-width: 200px;
@origin-ogd-width-backgroundimg: 1400px;
@origin-ogd-violator-maxwidth: 530px;
// This var maxes the icon height so a flexed icon-and-title combo
// isn't unnecessarily tall.
@origin-ogd-violatoricon-maxheight: 24px;

.ogd-loading() {
    .loading(absolute, @color-white);
    position: relative;
    top: 150px;
}


.ogd-section-padding() {
    box-sizing: border-box;
    padding-left: @section-spacing-medium;
    padding-right: @section-spacing-medium;

    .media-min-width(@ogd-width-medium, {
        padding-left: @section-spacing-large;
        padding-right: @section-spacing-large;
    });
}

// Overlay/breakpoints/layout
// ------------------------
.origin-ogd-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: @zindex-background-image;

    &.origin-ogd-overlay-to-front {
        z-index: (@zindex-ogd - 10);
    }

    &.origin-ogd-overlay-activated {
        background: fade(@color-darknavy, 90%);
    }
}

// if social enabled
.origin-content-hasembeddedchat .origin-ogd-content {
    right: @social-hub-width;
    padding-bottom: @origin-social-hub-areaminimized-height;
    .media-max-width(@ogd-width-large, {
        right: 0;
    });
}

// if global nav open in mobile
.origin-content-isnavopen .origin-ogd-content {
    .media-max-width(@global-width-small, {
        left: @nav-width;
    });
}

.origin-ogd-content {
    max-width: @ogd-overlay-width-large;
    width: @ogd-overlay-width-large;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;

    background: @color-darknavy;
    z-index: @zindex-background-image;

    .media-max-width(@ogd-width-large, {
        width: calc(100% - 450px);
    });
    .media-max-width(@ogd-width-medium, {
        width: calc(100% - 450px);
    });
    // widenav disappears
    .media-max-width(@ogd-width-small-mobile, {
        max-width: 100%;
        width: 100%;
        left: 0;
        top: @nav-height-mobile;
    });

    &.origin-ogd-content-to-front {
        z-index: @zindex-ogd;
        visibility: visible;
    }

    &.origin-ogd-content-expanded {
        .animation(originOgdSlideLeftIntoPlace @timing-ogd-ease-out);

        .media-max-width(@ogd-width-small-mobile, {
            .animation(originOgdSlideIntoPlace @timing-ogd-ease-out);
        });
    }
}

.origin-ogd-content .origin-background-video-overlay {
    display: none;
}

.origin-ogd-content .origin-ogd-content-offline {
    color: @color-white;
}

// Header
// ------------------------
.origin-ogd-header {
    position: relative;
    height: @ogd-height-header;

    .media-max-width(@ogd-width-medium, {
        padding-top: 15px;
    });
}

// Close icon
.origin-ogd-close {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: (@zindex-ogd + 10);
    color: @color-lightgray;
    cursor: pointer;

    .media-max-width(@ogd-width-medium, {
        left: 15px;
        top: 10px;
    });
    .media-max-width(@ogd-width-small-mobile, {
        right: 10px;
        left: auto; // initial
    });
}

.origin-ogd-icon-closecircle {
    font-size: 40px;
}

// Background image/video
// ------------------------
.origin-ogd-backgroundimage,
.origin-ogd-backgroundvideo {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.origin-ogd-backgroundimage {
  .overlay(@color-black; 75%);
  &:before {
    z-index: (@zindex-ogd - 10);
  }
}

.origin-ogd-backgroundimage img {
    width: @origin-ogd-width-backgroundimg;

    .position-center2d();
}

// Game and affiliated logos
// ------------------------
.origin-ogd-gamelogo {
    position: absolute;
    z-index: @zindex-ogd;
    top: 50px;
    left: 50px;
    width: 300px;
    .media-max-width(@ogd-width-medium, {
        position: relative;
        margin: 0 auto;
        display: block;
        left: auto;
    });
}

.origin-ogd-gamelogos {
    position: absolute;
    z-index: @zindex-ogd;
    top: 50px;
    right: 50px;
    .media-max-width(@ogd-width-medium, {
        top: 10px;
        right: 10px;
    });
    .media-max-width(@ogd-width-small-mobile, {
        left: 10px;
        right: auto;
    });
}

.origin-ogd-premiumgamelogo {
    width: 25px;
    float: right;
    margin-left: 20px;
}

.origin-ogd-accesspremiumgamelogo {
    width: 80px;
    height: 25px;
    float: left;

    .otkicon-access {
        font-size: 85px;
        color: @color-white;
        line-height: 25px;
        &:before {
            line-height: 25px;
        }
    }
}

// Packart/Title
// ------------------------
.origin-ogd-gameinfo {
    position: absolute;
    width: 100%;
    .box-sizing(border-box);
    padding: 0px 50px;
    top: 50px;
    z-index: @zindex-ogd;

    .media-max-width(@ogd-width-medium, {
        padding: 0px 20px;
    });
}

.origin-ogd-gamepackart {
    display: block;
    position: relative;
    float: left;
    width: @ogd-gamepackart-width;
    margin-right: 24px;

    .media-max-width(@ogd-width-medium, {
        display: none;
    });
}

.origin-ogd-gametitle {
    max-width: 750px;
    color: @color-white;
    font-size: @ogd-font-size-title;
    line-height: 45px;
    max-height: 84px;
    overflow: hidden;

    .media-max-width(@ogd-width-medium, {
        .center-block();
        margin-top: 24px;
        text-align: center;
    });
}

.origin-ogd-nog {
    color: @color-mediumnavy;
}

// Game Details
// ------------------------
.origin-ogd-gamedetails {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 50px;
    z-index: @zindex-ogd;
    .box-sizing(border-box);
    #gradient > .vertical(fade(@color-black, 45%), fade(@color-black, 85%), 0%, 100%);

    &:before {
        position: absolute;
        width: 100%;
        height: 150px;
        left: 0;
        top: -150px;
        content: "";
        #gradient > .vertical(transparent, fade(@color-black, 45%), 0%, 100%);
    }

    .media-max-width(@ogd-width-medium, {
        .center-block();
        padding: 10px;
        text-align: center;
    });
}

.origin-ogd-gamedetails .otkmenu-context {
    .media-max-width(@ogd-width-medium, {
        text-align: left;
    });
}

// Action Icon Layout
// ------------------------
.l-origin-ogd-actionitems {
    float: left;
    min-height: 110px;
    height: auto;
    position: relative;
    width: calc(100% - @origin-ogd-gamestats-width);

    .media-max-width(@ogd-width-medium, {
        width: 100%;
    });
}

.origin-ogd-cta .otkbtn-primary {
    float: left;

    .media-max-width(@ogd-width-medium, {
        width: 100%;
        float: none;
        margin-bottom: 24px;
    });
}

.origin-ogd-actionitems {
    .media-max-width(@ogd-width-medium, {
        display: inline-block;
    });
}

// Action Icons
// ------------------------
.origin-ogd-actionitem {
    float: left;
    margin-right: 15px;
    margin-top: 2px;
}

.origin-ogd-ctashown .origin-ogd-actionitem:first-child {
    margin-left: 15px;
}

.origin-ogd-actionitem:first-child {
    .media-max-width(@ogd-width-medium, {
        margin-left: 0px;
    });
}

.origin-ogd-actionitem-settings,
.origin-ogd-actionitem-favorite {
    .circle(38px);
    background-color: fade(@color-black, 30%);
    .transition(all 0.3s ease-in-out);
    cursor: pointer;
    color: @color-lightnavy;
    border: 2px solid @color-mediumnavy;
    &:hover {
        border-color: @color-white;
    }
    .otktooltip {
        margin-top: -8px;
        z-index: (@zindex-ogd + 1);
    }
}

.origin-ogd-actionitem-settings {
    font-size: @ogd-font-size-title;
    .otkicon {
        top: -5px;
        left: -1px;
    }
    .otkcontextmenu-wrap {
        top: 27px;
        left: 17px;
    }
}

.origin-ogd-actionitem-favorite {
    font-size: 27px;
    .otkicon {
        top: -1px;
        left: 3px;
        .media-max-width(@ogd-width-medium, {
            left: 0px;
        });
    }
    &:active {
        .transform(scale(0.9));
    }
}

.origin-ogd-actionitem-favorite.favorited {
    .animation(originIconPop 0.3s ease-in-out 1);
    color: @color-orange;
    border-color: @color-orange;
}

.origin-ogd-icon-settings {
    .media-max-width(@ogd-width-medium, {
        left: -1px;
    });
}
.origin-ogd-icon-favorite {
    .media-max-width(@ogd-width-medium, {
        left: 0px;
    });
}

// Game Details & Inline/Dialogue messages
// ------------------------
.origin-ogd-messages-readmore {
    color: @color-lightblue;
    float: left;
    clear: left;
    display: inline-block;
    padding-left: 0px;
    cursor: pointer;
    margin-bottom: 12px;
    margin-top: -10px;

    .media-max-width(@ogd-width-medium, {
        float: none;
        .display-flex();
        .justify-content(center);
    });
}

.origin-ogd-messages-readmore-link:hover {
    .underline(@color-lightblue, 20px);
}

.origin-ogd-messages-closeicon-wrapper {
    max-height: @origin-ogd-violatoricon-maxheight;
}

.origin-ogd-messages-closeicon {
    font-size: 28px;
    color: @color-lightnavy;
    top: -1px;
    margin-left: 5px;
    cursor: pointer;
}

// containing element
.origin-ogd-messages {
    margin-top: 74px;
    .media-max-width(@ogd-width-medium, {
        margin-top: 18px;
    });
}

// on each element
.origin-ogd-message-wrapper {
    color: @color-white;

    .media-min-width(@ogd-width-medium, {
        max-width: @origin-ogd-violator-maxwidth;
    });

    .origin-store-timer-table {
        margin: 0 8px;
        float: left;
    }
    .origin-store-timer-numbers {
        font-size: 16px;
        font-weight: 300;
    }
    .origin-store-timer-text {
        font-size: 11px;
        font-weight: 300;
    }

}

.origin-ogd-message-title-content {
    .media-min-width(@ogd-width-medium, {
        padding-left: 36px;
    });
}


.origin-ogd-message {
    position: relative;
    margin-top: 0;
    margin-bottom: 12px;

    .display-flex();
    .justify-content(flex-start);
    .flex-direction(row nowrap);

    &-icon {
        position: absolute;
        .media-max-width(@ogd-width-medium, {
            position: relative;
        });
    }

    .media-max-width(@ogd-width-medium, {
        .justify-content(center);
    });

    // Shared
    .otkicon {
        color: @color-lightnavy;
        margin-right: 5px;
        .media-max-width(@ogd-width-medium, {
            max-height: @origin-ogd-violatoricon-maxheight;
        });
    }

    // List of icons...
    .otkicon-dlc {
        font-size: 32px;
        top: -4px;
        left: -2px;
    }

    .otkicon-settings {
        font-size: 38px;
        top: -8px;
        left: -4px;
    }

    .otkicon-originlogo {
      font-size: 25px;
      top: 1px;
      left: 3px;
    }

    .otkicon-store {
        font-size: 30px;
        top: -2px;
        left: 1px;
    }

    .otkicon-profile {
        font-size: 29px;
        top: -2px;
        left: 1px;
    }

    .otkicon-download {
        font-size: @ogd-font-size-title;
        top: -6px;
        left: -3px;
    }

    .otkicon-trophy {
        font-size: 31px;
        top: -2px;
        left: -1px;
    }

    .otkicon-play {
      font-size: 25px;
      top: 1px;
      left: 3px;
    }

    .otkicon-star {
      font-size: 31px;
      top: -2px;
      left: -2px;
    }

    .otkicon-controller {
        font-size: 28px;
        top: -1px;
        left: 0px;
    }

    .otkicon-learnmore {
        font-size: 29px;
        top: -2px;
        left: -1px;
    }

    .otkicon-help {
        font-size: 29px;
        top: -2px;
        left: 0;
    }

    .otkicon-info {
        font-size: 30px;
        top: -3px;
        left: -1px;
    }

    .otkicon-new {
        font-size: 31px;
        top: -3px;
        left: -1px;
    }

    .otkicon-timer {
        font-size: 30px;
        top: -3px;
        left: 0;
    }

    .otkicon-pin {
        font-size: 30px;
        top: 0px;
        left: 0px;
    }

    .otkicon-youtube {
        font-size: 33px;
        top: -4px;
        left: -2px;
    }

    .otkicon-access {
        font-size: 33px;
        top: -4px;
        left: -1px;
    }

    .otkicon-warning {
        font-size: 28.3px;
        top: -2px;
        left: 0px;
    }

    .otkicon-apple {
        font-size: 27.3px;
        top: -3px;
        left: 0px;
    }

    .otkicon-windows {
        font-size: 27px;
        top: 0px;
        left: 2px;
    }

    .otkicon-64bit {
        font-size: 39px;
        top: -7px;
        left: -7px;
    }

    .otkicon-newrelease {
        font-size: 27px;
        top: -1px;
        left: 1px;
    }

    .otkicon.yellow {
        color: @color-yellow;
    }

    .otkicon.red {
        color: @color-red;
    }
}

// if inside modal dialogue
.otkmodal-content .origin-ogd-message {
    color: @color-darknavy;

    .media-max-width(@ogd-width-medium, {
        .justify-content(flex-start);
        margin-bottom: 8px;
    });
}

.otkmodal-content .origin-ogd-message > .otkicon {
    .media-max-width(@ogd-width-medium, {
        margin-right: 10px;
        height: 30px;
        width: 30px;
    });
}

// Hours played, etc
// ------------------------
.l-origin-ogd-gamestats {
    float: right;
    width: @origin-ogd-gamestats-width;

    .media-max-width(@ogd-width-medium, {
        width: 100%;
    });
}

.origin-ogd-gamestats {
    text-align: right;

    .media-max-width(@ogd-width-medium, {
        text-align: center;
        margin-top: 12px;
        // enter stage flex
        .display-flex();
        .flex-flow(row nowrap);
        .justify-content(space-around);
    });
}

.origin-ogd-gamestats-section {
    color: @color-white;
    margin-bottom: 12px;

    .media-max-width(@ogd-width-medium, {
        width: 50%;
        .flex-grow(1);
    });
}

.origin-ogd-sectiontitle {
    color: @color-mediumnavy;
}


// Pills
// ------------------------

.l-origin-ogd-pills {
    padding: 0 45px;
    .media-max-width(@ogd-width-medium, {
        padding: 0 20px;
    });

    .media-max-width(@global-width-xsmall, {
        .origin-pills.origin-pills-light {
            height: auto;
            margin-top: 12px;
        }
    });
}

.origin-ogd-friendtile-header {
    margin-top: 30px;
    margin-bottom: 24px;
    clear: both;
    color: @color-white;
}

.origin-ogd-showmore {
    display: block;
    margin: 12px 0;
    clear: both;
    text-align: center;
    cursor: pointer;

    &:hover {
        // Get rid of the underline on hover
        background-image: none;
    }
}

.origin-ogd-friendsplaying-tab-isloading {
    .ogd-loading();
}

.origin-ogd-friendtile-nofriends {
    margin-top: 10px;
}

.origin-ogd-friendtile-nofriends-title {
    color: @color-white;
}

.origin-ogd-friendtile-nofriends-desc {
    color: @color-lightnavy;
    margin-top: 6px;
}

.origin-ogd-friendtile-nofriends-cta {
    margin-top: 30px;
}

/*
 * Expansions tab
 * Note: much of this tab's layout is done
 * in gamecard CSS
 */
.origin-ogd-expansions {
    .ogd-section-padding();
    margin-top: 45px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.origin-ogd-expansions-sectiontitle {
    color: @color-white;
    width: 100%;
    margin-bottom: 24px;
}

.origin-ogd-expansions-sectiontitle-addonstore {
    color:@color-darknavy;
}

.origin-ogd-expansions-none-container {
    .display-flex();
    .flex-flow(column nowrap);
    .justify-content(center);

    text-align: center;
    margin-bottom: 24px;
    color: @color-white;
}

.origin-ogd-expansions-none-container-addonstore {
    color:@color-darknavy;
}

.origin-ogd-expansions-none-description {
    color: @color-lightnavy;
}

.origin-ogd-expansions-none-description-addonstore {
    color:@color-mediumnavy;
}

.origin-ogd-expansions-isloading {
    .ogd-loading();
}
