<div class="l-origin-store-takeover ng-class:{'origin-store-takeover-dark': isDarkColor, 'origin-store-takeover-light': !isDarkColor}">
    <div class="l-origin-store-takeover-wrapper" ng-click="goToPdp()">
        <div class="origin-store-takeover-hero">
            <img class="origin-store-takeover-hero-image" ng-src="{{ image }}" alt="">
            <div class="origin-store-takeover-hero-mask" origin-style="fadeoutGradient"></div>
        </div>

        <div class="l-origin-store-takeover-content">
            <img class="origin-store-takeover-title" ng-src="{{ logo }}" ng-if="hasLogo" title="{{ model.displayName || $scope.title }}">
            <h1 class="otktitle-page origin-store-takeover-title" ng-if="!hasLogo" ng-bind-html="model.displayName || $scope.title"></h1>

            <h2 class="otktitle-2 origin-store-takeover-subtitle" ng-bind-html="model.shortDescription || keyMessage"></h2>

            <div class="origin-store-takeover-cta origin-store-takeover-cta-primary" ng-click="goToPdp()">
                <a href="javascript:void(0)" class="otkbtn otkbtn-primary">{{ learnMoreText }}</a>
            </div>

            <div class="origin-store-takeover-cta origin-store-takeover-cta-secondary" ng-click="goToStore($event)">
                <a href="javascript:void(0)" class="otkbtn otkbtn-transparent">{{ continueToStoreText }}</a>
            </div>
            <origin-cta-playvideo ng-if="videoId" actionid="play-video" videoid="{{ videoId }}" restrictedage="{{ restrictedAge }}" description="{{ videoDescription }}" type="round"></origin-cta-playvideo>
        </div>
    </div>
</div>