@origin-offline-sitestripe-background-color: #22313C;
@origin-offline-sitestripe-zindex: 1000;

//
// Reconnect Button
//

.origin-offline-reconnectbutton {
    .otkbtn {
        .otkicon-refresh {
            margin-right: 8px;
            .animation-name(originRotate);
            .animation-duration(.6s);
            .animation-timing-function(linear);
            .animation-delay(0);
            .animation-iteration-count(infinite);
            .animation-direction(reverse);
            .transform-origin(50% 46%);
        }
    }
}


//
// Offline Mode Flyout
//

.origin-offline-flyout {
    position: fixed;
    right: 24px;
    top: 15px;
    width: 350px;
    height: auto;
    background-color: #22313c;
    color: @color-white;
    z-index: @zindex-offlineflyout;
    text-align: center;
    display: none;
    .box-shadow(0 2px 15px 0 fade(@color-black, 70%));

    .origin-message {
        padding-bottom: 30px;
        .origin-message-title {
            color: inherit;
        }
        .origin-message-content {
            color: inherit;
        }
    }

    // OTK Tooltip overrides
    &.otktooltip-isvisible {
        display: block;
        opacity: 1;
    }

    .otktooltip-arrow {
        top: -10px;
        left: 58%;
        margin-left: -5px;
        border-width: 0 10px 10px;
        border-bottom-color: #22313C;
    }
}

//
// Offline CTA
//

.origin-offline-cta {
    padding: 0 24px;
    text-align: center;

    .origin-message {
        padding-bottom: 30px;
        .origin-message-title {
            color: inherit;
        }
        .origin-message-content {
            color: inherit;
        }
    }
}

//
// Offline Sitestripe
//
.origin-offline-sitestripe {
    background-color: @origin-offline-sitestripe-background-color;
    color: @color-white;
    z-index: @origin-offline-sitestripe-zindex;
    padding: 8px 0px 16px 0px;
    width: 100%;
    .transition(all 0.6s cubic-bezier(0.03, 1, 0.2, 1));
    text-align: center;
    overflow: hidden;
}

.origin-offline-sitestripe-message {
    padding: 0px 12px;
    vertical-align: middle;
    .transform(translateY(0px));
    transition: all 0.6s cubic-bezier(0.03, 1, 0.2, 1);
}

.origin-offline-sitestripe-icon {
    color: @color-lightblue;
    font-size: 24px;
    top: 6px;
    padding-right: 0px;
}
