<example>
  <para>Executes three groups of tasks in parallel.</para>
  <code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
  <parallel.do>
     <do>
         <echo>Started test1.exe</echo>
         <exec program="test1.exe"/>
         <echo>Finished test1.exe</echo>
     </do>
     <do>
         <echo>Started test2.exe</echo>
         <exec program="test2.exe"/>
         <echo>Finished test2.exe</echo>
     </do>
     <do>
         <echo>Started test3.exe</echo>
         <exec program="test3.exe"/>
         <echo>Finished test32.exe</echo>
     </do>
  </parallel.do>
</project>
]]>
</code>
</example>