<li class="l-origin-home-merchtile l-origin-hometile">
    <section class="origin-home-merchtile origin-home-merchtile-promocode">
        <img ng-src="{{imagepath}}" class="origin-home-merchtile-img">
        <div class="origin-home-merchtile-promocode-content" ng-class="::textColorClass">
            <h2 class="origin-home-merchtile-promocode-headline" ng-bind-html="headline"></h2>
            <h2 class="origin-home-merchtile-promocode-subheadline" ng-bind-html="subheadline"></h2>
            <p class="otkc origin-home-merchtile-promocode-description otktitle-3" ng-bind-html="textFormatted"></p>
        </div>
        <div class="origin-home-merchtile-overlay">
            <div class="l-origin-home-merchtile-cta" ng-transclude></div>
            <origin-legaldisclaimer legal-disclaimer-text="{{legalDisclaimerText}}"
                                    legal-disclaimer-link-text="{{legalDisclaimerLinkText}}"
                                    legal-disclaimer-dialog-header-text="{{legalDisclaimerDialogHeaderText}}"
                                    legal-disclaimer-dialog-body-title-text="{{legalDisclaimerDialogBodyTitleText}}"
                                    legal-disclaimer-dialog-body-text="{{legalDisclaimerDialogBodyText}}"></origin-legaldisclaimer>
        </div>
    </section>
</li>