<h1 class='otktitle-page'>Store Packs</h1>

<origin-store-row>
	<origin-store-pack
		type="six"
		title="Six Pack"
		viewallhref=""
	>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
		<origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
	</origin-store-pack>
</origin-store-row>

<origin-store-row>
	<origin-store-pack
		type="nine"
		title="Nine Pack"
		viewallstr="View more for 9 pack"
		viewallhref=""
	>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
		<origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
		<origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
		<origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
	</origin-store-pack>
</origin-store-row>