<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="center">
    <origin-store-carousel-hero-banner
        title="Define Your Destiny"
        subtitle="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png">
         <origin-cta-loadurlinternal
              href="/gamelibrary"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 2"
        subtitle="Some text goes here any text really"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png">
         <origin-cta-loadurlinternal
              href="/store/deals"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 3"
        subtitle="YYYYYYYYYYYYYYYYYYYYYYY"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_pvz_long.png">
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 4"
        subtitle="44444444444444444444444"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_chinarising_long.png">
            <origin-cta-pdp
               href=""
               description="Details"
               type="primary">
           </origin-cta-pdp>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 5"
        subtitle="555555555-------------5555555555"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_fifaworld_long.png">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="wS7gfJqFoA"
        size="half"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000">
    </origin-store-home-promo-exclusive>

    <origin-store-home-promo-featured
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="wS7gfJqFoA"
        size="half"
        description="Learn More"
        href="/#/somelink"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        edgecolor="#000000"
        hidetimer="true">
    </origin-store-home-promo-featured>
</origin-store-row>

<origin-store-row>
    <origin-store-pack
        type="nine"
        title="Nine Pack"
        viewallstr="View more for 9 pack"
        viewallhref="">
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
        <origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="Origin.OFR.50.0000675"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:60531"></origin-store-pack-item>
        <origin-store-pack-item offerid="OFB-EAST:39471"></origin-store-pack-item>
    </origin-store-pack>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-product
    title="Product Slider"
    view-all-str="View All"
    view-all-href="http://www.google.ca">
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000743"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000858"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000828"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="DR:208591800"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="OFB-EAST:60885"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="DR:230773600"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="OFB-EAST:109546867"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="OFB-EAST:109552419"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000743"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000858"></origin-store-carousel-product-gameitem>
  </origin-store-carousel-product>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-static 
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-ggg.jpg" 
        title="We Stand By Our Games." 
        text="If you don't love it, return it." 
        href="greatgameguarantee"
    >
       <origin-cta-loadurlinternal
            href="greatgameguarantee"
            description="Learn more"
            type="transparent">
       </origin-cta-loadurlinternal>
    </origin-store-home-promo-static>
</origin-store-row>