QLabel#divLine {
    background-image: url(:/OriginCommonControls/OriginWindowTemplate/divider.png);
    background-repeat: repeat;
	max-height: 2px;
	min-height: 2px;
}

#OriginWindowContent {
	min-width: 450px;
	max-width: 450px;
}

QFrame#exitInfo {
	padding-left: 30px;
	padding-right: 26px;
	min-height: 36px;
	max-height: 36px;
}

QFrame#exitInfo[style="hasButtons"] {
	margin-top: 2px;
	min-height: 70px;
	max-height: 70px;
}

#buttonBox {
	margin-top: 3px;
	button-layout: 0;
}

#scrollArea {
	max-height: 400px;
	background-color: transparent;
	border: none;
}