<example>
<para>Creates a named fileset using named groups to help organize the files a conditionally include groups of files.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <!-- first create some files to include in the file set -->
    <echo file="good.txt">A temp file</echo>
    <echo file="fast.txt">A temp file</echo>
    <echo file="hack.txt">A temp file</echo>
    
    <property name="platform" value="win"/>
    <property name="debug" value="true"/>

    <!-- now create the file set to include the just created files -->
    <fileset name="sources">
        <!-- include these files in the 'debug' config. -->
        <group if="${platform} == win">
            <includes name="fast.txt"/>
            <!-- groups can be nested inside of each other -->
            <group if="${debug}">
                <includes name="hack.txt"/>
            </group>
        </group>
        <includes name="good.txt"/>
    </fileset>
    <fail message="File set 'sources' should have had 3 files but instead had @{FileSetCount('sources')}." unless="@{FileSetCount('sources')} == 3"/>
</project>
]]>
</code>
</example>