<div class="origin-social-inviteusers-user" ng-click="onClicked()">

    <div class="otkavatar" ng-class="{
        'otkavatar-isonline': presence.show === 'ONLINE',
        'otkavatar-isjoinable': presence.show === 'JOINABLE',
        'otkavatar-isingame': presence.show === 'INGAME' || presence.show === 'JOINABLE',
        'otkavatar-isbroadcasting': presence.show === 'BROADCASTING',
        'otkavatar-isaway': presence.show === 'AWAY',
        'otkavatar-isoffline': presence.show == 'UNAVAILABLE'}">
        <img ng-src="{{avatarImgSrc}}" alt="{{user.originId}}" class="otkavatar-img">
    </div>

    <h3 class="otktitle-4"><strong>{{user.originId}}</strong></h3>

    <i class="otkicon otkicon-add" ng-show="!selected"></i>
    <i class="otkicon otkicon-checkcircle" ng-show="selected"></i>

</div>



    
    
    
