<div class="origin-store-freegames-module l-origin-store-column-full origin-store-freegames-module-{{ alignment }}">

    <div class="origin-store-freegames-module-bg-scrim">
        <div class="origin-store-freegames-module-content">
            <h2 class="otktitle-2">{{ title }}</h2>
            <h4 class="otktitle-3 origin-store-freegames-module-subtitle" >{{ subtitle }}</h4>
            <br>
            <origin-cta-loadurlinternal
                href="{{ href }}"
                description="{{ description }}"
                type="transparent">
            </origin-cta-loadurlinternal>
        </div>
    </div>

    <origin-store-backgroundimage start-color='{{ startColor }}' end-color='{{ endColor }}' image='{{ ::image }}'> </origin-store-backgroundimage>
</div>