<div class="origin-store-program-offer">
    <a href="javascript:void(0)" ng-click="onClick()">
        <img ng-src="{{ packArt }}" alt="{{ displayName }}" title="{{ displayName }}" class="origin-store-program-offer-packart">
    </a>
    <h2 class="otktitle-2"><a href="{{ ::offerhref }}" class="origin-store-program-offer-title">{{ displayName }}</a></h2>
    <div class="origin-store-program-offer-price">
        <span class="otkprice-sale">{{ ::strings.free }}</span> <span class="otkprice-original">{{ ::originalPrice | currency }}</span>
    </div>
    <p class="otktitle-4 origin-store-program-offer-description">
        <strong class="ng-binding">{{ ::offerDescriptionTitle }}</strong>
        <br>
        {{ ::offerDescription }}
    </p>
    <origin-store-cta ng-if="offerId"
        href="{{ ::entitlmenturl }}"
        description="{{ ::description }}"
        offerid="{{ ::offerId }}"
        showinfobubble="true"
        type="primary">
    </origin-store-cta>
</div>