<div class="origin-store-freegames-program l-origin-store-column-{{:: (size || 'full') }} origin-store-freegames-program-{{ ::layout }}">
    <div class="origin-store-freegames-program-bg-scrim">
        <div class="origin-store-freegames-program-container">
            <div class="origin-store-freegames-program-col">
                <origin-store-program-offer
                        on-click="goToPdp(model)"
                        display-name="{{::model.displayName}}"
                        pack-art="{{::model.packArt}}"
                        description="{{::description}}"
                        offer-id="{{::offerId}}"
                        offer-href="{{::offerhref}}"
                        offer-description-title="{{::offerDescriptionTitle}}"
                        offer-description="{{::offerDescription}}">

                </origin-store-program-offer>
            </div>
            <div class="origin-store-freegames-program-col">
                <div class="origin-store-freegames-program-screenshots">
                    <div ng-repeat="screenshot in model.media" ng-click="openModal($index)" class="origin-store-freegames-program-screenshot-container">
                        <div class="origin-store-freegames-program-screenshot">
                            <img ng-src="{{ screenshot.src }}" alt="{{ model.displayName }}" class="origin-store-freegames-program-screenshot-image" ng-if="screenshot.type === 'image'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
