.origin-agegate-overlay
{
	z-index: 1;
	background-color: @color-darknavy;
	background-color: fade(@color-darknavy, 80%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.origin-agegate-restrictedmessage,
.origin-agegate-form {
	color: @color-white;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	width: 100%;
	.translate(-50%, -50%);
}

.origin-agegate-header {
	margin-bottom: 18px;
	>.otktitle-page {
		margin-bottom: 0;
	}
}

.origin-agegate-select {
	max-width: 170px;
	display: inline-table;
	text-align: left;
}

.origin-agegate-buttons {
	margin-top: 15px;
}