//
// Navigation
// --------------------------------------------------
//== Navigation
//
// ## Settings for the navigation

@nav-width: 280px;
@nav-min-height: 530px;
@nav-height-mobile: 62px;
@nav-font-size-large: 16px;
@nav-font-size-small: 14px;
@nav-font-size-icon: 30px;
@nav-font-size-logo: 28px;

@nav-mobile: @width-mobile;

// Non global colors used for the nav
@dark-grey: #30373E;


// Bar CSS


.bar {
    position: relative;
    transform: translateY(6px);
    background: white;
    width: 22px;
    height: 2px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 6px;
        background: white;
        .transition(bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1););
        width: 22px;
        height: 2px;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        background: white;
        .transition(top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1););
        width: 22px;
        height: 2px;
    }

    &.animate {
        background: rgba(255, 255, 255, 0);
        &:before {
            bottom: 0;
            .rotate(-45deg);
            .transition(bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1););
        }

        &:after {
            top: 0;
            .rotate(45deg);
            .transition(top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1););
        }
    }
}

//== Navigation container
// ## Navigation styles for the wrapping navigation container

.l-origin-navigation-signedout {
    position: absolute;
    width: @nav-width;
    bottom: 0;
    left: 0;
    z-index: @zindex-nav;
    @media screen {
        @media (max-width: @nav-mobile) {
            position: static;
            .transition(width 0.3s ease-out);
            right: 0;
            width: 100%;
        }
    }
}

.l-origin-navigation {
    position: fixed;
    width: @nav-width;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-nav;
    @media screen {
        @media (max-width: @nav-mobile) {
            height: auto;
            .transition(width 0.3s ease-out);
            bottom: auto;
            right: 0;
            width: 100%;
        }
    }
}

.origin-navigation {
    height: 100%;
    background: @color-darknavy;
     @media screen {
        @media (max-width: @nav-mobile) {
            min-height: 62px;
            height: auto;
        }
    }
}

// ## Logo Styles
.origin-logo {
    text-align: center;
    padding: 31px 0;
    @media screen {
        @media (max-width: @nav-mobile) {
            padding: 18px 0 15px 0;
        }
    }
}

.origin-logo > a {
    color: @color-orange;
    font-size: @nav-font-size-logo;
    text-decoration: none;
}


//== Client Nav
//
// ## back/forth buttons

.origin-clientnav {
    position:relative;
    height:62px;
    @media screen {
        @media (max-width: @nav-mobile) {
            display: none;
        }
    }
}

.origin-browsebtn-back,
.origin-browsebtn-forwards {
    position:absolute;
    left: 50%;
    top: 50%;
    height: 18px;
    margin-top: -9px;
}

.origin-browsebtn-back {
    margin-left: -25px;
}

.otkicon-browsebtn {
    color: @color-mediumnavy;
    font-size: 18px;
    cursor: pointer;
    .transition(all 0.3s ease-in-out);
    &:hover {
        color: @color-white;
    }
}

.origin-browsebtn-isdisabled .otkicon-browsebtn {
    color: @color-mediumnavy;
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.origin-side-nav-header {
    display: flex;
    justify-content: center;
}


//== Hamburger Icon
//
// ##

.l-origin-hamburger {
    display: none;
    position: absolute;
    top: 24px;
    left: 24px;
    height: 22px;
    width: 22px;
    @media screen {
        @media (max-width: @nav-mobile) {
            display: block;
        }
    }
}

.origin-hamburger {
    font-size: 36px;
    color: @color-white;
}


//== Global Search
//
// ## Global Search Input

.l-globalsearch {
    margin:0 15px 12px 15px;
    @media screen {
        @media (max-width: @nav-mobile) {
            margin: 0;
        }
    }
}

.origin-globalsearch {
    .otkinput > input {
        background: @color-mediumnavy;
        .border-radius(45px);
        border: none;
        &:focus {
            background: @color-white;
            border: none;
        }
        .placeholder({
            color: @color-lightnavy;
        });
        @media screen {
            @media (max-width: @nav-mobile) {
                background: @color-darknavy;
                .placeholder({
                    color: @color-darknavy;
                });
            }
        }
    }
    @media screen {
        @media (max-width: @nav-mobile) {
            position: absolute;
            top: 9px;
            width: 45px;
            right: 0;
            margin: 0 25px 0 0;
            .transition(all 0.3s ease-in-out);
            .box-sizing(border-box);
        }
    }
}

.origin-globalsearch-isfocused {
    @media screen {
        @media (max-width: @nav-mobile) {
            padding-left: 45px;
            width: 100%;
        }
    }
}


//== Side Navigation
//
// ##


// navigation overlay
.origin-navigation-overlay {
    .translate3d(-100%, 0, 0);
    .transition(all 1.1s cubic-bezier(0.03, 1, 0.2, 1));
    @media screen {
        @media (max-width: @nav-mobile) {
            position: fixed;
            width: 100%;
            bottom: 0;
            top: 60px;
            background-color: @color-black;
            background-color: fade(@color-black, 90%);
        }
    }
}

// the side navigation

.l-origin-sidenav {
    @media screen {
        @media (max-width: @nav-mobile) {
            position: fixed;
            top: 60px;
            bottom: 0;
            width: @nav-width;
            background: @color-darknavy;
            .translate3d(-100%, 0, 0);
            .transition(all 1.1s cubic-bezier(0.03, 1, 0.2, 1));

        }
    }
}

.l-origin-sidenav-isvisible,
.origin-navigation-overlay-isvisible {
    @media screen {
        @media (max-width: @nav-mobile) {
            .translate3d(0, 0, 0);
        }
    }
}

//== Bottom Navigation
//
// ##

.origin-shell-bottom-wrapper {
    position:absolute;
    bottom:0;
    width:100%;
    height: 180px;

    .transition(all 0.9s cubic-bezier(0.19, 1, 0.22, 1));
        @media screen {
        @media (max-width: @nav-mobile) {
            position: static;
        }
    }
}
.l-origin-bottomnav {
    position:relative;
    width:100%;
    padding: 18px 0;
}

.origin-shell-showfooter-nav{
    height: auto;
}

//== General navigation styles
//
// ## Stacked and icon navs

.origin-nav,
.origin-nav > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.origin-nav {
    @media screen {
        @media (max-width: @nav-mobile) {
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.origin-nav-stacked {
    padding: 0 20px;
    text-align: left;
    > li > a {
        cursor: pointer;
        text-decoration: none;
        display: block;
        color: @color-lightnavy;
        font-weight: @weight-normal;
        transition: all 0.3s ease-in-out;
        padding: 6px 0;

        font-size: @nav-font-size-small;
        line-height: 18px;
    }
}

.origin-main-nav-stacked > li > a,
.origin-shell-menu-submenu > li > a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: @color-lightnavy;
    font-weight: @weight-normal;
    transition: all 0.3s ease-in-out;
}

.origin-main-nav-stacked > li > a:hover,
.origin-shell-menu-submenu > li > a:hover,
.origin-nav-stacked > li > a:hover {
    color: @color-white;
}

.origin-main-nav-stacked > li > .active,
.origin-shell-menu-submenu > li > .active {
    color: @color-white;
    background: @color-black;
    &:after{
        content: "";
        height: 100%;
        width: 3px;
        background: #F56C2D;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
}

// The Icon Nav
.origin-main-nav-stacked > li > a {
    position: relative;
    padding: 14px 0 14px 20px;
    line-height: 22px;
}

.origin-shell-menu-submenu > li > a {
    position: relative;
    padding: 8px 0 8px 40px;
    line-height: 18px;
    font-size: @font-size-body-large;
}

.origin-shell-submenu-more,
.origin-shell-popoutmenu-more {
    .rotate(-90deg);
    font-size: 28px;
    position: absolute;
    top: 4px;
    right: 20px;
    @media (max-width: @nav-mobile) {
        display: none;
    }

}


.icon-nav {
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -0.5em;
    line-height: 1;
    font-size: @nav-font-size-icon;
}

// Shell subnav

.origin-shell-submenu-item {
    position: relative;
    padding: 0;
    margin-left: -40px;
    list-style: none;
    &:hover  > .origin-shell-popout-container {
        visibility: visible;
    }
    @media (max-width: @nav-mobile) {
        &:hover > .origin-shell-popout-container {
            visibility: hidden;
        }
    }
}


// The popout menu

.origin-shell-popout-container {
    cursor: pointer;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    left: 100%;
    top: -6px;
}

.origin-shell-popout {
    background-clip: padding-box;
    background-color: @color-white;
    border: 1px solid @color-lightnavy;
    border-radius: 4px;
    .box-shadow(0 0 4px 0 fade(@color-darknavy, 20%));
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: @font-size-body-large;
    font-weight: normal;
    line-height: 18px;
    list-style: none;
    margin: 5px;
    width: 200px;
    padding-left: 0;
}

.origin-shell-popout > li {
    display: block;
    position: relative;
    &:hover{
        background-color: @color-lightgray;
    }
}

.origin-shell-popout > li > a {
    display: block;
    color: @color-darknavy;
    padding: 13px 15px;
    width: 100%;
    text-decoration: none;
}

.origin-shell-popoutmenu-item {
    .origin-shell-popout-container {
        visibility: hidden;
    }
    &:hover > .origin-shell-popout-container {
        visibility: visible;
    }
    @media (max-width: @nav-mobile) {
        &:hover > .origin-shell-popout-container {
            visibility: hidden;
        }
    }
}

.origin-shell-texticon {
    color: @color-lightnavy;
    font-size: 76px;
    height: 22px;
    top: -24px;
}

.origin-footernav-loggedout {
    padding: 18px;

}

.origin-footernav-loggedout > li{
    margin-top: 12px;
    text-align: center;
    &:first-child {
        margin-top: 0;
    }

    i {
        font-size: 36px;
        position: relative;
        top: 14px;
        margin-right: 6px;
        line-height: 0;
        height: 20px;
    }
}
.origin-shell-divider {
    border-top: 1px solid fade(@color-mediumnavy, 20%)
}

//== Mini Profile
//
// ## Mini Profile Styles
.origin-miniprofile {
    position: relative;
    text-align: center;
    color: #C3C6CE;
    padding: 15px 0;

    cursor: pointer;
    .origin-avatar {
        position: relative;
        top: 5px;
    }
    .origin-miniprofile-avatar {
        a {
            border: none;
            img {
                border: none;
            }
        }
    }
    .otkicon-downarrow {
        font-size: 28px;
        position: relative;
        top: 7px;

        @media (max-width: @nav-mobile) {
            display: none;
        }
    }
    .down-arrow-flip{
        transform: rotate(180deg);
    }
}

.origin-miniprofile-username-area {
    margin-bottom: 5px;
}

.origin-shell-miniprofile-username {
    text-decoration: none;
    font-weight: 400;
}

.origin-miniprofile-points {
    margin: 0;
    color: @color-mediumnavy;
}



