//
// newcontentbanner
//

.origin-newcontentbanner {
    position: fixed;
    top: 0px;
    left: @nav-width;
    right: 0;
    .clearfix();
    visibility: hidden;
    opacity: 0;
    .transition(@timing-simple-animate);
    background: @color-blue;
    z-index: 1;
    @media screen {
        @media (max-width: @width-mobile) {
            display: none;
        }
        @media (min-width: @width-large-desktop) {
            left: @nav-width;
            right: @social-hub-width;
        }
    }
}

.origin-newcontentbanner-isvisible{
    visibility: visible;
    opacity: 1.0;
}

.origin-newcontentbanner-text {
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.origin-newcontentbanner-text > a {
    color: @color-mediumnavy;
    text-decoration: none;
}

.origin-newcontentbanner-text > a:hover {
    color: @color-white;
}