.origin-tooltip {
    position: relative;

    &:hover{
        .otktooltip {
            display: block;
            .animation(originFadeIn 0.3s ease-in-out);
        }
    }

    .otktooltip {
        display: none;
        position: absolute;
        font-size: 14px;
        pointer-events: none;

        &.otktooltip-top {
            left: 50%;
            .translate3d(-50%, -100%, 0);
        }
        &.otktooltip-left {
            .translate3d(-100%, -50%, 0);
            top: 50%;
        }
        &.otktooltip-bottom {
            left: 50%;
            .translate3d(-50%, 0, 0);
        }
        &.otktooltip-right {
            left: 100%;
            .translate3d(0, -50%, 0);
            top: 50%;
        }

        .otktooltip-inner {
       	    padding: 6px 14px;
	        white-space: nowrap;

	        &.tooltip-wordwrap {
	            word-wrap: break-word;
	            white-space: pre-wrap;
	            min-width: 200px;
	        }
	    }
    }        
}
