//
// Variables
// --------------------------------------------------


//== Font Weights
//
// ## Settings for the font weights used.

@weight-ultralight: 200;
@weight-light: 300;
@weight-normal: 400;
@weight-semibold: 600;

//== Font Sizes
//
// ## Settings for the font sizes used

@font-size-body: 12px;
@font-size-body-large: 14px;
@font-size-subtitle: 16px;
@font-size-icon-font: 30px;
@font-size-cta-icon: 81px;


//== Colors
//
// ## Settings for all of the colors used.

@color-black: #141b20;
@color-darknavy: #1e262c;
@color-mediumnavy: #787d85;
@color-lightnavy: #c3c6ce;
@color-lightgray: #edf1f2;
@color-white: #fff;
@color-orange: #f56c2d;
@color-darkorange: #c85e36;
@color-nuxgreen: #05a68a;
@color-green: #04bd68;
@color-blue: #6bbfca;
@color-dark-blue: #2ac4f5;
@color-red: #df3d00;
@color-pastelred: #ffebe4;
@color-yellow: #fea722;
@color-mediumgray: #c2c6cd;

//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including OTK via Bower.

@icon-settings: "\e60a";
@icon-close: "\e609";
@icon-rightarrow: "\e62a";
@icon-leftarrow: "\e62b";
@icon-add: "\e60f";
@icon-search: "\e601";
@icon-originlogo: "\e604";
@icon-facebook: "\e627";
@icon-refresh: "\e628";
@icon-downarrow: "\e607";
@icon-menu: "\e600";
@icon-twitter: "\e626";
@icon-check: "\e624";
@icon-checkcircle: "\e60b";
@icon-home: "\e617";
@icon-store: "\e618";
@icon-gamelibrary: "\e619";
@icon-profile: "\e606"; /* RENAME TO PERSON */
@icon-download: "\e61c";
@icon-downloadnegative: "\e613"; /* RENAME TO DOWNLOAD-CIRCLE */
@icon-person: "\e606";
@icon-leftarrowcircle: "\e605";
@icon-rightarrowcircle: "\e603";
@icon-expandarrow: "\e622";
@icon-addcontact: "\e620";
@icon-bar: "\e621";
@icon-trophy: "\e61b";
@icon-pause: "\e625";
@icon-microphone: "\e629";
@icon-chatbubble: "\e602";
@icon-closecircle: "\e610";
@icon-play: "\e608";

// new icons
@icon-pausecircle: "\e612";
@icon-join: "\e623";
@icon-dlc: "\e61f";
@icon-windows: "\e61d";
@icon-apple: "\e61e";
@icon-key: "\e61a";
@icon-save: "\e615";
@icon-cloud: "\e616";
@icon-star: "\e614";
@icon-warning: "\e611";
@icon-controller: "\e60d";
@icon-access: "\e60c";
@icon-sort: "\e62c";

// new icons
@icon-callactive: "\e630";
@icon-callinactive: "\e631";
@icon-addgroup: "\e636";
@icon-mute: "\e637";
@icon-learnmore: "\e62f";
@icon-offlineleft: "\e62d";
@icon-offlineright: "\e62e";


//-- Home Columns
//
// Number of home columns

@home-tile-column-width: 33.3%;
@home-tile-column-padding: 0 12px;
@home-tile-margin: 0 0 24px 0;
@home-tile-minheight: 375px;
@home-tile-image-height: 250px;
@home-tile-maxwidth: 1200px;

//-- Media Query master list
//
// Media query master width list

@width-mobile-small: 480px;
@width-mobile: 1000px;
@width-desktop: 1150px;
@width-medium-desktop: 1200px;
@width-large-desktop: 1400px;


//-- Transitions
//
// transitions

@transition-short: 0.3s ease-in-out;
@transition-long: 1.1s cubic-bezier(0.03, 1, 0.2, 1);


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-filter-bar: 900;
@zindex-pdp-nav: 990;
@zindex-nav: 1000;
@zindex-gus: 1000;
@zindex-tooltip: 1005;
@zindex-infobubble: 1005;
@zindex-bundle-hero: 1009;
@zindex-chatwindow: 1020;

//-- Buttons
//

@touch-state-button-diameter: 50px;

//-- Animation
//
// Default speed and transition for animations
@timing-simple-animate: .3s ease-in-out;
@timing-long-ease-out: 1.1s cubic-bezier(.03,1,.2,1);
@timing-short-ease-out: .6s cubic-bezier(.03,1,.2,1);

//-- Social list
//
// Social components  - these are also specified in app

@social-hub-width: 300px;
@social-chatwindow-width-notabs: 500px;
@social-chatwindow-height-notabs: 400px;
@social-chatwindow-width-tabs: 500px;
@social-chatwindow-height-tabs: 479px;
@social-chatwindow-participantlist-width: 180px;
@social-chatwindow-toolbar-height: 44px;
@social-chatwindow-input-height: 45px;

//-- Titlebar list
//
// Titlebar components
@titlebar-subwindow-height: 30px;

//--Shell GUS
//
//
@gus-height: 62px;

//-- Global positioning

// margins for page content area (space between content and endge of screen/navigation)
@margin-pageContent-small: 5px;
@margin-pageContent-medium: 20px;
@margin-pageContent-large: 45px;