//This fonts fixture file will set up a set of glyph icons
//and the opensans library as two less variables
//prefixed with @font-file-* The system will read these files into a buffer
//and base64 encode them

//File References - relative to the fonts.less path
//Web - WOFF
//QTWEBKIT - TTF
@font-file-origin-glyph-icons-woff: "../fonts/origin.woff";
@font-file-open-sans-woff: "../fonts/opensans.woff";
@font-file-origin-glyph-icons-ttf: "../fonts/origin.ttf";
@font-file-open-sans-ttf: "../fonts/opensans.ttf";

@font-face {
    font-family: 'origin';
    src: url(@font-file-origin-glyph-icons-woff) format('woff'),
         url(@font-file-origin-glyph-icons-ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'myopensans';
  font-style: normal;
  font-weight: 200;
  src: url(@font-file-open-sans-woff) format('woff'),
       url(@font-file-open-sans-ttf) format('truetype');
}