<section class="origin-store-pdp-section-wrapper">
    <origin-store-pdp-navitem ng-if="isVisible && anchorName" title-str="{{::titleStr}}" anchor-name="{{::anchorName}}" show-on-nav="{{::showOnNav}}"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo ng-if="isVisible && headerTitle" description="{{::headerTitle}}"></origin-store-paragraph-headertwo>
    <div class="l-origin-store-column-full" ng-show="isVisible" ng-if="::(comparisonTableOcdPath1 || comparisonTableOcdPath2 || comparisonTableOcdPath3 || comparisonTableOcdPath4)">
        <table class="origin-store-pdp-comparison-table tealium-origin-store-pdp-comparison-table">
            <thead>
            <tr>
                <th colspan="2" rowspan="3" class="origin-store-pdp-comparison-table-top">
                    <h3 class="otktitle-2 origin-store-pdp-comparison-table-top-title" ng-bind-html="::comparisonTableTitle"></h3>
                    <p class="otktitle-3 origin-store-pdp-comparison-table-top-subtitle" ng-bind-html="::comparisonTableSubtitle"></p>
                </th>
                <th ng-repeat="ocdPath in ocdPaths track by $index" class="origin-store-pdp-comparison-table-no-mobile">
                    <p ng-if="::models[ocdPath].subscriptionAvailable" class="otktitle-4 origin-store-pdp-comparison-table-vault-flag">{{ ::vaultFlag }}</p>

                    <p ng-if="comparisonTableFlag && $last && noVault" class="otktitle-4 origin-store-pdp-comparison-table-popular-flag" ng-bind-html="::comparisonTableFlag"></p>
                </th>
            </tr>
            <tr class="origin-store-pdp-comparison-table-no-mobile">
                <th ng-repeat="ocdPath in ocdPaths track by $index">
                    <img ng-src="{{ ::models[ocdPath].packArt }}" alt="" class="origin-store-pdp-comparison-table-image">
                </th>
            </tr>
            <tr class="origin-store-pdp-comparison-table-no-mobile">
                <th ng-repeat="ocdPath in ocdPaths track by $index" class="origin-store-pdp-comparison-table-packart">
                    <h6 class="otkc otkc-small origin-store-pdp-comparison-table-headers">{{ ::getLocalizedEdition(models[ocdPath].editionName) }}</h6>
                </th>
            </tr>
            </thead>
            <tbody ng-transclude></tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="origin-store-pdp-comparison-table-footer origin-store-pdp-comparison-table-no-mobile"></td>
                <td ng-repeat="ocdPath in ocdPaths track by $index" class="origin-store-pdp-comparison-table-footer origin-store-pdp-comparison-item-{{ ::ocdPathLength }}">
                    <h6 class="otkc otkc-small origin-store-pdp-comparison-table-footer-header">{{ ::getLocalizedEdition(models[ocdPath].editionName) }}</h6>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="origin-store-pdp-comparison-table-no-mobile"></td>
                <td ng-repeat="ocdPath in ocdPaths track by $index" class="origin-store-pdp-comparison-table-cta origin-store-pdp-comparison-item-{{ ::ocdPathLength }}">
                    <span class="origin-store-pdp-comparison-owned" ng-if="models[ocdPath].isOwned && !models[ocdPath].vaultEntitlement" nowrap>
                        <i class="origin-store-pdp-comparison-owned-icon otkicon otkicon-checkcircle"></i>
                        <span class="otktitle-4 origin-store-pdp-comparison-owned-text">
                            <strong>{{ ::youOwnThis }}</strong>
                        </span>
                    </span>

                    <!-- buy -->
                    <origin-cta-purchase
                            ng-if="isBuyCta(ocdPath) && !ownsBetter(models[ocdPath])"
                            model="models[ocdPath]"
                            href=""
                            disable-context-menu="true"
                            description="{{ buy }} {{ models[ocdPath].formattedPrice }}"
                            type = "light"
                            tealium-ocd-path-id="{{ models[ocdPath].offerId }}"
                            class="origin-storecta-btn origin-tealium-storecta-btn">
                    </origin-cta-purchase>

                    <!-- get -->
                    <origin-cta-directacquisition
                            ng-if="isGetCta(ocdPath) && !ownsBetter(models[ocdPath])"
                            href=""
                            description="{{ download }}"
                            type="primary"
                            offer-id="{{ models[ocdPath].offerId }}"
                            class="origin-storecta-btn"
                            is-vault="{{ models[ocdPath].subscriptionAvailable }}">
                    </origin-cta-directacquisition>

                    <!-- upgrade -->
                    <origin-cta-directacquisition
                            ng-if="isUpgradeCta(ocdPath) && !ownsBetter(models[ocdPath])"
                            href=""
                            description="{{ upgrade }} "
                            type="primary"
                            offer-id="{{ models[ocdPath].offerId }}"
                            class="origin-storecta-btn"
                            is-vault="{{ models[ocdPath].subscriptionAvailable }}">
                    </origin-cta-directacquisition>

                    <!-- download/install/play -->
                    <origin-cta-downloadinstallplay
                        ng-if="isPlayAction(ocdPath)"
                        offerid="{{ models[ocdPath].ogdOfferId }}"
                        type="primary">
                    </origin-cta-downloadinstallplay>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="origin-store-pdp-comparison-table-no-mobile"></td>
                <td ng-repeat="ocdPath in ocdPaths track by $index" class="origin-store-pdp-comparison-table-cta origin-store-pdp-comparison-item-{{ ::ocdPathLength }}">
                    <p ng-if="models[ocdPath].subscriptionAvailable && user.isSubscriber && !ownsBetter(models[ocdPath])" class="otktitle-4 origin-store-pdp-comparison-table-inc-oa">
                        <i class="otkicon otkicon-checkcircle"></i>
                        {{ ::vaultFlag }}
                    </p>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</section>
