<div>
    <origin-cta-directacquisition
        ng-if="isEntitleAction() && pdpCtaStrings"
        description="{{ ::pdpCtaStrings.addToMyGames }}"
        type="primary"
        offer-id="{{ model.offerId }}">
    </origin-cta-directacquisition>

     <origin-cta-purchase
        class="origin-tealium-cta-purchase"
        ng-if="isPurchaseAction()"
        model="model"
        type="{{ buttonType }}">
    </origin-cta-purchase>

    <origin-cta-downloadinstallplay
        ng-if="isPlayAction()"
        offerid="{{ model.offerId }}"
        type="primary">
    </origin-cta-downloadinstallplay>

    <origin-cta-loadurlexternal
        ng-if="isBrowserGame && pdpCtaStrings"
        href="{{ model.platforms.PCWIN.executePathOverride }}"
        description="{{ ::pdpCtaStrings.playNow }}"
        type="primary">
    </origin-cta-loadurlexternal>
</div>
