<div class="origin-store-pdp-entitlementarea">
    <div class="origin-store-pdp-entitlementarea-cta" ng-repeat="trial in trialModels track by $index" ng-if="!hideEntitlementOptions">

        <div class="origin-store-pdp-entitlementarea-info">
            <i class="otkicon otkicon-info" ng-if="isInactiveTrial(trial) || isActiveTrial(trial) || isExpiredTrial(trial) || isUnknownTrial(trial)"></i>

            <p class="otktitle-4 origin-store-pdp-entitlementarea-context" ng-if="isInactiveTrial(trial)" ng-bind-html="inactiveTrialMessage(trial)"></p>

            <p class="otktitle-4 origin-store-pdp-entitlementarea-context" ng-if="isActiveTrial(trial)">
                <span ng-bind-html="activeTrialMessage(trial)"></span>
                <a ng-href="{{::getLibraryUrl(trial.offerId)}}" class="otka" ng-click="goToLibrary(trial.offerId, $event)" ng-bind="::entString.viewInLibrary"></a>
            </p>

            <p class="otktitle-4 origin-store-pdp-entitlementarea-context" ng-if="isExpiredTrial(trial)">
                <span ng-bind-html="expiredTrialMessage(trial)"></span>
                <a ng-href="{{::getLibraryUrl(trial.offerId)}}" class="otka" ng-click="goToLibrary(trial.offerId, $event)" ng-bind="::entString.viewInLibrary"></a>
            </p>

            <p class="otktitle-4 origin-store-pdp-entitlementarea-context" ng-if="isUnknownTrial(trial)">
                <span ng-bind-html="unknownTrialMessage(trial)"></span>
                <a ng-href="{{::getLibraryUrl(trial.offerId)}}" class="otka" ng-click="goToLibrary(trial.offerId, $event)" ng-bind="::entString.viewInLibrary"></a>
            </p>
        </div>

        <origin-cta-directacquisition
            ng-if="!trial.isOwned"
            description="{{ ::entString.getTrial }}"
            type="transparent"
            offer-id="{{ trial.offerId }}">
        </origin-cta-directacquisition>
    </div>

    <div class="origin-store-pdp-entitlementarea-cta" ng-repeat="beta in betaModels track by $index">
        <origin-cta-directacquisition
            ng-if="!beta.isOwned && !isProductReleased"
            description="{{ ::entString.getBeta }}"
            type="transparent"
            offer-id="{{ beta.offerId }}">
        </origin-cta-directacquisition>
    </div>

    <div class="origin-store-pdp-entitlementarea-cta" ng-repeat="demo in demoModels track by $index" ng-if="!hideEntitlementOptions">
        <origin-cta-directacquisition
            ng-if="!demo.isOwned"
            description="{{ ::entString.tryDemo }}"
            type="transparent"
            offer-id="{{ demo.offerId }}">
        </origin-cta-directacquisition>
    </div>
</div>
