<origin-store-pdp-section-wrapper title-str="{{::titleStr}}" anchor-name="{{::anchorName}}" show-on-nav="{{::showOnNav}}" header-title="{{::headerTitle}}">
    <origin-store-pdp-feature-badge-video ng-if="::videoId"
            video-id="{{::videoId}}"
            mature-content="{{::matureContent}}"
            video-image="{{::videoImage}}"
            small-screen-imageurl="{{::smallScreenImageurl}}"
            quote-str="{{::quoteStr}}"
            badge-image="{{::badgeImage}}">
    </origin-store-pdp-feature-badge-video>
</origin-store-pdp-section-wrapper>