<origin-store-pdp-section-wrapper title-str="{{::titleStr}}" anchor-name="{{::anchorName}}" show-on-nav="{{::showOnNav}}" header-title="{{::headerTitle}}">
    <origin-store-pdp-feature-video ng-if="::videoId"
            text-slide="{{::videoTextSlide}}"
            text-color="{{::videoTextColor}}"
            text-align="{{::videoTextAlign}}"
            text="{{::videoText}}"
            header="{{::videoHeader}}"
            small-screen-imageurl="{{::videoSmallScreenImageurl}}"
            video-id="{{::videoId}}"
            cta-type="{{::videoCtaType}}"
            cta-href="{{::videoCtaHref}}"
            cta-description="{{::videoCtaDescription}}"
            mature-content="{{::matureContent}}"
            video-image="{{::videoImage}}"
    >
    </origin-store-pdp-feature-video>

</origin-store-pdp-section-wrapper>