<!-- Overview -->
<!-- itemscope defines the scope of a block content that describes an item .  https://schema.org/docs/gs.html#microdata_itemscope_itemtype -->
<div class="l-origin-store-column-full" itemscope itemtype="{{::schemaItemType}}">
    <div class="origin-store-pdp-overview">
        <ul class="origin-store-pdp-overview-list">
            <origin-store-pdp-overview-item title-str="{{genre}}" ng-if="genreLinks">
                <a ng-repeat="link in ::genreLinks track by $index" ng-href="{{::link.absUrl}}" class="otka" ng-click="openLink(link.url, $event)">
                    <span ng-bind-html="::link.label"></span><span ng-if="!$last">,&nbsp;</span>
                </a>
            </origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item ng-if="formattedReleaseDate" title-str="{{releasedate}}">
                <meta itemprop="datePublished" content="{{model.releaseDate}}">
                <span ng-bind-html="formattedReleaseDate"></span>
            </origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title-str="{{rating}}" ng-if="model.gameRatingTypeValue">
                <span ng-bind-html="model.gameRatingTypeValue"></span>
            </origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title-str="{{publisher}}">
                <span ng-bind-html="model.publisher"></span>
            </origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title-str="{{developer}}" ng-show="developerLink">
                <a class="otka" ng-href="{{::developerLink.absUrl}}" ng-click="openLink(developerLink.url, $event)" ng-bind-html="::developerLink.label"></a>
            </origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title-str="{{supportedLanguages}}">
                <span ng-bind-html="softwareLocales"></span>
            </origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title-str="{{gameLinks}}" ng-show="gameLinksHtml">
                <span ng-bind-html="gameLinksHtml"></span>
            </origin-store-pdp-overview-item>
        </ul>
    </div>
</div>
