<origin-store-pdp-section-wrapper title-str="{{::titleStr}}" anchor-name="{{::anchorName}}" show-on-nav="{{::showOnNav}}" header-title="{{::headerTitle}}">
    <origin-store-carousel-productsearch ng-if="::ocdDataReady"
                                         title-str="{{::carouselTitle}}"
                                         search-string="{{::searchString}}"
                                         facet-data="{{::facetData}}"
                                         order-by="{{::orderBy}}"
                                         direction="{{::direction}}"
                                         limit="{{::limit}}"
                                         offset="{{::offset}}"
    ></origin-store-carousel-productsearch>
</origin-store-pdp-section-wrapper>