<div class="origin-pdp-savings">
    <span class="otkprice-sale" ng-if="saveText && model.strikePrice !== model.price" class="otkprice-sale" ng-bind="pdpSavingStrings.saveText"></span>
    <s class="otkprice-original" ng-if="model.formattedStrikePrice && model.strikePrice !== model.price">{{ model.formattedStrikePrice }}</s>
    <span ng-if="model.hasSubsDiscount && user.isSubscriber && !model.oth" class="otkprice-sale origin-pdp-savings-accessdiscount" ng-bind="pdpSavingStrings.originAccessDiscountApplied"></span>
</div>
