<div class="otkmodal ng-class:{'otkmodal-isvisible': !isHidden}" id="otkmodal" tabindex="-1" role="dialog" aria-hidden="{{isHidden}}">
    <div class="otkmodal-backdrop ng-class:{'otkmodal-backdrop-isvisible': config.modal}" ng-click="onBackdropClick()"></div>
    <div class="otkmodal-dialog" ng-class="{
        'otkmodal-xlg': config.size === 'xLarge',
    	'otkmodal-lg': config.size === 'large',
    	'otkmodal-md': config.size === 'medium',
    	'otkmodal-sm': config.size === 'small'
    	}">
        <a href="javascript:void(0)" class="otkmodal-close" data-dismiss="otkmodal" aria-hidden="{{isHidden}}" ng-click="hide()">
            <i class="otkicon otkicon-closecircle"></i>
        </a>
        <div class="otkmodal-content"><!-- content goes here --></div>
    </div>
</div>
