/*
 * Product Carousel CSS
 */


.origin-store-carousel-product-img-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.origin-store-carousel-product-carousel-headerarea {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}


.origin-store-carousel-product-carousel-isloading {
    .loading(@color-darknavy);
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.origin-store-carousel-product-indicators-container {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0;

  > .origin-store-carousel-product-indicator {
    display: inline-block;
    width:  6px;
    height: 6px;
    margin: 3px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
    border: 1px solid  #787d85;
    .box-shadow(0 0 30px rgba(30, 38, 44, 0.3));

  }

  > .origin-store-carousel-product-indicator-active {
    width: 10px;
    height: 10px;
    background-color: @color-orange;
    border: 1px solid @color-orange;
    position: relative;
    top: 2px;
  }
}

.origin-store-carousel-product-carousel {
  position: relative;
}

.module-link {
  display: inline;
  padding-right: 10px;
}


.origin-store-carousel-product-carousel-title-area
{
  margin: 0 0 10px;
}
.origin-store-carousel-product-carousel-title {
  display: inline;
  padding-right: 10px;
}


.origin-store-carousel-product-carousel-container {
  overflow: hidden;
  width: 100%;
  min-height: 372px;
}

ul.origin-store-carousel-product-carousel-slidearea {
  display: block;
  padding-left: 3px;
  position: relative;
  width: 2000%;
  transform: translateX(0);
  .transition(0.5s ease-in-out all);
  li{
    margin-right: 15px;
  }
}

.origin-store-carousel-product-controls{
  list-style-type: none;
  padding-left: 0;
  position: relative;
  display: block;
  float: right;
  width: 80px;
}
.origin-store-carousel-product-controls-left {
  left: 0;
  text-align: left;
}
.origin-store-carousel-product-controls-right {
  right: 0;
  text-align: right;
}

.origin-store-carousel-product-controls-left, .origin-store-carousel-product-controls-right {
  color: rgb(120, 125, 133);
  cursor: default;
  margin-top: -20px;
  opacity: 0.200000002980232;
  position: absolute;
  text-decoration: none;
}

a.origin-store-carousel-product-controls-left:before {
  font-family: "origin";
  font-size: 40px;
  display: inline-block;
  content: '\e605'; // good
  text-align: center;
  cursor: pointer;
}

a.origin-store-carousel-product-controls-right:before {
  font-family: "origin";
  font-size: 40px;
  display: inline-block;
  text-align: center;
  content: '\e603';
  cursor: pointer;
}

.origin-store-carousel-product-controls-active {
  opacity: 1;
}

.origin-store-carousel-secondarycta-playtext{
  font-size: 16px;
}
.origin-store-carousel-secondarycta-container{
  margin-top: 20px;
}
