//
// Origin Styles Tile for Home
// --------------------------------------------------

.origin-hometile {
    max-width: 100%;
    min-height: @home-tile-minheight;
    .flex-grow(1);
    width: 100%;
    margin-bottom: 24px;
    background: @color-white;
    box-shadow: 0px 0px 2px 0px rgba(red(@color-black), blue(@color-black), green(@color-black), 0.25);
    .transition(all .3s ease-out);
    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(red(@color-black), blue(@color-black), green(@color-black), 0.6);
    }
}

.origin-hometile h2 {
    color: #C3C6CE;
    .transition(color 0.3s ease-out 0s);
    &:hover {
        color: @color-white;
        text-decoration: none;
    }
}

.origin-hometile-container {
    height: @home-tile-image-height;
    position: relative;
    overflow: hidden;
    background: #1c292f;  /* TODO: New colour introduced */
}

.origin-hometile-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-size: cover;
    background-position: center top;
}

.origin-hometile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    background: @color-darknavy;
    background: rgba(red(@color-black), blue(@color-black), green(@color-black), 0.9);
    text-align: center;
    .transition(all .3s ease-out);
}

.origin-hometile:hover .origin-hometile-overlay,
.origin-hometile-overlay-isvisible {
    display: block;
    opacity: 1;
}

.origin-hometile-overlay-content-title {
    margin-bottom: 10px;
    text-align: center;
}

.origin-hometile:hover .origin-hometile-overlay-content-title {
    .animation(originHomeTilesMoveInFromTop @timing-long-ease-out);
}

.origin-hometile:hover .origin-hometile-overlay-isvisible .origin-hometile-overlay-content-title {
    .animation(none);
}

.touch-enabled .origin-hometile-overlay {
    opacity: 1;
    background: transparent;
}

.origin-hometile-overlay-content {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    position: absolute;
    .translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.touch-enabled .origin-hometile-overlay-content {
    top: auto;
    bottom: 0;
}

.origin-hometile:hover .origin-cta-primary,
.origin-hometile:hover .otkbtn-primary {
    .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
}

/* this is bad we should ideally have this as a variant of the hometile */
.origin-hometile:hover .origin-hometile-overlay-isvisible .origin-cta-primary,
.origin-hometile:hover .origin-hometile-overlay-isvisible .origin-cta-primary {
    .animation(none);
}

.origin-hometile-secondarycta {
    margin-top: 15px;
    display: block;
    color: @color-lightnavy;
    font-size: 14px;
    transition: all 0.3s ease-out 0s;
    text-decoration: none;
    &:hover {
        color: @color-white;
        text-decoration: underline;
    }
}

.otkbtn-primary-icon,
.otkbtn-primary-text > .otktooltip-arrow {
    display: none;
}

.touch-enabled .otkbtn-primary-text > .otktooltip-arrow {
    display: block;
    bottom: -5px;
}

.otkicon-learn-more:before {
    content: "#";
}

.touch-enabled .otkbtn-primary-text {
    position: absolute;
    .box-sizing(border-box);
    bottom: 60px;
    left: -24px;
    z-index: @zindex-tooltip;
    width: 95px;
    padding: 5px;

    .border-radius(3px);

    background-color: @color-black;
    opacity: 0;

    .transition(all .3s ease-out);
}

.touch-enabled .origin-cta-primary {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 22px 19px 0;
}

.touch-enabled .origin-cta-secondary {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 19px 22px;
}

.touch-enabled .origin-cta-primary .otkbtn-primary {
    .circle(@touch-state-button-diameter);

    &:hover > .otkbtn-primary-text {
        opacity: 1;
    }
}

.touch-enabled .otkbtn-primary-icon {
    display: block;

    line-height: 19px;
    font-size: 30px;
}

.touch-enabled .origin-hometile-overlay-content > .otktitle-2 {
    display: none;
}

.touch-enabled .origin-hometile:hover .origin-hometile-title {
    opacity: 1;
}

.l-origin-hometile-gameprogress {
    display: block;
    position: relative;
    height: 110px;
    left: 50%;
    margin-left: -51px; /* the avatar width */
    -webkit-backface-visibility: hidden;
}

.origin-hometile-title {
    left: 0;
    bottom: 0;
    padding: 18px;
    max-width: 60%;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    background: @color-darknavy;
    background: rgba(red(@color-black), blue(@color-black), green(@color-black), 0.85);
    .transition(all .3s ease-out);
}

.origin-hometile:hover .origin-hometile-title {
    opacity: 0;
}

// REVIEW: this probably needs to be changed
.origin-hometile-support-text {
    padding: 15px;
    position: relative;
}

.origin-hometile-support-text h3 {
    margin: 0;
}

.origin-hometile-support-text-paragraph {
    margin: 0;
    color: @color-mediumnavy;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.origin-hometile-support-text-paragraph a {
    color: @color-darknavy;
    font-weight: 400;
    text-decoration: none;
}

.origin-hometile-support-text-paragraph a:hover {
    text-decoration: underline;
}
.origin-hometile .origin-avatarlist {
    margin-top: 12px;
}

