.otk-banner
{
	padding: 16px 20px 16px 55px;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	min-height: 18px;
}

.otk-banner.info
{
	background: url('../images/otk-banner/info_large.png') no-repeat 13px center;
	background-color: #269dcf;
}

.otk-banner.success
{
	background: url('../images/otk-banner/validated_large.png') no-repeat 13px center;
	background-color: #5cab26;
}

.otk-banner.error
{
	background: url('../images/otk-banner/error_large.png') no-repeat 13px center;
	background-color: #c93507;
}

.otk-banner.notice
{
	color: #444;
	background: url('../images/otk-banner/notice_large.png') no-repeat 13px center;
}