.otk-progressbar-detailed
{
	overflow: hidden;
}

.otk-progressbar-detailed b
{
	color: #666;
}

.otk-progressbar-detailed > .otk-progressbar
{
	width: inherit;
}

.otk-progressbar-detailed > .sub-title
{
	margin: 0px 0px 2px 0px;
	color: #717171;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.otk-progressbar-detailed > .title
{
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.otk-progressbar-detailed > .status-container
{
	margin-top: 2px;
}

.otk-progressbar-detailed > .transfer-rate,
.otk-progressbar-detailed > .status-container > h5
{
	margin: 0;
	width: 50%;
	font-weight: normal;
	color: #666;
}

.otk-progressbar-detailed > .status-container > .time-remaining
{
	float: left;
	text-align: left;
}

.otk-progressbar-detailed > .transfer-rate,
.otk-progressbar-detailed > .status-container > .bytes-per-second
{
	float: right;
	text-align: right;
}

.otk-progressbar-detailed > .transfer-rate
{
    clear: both;
}