
/* ALL EDIT CONTROLS */
.otk-edit
{
	display: block;
	-webkit-appearance:none;
	
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	background-color: #ffffff;

	border: 1px double #ffffff;
	border-bottom: 1px double #f3f3f3;
	outline: 1px solid #c9c9c9;
	outline-offset: -2px;

	-webkit-box-shadow: inset 0 1px 5px #888;

	color: black;
	
	padding: 5px 9px 5px 9px;
	
	font-size: 13px;
	font-weight: normal;

	white-space: pre-wrap;

	min-height: 1em;

	/* Undo some of the base.css reset for this element */
	-webkit-user-select: text;
}

.otk-edit:focus:not(.disabled)
{
	-webkit-box-shadow: none;
	outline: 2px solid #eebd67;
	outline-offset: -3px;
}

.otk-edit.disabled
{
	background-color: #ddd;
	color: #919191;
}

/* MULTILINE EDIT */

.otk-edit.multiline
{
	min-height: 1em;
	max-height: 7em; /* 5 lines of text before getting a scrollbar - should this be an option? You can always override the style. */
	overflow: auto;
	height: auto;
}

/* SEARCH */

.otk-edit.search
{
	background: white url(../images/otk-edit/search.png) right no-repeat;
	padding-right: 2px;
}

.otk-edit.search::-webkit-search-cancel-button
{
	-webkit-appearance: none;
	
	background: white;
	
	background-image: url(../images/otk-edit/cancel.png);
	width: 18px;
	height: 15px;

	/* The negative margins aren't needed in Chrome 19 but help QtWebKit 2.2 */
	margin: -3px 1px -3px 0;
}

