
/*

	TODO:
	- Add support for red "BLOCKED" label somehow without adding strings to the toolkit
	- joinable game icon without adding the icon to the toolkit? (I think we still support this next to the presence label)

*/

.otk-contact
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	height: 36px;
	padding-left: 51px;

	background-color: #e6e6e6; 

	border-top: 1px solid #f6f6f6;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid transparent;

	position: relative;
	padding-top: 7px;

	-webkit-transition: margin-top 250ms, opacity 250ms, z-index 250ms, background-color 250ms;
	transition: margin-top 250ms, opacity 250ms, z-index 250ms, background-color 250ms;
	z-index: 0;
	
	cursor: default;
}

.otk-contact:hover
{
	background-color: #dedede;
}

.otk-contact.selected
{
	background-color: #ff9901;
}


.otk-contact > .otk-hover-context-menu-button
{
	position: absolute;
	right: 2px;
	top: 5px;
	
	display: none;
}

.otk-contact:hover > .otk-hover-context-menu-button
{
	display: inline-block;
}

.otk-contact > .otk-user-avatar
{
	position: absolute;
	top: 6px;
	left: 13px;
}

.otk-contact > .otk-presence-indicator
{
	width: 5px;

	position: absolute;
	top: 1px;
	left: 0;
	bottom: 1px;
}

.otk-contact .name
{
	display: block;
	overflow: hidden;
	height: 17px; 
}

.otk-contact:hover .name
{
	/* Give room for the menu button */
	margin-right: 22px;
}

.otk-contact .nickname,
.otk-contact .realname
{
	font-size: 13px;
	font-weight: bold;
	color: #565656;
	height: 17px; 
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.otk-contact.selected .nickname,
.otk-contact.selected .realname
{
	color: White;
}

.otk-contact .nickname
{
	display: block;
	-webkit-transition: margin-top 150ms linear 0s;
}

.otk-contact:hover .nickname
{
	-webkit-transition: margin-top 150ms linear 500ms;
}

.otk-contact.has-real-name:hover .nickname
{
	/* Move ourselves up our height + the spacing above the real name */
	margin-top: -34px;
}

.otk-contact .realname
{
	/* Add spacing above us so we never actually see the nickname and real name at the same time */
	margin-top: 17px;
	display: block;
}

.otk-contact > .presence
{
	display: block;

	color: #888; 
	font-size: 10px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	text-shadow: 0px 1px 1px #ffffff;
}

.otk-contact.selected > .presence
{
	color: White;
	text-shadow: none;
}

/* action hyperlinks - customize for otk-contact */

.otk-contact .otk-hyperlink
{
	font-size: 10px;
}

.otk-contact.selected .otk-hyperlink
{
	color: #fff;
}

.otk-contact.selected .otk-hyperlink:active
{
    color: #eaeaea!important;
	text-decoration: underline;
}

/* divider between action hyperlinks */

.otk-contact .otk-hyperlink:not(:last-child)
{
	border-right: 1px solid #838383;
	padding-right: 4px;
	margin-right: 4px;
}

.otk-contact.selected .otk-hyperlink:not(:last-child)
{
	border-right: 1px solid  #fff;
}

