
img.otk-user-avatar
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	width: 28px;
	height: 28px;

	background-color: #ffffff;
	padding: 1px;
	border-bottom: 1px solid #999999;
}

img.otk-user-avatar.clickable
{
	cursor: pointer;
}

img.otk-user-avatar:not([src])
{
	display: none;
}

