
.otk-toolbar
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	position: relative;
	display: block;
	height: 33px;
	border: 1px solid white;
	border-top: none;
	background-color: #e5e5e5;
	
	margin: 0;
	padding: 0;
	
	overflow: visible;
}

.otk-toolbar *
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/* BOTTOM DARK LINE */

.otk-toolbar:after
{
	content: '';
	position: relative;
	display: block;
	height: 34px;
	border: 1px solid #c9c9c9;
	border-top: none;
	margin: 0 -2px 0 -2px;
	pointer-events: none;
}

.otk-toolbar.no-left:after
{
	border-left: none;
	margin-left: 0;
}

.otk-toolbar.no-right:after
{
	border-right: none;
	margin-right: 0;
}

/* SEPARATORS */

.otk-toolbar > .separator
{
	width: 1px;
	height: 34px;
	margin: 0;
	padding: 0;
	background-color: #c9c9c9;
	border-left: 1px solid white;
	border-right: 1px solid white;
	z-index: 9999;
}

