
.otk-custom-glyph
{
	display: inline-block;
	position: relative;
	overflow: visible;
	
	/* default size if not overridden by the HTML or plugin's "autosize" option */
	width: 16px;
	height: 16px;
}

.otk-custom-glyph > .layer
{
	position: absolute;
	overflow: visible;
	top: 0; right: 0; bottom: 0; left: 0;
	/* mask-image url must be specified in the plugin or HTML */
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: #3c3c3c;
}

.otk-custom-glyph > .glyph
{
/*	background-color: #3c3c3c; */
}

.otk-custom-glyph > .shadow
{
/*	background-color: white; */
}

