.otk-tooltip
{
	position:absolute;
	z-index: 1;
	margin-top: 8px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	padding: 10px;
	background: -moz-linear-gradient(top, rgba(123,123,123,255) 0%, rgba(73,73,73,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,123,123,255)), color-stop(100%,rgba(71,71,71,255))); /* Chrome,Safari4+ */
}

.otk-tooltip:before
{
	top: 100%;
	left: 50%;
	content: " ";
	height: 0px;
	width: 0px;
	margin: 0 0 0 -11px;
	padding: 0;
	position: absolute;
	pointer-events: none;
}

.otk-tooltip.top:before
{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(123,123,123,255);
}

.otk-tooltip.bottom:before
{
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(71,71,71,255);
}