
button.otk-close-button
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	-webkit-appearance: none;
	border: none;
	outline: none;
	background-color: inherit;
	width: 20px;
	height: 20px;
	background:url(../images/otk-close-button/close-sprite.png) no-repeat 0 0;
	padding: 0;

	display: inline-block;
}

button.otk-close-button:hover
{
	background-position: 0 -20px;
}

button.otk-close-button:active,
button.otk-close-button.opened
{
	background-position: 0 -40px;
}

button.otk-close-button.small
{
	width: 12px;
	height: 12px;
	background:url(../images/otk-close-button/close-small-sprite.png) no-repeat 0 0;
}

button.otk-close-button.small:hover
{
	background-position: 0 -12px;
}

button.otk-close-button.small:active,
button.otk-close-button.small.opened
{
	background-position: 0 -24px;
}

button.otk-close-button.icon
{
	width: 7px;
	height: 7px;
	background:url(../images/otk-close-button/close-icon.png) no-repeat 0 0;
}