
.otk-contact-group
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	position: relative;
	
	height: 22px;
	line-height: 22px;
	
	margin: 0;
	padding: 0;
	
	background-color: #eeeeee;
	border-bottom: 1px solid #e0e0e0;
	
	-webkit-transition: height 250ms;
}

.otk-contact-group.selected
{
	background-color: #949698;
}

.otk-contact-group .otk-expand-collapse-indicator
{
	position: absolute;
	left: 5px;
	top: 7px;
	padding: 0;
	margin: 0;
}

.otk-contact-group.selected .otk-expand-collapse-indicator
{
	background-color: transparent;
}

.otk-contact-group .label
{
	display: block;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: left;

	overflow: hidden;

	position: absolute;
	left: 15px;
	top: 5px;
	right: 46px;
}

.otk-contact-group .label:lang(en)
{
	/* This is the font we want for group titles, but it only works well in en-us */
	font-family: "Trebuchet MS", "Arial";
}

.otk-contact-group .label:lang(ko)
{
	font-size: 12px;
}

.otk-contact-group.selected .label
{
	color: white;
}

.otk-contact-group .otk-count-bubble
{
	float: right;
}

