
.otk-tabs-carousel
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	height: 36px;
	padding: 0;
	
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid transparent; 
	
	position:relative;
}

.otk-tabs-carousel *
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/* CAROUSEL CONTENTS (everything but the overflow menu) */

.otk-tabs-carousel .carousel
{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: none;

	margin: 0;
	padding: 0 0 2px 0;
}

/* LEFT AND RIGHT ENDCAPS */

.otk-tabs-carousel .endcap
{
	display: inline-block;
	position: absolute;
	z-index: 9999;
	margin: -1px;
	margin-bottom: 2px;
	height: 34px;
	
	padding-top: 2px; 
	
	background-color: #3c3c3c;
	border: 1px solid #393939;
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #222222;
}

.otk-tabs-carousel .endcap.left
{
	padding-left: 2px;
	top: 0; left: 1px;
	width: 37px;
	border-right: 1px solid #4f4f4f;
	box-shadow: 2px 0px 2px rgba(0,0,0,.4);
}

.otk-tabs-carousel .endcap.right
{
	top: 0; right: 1px;
	width: 73px;
	border-left: 1px solid #4f4f4f;
	box-shadow: -2px 0px 2px rgba(0,0,0,.4);
}

.otk-tabs-carousel:not(.overflowed) .endcap
{
	z-index: 0;
	border: 1px solid transparent;
	box-shadow: none;
}

/* TAB CONTENT AREA */

.otk-tabs-carousel .tabs-content
{
	height: 36px;
    position: absolute;
	top: 0px; bottom: 0px;
	left: 40px; right: 74px;
	background-color: #3c3c3c;
}

/* THE TABS COMPONENT ITSELF */

.otk-tabs-carousel .otk-tabs
{
	display: inline-block;
	position: absolute;
	overflow: visible;
	left: 0;
	top: 5px;
}

/* SCROLL AND OVERFLOW BUTTONS */

.otk-tabs-carousel .endcap > button
{
	display: none;
}

.otk-tabs-carousel.overflowed .endcap > button
{
	-webkit-appearance: none;
	border: 1px solid transparent;
	outline: none;
	background-color: transparent;

	display: inline-block;

	padding: 0;
	margin: 3px 5px 5px 5px;
	
	height: 25px; /* 27px with border */
	width: 24px; /* 26px with border */

	background-position: center center;
	background-repeat: no-repeat;
	background-image: none;
	
	-webkit-border-radius: 4px;
}

.otk-tabs-carousel.overflowed .endcap > button:not(:disabled):hover
{
	border: 1px solid #707070;
	box-shadow: 1px 1px 2px rgba(0,0,0,1);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-left
{
	background-image:url(../images/otk-tabs-carousel/scroll-left.png);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-left:hover
{
	background-image:url(../images/otk-tabs-carousel/scroll-left.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #717171),
		color-stop(1, #595959)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-left:active
{
	background-image:url(../images/otk-tabs-carousel/scroll-left.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #595959),
		color-stop(1, #717171)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-left:disabled
{
	background-image:url(../images/otk-tabs-carousel/scroll-left.png);
	opacity: .4;
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-right
{
	background-image:url(../images/otk-tabs-carousel/scroll-right.png);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-right:hover
{
	background-image:url(../images/otk-tabs-carousel/scroll-right.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #717171),
		color-stop(1, #595959)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-right:active
{
	background-image:url(../images/otk-tabs-carousel/scroll-right.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #595959),
		color-stop(1, #717171)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.scroll-right:disabled
{
	background-image:url(../images/otk-tabs-carousel/scroll-right.png);
	opacity: .4;
}

/* OVERFLOW MENU BUTTON */

.otk-tabs-carousel.overflowed .endcap > button.overflow
{
	position: absolute;
	right: 0;
	background-image: url(../images/otk-tabs-carousel/overflow-arrow.png);
}

.otk-tabs-carousel.overflowed .endcap > button.overflow.notified
{
	background-image: url(../images/otk-tabs-carousel/overflow-arrow-notify.png);
}

.otk-tabs-carousel.overflowed .endcap > button.overflow:hover
{
	background-image: url(../images/otk-tabs-carousel/overflow-arrow.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #717171),
		color-stop(1, #595959)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.overflow.notified:hover
{
	background-image: url(../images/otk-tabs-carousel/overflow-arrow-notify.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #717171),
		color-stop(1, #595959)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.overflow.menu-open,
.otk-tabs-carousel.overflowed .endcap > button.overflow:active
{
	border: 1px solid #707070;
	box-shadow: 1px 1px 2px rgba(0,0,0,1);
	
	background-image: url(../images/otk-tabs-carousel/overflow-arrow.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #595959),
		color-stop(1, #717171)
	);
}

.otk-tabs-carousel.overflowed .endcap > button.overflow.notified.menu-open,
.otk-tabs-carousel.overflowed .endcap > button.overflow.notified:active
{
	border: 1px solid #707070;
	box-shadow: 1px 1px 2px rgba(0,0,0,1);
	
	background-image: url(../images/otk-tabs-carousel/overflow-arrow-notify.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #595959),
		color-stop(1, #717171)
	);
}

/* OVERFLOW MENU BUTTON SEPARATOR LINE */

.otk-tabs-carousel.overflowed button.overflow:before
{
	background-image: url(../images/otk-tabs-carousel/divider.png);
	background-repeat: no-repeat;
	background-color: none;

	width: 2px;
	height: 34px;

	position: absolute;
	top: -3px; left: -7px;

	content: '';	
}

/* BOTTOM EDGE */

.otk-tabs-carousel > .carousel > .bottom-edge
{
	position: absolute;
	height: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid white;
	pointer-events: none;
}


/* OVERFLOW MENU */

.otk-tabs-carousel .overflow-menu
{
	display: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #ffffff),
		color-stop(1, #eeebed)
	);
	border: 1px solid #ffffff;
	position: absolute;
	right: 0px;
	top: 39px;
	-webkit-border-radius: 4px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.4);
	overflow: hidden;
	z-index: 99999;
}

/* OVERFLOW MENU ITEM LIST */

.otk-tabs-carousel .overflow-menu ul.items
{
	position: relative;
	top: 0;
	
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}

/* OVERFLOW MENU LI ITEMS */

.otk-tabs-carousel .overflow-menu ul.items > li
{
	position: relative;
	padding: 8px 6px 4px 6px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	text-shadow: 0px 1px 1px #ffffff;
}

.otk-tabs-carousel .overflow-menu ul.items > li:hover
{
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0,0,0,.25);
	background-color: #ff9b00;
	-webkit-border-radius: 4px;
}

.otk-tabs-carousel .overflow-menu ul.items > li:hover.selected
{
	padding: 7px 5px 3px 5px;
	border: 1px solid #ffffff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.otk-tabs-carousel .overflow-menu ul.items > li:not(:hover).selected
{
	background-color: #d9d9d9;
	padding: 7px 5px 3px 5px;
	border: 1px solid #ffffff;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

/* IF WE HAVE ANY CUSTOM GLYPHS, OVERRIDE THE COLOR AND SHADOW WHEN HOVERED */
.otk-tabs-carousel .overflow-menu ul.items > li:hover > .icon1 > .otk-custom-glyph > .shadow,
.otk-tabs-carousel .overflow-menu ul.items > li:hover > .icon2 > .otk-custom-glyph > .shadow
{
	background-color: #000000 !important;
	opacity: .3 !important;
}
.otk-tabs-carousel .overflow-menu ul.items > li:hover > .icon1 > .otk-custom-glyph > .glyph,
.otk-tabs-carousel .overflow-menu ul.items > li:hover > .icon2 > .otk-custom-glyph > .glyph
{
	background-color: #ffffff !important;
}

.otk-tabs-carousel .overflow-menu ul.items > li .title
{
	display: inline-block;
	position: relative;
}

/* OVERFLOW MENU COUNT BADGES */

.otk-tabs-carousel .overflow-menu ul.items > li .otk-count-badge
{
	display: inline-block;
	position: relative;
	margin-left: 5px;
	top: -1px;
}

/* OVERFLOW MENU ICONS */

.otk-tabs-carousel .overflow-menu ul.items > li .icon1,
.otk-tabs-carousel .overflow-menu ul.items > li .icon2
{
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
}

/* OVERFLOW MENU SCROLL AREA */

.otk-tabs-carousel .overflow-menu > .scroll-area
{
	display: block;
	overflow: hidden;
	padding: 10px;
	margin: 0;
}

/* OVERFLOW MENU SCROLL BUTTONS */

.otk-tabs-carousel .overflow-menu > .scroll-button
{
	display: none;
	position: relative;
	margin: 0; padding: 0;
	height: 20px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
}

.otk-tabs-carousel .overflow-menu > .scroll-up
{
	background-image: url(../images/otk-tabs-carousel/scroll-up-arrow.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #f7f5f6),
		color-stop(1, #eeeced)
	);
}

.otk-tabs-carousel .overflow-menu > .scroll-up:after
{
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid #cdcccc;
}

.otk-tabs-carousel .overflow-menu > .scroll-down
{
	background-image: url(../images/otk-tabs-carousel/scroll-down-arrow.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #f7f5f6),
		color-stop(1, #eeeced)
	);
}

.otk-tabs-carousel .overflow-menu > .scroll-down:before
{
	content: '';
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid #cdcccc;
}

.otk-tabs-carousel .overflow-menu.overflowed > .scroll-up:after,
.otk-tabs-carousel .overflow-menu.overflowed > .scroll-down:before,
.otk-tabs-carousel .overflow-menu.overflowed > .scroll-button
{
	display: block;
}

.otk-tabs-carousel .overflow-menu.overflowed > .scroll-button[disabled]
{
	opacity: .4;
}

