.otk-callout
{
	position:absolute;
	border: 3px solid #1a9bd2;
	z-index: 1;
	margin-top: 7px;
	border-radius: 6px;
	min-width: 200px;
	max-width: 260px;
	background: rgb(248,248,248); /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%, #e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 0%, #e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.otk-callout:before {
	bottom: 100%;
	left: 50%;
	content: " ";
	height: 15px;
	width: 22px;
	margin: 0 0 0 -15px;
	padding: 0;
	position: absolute;
	pointer-events: none;
	background: url('../images/otk-callout/carrot-blue-border.png') no-repeat 0 0;
}

.otk-callout.left:before
{
	left: 12px;
	width: 19px;
	background: url('../images/otk-callout/carrot-blue-border-left.png') no-repeat 0 0;
}

.otk-callout.right:before
{
	left: 99.7%;
	width: 19px;
	background: url('../images/otk-callout/carrot-blue-border-right.png') no-repeat 0 0;
}

.otk-callout.bottom:before
{
	bottom: -15px;
	background-position: 0 -15px;
}

.otk-callout header
{
	background-color: #e2e2e2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.otk-callout.right
{
	left:auto!important;
}

.otk-callout.right.top,
.otk-callout.right.top  header
{
	border-top-right-radius: 0px;
}

.otk-callout.right.bottom
{
	border-bottom-right-radius: 0px;
}

.otk-callout.left.bottom
{
	border-bottom-left-radius: 0px;
}

.otk-callout.left,
.otk-callout.left header
{
	border-top-left-radius: 0px;
}

.otk-callout h5
{
	margin: 0;
	text-transform: uppercase;
	line-height: 1.4;
}

.otk-callout .content-line
{
	display: table;
	padding: 10px;
}

.otk-callout .icon
{
	display: table-cell;
	width: 32px;
	height: 32px;
	content: url('../images/otk-callout/info_large.png');
	background-color: #2896CE;
	border: 6px solid #2896CE;
	border-radius: 4px;
}

.otk-callout .titles-container
{
	width: 100%;
	display: table-cell;
	padding-left: 8px;
	padding-right: 15px;
	vertical-align: middle;
}

.otk-callout .new-title
{
	color: #2896CE;
}

.otk-callout .otk-close-button
{
	position: absolute;
	right: 8px;
	top: 8px;
}

.otk-callout section:before
{
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid #fff;
	display: block;
	height: 0px;
	content: " ";
	width: 100%;
	position: absolute;
	left: 0;
}

.otk-callout section > span:not(:last-child)
{
	padding-bottom: 0px;
}

.otk-callout .content-text
{
	display: table-cell;
	vertical-align: middle;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.otk-callout .content-img
{
	margin-right: 8px;
	width: 45px;
	text-align: center;
}