
.otk-mini-level-indicator
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	display: inline-block;
}

.otk-mini-level-indicator[data-orientation="vertical"]
{
	width: 10px;
}

.otk-mini-level-indicator[data-orientation="horizontal"]
{
	height: 10px;
}

.otk-mini-level-indicator > .segment
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	background-color: #cccccc;
	padding: 0;
	margin: 0;
}

.otk-mini-level-indicator[data-orientation="vertical"] > .segment
{
	display: block;
	height: 2px;
	width: 100%;
	border-bottom: 1px solid white;
}

.otk-mini-level-indicator[data-orientation="horizontal"] > .segment
{
	display: inline-block;
	height: 100%;
	width: 2px;
	margin-right: 2px;
	border-bottom: 1px solid white;
}

.otk-mini-level-indicator > .segment.lit
{
	background-color: #269dcf;
}

