
/* Colors:
    default
    Color-Green
*/

.otk-divider.vertical
{
	border-left: 1px solid #888;
	border-right: 1px solid #d5d5d5;
	width: 0px;
}

.otk-divider.horizontal
{
	border-top: 1px solid #888;
	border-bottom: 1px solid #d5d5d5;
	height: 0px;
}

.otk-divider-flag
{
	border: 1px solid #bdbdbd;
	padding: 4px 6px;
	color: #858585;
	font-weight: bold;
	font-size: 11px;
	background-color: #eaeaea;
	line-height: 11px;
	display: inline-block;
	z-index: 1;
}

.otk-divider.vertical[color="Color-Green"]
{
	border-left: 1px solid #1b5101;
	border-right: 1px solid #95dd33;
}

.otk-divider.horizontal[color="Color-Green"]
{
	border-top: 1px solid #1b5101;
	border-bottom: 1px solid #95dd33;
}

.otk-divider-flag[color="Color-Green"]
{
	border: 1px solid #1b5101;
	color: #fff;
	background-color: #2a7c01;
	box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.3);
}
