
/* CHECKBOX BOX AREA */

input[type=checkbox].otk-checkbox
{
    outline: none;
    -webkit-box-shadow: inset 1px 1px 4px #999;
	background: #fff;
	width:22px; height:21px;
    border: 1px solid #ffffff;
    -webkit-appearance:none;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    
	position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 8px;
    top: 5px;
}

label.vertical input[type=checkbox].otk-checkbox
{
	display: block;
	margin: 0px 3px;
	margin-bottom: 12px;
}

input[type=checkbox]:focus.otk-checkbox
{
	-webkit-box-shadow: none;
}

input[type=checkbox][disabled].otk-checkbox,
input[type=checkbox].disabled.otk-checkbox
{
	opacity: .4;
    background: #dcdcdc;
}

/* FOCUS INDICATOR */

input[type=checkbox].otk-checkbox:focus:before
{
	display: inline;
	content: '';
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
    border: 2px solid #eebd67;
    top: 0; right: 0; bottom: 0; left: 0;
}

/* THE CHECK MARK */

input[type=checkbox].otk-checkbox:after
{
	display: none;
	content: '';
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	position: absolute;
	width: 9px; height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #ff9900;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
}

input[type=checkbox].otk-checkbox:checked:after
{
	display: inline;
}

