.otk-expand-collapse-indicator
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	border: none;
	outline: none;
	background-color: inherit;
	width: 0;
	height: 0;

	border-top: 5.7px solid transparent;	
	border-left: 5.7px solid;
	border-left-color: rgb(68,68,68); /* YOU CAN CUSTOMIZE THE COLOR OF THE INDICATOR BY OVERRIDING THIS */
	display: inline-block;
	
	-webkit-transform: rotate(225deg) ;
	transform: rotate(225deg);	
}

.otk-expand-collapse-indicator.expanded
{
	-webkit-transform: rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);	
	
	transform-origin:25% 25%;
	-ms-transform-origin:25% 25%;
	-webkit-transform-origin:25% 25%;
}
