
.otk-hyperlink
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #269dcf;
	outline: none;
	text-shadow: none;
	cursor: pointer;
}

.otk-hyperlink:hover
{
	text-decoration: underline;
}

.otk-hyperlink:active
{
	color: #106487!important;
	text-decoration: underline;
}

.otk-hyperlink[disabled],
.otk-hyperlink[disabled]:hover,
.otk-hyperlink[disabled]:active,
.otk-hyperlink.disabled,
.otk-hyperlink.disabled:hover,
.otk-hyperlink.disabled:active
{
	pointer-events: none;
	cursor: default;
	color: #b0b0b0;
}