/* Progress Bar Animation */
@-webkit-keyframes progress-normal {
	from { background-position: 0 0; }
	to { background-position: 35px 35px; }
}
@keyframes progress-normal {
	from { background-position: 0 0; }
	to { background-position: 35px 35px; }
}

@-webkit-keyframes progress-indeterminate {
	from { background-position: 35px 35px; }
	to { background-position: 0 0; }
}
@keyframes progress-indeterminate {
	from { background-position: 35px 35px; }
	to { background-position: 0 0; }
}

.otk-progressbar
{
	height: 20px;
	border-radius: 5px;
	border: 1px solid #fdf8f1;
	background-color: #c0c0c0;
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #a1a1a1),
		color-stop(1, #c0c0c0)
	);
	-webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 6px rgba(0,0,0,0.3);
	position: relative;
}

.otk-progressbar.complete
{
	border: 1px solid #d3d3d3;
	background: #dbdbdb;
}

.otk-progressbar > .bar,
.otk-progressbar[color="Color-Blue"] > .bar
{
	float: left;
	height: 100%;
	background-image: -webkit-gradient(
		linear, 0 0, 100% 100%,
		color-stop(.25, #5d9ccc),
		color-stop(.25, #6bb4e4),
		color-stop(.5, #6bb4e4),
		color-stop(.5, #5d9ccc),
		color-stop(.75, #5d9ccc),
		color-stop(.75, #6bb4e4),
		to(#6bb4e4)
	);
	box-shadow: inset 0px -10px 10px rgba(0,0,0,0.2);
	background-size: 35px 35px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/* transformZ is used to fool the browser into using the GPU to accelerate the animation for better performance 
	http://stackoverflow.com/questions/10814178/css-performance-relative-to-translatez0
	*/
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.otk-progressbar > .bar[data-progress-value="100"]
{
	border-radius: 5px;
}

.otk-progressbar[color="Color-Green"] > .bar
{
	background-image: -webkit-gradient(
		linear, 0 0, 100% 100%,
		color-stop(.25, #87d800),
		color-stop(.25, #80c700),
		color-stop(.5, #80c700),
		color-stop(.5, #87d800),
		color-stop(.75, #87d800),
		color-stop(.75, #80c700),
		to(#80c700)
	);
}

.otk-progressbar.active > .bar
{
	height: 19px;
	border-left: 1px solid rgba(55,106,171,0.6);
	border-top: 1px solid rgba(55,106,171,0.6);
	-webkit-animation: progress-normal 3s linear infinite;
	animation: progress-normal 3s linear infinite;
	-webkit-animation-play-state: running;
}

.otk-progressbar.indeterminate > .bar
{
	box-shadow: inset 1px 2px 1px rgba(0,0,0,0.3);
	-webkit-animation: progress-indeterminate 1.5s linear infinite;
	animation: progress-indeterminate 1.5s linear infinite;
	-webkit-animation-play-state: running;
}

.otk-progressbar.paused > .bar
{
	-webkit-animation-play-state: paused;
	background-image: -webkit-gradient(
		linear, 0 0, 100% 100%,
		color-stop(.25, #a7a7a7),
		color-stop(.25, #c3c3c3),
		color-stop(.5, #c3c3c3),
		color-stop(.5, #a7a7a7),
		color-stop(.75, #a7a7a7),
		color-stop(.75, #c3c3c3),
		to(#c3c3c3)
	);
	height: 19px;
	border-left: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(0,0,0,0.3);
}

.otk-progressbar.complete > .bar
{
	box-shadow: none;
	background: #dbdbdb;
}

.otk-progressbar > .bar[data-progress-value="0"]
{
	border-left: 0;
}

.otk-progressbar > .text
{
	position: absolute;
	line-height: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 5px;
	color: #333;
}

.otk-progressbar > .otk-divider
{
	position: relative;
	z-index: 5;
	top: -2px;
	height: 125%;
}

.otk-progressbar.indeterminate:before
{
	border-radius: 5px;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: -webkit-linear-gradient(
		left,
		#c0c0c0 0%,
		#c0c0c0 5%,
		rgba(192,192,192,0) 50%,
		#c0c0c0 95%,
		#c0c0c0 100%
	);
}