@-webkit-keyframes otk-spinner-rotate {
  from {
    -webkit-transform: rotate(0deg) translate3d(0,0,0);
  }
  to { 
    -webkit-transform: rotate(360deg) translate3d(0,0,0);
  }
}

.otk-spinner-large, .otk-spinner-medium, .otk-spinner-small
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	/* background circle */
	width: 65px;
	height: 65px;
	background-color: rgb(181,181,181);
	border-radius: 32.5px;
	border-style: solid;
	border-width: 0;

   	position: relative;
}

.otk-spinner-large.animated, .otk-spinner-medium.animated, .otk-spinner-small.animated
{
    /* set up rotation animation */
    -webkit-animation-name:             otk-spinner-rotate; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

.otk-spinner-large:before, .otk-spinner-medium:before, .otk-spinner-small:before
{
	/* inner ring */
	position: absolute;
	content: "";
	top: 6px; left: 6px;
	width: 53px;
	height: 53px;
	background-color: transparent;
	border-radius: 26.5px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.otk-spinner-large:after, .otk-spinner-medium:after, .otk-spinner-small:after
{
	/* bead on the ring */
	position: absolute;
	content: "";
	top: 2px; left: 28px;
	width: 13px;
	height: 13px;
	border-radius: 8px;
	border-width: 3px;

	background-color: white;
	border-style: solid;
	border-color: rgb(181,181,181);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.otk-spinner-medium
{
	/* background circle */
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.otk-spinner-medium:before
{	
	/* inner ring */
	width: 18px;
	height: 18px;
	border-radius: 9px;
	border-width: 2px;	
}
.otk-spinner-medium:after
{
	/* bead on the ring */
	top: 12px; left: 18px;
	
	width: 9.5px;
	height: 9.5px;
	border-radius: 6px;
	border-width: 2.5px;
}

.otk-spinner-small
{
	/* background circle */
	width: 16px;
	height: 16px;
	border-radius: 8px;
}
.otk-spinner-small:before
{
	/* inner ring */
    top: 2px; left: 2px;
    
	width: 12px;
	height: 12px;
	border-radius: 6px;
	border-width: 1px;	
}
.otk-spinner-small:after
{
	/* bead on the ring */
    top: 2px; left: 2px;
	
	width: 5px;
	height: 5px;
	border-radius: 3px;
	border-width: 1.5px;
}

.otk-spinner-validating
{
    width: 16px;
    height: 16px;

    /* set up rotation animation */
    -webkit-animation-name:             otk-spinner-rotate; 
    -webkit-animation-duration:         1.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;

    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; 
    -webkit-transform-origin:50% 50%;     
}

.otk-spinner-validating-left, .otk-spinner-validating-right
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	width: 7px;
	height: 16px;
    overflow: hidden;
    
   	position: relative;
}
.otk-spinner-validating-left:before, .otk-spinner-validating-right:before
{
	/* inner ring */
	position: absolute;
	content: "";
	top: 2px; left: 2px;
	height: 12px;
	width: 6px;
	background-color: transparent;
	border-radius: 6px 0 0 6px;
	border-style: solid;
	border-width: 2px;
    border-right-width: 0;
	border-color: rgb(106,106,106);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.otk-spinner-validating-left:after, .otk-spinner-validating-right:after
{
    /* arrowhead */
	position: absolute;
	content: "";
	top: 2px; left: 2px;
    border-top: 5px solid rgb(106,106,106);
    border-left: 5px solid transparent;
    width: 0; height: 0;
}

.otk-spinner-validating-right
{
    top: -16px;
    left: 9px;
    -webkit-transform: rotate(180deg);
}

/* spinner container, used with .spinner-centered classes */
.fullpage-spinner-container{
    position:absolute;
    height:100%;
    width:100%;
    margin:0 auto;
}

.spinner-centered {
    position: relative;
    margin:0 auto;
	top: 50%;
}

.otk-spinner-large.spinner-centered {
	margin-top: -32.5px; /* 0.5 times height of large spinner */
}

.otk-spinner-medium.spinner-centered {
	margin-top: -15px; /* 0.5 times height of medium spinner */
}

.otk-spinner-small.spinner-centered {
	margin-top: -8px; /* 0.5 times height of small spinner */
}

.otk-spinner-validating.spinner-centered {
	margin-top: -8px; /* 0.5 times height of validating spinner */
}
