
.otk-radio-rating
{
	display: inline-block;
}

.otk-radio-rating .lessLabel
{
	float: left;
	width: 45%;
	margin: 0;
	font-size: 12px;
}

.otk-radio-rating .moreLabel
{
	text-align: right;
	float: right;
	width: 45%;
	margin: 0;
	font-size: 12px;
}

.otk-radio-rating .divider
{
	clear: both;
}

