Origin--UIToolkit--OriginTooltip {
    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
    background-image: url(:/OriginCommonControls/OriginTooltip/questionMark.png) no-repeat;
    min-width: 13px;
    max-width: 13px;
    min-height: 13px;
    max-height: 13px;
}