<div ng-class='{
    "origin-gameprogress": true,
    "otkprogress": true,
    "otkprogress-radial": true,
    "otkprogress-radial-isactive": downloadState == "active",
    "otkprogress-radial-ispaused": downloadState == "paused",
    "otkprogress-radial-iscomplete": downloadState == "complete",
    "otkprogress-radial-isgt50": percent > 50}' ng-hide="isNotDownloading">
    <div class="otkprogress-radial-progress">
        <div class="otkprogress-radial-progressfill"></div>
    </div>
    <div class="otkprogress-radial-center">
        <span class="otkprogress-percent origin-gameprogress-percent">{{percent}}%</span>
        <span class='l-origin-gameprogress-ctas'>
            <origin-game-progress-ctas offerid='{{offerId}}'></origin-game-progress-ctas>
        </span>
    </div>
    <span class="otkprogress-status otktitle-5 otktitle-5-caps">{{stateStr}}...</span>
</div>

