<svg class="origin-blurredimage-svg" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <image class="originblurred-svg-image" x="{{::options.x}}" y="{{::options.y}}" xlink:href="" ng-href="{{ ::imageUrl }}" width="{{::options.width}}" height="{{::options.height}}" filter="url(#origin-blurredimage-svgblurfilter)"></image>
    <filter id="origin-blurredimage-svgblurfilter">
        <feGaussianBlur class="origin-blurredimage-svg-stddeviation" stdDeviation="0" stdDeviationX="0" stdDeviationY="0"></feGaussianBlur>
    </filter>
</svg>
