<section class="origin-toast-dialog">
    <div class="meta-image">
        <div ng-show="toasttype == 'simple'" class="">
            <i ng-show="toasticon != ''" class="otkicon otkicon-checkcircle"></i>
        </div>
    </div>
    <article>
        <span ng-show="toasttitle" class="otktitle-2 ng-binding">{{toasttitle}}</span>
        <br ng-show="toasttitle &amp;&amp; toastbody" class="ng-hide">
        <span ng-show="toastbody" class="otktitle-4 ng-hide"><strong class="ng-binding"></strong></span>
    </article>
</section>
