<nav class="otknavbar origin-pills" ng-class='{"origin-pills-light": theme === "light"}' role="navigation">
    <ul ng-class='{"otknav-pills-light": theme === "light"}' class="otknav otknav-pills origin-pills-nav origin-pills-nav-ishidden">
        <li class="otkpill" ng-class='{"otkpill-light": theme === "light"}' ng-repeat='item in navItems | limitTo:maxItems track by $index'>
            <a ng-href="{{item.href}}" ng-click="navItemClick($event, item, $index)">{{item.anchorName}}</a>
        </li>
        <li class="otkpill otkpill-overflow otkdropdown" ng-class='{"otkpill-light": theme === "light"}'>
            <a href="javascript:void(0);" class="otkdropdown-trigger otkdropdown-trigger-caret" ng-click="toggleDropdown()">More</a>
            <div ng-class="{'otkdropdown-isvisible': showDropdown}"
                class="otkdropdown-wrap otkdropdown-wrap-arrowright">
                <ul class="otkmenu otkmenu-dropdown otktitle-5 otktitle-5-caps" role="menu">
                    <li role="presentation"
                        ng-repeat="item in hiddenNavItems track by $index"
                        ng-class="{'otkmenu-item-isactive': selectedIndex === maxItems + $index}">
                        <a role="menuitem" tabindex="-1" ng-href="{{item.href}}" ng-click="navItemClick($event, item, $index + maxItems)">{{item.anchorName}}</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="otknav-pills-bar origin-pills-bar"></div>
    <span class="otkselect origin-pills-select">
        <select ng-model='navSelectValue' ng-change='onChange(navSelectValue)'>
            <option ng-repeat='item in navItems track by $index'
                value='{{$index}}'
                ng-selected='selectedIndex === $index'>{{item.anchorName}}</option>
        </select>
        <span class="otkselect-label">{{navItems[selectedIndex].anchorName}}</span>
    </span>
</nav>
