<div class="origin-social-hub-roster-area">

    <!-- Filter -->
    <section ng-show="rosterState === 'LOADED'" class="origin-social-hub-roster-area-friends-filter otkform-group">
        <div class="otkform-group-field origin-social-hub-roster-area-friends-filter-group-field">
			<span ng-show="filterText.length > 0" class="origin-social-hub-roster-area-friends-clear-filter">
				<i class="otkicon otkicon-closecircle"></i>
			</span>			
            <input type="text" class="origin-social-hub-roster-area-friends-filter-group-input otkfield otkfield-input-filter" placeholder="{{searchFriendsLoc}}"></input>
        </div>
        <span class="origin-social-hub-roster-area-friends-add-friends">
            <i class="otkicon otkicon-addcontact"></i>
        </span>
    </section>
	
    <!-- Loading -->
    <section ng-show="rosterState === 'LOADING'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-loading">
    </section>

    <!-- Error -->
    <section ng-show="rosterState === 'ERROR'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-error">
        <origin-social-hub-cta titleTxt="{{errorLoadingFriendsListCtaTitleLoc}}" parTxt="{{errorLoadingFriendsListCtaDescLoc}}"></origin-social-hub-cta>
    </section>
    
    <!-- No Friends -->
    <section ng-show="rosterState === 'NOFRIENDS'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-nofriends">
        <origin-social-hub-cta titleTxt="{{noFriendsCtaTitleLoc}}" parTxt="{{noFriendsCtaDescLoc}}" btnTxt="{{noFriendsCtaButtonLoc}}"></origin-social-hub-cta>
    </section>

    <!-- Has Friends -->
    <section ng-show="rosterState === 'LOADED'" class="origin-social-hub-roster-area-list origin-social-hub-roster-area-list-roster">

        <div class="origin-social-hub-roster-area-viewport">		
            <origin-social-hub-roster-section filter="INCOMING" titlestr="{{friendRequestsReceivedLoc}}" keyeventtarget="section"></origin-social-hub-roster-section>
            <origin-social-hub-roster-section filter="OUTGOING" titlestr="{{pendingApprovalLoc}}" keyeventtarget="section"></origin-social-hub-roster-section>
            <!-- hold off on favorites until supported on the backend
			<origin-social-hub-roster-section filter="FAVORITES" titlestr="{{favoritesLoc}}" keyeventtarget="section"></origin-social-hub-roster-section>
			-->
            <origin-social-hub-roster-section filter="FRIENDS" showonlinecount="true" titlestr="{{friendsLoc}}" keyeventtarget="section"></origin-social-hub-roster-section>
        </div>

    </section>
</div>

