<div class="origin-hometile">
    <div class="origin-hometile-container" origin-touch="touched(event)">
        <div class='origin-hometile-image' ng-style="{'background-image':'url('+image+')'}"></div>
        <div class='origin-hometile-overlay ng-class:{"origin-hometile-overlay-isvisible": isDownloading}' ng-if="::isTouchDisable">
            <div class="origin-hometile-overlay-content">
                <a ng-click="navigateToGame()" class='otka origin-hometile-overlay-link'>
                    <h2 class="otktitle-2 origin-hometile-overlay-content-title" ng-bind-html="gamename"></h2>
                </a>
                <origin-cta-downloadinstallplay ng-if='offerId' offerid="{{::offerId}}" fallbacktext="" type="primary" ng-hide='isDownloading'></origin-cta-downloadinstallplay>
                <origin-cta-loadurlinternal ng-if='!offerId' href='{{ctaUrl}}' description='{{ctaText}}' type="primary"></origin-cta-loadurlinternal>
                <div class='l-origin-hometile-gameprogress' ng-show='isDownloading'>
                    <origin-game-progress offerid='{{::offerId}}'></origin-game-progress>
                </div>
                <a href="{{linkUrl}}" ng-show="linkText" class="origin-hometile-secondarycta">{{::linkText}}</a>
            </div>
        </div>
        <div class="origin-hometile-title" ng-hide='isDownloading || !gamename'>
            <h2 class="otktitle-2" ng-bind-html="gamename"></h2>
        </div>
    </div> <!-- tile-img-wrapper end -->

    <div class="origin-hometile-support-text">
        <h1 class="otktitle-2 origin-hometile-support-text-title" ng-bind-html="subtitle"></h1>
        <p class="origin-hometile-support-text-paragraph">
            <span ng-bind-html="description" ng-if="!displayFriends"></span>
            <origin-game-friendsplaying-text offerid="{{::offerId}}" text="{{description}}" ng-if="displayFriends"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display offerid="{{::offerId}}" userid="{{::userId}}" ng-show="offerId"></origin-game-friendsplaying-display>
        <origin-store-price offer-id={{::priceOfferId}} ng-if="priceOfferId && displayPrice" hide-owned-state="true"></origin-store-price>
    </div><!-- .support-text end -->
</div>


