<div class="origin-store-carousel-banner" ng-click='onBtnClick()' ng-class="{'carousel-item-linked': href}">
    <div class="origin-store-carousel-banner-img-wrapper">
        <img src="{{ image }}" alt="">
    </div>
    <div class="origin-store-carousel-banner-caption-wrapper" ng-class="contentClass">
        <h1 class="otktitle-page origin-store-carousel-banner-caption">{{ title }}</h1>
        <origin-store-timer ng-if="timerActive" goal-date="{{ goalDate }}"></origin-store-timer>
        <p ng-if="!timerActive" class="otktitle-3">{{ subtitle }}</p>
        <p class="otkc" ng-transclude></p>
        <origin-cta-playvideo ng-if="videoid" actionid="play-video" videoid="{{ videoid }}" restrictedage="{{ restrictedage }}" description="{{ videoDescription }}" type="round"></origin-cta-playvideo>
    </div>
</div>
