<example>
<para>Test to show how specifying duplicate source files doesn't cause problems.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo file="source.txt">A temp file.</echo>
    <copy todir="out">
        <fileset>
            <includes name="Source.txt"/>
            <includes name="Source.txt"/>
            <includes name="*/**.txt"/>
        </fileset>
    </copy>
    <fail message="File did not copy." unless="@{FileExists('out/source.txt')}"/>
</project>
]]>
</code>
</example>