<example>
<para>Copy a single file.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo file="source.txt">A temp file.</echo>
    <copy file="source.txt" tofile="destination.txt"/>
    <fail message="File did not copy." unless="@{FileExists('destination.txt')}"/>
</project>
]]>
</code>
</example>