<example>
<para>Create a report in HTML.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <target name="DoXslt">
        <style style="mytest.xsl" in="data.xml"/>	
    </target>
</project>
]]>
</code>
</example>
