<example>
<para>Include the build script in the <c>other.xml</c> file.</para>
<code file="Default.build">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <include file="Component.xml"/>
    <fail message="Included script didn't execute" unless="@{FileExists('out.txt')}"/>
</project>
]]>
</code>
<para>Where <c>Component.xml</c> contains:</para>
<code file="Component.xml">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo file="out.txt" message="The component build file."/>
</project>
]]>
</code>
</example>

