<div class="l-origin-oig-addonstore">
    <div ng-show="!checkoutActive">
        <div class="origin-sitestripe" ng-if="isStripeVisible()">
            <p class="origin-sitestripe-message otkc otkc-small">
                <span class="otkicon otkicon-warning origin-sitestripe-icon origin-sitestripe-message-passive"></span>
                <span class="origin-sitestripe-message-text" ng-bind-html="::stripeTitleLoc"></span>
            </p>
            <p class="origin-sitestripe-reason otkc otkc-small" ng-bind-html="::stripeBodyLoc"></p>
        </div>
        <div class="otkmodal-header" ng-class="{'origin-oig-addonstore-header-padded': isStripeVisible()}">
            <h4 class="otkmodal-title otktitle-2" ng-bind-html="::titleLoc"></h4>
        </div>
        <div class="otkmodal-body origin-oig-addonstore-body" ng-class="{'origin-oig-addonstore-body-small': isStripeVisible()}">
            <origin-gamelibrary-ogd-expansions offerid="{{baseGameOfferId}}" context="addonstore" whitelist="whitelist" blacklist="blacklist" ng-if="baseGameOfferId"></origin-gamelibrary-ogd-content>
        </div>
    </div>
    <div ng-show="checkoutActive">
        <origin-oig-checkout></origin-oig-checkout>
    </div>
</div>