<div class="origin-store-freegames-offermodule l-origin-store-column-full">
    <div class="origin-store-freegames-offermodule-bg-scrim">
        <div class="origin-store-freegames-offermodule-scrim"></div>
        
        <div class="origin-store-freegames-offermodule-content origin-store-freegames-{{ alignment }}">
            <h2 class="otktitle-page ng-binding">{{ title }}</h2>
            <h4 class="otktitle-3 ng-binding">{{ subtitle }}</h4>
            <br>
            <origin-cta-loadurlinternal 
                href="{{ href }}" 
                description="{{ description }}" 
                type="transparent">
            </origin-cta-loadurlinternal>
        </div>
        
        <div class="origin-store-freegames-offermodule-offer origin-store-freegames-{{ alignment }}">
            <img src="{{ packart }}" alt="{{ offertitle }}" class="origin-store-freegames-offermodule-offer-packart">
            <h2 class="otktitle-2">{{ offertitle }}</h2>
            <h4 class="otktitle-4">{{ offersubtitle }}</h4>
            <origin-store-cta offerid="{{ offerid }}" showinfobubble="true"></origin-store-cta>
            <p class="otkc otkc-small origin-store-freegames-offermodule-offer-description">
                <strong class="ng-binding">{{ offerdescriptiontitle }}</strong>
                <br>
                {{ offerdescription }}
            </p>
        </div>
    </div>
    
    <div class="origin-store-freegames-offermodule-image-wrapper">
        <div class="origin-store-freegames-offermodule-image-wrapper-inner">
            <div class="origin-store-freegames-offermodule-image-scrim-right"></div>
            <div class="origin-store-freegames-offermodule-image-scrim-left"></div>
            <img src="{{ image }}" alt="" class="origin-store-freegames-offermodule-image">
        </div>
    </div>
</div>
