<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2" ng-bind-html="strings.titleStr"></h4>
</div>

<div class="otkmodal-body origin-store-gift-custommessage-wrapper origin-telemetry-store-gift-custommessage">

    <div class="origin-store-gift-custommessage-leftcolumn">

        <div ng-click="onBack()" class="otktitle-5 otktitle-5-caps origin-store-gift-custommessage-backbtn origin-store-gift-custommessage-marginbottom" ng-hide="::(hidebackbtn === 'true')">
            <i class="otkicon otkicon-leftarrowcircle origin-store-gift-custommessage-backbtnicon"></i>
            <span class="origin-store-gift-custommessage-backbtnlabel" ng-bind="::strings.backStr"></span>
        </div>

        <p class="otkc origin-store-gift-custommessage-messageheader origin-store-gift-custommessage-marginbottom" ng-bind-html="::strings.sendingHint"></p>
        <label for="origin-store-gift-custommessage-yourname" class="otktitle-4 otkinput-label" ng-bind="::strings.fromStr"></label>
        <div class="otkinput origin-store-gift-custommessage-recipient origin-store-gift-custommessage-marginbottom" ng-class="{'otkinput-iserror' : !isValid}" >
            <input id="origin-store-gift-custommessage-yourname" class="origin-telemetry-store-gift-custommessage-yourname" type="text" placeholder="{{::strings.yournameHint}}" tabindex="1"
                   maxlength="64"
                   ng-model="recipientName" ng-blur="onInputBlur()"/>
        </div>
        <p class="otkinput-errormsg" ng-bind="::strings.nameRequiredError" ng-show="!isValid"></p>
        <div class="otktextarea">
            <textarea  maxlength="{{::maxMessageLength}}" ng-model="message" ng-change="onTextAreaChange()" ng-trim="false" abindex="2" placeholder="{{::strings.yourMessageHint}}">
            </textarea>
        </div>
        <p class="origin-store-gift-custommessage-charactersremain otkc otkc-small" ng-bind="charsRemaining"></p>
    </div>
    <div class="origin-store-gift-custommessage-rightcolumn">
        <img ng-src="{{packArtLarge}}" />
    </div>
</div>

<div class="otkmodal-footer">
    <button class="otkbtn otkbtn-primary" ng-click="onNext()" ng-disabled="!isValid">
        <span ng-bind="::strings.nextStr"></span>
    </button>
</div>
