<div class="origin-store-gift-friendtile origin-tile origin-telemetry-store-gift-friendtile origin-tile" ng-click="onClick()"
     ng-class="{'origin-store-gift-friendtile-disabled origin-telemetry-store-gift-friendtile-disabled' : (eligibility === 'already_owned' || eligibility === 'ineligible_to_receive' || eligibility === 'not_eligible' || eligibility === 'unknown'),
     'origin-store-gift-friendtile-selected origin-telemetry-store-gift-friendtile-selected' : (eligibility !== 'already_owned' && eligibility !== 'ineligible_to_receive' && eligibility !== 'not_eligible' && eligibility !== 'unknown' && selected), 'origin-store-gift-friendtile-dimmed origin-telemetry-store-gift-friendtile-dimmed': !selected && anotherFriendTileSelected}">
    <div class="origin-store-gift-friendtile-user">
        <div class="origin-store-gift-friendtile-avatar">
            <origin-avatar avatar-size="small" nucleusid="{{nucleusId}}" click-override="onAvatarClick($event)"></origin-avatar>
        </div>
        <div class="origin-store-gift-friendtile-userinfo">
            <h3 class="otktitle-4" ng-bind="userInfo.username"></h3>
            <h3 class="otktitle-4" ng-bind="userInfo.fullname"></h3>
        </div>
    </div>
    <div class="origin-store-gift-friendtile-eligibility">

        <span class="otktitle-4 origin-store-gift-friendtile-status" ng-class="{'origin-store-gift-friendtile-onwishlist': eligibility === 'on_wishlist'}" ng-bind="eligibilityStr"></span>
        <i class="otkicon origin-store-gift-friendtile-action" ng-hide="selected && loading" ng-class="{'otkicon-add' : !selected, 'otkicon-checkcircle' : selected}"></i>
        <div class="origin-store-gift-friendslist-loader" ng-show="selected && loading"></div>
    </div>
</div>
