<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2" ng-bind-html="::strings.titleStr"></h4>
</div>

<div class="otkmodal-body origin-store-gift-friendslist-wrapper origin-telemetry-gift-friendslist-overlay">
    <div class="otkinput otkinput-filter origin-store-gift-friendslist-searchinput">
        <i class="otkinput-icon otkicon otkicon-search"></i>
        <input id="filter-by-text"
               class="otkfield-input origin-telemetry-otkfield-input"
               type="text"
               ng-model="searchKeyword"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
               ng-change="searchForKeyword()"
               placeholder="{{::strings.searchInputHint}}">
        <i class="otkinput-clear otkicon otkicon-closecircle" ng-show="searchKeyword" ng-click="resetSearchResults()"></i>
    </div>
    <div class="origin-store-gift-friendslist-nofriends" ng-show="searchInProgress === false && displayedUsers.length === 0">
        <div class="page-message">
            <h2 class="otktitle-2 message-title" ng-hide="errorOccured || !searchKeyword"><span ng-bind-html="strings.noResultsFound"></span></h2>
            <h3 class="otktitle-3 message-copy" ng-hide="errorOccured || !searchKeyword"><span ng-bind-html="::strings.noResultsFoundHint"></span></h3>
            <h3 class="otktitle-3 message-copy" ng-show="errorOccured"><span ng-bind-html="::strings.noResultsError"></span></h3>
        </div>
    </div>

    <div class="origin-store-gift-friendslist-friends-wrapper">
        <div ng-show="searchInProgress === false && displayedUsers.length > 0">
            <div class="origin-store-gift-friendslist-friends"
                 origin-lazyload="loadMore"
                 origin-lazyload-disabled="lazyLoadDisabled()"
                 origin-lazyload-offset="20"
                 origin-lazyload-container=".origin-store-gift-friendslist-friends-wrapper"
                 origin-lazyload-throttle="500">
                <ul>
                   <li class="origin-store-gift-friendtileitem" ng-repeat="nucId in displayedUsers track by nucId">
                        <origin-store-gift-friendtile nucleus-id="{{::nucId}}" offer-id="{{::offerId}}"></origin-store-gift-friendtile>
                   </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="otkmodal-footer">
    <div class="otkc otkc-small origin-store-gift-disclaimer-container">
      <p class="origin-store-gift-disclaimer-text" ng-bind-html="::strings.disclaimer"></p>
    </div>
    <button class="otkbtn otkbtn-primary" ng-click="onNext()" ng-disabled="!isUserSelected">
        <span ng-bind="::strings.nextStr"></span>
    </button>

</div>
