//
// Game Tiles
// --------------------------------------------------

// Variables
// -------------------------

@badge-height: 30px;

// Game Tile
// -------------------------

.origin-gametile {
    position: relative;
}

.origin-gametile-img {
    display: block;
    width: 100%;
}

.origin-gametile-isdisabled .origin-gametile-img {
    opacity: 0.3;
}

.origin-gametile-ismasked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @color-black;
    background: fade(@color-black, 90%);
}


// Top Violator (these should really be badges)
// -------------------------

.origin-game-badge {
    position: absolute;
    right: 0;
    top: 0;
    height: @badge-height;
    color: @color-white;
    padding: 3px 18px;
    background: @color-mediumnavy;
    background: fade(@color-mediumnavy, 85%);
    border-bottom-left-radius: 4px;
    .box-sizing(border-box);
}

.origin-game-badge-new {
    background: @color-green;
    background: fade(@color-green, 85%);
}

// Textual Violators
// -------------------------

.l-origin-game-violator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.origin-game-violator {
    padding: 9px 5px;
    background: @color-black;
    background: fade(@color-black, 90%);
    color: @color-white;
}

.origin-game-violator-content {
    display: table;
}

.origin-game-violator-icon,
.origin-game-violator-text {
    display: table-cell;
    vertical-align: top;
}

.origin-game-violator-icon {
    margin-right: -3px;
    > .otkicon {
        font-size: 36px;
    }
}

.origin-game-violator-icon .red {
    color: @color-red;
}
.origin-game-violator-icon .yellow {
    color: @color-orange;
}
.origin-game-violator-text {
    margin: 0;
    padding: 4px 7px;
}

// Overlay
// -------------------------

.l-origin-gametile-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    .translate3d(0, -50%, 0);
    z-index: 1;
}

.origin-gametile-title {
    color: @color-white;
    margin: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 10px;
}

.origin-gametile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: @color-darknavy;
    background: fade(@color-black, 90%);
    .transition(all .3s ease-out);
}

.origin-gametile:hover {
    .origin-gametile-overlay {
        display: block;
        opacity: 1;
    }
    .otkbtn-primary {
        .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
    }
}

.origin-gametile-overlay-content {
    .position-center();
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

// Progress
// -------------------------

.origin-gameprogress {
    width: 102px;
    margin: 10px auto;
}

.l-progress-playable-status {
    text-align: center;
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    .progress-playable-status {
        display: inline-block;
        background-color: @color-mediumnavy;
        opacity: .8;
        color: @color-black;
        border-radius: 16px;
        padding: 2px 10px;
        font-size: 10px;
        &.playable {
            background-color: @color-green;
            opacity: 1;
        }
    }
}

.progress-error-count {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 12px;
    margin: 8px auto 0;
    position: absolute;
    width: 100%;
    color: @color-white;
    text-align: center;
    .text-overflow();
}
