
/* ALL BUTTONS */

.otk-button
{
	outline: none;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.otk-button > img
{
	vertical-align: baseline;
	position: relative;
}

/* PRIMARY */
button.otk-button.primary
{
	height:13px;
	margin:0; border:1px solid #FD4400; border-top-color:#FFA500; border-radius:3px; padding:7px 20px 8px 20px;
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(255,253,0,0)),
		color-stop(0.5, rgba(255,253,0,1)),
		color-stop(1, rgba(255,253,0,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #FFBC00),
		color-stop(1, #FE6B00)
	); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; box-shadow:0 0 2px 2px rgba(0,0,0,.10);
	color:#FFF;
	font-weight:bold; font-size:14px; line-height:13px;
	min-width: 50px;
}
button.otk-button.primary:lang(de),
button.otk-button.primary:lang(fr),
button.otk-button.primary:lang(hu),
button.otk-button.primary:lang(pt)
{
	font-size:13px;
}
button.otk-button.primary:lang(el),
button.otk-button.primary:lang(es),
button.otk-button.primary:lang(nl)
{
	font-size:12px;
}
button.otk-button.primary:hover
{
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(255,255,0,0)),
		color-stop(0.5, rgba(255,255,0,1)),
		color-stop(1, rgba(255,255,0,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #FFCC00),
		color-stop(1, #FE6B00)
	);
}
button.otk-button.primary:active
{
	border-color:#D04100; border-bottom-color:#EA8000;
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(242,193,0,0)),
		color-stop(0.5, rgba(242,193,0,1)),
		color-stop(1, rgba(242,193,0,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #DE6700),
		color-stop(1, #ED9F00)
	); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; background-position:0 bottom, 0 0;
}
button.otk-button.primary[disabled],
button.otk-button.primary[disabled]:hover,
button.otk-button.primary[disabled]:active,
button.otk-button.primary.disabled,
button.otk-button.primary.disabled:hover,
button.otk-button.primary.disabled:active
{
	border-color:#FD4400; border-top-color:#FFA500;
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(255,253,0,0)),
		color-stop(0.5, rgba(255,253,0,1)),
		color-stop(1, rgba(255,253,0,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #FFBC00),
		color-stop(1, #FE6B00)
	); background-position:0 0, 0 0; opacity:0.45;
}

/* SECONDARY */
button.otk-button.secondary
{
	height:13px;
	margin:0; border:1px solid #6d6d6d; border-top-color:#9D9D9D; border-radius:3px; padding:7px 30px 8px 30px;
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(255,255,255,0)),
		color-stop(0.5, rgba(255,255,255,1)),
		color-stop(1, rgba(255,255,255,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #AEAEAE),
		color-stop(1, #777777)
	); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; box-shadow:0 0 2px 2px rgba(0,0,0,.10);
	color:#FFF;
	font-weight:bold; font-size:14px; line-height:13px;
}
button.otk-button.secondary:hover
{
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(255,255,255,0)),
		color-stop(0.5, rgba(255,255,255,1)),
		color-stop(1, rgba(255,255,255,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #C7C7C7),
		color-stop(1, #7A7A7A)
	);
}
button.otk-button.secondary:active
{
	border-color:#515151; border-bottom-color:#909090;
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(195,195,195,0)),
		color-stop(0.5, rgba(195,195,195,1)),
		color-stop(1, rgba(195,195,195,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #6D6D6D),
		color-stop(1, #A2A2A2)
	); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; background-position:0 bottom, 0 0;
}
button.otk-button.secondary[disabled],
button.otk-button.secondary[disabled]:hover,
button.otk-button.secondary[disabled]:active,
button.otk-button.secondary.disabled,
button.otk-button.secondary.disabled:hover,
button.otk-button.secondary.disabled:active
{
	border-color:#6d6d6d; border-top-color:#9D9D9D;
	background-image:-webkit-gradient(
		linear, left top, right top,
		color-stop(0, rgba(255,255,255,0)),
		color-stop(0.5, rgba(255,255,255,1)),
		color-stop(1, rgba(255,255,255,0))
	),
	-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #AEAEAE),
		color-stop(1, #777777)
	); background-position:0 0, 0 0; opacity:0.45;
}

/* TERTIARY */
button.otk-button.tertiary
{
	height:13px;
	margin:0; border:1px solid #FFF; border-radius:3px; padding:6px 16px 5px 16px;
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #ECECEC)
	); box-shadow:1px 1px 3px 0px rgba(0,0,0, 0.3);
	color:#404040;
	font-weight:bold; font-size:12px; line-height:12px;
}
button.otk-button.tertiary:hover
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #CECECE)
	);
}
button.otk-button.tertiary:active
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #dfdfdf),
		color-stop(1, #fefefe)
	);
}
button.otk-button.tertiary[disabled],
button.otk-button.tertiary[disabled]:hover,
button.otk-button.tertiary[disabled]:active,
button.otk-button.tertiary.disabled,
button.otk-button.tertiary.disabled:hover,
button.otk-button.tertiary.disabled:active
{
	border:1px solid #FFF; padding:5px 16px;
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #ECECEC)
	); opacity:0.45;
}

/* DARK BUTTON */
button.otk-button.dark
{
	color: White;
	
	font-size: 10px;
	font-weight: bold;
	
	height: 22px;
	
	margin: 4px 5px 1px 0px;
	
	background-color: transparent;

	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #686868),
		color-stop(1, #515151)
	);
	background-position:0 0, 0 0;
	background-repeat: no-repeat;
		
	-webkit-box-shadow: inset 0 1px 4px #909090;
	
	border: 1px solid #000000;
	border-radius: 4px;
}
button.otk-button.dark:hover
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #7c7c7c),
		color-stop(1, #707070)
	);
}
button.otk-button.dark:active
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #515151),
		color-stop(1, #616161)
	);
}

/* TOOLBAR BUTTON */

otk-button.toolbar.dropdown
{
	padding: 0;
	margin: 0;
}

.otk-button.toolbar.dropdown > button > img,
button.otk-button.toolbar > img
{
	vertical-align: top;
}

.otk-button.toolbar.dropdown > button,
button.otk-button.toolbar
{
	position: relative;
	
	outline:none;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	min-width: 24px;
	height: 24px;
	
	margin: 4px;
	padding: 4px;
	
	border:1px solid white;

	border-radius:3px;
	
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #ffffff),
		color-stop(1, #ececec)
	);
	background-repeat:no-repeat;
	
	box-shadow:0 1px 2px rgba(0,0,0,.4);
	
	font-weight:bold;
	font-size:14px;
	line-height:13px;
}

/* IF WE ARE A DROPDOWN SQUARE OFF THE RIGHT EDGE */
.otk-button.toolbar.dropdown > button
{
	border-radius: 3px 0 0 3px;
	margin-right: 0px;
}

button.otk-button.toolbar:not([disabled]):hover:not('.pressed')
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #fefefe),
		color-stop(1, #cecece)
	);
}

.otk-button.toolbar:not([disabled]).dropdown > button.pressed,
.otk-button.toolbar:not([disabled]).dropdown > button:active,
button.otk-button.toolbar:not([disabled]).pressed,
button.otk-button.toolbar:not([disabled]):active
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #cecece),
		color-stop(1, #ffffff)
	);
	box-shadow:0 1px 2px rgba(0,0,0,.2) inset;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom: 1px solid white;
}

/* TOOLBAR DROPDOWN BUTTON PIECE */

.otk-button.toolbar:not([disabled]).dropdown > button.dropdown
{
	vertical-align: top;
	
	min-width: 14px;
	width: 14px;
	
	margin-left: -3px;
	
	border-radius: 0 3px 3px 0;
	
	background-image: url("../images/otk-button/toolbar-drop-indicator.png"), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #ffffff),
		color-stop(1, #ececec)
	);
	background-position: center center;
	background-repeat:no-repeat;
}

.otk-button.toolbar:not([disabled]).dropdown > button.dropdown:hover
{
	background-image: url("../images/otk-button/toolbar-drop-indicator.png"), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #fefefe),
		color-stop(1, #cecece)
	);
}

.otk-button.toolbar:not([disabled]).dropdown > button.dropdown:active
{
	background-image: url("../images/otk-button/toolbar-drop-indicator.png"), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #cecece),
		color-stop(1, #ffffff)
	);
	box-shadow:0 1px 2px rgba(0,0,0,.2) inset;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom: 1px solid white;
}

.otk-button.toolbar[disabled],
.otk-button.toolbar.disabled
{
	opacity:0.45;
}