body {
font-family: arial, serif;
font-size: 0.85em;
margin: 2em 8em;
background-color: white;
background-image: url("gradient-down.png");
background-repeat: repeat-x;
}
.methods {
background-color: #DFEFFF;
padding: 1em;
}
.tdf {
background-color: #DFEFCF;
padding: 1em;
}
.notification {
background-color: #FFEEEE;
padding: 1em;
}
h1 {
font-size: 1.75em;
}
h2 {
border-bottom: 1px solid black;
margin-top: 1em;
margin-bottom: 0.5em;
font-size: 1.75em;
}
h3 {
color: #202937;
font-size: 1.5em;
margin-top: 1em;
margin-bottom: 0em;
}
h4 {
margin-top: 0em;
font-size: 1.1em;
padding: 0em;
}
h5 {
margin-bottom: 0.5em;
padding: 0em;
font-size: 1.2em;
border-bottom: 2px solid white;
}
h6 {
color: #223322;
font-size: 1.5em;
margin-top: 1em;
margin-bottom: 0em;
}
dd {
margin-left: 1em;
}
tt {
font-size: 1.2em;
}
table {
margin-bottom: 0.5em;
background-color: transparent;
}
th {
text-align: left;
font-weight: normal;
color: black;
border-bottom: 1px solid black;
padding: 3px 6px;
}
td {
padding: 3px 6px;
vertical-align: top;
background-color: transparent;
font-size: 0.9em;
}
td p {
margin: 0px;
}
ul {
padding-left: 1.75em;
}
p + ul, p + ol, p + dl {
margin-top: 0em;
margin-bottom: 0.5em;
}
p {
margin-top: 0em;
margin-bottom: 0.5em;
}
.optional {
font-weight: normal;
opacity: 0.75;
}