<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <fail unless="@{PathHasExtension('nant.exe')}" />
    <fail if="@{PathHasExtension('nant')}" />
</project>
]]>
</code>
</example>