<div class="origin-social-hub-roster-item origin-social-hub-roster-friend">
    <div ng-class="{'origin-social-hub-roster-friend-offline': (friend.presence.show == 'UNAVAILABLE') || (friend.presence.presenceType == 'UNAVAILABLE') }">
        <a href="javascript:void(0)" class="otkavatar origin-social-hub-roster-friend-link" ng-class="{
            'otkavatar-isonline': ((friend.presence.show === 'ONLINE') && (friend.presence.presenceType !== 'UNAVAILABLE')),
            'otkavatar-isjoinable':friend.joinable,
            'otkavatar-isingame':friend.ingame,
            'otkavatar-isbroadcasting': friend.broadcasting,
            'otkavatar-isaway': ((friend.presence.show === 'AWAY') && (friend.presence.presenceType !== 'UNAVAILABLE')),
            'otkavatar-isoffline': (friend.presence.show == 'UNAVAILABLE') || (friend.presence.presenceType == 'UNAVAILABLE')}">
            <img ng-src="{{friend.avatarImgSrc}}" alt="{{friend.originId}}" class="otkavatar-img">
        </a>

    	<div class="origin-social-hub-roster-friend-inner-wrapper">
            <h3 class="origin-social-hub-roster-friend-originId otktitle-4"><strong>{{friend.originId}}</strong></h3>
            <h3 ng-if="(friend.firstName && friend.firstName.length > 0) || (friend.lastName && friend.lastName.length > 0)" class="origin-social-hub-roster-friend-realname otktitle-4"><strong>{{friend.firstName}}&nbsp;{{friend.lastName}}</strong></h3>
    		<h3 ng-if="!friend.firstName && !friend.lastName" class="origin-social-hub-roster-friend-realname otktitle-4"><strong>{{friend.originId}}</strong></h3>
            <h4 class="origin-social-hub-roster-friend-playing-game otktitle-4">{{friend.presence.gameActivity.title}}</h4>
        </div>
        <div ng-show="friend.broadcasting" class="origin-social-hub-roster-friend-watchbroadcast-icon"><i class="otkicon otkicon-broadcasting"></i></div>
        <div ng-show="friend.presence.show == 'INGAME'" class="origin-social-hub-roster-friend-joingame-icon"><i class="otkicon otkicon-expandarrow"></i></div>
        <div class="origin-social-hub-roster-friend-menu-icon" ng-class="{ 'icon-visible' : rosterContextmenuVisible }">
            <i class="otkicon otkicon-downarrow origin-social-hub-roster-contextmenu-otkicon-downarrow"></i>
        </div>
    </div>

    <!-- context menu -->
    <div class="otkcontextmenu-wrap origin-social-hub-roster-contextmenu" ng-class="{ 'otkcontextmenu-isvisible' : rosterContextmenuVisible }">
        <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.sendMessage()" role="menuitem" tabindex="-1" href="#">Send Message</a>
            </li>
            <!-- deferred until voice chat is ready -->
            <!-- <li ng-class="{ 'otkmenu-item-disabled': (friend.presence.show == 'UNAVAILABLE') || (friend.presence.presenceType == 'UNAVAILABLE') }" role="presentation">
                <a ng-click="contextmenuCallbacks.startVoiceChat()" role="menuitem" tabindex="-1" href="#">Start Voice Chat</a>
            </li> -->
            <li ng-show="chattingGroups.length && friend.presence.show !== 'UNAVAILABLE' && friend.presence.presenceType !== 'UNAVAILABLE' " role="presentation" ng-mouseover="chatroomContextmenuVisible = true" ng-mouseleave="chatroomContextmenuVisible = false">

                <a role="menuitem" tabindex="-1" href="#">
                    <i class="otkicon otkicon-leftarrow"></i>
                    Invite Into Chatroom
                </a>

                <div class="otkcontextmenu-wrap origin-social-hub-roster-chatroomlist-contextmenu" ng-class="{ 'otkcontextmenu-isvisible' : chatroomContextmenuVisible }">
                    <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
                        <li ng-repeat="group in chattingGroups" role="presentation">
                            <a ng-click="contextmenuCallbacks.inviteToChatroom(group)" role="menuitem" tabindex="-1" href="#">{{ group.title }}</a>
                        </li>
                    </ul>
                </div>

            </li>
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.viewProfile()" role="menuitem" tabindex="-1" href="#">View Profile</a>
            </li>
            <li class="otkmenu-context-divider"></li>

            <!-- Join other user's game requires THEM to be joinable -->
            <li ng-class="{ 'otkmenu-item-disabled' : !friend.joinable }" role="presentation">
                <a ng-click="contextmenuCallbacks.joinGame()" role="menuitem" tabindex="-1" href="#">Join Game</a>
            </li>
            <li ng-class="{ 'otkmenu-item-disabled' : !friend.broadcasting }" role="presentation">
                <a ng-click="contextmenuCallbacks.watchBroadcast()" role="menuitem" tabindex="-1" href="#">Watch Broadcast</a>
            </li>
            <li ng-class="{ 'otkmenu-item-disabled' : !friend.joinable }" role="presentation">
                <a ng-click="contextmenuCallbacks.inviteToGame()" role="menuitem" tabindex="-1" href="#">Invite to Game</a>
            </li>
            
            <li class="otkmenu-context-divider"></li>
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.removeFriendAndBlock()" role="menuitem" tabindex="-1" href="#">Unfriend and Block</a>
            </li>
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.removeFriend()" role="menuitem" tabindex="-1" href="#">Unfriend</a>
            </li>
            
        </ul>
    </div><!-- /context menu -->
</div>



    
    
    