<!DOCTYPE html>
<html>
    <head>
        <title></title>        
    </head>
    <body>
        <script type="text/javascript">
            (function() {
                'use strict';

                function getToken() {
                    var params = location.search.split('&');
                    for (var i = 0; i < params.length; i++) {
                        var txnToken = params[i].split('txnToken=')[1];
                        if (typeof txnToken !== 'undefined') {
                            return txnToken;
                        }
                    }
                }

                var win = window.opener,
                    txnToken = getToken();
                
                if (win && win.paymentProviderCompleteCallback) {
                    win.paymentProviderCompleteCallback(txnToken);
                }
                
                window.close(); 
            })();
        </script>
    </body>
</html>