<origin-globalfooter-base
    copyright-text="&copy; 2015 Electronic Arts Inc. Trademarks belong to their respective owners. All rights reserved."
    legal-content="Price is in U.S. dollars, and is applicable to U.S. residents only. &lt;p&gt;&lt;a href=&quot;http://www.ea.com/uk/1/online-safety&quot; class=&quot;otka external-link&quot;&gt;Online Safety Guidelines&lt;/a&gt;&lt;/p&gt; &lt;p&gt;&lt;a href=&quot;http://www.pegi.info/&quot; class=&quot;otka external-link&quot;&gt;PEGI&lt;/a&gt;&lt;/p&gt;">
    <origin-globalfooter-column column-title="Electronic Arts">
        <origin-globalfooter-link link-text="Legal Notices" link-url="#"></origin-globalfooter-link>
        <origin-globalfooter-link link-text="Terms of Sale" link-url="#"></origin-globalfooter-link>
        <origin-globalfooter-link link-text="Terms of Service" link-url="#"></origin-globalfooter-link>
    </origin-globalfooter-column>
</origin-globalfooter-base>