<div ng-if="!isLoading">
    <div ng-if="!isAuth">
        <origin-profile-anonymous>
            <origin-cta-login type="primary"></origin-cta-login>
            <origin-cta-register type="light"></origin-cta-register>
        </origin-profile-anonymous>
    </div>
    <div ng-if="isAuth && !isOnline">
        <origin-profile-offline></origin-profile-offline>
    </div>
    <div ng-if="isOnline && isAuth">
        <origin-profile-header nucleusid="{{nucleusId}}"></origin-profile-header>
        <origin-profile-tabs ng-show="subscription.relationship !== 'BLOCKED' && !privacy.isPrivate" nucleusid="{{nucleusId}}"></origin-profile-tabs>
        <origin-profile-blocked ng-show="subscription.relationship === 'BLOCKED'" nucleusid="{{nucleusId}}"></origin-profile-blocked>
        <origin-profile-private ng-show="subscription.relationship !== 'BLOCKED' && privacy.isPrivate"></origin-profile-private>
    </div>
</div>