<!-- Made with the actual content from the CMS -->
<section>
  <origin-shell-menu>
  <origin-shell-top-menu>
  </origin-shell-top-menu>
    <origin-shell-primary-menu>
      <origin-shell-anonymous>
        <origin-shell-menu-item title-str="Store" href="store" section="store">
          <origin-shell-submenu-item title-str="Browse Games" href="store/browse" section="browse">
          <origin-shell-popoutmenu-item title-str="PC Best Sellers" href="store/browse?sort=rank%20desc" section="browse">
          </origin-shell-popoutmenu-item>
            <origin-shell-popoutmenu-item title-str="Battlefield" href="search?searchString=battlefield" section="browse">
            <origin-shell-popoutmenu-item title-str="Battlefield 3" href="store/battlefield/battlefield-3/standard-edition" section="browse">
            </origin-shell-popoutmenu-item>
            <origin-shell-popoutmenu-item title-str="Battlefield 4" href="store/battlefield/battlefield-4/standard-edition" section="browse">
            </origin-shell-popoutmenu-item>
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
          <origin-shell-submenu-item title-str="Free Games" href="store/free-games" section="freegames">
          <origin-shell-popoutmenu-item title-str="On the House" href="store/free-games/on-the-house" section="freegames">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="Trials" href="store/free-games/trials" section="freegames">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="Demos and Betas" href="store/free-games/demos-and-betas" section="freegames">
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
          <origin-shell-submenu-item title-str="Deals &amp; Exclusives" href="store/deals" section="dealcenter">
          <origin-shell-popoutmenu-item title-str="Black Friday Bundle" href="store/deals/deals-bundle" section="dealcenter">
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
          <origin-shell-submenu-item title-str="Origin Access" href="store/origin-access" section="originaccess">
          <origin-shell-popoutmenu-item title-str="Vault" href="store/origin-access/vault-games" section="originaccess">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="Early Access Trials" href="store/origin-access/trials" section="originaccess">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="FAQ" href="store/origin-access/faq" section="originaccess">
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
      </origin-shell-menu-item>
      <origin-shell-menu-item title-str="Game Library" href="game-library" section="gamelibrary">
      </origin-shell-menu-item>
    </origin-shell-anonymous>
      <origin-shell-loggedinunderage>
      <origin-shell-menu-item title-str="Game Library" title-str="Game Library" href="game-library" section="gamelibrary">
      </origin-shell-menu-item>
    </origin-shell-loggedinunderage>
      <origin-shell-loggedin>
      <origin-shell-menu-item title-str="Discover" href="discover" section="homeloggedin">
      </origin-shell-menu-item>
        <origin-shell-menu-item title-str="Store" href="store" section="store">
          <origin-shell-submenu-item title-str="Browse Games" href="store/browse" section="browse">
          <origin-shell-popoutmenu-item title-str="PC Best Sellers" href="store/browse?sort=rank%20desc" section="browse">
          </origin-shell-popoutmenu-item>
            <origin-shell-popoutmenu-item title-str="Battlefield" href="search?searchString=battlefield" section="browse">
            <origin-shell-popoutmenu-item title-str="Battlefield 3" href="store/battlefield/battlefield-3/standard-edition" section="browse">
            </origin-shell-popoutmenu-item>
            <origin-shell-popoutmenu-item title-str="Battlefield 4" href="store/battlefield/battlefield-4/standard-edition" section="browse">
            </origin-shell-popoutmenu-item>
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
          <origin-shell-submenu-item title-str="Free Games" href="store/free-games" section="freegames">
          <origin-shell-popoutmenu-item title-str="On the House" href="store/free-games/on-the-house" section="freegames">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="Trials" href="store/free-games/trials" section="freegames">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="Demos and Betas" href="store/free-games/demos-and-betas" section="freegames">
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
          <origin-shell-submenu-item title-str="Deals &amp; Exclusives" href="store/deals" section="dealcenter">
          <origin-shell-popoutmenu-item title-str="Black Friday Bundle" href="store/deals/deals-bundle" section="dealcenter">
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
          <origin-shell-submenu-item title-str="Origin Access" href="store/origin-access" section="originaccess">
          <origin-shell-popoutmenu-item title-str="Vault" href="store/origin-access/vault-games" section="originaccess">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="Early Access Trials" href="store/origin-access/trials" section="originaccess">
          </origin-shell-popoutmenu-item>
          <origin-shell-popoutmenu-item title-str="FAQ" href="store/origin-access/faq" section="originaccess">
          </origin-shell-popoutmenu-item>
        </origin-shell-submenu-item>
      </origin-shell-menu-item>
      <origin-shell-menu-item title-str="Game Library" href="game-library" section="gamelibrary">
      </origin-shell-menu-item>
    </origin-shell-loggedin>
  </origin-shell-primary-menu>
    <origin-shell-tertiary-menu>
    <origin-shell-menu-item title-str="About" disposition="hide" for="underAgeOrClient" href="store/about" section="store">
    </origin-shell-menu-item>
    <origin-shell-menu-item title-str="Download" disposition="hide" for="underAgeOrClient" href="store/download" section="store">
    </origin-shell-menu-item>
    <origin-shell-menu-item title-str="Help" disposition="hide" for="underAge">
    </origin-shell-menu-item>
  </origin-shell-tertiary-menu>
    <origin-shell-footer-menu-loggedin>
    <origin-shell-menu-item title-str="View My Profile" disposition="hide" for="underAge" href="profile" section="profile">
    </origin-shell-menu-item>
    <origin-shell-menu-item title-str="EA Account and Billing" disposition="externalurlSSO" for="underAge" href="eaAccounts">
    </origin-shell-menu-item>
    <origin-shell-menu-item title-str="Language Preferences" disposition="selectlanguage">
    </origin-shell-menu-item>
    <origin-shell-menu-item title-str="Help" disposition="hide" for="underAge">
    </origin-shell-menu-item>
    <origin-shell-menu-item title-str="Sign out" disposition="logout" href="store/about">
    </origin-shell-menu-item>
  </origin-shell-footer-menu-loggedin>
    <origin-shell-footer-menu-loggedout>
      <origin-listitem>
      <origin-cta-login type="primary" description="Log in">
      </origin-cta-login>
    </origin-listitem>
      <origin-listitem>
      <origin-cta-register type="transparent" description="Register">
      </origin-cta-register>
    </origin-listitem>
    <origin-shell-divider>
    </origin-shell-divider>
      <origin-listitem>
      <origin-cta-selectlanguage description="Language Preferences">
      </origin-cta-selectlanguage>
    </origin-listitem>
  </origin-shell-footer-menu-loggedout>
</origin-shell-menu>
</section>