<origin-global-sitestripe-message message="priority 60" reason="reason %cta%" cta="cta" cta-href="http://cta.com" priority='60' icon="warning"></origin-global-sitestripe-message>
<origin-global-sitestripe-message message="priority 50" priority='50' icon="error" cta2-is-internal="false"></origin-global-sitestripe-message>
<origin-global-sitestripe-truste priority='100'></origin-global-sitestripe-truste>
<origin-global-sitestripe-subscription priority='0'></origin-global-sitestripe-subscription>
<origin-global-sitestripe-update priority='2000'></origin-global-sitestripe-update>
