<div class="origin-social-hub-roster-item origin-social-hub-roster-friend origin-social-hub-roster-pendingitem" tabindex="-1">
    <a href="javascript:void(0)" class="otkavatar origin-social-hub-roster-friend-link">
        <img ng-src="{{friend.avatarImgSrc}}" alt="{{friend.originId}}" class="otkavatar-img">
    </a>

    <div class="origin-social-hub-roster-friend-inner-wrapper">
        <h3 class="otktitle-4"><strong>{{friend.originId}}</strong></h3>
    </div>

    <span class="otka origin-social-hub-roster-pendingitem-icon origin-social-hub-roster-pendingitem-accept-icon-wrap" data-has-tooltip="true">
        <a ng-if="!friend.subReqSent" class="origin-social-hub-roster-pendingitem-accept-icon">
            <i class="otkicon otkicon-checkcircle"></i>
        </a>
        <div class="otktooltip otktooltip-top">
            <b class="otktooltip-arrow"></b>
            <div class="otktooltip-inner">{{acceptLoc}}</div>
        </div>
    </span>

    <span class="otka origin-social-hub-roster-pendingitem-icon origin-social-hub-roster-pendingitem-decline-icon-wrap" data-has-tooltip="true">
        <a ng-if="!friend.subReqSent" class="origin-social-hub-roster-pendingitem-decline-icon">
            <i class="otkicon otkicon-closecircle"></i>
        </a>
        <div class="otktooltip otktooltip-top">
            <b class="otktooltip-arrow"></b>
            <div class="otktooltip-inner">{{declineLoc}}</div>
        </div>
    </span>

    <span class="otka origin-social-hub-roster-pendingitem-icon origin-social-hub-roster-pendingitem-cancel-icon-wrap" data-has-tooltip="true">
        <a ng-if="friend.subReqSent" class="origin-social-hub-roster-pendingitem-cancel-icon">
            <i class="otkicon otkicon-closecircle"></i>
        </a>
        <div class="otktooltip otktooltip-top">
            <b class="otktooltip-arrow"></b>
            <div class="otktooltip-inner">{{cancelLoc}}</div>
        </div>
    </span>

    <div class="origin-social-hub-roster-friend-menu-icon"><i class="otkicon otkicon-downarrow origin-social-hub-roster-contextmenu-otkicon-downarrow"></i></div>

    <!-- context menu -->
    <div class="otkcontextmenu-wrap origin-social-hub-roster-contextmenu" ng-class="{ 'otkcontextmenu-isvisible' : rosterContextmenuVisible }">
        <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
            <li ng-if="!friend.subReqSent" role="presentation">
                <a ng-click="contextmenuCallbacks.acceptRequest()" role="menuitem" tabindex="-1" href="#">Accept Friend Request</a>
            </li>
            <li ng-if="!friend.subReqSent" role="presentation">
                <a ng-click="contextmenuCallbacks.ignoreRequest()" role="menuitem" tabindex="-1" href="#">Ignore Friend Request</a>
            </li>
            <li ng-if="friend.subReqSent" role="presentation">
                <a ng-click="contextmenuCallbacks.cancelRequest()" role="menuitem" tabindex="-1" href="#">Cancel Friend Request</a>
            </li>
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.viewProfile()" role="menuitem" tabindex="-1" href="#">View Profile</a>
            </li>
            <li class="otkmenu-context-divider"></li>
            <li ng-if="friend.subReqSent" role="presentation">
                <a ng-click="contextmenuCallbacks.cancelAndBlockRequest()" role="menuitem" tabindex="-1" href="#">Cancel Friend Request and Block</a>
            </li>
            <li ng-if="!friend.subReqSent" role="presentation">
                <a ng-click="contextmenuCallbacks.blockPendingRequestor()" role="menuitem" tabindex="-1" href="#">Ignore Friend Request and Block</a>
            </li>
            
        </ul>
    </div><!-- /context menu -->
</div>




    
    
    