<div class="origin-social-hub-section">

	<div class="origin-social-hub-section-top-padding" ng-style="{ 'padding-top': (topPadding + 'px') }">
	</div>

	<header origin-social-hub-keyeventtarget="header" ng-show="(rosterLength > 0) && (overflowStart === 0) && !dataIsFiltered" class="origin-social-hub-section-header otktitle-5 otktitle-5-caps header-visible" tabindex="-1"  ng-class="{ 'header-focus' : isActive }">{{titleStr}}&nbsp;(<span ng-if="showOnlineCount" >{{onlineCount}}/</span>{{rosterLength}})
		<i class="origin-social-hub-section-downarrow otkicon otkicon-downarrow"></i>
	</header>
		
    <div class="origin-social-hub-section-viewport">
        <div ng-repeat="friend in filteredRosterArray | startFrom: overflowStart | limitTo: limit" origin-social-hub-keyeventtarget="item" tabindex="-1">
            
            <div ng-if="friend.subState === 'BOTH'" class="origin-social-hub-roster-friend-wrap" ng-class=" {'item-focus' : isActive }">
                <origin-social-hub-roster-friend index="overflowStart + $index" friend="friend"></origin-social-hub-roster-friend>
            </div>
            <div ng-if="friend.subState !== 'BOTH'" class="origin-social-hub-roster-pendingitem-wrap" ng-class=" {'item-focus' : isActive }">
                <origin-social-hub-roster-pendingitem friend="friend"></origin-social-hub-roster-pendingitem>
            </div>
        </div>
    </div> <!-- /viewport --> 

	<div class="origin-social-hub-section-bottom-padding" ng-style="{ 'padding-bottom': (bottomPadding +'px') }">
	</div>	
</div>

