<origin-filter-panel is-visible="isVisible()">
    <origin-filter-link
        label="{{::clearAllLabel}}"
        is-enabled="hasActiveFilters()"
        action-callback="clearAll()">
    </origin-filter-link>

    <origin-filter-searchfield
        placeholder="{{::searchPlaceholder}}"
        model-object="getFilter('displayName')"
        model-field-name="value"
        on-change="onFilterChange()">
    </origin-filter-searchfield>

    <origin-gamelibrary-filter-item filter-id="isPlayedLastWeek" is-visible="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isFavorite" is-visible="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isDownloading" is-visible="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isHidden" is-visible="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isInstalled" is-visible="always"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isNonOrigin" is-visible="embedded"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isSubscription" is-visible="always"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isPurchasedGame" is-visible="always"></origin-gamelibrary-filter-item>

    <origin-filter-submenu label="{{::platformLabel}}">
        <origin-gamelibrary-filter-item filter-id="isPcGame" is-visible="always"></origin-gamelibrary-filter-item>
        <origin-gamelibrary-filter-item filter-id="isMacGame" is-visible="always"></origin-gamelibrary-filter-item>
    </origin-filter-submenu>
</origin-filter-panel>
