<div class="origin-usertile origin-tile">
    <origin-avatar nucleusid="{{friend.nucleusId}}" class="origin-usertile-avatar"></origin-avatar>
    <div class="origin-usertile-labels">
        <a ng-click="viewProfile()" class="otka origin-usertile-username" ng-class="{'origin-usertile-has-gamename': presence.gameActivity.gameTitle.length}">
            <h3 class="otktitle-4 otktitle-4-strong origin-username-truncate" ng-bind="friend.originId"></h3>
        </a>
        <h3 class="otktitle-4 origin-usertile-gamename" ng-bind-html="presence.gameActivity.gameTitle"></h3>
    </div>
</div>
