<section class="origin-gameslist" ng-hide="isEmpty()" data-gameslist-id='{{id}}'>
    <header class='origin-gameslist-header' ng-hide="isAlone()">
        <h1 class='otktitle-5 otktitle-5-caps origin-gameslist-title' ng-bind-html="titleStr"></h1>
        <a class='origin-gameslist-toggletrigger' href='javascript:void(0)' ng-click='toggle()'>{{triggerValue()}}</a>
    </header>
    <div class="origin-gameslist-wrapper" origin-authstatelistener>
        <ul class='l-origin-gameslist-list' ng-class="{ 'origin-gameslist-zoom-small' : gridSize === 'small', 'origin-gameslist-zoom-medium' : gridSize === 'medium' }" >
            <li class='l-origin-gameslist-item origin-gameslist-item' ng-repeat="game in filteredGames track by game.offerId" origin-postrepeat ng-disabled="!(isGamePlayableOrInstallable(game) || !isOffline)">
                <origin-game-tile class="origin-tealium-game-tile" offerid="{{game.offerId}}" tealium-offerid="{{game.offerId}}"></origin-game-tile>
            </li>
        </ul>
    </div>
</section>
