<div origin-gamelibrary-statelistener>
    <div ng-if="isLoggedIn"  class="l-origin-gamelibrary l-origin-section ng-class:{'origin-isfilterpanelopen': states.hasEmbeddedFilter ||  states.hasFilterOverlay}">
        <div class="origin-gamelibrary">
            <div class='l-origin-gamelibrary-topbanner'>

                <origin-gamelibrary-tilesize></origin-gamelibrary-tilesize>

                <origin-gamelibrary-filter-bar on-change="applyFilters()"></origin-gamelibrary-filter-bar>
                <origin-gamelibrary-nav>
                    <!-- Add a game -->
                    <div class="otkdropdown">
                        <origin-gamelibrary-navigationitem title-str="{{::localizedStrings.addGameLabel}}" icon-class="otkicon-add" active="false" class="otkdropdown-trigger" id="gamelibrary-add-game" ng-click="onAddGames()"></origin-gamelibrary-navigationitem>

                        <div class="otkdropdown-wrap" ng-class="{'otkdropdown-isvisible':isAddGamesMenuVisible}" id="addgame-dropdown-wrap">
                            <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="gamelibrary-add-game">
                                <li role="presentation" ng-if="isSubscriptionActive && isOnline">
                                    <a class="otktitle-4 otktitle-4-strong origin-tealium-access-vault" role="menuitem" tabindex="-1" href="javascript:void(0)" ui-sref="app.store.wrapper.origin-access-vault" ng-bind-html="::localizedStrings.fromOriginAccess"></a>
                                </li>
                                <li role="presentation" ng-if="isOnline">
                                    <a class="otktitle-4 otktitle-4-strong" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="onRedeemProductCode()" ng-bind-html="::localizedStrings.redeemProductCode"></a>
                                </li>
                                <li role="presentation" ng-if="isEmbeddedBrowser">
                                    <a class="otktitle-4 otktitle-4-strong" role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="onAddNonOriginShortcut()" ng-bind-html="::localizedStrings.nonOriginShortcut"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Filters -->
                    <origin-gamelibrary-navigationitem ng-if="hasGames()" title-str="{{localizedStrings.filterLabel}}" icon-class="otkicon-sortdown" active="states.hasEmbeddedFilter || states.hasFilterOverlay" ng-click="toggleFilterpanel()" ></origin-gamelibrary-navigationitem>
                    <span ng-if="activeFiltersCount" class="otkbadge otkbadge-isnotifying origin-gamelibrary-filterpanel-badge" ng-click="toggleFilterpanel()">{{activeFiltersCount}}</span>
                </origin-gamelibrary-nav>

                <origin-featureintro feature="hideGame"></origin-featureintro>
            </div>


            <!-- Main content (disabled dragging as part of ORCORE-2892. -->
            <div class="l-origin-gamelibrary-content origin-gamelibrary-content" ng-if="displayedGames.length > 0">
                <origin-gamelibrary-gameslist
                    id='gamelibrary-favoritegames'
                    title-str='{{::localizedStrings.favouritesLabel}}'
                    games="displayedGames"
                    filter-by="{'isFavorite': true}">
                </origin-gamelibrary-gameslist>
                <origin-gamelibrary-gameslist
                    id='gamelibrary-othergames'
                    title-str='{{::localizedStrings.allOthersLabel}}'
                    games="displayedGames"
                    filter-by="{'isFavorite': false}">
                </origin-gamelibrary-gameslist>
            </div>

            <!-- Filter panel -->
            <div class="l-origin-filterpanelcontainer" ng-class="{'origin-filterpanelvisible': states.hasEmbeddedFilter || states.hasFilterOverlay}">
                <div ng-class="{'origin-filterpanel-overlay' : states.hasFilterOverlay}" ng-click="toggleFilterpanel()"></div>

                <origin-gamelibrary-filter-panel is-visible="states.hasEmbeddedFilter || states.hasFilterOverlay" on-change="applyFilters()"></origin-gamelibrary-filter-panel>
            </div>

            <!-- OGD slideout -->
            <div class="l-origin-gamelibrary-slideout">
                <div ui-view="slideout"></div>
            </div>
        </div>

        <div class="origin-messages-center origin-gamelibrary-content-nogames" ng-if="displayedGames.length === 0 && hasGames()">
            <h1 class="otktitle-page" ng-bind-html="::localizedStrings.nogamesTitleLabel"></h1>
            <span class="otkc" ng-bind-html="::localizedStrings.nogamesDescriptionLabel"></span>
        </div>
    </div>
</div>
