<div class="origin-ogd-overlay" origin-add-sitestripe-margin ui-sref="app.game_gamelibrary"></div>
<div class="origin-ogd-content" origin-add-sitestripe-margin origin-authstatelistener>
    <origin-gamelibrary-ogd-header offerid="{{offerId}}"></origin-gamelibrary-ogd-header>
    <div class='l-origin-ogd-pills' ng-if="!isOffline && !isNog">
        <origin-pills theme="light" nav-items='navItems' nav-click='onTabChange' selected-index='tabIndex'></origin-pills>
    </div>
    <div ui-view="ogdtabs" ng-if="!isOffline && !isNog"></div>
    <div class="origin-ogd-content-offline" ng-if="isOffline && !isNog">
        <origin-offline-cta descriptionoverridestr="{{offlineLoc}}" buttontheme="transparent"></origin-offline-cta>
    </div>
</div>
