<div>
    <div class="origin-gamecard" ng-if="!modelLoaded">
        <section class="origin-gamecard-primarycol">
            <div class="origin-gamecard-packart-placeholder"></div>
        </section>
        <section class="origin-gamecard-secondarycol">
            <div class="origin-gamecard-placeholder-header"></div>
            <div class="origin-gamecard-placeholder-title"></div>
            <div class="origin-gamecard-placeholder-description"></div>
            <div class="origin-gamecard-placeholder-description"></div>
        </section>
    </div>

    <div class="origin-gamecard origin-tealium-gamecard" ng-show="modelLoaded">

        <section ng-if="expansionPackArt" ng-class="usingSmallPackArt ? 'origin-gamecard-primarycol-small' : 'origin-gamecard-primarycol'">
            <img ng-src="{{ expansionPackArt }}" alt="{{ model.displayName }}" ng-class="usingSmallPackArt ? 'origin-gamecard-packart-small' : 'origin-gamecard-packart'">
        </section>
        <section ng-class="usingSmallPackArt ? 'origin-gamecard-secondarycol-small' : 'origin-gamecard-secondarycol'">
            <h4 class="otktitle-2 origin-gamecard-maintitle">{{ model.displayName }}</h4>

            <span class="otktitle-4 origin-gamecard-subtitle"><strong ng-bind-html="model.shortDescription"></strong></span>

            <p ng-if="model.mediumDescription.length" class="otktitle-4 origin-gamecard-description">{{model.mediumDescription}}</p>

            <div ng-show="showLongDescription()" class="origin-gamecard-long-description-container" ng-class="{'origin-gamecard-long-description-fadeaway' : showReadMore()}"><p class="otktitle-4 origin-gamecard-long-description" ng-bind-html="model.longDescription"></p></div>            
            <span ng-if="showLongDescription() && showReadMore()" class="origin-gamecard-readmore">
                <a href="javascript:void(0)" ng-click="showLongDescriptionDialog()" class="otka">{{readMoreLoc}}</a>
            </span>

            <!-- Violator -->
            <div ng-if="showDebugInfo" class="origin-gamecard-violator">
                <i class="otkicon otkicon-info origin-gamecard-violator-icon origin-gamecard-violator-debugicon"></i>
                <span class="otktitle-4 origin-gamecard-violator-text origin-gamecard-violator-debugtext">{{ debugInfo }}</span>
            </div>

            <!-- Violator -->
            <div ng-if="isInTheFuture(model.releaseDate)" class="origin-gamecard-violator">
                <i class="otkicon otkicon-info origin-gamecard-violator-icon"></i>
                <span class="otktitle-4 origin-gamecard-violator-text">{{releaseDateLoc}} {{formatDate(model.releaseDate)}}</span>
            </div>

            <!-- Violator -->
            <div ng-if="!isDownloadable(model) && (model.isOwned || model.vaultEntitlement)" class="origin-gamecard-violator">
                <i class="otkicon otkicon-checkcircle origin-gamecard-violator-icon origin-gamecard-violator-successicon"></i>
                <div class="otktitle-4 origin-gamecard-violator-text">{{ unlockedLoc }}</div>
            </div>

            <div ng-if="isDownloadable(model) && (model.isOwned || model.vaultEntitlement) && model.isInstalled" class="origin-gamecard-violator">
                <i class="otkicon otkicon-checkcircle origin-gamecard-violator-icon origin-gamecard-violator-successicon"></i>
                <div class="otktitle-4 origin-gamecard-violator-text">{{ installedLoc }}</div>
            </div>

            <origin-wishlist-on-wishlist offer-id="{{model.offerId}}"></origin-wishlist-on-wishlist>

            <origin-gamelibrary-ogdexpansionprice ng-if="!isOwnedSubscriptionOffer()" offer-id="{{offerId}}"></origin-gamelibrary-ogdexpansionprice>

            <div class="origin-gamecard-cta-container">

                <origin-cta-downloadinstallplay 
                    ng-if="(model.isOwned && primaryAction.enabled && (primaryAction.label !== 'playcta' || primaryAction.launchable) && (primaryAction.label !== 'primarydownloadcta' || (isDownloadable(model) || isPrivateOffer)) && (primaryAction.label !== 'playonorigincta' || isReleased(model)))" offerid="{{offerId}}" type="primary" ismoredetailsdisabled="true"></origin-cta-downloadinstallplay>

                <div class="origin-gamecard-gift-cta-container">
                    <origin-cta-gift
                        ng-if="(model.isOwned && isGiftable(model))" offerid="{{offerId}}"
                        model="model"
                        type="light"
                        origin-infobubble="
                            <origin-store-game-rating></origin-store-game-rating>
                            <origin-store-game-legal></origin-store-game-legal>">
                    </origin-cta-gift>
                </div>

                <origin-cta-directacquisition
                    ng-if="!model.isOwned && (isFree(model) || (isOwnedSubscriptionOffer() && model.isUpgradeable) )"
                    description="{{ freeCtaLoc() }}"
                    type="primary"
                    offer-id="{{ model.offerId }}"
                    is-vault="{{ isVaultEntitlement() }}"
                    origin-infobubble="
                        <origin-store-game-rating></origin-store-game-rating>
                        <origin-store-game-legal></origin-store-game-legal>">
                </origin-cta-directacquisition>

                <origin-cta-purchase
                    ng-if="!model.isOwned && !model.vaultEntitlement && !isFree(model) && !isOwnedSubscriptionOffer()"
                    model="model"
                    type="primary"
                    origin-infobubble="
                        <origin-store-game-rating></origin-store-game-rating>
                        <origin-store-game-legal></origin-store-game-legal>">
                </origin-cta-purchase>
            </div>
        </section>
    </div>
</div>