<div ng-if="!loading">
    <div ng-repeat="group in expansionGroups track by $index">

        <h4 class="otktitle-2 origin-ogd-expansions-sectiontitle" ng-class="{'origin-ogd-expansions-sectiontitle-addonstore': (context === 'addonstore')}">{{group.displayName}}</h4>

        <!-- Gamecard module  -->
        <ul class="origin-gamecards-container" >
            <li ng-repeat="item in group.extraContent | orderBy:['-releaseDate', 'i18n.displayName'] track by $index" class="origin-gamecard-item origin-gamecard-item-2col">
                <origin-ogd-expansion-tile offer-id="{{::item.offerId}}" show-debug-info="showDebugInfo"></origin-ogd-expansion-tile>
            </li>
        </ul>
    </div>

    <div ng-if="!expansionGroups.length" class="origin-ogd-expansions-none-container" ng-class="{'origin-ogd-expansions-none-container-addonstore': (context === 'addonstore')}">
        <h5 class="otktitle-2">{{noExpansionsTitleLoc}}</h5>
        <span class="otktitle-3 origin-ogd-expansions-none-description" ng-class="{'origin-ogd-expansions-none-description-addonstore': (context === 'addonstore')}">{{noExpansionsDescLoc}}</span>
    </div>
</div>

<div ng-if="loading" class="origin-ogd-expansions-isloading"></div>
