<div class="origin-gamecard-discounts" ng-show="(model.oth && !model.isOwned) || (!model.subscriptionAvailable && !model.isOwned && !isFree(model))">

    <div ng-if="model.oth && !model.isOwned">
        <span ng-if="model.savings !== '0'" class="otkprice-sale">{{ saveLoc }} {{model.savings}}%
            <s class="otkprice-original">{{ model.formattedStrikePrice }}</s>
        </span>
    </div>

    <div ng-if="!model.subscriptionAvailable && !model.isOwned && !isFree(model)">
        <span ng-if="model.savings && model.savings !== '0'" class="otkprice-sale">{{ saveLoc }} {{model.savings}}%
            <s class="otkprice-original">{{ model.formattedStrikePrice }}</s>
        </span>
        <div ng-if="model.hasSubsDiscount && isSubscriber" class="origin-gamecard-accessdiscount">{{ originAccessDiscountAppliedLoc }}</div>
    </div>

</div>
