<div ng-show="friendsPlaying.length">

    <h4 class="otktitle-2 origin-ogd-friendtile-header">{{friendsPlayingTitleLoc.replace('%number%', friendsPlaying.length)}}</h4>

    <origin-gamelibrary-ogd-friendtile ng-repeat="friend in friendsPlaying | orderBy: 'originId' | limitTo: friendsPlayingLimit" friend="friend"></origin-gamelibrary-ogd-friendtile>

    <a  ng-show="friendsPlayingLimit < friendsPlaying.length" 
        ng-click="friendsPlayingLimit = friendsPlaying.length" 
        class="otka origin-ogd-showmore">{{showMoreLoc}}</a>

    <a  ng-show="(friendsPlayingLimit === friendsPlaying.length) && (friendsPlaying.length > SHOW_FRIENDS_LIMIT)"    
        ng-click="friendsPlayingLimit = (SHOW_FRIENDS_LIMIT < friendsPlaying.length ? SHOW_FRIENDS_LIMIT : friendsPlaying.length)" 
        class="otka origin-ogd-showmore">{{showLessLoc}}</a>

</div>


<div ng-if="!loading">

    <h4 ng-if="friendsWhoPlay.length" class="otktitle-2 origin-ogd-friendtile-header">{{friendsWhoPlayTitleLoc.replace('%number%', friendsWhoPlay.length)}}</h4>


    <origin-gamelibrary-ogd-friendtile ng-repeat="friend in friendsWhoPlay | orderBy: 'originId' | limitTo: friendsWhoPlayLimit" friend="friend"></origin-gamelibrary-ogd-friendtile>

    <a  ng-show="friendsWhoPlayLimit < friendsWhoPlay.length" 
        ng-click="friendsWhoPlayLimit = friendsWhoPlay.length" 
        class="otka origin-ogd-showmore">{{showMoreLoc}}</a>

    <a  ng-show="(friendsWhoPlayLimit === friendsWhoPlay.length) && (friendsWhoPlay.length > SHOW_FRIENDS_LIMIT)"    
        ng-click="friendsWhoPlayLimit = (SHOW_FRIENDS_LIMIT < friendsWhoPlay.length ? SHOW_FRIENDS_LIMIT : friendsWhoPlay.length)" 
        class="otka origin-ogd-showmore">{{showLessLoc}}</a>

    <div ng-if="!friendsWhoPlay.length && !friendsPlaying.length" class='origin-ogd-friendtile-nofriends origin-message'>
        <h5 class='otktitle-2 origin-ogd-friendtile-nofriends-title'>{{noFriendsCtaTitleLoc}}</h5>
        <h6 class='otktitle-3 origin-ogd-friendtile-nofriends-desc'>{{noFriendsCtaDescLoc}}</h6>
        <a href="javascript:void(0)" ng-click="findFriends()" class="otkbtn otkbtn-transparent origin-ogd-friendtile-nofriends-cta">{{noFriendsCtaButtonLoc}}</a>
    </div>

</div>
<div ng-if="loading" class="origin-ogd-friendsplaying-tab-isloading"></div>
