<div class="origin-ogd-header">

    <!-- close ogd icon -->
    <a href="javascript:void(0);" class="origin-ogd-close" ng-click="closeOgd()">
        <i class="otkicon otkicon-closecircle origin-ogd-icon-closecircle"></i>
    </a>

    <!-- background image/video -->
    <div class="origin-ogd-backgroundimage packart" ng-show="header.packartLarge && (!header.backgroundVideoId || header.isPlayingGame)">
        <origin-blur-image-ogd image-url="(header.backgroundImage || header.packartLarge)"
                               svg-options="{viewBox: '0 300 1000 1000', preserveAspectRatio: 'xMinYMin slice'}"
                               blur-value="8"></origin-blur-image-ogd>
    </div>
    <div class="origin-ogd-backgroundimage background-image" ng-show="header.backgroundImage && (!header.backgroundVideoId || header.isPlayingGame)">
        <img ng-src="{{header.backgroundImage}}" />
    </div>
    <div class="origin-ogd-backgroundvideo" ng-show="!header.isPlayingGame"></div>

    <!-- game logos -->
    <img class="origin-ogd-gamelogo" ng-src="{{header.gameLogo}}" ng-hide="!header.gameLogo" />
    <div class="origin-ogd-gamelogos">
        <img class="origin-ogd-premiumgamelogo" ng-src="{{header.gamePremiumLogo}}" ng-hide="!header.gamePremiumLogo" />
        <div class="origin-ogd-accesspremiumgamelogo" ng-show="header.accessLogo"><i class="otkicon otkicon-access"></i></div>
    </div>

    <!-- title and packart -->
    <div class="origin-ogd-gameinfo">
        <img class="origin-ogd-gamepackart" ng-src="{{header.packartLarge}}" ng-hide="!header.packartLarge || header.gameLogo || header.backgroundVideoId" />

        <!-- game title -->
        <h1 class="otktitle-2 otktitle-2-caps origin-ogd-gametitle" ng-hide="!header.packartLarge || header.gameLogo || header.backgroundVideoId" ng-bind-html="header.gameName"></h1>
        <p class="otktitle-4 origin-ogd-nog" ng-hide="!header.isNog">
            <strong>{{nonorigingameLoc}}</strong>
        </p>
    </div>

    <!-- all the details -->
    <div class="origin-ogd-gamedetails origin-tealium-ogd-gamedetails" ng-class="{'origin-ogd-ctashown' : header.isGameActionable }">
        <div class="l-origin-ogd-actionitems">
            <div class="origin-ogd-cta" ng-show="header.isGameActionable">
                <origin-cta-downloadinstallplay offerid="{{offerId}}" type="primary" ismoredetailsdisabled="true"></origin-cta-downloadinstallplay>
            </div>
            <div class="origin-ogd-actionitems">
                <div class="origin-ogd-actionitem">
                    <origin-game-settings-button offerid="{{offerId}}"></origin-game-settings-button>
                </div>
                <div class="origin-ogd-actionitem">
                    <origin-game-favorite-button offerid="{{offerId}}"></origin-game-favorite-button>
                </div>
            </div>

            <div class="origin-ogd-messages"></div>
        </div>

        <div class="l-origin-ogd-gamestats">
            <origin-game-ogd-gamestats offerid="{{offerId}}"></origin-game-ogd-gamestats>
        </div>
    </div>
</div>
