<div class="origin-ogd-message-wrapper" ng-show="isWithinViewableDateRange() && !isDismissed()">
    <p class="otkc origin-ogd-message" ng-class="{'has-icon': hasIcon()}">
        <i class="otkicon origin-ogd-message-icon" ng-class="getIconClass()" ng-if="hasIcon()"></i>
        <span class="origin-ogd-message-title-content"></span>
        <span class="origin-ogd-messages-closeicon-wrapper" ng-if="isDismissible()" ng-click="dismiss($event)">
            <i class="otkicon otkicon-closecircle origin-ogd-messages-closeicon"></i>
        </span>
    </p>
</div>
