<div ng-if="isEmbeddedBrowser">
    <ul class="l-origin-gamelibrary-tilesize-container">
        <li origin-tooltip="{{::localizedStrings.smallTiles}}" origin-tooltip-placement="bottom" class="origin-gamelibrary-tilesize-item" ng-class="{'origin-gamelibrary-tilesize-itemselected': gridSize ==='small'}" ng-click="updateGridTileSize('small')">
            <i class="otkicon otkicon-gamelibrary origin-gamelibrary-tilesize-icon origin-gamelibrary-tilesize-icon-small" ng-class="{'origin-gamelibrary-tilesize-icon-selected' : gridSize==='small'}"></i>
        </li>
        <li origin-tooltip="{{::localizedStrings.mediumTiles}}" origin-tooltip-placement="bottom" class="origin-gamelibrary-tilesize-item" ng-class="{'origin-gamelibrary-tilesize-itemselected': gridSize ==='medium'}"  ng-click="updateGridTileSize('medium')">
            <i class="otkicon otkicon-gamelibrary origin-gamelibrary-tilesize-icon origin-gamelibrary-tilesize-icon-medium" ng-class="{'origin-gamelibrary-tilesize-icon-selected' : gridSize==='medium'}"></i>
        </li>
        <li origin-tooltip="{{::localizedStrings.largeTiles}}" origin-tooltip-placement="bottom" class="origin-gamelibrary-tilesize-item" ng-class="{'origin-gamelibrary-tilesize-itemselected': gridSize ==='large'}"  ng-click="updateGridTileSize('large')">
            <i class="otkicon otkicon-gamelibrary origin-gamelibrary-tilesize-icon origin-gamelibrary-tilesize-icon-large" ng-class="{'origin-gamelibrary-tilesize-icon-selected' : gridSize==='large'}"></i>
        </li>
    </ul>

</div>
