//
// Home Footer
// --------------------------------------------------

.origin-home-footer {
	display: block;
	max-width: 700px;
	margin: 60px auto;
	text-align: center;
}

.origin-home-footer-title {
	color: @color-darknavy;
}

.origin-home-footer-content {
	color: @color-mediumnavy;
}