//
// Home Friend Recommendation Tile
// --------------------------------------------------
@origin-friendtile-icon-size: 30px;

.origin-friendtile {
    .animation(originTileAppear 1.1s cubic-bezier(0.03, 1, 0.2, 1) 0 1 normal);
}

.origin-friendtile-isnewfriend {
    .animation(originTileRemove 1.1s cubic-bezier(0.03, 1, 0.2, 1) 0 1 normal);
}

// Images
// -------------------------

.origin-friendtile-bgimage,
.origin-friendtile-image {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate3d(-50%, -50%, 0);
}

.origin-friendtile-bgimage {
    .filter(blur(15px));
    width: 150%;
}

.origin-friendtile-image {
    .border-radius(50%);
}

// Users Origin ID
// -------------------------

.origin-friendtile-originId {
    color: @color-black;
    &:hover {
        /*text-decoration: underline;*/
        .underline(@color-black, 18px);
    }
}

.origin-friendtile-text {
    margin-top: 0;
    color: @color-mediumnavy;
}

// Confirmation Icons
// -------------------------

.origin-friendtile-confirm {
    .animation(originFriendPopin 0.9s cubic-bezier(0.03, 1, 0.2, 1) 0 1 normal);
}

.origin-friendtile-iconperson {
    color: @color-white;
    font-size: 40px;
    margin-right: -20px;
}

.origin-friendtile-iconcheck {
    color: @color-green;
    font-size: 45px;
}

.origin-friendtile-requestsent {
    color: @color-white;
    font-weight: @weight-normal;
}

.origin-game-friendsplayingicon {
    .box-sizing(border-box);
    margin-right: 20px;
    color: @color-blue;
    line-height: @origin-friendtile-icon-size;
    font-size: 20px;
}

.origin-game-friendsplayingicon::after {
    display: block;
    position: absolute;
    top: 0;
    left: -24%;
    content: "";
    width: @origin-friendtile-icon-size;
    height: @origin-friendtile-icon-size;
    line-height: @origin-friendtile-icon-size;
    .box-sizing(border-box);
    border: 2px solid @color-blue;
    .border-radius(50%);
    .animation(pulse 2s ease 0s infinite);
}