//
// Home Sections
// --------------------------------------------------

.origin-home {
	background: @color-lightgray;
}

// Origin home sections
// -------------------------

.origin-home-section {
	position: relative;
	padding: 35px 0 0 0;
	min-height: 375px;
	#gradient.home();
  	opacity: 1.0;
  	.transition(opacity 0.3s ease-out);
}

// loading state
.origin-home-section-isloading {
	.loading(@color-darknavy);
	opacity: 0.6;
}

.origin-home-section-title {
	margin-bottom: 28px;
	text-align: center;
	color: @color-darknavy;
}


// Layout for the view more
// -------------------------

.l-origin-home-section-more {
    padding: 26px 0 54px 0;
    text-align: center;
}

.origin-home-section-more-isloading {
	position:relative;
	.loading(@color-darknavy);
	> .otkbtn {
		opacity: 0;
	}
}