<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <fail unless="@{PathIsPathRooted('d:\nant.exe')}" />
    <fail if="@{PathIsPathRooted('nant.exe')}" />
</project>
]]>
</code>
</example>