#lblText[iconType="notice"] {
    color: #424242;
}

#lblText
,#lblText[iconType="success"]
,#lblText[iconType="error"]
,#lblText[iconType="info"] {
    color: #fff;
	margin-left: 8px;
}

#innerWidget {
/*
	padding-top: 8px;
	padding-bottom: 8px;
*/
	min-height: 49px;
}

#innerWidget[iconType="success"] {
	background-color: #5cab26;
}

#innerWidget[iconType="info"] {
	background-color: #269dcf;
}

#innerWidget[iconType="error"] {
	background-color: #c93507;
}


#innerWidget[bannerType="message"]
,#innerWidget[iconType="notice"] {
	background-color: transparent;
}

#icon[iconType="success"] {
	image: url(:/OriginCommonControls/OriginBanner/validated_large.png);
}

#icon[iconType="info"] {
	image: url(:/OriginCommonControls/OriginBanner/info_large.png);
}

#icon[iconType="notice"] {
	image: url(:/OriginCommonControls/OriginBanner/notice_large.png);
}

#icon
,#icon[iconType="error"] {
	image: url(:/OriginCommonControls/OriginBanner/error_large.png);
}