<example>
<para>Zip all files in the subdirectory <c>build</c> to <c>backup.zip</c>.</para>
<code>
<![CDATA[
<project default="DoZip">
    <target name="DoZip">
        <zip zipfile="backup.zip">
            <fileset basedir=".">
                <includes name="*.*"/>
                <excludes name="backup.zip"/>
            </fileset>
        </zip>
    </target>
</project>
]]>
</code>
</example>
