<div class="origin-store-about-tile l-origin-store-column-third">
    <i class="otkicon" ng-class="{'otkicon-windows' : (platform === 'windows'), 'otkicon-apple' : (platform === 'mac')}"></i>
    <span class="otktitle otktitle-2">{{::platformTitle}}</span>
    <p class="otkc-small origin-store-about-tile-content" ng-bind-html="::systemRequirements"></p>
    <a class="origin-store-about-downloadorigin-tile-downloadbtn otkbtn" ng-class="{ 'otkbtn-primary' : ctaColor === 'primary', 'otkbtn-light': ctaColor === 'light' }" ng-href="{{::downloadUrl}}" ng-bind-html="::platformDownloadText" ng-if="showDownloadCta"></a>
</div>
