<div class="origin-store-about-section-content">
    <div class="origin-store-about-section-content-wrapper">
        <origin-store-about-heading ng-if="isCompatible !== null"
            title-str="{{::(isCompatible ? compatibleTitleStr : incompatibleTitleStr)}}"
            subtitle="{{::(isCompatible ? compatibleSubtitle : incompatibleSubtitle)}}"
            text-color="{{::textColor}}"
            alignment="{{::alignment}}">
        </origin-store-about-heading>
        <div ng-transclude></div>
    </div>
</div>
