<section class="origin-policy l-origin-section l-origin-section-divider">
    <div class="origin-policy-header">
        <span class="otkselect origin-policy-select">
            <select ng-model="selectedDate" ng-options="date as date | formatDate:dateFormat for date in dates">
            </select>
            <span class="otkselect-label">{{selectedDate | formatDate:dateFormat }}</span>
        </span>
        <h1 class="otktitle-2" ng-bind-html="titleStr"></h1>
    </div>
    <div class="origin-policy-content" ng-transclude>
    </div>
</section>
