<div class="origin-about-hero">
    <section class="origin-about-hero-background" ng-transclude></section>
    <section class="origin-about-hero-header-wrapper">
        <div class="origin-about-hero-header l-origin-section">
            <h1 class="otktitle otktitle-page" ng-bind-html="titleStr"></h1>
            <origin-store-about-nav></origin-store-about-nav>
        </div>
    </section>
    <section class="origin-about-hero-action">
        <origin-store-about-downloadorigin-nav></origin-store-about-downloadorigin-nav>
    </section>

</div>