<li class="origin-about-social-media-item">
    <span class="origin-about-social-media-item-content otkc">
        <a ng-href="{{::url}}" target="_blank" class="otkicon external-link" ng-class="::{
        'otkicon-twitter': socialMediaType === 'twitter',
        'otkicon-facebook': socialMediaType === 'facebook',
        'otkicon-youtube-glyph': socialMediaType === 'youtube',
        'otkicon-originlogo': socialMediaType === 'insider'
        }">
        </a>
        {{::title}}
    </span>
</li>
