.origin-backgroundimage-wrapper {
    overflow: hidden;
    height: 100%;
    text-align: center;
    width: 5000px;
    position: absolute;
    top: 0;
    left: 50%;
    .translate(-50%, 0);

    @media screen {
        @media (min-width: 1000px) {
          height: 100%;
        }
    }
}

.origin-backgroundimage-wrapper-inner {
    position: relative;
    display: inline-block;
    height: auto;
    top: 50%;
    .translate(0, -50%);
}

.origin-backgroundimage-scrim {
    width: 100px;
    height: 1000px;
    position: absolute;
    top: 0;
}

.origin-backgroundimage-scrim-left {
    left: 0;
}

.origin-backgroundimage-scrim-right {
    right: 0;
}

.origin-backgroundimage-image {
    @media screen {
        @media (min-width: 1000px) {
          height: 100%;
        }
    }
}
