.store-browse-wrapper {
    .box-sizing(border-box);
    position: relative;
    padding: 42px 0 21px 45px;
    margin-right: 45px;
    height: 100%;

    @media screen and (max-width: @width-medium-desktop) {
        padding-left: 3.33%;
        margin-right: 0;
    }

    .origin-filter-panel {
        top: 90px;
        right: 25px;
        overflow: visible;
        z-index: 1;

        @media screen and (max-width: @width-desktop) {
            display: none;
        }

        @media screen and (min-width: @width-desktop) and (max-width: @width-medium-desktop) {
            right: 35px;
        }
    }
}