@light-grey-rgba: rgba(237, 241, 242, 0);
@dark-grey-hex: #d8dce0;
@dark-grey-rgba: rgba(216, 220, 224, 0);

.origin-onthehousedetails{
    .store-content-box();
    box-sizing: border-box;
    padding: 15px;
    min-height: 190px;
}

.l-origin-store-column-full.origin-onthehousedetails{
    margin-bottom: 30px;
}

.origin-store-oth-card-container-wrapper.l-origin-store-column-half {
    background: #ffffff;
}

.origin-store-oth-card-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.origin-store-oth-card {
    position: relative;

    .origin-store-program-offer {
        margin: 0;
    }
}

.lightgrey-gradient {
    background: @color-lightgray;
    padding: 0 0 40px;
    background-image: -webkit-linear-gradient(top, @color-lightgray 0%, @light-grey-rgba 100%),
    -webkit-linear-gradient(left, rgba(216, 220, 224, 0) 0%,@dark-grey-hex 30%,@dark-grey-hex 50%,@dark-grey-hex 70%, @dark-grey-rgba 100%);

    background-image: -moz-linear-gradient(top, @color-lightgray 0%, @light-grey-rgba 100%),
    -moz-linear-gradient(left, rgba(216, 220, 224, 0) 0%,@dark-grey-hex 30%,@dark-grey-hex 50%,@dark-grey-hex 70%, @dark-grey-rgba 100%);

    background-image: -ms-linear-gradient(top, @color-lightgray 0%, @light-grey-rgba 100%),
    -ms-linear-gradient(left, rgba(216, 220, 224, 0) 0%,@dark-grey-hex 30%,@dark-grey-hex 50%,@dark-grey-hex 70%, @dark-grey-rgba 100%);

    background-image: linear-gradient(top, @color-lightgray 0%, @light-grey-rgba 100%),
    linear-gradient(left, rgba(216, 220, 224, 0) 0%,@dark-grey-hex 30%,@dark-grey-hex 50%,@dark-grey-hex 70%, @dark-grey-rgba 100%);
}