.origin-store-originaccess {
	vertical-align: middle;
	display: inline-block;
	line-height: 16px;
	font-size: 0;
	.no-touch & {
		position: relative;
	}
}

.origin-store-originaccess-logo {
	padding-bottom: 5px;
	margin-bottom: -5px;
	> i {
		display: inline-block;
		line-height: 20px;
		vertical-align: middle;
		pointer-events: none;
		.no-touch & {
			pointer-events: all;
		}
	}
	> .otkicon-originlogo {
		font-size: 15px;
		color: @color-orange;
	}
	> .otkicon-accesstext {
		font-size: 50px;
		color: @color-mediumnavy;
	}
}

.origin-store-originaccess-hasinfobubble {
	cursor: pointer;
}

.origin-store-originaccess-hasinfobubble .origin-infobubble {
	bottom: auto;
	left: 50%;
	margin-top: 2px;
	width: 280px;
	margin-left: -140px;
}

.origin-store-originaccess-hasinfobubble:hover .origin-infobubble {
	visibility: visible;
	.opacity(1);
	.animation(originInfobubbleMoveInFromBottom @timing-short-ease-out);
}

.origin-store-originaccess-hasinfobubble .origin-infobubble-content strong {
	color: @color-black
}