.origin-storeprice .otkprice,
.origin-storeprice .otkprice-free {
    display: block;
}

.origin-storeprice .otkprice-sale {
    margin-right: 5px;
}

.origin-storeprice-owned {
    font-size: 0;
}

.origin-storeprice-owned * {
    vertical-align: middle;
    color: @color-green;
}

.origin-storeprice-owned .otkicon-checkcircle {
    font-size: 28px;
    margin: -4px 0 0 -5px;
}

.origin-storeprice-access {
    color: @color-mediumnavy;
    line-height: 16px;
    font-size: 0;
}

.origin-storeprice-access > .otktitle-4 {
    margin-right: 2px;
    vertical-align: middle;
    line-height: 16px;
    display: inline-block;
}
