@banner-height: 100px;
@image-height-xsmall: 260px;
@image-height-small: 300px;
@image-height-medium: 360px;

@content-padding-small: 15px;
@content-padding-medium: 20px;
@content-padding-large: 45px;

.origin-store-promo {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: @color-darknavy;
    .transition(all .3s ease-out);
    .box-shadow(0 0 2px 0 fade(@color-black, 25%));
    padding-bottom: @banner-height;
    height: @image-height-xsmall;
    display: block;

    @media @store-min-xs {
        height: @image-height-small;
    }

    @media @store-min-s {
        padding: 0;
        height: @image-height-medium;
    }

    .no-touch &:hover{
        .box-shadow(0 0 10px 0 fade(@color-black, 60%));
    }

    .origin-backgroundimage-wrapper{
        height: @image-height-xsmall;

        @media @store-min-xs {
            height: @image-height-small;
        }
 
        @media @store-min-s {
            height: 100%;
        }
    }

    &-banner {  
        z-index: 1;
        width: 100%;
        min-height: @banner-height;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: @content-padding-small;
        padding-right: @content-padding-small;
        padding-top: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
        background: @color-darknavy; 
        position: absolute;
        bottom: 0;
        
        @media @store-min-xs {
            padding-left: @content-padding-medium;
            padding-right: @content-padding-medium;
        }

        @media @store-min-s {
            text-align: left;
            background: fade(@color-darknavy, 80%);
        }

        @media @store-min-m {
            padding-left: @content-padding-large;
            padding-right: @content-padding-large;
        }

        &-title {
            margin-bottom: 6px;
        }

        &-title,
        &-subtitleText {
            max-width: 80%;
             color: @color-white;
        }

        &-subtitleText {
            display: inline-block;
            margin-right: 5px;
        }

        .origin-store-promo-withpackart &-content {
            text-align: left;
            padding-left: 60px;

            @media @store-min-xs {
                padding-left: 90px;
            }
        }

    }

    &-cta {
        display: inline-block;
        
        .otka {
            display: inline-block;

            @media @store-min-l {
                display: none;
            }
        }
        
        .otkbtn {
            display: none;
            .vertical-center();

            @media @store-min-l {
                display: block;
                right: @content-padding-large;
            }
        }
    }

    &-release {
        color: @color-white;
        margin-right: 5px;
    }

    &-packart {
        position: absolute;
        width: 60px;
        top: -5px;
        left: 5px;

        @media @store-min-xs {
            left: 20px;
            top: -15px;
            width: 70px;
        }

        @media @store-min-m {
            left: 45px;
        }
    }

    &-list {
        list-style-type: disc;
        list-style-position: inside;
        color: @color-lightnavy;
        margin: 6px 0;
        padding: 0;

        & li {
            margin: 0;
            padding: 0;
        }
    }

    // Custom styles for hero promos
    &.l-origin-store-column-hero {
        @image-height-hero-xsmall: 200px;
        @image-height-hero-small: 300px;
        @image-height-hero-medium: 450px;

        height: @image-height-hero-xsmall;

        @media @store-min-xs {
            height: @image-height-hero-small;
        }

        @media @store-min-s {
            padding: 0;
            height: @image-height-hero-medium;
        }


        .origin-backgroundimage-wrapper{
            height: @image-height-xsmall;

            @media @store-min-xs {
                height: @image-height-hero-small;
            }

            @media @store-min-s {
                height: 100%;
            }
        }
    }

    // Custom styles for half width promos
    &.l-origin-store-column-half {
        .origin-store-promo-cta {
            .otka {
                display: inline-block;

                @media @store-min-l {
                    display: inline-block;
                }
            }
            
            .otkbtn {
                display: none;

                @media @store-min-l {
                    display: none;
                }
            }
        }
    } 
}

// TODO This style need a new home when the CTA module is refactored.
.origin-store-video {
    @size: 48px;
    @padding: 10px;
    background: @color-darknavy;
    background: fade(@color-darknavy, 70%);
    border: 2px solid @color-white;
    border-radius: 50%;
    .box-shadow(0 0 25px 0 fade(@color-darknavy, 90%));
    color: @color-white;
    display: inline-block;
    font-size: 35px;
    height: @size;
    width: @size;
    padding: @padding;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    text-indent: 2.5px;
    z-index: 2;
    .transition(all .3s ease-in-out 0s);
    margin: 0;
    .translate(-50%, ((@banner-height + (@size+(2*@padding)))/-2));

    .no-touch &:hover {
        background: @color-darknavy;
        background: fade(@color-darknavy, 90%);
        border: 2px solid @color-lightgray;
        .box-shadow(0 0 25px 0 fade(@color-darknavy, 50%));
        color: @color-white;
    }
}