//
// origin store row - layout
// -------------------------------------------------
.flex-box {
  .display-flex();
  .flex-flow(row wrap);
  justify-content: space-around;
}

.l-origin-store-row
{

  font-size: 0;
  margin-bottom: 54px;
  .clearfix-block();

  .l-origin-store-column-full {
    margin: 0 2%;
    width: 96%;
  }

  .l-origin-store-column-half {
    margin: 0 2% 45px;
    width: 96%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .l-origin-store-column-third {
    margin: 0 2% 45px;
    width: 96%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .l-origin-store-column-quarter {
    margin: 0 2% 45px;
    width: 96%;

    &:last-child {
      margin-bottom: 0;
    }
  }


  @media screen and (min-width: 600px) and (max-width: 1199px) {
    .l-origin-store-column-quarter {
      width: 44%;
      float: left;

      &:first-child,
      &:nth-child(2) {
        margin: 0 2% 30px 4%;
      }

      &:nth-child(3) {
        margin: 0 2% 0 4%;
        clear: left;
      }

      &:last-child {
        margin: 0 2% 0 4%;
      }
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .l-origin-store-column-full {
      margin: 0 4%;
      width: 92%;
    }

    .l-origin-store-column-half {
      width: 44%;
      float: left;

      &:first-child {
        margin: 0 2% 0 4%;
      }

      &:last-child {
        margin: 0 4% 0 2%;
      }
    }

    .l-origin-store-column-third {
      width: 28%;
      margin: 0 2%;
      float: left;
      margin: 0 2%;

      &:first-child {
        margin: 0 2% 0 4%;
      }

      &:last-child {
        margin: 0 4% 0 2%;
      }
    }
    .l-origin-store-column-quarter {
      width: 44%;
      float: left;

      &:first-child,
      &:nth-child(2) {
        margin: 0 2% 30px 4%;
      }

      &:nth-child(3) {
        margin: 0 2% 0 4%;
        clear: left;
      }

      &:last-child {
        margin: 0 2% 0 4%;
      }
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1599px) {
    .l-origin-store-column-half {
      width: 47%;
      float: left;

      &:first-child {
        margin: 0 1% 0 2%;
      }

      &:last-child {
        margin: 0 2% 0 1%;
      }
    }

    .l-origin-store-column-third {
      width: 30.66%;
      margin: 0 1%;
      float: left;

      &:first-child {
        margin: 0 1% 0 2%;
      }

      &:last-child {
        margin: 0 2% 0 1%;
      }
    }
    .l-origin-store-column-quarter {
      width: 44%;
      float: left;

      &:first-child,
      &:nth-child(2) {
        margin: 0 2% 30px 4%;
      }

      &:nth-child(3) {
        margin: 0 2% 0 4%;
        clear: left;
      }

      &:last-child {
        margin: 0 2% 0 4%;
      }
    }
  }
  @media screen and (min-width: 1600px) {
    .l-origin-store-column-half {
      width: 47%;
      float: left;

      &:first-child {
        margin: 0 1% 0 2%;
      }

      &:last-child {
        margin: 0 2% 0 1%;
      }
    }

    .l-origin-store-column-third {
      width: 30.66%;
      margin: 0 1%;
      float: left;

      &:first-child {
        margin: 0 1% 0 2%;
      }

      &:last-child {
        margin: 0 2% 0 1%;
      }
    }
    .l-origin-store-column-quarter {
      width: 19%;
      margin: 0 2%;
      float: left;
      margin: 0 2%;

      &:first-child {
        margin: 0 2% 0 4%;
      }

      &:last-child {
        margin: 0 4% 0 2%;
      }
    }
  }
}