<example>
<para>If / Else conditional.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name='a' value='true' />

    <choose>
        <do if='${a}'>
            <echo message='a is true' />
        </do>
        <do>
            <echo message='a is false' />
        </do>
    </choose>    
</project>
]]>
</code>
</example>