//
// Command links only template
// --------------------------------------------------

.origin-cldialog-commandbuttons .otkbtn-command {
    margin-bottom: 25px;
}

.origin-cldialog-commandbuttons .otkbtn-command:last-child {
    margin-bottom: 0;
}

.commandbuttons-bottom-text {
    float: right;
}