<div class="origin-miniprofile">
    <div class='origin-miniprofile-avatar'>
        <origin-avatar nucleusid="{{myNucleusId}}" ng-if="loggedIn" class='origin-miniprofile-avatar'></origin-avatar>
    </div>
    <div class='origin-miniprofile-userinfo' ng-if="loggedIn">
        <div class="otkdropdown origin-miniprofile-dropdown">
            <a id="miniprofile-dropdown" class="otkdropdown-trigger origin-miniprofile-dropdown-trigger otkdropdown-trigger-caret otktitle-4 otktitle-4-strong" href="javascript:void(0);" origin-toggle="#miniprofile-dropdown-wrap" origin-toggle-event>{{myOriginId}}</a>
            <origin-dropdown dropdown-id="miniprofile-dropdown-wrap" labelled-by="miniprofile-dropdown">
                <origin-dropdownitem click-action="profile()">{{::myProfileStr}}</origin-dropdownitem>
                <origin-dropdownitem>{{::accountStr}}</origin-dropdownitem>
                <origin-dropdownitem>{{::orderStr}}</origin-dropdownitem>
                <origin-dropdownitem click-action="logout()">{{::logoutStr}}</origin-dropdownitem>
            </origin-dropdown>
        </div>
        <a class="origin-miniprofile-points" href="javascript:void(0)">{{::pointsStr}}</a>
    </div>
    <p ng-if="loggedIn === false" class="origin-miniprofile-login" dynamic-content="loginOrRegister">{{::loginOrRegister}}</p>
</div>