<!-- end temporary language selection -->
<form ng-submit="search(true)" class='origin-globalsearch'>
    <div class="otkform-group">
        <div class="otkform-group-field">
            <input ng-model="searchString" ng-change="search(false)" type="text" class="otkfield otkfield-input otkfield-input-search" placeholder="{{searchPlaceholder}}" ng-click="openbox()">
            <!--Not entirely sure how to get this button to show up to the right of the search box.-->
            <button style="margin-left: 300px" type="submit" class="otkfield-action">
                <i class="otkicon otkicon-search"></i>
            </button>
        </div>
        <div class="otkdropdown">
            <div class="origin-search-results">
                <div class="otkdropdown-wrap origin-globalsearch-dropdown" ng-class="(dropdownVisible == true) ? 'otkdropdown-visible' : ''" >
                    <div ng-repeat="area in data.includes" >
                        <origin-mini-search-games ng-show="area === 'games'"></origin-mini-search-games>
                        <origin-mini-search-store ng-show="area === 'store'"></origin-mini-search-store>
                        <origin-mini-search-people ng-show="area === 'people'"></origin-mini-search-people>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>