/**
* @frame.css
* Styles to be utilized for widget page that contains 
* a sub navigation heading, and various errors states for 
* the entire widget.
*
* This is shared between the main profile page and the
* user search page.
*
*
*/


/*** start: general styles ***/

/* apply a natural box layout model to all elements */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body
{
    background: url(../images/background.png);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333333;
    font-size: 14px;
    overflow-y: hidden;
}

body, html
{
    font: normal 14px Arial,sans-serif;
}

html:lang(ko-kr),
body:lang(ko-kr)
{
    font-family: Dotum, AsiaDNR-M;
}
html:lang(zh-tw),
body:lang(zh-tw),
html:lang(zh-cn),
body:lang(zh-cn)
{
    font-family: SimHei, Arial, sans-serif;
}
html:lang(th-th),
body:lang(th-th)
{
    font-family: Tahoma;
}

/*** end: general styles ***/

    body > .outer-wrapper
    {
        display: block;
    }


        /*** start: navigation ***/

        body > .outer-wrapper > .nav-wrapper
        {
            background-color: #f5f5f5;
            padding: 0 10px 5px;
            position: relative;
            font-size: 13px;
            height: 39px;
            overflow: hidden;
            z-index: 100;

            -webkit-box-shadow: -17px 4px 10px rgba(0, 0, 0, 0.4);
               -moz-box-shadow: -17px 4px 10px rgba(0, 0, 0, 0.4);
                    box-shadow: -17px 4px 10px rgba(0, 0, 0, 0.4);
        }

            body > .outer-wrapper > .nav-wrapper > ul
            {
                margin: 0;
                overflow: hidden;
                float: left;
                padding: 13px 0 0;
            }

                body > .outer-wrapper > .nav-wrapper > ul > li
                {
                    float: left;
                    list-style: none;
                }

                    body > .outer-wrapper > .nav-wrapper > ul > li a
                    {
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 13px;
                        margin-left: 24px;
                        text-decoration: none;
                        color: #909090;
                    }

                    body > .outer-wrapper > .nav-wrapper > ul > li a.active
                    {
                        color: #404040;
                    }

                    body > .outer-wrapper > .nav-wrapper > ul > li a:hover
                    {
                        cursor: pointer;
                    }

            body > .outer-wrapper > .nav-wrapper > #search-friend-control
            {
                float: right;
                margin: 5px 10px 0;
            }

                body > .outer-wrapper > .nav-wrapper > #search-friend-control > span
                {
                    margin:0;
                    padding: 0 3px 0 0;
                }

                    body > .outer-wrapper > .nav-wrapper > #search-friend-control > span  > span {}

                        body > .outer-wrapper > .nav-wrapper > #search-friend-control > span > span > input
                        {
                            width: 147px;
                        }

                        body > .outer-wrapper > .nav-wrapper > #search-friend-control > span > span > button
                        {
                            border: none;
                            background: url(../images/origin-ux-elements/icon-search.png) no-repeat;
                            cursor: pointer;
                            width: 20px;
                            height: 14px;
                        }

                body > .outer-wrapper > .nav-wrapper > #search-friend-control > .search-friend-control-placeholder
                {
                    display: none;
                }

        /*** end: navigation ***/


        body > .outer-wrapper > .wrapper
        {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }

            body > .outer-wrapper > .wrapper > .container
            {
                width: 960px;
            }

    /*** start: offline mode ***/

    body.offline-mode
    {
        background: #EEE;
    }

    body.offline-mode > .outer-wrapper
    {
        display: none;
    }

    body.offline-mode > .offline-mode
    {
        display: block;
    }

    body > .offline-screen
    {
        display: none;
        background: #eee;
        height: 100%;
        overflow: hidden;
        position: fixed;
        text-align: center;
        width: 100%;
    }

          body > .offline-screen > .offline-panel
          {
              margin: 65px 100px;
          }


              body > .offline-screen > .offline-panel > p
              {
                  border-bottom: none;
                  color: #555;
                  font-family: "Arial";
                  font-size: 12px;
                  font-weight: normal;
                  margin-top: 5px;
              }
              body > .offline-screen > .offline-panel > p:lang(ko-kr),
              body > .offline-screen > .offline-panel > p:lang(th-th),
              body > .offline-screen > .offline-panel > p:lang(zh-tw),
              body > .offline-screen > .offline-panel > p:lang(zh-cn)
                            {
                   font-family: inherit;
              }

                  body > .offline-screen > .offline-panel > p > a
                  {
                      color: #444;
                      font-weight: bold;
                      margin-left: 15px;
                      text-decoration: underline;
                  }

              body > .offline-screen > .offline-panel > h1
              {
                  color: #444;
                  border-bottom: none;
                  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
                  font-size: 18px;
                  font-weight: bold;
                  line-height: normal;
                  height: 22px;
                  padding: 0;
                  margin: 12px 0;
              }

              body > .offline-screen > .offline-panel > h1:lang(el-gr) { font-family: "Arial", sans-serif; font-size: 16px; }
              body > .offline-screen > .offline-panel > h1:lang(ru-ru) { font-family: "Arial", sans-serif; font-size: 18px; }
              body > .offline-screen > .offline-panel > h1:lang(sv-se) { font-size: 18px; }
              body > .offline-screen > .offline-panel > h1:lang(ja-jp) { font-family: "DFGHSGothic-W5"; font-size: 20px; }
              body > .offline-screen > .offline-panel > h1:lang(ko-kr) { font-family: "Dotum", "AsiaDNR-M"; font-size: 20px; }
              body > .offline-screen > .offline-panel > h1:lang(th-th) { font-family: Tahoma; font-size: 20px; }
              body > .offline-screen > .offline-panel > h1:lang(zh-cn) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }
              body > .offline-screen > .offline-panel > h1:lang(zh-tw) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }

    /*** end: offline mode ***/
