/**
* @profile.css
* Main style that are exclusive to the profile page (index.html).
*
* TODO:
* 1. Replace ID's with classes where possible.
*
*/

/*** start: general styles ***/

a, a:active, a:visited, a:link
{
    color: #515254;
    outline: none;
    text-decoration: none;
}

/*** end: general styles ***/


/*** start: general container ***/

body > .outer-wrapper > .wrapper > .container
{
    margin: 0 auto;
    width: 737px;
}

.hidden {
    display: none;
}

.string-holder { display: none !important; }

/*** end: general container ***/


/*** start: profile details ***/

#profile-info
{
    background: #e0e0e0;
    display: table;
    min-height: 305px;
    overflow: hidden;
    margin: 30px auto;
    padding: 0;

    -webkit-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 151px 5px rgba(85, 85, 85, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 151px 5px rgba(85, 85, 85, 0.1);
}

    #profile-info > .column
    {
        float: left;
        min-height: 305px;
    }

    #profile-info > #profile-left-column.column
    {
        background-image: linear-gradient(bottom, rgb(243,243,243) 8%, rgb(255,255,255) 52%, rgb(248,248,248) 88%);
        background-image: -webkit-gradient(
            linear, left bottom, left top,
            color-stop(0.08, rgb(243,243,243)),
            color-stop(0.52, rgb(255,255,255)),
            color-stop(0.88, rgb(248,248,248))
        );
        border: 2px solid #ffffff;
        height: 305px;
        padding: 0;
        width: 249px;
        position: relative;

        -webkit-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px;
    }

        #profile-info > #profile-left-column.column > #profile-img
        {
            border-left-style: solid;
            border-left-width: 12px;
            height: 208px;
            margin: 20px auto 10px;
            overflow: hidden;
            padding-left: 2px;
            position: relative;
            width: 208px;
        }

        #profile-info > #profile-left-column.column > #profile-img:after
        {
            border-left: 2px solid #FEFFFF;
            content: "";
            height: inherit;
            left: 0;
            position: absolute;
            top: 0;
        }

        #profile-info > #profile-left-column.column > .origin-ux-button
        {
            display: none;
            margin: 0 19px 0 17px;
        }

        #stranger-pending-request {
            bottom: 12px;
            display: none;
            font-size: 12px;
            font-weight: bold;
            max-height: 60px;
            overflow: hidden;
            padding: 10px;
            position: absolute;
            width: 100%;
        }
            #stranger-pending-request .label {
                color: #444;
                font-size: 12px;
                margin: 0 0 5px;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            #stranger-pending-request > a {
                color: #269dcf;
                float: left;
                overflow: hidden;
                padding: 0 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 50%;
            }
            #stranger-pending-request > .accept-request {
                border-right: 1px solid #444;
                text-align: right;
            }

        body.profile-user #profile-info > #profile-left-column.column > #btn-edit-profile,
        body.profile-stranger #profile-info > #profile-left-column.column > #btn-add-user,
        body.profile-friend #profile-info > #profile-left-column.column > #btn-chat
        {
            display: block;
        }

        body.profile-blocked #profile-info > #profile-left-column.column > #btn-unblock
        {
            display: block;
        }

        body.profile-blocked.profile-stranger #profile-info > #profile-left-column.column > #btn-add-user,
        body.profile-blocked.profile-friend #profile-info > #profile-left-column.column > #btn-chat,
        body.profile-blocked.profile-friend-request-sent #profile-info > #profile-left-column.column > #btn-request-sent        
        {
            display: none;
        }

        body.profile-friend-request-sent #profile-info > #profile-left-column.column > #btn-request-sent
        {
            display: block;
        }

        body.profile-friend-request-sent #profile-info > #profile-left-column.column > #btn-add-user
        {
            display: none;
        }

        /* Accept / Ignore friend request */
        body.profile-stranger.profile-friend-pending-request #profile-info > #profile-left-column.column > #btn-add-user,
        body.profile-stranger.profile-friend-pending-request #profile-info > #profile-left-column.column > #btn-request-sent
        {
            display: none; 
        }
        body.profile-stranger.profile-friend-pending-request #profile-info > #profile-left-column.column > #stranger-pending-request
        {
            display: block;
        }

            #profile-info > #profile-left-column.column > .origin-ux-button > span
            {
                text-align: center;
                display: block;
                position: relative;
            }

            #profile-info > #profile-left-column.column > .origin-ux-button > span:before{
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 4px 0 4px 4px;
                border-color: transparent transparent transparent #515254;
                position: absolute;
                padding-right: 2px;
                right: 0;
                top: 2px;
                content: " ";
            }



    #profile-info > #profile-right-column.column
    {
        width: 488px;
    }

       #profile-info >  #profile-right-column.column > section
       {
            overflow: hidden;
            padding: 15px 18px 15px 26px;
        }

            #profile-info > #profile-right-column.column > section.top-user-info
            {
                border-bottom: 1px solid #b9b9b9;
                min-height: 95px;
            }

                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name
                {
                    color: #424242;
                    float: left;
                    font-size: 24px;
                    max-width: 48%;
                    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
                    margin: 0;
                }

                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(el-gr) { font-family: "Arial", sans-serif; font-size: 16px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(ru-ru) { font-family: "Arial", sans-serif; font-size: 18px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(sv-se) { font-size: 18px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(ja-jp) { font-family: "DFGHSGothic-W5"; font-size: 20px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(ko-kr) { font-family: "Dotum", "AsiaDNR-M"; font-size: 20px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(th-th) { font-family: Tahoma; font-size: 20px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(zh-cn) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }
                #profile-info > #profile-right-column.column > section.top-user-info > h2.display-name:lang(zh-tw) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }

                #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points 
                {
                    display: block;
                    float: right;
                    max-width: 48%;
                }

                body.profile-friend #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points,
                body.profile-stranger #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points
                {
                    display: none;
                }


                    #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points > span
                    {
                        margin: 0;
                        text-align: right;
                        display:block;
                        font-weight: bold;
                    }

                    #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points > .op-points
                    {
                        color: #888888;
                        font-size: 12px;
                    }

                    #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points > .user-total-points
                    {
                        background: url("../images/icon-origin-points-18x18.png")
                        no-repeat 100% 5px;
                        color: #424242;
                        float: right;
                        font-size: 30px;
                        margin-right: -2px;
                        padding-right: 22px;
                    }

                    #profile-info > #profile-right-column.column > section.top-user-info > .user-op-points > .user-total-points:hover
                    {
                        cursor: pointer;
                    }

            #profile-info > #profile-right-column.column > section.bottom-user-info
            {
                border-top: 1px solid #fff;
                color: #515254;
                font-size: 12px;
                list-style: none;
            }

                #profile-info > #profile-right-column.column > section.bottom-user-info > dl
                {
                    float: left;
                    margin: 0;
                    max-width: 242px;
                }

                    #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dt
                    {
                        font-size: 10px;
                        font-weight: bold;
                        margin-bottom: 2px;
                    }
                    #profile-info > #profile-right-column.column > section.bottom-user-info:lang(ko-kr) > dl > dt{
                        font-size: 12px;
                    }

                    #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dd,
                    #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dd > span
                    {
                        font-size: 12px;
                        height: 15px;
                        margin:0 0 8px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                        #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dd > a,
                        #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dd > a:active,
                        #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dd > a:visited,
                        #profile-info > #profile-right-column.column > section.bottom-user-info > dl > dd > a:hover
                        {
                            color: #269dcf; /*02a0e2*/
                        }

                #profile-info > #profile-right-column.column > section.bottom-user-info > ul
                {
                    float: right;
                    font-weight: bold;
                    list-style: none;
                    margin: 0;
                    max-width: 175px;
                    padding: 0;
                    width: 160px;
                }

                body.profile-user #profile-options-menu
                {
                    display: none;
                }

                    #profile-info > #profile-right-column.column > section.bottom-user-info > ul > li
                    {
                        direction: rtl;
                        list-style-position: inside;
                        list-style-image: url(../images/icon-arrow-right.png);
                        margin: 0 0 12px;
                    }

                    body.profile-friend #unblock-user,
                    body.profile-stranger #unblock-user
                    {
                        display: none;
                    }

                    body.profile-stranger #remove-user,
                    body.profile-blocked #remove-user
                    {
                        display: none;
                    }

                    body.profile-blocked #unfriend-block-user
                    {
                        display: none;
                    }

                    body.profile-blocked #unfriend-block-user,
                    body.profile-stranger #unfriend-block-user
                    {
                        display: none;
                    }

                    body.profile-friend.profile-blocked #remove-user
                    {
                        display: list-item;
                    }

                    body.profile-friend.profile-blocked #unblock-user
                    {
                        display: list-item;
                    }

                    body.profile-stranger.profile-blocked #unblock-user
                    {
                        display: list-item;
                    }

                        #profile-info > #profile-right-column.column > section.bottom-user-info > ul > li > a,
                        #profile-info > #profile-right-column.column > section.bottom-user-info > ul > li > a:active,
                        #profile-info > #profile-right-column.column > section.bottom-user-info > ul > li > a:visited,
                        #profile-info > #profile-right-column.column > section.bottom-user-info > ul > li > a:hover
                        {
                            color: #515254;
                            cursor: pointer;
                            overflow: hidden;
                            position: relative;
                            text-overflow: ellipsis;

                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;                           
                        }
/*** end: profile details ***/


/*** start: album ***/

.album
{
    background: #e5e5e5; /*#f1f1f1;*/
    margin: 30px auto;
    padding: 0 0 10px;

    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 1);
       -moz-box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 1);
            box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 1);
}


    /*** starts: states for an album ***/

    .album.album-loading
    {
        background: #555;
    }

    .album.album-loading .album-header .section-rates,
    .album.album-loading .album-content,
    .album.album-loading .error-message,
    .album.album-loading .private-message-container
    {
      display: none;
    }

    .album.album-loading .album-loader
    {
      display: block;
    }

    .album.error { background-color: #e5e5e5; }

    .album.error .album-header .section-rates,
    .album.error .album-content,
    .album.error .album-loader,
    .album.error .private-message
    {
      display: none;
    }

    .album.error .error-message,
    .album.error > .error-message > p
    {
      display: block;
    }

    .album.private { background-color: #e5e5e5; }

    .album.private .album-header .section-rates,
    .album.private .album-content,
    .album.private .error-message,
    .album.private .album-loader
    {
      display: none;
    }

    .album.private .private-message-container
    {
      display: block;
    }

    /*** end states for an album ***/


    .album > .album-header
    {
        background-color: #dcdcdc;
        background: -moz-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(220,220,220) 25%), to(rgb(193,193,193) 100%)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */

        display: table;
        height: 40px;
        width: 100%;
        height:30px;
        padding:0 20px;

        -webkit-border-radius: 6px 6px 0 0;
           -moz-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;
    }

        .album > .album-header > .album-header-title
        {
            margin: 0;
            padding: 0;
            color: #444;
            display: table-cell;
            font-weight: bold;
            vertical-align: middle;
        }

            .album > .album-header > .album-header-title > .album-header-title-mine
            {
                display: none;
            }

            .album > .album-header > .album-header-title > .album-header-title-someone
            {
                display: block;
            }

            .profile-user .album > .album-header > .album-header-title > .album-header-title-mine
            {
                display: block;
            }

            .profile-user .album > .album-header > .album-header-title > .album-header-title-someone
            {
                display: none;
            }

        .album > .album-header > .section-rates
        {
            color:#888;
            display: table-cell;
            float: none;
            font-size: 12px;
            font-weight: bold;
            margin: 0;
            padding: 0;
            text-align: right;
            vertical-align: middle;
        }

            .album > .album-header > .section-rates > span.section-rates-showing-all
            {
                display: none;
            }

            .album > .album-header > .section-rates > span.section-rates-showing-part
            {
                display: block;
            }

            .album.show-list > .album-header > .section-rates > span.section-rates-showing-all
            {
                display: block;
            }

            .album.show-list > .album-header > .section-rates > span.section-rates-showing-part
            {
                display: none;
            }

            .album.hide-list > .album-header > .section-rates > span.section-rates-showing-all
            {
                display: none;
            }

            .album.hide-list > .album-header > .section-rates > span.section-rates-showing-part
            {
                display: block;
            }
            
            .album.full-list > .album-header > .section-rates > span.section-rates-showing-all
            {
                display: none;
            }

            .album.full-list > .album-header > .section-rates > span.section-rates-showing-part
            {
                display: none;
            }

    .album > .album-content {}

        .album > .album-content > .list-items
        {
            border-top: 1px solid #CBCBCB;
            padding: 10px 20px 0;
            overflow: hidden;
        }

        .album > .album-content.achievements-container > .list-items
        {
            border: none;
            padding: 20px 20px 10px 20px;
        }

        body.profile-user .album > .album-content > .list-items.album-content-other
        {
            display: none;
        }

            .album > .album-content > .list-items > .items-count
            {
                color: #555;
                display: block;
                font-size: 10px;
                font-weight: bold;
                margin: 0 0 10px 0;
            }

            .album > .album-content.achievements-container > .list-items > .items-count
            {
                display: none;
            }

            body.profile-user .album > .album-content > .list-items > .items-count
            {
                display: none;
            }

                .album > .album-content > .list-items > .items-count > .items-count-number
                {
                    background: #999A9F;
                    border-radius: 12px;
                    color: #FFF;
                    font-size: 11px;
                    margin: 0 5px 0 0;
                    padding: 1px 11px;
                }

        /*** start: content hide and show fold  ***/

        .album.show-list > .album-content > .list-items
        {
            display:block;
        }

        .album.hide-list > .album-content {}

        .album.hide-list > .album-content.album-content-common-0 {}

        .album.hide-list > .album-content.album-content-common-0 > .album-content-common
        {
            display: none;
        }

        .album.hide-list > .album-content.album-content-common-0 > .album-content-other {}

            .album.hide-list > .album-content.album-content-common-0 > .album-content-other > .album-content-item:nth-child(n+11)
            {
                display: none;
            }

            .album.hide-list > .album-content.album-content-common-0.games-container > .album-content-other > .album-content-item:nth-child(n+17)
            {
                display: none;
            }

            .album.hide-list > .album-content.album-content-common-0 > .album-content-other > .items-count
            {
                display: none;
            }

        .album.hide-list > .album-content.album-content-common-1 {}

             .album.hide-list > .album-content.album-content-common-1 > .album-content-common {}

                 .album.hide-list > .album-content.album-content-common-1.achievements-container > .album-content-common > .album-content-item:nth-child(n+5)
                 {
                     display: none;
                 }

             .album.hide-list > .album-content.album-content-common-1 > .album-content-other {}

                 .album.hide-list > .album-content.album-content-common-1.friends-container > .album-content-other > .album-content-item:nth-child(n+8)
                 {
                     display: none;
                 }

                 .album.hide-list > .album-content.album-content-common-1.games-container > .album-content-other > .album-content-item:nth-child(n+12)
                 {
                     display: none;
                 }

        .album.hide-list > .album-content.album-content-common-2 {}

            .album.hide-list > .album-content.album-content-common-2 > .album-content-other {}

                 .album.hide-list > .album-content.album-content-common-2.friends-container > .album-content-other > .album-content-item:nth-child(n+5)
                 {
                     display: none;
                 }

                 .album.hide-list > .album-content.album-content-common-2.games-container > .album-content-other > .album-content-item:nth-child(n+7)
                 {
                     display: none;
                 }

        .album.hide-list > .album-content.album-content-common-3 {}

            .album.hide-list > .album-content.album-content-common-3 > .album-content-common {}

                .album.hide-list > .album-content.album-content-common-3.friends-container > .album-content-common > .album-content-item:nth-child(n+11)
                {
                    display: none;
                }

                .album.hide-list > .album-content.album-content-common-3.games-container > .album-content-common > .album-content-item:nth-child(n+17)
                {
                    display: none;
                }

            .album.hide-list > .album-content.album-content-common-3 > .album-content-other
            {
                display: none;
            }

        /*** end: content hide and show fold  ***/

        .album > .album-content > .album-content-fold
        {
            color:#888;
            font-family:Arial,Sans-Serif;
            font-size:10px;
            font-weight:bold;
            margin-top: 10px;
            text-align:center;
        }
        .album > .album-content > .album-content-fold:lang(ko-kr){ font-family: Dotum, AsiaDNR-M, Arial, sans-serif; }
        .album > .album-content > .album-content-fold:lang(th-th) { font-family: Tahoma, Arial, sans-serif; }
        .album > .album-content > .album-content-fold:lang(zh-tw) { font-family: SimHei, Arial, sans-serif; }
        .album > .album-content > .album-content-fold:lang(zh-cn) { font-family: SimHei, Arial, sans-serif; }

            .album > .album-content > .album-content-fold > span
            {
                background: #f7f7f7;
                display: none;
                border: 1px solid white;
                bottom: -5px;
                cursor: pointer;
                padding: 4px 19px;
                position: relative;
                text-decoration: none;

                -webkit-border-radius: 4px 4px 0 0;
                        border-radius: 4px 4px 0 0;

                -webkit-box-shadow: 0px 0px 8px 0px rgba(85, 85, 85, 0.4);
                        box-shadow: 0px 0px 8px 0px rgba(85, 85, 85, 0.4);
            }

            .album.hide-list > .album-content > .album-content-fold > span.btn-show-all
            {
                display: inline;
            }

            .album.show-list > .album-content > .album-content-fold > span.btn-show-less
            {
                display: inline;
            }

            .album > .album-content > .album-content-fold > span:hover
            {
                border-color: #f47300;
            }

            .album > .album-content > .album-content-fold > span:before
            {
                border-left: 7px solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.2);
                border-right: 7px solid transparent;
                content: '';
                display: inline-block;
                left: 44%;
                position: absolute;
            }

            .album > .album-content > .album-content-fold > span:after
            {
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                content: '';
                display: inline-block;
                left: 45.5%;
                position: absolute;
            }

            .album > .album-content > .album-content-fold > span.btn-show-all:before
            {
                border-top: 7px solid rgba(85, 85, 85, 0.5);
                bottom: -8px;
            }

            .album > .album-content > .album-content-fold > span.btn-show-all:after
            {
                border-top: 6px solid #F7F7F7;
                bottom: -6px;
            }

            .album > .album-content > .album-content-fold > span.btn-show-all:hover:before
            {
                border-top-color: #f47300;
            }

            .album > .album-content > .album-content-fold > span.btn-show-less:before
            {
                border-bottom: 7px solid rgba(85, 85, 85, 0.1);
                top: -8px;
            }

            .album > .album-content > .album-content-fold > span.btn-show-less:after
            {
                border-bottom: 6px solid #F7F7F7;
                top: -6px;
            }

            .album > .album-content > .album-content-fold > span.btn-show-less:hover:before
            {
                border-bottom-color: #f47300;
            }

        /*** start: friends ***/

        .list-items .friend-info:nth-child(3n+1)
        {
            margin-right: 0;
        }

        .friend-info
        {
            background: #fcfcfc;
            border: 1px solid #ffffff;
            cursor: pointer;
            float: left;
            height: 61px;
            margin: 0 20px 17px 0;
            padding: 1px 5px 1px 1px;
            width: 219px;

            -webkit-box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
               -moz-box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
                    box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
         }

            .friend-info > div:first-child
            {
                border-left-style: solid;
                border-left-width: 5px;
                float: left;
                height: 57px;
                margin-right: 4px;
                padding: 5px;
                padding-right: 0;
                vertical-align: middle;
                width: 59px;
            }

                .friend-info > div:first-child > img
                {
                    border-bottom: 1px solid #9f9f9f;
                    height: 48px;
                    padding: 1px;
                    width: 48px;
                }

            .friend-info > .friend-data
            {
                color:#444;
                height: inherit;
                margin-left: 4px;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:normal;
            }

            .friend-info > .friend-data > span
            {
                display: block;
                font-size: 14px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .friend-info > .friend-data > .friend-name
            {
                margin-top: 2px;
            }

            .friend-info > .friend-data > .friend-status
            {
                border-bottom: 1px dotted #BBB;
                color: #999999;
                font-size:12px;
                font-weight: normal;
            }

                .friend-info > .friend-data > .friend-status > span
                {
                    color: #999999;
                    font-size:12px;
                    font-weight: normal;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            .friend-info > .friend-data > .friend-points
            {
                background: url("../images/icon-origin-points-12x12.png") no-repeat right center;
                margin-top: 5px;
                padding-right: 17px;
                text-align: right;
            }

                .friend-info > .friend-data > .friend-points.hidden
                {
                    display: none;
                }

        /* end: friends */


        /** start: achievements summary ***/

        #achievements-summary
        {
            border-bottom: 1px solid #c2c2c2;
            min-height: 70px;
            overflow: hidden;
            padding: 20px;
            position: relative;
        }

            #achievements-summary > div {}

            #achievements-summary > div#achievements-achieved
            {
                background:url("../images/icon-achievement.png") no-repeat top left;
                float:left;
                min-height:50px;
            }

            #achievements-summary > div#achievements-earned-points
            {
                background:url("../images/icon-origin-points.png") no-repeat top left;
                float:left;
                margin-left:50px;
                min-height:50px;
            }

                #achievements-summary > div > span
                {
                    display:block;
                    font-weight:bold;
                    margin-left:52px;
                }

                #achievements-summary > div > span.achievements-total
                {
                    color:#444;
                    font-size:30px;
                    height: 36px;
                    margin-bottom:-5px;
                }

                #achievements-summary > div > span.achievements-total-title
                {
                    color:#888;
                    font-size:12px;
                    max-width:188px;
                }

        #achievements-summary > .btn-achievements-overview
        {
            margin-right: 0;
            position: absolute;
            right: 25px;
            top: 30%;
            display: none;
        }

        /** end: achievement summary ***/


        /*** start: achievements ***/

        .achievement-game-item:nth-child(3n+1)
        {
            margin-right: 0;
        }

        .achievement-game-item
        {
            background-color:#fcfcfc;
            cursor:pointer;
            float:left;
            height: 170px;
            margin:0 18px 20px 0;
            padding: 8px;
            width: 220px;

            -webkit-border-radius:4px;
                    border-radius:4px;

            -webkit-box-shadow: 0px 0px 5px rgba(161, 161, 161, 1);
               -moz-box-shadow: 0px 0px 5px rgba(161, 161, 161, 1);
                    box-shadow: 0px 0px 5px rgba(161, 161, 161, 1);
        }

        .achievement-game-item:hover
        {
            -webkit-box-shadow: 0 0 5px 2px #888;
            -moz-box-shadow: 0 0 5px 2px #888;
            box-shadow: 0 0 5px 2px #888;
        }

            .achievement-game-item > .achievements-game-art
            {
                background: url(../images/default-achievement.png);
                width: 204px;
                height: 115px;
                position: relative;
            }

                .achievement-game-item > .achievements-game-art > .achievement-game-stats
                {
                    background-color: rgba(0,0,0,0.6);
                    bottom: 0;
                    color: #FFF;
                    font-size: 12px;
                    font-weight: bold;
                    height: 33px;
                    letter-spacing: -1px;
                    line-height: 28px;
                    padding: 0 10px;
                    position: absolute;
                    right: 0; left: 0;
                    text-align: right;
                }

                    .achievement-game-item > .achievements-game-art > .achievement-game-stats > span {
                        vertical-align: middle;
                    }

                    .achievement-game-item > .achievements-game-art > .achievement-game-stats > .achievements-count-label
                    {
                        font-size:16px;
                        margin-left: 10px;
                    }

                    .achievement-game-item > .achievements-game-art > .achievement-game-stats > .current-game-xp {
                        background: url(../images/icon-origin-points-14x14.png) no-repeat 0 2px;
                        padding-left: 18px;
                    }

                    .achievement-game-item > .achievements-game-art > .achievement-game-stats > .achievements-game-achieved {
                        background: url(../images/icon-achievement-16x16.png) no-repeat 0 1px;
                        padding-left: 20px;
                    }

            .achievement-game-item > .achievements-game-title
            {
                margin: 7px 0;
                color:#343434;
                font-weight:bold;
                overflow: hidden;
                text-overflow:ellipsis;

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }


        /*** end: achievements ***/


        /*** start: games ***/

        #games-list .games-item:nth-child(5n + 1)
        {
            margin-right: 0;
        }

        .games-item
        {
            background: #FCFCFC;
            cursor: pointer;
            float: left;
            height: 262px;
            margin: 0px 19px 20px 0;
            overflow: hidden;
            width: 124px;

            -webkit-border-radius:4px;
                   border-radius:4px;

            -webkit-box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
               -moz-box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
                    box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
        }

        .games-item:hover
        {
            -webkit-box-shadow: 0 0 5px 2px #888;
               -moz-box-shadow: 0 0 5px 2px #888;
                    box-shadow: 0 0 5px 2px #888;
        }

        .games-item:active
        {
            -webkit-box-shadow: inset 0 0 5px 2px #888;
               -moz-box-shadow: inset 0 0 5px 2px #888;
                    box-shadow: inset 0 0 5px 2px #888;
        }

            .games-item > img
            {
                background: #bbbbbb;
                height: 176px;
                width: 124px;
            }

            .games-item > .game-title
            {
                font-size: 12px;
                font-weight: bold;
                line-height: 13px;
                margin: 5px 10px;
                max-height: 66px;
                overflow: hidden;
                text-overflow: ellipsis;

                display:-webkit-box;
                -webkit-line-clamp:5;
                -webkit-box-orient:vertical;
            }

        /*** end: games ***/


    .album > .album-loader
    {
        background: url('../images/loader.gif') center center #555 no-repeat;
        height: 100px;
        width: 100%;
        display: none;
    }

    .album > .private-message-container,
    .album > .error-message
    {
         margin: 0 20px;
         padding: 15px 0 10px;
         display: none;
    }

        .album > .error-message > p,
        .album > .private-message-container > p
        {
            background: url(../images/lock.png) no-repeat left center;
            display: none;
            font-size: 12px;
            height: 34px;
            margin: 0;
            padding: 0 0 0px 40px;
            vertical-align: middle;
        }


        .album.private > .private-message-container > p
        {
            display: table-cell;
        }

/*** end: albums ***/


/*** start: user status colors ***/

.status-text
{
    display: none;
}

.status-online .status-online-text,
.status-away .status-away-text,
.status-offline .status-offline-text,
.status-invisible .status-invisible-text,
.status-in-game .status-in-game-text,
.status-joinable .status-joinable-text,
.status-unknown .status-unknown-text,
.status-broadcast .status-broadcast-text
{
    display: block;
}

.status-offline .status-indicator,
.status-invisible .status-indicator
{
    border-left-color: #A4A4A4;
}

.status-online .status-indicator
{
    border-left-color: #87c95b;
}

.status-away .status-indicator,
.status-unknown .status-indicator
{
    border-left-color: #dc453e;
}

.status-in-game .status-indicator,
.status-joinable .status-indicator
{
    border-left-color: #02a0e2;
}

.status-unknown .status-indicator
{
    border-left-color: #FCFCFC;
}

.status-broadcast .status-indicator
{
    border-left-color: #6441A5;
}

/*** end: user status colors ***/


/*** start: language font ***/

.album > .album-content > .album-content-fold > span:lang(ko)
{
    font-size:12px;
}

.items-count:lang(ko-kr) span:nth-child(even)
{
    font-family: "Dotum", "AsiaDNR-M"; font-size: 12px;
}

.items-count:lang(zh-tw) span:nth-child(even),
.items-count:lang(zh-cn) span:nth-child(even)
{
    font-family: SimHei, Arial, sans-serif; font-size: 12px;
}

.items-count:lang(th-th) span:nth-child(even)
{
    font-family: Tahoma, Arial, sans-serif; font-size: 12px;
}

#profile-info > #profile-right-column.column > section.bottom-user-info > dl > dt:lang(ko-kr)
{
    font-family: "Dotum", "AsiaDNR-M"; font-size: 12px;
}

#profile-info > #profile-right-column.column > section.bottom-user-info > dl > dt:lang(zh-tw),
#profile-info > #profile-right-column.column > section.bottom-user-info > dl > dt:lang(zh-cn)
{
    font-family: SimHei, Arial, sans-serif; font-size: 12px;
}

#profile-info > #profile-right-column.column > section.bottom-user-info > dl > dt:lang(th-th)
{
    font-family: Tahoma, Arial, sans-serif; font-size: 12px;
}

#profile-info > #profile-right-column.column > section.bottom-user-info > dl > dt:lang(ja-jp) { font-size: 12px; }

/*** end: language font ***/
