/**
* @search-friend.css
* Main style that are exclusive to the search friend page (search-friend.html).
*
* TODO
* 1. Remove need for 'hide-text' class.
*
*/

/*** start: general styles ***/

a, a:active,
a:visited,
a:link
{
    color: #515254;
    outline: none;
    text-decoration: none;
}

/*** end: general styles ***/

.hide-text
{
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

#friend-list.search-loading > tbody > tr.search-loader {
    display: table-row;
}
#friend-list.search-loading > thead > tr.friend-list-header,
#friend-list.search-loading > tfoot > tr > td {
    display: none;
}

#friend-list
{
    border-collapse:collapse;
    color:#676767;
    font-family:Arial,Helvetica,sans-serif;
    margin: 50px auto 40px auto;
    width:733px;
    overflow: hidden;
    border-radius:4px;
    background:transparent -webkit-gradient(linear,left bottom,left top,from(#ebebeb),to(#ffffff));
    background: #FFF; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ececec 0%,#ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.6);
}
#friend-list:lang(ko-kr) { font-family: Dotum, AsiaDNR-M, Arial, sans-serif; }
#friend-list:lang(th-th) { font-family: Tahoma, Arial, sans-serif; }
#friend-list:lang(zh-tw), #friend-list:lang(zh-cn) { font-family: SimHei, Arial, sans-serif; }

    #friend-list > thead {}

        #friend-list > thead > tr.friend-list-result-parameters
        {
            background: #ececec; /* Old browsers */
            background: -moz-linear-gradient(top,  #ececec 0%, #cecece 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ececec 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #ececec 0%,#cecece 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #ececec 0%,#cecece 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #ececec 0%,#cecece 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
        }

            #friend-list > thead > tr.friend-list-result-parameters > th
            {
                padding: 10px 20px;
            }

            #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-search-keywords
            {
                text-align: left;
                font:bold 14px Arial,Helvetica,sans-serif;
                color:#444;
            }
			#friend-list > thead > tr.friend-list-result-parameters > th.friend-list-search-keywords:lang(ko-kr)
			{
				font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
			}
			#friend-list > thead > tr.friend-list-result-parameters > th.friend-list-search-keywords:lang(th-th)
			{
				font-family: Tahoma, Arial, sans-serif;
			}
            #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-search-keywords:lang(zh-tw),
            #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-search-keywords:lang(zh-cn)
			{
				font-family: SimHei, Arial, sans-serif;
			}

            #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-count
            {
                text-align: right;
                font: bold 12px Arial,Helvetica,sans-serif;
                color: #888;
            }
			#friend-list > thead > tr.friend-list-result-parameters > th.friend-list-count:lang(ko-kr)
			{
				font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
			}
            #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-count:lang(zh-tw),
            #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-count:lang(zh-cn)
			{
				font-family: SimHei, Arial, sans-serif;
			}
			#friend-list > thead > tr.friend-list-result-parameters > th.friend-list-count:lang(th-th)
			{
				font-family: Tahoma, Arial, sans-serif;
			}

                #friend-list > thead > tr.friend-list-result-parameters > th.friend-list-count > span
                {
                    display: none;
                }

        #friend-list > thead > tr.friend-list-header
        {
            border-bottom:1px solid #CBCBCB;
            background:#FAFAFA;
        }

            #friend-list > thead > tr.friend-list-header > th
            {
                padding:10px 20px;
                text-align: left;
                font: bold 11px/10px  Arial,Helvetica,sans-serif;
            }
			#friend-list > thead > tr.friend-list-header > th:lang(ko-kr)
			{
				font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
			}
            #friend-list > thead > tr.friend-list-header > th:lang(zh-tw),
            #friend-list > thead > tr.friend-list-header > th:lang(zh-cn)
			{
				font-family: SimHei, Arial, sans-serif;
			}
			#friend-list > thead > tr.friend-list-header > th:lang(th-th)
			{
				font-family: Tahoma, Arial, sans-serif;
			}

    #friend-list > tbody {}

        #friend-list > tbody > tr
        {
            background: #FAFAFA;
            border-bottom: 1px solid #CBCBCB;
        }

        #friend-list > tbody > tr.friend-list-result-template {
            display: none;
        }

        #friend-list > tbody > tr.search-loader {
            display: none;
        }

        #friend-list > tbody > tr:nth-child(2n)
        {
            background: #F3F3F3;
        }

            #friend-list > tbody > tr > td
            {
                padding:10px 20px;
                vertical-align: middle;
                text-overflow:ellipsis;
            }

            #friend-list > tbody > tr.search-loader > td {
                background: url('../images/loader.gif') center center #555 no-repeat;
                height: 100px;
                width: 100%;
            }

            #friend-list > tbody > tr > td.friend-list-result-avatar
            {
                padding-right: 0;
                width: 60px;
            }

              #friend-list > tbody > tr > td.friend-list-result-avatar > img
              {
                  width: 30px;
                  height: 30px;
              }

            #friend-list > tbody > tr > td.friend-list-result-origin-id
            {
                padding-left: 0;
                font-size: 12px;
                font-weight: bold;
                width: 300px;
            }

            #friend-list > tbody > tr > td.friend-list-result-name
            {
                font-size: 11px;
            }

    #friend-list > tfoot {
        display: table-footer-group;
    }

        #friend-list > tfoot > tr
        {
          background: #EBEBEB;
        }

            #friend-list > tfoot > tr > td
            {
                font: bold 13px Arial,Helvetica,sans-serif;
                text-align: right;
                padding: 10px 10px 30px;
            }
			#friend-list > tfoot > tr > td:lang(ko-kr)
			{
				font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
			}
            #friend-list > tfoot > tr > td:lang(zh-tw),
            #friend-list > tfoot > tr > td:lang(zh-cn)
			{
				font-family: SimHei, Arial, sans-serif;
			}
			#friend-list > tfoot > tr > td:lang(th-th)
			{
				font-family: Tahoma, Arial, sans-serif;
			}

                #friend-list > tfoot > tr > td a:link,
                #friend-list > tfoot > tr > td a:active,
                #friend-list > tfoot > tr > td a:visited
                {
                    color: #666;
                    cursor: pointer;
                    margin: auto 5px;
                }

                #friend-list > tfoot > tr > td a:hover
                {
                    color: #f2993f;
                }

                #friend-list > tfoot > tr > td > .navigation-pages a.selected
                {
                    color: #000;
                }

                #friend-list > tfoot > tr > td .navigation-option
                {
                    border-bottom: 5px solid transparent;
                    border-top: 5px solid transparent;
                    display: inline-block;
                    height: 0;
                    width: 0;

                    font:-1px;
                    color: transparent;
                }

                #friend-list > tfoot > tr > td .navigation-option.left
                {
                    border-right: 5px solid #f47300;
                }

                #friend-list > tfoot > tr > td .navigation-option.left:hover,
                #friend-list > tfoot > tr > td .navigation-first:hover .navigation-option.left
                {
                    border-right-color: #666;
                }

                #friend-list > tfoot > tr > td .navigation-option.right
                {
                    border-left: 5px solid #f47300;
                }

                #friend-list > tfoot > tr > td .navigation-option.right:hover,
                #friend-list > tfoot > tr > td .navigation-last:hover .navigation-option.right
                {
                    border-left-color: #666;
                }

                #friend-list > tfoot > tr > td .navigation-first span:first-child
                {
                    border-left: 1px solid #F47300;
                    display: inline-block;
                    height: 9px;
                    margin: 0px -4px -0.5px 0;
                    padding-left: 1px;
                }

                #friend-list > tfoot > tr > td .navigation-last span:last-child
                {
                    border-right: 1px solid #f47300;
                    display: inline-block;
                    height: 9px;
                    margin: 0px 0 -0.5px -4px;
                    padding-right: 1px;
                }

                #friend-list > tfoot > tr > td .navigation-first:hover span:first-child,
                #friend-list > tfoot > tr > td .navigation-last:hover span:last-child
                {
                    border-color: #666;
                }


/*** start: no friends result ***/

#no-friend-result
{
    display: none;
    overflow: hidden;
    margin:50px auto 40px auto;
    border-radius:4px;
    width:733px;
    background:#CFCFCF;
    padding: 0 100px 40px 100px;;
    font:12px Arial;
    color:#3E3D3F;
}
#no-friend-result:lang(ko-kr)
{
	font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
}
#no-friend-result:lang(zh-tw),
#no-friend-result:lang(zh-cn)
{
	font-family: SimHei, Arial, sans-serif;
}
#no-friend-result:lang(th-th)
{
	font-family: Tahoma, Arial, sans-serif;
}

        #no-friend-result > h2
        {
            text-align: center;
            padding-top:25px;
            margin: 0;
            font:16px/16px 'Trebuchet MS', Helvetica, Arial, sans-serif;
            color:#555;
        }

        #no-friend-result > h2:lang(el-gr) { font-family: "Arial", sans-serif; font-size: 16px; }
        #no-friend-result > h2:lang(ru-ru) { font-family: "Arial", sans-serif; font-size: 18px; }
        #no-friend-result > h2:lang(sv-se) { font-size: 18px; }
        #no-friend-result > h2:lang(ja-jp) { font-family: "DFGHSGothic-W5"; font-size: 20px; }
        #no-friend-result > h2:lang(ko-kr) { font-family: "Dotum", "AsiaDNR-M"; font-size: 20px; }
        #no-friend-result > h2:lang(th-th) { font-family: Tahoma; font-size: 20px; }
        #no-friend-result > h2:lang(zh-cn) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }
        #no-friend-result > h2:lang(zh-tw) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }

/*** end: no friends result ***/


/*** start: permenantly hidden items ***/

#text-string-private
{
    display: none;
}

/*** end: permenantly hidden items ***/
