<example>
  <para>
  Declare an explicit dependency on the VisualStudio package.
  </para>
  <code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <package name="HelloWorld"/>
    <dependent name="VisualStudio"/>
    <echo message="Visual Studio is installed at ${package.VisualStudio.appdir}"/>
</project>]]>
  </code>
</example>
