#OriginTitlebarWin {
	min-height: 35px;
	max-height: 35px;
    background-color: #141B20;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#OriginTitlebarWin[style="max"] {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
}

QLabel#lblWindowTitle {
	color: #fff;
    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
}
QLabel#lblWindowTitle[style="inactive"] {
	color: #c3c6ce;
}


QPushButton#windowIcon {
	border-image: url(:/OriginCommonControls/OriginTitlebarWin/icon.png);
	margin-left: 7px;
	min-width: 15px;
	max-width: 15px;
	min-height: 20px;
	max-height: 20px;
}


QLabel#lblDebugMode {
	margin-left: 8px;
	margin-right: 8px;
	color: #aaa;
    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
}


QFrame#menuContainer {
    margin-left: 15px;
}


QPushButton#btnMinimize {
	min-height: 35px;
	max-height: 35px;
	min-width: 35px;
	max-width: 35px;
	border: none;
	image: url(:/OriginCommonControls/OriginTitlebarWin/minimize_button.png);
}

QPushButton#btnMinimize:hover,
QPushButton#btnMinimize:pressed {
	image: url(:/OriginCommonControls/OriginTitlebarWin/minimize_hover.png);
	background-color: #50565d;
}


QPushButton#btnMaximize {
	min-height: 35px;
	max-height: 35px;
	min-width: 35px;
	max-width: 35px;
	border: none;
	image: url(:/OriginCommonControls/OriginTitlebarWin/maximize_button.png);
}

QPushButton#btnMaximize:hover,
QPushButton#btnMaximize:pressed {
	image: url(:/OriginCommonControls/OriginTitlebarWin/maximize_hover.png);
	background-color: #50565d;
}


QPushButton#btnRestore {
	min-height: 35px;
	max-height: 35px;
	min-width: 35px;
	max-width: 35px;
	border: none;
	image: url(:/OriginCommonControls/OriginTitlebarWin/restore_button.png);
}

QPushButton#btnRestore:hover,
QPushButton#btnRestore:pressed {
	image: url(:/OriginCommonControls/OriginTitlebarWin/restore_hover.png);
	background-color: #50565d;
}


QPushButton#btnClose {
	min-height: 35px;
	max-height: 35px;
	min-width: 35px;
	max-width: 35px;
	border-top-right-radius: 4px;
	image: url(:/OriginCommonControls/OriginTitlebarWin/close_button.png);
}

QPushButton#btnClose:hover,
QPushButton#btnClose:pressed {
	image: url(:/OriginCommonControls/OriginTitlebarWin/close_hover.png);
	background-color: #50565d;
}