<div class='origin-hometile origin-friendtile'>
    <div class='origin-hometile-container'  origin-touch="goToProfile()">
        <div class='origin-hometile-image'>
            <img ng-src='{{image}}' class='origin-friendtile-bgimage' alt='' >
            <img ng-src='{{image}}' class='origin-friendtile-image' alt='' >
        </div>
        <origin-home-discovery-tile-friend-overlay ng-if="::isTouchDisable"></origin-home-discovery-tile-friend-overlay>
    </div>
    <div class='origin-hometile-support-text'>
        <h3 ng-hide="noMoreFriends">
            <a href='#/profile' class='otka otkc origin-friendtile-originId'>
                <strong>{{originId}}</strong>
            </a>
        </h3>
        <div class='origin-friendtile-text' ng-if="canShowFullName()">{{fullName}}</div>
        <p ng-if="!!friendsInCommonStr" class='otkc origin-friendtile-text'>{{descriptionString}}</p>
        <div ng-if="!!friendsInCommonStr">
            <origin-friends-tiledisplay ng-if='friendsInCommonStr' friendslist='commonFriends' popouttitlestr={{popoutTitleStr}}></origin-friends-tiledisplay>
        </div>
    </div>
</div>