<div class='origin-hometile'>
    <div class='origin-hometile-container' origin-touch="navigateToGame()">
        <div class='origin-hometile-image' style='background-image:url({{::image}})' ng-if='::image'></div>
        <origin-home-discovery-tile-game-overlay ng-if="::isTouchDisable"></origin-home-discovery-tile-game-overlay>
        <div class='origin-hometile-title' ng-if='gamename' ng-hide='isDownloading'>
            <a ng-click="navigateToGame()" class='otka origin-hometile-overlay-link'>
                <h2 class='otktitle-2' ng-bind-html='gamename'></h2>
            </a>
        </div>
    </div>
    <div class='origin-hometile-support-text'>
        <p class="origin-hometile-support-text-paragraph">
            <origin-game-friendsplaying-text offerid="{{::offerId}}" text="{{::description}}"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display offerid='{{::offerId}}'></origin-game-friendsplaying-display>
        <origin-store-price offer-id={{::offerId}} hide-owned-state="true"></origin-store-price>
    </div>
</div>