<div class='origin-hometile'>
    <div class='origin-hometile-container' origin-touch="goToPdp()">
        <div class='origin-hometile-image' style='background-image:url({{::image}})' ng-if='::image'></div>
        <div class='origin-hometile-overlay' ng-if="::isTouchDisable">
            <div class='origin-hometile-overlay-content'>
                <div ng-transclude></div>
            </div>
        </div>
    </div>
    <div class='origin-hometile-support-text'>
        <p class="origin-hometile-support-text-paragraph">
            <origin-game-friendsplaying-text offerid="{{::offerId}}" text="{{::description}}" friendstext="{{::friendsText}}" requestedfriendtype="{{::requestedFriendType}}"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display ng-if="!!offerId" offerid="{{::offerId}}" popouttitle="{{::friendsPopoutTitle}}" requestedfriendtype="{{::requestedFriendType}}"></origin-game-friendsplaying-display>
        <origin-store-price ng-if=::isPriceVisible() offer-id={{::offerId}} hide-owned-state="true"></origin-store-price>
    </div>
    <div class='origin-hometile-author otkc otkc-small'>
        <span class="author-name" ng-if="authorhref && authorname">
            <a href="{{::authorhref}}">{{::authorname}}</a>
        </span>
        <strong class="author-description" ng-if="authordescription">
            | {{::authordescription}}
        </strong>
    </div>
</div>