// Filter bar
// -------------------------

@origin-filterbar-item-label-maxwidth: 132px;
@origin-filterbar-item-label-minwidth: 70px;
@origin-gamelibrary-filterpillvisible-width: 1100px;

// -------------------------
.origin-filterbar-container {
    display: inline-block;
    max-width: 65%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.origin-filterbar-item {
    display: none;
    position: relative;

    .box-sizing(border-box);
    .border-radius(20px);
    margin: 15px 15px 15px 0;
    padding: 6px 28px 2px 18px;

    background: @color-darknavy;
    color: @color-white;
    font-weight: @weight-normal;
    cursor: pointer;

    .animation(originIconPop @timing-short-ease-out 1);
}

.origin-filterbar-item-icon {
    position: absolute;
    top: 4px;
    right: 5px;

    color: @color-mediumnavy;
    font-size: 23px;

    &:hover {
        color: @color-white;
    }
}

.origin-filterbar-item-label {
    line-height: 20px;
    font-size: 14px;

    max-width: @origin-filterbar-item-label-maxwidth;
    min-width: @origin-filterbar-item-label-minwidth;

    color: @color-white;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    .text-overflow();

    &:focus {
        outline: none;
    }
}

.origin-filterbar-item-isactive {
    .media-min-width(@origin-gamelibrary-filterpillvisible-width, {
        display: inline-block;
    });
}
