// Filter panel
// -------------------------
@item-highlight-color: #D8DCE0; //one off color as per design
@item-icon-font-size: 32px;
@filter-item-padding: 10px;
@filterpanel-width-desktop: 250px;
@filterpanel-width-mobile: 300px;

// Fixes the background elements while overlay open
.origin-content-isfilteroverlayopen {
    position: fixed;
}

// Overlay styles
.origin-filterpanel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(@color-black, 70%);
    opacity: 1;
    z-index: (@zindex-filterpanel - 10);
    cursor: pointer;
    .animation(originFadeIn 0.3s ease-in-out 1);

    .media-min-width(@global-width-small, {
        display: none;
    });
}

// Global styles for filter.
// ---------------
.origin-filterpanel {
    background: @color-lightgray;
    position: relative;

    height: auto;
    .box-sizing(border-box);
    text-align: left;
    width: @filterpanel-width-desktop;
    .translate3d(0, 0, 0);
    .transition-transform(@timing-long-ease-out);

    .media-max-width(@global-width-small, {
        .translate3d(125%, 0, 0);
        z-index: @zindex-filterpanel;
        padding: 40px 10px 10px;
        width: @filterpanel-width-mobile;
    });

    &.origin-filterpanelvisible {
        .media-max-width(@global-width-small, {
            .translate3d(0, 0, 0);
            overflow-y: auto;
            height: calc(100vh - @nav-height-mobile);
        });
    }
}

// If mobile nav is open
.origin-content-isnavopen .origin-filterpanelvisible {
   .media-max-width(@global-width-small, {
        .translate3d(@nav-width, 0, 0);
    });
}

.origin-filterpanel-close {
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 28px;
    color: @color-darknavy;
    display: none;
    cursor: pointer;

    .media-max-width(@global-width-small, {
        display: block;
    });
}

.origin-filterpanel-togglebutton > .otkicon-sortdown,
.origin-filterpanel-sortdownicon {
    top: 7px;
}

.origin-filtergroup-wrapper {
    padding: 12px 0;
    margin-top: 32px;
    border-bottom: 1px solid @item-highlight-color;
    margin-bottom: 12px;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.origin-filtergroup-title {
    float: left;
}

.origin-filtergroup-clearall-link {
    color: @color-dark-blue;
    font-size: @font-size-body-large;
    text-decoration: none;
    float: right;

    &:hover {
        text-decoration: underline;
    }

    &.disabled {
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }
}

.origin-filter-clearitemslink {
    float: right;
}

.origin-filtergroup-collapsible {
    cursor: pointer;
    margin-top: 10px;

    .origin-filter-icon {
        color: @color-mediumnavy;
    }
}

.origin-filter-list {
    position: relative;
    padding: 0;
    list-style: none;
    margin-top: 12px;
}

.origin-filter-item {
    position: relative;
    padding: 10px;
    margin: 2px 0;
    overflow: hidden;
    font-size: @font-size-body-large;
    cursor: pointer;
    color: fade(@color-mediumnavy, 60%);
}

.origin-filter-item-submenu .origin-filter-item {
    border-bottom: none;
}

.origin-filter-item-isdisabled {
    opacity: 0.4;
}

.origin-filter-link {
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.origin-filter-icon {
    position: absolute;
    right: 6px;
    top: 2px;
    font-size: @item-icon-font-size;
}

.origin-filter-icon-check {
    color: @color-green;
    .translate3d(125%, 0, 0);
}

.origin-filter-item-option {
    color: @color-mediumnavy;
    font-weight: @weight-normal;

    .transition(all @timing-simple-animate);

    &:hover {
        background: @item-highlight-color;
        color: @color-darknavy;
        .border-radius(4px);
    }
}

.origin-filter-item-isactive {
    background: @item-highlight-color;
    color: @color-darknavy;
    font-weight: @weight-normal;
    .border-radius(4px);

    > .otkicon {
        .translate3d(0, 0, 0);
        .transition(all @timing-long-ease-out);
    }
}

.origin-filter-item-submenu {
    color: @color-mediumnavy;
    height: 100%;
}

.origin-filter-submenu-icon-closed {
    .rotate(270deg);
}

.origin-filter-item-submenu-text {
    margin: 4px 0;
    line-height: 20px;
}

.origin-filter-item-link {
    color: @color-dark-blue;
    font-weight: @weight-normal;
}

.origin-filter-searchfield {
    padding: 27px 0px 15px 0px;
    border-top: 1px solid fade(@color-lightnavy, 50%);

    input { // Must be more specific than otk's direct descendant selector
        padding-right: 38px;
    }
}

.origin-filter-dismiss-icon {
    display: none;
    position: absolute;

    top: 50%;
    right: 10px;
    margin-top: -11px;
    z-index: 100;

    color: @color-mediumnavy;
    font-size: 24px;

    &:hover {
        color: @color-darknavy;
    }
}

.origin-filter-dismiss-icon-isvisible {
    display: block;
}
