<example>
<para>Delete a set of files.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <touch file="apple.txt"/>
    <touch file="banana.txt"/>
    <touch file="carot.bin"/>
    <delete>
        <fileset>
            <includes name="*.txt"/>
        </fileset>
    </delete>
    <fail if="@{FileExists('apple.txt')}"/>
    <fail unless="@{FileExists('carot.bin')}"/>
</project>
]]>
</code>
</example>
