// PDP Comparison table - layout
// =======================================

.origin-store-pdp-comparison-table {
  background: #fff;
  .box-shadow(0 0 2px 0 fade(@color-darknavy, 25%));
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.origin-store-pdp-comparison-table-top {
    vertical-align: top;

    .media-min-width(@store-width-medium, {
        padding: 0 20px 10px 0;
        text-align: left;
    });

    .media-max-width(@store-width-medium, {
        text-align: center;
        border-bottom: 1px solid @color-mediumnavy;
        border-bottom: 1px solid fade(@color-mediumnavy, 20%);
        padding-bottom: 20px;
        display: block;
        width: 100%;
    });
}

.origin-store-pdp-comparison-table-top-title {
    margin-bottom: 6px;
}

.origin-store-pdp-comparison-table-top-subtitle {
    color: @color-mediumnavy;
}

.origin-store-pdp-comparison-table-top-title, 
.origin-store-pdp-comparison-table-top-subtitle {
    .media-max-width(@store-width-medium, {
        max-width: 500px;
        margin: 0 auto;
    });
}

.origin-store-pdp-comparison-table-packart {
    .media-min-width(@store-width-medium, {
        padding: 0 10px 10px;
    });

    .media-max-width(@store-width-medium, {
        display: block;
        float: left;
        padding: 20px 0;
        border-bottom: 1px solid @color-mediumnavy;
        border-bottom: 1px solid fade(@color-mediumnavy, 20%);
    });
}

.origin-store-pdp-comparison-table-image {
    width: 70px;
}

.origin-store-pdp-comparison-table-headers {
    max-width: none;
    font-weight: @weight-normal;
    color: @color-darknavy;

    .media-min-width(@store-width-medium, {
        margin-top: 6px;
    });

    .media-max-width(@store-width-medium, {
        margin-top: 0;
        font-size: @font-size-body;
    });
}

.origin-store-pdp-comparison-table-popular {
    text-align: right;
    vertical-align: top;
}

.origin-store-pdp-comparison-table-popular-flag {
    display: inline-block;
    background: @color-green;
    color: @color-white;
    border-radius: 30px;
    padding: 4px 20px;
    margin-bottom: 12px;
    font-weight: bold;
}

.origin-store-pdp-comparison-table-vault-flag {
    display: inline-block;
    background: @color-lightblue;
    color: @color-white;
    border-radius: 30px;
    padding: 4px 20px;
    margin-bottom: 12px;
    min-width: 180px;
    font-weight: bold;
}

.origin-store-pdp-comparison-table-vault-text {
    display: none;

    .media-max-width(@store-width-medium, {
        color: @color-lightblue;
        display: block;
        font-weight: 400;
    });
}


// PDP Comparison table item - layout
// =======================================
.origin-store-pdp-comparison-table-body-row {
    .media-max-width(@store-width-medium, {
        border-bottom: 1px solid @color-mediumnavy;
        border-bottom: 1px solid fade(@color-mediumnavy, 20%);
        display: block;
        padding: 20px 0;

        .clearfix();
    });
}

.origin-store-pdp-comparison-item {
    vertical-align: top;

    .media-min-width(@store-width-medium, {
        height: 70px;
        padding: 12px;
        border-top: 1px solid @color-mediumnavy;
        border-top: 1px solid fade(@color-mediumnavy, 20%);
    });
    .media-max-width(@store-width-medium, {
        height: auto;

        &:first-child {
            display: none;
        }

        &:nth-child(2) {
            display: block;
            text-align: center;
            box-sizing: border-box;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            display: inline-block;
            box-sizing: border-box;
        }
    });
}

.origin-store-pdp-comparison-item-image {
    width: 60px;
}

.origin-store-pdp-comparison-item-checks {
    text-align: center;

    .media-min-width(@store-width-medium, {
        padding-top: 33px;
        width: 15%;
    });

    .media-max-width(@store-width-medium, {
        padding-top: 10px;
    });
}

.origin-store-pdp-comparison-item-check {
    color: @color-green;
    font-size: 42px;
}

.origin-store-pdp-comparison-owned {
    text-align: center;
    display: block;
}

.origin-store-pdp-comparison-owned-icon {
    color: @color-green;
    font-size: 32px;
    display: block;
}

.origin-store-pdp-comparison-owned-text {
    margin-top: 10px;

    .media-max-width(@store-width-medium, {
        font-size: @font-size-body;
    });
}

.origin-store-pdp-comparison-item-edition {
    color: @color-lightnavy;
    margin: 5px 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .media-min-width(@store-width-medium, {
        display: none;
    });

    .media-max-width(@store-width-medium, {
        display: block;
        margin: 5px auto 0;
    });
}

.origin-store-pdp-comparison-item-checked {
    .origin-store-pdp-comparison-item-edition {
        color: @color-green;
    }
}

.origin-store-pdp-comparison-item-close {
    color: @color-lightnavy;
    font-size: 42px;
}

.origin-store-pdp-comparison-table-description {
    display: inline-block;
    margin-right: 10px;
    color: @color-mediumnavy;

    .media-max-width(@store-width-medium, {
        font-size: @font-size-body;
    });
}

.origin-store-pdp-comparison-item-text {
    color: @color-green;
    font-weight: @weight-normal;
    margin-top: 13px;
}

.origin-store-pdp-comparison-table-more {
    cursor: pointer;
}

.origin-store-pdp-comparison-table-more-content {
    display: none;

    .media-max-width(@store-width-medium, {
        margin: 0 auto;
        max-width: 500px;
    });
}

.origin-store-pdp-comparison-table-more-content-text {
    color: @color-mediumnavy;

    .media-max-width(@store-width-medium, {
        font-size: @font-size-body;
    });
}

.origin-store-pdp-comparison-table-less {
    display: none;
    cursor: pointer;

    .media-min-width(@store-width-medium, {
        font-size: 14px;
    });

    .media-max-width(@store-width-medium, {
        font-size: @font-size-body;
    });
}

.origin-store-pdp-comparison-table-show-more .origin-store-pdp-comparison-table-more {
    display: none;
}

.origin-store-pdp-comparison-table-show-more .origin-store-pdp-comparison-table-more-content,
.origin-store-pdp-comparison-table-show-more .origin-store-pdp-comparison-table-less {
    display: block;
}

// PDP Comparison table footer - layout
// =======================================

.origin-store-pdp-comparison-table-footer {
    text-align: center;

    .media-min-width(@store-width-medium, {
        border-top: 1px solid @color-mediumnavy;
        border-top: 1px solid fade(@color-mediumnavy, 20%);
        padding: 12px 5px 0;
    });

    .media-max-width(@store-width-medium, {
        float: left;
        box-sizing: border-box;
        padding: 20px 5px 0;
    });
}

.origin-store-pdp-comparison-table-footer-header {
    margin: 0 auto 20px;
    font-weight: @weight-normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.origin-store-pdp-comparison-table-cta {
    min-height: 70px;

    .media-min-width(@store-width-medium, {
        padding: 0 20px 12px;
    });

    .media-max-width(@store-width-medium, {
        float: left;
        box-sizing: border-box;
        padding: 0 5px;
        text-align: center;
    });
}

.origin-store-pdp-comparison-table-inc-oa {
    position: relative;
    text-align: center;

    .media-min-width(@global-width-xsmall, {
        padding-left: 30px;
    });

    .otkicon-checkcircle {
        font-size: 32px;
        color: @color-green;

        .media-min-width(@global-width-xsmall, {
            position: absolute;
            left: 0;
            top: -9px;
        });
    }
}

// PDP Comparison table mobile - layout
// =======================================
.media-max-width(@store-width-medium, {
    .origin-store-pdp-comparison-table-no-mobile {
        display:none;
    }

    .origin-store-pdp-comparison-item-1 {
        width: 100%;
    }

    .origin-store-pdp-comparison-item-2 {
        width: 50%;
    }

    .origin-store-pdp-comparison-item-3 {
        width: 33%;
    }

    .origin-store-pdp-comparison-item-4 {
        width: 25%;
    }

    .origin-store-pdp-comparison-item-5 {
        width: 20%;
    }
});