.origin-store-pdp-entitlementarea {
    .otkbtn {
        width: 100%;
        max-width: none;
        margin-top: 18px;
    }
}

.origin-store-pdp-entitlementarea-info {
    .otkicon-info {
        font-size: 32px;
        color: @color-lightnavy;
        
        display: inline;
        float: left;
        left: -2px;
        top: -6px;
    }
}

.origin-store-pdp-entitlementarea-context {
    padding-left: 30px;
}

.origin-store-pdp-entitlementarea-cta {
    margin-top: 18px;
}