@pdp-feature-image-xsmall: 1200px;
@pdp-feature-image-medium: 1920px;


.origin-pdp-feature-badge-video {

    min-width: @pdp-feature-image-xsmall;
    width: 100%;
    height: 800px;
    top: 0;
    .horizontal-center(relative);

    .media-max-width(@global-width-large, {
        min-width: @pdp-feature-image-medium;
        height: 500px;
    });

    .overlay(@color-darknavy, 65%, absolute, 12, default);

    .origin-pdp-feature-badge-videobadge {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        .origin-store-promo.l-origin-store-column-hero {
            height: 100%;
        }

    }
}