@pdp-feature-minheight: 375px;
@pdp-feature-hero-height: 800px;
@pdp-feature-single-bubble: 900px;
@pdp-feature-double-bubble: 1300px;
@pdp-feature-hero-width: 1900px;

@pdp-feature-image-xsmall: 1200px;
@pdp-feature-image-small: 1600px;
@pdp-feature-image-medium: 1920px;

.origin-pdp-feature-text-center {
    .position-center();
    z-index: 1;
    .media-max-width(@global-width-xsmall, {
        width: 100%;
    })
}

.origin-pdp-feature-text-left {
    width: 50%;
    text-align: center;
    z-index: 1;
    .vertical-center();

    .media-max-width(@pdp-width-medium, {
        .position-center();
    });

    .media-max-width(@global-width-xsmall, {
        width:100%;
    });
}

.origin-pdp-feature-text-right {
    width: 50%;
    text-align: center;
    z-index: 1;
    right: 0;
    .vertical-center();

    .media-max-width(@pdp-width-medium, {
        .position-center();
    });

    .media-max-width(@global-width-xsmall, {
        width:100%;
    });
}

.origin-pdp-feature-hero-image {
    .position-center();
    width: 100%;
    min-width: @pdp-feature-image-xsmall;

    .media-min-width(@global-width-xsmall, {
        min-width: @pdp-feature-image-small;
    });

    .media-min-width(@global-width-small, {
        min-width: @pdp-feature-image-medium;
    });
}

.origin-pdp-feature-container {
    .clearfix();
    padding: 42px 0;

    &:last-child {
        .media-min-width(@global-width-small, {
            margin-bottom: 45px;
        });

        .media-max-width(@global-width-small, {
            margin-bottom: 20px;
        });
    }
}

.origin-pdp-feature-container-header {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 48px 0;
    position: relative;
}

.origin-pdp-feature-header-div {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 0;
    line-height: 0;
}

.origin-pdp-feature-bubblewrap {
    .display-flex();
    .flex-wrap(wrap);
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -moz-justify-content: space-around;
    margin: 0;
    text-align: center;
}

.origin-pdp-feature-bubble {
    .box-sizing(border-box);
    width: 300px;
    max-width: 100%;
    min-height: @pdp-feature-minheight;
    padding: 54px;
    opacity: 0;
    list-style: none;

    .media-max-width(@pdp-feature-double-bubble, {
        width: 50%;
    });

    .media-max-width(@pdp-feature-single-bubble, {
        width: 100%;
    });

    .media-min-width(@pdp-feature-double-bubble, {
        width: 33%;
    });
}


.origin-pdp-feature-hero {
    position: relative;
    left: 50%;
    width: 100%;
    height: @pdp-feature-hero-height;
    margin-left: -50%;
    overflow: hidden;

    .media-max-width(@global-width-small, {
        height: 600px;
    });

    .origin-parallax-container {
        & > img {
            height: 100vh;
        }
    }
}


.origin-pdp-feature-video {
    @feature-video-height-above-large: 800px;
    @feature-video-height-below-large: 500px;
    @feature-video-width-above-large: 1920px;
    @feature-video-width-below-large: 1200px;

    position: relative;
    width: 100%;
    overflow: hidden;
    height: @feature-video-height-above-large;

    .media-max-width(@global-width-large, {
        height: @feature-video-height-below-large;
    });

    &-text-wrapper {
        position: absolute;

        .media-max-width(@global-width-xsmall, {
            padding: 20px;
            .vertical-center();
        });
    }
    &-text {
        display: block;
        text-align: center;
        color: @color-white;
        max-width: 100%;

        .transition(all @transition-long);

        .media-min-width(@pdp-width-xsmall, {
            max-width: 500px;
        });
    }
    &-cta {
        margin-top: 24px;
    }

    .origin-pdp-feature-video-static-image-container {
        height: 100%;
        width: 100%;
        .position-center();
        min-width: @feature-video-width-above-large;

        .media-max-width(@global-width-large, {
            min-width: @feature-video-width-below-large;
        });

        .origin-pdp-feature-video-static-image {
            width: 100%;
            .position-center();
        }
        .origin-pdp-feature-video-static-image-overlay {
            background-color: fade(@color-black, 80%);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    .origin-background-video-container {
        width: 100%;
        .position-center();
        min-width: @feature-video-width-above-large;

        .media-max-width(@global-width-large, {
            min-width: @feature-video-width-below-large;
        });

        .origin-background-video-player-scrim {
            width: 100%;

            .origin-background-video-player{
                width: 100%;
                .position-center();
            }
        }
        .origin-backgroundimage-scrim {
            display: none;
        }
    }

}

.origin-pdp-feature-hero-text {
    display: inline-block;
    text-align: center;
    color: @color-white;
    max-width: 100%;

    .transition(all @transition-long);

    .media-min-width(@pdp-width-xsmall, {
        max-width: 500px;
    });

    .media-max-width(@pdp-width-medium, {
        &:before {
            content: '';
            width: @pdp-width-medium;
            height: 1300px;
            z-index: -1;

            .position-center();
        }
    });
}

.origin-pdp-feature-hero-text-slide{
    .translate3d(0, 200px, 0);
}

.origin-pdp-feature-slideDown {
    .translate3d(0, 200px, 0);
    .transition(all @transition-long);
}

.origin-pdp-feature-slideUp {
    .translate3d(0, 0, 0);
    opacity: 1;
}

.origin-pdp-feature-noanimation {
    opacity: 1;
    .transform-none();
}

.origin-pdp-feature-bubble-content{
    text-align: center;
}

.origin-pdp-feature-bubble-circle {
    .circle(100%);
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 24px;
}

.origin-pdp-feature-bubble-title {
    margin-bottom: 18px
}

.origin-pdp-feature-bubble-text {
    margin: 0 auto;
}

.origin-pdp-feature-text-light {
    color: @color-white;

    .media-max-width(@pdp-width-medium, {
        &:before {
            background: fade(@color-darknavy, 60%);
        }
    });
}

.origin-pdp-feature-text-dark {
    color: @color-black;

    .media-max-width(@pdp-width-medium, {
        color: @color-white;

        &:before {
            background: fade(@color-darknavy, 70%);
        }
    });
}