.origin-pdp-feature-badge-hero {
    height: 800px;
    width: 100%;
    min-width: @pdp-feature-image-medium;
    .horizontal-center(relative);

    .media-max-width(@global-width-large, {
        height: 500px;
        min-width: @pdp-feature-image-xsmall;


    });

    .origin-store-backgroundimagecarousel-wrapper {
        height: 100%;
        .overlay(@color-darknavy, 65%, absolute, 12, default);
    }

    .origin-store-promo.l-origin-store-column-hero {
        height: 100%;

        .position-center(relative);

        .origin-store-backgroundimagecarousel-image {
            width: 100%;
            height:auto;
        }
    }
}