.origin-pdp-feature-accolade-hero {
    height: 800px;
    width: 100%;
    min-width: @pdp-feature-image-medium;
    .horizontal-center(relative);

    .media-max-width(@global-width-large, {
        height: 500px;
        min-width: @pdp-feature-image-xsmall;

        .origin-store-backgroundimagecarousel-wrapper {
            height: 100%;
        }
    });


    .origin-store-promo-accolade-source,
    .origin-store-promo-accolade-quote {
        text-shadow: none;
    }

    .origin-store-promo.l-origin-store-column-hero {
        height: 100%;

        .position-center(relative);

        .origin-store-backgroundimagecarousel-image {
            width: 100%;
            height:auto;
        }
    }

    .origin-store-promo-accolade-imagescrim-overlay {
        .overlay(@color-darknavy, 65%);
        z-index: 4;
    }


    .origin-store-promo-accolade-quotewrapper:last-child {
        margin-bottom: 0;
    }

    .origin-store-promo-accolade-quotewrapper {

        .media-max-width(@global-width-xsmall, {

            &:nth-child(2), &:nth-child(3) {
                display:block;
            }
        });
    }
}