@pdp-feature-image-xsmall: 1200px;
@pdp-feature-image-medium: 1920px;


.origin-pdp-feature-accolade-video {
    min-width: @pdp-feature-image-xsmall;
    width: 100%;
    height: 800px;
    top: 0;
    .horizontal-center(relative);

    .media-max-width(@global-width-large, {
        min-width: @pdp-feature-image-medium;
        height: 500px;
    });

    .origin-pdp-feature-accolade-videoaccolade {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        .origin-store-promo.l-origin-store-column-hero {
            height: 100%;
        }

    }

    .origin-store-promo-accolade-quotewrapper {

        &:last-child {
            margin-bottom: 0;
        }

        .media-max-width(@global-width-xsmall, {

            &:nth-child(2), &:nth-child(3) {
                display:block;
            }
        });
    }

    .origin-store-promo-accolade-textcolor-light {
        .origin-store-promo-accolade-source, .origin-store-promo-accolade-quote {
            text-shadow: none;
        }
    }
}