@pdp-feature-image-xsmall: 1200px;
@pdp-feature-image-medium: 1920px;

.origin-pdp-feature-premier-accolade {
    height: 800px;
    width: 100%;

    .horizontal-center(relative);

    .origin-store-backgroundimagecarousel-wrapper {
        min-width: @pdp-feature-image-medium;
    }

    .media-max-width(@global-width-large, {
        height: 500px;

        .origin-store-backgroundimagecarousel-wrapper {
            min-width: @pdp-feature-image-xsmall;
            height: 100%;
        }
    });

    .origin-store-promo-accolade-source,
    .origin-store-promo-accolade-quote {
        text-shadow: none;
    }

    .origin-store-promo-accolade-quotewrapper {

        &:last-child {
            margin-bottom: 0;
        }

        .media-max-width(@global-width-xsmall, {

            &:nth-child(2), &:nth-child(3) {
                display:block;
            }
        });
    }

    .origin-store-promo-accolade-wrapper {
        .media-max-width(@access-landing-wide, {
            &.origin-store-promo-accolade-leftalign {
                left: inherit;
                right: initial;
            }

            &.origin-store-promo-accolade-rightalign {
                left: initial;
                right: inherit;
            }
        });
    }

    .origin-store-promo-accolade-textcolor-dark {

        &.origin-store-promo-accolade-imagescrim {

            .media-max-width(@access-landing-wide, {

                .origin-store-promo-accolade-quote, .origin-store-promo-accolade-source {
                    color: initial;
                }

                .origin-store-promo-accolade-imagescrim-overlay {
                    display: none;
                }
            });

            .media-max-width(@pdp-feature-image-xsmall, {

                .origin-store-promo-accolade-quote {
                    color: @color-white;
                }

                .origin-store-promo-accolade-source {
                    color: @color-lightnavy;
                }

                .origin-store-promo-accolade-imagescrim-overlay {
                    display: block;
                }
            });
        }
    }

    .origin-store-promo-accolade-textcolor-light {

        &.origin-store-promo-accolade-imagescrim {
            .media-max-width(@access-landing-wide, {

                .origin-store-promo-accolade-imagescrim-overlay {
                    display: none;
                }

            });

            .media-max-width(@pdp-feature-image-xsmall, {

                .origin-store-promo-accolade-imagescrim-overlay {
                    display: block;
                }
            });
        }
    }

    .origin-store-promo-accolade-imagescrim {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .origin-store-promo-accolade-leftalign, .origin-store-promo-accolade-rightalign {
        top: 0;
        bottom: 0;
        width: 50%;
        position: absolute;
        max-width: none;
        .origin-store-promo-accolade {
            max-width: 420px;
        }

        .media-max-width(@pdp-feature-image-xsmall, {
            width: 100%;
        });
    }

    .origin-store-promo-accolade-leftalign {
        left: 0;
        padding: 0 20px;

        .media-max-width(@pdp-feature-image-xsmall, {
            padding: 0;
        });
    }

    .origin-store-promo-accolade-rightalign {
        right: 0;
        padding: 0;
    }

    .origin-store-promo.l-origin-store-column-hero {
        height: 100%;

        .position-center(relative);

        .origin-store-backgroundimagecarousel-image {
            width: 100%;
            height:auto;
        }
    }
}