@mini-hero-size: 844px;
@hero-margin-top: 265px;

.origin-pdp-hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    @pdp-hero-slide-transition-time: 1.1s;
    @pdp-hero-video-fade-transition-time: 0.4s;

    .origin-pdp-hero-background {
        height: @mini-hero-size;
        opacity: 0;
        margin-right: auto;
        margin-left: auto;
        .horizontal-center();
        .animation(originFadeIn 0.5s ease-in-out 1 forwards);

        .origin-store-blurimage{
            height: 100%;
        }

        .origin-blurredimage-svg-container{
            width: 100%;
            height: 100%;
        }

        &.origin-store-blursvg-active {
            height: 100%;
            transform: none;
            .media-max-width(@pdp-width-medium, { top: 0; .position-center(); width: 100%; });
            .media-min-width(@pdp-width-medium, { position: absolute; top: 0; left: 0; right: 0; });
        }
    }

    .media-max-width(@global-width-small, { margin-bottom: 20px; });

    .origin-pdp-hero-background-image {
        position: relative;
        width: 1500px;
        opacity: 0;
        .animation(originFadeIn 0.5s ease-in-out @pdp-hero-slide-transition-time 1 forwards);

        .media-min-width(@pdp-width-medium, { position: absolute; });
    }

    .origin-pdp-hero-main {
        .clearfix();
        min-height: 335px;
        background-color: fade(@color-black, 85%);
        color: @color-white;
        bottom: 0;

        .section-padding();
        padding-top: 20px;
        padding-bottom: 20px;
        .media-min-width(@global-width-small, { padding-top: 25px; padding-bottom: 45px; });

        .transition(margin-top @pdp-hero-slide-transition-time cubic-bezier(0.03, 1, 0.2, 1));

        &:not(.origin-pdp-hero-main-nobg) {
            .media-min-width(@pdp-width-medium, { margin-top: @hero-margin-top; });
        }
    }

    .origin-pdp-hero-main-slide {
        .translate3d(0, 120%, 0);
        .animation(originSlideIntoPlace @transition-long 1s 1 forwards);
    }

    .origin-pdp-hero-main-nobg {
        position: static;
    }

    .origin-pdp-packartwrapper-pop {
        .media-min-width(@pdp-width-medium, { margin-top: -50px; });
    }

    .origin-pdp-packartwrapper {
        float: left;
        max-width: 100px;
        margin-right: 25px;
        vertical-align: top;

        .media-max-width(@global-width-xsmall, { width: 100%; max-width: none; text-align: center; margin: 0 0 20px 0; });

        .media-min-width(@pdp-width-medium, { max-width: 150px; });

        .media-min-width(@pdp-width-large, { max-width: 250px; });
    }

    .origin-pdp-packart {
        width: 100%;
        height: auto;

        .box-shadow(0 2px 12px 0 fade(@color-darknavy, 30%));

        .media-max-width(@global-width-xsmall, { width: 120px; });
    }

    .origin-pdp-hero-body {
        .media-max-width(@pdp-width-medium, { float: left; });
    }

    .origin-pdp-hero-description {
        float: left;
        width: 100%;

        .media-min-width(@global-width-xsmall, { width: calc(100% - 125px); // 125px = packart width plus margin-right
        });

        .media-min-width(@pdp-width-medium, { width: calc(100% - 500px); });

        .media-min-width(@pdp-width-large, { width: calc(100% - 600px); });
    }

    .origin-pdp-hero-description .otkbtn {
        .media-max-width(@global-width-xsmall, { max-width: none; });
    }

    .origin-pdp-hero-description-info {
        max-width: 600px;
    }

    .origin-pdp-hero-platform {
        padding: 12px 0;

        .platform-icon {
            font-size: 28px;
            top: 7px;
        }
    }

    .origin-pdp-hero-action {
        float: left;
        width: 100%;

        .media-min-width(@global-width-xsmall, { width: 250px; });

        .media-min-width(@pdp-width-medium, { width: 300px; float: right; .clearfix(); });

        .otkbtn {
            max-width: none;
        }
    }

    .origin-pdp-hero-infoblock {
        margin: 24px 0 6px;
    }

    .origin-pdp-hero-infoblock-dim {
        .opacity(.3);
        .transition-transform-opacity(.3s ease-out);
    }

    .origin-pdp-hero-info {
        max-width: 100%;
        margin: 0;
    }

    .origin-pdp-hero-title {
        margin-bottom: 18px;
    }

    .origin-pdp-hero-legal {
        margin-top: 12px;
        color: @color-lightnavy;
    }

    .origin-pdp-hero-rating {
        margin-top: 20px;
        color: @color-mediumnavy;

        .media-max-width(@global-width-xsmall, { display: none; });

        .media-max-width(@pdp-width-medium, { margin-bottom: 20px; .origin-storegamerating-logo {
            float: none;
            margin-bottom: 12px;
        } });
    }

    .origin-pdp-hero-secondary-rating {
        color: @color-mediumnavy;

        .media-min-width(@global-width-xsmall, { display: none; });
    }

    .origin-pdp-savings {
        margin-bottom: 12px;
    }

    .origin-pdp-savings-accessdiscount {
        display: block;
    }

    .origin-pdp-hero-video {
        width: 100%;
        overflow: hidden;
        position: absolute;
        .transition(opacity @pdp-hero-video-fade-transition-time);
        .transition-delay(@pdp-hero-slide-transition-time);
    }

    .origin-pdp-hero-video-hide {
        opacity: 0;
        .origin-pdp-hero-close-button {
            display: none;
        }
    }

    .origin-pdp-hero-video-show {
        opacity: 1;
    }

    .origin-pdp-hero-videobutton {
        text-align: center;
        position: absolute;
        top: (@hero-margin-top / 2);
        .translate(0, -(@hero-margin-top - 2));
        left: 50%;
        display: none;

        .media-min-width(@pdp-width-medium, { display: block; });

        .otkicon-play {
            padding-top: 6px;
        }
    }

    .origin-pdp-hero-buttoncontainer {
        width: 100%;
        position: relative;
    }

    .origin-pdp-hero-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        z-index: 1;
    }

    .origin-pdp-hero-video-frame {
        width: 100%;

    }

    .origin-pdp-hero-main-collapse-trigger {
        margin: 18px 0;
        position: relative;
        display: inline-block;
        cursor: pointer;

        .otkicon-downarrow {
            font-size: 28px;
            position: absolute;
            right: -26px;
            top: -4px;
            .transition(all .1s ease-in-out);
            .rotate(-90deg);
        }

        &.origin-pdp-hero-main-collapsed {
            .otkicon-downarrow {
                .rotate(0deg);
            }
        }
    }
}
