.origin-pdp-hero-keybeat {
    display: inline;
    .clearfix();
}

.store-pdp-keybeat {
    float: left;
    clear: both;
    color: @color-white;
    margin-top: 24px;

}

.store-pdp-keybeat .otkicon {
    font-size: 20px;
    position: relative;
    left: -3px;
    top: 3px;
}

.store-pdp-keybeat-message {
    max-width: 100%;
}