.store-pdp-nav {
    height: 69px;
    display: block;
    .media-max-width(@global-width-small, {
        display: none;
    });

    /* TODO: Add this to otk? */
    .otkoverflow {
        visibility: hidden;
        opacity: 0;
    }

    /* TODO: Add this to otk? */
    .otkoverflow-isvisible {
        visibility: visible;
        opacity: 1;
    }
 }

.store-pdp-nav-bar {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: @color-black;
    background-color: fade(@color-black, 95%);
    height: 69px;
    max-height: 69px;
    color: silver;
    display: block;
    width: 100%;
    background-clip: border-box;
    background-origin: padding-box;
    border-top: 1px solid @color-mediumnavy, 50%;
    border-top: 1px solid fade(@color-mediumnavy, 50%);
}

.store-pdp-nav-bar-pinned {
    position: fixed;
    top: 0;
    border-top: 0;
    width: calc(100% - @nav-width);
    z-index: @zindex-pdp-nav;

    &.store-pdp-nav-bar-pinned-with-social{
        width: calc(100% - @nav-width - @social-hub-width);
    }
}

.store-pdp-nav-mini-poster {
    position: absolute;
    left: -50px;
    z-index: 10;
    cursor: pointer;
    .opacity(0);
    .transition(all 0.3s ease-out);
}

.store-pdp-nav-mini-poster-pinned {
    left: 45px;
    .opacity(1);
}

.store-pdp-nav-mini-poster img {
    height: 69px;
}

/* this is how you write a class name son */
.l-pills-pdp-ispinned {
    display: block;
    margin-left: 115px;
    border-bottom: 0;
    padding-left: 0;
}

.l-pills-pdp .otknav-pills {
    border-bottom: none;
}

