.origin-store-pdp-systemrequirements {
  margin-top: 20px;
  .store-content-box();

  b,
  strong {
  	font-weight: @weight-normal;
  }
}

.origin-store-pdp-systemrequirements-p {
  margin: 0;
  -webkit-font-smoothing: antialiased;  
  max-width: inherit;
}