# This file is a one stop shop for all things ILT.
# Both server and client deployement configurations
# are completely defined by values specified herein.
#
# iltctrl.sh uses values defined below to execute all
# commands and to generate other config files needed
# for deploying blaze server and stress clients.
#
# bash$ iltctrl.sh profiles/<profilename> genserverconfig -->
#   bin/server_<$deployEnv>_<$deployPlat>.cfg
#
# bash$ iltctrl.sh profiles/<profilename> genclientconfig -->
#   tools/ilt/bin/clientdeploy.cfg

#
# ILT configuration
#
iltProfile=fifa_profile # performance definition file used by health and report gen
iltReportDir=~/iltreport # absolute path
iltRampUpMin=20 # time to evenly ramp up all stress clients to full PSU
iltInServiceTimeoutMin=15 # time to wait for all servers to go in service
iltTargetPsuTimeoutStartupMin=90 # time to wait for target PSU to be reached on startup before checking perf criteria
iltTargetPsuTimeoutPreShutdownMin=20 # time to wait for target PSU to be reached just before shutdown and completing the ilt run (PSU may have dropped during the run due to a network error simulation)
iltTargetPsuRunDurationMin=120 # time to execute tests before graceful shutdown and final report
iltMaxNetworkErrorSimulations=0 # the maximum number of network error simulations to perform during the run
iltNetworkErrorSimulationDelayMin=90 # the minimum delay between network error simulations, and also the delay before the first simulation after target PSU has been reached. Simulations will not be started when PSU is below the target.
iltNetworkErrorSimulationDurationMin=1 # the duration of a network error simulation
iltHostReqFreeDiskSpaceKB=10000000 # amount of free disk space required for deploy (10000000KB ~ 10GB)
iltHostReqFreeFileHandles=130000 # number of free file handles, required for deploy
iltHostReqProcLimit=140000 # process limit, required for deploy
iltIgnoreReportResult=1 # ignore failed ILT reports (use for tuning report profile)
iltRepopulateDb=0 # whether 'runilt' command populates the db (user/clubs) with clean data
iltClientUseRedirector=1 # control stress client to use redirector to login and reconnect, must be set to 1 to test ZDT functionalities

#
# Deploy configuration
#
deployEnv=ilt # 'ilt' is a custom deploy setting that avoids collisions with existing filenames that use the common environments, e.g. cert|dev|stress|test in server_stress_pc.cfg
deployRdir=test # dev|test
deployUser=gos-qa
deployPlat=pc
deploySvcName=gosilt-pool3-pc
deployMail=nobody@ea.com

# The box which hosts the mock XBL or PSN service, if mock testing is used. If mocking Xbox One Live, deployPlat should be set to xone. If mocking PS4 PSN, deployPlat should be set to ps4.
# deployMock1stPartyUrl=gosltapp2333.bio-sjc.ea.com:8085

# The jump box within target env that all client/server packages uploaded through to reduce upload bandwidth/delay
# NOTE: Per/user SSH keys *must* be setup from this jump box to all other hosts to enable proxied deploys.
# deployProxy=gosltapp2333.bio-sjc.ea.com

#
# Server configuration <blazehost>:<blazetype>:<numinstances>
#
# Totals per host:
#   gosltapp2333.bio-sjc.ea.com: 1+1+1+6+10+1=20
#   gosltapp2334.bio-sjc.ea.com: 4+6+9+1=20
#   gosltapp2335.bio-sjc.ea.com: 1+4+6+9=20
#   gosltapp2336.bio-sjc.ea.com: 2+6+10+1+1=20
#

configMaster=gosltapp2333.bio-sjc.ea.com

masters+=("gosltapp2333.bio-sjc.ea.com:coreNSMaster:1")

masters+=("gosltapp2333.bio-sjc.ea.com:coreMaster:1")
masters+=("gosltapp2335.bio-sjc.ea.com:coreMaster:1")
masters+=("gosltapp2336.bio-sjc.ea.com:coreMaster:2")

slaves+=("gosltapp2334.bio-sjc.ea.com:mmSlave:4")
slaves+=("gosltapp2335.bio-sjc.ea.com:mmSlave:4")

slaves+=("gosltapp2333.bio-sjc.ea.com:searchSlave:6")
slaves+=("gosltapp2334.bio-sjc.ea.com:searchSlave:6")
slaves+=("gosltapp2335.bio-sjc.ea.com:searchSlave:6")
slaves+=("gosltapp2336.bio-sjc.ea.com:searchSlave:6")

slaves+=("gosltapp2333.bio-sjc.ea.com:coreSlave:10")
slaves+=("gosltapp2334.bio-sjc.ea.com:coreSlave:9")
slaves+=("gosltapp2335.bio-sjc.ea.com:coreSlave:9")
slaves+=("gosltapp2336.bio-sjc.ea.com:coreSlave:10")

masters+=("gosltapp2336.bio-sjc.ea.com:exampleAuxMaster:1")
slaves+=("gosltapp2333.bio-sjc.ea.com:exampleAuxSlave:1")
slaves+=("gosltapp2334.bio-sjc.ea.com:exampleAuxSlave:1")
slaves+=("gosltapp2336.bio-sjc.ea.com:exampleAuxSlave:1")

slaves+=("gosltapp2333.bio-sjc.ea.com:grSlave:4")

redis+=("gosltapp2336.bio-sjc.ea.com:main:4")

# the graphite poller requires the redis port to be in the 30000-39999 range
portRedisBase=30000
portBase=15000
portsPerServer=20

#
# Client configuration, <clienthost>:<numsets>
#
clients+=("gosltapp2344.bio-sjc.ea.com:11")
clients+=("gosltapp2345.bio-sjc.ea.com:11")
clients+=("gosltapp2346.bio-sjc.ea.com:10")

#
# Client test set configuration, <instance name/log file base name>:<numconnections>:<testconfig>
#
# The projected total number of users is the total <numsets> in the client config above * the total <numconnections> below.
# The "target PSU" (number of online users to start tracking values at) is based on the projected total.
# You can override the calculated "target PSU" by explicitly setting 'iltTargetPsu' in this file.
#
stressinstances+=("ilt:5150:../etc.ilt.sports/stress/stress-integrated-detailed.cfg")
stressinstances+=("dds:500:../etc.ilt.sports/stress/integrated/stress-fifa-mm-dedicatedserver.cfg")
stressinstances+=("qm:2850:../etc.ilt.sports/stress/integrated/stress-fifa-mm-quick.cfg")
stressinstances+=("qm4p:500:../etc.ilt.sports/stress/integrated/stress-fifa-mm-quick-4p.cfg")
#stressinstances+=("qm16p:150:../etc.ilt.sports/stress/integrated/stress-fifa-mm-quick-16p.cfg")
stressinstances+=("mmclubs:800:../etc.ilt.sports/stress/integrated/stress-fifa-mm-club.cfg")
#stressinstances+=("mmcustom:175:../etc.ilt.sports/stress/integrated/stress-fifa-mm-custom.cfg")
stressinstances+=("gb:80:../etc.ilt.sports/stress/integrated/stress-fifa-gamebrowser.cfg")
