.origin-store-pdp-systemrequirements {
  margin-top: 20px;
  .store-content-box();
}

.origin-store-pdp-systemrequirements-p {
  margin: 0;
  -webkit-font-smoothing: antialiased;  
  max-width: inherit;
}
