<example>
<para>Touch a file using the current time.  If the file does not exist it will be created..</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <touch file="foo.txt"/>
</project>
]]>
</code>
</example>
