//
// Variables
// --------------------------------------------------


//== Font Weights
//
// ## Settings for the font weights used.

@weight-ultralight: 200;
@weight-light: 300;
@weight-normal: 400;
@weight-semibold: 600;

//== Font Sizes
//
// ## Settings for the font sizes used

@font-size-body: 12px;
@font-size-body-large: 14px;
@font-size-icon-font: 30px;


//== Colors
//
// ## Settings for all of the colors used.

@color-black: #141b20;
@color-darknavy: #1e262c;
@color-mediumnavy: #787d85;
@color-lightnavy: #c3c6ce;
@color-lightgray: #edf1f2;
@color-white: #fff;
@color-orange: #f56c2d;
@color-darkorange: #c85e36;
@color-nuxgreen: #05a68a;
@color-green: #04bd68;
@color-blue: #6bbfca;
@color-red: #df3d00;
@color-pastelred: #ffebe4;
@color-yellow: #fea722;

//== Navigation
//
// ## Settings for the navigation - these are also specified in components

@nav-width: 280px;


//== Spinner
//
// ## Loading Spinner Size

@spinner-size: 31px;

//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including OTK via Bower.

@icon-settings: "\e625";
@icon-close: "\e602";
@icon-rightarrow: "\e628";
@icon-leftarrow: "\e629";
@icon-add: "\e600";
@icon-search: "\e601";
@icon-originlogo: "\e604";
@icon-facebook: "\e62b";
@icon-refresh: "\e606";
@icon-downarrow: "\e608";
@icon-cart: "\e626";
@icon-menu: "\e627";
@icon-twitter: "\e62a";
@icon-check: "\e612";
@icon-checkcircle: "\e620";
@icon-home: "\e617";
@icon-store: "\e618";
@icon-gamelibrary: "\e619";
@icon-profile: "\e60f";
@icon-download: "\e61c";
@icon-downloadnegative: "\e61b";
@icon-briefcase: "\e605";
@icon-question: "\e607";
@icon-person: "\e609";
@icon-creditcard: "\e60a";
@icon-calendar: "\e60b";
@icon-thumbsup: "\e60c";
@icon-leftarrowcircle: "\e60d";
@icon-rightarrowcircle: "\e60e";
@icon-pencil: "\e610";
@icon-sadpanda: "\e611";
@icon-expandarrow: "\e613";
@icon-addcontact: "\e614";
@icon-bar: "\e615";
@icon-trophy: "\e616";
@icon-pause: "\e61a";
@icon-gift: "\e61d";
@icon-unlock: "\e61e";
@icon-microphone: "\e61f";
@icon-love: "\e621";
@icon-chatbubble: "\e622";
@icon-closecircle: "\e623";
@icon-play: "\e624";


//-- Media Query master list
//
// Media query master width list

@width-large-desktop: 1400px;
@width-mobile: 1000px;


//-- Social list
//
// Social components  - these are also specified in components

@social-roster-width: 300px;
