Origin--UIToolkit--OriginCallout[template="plain"]
{
    border-image: url(:/OriginCommonControls/OriginWindow/background.png) 10 39 10 37 stretch stretch;
    border-width: 10px 40px 10px 37px;
}

Origin--UIToolkit--OriginCallout[template="blue-border"]
{
	border-image: url(:/OriginCommonControls/OriginWindow/background.png) 37 39 37 37 stretch stretch;
    border-width: 56px 40px 53px 37px;
}

Origin--UIToolkit--OriginCallout[template="plain"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="plain"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot.png) no-repeat;
    min-height: 10px; max-height: 10px;
    min-width: 22px; max-width: 22px;
}

Origin--UIToolkit--OriginCallout[template="blue-border"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="blue-border"]  QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-blue-border.png) no-repeat;
    background-position: top;
    min-width: 30px; max-width: 30px;
    min-height: 15px; max-height: 15px;
}

Origin--UIToolkit--OriginCallout[template="grey"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="grey"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-grey.png) no-repeat;
    min-height: 8px; max-height: 8px;
    min-width: 17px; max-width: 17px;
}

Origin--UIToolkit--OriginCallout[template="plain"][direction="left"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="plain"][direction="left"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-border-left.png) no-repeat;
    min-width: 10px; max-width: 10px;
    min-height: 11px; max-height: 11px;
}

Origin--UIToolkit--OriginCallout[template="blue-border"][direction="left"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="blue-border"][direction="left"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-blue-border-left.png) no-repeat;
    min-width: 19px; max-width: 19px;
    min-height: 15px; max-height: 15px;
}

Origin--UIToolkit--OriginCallout[template="grey"][direction="left"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="grey"][direction="left"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-grey-left.png) no-repeat;
    min-width: 9px; max-width: 9px;
    min-height: 8px; max-height: 8px;
}

Origin--UIToolkit--OriginCallout[template="plain"][direction="right"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="plain"][direction="right"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-border-right.png) no-repeat;
    min-width: 10px; max-width: 10px;
    min-height: 11px; max-height: 11px;
}

Origin--UIToolkit--OriginCallout[template="blue-border"][direction="right"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="blue-border"][direction="right"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-blue-border-right.png) no-repeat;
    min-width: 19px; max-width: 19px;
    min-height: 15px; max-height: 15px;
}

Origin--UIToolkit--OriginCallout[template="grey"][direction="right"] QLabel#carrotTop,
Origin--UIToolkit--OriginCallout[template="grey"][direction="right"] QLabel#carrotBottom
{
    background: url(:/OriginCommonControls/OriginCallout/carrot-grey-right.png) no-repeat;
    min-width: 9px; max-width: 9px;
    min-height: 8px; max-height: 8px;
}

Origin--UIToolkit--OriginCallout[template="grey"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="grey"][direction="right"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="grey"][direction="left"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="blue-border"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="blue-border"][direction="right"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="blue-border"][direction="left"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="plain"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="plain"][direction="right"] QLabel#carrotBottom,
Origin--UIToolkit--OriginCallout[template="plain"][direction="left"] QLabel#carrotBottom
{
    background-position: bottom;
}

Origin--UIToolkit--OriginCallout QWidget#contentArea
{
    border-radius: 6px;
}

Origin--UIToolkit--OriginCallout[template="plain"] QWidget#contentArea
{
    border: 1px solid #fff;
}

Origin--UIToolkit--OriginCallout[template="blue-border"] QWidget#contentArea
{
    border: 3px solid #1a9bd2;
}

Origin--UIToolkit--OriginCallout[template="grey"] QWidget#contentArea
{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #7c7c7c, stop:1 #474747);
}

Origin--UIToolkit--OriginCallout[direction="left"][level="top"] QWidget#contentArea
{
    border-top-left-radius: 0px;
}

Origin--UIToolkit--OriginCallout[direction="left"][level="bottom"] QWidget#contentArea
{
    border-bottom-left-radius: 0px;
}

Origin--UIToolkit--OriginCallout[direction="right"][level="top"] QWidget#contentArea
{
    border-top-right-radius: 0px;
}

Origin--UIToolkit--OriginCallout[direction="right"][level="bottom"] QWidget#contentArea
{
    border-bottom-right-radius: 0px;
}