<example>
<para>An example of passing arguments to csc.</para>
<code file="HelloArgs.build">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <csc target="exe" output="helloArgs.exe" debug="true">
        <args>
          <arg value="/nologo"/>
          <arg value="/recurse:hello.cs"/>
        </args>
    </csc>
    <exec program="helloArgs"/>
</project>
]]>
</code>

<para>Where <c>source/hello.cs</c> contains:</para>
<code file="source/hello.cs">
<![CDATA[
using System;
class HelloWorld {
    static void Main() {
        Console.WriteLine("Hello, World!");
    }
}
]]>
</code>
</example>
