<origin-store-browse>
    <origin-store-search-facets>
        <origin-store-sort-category label="Sort" category-id="sort">
          <origin-store-sort-option label="Most Popular" sort-id="rank desc"></origin-store-sort-option>
          <origin-store-sort-option label="Price - High to Low" sort-id="dynamicPrice desc"></origin-store-sort-option>
          <origin-store-sort-option label="Price - Low to High" sort-id="dynamicPrice asc"></origin-store-sort-option>
          <origin-store-sort-option label="Release Date" sort-id="releaseDate desc"></origin-store-sort-option>
          <origin-store-sort-option label="Alphabetical - A to Z" sort-id="title asc"></origin-store-sort-option>
          <origin-store-sort-option label="Alphabetical - Z to A" sort-id="title desc"></origin-store-sort-option>
        </origin-store-sort-category>

       <origin-store-facet-category-group title="Filters" clear-all-label="Clear all filters">
          <origin-store-facet-category label="Genre" category-id="genre">
            <origin-store-facet-option category-id="genre" label="Action" facet-id="action"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Adventure" facet-id="adventure"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Arcade" facet-id="arcade"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Family" facet-id="family"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Fighting" facet-id="fighting"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Mmo" facet-id="mmo"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Online" facet-id="online"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Puzzle" facet-id="puzzle"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Racing" facet-id="racing"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Rpg" facet-id="rpg"></origin-store-facet-option>
            <origin-store-facet-option category-id="genre" label="Shooter" facet-id="shooter"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Price" category-id="price">
            <origin-store-facet-option category-id="price" label="On sale" facet-id="on-sale"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="Under $5" facet-id="pricebargains"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="Under $10" facet-id="pricetier1"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="$10 - $20" facet-id="pricetier2"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="$20 - $30" facet-id="pricetier3"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="$30 - $40" facet-id="pricetier4"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="$50 - $60" facet-id="pricetier5"></origin-store-facet-option>
            <origin-store-facet-option category-id="price" label="Above $60" facet-id="pricetier6"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Game Type" category-id="gameType">
            <origin-store-facet-option category-id="gameType" label="Base Games" facet-id="basegame"></origin-store-facet-option>
            <origin-store-facet-option category-id="gameType" label="Bundles" facet-id="bundles"></origin-store-facet-option>
            <origin-store-facet-option category-id="gameType" label="Currency" facet-id="currency"></origin-store-facet-option>
            <origin-store-facet-option category-id="gameType" label="DLC" facet-id="dlc"></origin-store-facet-option>
            <origin-store-facet-option category-id="gameType" label="expansion packs" facet-id="expansion"></origin-store-facet-option>
            <origin-store-facet-option category-id="gameType" label="Free to Play" facet-id="freegames"></origin-store-facet-option>
            <origin-store-facet-option category-id="gameType" label="Online Subscriptions" facet-id="onlinesubscription"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Franchise" category-id="franchise">
            <origin-store-facet-option category-id="franchise" label="Battlefield" facet-id="battlefield"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Need for Speed" facet-id="nfs"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="ULTIMA" facet-id="ultima"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="The Sims" facet-id="sims"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="FIFA" facet-id="fifa"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Dead Space" facet-id="deadspace"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="SymCity" facet-id="simcity"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Dragon Age" facet-id="dragonage"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Assassin's Creed" facet-id="assassin's-creed"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Crysis" facet-id="crysis"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Mass Effect" facet-id="masseffect"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Command & Conquer" facet-id="commandandconquer"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="MysteryPI" facet-id="mysterypi"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="PVZ" facet-id="pvz"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Titanfall" facet-id="titanfall"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="AmazingAdventures" facet-id="amazingadventures"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="TombRaider" facet-id="tombraider"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="WingCommander" facet-id="wingcommander"></origin-store-facet-option>
            <origin-store-facet-option category-id="franchise" label="Koa" facet-id="koa"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Platform" category-id="platform">
            <origin-store-facet-option category-id="platform" label="PC" facet-id="pc-download"></origin-store-facet-option>
            <origin-store-facet-option category-id="platform" label="Mac" facet-id="mac-download"></origin-store-facet-option>
            <origin-store-facet-option category-id="platform" label="PC/MAC" facet-id="macpc-download"></origin-store-facet-option>
            <origin-store-facet-option category-id="platform" label="Browser" facet-id="browser"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Availability" category-id="availability">
            <origin-store-facet-option category-id="availability" label="Coming Soon" facet-id="coming-soon"></origin-store-facet-option>
            <origin-store-facet-option category-id="availability" label="New Releases" facet-id="new-releases"></origin-store-facet-option>
            <origin-store-facet-option category-id="availability" label="Past Year" facet-id="past-year"></origin-store-facet-option>
            <origin-store-facet-option category-id="availability" label="Legacy" facet-id="legacy"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Players" category-id="players">
            <origin-store-facet-option category-id="players" label="Mutiplayer" facet-id="multiplayer"></origin-store-facet-option>
            <origin-store-facet-option category-id="players" label="Single Player" facet-id="singleplayer"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Rating" category-id="rating">
            <origin-store-facet-option category-id="rating" label="Mature" facet-id="mature"></origin-store-facet-option>
            <origin-store-facet-option category-id="rating" label="Teen" facet-id="teen"></origin-store-facet-option>
            <origin-store-facet-option category-id="rating" label="Everyone" facet-id="everyone"></origin-store-facet-option>
            <origin-store-facet-option category-id="rating" label="Everyone 10+" facet-id="everyone-10+"></origin-store-facet-option>
            <origin-store-facet-option category-id="rating" label="Rating pending" facet-id="rating-pending"></origin-store-facet-option>
          </origin-store-facet-category>

          <origin-store-facet-category label="Studio" category-id="developer">
             <origin-store-facet-option category-id="developer" label="4A Games" facet-id="4a-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="38 Studios" facet-id="38-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="5th Cell" facet-id="5th-cell"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Big Huge Games 38 Studios" facet-id="big-huge-games38-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Big Huge Games/38 Studio" facet-id="38-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="BioWare" facet-id="bioware"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Bright Future" facet-id="bright-future"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Bright Light" facet-id="bright-light"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Bullfrog Productions" facet-id="bullfrog-productions"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Cateia Games" facet-id="cateia-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="CD Projekt RED" facet-id="cd-projekt-red"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Core Design" facet-id="core-design"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="CCP Games" facet-id="ccp-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Codemasters Birmingham" facet-id="codemasters-birmingham"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Codemasters Southam" facet-id="codemasters-southam"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Coldwood Interactive" facet-id="coldwood-interactive"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Criterion Games" facet-id="criterion-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Crystal Dynamics" facet-id="crystal-dynamics"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Crytek" facet-id="crytek"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Cyanide" facet-id="cyanide"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Danger Close And DICE" facet-id="danger-close-and-dice"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Danger Close Games" facet-id="danger-close-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Danger Close Games And DICE" facet-id="danger-close-games-and-dice"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="DICE" facet-id="dice"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Dontnod Entertainment" facet-id="dontnod-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EA Black Box" facet-id="ea-black-box"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EA Canada" facet-id="ea-canada"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EA Hasbro" facet-id="ea-hasbro"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EA Phenomic" facet-id="ea-phenomic"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EA Salt-Lake" facet-id="ea-salt-lake"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EA Tiburon" facet-id="ea-tiburon"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="EALA" facet-id="eala"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Ensemble Studios" facet-id="ensemble-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Eugen Systems" facet-id="eugen-systems"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Firaxis Games" facet-id="firaxis-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Firefly Studios" facet-id="firefly-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Frontier Developments" facet-id="frontier-developments"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Funcom" facet-id="funcom"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Ghost Games" facet-id="ghost-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Giants Software" facet-id="giants-software"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Haeimont Games" facet-id="haeimont-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="InXile Entertainment" facet-id="inxile-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="King Art" facet-id="king-art"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Kuju Entertainment" facet-id="kuju-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Maxis" facet-id="maxis"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Monolith Productions" facet-id="monolith-productions"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Monte Cristo" facet-id="monte-cristo"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Mythic Entertainment" facet-id="mythic-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="N Fusion Interactive" facet-id="n-fusion-interactive"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Ninja Theory" facet-id="ninja-theory"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Nixxes Software" facet-id="nixxes-software"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Origin Systems" facet-id="origin-systems"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Pandemic Studios" facet-id="pandemic-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Paradox Development Studio" facet-id="paradox-development-studio"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="People Can Fly,Epic Games" facet-id="people-can-fly,epic-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Piranha Bytes" facet-id="piranha-bytes"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="PlatinumGames Inc." facet-id="platinumgames-inc."></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="PopCap Games" facet-id="popcap-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Realmforge Studios" facet-id="realmforge-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Rebellion Oxford" facet-id="rebellion-oxford"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Relic Entertainment" facet-id="relic-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Remedy Entertainment" facet-id="remedy-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Respawn Entertainment" facet-id="respawn-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Rocksteady Studios" facet-id="rocksteady-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Slightly-Mad Studios" facet-id="slightly-mad-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Snowblind Studios" facet-id="snowblind-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Spicy Horse" facet-id="spicy-horse"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Spiders Studios" facet-id="spiders-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Starbreeze Studios" facet-id="starbreeze-studios"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Techland" facet-id="techland"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Telltale Games" facet-id="telltale-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="The Creative Assembly" facet-id="the-creative-assembly"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="The Sims Studio" facet-id="the-sims-studio"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Tilted Mill Entertainment" facet-id="tilted-mill-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Trapdoor" facet-id="trapdoor"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Travellers Tales" facet-id="traveller's-tales"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Trion Worlds" facet-id="trion-worlds"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="TT Games" facet-id="tt-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Uber Entertainment" facet-id="uber-entertainment"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Ubisoft Montpellier" facet-id="ubisoft-montpellier"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Ubisoft Montreal" facet-id="ubisoft-montreal"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Ubisoft Shanghai" facet-id="ubisoft-shanghai"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="United Front Games" facet-id="united-front-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Victory Games" facet-id="victory-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Vigil Games" facet-id="vigil-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Visceral" facet-id="visceral"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Visceral Games" facet-id="visceral-games"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Volition Inc." facet-id="volition"></origin-store-facet-option>
             <origin-store-facet-option category-id="developer" label="Westwood Studios" facet-id="westwood-studios"></origin-store-facet-option>
          </origin-store-facet-category>
       </origin-store-facet-category-group>

    </origin-store-search-facets>
</origin-store-browse>
