<origin-store-row>
	<origin-store-paragraph-headertwo description="Compare Editions"></origin-store-paragraph-headertwo>
	<origin-store-pdp-comparison-table
		title="Get the game, all five expansions, and more with Origin Access."
		subtitle="Origin Access also includes access to over 20 other great EA games for just $9.99/month."
		offers="[{offerid: 'OFB-EAST:109546867'},{offerid: 'OFB-EAST:109549060'},{offerid: 'OFB-EAST:109552316'}]"
		flag="Most Popular">

		<origin-store-pdp-comparison-item
			title="Battlefield 4 Base Game"
			description="Experience the genre-defining action blockbuster made from moments found only in Battlefield."
			image="http://docs.x.origin.com/origin-x-design-prototype/images/posters/bf4_standard.jpg"
			checks="[{type: 'checked'},{type: 'checked'}, {type: 'checked'}]">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title="Battlefield 4 China Rising"
			description="Fight for dominance across the vast and majestic Chinese mainland in four massive maps, using all-new vehicles and high-tech military equipment."
			image="http://docs.x.origin.com/origin-x-design-prototype/images/posters/bf4-chinarising.jpg"
			checks="[{type: 'not-checked'},{type: 'checked'}, {type: 'checked'}]">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title="Battlefield 4 Premium"
			description="Get the edge on the battlefield. Premium membership awards a huge assortment of benefits."
			more="<br>Benefits include:<br><br><strong>All 5 Expansions:</strong> Get China Rising, Second Assault, Naval Strike, Dragon's Teeth, and Final Stand expansion packs.<br><br><strong>Priority Position:</strong> Gants priority position in the server queue, letting you get in the fight more quickly.<br><br><strong>Personalization Options:</strong> Appearance should be as unique as play style. Express your identity on the battlefield with Premium-exclusive camos, paints, emblems and dogtags.<br><br><strong>Weekly Content:</strong> Level up faster with Premium-exclusive Double XP events and get more out of Battlefield 4 with weekly updates of new content."
			image="http://docs.x.origin.com/origin-x-design-prototype/images/compare/bf4_premium.png"
			checks="[{type: 'not-checked'},{type: 'not-checked'}, {type: 'checked'}]"
			show-more="Show More"
			show-less="Show Less">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title="Battlepacks"
			description="Battlepacks are used for additional boosts such as rare weapons, gear and customizations only available to Premium members."
			image="http://docs.x.origin.com/origin-x-design-prototype/images/compare/bf4_battlepacks.png"
			checks="[{type: 'custom', text: '3 Battlepacks'}, {type: 'custom', text: '6 Battlepacks'}, {type: 'custom', text: '9 Battlepacks'}]">
		</origin-store-pdp-comparison-item>

	</origin-store-pdp-comparison-table>
</origin-store-row>