<origin-store-pdp-hero
    background-image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/battlefront.jpg"
    keybeat-icon="originlogo"
    keybeat-message="Own <a href=&quot;#&quot; class=&quot;otka&quot;>Premium Membership</a>? You're already good to go and will get early access.">
</origin-store-pdp-hero>

<origin-store-row>
    <origin-store-pdp-nav></origin-store-pdp-nav>
</origin-store-row>
<origin-store-row>
  <origin-store-pdp-navitem title="Media" anchor-name="media" show-on-nav="true"></origin-store-pdp-navitem>
  <origin-store-paragraph-headertwo description="Screenshots &amp; Videos"></origin-store-paragraph-headertwo>
  <origin-store-pdp-media-carousel></origin-store-pdp-media-carousel>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="Friends Who Play" anchor-name="friends" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Friends Who Play"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="Compare Editions" anchor-name="compare" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Compare Editions"></origin-store-paragraph-headertwo>
    <origin-store-pdp-comparison-table
		title="Get the game, all five expansions, and more with Origin Access."
		subtitle="Origin Access also includes access to over 20 other great EA games for just $9.99/month."
		offers="[{offerid: 'OFB-EAST:109546867'},{offerid: 'OFB-EAST:109549060'},{offerid: 'OFB-EAST:109552316'}]"
		flag="Most Popular">

		<origin-store-pdp-comparison-item
			title="Battlefield 4 Base Game"
			description="Experience the genre-defining action blockbuster made from moments found only in Battlefield."
			image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/bf4_standard.jpg"
			checks="[{type: 'checked'},{type: 'checked'}, {type: 'checked'}]">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title="Battlefield 4 China Rising"
			description="Fight for dominance across the vast and majestic Chinese mainland in four massive maps, using all-new vehicles and high-tech military equipment."
			image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/bf4-chinarising.jpg"
			checks="[{type: 'not-checked'},{type: 'checked'}, {type: 'checked'}]">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title="Battlefield 4 Premium"
			description="Get the edge on the battlefield. Premium membership awards a huge assortment of benefits."
			more="<br>Benefits include:<br><br><strong>All 5 Expansions:</strong> Get China Rising, Second Assault, Naval Strike, Dragon's Teeth, and Final Stand expansion packs.<br><br><strong>Priority Position:</strong> Gants priority position in the server queue, letting you get in the fight more quickly.<br><br><strong>Personalization Options:</strong> Appearance should be as unique as play style. Express your identity on the battlefield with Premium-exclusive camos, paints, emblems and dogtags.<br><br><strong>Weekly Content:</strong> Level up faster with Premium-exclusive Double XP events and get more out of Battlefield 4 with weekly updates of new content."
			image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/bf4_premium.png"
			checks="[{type: 'not-checked'},{type: 'not-checked'}, {type: 'checked'}]"
			show-more="Show More"
			show-less="Show Less">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title="Battlepacks"
			description="Battlepacks are used for additional boosts such as rare weapons, gear and customizations only available to Premium members."
			image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/bf4_battlepacks.png"
			checks="[{type: 'custom', text: '3 Battlepacks'}, {type: 'custom', text: '6 Battlepacks'}, {type: 'custom', text: '9 Battlepacks'}]">
		</origin-store-pdp-comparison-item>

	</origin-store-pdp-comparison-table>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-navitem title="Features" anchor-name="features" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-pdp-feature-hero
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/swb_large_01.jpg">
    </origin-store-pdp-feature-hero>
     <origin-store-pdp-feature-premier
        text-color="dark"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/swb_large_02.jpg"
        header="The Most Immersive Game"
        text="Unprecedented access to original Star Wars&trade; props and locations. Fire blasters, drive speederbikes, snowspeeders and command AT-ATs."
        text-align="right"
        text-slide="false">
    </origin-store-pdp-feature-premier>
     <origin-store-pdp-feature-premier
        text-color="dark"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/swb_large_03.jpg"
        header="Experience the Battle of Jakku Two Weeks Early"
        text="Be among the first to battle on the planet of Jakku with two additional maps, and learn more about this desert planet and the events leading up to Star Wars&trade;: The Force Awakens.<br><br>7 days early access for those who pre-order Star Wars&trade; Battlefront&trade;, beginning on December 1, 2015"
        text-align="left"
        text-slide="true"
        >
    </origin-store-pdp-feature-premier>
    <origin-store-pdp-feature-container
        title="Nothing compares to the scope, scale &amp; choices of Battlefield 4"
        text="Explore a vast range of experiences that allow you to play your way. New maps, more vehicles, weapons and destruction allow you to create your own path and play to your strengths. Absolutely nothing compares to the sheer scale and scope of Battlefield 4."
        text-color="light"
        background-color="#787D85"
        accent-color="rgba(255, 255, 255, 0.3)"
    >
        <origin-store-pdp-feature-bubble title="The Most Immersive Game" text="Unprecedented access to original Star Wars™ props and locations.<br/ >
        Photorealistic visuals and authentic sound design from the talented team at DICE." image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/sw_feature1.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="Ground-Based Combat On A Galactic Scale" text="Wage epic multiplayer battles on Hoth, Endor, Tatooine and the previously unexplored planet, Sullust.
        Fire blasters, drive speederbikes, snowspeeders and command AT-ATs." image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/sw_feature2.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="Play As Iconic Star Wars Characters" text="Fight as the galaxy's most memorable heroes and villains, like Darth Vader and Boba Fett.
        Interact with some of the most beloved characters from the original trilogy." image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/sw_feature3.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="Engage In Epic Star Wars Dog Fights" text="Pilot X-wings, TIE fighters, the Millennium Falcon and more of your favorite vehicles in exhilarating aerial combat.
        Find out which squadrons will rule the skies." image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/sw_feature4.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="For Jedi and Padawans Alike" text="Seamlessly swap between 1st person and 3rd person perspectives.
        Partner up with a friend in online multiplayer, share unlocks and have each other's backs on the battlefront." image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/sw_feature5.jpg"></origin-store-pdp-feature-bubble>
    </origin-store-pdp-feature-container>
    <origin-store-pdp-navitem title="Features" anchor-name="features-video" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-pdp-feature-video
        text-color="light"
        video="yjqqwZGNHPg"
        header="Immerse yourself in your Star Wars Battlefront fantasies"
        text="Photorealistic visuals and authentic sound design from the talented team at DICE. Prepate to be transported to a galaxy far, far away."
        text-align="center"
        text-slide="true"
        cta-type="transparent"
        cta-description="Watch the E3 Gameplay Trailer"
        cta-href="#"
        >
    </origin-store-pdp-feature-video>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-navitem title="Description" anchor-name="description" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Product Description"></origin-store-paragraph-headertwo>
    <origin-store-pdp-description></origin-store-pdp-description>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-navitem title="Custom" anchor-name="custom" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Custom"></origin-store-paragraph-headertwo>
    <origin-store-pdp-paragraph text="
        <strong>Experience Epic Battles on a Galactic Scale</strong>

        <br><br>
        Feel the ominous thud of an AT-AT stomping down on the frozen tundra of Hoth. Zip through the lush forests of Endor on an Imperial speeder bike while dodging incoming blaster fire. Engage in intense dogfights as squadrons of X-wings and TIE fighters fill the skies. Immerse yourself in the epic Star Wars™ battles you’ve always dreamed of and create new heroic moments of your own in Star Wars™ Battlefront™. 
        <br><br>

        <strong>Pre-order Bonus: Get 1 week early access to the Battle of Jakku with 2 additional maps!</strong>
        <br><br> 

        • Learn what happened before the events of Star Wars™: The Force Awakens™.
        <br><br>
        • 2 maps set on the all-new planet of Jakku.
        <br><br>
        • 7 days early access for those who pre-order Star Wars™ Battlefront™, beginning on December 1, 2015.
        <br><br>
        • Available as a free download to all players on December 8th, 2015.
        <br><br>

        <strong>Get five exciting in-game items with the Star Wars™ Battlefront™ Deluxe Edition.</strong> 
        <br><br> 
        • DL-44 Blaster, as made famous by Han Solo (instant access)
        <br><br>
        • Ion Grenade (instant access)
        <br><br>
        • Ion Torpedo (instant access)
        <br><br>
        • Ion Shock (exclusive emote)
        <br><br>
        • Victory (exclusive emote)
        <br><br>

        <strong>Game Features:</strong>
        <br><br>  
        • Engage in multiplayer battles on a galactic scale. Fight for the Rebellion or Empire in a wide variety of multiplayer matches that support up to 40 players, and seamlessly swap between first-person and third-person viewpoints to experience the action however you wish. Fight alongside your friends online, or in exciting challenges inspired by the films, available for solo or co-op play.
        <br><br>
        • Master the battlefield with iconic Star Wars™ characters. Play as some of the most memorable characters in the Star Wars™ universe, including Darth Vader and Boba Fett, and encounter a variety of beloved characters from the original trilogy such as C-3PO and R2-D2.
        <br><br>
        • Pilot incredible Star Wars™ vehicles. Hop in the cockpit of X-wings, TIE fighters, and even the Millennium Falcon for some edge-of-your-seat aerial combat. Then take the battle to the ground: Pilot a diverse set of ground-based vehicles including nimble speeder bikes, massive AT-ATs, and more.
        <br><br>
        • Immerse yourself in an authentic Star Wars™ experience. Each battle is brought to life by the original sound effects from the films and amazing digital replicas of authentic Star Wars™ movie models. Visit classic planets from the original Star Wars™ trilogy, detailed with an unprecedented amount of realism that will transport you to a galaxy far, far away.">
    </origin-store-pdp-paragraph>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-navitem title="Details" anchor-name="details" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Details"></origin-store-paragraph-headertwo>
    <origin-store-pdp-details>
      <origin-store-pdp-details-item icon="otkicon-person" key="person"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-multiplayer" key="multiplayer"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-coop" key="coop"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-controller" key="controller"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-trophy" key="trophy"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-cloud" key="cloud"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-ggg" key="ggg" url="http://docs.x.origin.com/origin-x-design-prototype/pdp/_prototype_pdp_starwarsbattlefront_digitaldeluxeedition_preorderavailable.html"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-download" key="download"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-progressiveinstall" key="progressiveinstall"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-chatbubble" key="chatbubble"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-twitch" key="twitch"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-timer" key="timer"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-offlinemode" key="offlinemode"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-modding" key="modding">
      <origin-store-pdp-details-item icon="otkicon-leaderboard" key="leaderboard"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-app" key="app"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-splitscreen" key="splitscreen"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-dolby" key="dolby"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-touch" key="touch"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-crossplatform" key="crossplatform"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-4k" key="4k"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-directx" key="directx"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-refresh" key="refresh"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-firstperson" key="firstperson"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-thirdperson" key="thirdperson"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-challenge" key="challenge"></origin-store-pdp-details-item>
    </origin-store-pdp-details>
    <origin-store-pdp-navitem title="Overview" anchor-name="overview" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-pdp-overview></origin-store-pdp-overview>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="System Requirements" anchor-name="requirements" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="System Requirements"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem anchor-name="random1" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Random Module 1"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem anchor-name="random2" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Random Module 2"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem anchor-name="random3" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Random Module 3"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-termsandconditions></origin-store-pdp-termsandconditions>
</origin-store-row>
