<origin-store-pdp-videohero
    keybeat-icon="originlogo"
    keybeat-message="Own <a href=&quot;#&quot; class=&quot;otka&quot;>Premium Membership</a>? You're already good to go and will get early access."
    video-id="WltEvm5fLzM"
    restricted-age="18"
    restricted-message="Sorry Sucka"
    >
</origin-store-pdp-videohero>

<origin-store-row>
    <origin-store-pdp-nav></origin-store-pdp-nav>
</origin-store-row>
<origin-store-row>
  <origin-store-pdp-navitem title="Media" anchor-name="media" show-on-nav="true"></origin-store-pdp-navitem>
  <origin-store-paragraph-headertwo description="Screenshots &amp; Videos"></origin-store-paragraph-headertwo>
  <origin-store-pdp-media-carousel></origin-store-pdp-media-carousel>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="Friends Who Play" anchor-name="friends" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Friends Who Play"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="Compare Editions" anchor-name="compare" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Compare Editions"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-navitem title="Features" anchor-name="features" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-pdp-feature-hero
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png">
    </origin-store-pdp-feature-hero>
    <origin-store-pdp-feature-premier
        text-color="light"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
        header="Change the face of battle with LEVOLUTION &amp; more"
        text="From the big to the small, the dynamic environment is affected by your actions—and the consequences change the landscape of gameplay in breathtaking fashion."
        text-align="left"
        >
    </origin-store-pdp-feature-premier>
     <origin-store-pdp-feature-premier
        text-color="light"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
        header="Change the face of battle with LEVOLUTION &amp; more"
        text="From the big to the small, the dynamic environment is affected by your actions—and the consequences change the landscape of gameplay in breathtaking fashion."
        text-align="right"
        text-slide="false">
    </origin-store-pdp-feature-premier>
     <origin-store-pdp-feature-premier
        text-color="light"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
        header="Change the face of battle with LEVOLUTION &amp; more"
        text="From the big to the small, the dynamic environment is affected by your actions—and the consequences change the landscape of gameplay in breathtaking fashion."
        text-align="center"
        text-slide="true"
        >
    </origin-store-pdp-feature-premier>
    <origin-store-pdp-feature-container
        title="Nothing compares to the scope, scale &amp; choices of Battlefield 4"
        text="Explore a vast range of experiences that allow you to play your way. New maps, more vehicles, weapons and destruction allow you to create your own path and play to your strengths. Absolutely nothing compares to the sheer scale and scope of Battlefield 4."
        text-color="light"
        background-color="#787D85"
        accent-color="rgba(255, 255, 255, 0.3)"
    >
        <origin-store-pdp-feature-bubble title="The Most Immersive Game" text="Unprecedented access to original Star Wars™ props and locations.<br/ >
        Photorealistic visuals and authentic sound design from the talented team at DICE." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature1.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="Ground-Based Combat On A Galactic Scale" text="Wage epic multiplayer battles on Hoth, Endor, Tatooine and the previously unexplored planet, Sullust.
        Fire blasters, drive speederbikes, snowspeeders and command AT-ATs." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature2.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="Play As Iconic Star Wars Characters" text="Fight as the galaxy's most memorable heroes and villains, like Darth Vader and Boba Fett.
        Interact with some of the most beloved characters from the original trilogy." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature3.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="Engage In Epic Star Wars Dog Fights" text="Pilot X-wings, TIE fighters, the Millennium Falcon and more of your favorite vehicles in exhilarating aerial combat.
        Find out which squadrons will rule the skies." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature4.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title="For Jedi and Padawans Alike" text="Seamlessly swap between 1st person and 3rd person perspectives.
        Partner up with a friend in online multiplayer, share unlocks and have each other's backs on the battlefront." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature5.jpg"></origin-store-pdp-feature-bubble>
    </origin-store-pdp-feature-container>
    <origin-store-pdp-navitem title="Features" anchor-name="features-video" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-pdp-feature-video
        text-color="light"
        video="3eVF9uBbuqc"
        header="Immerse yourself in your Star Wars Battlefront fantasies"
        text="Photorealistic visuals and authentic sound design from the talented team at DICE. Prepate to be transported to a galaxy far, far away."
        text-align="center"
        text-slide="true"
        cta-type="transparent"
        cta-description="Watch the E3 Gameplay Trailer"
        cta-href="#"
        >
    </origin-store-pdp-feature-video>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-navitem title="Description" anchor-name="description" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Product Description"></origin-store-paragraph-headertwo>
    <origin-store-pdp-description></origin-store-pdp-description>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="Details" anchor-name="details" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Details"></origin-store-paragraph-headertwo>
    <origin-store-pdp-details>
      <origin-store-pdp-details-item icon="otkicon-person" key="person"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-multiplayer" key="multiplayer"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-coop" key="coop"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-controller" key="controller"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-trophy" key="trophy"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-cloud" key="cloud"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-ggg" key="ggg" url="http://docs.x.origin.com/origin-x-design-prototype/pdp/_prototype_pdp_starwarsbattlefront_digitaldeluxeedition_preorderavailable.html"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-download" key="download"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-progressiveinstall" key="progressiveinstall"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-chatbubble" key="chatbubble"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-twitch" key="twitch"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-timer" key="timer"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-offlinemode" key="offlinemode"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-modding" key="modding">
    </origin-store-pdp-details>
    <origin-store-pdp-navitem title="Overview" anchor-name="overview" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-pdp-overview></origin-store-pdp-overview>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem title="System Requirements" anchor-name="requirements" show-on-nav="true"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="System Requirements"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem anchor-name="random1" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Random Module 1"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem anchor-name="random2" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Random Module 2"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-navitem anchor-name="random3" show-on-nav="false"></origin-store-pdp-navitem>
    <origin-store-paragraph-headertwo description="Random Module 3"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-termsandconditions></origin-store-pdp-termsandconditions>
</origin-store-row>
