<origin-store-row> 
    <h1 class='otktitle-page'>Promo Modules</h1>
</origin-store-row>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Hero Promo</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">With: Subtitle, Offer Details, Countdown Clock. Variety of combinations of all optional elements: Video, CTA, Pack Art, Release Date</h3>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-subtitle
        layout="hero"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/heros/hero_battlefront_@1x.jpg"
        title="Dogfight to Victory"
        text="Own the sky in Fighter Squadron."
        href="app.store.wrapper.bundle-blackfriday"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000871"
        show-packart="true">
    </origin-store-promo-subtitle>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-offerdetails
        layout="hero"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/heros/hero_battlefront_@1x.jpg"
        title="Dogfight to Victory"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000871"
        show-packart="true">
    </origin-store-promo-offerdetails>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-timer
        layout="hero"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/heros/hero_battlefront_@1x.jpg"
        title="Dogfight to Victory"
        href="app.store.wrapper.bundle-blackfriday"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000871"
        show-packart="true"
        goaldate="2016-02-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
</origin-store-row>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Full Width Promo</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">With: Subtitle, Offer Details, Countdown Clock. Variety of combinations of all optional elements: Video, CTA, Pack Art, Release Date</h3>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-subtitle
        layout="full-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Save Big On All Things Titanfall"
        text="Get up to 33% on the base game and DLC."
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        >
    </origin-store-promo-subtitle>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-offerdetails
        layout="full-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Save Big On All Things Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000979"
        show-packart="true">
    </origin-store-promo-offerdetails>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-timer
        layout="full-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Save Big On All Things Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000979"
        show-packart="true"
        goaldate="2016-02-01 09:10:30 UTC"
        post-title="This offer has ended"
        hide-timer="Yes">
    </origin-store-promo-timer>
</origin-store-row>


<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Half Width Promo</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">With: Subtitle, Offer Details, Countdown Clock. Variety of combinations of all optional elements: Video, CTA, Pack Art, Release Date</h3>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-subtitle
        layout="half-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        text="Get up to 33% on the base game and DLC."
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        >
    </origin-store-promo-subtitle>
    <origin-store-promo-offerdetails
        layout="half-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        text="Get up to 33% on the base game and DLC."
        href="app.store.wrapper.bundle-blackfriday"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000979"
        bullet-one="This is a bullet point"
        bullet-two="This is another bullet point"
        >
    </origin-store-promo-offerdetails>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-timer
        layout="half-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000979"
        show-packart="true"
        goaldate="2016-12-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
    <origin-store-promo-timer
        layout="half-width"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        offerid="Origin.OFR.50.0000979"
        show-packart="true"
        goaldate="2015-12-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
</origin-store-row>