
<origin-store-row>
  <origin-store-paragraph-pagetitle description="Origin Store Page Title" showsocialmedia="true"></origin-store-paragraph-pagetitle>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left"
    showsocialmedia="true">
    <origin-store-promo-subtitle
      layout="hero"
      title="Titanfall: Game of the year! The best thing to happen to anyone ever. Drop a Titan on it"
      text="Some text goes here any text really"
      href="app.game_gamelibrary.ogd"
      cta-text="Take me to deals"
      image="http://docs.x.origin.com/origin-x-design-prototype/images/screenshots/titanfall_03.jpg"
      start-date="June 10 2015 00:00:00 PST"
      end-date="June 15 2015 01:00:00 EST"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
    </origin-store-promo-subtitle>
  </origin-store-carousel-hero>
</origin-store-row>


<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="10000"
    alignment="left"
    showsocialmedia="true">
    <origin-store-promo-subtitle
      layout="hero"
      title="Define Your Destiny"
      text="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
      href="app.store.wrapper.dealsmodule"
      cta-text="Take me to deals"
      image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
      videoid="wS7gfJqFoA"
      restrictedage="18"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle
      layout="hero"
      title="Define Your Destiny"
      text="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
      href="app.store.wrapper.dealsmodule"
      image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
    </origin-store-promo-subtitle>
  </origin-store-carousel-hero>
</origin-store-row>