<origin-store-row>
	<origin-store-paragraph-pagetitle description="Store Game Tiles" showsocialmedia="true"></origin-store-paragraph-pagetitle>
</origin-store-row>

<origin-store-row>

	<h2 class="otktitle-2">Compact Tiles</h2>

	<ul class="l-origin-store-column-full l-origin-storegametiles-compact">
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:60531" type="compact"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:39471" type="compact"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000675" type="compact"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:109546867" type="compact"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000743" type="compact"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:52735" type="compact"></origin-store-game-tile>
		</li>
	</ul>
</origin-store-row>

<origin-store-row>

	<h2 class="otktitle-2">Fixed Tiles</h2>

	<ul class="l-origin-store-column-full l-origin-storegametiles-fixed">
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:52735"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:39471"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000675" violator-text="Hi Mom!"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000488"></origin-store-game-tile>
		</li>
	</ul>

</origin-store-row>

<origin-store-row>

	<h2 class="otktitle-2">Responsive Tiles</h2>
	<ul class="l-origin-store-column-full l-origin-storegametiles-responsive">
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:52735" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000743" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000858" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000828" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="DR:208591800" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:60885" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:109546867" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:109552419" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="Origin.OFR.50.0000828" type="responsive"></origin-store-game-tile>
		</li>
		<li>
			<origin-store-game-tile offer-id="OFB-EAST:109551057" type="responsive"></origin-store-game-tile>
		</li>
	</ul>
</origin-store-row>