<origin-store-nav>
    <origin-store-nav-dropdown title="Browse Games" href="#/store">
        <origin-store-nav-item title="PC Best Sellers" href="#/store"></origin-store-nav-item>
        <origin-store-nav-dropdown title="All PC Games" href="#/store">
            <origin-store-nav-item title="Action" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="MMO" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Online" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Puzzle" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Racing" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="RPG" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Shooter" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Simulation" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Sports" href="#/store"></origin-store-nav-item>
        </origin-store-nav-dropdown>
        <origin-store-nav-divider></origin-store-nav-divider>

        <origin-store-nav-dropdown title="Batlefield" href="#/store">
            <origin-store-nav-item title="Battlefield Hardline" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Battlefield 4" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Battlefield 3" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Battlefield Expansions" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="Battlefield DLC" href="#/store"></origin-store-nav-item>
            </origin-store-nav-dropdown>

        <origin-store-nav-dropdown title="The Sims" href="#/store">
            <origin-store-nav-item title="The Sims 4" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="The Sims 3" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="The Sims Expansions" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="The Sims DLC" href="#/store"></origin-store-nav-item>
        </origin-store-nav-dropdown>

        <origin-store-nav-item title="Dragon Age" href="#/store"></origin-store-nav-item>
        <origin-store-nav-item title="Need for Speed" href="#/store"></origin-store-nav-item>
        <origin-store-nav-item title="Fifa" href="#/store"></origin-store-nav-item>
        <origin-store-nav-item title="Plants vs Zombies" href="#/store"></origin-store-nav-item>
        <origin-store-nav-item title="Simcity" href="#/store"></origin-store-nav-item>

    </origin-store-nav-dropdown>

    <origin-store-nav-dropdown title="Free Games" href="#/store/freegames">
        <origin-store-nav-item title="On The House" href="#/store/onthehouse"></origin-store-nav-item>
        <origin-store-nav-item title="Game Time" href="#/store/gametime"></origin-store-nav-item>
        <origin-store-nav-item title="Demos and Betas" href="#/store/demosbetas"></origin-store-nav-item>
    </origin-store-nav-dropdown>

    <origin-store-nav-item title="Deals & Exclusives" href="#/store"></origin-store-nav-item>
    <origin-store-nav-item title="Origin Access" href="#/store"></origin-store-nav-item>
</origin-store-nav>