<h1>Overrides with logo</h1>
<origin-store-home-takeover
    image="http://docs.x.origin.com/origin-x-design-prototype/images/store/template_heroic_.png"
    logo="http://docs.x.origin.com/origin-x-design-prototype/images/store/template_heroic_logo.png"
    title="Dragon Age: Inquisition"
    key-message="Immerse Yourself in the Ultimate Star Wars™ Experience"
    offer-id="OFB-EAST:1000032"
    color-scheme="light">
</origin-store-home-takeover>

<h1>Overrides without logo</h1>
<origin-store-home-takeover
    image="http://docs.x.origin.com/origin-x-design-prototype/images/store/template_heroic_.png"
    title="Dragon Age: Inquisition"
    key-message="Immerse Yourself in the Ultimate Star Wars™ Experience"
    offer-id="OFB-EAST:1000032"
    color-scheme="light">
</origin-store-home-takeover>

<h1>Catalog data with PDP link override</h1>
<origin-store-home-takeover
    image="http://docs.x.origin.com/origin-x-design-prototype/images/store/template_heroic_.png"
    offer-id="OFB-EAST:1000032"
    learn-more-url="https://confluence.ea.com/display/EBI/Origin+X+Store+-+Store+Home+Page+PRD#OriginXStore-StoreHomePagePRD-StoreHomepage-Takeover"
    learn-more-text="Go to PRD"
    color-scheme="light">
</origin-store-home-takeover>

<h1>Catalog data (no overrides)</h1>
<origin-store-home-takeover
    image="http://docs.x.origin.com/origin-x-design-prototype/images/store/template_heroic_.png"
    offer-id="OFB-EAST:1000032"
    color-scheme="light">
</origin-store-home-takeover>
