<div class="origin-store-bundle-dialog-add-item otkmodal-content">
    <div class="otkmodal-header">
        <h4 class="otkmodal-title otktitle-2" ng-bind="::model.displayName"></h4>
    </div>
    <div class="otkmodal-body">
        <origin-store-game-rating></origin-store-game-rating>
        <origin-store-game-legal></origin-store-game-legal>
    </div>
    <div class="otkmodal-footer">
        <button class="origin-store-bundle-dialog-add-item-button otkbtn otkbtn-primary" ng-click="onActionButtonClick()" ng-bind="::actionText"></button>
        <a class="origin-store-bundle-dialog-add-item-button otkbtn otkbtn-light" ng-href="{{::getPdpUrl()}}" ng-click="gotoPdp($event)" ng-bind="::viewDetailsText"></a>
    </div>
</div>