<div ng-transclude></div>
<section class='l-origin-home-discovery origin-home-section ng-class:{"origin-home-section-isloading": isLoading}'  ng-if='visible'>
    <h2 class='otktitle-3 origin-home-section-title'>{{titlestr}}</h2>
    <ul class='origin-home-discovery-tiles'>
        <li class='l-origin-home-discovery-tile'></li>
    </ul>
    <div class='l-origin-home-section-more ng-class:{"origin-home-section-more-isloading":isLoadingMore}' ng-if='moreTilesAvailable'>
    	<a href='javascript:void(0)' ng-click='showMoreTiles()' class='otkbtn otkbtn-light'>View More</a>
    </div>
</section>
