//
// Home Merchandise Tiles
// --------------------------------------------------

.l-origin-home-merch {
    max-width: 1400px;
    min-height: 188px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    @media screen {
        @media (max-width: @width-mobile-small) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.origin-home-merchtiles {
    margin: 0;
    padding: 0;
    .clearfix();
}

// Layout for a merch tile
// -------------------------

.l-origin-home-merchtile {
    float: left;
    width: 50%;
    margin: 0 0 24px 0;
    padding: 0 0 20px 20px;
    list-style: none;
    .box-sizing(border-box);
    @media screen {
        @media (max-width: @width-medium-desktop) {
            float: none;
            width: 100%;
            max-width: 690px; /* this needs to be removed eventually */
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.l-origin-home-merchtile:first-child {
    padding-left: 0;
    padding-right: 20px;
    @media screen {
        @media (max-width: @width-medium-desktop) {
            padding-right: 0;
        }
    }
}

.l-origin-home-merchtile:only-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    @media screen {
        @media (max-width: @width-medium-desktop) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Merch Tile
// -------------------------

.origin-home-merchtile {
    position:relative;
    height: 168px;
    overflow: hidden;
    .box-shadow(0px 0px 2px 0px rgba(red(@color-black), green(@color-black), blue(@color-black), 0.25));
    .transition(all 0.3s ease-out);
    &:hover {
        .box-shadow(0px 0px 10px 0px rgba(red(@color-black), green(@color-black), blue(@color-black), 0.6));
    }
}

.origin-home-merchtile-img {
    position:absolute;
    left: 50%;
    top: 50%;
    .translate(-50%, -50%);
}

.origin-home-merchtile-content {
    padding: 15px;
    width: 280px;
    bottom: 0;
    top: 0;
    position: absolute;
    @media screen {
        @media (max-width: @width-mobile-small) {
            padding: 45px 15px;
        }
    }
}

.origin-home-merchtile-content:after {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 300px;
}

.origin-home-merchtile-description {
    margin-top: 0;
    @media screen {
        @media (max-width: @width-mobile-small) {
            display:none;
        }
    }
}

.origin-home-merchtile-price {
    color: @color-orange;
}

.origin-home-merchtile-originalprice {
    text-decoration: line-through;
    color: @color-mediumnavy;
}

.origin-home-merchtile-originalprice:after {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    margin: 0 0 -1px 5px;
    background: @color-mediumnavy;
}

.origin-home-merchtile-discount {
    color: @color-nuxgreen;
    font-weight: @weight-semibold;
}

// Merch Tile Themes
// -------------------------

.origin-home-merchtile-content-left {
    left: 0;
}

.origin-home-merchtile-content-left:after {
    right: -300px;
}

.origin-home-merchtile-content-right {
    right: 0;
}

.origin-home-merchtile-content-right:after {
    left: -300px;
}

.origin-home-merchtile-content-dark.origin-home-merchtile-content-left:after {
    #gradient.horizontal(rgba(red(@color-black), green(@color-black), blue(@color-black), 0.75), rgba(red(@color-black), green(@color-black), blue(@color-black), 0), 0, 100%);
}

.origin-home-merchtile-content-dark.origin-home-merchtile-content-right:after {
    #gradient.horizontal(rgba(red(@color-black), green(@color-black), blue(@color-black), 0), rgba(red(@color-black), green(@color-black), blue(@color-black), 0.75), 0, 100%);
}

.origin-home-merchtile-content-light.origin-home-merchtile-content-left:after {
    #gradient.horizontal(rgba(red(@color-white), green(@color-white), blue(@color-white), 0.65), rgba(red(@color-white), green(@color-white), blue(@color-white), 0), 0, 100%);
}

.origin-home-merchtile-content-light.origin-home-merchtile-content-right:after {
    #gradient.horizontal(rgba(red(@color-white), green(@color-white), blue(@color-white), 0), rgba(red(@color-white), green(@color-white), blue(@color-white), 0.65), 0, 100%);
}

.origin-home-merchtile-content-light {
    color: @color-black;
    background-color: @color-white;
    background-color: rgba(red(@color-white), green(@color-white), blue(@color-white), 0.65);
}

.origin-home-merchtile-content-dark {
    color: @color-white;
    text-shadow: 1px 1px 2px @color-black;
    background: @color-black;
    background: rgba(red(@color-black), green(@color-black), blue(@color-black), 0.75);
    .origin-home-merchtile-originalprice {
        color: @color-white;
    }
}


// Merchtile Overlay
// -------------------------

.origin-home-merchtile-overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @color-black;
    background: rgba(red(@color-black), green(@color-black), blue(@color-black), 0.9);
    opacity: 0;
    .transition(all 0.3s ease-out);
    text-align: center;
    &:hover {
        opacity: 1.0;
    }
}

.l-origin-home-merchtile-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

