<div class="l-origin-unveiling origin-unveiling">
    <div class="origin-unveiling-flashlanding-wrapper">

        <!-- Force login on browser (if not already) -->
        <div ng-if="!isLoggedIn && !isLoading" class="origin-unveiling-flashlanding-loginprompt">
            <h1 class="otktitle-page message-title" ng-bind="::locStrings.newGiftFlashlandingLoginStr"></h1>
             <origin-cta-login></origin-cta-login>
        </div>

        <!-- Animated out after 4s (.origin-unveiling-flashlanding-receivedmessage) -->
        <div ng-if="isLoggedIn && !isLoading" class="otktitle-page origin-unveiling-flashlanding-receivedmessage" ng-bind="::locStrings.newGiftFlashlandingMessageStr"></div>
    </div>
    <div ng-if="isLoggedIn && !isLoading" class="origin-unveiling-main-wrapper">
        <div class="origin-unveiling-background" ng-class="{ 'origin-unveiling-background-blurred': supportsBlur }">
            <div class="origin-unveiling-background-image-wrapper">
                <img class="origin-unveiling-background-image" ng-src="{{ backgroundImage }}" />
            </div>

            <div class="origin-unveiling-background-lighting">
                <!-- These light flare animate once only -->
                <div class="origin-unveiling-bglightburst origin-unveiling-bglightburst-first"></div>
                <div class="origin-unveiling-bglightburst origin-unveiling-bglightburst-second"></div>

                <origin-lightflares></origin-lightflares>
                <!-- These light flares animate infinitely -->
                <origin-lightflares-infinite ng-if="!isMobileView"></origin-lightflares-infinite>
            </div>
        </div>
        <div class="origin-unveiling-content-wrapper origin-telemetry-unveiling-content-wrapper" ng-class="isLongContent ? 'origin-unveiling-contentlong' : 'origin-unveiling-contentshort' ">
            <div class="origin-unveiling-content">
                <div class="origin-unveiling-posterart">
                    <!-- Packart -->
                    <img class="origin-unveiling-posterart-image" ng-src='{{ ::packArt }}'/>
                </div>

                <div class="origin-unveiling-details">
                    <!-- Sender's Avatar -->
                    <div class="origin-unveiling-avatar">
                        <origin-avatar nucleusid="{{::giftData.senderPersonaId}}" avatar-size="medium" click-override="onAvatarClick($event)"></origin-avatar>
                    </div>

                    <!-- Sender/game info -->
                    <h4 class="origin-unveiling-sendergameinfo otktitle-4" ng-bind-html="::locStrings.sentByStr"></h4>

                    <h2 class="otktitle-2 origin-unveiling-senderquote" ng-class="{ 'origin-unveiling-senderquote-isempty': !senderMessage }" ng-bind-html="::locStrings.senderQuoteStr">
                    </h2>

                    <!-- CTA & Futher actions -->
                    <origin-cta-downloadinstallplay offerid='{{::ogdOfferId}}' type='primary' isgift='true' ng-if='ogdOfferId && isCtaVisible'></origin-cta-downloadinstallplay>

                    <a href="javascript:void(0)" ng-click="downloadLaterClick()" class="otka otktitle-4 origin-unveiling-downloadlaterlink">
                        <strong class="origin-telemetry-unveiling-downloadlaterlink-text" ng-bind-html="::locStrings.alternateActionLinkStr"></strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
