.l-origin-oig-addonstore {
    background-color: @color-white;
    width: 100%;
}

.origin-oig-addonstore-header-padded {
    padding-top: 110px;
}

.origin-oig-addonstore-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.origin-oig-addonstore-body-small {
    max-height: 420px;
}

.origin-oig-checkout iframe {
    height: 100vh;
    position: absolute;
}