.origin-store-dialog-content-agegateconfirmation{
    .content {
        padding: 24px;
        text-align: center;
    }
    .otktitle-2 {
        color: @color-darknavy;
        margin-bottom: 6px;
    }
    .otktitle-3 {
        color: @color-darkgray;
    }
}
