//
// Checkout Using Balance dialog
// --------------------------------------------------
.l-origin-checkoutusingbalance {
    background-color: white;
}

.origin-checkoutusingbalance-cart {
    border-top: 1px solid fade(@color-lightnavy, 50%);
    border-bottom: 1px solid fade(@color-lightnavy, 50%);
    margin: 0 0 32px 0;
    padding: 15px 0;
    position: relative;
    width: 100%;
    .clearfix();
}

.origin-checkoutusingbalance-cart-item-image {
    float: left;
    margin-right: 20px;
    max-width: 50px;
}

.origin-checkoutusingbalance-cart-item-desc {
    font-weight: @weight-normal;
    float: left;
    margin: 0;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.origin-checkoutusingbalance-cart-item-desc-center {
    line-height: 68px;
}

.origin-checkoutusingbalance-cart-item-price {
    float: right;
    margin: 0;
    max-width: 15%;
    right: 0;
    text-align: right;
    .vertical-center();
}

.origin-checkoutusingbalance-cart-current-balance,
.origin-checkoutusingbalance-cart-new-balance {
    float: right;
    height: 35px;
    position: relative;
    width: 100%;
    .clearfix();
    .display-flex();
    .justify-content(flex-end);
}

.origin-checkoutusingbalance-cart-current-balance {
    .align-items(flex-start);
}

.origin-checkoutusingbalance-cart-new-balance {
    .align-items(flex-end);
}

.origin-checkoutusingbalance-cart-current-balance-label,
.origin-checkoutusingbalance-cart-new-balance-label {
    color: @color-lightnavy;
    font-weight: @weight-normal;
    width: 240px;
}

.origin-checkoutusingbalance-cart-current-balance-value,
.origin-checkoutusingbalance-cart-new-balance-value {
    float: right;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
}

.origin-checkoutusingbalance-cart-current-balance-value {
    bottom: 15px;
}

.origin-checkoutusingbalance-cart-new-balance-value {
    bottom: -2px;
}

.origin-checkoutusingbalance-footer {
    text-align: inherit;
    .clearfix();

    > a {
        float: right;
        margin-left: 20px;
    }
}

.origin-checkoutusingbalance-checkout-disclaimer {
    color: @color-mediumnavy;
    display: block;
    margin-bottom: 24px;
    max-width: 100%;
    .clearfix();
}

.origin-checkoutusingbalance-order-history {
    cursor: pointer;
}
.origin-checkoutusingbalance-order-number,
.origin-checkoutusingbalance-total-price {
    height: 35px;
    .align-items(flex-end);
    .clearfix();
    .display-flex();
    .justify-content(flex-start);
}

.origin-checkoutusingbalance-order-number {
    margin-top: 14px;
}

.origin-checkoutusingbalance-total-price {
    margin-bottom: 12px;
}

.origin-checkoutusingbalance-order-number-label,
.origin-checkoutusingbalance-total-price-label {
    color: @color-lightnavy;
    font-weight: @weight-normal;
    position: relative;
    width: 140px;
}

.origin-checkoutusingbalance-order-number-label {
    bottom: 7px;
}

.origin-checkoutusingbalance-total-price-value {
    position: relative;
    bottom: -2px;
}

.origin-checkoutusingbalance-order-summary {
    float: left;
    margin-top: 18px;
}

.origin-checkoutusingbalance-download {
    margin-top: 12px;
}

.origin-checkoutusingbalance-section {
    display: none;
}

.origin-checkoutusingbalance-active-section {
    display: block;
    .animation(origin-settings-fader 0.3s ease-in-out 1);
}