//
// Download Info Dialog
// --------------------------------------------------
.origin-cldialog-downloadinfo-warning {
    padding-top: 12px;
    margin-bottom: -17px;
}

.origin-cldialog-downloadinfo-warning-icon {
    font-size: 36px;
    color: @color-yellow;
    display: table-cell;
    vertical-align: middle;
}

.origin-cldialog-downloadinfo-warning-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2px;

    a {
        cursor: pointer;
    }
}

.origin-cldialog-downloadinfo-table {
    margin: 21px 0;
    width: 100%;
    border-spacing: 0;
}

.origin-cldialog-downloadinfo-cell {
    width: 40%;
    padding: 5px 0;
    display: inline-block;
}

.downloadinfo-extracheckbuttons-list {
    border-spacing: 0;
}

.downloadinfo-extracheckbuttons-list-checkbox {
    padding: 4px 0;
    display: inline-block;
}

.downloadinfo-extracheckbuttons-list-checkbox-help {
    position: relative;
    top: -3px;
}

.downloadinfo-extracheckbuttons-list-checkbox-help .otktooltip {
    top: 0px;
    margin-top: -3px;
}

.downloadinfo-extra-title {
    margin-bottom: 0;
}

.downloadinfo-extra-content-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
        border-top: 1px solid rgba(195, 198, 206, 0.5);
        padding: 15px 0;
    }

    .downloadinfo-extra-content-name {
        margin-bottom: 0!important;
    }

    .downloadinfo-extra-content-desc {
        margin-left: 26px;
        font-weight: 300;
    }

}