//
// Styling for the Game Properties dialog
// --------------------------------------------------

.origin-gameproperties-header {
    padding-top: 24px;
}

.origin-gameproperties-tabbedsection {
    display: none;
}

.origin-gameproperties-activesection {
    display: block;
    -webkit-animation: origin-settings-fader 1s ease-in-out 1;    /* slow the fade because the client will sometimes pop */
    -moz-animation: origin-settings-fader 0.3s ease-in-out 1;
    -o-animation: origin-settings-fader 0.3s ease-in-out 1;
    animation: origin-settings-fader 0.3s ease-in-out 1;
}

.origin-gameproperties-divider {
    height: 1px;
    margin: 24px 0;
    background: @color-lightgray;
}

.origin-gameproperties-offline {
    position: relative;
    left: -5px;
}

.origin-gameproperties-warning {
    font-size: 36px;
    position: relative;
    color: @color-yellow;
    top: 10px;
}

.origin-gameproperties-cloudsaves-progresslabel {
    position: absolute;
    top: 19px;
    left: 0;
    color: @color-darkgray;
}

.origin-gameproperties-cloudsaves-checkbox {
    display: block;
    margin-top: 24px;
}

.origin-gameproperties-cloudsaves-progress {
    margin-top: 12px;
}

.origin-gamepropertiescloudsaves-restore {
    margin-top: 12px;
}

.origin-gameproperties-gamemanual
{
    margin: 0 0 6px 0;
    cursor: pointer;
}

.origin-gameproperties-gamename, .origin-gameproperties-gamelocation
{
    margin: 0 0 24px 0;
}

.origin-gameproperties-epilepsy
{
    margin: 0 0 6px 0;
    cursor: pointer;
}

.origin-gameproperties-cdkey
{
    margin: 0 0 6px 0;
}

.origin-gameproperties-dateadded {
    margin: 0 0 6px 0;    
}

.origin-gameproperties-launch {
    margin-bottom: 24px;
}

.origin-gameproperties-locales {
    margin-bottom: 24px;
}
