.dialog-content-inviteusers {

    .dialog-content-with-friends {
        overflow-y: auto;
        overflow-x: hidden;
        height: 500px;

        margin: -30px;
        padding: 0 30px 30px 30px;

        @media screen and (max-width: @global-width-small) {
            margin: -10px;
            padding: 0 10px 10px 10px;
        }

        >.otkmodal-title-content {
            margin-top: 24px;
        }

        >.otkinput {
            margin-bottom: 24px;
        }
    }

    .dialog-content-friends-offline,
    .dialog-content-no-friends {
        height: 125px;
    }

    .otka {
        cursor: pointer;
    }

}
