//
// Origin Dialog - Screenshot dialog
// =============================================

.origin-dialog-content-media-carousel {
    position: relative;
    padding: 0;

    &:hover {
        .origin-dialog-content-media-carousel-right,
        .origin-dialog-content-media-carousel-left {
            .opacity(1);
        }
    }

    &.media-type-video {
        .origin-dialog-content-media-carousel-prev,
        .origin-dialog-content-media-carousel-next {
            height: auto;
            .vertical-center();
        }
    }

}

.origin-dialog-content-media-carousel-prev, .origin-dialog-content-media-carousel-next {
    cursor: pointer;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    .opacity(.5);
    .transition(all @transition-short);

    &:hover {
        .opacity(1);
    }
}

.origin-dialog-content-media-carousel-left, .origin-dialog-content-media-carousel-right {
    .vertical-center();
    .border-radius(50%);
    height: 40px;
    color: @color-white;
    .opacity(0);
    .transition(all @transition-short);
    font-size: 40px;
}
.origin-dialog-content-media-carousel-prev {
    left: 0;
}

.origin-dialog-content-media-carousel-next {
    right: 0;
}
.origin-dialog-content-media-carousel-left {
    .align-with-gutters-left();
}

.origin-dialog-content-media-carousel-right {
    .align-with-gutters-right();
}

.origin-dialog-content-media-carousel-list {
    list-style-type: none;
    margin: 25px 0 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .clearfix();

    .media-min-width(@global-width-small, {
      margin: 0;
    });
}

.origin-dialog-content-media-carousel-item {
    display: block;
    width: 100%;
    height: auto;

    .media-min-width(@global-width-small, {
        height: calc(100vh - 160px - 60px);
        background-color: @color-black;
    });

    &.origin-dialog-content-media-carousel-item-active {
        .animation(originScreenshotMoveInFromLeft 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1);
    }

    &.origin-dialog-content-media-carousel-item-next {
        display: none;
    }

    &.origin-dialog-content-media-carousel-item-prev {
        display: none;
    }
}

.origin-dialog-content-media-carousel-image {
    width: 100%;
    .horizontal-center(relative);

    .media-min-width(@global-width-small, {
        width: auto;
        height: 100%;
    });
}
