.origin-dialog-content-pp {
    text-align: center;
    padding: 54px;
    &-title {
        margin-bottom: 6px;
    }

    &-text{
        color: @color-darkgray;
    }

    &-action-container {
        padding-top: 20px;
    }

    &-productcontainer {
        list-style: none;
        width: 100%;
        margin: 12px auto;
        padding-left: 0px;
    }

    &-product {
        margin-bottom: 6px;
        font-size: 18px;
    }
    .media-max-width(@global-width-xsmall, {
        a {
            margin: 6px 0;
        }
    });


}

