
.dialog-content-reportuser-section-form {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -10px;

    @media only screen and (max-width: @global-width-small) {
        margin-left: -10px;
        margin-right: -10px;
    }

    .dialog-content-reportuser-section-form-why-area,
    .dialog-content-reportuser-section-form-where-area {
        display: inline-block;
        width: 49%;

        @media only screen and (max-width: @global-width-small) {
            display: block;
            width: auto;
            margin-top: 10px;
        }
    }

    .dialog-content-reportuser-section-form-where-area {
        margin-left: 2%;
        @media only screen and (max-width: @global-width-small) {
            margin-left: 0;
        }
    }

    .dialog-content-reportuser-section-form-comment-area {
        margin-top: 20px;   
    }
}
