.share-wishlist-facebook-container {
    color: @color-black;
}

.share-wishlist-facebook-icon-wrapper {
    background: #3b5998;
    color: @color-white;
    position: relative;
    width: 45px;
    height: 45px;
    font-size: 40px;
    .border-radius(2px);
}

.share-wishlist-facebook-icon {
    top: 3px;
    left: 1px;
}

.share-wishlist-link-heading {
    margin-top: 0;
}

.share-wishlist-link {
    color: @color-darkgray;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 12px;
    margin-left: -20px;
    border-radius: 4px;
}

.share-wishlist-link-highlighted {
    .animation(wishlistLinkHighlighted 1.2s ease-in-out forwards);
}

.share-wishlist-copy-link-copied {
    position: relative;
}

.copy-wishlist-link-wrapper {
    margin-top: 24px;
}

.share-wishlist-copied-icon {
    color: @color-green;
    font-size: 28px;
    position: absolute;
    left: -24px;
    top: -4px;
}

.share-wishlist-copy-link-copied-old-browser {
    position: relative;
    width: 300px;
}

.share-wishlist-copied-old-browser-icon {
    color: @color-darknavy;
    font-size: 27px;
    position: absolute;
    left: -31px;
    top: -3.5px;
}

.share-wishlist-button {
    width: auto;
    max-width: none;
    min-width: 250px;
    padding: 12px 75px;
}
