.origin-store-dialog-content-subsmacwarning {
    .otkc{
        max-width: 100%
    }

    .media-max-width(@global-width-xsmall, {
        .otkmodal-footer .otkbtn + .otkbtn {
			margin-left: 0;
			margin-top: 10px;
	    }
    });
}
