.origin-you-need-origin-steps {

    .origin-you-need-origin-step {
        display: inline-block;
        width: 200px;
        height: 175px;
        vertical-align: middle;
        margin: 0 20px;

        @media screen and (max-width: @global-width-small) {
            display: block;
            margin: 0 auto;
        }

        p {
            text-align: center;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        .offset-icon {
            position: absolute;
            top: 60%;
            background-color: @color-nuxgreen;
            .circle(40px);

            > .otkicon {
                color: @color-white;
            }
        }
    }

    .otkgraphic {
        &-download, &-userlogin, &-posterart {
            position: relative;
            width: 100%;
            height: 145px;
            z-index: 5;
            .transition(@timing-simple-animate);

            .offset-icon > .otkicon {
                font-size: @font-size-icon-font;
                padding: 5px;
                line-height: @font-size-icon-font;
            }
        }

        &-download {
            .otkicon-cloud:before {
                font-size: 228px;
                position: absolute;
                top: -55px;
                left: -15px;
                color: @color-lightgray;
            }

            .otkicon-originlogo:before {
                font-size: 65px;
                position: absolute;
                left: 68px;
                top: 23px;
                color: @color-darknavy;
            }

            .offset-icon {
                right: 2%;

                > .otkicon {
                    font-size: @font-size-icon-font;
                    padding: 5px;
                    line-height: 29px;
                }
            }
        }

        &-userlogin {
            .circle {
                background-color: @color-lightgray;
                .circle(125px);
                .position-center;
            }

            .otkicon-profile:before {
                font-size: 70px;
                position: absolute;
                left: 29px;
                top: 9px;
                color: @color-darknavy;
            }

            .offset-icon {
                right: 15%;

                > .otkicon {
                    font-size: @font-size-icon-font;
                    padding: 5px;
                    line-height: @font-size-icon-font;
                }
            }
        }

        &-posterart {
            img {
                width: 95px;
                .position-center;
            }

            .offset-icon {
                right: 14%;

                > .otkicon {
                    font-size: 27px;
                    padding: 6px 9px;
                    line-height: 20px;
                }
            }
        }
    }

    .origin-you-need-origin-divider {
        @media screen and (max-width: @global-width-small) {
            width: 100%;
            text-align: center;
        }
    }

    .otkicon-rightarrow {
        padding: 12px 0;
        color: @color-lightnavy;
        text-shadow: 0 0 1px @color-lightnavy;
        font-size: 36px;
        font-weight: 800;

        @media screen and (max-width: @global-width-small) {
            display: block;
        }

        &::before {
            @media screen and (max-width: @global-width-small) {
                display: inline-block;
                .rotate(90deg);
            }
        }
    }
}


.origin-you-need-origin-steps-footer {

    .otkbtn {
        display: inline-block;
        width: @otk-cta-width;

        @media screen and (max-width: @pdp-width-xsmall) {
            display: block;
            width: 100%;
            max-width: none;
            margin: 15px 0;
        }
    }

    .origin-inline-notification {
        margin-bottom: 18px;
    }
}
