.origin-dialogcontent-youtubeitem-content {
  height:100%;
  .media-max-width(@global-width-small, {
    height: 100vh;
  });
  &-passed-agegate {
    height: 100%;

  }
}

.origin-store-carousel-media-youtubeitem-iframewrapper {
    height: 100%;
    padding-bottom: 56.5%;

    iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
    }
}
