.origin-dialogcontent-youtube {
	.media-max-width(@global-width-small, {
		padding-top: 30px;
	});
}

.origin-dialogcontent-youtube-content {
	position: relative;
}

.origin-dialogcontent-youtube-iframewrapper {
	position: static;
	padding-bottom: 52.5%;
	padding-top: 0;
	height: 0;
}

.origin-dialogcontent-youtube-player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.origin-dialogcontent-youtube-footer {
	padding-top: 10px;

	.origin-storeprice .otkprice { display: none; }

	.media-min-width(@global-width-small, {
		padding-top: 30px;
		.display-flex();
		.justify-content(space-between);
		.align-items(center);
	});
}

.origin-dialogcontent-youtube-footerpackart {
	padding-right: 15px;
	height: 60px;
}

.origin-dialogcontent-youtube-footercontent {
	padding-right: 45px;
	.display-flex();
	.align-items(center);

	.media-min-width(@global-width-small, {
		max-width: 530px;
	});
}

.origin-dialogcontent-youtube-footercta {
	width: 250px;

	.media-max-width(@global-width-small, {
		margin-top: 12px;
	});
}