body {
    margin:0;
    padding:0;
    background:#EDF1F2;
}

.sidenav {
    position:fixed;
    top:0;
    bottom:0;
    width:200px;
    background:#1E262C;
}

.logo {
    display:block;
    margin-top:40px;
    color:#ff7300;
    text-decoration:none;
    font-size:60px;
    text-align:center;
}

.sidenav > ul {
    margin:20px 0 0 0;
    padding:0;
}

.sidenav > ul > li {
    list-style-type:none;
    margin:0;
    padding:0;
}

.sidenav > ul > li > a {
    display:block;
    width:100%;
    padding:8px 10px;
    font-size:14px;
    color:#fff;
    text-decoration:none;
    border-left:3px solid transparent;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    transition:all 0.2s ease-out;
}

.sidenav > ul > li > a:hover {
    border-left:3px solid #edf1f2;
}

.sidenav > ul > li.active > a,
.sidenav > ul > li.active > a:hover {
    border-left:3px solid #ff7300;

}

.topnav {
    position:absolute;
    top:10px;
    right:40px;
}

.nav-pills > li {
    float:left;
    display:inline;
    margin-left:3px;
}

.nav-pills > li > a {
    display:inline-block;
    padding:5px 20px;
    color:#808080;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
    transition:all 0.2s ease-out;
}

.nav-pills > li > a:hover {
    background:#ebebeb;
}

.nav-pills > .nav-item-active > a,
.nav-pills > .nav-item-active > a:hover {
    color:#fff;
    background:#ff7300;
}

.maincontent {
    margin:100px 50px 50px 300px;
}

.download-otk {
    margin:30px 0 70px 0;
}

/* code component */
.component {
    margin-top:50px;
    padding-bottom:35px;
    border-top:1px solid #ebebeb;
}

.component > h2 {
    margin:1em 0;
}

.component-description {
    margin-bottom:50px;
}

.component-example {
    margin-bottom:25px;
}

.component-source {
    position:relative;
    margin-bottom:15px;
}

.component-edit {
    position:absolute;
    top:30px;
    bottom:0;
    width:100%;
    padding:1em;
    background:#f5f2f0;
    text-shadow: 0 1px white;
    font-size:16px;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-box-sigin:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    resize:none;
    opacity:0;
    transition:all 0.3s ease-in-out;
    z-index:-1;
}

.component-edit-isactive {
    opacity:1;
    z-index:0;
}

.component-params table {
    border-collapse:collapse;
    margin:0.5em 0;
    color:#333;
}

.component-params th {
    padding:5px;
    border:1px solid #ebebeb;
    border-bottom:2px solid #ebebeb;
    text-align:left;
}

.component-params td {
    padding:5px;
    font-size:13px;
    text-align:left;
    border:1px solid #ebebeb;
}

.component-params-attribute {
    width:150px;
}

.component-params-type {
    width:125px;
}

.component-params-required {
    width:100px;
}

.component-params-description {
    width:325px;
}

.component-dependencies {
    margin:1em 0;
}

.component-dependencies > ul {
    margin:0.5em 0;
    padding:0;
    font-size:13px;
    color:#808080;
}

.component-dependencies > ul > li {
    display:inline;
}

.component-dependencies > ul > li:before {
    display:inline-block;
    content: ',';
    margin-right:0.5em;
}

.component-dependencies > ul > li:first-child:before {
    display:none;
    content:'';
}

.component-mini {
    float:left;
    display:inline;
    width:400px;
    margin-right:10px;
}

.component-mini .otkicon {
    font-size:30px;
    color:#1e262c;
}

/* component source navigation */
.nav-componentsource {
    position:absolute;
    right:0;
    top:-10px;
}

.nav-componentsource > li {
    float:left;
    display:inline;
    margin-left:15px;
}

.nav-componentsource > li:first-child {
    margin-left:0;
}

.componentsource-trigger {
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#6bbfca;
    transition:all 0.3s ease-in-out;
}

.componentsource-trigger-isactive {
    color:#04bd68;
}


.origin-gamecard {
    position: relative;
    width:290px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px #ababab;
    -moz-box-shadow: 0 1px 2px #ababab;
    box-shadow: 0 1px 2px #ababab;
}

.origin-gamecard-double {
    width:595px;
}

.origin-gamecard-heading,
.origin-gamecard-footer {
    padding:15px;
}

.origin-gamecard-img {
    display:block;
    width:100%;
}

.tile {
    position:relative;
    width:231px;
}

.form-jsonbuilder > .otkform-group {
    margin-bottom:1.5em;
}

.output-jsonbuilder > pre {
    width:100%;
    overflow:auto;
}

#otkbadge-notification-button {
    margin-left: 40px;
}
