<div ng-show="userLoggedIn" class="origin-social-chatwindow-area" ng-class="{'origin-social-chatwindow-area-showing-tabs': shouldShowTabs()}">

    <origin-titlebar-subwindow titlestr="{{windowTitleStr}}">
        <i ng-show="showTitlebarPresence" ng-class="{'otkpresence' : true,
                        'otkpresence-online': !xmppDisconnected && (activeOneToOnePartner.presence.show == 'ONLINE'),
                        'otkpresence-ingame': !xmppDisconnected && activeOneToOnePartner.ingame,
                        'otkpresence-broadcasting': !xmppDisconnected && activeOneToOnePartner.broadcasting,
                        'otkpresence-away': !xmppDisconnected && (activeOneToOnePartner.presence.show == 'AWAY'),
                        'otkpresence-offline': xmppDisconnected || (activeOneToOnePartner.presence.show == 'UNAVAILABLE') || (activeOneToOnePartner.presence.presenceType == 'UNAVAILABLE')}">
        </i>
    </origin-titlebar-subwindow>

    <section class="origin-social-chatwindow-area-content">

        <nav ng-show="shouldShowTabs()" class="origin-social-chatwindow-area-tabs">
            <ul class="otknav otknav-tabs otknav-tabs-dark" role="tablist">
                <li ng-repeat="id in getVisibleTabIds()"
                        data-conversation-id="{{id}}"
                        class="origin-social-chatwindow-tab otktab">
                    <a href="javascript:void(0);">
                        <div class="otktab-content">
                            <origin-social-chatwindow-conversation-presenceindicator conversation="getConversationById(id)" ng-if="getConversationById(id).state === 'ONE_ON_ONE'"></origin-social-chatwindow-conversation-presenceindicator>
                            <span class="otktab-title otktitle-5"><strong>{{getConversationById(id).title}}</strong></span>
                        </div>
                    </a>
                    <div ng-show="getConversationById(id).unreadCount > 0" class="otkbadge">{{getConversationById(id).unreadCount}}</div>
                    <span class="origin-social-chatwindow-tab-close"><i class="otkicon otkicon-close"></i></span>
                </li>
                <!-- overflow control -->
                <li ng-show="getOverflowTabIds().length > 0" class="otktab otktab-overflow otkdropdown origin-social-chatwindow-tab-overflow-tab">
                    <a class="otkdropdown-trigger otkdropdown-trigger-caret otkc otkc-small" href="javascript:void(0);" id="origin-social-chatwindow-tab-overflow-menu">
                        {{getOverflowTabIds().length}}
                    </a>
                    <div ng-show="overflowUnreadCount > 0" class="otkbadge origin-social-chatwindow-tab-overflow-tab-unread-badge">{{overflowUnreadCount}}</div>
                    <div class="otkdropdown-wrap">
                        <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="origin-social-chatwindow-tab-overflow-menu">
                            <li ng-repeat="id in getOverflowTabIds()"
                                    data-conversation-id="{{id}}"
                                    class="origin-social-chatwindow-tab-overflow-menu-item"
                                    role="presentation">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0);">
                                    <origin-social-chatwindow-conversation-presenceindicator conversation="getConversationById(id)" ng-if="getConversationById(id).state === 'ONE_ON_ONE'"></origin-social-chatwindow-conversation-presenceindicator>
                                    <span class="otkc otkc-small origin-social-chatwindow-tab-overflow-menu-item-title"><strong>{{getConversationById(id).title}}</strong></span>
                                    <div ng-show="getConversationById(id).unreadCount > 0" class="otkbadge">{{getConversationById(id).unreadCount}}</div>
                                    <span class="origin-social-chatwindow-tab-overflow-menu-item-close"><i class="otkicon otkicon-close"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- overflow control -->
            </ul>      
        </nav>

        <section
                ng-repeat="conversation in conversationsArray = (conversations | toArray)"
                data-conversation-id="{{conversation.id}}"
                class="origin-social-chatwindow-conversation-section" origin-postrepeat>
            <origin-social-chatwindow-conversation-area conversation="conversation"></origin-social-chatwindow-conversation-area>
        </section>

    </section>

</div>
