<div ng-show="userLoggedIn" class="origin-social-chatwindow-area-minimized">

    <div class="origin-social-chatwindow-area-minimized-button" ng-class="{ 'hasAdditionalTabs' : additionalTabCount() > 0 }" >
        <i ng-show="activeConversation.state === 'ONE_ON_ONE'" class="origin-social-chatwindow-area-minimized-presence"
           ng-class="{'otkpresence' : true,
            'otkpresence-online': !xmppDisconnected && (activeOneToOnePartner.presence.show == 'ONLINE'),
            'otkpresence-ingame': !xmppDisconnected && activeOneToOnePartner.ingame,
            'otkpresence-broadcasting': !xmppDisconnected && activeOneToOnePartner.broadcasting,
            'otkpresence-away': !xmppDisconnected && (activeOneToOnePartner.presence.show == 'AWAY'),
            'otkpresence-offline': xmppDisconnected || (activeOneToOnePartner.presence.show == 'UNAVAILABLE') || (activeOneToOnePartner.presence.presenceType == 'UNAVAILABLE')}">
        </i>
        <span class="otktitle-4 origin-social-chatwindow-area-minimized-label"><strong>{{activeConversation.title}}</strong></span>
        <div ng-show="unreadCount > 0" class="otkbadge">{{unreadCount}}</div>
    </div>

    <div ng-show="additionalTabCount() > 0" class="origin-social-chatwindow-area-minimized-tabselector otkdropdown-trigger" id="origin-social-chatwindow-area-minimized-tabselector">
        <span class="otktitle-5 origin-social-chatwindow-area-minimized-tabselector-tab-count">{{additionalTabCount()}}</span>
        <div class="otkdropdown-wrap otkdropdown-wrap-arrowbottom otkdropdown-wrap-arrowright">
            <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="origin-social-chatwindow-area-minimized-tabselector">
                <li ng-repeat="id in getAdditionalTabIds()"
                        data-conversation-id="{{id}}"
                        class="origin-social-chatwindow-tab-overflow-menu-item"
                        role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);">
                        <origin-social-chatwindow-conversation-presenceindicator conversation="getConversationById(id)" ng-if="getConversationById(id).state === 'ONE_ON_ONE'"></origin-social-chatwindow-conversation-presenceindicator>
                        <span class="otkc otkc-small origin-social-chatwindow-tab-overflow-menu-item-title"><strong>{{getConversationById(id).title}}</strong></span>
                        <div ng-show="getConversationById(id).unreadCount > 0" class="otkbadge">{{getConversationById(id).unreadCount}}</div>
                        <span class="origin-social-chatwindow-tab-overflow-menu-item-close"><i class="otkicon otkicon-close"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        <i class="otkicon otkicon-downarrow origin-social-chatwindow-area-minimized-tabselector-caret"></i>
        <div ng-show="overflowTabsUnreadCount > 0" class="otkbadge">{{overflowTabsUnreadCount}}</div>
    </div>

</div>
