#if (PLATFORM == "xone")
    #define QOS_PORT 17403
#else
    #define QOS_PORT 17404
#endif

#define QOS_SERVER_NAME_SJC "qos-int-bio-sjc-common-common.gos.ea.com"
#define QOS_SERVER_NAME_IAD "qos-int-bio-iad-common-common.gos.ea.com"

QosSettings = {
    // For ilt testing, use fewer qos servers
    pingSiteInfoByAliasMap = {
        bio-sjc={address = "#QOS_SERVER_NAME_SJC#", port = #QOS_PORT#},
        bio-iad={address = "#QOS_SERVER_NAME_IAD#", port = #QOS_PORT#}
    }
}