apps/originx-defaults/components/pages/scripts/origin-home-recommended-action-trial/.content.xml
apps/originx-defaults/components/pages/scripts/origin-home-recommended-action-trial/config.jsp
apps/originx-defaults/components/pages/scripts/origin-home-recommended-action-trial/content.jsp
apps/originx-defaults/components/pages/scripts/origin-home-recommended-action-trial/directive.jsp
apps/originx-defaults/components/pages/scripts/origin-home-recommended-action-trial/header.jsp
apps/originx-defaults/templates/scripts/origin-home-recommended-action-trial/.content.xml
apps/originx/components/imported/dialogs/.content.xml
apps/originx/components/imported/dialogs/ocd/.content.xml
apps/originx/components/imported/dialogs/ocd/ocd.xml
apps/originx/components/imported/dialogs/scripts/.content.xml
apps/originx/components/imported/dialogs/scripts/origin-home-recommended-action-trial.xml
apps/originx/components/imported/directives/ocd/ocd/.content.xml
apps/originx/components/imported/directives/ocd/ocd/ocd.config.jsp
apps/originx/components/imported/directives/ocd/ocd/ocd.default.jsp
apps/originx/components/imported/directives/ocd/ocd/ocd.directive.jsp
apps/originx/components/imported/directives/ocd/ocd/ocd.jsp
apps/originx/components/imported/directives/ocd/ocd/ocd.ocd.jsp
apps/originx/components/imported/directives/scripts/origin-home-recommended-action-trial/.content.xml
content/web-defaults/.content.xml
content/web-defaults/defaults/.content.xml
content/web-defaults/defaults/scripts/.content.xml
content/web-defaults/defaults/scripts/origin-home-recommended-action-trial/.content.xml
content/web-dev/.content.xml
content/web-dev/dev/.content.xml
etc/designs/originx-defaults/.content.xml
etc/designs/originx-dev/.content.xml