<div class="origin-search-results l-origin-section">
    <origin-search-results type="games" results="gameResults" limit="8" ng-if="isGamesVisible"></origin-search-results>
    <origin-search-results type="store" results="storeResults" limit="{{storeResultsLimit}}" ng-if="isStoreVisible"></origin-search-results>
    <origin-search-results type="people" results="peopleResults" limit="{{peopleResultsLimit}}" show-all-people-callback="showAllPeopleCallback()" ng-if="isPeopleVisible"></origin-search-results>
    <div ng-transclude ng-if="noResultsFound"></div>
    <origin-search-offline ng-if="isOffline"></origin-search-offline>
    <div class="origin-search-loading" ng-if="isLoading">
        <div class="origin-search-loading-spinner"></div>
    </div>

</div>
