<div class='origin-gametile ng-class:{
        "origin-gametile-isdisabled": isDisabled,
        "origin-gametile-ismasked": isDownloadingOrQueued
    }' origin-context-menu='getAvailableActions()'>
    <a href="#/game-library/ogd/{{::offerId}}" class="otka">
        <origin-game-badge offerid='{{::offerId}}'></origin-game-badge>
        <img class='origin-gametile-img' ng-src='{{packArt}}' alt='{{displayName}}'>
        <origin-game-violator offerid='{{::offerId}}'></origin-game-violator>
    </a>

    <a href="#/game-library/ogd/{{::offerId}}" class="otka">
        <section class='l-origin-gametile-overlay' ng-show='isDownloadingOrQueued'>
            <h1 class='origin-gametile-title otktitle-3'>{{displayName}}</h1>
            <div class='l-origin-gametile-progress'>
                <origin-game-progress offerid='{{::offerId}}'></origin-game-progress>
            </div>
        </section>
    </a>
</div>