/* layout */
.l-origin-storegametiles-fixed,
.l-origin-storegametiles-responsive,
.l-origin-storegametiles-compact {
    width: 100%;
    display: block;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.l-origin-storegametiles-fixed > li {
    width: 150px;
    margin-right: 5px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.origin-storebundlehero-shrink .l-origin-storegametiles-fixed > li {
    width: 110px;
}

.l-origin-storegametiles-responsive > li {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin: 0 2% 10px 0;

    @media screen and (min-width: @width-medium-desktop) {
        &:nth-child(6n){
            margin-right:0;
        }
    }

    @media screen and (max-width: (@width-medium-desktop + 1)) and (min-width: @width-desktop) {
        width: 18%;
        margin-right: 2.5%;
        &:nth-child(5n){
            margin-right:0;
        }
    }
    /* 1000px; */
    @media screen and (max-width: (@width-desktop + 1)) and (min-width: @width-mobile) {
        width: 23%;
        margin-right: 2.66%;
        &:nth-child(4n){
            margin-right:0;
        }
    }
    /* 768px; */
    @media screen and (max-width: (@width-mobile + 1)) and (min-width: @width-mobile-small) {
        width: 32%;
        margin-right: 2%;
        &:nth-child(3n){
            margin-right:0;
        }
    }
    /* 480px; */
    @media screen and (max-width: (@width-mobile-small + 1)) {
        max-width: none;
        width: 100%;
        margin: 5px 0;
    }
}


.l-origin-storegametiles-compact > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 12px;
}

.l-origin-storegametiles-compact > li:nth-child(3n) {
    margin-right: 0;
}


@media only screen and (max-width: 1150px){
    .l-origin-storegametiles-compact li
    {
        width: 49%;
        margin-right: 2%;
    }

    .l-origin-storegametiles-compact li:nth-child(3n)
    {
        margin-right: 2%;
    }

    .l-origin-storegametiles-compact li:nth-child(2n)
    {
        margin-right: 0;
    }
}


@media only screen and (max-width: 600px) {
    .l-origin-storegametiles-compact > li
    {
        width: 100%;
        margin-right: 0;
    }

    .l-origin-storegametiles-compact > li:nth-child(3n)
    {
        margin-right: 0;
    }

    .l-origin-storegametiles-compact > li:nth-child(2n)
    {
        margin-right: 0;
    }

    .l-origin-storegametiles-compact > li:last-child
    {
        display: block;
    }
}


/* end layout */




.origin-storegametile {
    position: relative;
    display: inline-block;
    background: @color-white;
    .box-shadow(0 0 2px 0 fade(@color-black, 25%));
    width: 100%;
    margin: 0;
    z-index: 0;
}

.no-touch .origin-storegametile {
    .transition(box-shadow .3s ease-out);
    &:hover,
    &.origin-storegametile-hover {
        z-index: 1;
        .box-shadow(0 0 10px 0 fade(@color-black, 60%));
    }
}

.origin-storegametile-isloading {
    display: none;
}

.origin-storegametile-overlaywrapper {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: visible;
}

.origin-storegametile-responsive .origin-storegametile-overlaywrapper {
    @media screen {
        @media (max-width: @width-mobile-small) {
            position: static;
        }
    }
}

.origin-storegametile-compact .origin-storegametile-overlaywrapper {
    position: static;
}

.origin-storegametile-posterart {
    width: 100%;
}

.origin-storegametile-responsive .origin-storegametile-posterart {
    .img-responsive();
    @media screen {
        @media (max-width: @width-mobile-small) {
            max-width: 95px;
            display: block;
            float: left;
            margin-right: 10px;
        }
    }
}

.origin-storegametile-compact .origin-storegametile-posterart {
    max-width: 95px;
    display: block;
    float: left;
    margin-right: 10px;
}

.origin-storegametile-overlay {
    display: block;
    .opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.no-touch .origin-storegametile-overlay {
    background: @color-black;
    background: fade(@color-black, 90%);
    z-index: 1;
    text-align: center;
    cursor: pointer;
    .transition(opacity .3s ease-in-out);
    &:hover {
        .opacity(1);
    }
}

.origin-storegametile-hover {
    .origin-storegametile-overlay {
        .opacity(1);
    }
}

.origin-storegametile-overlaycontent {
    position: absolute;
    width: 90%;
    padding: 0 5%;
    top: 50%;
    left: auto;
    bottom: auto;
    right: auto;
    .translate(0, -50%);
    text-align: center;
}

.origin-storegametile-cta {
    margin: 0 auto;
}

.origin-storegametile:not(.origin-storegametile-hover):hover .otkbtn {
    .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
}

.origin-storegametile-details {
    padding: 10px 10px 0 10px;
    text-align: left;
    min-height: 123px;
    font-size: 0;
}

.origin-storegametile-responsive .origin-storegametile-details {
    max-width: none;
    @media screen {
        @media (max-width: @width-mobile-small) {
            min-height: 0;
        }
    }
}

.origin-storegametile-compact .origin-storegametile-details {
    min-height: 0;
}

.origin-storegametile-title {
    color: @color-darknavy;
    height: 36px;
    margin-bottom: 17px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    > a
    {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
         &:hover {
            .underline(@color-black, 18px);
        }
    }
}

.origin-storegametile-violator {
    background-color: @color-black;
    background-color: fade(@color-black, 85%);
    color: @color-white;
    padding: 4px 15px;
    line-height: 15px;
    text-align: center;
    clear: both;
}

.origin-storegametile-responsive .origin-storegametile-violator {
    @media screen {
        @media (max-width: @width-mobile-small) {
            display: none;
        }
    }
}

.origin-storegametile-compact .origin-storegametile-violator {
    display: none;
}

.origin-productlist-container.l-origin-storegametiles-responsive > li {
    margin-bottom: 36px;
}