<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo message='@{DateTimeDayOfWeek()}' />
</project>

<!-- Your output may look something like this 
[echo] Thursday
-->
]]>
</code>
</example>