<example>
<para>Test to show how to use &lt;createtask&gt; and &lt;task&gt;.</para>
<code>
<![CDATA[
<!-- testtask.build -->
<project xmlns="schemas/ea/framework3.xsd">
	<property name="propdefs">
	DEFINE1
	DEFINE2
	</property>
	
    <createtask name="TestTask">
        <parameters>
            <option name="Message" value="Required"/>
            <option name="DefList" value="Required"/>
        </parameters>
        <code>
            <echo message="${TestTask.Message}"/>
		    <dependent name="VisualStudio"/>
			<cc >
				<defines>
				TEST_DEF
				${TestTask.DefList}
				</defines>
				<sources>
					<includes name="test.cpp"/>
				</sources>
			</cc>
        </code>
    </createtask>

    <foreach item="OptionSet" in="Task.TestTask.Parameters" property="parameter">
        <echo message="${parameter.name} = ${parameter.value}"/>
    </foreach>

    <echo message="${Task.TestTask.Code}"/>

    <task name="TestTask" Message="@{DateTimeToday()}">
		<DefList>
		TEST_DEFINITION
		TEST_DEFINE
		${propdefs}
		</DefList>
	</task>
   
</project>
]]>
</code>

<code file="Manifest.xml">
<![CDATA[
<!-- manifest.xml -->
<package>
    <frameworkVersion>2</frameworkVersion>
    <buildable>false</buildable>
</package>
]]>
</code>

<code file="masterconfig.xml">
<![CDATA[
<!-- masterconfig.xml -->
<project xmlns="schemas/ea/framework3.xsd">
	<masterversions>
		<package name="VisualStudio" version="7.1.1-5"/>
		<package name="Framework" version="dev"/>
	</masterversions>
	<config package="Framework" default="win-release"/>
</project>
]]>
</code>

<code file="test.cpp">
<![CDATA[
//test.cpp
#ifndef TEST_DEFINE
#error TEST_DEFINE not defined
#endif
]]>
</code>
</example>