//
// Button Groups
// --------------------------------------------------


.otkbtngroup {
    margin:0;
    padding:0;
    list-style-type:none;
}

.otkbtn-grouped {
    .border-radius(0);
    margin-bottom:-1px;
    color:@color-lightnavy;
    border-color:@color-lightnavy;
    background:transparent;
    &:hover {
        position:relative;
        color:@color-white;
        border-color:@color-white;
        background: @color-black;
        background: rgba(red(@color-black), green(@color-black), blue(@color-black), 0.1);
    }
}

.otkbtn-grouped.otkbtn-selected,
.otkbtn-grouped.otkbtn-selected:hover {
    position:relative;
    color:@color-orange;
    border-color:@color-orange;
    background:transparent;
}

.otkbtngroup-item:first-child > .otkbtn-grouped {
    .border-top-radius(4px);
}

.otkbtngroup-item:last-child > .otkbtn-grouped {
    .border-bottom-radius(4px);
}
