//
// Dropdown menus
// --------------------------------------------------


// The dropdown wrapper (div)
.otkdropdown {
    display: inline-block;
    position: relative;
}

// The dropdown label
.otkdropdown-label {
    color: @color-mediumnavy;
}

// The dropdown trigger itself
.otkdropdown-trigger {
    display: inline-block;
    padding: 0;
    color: @color-darknavy;
    text-decoration: none;
    .transition(all @animation-simple);
    &:hover,
    &:focus {
        text-decoration: none;
        color: @color-black;
    }
    &:hover:after,
    &:focus:after {
        color: @color-black;
    }
    // Prevent the focus on the dropdown toggle when closing dropdowns
    &:focus {
        outline: 0;
    }
}

// variation where the dropdown has a caret
.otkdropdown-trigger-caret {
    &:after {
        .iconfont(0); //pass in line height
        content: @icon-downarrow;
        position: relative;
        top: 9px;
        margin-left: -4px;
        color: @color-mediumnavy;
        font-size: 30px;
        .transition(all @animation-simple);
    }
}

// The dropdown menu (ul)
.otkdropdown-wrap {
    position: absolute;
    visibility:hidden; // none by default, but block on "open" of the menu

    top: 130%;
    left: 50%;
    width: @dropdown-width;
    margin-top: 7px;
    margin-left: (-1 * (@dropdown-width / 2));
    z-index: @zindex-dropdown;

    background: @color-white;
    border: 1px solid @color-lightnavy;
    .border-radius(4px);
    .box-shadow(0 0 4px 0 rgba(red(@color-darknavy), green(@color-darknavy), blue(@color-darknavy), 0.2));
    .translate3d(0, -10px, 0);
    .transition(all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1));
    opacity: 0;

    background-clip: padding-box;
    &:after,
    &:before {
        content: "";
        position: absolute;
        left:50%;
        width: 0;
        height: 0;
    }
    &:after {
        top: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid @color-white;
    }
    &:before {
        top: -8px;
        margin-left:-1px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid @color-lightnavy;
    }
}

.otkdropdown-isvisible {
    visibility:visible;
    .translate3d(0, 0, 0);
    opacity: 1;
}

.otkdropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 90; //(@zindex-dropdown - 10);
}
