//
// Dropdown Menu (this should be pulled into nav)
// --------------------------------------------------


.otkmenu {
    list-style:none;
    margin:0;
    padding:0;
    > li {
        margin:0;
    }
}

.otkmenu-dropdown > li > a {
    display: block;
    width: 100%;
    padding: 13px 15px;
    text-decoration: none;
    color: @color-darknavy;
    .transition(all ease-in-out 0.3s);
    .box-sizing(border-box);

    &:hover,
    &:focus {
        background: @color-lightgray;
        outline:0;
        text-decoration:none;
    }
}

.otkmenu-dropdown > li:first-child > a {
    .border-top-radius(4px);
}

.otkmenu-dropdown > li:last-child > a {
    .border-bottom-radius(4px);
}

.otkmenu-dropdown > .otkmenu-item-active > a {
    &,
    &:hover,
    &:focus {
        background: @color-orange;
        color: @color-white;
        outline:0;
    }
}