Origin--UIToolkit--OriginMultiLineEditControl {
    background-color: #fff;
    color: #3e3d3f;
    min-height: 22px;
    min-width: 40px;
}

Origin--UIToolkit--OriginMultiLineEditControl:disabled {
    background-color: #e9e9e9;
}