#include "osdk/osdk_clubs_custom.cfg"

// OSDK Version.  Must be in the form x.xx.xx
OSDK_VERSION="6.00.06"

// FUT Adboard enabling flag
DISPLAY_FUT_ADBOARDS=0
FUTBOOTCFGFILE_URL = "http://#WEBHOST#/easo/editorial/#WEBDIR#/#WEBYEAR#/fut/futBoot.xml"

// Show Ultimate Team Menu
SHOW_ULTIMATE_TEAM=0

// Enable disable bug sentry
FIFA_SETTING_ENABLE_BUG_SENTRY=1

// Downloadable room image resources location
NETRESOURCE="http://#WEBHOST#/easo/editorial/#WEBDIR#/#WEBYEAR#/resource/#PLATFORM#"

// Peer timeout value in ms
PEERTIMEOUT=10000

// Max number of slots on each side of OTP sideselect screen. Should be less than OSDK_MAXPLAYERS
OSDK_MAX_PER_OTP_SIDE=11

// Max number of tournament size
NT_MAX_SIZE=16

// Size of buffer to use for chunking peer connection data
// OSDK_PEERBUFFERSIZE=8192

// Size of buffers to use for NetGameDist
// OSDK_DISTBUFFERSIZE_IN=16384
// OSDK_DISTBUFFERSIZE_OUT=8192

// User created lobby room prefix
// OSDK_USERROOM_PREFIX=USR

// default timeout for matchup operations (quickmatch / optimatch) in milliseconds
OSDK_MATCHUP_TIMEOUT=20000

// default timeout for extended matchup operations (quickmatch in PlayNow or Sponsored event Quickmatch) in milliseconds
// Screenworks gets the server value and pass into the QuickMatch(). Set this timeout to 5 minutes.
OSDK_EXTENDED_MATCHUP_TIMEOUT=300000

// Max number of game session the client can track
// OSDK_MAXGAMES=110

// Root directory for lobby category images
// (will be appended to the front of the RES0 and RES1
// tags if the ~ token exists)
// NOTE: Commented out so that Tib Ion can set this to be something different via core game params - ACS
// OSDK_LOBBYIMGROOT=external/ion_online/artAssets/online/lobbyimg


// EA Sports World (EASW)
OSDK_EASW_AUTH_URL="#EASWHOST#"
OSDK_EASW_REQ_URL="#EASWREQHOST#"
OSDK_EASW_MEDIA_URL="#EASWMEDIAHOST#"
FIFA_RS4_URL="#RS4HOST#"

PROFILEANYWHERE_IS_ON=1
PRAN_CALLBACK_AVA=1
PRAN_REQUST_TIMEOUT=10000
PROFILEANYWHERE_URL_DELETE="/fifang_profile_anywhere/pran/delete/"
PROFILEANYWHERE_URL_GET_VERSIONS="/fifang_profile_anywhere/pran/getversions/"
PROFILEANYWHERE_URL_GET_WC_SETTINGS="/fifang_profile_anywhere/pran/getwcsettings/"
PROFILEANYWHERE_URL_GET_SETTINGS="/fifang_profile_anywhere/pran/getsettings/"
PROFILEANYWHERE_URL_GET_FORMATIONS="/fifang_profile_anywhere/pran/getformations/"
PROFILEANYWHERE_URL_GET_TACTICS="/fifang_profile_anywhere/pran/gettactics/"
PROFILEANYWHERE_URL_GET_CAREERSTATS="/fifang_profile_anywhere/pran/getcareerstats/"
PROFILEANYWHERE_URL_GET_DLC="/fifang_profile_anywhere/pran/getdlc/"
PROFILEANYWHERE_URL_GET_VPRO="/fifang_profile_anywhere/pran/getvpro/"
PROFILEANYWHERE_URL_GET_VPROSTATS="/fifang_profile_anywhere/pran/getvprostats/"
PROFILEANYWHERE_URL_SAVE_SETTINGS="/fifang_profile_anywhere/pran/savesettings/"
PROFILEANYWHERE_URL_SAVE_FORMATIONS="/fifang_profile_anywhere/pran/saveformations/"
PROFILEANYWHERE_URL_SAVE_TACTICS="/fifang_profile_anywhere/pran/savetactics/"
PROFILEANYWHERE_URL_SAVE_CAREERSTATS="/fifang_profile_anywhere/pran/savecareerstats/"
PROFILEANYWHERE_URL_SAVE_DLC="/fifang_profile_anywhere/pran/savedlc/"
PROFILEANYWHERE_URL_SAVE_VPRO="/fifang_profile_anywhere/pran/savevpro/"
PROFILEANYWHERE_URL_SAVE_VPROSTATS="/fifang_profile_anywhere/pran/savevprostats/"

FIFA_RS4_TIMEOUT=5000
FIFA_GENPLAYER_NAMES_URL="/fifa_genplayers/names/"

FIFALEADERBOARD_BASE_URL="http://pg.fifa11.test.easportsworld.ea.com:8309"

// Comma separated list of allowed locales, using wildcards (ex. en**,mxUS,**FR)
OSDK_EASW_ALLOWED_LOCALES="****"
OSDK_EASW_CONNECT_RETRY_PERIOD=120000

// OnDemand images (URL and filesize are both needed)
OSDK_ONDEMAND_DEFAULT_BACKGROUND_URL="http://#WEBHOST#/easo/editorial/common/#WEBYEAR#/weboffer/images/OnDemand2_Logo.png"
OSDK_ONDEMAND_DEFAULT_BACKGROUND_SIZE=53277
OSDK_ONDEMAND_DEFAULT_THUMBNAIL_URL="http://#WEBHOST#/easo/editorial/common/#WEBYEAR#/weboffer/images/EA_Thumb.png"
OSDK_ONDEMAND_DEFAULT_THUMBNAIL_SIZE=7090

// List of countries that should not display the Telemetry setting
TELE_TOGGLE_LIST="US,CA,MX"

// How long client waits for ack from arbitraror  - in milliseconds.
OSDK_GAMESETUP_ACK_TIMEOUT=1000

// secs to Ready on OTP Side select screen  for a NON-CLUB game.  
OSDK_OTP_READY_COUNTDOWN_TIMER=120

// This is the timer that will get ADDED if the above OTP READY Timers expires and someone has NOT finished downloading roster
// secs to finish secondary roster download on OTP side select screen
OSDK_OTP_ROSTER_COUNTDOWN_TIMER=15

// How long to get ready on Position lock screen for regular game.
OSDK_OTP_POSLOCK_READY_COUNTDOWN_TIMER=45

// How long to wait for ack-also controls the "disconnecting msg" -must be divisible by OSDK_OTP_REQ_INTERVAL
OSDK_OTP_ACK_TIMEOUT=10000

// how often to send a REQ to host if have not got an ack (ms.)
OSDK_OTP_REQ_INTERVAL=1000

// how many MS host will wait before sending response to REQ. Used to prevent a flood of REQ responses for club challenge etc.
OSDK_OTP_REQ_RESPONSE_TIMEOUT=500

// how many seconds the ready timer should drop when a player first time pressed READY button
OSDK_OTP_READYTIMER_DROPS_SECS=10

// the minimum seconds we should keep for the ready timer after users pressed READY button
OSDK_OTP_READYTIMER_MINIMUM=10

// How long user has to accept rematch option after a game (in seconds).
OSDK_REMATCH_ACCEPT_TIMEOUT=90

// How soon after subscribing for platform presence to begin polling for presence -default 2000 ms
// OSDK_PRESENCE_DELAY=2000
// How often to poll subscribed platform presence - default 10000 ms
// OSDK_PRESENCE_POLL=10000

// Matchmaking anti-griefing configuration: max client exit count
OSDK_ANTIGRIEFING_MAX_COUNT=10

// Timer interval for refreshing Qos ping sites latency - default 60 * 1000 milliseconds
OSDK_REFRESH_QOS_PING_SITE_LATENCY_INTERVAL=59000

// Sponsored events configuration
MENU_SPONSORED_INFO_URL="http://#WEBHOST#/easo/editorial/#WEBDIR#/#WEBYEAR#/weboffer/TEST-sponsored-event.txt"
MENU_SPONSORED_AUTH_URL="http://#WEBHOST#/easo/editorial/common/#WEBYEAR#/event/authenticate.jsp?lang=$LANG$&platform=$PLAT$&uid=$UID$&persona=$PERS$&title=$PROD$"

// Weather feed XML configuration
WEATHER_FEED_URL="http://#WEBHOST#/easo/editorial/common/#WEBYEAR#/xml/twci_weather_xtags.jsp"

// This is Ping Specific -- for testing getting Roster's url via a separate transaction to editorial.
ROSTER_BOOTSTRAP_URL="http://#WEBHOST#/easo/editorial/#WEBDIR#/#WEBYEAR#/roster/ng-common/roster_bootstrap.txt"
