<div class="store-deals-module l-origin-store-column-full">
    <div class="store-deals-module-caption">
        <div class="l-store-deals-module-caption">
            <h5 class="store-deals-module-caption-header otktitle-5 otktitle-5-caps">{{ ::header }}</h5>
            <h2 class="store-deals-module-caption-title otktitle-2">{{ ::title }}</h2>
            <p class="store-deals-module-caption-subtitle otkc">{{ ::text }}</p>
            <div ng-if="::learnMoreUrl">
                <origin-cta-loadurlinternal
                    href="{{ ::learnMoreUrl }}"
                    description="{{ ::learnMoreText }}"
                    type="transparent">
                </origin-cta-loadurlinternal>
            </div>
        </div>
    </div>
    <div class="store-deals-module-image-wrapper">
        <div class="store-deals-module-image-wrapper-inner">
            <div class="store-deals-module-image-scrim store-deals-module-image-scrim-right"></div>
            <div class="store-deals-module-image-scrim store-deals-module-image-scrim-left"></div>
            <img ng-src="{{ ::image }}" alt="" class="store-deals-module-image">
        </div>
    </div>
</div>