<div class="origin-storecta" ng-class="{ 'origin-storecta-isloading': isLoading }">
	<origin-cta-pdp
		ng-if="isPdpCta"
		offer-id="{{ offerId }}"
		description = "{{ pdpDescriptionStr }}"
		type = "{{ type }}"
        origin-infobubble="{{ infobubbleContent }}"
		class="origin-storecta-btn"
	></origin-cta-pdp>
	<origin-cta-directacquisition
		ng-if="isEntitlementCta"
		href="{{ href }}"
		description = "{{ directacquisitionDescriptionStr }}"
		type = "{{ type }}"
		offer-id="{{ offerId }}"
		origin-infobubble="{{ infobubbleContent }}"
		class="origin-storecta-btn"
	></origin-cta-pdp>
</div>
