<div class="origin-storeprice">

    <div ng-if="model.oth && !model.isOwned" class="origin-storeprice-oth">
        <span class="otkprice-free">{{ strings.freeText }}</span>
        <span ng-if="strings.saveText" class="otkprice-sale">{{ strings.saveText }}</span>
        <span ng-if="model.strikePrice | currency">
            <s class="otkprice-original">{{ model.strikePrice | currency }}</s>
        </span>
    </div>

    <span ng-if="isFree() && !model.oth && !model.isOwned" class="origin-storeprice-free">
        <span class="otkprice-free">{{ strings.freeText }}</span>
    </span>

    <div ng-if="!model.subscriptionAvailable && !model.isOwned && !isFree()" class="origin-storeprice-standard">
        <span ng-if="model.price | currency" class="otkprice">{{ model.price | currency }}</span>
        <span ng-if="strings.saveText" class="otkprice-sale">{{ strings.saveText }}</span>
        <span ng-if="model.strikePrice | currency">
            <s class="otkprice-original">{{ model.strikePrice | currency }}</s>
        </span>
    </div>

    <div ng-if="!isSubscriber() && !model.isOwned && !isFree() && model.subscriptionAvailable" class="origin-storeprice-access">
        <span class="otkprice">{{ strings.zeroPriceText }}</span>
        <span class="otktitle-4">{{ strings.withText }}</span>

        <origin-store-origin-access hasinfobubble="true"></origin-store-origin-access>

        <div class="origin-storeprice-orprice">
            <div class="otktitle-4">{{ strings.orText }} {{ model.price | currency }}</div>
        </div>
    </div>

    <origin-store-origin-access ng-if="!model.oth && !model.isOwned && isSubscriber() && model.subscriptionAvailable"></origin-store-origin-access>

    <div ng-if="model.isOwned && isOwnedTextVisible()" class="origin-storeprice-owned">
        <i class="otkicon otkicon-checkcircle"></i>
        <span class="otktitle-4">{{ strings.ownedText }}</span>
    </div>

</div>