<div class="origin-store-timer-table">
    <div class="origin-store-timer-row">
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.days || 00) | padZeroes:2}}</p></span>
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.hours || 00) | padZeroes:2}}</p></span>
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.minutes || 00) | padZeroes:2}}</p></span>
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.seconds || 00) | padZeroes:2}}</p></span>
    </div>
    <div class="origin-store-timer-row">
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Days</p></span>
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Hrs</p></span>
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Mins</p></span>
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Secs</p></span>
    </div>
</div>
