/* variables for donwload manager */
@download-current-height: 224px;
@download-color-darkblue: #22313C;
@download-color-lightblue: #2C3339;

.origin-download {
    height: 100%;
    min-width: 250px;
    color: @color-lightnavy;
    background-color: @color-darknavy;
    &-oig {
        min-height: 100vh;
    }
}

.origin-download-header {
    display: none;
}

.origin-download-header-control {
    cursor: pointer;
    float: right;
    margin: 6px 45px 0px 0px;
    &:hover {
        color: @color-white;
        .transition(color @transition-short);
    }
}

.origin-download-downarrow {
    font-size: 12px;
    .transform(rotate(90deg));
    .transition(transform @transition-short);
}

.origin-download-title {
    display: inline-block;
    margin-top: 3px;
}

.origin-download-completed-title {
    margin: 0 24px;
    padding-top: 5px;
}

.origin-download-overlay {
    background-color: @download-color-darkblue;
    width: 100%;
    overflow: auto;
    border-top: 1px solid @download-color-lightblue;
    padding: 6px 24px;
    color: @color-lightnavy;
    .transition(color @transition-short);
}

.origin-download-current {
    .box-sizing(border-box);
    min-height: @download-current-height;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid fade(@color-mediumnavy, 30%);
}

.origin-download-current-keyart {
    position: absolute;
    top: 0px;
    z-index: 0;
    height: (@download-current-height - 1);
    overflow: hidden;
}

.origin-download-current-poster {
    vertical-align: middle;
    width: 100%;
    position: relative;
    top: 0px;
}

.origin-download-current-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    #gradient > .vertical(fade(@color-darknavy, 52%), fade(@color-darknavy, 88%), 0%, 75%);
}

.origin-download-current-vignette {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: @zindex-current-download;
    height: @download-current-height;
    box-shadow: inset 3px 6px 32px @color-darknavy, inset -3px -6px 32px @color-darknavy;
}

.origin-download-current-status {
    width: 100%;
    min-height: @download-current-height;
    position: relative;
    .display-flex();
    &-left,
    &-right {
        .display-flex();
        .flex-direction(column);
        .justify-content(flex-end);
        vertical-align: bottom;
        padding: 20px 0px 20px 24px;
    }
    &-right {
        .flex-grow(1);
    }
}

.origin-download-current-packart {
    width: 86px;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
}

.origin-download-current-progress {
    max-width: 240px;
    width: 100%;
}

/* Need this to override otk style for percent */
.origin-download-current-progress {

    .origin-download-current-percent {
        right: 0;
        margin-top: 16px;
        font-size: 18px;
        line-height: 24px;
        font-weight: @weight-normal;
    }

    .origin-download-current-wrap {
        height: auto;
        line-height: 13px;
    }

}

.origin-download-current-title {
    color: @color-white;
    padding-bottom: 6px;
}

.origin-download-current-phase {
    text-transform: capitalize;
    display: inline-block;
    color: @color-lightnavy;
    margin-top: 16px;
    font-weight: @weight-semibold;
}

.origin-download-current-remaining,
.origin-download-current-rate {
    color: @color-mediumnavy;
    font-weight: 600;
}

.origin-download-current-info {
    float: left;
    padding-bottom: 16px;
}

.origin-download-current-running {
    padding-bottom: 0;
}

.origin-download-controls {
    color: @color-mediumnavy;
    float: right;
    position: relative;
    top: 40px;
    right: -4px;
    font-size: 26px;
}

.origin-download-controls-small {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: @color-mediumnavy;
    font-size: 28px;
}

.origin-download-icons {
    font-size: 30px;
    margin-left: -6px;
    cursor: pointer;
    &:hover {
        color: @color-white;
        .transition(color @transition-short);
    }
}

.origin-download-icons-isdisabled {
    font-size: 30px;
    margin-left: -6px;
    pointer-events: none;
    cursor: default;
    color: @color-mediumnavy;;
    opacity: 0.4;
}

.origin-download-queue-title {
    margin: 0px 24px;
    padding-top: 15px;
}

.origin-download-badge {
    position: relative;
    top: -2px;
    line-height: 14px;
    margin-left: 6px;
    color: @color-black;
}

.origin-download-clear {
    float: right;
}

.origin-download-tile {
    position: relative;
    .transition(all @transition-short);
    .box-shadow(0 2px 15px @color-darknavy);
    background-color: fade(@color-mediumnavy, 10%);
    margin: 10px 24px 6px 24px;
    .clearfix();
    &-left,
    &-right {
        float: left;
    }

    &:last-child {
        margin-bottom: 15px;
    }
}

.origin-download-tile-packart {
    width: 58px;
    vertical-align: middle;
    margin: 0px 15px 0px 0px;
}

.origin-download-tile-title {
    width: 206px;
    margin-top: 6px;
    font-weight: 400;
    cursor: pointer;
}

.origin-download-tile-percent {
    color: @color-lightnavy;
    position: absolute;
    top: 8px;
    right: 16px;
}

.origin-download-playable {
    margin-bottom: -4px;
}

.origin-download-playabletext {
    display: inline-block;
    .border-radius(20px);
    background-color: @color-mediumnavy;
    padding: 2px 10px;
    color: @color-black;
    font-size: 10px;
    vertical-align: middle;
    position: relative;
}

.origin-download-playabletip {
    display: block;
    position: relative;
    border-top: 6px solid @color-mediumnavy;
    border-right: 10px solid transparent;
    border-left: 0px solid transparent;
    width: 0px;
}

.origin-download-playablenow {
    .origin-download-playabletext {
        background-color: @color-green;
    }
    .origin-download-playabletip {
        border-top: 6px solid @color-green;
    }
}

.origin-download-mini-wrapper {
    background-color: @color-darknavy;
    position: relative;
    top: 0px;
    z-index: 0;
    border-top: 1px solid fade(@color-darkgray, 20%);
    padding: 0 18px;
    cursor: pointer;
    .transition(top @transition-long);

    .media-min-width(@global-width-small, {
        &:hover {
            .origin-download-mini-image {
                opacity: 0.2;
                .transition(opacity @transition-short);
            }

            .origin-download-mini-rightarrow,
            .origin-download-mini-header {
                color: @color-white;
                .transition(color @transition-short);
            }
        }
    });

    .media-max-width(@global-width-small, {
        position: absolute;
        top: auto;
        width: 244px;
    });
}

.origin-download-mini-header {
    padding: 12px 0;
    color: @color-lightnavy;
    font-size: 12px;
    font-weight: normal;
    display: block;
    width: 100%;
    position: relative;
    line-height: 20px;
    .transition(color @transition-short);
}

.origin-download-mini-badge {
    line-height: 14px;
    margin-left: 86px;
    top: -1px;
    position: relative;
    color: @color-black;
}

.origin-download-mini {
    opacity: 1;
    .transition(opacity @transition-short);
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 12px;
}

.origin-download-mini-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.origin-download-mini-image {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.08;
    z-index: @zindex-background-image;
    .transition(opacity @transition-short);
    vertical-align: middle;
}

.origin-download-mini-vignette {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    .box-shadow(inset 3px 6px 48px @color-darknavy, inset -3px -6px 48px @color-darknavy;);
    .transition(box-shadow @transition-short);
}

// In case the game is finish installing and queue still has pending downloads
.origin-download-mini-iscompleted {
    .origin-download-mini-image {
        top: 48px;
    }
    .origin-download-mini-vignette {
        margin-top: 48px;
        height: calc(100% - 49px);
    }
}

.origin-download-mini-title {
    font-size: @font-size-subtitle;
    max-width: 100%;
    color: @color-white;
    padding: 10px 0 6px 0;
    text-align: left;
    position: relative;
    border-top: 1px solid fade(@color-darkgray, 10%);
}

/* Need to override OTK styles to match protos */
.origin-download-mini-progress {
    .origin-download-mini-wrap {
        height: inherit;
    }
    .origin-download-mini-bar {
        position: relative;
        overflow: hidden;
    }
}

.origin-download-mini-phase {
    text-transform: capitalize;
    height: 20px;
    margin-top: 16px;
    font-size: @font-size-body;
    color: @color-lightnavy;
    position: relative;
    display: block;
}

.origin-download-mini-rightarrow {
    position: absolute;
    top: 17px;
    right: 0px;
    font-size: 28px;
    color: @color-mediumnavy;
    .transform(rotate(-90deg));
    .transition(color @transition-short);
}

.origin-downloadflyout {
    display: none;
    cursor: default;
    width: 400px;
    position: fixed;
    bottom: 6px;
    left: 295px;
    max-height: calc(100% - 144px);
    overflow-x: hidden;
    overflow-y: auto;
    .border-radius(4px);
    .box-shadow(0 2px 15px @color-darknavy);
    .animation(originScreenshotMoveInFromLeft @timing-short-ease-out 1);
}

.origin-downloadflyout-tip {
    display: none;
    position: fixed;
    left: 284px;
    bottom: 20px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent; 
    z-index: 10;
    border-right: 11px solid @color-darknavy;
}

.origin-downloadflyout-isopen {
    .origin-downloadflyout,
    .origin-downloadflyout-tip {
        display: block;
    }
}

.origin-download-isempty {
    height: 290px;
    .display-flex();
    .justify-content(center);
    .align-items(center);

    &-desc {
        margin: 0;
        color: @color-white;
        font-weight: @weight-semibold;
    }
}

/* Styles for OIG */
.origin-download-oig {

    .origin-download-header {
        display: block;
    }

    .origin-download-current-keyart {
        width: 100%
    }

    .origin-download-current-status-right {
        padding-right: 24px;
    }

    .origin-download-current-progress {
        max-width: none;
    }

    .origin-downloadflyout {
        width: 100%;
        height: calc(100vh - 60px);
        max-height: 100vh;
        background-color: @color-darknavy;
        top: 60px;
        left: 0px;
        .transition(top @transition-short);
        z-index: @zindex-current-download;
    }

    .origin-downloadflyout-isopen .origin-downloadflyout-tip {
        display: none;
    }
}