<div class='origin-hometile-overlay ng-class:{"origin-hometile-overlay-isvisible": isDownloading}' >
    <div class='origin-hometile-overlay-content'>
        <a class="otka origin-hometile-overlay-link" href="javascript:void(0)" ng-click="navigateToGame()">
            <h2 class='otktitle-2 origin-hometile-overlay-content-title' class='ng-binding' ng-if='gamename' ng-bind-html='gamename'></h2>
        </a>
        <origin-cta-downloadinstallplay offerid='{{::offerId}}' fallbacktext='{{cta}}' type='primary' ng-hide='isDownloading'></origin-cta-downloadinstallplay>
        <div class='l-origin-hometile-gameprogress' ng-show='isDownloading'>
            <origin-game-progress offerid='{{::offerId}}'></origin-game-progress>
        </div>
    </div>
</div>
