.origin-tilelist {
    min-height: 200px;

    &-pagetitle {
        position: relative;
        border-bottom: 1px solid fade(@color-lightnavy, 50%);
    }

    &-title {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        padding: 0 36px;
        color: @color-mediumnavy;
        background: @color-lightgray;
        .translate(-50%, -50%);
    }

    .l-browsegrid-container();

    &-item {
        .l-browsegrid-item();
        .translate3d(0, -15px, 0);
        .transition(all @transition-long);

        &-isvisible {
            opacity: 1;
            .translate3d(0, 0, 0);
        }
    }

    > ul {
        // from browser!
        padding-left: 0;
    }
}


// With filter -----------------------
.origin-content-hasembeddedfilter .origin-tilelist {
    .l-browsegrid-container-withembeddedfilter();
    &-item {
        .l-browsegrid-item-withembeddedfilter();
    }
}

// // With chat --------------------------
.origin-content-hasembeddedchat .origin-tilelist {
   .l-browsegrid-container-withchat();
    &-item {
        .l-browsegrid-item-withchat();
    }
}


// With chat and filter -----------------
.origin-content-hasembeddedchat.origin-content-hasembeddedfilter .origin-tilelist {
    .l-browsegrid-container-withchatandfilter();
    &-item {
        .l-browsegrid-item-withchatandfilter();
    }
}
