<ul class='origin-avatarlist' ng-show='showFriendTiles'>
    <li class='origin-avatarlist-item' ng-repeat='friend in friends'>
    	<origin-avatar nucleusid='{{friend}}'></origin-avatar>
        <origin-avatarlist-usercard>
    		<origin-user-card nucleusid='{{friend}}' offerid='{{::offerId}}'></origin-user-card>
    	</origin-avatarlist-usercard>
    </li>
    <li class='origin-avatarlist-item' ng-if='hiddenFriends'>
    	<a href='javascript:void(0)' class='otkavatarcount otkc' ng-click='showFriendsModal()'>
    		+{{hiddenFriends}}
    	</a>
    </li>
</ul>