//
// Navs
// --------------------------------------------------

// variables

@nav-tab-overflow-width: 60px;


// base class
.otknav {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    > li {
        > a {
            position: relative;
            text-decoration: none;
        }
    }
}

// Pill Navigation
// -------------------------

.otknav-pills {
    position: relative;
    .clearfix();
    > li {
        float: left;
        position: relative;
        margin-right: @nav-pills-margin-right;
    }
}

.otkpill {
    > a {
        display: inline-block;
        padding: @nav-pill-padding;
        color: @color-mediumnavy;
        font-size: @nav-pill-fontsize;
        text-transform: uppercase;
        letter-spacing: @nav-pill-letterspacing;
        font-weight: @weight-semibold;
        text-decoration: none;
        .transition(all @animation-simple);
        &:hover {
            color: @color-white;
        }
    }
}

.otkpill-active {
    &:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        height: @nav-pill-barheight;
        width: 100%;
        background: @color-orange; /* this is not a match #F36C38 */
    }
    > a {
        color: @color-white;
    }
}

.otknav-pills-bar {
    position: relative;
    margin-top: (-1 * @nav-pill-barheight);
    display: block;
    height: @nav-pill-barheight;
    background: @color-orange; /* this is not a match #F36C38 */
    .transition(all @animation-simple);
}

.otknav-pills-bar-issticky {
    position: absolute;
    z-index: @zindex-navbar;
}

.otknav-pills-bar-isstuck {
    position: fixed;
}


// Nav bar
// -------------------------

.otknavbar-issticky {
    position: absolute;
    z-index: @zindex-navbar;
}

.otknavbar-isstuck {
    position: fixed;
}


// Tabs
// -------------------------

.otknav-tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.otktab {
    position: relative;
    display: table-cell;
    > a {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        .box-sizing(border-box);
        .transition(all @animation-simple);
    }
}


// Dark tabs for chat
// -------------------------

.otknav-tabs-dark {
    > .otktab {
        background: @color-lightnavy; /* not exactly the same color */
        background: rgba(red(@color-lightnavy), green(@color-lightnavy), blue(@color-lightnavy), 0.2);
        border-left: 1px solid @color-lightnavy;
        border-bottom: 1px solid @color-lightnavy;
        > a {
            padding: 12px 26px;
            color: @color-mediumnavy;
            opacity: 0.5;
            .transition(color @animation-simple);
        }
    }
    > .otktab:first-child {
        border-left: none;
    }
    > .otktab-active {
        background: @color-lightgray;
        border-bottom: none;
        > a {
            color: @color-darknavy;
            opacity: 1.0;
        }
    }
    > .otktab-overflow {
        width: @nav-tab-overflow-width;
        .box-sizing(border-box);
        > a {
            color: @color-mediumnavy;
            opacity: 1.0;
            padding: 0;
            text-indent: 1em;
        }
    }
}


// Light tabs for light background
// -------------------------

.otknav-tabs-light {
    > .otktab {
        > a {
            padding: 18px 12px;
            margin-left: 3px;
            background: @color-lightgray;
            color: @color-lightnavy;
            &:hover {
                color: @color-darknavy;
                background: @color-lightnavy;
            }
        }
        &:first-child {
            > a {
                margin-left: 0;
            }
        }
    }
    > .otktab-active {
        > a,
        > a:hover {
            background: transparent;
            color: @color-darknavy;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 3px;
            background: @color-orange;
        }
    }
}