<div class="origin-social-hub-chatrooms-area">

    <!-- Filter -->
    <section ng-show="listState === 'LOADED'" class="origin-social-hub-chatrooms-area-rooms-filter">
        <div class="otkinput otkinput-filter origin-social-hub-chatrooms-area-rooms-filter-group-field">
            <input type="text" placeholder="{{searchChatRoomsLoc}}">
        </div>
        <div class="origin-social-hub-chatrooms-area-add-group">
            <span class="origin-social-hub-chatrooms-area-add-icon"><i class="otkicon otkicon-add"></i></span>
        </div>
    </section>

    <!-- Loading -->
    <section ng-show="listState === 'LOADING'" class="origin-social-hub-chatrooms-area-section origin-social-hub-chatrooms-area-section-loading" >
    </section>

    <!-- Has chat rooms -->
    <section ng-show="listState === 'LOADED'" class="origin-social-hub-chatrooms-area-list">
        <div class="origin-social-hub-chatrooms-area-viewport">
            <origin-social-hub-chatrooms-section filter="{{nameFilter}}" titlestr="{{chatRoomInvitationsLoc}}" section="INVITATIONS"></origin-social-hub-chatrooms-section>
            <origin-social-hub-chatrooms-section filter="{{nameFilter}}" titlestr="{{chatRoomsLoc}}" section="CHATROOMS"></origin-social-hub-chatrooms-section>
        </div>
    </section>

    <section ng-show="listState === 'ERROR'" class="origin-social-hub-chatrooms-area-section origin-social-hub-chatrooms-area-section-error">
        <origin-social-hub-cta titleTxt="Oh no!" parTxt="Error loading the chatrooms list"></origin-social-hub-cta>
    </section>
    <section ng-show="listState === 'NOROOMS'" class="origin-social-hub-chatrooms-area-section origin-social-hub-chatrooms-area-section-norooms">
        <origin-social-hub-cta titleTxt="Create chat rooms. Connect with your friends." parTxt="Talk with your Origin friends with text or voice." btnTxt="Create a Chat Room"></origin-social-hub-cta>
    </section>

</div>