<example>
<para>Call the target &quot;build&quot;.</para>
<code>
<![CDATA[
<project default="run">
	<target name="MyTarget" allowoverride="true">
		<echo message="Hello from base target"/>
	</target>

	<target name="MyTarget" override="true">
		<call-base />
	</target>
</project>
]]>
</code>
</example>