<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <touch file="foo.txt" />
    <attrib file='foo.txt' archive='true' />
    <fail unless="@{FileGetAttributes('foo.txt')} == Archive" />
</project>
]]>
</code>
</example>