body {
    background: url(../images/achievements/background.png) repeat 0 0;
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}
html
{
    font-family: Arial,sans-serif;
    height: 100%;
}
html:lang(ko-kr), body:lang(ko-kr),
html:lang(ko), body:lang(ko)
{
    font-family: "Dotum", "AsiaDNR-M", Arial,sans-serif;
}
html:lang(zh-tw), body:lang(zh-tw),
html:lang(zh-cn), body:lang(zh-cn),
html:lang(zh-hans), body:lang(zh-hans),
html:lang(zh-hant), body:lang(zh-hant)
{
    font-family: SimHei, Arial, sans-serif;
}
html:lang(th-th), body:lang(th-th),
html:lang(th), body:lang(th)
{
    font-family: Tahoma, Arial, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

h2:lang(sv-se) { font-size: 18px; }
h2:lang(el), h2:lang(el-gr), h2:lang(el-cy) { font-family: Arial, sans-serif; font-size: 16px; }
h2:lang(ru), h2:lang(ru-ru) { font-family: Arial, sans-serif; font-size: 18px; }
h2:lang(ja), h2:lang(ja-jp) { font-family: "DFGHSGothic-W5"; font-size: 20px; }
h2:lang(ko), h2:lang(ko-kr) { font-family: "Dotum", "AsiaDNR-M"; font-size: 20px; }
h2:lang(th), h2:lang(th-th) { font-family: Tahoma,Arial,sans-serif; font-size: 20px; }
h2:lang(zh-cn), h2:lang(zh-tw), h2:lang(zh-hans), h2:lang(zh-hant) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }


a, a:active, a:visited, a:link {
    outline: none;
}

.container, 
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 960px;
}

.nav-wrapper {
    background-color: #f5f5f5;
    padding: 11px 10px 8px;
    position: relative;    
    width: inherit;
    z-index: 100;

    -webkit-box-shadow: -17px 4px 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: -17px 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: -17px 4px 10px rgba(0, 0, 0, 0.4);
}

    .nav-wrapper > ul {
        margin: 0;
        overflow: hidden;
    }

        .nav-wrapper > ul > li {
            float: left;
            list-style: none;
        }

            .nav-wrapper > ul > li a {
                color: #909090; /*#808080;*/ 
                font-size: 13px;
                font-weight: bold;
                line-height: 13px;
                margin-left: 24px;
                text-decoration: none;
            }
            .nav-wrapper > ul > li a.active {
                color: #404040;
            }
            .nav-wrapper > ul > li a:hover {
                cursor: pointer;
            }

.wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
}

.wrapper.game-loading {
    background: url("../images/inner-loader.gif") center center no-repeat,
                url("../images/outter-loader.png") center center no-repeat rgba(85,85,85,0.5);
    height: 100%;
}
    .wrapper.game-loading > div {
        display: none;
    }

.container #game-title,
.container .expansion-list {
    color: #fff;
    text-shadow: 1px 1px #000;
}

.container #game-title {
    font-size: 40px;
    margin: 33px 0 12px;
}

.container .expansion-list { font-size: 16px; }

    .container .expansion-list .list-label { font-weight: bold; }

    .container > .base {
        background: #e5e5e5; /*#f1f1f1;*/
        margin: 20px 0 50px;

        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;

        -webkit-box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 1);
           -moz-box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 1);
                box-shadow: 0px 2px 5px 0px rgba(85, 85, 85, 1);
    }

        .base h3 {
            color: #333;
            font-size: 16px;
        }

        .base > .album-header {
            background-color: #dcdcdc;
            background: -moz-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, from(rgb(220,220,220) 25%), to(rgb(193,193,193) 100%)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgb(220,220,220) 25%, rgb(193,193,193) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */

            display: table;
            height: 40px;
            width: 100%;

            -webkit-border-radius: 6px 6px 0 0;
               -moz-border-radius: 6px 6px 0 0;
                    border-radius: 6px 6px 0 0;
        }

            .album-header > .title {
                color: #444;
                display: table-cell;
                font-weight: bold;
                padding: 0 20px;
                vertical-align: middle;
            }

        .base .album-completion {            
            color: #343434;
            display: table;
            font-size: 13px;
            font-weight: bold;
            height: 65px;
            padding: 30px 0;
            width: 100%;
        }

            .base .album-completion .column {
                float: left;
                border-left: 1px solid #fff;
                border-right: 1px solid #c2c2c2;
                display: table-cell;
                height: inherit;
                min-height: 60px;
                padding:0 20px 0 90px;
                width: 235px;
                /*width: 195px \0/;*/
            }

            .base .album-completion .column.ach-completed {
                border: none;
            }

            .base .album-completion .column.pts-earn { border-left: none; }

                .base .album-completion .column > h4 {
                    color:#888;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: normal;
                    margin: 0;
                }
                .base .album-completion .column > h3 {
                    color: #555;
                    display: inline-block;
                    font-size: 18px;
                    line-height: normal;
                    margin: 0;
                }

                    .base .album-completion .column > h3 span {
                        font-weight: normal;
                        vertical-align: middle;
                    }

                    .base .album-completion .column > h3 span:first-child{
                        color: #444;
                        font-size: 40px;
                        font-weight: bold;
                    }


            .base .album-completion .ach-completed {
                background: url("../images/achievements/icon-achievement-points-67x66.png") no-repeat 20px center;
                overflow: hidden;
            }

            .base .album-completion .pts-earn {
                background: url("../images/achievements/icon-origin-points-60x60.png") no-repeat 20px center;
                overflow: hidden;
            }

            .base .album-completion .sort-by {
                border-right: none;
                float: right;
                padding-left: 20px;
                padding-right: 22px;
                position: relative;
                width: 225px;
            }
                .base .album-completion .sort-by > span {
                    display: block;
                    float: left;
                    margin:5px 0;
                    width: 100%;
                    /*display: inline-block;                    
                    padding-top: 20px*/
                }
                .base .album-completion .sort-by .select-wrapper {
                    background: #fff url(../images/achievements/icon-arrow-down.png) no-repeat 98% center;
                    border: 1px inset rgba(196,196,196, 0.2);
                    float: left;
                    height: 28px;
                    right: 5px;
                    top: 14px;
                    width: 100%;

                    -webkit-box-shadow: 0 0 0 1px #fff;
                       -moz-box-shadow: 0 0 0 1px #fff;
                            box-shadow: 0 0 0 1px #fff;
                }

        .base > #album-set {
            display: none;
        }

        .base .span12 {
            width: 920px;
        }
        .base .album-stats {
            border-top: 1px solid #fff;
            padding: 17px 20px 0;
            position: relative;
        }
        .base .album-stats:before {
            border-top: 1px solid #C2C2C2;
            content: "";
            left:0;
            position: absolute;
            top: -2px;
            width: 100%;
        }
        
        .base .album-stats.owned > .column.pts-commerce,
        .base .album-stats.owned > .pts-potential {
            display: none;
        }
        
        .base .album-stats.unowned > .column.ach-completed,
        .base .album-stats.unowned > .column.pts-earn {
            display: none;
        }


        .base .album-stats > .column {
            float: left;

        }

        .base .album-stats > .column > h3 {
            margin: 0; padding: 0;
            line-height: 38px;
        }
        
        .base .album-stats > .column.ach-completed {
            background: url("../images/achievements/icon-achievement-points-36x36.png") top left no-repeat;
            padding: 0 0 0 41px;
            margin: 0 0 0 30px;
        }
        
        .base .album-stats > .column.ach-completed > h3 > .game-achievements-total { font-weight: normal; }

        .base .album-stats > .column.pts-earn {
            background: url("../images/achievements/icon-origin-points-36x36.png") top left no-repeat;
            padding: 0 0 0 41px;
            margin: 0 0 0 30px;
        }

        .base .album-stats > .column.pts-earn > h3 > .game-origin-points-total { font-weight: normal; }

        .base .album-stats > .column.pts-potential {
            background: url("../images/achievements/icon-origin-points-16x16.png") right 12px no-repeat;
            font-weight: bold;
            line-height: 43px;
            margin: 0 0 0 30px;
            padding: 0 22px 0 0;
        }
        
        .base .album-stats > .column.pts-potential  > .pts-potential-includes {
            color: #a7a7a7;
        }

        .base .album-stats > .column.pts-commerce {
            float: right;
            margin: 6px -10px 0 0;
            display: table;
            border-spacing: 10px 0;
        }

        .base .album-stats > .column.pts-commerce > .button-buy-now {
            display: table-cell;
        }

        .base .album-stats > .column.pts-commerce > .button-info {
            padding: 3px 10px;
            font-family: Georgia;
            font-style: italic;
            font-size: 19px;
            display: table-cell;
        }

        .base .album-stats > .column.pts-commerce > .button-info > span {
        }

        .base .album-stats > .column > h3 > span {
            font-size: 17px;
            color: #555555;
            vertical-align: middle;
        }

        .base .album-stats > .column.ach-completed > h3 > .game-achievements,
        .base .album-stats > .column.pts-earn > h3 > .game-origin-points {
            font-size: 26px;
            color: #444444;
        }

        .base .album-stats > .expansion-name > h2 {
            font-family: Arial,sans-serif;
            font-size: 17px;
            font-weight: bold;
            color: #343434;
            line-height: normal;
            margin: 0;
            padding: 12px 0 0 0;
        }

        .base .album-stats.unowned > .expansion-name > h2 {
            color: #a7a7a7;
        }



        .base .album-items {
            padding: 13px 20px 35px;
            position: relative;
            border-bottom: 1px solid #C2C2C2;
        }


        .base .row:last-child .album-items { border-bottom: none; }

            .album-items > div {
                position: relative;
            }

            .album-items > .item-wrapper {
                float: left;
                margin-right: 13px;
                min-height: 1px;
                width: 220px;
            }

            .album-items > .item-wrapper:nth-child(4n+1) {
                margin-right: 0;
            }

            .album-items.expandable > .item-wrapper:nth-child(n+10){ display: none; }

            .album-items .item {
                background-color: #fefefe;
                border: 1px solid #fff;
                height: 220px;
                margin: 0 0 13px;

                -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                        border-radius: 5px;

                -webkit-box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 1);
                   -moz-box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 1);
                        box-shadow: 0px 1px 5px 0px rgba(153, 153, 153, 1);
            }           

            .album-items .item:hover {
                cursor: default;
            }
                .album-items .item > .item-header {
                    border-bottom: 1px solid #e5e5e5;
                    overflow: hidden;
                    padding: 10px;
                }                
                    .album-items .item > .item-header h3 {
                        float: left;
                        line-height: normal;
                        margin: 0;                    
                    }
                    .album-items .item > .item-header .item-info {
                        max-width: 148px;
                    }
                        .album-items .item > .item-header .item-info span {
                            display: block;                            
                        }                    
                        
                        .album-items .item > .item-header .item-info .item-date {
                            color: #888888;
                            font-size: 10px;
                            line-height: 20px;
                        }

                    .album-items .item > .item-header .item-total {
                        background: url(../images/achievements/icon-origin-points-16x16.png) no-repeat right 1px;
                        float: right;                        
                    }
                        .album-items .item > .item-header .item-total .item-total-number {
                            display: inline-block;
                            margin-right: 21px;
                            max-width: 27px;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                .album-items .item > .item-content {
                    border-top: 1px solid #fff;
                    min-height: 130px;
                    padding: 15px 10px;
                    text-align: center;
                }

                    .album-items .item > .item-content .item-icon {
                        display: block;
                        height: 80px;
                        margin: 0 auto 32px;
                        width: 80px;                   
                    }

                    .album-items .item > .item-content .progress-bar-wrapper {
                        height: 12px;
                        margin: -22px auto 10px;
                        position: relative;
                        width: 100px;
                    }
                        .album-items .item > .item-content .progress-bar {                     
                            height: inherit;
                        }

                    .album-items .item > .item-content .item-name {
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 18px;
                        margin-bottom: 5px;
                        max-height: 36px;
                        overflow: hidden;
                        
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }

                .album-items .item > .item-disabled .item-icon {
                    filter: alpha(opacity=25);
                    opacity: 0.25;
                    zoom: 1;
                }

            .album-items .button-more-or-less {
                position: absolute;
                bottom: 0; left: 46.5%;
                font: bold 14px Arial,sans-serif;
                color: #434343;
                background: url(../images/achievements/icon-arrow-down.png) right 5px no-repeat;
                padding: 0 15px 15px 0;
                margin: 10px 0 0 0;
                outline: none;
                display: none;
                cursor: pointer;
            }

            .album-items .button-more-or-less:hover {
                text-decoration: none;
                cursor: pointer;
            }

            .album-items .button-more { background: url(../images/achievements/icon-arrow-down.png) right 5px no-repeat; }
            .album-items .button-less { background: url(../images/achievements/icon-arrow-up.png) right 5px no-repeat; }

            .album-items .button-more > .button-text-less { display: none; }
            .album-items .button-less > .button-text-more { display: none; }


    .wrapper > .btn-back {
        background-color: #646464;
        background: -moz-linear-gradient(top, rgb(100,100,100) 50%, rgb(80,80,80) 80%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(100,100,100) 50%), to(rgb(80,80,80) 80%)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgb(100,100,100) 50%, rgb(80,80,80) 80%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgb(100,100,100) 50%, rgb(80,80,80) 80%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgb(100,100,100) 50%, rgb(80,80,80) 80%); /* IE10+ */
        background: linear-gradient(to bottom, rgb(100,100,100) 50%, rgb(80,80,80) 80%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#505050',GradientType=0 ); /* IE6-9 */

        display: none;
        bottom: -1px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        left: 45%;
        line-height: 17px;
        outline: none;
        padding: 7px 20px 6px;
        position: fixed;
        text-align: center;
        text-decoration: none;
        text-shadow: 0px -1px #000;
        z-index: 500;

        -webkit-border-radius: 5px 5px 0 0;
           -moz-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;

        -webkit-box-shadow: -1px -1px 0px rgba(65,65,65,1);
           -moz-box-shadow: -1px -1px 0px rgba(65,65,65,1);
                box-shadow: -1px -1px 0px rgba(65,65,65,1);
    }

    .wrapper > .btn-back:hover {
        background-color: #505050;
        background: -moz-linear-gradient(top, rgb(80,80,80) 50%, rgb(100,100,100) 80%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(80,80,80) 50%), to(rgb(100,100,100) 80%)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgb(80,80,80) 50%, rgb(100,100,100) 80%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgb(80,80,80) 50%, rgb(100,100,100) 80%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgb(80,80,80) 50%, rgb(100,100,100) 80%); /* IE10+ */
        background: linear-gradient(to bottom, rgb(80,80,80) 50%, rgb(100,100,100) 80%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#646464',GradientType=0 ); /* IE6-9 */
    }

.progress-bar {
    background-color: #d6d6d6;
    border: 1px solid #ebebeb;
    border-bottom-color: #fff;
    color: #333;
    font-size: 12px;
    font-weight: bold;    
    margin: 0 auto;
    text-align: center;
    width: inherit;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
       -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

.progress-bar > .status-bar {
    display: block;
    height: inherit;
    width: 60%;

    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;

    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 
                        0px 0px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 
                        0px 0px 2px rgba(0,0,0,0.5);
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 
                        0px 0px 2px rgba(0,0,0,0.5);    

    background: #269dcf; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(38,157,207,1) 0%, rgba(28,139,195,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,157,207,1)), color-stop(100%,rgba(28,139,195,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(38,157,207,1) 0%,rgba(28,139,195,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(38,157,207,1) 0%,rgba(28,139,195,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(38,157,207,1) 0%,rgba(28,139,195,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(38,157,207,1) 0%,rgba(28,139,195,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#269dcf', endColorstr='#1c8bc3',GradientType=0 ); /* IE6-9 */
} 

.progress-bar > .total {
    display: block;
    margin: -19px auto 0;
    text-align: center;
}

.item-content > .complete-bar {
    display: none;
}

/* start: Friend album view */
.album-header .achievements-title-someone { display: none; }

body.achievements-friend-album .album-header .achievements-title { display: none; }
body.achievements-friend-album .album-header .achievements-title-someone { display: table-cell; } 
/* end: Friend album view */

/*** start: offline mode ***/

body > .outer-wrapper { display: block; height: 100%; }
body > .offline-screen { display: none; }

body.offline-gos-mode > .outer-wrapper { display: none; }
body.offline-gos-mode > .offline-gos-mode { display: block; }

body.offline-mode > .outer-wrapper { display: none; }
body.offline-mode > .offline-mode { display: block; }

body.offline-gos-mode,
body.offline-mode {
    background: #EEE;
}

.offline-screen {
    display: none;
    background: #eee;    
    height: 100%;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 100%;
}

    .offline-screen > .offline-panel {
      margin: 65px 100px;
    }


    .offline-screen p {
      border-bottom: none;
      color: #555;
      font-family: Arial;
      font-size: 12px;
      font-weight: normal;
      margin-top: 5px;
    }

        .offline-screen p a {
          color: #444;
          font-weight: bold;
          margin-left: 15px;
          text-decoration: underline;
        }
  
        .offline-screen h1 {
          color: #444;
          border-bottom: none;
          font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: normal;
          height: 22px;
          padding: 0;
          margin: 12px 0;
        }

        .offline-screen h1:lang(el),
        .offline-screen h1:lang(el-gr),
        .offline-screen h1:lang(el-cy) { 
            font-family: Arial, sans-serif; font-size: 16px; 
        }
        .offline-screen h1:lang(ru), .offline-screen h1:lang(ru-ru) { font-family: Arial, sans-serif; font-size: 18px; }
        .offline-screen h1:lang(sv-se) { font-size: 18px; }
        .offline-screen h1:lang(ja), .offline-screen h1:lang(ja-jp) { font-family: "DFGHSGothic-W5"; font-size: 20px; }
        .offline-screen h1:lang(ko), .offline-screen h1:lang(ko-kr) { font-family: "Dotum", "AsiaDNR-M"; font-size: 20px; }
        .offline-screen h1:lang(th), .offline-screen h1:lang(th-th) { font-family: Tahoma; font-size: 20px; }
        .offline-screen h1:lang(zh-cn), .offline-screen h1:lang(zh-tw) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }
        .offline-screen h1:lang(zh-hans), .offline-screen h1:lang(zh-hant) { font-family: SimHei, Arial, sans-serif; font-size: 20px; }

/*** end: offline mode ***/
