#album-comparison, #comp-header { display: none; }

body.comparison-view #album-comparison { display: block; }

body.achievements-friend-album #album-user-header { display: none; }
body.achievements-friend-album #comp-header { display: table; }
body.achievements-friend-album #comp-header .achievements-title-someone { display: table-cell; }

body.comparison-view #album-content { display: none; }

body.achievements-friend-album #album .album-header {
	height: 60px;
	padding: 20px 0px 0;
}

body.achievements-friend-album #album .album-header > span {
 	display: block;
 	margin: 0;
 	padding: 0 20px;
}

body.comparison-view .hidden {
	display: none;
}

/*------------- start: Navigation -----------*/

body.achievements-friend-album #album .album-navigation {
	list-style: none;
	margin: 0 0 0 15px;
	overflow: hidden;
	padding: 20px 10px 0;
}

body.achievements-friend-album #album .album-navigation li {
	float: left;
	border-bottom: 30px solid #b1b1b1;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    margin-left: -10px;
}

	body.achievements-friend-album #album .album-navigation li:first-child {
		border-left: 0;
		margin-left: 0;
	}

/*body.achievements-friend-album #album .album-navigation li:before {
	border-bottom: 30px solid white;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	left: -7px;
	position: absolute;
	right: -7px;
	top: 0;
}*/

body.achievements-friend-album #album .album-navigation a {
	border-bottom: 30px solid #d0d0d0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;    
    height: 0;
    margin-left: -6px;
	margin-right: -6px;
	position: relative;
	top: -17px;
}
	body.achievements-friend-album #album .album-navigation li:first-child a {
		border-left:0;
	}

body.achievements-friend-album #album .album-navigation a > span {
	background-color: #d0d0d0;
	border-top: 1px solid #B1B1B1;
	border-bottom: 1px solid #d0d0d0;
	bottom: -19px;
	color: #666;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 20px;
	position: relative;

	-webkit-border-radius: 7px 7px 0 0;
			border-radius: 7px 7px 0 0;
}
body.achievements-friend-album #album .album-navigation a > span:before {
	border-top: 1px solid #fff;
	content: "";
	position: absolute;
	top: -1px;
}
	body.achievements-friend-album #album .album-navigation li:first-child a > span {
		border-left: 1px solid #b1b1b1;
	}

body.achievements-friend-album #album .album-navigation a:hover {
	text-decoration: none;
}

body.achievements-friend-album #album .album-navigation li.selected {	
	position: relative;
	z-index: 10;
}

body.achievements-friend-album #album .album-navigation li.selected a,
body.achievements-friend-album #album .album-navigation li.selected a span {
	border-bottom-color: #e5e5e5;
}

body.achievements-friend-album #album .album-navigation li.selected a span {	
	background-color: #e5e5e5;
}

/*------------- ends: Navigation -----------*/


/* User Status Colors */
.status-offline,
.status-invisible {
	border-left-color: #A4A4A4;
}
.status-online {
	border-left-color: #87c95b;
}
.status-away,
.status-unknown {
	border-left-color: #dc453e;
}
.status-in-game,
.status-joinable {
	border-left-color: #02a0e2;
}

.status-unknown {
    border-left-color: #FCFCFC;
}

.status-broadcast {
    border-left-color: #6441A5;
}
/* End: User Status Colors */

#album-comparison * { -webkit-box-sizing: border-box; box-sizing: border-box; }
#album-comparison {
	/*border-top: 1px solid #B1B1B1;*/
	color: #444;
	font: 14px Arial, sans-serif;

	padding-bottom: 4px; /*------------------TEMP----------------*/
}
#album-comparison:lang(ko),
#album-comparison:lang(ko-kr) {
	font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
}
#album-comparison:lang(zh-cn),
#album-comparison:lang(zh-tw),
#album-comparison:lang(zh-hans),
#album-comparison:lang(zh-hant) {
	font-family: SimHei, Arial, sans-serif;
}
#album-comparison:lang(th),
#album-comparison:lang(th-th) {
	font-family: Tahoma, Arial, sans-serif;
}

	#album-comparison h2 {
		font-family: Arial, sans-serif;
	}
    #album-comparison h2:lang(ko),
    #album-comparison h2:lang(ko-kr) {
		font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
	}
    #album-comparison h2:lang(zh-cn),
    #album-comparison h2:lang(zh-tw),
    #album-comparison h2:lang(zh-hans),
    #album-comparison h2:lang(zh-hant) {
	    font-family: SimHei, Arial, sans-serif;
    }
	#album-comparison h2:lang(th),
	#album-comparison h2:lang(th-th) {
		font-family: Tahoma, Arial, sans-serif;
	}
	#album-comparison h3 {
		font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	}
    #album-comparison h3:lang(ko),
    #album-comparison h3:lang(ko-kr) {
		font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
	}
    #album-comparison h3:lang(zh-cn),
    #album-comparison h3:lang(zh-tw),
    #album-comparison h3:lang(zh-hans),
    #album-comparison h3:lang(zh-hant) {
	    font-family: SimHei, Arial, sans-serif;
    }
	#album-comparison h3:lang(th),
	#album-comparison h3:lang(th-th) {
		font-family: Tahoma, Arial, sans-serif;
	}
	#album-comparison h3:lang(ru),
	#album-comparison h3:lang(ru-ru) {
	    font-family: Arial, sans-serif;
	}

	#album-comparison .album-completion {
		/*border-top: 1px solid #fff;*/
		height: inherit;
		padding: 20px;
		position: relative;

		display:-webkit-box;
		-webkit-box-pack:center;
		-webkit-box-align:center;
		display:box;
		box-pack:center;
		box-align:center;
	}	
	
	#album-comparison .album-completion > .user-wrapper {
		background: #fcfcfc;
		border: 1px solid #ffffff;
		cursor: pointer;	
		margin: 0 20px 0 0;
		min-height: 140px;
		padding: 1px 0 1px 1px;
		width: 450px;

		-webkit-box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
		   -moz-box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
				box-shadow: 1px 1px 5px rgba(161, 161, 161, 1);
	}
	#album-comparison .album-completion > .user-wrapper:hover {
		-webkit-box-shadow: 1px 1px 6px 2px rgba(127, 127, 127, 0.8);
		   -moz-box-shadow: 1px 1px 6px 2px rgba(127, 127, 127, 0.8);
				box-shadow: 1px 1px 6px 2px rgba(127, 127, 127, 0.8);
	}		
		#album-comparison .album-completion > .user-wrapper > div:first-child {
			border-left-style: solid;
			border-left-width: 12px;			
			float:left;
			height: 100%;
			margin: 0 10px 0 0;
			max-height: 152px;
			overflow: hidden;
			padding: 10px 0 10px 10px;
			vertical-align: middle;
			width: 152px;
		}
			#album-comparison .album-completion > .user-wrapper > div:first-child img {
				border-bottom: 1px solid #9f9f9f;
				height: 120px;
				padding: 0 0 2px 0;
				width: 120px;
			}

		#album-comparison .album-completion > .user-wrapper .user-data {			
			color:#424242;
			margin: 10px 10px 9px 0;
			overflow:hidden;
			text-align: center;
			text-overflow:ellipsis;
			white-space:normal;
		}
			#album-comparison .album-completion > .user-wrapper .user-data .user-name {
				background: url("../images/comparison/icon-border-bar.png") repeat-x bottom left;
				display: block;
				font-size: 24px;
				font-weight: bold;
				height: 43px;
				margin: 0 0 10px;
				overflow: hidden;
				text-overflow: ellipsis;
				text-rendering: auto;
				white-space: nowrap;		
			}
			#album-comparison .album-completion > .user-wrapper .user-data h4 {
				color: #888;
				font-size: 15px;
				line-height: normal;
				margin: 0 0 12px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				/*display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;*/
			}

			#album-comparison .album-completion > .user-wrapper .user-data .user-points {
				background: url("../images/comparison/icon-origin-points-18x18.png")
							no-repeat
							right top;
				color: #333;
				display: inline-block;
				font-size: 42px;
				font-weight: bold;
				line-height: 30px;
				padding-right: 24px;
			}

/* start: header template */

#album-comparison .cmp-header {
	list-style: none;
	margin: 0;
	opacity: 1;
	overflow: hidden;
	padding: 0;
	width: 100%;
}		
	#album-comparison .cmp-header li {
		border-right: 1px solid #C5C5C5;
		float: left;
		font-size: 14px;
		font-weight: bold;
		height: 45px;
		padding: 13px 10px 0;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		white-space: nowrap;
		width: 180px;
	}
	#album-comparison .cmp-header li.cmp-first-column {		
		border-right: none;
		padding-left: 20px;	
		text-align: left;
		width: 460px;
	}
	
	#album-comparison .cmp-header li.cmp-second-column {
		color: #888888;
		padding-left: 10px;
		padding-right: 20px;
		text-align: right;
		width: 140px;
	}

	#album-comparison .cmp-header li:last-child {
		border-right: none;
	}

#album-comparison #cmp-main-header {
	background: #cecece;

	-webkit-box-shadow: 0 0 0 0 transparent, 0 1px 7px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 0 0 transparent, 0 1px 7px rgba(0, 0, 0, 0.5);
}

#album-comparison .cmp-header.sticky,
#album-comparison .cmp-list .sticky.cmp-header:nth-child(1n) {
	position:fixed;
	top: 39px;
	width: 960px;
	z-index: 70;

	-webkit-box-shadow: 0 0 0 0 transparent, 0 1px 7px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 0 0 transparent, 0 1px 7px rgba(0, 0, 0, 0.5);
}

#album-comparison #cmp-main-header li.cmp-first-column.name {
	font-size: 16px;
}
/* end: Header Template */

/* start: Expansion Header Template */

#album-comparison .cmp-list .cmp-header {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
}
	#album-comparison .cmp-list .cmp-header:first-child {
		-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 0 0 transparent;
				box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 0 0 transparent;
	}

		#album-comparison .cmp-list .cmp-header li.cmp-first-column {
			font-size: 16px;
			padding:13px 10px 0 35px;
		}

		#album-comparison .cmp-list .cmp-header li.cmp-second-column {
			padding-right: 35px;
		}

		#album-comparison .cmp-list .cmp-header li:nth-child(n+2) > span {
			background: url("../images/comparison/icon-origin-points-14x14.png")
						no-repeat
						right 5px;
			border: none;
			font-size: 26px;
			overflow: hidden;
			padding-right: 18px;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}	

/* end: Expansion Header Template */

/* start: Comparison Table */

#album-comparison .cmp-table {
	/*border-bottom: 1px solid #c5c5c5; /******************* TEMPORAL */
	border-top:1px solid #fbfbfb;
	text-align: center;
	width: 100%;
}
	#album-comparison .cmp-table tr {
		height: 45px;
	}

	#album-comparison .cmp-table .cmp-first-column {
		text-align: left;
	}
	#album-comparison .cmp-table .cmp-first-column .cmp-column-right {
		color: #888;
		float: right;
		font-weight: bold;
		text-align: right;
		width: 50%;
	}	

	#album-comparison .cmp-table tbody {
		/*background: #eeeeee*/
	}
		#album-comparison .cmp-table tbody tr:nth-child(odd) {
			background: #eee;
		}
		#album-comparison .cmp-table tr td {
			border-right: 1px solid #c5c5c5;
			height: 90px;			
			max-width: 180px;
			min-width: 180px;
			width: 180px;
		}
		#album-comparison .cmp-table tr td:last-child { border-right: none; }
		
		#album-comparison .cmp-table td.cmp-first-column {
			border-right: none;
			padding: 5px 10px 5px 35px;
			max-width: 395px;
			width:395px;
		}
		#album-comparison .cmp-table .cmp-game-info .cmp-achievement {
			width: 100%;

			display:-webkit-box;
			-webkit-box-pack:center;
			-webkit-box-align:center;

			/* W3C */
			display:box;
			box-pack:center;
			box-align:center;
		}
			#album-comparison .cmp-table .cmp-game-info .cmp-achievement .item-icon {
				height: 60px;
				margin: 0 20px 0 0;
				width: 60px;
			}

			#album-comparison .cmp-table .cmp-game-info .cmp-achievement .item-disabled {
				opacity: 0.25;
			}

			#album-comparison .cmp-table td.cmp-first-column .item-content {
				width: 320px;
			}
				#album-comparison .cmp-table .cmp-game-info .item-content h4 {
					font-size: 14px;
					line-height: 20px;
					margin:0;
					/*padding-left: 80px;*/
				}
				#album-comparison .cmp-table .cmp-game-info .item-content p {
					font-size: 12px;
					line-height: 20px;
					margin: 5px 0;
					/*padding-left: 80px;*/
				}

			#album-comparison .cmp-table td.cmp-second-column {				
				color: #888;
				font-weight: bold;
				padding: 0 35px 0 10px;
				max-width: 204px;
				width: 204px;
			}

			#album-comparison .cmp-table .cmp-game-info td > span {
				border-top: 2px solid #444;
				display: block;
				margin: 0 auto;
				width: 12px;
			}

			#album-comparison .cmp-table td.cmp-second-column > span.ach-points {
				background: url("../images/comparison/icon-origin-points-14x14.png")
							no-repeat
							right 2px;
				border: none;
				font-size: 16px;
				overflow: hidden;
				padding-right: 18px;
				text-align: right;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}		

		#album-comparison .cmp-table .cmp-game-info td > span.check {
			background: url("../images/comparison/icon-check.png")
						no-repeat
						center center;
			border: none;
			height: 20px;
			width: 20px;
		}
	
/* end: Comparison Table */	
