#consent-to-share-wrapper {
	width: 100%;
}
	#consent-to-share-wrapper.hidden,
	#consent-to-share-wrapper .hidden { 
		display: none;
	}
	#consent-to-share {
		color: #fff;
		display: table;
		font-size: 13px;
		font-weight: bold;
		position: relative;
		table-layout: fixed;
		width: 100%;
	}
		#consent-to-share a,
		#consent-to-share a:hover {
			color: #fff;
		}

		#consent-to-share > div {
			display: table-cell;
			height: 50px;
			padding: 0 30px 0 20px;
			vertical-align: middle;
			width: inherit;		
		}
			#consent-to-share > div > p {
				margin: 0;
				padding: 0 0 0 42px;
			}
				#consent-to-share div > p > a,
				#consent-to-share div > p > a:hover {
					text-decoration: underline;
				}

		#consent-to-share .consent {
			background: #269dcf url("../images/consent/icon-consent-info.png") no-repeat 20px center;
		}
		#consent-to-share .info {
			background: #5cab26 url("../images/consent/icon-consent-check.png") no-repeat 20px center;
		}

		#consent-to-share .close {
			font-size: 13px;
			height: 14px;
			line-height: 10px;
			opacity: 1;
			padding: 0;
			position: absolute;
			right: 20px;
			text-align: center;
			text-decoration: none;
			top: 36%;
			width: 14px;

		}
		#consent-to-share .close:hover {
			background-color: #a5a5a5;
			-webkit-border-radius: 30px;
					border-radius: 30px;
		}