.hovercard {
    display: none;
    left: 218px;
    padding-left: 7px;
    position: absolute;
    top: 0;
}

.hovercard:hover {
    cursor: default;
}

.hovercard.hflip {
    padding-left:0; padding-right:7px;
}

.hovercard > .content {
    background-color:#FFF;
    background: -moz-linear-gradient(top, rgb(248,248,248), rgb(227,227,227)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(248,248,248)), to(rgb(227,227,227))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(248,248,248), rgb(227,227,227)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(248,248,248), rgb(227,227,227)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(248,248,248), rgb(227,227,227)); /* IE10+ */
    background: linear-gradient(to bottom, rgb(248,248,248), rgb(227,227,227)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */

    display: block;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 295px;
    z-index: 1;    

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-box-shadow: 0 0 15px rgba(0,0,0,1);
       -moz-box-shadow: 0 0 15px rgba(0,0,0,1);
            box-shadow: 0 0 15px rgba(0,0,0,1);
}

/***********
 * HEADER */

.hovercard > .content > header {
    background: #3a3a3a; /* Old browsers */
    background: -moz-linear-gradient(top, rgb(58,58,58), rgb(37,37,37)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(58,58,58)), to(rgb(37,37,37))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(58,58,58), rgb(37,37,37)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(58,58,58), rgb(37,37,37)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(58,58,58), rgb(37,37,37)); /* IE10+ */
    background: linear-gradient(to bottom, rgb(58,58,58), rgb(37,37,37)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#252525',GradientType=0 ); /* IE6-9 */

    color: #FFFFFF;
    overflow: hidden;
    padding: 14px 8px 10px;
    position: relative;

    -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
}

.hovercard > .content > header > h3 {
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 1px #000000;
}


.hovercard > .content > header > .item-info {
    max-width: 200px;
}

    .hovercard > .content > header > .item-info span {
        display: block;
    }

    .hovercard > .content > header > .item-info .item-name {
        color: #eee;
        font-size: 20px;
        line-height: 22px;        
        overflow: hidden;
        
        text-overflow: ellipsis;
        
        /* Set the a number of text lines */
        /*display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* number of lines to show */
    }

    .hovercard > .content > header > .item-info .item-date {
        color: #999;
        font-size: 11px;
        line-height: normal;
    }

.hovercard > .content > header > .item-total {
    background: url(../images/hovercard/icon-origin-points-14x14.png) no-repeat right 3px;
    float: right;
}

    .hovercard > .content > header > .item-total .item-total-number {
        display: inline-block;
        margin-right: 19px;
        max-width: 50px;
        overflow: hidden;
        white-space: nowrap;
    }


/****************
 * INFO SECTION */

.hovercard > .content > section {
    font-size: 13px;
    line-height: normal;
    overflow: hidden;
    padding: 10px;
}

.hovercard > .content > section p {
    margin: 0;
}

.hovercard > .content > section > .info {
    color: #343434;
    /*font-size: 12px;
    line-height: 18px;*/
    /*margin: 0 0 22px;*//*<------------------------- Set if there is the list of achievements (to be confirmed) */
    margin: 0;
    padding: 0;
}





/*************
 * POINTER */

.hovercard > .pointer-shadow {
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgba(40, 40, 40,0.2);
    border-top: 21px solid transparent;
    display: block;
    height: 0;
    left: -12px;
    overflow: hidden;
    position: absolute;
    top: 22px;
    width: 0;    
}
.hovercard > .pointer {
    border-bottom: 17px solid transparent;    
    border-right: 17px solid #f3f3f3;
    border-top: 17px solid transparent;

    display: block;
    height: 0;
    left: -10px;
    overflow: hidden;
    position: absolute;
    top: 25px;
    width: 0;
    z-index: 2;

}
.hovercard.hflip > .pointer
{
    left:auto; right:-18px;
    -webkit-transform:rotate(180deg);
}


.album-items > .item-wrapper:hover .hovercard {
    display: block;
}

.album-items > .item-wrapper:nth-child(4n+1):hover .hovercard,
.album-items > .item-wrapper:nth-child(4n):hover .hovercard {
    left: -312px;
}

.album-items > .item-wrapper:nth-child(4n+1):hover .hovercard .pointer,
.album-items > .item-wrapper:nth-child(4n):hover .hovercard .pointer {
    border-left: 17px solid #f3f3f3;
    border-right: none;
    right: -17px;
    left: auto;
}
.album-items > .item-wrapper:nth-child(4n+1):hover .hovercard .pointer-shadow,
.album-items > .item-wrapper:nth-child(4n):hover .hovercard .pointer-shadow {
    border-left: 20px solid rgba(40, 40, 40,0.2);
    border-right: none;
    left: auto;
    right: -19px;
}

/****************
 * ACHIEVEMENTS PROGRESS */

.hovercard .progress-summary,
.hovercard ul.achievements-list,
.hovercard ul.achievements-list > li {
    background: url("../images/hovercard/border-bar-icon.png") repeat-x left bottom;
    margin-bottom: 10px;
    padding: 0 0 11px;   
}

.hovercard .total {
    font-weight: 600;
}

.hovercard ul.achievements-list {
    display: none; /*<---------------------------- DELETE THIS LINE */
    background-position: left top;
    list-style: none;
    margin: -11px 0 0;
    overflow: hidden;
    padding: 0;
}
.hovercard ul.achievements-list > li {
    background-position: left top;
    margin: 0;
    padding: 10px 8px;
}
.hovercard ul.achievements-list > li:first-child {
    background: none;    
}
.hovercard ul.achievements-list > li:last-child {
    padding-bottom: 0;
}
.hovercard ul.achievements-list > li > p {
    padding-left: 20px;
}
.hovercard ul.achievements-list > li.completed p {
    background: url("../images/hovercard/icon-check.png") no-repeat left 5px;
}