/*** start: origin ux general ***/

    .origin-ux-element { }

        .origin-ux-element > .origin-ux-label {
            color: #444444;
            font: bold 13px/13px Arial, Helvetica, sans-serif;
            display: block;
            width: 100%;
            margin: 0 0 9px 0;
            clear: both;
        }
        .origin-ux-element > .origin-ux-label:lang(ko-kr) {
            font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
        }
        .origin-ux-element > .origin-ux-label:lang(zh-cn),
        .origin-ux-element > .origin-ux-label:lang(zh-tw) {
            font-family: SimHei;
        }
        .origin-ux-element > .origin-ux-label:lang(th-th) {
            font-family: Tahoma, Arial, sans-serif;
        }

/*** end: origin ux general ***/



/*** start: origin ux buttons ***/

.origin-ux-button-primary
{
    box-sizing:content-box;
    height:13px;
    margin:0; border:1px solid #FD4400; border-top-color:#FFA500; border-radius:3px; padding:7px 20px 8px 20px;
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(255,253,0,0)),
        color-stop(0.5, rgba(255,253,0,1)),
        color-stop(1, rgba(255,253,0,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #FFBC00),
        color-stop(1, #FE6B00)
    ); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; box-shadow:0 0 2px 2px rgba(0,0,0,.10);
    color:#FFF;
    font-weight:bold; font-size:14px; line-height:13px;
    min-width: 50px;
    text-align: center;
}

.origin-ux-button-primary:hover
{
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(255,255,0,0)),
        color-stop(0.5, rgba(255,255,0,1)),
        color-stop(1, rgba(255,255,0,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #FFCC00),
        color-stop(1, #FE6B00)
    );
    color:#FFF;
    text-decoration: none;
}

.origin-ux-button-primary:active
{
    border-color:#D04100; border-bottom-color:#EA8000;
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(242,193,0,0)),
        color-stop(0.5, rgba(242,193,0,1)),
        color-stop(1, rgba(242,193,0,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #DE6700),
        color-stop(1, #ED9F00)
    ); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; background-position:0 bottom, 0 0;
    color:#FFF;
    text-decoration: none;
}
.origin-ux-button-primary[disabled],
.origin-ux-button-primary[disabled]:hover,
.origin-ux-button-primary[disabled]:active
{
    border-color:#FD4400; border-top-color:#FFA500;
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(255,253,0,0)),
        color-stop(0.5, rgba(255,253,0,1)),
        color-stop(1, rgba(255,253,0,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #FFBC00),
        color-stop(1, #FE6B00)
    ); background-position:0 0, 0 0; opacity:0.45;
    color:#FFF;
    text-decoration: none;
}



/* Secondary */
.origin-ux-button-secondary
{
    box-sizing:content-box;
    height:13px;
    margin:0; border:1px solid #6d6d6d; border-top-color:#9D9D9D; border-radius:3px; padding:7px 30px 8px 30px;
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,1)),
        color-stop(1, rgba(255,255,255,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #AEAEAE),
        color-stop(1, #777777)
    ); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; box-shadow:0 0 2px 2px rgba(0,0,0,.10);
    color:#FFF;
    font-weight:bold; font-size:14px; line-height:13px;
    text-align: center;
}
.origin-ux-button-secondary:hover
{
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,1)),
        color-stop(1, rgba(255,255,255,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #C7C7C7),
        color-stop(1, #7A7A7A)
    );
    color:#FFF;
    text-decoration: none;
}
.origin-ux-button-secondary:active
{
    border-color:#515151; border-bottom-color:#909090;
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(195,195,195,0)),
        color-stop(0.5, rgba(195,195,195,1)),
        color-stop(1, rgba(195,195,195,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #6D6D6D),
        color-stop(1, #A2A2A2)
    ); background-repeat:no-repeat; background-size:100% 1px, 100% 100%; background-position:0 bottom, 0 0;
    color:#FFF;
    text-decoration: none;
}
.origin-ux-button-secondary[disabled],
.origin-ux-button-secondary[disabled]:hover,
.origin-ux-button-secondary[disabled]:active
{
    border-color:#6d6d6d; border-top-color:#9D9D9D;
    background-image:-webkit-gradient(
        linear, left top, right top,
        color-stop(0, rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,1)),
        color-stop(1, rgba(255,255,255,0))
    ),
    -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0, #AEAEAE),
        color-stop(1, #777777)
    ); background-position:0 0, 0 0; opacity:0.45;
    color:#FFF;
    text-decoration: none;
}


/*** end: origin ux buttons ***/



/*** start: origin ux drop down  ***/

    .origin-ux-drop-down {

    }

            .origin-ux-drop-down > .origin-ux-drop-down-label {
                color: #444444;
                font: bold 13px/13px Arial, Helvetica, sans-serif; 
                display: block;
                margin: 0 0 9px 0;
                clear: both;
                width: 100%;
            }
            .origin-ux-drop-down > .origin-ux-drop-down-label:lang(ko-kr) {
                font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
            }
            .origin-ux-drop-down > .origin-ux-drop-down-label:lang(zh-cn),
            .origin-ux-drop-down > .origin-ux-drop-down-label:lang(zh-tw) {
                font-family: SimHei;
            }
            .origin-ux-drop-down > .origin-ux-drop-down-label:lang(th-th) {
                font-family: Tahoma, Arial, sans-serif;
            }

            .origin-ux-drop-down > .origin-ux-drop-down-control {
                float: left;
                position: relative;
                z-index: 50;    
                               width: inherit;
            }

                .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection {
                    display: block;
                    height: 30px;
                    text-decoration: none;


                }

                .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection:focus {
                    outline: none;
                }

                    .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection > span {
                        height: 22px;
                        margin: 0;
                        display: block;
                        padding: 6px 7px 6px 12px;
                        color: #555;
                        font: normal 13px/normal Arial, sans-serif;
                        cursor: pointer;

                        max-width: 170px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection > span:lang(ko-kr) {
                        font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
                    }
                    .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection > span:lang(zh-cn),
                    .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection > span:lang(zh-tw) {
                        font-family: SimHei;
                    }
                    .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection > span:lang(th-th) {
                        font-family: Tahoma, Arial, sans-serif;
                    }

                    .origin-ux-drop-down > .origin-ux-drop-down-control > .origin-ux-drop-down-selection > select {
                        position: absolute;
                        left: -9999px;
                        height: 1px;
                    }


            .origin-ux-drop-down > .origin-ux-drop-down-control  > .origin-ux-drop-down-selection:hover { background-position: right -179px !important; }
                .origin-ux-drop-down > .origin-ux-drop-down-control  > .origin-ux-drop-down-selection:hover > span { background-position: left -119px !important; }
                
            .origin-ux-drop-down  > .origin-ux-drop-down-control.selected > .origin-ux-drop-down-selection { background-position: right -539px !important; }
                .origin-ux-drop-down > .origin-ux-drop-down-control.selected > .origin-ux-drop-down-selection > span { background-position:  left -479px !important; }

            .origin-ux-drop-down  > .origin-ux-drop-down-control.focus > .origin-ux-drop-down-selection { background-position: right -300px !important; }
                .origin-ux-drop-down > .origin-ux-drop-down-control.focus > .origin-ux-drop-down-selection > span { background-position:  left -240px !important; }
                
            .origin-ux-drop-down  > .origin-ux-drop-down-control.field-error > .origin-ux-drop-down-selection { background-position: right -419px !important; }
                .origin-ux-drop-down > .origin-ux-drop-down-control.field-error  > .origin-ux-drop-down-selection > span { background-position: left -359px !important; }
            

            .origin-ux-drop-down > .origin-ux-drop-down-control > .drop-down-options-container {
                background: #FFF;
                padding: 0;
                position: absolute;
                top: 31px;
                width: 100%;
                display: none;    
                z-index: 100;
                -webkit-border-radius: 0 0 5px 5px;
                   -moz-border-radius: 0 0 5px 5px;
                        border-radius: 0 0 5px 5px;
            
                -webkit-box-shadow: 2px 2px 4px rgba(153, 153, 153, 0.7);
                   -moz-box-shadow: 2px 2px 4px rgba(153, 153, 153, 0.7);
                        box-shadow: 2px 2px 4px rgba(153, 153, 153, 0.7);
            }

                .origin-ux-drop-down > .origin-ux-drop-down-control  > .drop-down-options-container > .drop-down-options { 
                    padding: 0 0 4px 0;
                    margin: 0;
                    background: transparent;
                }

                    .origin-ux-drop-down > .origin-ux-drop-down-control.selected  > .drop-down-options-container > .drop-down-options { display: block; }

                    .scrollbar { 
                        color: #444;  
                        height:145px;
                        overflow:hidden;    
                    }

                    .scrollbar.items-one { height: 31px; }
                    .scrollbar.items-two { height: 57px; }
                    .scrollbar.items-three { /*height: 99px;*/ height: auto !important; }
                    .scrollbar.items-four { height: 109px; }
                        
                        .scrollbar-pane { width: 100%; }

                            .scrollbar-pane > .drop-down-item { /*margin-right: 25px;*/ }

                            .drop-down-item { 
                                margin: 3px 7px;
                                /*height: 29px;*/
                                height: auto;
                            }

                                .drop-down-item > a {
                                    padding: 7px 5px;
                                    height: auto;
                                    text-decoration: none;
                                    color: #555 !important;
                                    display: block;
                                    width: auto;
                                    font: normal 13px/normal Arial, sans-serif !important;
                                }
                                
                                .drop-down-item > a:lang(ko-kr) {
                                    font-family: Dotum, AsiaDNR-M, Arial, sans-serif !important;
                                }
                                .drop-down-item > a:lang(zh-cn),
                                .drop-down-item > a:lang(zh-tw) {
                                    font-family: SimHei;
                                }
                                .drop-down-item > a:lang(th-th) {
                                    font-family: Tahoma, Arial, sans-serif !important;
                                }

                                    .drop-down-item > a > span {
                                        display: block;
                                        height: auto;
                                        margin: 0;
                                        padding: 0;
                                        cursor: pointer;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }

                                .drop-down-item > a:hover {
                                    color: #FFF;
                                    background: #ff9900;
                                
                                    -webkit-border-radius: 5px;
                                       -moz-border-radius: 5px;
                                            border-radius: 5px;
                                }

                                    .origin-ux-drop-down > .origin-ux-drop-down-control .drop-down-item > a:hover > span {
                                        color: #FFF;
                                    }


/*** end: origin ux drop down  ***/    

/*** start: scrollbar ***/ 

.scrollbar-pane {
    margin-right: 20px;
    position: relative !important;
}

.scrollbar-handle-container {
    width: 18px;
    display: none;
}

.scrollbar-handle-inner {
}

.scrollbar-handle {
    width: 16px;
    border-radius: 8px;
    border: 1px solid #b1b1b1;
    background-color: #eeeeee;
    
    background-image: linear-gradient(top, rgb(246,246,246) 13%, rgb(221,221,221) 100%);
    background-image: -o-linear-gradient(top, rgb(246,246,246) 13%, rgb(221,221,221) 100%);
    background-image: -moz-linear-gradient(top, rgb(246,246,246) 13%, rgb(221,221,221) 100%);
    background-image: -webkit-linear-gradient(top, rgb(246,246,246) 13%, rgb(221,221,221) 100%);
    background-image: -ms-linear-gradient(top, rgb(246,246,246) 13%, rgb(221,221,221) 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.13, rgb(246,246,246)),
        color-stop(1, rgb(221,221,221))
    );
}

.scrollbar-handle-up {
    width: 18px;
    height: 18px;
}


.scrollbar-handle-down {
    width: 18px;
    height: 18px;
}

/*** end: scrollbar ***/
