<section id="helporigin" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::title'></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::hardwareinfostr}}" itemhintstr="{{::hardwareinfohintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{!hardwareinfo}}" toggleaction="toggleSetting('hardwareinfo')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::sysinteractstr}}" itemhintstr="{{::sysinteracthintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{telemetry_enabled}}" toggleaction="toggleSetting('telemetry_enabled')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details has-drop origin-settings-clearfix">
        <origin-settings-item itemstr="{{::crashreportstr}}" itemhintstr="{{::crashreporthintstr}}"></origin-settings-item>
        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
                <span class="otkselect origin-settings-drop-select">
                    <select name="setting-dropdown" class="crash-reporting origin-settings-select" ng-model="crashmenu_setting" ng-change="changeCrashMenu()">
                        <option value="2" ng-bind-html='::crashmenuaskstr'></option>
                        <option value="0" ng-bind-html='::crashmenuautostr'></option>
                        <option value="1" ng-bind-html='::crashmenuneverstr'></option>
                    </select>
                </span>
            </div>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->
</section>


<section id="trouble" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::troubleshootingstr'></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::oigloggingstr}}" itemhintstr="{{::oiglogginghintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{oiglogging}}" toggleaction="toggleSetting('oiglogging')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::safemodestr}}" itemhintstr="{{::safemodehintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{safemode}}" toggleaction="toggleSetting('safemode')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->
</section>


