<section id="#cloud" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::inTheCloudStr'></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix" origin-authstatelistener>
        <div ng-if="!isOffline">
            <origin-settings-item itemstr="{{::savesStr}}" itemhintstr="{{::savesHintStr}}"></origin-settings-item>
            <origin-settings-slide-toggle togglecondition="{{cloudSetting}}" toggleaction="toggleCloudSetting()" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
        </div>
        <div ng-if="isOffline">
            <origin-offline-cta descriptionoverridestr="{{notAvailableStr}}" buttontheme="light"></origin-offline-cta>
        <div>
    </div><!-- close /origin-settings-details - row -->
</section>

<section id="#computer" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::onYourCompStr'></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details has-drop origin-settings-clearfix input-group">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc input-group">
                <p class="origin-settings-p otkc origin-settings-global">{{::gameLibLocStr}}</p>
                <p class="origin-settings-p otktitle-4" >{{::directoryStr}}
                    <input type="text" title="{{gameLibFolderStr}}" class="origin-settings-path origin-settings-global" value="" placeholder="{{gameLibFolderStr}}" readonly="">
                </p>
            </div>
        </div><!-- close /section -->
        <div class="origin-settings-div origin-settings-div-side">
            <form action="" class="otkbtn otkbtn-light origin-settings-file-input file-input-library ng-pristine ng-valid" id="dialogstripe" data-dismiss="otkmodal" data-toggle="otkmodal" data-target="#DialogSettingsHaveChanged"  ng-click='changeFolder()' ng-bind-html='::changeFolderStr'>
            </form>
            <a href="" class="otkc otkc-small otka origin-settings-installs-link" id="dialogstripe" data-dismiss="otkmodal" data-toggle="otkmodal" data-target="#location-changed" ng-bind-html='::restoreDefaultStr' ng-click='resetDownloadFolder()'></a>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

    <div class=" origin-settings-details has-drop origin-settings-clearfix input-group">
        <div class="origin-settings-div origin-settings-div-main ">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">{{::gameInstLocStr}}
                <span class="origin-settings-help-icon-adjust">
                    <a origin-tooltip="{{::gameInstLocHintStr}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
                </p>

                <p class="origin-settings-p otktitle-4" >{{::directoryStr}}
                    <input type="text" title="{{cacheFolderStr}}" class="origin-settings-path origin-settings-global" value="" placeholder="{{cacheFolderStr}}" readonly="">
                </p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side">
            <form action="" class="otkbtn otkbtn-light file-input file-input-installers ng-pristine ng-valid" data-toggle="otkmodal" data-target="#delete-cache-request" ng-click='changeCacheFolder()' ng-bind-html='::changeFolderStr'>
            </form>
            <a href="" class="otkc otkc-small otka origin-settings-installs-link" id="dialogstripe" data-dismiss="otkmodal" data-toggle="otkmodal" data-target="#location-changed" ng-bind-html='::restoreDefaultStr' ng-click='resetCacheFolder()'></a>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

    <div class=" origin-settings-details has-drop origin-settings-clearfix input-group">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">{{::legacyGameInstStr}}
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::legacyGameInstHintStr}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
                </p>
                <origin-settings-slide-toggle togglecondition="{{keepInstallersSetting}}" toggleaction="toggleKeepInstallerSetting()" addclass="">
                </origin-settings-slide-toggle>
            </div>

        </div><!-- close /section -->


        <div class="origin-settings-div origin-settings-div-side">
            <form action="" class="otkbtn otkbtn-light file-input browse ng-pristine ng-valid" ng-click='browseInstallers()'>{{::browseInstallersStr}}
            </form>
            <a href="" class="otkc otkc-small otka origin-settings-installs-link" data-toggle="otkmodal" data-target="#delete-installers" ng-bind-html='::deleteAllInstStr' ng-click='deleteInstallers()'></a>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

</section>
