<section id="notifications" class="origin-settings-section origin-settings-clearfix" ng-hide='underaged'>
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main origin-settings-notifications">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::chatstr'></h1>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side-half-notifications">
            <div class="lable">
                <p class="otktitle-5 otktitle-5-caps" ng-bind-html='::soundstr'></p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side-half-notifications">
            <div class="lable">
                <p class="otktitle-5 otktitle-5-caps" ng-bind-html='::notificationstr'></p>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::incomingstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('incomingchat', true)}}" toggleaction="toggleSetting('incomingchat', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('incomingchat', false)}}" toggleaction="toggleSetting('incomingchat', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->


    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::incomingvoipstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('incomingvoip', true)}}" toggleaction="toggleSetting('incomingvoip', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('incomingvoip', false)}}" toggleaction="toggleSetting('incomingvoip', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::gameinvitestr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('gameinvite', true)}}" toggleaction="toggleSetting('gameinvite', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('gameinvite', false)}}" toggleaction="toggleSetting('gameinvite', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->
</section>
<section id="notifications" class="origin-settings-section origin-settings-clearfix" ng-hide='underaged'>
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main origin-settings-notifications">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::friendsactivitystr'></h1>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side-half-notifications">
            <div class="lable">
                <p class="otktitle-5 otktitle-5-caps" ng-bind-html='::soundstr'></p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side-half-notifications">
            <div class="lable">
                <p class="otktitle-5 otktitle-5-caps" ng-bind-html='::notificationstr'></p>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::friendinstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('friendin', true)}}" toggleaction="toggleSetting('friendin', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('friendin', false)}}" toggleaction="toggleSetting('friendin', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::friendoutstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('friendout', true)}}" toggleaction="toggleSetting('friendout', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('friendout', false)}}" toggleaction="toggleSetting('friendout', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::friendstartstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('friendstart', true)}}" toggleaction="toggleSetting('friendstart', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('friendstart', false)}}" toggleaction="toggleSetting('friendstart', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::friendquitstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('friendquit', true)}}" toggleaction="toggleSetting('friendquit', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('friendquit', false)}}" toggleaction="toggleSetting('friendquit', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::friendbroadstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('friendbroad', true)}}" toggleaction="toggleSetting('friendbroad', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('friendbroad', false)}}" toggleaction="toggleSetting('friendbroad', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::friendstopbroadstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('friendstopbroad', true)}}" toggleaction="toggleSetting('friendstopbroad', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('friendstopbroad', false)}}" toggleaction="toggleSetting('friendstopbroad', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

</section>

<section id="notifications" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main origin-settings-notifications">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::gamesstr'></h1>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side-half-notifications">
            <div class="lable">
                <p class="otktitle-5 otktitle-5-caps" ng-bind-html='::soundstr'></p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side-half-notifications">
            <div class="lable">
                <p class="otktitle-5 otktitle-5-caps" ng-bind-html='::notificationstr'></p>
            </div>
        </div><!-- close /section -->
    </header>


    <div class="origin-settings-details origin-settings-clearfix" ng-hide='underaged'>
        <origin-settings-item itemstr="{{::achievementstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('achievement', true)}}" toggleaction="toggleSetting('achievement', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('achievement', false)}}" toggleaction="toggleSetting('achievement', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::downloadstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('download', true)}}" toggleaction="toggleSetting('download', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('download', false)}}" toggleaction="toggleSetting('download', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::failurestr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('failure', true)}}" toggleaction="toggleSetting('failure', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('failure', false)}}" toggleaction="toggleSetting('failure', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::installstr}}" nohint="true" addclass="origin-settings-notifications"></origin-settings-item>

        <origin-settings-slide-toggle togglecondition="{{isSet('install', true)}}" toggleaction="toggleSetting('install', true)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
        <origin-settings-slide-toggle togglecondition="{{isSet('install', false)}}" toggleaction="toggleSetting('install', false)" addclass="origin-settings-div-side-half-notifications"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->
</section>
