<section class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html="::titleLoc"></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::enableOIGLoc}}" itemhintstr="{{::enableOIGHintLoc}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{enableOIG}}" toggleaction="toggleEnableOIGSetting()" toggledisabled="isGamePlaying" addclass=" origin-settings-div origin-settings-div-side">
        </origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix" ng-hide="!enableOIG">
        <origin-settings-item itemstr="{{::unverifiedLoc}}" itemhintstr="{{::unverifiedHintLoc}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{inGameAllGames}}" toggleaction="toggleInGameAllGamesSetting()" toggledisabled="isGamePlaying" addclass="origin-settings-div origin-settings-div-side">
        </origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->


    <div class="origin-settings-details origin-settings-clearfix origin-settings-ingame-hkerror1" ng-hide="!enableOIG">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::keyboardShortcutLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::keyboardHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
                <p class="origin-settings-p otktitle-4"><span ng-bind-html="::defaultShortcutLoc"></span>  <strong ng-bind-html="::defaultHotkeyLoc"></strong>.</p>
            </div>
        </div><!-- close /section -->


        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
                <div class="otkinput otkinput" ng-show="hotKeyNoError">
                    <input id="oig-leHotKeys" class="oig-leHotKeys" value="{{hotkeyString}}" placeholder="" readonly="true">
                </div>
                <div class="otkinput otkinput-iserror" ng-hide="hotKeyNoError">
                    <input id="oig-leHotKeys" class="oig-leHotKeys" value="{{hotkeyString}}" placeholder="" readonly="true">
				</div>
				<p class="otkinput-errormsg otkc" ng-hide="hotKeyNoError">{{shortcutInUseLoc}}</p>
            </div>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

	
    <div class="origin-settings-details origin-settings-clearfix origin-settings-ingame-hkerror2" ng-hide="!enableOIG">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::windowPinShortcutLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::windowPinHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
                <p class="origin-settings-p otktitle-4"><span ng-bind-html="::defaultShortcutLoc"></span>  <strong ng-bind-html="::defaultHotkeyPinLoc"></strong>.</p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
                <div class="otkinput otkinput" ng-show="pinKeyNoError">
                    <input id="oig-lePinKeys" class="oig-lePinKeys" value="{{hotkeyPinString}}" placeholder="" readonly="true">
                </div>
                <div class="otkinput otkinput-iserror" ng-hide="pinKeyNoError">
                    <input id="oig-lePinKeys" class="oig-lePinKeys" value="{{hotkeyPinString}}" placeholder="" readonly="true">
				</div>
				<p class="otkinput-errormsg otkc" ng-hide="pinKeyNoError">{{shortcutInUseLoc}}</p>
            </div>
        </div><!-- close /section -->

    </div><!-- close /origin-settings-details - row -->

</section>
