<section id="payment" class="origin-settings-section origin-settings-payment origin-settings-global">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2">Payment Methods</h1>
            </div>
        </div><!-- close /section -->
        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-wrap origin-settings-right">
                
            </div>
        </div><!-- close /section -->
    </header>
    <div class="origin-settings-details origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">Visa Ending in 1234</p>
            </div>
        </div><!-- close /section -->
        <div class="origin-settings-div origin-settings-div-side">
            <a target="_blank" href="../settings/ea_settings.html" class="otka">Edit on EA.com</a>
        </div>
    </div> <!-- row -->
    
    <div class="origin-settings-details origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">PayPal</p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side">
            <a target="_blank" href="../settings/ea_settings.html" class="otka">Edit on EA.com</a>
        </div>
    </div> <!-- row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">EA Wallet</p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side">
            <a target="_blank" href="../settings/ea_settings.html" class="otka">Edit on EA.com</a>
        </div>
    </div> <!-- row -->

</section>
    
    
<section id="order-history" class="origin-settings-section origin-settings-payment origin-settings-global">
    <header class="origin-settings-header single origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <p class="origin-settings-p otktitle-2">Order History</p>
                <p class="origin-settings-p otktitle-4">New orders may take up to 30 minutes to display.</p>
            </div>
        </div><!-- close /section -->
        <div class="origin-settings-div origin-settings-div-side">

        </div><!-- close /section -->
    </header>

	<div class="origin-settings-details">
		<div class="origin-settings-payment-sorting-orders">
			<div class="order-from">
				<div class="otkdropdown otktitle-5 otktitle-5-caps">
					<span class="otkdropdown-label otktitle-5 otktitle-5-caps">From:</span>
				    <a class="otkdropdown-trigger otkdropdown-trigger-caret" href="javascript:void(0)" id="from-order-options">
						2015
				    </a>
				    <div class="origin-settings-payment otkdropdown-wrap from-otkdropdown">
				        <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="from-order-options">
				            <li role="presentation" class="otkmenu-item-active">
				                <a role="menuitem" tabindex="-1" href="#">2015</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">2014</a>
				            </li>
				            <li role="presentation" class="">
				                <a role="menuitem" tabindex="-1" href="#">2013</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">2012</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">2011</a>
				            </li>
				        </ul>
				    </div>
				</div>
			</div><!-- close from order -->
			<div class="order-sort">
				<div class="otkdropdown otktitle-5 otktitle-5-caps">
			    <span class="otkdropdown-label otktitle-5 otktitle-5-caps">Order Status:</span>
			    <a class="otkdropdown-trigger otkdropdown-trigger-caret" href="javascript:void(0)" id="sort-order-options">
			        All
			    </a>
				    <div class="origin-settings-payment otkdropdown-wrap sort-otkdropdown">
				        <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="sort-order-options">
				            <li role="presentation" class="otkmenu-item-active">
				                <a role="menuitem" tabindex="-1" href="#">All</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">Failed</a>
				            </li>
				            <li role="presentation" class="">
				                <a role="menuitem" tabindex="-1" href="#">Payment Pending</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">Cancelled</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">Processing</a>
				            </li>
				            <li role="presentation">
				                <a role="menuitem" tabindex="-1" href="#">Pre-Order</a>
				            </li>
				        </ul>
				    </div>
				</div>
			</div><!-- close sort order -->
		</div>



		<div class="origin-settings-payment-order-header">
			<div class="origin-settings-payment-order-list">
				<div class="date origin-settings-global">
					<h1 class="otktitle-5 otktitle-5-caps"><strong>Date</strong></h1>
				</div>
				<div class="description origin-settings-global">
					<h1 class="otktitle-5 otktitle-5-caps"><strong>Description &amp; Order Number</strong></h1>
				</div>
				<div class="status origin-settings-global">
					<h1 class="otktitle-5 otktitle-5-caps"><strong>Status</strong></h1>
				</div>
				<div class="price origin-settings-global">
					<h1 class="otktitle-5 otktitle-5-caps"><strong>Price</strong></h1>
				</div>
			</div><!-- close /origin-settings-payment-order-list - row -->

		</div><!-- close /origin-settings-payment-order-header -->

		<div class="origin-settings-payment-order-container origin-settings-global">

			<origin-settings-order-list listid="id00" itemdate="4/6/2015" itemtitle="Star Wars™ Battlefront™" itemnumber="98767134256301" itemstatus="Completed" itemparice="$49.99" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date origin-settings-global">
			<h4 class="item-date otkc origin-settings-global"><strong class="ng-binding">4/6/2015</strong></h4>
		</div>
		<div class="description 01 origin-settings-global">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed origin-settings-global"></a>

			<p class="origin-settings-p item-title otkc origin-settings-global"><strong class="ng-binding">Star Wars™ Battlefront™</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">98767134256301</strong></span>
		</div>
		<div class="status origin-settings-global">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price origin-settings-global">
			<span class="item-price otkprice ng-binding">$49.99</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Star Wars™ Battlefront™</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$49.99</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$49.99</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$49.99</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>

			<origin-settings-order-list listid="id01" itemdate="2/5/2015" itemtitle="Need for Speed™ Rivals: Complete Edition" itemnumber="1012352718901" itemstatus="Completed" itemparice="$29.99" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date origin-settings-global">
			<h4 class="item-date otkc origin-settings-global"><strong class="ng-binding">2/5/2015</strong></h4>
		</div>
		<div class="description 01 origin-settings-global">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed origin-settings-global"></a>

			<p class="origin-settings-p item-title otkc origin-settings-global"><strong class="ng-binding">Need for Speed™ Rivals: Complete Edition</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">1012352718901</strong></span>
		</div>
		<div class="status origin-settings-global">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price origin-settings-global">
			<span class="item-price otkprice ng-binding">$29.99</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Need for Speed™ Rivals: Complete Edition</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$29.99</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$29.99</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$29.99</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>

			<origin-settings-order-list listid="id02" itemdate="25/9/2014" itemtitle="Battlefield 4™ Premium Edition" itemnumber="1000918718901" itemstatus="Completed" itemparice="$39.99" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date origin-settings-global">
			<h4 class="item-date otkc origin-settings-global"><strong class="ng-binding">25/9/2014</strong></h4>
		</div>
		<div class="description 01 origin-settings-global">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed origin-settings-global"></a>

			<p class="origin-settings-p item-title otkc origin-settings-global"><strong class="ng-binding">Battlefield 4™ Premium Edition</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">1000918718901</strong></span>
		</div>
		<div class="status origin-settings-global">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price origin-settings-global">
			<span class="item-price otkprice ng-binding">$39.99</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Battlefield 4™ Premium Edition</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$39.99</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$39.99</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$39.99</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>

			<origin-settings-order-list listid="id03" isopen="yes" itemdate="19/7/2014" itemtitle="The Sims™ 4" itemnumber="1000919046901" itemstatus="Completed" itemparice="$49.99" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date origin-settings-global">
			<h4 class="item-date otkc origin-settings-global"><strong class="ng-binding">19/7/2014</strong></h4>
		</div>
		<div class="description 01 origin-settings-global">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed origin-settings-global"></a>

			<p class="origin-settings-p item-title otkc origin-settings-global"><strong class="ng-binding">The Sims™ 4</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">1000919046901</strong></span>
		</div>
		<div class="status origin-settings-global">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price origin-settings-global">
			<span class="item-price otkprice ng-binding">$49.99</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">The Sims™ 4</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$49.99</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$49.99</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$49.99</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>

			<origin-settings-order-list listid="id04" itemdate="29/3/2014" itemtitle="Ultima™ 8 Gold Edition" itemnumber="18767352046901" itemstatus="Completed" itemparice="$1.00" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date origin-settings-global">
			<h4 class="item-date otkc origin-settings-global"><strong class="ng-binding">29/3/2014</strong></h4>
		</div>
		<div class="description 01 origin-settings-global">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed origin-settings-global"></a>

			<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Ultima™ 8 Gold Edition</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">18767352046901</strong></span>
		</div>
		<div class="status origin-settings-global">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price origin-settings-global">
			<span class="item-price otkprice ng-binding">$1.00</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Ultima™ 8 Gold Edition</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$1.00</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$1.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$1.00</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>


				<div class="more-content origin-settings-hide">
					<origin-settings-order-list listid="id05" itemdate="19/7/2014" itemtitle="Dragon Age™: Inquisition - Jaws of Hakkon" itemnumber="10009190462345" itemstatus="Completed" itemparice="$11.99" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date origin-settings-global">
			<h4 class="item-date otkc origin-settings-global"><strong class="ng-binding">19/7/2014</strong></h4>
		</div>
		<div class="description 01 origin-settings-global">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed origin-settings-global"></a>

			<p class="origin-settings-p item-title otkc origin-settings-global"><strong class="ng-binding">Dragon Age™: Inquisition - Jaws of Hakkon</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">10009190462345</strong></span>
		</div>
		<div class="status origin-settings-global">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price origin-settings-global">
			<span class="item-price otkprice ng-binding">$11.99</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Dragon Age™: Inquisition - Jaws of Hakkon</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$11.99</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$11.99</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$11.99</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>

					<origin-settings-order-list listid="id06" itemdate="29/3/2014" itemtitle="Dragon Age™ II" itemnumber="18767317246901" itemstatus="Completed" itemparice="$7.99" class="ng-isolate-scope"><script>
	$(document).ready(function(){
		$('div a.origin-settings-payment-show-details').on('click', function() {
			if ($(this).hasClass('open')) {
				$(this).removeClass('open');

			} else {
				$(this).addClass('open');
			}
		});
	});

	$(document).ready(function(){
		$('div.origin-settings-payment-order-list').on('click', function() {
			if ($('.origin-settings-payment-details').hasClass('details-open')) {
				$('.origin-settings-payment-details').removeClass('details-open');

			} else {
				$('.origin-settings-payment-details').addClass('details-open');
			}
		});
	});
</script>

<div class="">
	<div class="origin-settings-payment-order-list row origin-settings-global">
		<div class="date">
			<h4 class="item-date otkc"><strong class="ng-binding">29/3/2014</strong></h4>
		</div>
		<div class="description 01">
			<a href="#" class="otkc otkc-small otka origin-settings-payment-show-details closed"></a>

			<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Dragon Age™ II</strong></p>
			<span class="otktitle-4">Order # <strong class="ng-binding">18767317246901</strong></span>
		</div>
		<div class="status">
			<h4 class="item-status otkc origin-settings-global">
				<strong class="ng-binding">Completed
					<span data-toggle="otktooltip" data-placement="top" title="All items in this order have been digitally distributed or shipped." class="bubble-tip otkicon otkicon-help origin-settings-global"></span>
				</strong>
			</h4>
		</div>
		<div class="price">
			<span class="item-price otkprice ng-binding">$7.99</span>
		</div>
	</div><!-- close /origin-settings-payment-order-list - row -->

	<!-- Dropdow Detailes -->
	<div class="origin-settings-payment-details">
		<div class="origin-settings-payment-order-list">
			<div class="list date">
			</div>
			<div class="list description">
				<p class="origin-settings-p item-title otkc"><strong class="ng-binding">Dragon Age™ II</strong></p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">PC/Mac Download</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps origin-settings-hide">Qty: 1</p>
				<p class="origin-settings-p otktitle-5 otktitle-5-caps">$0.00</p>
			</div>
			<div class="list status">
				<h4 class="item-date otkc"><strong>Fufilled</strong></h4>
			</div>
			<div class="list price">
				<span class="item-price o-tkprice ng-binding">$7.99</span>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
		<div class="origin-settings-payment-order-list subtotal">
			<div class="list date">
			</div>
			<div class="list description">
				<a class="otkbtn otkbtn-light">File Great Game Guarantee</a>
			</div>
			<div class="list status subtotal">
				<p class="origin-settings-p otktitle-4">Subtotal</p>
				<p class="origin-settings-p otktitle-4">Tax</p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">Shipping &amp; Handling</p>
				<p class="origin-settings-p otktitle-4">Discount</p>
				<p class="origin-settings-p otktitle-4 total">Total</p>
			</div>
			<div class="list price subtotal">
				<p class="origin-settings-p otktitle-4 ng-binding">$7.99</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p  otktitle-4 origin-settings-hide">$0.00</p>
				<p class="origin-settings-p  otktitle-4">$0.00</p>
				<p class="origin-settings-p otktitle-4 total ng-binding">$7.99</p>
			</div>
		</div><!-- close /origin-settings-payment-order-list - row -->
	</div><!-- close /origin-settings-payment-details -->

</div><!-- end -->

</origin-settings-order-list>


				</div>

			<div class="loading loading-more" style="margin-bottom: 20px;">
				<div class="loader-text">
					<a style="cursor: pointer;" class="load-more otka">Load More Results</a>
				</div>
			</div>

			<div class="discover-loader origin-settings-hide" style=" padding: 0px 0px 25px 0px;">
				<loading textcolor="black" text="Loading More Results" class="ng-isolate-scope"><div class="loading">
	<div class="loader-text">
		<img src="../images/loader.png">
		<h5 class="otktitle-5 otktitle-5-caps ng-binding" ng-show="text">Loading More Results</h5>
	</div>
</div>
</loading>
			</div>


		</div><!-- closing order /origin-settings-payment-order-container -->
	</div>
</section>    
