
 <!-- Use nav tag if the pills are a significant navigation block,
use a div otherwise --> 
<nav class="otknavbar" role="navigation" ng-if="inClient" origin-authstatelistener>
    <div ng-if="isLoggedIn" class="origin-settings l-origin-section">
        <origin-pills nav-items='items' nav-click='OriginSettingsCtrl.navClick' selected-index='activeItemIndex'></origin-pills>

        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.application)}">
            <origin-settings-application></origin-settings-application>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.diagnostics)}">
            <origin-settings-diagnostics></origin-settings-diagnostics>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.installs)}">
            <origin-settings-installs></origin-settings-installs>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.notifications)}">
            <origin-settings-notifications></origin-settings-notifications>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.oig)}">
            <origin-settings-ingame></origin-settings-ingame>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.voice)}">
            <origin-settings-voice></origin-settings-voice>
        </section>

        <origin-control-toast  id="auto-save-toast" toasttype="simple" toasttitle="{{changeSavedStr}}" toasticon="otkicon-checkcircle" class="ng-isolate-scope"></origin-control-toast>

        <origin-settingsfooter-link link-html="{{footerStr}}" link-url="{{footerUrlStr}}" ng-hide="{{isUnderAge}}"></origin-settingsfooter-link>
    </div>
</nav>
