<div class="origin-settings-div">
    <div class="otktoggle origin-settings-toggle" ng-class="{'otktoggle-ison':togglecondition === 'true', 'otkbtn-disabled': toggledisabled}" ng-click="toggleactionlocal()">
        <span class="otktoggle-slide">
        	<a ng-show="togglecondition === 'true'" class="origin-settings-toggle-text origin-settings-toggle-text-on" ng-bind-html='::slideToggleOnLoc'></a>
        	<a ng-show="togglecondition === 'false'" class="origin-settings-toggle-text origin-settings-toggle-text-off" ng-bind-html='::slideToggleOffLoc'></a>
        </span>
    </div>
</div>
