<div class="origin-settings-clearfix">
	<section id="subscriptions" class="origin-settings-section origin-settings-account origin-settings-global">
			<header class="origin-settings-header origin-settings-clearfix">
				<div class="origin-settings-div origin-settings-div-main">
					<div class="origin-settings-wrap origin-settings-left">
						<h1 class="otktitle-2">Membership Information</h1>
					</div>
				</div><!-- close /section -->
				<div class="origin-settings-div origin-settings-div-side">
					<div class="origin-settings-wrap origin-settings-right">
						<p class="origin-settings-p origin-settings-auto-saved origin-settings-hide your-originhelp otkc otkicon otkicon-checkcircle">Saved</p>
					</div>
				</div><!-- close /section -->
			</header>
			<div class="origin-settings-details origin-settings-clearfix">
				<div class="origin-settings-div origin-settings-div-main">
					<div class="origin-settings-text-desc">
						<p class="origin-settings-p otkc origin-settings-global">Membership Status</p>
						<p class="origin-settings-p otktitle-4">Cancelled</p>
					</div>
				</div><!-- close /section -->

				<div class="origin-settings-div origin-settings-div-side">
					<div class="centered link">
					   <a href="#" class="otka">Renew</a>
					</div>
				</div>
			</div> <!-- row -->
			<div class="origin-settings-details origin-settings-clearfix">
				<div class="origin-settings-div origin-settings-div-main">
					<div class="origin-settings-text-desc">
						<p class="origin-settings-p otkc origin-settings-global">Expiration Date</p>
					</div>
				</div><!-- close /section -->

				<div class="origin-settings-div origin-settings-div-side">
					<div class="centered link">
					   <p class="origin-settings-p otkc origin-settings-global">December 24, 2014</p>
					</div>
				</div>
			</div> <!-- row -->


	</section>

	<section id="subscriptions" class="origin-settings-section origin-settings-security origin-settings-global">
			<header class="origin-settings-header origin-settings-clearfix">
				<div class="origin-settings-div origin-settings-div-main">
					<div class="origin-settings-wrap origin-settings-left">
						<h1 class="otktitle-2">Payment and Billing</h1>
					</div>
				</div><!-- close /section -->
				<div class="origin-settings-div origin-settings-div-side">
					<div class="origin-settings-wrap origin-settings-right">
						<p class="origin-settings-p origin-settings-auto-saved origin-settings-hide your-originhelp otkc otkicon otkicon-checkcircle">Saved</p>
					</div>
				</div><!-- close /section -->
			</header>
			<div class="origin-settings-details origin-settings-clearfix">
				<div class="origin-settings-div origin-settings-div-main">
					<div class="origin-settings-text-desc">
						<p class="origin-settings-p otkc origin-settings-global">Membership Plan</p>
						<p class="origin-settings-p otktitle-4"><strong>$9.99/Month</strong> (Next Billing on 07 12, 2015) </p>
					</div>
				</div><!-- close /section -->
				<div class="origin-settings-div origin-settings-div-side">
					<div class="centered link">
					   <a href="#" class="otka">Edit</a>
					</div>
				</div>
			</div> <!-- row -->

			<div class="origin-settings-details origin-settings-clearfix">
				<div class="origin-settings-div origin-settings-div-main">
					<div class="origin-settings-text-desc">
						<p class="origin-settings-p otkc origin-settings-global">Payment Method</p>
						<p class="origin-settings-p otktitle-4">Visa Ending in 1234</p>
					</div>
				</div><!-- close /section -->
				<div class="origin-settings-div origin-settings-div-side">
					<div class="centered link">
					   <a href="#" class="otka">Edit</a>
					</div>
				</div>
			</div> <!-- row -->


	</section>
</div>


