<section id="#voice" class="origin-settings-section origin-settings-clearfix">
	<header class="origin-settings-header origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::deviceSettingsLoc'></h1>
			</div>
		</div><!-- close /section -->
	</header>

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::selectMicLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::selectMicHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
			</div>
		</div><!-- close /section -->
		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-drop-select origin-settings-voice-devices">
				<span class="otkselect origin-settings-drop-select">
					<select name="setting-dropdown" class="microphone origin-settings-select" ng-model="selectedInputDevice" ng-change="commitSetting('selectedInputDevice')"
                        ng-options="inputDevice as inputDevice for inputDevice in inputDevices">
                    </select>
				</span>
			</div>

		</div><!-- close /section -->
	</div><!-- close /origin-settings-details - row -->

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main" style="width: 40%; border: 0px solid red;">
			<div class="origin-settings-text-desc">
				<p style=" margin-bottom: -2px;" class="origin-settings-p otkc origin-settings-global" ng-bind-html='::micVolumeLoc'></p>
			</div>
		</div>
		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-range-field">
	        	<span class="otkicon otkicon-mute"></span>
	        	<origin-slider init="{{microphoneVolume}}" class="microphone-volume" ng-model="microphoneVolume" ng-change="commitSetting('microphoneVolume')"></origin-slider>
	        	<span class="otkicon otkicon-microphone"></span>
	    	</div>
		</div>
	</div><!-- close /origin-settings-details - row -->

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::selectSpkrLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::selectSpkrHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
			</div>
		</div><!-- close /section -->

		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-drop-select origin-settings-voice-devices">
				<span class="otkselect origin-settings-drop-select">
					<select name="setting-dropdown" class="speakers origin-settings-select" ng-model="selectedOutputDevice" ng-change="commitSetting('selectedOutputDevice')"
                        ng-options="outputDevice as outputDevice for outputDevice in outputDevices">
                    </select>
				</span>
			</div>

		</div><!-- close /section -->
	</div><!-- close /origin-settings-details - row -->

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html='::sprkVolumeLoc'>
					<span class="origin-settings-hide otktitle-5 otktitle-5-caps">(<output for="speakers-volume" id="speakers-volume"></output>)</span>
				</p>
			</div>
		</div><!-- close /section -->
		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-range-field">
	        	<span class="otkicon otkicon-speaker"></span>
	        	<origin-slider init="{{speakerVolume}}" class="speaker-volume" ng-model="speakerVolume" ng-change="commitSetting('speakerVolume')"></origin-slider>
	        	<span class="speaker-levels">
	        		<span class="otkicon otkicon-speaker up"></span>
	        		<span class="otkicon otkicon-speakinglevels"></span>
	        	</span>
	    	</div>
		</div>
	</div>
</section>

<section id="#activation" class="origin-settings-section origin-settings-clearfix">
	<header class="origin-settings-header origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::captureSettingsLoc'></h1>
			</div>
		</div>
	</header>

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::captureModeLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::captureModeHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
			</div>
		</div>
		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-drop-select">
				<span class="otkselect origin-settings-drop-select">
					<select name="setting-dropdown" class="voiceactivation origin-settings-select" ng-init="enable_push_to_talk='true'" ng-model="enable_push_to_talk" ng-change="commitSetting('enable_push_to_talk')">
						<option value="false" ng-bind-html='::voiceActivateLoc'></option>
						<option value="true" ng-bind-html='::pushToTalkLoc'></option>
					</select>
				</span>
			</div>

		</div>
	</div>

	<div class="origin-settings-details origin-settings-clearfix ui-noerrormsg-adjust origin-settings-ingame-hkerror3" ng-show="enable_push_to_talk==='true'">
		<div class="origin-settings-div origin-settings-div-main" style="width: 40%; border: 0px solid red;">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::pushToTalkShortcutLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::pushToTalkShortcutHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
				<p class="origin-settings-p otktitle-4"><span ng-bind-html="::defaultShortcutLoc"></span> <strong ng-bind-html="::defaultPTTHotkeyLoc"></strong>.</p>
			</div>
		</div>

		<div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
			    <div class="otkinput otkinput" ng-show="pTTKeyNoError">
			        <input id="voice-pttKey" class="voice-pttKey" value="{{pushToTalkString}}" placeholder="" readonly="true">
			    </div>
			    <div class="otkinput otkinput-iserror" ng-hide="pTTKeyNoError">
			        <input id="voice-pttKey" class="voice-pttKey" value="{{pushToTalkString}}" placeholder="" readonly="true">
			    </div>
				<p class="otkinput-errormsg otkc" ng-hide="pTTKeyNoError">{{shortcutInUseLoc}}</p>
				<a href="javascript:void(0);" class="origin-settings-voice-test-microphone origin-settings-ptt otkc otkc-small otka">{{testMicLinkStr}}</a>
			</div>
		</div>
	</div>

	<!-- Microphone Sensitivity -->
	<div class="origin-settings-details origin-settings-clearfix" ng-show="enable_push_to_talk==='false'">
		<div class="origin-settings-div origin-settings-div-main" style="width: 40%">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::micSensitivityLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::micSensitivityHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
			</div>
		</div>

		<div class="origin-settings-div origin-settings-div-side microphone-sensitivity">
			<div class="origin-settings-range-field">
	        	<origin-slider init="{{voiceActivationThreshold}}" class="voice-activation-threshold" ng-model="voiceActivationThreshold" ng-change="commitSetting('voiceActivationThreshold')"></origin-slider>
	        	<span class="origin-settings-sensitivity-microphone otkicon otkicon-microphone"></span>
				<div class="mode-voice mike-test">
					<ul class="origin-settings-voice-audio-test">
						<li class="bar b0"></li>
						<li class="bar b1"></li>
						<li class="bar b2"></li>
						<li class="bar b3"></li>
						<li class="bar b4"></li>
						<li class="bar b5"></li>
						<li class="bar b6"></li>
						<li class="bar b7"></li>
						<li class="bar b8"></li>
						<li class="bar b9"></li>
						<li class="bar b10"></li>
						<li class="bar b11"></li>
						<li class="bar b12"></li>
						<li class="bar b13"></li>
						<li class="bar b14"></li>
						<li class="bar b15"></li>
						<li class="bar b16"></li>
						<li class="bar b17"></li>
						<li class="bar b18"></li>
						<li class="bar b19"></li>
						<li class="bar b20"></li>
					</ul>
				</div>
			</div>
			<a href="javascript:void(0);" class="origin-settings-voice-test-microphone origin-settings-va otkc otkc-small otka">{{testMicLinkStr}}</a>
		</div>
	</div>


	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html="::voiceChatIndLoc"></p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::voiceChatHintLoc}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
			</div>
		</div>
		<origin-settings-slide-toggle togglecondition="{{voice_chat_indicator}}" toggleaction="toggleSetting('voice_chat_indicator')" addclass="origin-settings-div origin-settings-div-side">
        </origin-settings-slide-toggle>
	</div>

	<!--div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::voiceChatWarnLoc}}
				<hint text="{{::voiceChatWarnHintLoc}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::voiceChatWarnHintLoc}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
			</div>
		</div>
		<div class="origin-settings-div origin-settings-div-side">
            <div class="otktoggle origin-settings-toggle" ng-class="{'otktoggle-ison':no_warning_voice_conflict}" ng-click="toggleSetting('no_warning_voice_conflict')">
                <span class="otktoggle-slide"></span>
            </div>
		</div>
	</div-->

</section>
