.dropdown
{
	display:inline-block;
	height:26px; overflow:visible;
	background-color:transparent; 
	background-image: url(../../images/uitoolkit/dropdown-arrow.png);
	background-repeat:no-repeat; background-position:right 13px, 0 0;
	padding-right: 19px;
	color:#666;
	font:bold 13px/26px helvetica,arial,sans-serif;
}
.dropdown:lang(ko),
.dropdown:lang(th),
.dropdown:lang(zh)
{
	font-family: inherit;
}

/* Fixes alignment issue on Mac that may be fixed with Qt 5. Revisit later */
body[data-platform="MAC"] #view-options > label > .dropdown
{
	background-position:right 11px, 0 0;
}

.dropdown > .label
{
	white-space:nowrap;
}

.dropdown-options
{
	position:absolute; display:none;
	top:-9999px; left:0; z-index:999;
	width:auto; max-height:250px; overflow-x:visible; overflow-y:auto;
	border-top:1px solid #D6D6D6; border-bottom-left-radius:5px; border-bottom-right-radius:5px; padding:0 0 6px 0;
	background-color:#FFF; box-shadow:1px 1px 6px rgba(0,0,0,0.6); clip:rect(0,9999px,9999px,-20px);
}
.dropdown-options > ul
{
	list-style-type:none;
	margin:0; padding:0;
}
.dropdown-options > ul > li
{
	width:auto; height:23px; overflow:hidden;
	margin:0; padding:1px 5px;
}
.dropdown-options > ul > li > span
{
	display:block;
	width:auto; height:23px; overflow:hidden;
	border-radius:3px; padding:0 5px;
	color:#444;
	font:normal 12px/24px helvetica,arial,sans-serif; white-space:nowrap;
	cursor:default;
}
.dropdown-options > ul > li > span:lang(ko),
.dropdown-options > ul > li > span:lang(th),
.dropdown-options > ul > li > span:lang(zh)
{
	font-family: inherit;
}
.dropdown-options > ul > li.disabled > span
{
	color: #9d9d9d;
}
.dropdown-options > ul > li:hover:not(.disabled) > span
{
	color:#FFF;
	background-color:#F90;
}
