#tooltip
{
	position:absolute; display:none;
	z-index:9999;
	overflow:visible;
	border-radius:3px; padding:9px 15px;
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #7C7C7C),
		color-stop(1, #4E4E4E)
	);
	color:#FFF;
	font:bold 12px/100% helvetica,arial,sans-serif;
}
#tooltip:lang(ko),
#tooltip:lang(th),
#tooltip:lang(zh)
{
	font-family: inherit;
}
#tooltip > .pointer
{
	position:absolute; display:block;
	left:50%; bottom:-9px; z-index:9999;
	width:16px; height:9px; overflow:hidden;
	margin-left:-8px;
	background:url(../../images/uitoolkit/tooltip-pointer.png) no-repeat 0 0;
}