
/*------------------------------------------------------------------
[Origin X Settings Main]

Project:    Origin X Settings Styles
Primary use:  Global Setting

-----------------------
	SCSS STRUCTURE
-----------------------

	A.Only Styles Related to Setting beyond this point
		1.Responsive
		2.Navigation - Settings
		3.Sections - Universal Styles for Setting Sections
		4.Section - Account (Profile)
		5.Section - Security & Privacy
		6.Section - Payments
		7.Section - Installs & Saves
		8.Section - Voice
		9.Section - Origin in-game
		10.Section - Origin Help
		11.Section - Footer

	B.Global Components styles to add or update
		B1.Footer

	C.Only Style Related to Single Row Elements

	D.OTK UPDATES

-------------------------------------------------------------------*/

.transform(@transform) {
    -moz-transform: @transform;
    -o-transform: @transform;
    -ms-transform: @transform;
    -webkit-transform: @transform;
    transform: @transform;
}

.origin-settings {
    // Fix a bug when the client zoom is less than 100%
    .media-min-width(@global-width-medium, {
        padding-left: @section-spacing-medium;
        padding-right: @section-spacing-medium;
    });
}

.origin-settings-section .origin-settings-div-side .origin-settings-drop-select.origin-settings-voice-devices {
    min-width: 300px;
}

@media only screen and (max-width: 900px) {
  /* line 82, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-details.has-drop .origin-settings-div-main {
    width: 100%;
  }

  /* line 88, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-details.has-drop .origin-settings-div-main .origin-settings-text-desc {
    .transform(none);
    top: 12px;
  }

  /* line 92, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-details.has-drop .origin-settings-div-side .origin-settings-drop-select {
    position: relative;
    .transform(none);
    top: 0;
    float: none;
  }
}
/* line 104, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-tabbed-section {
  padding-top: 0;
}

/* line 203, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section {
  width: 100%;
  background: white;
  transition: all .3s ease-out;
  box-shadow: 0 0 2px 0 rgba(30, 38, 44, 0.25);
  margin-top: 24px;
  padding: 24px;
  position: relative;
  .box-sizing(border-box);
  .media-min-width(@global-width-xlarge, {
        width: @global-content-width-xlarge;
    });
}

/* line 213, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div {
  float: left;
  min-height: 36px;
  padding: 0;
  margin-bottom: 0;
}

.origin-settings-installs-link {
    margin-top: 6px;
    float: right;
}
/* line 223, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc {
  position: absolute;
  top: 50%;
  bottom: auto;
  .transform(translateY(-50%));
}
/* line 227, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc .otkradio {
  position: relative;
  top: 6px;
}
/* line 232, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc .otktoggle {
  position: relative;
  top: 6px;
}
@media only screen and (max-width: 900px) {
  /* line 223, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div .origin-settings-text-desc {
    top: 12px;
    .transform(none);
  }
}

/* line 243, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc.payment {
  width: 80%;
}
/* line 245, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc.payment .paymentlogo {
  width: 40px;
  float: left;
}
/* line 250, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc.payment p {
    left: 50px;
    position: absolute;
    top: 50%;
    bottom: auto;
    .transform(translateY(-50%));
}
/* line 255, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc.payment p .otkprice-price {
  color: #f56c2d;
}
/* line 260, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div .origin-settings-text-desc.payment .icon-origin-logo {
  color: #f56c2d;
  font-size: 30px;
  padding: 6px;
  position: absolute;
  top: -21px;
  left: 0;
}

.origin-settings-path {
  font-size: 14px;
  border: 0;
  font-family: "Open Sans",sans-serif !important;
  font-weight: 400;
  width: 300px;
  color: #787D85 !important;
}
@media only screen and (max-width: 400px) {
  /* line 270, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-path {
    width: 215px;
  }
}

/* line 284, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details p {
  margin-bottom: 0;
}

/* line 287, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details .otktitle-4 {
  color: #787d85;
}

/* line 291, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details {
  position: absolute;
  padding-left: 6px;

  // Fix for ORCORE-4152:
  // Promote to a composite layer so that the dropdown box will repaint
  .transform(translateZ(0));
}

/* line 294, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side {
    width: 300px;
  float: right;
}
@media only screen and (max-width: 900px) {
  /* line 294, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side {
    width: 100%;
    float: left;
  }
  /* line 304, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side .otkform-group-field {
    margin-top: 18px;
  }
  /* line 308, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side > .otka {
    float: left;
    text-align: left;
  }
  /* line 313, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side > .otkbtn {
    margin-top: 18px;
  }
}
/* line 319, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side {
  .origin-settings-voice-test-microphone {
  float: right;
  }
  &.microphone-sensitivity {
    height: 72px;
  }
  .otka:hover {
    // Get rid of underline on hover
    background-image: none;
  }
}
/* line 326, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side > .otkbtn {
  float: right;
}

@media only screen and (max-width: 500px) {
  /* line 294, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side {
    width: 100%;
  }
  /* line 337, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side > .otka {
    float: left;
    text-align: left;
  }
}

/* line 344, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side.mode-voice {
  max-width: 280px;
}
/* line 348, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side.mode-voice > .otka {
  margin-top: 0;
}
/* line 352, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side.mode-voice > input {
  max-width: 250px;
  float: right;
}

/* line 357, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side > div {
    right: 0;
    position: absolute;
    top: 50%;
    bottom: auto;
    .transform(translateY(-50%));
}

.origin-settings-section .origin-settings-div-side > .origin-settings-div-side-expandtofill {
    position: relative;
    top: auto;
    .transform(none);
}

.origin-settings-section .origin-settings-div-side .mike-test {
    position: relative;
    top: -1px;
    left: -1px;
}

@media only screen and (max-width: 500px) {
  /* line 357, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side > div {
    position: relative;
    .transform(none);
    float: none;
  }
}

/* line 369, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side .origin-settings-drop-select {
  min-width: 240px;
  float: none;
  right: 0;
}

/* line 374, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side .otkform-group-field {
  width: 200px;
  float: right;
}
@media only screen and (max-width: 650px) {
  /* line 374, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-side .otkform-group-field {
    float: left;
  }
}

/* line 382, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-header .origin-settings-div.origin-settings-div-side .otkbtn {
  margin-top: -8px;
}

@media only screen and (max-width: 500px) {
  /* line 385, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-div-main {
    width: 100%;
  }
}

/* line 392, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .update {
  color: #787d85;
  text-align: right;
  display: none;
}

/* line 393, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.otkc.bubble-tip {
  font-size: 24px;
  color: #c3c6ce;
}

/* line 401, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.otkc .bubble-tip:hover {
  color: #787d85;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 406, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-header {
  position: relative;
  border-bottom: 1px solid rgba(195, 198, 206, 0.5);
  min-height: 48px;
  margin-top: -6px;
}

/* line 412, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section header .origin-settings-div-side {
  width: 30%;
}
/* line 415, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section header .origin-settings-div-side > .otka {
  float: right;
  text-align: right;
  margin-top: 6px;
}
@media only screen and (max-width: 500px) {
  /* line 412, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section header .origin-settings-div-side {
    width: 100%;
  }
  /* line 428, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section header .origin-settings-div-side > .otka {
    float: left;
    text-align: left;
  }
}

/* line 436, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-header-small {
  position: relative;
  border-bottom: 1px solid rgba(195, 198, 206, 0.5);
  min-height: 24px;
  color: #787d85;
}

/* line 442, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-header .origin-settings-wrap .otktitle-4 {
  margin-bottom: 12px;
  color: #787d85;
}

.origin-settings-section .origin-settings-wrap {
  width: 100%;
  padding: 0;
}

.origin-settings-section .origin-settings-wrap.origin-settings-right {
  right: 0;
}

.origin-settings-section .origin-settings-wrap.origin-settings-left {
  left: 0;
}

/* line 460, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.subscriptions.origin-settings-column {
  margin-bottom: 0;
}

/* line 463, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.origin-settings-column {
  margin-bottom: 18px;
  display: inline-block;
}

/* line 467, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.origin-settings-column-2 {
  min-height: 220px;
}
@media only screen and (min-width: 1000px) and (max-width: 1270px) {
  /* line 467, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 {
    min-height: 345px !important;
  }
  /* line 475, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 header .origin-settings-div-main, .origin-settings-section.origin-settings-column-2 .origin-settings-div-side {
    width: 100% !important;
  }
  /* line 478, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 header .origin-settings-div-side {
    float: left;
  }
  /* line 481, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 header .otka {
    float: left;
    text-align: left;
  }
  /* line 485, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 .origin-settings-details .input-info > .otkform-group {
    margin-left: 0;
    margin-top: 112px;
    position: relative;
    float: none;
    padding-left: 0;
    text-align: center;
  }
  /* line 493, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 .origin-settings-details .avatar {
    top: 18px;
    position: absolute;
    left: 50%;
    right: auto;
    .transform(translateY(-50%));
  }
}
@media only screen and (max-width: 750px) {
  /* line 500, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 header .origin-settings-div-side {
    float: right;
    text-align: right;
  }
}
@media only screen and (max-width: 500px) {
  /* line 507, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 header .origin-settings-div-side {
    float: left;
    text-align: left;
  }
}

/* line 514, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.origin-settings-column-2 {
  width: 49%;
  margin-right: 2%;
}
@media only screen and (max-width: 1000px) {
  /* line 514, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 550px) {
  /* line 514, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section.origin-settings-column-2 {
    width: 100%;
    margin-left: 0;
  }
}

/* line 529, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.origin-settings-column-2:last-child {
  margin-right: 0;
}

/* line 577, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.drpdwn .origin-settings-div-side > div:first-child {
  float: right;
  right: 0;
}


.origin-settings-div-main.origin-settings-notifications {
    width: 45%;
}
@media only screen and (max-width: 900px) {
    .origin-settings-div-main.origin-settings-notifications {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
    .origin-settings-div-main.origin-settings-notifications {
    width: 100%;
  }
}

.origin-settings-div.origin-settings-div-side-half-notifications {
  width: 140px;
  float: right;
  padding-left: 12px;
  padding-right: 0;
}
@media only screen and (max-width: 900px) {
    .origin-settings-div.origin-settings-div-side-half-notifications {
    width: 50%;
    padding-left: 0;
  }
    .origin-settings-div.origin-settings-div-side-half-notifications > .lable {
    position: relative;
    top: 12px;
    .transform(none);
  }
}


/* line 591, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side-half {
  width: 15%;
  padding-right: 12px;
}

.origin-settings-section .origin-settings-div-side-half:last-child {
	padding-right: 0;
	}

/* line 682, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side-half .lable {
    color: #787D85;
    position: absolute;
    top: 50%;
    bottom: auto;
    .transform(translateY(-50%));
}

/* line 687, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-div-side-half .origin-settings-wrap:nth-child(2) {
  margin-left: 100%;
}

/* line 691, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details {
  position: relative;
  border-bottom: 1px solid rgba(195, 198, 206, 0.5);
  padding: 12px 0;
}

/* line 696, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details.split .otkradio {
  float: right;
  top: 6px;
  right: 6px;
}

/* line 699, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details.split .otktoggle {
  float: right;
  top: 6px;
  right: 6px;
}

/* line 703, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details.split .radioLegacy {
  margin: 0;
  top: 10px;
}

/* line 708, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details.split {
  width: 49.8%;
  padding-right: 0;
  display: inline-table;
}

/* line 713, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-details.split .origin-settings-div-main {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}

/* line 719, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-details.split .origin-settings-div-side-half {
  width: 45%;
  display: inline-table;
  float: left;
  position: relative;
}

/* line 737, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section.profile .otkavatar.account {
  width: 160px;
  height: 160px;
}

/* line 743, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details .avatar {
  position: absolute;
  top: 18px;
}


/* line 754, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details .avatar > .otkavatar {
  width: 95px;
  height: 95px;
}

/* line 758, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details .input-info > .otkform-group {
  margin-left: 95px;
  margin-top: 6px;
  position: relative;
  float: left;
  margin-top: 11px;
  padding-left: 2%;
}
@media only screen and (max-width: 1000px) {
  /* line 758, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-details .input-info > .otkform-group {
    margin-top: 18px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 758, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-details .input-info > .otkform-group {
    margin-left: 0;
    margin-top: 112px;
    position: relative;
    float: none;
    padding-left: 0;
    text-align: center;
  }
}

/* line 785, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details .input-info.copy {
  padding-left: 4%;
  padding-right: 6px;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 795, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-section .origin-settings-details .user-info {
  padding-left: 0;
  padding-right: 6px;
  top: 50%;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 500px) {
  /* line 795, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
  .origin-settings-section .origin-settings-details .user-info {
  padding: 0;
  }
}

/* line 812, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
ul.origin-settings-blocked-list {
  list-style: none;
  position: relative;
  margin-top: 18px;
}

/* line 817, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
ul.origin-settings-blocked-list li {
  padding: 12px 0;
  border-top: 1px solid rgba(195, 198, 206, 0.5);
}

/* line 821, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
ul.origin-settings-blocked-list li .unblock {
  float: right;
  margin-top: 10px;
}

/* line 825, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-blocked-list-row {
  margin-left: 6px;
}

/* line 830, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment.otkdropdown-wrap.sort-otkdropdown {
  left: 84%;
}

/* line 833, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment.otkdropdown-wrap.from-otkdropdown {
  left: 81%;
}

/* line 838, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-sorting-orders .order-sort,
.origin-settings-payment-sorting-orders .order-from {
  display: inline-block;
  margin-left: 12px;
  float: right;
}

/* line 844, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-sorting-orders {
  position: relative;
  min-height: 40px;
  margin-left: 2px;
}

/* line 852, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-sorting-orders div:first-child {
  margin-right: 5px;
}

/* line 856, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings.otkform-group-field .bubble-tip.multipleinputs {
  right: -35px;
  font-size: 32px;
  top: 0;
}

/* line 861, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings.otkform-group-field .bubble-tip {
  font-size: 22px;
  color: #c3c6ce;
  padding-top: 6px;
  position: absolute;
  right: 0;
  top: -12px;
}
/* line 869, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings.otkform-group-field .bubble-tip:hover {
  color: #787d85;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 876, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details {
  display: none;
}

/* line 878, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-show-details.closed:after {
  content: 'Show Details';
}

/* line 879, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment--details.open:after {
  content: 'Hide Details';
}

/* line 880, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-show-details.closed.isopen-yes:after {
  content: 'Hide Details';
}

/* line 881, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-show-details.details-open.closed:after {
  content: 'Hide Details';
}

/* line 883, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details.details-open {
  margin-bottom: 12px;
  position: relative;
  background: #e1e3e7;
  border-bottom: 1px solid rgba(195, 198, 206, 0.5);
  display: block;
  -webkit-animation: moveInFromTop 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 2s 1;
  -moz-animation: moveInFromTop 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 2s 1;
  -o-animation: moveInFromTop 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 2s 1;
  animation: moveInFromTop 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 2s 1;
}
/* line 892, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details.details-open:before, .origin-settings-payment-details.details-open:after {
  content: "";
  position: absolute;
  left: 10.8%;
  width: 0;
  height: 0;
}
/* line 900, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details.details-open:before {
  top: -12px;
  margin-left: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #e1e3e7;
}
/* line 908, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details.details-open:after {
  top: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(225, 227, 231, 0.5);
}

/* line 916, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details .origin-settings-payment-order-list div {
  border-right: 0;
}

/* line 919, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list.details-open {
  border-bottom: 0;
}

/* line 924, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-details.isopen-yes {
  display: block;
}

/* line 928, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container .origin-settings-payment-order-list.isopen-yes {
  background: rgba(195, 198, 206, 0.1);
}

/* line 935, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-header {
  border-bottom: 1px solid rgba(195, 198, 206, 0.5);
  margin-bottom: 12px;
  color: #787d85;
  background: rgba(195, 198, 206, 0.2);
}

/* line 941, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid rgba(195, 198, 206, 0.5);
  border-right: 1px solid rgba(195, 198, 206, 0.5);
  border-left: 1px solid rgba(195, 198, 206, 0.5);
  margin-top: -1px;
}

/* line 952, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list.subtotal {
  border-top: 0;
}

/* line 956, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div {
  flex: 1;
  display: block;
  float: left;
  padding: 12px;
  border-right: 1px solid rgba(195, 198, 206, 0.5);
}

/* line 965, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div:last-child {
  border-right: 0;
}

/* line 968, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list h1 .otkicon-sort {
  font-size: 18px;
  line-height: 15px;
  float: right;
  cursor: pointer;
}

/* line 976, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.date {
  flex: 0;
  width: 12%;
  min-width: 100px;
  display: inline-table;
  position: relative;
}

/* line 983, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.description {
  flex: 0;
  width: 58%;
  display: inline-table;
}

/* line 988, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.description .item-title {
  width: 70%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

/* line 996, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.description .item-title > span {
  display: block;
}

/* line 999, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.description {
  float: right;
}

/* line 1003, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.status,
.origin-settings-payment-order-list:first-of-type div.price {
  flex: 0;
  width: 15.1%;
  display: inline-table;
  position: relative;
}

/* line 1009, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.status {
  min-width: 130px;
}

/* line 1010, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list:first-of-type div.price {
  min-width: 100px;
}

/* line 1011, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list.row {
  background: #edf1f2;
  background: rgba(195, 198, 206, 0.2);
}

/* line 1016, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list {
  flex: 1;
  display: block;
  float: left;
  color: #787d85;
  border-right: 1px solid rgba(195, 198, 206, 0.5);
  padding: 12px;
  min-height: 95px;
}

/* line 1027, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list.subtotal .list {
  min-height: 120px;
}

/* line 1030, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list:last-child {
  border-right: 0;
}

/* line 1033, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list.date {
  flex: 0;
  width: 12%;
  min-width: 100px;
  display: inline-table;
  position: relative;
}

/* line 1040, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list.description {
  flex: 0;
  width: 58%;
  display: inline-table;
  position: relative;
}

/* line 1046, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list.description .otkbtn {
  position: absolute;
  bottom: 12px;
}

/* line 1052, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list.status,
.origin-settings-payment-order-list .list.price,
.origin-settings-payment-order-list .list.pricedetails {
  flex: 0;
  width: 15.1%;
  display: inline-table;
  position: relative;
}

/* line 1058, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-list .list.subtotal p {
  padding-bottom: 5px;
}

/* line 1066, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container {
  color: #787d85;
}

/* line 1071, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container .origin-settings-payment-order-list:first-of-type .bubble-tip {
  font-size: 24px;
  color: #c3c6ce;
  padding-top: 6px;
  position: absolute;
  margin-left: 2px;
  top: 7px;
}
/* line 1079, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container .origin-settings-payment-order-list:first-of-type .bubble-tip:hover {
  color: #787d85;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 1084, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container .origin-settings-payment-order-list:first-of-type div {
  height: 73px;
}

/* line 1088, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container .origin-settings-payment-order-list.details-open div.date:before,
.origin-settings-payment-order-container .origin-settings-payment-order-list.details-open div.date:after {
  content: "";
  position: absolute;
  left: 6%;
  width: 0;
  height: 0;
}

/* line 1097, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-payment-order-container .origin-settings-payment-order-list.details-open div.date:after {
  top: 62px;
  left: 123px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
}

/* line 1107, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-file-input {
  position: relative;
  overflow: hidden;
}

/* line 1111, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-file-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

/* line 1125, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-file-input input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/* line 1132, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field {
}

/* line 1133, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field .otkicon:before {
  color: #c3c6ce;
  font-size: 25px;
}

/*SPEAKER*/
/* line 1143, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field .speaker-levels {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
}

/* line 1152, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field .otkicon.otkicon-speaker {
    top: 0;
    left: 0;
    .transform(rotate(180deg) scale(1) skew(1deg) translate(0));
}

.origin-settings-range-field .otkicon.otkicon-speaker.up {
    positin: absolute;
    top: 0;
    left: 0;
    .transform(rotate(180deg) scale(1) skew(1deg) translate(0));
}

/* line 1161, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field .otkicon.otkicon-speakinglevels {
    position: absolute;
    top: 0;
    left: 10px;
    .transform(rotate(180deg) scale(1) skew(1deg) translate(0));
}

/*MICROPHONE*/
/* line 1172, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field .otkicon.otkicon-mute {
  top: 0;
  left: 4px;
}

/* line 1176, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-range-field .otkicon.otkicon-microphone {
  top: 0;
  left: 4px;
}

.origin-settings-range-field > origin-slider {
  display: inline-block;
  position: relative;
  width: 250px;

  &.microphone-volume {
    top: 3px;
    left: 4px;
}
  &.speaker-volume,
  &.voice-activation-threshold {
    top: 3px;
    left: 0;
}
}

/* MICROPHONE SENSITIVITY */
.origin-settings-sensitivity-microphone.overThreshold.otkicon:before{
  color: #f56c2d;
}

/*AUDIO LEVELS*/
/* line 1263, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-voice-audio-test {
  padding: 0 0 0 3px;
  margin: 0;
  width: 100%;
  min-width: 252px;
  float: left;
}

.origin-settings-voice-audio-test li.bar {
  list-style-type: none;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  background: #c3c6ce;
  float: left;
  left: 0 !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;

  &.lit {
    background: #2ac4f5 !important;
}

.origin-settings-voice-audio-test li.bar:nth-child(-n+6) {
    background: #2ac4f5 !important;
  }
}

.origin-settings-va {
  position: relative;
  top: 57px;
}

.origin-settings-ptt {
  position: relative;
  top: 10px;
}

.origin-settings-select.microphone,
.origin-settings-select.speakers,
.origin-settings-select.voiceactivation {
  text-overflow: ellipsis;
  padding-right: 28px;
  overflow: hidden;
  white-space: nowrap;
}

/* line 1454, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-auto-saved.hide {
  -webkit-animation: 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 0;
  -moz-animation: 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 0;
  -o-animation: 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 0;
  animation: 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 0;
}

/* line 1457, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-auto-saved.moveInFromRight {
  -webkit-animation: moveInFromRight 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 1;
  -moz-animation: moveInFromRight 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 1;
  -o-animation: moveInFromRight 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 1;
  animation: moveInFromRight 1.1s cubic-bezier(0.03, 1, 0.2, 1) 1, origin-settings-fader 1s 1;
}

/* line 1461, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-p.auto-saved {
  line-height: 24px;
  color: #04bd68;
  float: right;
  top: -6px;
}

/* line 1471, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-p.auto-saved:before {
  font-size: 32px;
  position: absolute;
  left: -32px;
  bottom: 0;
}


/* line 1504, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-select {
  font-family: "Open Sans",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #141b20;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #c3c6ce;
  z-index: 100;
}

/* line 1516, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.otkselect.origin-settings-drop-select:after {
  color: #141b20;
}

/* line 1555, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.otktoggle.origin-settings-toggle .otktoggle-slide:before, .otktoggle.origin-settings-toggle .otktoggle-slide:after {
  font-family: "Open Sans",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 28px;
  position: absolute;
}

/* line 1568, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.otktoggle.origin-settings-toggle .otktoggle-slide:before {
  color: #141b20;
  right: -29px;
  opacity: 0.5;
}

/* line 1573, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.otktoggle.origin-settings-toggle .otktoggle-slide:after {
  color: white;
  left: -25px;
}

.origin-settings-toggle-text {
  font-family: "Open Sans",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 28px;
  position: absolute;
}

.origin-settings-toggle-text-on {
  color: white;
  left: -25px;
}

.origin-settings-toggle-text-off {
  color: #141b20;
  right: -29px;
  opacity: 0.5;
}

/* line 1620, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings.otkform-group-field:first-child {
  margin-top: 0;
}

.origin-settings-hide {
  display: none !important;
}

.origin-settings-global {
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.origin-settings-global, .origin-settings-global:before, .origin-settings-global:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.origin-settings-account-otkc {
    padding: 0;
    margin-top: 0;
}


/* line 204, /Users/amata/Documents/git-origin/sass/../partials/_layout.scss */
.origin-settings-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 517, /Users/amata/Documents/git-origin/sass/../partials/_home.scss */
.origin-settings-column {
  float: left;
  display: inline;
}

/* line 522, /Users/amata/Documents/git-origin/sass/../partials/_home.scss */
.origin-settings-column:before,
.origin-settings-column:after {
  display: table;
  content: '';
}

/* line 526, /Users/amata/Documents/git-origin/sass/../partials/_home.scss */
.origin-settings-column:after {
  clear: both;
}

/* OFF for now - until blocked users are added
.notes-anchor {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #00b7ea;
  background-image: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
  background-image: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  background-image: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
  cursor: pointer;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 95;
  color: #fff;
  box-shadow: 1px 3px 7px 0 #333;
  font-weight: 600;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  padding: 10px 0 0 0 !important; }

.hide-notes .notes-anchor {
  display: none; }

.notes-anchor figure {
  font-size: 12px;
  line-height: 100%; }

.notes-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  padding: 20px;
  z-index: 10000000000000000;
  background: rgba(0, 126, 204, 0.95);
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out; }

.notes-container-expanded {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0); }

.notes-container-wrap {
  position: absolute;
  top: 100px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: auto;
}

.loading {
  margin: 20px auto;
  margin-bottom: 50px;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-animation-name: scaleIn;
  -webkit-animation-duration: .9s;
  -webkit-animation-timing-function: cubic-bezier(0.03, 1, 0.2, 1);
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
}

.loader-text {
  color: #787d85;
}

.loader-text img {
  margin: 10px auto;
  display: block;
  width: 31px;
  text-align: center;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
}
*/

.otkselect.origin-settings-drop-select > select {
  outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  z-index: 2;
  opacity: 1;
}


/* Modal Body Pill Nav Style */
/*
.otkmodal .otknav.otknav-pills:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(195, 198, 206, 0.5); }
*/

/* line 1519, /Users/amata/Documents/git-origin/sass/../partials/_gamelibrary.scss */
.origin-settings-tabbed-section {
  display: none;
  padding-top: 24px;
}

/* line 1524, /Users/amata/Documents/git-origin/sass/../partials/_gamelibrary.scss */
.origin-settings-tabbed-section.active-section {
  display: block;
  -webkit-animation: origin-settings-fader 1s ease-in-out 1;    /* slow the fade because the client will sometimes pop */
  -moz-animation: origin-settings-fader 0.3s ease-in-out 1;
  -o-animation: origin-settings-fader 0.3s ease-in-out 1;
  animation: origin-settings-fader 0.3s ease-in-out 1;
}

/* line 12, ../partials/_layout.scss */
.origin-settings-img {
  vertical-align: middle;
}


/* line 727, /Users/amata/Documents/git-origin/sass/../partials/_settings.scss */
.origin-settings-account {
  min-height: 220px;
  margin-bottom: 0px;
  width: 49%;
  margin-right: 2%;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  padding: 24px;
  float: left;
}

.origin-settings-security {
  min-height: 220px;
  margin-bottom: 0px;
  width: 49%;
  margin-right: 0px;
  margin-top: 24px;
  display: inline-block;
  position: relative;
  padding: 24px;
  float: left;
}

.origin-settings-payment {
  position: relative;
  width: 100%;
  padding: 24px;
  margin-top: 24px;
}


.origin-settings-details .input-info {
  float: left;
  position: relative;
  padding-left: 2%;
  margin-left: 95px;
  margin-top: 11px;
}

.origin-settings-security,
.origin-settings-account {
  .media-max-width(@width-mobile-small, {
      width: 100%;
    });
}

.origin-settings-icon-wrap {
    position: absolute;
    top: 0px;
    right: -27px;
}

.origin-settings-help-icon-adjust {
    position: absolute;
}

/* Keep the height the same as the 'voice activation' row.
   This prevents the height of the overall page to change
   when switching between 'voice activation' and 'push-to-talk',
   and, thus, preventing a crash in the client */
.ui-noerrormsg-adjust {
  height: 72px;
}

/* Increase the height so that we can fit the error message */
.ui-errormsg-adjust {
  height: 96px;
}


.origin-settings-footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 85%;
    max-width: 450px;
    color: @color-black;
    text-align: center;
}

.origin-settings-ingame-hkerror1,
.origin-settings-ingame-hkerror2,
.origin-settings-ingame-hkerror3 {
    min-height: 100px;
    .media-max-width(@settings-large-width, {
        min-height: 140px;
    });
    .media-max-width(@width-medium-desktop, {
        min-height: 180px;
    });
    .origin-settings-drop-select {
        .media-max-width(@settings-large-width, {
            max-width: 400px;
        });
        .media-max-width(@width-medium-desktop, {
            max-width: 240px;
        });
    }
}

.origin-offline-cta {
    margin-bottom: 40px;
}


// the warning for when you are in offline mode
// and you want to change the language but its
// disabled.

// i have to increase this specificity because of again the same shitty
// problem with targeting p tags.
.origin-settings-section .origin-settings-details .origin-settings-warning {
    margin-top:0;
    margin-bottom: 3px;
    padding-left: 30px;
}

.origin-settings-warning-icon {
    position: absolute;
    left: -6px;
    top: -5px;
    font-size: 36px;
    color: @color-orange;
}
