<div ng-if="type == 'primary'" class="origin-cta-primary">
    <button class="otkbtn otkbtn-primary" ng-disabled="disabled" ng-click="onBtnClick($event)">
        <i class="otkicon otkbtn-primary-icon {{::iconClass}}"></i>
        <div class="otkbtn-primary-text otktooltip-top">{{btnText}}<span class="otktooltip-arrow"></span></div>
    </button>
</div>
<div ng-if="type == 'secondary'" class="origin-cta-secondary">
    <a href="javascript:void(0)" class="origin-hometile-secondarycta" ng-click="onBtnClick($event)">{{btnText}}</a>
</div>
<a ng-if="type == 'round' && !btnText" class="otktileicon origin-store-video" href="javascript:void(0)" ng-click="onBtnClick($event)">
    <i class="otkicon otkicon-play"></i>
</a>

<div ng-if="type == 'round' && btnText" href="javascript:void(0)" ng-click="onBtnClick($event)" class="origin-store-carousel-secondarycta-container">
    <a class="otkicon otkicon-play origin-cta-textplay-icon" href="javascript:void(0)"></a>
    <a class="otka origin-store-carousel-secondarycta-playtext" ng-if="btnText" href="javascript:void(0)">{{ btnText }}</a>
</div>


<div ng-if="type == 'transparent'" class="origin-cta-secondary">
    <a href="javascript:void(0)" class="otkbtn otkbtn-transparent" ng-click="onBtnClick($event)">{{btnText}}</a>
</div>

<div ng-if="type == 'light'" class="origin-cta-secondary">
    <a href="javascript:void(0)" class="otkbtn otkbtn-light" ng-click="onBtnClick($event)">{{btnText}}</a>
</div>
