<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName"><a href="index.html"><?js= env.conf.templates.applicationName ?></a></h3>

    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">
    <?js
    this.nav.forEach(function (item) {
    ?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.longname) ?>
                <?js if (item.type === 'namespace') { ?>
                <span class="static">static</span>
                <?js } ?>
            </span>
            <ul class="members itemMembers">
            <?js
            if (item.members.length) {
            ?>
            <span class="subtitle">Members</span>
            <?js
                item.members.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="typedefs itemMembers">
            <?js
            if (item.typedefs.length) {
            ?>
            <span class="subtitle">Typedefs</span>
            <?js
                item.typedefs.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="methods itemMembers">
            <?js
            if (item.methods.length) {
            ?>
            <span class="subtitle">Methods</span>
            <?js

                item.methods.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
            <ul class="events itemMembers">
            <?js
            if (item.events.length) {
            ?>
            <span class="subtitle">Events</span>
            <?js
                item.events.forEach(function (v) {
            ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
            <?js
                });
            }
            ?>
            </ul>
        </li>
    <?js }); ?>
    </ul>
        <div id="logout" class="container" style="position: absolute; left: 50px">
        <button type="button" onclick="logout()">LOGOUT</button>  
    </div>
    <div id="login" class="container" style="position: absolute; left: 50px">
        <button type="button" onclick="login()">LOGIN</button>  
    </div>
    <script>
          var oauth = 'https://accounts.int.ea.com/connect/auth?response_type=token&scope=basic.identity+basic.persona+signin+offline&client_id=ORIGIN_PC&locale=en_US';
          var loc = window.location.origin + window.location.pathname;
          var dir = loc.substring(0, loc.lastIndexOf('/'));
          oauth += '&redirect_uri=';
          oauth += dir + '/login.html';

          var indiv = document.getElementById("login");
          var outdiv = document.getElementById("logout");

          if (Origin.auth.isLoggedIn()) {
              indiv.style.display = 'none';
              outdiv.style.display = '';

          } else {
              outdiv.style.display = 'none';
              indiv.style.display = '';

          }

          function login() {
              window.open(oauth, 'myWindow', 'width=200, height=100');
          }

          function logout() {
              var oauth = 'https://accounts.int.ea.com/connect/logout?client_id=ORIGIN_PC';
              var loc = window.location.origin + window.location.pathname;
              var dir = loc.substring(0, loc.lastIndexOf('/'));
              oauth += '&redirect_uri=';
              oauth += dir + '/logout.html';
              window.open(oauth, 'myWindow', 'width=200, height=100');
          }
          window.logoutCompleteCallback = function() {
              outdiv.style.display = 'none';
              indiv.style.display = '';
              window.parent.logoutCompleteCallback();
          }

          window.loginCompleteCallback = function() {
              indiv.style.display = 'none';

             window.open('busy.html', 'theFrame');
              Origin.auth.login();
              Origin.events.on(Origin.events.AUTH_SUCCESSRETRY, function() {
                  Origin.client.games.requestStatus();
                  Origin.xmpp.connect();
              })


          }
    </script>


</div>