//
// Game Tiles
// --------------------------------------------------

// Variables
// -------------------------

@badge-height: 30px;

// Game Tile
// -------------------------

.origin-gametile {
    width: 100%;
    position: relative;
    cursor: pointer;
    .box-shadow(@default-drop-shadow);
}
.no-touch .origin-gametile:hover {
    .box-shadow(@hover-drop-shadow);
    .transition(box-shadow 0.3s ease-in-out);
}

.origin-gametile-ishighlighted {
    .box-shadow(@highlight-drop-shadow);
    .transition(box-shadow 0.3s ease-in-out);
}

.origin-gametile-img {
    display: block;
    width: 100%;
}

.origin-gametile-isdisabled .origin-gametile-img {
    opacity: 0.3;
}

.origin-gametile-ismasked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @color-black;
    background: fade(@color-black, 90%);
}


// Top Violator (these should really be badges)
// -------------------------

.origin-game-badge {
    position: absolute;
    right: 0;
    top: 0;
    height: @badge-height;
    color: @color-white;
    padding: 3px 18px;
    background: @color-mediumnavy;
    background: fade(@color-mediumnavy, 85%);
    border-bottom-left-radius: 4px;
    z-index: 1;
    .box-sizing(border-box);
}

.origin-game-badge-new {
    background: @color-green;
    background: fade(@color-green, 85%);
}


// Textual Violators
// -------------------------
.l-origin-game-violator-wrapper {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: auto;
    z-index: 1;
}

.origin-game-icons-wrapper {
    .clearfix();
    position: relative;
    height: 28px;
    overflow: hidden;
}

.origin-game-icons-gradient {
    height: 40px;
    width: 100%;
}

.origin-game-icons-downloadable {
    .origin-game-icons-gradient {
        #gradient > .vertical(transparent, fade(@color-black, 50%));
    }
    .origin-game-icons-wrapper {
        #gradient > .vertical(fade(@color-black, 50%), fade(@color-black, 70%));
    }
}
.origin-game-icons-friendsplaying {
    .origin-game-icons-gradient {
        #gradient > .vertical(transparent, fade(@color-black, 30%));
    }

    .origin-game-icons-wrapper {
        #gradient > .vertical( fade(@color-black, 30%), fade(@color-black, 60%));
    }
}

.l-origin-game-friendsplaying-icon {
    float: right;
    margin-right: 12px;
}

.origin-game-friendsplaying-icon {
    color: @color-lightblue;
    font-size: 22px;
}

.origin-game-friendsplaying-icon-count {
    color: @color-lightblue;
    position: relative;
    top: -5px;
    left: -3px;
}

.l-origin-game-download-icon {
    float: left;
    margin-left: 1px;
}

.origin-game-download-icon {
    color: @color-lightnavy;
    font-size: 32px;
    top: -5px;
    cursor: pointer;
}

.l-origin-game-violator {
    position: relative;
    overflow: hidden;
}

.origin-game-violator {
    padding: 12px;
    background: fade(@color-black, 90%);
    color: @color-white;
}

.origin-game-violator-content {
    display: table;
}

.origin-game-violator-icon,
.origin-game-violator-text {
    display: table-cell;
    vertical-align: top;
}

.origin-game-violator-icon {
    .otkicon {
        font-size: 36px;
        position: absolute;
        top: 2px;
        left: 5px;
        color: @color-lightnavy;
    }

    .otkicon.red {
        color: @color-red;
    }

    .otkicon.yellow {
        color: @color-yellow;
    }
}

.origin-game-violator-text {
    margin: 0;
    padding-left: 32px;
}

.origin-game-violator-text .otkc {
    color: @color-white;
    font-size: @font-size-game-violator;
    line-height: 16px;
    font-weight: 400;
}


// Overlay
// -------------------------

.l-origin-gametile-overlay {
    .vertical-center();
    left: 0;
    right: 0;
    z-index: 1;
}

.origin-gametile-title {
    color: @color-white;
    margin: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 10px;
}

.origin-gametile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: @color-darknavy;
    background: fade(@color-black, 90%);
    .transition(all .3s ease-out);
}

.origin-gametile:hover {
    .origin-gametile-overlay {
        display: block;
        opacity: 1;
    }
    .otkbtn-primary {
        .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
    }
}

.origin-gametile-overlay-content {
    .position-center();
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

// Progress
// -------------------------

.origin-gameprogress {
    width: 102px;
    margin: 10px auto;
}

.l-progress-playable-status {
    text-align: center;
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    .progress-playable-status {
        display: inline-block;
        background-color: @color-mediumnavy;
        opacity: .8;
        color: @color-black;
        border-radius: 16px;
        padding: 2px 10px;
        font-size: 10px;
        &.playable {
            background-color: @color-green;
            opacity: 1;
        }
    }
}

.progress-error-count {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 12px;
    margin: 8px auto 0;
    position: absolute;
    width: 100%;
    color: @color-white;
    text-align: center;
    .text-overflow();
}
