<?xml version="1.0" encoding="utf-8"?>
<ApplicationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- <ProductID>409</ProductID> PROD_EXPORTER-->
	
	<ProductName>EA Access</ProductName>
	
	<!-- <Languages>ENG_US, GER_DE, ITA_IT, SPA_ES, LNG_LG</Languages> -->
	<Languages>CHS_CN, CHT_CN, CZE_CZ, DAN_DK, DUT_NL, ENG_GB, ENG_US, FIN_FI, FRE_FR, GER_DE, GRE_GR, HUN_HU, ITA_IT, JPN_JP, KOR_KR, NOR_NO, POL_PL, POR_BR, POR_PT, RUS_RU, SPA_ES, SPA_MX, SWE_SE, THA_TH</Languages>	
	<!-- <Platforms>PSP</Platforms> -->
	<Platforms>PC</Platforms>
	
	<OutputFormat>EA_ACCESS</OutputFormat>
	
	<!-- <P4Server>Pluto:1666</P4Server> -->
	
    	<EncodingFormat>UTF16</EncodingFormat>

	<SubmitToPerforce>false</SubmitToPerforce>
	
	<LocalDirectory_Binaries>./XML</LocalDirectory_Binaries>
	<LocalDirectory_Xls>.</LocalDirectory_Xls>
	
	<P4DestinationRootDir_Binaries>//CDBG/LanguageDB</P4DestinationRootDir_Binaries>
	<!-- leave empty to use the platform directory as the dir for binaries -->
	<P4DestinationPlatformSubDir_Binaries></P4DestinationPlatformSubDir_Binaries>
	
	<P4DestinationRootDir_Xls>//CDBG/LanguageDBxls</P4DestinationRootDir_Xls>
	<P4DestinationPlatformSubDir_Xls></P4DestinationPlatformSubDir_Xls>
	
	<CreateBinaries>false</CreateBinaries> <!-- Only applies to CDBG Output Format -->
	<CreateHeaderFiles>false</CreateHeaderFiles> <!-- Only applies to CDBG Output Format -->
	
	<T3dbExporterVersion>3.07.01</T3dbExporterVersion>
	
	<!--<ExportFormat>$(LocalDirectory_Xls)\$(Platforms)\$(ProductName).txt</ExportFormat>-->
	<!--<ExportFormat>$(LocalDirectory_Xls)\$(ProductName)\$(Platforms).txt</ExportFormat>-->
	<!--<ExportFormat>$(LocalDirectory_Xls)\$(Platforms).txt</ExportFormat>-->

	
	<!--
	<OneFilePerSubcategory>true</OneFilePerSubcategory>
	<Subcategories>fifa</Subcategories>
	<ParentCategoryStrings>Common</ParentCategoryStrings>-->
</ApplicationSettings>
