<?xml version="1.0"?>
<example>
<para>Build a project in different file.</para>
<code file="package.build">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <nant buildfile="buildfile.xml"/>
</project>
]]>
</code>
<para>Where <c>buildfile.xml</c> contains:</para>
<code file="buildfile.xml">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo message="Building project"/>
</project>
]]>
</code>
</example>
