<div class="origin-store-carousel-keyart-wrapper">
	<div class="origin-store-carousel-keyart-container">
		<div class="origin-store-carousel-keyart-slides"></div>
		<div ng-transclude class="origin-store-carousel-keyart-carousel origin-store-carousel-keyart-merch"></div>

		<div class="origin-store-carousel-keyart-carousel origin-store-carousel-keyart-solr">
			<origin-store-game-tile
				ng-repeat="ocdPath in ocdPaths track by $index"
				ocd-path="{{ ::ocdPath.path }}">
			</origin-store-game-tile>
		</div>
	</div>

	<div class="origin-store-carousel-keyart-controls" ng-class="{'origin-store-carousel-keyart-controls-disabled': pills == 1, 'origin-store-carousel-keyart-controls-dark': shade == 'dark'}">
		<i class="otkicon otkicon-leftarrowcircle origin-store-carousel-keyart-control" ng-click="slideCarousel('left')"></i>

		<div class="origin-store-carousel-keyart-controls-pills">
			<span 
				class="origin-store-carousel-keyart-controls-pill" 
				ng-repeat="pill in getPills(pills) track by $index" 
				ng-click="jumpSlide($index, true)"
				ng-class="{'origin-store-carousel-keyart-controls-pill-active': $index == activePill}">
			</span>
		</div>

		<i class="otkicon otkicon-rightarrowcircle origin-store-carousel-keyart-control" ng-click="slideCarousel('right')"></i>
	</div>
</div>