<section class="origin-store-carousel-keyart">
	<img ng-src="{{ ::background }}" alt="" class="origin-store-carousel-keyart-background" ng-if="background">

	<div class="origin-store-carousel-keyart-content" ng-style="{color: (shade)}" ng-if="logo || header || subtitle || ctaText && ctaHref">
		<img ng-src="{{ ::logo }}" alt="" class="origin-store-carousel-keyart-logo" ng-if="logo">
		<h1 class="otktitle-page origin-store-carousel-keyart-header" ng-bind-html="::strings.header" ng-if="header"></h1>
        <h2 class="otktitle-3 origin-store-carousel-keyart-subtitle" ng-bind-html="::strings.subtitle" ng-if="subtitle"></h2>
        <button 
        	class="otkbtn origin-store-carousel-keyart-cta" 
        	ng-class="{'otkbtn-transparent': ctaShade == 'light', 'otkbtn-dark': ctaShade == 'dark'}" 
        	ng-bind-html="::ctaText" 
        	ng-if="ctaText && ctaHref"
        	ng-click="gotoUrl()">
        </button>
	</div>

	<div ng-transclude></div>
</section>