<origin-home-consolidated>
    <origin-home-page-anonymous>
        <origin-home-recommended-area></origin-home-recommended-area>
        <origin-home-merchandise-area layouttype="two"></origin-home-merchandise-area>
    </origin-home-page-anonymous>
    <origin-home-page-loggedin>
        <origin-home-newcontentbanner refreshinterval="2" description="Refresh Me! Do it."></origin-home-newcontentbanner>
        <origin-home-newuser-area></origin-home-newuser-area>
        <origin-home-recommended-area></origin-home-recommended-area>
        <origin-home-merchandise-area layouttype="two"></origin-home-merchandise-area>
        <origin-home-discovery-area>
            <origin-home-discovery-bucket title="Discover Something New!">
                <origin-home-discovery-tile-config-recfriends priority="2500" diminish="500" limit="-1"></origin-home-discovery-tile-config-recfriends>
                <origin-home-discovery-tile-config-newdlc priority="2100" diminish="500" limit="-1"></origin-home-discovery-tile-config-newdlc>
                <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/BFH_CriminalsCloseup.jpg" description="Battlefield Hardline is the most popular game this week" placementtype="priority" placementvalue="1200">
                    <origin-home-discovery-tile-config-cta actionid="download-install-play" href="182288" description="Buy Me" type="primary"></origin-home-discovery-tile-config-cta>
                </origin-home-discovery-tile-config-programmable>
            </origin-home-discovery-bucket>
            <origin-home-discovery-bucket title="What Your Friends Are Doing">
                <origin-home-discovery-tile-config-ugfriendsplaying priority="1400" diminish="500" limit="-1"></origin-home-discovery-tile-config-ugfriendsplaying>
                <origin-home-discovery-tile-config-ogfriendsplaying priority="3000" diminish="0" limit="3"></origin-home-discovery-tile-config-ogfriendsplaying>
                <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_add_friends_long.jpg" description="Add more friends to see more content in this area." placementtype="priority" placementvalue="1">
                    <origin-home-discovery-tile-config-cta actionid="url-internal" href="/friendspage" description="Learn More" type="primary"></origin-home-discovery-tile-config-cta>
                </origin-home-discovery-tile-config-programmable>
            </origin-home-discovery-bucket>
            <origin-home-discovery-bucket title="What Is Happening In The Origin Community">
                <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/simcitybuildit.png" description="<strong>EXPLORE SIMCITY BUILDIT [INFOGRAPHIC]</strong>
                <br/>Welcome, Mayors! Three weeks ago, our Helsinki studio released SimCity BuildIt - an all-new version of SimCity for a new generation of players on smartphones and tablets." placementtype="position" placementvalue="1">
                <origin-home-discovery-tile-config-cta actionid="url-external" href="http://www.ea.com/simcity-buildit/" description="Create Your SimCity" type="primary"></origin-home-discovery-tile-config-cta>
            </origin-home-discovery-tile-config-programmable>
            <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_battlefield_hardline_battlefests2_blog.jpg" description="<strong>BATTLEFEST MISSONS</strong>
            <br>With Battlefest Season 2 in full swing, we can now challenge you to the first of two Community Missions prepared for the fest." placementtype="priority" placementvalue="1500">
                <origin-home-discovery-tile-config-cta actionid="download-install-play" href="76889" description="Download" type="primary"></origin-home-discovery-tile-config-cta>
                <origin-home-discovery-tile-config-cta actionid="url-external" href="http://www.battlefield.com/au/battlefield-4/news/battlefest-cops-mission-conquest-au" description="Learn More" type="secondary"></origin-home-discovery-tile-config-cta>
            </origin-home-discovery-tile-config-programmable>
            <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/bfh_hotwire_glades.jpg" description="<strong>BATTLEFIELD HARDLINE VIDEO</strong>
            <br>Live out your cops and criminal fantasy in Battlefield Hardline, the fastest Battlefield ever." placementtype="position" placementvalue="1">
                <origin-home-discovery-tile-config-cta actionid="play-video" href="www.youtube.com/embed/OfOEmtppbYE?rel=0&amp;www.youtube.co" description="Watch Video" type="primary"></origin-home-discovery-tile-config-cta>
                <origin-home-discovery-tile-config-cta actionid="url-external" href="http://battlefield.com/hardline" description="Learn More" type="secondary"></origin-home-discovery-tile-config-cta>
            </origin-home-discovery-tile-config-programmable>
            <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_simcity_2000_blog.jpg" description="<strong>SIM CITY 2000 IS ON THE HOUSE</strong>
            <br>One of the most beloved retro EA games is now available free." placementtype="priority" placementvalue="2">
                <origin-home-discovery-tile-config-cta actionid="direct-acquistion" href="/gameslibrary" description="Get It Now" type="primary"></origin-home-discovery-tile-config-cta>
                <origin-home-discovery-tile-config-cta actionid="pdp" href="/pdp" description="Learn More" type="secondary"></origin-home-discovery-tile-config-cta>
            </origin-home-discovery-tile-config-programmable>
            <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_sims_4_48_hr_blog.jpg" description="<strong>SIMS 4 GAME TIME</strong>
            <br>Are you ready to rule? The Sims 4 is now available with Origin Game Time, giving players 48 hours of free, unrestricted gameplay." placementtype="position" placementvalue="1">
                <origin-home-discovery-tile-config-cta actionid="direct-acquistion" href="/gamelibrary" description="Get It Now" type="primary"></origin-home-discovery-tile-config-cta>
                <origin-home-discovery-tile-config-cta actionid="url-external" href="https://www.origin.com/en-us/news/the-sims-4-game-time" description="Read More" type="secondary"></origin-home-discovery-tile-config-cta>
            </origin-home-discovery-tile-config-programmable>
            <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_fps_bundle_blog.jpg" description="<strong>FOUR GREAT GAMES. ONE GREAT PRICE.</strong>
            <br>Get in on the action with this bundle of intense games. Includes Battlefield 4, Dead Space 3, Mass Effect 3, and Medal of Honor Warfighter." placementtype="priority" friendslisttype="friendsOwned" friendstext="this is from cq friends text" friendspopouttitle="cq friends popout title" offerid="OFB-EAST:45210" placementvalue="2750" showprice="true">
                <origin-home-discovery-tile-config-cta actionid="purchase" href="/purchaselink" description="Save Now" type="primary"></origin-home-discovery-tile-config-cta>
                <origin-home-discovery-tile-config-cta actionid="url-external" href="https://www.origin.com/en-us/store/buy/ultimate-action-bundle/pc-download/bundle/standard-edition" description="Learn More" type="secondary"></origin-home-discovery-tile-config-cta>
            </origin-home-discovery-tile-config-programmable>
        </origin-home-discovery-bucket>
        <origin-home-discovery-bucket title="In Your Library">
            <origin-home-discovery-tile-config-ogrecentlyreleased priority="2900" diminish="0" limit="-1" dayssincerelease="365"></origin-home-discovery-tile-config-ogrecentlyreleased>
            <origin-home-discovery-tile-config-ogrecentlyplayed priority="2600" diminish="750" limit="-1" dayssinceplayed="6"></origin-home-discovery-tile-config-ogrecentlyplayed>
            <origin-home-discovery-tile-config-ognotplayedrecently priority="2200" diminish="1000" limit="3" notplayedlow="5" notplayedhigh="200"></origin-home-discovery-tile-config-ognotplayedrecently>
            <origin-home-discovery-tile-config-ogneverplayed priority="1500" diminish="200" limit="-1" neverplayedsince="0"></origin-home-discovery-tile-config-ogneverplayed>
        </origin-home-discovery-bucket>
    </origin-home-discovery-area>
    <origin-home-footer title="Looking for more?" description="The more you play games and the more you add friends, the better your recommendations will become."></origin-home-footer>
</origin-home-page-loggedin>
<origin-home-page-offline title="You are Off the Grid" description="Go online to see what your friends are playing, and learn about new content to keep your games fresh."></origin-home-page-offline>
</origin-home-consolidated>