<origin-gamelibrary-loggedin></origin-gamelibrary-loggedin>
<origin-gamelibrary-no-games-online>
    <origin-panelmessage title="Your game library is empty." description="Don't worry, we've got you covered. You can go to the store where you'll find a selection of free games, or choose from the options below."></origin-panelmessage>
    <origin-home-discovery-bucket title="&nbsp;" numinitialtiles="3">
        <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_simcity_2000_blog.jpg" description="&lt;strong&gt;SIM CITY 2000&lt;/strong&gt;&lt;br&gt;One of the most beloved retro EA games is now available free." placementtype="priority" placementvalue="1">
            <origin-home-discovery-tile-config-cta actionid="direct-acquistion" href="/gameslibrary" description="Get It Now" type="primary"></origin-home-discovery-tile-config-cta>
            <origin-home-discovery-tile-config-cta actionid="pdp" href="/pdp" description="Learn More" type="secondary"></origin-home-discovery-tile-config-cta>
        </origin-home-discovery-tile-config-programmable>
        <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/actions/tile_titanfall_long.png" description="&lt;strong&gt;TITANFALL&lt;/strong&gt;&lt;br&gt;Play Titanfall free for 48 hours with Origin Game Time." placementtype="priority" placementvalue="1">
            <origin-home-discovery-tile-config-cta actionid="direct-acquistion" href="OFB-EAST:109552105" description="Play" type="primary"></origin-home-discovery-tile-config-cta>
            <origin-home-discovery-tile-config-cta actionid="url-external" href="https://www.origin.com/en-ca/store/free-games/game-time" description="Learn More" type="secondary"></origin-home-discovery-tile-config-cta>
        </origin-home-discovery-tile-config-programmable>
        <origin-home-discovery-tile-config-programmable image="/content/dam/originx/web/app/home/discovery/programmed/tile_access_long.jpg" description="&lt;strong&gt;EA ACCESS&lt;/strong&gt;&lt;br&gt;Download and play EA's newest PC Games for just $9.99 a month. " placementtype="priority" placementvalue="1">
            <origin-home-discovery-tile-config-cta actionid="url-external" href="http://www.xbox.com/en-CA/entertainment/xbox-one/live-apps/ea-access" description="Learn More" type="primary"></origin-home-discovery-tile-config-cta>
        </origin-home-discovery-tile-config-programmable>
    </origin-home-discovery-bucket>
</origin-gamelibrary-no-games-online>
<origin-gamelibrary-no-games-offline>
    <origin-panelmessage title="Your game library is empty." description="Go online to purchase your first game or check out our selection of free games."></origin-panelmessage>
</origin-gamelibrary-no-games-offline>
<origin-gamelibrary-anonymous>
    <origin-panelmessage title="Games Library Unavailable" description="Please login to view your games."></origin-panelmessage>
</origin-gamelibrary-anonymous>