<div ng-show="isLoading">
    <!-- loading state -->
</div>
<div ng-show="!isLoading">
    <div ng-show="!isOnline && isAuth">
        <origin-profile-offline></origin-profile-offline>
    </div>
    <div ng-show="!isAuth">
        <origin-profile-anonymous></origin-profile-anonymous>
    </div>
    <div ng-show="isOnline && isAuth">
        <origin-profile-header nucleusid="{{nucleusId}}"></origin-profile-header>
        <origin-profile-tabs ng-show="!isBlocked && !isPrivate" nucleusid="{{nucleusId}}"></origin-profile-tabs>
        <origin-profile-blocked ng-show="isBlocked" nucleusid="{{nucleusId}}"></origin-profile-blocked>
        <origin-profile-private ng-show="!isBlocked && isPrivate"></origin-profile-private>
    </div>
</div>

