<!-- Made with the actual content from the CMS -->
<section>
    <div class="l-origin-navigation">
        <nav class="origin-navigation" role="navigation">
            <origin-shell-main-menu>
                <origin-shell-menu-item title="Discover" section="home" href="app.home_home">
                </origin-shell-menu-item>
                <origin-shell-menu-item title="Store" section="store" href="app.store">
                    <origin-shell-submenu-item title="Browse Games" section="store.search" href="app.store.wrapper.freegames">
                        <origin-shell-popoutmenu-item title="PC Best Sellers" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="All PC Games" section="store.search" href="app.home_home">
                            <origin-shell-popoutmenu-item title="Battlefield 3" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Battlefield 4" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Battlefield Hardline" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Expansion Packs" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Downloadable Content" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="What is Battlefield?" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                        </origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="Battlefield" section="store.search" href="app.home_home">
                            <origin-shell-popoutmenu-item title="Battlefield 3" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Battlefield 4" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Battlefield Hardline" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Expansion Packs" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="Downloadable Content" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                            <origin-shell-popoutmenu-item title="What is Battlefield?" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                        </origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="The Sims" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="Dragon Age" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="FIFA" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="Need for Speed" section="store.search" href="app.home_home"></origin-shell-popoutmenu-item>
                    </origin-shell-submenu-item>
                    <origin-shell-submenu-item title="Free Games" section="store.freegames" href="app.store.wrapper.freegames">
                        <origin-shell-popoutmenu-item title="On The House" section="store.onthehouse" href="app.store.wrapper.onthehouse"></origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="Game Times" section="store.gametime" href="app.store.wrapper.gametime"></origin-shell-popoutmenu-item>
                        <origin-shell-popoutmenu-item title="Demos and Betas" section="store.demosbetas" href="app.store.wrapper.demosbetas"></origin-shell-popoutmenu-item>
                    </origin-shell-submenu-item>
                </origin-shell-menu-item>
                <origin-shell-menu-item title="Game Library" section="gamelibrary" href="app.game_gamelibrary"></origin-shell-menu-item>
                <origin-shell-menu-item title="Download Origin" section="download" href="app.home_home"></origin-shell-menu-item>

                <origin-shell-footer-menu-loggedin>
                    <origin-shell-menu-item title="View My Profile" disposition="hide" href="app.profile"></origin-shell-menu-item>
                    <origin-shell-menu-item title="Settings" disposition="hide" for="client" href="app.settings"></origin-shell-menu-item>
                    <origin-shell-menu-item title="Accounts and Orders" disposition="externalurlSSO" href="eaAccounts"></origin-shell-menu-item>
                    <origin-shell-menu-item title="Help" href="app.help"></origin-shell-menu-item>
                    <origin-shell-menu-item title="Sign Out" href="#/about" disposition="logout"></origin-shell-menu-item>
                    <origin-shell-menu-item>
                         <progress-manager-mini></progress-manager-mini>
                    </origin-shell-menu-item>
                </origin-shell-footer-menu-loggedin>

                <origin-shell-footer-menu-loggedout>
                    <origin-listitem>
                        <origin-cta-login type="primary" description="Login In"></origin-cta-login>
                    </origin-listitem>
                    <origin-listitem>
                        <origin-cta-register type="transparent" description="Register"></origin-cta-register>
                    </origin-listitem>
                    <origin-shell-divider></origin-shell-divider>
                    <origin-listitem>
                        <origin-cta-icon description="Language Preferences" href="app.store" icon="language" type="secondary"></origin-cta-icon>
                    </origin-listitem>
                </origin-shell-footer-menu-loggedout>
            </origin-shell-main-menu>
        </nav>
    </div>
</section>