<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.2.0">
	<name>NetPromoter</name>
	
	<feature name="http://widgets.dm.origin.com/features/interfaces/entitlementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/onlineStatus" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/telemetryClient" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/subscriptionManager" />

    <!-- Needed for box art -->
    <access origin="http://static.cdn.ea.com" />
    <access origin="https://eaassets-a.akamaihd.net" />
    <access origin="http://drh.img.digitalriver.com" />

	<content src="index.html" />
	<origin:link role="http://widgets.dm.origin.com/linkroles/netpromoter" template="/index.html{?offerId}" />
</widget>
