<example>
<para>Writes message with expanded macro to build log using the implicit text element.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo>Base build directory = ${nant.project.basedir}</echo>
</project>
]]>
</code>
</example>
