<origin-common-seo title-str="About Origin | Origin"
                   description="Learn more about origin!"
                   keywords="Origin, EA, EAX, ad infinitum"
                   author="EAX"
></origin-common-seo>

<origin-store-about-hero
        title-str="Play the games you love and connect with your friends, all in one place.">
    <origin-background-mediacarousel rotation-interval="20">
        <origin-background-mediacarousel-video ocd-path="/fifa/fifa-16/standard-edition" video-id="ItKkL4UFVOg" image-url="https://docs.x.origin.com/proto/images/backgrounds/fifa.png"></origin-background-mediacarousel-video>
        <origin-background-mediacarousel-video ocd-path="/battlefield/battlefield-4/standard-edition" video-id="QpnY1G3vt_0" image-url="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/bf44.jpg"></origin-background-mediacarousel-video>
        <origin-background-mediacarousel-image ocd-path="/star-wars/star-wars-battlefront/standard-edition" image-url="https://docs.x.origin.com/proto/images/keyart/dai.jpg"></origin-background-mediacarousel-image>
    </origin-background-mediacarousel>
</origin-store-about-hero>

<origin-store-about-anchor title-str="Play your way" anchor-icon="otkicon-originlogo" anchor-name="playyourway"></origin-store-about-anchor>
<origin-store-about-section-withbackground>
    <origin-store-about-section-content
            title-str="Play your way"
            subtitle="Buy, subscribe, or play for free. Awesome games, however you want 'em."
            text-color="light">
            <origin-store-about-tiles>
                <origin-store-about-tile title-str="Shop" tile-content="Score &lt;a href='#' class='otka'&gt;sweet deals&lt;/a&gt; in Origin's Store, and rest easy knowing you can return your purchases with the &lt;a href='#' class='otka'&gt;Great Game Guarantee&lt;/a&gt;. From Battlefield to The Sims, FIFA to Mass Effect and more, there’s something here for everyone"></origin-store-about-tile>
                <origin-store-about-tile title-str="Subscribe" tile-content="Enjoy an instant collection of great PC games, try new EA games before they’re released, and save 10% on your Origin purchases when you upgrade to&amp;nbsp;an Origin Access membership. All for one low monthly price. &lt;a href='#' class='otka'&gt;Learn More&lt;/a&gt;."></origin-store-about-tile>
                <origin-store-about-tile title-str="Free" tile-content="Play great PC games totally free with &lt;a href='#' class='otka'&gt;On the House&lt;/a&gt;, and try before you buy with &lt;a href='#' class='otka'&gt;game trials&lt;/a&gt;. As the age-old saying goes, the best things in life are free video games."></origin-store-about-tile>
            </origin-store-about-tiles>
    </origin-store-about-section-content>
    <origin-background-mediacarousel rotation-interval="20">
        <origin-background-mediacarousel-video ocd-path="/fifa/fifa-16/standard-edition" video-id="QpnY1G3vt_0" image-url="https://docs.x.origin.com/proto/images/backgrounds/fifa.png"></origin-background-mediacarousel-video>
    </origin-background-mediacarousel>
</origin-store-about-section-withbackground>

<origin-store-about-anchor title-str="PC gaming platform" anchor-icon="otkicon-mouse" anchor-name="pcgamingplatform"></origin-store-about-anchor>
<origin-store-about-section background-theme="light">
    <origin-store-about-section-content
            alignment="center"
            title-str="PC Gaming Platform"
            subtitle="Easily download, install, and play your PC games. Enjoy automatic updates, cloud saves, and more.">
        <origin-store-about-uniquesellingpointmodule>
            <origin-uniquesellingpoint-list>
                <origin-uniquesellingpoint-item title-str="Fast downloads" content="Origin downloads are optimized. Translation: They’re really, really fast. You can even play the newest games while they’re still downloading. Thanks, technology!"></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="Offline mode" content="Play your single-player games even when you don’t have access to the Internet. Sailing around the world? On a really, really long plane trip without Wi-Fi? No problem."></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="Cloud saves" content="Many of our games support cloud saves, perfect for when you want to play on a different PC, or when your hard drive has a case of the Mondays."></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="A single game library" content="Origin keeps all your PC games – no matter where you bought them – at the ready and in one place."></origin-uniquesellingpoint-item>
            </origin-uniquesellingpoint-list>
            <origin-store-about-fadedimage image="https://docs.x.origin.com/proto/images/origin-graphics/origin-x-library-screenshot.jpg"></origin-store-about-fadedimage>
        </origin-store-about-uniquesellingpointmodule>
    </origin-store-about-section-content>
</origin-store-about-section>

<origin-store-about-anchor title-str="Friends and community" anchor-icon="otkicon-coop" anchor-name="firendscommunity"></origin-store-about-anchor>
<origin-store-about-section>
    <origin-store-about-section-content
            alignment="center"
            title-str="Friends and community"
            subtitle="Play with your friends, stream to the world, and be a part of the Origin community.">
        <origin-store-about-uniquesellingpointmodule>
            <origin-uniquesellingpoint-list>
                <origin-uniquesellingpoint-item title-str="Fast downloads" content="Origin downloads are optimized. Translation: They’re really, really fast. You can even play the newest games while they’re still downloading. Thanks, technology!"></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="Offline mode" content="Play your single-player games even when you don’t have access to the Internet. Sailing around the world? On a really, really long plane trip without Wi-Fi? No problem."></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="Cloud saves" content="Many of our games support cloud saves, perfect for when you want to play on a different PC, or when your hard drive has a case of the Mondays."></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="A single game library" content="Origin keeps all your PC games – no matter where you bought them – at the ready and in one place."></origin-uniquesellingpoint-item>
            </origin-uniquesellingpoint-list>
            <origin-store-about-fadedimage image="https://docs.x.origin.com/proto/images/origin-graphics/origin-x-profile-screenshot.jpg"></origin-store-about-fadedimage>
        </origin-store-about-uniquesellingpointmodule>
    </origin-store-about-section-content>
</origin-store-about-section>

<origin-store-about-downloadorigin-anchor title-str="What are you waiting for?" anchor-icon="icon-customerservice" anchor-name="whatareyouwaitingfor"></origin-store-about-downloadorigin-anchor>
<origin-store-about-section-withbackground>
    <origin-store-about-section-content
          title-str="What are you waiting for?"
          subtitle="Download the Origin client, grab a soda (or tea, if that's your thing), and dig into that game you've been obsessing over. Sounds like a perfect day to us."
          text-color="light">
        <origin-store-about-tiles>
          <origin-store-about-downloadorigintile platform="windows" system-requirements="&lt;span class=&quot;otkc-small&quot;&gt;Windows Service Pack 2 or later&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;otkc-small&quot;&gt;1ghz Processor&lt;/span&gt; &#183; &lt;span class=&quot;otkc-small&quot;&gt;512mb of RAM&lt;/span&gt;" download-url="http://www.dm.origin.com/download"></origin-store-about-downloadorigintile>
          <origin-store-about-downloadorigintile platform="mac" system-requirements=" &lt;span class=&quot;otkc-small&quot;&gt;OSX 10.7 or later&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;otkc-small&quot;&gt;Intel Core 2 Duo&lt;/span&gt;" download-url="http://www.dm.origin.com/mac/download"></origin-store-about-downloadorigintile>
        </origin-store-about-tiles>
    </origin-store-about-section-content>
    <origin-background-mediacarousel rotation-interval="5">
        <origin-background-mediacarousel-image ocd-path="/star-wars/star-wars-battlefront/standard-edition" image-url="https://docs.x.origin.com/proto/images/keyart/dai.jpg"></origin-background-mediacarousel-image>
        <origin-background-mediacarousel-image ocd-path="/battlefield/battlefield-4/standard-edition" image-url="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/bf44.jpg"></origin-background-mediacarousel-image>
    </origin-background-mediacarousel>
</origin-store-about-section-withbackground>

<origin-store-about-anchor title-str="Pro customer service" anchor-icon="otkicon-ggg" anchor-name="helpwhenyouneedit"></origin-store-about-anchor>
<origin-store-about-section>
    <origin-store-about-section-content
        alignment="center"
        title-str="Pro customer service"
        subtitle="Need a hand? Our customer experience experts have got your back.">

        <origin-store-about-help>
            <origin-uniquesellingpoint-list>
                <origin-uniquesellingpoint-item title-str="Amazing customer service" content="Browse help topics or get help from a real, live person. &lt;a href=&quot;http://help.ea.com&quot; class=&quot;otka&quot;&gt;EA Advisors&lt;/a&gt; are ready to help and answer all your questions. (Except the one about the aardvark dream, we&#39;re at a loss.)"></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="No-risk return policy" content="We want you to love your new game. With &lt;a href=&quot;../about/_prototype_about_ggg.html&quot; class=&quot;otka&quot;&gt;Great Game Gaurantee&lt;/a&gt; if you don’t love it, just return it."></origin-uniquesellingpoint-item>
                <origin-uniquesellingpoint-item title-str="Have more questions?" content="You&#39;re not in this alone. Get answers from the worldwide community of players over at &lt;a href=&quot;http://help.ea.com&quot; class=&quot;otka&quot;&gt;Answer HQ&lt;/a&gt;."></origin-uniquesellingpoint-item>
            </origin-uniquesellingpoint-list>
            <origin-store-accordionlist>
                <origin-store-accordionlist-item topic="What kind of games can I download and play on Origin?"
                                               content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="What platforms can I use Origin on?"
                                               content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="How do I download Origin and create an EA Account?"
                                               content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="How do I subscribe to Origin Access?"
                                               content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Why buy with Origin?"
                                               content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Can I return games bought through Origin?"
                                                 content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Does Origin support cloud saves?"
                                                 content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Can I use Origin while offline?"
                                                 content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Does Origin offer any free games?"
                                                 content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Can I use Origin on more than one computer?"
                                                 content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
                <origin-store-accordionlist-item topic="Does Origin have a Twitter or Facebook page?"
                                                 content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
            </origin-store-accordionlist>
        </origin-store-about-help>

    </origin-store-about-section-content>
</origin-store-about-section>

<origin-store-about-socialmedia>
    <origin-store-about-socialmedia-item social-media-type="twitter" url="https://twitter.com/OriginInsider"></origin-store-about-socialmedia-item>
    <origin-store-about-socialmedia-item social-media-type="facebook" url="https://www.facebook.com/OriginInsider"></origin-store-about-socialmedia-item>
    <origin-store-about-socialmedia-item social-media-type="youtube" url="https://www.youtube.com/user/OriginInsider"></origin-store-about-socialmedia-item>
    <origin-store-about-socialmedia-item social-media-type="insider" url="https://www.origin.com/en-ca/news"></origin-store-about-socialmedia-item>
</origin-store-about-socialmedia>


