<origin-store-access-landing-hero
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large-light.png"
	header="Endless PC Gaming, Just %~Origin.OFR.50.0001171~%/month"
	description="Get unlimited access to an instant collection of great PC games, try new EA games before they're released, and save 10% on Origin purchases. Cancel anytime."
	legal="Only for PC"
	button-text="Join Origin Access"
	offer-id="Origin.OFR.50.0001171"
	speed="10000">

	<origin-store-access-landing-background
		background="https://docs.x.origin.com/proto/images/originaccess/titanfall-row-bg.jpg"
		foreground="https://docs.x.origin.com/proto/images/originaccess/titanfall-character.png">
	</origin-store-access-landing-background>

	<origin-store-access-landing-background
		background="https://docs.x.origin.com/proto/images/originaccess/starwars-row-bg.jpg"
		foreground="https://docs.x.origin.com/proto/images/originaccess/starwars-character.png">
	</origin-store-access-landing-background>

	<origin-store-access-landing-background
		background="https://docs.x.origin.com/proto/images/originaccess/dai-row-bg.jpg"
		foreground="https://docs.x.origin.com/proto/images/originaccess/dai-row-character.png">
	</origin-store-access-landing-background>

	<origin-store-access-landing-background
		background="https://docs.x.origin.com/proto/images/originaccess/bf4-row-bg.jpg"
		foreground="https://docs.x.origin.com/proto/images/originaccess/bf4-character.png">
	</origin-store-access-landing-background>
</origin-store-access-landing-hero>

<origin-store-access-landing-media
	video="syPqNTmupvY"
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
	header="Endless PC Gaming, Just %~Origin.OFR.50.0001171~%/month"
	description="Get unlimited access to an instant collection of great PC games, try new EA games before they're released, and save 10% on Origin purchases. Cancel anytime."
	legal="Only for PC"
	button-text="Join Origin Access"
	offer-id="Origin.OFR.50.0001171">
</origin-store-access-landing-media>

<origin-store-access-landing-media
	image="https://docs.x.origin.com/proto/images/originaccess/bf4-row-bg.jpg"
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
	header="Endless PC Gaming, Just %~Origin.OFR.50.0001171~%/month"
	description="Get unlimited access to an instant collection of great PC games, try new EA games before they're released, and save 10% on Origin purchases. Cancel anytime."
	legal="Only for PC"
	button-text="Join Origin Access"
	offer-id="Origin.OFR.50.0001171">
</origin-store-access-landing-media>

<origin-store-access-landing-prop
	header="The Vault"
	background="https://docs.x.origin.com/proto/images/originaccess/titanfall-row-bg.jpg"
	foreground="https://docs.x.origin.com/proto/images/originaccess/titanfall-character.png"
	logo="https://docs.x.origin.com/proto/images/originaccess/titanfall-logo.png"
	caption="Available in the Vault">

	<origin-store-access-list>
		<origin-store-access-item
			text="Members get unlimited access to The Vault, an instant collection of great PC games">
		</origin-store-access-item>

		<origin-store-access-item
			text="The Vault includes full versions of 15+ games">
		</origin-store-access-item>

		<origin-store-access-item
			text="More games are added over time">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-landing-prop>

<origin-store-access-landing-vaultlist
	header="Full Games Included In The Vault"
	more="Show More"
	less="Show Less"
	facet="subscriptionGroup:vault-games">
</origin-store-access-landing-vaultlist>

<origin-store-access-landing-prop
	header="Play First Trials"
	background="https://docs.x.origin.com/proto/images/originaccess/starwars-row-bg.jpg"
	foreground="https://docs.x.origin.com/proto/images/originaccess/starwars-character.png"
	logo="https://docs.x.origin.com/proto/images/originaccess/starwars-logo.png"
	caption="Play First Trial Now Available">

	<origin-store-access-list>
		<origin-store-access-item
			text="Get exclusive trials of new EA games, starting 5 days before they're released">
		</origin-store-access-item>

		<origin-store-access-item
			text="Real games, not demos">
		</origin-store-access-item>

		<origin-store-access-item
			text="Progress carries over if you buy">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-landing-prop>

<origin-store-access-landing-trialwrapper
	header="Available Play First Trials">
	<origin-store-access-landing-trialtile
		image="https://docs.x.origin.com/proto/images/originaccess/starwars-pft.png"
		ocd-path="/need-for-speed/need-for-speed/trial">
	</origin-store-access-landing-trialtile>
	<origin-store-access-landing-trialtile
		image="https://docs.x.origin.com/proto/images/originaccess/pvz-pft.jpg"
		ocd-path="/plants-vs-zombies/plants-vs-zombies-garden-warfare/standard-edition">
	</origin-store-access-landing-trialtile>
</origin-store-access-landing-trialwrapper>

<origin-store-access-landing-prop
	header="10% Member Discount"
	background="https://docs.x.origin.com/proto/images/originaccess/sims-row-bg.jpg"
	foreground="https://docs.x.origin.com/proto/images/originaccess/sims-character.png"
	logo="https://docs.x.origin.com/proto/images/originaccess/sims-logo.png"
	caption="Get 10% off The Sims 4 and more">

	<origin-store-access-list>
		<origin-store-access-item
			text="Automatically save 10% on Origin purchases">
		</origin-store-access-item>

		<origin-store-access-item
			text="Get the best price on DLC, new releases, Ultimate Team Points, and more">
		</origin-store-access-item>

		<origin-store-access-item
			text="The discount even applies to Origin sales and promotions">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-landing-prop>

<origin-store-access-landing-footer
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
	header="Endless PC Gaming Awaits"
	offer-id="Origin.OFR.50.0001171"
	button-text="Join Origin Access"
	legal="ONLY FOR PC">

	<origin-store-access-list>
		<origin-store-access-item
			text="Members get unlimited access to The Vault, an instant collection of great PC games">
		</origin-store-access-item>

		<origin-store-access-item
			text="The Vault includes full versions of 15+ games">
		</origin-store-access-item>

		<origin-store-access-item
			text="More games are added over time">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-landing-footer>

<origin-store-access-landing-legalwrapper>
	<origin-store-paragraph-contentsmall
		description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE FEATURES. EA ONLINE PRIVACY AND COOKIE POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. EA MAY RETIRE ONLINE FEATURES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.<br><br>IN-GAME STATUS AND ASSETS (IF ANY), WILL BECOME UNAVAILABLE UPON EXPIRATION OF THE ORIGIN GAME TIME TRIAL UNTIL THE GAME IS PURCHASED.">
	</origin-store-paragrapg-contentsmall>
</origin-store-access-landing-legalwrapper>