<origin-store-promo-offerdetails
    layout="hero"
    title="Early Access - Subscribers"
    text="Play the full version of great games for a limited time."
    image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_originaccess_playfirsttrials_@1x.jpg"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    bullet-one="Try upcoming games before they're released."
    bullet-two="Stats and progress carry over if you buy."
    origin-cq-targeting-item=""
    cq-targeting-subscribers="true">
</origin-store-promo-offerdetails>

<origin-store-row
	origin-cq-targeting-item=""
	cq-targeting-subscribers="true">
    <origin-store-freegames-program
        size="full"
        layout="left"
        ocd-path="/unravel/unravel/trial"
        offer-description-title="Join Yarny on an adventure"
        offer-description="Solve complex, physics-based puzzles. Try the first two levels today for up to 10 full hours with Origin Access.">
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row
    gradient="true"
    origin-cq-targeting-item=""
    cq-targeting-subscribers="true">
    <origin-store-freegames-program
        size="full"
        layout="right"
        ocd-path="/titanfall/titanfall/trial"
        offer-description-title="The battle has begun!"
        offer-description="Try the craziest, funniest shooter in the universe with Origin Access. Join and play 10 hours of the full game today.">
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row
	cq-targeting-subscribers="true"
	origin-cq-targeting-item=""
    title="FAQs"
    gradient="true"
    equal-content-height="true">
    <origin-store-oth-details width="half" title-str="Game Time on Origin. Free time with the full game" paragraph="You’ve heard the buzz on the forums, Twitter and Facebook. You’ve seen videos on YouTube. But you’re still not sure if this is the game for you. Sometimes the only way to know if you’ll love a game is to play it for yourself. That’s Game Time."></origin-store-oth-details>
    <origin-store-oth-details width="half" paragraph="Go ahead and try it on. Take a bite. Look under the hood. This is the full game so check out every feature and every option, and play for as long as the Game Time clock runs. And if you decide to buy? Your progress is saved so you can pick up right where you left off. Still have questions? Click here." title-str="Game Time is your time to play great games for free."></origin-store-oth-details>
</origin-store-row>

<origin-store-row
	cq-targeting-subscribers="true"
	origin-cq-targeting-item="">
    <origin-store-informational
        header-text="Looking for more?"
        header-text-size="medium"
        content="Check out trials...free time with the full game."
        href="store/free-games/trials"
        cta-text="Go to Trials">
    </origin-store-informational>
</origin-store-row>

<origin-store-access-trials-hero
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large-light.png"
	background="https://docs.x.origin.com/proto/images/originaccess/starwars-row-bg.jpg"
	foreground="https://docs.x.origin.com/proto/images/originaccess/starwars-character.png"
	header="Play Mirror's Edge&trade; Catalyst Now with Origin Access"
	platform="ONLY FOR PC"
	legal="Origin Access is %~Origin.OFR.50.0001171~%/month and includes other awesome benefits like access to The Vault and a 10% Origin-wide discount. Cancel anytime. <a href='store/origin-access'>Learn More About Origin Access</a>."
	button="Join Origin Access"
	offer-id="Origin.OFR.50.0001171"
	shade="light">
	<origin-store-access-list>
		<origin-store-access-item
			text="Play the game before it is released for six hours of in-game time.">
		</origin-store-access-item>
		<origin-store-access-item
			text="The real game, not a demo.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Progress carries over if you buy.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-trials-hero>

<origin-store-access-trials-hero
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
	background="https://docs.x.origin.com/proto/images/originaccess/pft-mirrorsedge-header-bg.jpg"
	foreground="https://docs.x.origin.com/proto/images/originaccess/starwars-character.png"
	header="Play Mirror's Edge&trade; Catalyst Now with Origin Access"
	platform="ONLY FOR PC"
	legal="Origin Access is %~Origin.OFR.50.0001171~%/month and includes other awesome benefits like access to The Vault and a 10% Origin-wide discount. Cancel anytime. <a href='store/origin-access'>Learn More About Origin Access</a>."
	button="Join Origin Access"
	offer-id="Origin.OFR.50.0001171"
	shade="dark"
	video="vOe3ik_RViE">
	<origin-store-access-list>
		<origin-store-access-item
			text="Play the game before it is released for six hours of in-game time.">
		</origin-store-access-item>
		<origin-store-access-item
			text="The real game, not a demo.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Progress carries over if you buy.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-trials-hero>

<origin-store-access-trials-mediaprop
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	background="https://docs.x.origin.com/proto/images/originaccess/pft-mirrorsedge-body-bg.jpg"
	header="Fight for Freedom in Mirror's Edge™ Catalyst"
	ocd-path="/mirrors-edge/mirrors-edge-catalyst/standard-edition"
	description="Ready to own the streets? Get behind the wheel of iconic cars and floor it through Ventura Bay, a sprawling urban playground. Explore overlapping stories as you build your reputation - and your dream car - and become the ultimate racing icon. Play again and again because this time, you have 5 distinct ways to win."
	shade="dark"
	prop-one-header="Optimized for PC"
	prop-one-description="Get an unlocked frame rate and experience Need for Speed at 4K resolution, only on PC. Plus, feel the thrill of street racing with steering wheel and peripheral support from a range of manufacturers including Logitech, Thrustmaster and Fanatec."
	prop-two-header="Rich authentic customization"
	prop-two-description="Build a car to reflect your character with extensive visual and performance customization options. Because your ride should look as good as it handles."
	prop-three-header="West Coast playground"
	prop-three-description="Discover Ventura Bay. From the dense city streets to the winding roads that lead you to the harbor and through the canyons, this is your home turf."
	prop-four-header="Play your way"
	prop-four-description="Need for Speed returns with 5 unique ways to play: Speed, Style, Build, Crew and Outlaw, enabling you to earn reputation and ultimately win your way.">
</origin-store-access-trials-mediaprop>

<origin-store-access-trials-hero
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large-light.png"
	background="https://docs.x.origin.com/proto/images/originaccess/pft-nfs-header-bg.jpg"
	foreground="https://docs.x.origin.com/proto/images/originaccess/starwars-character.png"
	header="Play Need For Speed&trade; Now with Origin Access"
	platform="ONLY FOR PC"
	legal="Origin Access is %~Origin.OFR.50.0001171~%/month and includes other awesome benefits like access to The Vault and a 10% Origin-wide discount. Cancel anytime. <a href='store/origin-access'>Learn More About Origin Access</a>."
	button="Join Origin Access"
	offer-id="Origin.OFR.50.0001171"
	shade="light"
	video="mVA63k_DPNg">
	<origin-store-access-list>
		<origin-store-access-item
			text="Play the game before it is released for six hours of in-game time.">
		</origin-store-access-item>
		<origin-store-access-item
			text="The real game, not a demo.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Progress carries over if you buy.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-trials-hero>

<origin-store-access-trials-mediaprop
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	background="https://docs.x.origin.com/proto/images/originaccess/pft-nfs-body-bg.jpg"
	header="Rediscover The Need For Speed"
	ocd-path="/need-for-speed/need-for-speed/standard-edition"
	description="Ready to own the streets? Get behind the wheel of iconic cars and floor it through Ventura Bay, a sprawling urban playground. Explore overlapping stories as you build your reputation - and your dream car - and become the ultimate racing icon. Play again and again because this time, you have 5 distinct ways to win."
	shade="light"
	prop-one-header="Optimized for PC"
	prop-one-description="Get an unlocked frame rate and experience Need for Speed at 4K resolution, only on PC. Plus, feel the thrill of street racing with steering wheel and peripheral support from a range of manufacturers including Logitech, Thrustmaster and Fanatec."
	prop-two-header="Rich authentic customization"
	prop-two-description="Build a car to reflect your character with extensive visual and performance customization options. Because your ride should look as good as it handles."
	prop-three-header="West Coast playground"
	prop-three-description="Discover Ventura Bay. From the dense city streets to the winding roads that lead you to the harbor and through the canyons, this is your home turf."
	prop-four-header="Play your way"
	prop-four-description="Need for Speed returns with 5 unique ways to play: Speed, Style, Build, Crew and Outlaw, enabling you to earn reputation and ultimately win your way.">
</origin-store-access-trials-mediaprop>

<origin-store-access-landing-trialwrapper
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	header="Other Available Play First Trials">
	<origin-store-access-landing-trialtile
		image="https://docs.x.origin.com/proto/images/originaccess/starwars-pft.png"
		ocd-path="/need-for-speed/need-for-speed/trial"
		link="store/origin-access/vault-games"
		header="header override"
		description="Enjoy %time% hours of trial time starting %date%.">
	</origin-store-access-landing-trialtile>
	<origin-store-access-landing-trialtile
		image="https://docs.x.origin.com/proto/images/originaccess/pvz-pft.jpg"
		ocd-path="/plants-vs-zombies/plants-vs-zombies-garden-warfare/standard-edition">
	</origin-store-access-landing-trialtile>
</origin-store-access-landing-trialwrapper>

<origin-store-access-trials-footer
	cq-targeting-subscribers="false"
	origin-cq-targeting-item=""
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
	header="Why Join Origin Access?"
	description="Just %~Origin.OFR.50.0001171~%/month. Cancel anytime."
	platform="ONLY FOR PC"
	link="Still not convinced? <a href='store/origin-access'>Learn More About Origin Access</a>."
	button="Join Origin Access"
	offer-id="Origin.OFR.50.0001171"
	video="syPqNTmupvY">

	<origin-store-access-trials-footerlist
		header="The Vault">
		<origin-store-access-list>
			<origin-store-access-item
				text="Members get unlimited access to The Vault, an instant collection of great PC games">
			</origin-store-access-item>
			<origin-store-access-item
				text="Includes full versions of 25+ titles. <a href='store/access/vault'>View The Vault</a>">
			</origin-store-access-item>
			<origin-store-access-item
				text="More games are added over time">
			</origin-store-access-item>
		</origin-store-access-list>
	</origin-store-access-trials-footerlist>

	<origin-store-access-trials-footerlist
		header="Exclusive Discount">
		<origin-store-access-list>
			<origin-store-access-item
				text="Get 10% off Origin purchases automatically.">
			</origin-store-access-item>
			<origin-store-access-item
				text="Save on DLC, new releases, third-party games and everything in between.">
			</origin-store-access-item>
			<origin-store-access-item
				text="Also applies to Origin sales and promotions.">
			</origin-store-access-item>
		</origin-store-access-list>
	</origin-store-access-trials-footerlist>
</origin-store-access-trials-footer>

<origin-store-access-landing-legalwrapper>
	<origin-store-paragraph-contentsmall
		description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE FEATURES. EA ONLINE PRIVACY AND COOKIE POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. EA MAY RETIRE ONLINE FEATURES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.<br><br>IN-GAME STATUS AND ASSETS (IF ANY), WILL BECOME UNAVAILABLE UPON EXPIRATION OF THE ORIGIN GAME TIME TRIAL UNTIL THE GAME IS PURCHASED.">
	</origin-store-paragrapg-contentsmall>
</origin-store-access-landing-legalwrapper>