<origin-store-access-interstitial
	header="Choose your membership plan"
	trial-header="Choose your trial membership plan"
	button-text="Next"
	trial-button-text="Start Trial"
	logo="https://docs.x.origin.com/proto/images/logos/OAlogoPRIMARYflatRGB_small.png"
	trial-description="You'll be charged monthly or yearly, depending on the plan you choose, after your 7 day free trial ends. Cancel any time."
	description="You'll be charged monthly or yearly, depending on the plan you choose. Cancel any time.">
	<origin-store-access-interstitialoffer
		offer-id="Origin.OFR.50.0001171"
		trial-offer-id="Origin.OFR.50.0000745"
		duration="per month">
	</origin-store-access-interstitialoffer>
	<origin-store-access-interstitialoffer
		offer-id="Origin.OFR.50.0000751"
		trial-offer-id="Origin.OFR.50.0000770"
		value="BEST VALUE"
		save="You Save 50%"
		highlight="true"
		duration="per year">
	</origin-store-access-interstitialoffer>
</origin-store-access-interstitial>