<h1 class='otktitle-page'>Store Hero Carousels</h1>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Subtitle Variations - no autorotate</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">Basic, With release date, With video, without pack art, without CTA</h3>
</origin-store-row>

<origin-store-carousel-hero
  auto-rotate="false"
  stationary-period="4000">
    <origin-store-promo-subtitle
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-dai2a.jpg"
      title="Dogfight to Victory"
      text="Own the sky in Fighter Squadron."
      href="app.store.wrapper.bundle-blackfriday"
      cta-text="Learn More"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      ocd-path="/dragonage/dragon-age-origins/standard-edition"
      show-packart="true">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      text="Own the sky in Fighter Squadron."
      href="app.store.wrapper.bundle-blackfriday"
      cta-text="Learn More"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      start-date="June 10 2015 00:00:00 PST"
      available-text="Available: %startDate%"
      ocd-path="/battlefield/battlefield-4/standard-edition"
      show-packart="true">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      text="Own the sky in Fighter Squadron."
      href="app.store.wrapper.bundle-blackfriday"
      videoid="wS7gfJqFoA"
      mature-content="true"
      cta-text="Learn More"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      ocd-path="/battlefield/battlefield-4/standard-edition"
      show-packart="true">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      text="Own the sky in Fighter Squadron."
      href="app.store.wrapper.bundle-blackfriday"
      cta-text="Learn More"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      text="Own the sky in Fighter Squadron."
      href="app.store.wrapper.bundle-blackfriday"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
    </origin-store-promo-subtitle>
</origin-store-carousel-hero>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Offer Details Variations (auto rotates)</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">Basic, With video, without pack art, without CTA</h3>
</origin-store-row>

<origin-store-carousel-hero
  auto-rotate="true"
  stationary-period="4000">
    <origin-store-promo-offerdetails
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      href="app.store.wrapper.bundle-blackfriday"
      cta-text="Learn More"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      ocd-path="/battlefield/battlefield-4/standard-edition"
      show-packart="true">
    </origin-store-promo-offerdetails>
    <origin-store-promo-offerdetails
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      href="app.store.wrapper.bundle-blackfriday"
      cta-text="Learn More"
      videoid="wS7gfJqFoA"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"      
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      ocd-path="/battlefield/battlefield-4/standard-edition"
      show-packart="true">
    </origin-store-promo-offerdetails>
    <origin-store-promo-offerdetails
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      href="app.store.wrapper.bundle-blackfriday"
      cta-text="Learn More"
      videoid="wS7gfJqFoA"
      mature-content="true"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      ocd-path="/battlefield/battlefield-4/standard-edition"
      show-packart="false">
    </origin-store-promo-offerdetails>
    <origin-store-promo-offerdetails
      layout="hero"
      image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
      title="Dogfight to Victory"
      href="app.store.wrapper.bundle-blackfriday"
      text="Dogfight to Victory"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
    </origin-store-promo-offerdetails>
</origin-store-carousel-hero>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Countdown Clock Variations </h2>
  <h3 class="otktitle-3 l-origin-store-column-full">Basic, Offer ended with message, Offer ended hide timer with message</h3>
</origin-store-row>

<origin-store-carousel-hero
  auto-rotate="false"
  stationary-period="4000">
    <origin-store-promo-timer
        layout="hero"
        image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
        title="Dogfight to Victory"
        cta-text="Learn More"
        href="app.store.wrapper.bundle-blackfriday"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/battlefield/battlefield-4/standard-edition"
        show-packart="true"
        goaldate="2016-12-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
    <origin-store-promo-timer
        layout="hero"
        image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
        title="Dogfight to Victory"
        href="app.store.wrapper.bundle-blackfriday"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/battlefield/battlefield-4/standard-edition"
        show-packart="true"
        goaldate="2015-02-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
    <origin-store-promo-timer
        layout="hero"
        image="https://docs.x.origin.com/proto/images/store/wide-bf4p.jpg"
        title="Dogfight to Victory"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        ocd-path="/battlefield/battlefield-4/standard-edition"
        show-packart="true"
        goaldate="2015-02-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="true">
    </origin-store-promo-timer>
</origin-store-carousel-hero>