<origin-store-row>
	<origin-store-paragraph-headertwo description="Compare Editions"></origin-store-paragraph-headertwo>
	<origin-store-pdp-comparison-table-wrapper
		title-str="Get the game, all five expansions, and more with Origin Access."
		subtitle="Origin Access also includes access to over 20 other great EA games for just $9.99/month."
		comparison-table-ocd-path1="/battlefield/battlefield-4/standard-edition"
		comparison-table-ocd-path2="/battlefield/battlefield-4/digital-deluxe-edition"
		comparison-table-ocd-path3="/battlefield/battlefield-4/premium-edition"
		flag="Most Popular">
		<origin-store-pdp-comparison-item
			title-str="Battlefield 4 Base Game"
			description="Experience the genre-defining action blockbuster made from moments found only in Battlefield."
			image="https://docs.x.origin.com/proto/images/posters/bf4_standard.jpg"
			check1="checked"
			check2="checked"
			check3="checked">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title-str="Battlefield 4 China Rising"
			description="Fight for dominance across the vast and majestic Chinese mainland in four massive maps, using all-new vehicles and high-tech military equipment."
			image="https://docs.x.origin.com/proto/images/posters/bf4-chinarising.jpg"
			check1="not-checked"
			check2="checked"
			check3="checked">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title-str="Battlefield 4 Premium"
			description="Get the edge on the battlefield. Premium membership awards a huge assortment of benefits."
			more="<br>Benefits include:<br><br><strong>All 5 Expansions:</strong> Get China Rising, Second Assault, Naval Strike, Dragon's Teeth, and Final Stand expansion packs.<br><br><strong>Priority Position:</strong> Gants priority position in the server queue, letting you get in the fight more quickly.<br><br><strong>Personalization Options:</strong> Appearance should be as unique as play style. Express your identity on the battlefield with Premium-exclusive camos, paints, emblems and dogtags.<br><br><strong>Weekly Content:</strong> Level up faster with Premium-exclusive Double XP events and get more out of Battlefield 4 with weekly updates of new content."
			image="https://docs.x.origin.com/proto/images/compare/bf4_premium.png"
			show-more="Show More"
			show-less="Show Less"
			check1="not-checked"
			check2="not-checked"
			check3="checked">
		</origin-store-pdp-comparison-item>

		<origin-store-pdp-comparison-item
			title-str="Battlepacks"
			description="Battlepacks are used for additional boosts such as rare weapons, gear and customizations only available to Premium members."
			image="https://docs.x.origin.com/proto/images/compare/bf4_battlepacks.png"
			check1="custom"
			check2="custom"
			check3="custom"
			check1value="3 Battlepacks"
			check2value="6 Battlepacks"
			check3value="9 Battlepacks">
		</origin-store-pdp-comparison-item>

	</origin-store-pdp-comparison-table-wrapper>
</origin-store-row>