<origin-store-promo-subtitle
      layout="hero"
      title="Download the Free Demo."
      text="The Best football game is even better. Try it for yourself."
      image="https://docs.x.origin.com/proto/images/heros/hero_fifa_@1x.jpg"
      cta-text="Get It Now"
      ocd-path="/fifa/fifa-16/standard-edition"
      show-packart="true"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)">
</origin-store-promo-subtitle>

<origin-store-row>
    <origin-store-productlist>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-16/demo"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/sims/the-sims-4/demo"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/simcity/simcity/trial"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/simcity/simcity/trial"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-manager-13/demo"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-14/demo"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-13/demo"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-4/trial"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/titanfall/titanfall/trial"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/koa/kingdoms-of-amalur-reckoning/trial"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/zumasrevenge/zumas-revenge/standard-edition"></origin-store-carousel-product-gameitem>
    </origin-store-productlist>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>

<origin-store-row>
  <origin-store-promo-subtitle
      layout="hero"
      title="Download the Free Demo."
      text="The Best football game is even better. Try it for yourself."
      image="https://docs.x.origin.com/proto/images/heros/hero_fifa_@1x.jpg"
      cta-text="Get It Now"
      ocd-path="/fifa/fifa-15/standard-edition"
      show-packart="true"
      >
  </origin-store-promo-subtitle>
</origin-store-row>

<origin-store-row>
    <origin-store-productlist type="compact">
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-15/ultimate-edition" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/sims/the-sims-4/demo" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-15/standard-edition" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/simcity/simcity/trial" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/masseffect/mass-effect-3/demo" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-manager-13/demo" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-14/demo" type="compact"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-4/trial" type="compact"></origin-store-carousel-product-gameitem>
    </origin-store-productlist>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>
