<origin-store-about-section-withbackground>
    <origin-store-download-section-content
            compatible-title-str="Get the latest version of Origin"
            compatible-subtitle="Download the Origin client, grab a soda (or tea, if that's your thing), and dig into that game you've been obsessing over. Sounds like a perfect day to us."

            incompatible-title-str="Available on Windows and Mac"
            incompatible-subtitle="Windows die-hard? Mac enthusiast? Either way, Origin's got you covered – enjoy awesome games, regardless of your preference."
            text-color="light">
        <origin-store-about-tiles>
            <origin-store-about-downloadorigintile platform="windows" system-requirements="&lt;span class=&quot;otkc-small&quot;&gt;Windows Service Pack 2 or later&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;otkc-small&quot;&gt;1ghz Processor&lt;/span&gt; &#183; &lt;span class=&quot;otkc-small&quot;&gt;512mb of RAM&lt;/span&gt;" download-url="http://www.dm.origin.com/download"></origin-store-about-downloadorigintile>
            <origin-store-about-downloadorigintile platform="mac" system-requirements=" &lt;span class=&quot;otkc-small&quot;&gt;OSX 10.7 or later&lt;/span&gt;&lt;br&gt;&lt;span class=&quot;otkc-small&quot;&gt;Intel Core 2 Duo&lt;/span&gt;" download-url="http://www.dm.origin.com/mac/download"></origin-store-about-downloadorigintile>
            <origin-store-about-tile title="What is Origin?" tile-content="Play the games you love and connect with your friends, all in one place.&lt;br&gt;&lt;a href=&quot;store/about&quot; class=&quot;otka&quot;&gt;Learn About Origin&lt;/a&gt;"></origin-store-about-tile>
        </origin-store-about-tiles>
    </origin-store-download-section-content>
    <origin-background-mediacarousel rotation-interval="5">
        <origin-background-mediacarousel-image ocd-path="/dragonage/dragon-age-origins/standard-edition" image-url="https://docs.x.origin.com/proto/images/keyart/dai.jpg"></origin-background-mediacarousel-image>
        <origin-background-mediacarousel-image ocd-path="/titanfall/titanfall/standard-edition" image-url="https://docs.x.origin.com/proto/images/backgrounds/titanfall-benner4.png"></origin-background-mediacarousel-image>
    </origin-background-mediacarousel>
</origin-store-about-section-withbackground>
