<origin-store-promo-subtitle-directentitlement
      layout="hero"
      title="Free Games on Origin"
      text="Put away your wallet and enjoy great games at no cost."
      image="https://docs.x.origin.com/proto/images/heros/hero_freegames_@1x.jpg"
      start-color="rgba(30, 38, 44, 0)"
      end-color="rgba(30, 38, 44, 1)"
      ocd-path="/battlefield/battlefield-4/trial"
      show-packart="true"
      cta-text="Get it now"
      start-date="2016-04-02T21:52:00Z"
      end-date="2016-04-28T21:52:00Z"
      available-text="Available: %startDate% - %endDate%"
>
</origin-store-promo-subtitle-directentitlement>

<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="left"
        title-str="On the House."
        subtitle="Download and start Game Time to experience the features and gameplay: check out modes, levels, and options and play as long as the Game Time is running!"
        href="free-games/on-the-house"
        description="Learn More"
        ocd-path="/simcity/simcity/trial"
        image="https://docs.x.origin.com/proto/images/backgrounds/simcity2.png"
        offersubtitle="What kind of city will you create?"
        offerdescription="You are an architect, cityplanner, Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue."
        start-color='rgba(30, 38, 44, 0)'
        end-color='rgba(30, 38, 44, 1)'
        >
    </origin-store-freegames-offermodule>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-module
        alignment="left"
        title-str="Demos & Betas"
        subtitle="Experience a game before it’s released, or get a sample of the final game. Betas   and demos are a great way to see what the games are all about."
        href="free-games/demos-betas"
        description="Learn More"
        image="https://docs.x.origin.com/proto/images/backgrounds/fifa.jpg"
        start-color='rgba(30, 38, 44, 0)'
        end-color='rgba(30, 38, 44, 1)'
        >
    </origin-store-freegames-module>
</origin-store-row>



<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="right"
        title-str="Game Time"
        subtitle="Game Time is your time to test drive the real game for absolutely no cost. xperience the features and gameplay: check out modes, levels, and options and play as long as the Game Time clock is running!"
        href="free-games/game-time"
        description="Learn More"
        ocd-path="/battlefield/battlefield-4/trial"
        image="https://docs.x.origin.com/proto/images/backgrounds/bf44.jpg"
        offersubtitle="Battlefield 4 Game Time is on!"
        offerdescription="Get one full week with Battlefield 4 for free. Join your friends for 64-player action."
        start-color='rgba(30, 38, 44, 0)'
        end-color='rgba(30, 38, 44, 1)'>
    </origin-store-freegames-offermodule>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="left"
        title-str="Demos & Betas"
        subtitle="Experience a game before it’s released, or get a sample of the final game. Betas and demos are a great way to see what the games are all about."
        href="free-games/demos-betas"
        description="Learn More"
        ocd-path="/fifa/fifa-15/demo"
        image="https://docs.x.origin.com/proto/images/backgrounds/fifa.jpg"
        offersubtitle="Download the FIFA 15 Demo"
        offerdescription="Feel the game. Try the Ignite Engine for free."
        start-color='rgba(30, 38, 44, 0)'
        end-color='rgba(30, 38, 44, 1)'
        >
    </origin-store-freegames-offermodule>
</origin-store-row>


<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>
