<origin-store-promo-subtitle
    layout="hero"
    title="It's Game Time"
    text="Play the full version of great games for a limited time."
    image="https://docs.x.origin.com/proto/images/heros/hero_gametime_@1x.jpg"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)">
</origin-store-promo-subtitle>

<origin-store-row>
    <origin-store-freegames-program
        size="full"
        layout="left"
        ocd-path="/battlefield/battlefield-4/premium-edition"
        image="https://docs.x.origin.com/proto/images/backgrounds/bf44.jpg"
        offer-description-title="Squad up with your friends"
        offer-description="64-player online firefights without spending a dime. This is the entire Battlefield 4 experience."
        screenshot1="https://docs.x.origin.com/proto/images/screenshots/bf4_01.jpg"
        screenshot2="https://docs.x.origin.com/proto/images/screenshots/bf4_02.jpg"
        screenshot3="https://docs.x.origin.com/proto/images/screenshots/bf4_03.jpg"
        screenshot4="https://docs.x.origin.com/proto/images/screenshots/bf4_04.jpg"
    >
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-program
        size="full"
        layout="right"
        ocd-path="/titanfall/titanfall/trial"
        image="https://docs.x.origin.com/proto/images/backgrounds/ultima.jpg"
        offer-description-title="Drop Titans on your friends for free"
        offer-description="Add Titanfall to your collection and start your Game Time whenever you're ready!"
        screenshot1="https://docs.x.origin.com/proto/images/screenshots/bf4_01.jpg"
        screenshot2="https://docs.x.origin.com/proto/images/screenshots/bf4_02.jpg"
        screenshot3="https://docs.x.origin.com/proto/images/screenshots/bf4_03.jpg"
        screenshot4="https://docs.x.origin.com/proto/images/screenshots/bf4_04.jpg"
    >



    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-program
        size="full"
        layout="left"
        ocd-path="/koa/kingdoms-of-amalur-reckoning/trial"
        image="https://docs.x.origin.com/proto/images/backgrounds/simcity2.png"
        offer-description-title="Rise from the dead"
        offer-description="As a reborn hero, sharpen your swords, and set off on an epic adventure in the open world of Amalur."
        screenshot1="https://docs.x.origin.com/proto/images/screenshots/bf4_01.jpg"
        screenshot2="https://docs.x.origin.com/proto/images/screenshots/bf4_02.jpg"
        screenshot3="https://docs.x.origin.com/proto/images/screenshots/bf4_03.jpg"
        screenshot4="https://docs.x.origin.com/proto/images/screenshots/bf4_04.jpg">
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row>
  <origin-store-oth-details width="half" title-str="Game Time on Origin. Free time with the full game" paragraph="You’ve heard the buzz on the forums, Twitter and Facebook. You’ve seen videos on YouTube. But you’re still not sure if this is the game for you. Sometimes the only way to know if you’ll love a game is to play it for yourself. That’s Game Time."></origin-store-oth-details>
  <origin-store-oth-details width="half" paragraph="Go ahead and try it on. Take a bite. Look under the hood. This is the full game so check out every feature and every option, and play for as long as the Game Time clock runs. And if you decide to buy? Your progress is saved so you can pick up right where you left off. Still have questions? Click here." title-str="Game Time is your time to play great games for free."></origin-store-oth-details>
</origin-store-row>


<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>

