<origin-store-carousel-keyart-hero
	header="Origin Summer Sale (hand merchandised) - %~Origin.OFR.50.0001171~%"
	subtitle="Get up to 50% off the best titles on Origin - %~Origin.OFR.50.0001171~%"
	background="https://docs.x.origin.com/proto/images/heros/hero_e3_bg.png"
	shade="#ffffff">
	<origin-store-carousel-keyart-carousel
		type="merch"
		shade="light">
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-3/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-4/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-hardline/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-keyart
			ocd-path="/battlefield/battlefield-1/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/battlefield1.jpg">
		</origin-store-game-keyart>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-hardline/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-4/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-3/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/titanfall/titanfall-2/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/titanfall/titanfall/deluxe-edition">
		</origin-store-game-tile>
	</origin-store-carousel-keyart-carousel>
</origin-store-carousel-keyart-hero>

<origin-store-carousel-keyart-hero
	logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
	subtitle="Get up to 50% off the best titles on Origin"
	background="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png"
	shade="#1e262c">
	<origin-store-carousel-keyart-carousel
		type="merch"
		shade="dark">
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-3/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-4/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-hardline/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-keyart
			ocd-path="/battlefield/battlefield-1/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/battlefield1.jpg">
		</origin-store-game-keyart>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-hardline/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-4/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/battlefield/battlefield-3/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/titanfall/titanfall-2/standard-edition">
		</origin-store-game-tile>
		<origin-store-game-tile
			ocd-path="/titanfall/titanfall/deluxe-edition">
		</origin-store-game-tile>
	</origin-store-carousel-keyart-carousel>
</origin-store-carousel-keyart-hero>

<origin-store-carousel-keyart-hero
	header="Origin Summer Sale (solr search)"
	subtitle="Get up to 50% off the best titles on Origin"
	cta-text="Learn More"
	cta-href="store/deals"
	shade="#ffffff">
	<origin-store-carousel-keyart-carousel
		type="solr"
		limit="6"
		offset="0"
		sort="rank"
		dir="desc"
		facet=""
		query="battlefield"
		shade="light">
	</origin-store-carousel-keyart-carousel>
</origin-store-carousel-keyart-hero>

<origin-store-carousel-keyart-hero
	shade="#ffffff">
	<origin-store-carousel-keyart-carousel
		type="merch"
		shade="light">

		<origin-store-game-keyart
			ocd-path="/battlefield/battlefield-1/trial"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/battlefield1.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/dragon-age/dragon-age-inquisition/standard-edition"
			override-vault="true"
			background="https://docs.x.origin.com/proto/images/keyart/fifa16.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/fifa/fifa-16/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/fifa16.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/star-wars/star-wars-battlefront/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/battlefront.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/battlefield/battlefield-1/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/battlefield1.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/plants-vs-zombies/plants-vs-zombies-garden-warfare/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/pvz.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/crysis/crysis-3/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/crysis3.jpg">
		</origin-store-game-keyart>

		<origin-store-game-keyart
			ocd-path="/mirrors-edge/mirrors-edge-catalyst/standard-edition"
			override-vault="false"
			background="https://docs.x.origin.com/proto/images/keyart/mirrorsedge.jpg">
		</origin-store-game-keyart>

	</origin-store-carousel-keyart-carousel>
</origin-store-carousel-keyart-hero>