<origin-store-access-nux-intro
    title-str="Your Origin Access membership starts now"
    logo="https://docs.x.origin.com/proto/images/logos/OAlogoPRIMARYflatRGB_small.png"
    btn="Lets Go!"
    description="You'll be billed monthly starting on %date%, until your Origin Access membership is cancelled. You can cancel you subscription any time here. After cancellation, you can continue to play until the end of your subscription period. If you'd like to view you account or make any changes, you can do so at any time by loggin into your EA Account.">
</origin-store-access-nux-intro>

<origin-store-access-nux-vault
    title-str="The Vault"
    description="Here are a few games we recommend to get you started."
    btn="Next"
    offer1="/battlefield/battlefield-hardline/ultimate-edition"
    offer2="/dragon-age/dragon-age-inquisition/digital-deluxe-edition"
    offer3="/this-war-of-mine/this-war-of-mine/standard-edition"
    offer4="/battlefield/battlefield-4/premium-edition">
</origin-store-access-nux-vault>

<origin-store-access-nux-trials
    title-str="Play First"
    description="Origin Access members can play up to 10 hours of new EA games free.<br>Available Now: Give %game% a try"
    btn="Next"
    trial="/need-for-speed/need-for-speed/trial"
    get-it-now="Get it Now!"
    image="https://qa.preview.assets.cms.origin.com/content/dam/eadam/N/NFS_16/185353/Screenshots/1033730_screenhi_930x524_gamescom_18.jpg">
</origin-store-access-nux-trials>

<origin-store-access-nux-discount
    title-str="Save 10% on Origin Purchases"
    description="Including full games, pre-orders, expansion packs, and more."
    btn="Start Playing"
    image="https://docs.x.origin.com/proto/images/originaccess/oa_discount.png">
</origin-store-access-nux-discount>
