<origin-store-promo-subtitle
  layout="hero"
  title="Free Games on Origin"
  text="Put away your wallet and enjoy great games at no cost."
  image="https://docs.x.origin.com/proto/images/heros/hero_onthehouse_@1x.jpg"
  videoid="wS7gfJqFoA"
  start-color="rgba(30, 38, 44, 0)"
  end-color="rgba(30, 38, 44, 1)"
  ocd-path="/battlefield/battlefield-4/standard-edition"
  show-packart="true">
</origin-store-promo-subtitle>

<origin-store-row equal-content-height="true" gradient="true">
    <origin-store-oth-program
            size="full"
            ocd-path="/ultima/ultima-viii-pagan/gold-edition"
            offer-description-title="Ultima 8: Pagan"
            offer-description="To find a way back home, you must become a Titan. The Guardian has tricked you, Avatar. After you defeated Batlin on Serpent's Isle, he banished you to Pagan, a world under his control.">
    </origin-store-oth-program>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headertwo description="'Half' details"></origin-store-paragraph-headertwo>
</origin-store-row>
<origin-store-row equal-content-height="true">
    <origin-store-oth-details width="half" paragraph="There's no catch. Grab full games, expansions and more at absolutely no cost. Just make sure to act fast because On the House specials can appear and disappear at any time." title-str="Free?! What's the Catch?"></origin-store-oth-details>
    <origin-store-oth-details width="half" paragraph="Nope. You’re getting a full version of the real game — for free!" title-str="You Mean a trial or Demo, Right?"></origin-store-oth-details>
</origin-store-row>


<origin-store-row>
    <origin-store-paragraph-headertwo description="'Third' details"></origin-store-paragraph-headertwo>
</origin-store-row>
<origin-store-row equal-content-height="true">
      <origin-store-oth-details width="third" paragraph="There's no catch. Grab full games, expansions and more at absolutely no cost. Just make sure to act fast because On the House specials can appear and disappear at any time." title-str="Free?! What's the Catch?"></origin-store-oth-details>
      <origin-store-oth-details width="third" paragraph="Nope. You’re getting a full version of the real game — for free!" title-str="You Mean a trial or Demo, Right?"></origin-store-oth-details>
      <origin-store-oth-details width="third" paragraph="Once you’ve claimed your game, it’s yours to keep!" title-str="How Long Will I Own the Game?"></origin-store-oth-details>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headertwo description="'Quarter' details"></origin-store-paragraph-headertwo>
</origin-store-row>
<origin-store-row equal-content-height="true">
      <origin-store-oth-details width="quarter" paragraph="%Origin.OFR.50.0000538% There's no catch. Grab full games, expansions and more at absolutely no cost. Just make sure to act fast because On the House specials can appear and disappear at any time." title-str="Free?! What's the Catch?"></origin-store-oth-details>
      <origin-store-oth-details width="quarter" paragraph="Nope. You’re getting a full version of the real game — for free!" title-str="You Mean a trial or Demo, Right?"></origin-store-oth-details>
      <origin-store-oth-details width="quarter" paragraph="Once you’ve claimed your game, it’s yours to keep!" title-str="How Long Will I Own the Game?"></origin-store-oth-details>
      <origin-store-oth-details width="quarter" paragraph="Our goal is to provide a great gaming experience and a way to discover awesome new games. Having a game in your library, for free, is a fantastic way to see what Origin is all about." title-str="Why is Origin Doing This?"></origin-store-oth-details>
</origin-store-row>


<origin-store-row>
    <origin-store-informational header-text="Check out our other great free games." content="this is a content" quote="Blah blah - blah" text-alignment="center" header-text-size="medium" href="store" cta-text="Learn More"></origin-store-informational>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>
