<origin-store-promo-offerdetails
    layout="hero"
    title="Early Access - Subscribers"
    text="Play the full version of great games for a limited time."
    image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_originaccess_playfirsttrials_@1x.jpg"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    bullet-one="Try upcoming games before they're released."
    bullet-two="Stats and progress carry over if you buy."
    origin-cq-targeting-item=""
    cq-targeting-subscribers="true">
</origin-store-promo-offerdetails>

<origin-store-promo-offerdetails
    layout="hero"
    title="Early Access - Non Subscribers"
    text="Play the full version of great games for a limited time."
    image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_originaccess_playfirsttrials_@1x.jpg"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    bullet-one="Try upcoming games before they're released."
    bullet-two="Stats and progress carry over if you buy."
    origin-cq-targeting-item=""
    cq-targeting-subscribers="false"
    cta-text="learn More">
</origin-store-promo-offerdetails>

<origin-store-row>
    <origin-store-freegames-program
        size="full"
        layout="left"
        ocd-path="/unravel/unravel/trial"
        offer-description-title="Join Yarny on an adventure"
        offer-description="Solve complex, physics-based puzzles. Try the first two levels today for up to 10 full hours with Origin Access.">
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row
    gradient="true">
    <origin-store-freegames-program
        size="full"
        layout="right"
        ocd-path="/titanfall/titanfall/trial"
        offer-description-title="The battle has begun!"
        offer-description="Try the craziest, funniest shooter in the universe with Origin Access. Join and play 10 hours of the full game today.">
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row
    title="FAQs"
    gradient="true"
    equal-content-height="true">
    <origin-store-oth-details width="half" title-str="Game Time on Origin. Free time with the full game" paragraph="You’ve heard the buzz on the forums, Twitter and Facebook. You’ve seen videos on YouTube. But you’re still not sure if this is the game for you. Sometimes the only way to know if you’ll love a game is to play it for yourself. That’s Game Time."></origin-store-oth-details>
    <origin-store-oth-details width="half" paragraph="Go ahead and try it on. Take a bite. Look under the hood. This is the full game so check out every feature and every option, and play for as long as the Game Time clock runs. And if you decide to buy? Your progress is saved so you can pick up right where you left off. Still have questions? Click here." title-str="Game Time is your time to play great games for free."></origin-store-oth-details>
</origin-store-row>

<origin-store-row>
    <origin-store-informational
        header-text="Looking for more?"
        header-text-size="medium"
        content="Check out trials...free time with the full game."
        href="store/free-games/trials"
        cta-text="Go to Trials">
    </origin-store-informational>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>
