<origin-store-promo-subtitle
    layout="hero"
    image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_originaccess_centered_@1x.jpg"
    href="app.store.wrapper.origin-access"
    start-color="rgba(255, 255, 255, 0)"
    end-color="rgba(255, 255, 255, 1)">
</origin-store-promo-subtitle>

<origin-store-row>
    <origin-store-paragraph-headertwo
        description="Origin Access FAQs"
        border="true">
    </origin-store-paragraph-headertwo>
    <origin-store-accordionlist>
        <origin-store-accordionlist-item topic="What kind of games can I download and play on Origin? %Origin.OFR.50.0001171%"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="What platforms can I use Origin on?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="How do I download Origin and create an EA Account?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="How do I subscribe to Origin Access?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Why buy with Origin?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Can I return games bought through Origin?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Does Origin support cloud saves?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Can I use Origin while offline?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Does Origin offer any free games?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Can I use Origin on more than one computer?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
        <origin-store-accordionlist-item topic="Does Origin have a Twitter or Facebook page?"
            content="Yes, Origin is available on all of those platforms. Other advantages include dual-platform play (Mac/PC) for select EA titles and a unified (Mac/PC) Game Library. Origin features for mobile are built into supported games so there's no need to download a standalone app."></origin-store-accordionlist-item>
    </origin-store-accordionlist>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="Still have questions? No problem. For more help and troubleshooting tips, contact <a href='#'>EA Help</a>.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>