<origin-store-row
    origin-cq-targeting-item=""
    cq-targeting-subscribers="true">
    <origin-store-paragraph-headertwo
        description="The Vault"
        showsocialmedia="true"
        border="true">
    </origin-store-paragraph-headertwo>
</origin-store-row>

<origin-store-promo-offerdetails
    layout="hero"
    title="The Vault"
    image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_originaccess_playfirsttrials_@1x.jpg"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    bullet-one="Play full versions of all these games."
    bullet-two="More games will be added over time."
    origin-cq-targeting-item=""
    cq-targeting-subscribers="false"
    offerid="Origin.OFR.50.0001171"
    cta-text="Learn More"
    href="origin-access">
</origin-store-promo-offerdetails>

<origin-store-access-vault></origin-store-access-vault>
