<origin-store-access-hero
	image="https://docs.x.origin.com/proto/images/logos/OAlogoPRIMARYflatRGB_small.png"
	title-str="Endless PC gaming, just %Origin.OFR.50.0001171% a month or %Origin.OFR.50.0000538% a year."
	subtitle="Play a growing collection of great PC games, be the first to try new EA games before they're released, and save 10% on your Origin purchases. Cancel anytime."
	button-text="Join Now"
	offer-id="Origin.OFR.50.0001171"
	platform="ONLY FOR PC">
</origin-store-access-hero>

<origin-store-access-prop
	image="https://docs.x.origin.com/proto/images/originaccess/dai-character.png"
	background="https://docs.x.origin.com/proto/images/originaccess/dai-row-bg.png"
	title-str="The Vault"
	legal="Age restrictions may apply"
	alignment="top">
	<origin-store-access-list>
		<origin-store-access-item
			text="Members get access to The Vault, a growing collection of great PC games.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Download and play full versions of more than a dozen games at no extra cost. <a href='#' class='otka'>See all Vault games</a>">
		</origin-store-access-item>
		<origin-store-access-item
			text="The Vault keeps getting better. More games are added over time.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-prop>

<origin-store-access-carousel
	facet-data="genre:action"
	limit="10"
	offset="0"
	paths="/battlefield/battlefield-4/standard-edition,/battlefield/battlefield-4/premium-edition,/battlefield/battlefield-4/digital-deluxe-edition">
</origin-store-access-carousel>

<origin-store-access-prop
	image="https://docs.x.origin.com/proto/images/originaccess/pvz-character.png"
	background="https://docs.x.origin.com/proto/images/originaccess/pvz-row-bg.png"
	title-str="Play First Trials"
	legal="Age restrictions may apply"
	alignment="left">
	<origin-store-access-list>
		<origin-store-access-item
			text="Play brand new EA games before they're released for a limited time. <a href='#' class='otka'>See all trials.</a>">
		</origin-store-access-item>
		<origin-store-access-item
			text="We're talking real games, not demos.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Stats & progress carry over if you buy.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-prop>

<origin-store-access-prop
	image="https://docs.x.origin.com/proto/images/originaccess/starwars-character.png"
	background="https://docs.x.origin.com/proto/images/originaccess/starwars-row-bg.png"
	title-str="Exclusive Discount"
	legal="Age restrictions may apply"
	alignment="right">
	<origin-store-access-list>
		<origin-store-access-item
			text="Automatically get 10% off all Origin purchases.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Save on DLC, pre-orders, new releases, and everything in between.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-prop>

<origin-store-access-footer
	title-str="Endless PC gaming awaits."
	legal="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.<br><br>IN-GAME STATUS AND ASSETS (IF ANY), WILL BECOME UNAVAILABLE UPON EXPIRATION OF THE ORIGIN GAME TIME TRIAL UNTIL THE GAME IS PURCHASED."
	button-text="Join Origin Access"
	offer-id="Origin.OFR.50.0001171"
	small="$4.99 / month. No commitments.">
	<origin-store-access-list>
		<origin-store-access-item
			text="Play a growing collection of great PC games as much as you want.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Try new EA games before they’re released.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Enjoy an exclusive 10% discount on all your Origin purchases.">
		</origin-store-access-item>
		<origin-store-access-item
			text="Cancel anytime.">
		</origin-store-access-item>
	</origin-store-access-list>
</origin-store-access-footer>