<origin-pdp-seo keywords="Origin, EA, EAX, ad infinitum"
                   canonical="https://test.com"
></origin-pdp-seo>

<origin-store-pdp-hero
    background-image="https://docs.x.origin.com/proto/images/keyart/battlefront.jpg"
    keybeat-icon="originlogo"
    keybeat-message="Own <a href=&quot;#&quot; class=&quot;otka&quot;>Premium Membership</a>? You're already good to go and will get early access.">
</origin-store-pdp-hero>

<origin-store-pdp-nav></origin-store-pdp-nav>
<origin-store-row>
  <origin-store-pdp-media-carousel-wrapper title-str="Screenshots &amp; Videos" anchor-name="media" show-on-nav="true" header-title="Screenshots &amp; Videos">
      <origin-store-pdp-media-carousel-video video-id="grwZs9zp5wA" mature-content="true"></origin-store-pdp-media-carousel-video>
      <origin-store-pdp-media-carousel-video video-id="hlEKa6tUPlU"></origin-store-pdp-media-carousel-video>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_01.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_01.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_02.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_03.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_04.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/kingdoms_01.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/kingdoms_02.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/kingdoms_03.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/kingdoms_04.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/titanfall_01.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/titanfall_02.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/titanfall_03.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/titanfall_04.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_01.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_02.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_03.jpg"></origin-store-pdp-media-carousel-img>
      <origin-store-pdp-media-carousel-img src="https://docs.x.origin.com/proto/images/screenshots/bf4_04.jpg"></origin-store-pdp-media-carousel-img>
  </origin-store-pdp-media-carousel-wrapper>
</origin-store-row>
    <origin-store-pdp-feature-accolade-video-wrapper
            title-str="Accolade Feature with 2 Quote"
            anchor-name="accoladefeature2"
            show-on-nav="true"
            quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8221;"
            quote1-source-str="- We got this covered"
            quote2-str="&#8220;Exhilarating Multiplayer&#8221;"
            quote2-source-str="IGN"
            mature-content="false"
            video-id="VWSeWcvuHSA">
    </origin-store-pdp-feature-accolade-video-wrapper>
    <origin-store-pdp-feature-accolade-hero-wrapper
            title-str="Accolade Feature with 2 Quote"
            anchor-name="accoladefeature2"
            show-on-nav="true"
            quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8221;"
            quote1-source-str="- We got this covered"
            quote2-str="&#8220;Exhilarating Multiplayer&#8221;"
            quote2-source-str="IGN"
            feature-hero-image="https://docs.x.origin.com/proto/images/premierfeatures/mirrorsedge.jpg">
    </origin-store-pdp-feature-accolade-hero-wrapper>
    <origin-store-pdp-feature-accolade-hero-wrapper
            title-str="Accolade Feature with 1 Quote"
            anchor-name="accoladefeature1"
            show-on-nav="true"
            quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8221;"
            quote1-source-str="We got this covered"
            feature-hero-image="https://docs.x.origin.com/proto/images/premierfeatures/starwars.jpg">
    </origin-store-pdp-feature-accolade-hero-wrapper>


    <origin-store-pdp-feature-accolade-hero-wrapper
            title-str="Accolade Feature with 3 Quote"
            anchor-name="accoladefeature3"
            show-on-nav="true"
            quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8221;"
            quote1-source-str="- We got this covered"
            quote2-str="&#8220;Exhilarating Multiplayer&#8221;"
            quote2-source-str="- IGN"
            quote3-str="&#8220;Instant classic&#8221;"
            quote3-source-str="- Game Revolution"
            feature-hero-image="https://docs.x.origin.com/proto/images/premierfeatures/mirrorsedge2.jpg">
    </origin-store-pdp-feature-accolade-hero-wrapper>
    <origin-store-pdp-feature-hero-wrapper
        title-str="Features"
        anchor-name="features"
        show-on-nav="true"
        feature-hero-image="https://docs.x.origin.com/proto/images/screenshots/swb_large_01.jpg">
    </origin-store-pdp-feature-hero-wrapper>
    <origin-store-pdp-feature-premier-wrapper  title="Premier right" anchor-name="premierleft" show-on-nav="true" header-title="Premier Right">
        <origin-store-pdp-feature-premier-accolade
                text-color="dark"
                text-alignment="right"
                background-image="https://docs.x.origin.com/proto/images/premierfeatures/mirrorsedge2.jpg"
                quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8221;"
                quote1-source-str="POLYGON"
                quote2-str="&#8220;A MUST HAVE&#8221;"
                quote2-source-str="IGN"
                quote3-str="&#8220;UNREAL SAVINGS&#8221;"
                quote3-source-str="PC GAMER">
        </origin-store-pdp-feature-premier-accolade>
        <origin-store-pdp-feature-premier
                text-color="dark"
                image="https://docs.x.origin.com/proto/images/screenshots/swb_large_03.jpg"
                header="Experience the Battle of Jakku Two Weeks Early"
                text="Be among the first to battle on the planet of Jakku with two additional maps, and learn more about this desert planet and the events leading up to Star Wars&trade;: The Force Awakens.<br><br>7 days early access for those who pre-order Star Wars&trade; Battlefront&trade;, beginning on December 1, 2015"
                text-align="right"
                text-slide="true">
        </origin-store-pdp-feature-premier>
    </origin-store-pdp-feature-premier-wrapper>
    <origin-store-pdp-feature-premier-wrapper  title="Premier left" anchor-name="premierright" show-on-nav="true" header-title="Premier Left">
        <origin-store-pdp-feature-premier-accolade
                text-color="light"
                text-alignment="left"
                background-image="https://docs.x.origin.com/proto/images/premierfeatures/mirrorsedge.jpg"
                quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8221;"
                quote1-source-str="POLYGON"
                quote2-str="&#8220;A MUST HAVE&#8221;"
                quote2-source-str="IGN">
        </origin-store-pdp-feature-premier-accolade>
        <origin-store-pdp-feature-premier
                text-color="dark"
                image="https://docs.x.origin.com/proto/images/screenshots/swb_large_02.jpg"
                header="The Most Immersive Game"
                text="Unprecedented access to original Star Wars&trade; props and locations. Fire blasters, drive speederbikes, snowspeeders and command AT-ATs."
                text-align="left"
                text-slide="false">
        </origin-store-pdp-feature-premier>
    </origin-store-pdp-feature-premier-wrapper>
    <origin-store-pdp-feature-container-wrapper title="Container" anchor-name="container" show-on-nav="true" header-title="Container">
        <origin-store-pdp-feature-container
            title="Nothing compares to the scope, scale &amp; choices of Battlefield 4"
            text="Explore a vast range of experiences that allow you to play your way. New maps, more vehicles, weapons and destruction allow you to create your own path and play to your strengths. Absolutely nothing compares to the sheer scale and scope of Battlefield 4."
            text-color="light"
            background-color="#787D85"
            accent-color="rgba(255, 255, 255, 0.3)"
        >
            <origin-store-pdp-feature-bubble title-str="The Most Immersive Game" text="Unprecedented access to original Star Wars™ props and locations.<br/ >
            Photorealistic visuals and authentic sound design from the talented team at DICE." image="https://docs.x.origin.com/proto/images/features/sw_feature1.jpg"></origin-store-pdp-feature-bubble>
            <origin-store-pdp-feature-bubble title-str="Ground-Based Combat On A Galactic Scale" text="Wage epic multiplayer battles on Hoth, Endor, Tatooine and the previously unexplored planet, Sullust.
            Fire blasters, drive speederbikes, snowspeeders and command AT-ATs." image="https://docs.x.origin.com/proto/images/features/sw_feature2.jpg"></origin-store-pdp-feature-bubble>
            <origin-store-pdp-feature-bubble title-str="Play As Iconic Star Wars Characters" text="Fight as the galaxy's most memorable heroes and villains, like Darth Vader and Boba Fett.
            Interact with some of the most beloved characters from the original trilogy." image="https://docs.x.origin.com/proto/images/features/sw_feature3.jpg"></origin-store-pdp-feature-bubble>
            <origin-store-pdp-feature-bubble title-str="Engage In Epic Star Wars Dog Fights" text="Pilot X-wings, TIE fighters, the Millennium Falcon and more of your favorite vehicles in exhilarating aerial combat.
            Find out which squadrons will rule the skies." image="https://docs.x.origin.com/proto/images/features/sw_feature4.jpg"></origin-store-pdp-feature-bubble>
            <origin-store-pdp-feature-bubble title-str="For Jedi and Padawans Alike" text="Seamlessly swap between 1st person and 3rd person perspectives.
            Partner up with a friend in online multiplayer, share unlocks and have each other's backs on the battlefront." image="https://docs.x.origin.com/proto/images/features/sw_feature5.jpg"></origin-store-pdp-feature-bubble>
        </origin-store-pdp-feature-container>
    </origin-store-pdp-feature-container-wrapper>
    <origin-store-pdp-feature-video-wrapper
        title-str="Features"
        anchor-name="features-video"
        show-on-nav="false"
        video-text-color="light"
        video-small-screen-imageurl="https://docs.x.origin.com/proto/images/screenshots/sw_feature5.jpg"
        video-id="yjqqwZGNHPg"
        video-text-align="center"
        video-text-slide="true"
        video-header="Immerse yourself in your Star Wars Battlefront fantasies"
        video-text="Photorealistic visuals and authentic sound design from the talented team at DICE. Prepate to be transported to a galaxy far, far away."
        video-cta-type="transparent"
        video-cta-description="Watch the E3 Gameplay Trailer"
        video-cta-href="https://www.youtube.com/watch?v=yjqqwZGNHPg">
    </origin-store-pdp-feature-video-wrapper>

<origin-store-row>
    <origin-store-pdp-systemrequirements-wrapper title-str="System Requirements" anchor-name="requirements" show-on-nav="true" header-title="System Requirements">
    </origin-store-pdp-systemrequirements-wrapper>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-termsandconditions></origin-store-pdp-termsandconditions>
</origin-store-row>
