<origin-store-pdp-hero
    short-description="You create. You control. You rule."
    long-description="Create your Sims, plan their lives, and watch hilarious stories unfold. Get ready to mess with life."
    keybeat-icon="originlogo"
    keybeat-message="Own <a href=&quot;#&quot; class=&quot;otka&quot;>Premium Membership</a>? You're already good to go and will get early access.">
</origin-store-pdp-hero>

<origin-store-row>
    <origin-store-pdp-nav></origin-store-pdp-nav>
</origin-store-row>
<origin-store-row>
  <origin-store-pdp-navitem ></origin-store-pdp-navitem>
  <origin-store-pdp-media-carousel-wrapper title-str="Screenshots &amp; Videos" anchor-name="media" show-on-nav="true" header-title="Screenshots &amp; Videos"></origin-store-pdp-media-carousel-wrapper>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-systemrequirements-wrapper title-str="Friends Who Play" anchor-name="friends" show-on-nav="true" header-title="Friends Who Play"></origin-store-pdp-systemrequirements-wrapper>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-comparison-table-wrapper
        title-str="Compare Editions"
        anchor-name="compare"
        show-on-nav="true"
        header-title="Compare Editions"
        comparison-table-title="Get the game, all five expansions, and more with Origin Access."
        comparison-table-subtitle="Origin Access also includes access to over 20 other great EA games for just $9.99/month."
        comparison-table-ocd-path1="/battlefield/battlefield-4/standard-edition"
        comparison-table-ocd-path2="/battlefield/battlefield-4/digital-deluxe-edition"
        comparison-table-ocd-path3="/battlefield/battlefield-4/premium-edition"
        comparison-table-flag="Most Popular">

        <origin-store-pdp-comparison-item
            title-str="Battlefield 4 Base Game"
            description="Experience the genre-defining action blockbuster made from moments found only in Battlefield."
            image="https://docs.x.origin.com/proto/images/posters/bf4_standard.jpg"
            check1="checked"
            check2="checked"
            check3="checked">
        </origin-store-pdp-comparison-item>

        <origin-store-pdp-comparison-item
            title-str="Battlefield 4 China Rising"
            description="Fight for dominance across the vast and majestic Chinese mainland in four massive maps, using all-new vehicles and high-tech military equipment."
            image="https://docs.x.origin.com/proto/images/posters/bf4-chinarising.jpg"
            check1="not-checked"
            check2="checked"
            check3="checked">
        </origin-store-pdp-comparison-item>

        <origin-store-pdp-comparison-item
            title-str="Battlefield 4 Premium"
            description="Get the edge on the battlefield. Premium membership awards a huge assortment of benefits."
            more="<br>Benefits include:<br><br><strong>All 5 Expansions:</strong> Get China Rising, Second Assault, Naval Strike, Dragon's Teeth, and Final Stand expansion packs.<br><br><strong>Priority Position:</strong> Gants priority position in the server queue, letting you get in the fight more quickly.<br><br><strong>Personalization Options:</strong> Appearance should be as unique as play style. Express your identity on the battlefield with Premium-exclusive camos, paints, emblems and dogtags.<br><br><strong>Weekly Content:</strong> Level up faster with Premium-exclusive Double XP events and get more out of Battlefield 4 with weekly updates of new content."
            image="https://docs.x.origin.com/proto/images/compare/bf4_premium.png"
            show-more="Show More"
            show-less="Show Less"
            check1="not-checked"
            check2="not-checked"
            check3="checked">
        </origin-store-pdp-comparison-item>

        <origin-store-pdp-comparison-item
            title-str="Battlepacks"
            description="Battlepacks are used for additional boosts such as rare weapons, gear and customizations only available to Premium members."
            image="https://docs.x.origin.com/proto/images/compare/bf4_battlepacks.png"
            check1="custom"
            check2="custom"
            check3="custom"
            check1value="3 Battlepacks"
            check2value="6 Battlepacks"
            check3value="9 Battlepacks">
        </origin-store-pdp-comparison-item>

    </origin-store-pdp-comparison-table-wrapper>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-feature-hero-wrapper
        title-str="Features"
        anchor-name="features"
        show-on-nav="true"
        feature-hero-image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png">
    </origin-store-pdp-feature-hero-wrapper>
    <origin-store-pdp-feature-premier
        text-color="light"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
        header="Change the face of battle with LEVOLUTION &amp; more"
        text="From the big to the small, the dynamic environment is affected by your actions—and the consequences change the landscape of gameplay in breathtaking fashion."
        text-align="left">
    </origin-store-pdp-feature-premier>
     <origin-store-pdp-feature-premier
        text-color="light"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
        header="Change the face of battle with LEVOLUTION &amp; more"
        text="From the big to the small, the dynamic environment is affected by your actions—and the consequences change the landscape of gameplay in breathtaking fashion."
        text-align="right"
        text-slide="false">
    </origin-store-pdp-feature-premier>
     <origin-store-pdp-feature-premier
        text-color="light"
        image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
        header="Change the face of battle with LEVOLUTION &amp; more"
        text="From the big to the small, the dynamic environment is affected by your actions—and the consequences change the landscape of gameplay in breathtaking fashion."
        text-align="center"
        text-slide="true"
        >
    </origin-store-pdp-feature-premier>
    <origin-store-pdp-feature-container
        title="Nothing compares to the scope, scale &amp; choices of Battlefield 4"
        text="Explore a vast range of experiences that allow you to play your way. New maps, more vehicles, weapons and destruction allow you to create your own path and play to your strengths. Absolutely nothing compares to the sheer scale and scope of Battlefield 4."
        text-color="light"
        background-color="#787D85"
        accent-color="rgba(255, 255, 255, 0.3)">
        <origin-store-pdp-feature-bubble title-str="The Most Immersive Game" text="Unprecedented access to original Star Wars™ props and locations.<br/ >
        Photorealistic visuals and authentic sound design from the talented team at DICE." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature1.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title-str="Ground-Based Combat On A Galactic Scale" text="Wage epic multiplayer battles on Hoth, Endor, Tatooine and the previously unexplored planet, Sullust.
        Fire blasters, drive speederbikes, snowspeeders and command AT-ATs." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature2.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title-str="Play As Iconic Star Wars Characters" text="Fight as the galaxy's most memorable heroes and villains, like Darth Vader and Boba Fett.
        Interact with some of the most beloved characters from the original trilogy." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature3.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title-str="Engage In Epic Star Wars Dog Fights" text="Pilot X-wings, TIE fighters, the Millennium Falcon and more of your favorite vehicles in exhilarating aerial combat.
        Find out which squadrons will rule the skies." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature4.jpg"></origin-store-pdp-feature-bubble>
        <origin-store-pdp-feature-bubble title-str="For Jedi and Padawans Alike" text="Seamlessly swap between 1st person and 3rd person perspectives.
        Partner up with a friend in online multiplayer, share unlocks and have each other's backs on the battlefront." image="https://dev.sb4.x.origin.com:4502/content/dam/originx/web/app/store/sw_feature5.jpg"></origin-store-pdp-feature-bubble>
    </origin-store-pdp-feature-container>
    <origin-store-pdp-feature-video-wrapper
        title-str="Features"
        anchor-name="features-video"
        show-on-nav="false"
        video-id="3eVF9uBbuqc"
        video-text-color="light"
        video-small-screen-imageurl="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/store/pdp/sw_feature5.jpg"
        video-header="Immerse yourself in your Star Wars Battlefront fantasies"
        video-text="Photorealistic visuals and authentic sound design from the talented team at DICE. Prepate to be transported to a galaxy far, far away."
        video-text-align="center"
        video-text-slide="true"
        video-cta-type="transparent"
        video-cta-description="Watch the E3 Gameplay Trailer"
        video-cta-href="#">
    </origin-store-pdp-feature-video-wrapper>
</origin-store-row>

<origin-store-row>
    <origin-store-pdp-description-wrapper title-str="Description" anchor-name="description" show-on-nav="true" header-title="Product Description"></origin-store-pdp-description-wrapper>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-details-wrapper title-str="Details" anchor-name="details" show-on-nav="true" header-title="Details">
      <origin-store-pdp-details-item icon="otkicon-person" key="person"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-multiplayer" key="multiplayer"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-coop" key="coop"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-controller" key="controller"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-trophy" key="trophy"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-cloud" key="cloud"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-ggg" key="ggg" url="https://docs.x.origin.com/proto/pdp/_prototype_pdp_starwarsbattlefront_digitaldeluxeedition_preorderavailable.html"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-download" key="download"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-progressiveinstall" key="progressiveinstall"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-chatbubble" key="chatbubble"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-twitch" key="twitch"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-timer" key="timer"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-offlinemode" key="offlinemode"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-modding" key="modding">
      <origin-store-pdp-details-item icon="otkicon-leaderboard" key="leaderboard"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-app" key="app"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-splitscreen" key="splitscreen"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-dolby" key="dolby"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-touch" key="touch"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-crossplatform" key="crossplatform"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-4k" key="4k"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-directx" key="directx"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-refresh" key="refresh"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-firstperson" key="firstperson"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-thirdperson" key="thirdperson"></origin-store-pdp-details-item>
      <origin-store-pdp-details-item icon="otkicon-challenge" key="challenge"></origin-store-pdp-details-item>
    </origin-store-pdp-details-wrapper>
    <origin-store-pdp-overview-wrapper title-str="Overview" anchor-name="overview" show-on-nav="false"></origin-store-pdp-overview-wrapper>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-systemrequirements-wrapper title-str="System Requirements" anchor-name="requirements" show-on-nav="true" header-title="System Requirements">
    </origin-store-pdp-systemrequirements-wrapper>
</origin-store-row>
<origin-store-row>
    <origin-store-pdp-termsandconditions></origin-store-pdp-termsandconditions>
</origin-store-row>
