
<origin-store-row>
    <h1 class="otktitle-3">Store Product Carosuels</h1>
</origin-store-row>

<origin-store-row>
    <origin-store-carousel-featuredsearch title="Hello Monkeys"
                                          text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
                                          image-src="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png"
                                          view-all-str="View All" search-string="pvz"
                                          facet-data="genre:shooter"
                                          limit="10" offset="0" start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)">
    </origin-store-carousel-featuredsearch>
</origin-store-row>


<origin-store-row>
    <origin-store-carousel-productsearch  facet-data="gameType:basegame,genre:puzzle" title="Solr Slider" view-all-str="View All" search-string="peg" limit="10" offset="0">
    </origin-store-carousel-productsearch>
</origin-store-row>

<origin-store-row>
    <origin-store-carousel-productsearch  facet-data="gameType:basegame,genre:puzzle" title="Solr Slider" view-all-str="View All" search-string="peg" limit="10" offset="0">
    </origin-store-carousel-productsearch>
</origin-store-row>

<origin-store-row>
    <origin-store-carousel-product title="Hello Fifa" view-all-href="store" view-all-str="GO STORE">
    <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-2"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-15"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/witcher/the-witcher-wild-hunt"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/dragonage/dragon-age-origins/standard-edition"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/dragonage/dragon-age-origins/digital-deluxe-edition"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/dragonage/dragon-age-origins/ultimate-edition"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-bad-company-2"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-4"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/sims/the-sims-4"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-15"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/witcher/the-witcher-wild-hunt"></origin-store-carousel-product-gameitem>
    <origin-store-carousel-product-gameitem ocd-path="/dragonage/dragon-age-inquisition"></origin-store-carousel-product-gameitem>
  </origin-store-carousel-product>
</origin-store-row>

<origin-store-row>
    <origin-store-pack
        type="nine"
        title-str="Nine Pack"
        viewallstr="View more that 9"
        viewallhref="">
        <origin-store-pack-item ocd-path="/battlefield/battlefield-3"></origin-store-pack-item>
        <origin-store-pack-item ocd-path="/syndicate/syndicate"></origin-store-pack-item>
        <origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan"></origin-store-pack-item>
        <origin-store-pack-item ocd-path="/syndicate/syndicate-1993-"></origin-store-pack-item>
        <origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan"></origin-store-pack-item>
        <origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan"></origin-store-pack-item>
    </origin-store-pack>
</origin-store-row>
<origin-store-row>
  <origin-store-carousel-product></origin-store-carousel-product>
</origin-store-row>
<origin-store-row>
    <origin-store-carousel-featured></origin-store-carousel-featured>
</origin-store-row>
