<origin-store-row>
    <h1 class='otktitle-page'>Promo Modules</h1>
</origin-store-row>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Hero Promo</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">With: Subtitle, Offer Details, Countdown Clock. Variety of combinations of all optional elements: Video, CTA, Pack Art, Release Date</h3>
</origin-store-row>

<origin-store-promo-subtitle
    layout="hero"
    image="https://docs.x.origin.com/proto/images/heros/hero_battlefront_@1x.jpg"
    title="Dogfight to Victory %Origin.OFR.50.0001171%"
    text="Own the sky in Fighter Squadron. %Origin.OFR.50.0001171%"
    href="app.store.wrapper.bundle-blackfriday"
    cta-text="Learn More"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    ocd-path="/star-wars/star-wars-battlefront/standard-edition"
    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
    show-packart="true"
    rating-font-color="dark">
</origin-store-promo-subtitle>

<origin-store-promo-subtitle-directentitlement
    layout="hero"
    image="https://docs.x.origin.com/proto/images/heros/hero_battlefront_@1x.jpg"
    title="Dogfight to Victory. Testing Direct entitlement"
    text="Own the sky in Fighter Squadron."
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    ocd-path="/battlefield/battlefield-4/trial"
    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
    show-packart="true"
    rating-font-color="light">
</origin-store-promo-subtitle-directentitlement>

<origin-store-promo-offerdetails
    layout="hero"
    image="https://docs.x.origin.com/proto/images/heros/hero_battlefront_@1x.jpg"
    title="Dogfight to Victory"
    href="store/battlefield/battlefield-4/digital-deluxe-edition"
    cta-text="Learn More"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
    ocd-path="/star-wars/star-wars-battlefront/standard-edition"
    show-packart="true">
</origin-store-promo-offerdetails>

<origin-store-promo-offerdetails-directentitlement
    layout="hero"
    image="https://docs.x.origin.com/proto/images/heros/hero_battlefront_@1x.jpg"
    title="Dogfight to Victory. Testing Direct entitlement"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    ocd-path="/star-wars/star-wars-battlefront/standard-edition"
    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
    show-packart="true">
</origin-store-promo-offerdetails-directentitlement>

<origin-store-promo-timer
    layout="hero"
    image="https://docs.x.origin.com/proto/images/heros/hero_battlefront_@1x.jpg"
    title="Dogfight to Victory"
    href="app.store.wrapper.bundle-blackfriday"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    ocd-path="/star-wars/star-wars-battlefront/standard-edition"
    show-packart="true"
    goaldate="2016-02-01T09:10:30.000Z"
    post-title="This offer has ended"
    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
    hide-timer="false">
</origin-store-promo-timer>

<origin-store-promo-timer-directentitlement
    layout="hero"
    image="https://docs.x.origin.com/proto/images/heros/hero_battlefront_@1x.jpg"
    title="Dogfight to Victory. Testing Direct entitlement"
    start-color="rgba(30, 38, 44, 0)"
    end-color="rgba(30, 38, 44, 1)"
    ocd-path="/star-wars/star-wars-battlefront/standard-edition"
    show-packart="true"
    goaldate="2016-03-09T15:15:30.000Z"
    post-title="This offer has ended. Testing Direct entitlement."
    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
    hide-timer="true">
</origin-store-promo-timer-directentitlement>

<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Full Width Promo</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">With: Subtitle, Offer Details, Countdown Clock. Variety of combinations of all optional elements: Video, CTA, Pack Art, Release Date</h3>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-subtitle
        layout="full-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Save Big On All Things Titanfall"
        text="Get up to 33% on the base game and DLC."
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
        >
    </origin-store-promo-subtitle>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-offerdetails
        layout="full-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Save Big On All Things Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        videoid="wS7gfJqFoA"
        mature-content="true"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/fifa/fifa-16/standard-edition"
        show-packart="true">
    </origin-store-promo-offerdetails>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-timer
        layout="full-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Save Big On All Things Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        videoid="wS7gfJqFoA"
        mature-content="true"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/fifa/fifa-16/standard-edition"
        show-packart="true"
        goaldate="2016-02-01 09:10:30 UTC"
        post-title="This offer has ended"
        hide-timer="Yes">
    </origin-store-promo-timer>
</origin-store-row>


<origin-store-row>
  <h2 class="otktitle-2 l-origin-store-column-full">Half Width Promo</h2>
  <h3 class="otktitle-3 l-origin-store-column-full">With: Subtitle, Offer Details, Countdown Clock. Variety of combinations of all optional elements: Video, CTA, Pack Art, Release Date</h3>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-subtitle
        layout="half-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        text="Get up to 33% on the base game and DLC."
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        >
    </origin-store-promo-subtitle>
    <origin-store-promo-offerdetails
        layout="half-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall %Origin.OFR.50.0001171%"
        href="app.store.wrapper.bundle-blackfriday"
        videoid="wS7gfJqFoA"
        mature-content="true"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/fifa/fifa-16/standard-edition"
        bullet-one="This is a bullet point %Origin.OFR.50.0001171%"
        bullet-two="This is another bullet point %Origin.OFR.50.0001171%"
        badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
        >
    </origin-store-promo-offerdetails>
</origin-store-row>

<origin-store-row>
    <origin-store-promo-timer
        layout="half-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        cta-text="Learn More"
        videoid="wS7gfJqFoA"
        mature-content="true"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/fifa/fifa-16/standard-edition"
        show-packart="true"
        goaldate="2016-12-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
    <origin-store-promo-timer
        layout="half-width"
        image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall_@1x.jpg"
        title="Titanfall"
        href="app.store.wrapper.bundle-blackfriday"
        videoid="wS7gfJqFoA"
        mature-content="true"
        start-color="rgba(30, 38, 44, 0)"
        end-color="rgba(30, 38, 44, 1)"
        ocd-path="/fifa/fifa-16/standard-edition"
        show-packart="true"
        goaldate="2015-12-01T09:10:30.000Z"
        post-title="This offer has ended"
        hide-timer="false">
    </origin-store-promo-timer>
</origin-store-row>
