<origin-store-sitestripe-wrapper
    last-modified="June 16, 2015 11:34:00 PM PDT">
    <origin-store-sitestripe-timermessageoftheday
        image="https://docs.x.origin.com/proto/images/store/small/banner-wide-dai-small.png"
        edgecolor="#141b20"
        title="Dragon Age: Inquisition"
        logo="https://docs.x.origin.com/proto/images/logos/small/dai-300.png"
        subtitle="Coming Soon!"
        hidetimer="true"
        goaldate="December 28, 2015 01:30:00 PM PDT"
        newsubtitle="Get it Now!"
        timerposition="right">
    </origin-store-sitestripe-timermessageoftheday>
</origin-store-sitestripe-wrapper>