<origin-takeover-page>
    <origin-page-content>

        <origin-store-row>
            <origin-store-promo-badge
                    layout="full-width"
                    background-color="#262C1E"
                    text-color="light"
                    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
                    href="/store/battlefield/battlefield-1/standard-edition"
                    quote-str="4.5 out of 5 stars"
                    background-image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_titanfall2_accolades.jpg">
            </origin-store-promo-badge>
        </origin-store-row>
        <origin-store-row>
            <origin-store-promo-badge
                    layout="full-width"
                    background-color="#262C1E"
                    text-color="dark"
                    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
                    href="/store/battlefield/battlefield-1/standard-edition"
                    quote-str="the best deal in pc gaming"
                    background-image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_oa_accolades.jpg">
            </origin-store-promo-badge>
        </origin-store-row>
        <origin-store-row>
            <origin-store-promo-badge
                    layout="half-width"
                    background-color="#262C1E"
                    text-color="dark"
                    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
                    href="/store/battlefield/battlefield-1/standard-edition"
                    quote-str="the best deal in pc gaming"
                    background-image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_oa_accolades.jpg">
            </origin-store-promo-badge>
            <origin-store-promo-badge
                    layout="half-width"
                    background-color="#262C1E"
                    text-color="dark"
                    badge-image="https://docs.x.origin.com/proto/images/badge/accolade_badge.png"
                    href="/store/battlefield/battlefield-1/standard-edition"
                    quote-str="the best deal in pc gaming"
                    background-image="https://docs.x.origin.com/proto/images/staticpromo/staticpromo_oa_accolades.jpg">
            </origin-store-promo-badge>
        </origin-store-row>
        <origin-store-promo-accolade
                layout="hero"
                background-color="#262C1E"
                text-color="dark"
                text-alignment="left"
                href="/store/battlefield/battlefield-1/standard-edition"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/bf1.png"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/bf1.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_bf1_accolades_left.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                background-color="#262C1E"
                text-alignment="left"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                quote2-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote2-source-str="THIS IS THE SOURCE"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/bf1.png"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/bf1.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_bf1_accolades_left.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="left"
                background-color="#262C1E"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                quote2-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote2-source-str="THIS IS THE SOURCE"
                quote3-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote3-source-str="THIS IS THE SOURCE"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/bf1.png"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/bf1.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_bf1_accolades_left.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="right"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall2.png"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall2-light.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_titanfall_accolades_right.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="right"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                quote2-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote2-source-str="THIS IS THE SOURCE"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall2.png"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall2-light.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_titanfall_accolades_right.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="right"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                quote2-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote2-source-str="THIS IS THE SOURCE"
                quote3-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote3-source-str="THIS IS THE SOURCE"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall2.png"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall2-light.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_titanfall_accolades_right.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="light"
                text-alignment="left"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/sw_battlefront.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_starwars_accolades_left.jpg">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="light"
                text-alignment="left"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                quote2-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote2-source-str="THIS IS THE SOURCE"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/sw_battlefront.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_starwars_accolades_left.jpg">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="light"
                text-alignment="left"
                quote1-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote1-source-str="THIS IS THE SOURCE"
                quote2-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote2-source-str="THIS IS THE SOURCE"
                quote3-str="&#8220;THIS IS AN ACCOLADE QUOTE&#8220;"
                quote3-source-str="THIS IS THE SOURCE"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/sw_battlefront.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_starwars_accolades_left.jpg">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="light"
                text-alignment="center"
                quote1-str="&#8220;4.5 OUT OF 5 STARS&#8220;"
                quote1-source-str="GAMESRADAR+"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_titanfall2_accolades.jpg">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="light"
                text-alignment="center"
                quote1-str="&#8220;4.5 OUT OF 5 STARS&#8220;"
                quote1-source-str="GAMESRADAR+"
                quote2-str="&#8220;FANTASTIC - 9/10&#8220;"
                quote2-source-str="GAMESPOT"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_titanfall2_accolades.jpg">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="light"
                text-alignment="center"
                quote1-str="&#8220;4.5 OUT OF 5 STARS&#8220;"
                quote1-source-str="GAMESRADAR+"
                quote2-str="&#8220;FANTASTIC - 9/10&#8220;"
                quote2-source-str="GAMESPOT"
                quote3-str="9.5/10"
                quote3-source-str="&#8220;GAME INFORMER&#8220;"
                light-game-logo="https://docs.x.origin.com/proto/images/logos/titanfall.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_titanfall2_accolades.jpg">
        </origin-store-promo-accolade>


        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="center"
                quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8220;"
                quote1-source-str="polygon"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="center"
                quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8220;"
                quote1-source-str="polygon"
                quote2-str="&#8220;A MUST HAVE&#8220;"
                quote2-source-str="ign"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png">
        </origin-store-promo-accolade>

        <origin-store-promo-accolade
                layout="hero"
                text-color="dark"
                text-alignment="center"
                quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8220;"
                quote1-source-str="polygon"
                quote2-str="&#8220;A MUST HAVE&#8220;"
                quote2-source-str="ign"
                quote3-str="&#8220;UNREAL SAVINGS&#8220;"
                quote3-source-str="pc gamer"
                dark-game-logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
                background-image="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png">
        </origin-store-promo-accolade>

        <origin-store-row>
            <origin-store-promo-accolade
                    layout="full-width"
                    text-color="dark"
                    text-alignment="center"
                    quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8220;"
                    quote1-source-str="polygon"
                    quote2-str="&#8220;A MUST HAVE&#8220;"
                    quote2-source-str="ign"
                    quote3-str="&#8220;UNREAL SAVINGS&#8220;"
                    quote3-source-str="pc gamer"
                    dark-game-logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
                    background-image="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png">
            </origin-store-promo-accolade>
        </origin-store-row>
        <origin-store-row>
            <origin-store-promo-accolade
                    layout="half-width"
                    text-color="dark"
                    text-alignment="center"
                    quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8220;"
                    quote1-source-str="polygon"
                    quote2-str="&#8220;A MUST HAVE&#8220;"
                    quote2-source-str="ign"
                    quote3-str="&#8220;UNREAL SAVINGS&#8220;"
                    quote3-source-str="pc gamer"
                    dark-game-logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
                    background-image="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png">
            </origin-store-promo-accolade>

            <origin-store-promo-accolade
                    layout="half-width"
                    text-color="dark"
                    text-alignment="center"
                    quote1-str="&#8220;THE BEST DEAL IN PC GAMING&#8220;"
                    quote1-source-str="polygon"
                    quote2-str="&#8220;A MUST HAVE&#8220;"
                    quote2-source-str="ign"
                    quote3-str="&#8220;UNREAL SAVINGS&#8220;"
                    quote3-source-str="pc gamer"
                    dark-game-logo="https://docs.x.origin.com/proto/images/logos/origin-access-logo-large.png"
                    background-image="https://docs.x.origin.com/proto/images/heros/hero_oa_bg.png">
            </origin-store-promo-accolade>
        </origin-store-row>
    </origin-page-content>
</origin-takeover-page>