<origin-takeover-page>
  <origin-page-content>
    <origin-store-carousel-hero>
    <origin-store-promo-subtitle origin-cq-targeting-item="" cq-targeting-loggedin="false" cq-targeting-subscribers="default" layout="hero" image="https://dev.data1.origin.com/preview/content/dam/originx/web/app/GEO Test/TS4_store_hero_en_ww_getto_v1.jpg" title-str="It's Time to Get Together" text="Create &amp; join clubs in this expansion pack" href="https://www.thesims.com/news/sims-4-dine-out-news" cta-text="Join now" show-packart="true">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle origin-cq-targeting-item="" cq-targeting-subscribers="default" cq-targeting-ocdpath-or="/battlefield/battlefield-3/standard-edition,/battlefield/battlefield-3/extended-edition,/battlefield/battlefield-4/standard-edition,/battlefield/battlefield-4/digital-deluxe-edition,/battlefield/battlefield-4/premium-edition" cq-targeting-ocdpath-nor="/battlefield/battlefield-1/standard-edition,/battlefield/battlefield-1/deluxe-edition" layout="hero" image="https://dev.data2.origin.com/preview/content/dam/originx/web/app/GEO Test/BF1_store_hero_en_ww_DDX_v1.jpg" title-str="War on an Epic Scale" text="Battle in massive 64-person multiplayer or an explosive campaign mode." href="/battlefield/battlefield-1/standard-edition" cta-text="NO CTA" show-packart="true">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle origin-cq-targeting-item="" cq-targeting-subscribers="default" cq-targeting-ocdpath-not="/mirrors-edge/mirrors-edge-catalyst/standard-edition" layout="hero" image="https://dev.data3.origin.com/preview/content/dam/originx/web/app/GEO Test/MEC_store_carouselbkg_en_ww_v1.jpg" title-str="It's Almost Here - Pre-Order Today!" text="Get special multiplayer customization bonuses before time runs out." href="/mirrors-edge/mirrors-edge-catalyst/standard-edition" cta-text="NO CTA" show-packart="true">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle origin-cq-targeting-item="" cq-targeting-subscribers="default" layout="hero" image="https://dev.data4.origin.com/preview/content/dam/originx/web/app/GEO Test/FIFA16_home_merch_en_ww_fullstadium_v1.jpg" title-str="Don't Miss Team of the Season" text="Every week brings you fierce tournament play and great rewards! " href="store/browse/gameType:currency,franchise:fifa">
    </origin-store-promo-subtitle>
  </origin-store-carousel-hero>
    <origin-store-row>
      <origin-store-pack type="six" title-str="Buy These">
      <origin-store-pack-item ocd-path="/ultima/ultima-i-the-first-age-of-darkness/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/ultima/ultima-ii-the-revenge-of-the-enchantress/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/ultima/ultima-iii-exodus/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/ultima/ultima-iv-quest-of-the-avatar/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/ultima/ultima-v-warriors-of-destiny/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/ultima/ultima-vi-the-false-prophet/standard-edition">
      </origin-store-pack-item>
    </origin-store-pack>
  </origin-store-row>
    <origin-store-row>
    <origin-store-promo-subtitle layout="half-width" image="https://dev.data1.origin.com/preview/content/dam/originx/web/app/GEO Test/the-witcher-3-blood-and-wine_store_half_en_ww_castle_v1.jpg" title-str="New Expansion Pack" text="Begin the final adventure today!" href="witcher/the-witcher-wild-hunt/addon/the-witcher-3-wild-hunt--blood-and-wine">
    </origin-store-promo-subtitle>
    <origin-store-promo-subtitle layout="half-width" image="https://dev.data2.origin.com/preview/content/dam/originx/web/app/GEO Test/OTH-BFHardline_store_half_en_ww_Getaway_v1.jpg" title-str="More Action for Free" text="Getaway is On the House!" href="free-games/on-the-house">
    </origin-store-promo-subtitle>
  </origin-store-row>
    <origin-store-row>
    <origin-store-carousel-featuredsearch origin-cq-targeting-item="" cq-targeting-subscribers="default" cq-targeting-ocdpath="/fifa/fifa-16/standard-edition" title-str="Unpack Endless Possibilities" text="Use FIFA Points to open bronze, silver, and gold FUT 16 packs and build your Ultimate Team even faster." description="View All" href="browse?fq=gameType:currency,franchise:fifa" image-src="https://dev.data3.origin.com/preview/content/dam/originx/web/app/GEO Test/FIFA16_store_hero_en_ww_block_v1.jpg" limit="20">
    </origin-store-carousel-featuredsearch>
  </origin-store-row>
    <origin-store-row>
    <origin-store-carousel-featuredsearch origin-cq-targeting-item="" cq-targeting-subscribers="default" cq-targeting-ocdpath="/the-sims/the-sims-4/standard-edition" title-str="Expand Your Game" text="Add new experiences, fun, objects, and fashion in The Sims™ 4." description="View All" href="browse?fq=gameType:dlc,gameType:expansion,franchise:the-sims" image-src="https://dev.data4.origin.com/preview/content/dam/originx/web/app/GEO Test/TS4_store_carouselbkg_en_ww_v1.jpg" limit="20">
    </origin-store-carousel-featuredsearch>
  </origin-store-row>
    <origin-store-row>
      <origin-store-carousel-product title-str="Most Popular">
      <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-1/deluxe-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/star-wars/star-wars-battlefront/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/the-sims/the-sims-4/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/mirrors-edge/mirrors-edge-catalyst/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/plants-vs-zombies/plants-vs-zombies-garden-warfare/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/need-for-speed/need-for-speed/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-4/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/mass-effect/mass-effect-3/digital-deluxe-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-16/standard-edition">
      </origin-store-carousel-product-gameitem>
      <origin-store-carousel-product-gameitem ocd-path="/dragon-age/dragon-age-inquisition/standard-edition">
      </origin-store-carousel-product-gameitem>
    </origin-store-carousel-product>
  </origin-store-row>
    <origin-store-row>
      <origin-store-pack type="nine" title-str="Buy These">
      <origin-store-pack-item ocd-path="/wing-commander/wing-commander-privateer/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/originqa/originqa-01/arcade-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/battlefield/battlefield-hardline/digital-deluxe-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/battlefield/battlefield-hardline/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/battlefield/battlefield-3/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/battlefield/battlefield-4/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/battlefield/battlefield-1/standard-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/battlefield/battlefield-1/deluxe-edition">
      </origin-store-pack-item>
      <origin-store-pack-item ocd-path="/mirrors-edge/mirrors-edge-catalyst/standard-edition">
      </origin-store-pack-item>
    </origin-store-pack>
  </origin-store-row>
  <origin-common-seo>
  </origin-common-seo>
</origin-page-content>
</origin-takeover-page>
