<origin-store-row>
	<origin-store-paragraph-pagetitle description="Store Game Tiles" showsocialmedia="true"></origin-store-paragraph-pagetitle>
</origin-store-row>

<origin-store-row>
	<origin-store-paragraph-headertwo description="Compact Tiles"></origin-store-paragraph-headertwo>
	<origin-store-productlist type="compact">
		<origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-15/ultimate-edition" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/sims/the-sims-4/demo" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-15/standard-edition" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/simcity/simcity/trial" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/masseffect/mass-effect-3/demo" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-manager-13/demo" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/fifa/fifa-14/demo" type="compact"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/battlefield/battlefield-4/trial" type="compact"></origin-store-carousel-product-gameitem>
	</origin-store-productlist>
</origin-store-row>

<origin-store-row>
	<origin-store-paragraph-headertwo description="Fixed Tiles"></origin-store-paragraph-headertwo>
	<origin-store-productlist>
		<origin-store-carousel-product-gameitem ocd-path="/games/zumasrevenge/zumas-revenge/standard-edition"></origin-store-carousel-product-gameitem>
			<origin-store-carousel-product-gameitem ocd-path="/games/ultima/ultima-viii-pagan/gold-edition"></origin-store-carousel-product-gameitem>
			<origin-store-carousel-product-gameitem ocd-path="/games/dragonage/dragon-age-inquisition/addon" violator-text="Hi Mom!"></origin-store-carousel-product-gameitem>
			<origin-store-carousel-product-gameitem ocd-path="/games/titanfall/titanfall/trial"></origin-store-carousel-product-gameitem>
	</origin-store-productlist>
</origin-store-row>

<origin-store-row>
	<origin-store-paragraph-headertwo description="Responsive Tiles"></origin-store-paragraph-headertwo>
	<origin-store-productlist type="responsive">
		<origin-store-carousel-product-gameitem ocd-path="/games/zumasrevenge/zumas-revenge/standard-edition" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/witcher/the-witcher-wild-hunt/standard-edition" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/dragonage/dragon-age-inquisition/addon" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/dragonage/dragon-age-inquisition/addon" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/dragonage/dragon-age-origins/ultimate-edition" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/battlefield/battlefield-bad-company-2/digital-deluxe-edition" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/battlefield/battlefield-4/standard-edition" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/sims/the-sims-4/limited-edition" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/dragonage/dragon-age-inquisition/addon" type="responsive"></origin-store-carousel-product-gameitem>
		<origin-store-carousel-product-gameitem ocd-path="/games/sims/the-sims-4/demo" type="responsive"></origin-store-carousel-product-gameitem>
	</origin-store-productlist>
</origin-store-row>