<h1 class='otktitle-page'>Store Packs</h1>

<origin-store-row>
	<origin-store-pack
		type="six"
		title-str="Six Pack"
		viewallhref=""
	>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan/gold-edition"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/dragonage/dragon-age-inquisition/addon"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan/gold-edition"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
	</origin-store-pack>
</origin-store-row>

<origin-store-row>
	<origin-store-pack
		type="nine"
		title-str="Nine Pack"
		viewallstr="View more for 9 pack"
		viewallhref=""
	>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan/gold-edition"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/dragonage/dragon-age-inquisition/addon"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan/gold-edition"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/dragonage/dragon-age-inquisition/addon"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/sims/the-sims-4/demo"></origin-store-pack-item>
		<origin-store-pack-item ocd-path="/ultima/ultima-viii-pagan/gold-edition"></origin-store-pack-item>
	</origin-store-pack>
</origin-store-row>