<origin-store-nav>
    <origin-store-nav-dropdown title-str="Browse Games" href="store">
        <origin-store-nav-item title-str="PC Best Sellers" href="store"></origin-store-nav-item>
        <origin-store-nav-dropdown title-str="All PC Games" href="store">
            <origin-store-nav-item title-str="Action" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="MMO" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Online" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Puzzle" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Racing" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="RPG" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Shooter" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Simulation" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Sports" href="store"></origin-store-nav-item>
        </origin-store-nav-dropdown>
        <origin-store-nav-divider></origin-store-nav-divider>

        <origin-store-nav-dropdown title-str="Batlefield" href="store">
            <origin-store-nav-item title-str="Battlefield Hardline" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Battlefield 4" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Battlefield 3" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Battlefield Expansions" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="Battlefield DLC" href="store"></origin-store-nav-item>
            </origin-store-nav-dropdown>

        <origin-store-nav-dropdown title-str="The Sims" href="store">
            <origin-store-nav-item title-str="The Sims 4" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="The Sims 3" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="The Sims Expansions" href="store"></origin-store-nav-item>
            <origin-store-nav-item title-str="The Sims DLC" href="store"></origin-store-nav-item>
        </origin-store-nav-dropdown>

        <origin-store-nav-item title-str="Dragon Age" href="store"></origin-store-nav-item>
        <origin-store-nav-item title-str="Need for Speed" href="store"></origin-store-nav-item>
        <origin-store-nav-item title-str="Fifa" href="store"></origin-store-nav-item>
        <origin-store-nav-item title-str="Plants vs Zombies" href="store"></origin-store-nav-item>
        <origin-store-nav-item title-str="Simcity" href="store"></origin-store-nav-item>

    </origin-store-nav-dropdown>

    <origin-store-nav-dropdown title-str="Free Games" href="store/free-games">
        <origin-store-nav-item title-str="On The House" href="store/free-games/on-the-house"></origin-store-nav-item>
        <origin-store-nav-item title-str="Game Time" href="store/free-games/trials"></origin-store-nav-item>
        <origin-store-nav-item title-str="Demos and Betas" href="store/free-games/demos-and-betas"></origin-store-nav-item>
    </origin-store-nav-dropdown>

    <origin-store-nav-item title-str="Deals & Exclusives" href="store"></origin-store-nav-item>
    <origin-store-nav-item title-str="Origin Access" href="store"></origin-store-nav-item>
</origin-store-nav>
