<origin-store-home-takeover
    image="https://dev.data4.origin.com/preview/content/dam/originx/web/app/games/battlefield/battlefield-4/battlefield-4-standard-edition_pdp_3840x2160_en_WW.jpg"
    logo="https://docs.x.origin.com/proto/images/store/template_heroic_logo.png"
    title-str="Dragon Age: Inquisition"
    key-message="Immerse Yourself in the Ultimate Star Wars™ Experience"
    ocd-path="/dragonage/dragon-age-inquisition/digital-deluxe-edition"
    text-color="light"
    background-color="#141b20">
</origin-store-home-takeover>
