<origin-store-home-takeover
    image="https://docs.x.origin.com/proto/images/keyart/battlefront650x1156.jpg"
    title-str="Dragon Age: Inquisition"
    logo="https://docs.x.origin.com/proto/images/logos/sw_battlefront.png"
    key-message="Immerse Yourself in the Ultimate Star Wars&trade; Experience"
    ocd-path="/dragonage/dragon-age-inquisition/digital-deluxe-edition"
    text-color="light"
    video-id="W-xXXL6o4eI"
    background-color="#141B20"
    primary-text="Primary Action, yo"
    secondary-text="Secondary Action!">
</origin-store-home-takeover>
