<h1>Overrides with logo</h1>
<origin-store-home-takeover
    image="https://docs.x.origin.com/proto/images/store/template_heroic_.png"
    logo="https://docs.x.origin.com/proto/images/store/template_heroic_logo.png"
    title-str="Dragon Age: Inquisition"
    key-message="Immerse Yourself in the Ultimate Star Wars™ Experience"
    ocd-path="/dragonage/dragon-age-inquisition/digital-deluxe-edition">
</origin-store-home-takeover>

<h1>Overrides without logo</h1>
<origin-store-home-takeover
    image="https://docs.x.origin.com/proto/images/store/template_heroic_.png"
    title-str="Dragon Age: Inquisition"
    key-message="Immerse Yourself in the Ultimate Star Wars™ Experience"
    ocd-path="/dragonage/dragon-age-inquisition/digital-deluxe-edition"
   >
</origin-store-home-takeover>

<h1>Catalog data with PDP link override</h1>
<origin-store-home-takeover
    image="https://docs.x.origin.com/proto/images/store/template_heroic_.png"
    ocd-path="/dragonage/dragon-age-inquisition/digital-deluxe-edition"
    secondary-url="https://confluence.ea.com/display/EBI/Origin+X+Store+-+Store+Home+Page+PRD#OriginXStore-StoreHomePagePRD-StoreHomepage-Takeover"
    learn-more-text="Go to PRD"
   >
</origin-store-home-takeover>

<h1>Catalog data (no overrides)</h1>
<origin-store-home-takeover
    image="https://docs.x.origin.com/proto/images/store/template_heroic_.png"
    ocd-path="/dragonage/dragon-age-inquisition/digital-deluxe-edition"
   >
</origin-store-home-takeover>
