<header class="origin-profile-header">
 
    <!-- blurry background image and gradient overlay -->
    <div ng-if="backgroundImage">
        <origin-profile-header-image class="origin-profile-header-bg-image-wrapper" image-url="backgroundImage"></origin-profile-header-image>
    </div>
    <div class="origin-profile-header-bg-scrim"></div>

    <div class="origin-profile-header-info-section">

        <a href="javascript:void(0)" class="otkavatar-large otkavatar origin-profile-header-avatar" ng-class="{
                'otkavatar-isonline': ((presence.show === 'ONLINE') && (presence.presenceType !== 'UNAVAILABLE') && !invisible),
                'otkavatar-isjoinable': presenceFlags.joinable && (presence.presenceType !== 'UNAVAILABLE') && !invisible,
                'otkavatar-isingame': presenceFlags.ingame && (presence.presenceType !== 'UNAVAILABLE') && !invisible,
                'otkavatar-isbroadcasting': presenceFlags.broadcasting && (presence.presenceType !== 'UNAVAILABLE') && !invisible,
                'otkavatar-isaway': ((presence.show === 'AWAY') && (presence.presenceType !== 'UNAVAILABLE') && !invisible),
                'otkavatar-isoffline': ((presence.show == 'UNAVAILABLE') || (presence.presenceType == 'UNAVAILABLE') && !invisible) || invisible}">
            <img draggable="false" ng-src="{{avatarImgSrc}}" class="otkavatar-img">
        </a>

        <div class="origin-profile-header-presence-area">
            <i ng-show="!invisible" class="origin-profile-header-presence-dot" ng-class="{'otkpresence' : true,
                    'otkpresence-online': ((presence.show == 'ONLINE') && (presence.presenceType !== 'UNAVAILABLE')),
                    'otkpresence-ingame': (presenceFlags.ingame && (presence.presenceType !== 'UNAVAILABLE')),
                    'otkpresence-broadcasting': (presenceFlags.broadcasting && (presence.presenceType !== 'UNAVAILABLE')),
                    'otkpresence-away': ((presence.show == 'AWAY') && (presence.presenceType !== 'UNAVAILABLE')),
                    'otkpresence-offline': ((presence.show == 'UNAVAILABLE') || (presence.presenceType == 'UNAVAILABLE'))}">
            </i>
            <span class='otktitle-5 otktitle-5-caps'>{{presenceStr}}</span>
        </div>

        <div class='otktitle-page origin-profile-header-username'>{{user.EAID}}</div>

        <div>
            <span class='otktitle-3'>{{user.firstName}}</span>
            <span class='otktitle-3'>{{user.lastName}}</span>
        </div>

        <div class="origin-profile-header-controls" ng-class="{ hasCTA: ((relationship === 'NON_FRIEND') || (relationship === 'SELF') || (relationship === 'BLOCKED')) , hasDropdown: ((relationship === 'NON_FRIEND') || (relationship === 'FRIEND') || (relationship === 'BLOCKED')) }">

            <div class="origin-profile-header-hasaccess-logo" ng-if="subscription">
                <i class="otkicon otkicon-originlogo"></i><i class="otkicon otkicon-origintext"></i><i class="otkicon otkicon-accesstext"></i>
            </div>

            <!-- CTA button - make sure the logic here matches the ng-class on header-controls -->
            <span ng-show="relationship === 'SELF'"><a class="otkbtn otkbtn-primary origin-profile-header-controls-primary-button" data-button="editselfprofile">{{editoneadotcomLoc}}</a></span>
            <span ng-show="(relationship === 'NON_FRIEND') && (subState === 'NONE')"><a class="otkbtn otkbtn-primary origin-profile-header-controls-primary-button" data-button="sendfriendrequest">{{sendfriendrequestLoc}}</a></span>
            <span ng-show="(relationship === 'NON_FRIEND') && (subState === 'PENDING_OUT')"><a class="otkbtn otkbtn-primary otkbtn-disabled origin-profile-header-controls-primary-button">{{friendrequestsentLoc}}</a></span>
            <span ng-show="(relationship === 'NON_FRIEND') && (subState === 'PENDING_IN')"><a class="otkbtn otkbtn-primary origin-profile-header-controls-primary-button" data-button="acceptfriendrequest">{{acceptFriendRequestLoc}}</a></span>

            <!-- Dropdown -->
            <span ng-show="((relationship === 'NON_FRIEND') || (relationship === 'FRIEND') || (relationship === 'BLOCKED'))" class="origin-profile-header-controls-options-button">
                <i class="otkicon otkicon-downarrow"></i>
            </span>
        </div>

        <!-- debug info -->
<!--
        <br /><br />
        <h1 class='otktitle-6'>Relationship = {{relationship}}</h1>
        <h1 class='otktitle-6'>Subcription State = {{subState}}</h1>
-->
        <!-- debug info -->

    </div> <!-- end of info-section -->

    <!-- context menu -->
    <div id="origin-profile-header-controls-options-menu" class="otkcontextmenu-wrap" ng-class="{ 'otkcontextmenu-isvisible' : optionsContextmenuVisible }">
        <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
            <li ng-show="(relationship === 'NON_FRIEND') && (subState === 'PENDING_IN')" role="presentation">
                <a ng-click="contextmenuCallbacks.ignoreFriendRequest()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{ignoreFriendRequestLoc}}</a>
            </li>
            <li ng-show="relationship === 'FRIEND'" role="presentation">
                <a ng-click="contextmenuCallbacks.unfriendUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{unfriendLoc}}</a>
            </li>
            <li ng-show="relationship === 'NON_FRIEND' && relationship !== 'BLOCKED' && subState === 'NONE'" role="presentation">
                <a ng-click="contextmenuCallbacks.blockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{blockuserLoc}}</a>
            </li>
            <li ng-show="relationship === 'NON_FRIEND' && subState === 'PENDING_IN'" role="presentation">
                <a ng-click="contextmenuCallbacks.ignoreAndBlockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{ignoreandblockuserLoc}}</a>
            </li>
            <li ng-show="relationship === 'NON_FRIEND' && subState === 'PENDING_OUT'" role="presentation">
                <a ng-click="contextmenuCallbacks.cancelAndBlockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{cancelandblockuserLoc}}</a>
            </li>            
            <li ng-show="relationship === 'FRIEND' && subState === 'BOTH'" role="presentation">
                <a ng-click="contextmenuCallbacks.blockAndUnfriendUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{blockandunfriendLoc}}</a>
            </li>
            <li ng-show="relationship === 'BLOCKED'" role="presentation">
                <a ng-click="contextmenuCallbacks.unblockUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{unblockuserLoc}}</a>
            </li>
            <li role="presentation">
                <a ng-click="contextmenuCallbacks.reportUser()" role="menuitem" tabindex="-1" href="javascript:void(0)">{{reportuserLoc}}</a>
            </li>

        </ul>
    </div>
    <!-- /context menu -->

</header>
