<!-- pills -->
<div class="origin-profile-navsection origin-profile-navsection-tabs">
    <nav class="otknavbar origin-profile-tabs" role="navigation">
        <ul class="otknav otknav-pills">
            <li class="otkpill otkpill-active" data-page="achievements">
                <a href="javascript:void(0);">{{achievementsLoc}}</a>
            </li>
            <li class="otkpill" data-page="friends">
                <a href="javascript:void(0);">{{friendsLoc}}</a>
            </li>
            <li class="otkpill" data-page="games">
                <a href="javascript:void(0);">{{gamesLoc}}</a>
            </li>
        </ul>
        <!-- for a sliding nav, you need to update the width and then transform the location
        of the pills bar when you select a new tab.  Again this is component code to update
        the position and width of the bar -->
        <div class="otknav-pills-bar" style="width: 0; transform: translate3d(0px, 0px, 0px);"></div>
    </nav>
</div>
<!-- dropdown -->
<div class="origin-profile-navsection origin-profile-navsection-dropdown">
    <nav class="otkselect" role="navigation">
        <select class="origin-profile-dropdown">
            <option value="achievements" selected="selected">{{achievementsLoc}}</option>
            <option value="friends">{{friendsLoc}}</option>
            <option value="games">{{gamesLoc}}</option>
        </select>
        <span class="otkselect-label">{{achievementsLoc}}</span>
    </nav>
</div>

<section ng-show="activePage === 'achievements'">
    <origin-profile-page-achievements nucleusid="{{nucleusId}}"></origin-profile-page-achievements>
</section>
<section ng-show="activePage === 'friends'">
    <origin-profile-page-friends nucleusid="{{nucleusId}}"></origin-profile-page-friends>
</section>
<section ng-show="activePage === 'games'">
    <origin-profile-page-games nucleusid="{{nucleusId}}"></origin-profile-page-games>
</section>
