<div class="origin-storegamerating">
	<a ng-href="{{ratingUrl}}" class="origin-storegamerating-logo" target="_blank">
		<img ng-src="{{ratingSystemIcon}}" class="origin-storegamerating-logoimg" alt="{{ratingSystem}}: {{rating}}">
	</a>
	<div class="otkc-small origin-storegamerating-details">
		<div class="origin-storegamerating-title">{{ratingSystem}}: {{rating}}</div>
		<ul class="origin-storegamerating-descriptors">
			<li class="origin-storegamerating-descriptor" ng-repeat="descriptor in ratingDescriptors">{{descriptor}}</li>
		</ul>
		<div class="origin-storegamerating-footnote">{{ratingFootnote}}</div>
	</div>
</div>