<div class="origin-storegametile"
	ng-class="{
		'origin-storegametile-responsive': type === 'responsive',
		'origin-storegametile-fixed': type === 'fixed',
		'origin-storegametile-compact': type === 'compact',
		'origin-storegametile-isloading': isLoading
	}" title="{{title}}">
	
	<div class="origin-storegametile-overlaywrapper" ng-click="onOverlayWrapperClick()">
		<img ng-src="{{img}}" class="origin-storegametile-posterart" />
		<div class="origin-storegametile-overlay">
			<div class="origin-storegametile-overlaycontent">
				<origin-store-cta offerid="{{offerId}}" showinfobubble="true" class="origin-storegametile-cta"></origin-store-cta>
			</div>
		</div>
	</div>

	<section class="otkc origin-storegametile-details">
		<h2 class="otktitle-4 origin-storegametile-title">
			<a ng-click="onOverlayWrapperClick()">
				<span>{{title}}</span>
			</a>
		</h2>
		<origin-store-price offerid="{{offerId}}"></origin-store-price>
	</section><!-- end origin-storegametile-details -->

	<div ng-if="violatorStr.length" class="origin-storegametile-violator otktitle-5 otktitle-5-caps">
		<span>{{violatorStr}}</span>
	</div>

</div>