<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program</key>
	<string>/Applications/Origin.app/Contents/Library/LaunchServices/com.ea.origin.WebHelper</string>
	<key>Sockets</key>
	<dict>
		<key>com.ea.origin.WebHelper.sock</key>
		<dict>
			<key>SockNodeName</key>
			<string>localhost</string>
			<key>SockPassive</key>
			<true/>
			<key>SockServiceName</key>
			<string>3213</string>
			<key>SockFamily</key>
			<string>IPv4</string>
		</dict>
		<key>com.ea.origin.WebHelper.securesock</key>
		<dict>
			<key>SockNodeName</key>
			<string>localhost</string>
			<key>SockPassive</key>
			<true/>
			<key>SockServiceName</key>
			<string>3212</string>
			<key>SockFamily</key>
			<string>IPv4</string>
		</dict>
	</dict>
	<key>Label</key>
	<string>com.ea.origin.WebHelper</string>
	<key>WaitForDebugger</key>
	<false/>
</dict>
</plist>