<div class='origin-hometile'>
    <div class='origin-hometile-container'>
    <div class='origin-hometile-image' style='background-image:url({{::art}})' ng-if='::art'></div>
        <div class='origin-hometile-overlay'>
            <div class='origin-hometile-overlay-content'>
                <div ng-transclude></div>
            </div>
        </div>
    </div>
    <div class='origin-hometile-support-text'>
        <h1 class="otktitle-2 origin-hometile-support-text-title" ng-bind-html="subtitle">{{subtitle}}</h1>
        <p class="origin-hometile-support-text-paragraph">
            <span ng-bind-html="description">{{description}}</span>
        </p>
    </div><!-- .support-text end -->
</div>