.origin-game-pricing {
    margin-top: 12px;
    right: 20px;
    text-align: right;
    width: 153px;
    bottom: 15px;
    position: absolute;
}

.origin-game-pricing-platform {
    color: @color-mediumnavy;
    padding: 0;
}

.origin-game-pricing-price {
    color: @color-orange;
    display: inline-block;
}

.origin-game-pricing-discount {
    color: @color-mediumnavy;
}

.origin-game-pricing-discount-price {
    color: @color-mediumnavy;
    text-decoration: line-through;
}

.origin-game-pricing-discount-text {
    color: @color-nuxgreen;
    font-weight: bold;
    text-transform: uppercase;
}