.origin-postertile {
	position: relative;
	display: block;
	background: #fff;
	.box-shadow(0 1px 2px #ababab);
	text-decoration: none;
}

.origin-postertile-image {
	position: relative;
	background: #000;
}

.origin-postertile-image > img {
	display: block;
	width: 100%;
	opacity: 1.0;
	.transition(opacity 0.3s ease-in-out);
}

.origin-postertile:hover .origin-postertile-image > img {
	opacity:0.4;
}

.origin-postertile-actions {
	position:absolute;
	top: 0;
	width: 100%;
	padding-top: 50%;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0;
	.box-sizing(border-box);
	.transition(opacity 0.3s ease-in-out);
}

.origin-postertile:hover .origin-postertile-actions {
	opacity: 1.0;
}

.origin-postertile-content {
	padding: 5px;
}

.origin-postertile-title {
	height: 4em;
	color: #4f4f4f;
}

.origin-postertile-platform {
	height: 1.5em;
	color: #ababab;
	font-size: 12px;
}

.origin-postertile-price {
	height: 1.2em;
	color: #ff7300;
	font-size: 18px;
}

.origin-postertile-oldprice {
	height: 1.2em;
	color: #ababab;
	font-size: 14px;
	text-decoration: line-through;
}

.origin-postertile-violator {
	padding: 2px 0;
	background: #26c475;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1px;
}