.origin-socialmedia {
	z-index: 1;
	height: 20px;
	/* This fixes the odd button spacing in the iframes */
	line-height: 0;
	font-size: 0; 
}

.origin-socialmedia-button {
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 0;
	vertical-align: top;
	height: 20px;
	&:last-child {
		margin-right: 0;
	}
}