<example>
  <para>Loops over the files in C:\</para>
  <code>
    <![CDATA[
    <project default="doloop">
        <target name="doloop">
            <foreach item="File" in="c:\" property="filename">
                <echo message="${filename}"/>
            </foreach>
        </target>
    </project>
    ]]>
  </code>
</example>
