<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="bad_container_name" value="\typecomp2\eclipse\runconfig"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="c:\Program Files\Perforce\p4merge.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="gen\include\BlazeSDK\component\${string_prompt:File Name}&#13;&#10;gen2\include\BlazeSDK\component\${string_prompt:File Name}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\p4\packages\BlazeSDK\${SDK_VERSION}\build\BlazeSDK\${SDK_VERSION}"/>
</launchConfiguration>
