<footer class="l-origin-section origin-globalfooter">
    <div class="origin-globalfooter-column">
        <div class="origin-globalfooter-column-header otktitle-5 otktitle-5-caps" ng-bind-html="::languageStr"></div>
        <div class="origin-globalfooter-languageselector otkselect">
            <select ng-model="currentLocale" ng-options="key as value for (key, value) in ::languageMap" ng-change="setLocale(currentLocale)"></select>
            <span class="otkselect-label">
                <i class="origin-globalfooter-languageicon otkicon otkicon-language"></i>
                <span class="origin-globalfooter-languagelabel" ng-bind="languageMap[currentLocale]"></span>
            </span>
        </div>
        <p class="otktitle-4 origin-globalfooter-copyright"><strong ng-bind-html="::copyrightText"></strong></p>
        <p class="otkc otkc-small origin-globalfooter-legal" ng-bind-html="::legalContent"></p>
        <p class="otkc otkc-small origin-globalfooter-version" ng-bind="versionText"></p>
    </div>
</footer>
