<example>
<para>Include the tasks in an assembly.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <target name="init">
        <taskdef assembly="MyCustomTasks.dll">
          <sources>
              <includes name="src/*.cs"/>
          </sources>
          <references>
            <includes name="System.Drawing.dll" asis="true"/>
          </references>          
        </taskdef>
    </target>
</project>
]]>
</code>
</example>
