<div class="origin-store-carousel-product-carousel l-origin-store-column-full" ng-class="{'origin-store-carousel-product-image-isloading': isLoading}" origin-store-carousel-carousel>
    <div class="origin-store-carousel-product-carousel-headerarea origin-store-carousel-carousel-header">
        <div class="origin-store-carousel-product-carousel-title">
            <h1 class="otktitle-2 origin-store-carousel-product-carousel-title">{{ title }}</h1>
            <origin-store-viewall></origin-store-viewall>
        </div>
    </div>
    <div class="origin-store-carousel-product-carousel-container origin-store-carousel-carousel-container">
        <ul class="l-origin-storegametiles-fixed origin-store-carousel-product-carousel-slidearea origin-store-carousel-carousel-slidearea" >
            <li ng-repeat="n in offers">
                <origin-store-game-tile offerid="{{ n.offerId }}"></origin-store-game-tile>
            </li>
        </ul>
    </div>
</div>



