<tr class="origin-store-pdp-comparison-table-body-row" ng-show="anyDataFound">
	<td ng-show="image" class="origin-store-pdp-comparison-item origin-store-pdp-comparison-table-no-mobile">
		<img ng-src="{{ ::image }}" alt="" class="origin-store-pdp-comparison-item-image">
	</td>
	
	<td class="origin-store-pdp-comparison-item" ng-class="{'origin-store-pdp-comparison-table-show-more': show}"  colspan="{{ ::colspan }}">
		<h6 class="otkc origin-store-pdp-comparison-table-headers" ng-bind-html="::titleStr"></h6>
		<p class="otktitle-4 origin-store-pdp-comparison-table-description">
            <span ng-bind-html="::description"></span> <a ng-if="more" class="otka origin-store-pdp-comparison-table-more" ng-click="toggleContent()" ng-bind-html="::showMore"></a>
        </p>

		<div ng-if="more" class="otkc origin-store-pdp-comparison-table-more-content">
			<p class="otktitle-4 origin-store-pdp-comparison-table-more-content-text" ng-bind-html="more"></p>
		</div>
		<a ng-if="more" class="otka origin-store-pdp-comparison-table-less" ng-click="toggleContent()" ng-bind-html="::showLess"></a>
	</td>

	<td ng-repeat="offer in offers track by $index" class="origin-store-pdp-comparison-item origin-store-pdp-comparison-item-checks origin-store-pdp-comparison-item-{{ ::offerLength }}" ng-class="{'origin-store-pdp-comparison-item-checked': checklist[$index].check == 'checked' || checklist[$index].check == 'custom'}">
		<i class="origin-store-pdp-comparison-item-check otkicon otkicon-checkcircle" ng-if="checklist[$index].check == 'checked'"></i>
		<i class="origin-store-pdp-comparison-item-close otkicon otkicon-closecircle" ng-if="checklist[$index].check == 'not-checked'"></i>
		<p class="origin-store-pdp-comparison-item-text otktitle-4" ng-if="checklist[$index].check == 'custom' && checklist[$index].value" ng-bind-html="::checklist[$index].value"></p>
		<p class="origin-store-pdp-comparison-item-edition otkc otkc-small">{{ ::getLocalizedEdition(models[offers[$index]].editionName) }}</p>

		<p class="origin-store-pdp-comparison-table-vault-text otkc otkc-small" ng-if=" models[offers[$index]].subscriptionAvailable && !disallowedFromVault">{{ ::vaultFlag }}</p>

	</td>
</tr>