<div class='origin-tile-overlay' ng-click="goToProfile()" ng-class="{'origin-friendtile-confirm-visible' : canShowRequestButtons()}">
    <div class='origin-tile-overlay-content' ng-show="canShowAddDismissFriendButtons()">
        <a class='otkbtn otkbtn-primary' ng-click='addFriend($event)'
           ng-bind='addFriendString'></a>
        <div>
            <a class='origin-tile-secondarycta origin-friendtile-dismisscta' ng-click='dismiss($event)' ng-bind='dismissString'></a>
        </div>
    </div>
    <div class='origin-tile-overlay-content origin-friendtile-confirm' ng-show="canShowRequestButtons()">
        <i class='otkicon otkicon-person origin-friendtile-iconperson'></i>
        <i class='otkicon otkicon-check origin-friendtile-iconcheck'></i>
        <div class='otktitle-4 origin-friendtile-requestsent'>{{requestSentString}}</div>
    </div>
    <div class='origin-tile-overlay-content' ng-show="canShowViewFriendsList()">
        <div class="origin-cta-primary">
            <button class="otkbtn otkbtn-primary" ng-click="goToProfile()">
                <i class="otkicon otkbtn-primary-icon {{::iconClass}}" ng-if="iconClass"></i>
                <span class="otkbtn-primary-text">{{viewListButtonString}}</span>
            </button>
        </div>
    </div>
    <div class='origin-tile-overlay-content' ng-show="canShowProfileButton()">
        <div class="origin-cta-primary">
            <button class="otkbtn otkbtn-primary" ng-click="goToProfile()">
                <i class="otkicon otkbtn-primary-icon {{::iconClass}}" ng-if="iconClass"></i>
                <span class="otkbtn-primary-text">{{viewProfileString}}</span>
            </button>
        </div>
    </div>
</div>
