<div class="origin-store-freegames-module l-origin-store-column-full origin-store-freegames-module-{{ alignment }}">

    <div class="origin-store-freegames-module-bg-scrim">
        <div class="origin-store-freegames-module-content">
            <h2 class="otktitle-2" ng-bind-html="::titleStr"></h2>
            <h4 class="otktitle-3 origin-store-freegames-module-subtitle" ng-bind-html="::subtitle"></h4>
            <br>
            <origin-cta-loadurlinternal
                href="{{ href }}"
                description="{{ description }}"
                type="transparent">
            </origin-cta-loadurlinternal>
        </div>
    </div>
    
    <origin-store-backgroundimage background-color='{{ ::backgroundColor }}' image='{{ ::image }}'> </origin-store-backgroundimage>
</div>