<div class="origin-store-freegames-offermodule l-origin-store-column-full">
    <div class="origin-store-freegames-offermodule-bg-scrim">
        <div class="origin-store-freegames-offermodule-content origin-store-freegames-{{ alignment }}">
            <h2 class="otktitle-2" ng-bind-html="titleStr"></h2>
            <h4 class="otktitle-3 origin-store-freegames-offermodule-subtitle" ng-bind-html="subtitle"></h4>
            <br>
            <origin-cta-loadurlinternal
                    href="{{ href }}"
                    description="{{ description }}"
                    type="transparent">
            </origin-cta-loadurlinternal>
        </div>

        <div class="origin-store-freegames-offermodule-offer origin-store-freegames-{{ alignment }}">
            <img ng-src="{{model.packArt}}" alt="{{ model.displayName }}" class="origin-store-freegames-offermodule-offer-packart">
            <h2 class="otktitle-2">{{ model.displayName }}</h2>
            <p class="otktitle-4 origin-store-freegames-offermodule-offer-description">
                <strong ng-bind-html="offersubtitle"></strong>
                <br/>
                <span ng-bind-html="offerdescription || model.shortDescription"></span>
            </p>

            <origin-store-price offer-id="{{ model.offerId }}" ng-if="model.oth"></origin-store-price>

            <origin-store-cta offer-id="{{ model.offerId }}" showinfobubble="true"></origin-store-cta>
        </div>
    </div>
    <origin-blur-image class="background-image" image-url="model.packArt" blur-value="8" svg-options="{viewBox: '0 300 1000 1000', preserveAspectRatio: 'xMinYMin slice'}"></origin-blur-image>
    <div class="background-image-overlay"></div>
</div>