<div class="origin-store-program-offer">
    <div ng-if="!user.isSubscriber && isEarlyAccess()" class="origin-store-program-offer-locked">
        <i class="otkicon otkicon-lockclosed"></i>
    </div>

    <a ng-href="{{pdpUrl}}" ng-click="goToPdp($event)">
        <img ng-src="{{ packArt }}" alt="{{ displayName }}" title="{{ displayName }}" class="origin-store-program-offer-packart">
    </a>
    <h2 class="otktitle-2">
        <a ng-href="{{pdpUrl}}" ng-click="goToPdp($event)" class="origin-store-program-offer-title" ng-bind="displayName"></a>
    </h2>

    <p class="otktitle-4 origin-store-program-offer-description">
        <strong class="ng-binding" ng-bind-html="::offerDescriptionTitle"></strong>
        <br>
        <span ng-bind-html="offerDescription"></span>
    </p>

    <origin-store-price offer-id="{{offerId}}" ng-if="oth === 'true'"></origin-store-price>

    <origin-store-cta ng-if="offerId"
                      description="{{ description }}"
                      offer-id="{{ ::offerId }}"
                      showinfobubble="true"
                      show-info-bubble-oth-link="false"
                      type="primary">
    </origin-store-cta>
</div>
