<div class="origin-store-freegames-program l-origin-store-column-{{:: (size || 'full') }} origin-store-freegames-program-{{ ::layout }}">
    <origin-blur-image image-url="model.packArt" blur-value="8" svg-options="{viewBox: '0 0 1000 1000', preserveAspectRatio: 'xMinYMid slice'}" class="origin-store-freegames-program-background"></origin-blur-image>
    <div class="origin-store-freegames-program-bg-scrim">
        <div class="origin-store-freegames-program-container">
            <div class="origin-store-freegames-program-col">
                <origin-store-program-offer
                        display-name="{{ ::model.displayName}}"
                        pack-art="{{ ::model.packArt}}"
                        description="{{::description}}"
                        offer-id="{{ ::model.offerId}}"
                        offer-description-title="{{::offerDescriptionTitle}}"
                        offer-description="{{offerDescription || model.shortDescription}}"
                        early-access="{{ ::model.earlyAccess }}"
                        oth="{{ ::model.oth }}"
                        on-click="goToPdp($event)"
                        pdp-url="{{::getPdpUrl(model, true)}}"
                >
                </origin-store-program-offer>
            </div>
            <div class="origin-store-freegames-program-col">
                <div class="origin-store-freegames-program-screenshots">
                    <div ng-repeat="screenshot in ::screenshots" ng-click="openModal($index)" class="origin-store-freegames-program-screenshot-container">
                        <div class="origin-store-freegames-program-screenshot">
                            <img ng-src="{{ screenshot.src}}" alt="{{ model.displayName }}" class="origin-store-freegames-program-screenshot-image" ng-if="screenshot.src" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>