<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <trycatch>
        <try>
            <eval code="@{PathGetTempFileName()}" type="Function" property="temp-file"/>
        </try>
        <catch>
        </catch>
    </trycatch>
    <choose>
        <do if="@{FileExists(${temp-file})}">
            <echo message="${temp-file} is just created on disk." />
        </do>
        <do>
            <echo message="Unable to create ${temp-file} on disk."/>
        </do>
    </choose>
</project>
]]>
</code>
</example>