<example>
<para>Simple example of wrapping a series of tasks with a single condition.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <do if="true">
        <echo message="Hello, World!"/>
        <echo message="Goodbye, Cruel World!"/>
    </do>
</project>
]]>
</code>
</example>