QLabel#divLine {
    background-image: url(:/Resources/divider.png);
	max-height: 2px;
	min-height: 2px;
}

/************************************************************/
/* Application Scrollbars */
/************************************************************/

QScrollBar:vertical
{
	border-image: url(:/Resources/scrollbars/scrollbar_vertical_gutter.png) 8 0 8 0 stretch stretch;
	border-width: 8px 0px 8px 0px;
	background-image: none;
	width: 17px;
    padding: -7px 0 -7px 0;
	margin: 19px 0 20px 0;
}

QScrollBar:vertical:disabled
{
	border-image: url(:/Resources/scrollbars/scrollbar_vertical_gutter_disabled.png) 7 0 7 0 stretch stretch;
}

QScrollBar::handle:vertical
{
    min-height: 5px;
	border-image: url(:/Resources/scrollbars/scrollbar_vertical_thumb.png) 8 0 8 0 stretch stretch;
	border-width: 8px 0px 8px 0px;
    width:17px;
}

QScrollBar::handle:disabled
{
	border-image: url(:/Resources/scrollbars/scrollbar_vertical_thumb_disabled.png) 8 0 8 0 stretch stretch;
}

QScrollBar::add-line:vertical
{
	background-image: none;
	width: 17px;
	height: 19px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
	background-image: none;
	width: 17px;
	height: 19px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar:up-arrow:vertical
{
	width: 17px;
	height: 19px;
	background-image: url(:/Resources/scrollbars/scrollbar_vertical_uparrow.png);
}

QScrollBar:up-arrow:vertical:disabled
{
	background-image: url(:/Resources/scrollbars/scrollbar_vertical_uparrow_disabled.png);
}

QScrollBar:down-arrow:vertical
{
	width: 17px;
	height: 20px;
	background-image: url(:/Resources/scrollbars/scrollbar_vertical_downarrow.png);
}

QScrollBar:down-arrow:vertical:disabled
{
	width: 17px;
	height: 20px;
	background-image: url(:/Resources/scrollbars/scrollbar_vertical_downarrow_disabled.png);
}

QScrollBar::add-page:vertical
{
	background: none;
}

QScrollBar::sub-page:vertical
{
	background: none;
}

QScrollBar:horizontal
{
	border-image: url(:/Resources/scrollbars/scrollbar_horizontal_gutter.png) 0 8 0 8 stretch stretch;
	border-width:  0px 8px 0px 8px;
	background-image: none;
	height: 17px;
    padding:  0 -7px 0 -7px;
	margin: 0 20px 0 19px;
}

QScrollBar:horizontal:disabled
{
	border-image: url(:/Resources/scrollbars/scrollbar_horizontal_gutter_disabled.png) 0 7 0 7 stretch stretch;
}

QScrollBar::handle:horizontal
{
    min-width: 50px;
	border-image: url(:/Resources/scrollbars/scrollbar_horizontal_thumb.png) 0 8 0 8 stretch stretch;
	border-width: 0px 8px 0px 8px;
    height:17px;
}

QScrollBar::handle:horizontal:disabled
{
	border-image: url(:/Resources/scrollbars/scrollbar_horizontal_thumb_disabled.png) 0 8 0 8 stretch stretch;
}

QScrollBar::add-line:horizontal
{
	background-image: none;
	height: 17px;
	width: 20px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
	background-image: none;
	height: 17px;
	width: 19px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar:left-arrow:horizontal
{
	height: 17px;
	width: 19px;
	background-image: url(:/Resources/scrollbars/scrollbar_horizontal_leftarrow.png);
}

QScrollBar:left-arrow:horizontal:disabled
{
	background-image: url(:/Resources/scrollbars/scrollbar_horizontal_leftarrow_disabled.png);
}

QScrollBar:right-arrow:horizontal
{
	height: 17px;
	width: 20px;
	background-image: url(:/Resources/scrollbars/scrollbar_horizontal_rightarrow.png);
}

QScrollBar:right-arrow:horizontal:disabled
{
	background-image: url(:/Resources/scrollbars/scrollbar_horizontal_rightarrow_disabled.png);
}

QScrollBar::add-page:horizontal
{
	background: none;
}

QScrollBar::sub-page:horizontal
{
	background: none;
}

/************************************************************/
/* Application-wide tool tips */
/************************************************************/

QToolTip {
    background-color: #444444;
    border-image: url(:/Resources/GUI/tooltip.png) 3px 3px 3px 3px stretch stretch;
    border-width: 3px 3px 3px 3px;
    font-weight: bold;
    font-size: 11px;
    color: white;
    padding: 0px;
}

QToolButton#toolBtnFilterMenu {
	background-color: #f5f5f5;
	selection-background-color: #f5f5f5;
	color: #666666; 
	font-size: 13px;
	font-weight: bold;
	border: none;
	border-image: none;
	bottom: 0px;
}

 QToolButton#toolBtnFilterMenu[popupMode="1"] { /* only for MenuButtonPopup */
     padding-right: 15px; /* make way for the popup button */
 }

 QToolButton#toolBtnFilterMenu::menu-button {
	border: none;
    border-image: none; 
 }