<div class="origin-achievementbadge" ng-class='{
        "origin-achievementbadge-hidden": points === "--" || date === "-1"}'>
    <div class="origin-achievementbadge-header">
        <h1 class="origin-achievementbadge-title otktitle-3" ng-bind-html="titleStr" title="{{::titleStr}}"></h1>
        <p class="origin-achievementbadge-points otktitle-3">
            {{ getPoints() }}
            <span class="origin-achievementbadge-logo otkicon otkicon-originlogo"></span>
        </p>
    </div>
    <div class="origin-achievementbadge-image-wrapper">
        <div class="origin-achievementbadge-image-bg">
            <img class="origin-achievementbadge-image" src="{{imageURL}}" achievementbadge-fadein>
        </div>
    </div>
    <div class="origin-achievementbadge-footer">
        <h3 class="origin-achievementbadge-desc otkc">{{description}}</h3>
        <h5 class="origin-achievementbadge-date otkc otkc-small" ng-bind-html="completedOnText"></h5>
    </div>
</div>