<div class="origin-achievements-public" ng-if="!isPrivate && !isLoading && score.totalAchievements !== 0 && !retry">
    <section class="origin-achievements-overall" ng-if="score">
        <h2 class="otktitle-3 origin-achievements-overall-title" ng-bind-html="overallProgressLoc"></h2>
        <ul>
            <li>
                <div class="origin-achievements-overallprogress">
                    <origin-achievements-radial-progress
                        progresssize="large"
                        type="achievements"
                        showratio="false"
                        text="{{achievementsCompletedLoc}}"
                        textsize="large"
                        score="{{score.grantedAchievements}}"
                        totalpossible="{{score.totalAchievements}}">
                    </origin-achievements-radial-progress>
                </div>
            </li>
            <li>
                <div class="origin-achievements-overallprogress">
                    <origin-achievements-radial-progress
                        progresssize="large"
                        type="points"
                        showratio="false"
                        text="{{pointsCompletedLoc}}"
                        textsize="large"
                        score="{{score.grantedXp}}"
                        totalpossible="{{score.totalXp}}">
                    </origin-achievements-radial-progress>
                </div>
            </li>
        </ul>
    </section>
    <section class="origin-achievement-sets">
        <!-- List of games with achievements -->
        <ul class="origin-achievement-tiles" ng-if="achievementSets">
            <li class="l-origin-achievement-tile" ng-repeat="data in achievementSets track by $index">
                <origin-achievement-tile achievementsetid="{{data.achievementSetId}}" personaid="{{personaId}}" nucleusid="{{nucleusId}}" isdetailspage="false">
                </origin-achievement-tile>
            </li>
        </ul>
    </section>
</div>

<div ng-if="!isPrivate && !isLoading && score.totalAchievements === 0 && !retry">
    <h3 class="otktitle-2 origin-achievements-nogames-title" ng-bind-html="noGamesOtherTitleLoc"></h3>
    <p class="otkc origin-achievements-nogames-text" ng-bind-html="noGamesOtherTextLoc"></p>
</div>

<div class="origin-achievements-private" ng-if="isPrivate && !isLoading && !retry">
    <h3 class="otktitle-2" ng-bind-html="noPeekingLoc"></h3>
    <p class="origin-achievements-private-text otkc" ng-bind-html="achievementsPrivateLoc"></p>
</div>

<div class="origin-achievements-retry" ng-if="retry && !isLoading">
    <h3 class="otktitle-2 origin-achievements-nogames-title">{{::retryErrorTitleLoc}}</h3>
    <p class="otkc origin-achievements-nogames-text">{{::retryErrorDescLoc}}</p>
    <a ng-click="reloadCurrentRoute()" class="otkbtn otkbtn-primary">{{::retryErrorCTALoc}}</a>
</div>

<div ng-if="isLoading" class="origin-achievement-isloading"></div>