<div class="origin-achievementprogress" ng-class='{
        "origin-achievementprogress-large": progressSize === "large",
        "origin-achievementprogress-medium": progressSize === "medium",
        "origin-achievementprogress-small": progressSize === "small"}'>
    <div class="otkprogress-radial origin-achievementprogress-radial" ng-class='{"otkprogress-radial-isgt50": degrees > 180}'>
        <div class="otkprogress-radial-progress"
             ng-class='{ "origin-achievementprogress-clipright": degrees <= 180,
                         "origin-achievementprogress-clipleft": degrees > 180}'>
            <div class="otkprogress-radial-progressfill origin-achievementprogress-fill origin-achievementprogress-clipleft" ng-style="rotationDegreesCSS"></div>
        </div>
        <div class="otkprogress-radial-progressfill origin-achievementprogress-fill origin-achievementprogress-clipright otkprogress-radial-progressfillgt50"></div>
        <div class="otkprogress-radial-center origin-achievementprogress-center">
            <i class="otkicon" ng-class='{
                "otkicon-trophy origin-achievementprogress-trophyicon": type === "achievements",
                "otkicon-originlogo origin-achievementprogress-originicon": type === "points"}'>
            </i>
        </div>
    </div>

    <!-- For now we are only changing theme for small size radial progress bar -->
    <div class="origin-achievementprogress-details" ng-class='{"origin-achievementprogress-details-light": theme === "light" && textSize === "small"}'>
        <div class="origin-achievementprogress-wrapper">
            <h1 class="origin-achievementprogress-score"
                ng-class='{
                        "otktitle-page": textSize === "large",
                        "otktitle-2": textSize === "medium",
                        "otktitle-3": textSize === "small"}'>
                {{score}}
                <span ng-if="showratio"
                      ng-class='{
                        "otktitle-2": textSize === "large",
                        "otktitle-3": textSize === "medium",
                        "otktitle-4": textSize === "small"}'>
                    /{{totalPossible}}
                </span>
            </h1>
            <h1 class="origin-achievementprogress-text"
                ng-class='{
                        "otktitle-3": textSize === "large",
                        "otktitle-4": textSize === "medium",
                        "otktitle-5 otktitle-5-caps": textSize === "small"}'
                ng-bind-html="text">
            </h1>
        </div>
    </div>
</div>
