<div ng-if="!isLoading && score.totalAchievements !== 0">
    <section class="origin-achievements-overall">
        <h2 class="otktitle-3 origin-achievements-overall-title" ng-bind-html="overallProgressLoc"></h2>
        <ul>
            <li>
                <div class="origin-achievements-overallprogress">
                    <origin-achievements-radial-progress
                        progresssize="large"
                        type="achievements"
                        showratio="false"
                        text="{{achievementsCompletedLoc}}"
                        textsize="large"
                        score="{{score.grantedAchievements}}"
                        totalpossible="{{score.totalAchievements}}">
                    </origin-achievements-radial-progress>
                </div>
            </li>
            <li>
                <div class="origin-achievements-overallprogress">
                    <origin-achievements-radial-progress
                        progresssize="large"
                        type="points"
                        showratio="false"
                        text="{{pointsCompletedLoc}}"
                        textsize="large"
                        score="{{score.grantedXp}}"
                        totalpossible="{{score.totalXp}}">
                    </origin-achievements-radial-progress>
                </div>
            </li>
        </ul>
    </section>

    <!-- List of games with achievements -->
    <ul class="origin-achievement-tiles">
        <li class="l-origin-achievement-tile" ng-repeat="data in achievementSets track by $index">
            <origin-achievement-tile achievementsetid="{{data.achievementSetId}}" personaid="{{personaId}}" nucleusid="{{nucleusId}}" isdetailspage="false"></origin-achievement-tile>
        </li>
    </ul>
</div>

<div ng-if="score.totalAchievements === 0 && !isLoading">
    <h3 class="otktitle-2 origin-achievements-nogames-title" ng-bind-html="noGamesSelfTitleLoc"></h3>
    <p class="otkc origin-achievements-nogames-text" ng-bind-html="noGamesSelfTextLoc"></p>
</div>

<div ng-if="isLoading" class="origin-achievement-isloading"></div>
