<div class="origin-achievement-details" ng-if="score && !isLoading">
    <!-- Show Large Game Tile for Profile Page -->
    <section class="origin-achievement-scoretile" ng-if="!isOgd">
        <origin-achievement-tile achievementsetid="{{achievementSetId}}" personaid="{{personaId}}" nucleusid="{{nucleusId}}" isdetailspage="true"></origin-achievement-tile>
    </section>

    <!-- Show Large Radial Progress for OGD -->
    <section ng-if="isOgd" class="origin-achievement-scoreradial"
             ng-class="{'origin-achievement-scoreradial-isogd': isOgd}">
        <ul class="origin-achievementprogress-list">
            <li class="origin-achievementprogress-item">
                <div class="origin-achievements-overallprogress">
                    <origin-achievements-radial-progress
                        progresssize="large"
                        type="achievements"
                        showratio="false"
                        text="{{achievementsCompletedLoc}}"
                        textsize="large"
                        score="{{score.grantedAchievements}}"
                        totalpossible="{{score.totalAchievements}}">
                    </origin-achievements-radial-progress>
                </div>
            </li>
            <li class="origin-achievementprogress-item">
                <div class="origin-achievements-overallprogress">
                    <origin-achievements-radial-progress
                        progresssize="large"
                        type="points"
                        showratio="false"
                        text="{{pointsCompletedLoc}}"
                        textsize="large"
                        score="{{score.grantedXp}}"
                        totalpossible="{{score.totalXp}}">
                    </origin-achievements-radial-progress>
                </div>
            </li>
        </ul>
    </section>

    <!-- Base Game Achievements Details with Badge Tiles -->
    <origin-achievement-game-details personaid="{{personaId}}" achievementset="baseGameData" isogd="isOgd"></origin-achievement-game-details>

    <!-- Expansions/Addons Achievement Details with Badge Tiles -->
    <origin-achievement-game-details personaid="{{personaId}}" ng-if="expansionsData" ng-repeat="expansion in expansionsData" achievementset="expansion" isogd="isOgd"></origin-achievement-game-details>

</div>

<div ng-if="isLoading"
     ng-class="{'origin-achievement-ogd-isloading': isOgd,
                'origin-achievement-isloading': !isOgd}">
</div>