<section class="origin-achievement-gamedetails" ng-if="achievementSet().totalAchievements() > 0"
         ng-class="{'origin-achievement-gamedetails-isogd': isOgd()}">
    <section class="origin-achievement-gameheader" ng-class='{"origin-achievement-gameheader-ogd": isOgd()}'>
        <h1 class="otktitle-3 origin-achievement-gametitle">{{achievementSet().name}}</h1>
        <ul class="origin-achievementsummary-list">
            <li class="origin-achievementsummary-item">
                <h4 class="otktitle-3 origin-achievements-granted">{{achievementSet().grantedAchievements()}}
                    <strong class="otktitle-4"> / {{achievementSet().totalAchievements()}}</strong>
                </h4>
                <h5 class="otktitle-5 otktitle-5-caps origin-achievements-grantedtext" ng-bind-html="achievementLoc"></h5>
            </li>
            <li class="origin-achievementsummary-item">
                <h4 class="otktitle-3 origin-achievements-granted">{{achievementSet().grantedXp()}}
                    <strong class="otktitle-4"> / {{achievementSet().totalXp()}}</strong>
                </h4>
                <h5 class="otktitle-5 otktitle-5-caps origin-achievements-grantedtext" ng-bind-html="pointsLoc"></h5>
            </li>
        </ul>
    </section>
    <ul ng-if="gameAchievements" class="origin-achievement-badgelist">
        <li class="origin-achievement-badgeitem" ng-repeat="achievement in gameAchievements | orderBy: ['-u', '-xp_t'] | limitTo: limit track by achievement.rindex"
            ng-class="isOgd() ? 'origin-achievement-badgeitem-3' : 'origin-achievement-badgeitem-4'">
            <origin-achievement-badge 
                title-str="{{achievement.name}}"
                points="{{achievement.xp_t}}"
                imageurl="{{achievement.icons[208]}}"
                description="{{achievement.desc}}"
                date="{{achievement.u}}">
            </origin-achievement-badge>
        </li>
    </ul>
    <section ng-show="limit < gameAchievements.length" class="origin-achievement-viewall">
        <button ng-click="showAllTiles()" class="otkbtn otkbtn-light" ng-bind="viewAllLoc"></button >
    </section>
</section>