<div class="origin-tile origin-achievement-tile">
    <div class="origin-tile-container" origin-touch="onCtaClicked()">
        <div class='origin-tile-image' ng-style="{'background-image':'url('+image+')'}"></div>
        <div class='origin-tile-overlay' ng-if="::isTouchDisable">
            <div class="origin-tile-overlay-content">
                <div ng-click="onTitleClicked()" class='otka origin-tile-overlay-link'>
                    <h2 class="otktitle-2 origin-tile-overlay-content-title origin-telemetry-tile-overlay-content-title" ng-bind-html="titleStr"></h2>
                </div>
                <button ng-click="onCtaClicked()" class="otkbtn otkbtn-primary" ng-bind-html="viewDetailsLoc"></button>
            </div>
        </div>
        <div class="origin-tile-title" ng-hide='!titleStr'>
            <h2 class="otktitle-2" ng-bind-html="titleStr"></h2>
        </div>
    </div> <!-- tile-img-wrapper end -->

    <div class="origin-tile-support-text origin-achievements-support-text" ng-class="{ 'origin-tile-support-text-isshown' : score }" ng-if="score">
        <section class="origin-achievements-score-board">
            <origin-achievements-radial-progress
                progresssize="small"
                type="achievements"
                showratio="true"
                text="{{achievementsLoc}}"
                textsize="medium"
                score="{{score.grantedAchievements}}"
                totalpossible="{{score.totalAchievements}}">
            </origin-achievements-radial-progress>
        </section>

        <section class="origin-achievements-score-board">
            <origin-achievements-radial-progress
                progresssize="small"
                type="points"
                showratio="true"
                text="{{pointsLoc}}"
                textsize="medium"
                score="{{score.grantedXp}}"
                totalpossible="{{score.totalXp}}">
            </origin-achievements-radial-progress>
        </section>
    </div><!-- .support-text end -->
</div>