// Global Search Results Page
// --------------------------------------------------

.origin-search-results {
    padding-top: 20px;
}

.origin-search-section {
    position: relative;
    min-height: 200px;
}

.origin-search-section-noresults {
    display: none;
}

.l-origin-storegametiles-more {
    text-align: center;
    padding: 25px 0 40px 0;
}

.origin-search-title {
    margin: 5px 0;
    text-align: center;
}

.origin-search-view-more {
    font-size: 16px;

    .media-max-width(@width-mobile-small, {
        display: inline-block;
    });
}

.origin-search-loading {
    position: relative;
    min-height: 150px;
}

.origin-search-loading-label {
    position: absolute;
    .position-center();
    margin-top: 20px;
}

.origin-search-loading-spinner {
    .loading();
    &:after {
        margin-left: -20px;
        margin-top: -40px;
    }
}


/* Games Library Search Results List */
.l-origin-search-gameslist {
    .l-browsegrid-container();
}

/* Game Library Search Results with Chat */
.origin-content-hasembeddedchat .l-origin-search-gameslist {
   .l-browsegrid-container-withchat();
}

/* Store Search Results List */
.l-origin-search-storelist {
    .l-browsegrid-container();

    &-item {
        .l-browsegrid-item();
        float: none; // onthehouse banner issue

        &-isvisible {
            opacity: 1;
            .translate3d(0, 0, 0);
        }
    }
}

/* Store Search Results List With Chat */
.origin-content-hasembeddedchat .l-origin-search-storelist {
   .l-browsegrid-container-withchat();
    &-item {
        .l-browsegrid-item-withchat();
    }
}

/* People Search Results  List*/
.l-origin-search-peoplelist {
    .display-flex();
    .flex-wrap(wrap);
    padding: 0;
    margin: 15px 0 0 -20px;
    &-item {
        .box-sizing(border-box);
        max-width: 1000px;
        padding: 0 0 0 20px;
        margin: 0 0 36px 0;
        list-style: none;
        .backface-visibility(hidden);

        .media-max-width(@global-width-xsmall, {
            width: 100%;
        });

        .media-min-max-width(@global-width-xsmall, @global-width-large, {
            width: 50%;
        });

        .media-min-width(@global-width-large, {
            width: 25%;
        });

        // we need to override origin tile height here as it effects layout on my-home tiles
        .origin-tile {
            height: 100%;
        }
    }
}

/* One Row for Game and Store Results List */
.l-origin-search-list {
    margin-bottom: 0px;
    > li {
        .media-max-width(@browsegrid-8col, { // < 2450px
            &:nth-of-type(n+9) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-7col, { // < 2140px
            &:nth-of-type(n+8) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-6col, { // < 1900px
            &:nth-of-type(n+7) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-5col, { // < 1650px
            &:nth-of-type(n+6) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-4col, { //<  1370px
            &:nth-of-type(n+5) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-3col, { // < 770px
            &:nth-of-type(n+4) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-2col, { // < 485px
            &:nth-of-type(n+3) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-1col, { // < 320px
            &:nth-of-type(n+2) {
                display: none;
            }
        });
    }
}

/* One Row for Game and Store Results List with Chat */
.origin-content-hasembeddedchat .l-origin-search-list {
    > li {
        .media-max-width(@browsegrid-7col-withchat, {
            &:nth-of-type(n+8) {
                display: none;
            }
        });
        .media-max-width(@browsegrid-6col-withchat, {
            &:nth-of-type(n+7) {
                display: none;
            }
        });
    }
}

.origin-banner-searchloggedout {
    padding: 48px 12%;
    display: block;
    color: @color-black;
    text-align: center;
}

.origin-banner-searchloggedout-title {
    text-align: center;
    padding: 24px 0px 24px 0px;
    margin-bottom: 0px;
}

.origin-banner-searchoffline {
    padding: 48px 12%;
    display: block;
    color: @color-black;
    text-align: center;
}

.origin-banner-searchoffline-message {
    max-width: 100%;
    margin-bottom: 24px;
}

/* End: Search Results Page */

/* Start: No Search Results Page */

.origin-search-no-results-main {
    padding: 48px 12%;
    text-align: center;
    color: @color-black;
    pointer-events: none;
}

.origin-search-no-results-title {
    word-wrap: break-word;
}

.origin-search-no-results-desc {
    max-width: 100%;
    margin-bottom: 20px;
}

.origin-search-no-results-carousel {
    font-size: 0;
}

 .origin-search-no-results-carousel .l-origin-store-column-full {
    width: 100%
} 

/* End: No Search Results Page */