//
// Origin Store - Free Games Program Module
// =============================================

.origin-store-freegames-program.origin-store-freegames-program-loading {
  .loading(#f00);
}

.origin-store-freegames-program {
  position: relative;
  background: rgb(30, 38, 44);
  overflow: hidden;
  height: 360px;
  text-align: center;
}

.origin-store-freegames-program-image-wrapper {
  overflow: hidden;
  height: 100%;
  text-align: center;
  width: 5000px;
  position: absolute;
  top: 0;
  left: 50%;
  .translate(-50%, 0);
  
  @media screen {
    @media (min-width: 1000px) {
      min-height: 360px;
    }
  }  
}

.origin-store-freegames-program-image-wrapper-inner {
  position: relative;
  display: inline-block;
  top: 50%;
  .translate(0, -50%);
}

.origin-store-freegames-program-image-scrim-right {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  
  #gradient > .horizontal(rgba(30, 38, 44, 0), rgba(30, 38, 44, 1), 0%, 100%);
}

.origin-store-freegames-program-image-scrim-left {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  
  #gradient > .horizontal(rgba(30, 38, 44, 1), rgba(30, 38, 44, 0), 0%, 100%);
}

.origin-store-freegames-program-image {
  width: auto;
  height: auto;
  
  @media screen {
    @media (min-width: 1000px) {
      height: 100%;
    }
  }
}

.origin-store-freegames-program-bg-scrim {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.45);
}

.origin-store-freegames-program {
  &.origin-store-freegames-program-loading {
    .origin-store-freegames-program-offer {
      .opacity(0);
      top: 65%;
    }
  } 
}

.origin-store-freegames-program-offer {
  display: inline-block;
  background: #fff;
  max-width: 580px;
  margin: 0 5%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  top: 50%;
  .opacity(100);
  .translate(0, -50%);
  .transition(all 0.3s ease-in-out 0.3s);

  @media screen {
    @media (min-width: 1000px) {
      width: 90%;
    }
  }
  
  .origin-cta-primary {
    margin: 5px 0 0;

    @media screen and (min-width: 380px) {
      margin: 5px 0 0 160px;
    }
  }
}

.origin-store-freegames-program-offer-title {
  color: @color-black;
  text-decoration: none;
  max-height: 60px;
  overflow: hidden;
  display: block;
}

.origin-store-freegames-program-offer-free {
  font-size: 14px;
  line-height: 18px;
  color: @color-green;
  margin-right: 10px;
}

.origin-store-freegames-program-offer-original {
  font-size: 14px;
  line-height: 18px;
  color: @color-mediumnavy;
  text-decoration: line-through;
}

.origin-store-freegames-program-offer-packart {
  width: 150px;
  float: left;
  margin-right: 10px;
  
  @media screen {
    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }
}

.origin-store-freegames-program-offer-description {
  max-width: inherit;
  color: @color-mediumnavy;
  margin-left: 160px;

  @media screen {
    @media (max-width: 480px) {
      clear: both;
      margin-left: auto;
    }
  }
}