header#current-user > span.availability-label
{
	display: inline-block;

	font-size: 12px;
	font-weight: bold;
	color: #a5a5a5;

	line-height: 21px;
	padding: 0 21px 0 0;
	margin: 0;

	background-image: url(../images/common/dropdown-arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}

header#current-user > span.availability-label:hover
{
	color: #fff;
	background-image: url(../images/common/dropdown-arrow-hover.png);
}

header#current-user > span.availability-label:active,
header#current-user > span.availability-label.active
{
	color: #eaeaea;
	background-image: url(../images/common/dropdown-arrow-press.png);
}

header#current-user.has-status > span.availability-label
{
	line-height: 17px;
}

header#current-user > ol.availability-dropdown
{
	display: none;

	padding: 0;
	margin: 0;
	max-width: 65%;
	list-style-type: none;
	
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.75);
	background-color: #f0f0f0;
	color: #444;
	border: 2px solid white;
	border-radius: 0 0 2px 2px;

	/* Needed for the drop down animation */
	overflow: hidden;
}

header#current-user > ol.availability-dropdown.open
{
	display: block;
	
	/* Needed because the tabs component below us uses z-index and we don't want to appear beneath the tabs */
	z-index: 99999;
}

header#current-user > ol.availability-dropdown > li.availability
{
	font-size: 12px;
	font-weight: bold;
	padding: 0 10px 0 16px;

	height: 30px;
	line-height: 30px;
	position: relative;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

header#current-user > ol.availability-dropdown > li.availability.selected
{
	background-image: url(../images/common/dropdown-check.png);
	background-repeat: no-repeat;
	background-position: 96% 50%;
	padding-right: 34px;
}

header#current-user > ol.availability-dropdown > li.availability:hover
{
	background-color: #f90;
	color: white;
}

header#current-user > ol.availability-dropdown > li.availability.selected:hover
{
	background-image: url(../images/common/dropdown-check-hover.png);
}

header#current-user > ol.availability-dropdown.broadcasting > li.availability[data-availability=ONLINE]:before
{
	background-color: #6441a5;

	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 6px;

	content: '';
}

header#current-user > ol.availability-dropdown.ingame:not(.broadcasting) > li.availability[data-availability=ONLINE]:before
{
	background-color: #02a0e2;

	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 6px;

	content: '';
}

header#current-user > ol.availability-dropdown:not(.ingame) > li.availability[data-availability=ONLINE]:before
{
	background-color: #87c95b;

	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 6px;

	content: '';
}

header#current-user > ol.availability-dropdown > li.availability[data-availability=AWAY]:before
{
	background-color: #dc453e;

	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 6px;

	content: '';
}

header#current-user > ol.availability-dropdown > li.availability.invisible:before
{
	background-color: #f0f0f0;

	position: absolute;
	top: 0; left: 0; bottom: 0;
	width: 6px;

	content: '';
}
