*:not(div.contenteditable):focus
{
	outline:0 none!important;
}

body, html
{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

body:lang(ko), html:lang(ko)
{
	font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
}

body:lang(zh), html:lang(zh)
{
	font-family: SimHei;
}

body:lang(th), html:lang(th)
{
	font-family: Tahoma, Arial, sans-serif;
}

img
{
	-webkit-user-drag: none;
}

/* Stop the stupid text selection cursor */
div, span, li, h1, h2, h3, h4, h5, h6
{
	cursor: default;
}
