html
{
	width: 100%;
	height: 100%;
}

body
{
	display: block;
	position: relative;
	
	width: 100%;
	height: 100%;

	/* Matches the background color of the conversation to prevent visual glitching while resizing */
	background-color: #ddd;

	overflow: hidden;
}

nav#tab-area
{
	display: block;
	position: relative;
	width: 100%;
}

section#conversations
{
	display: block;
	position: fixed;
	top: 39px;
	left: 0;
	right: 0;
	bottom: 0;
}

section#conversations > iframe.conversation:not(.active)
{
	display: none;
}

section#conversations > iframe.conversation.active
{
	border: none;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}