div#context-menu
{
	position:absolute;
	display:none;
	z-index:99999;
	min-width:100px;
	border-radius:3px;
	padding:3px;
	background-color:#FFF;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
}

div#context-menu > ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

div#context-menu > ul > li:hover:not(.disabled)
{
	background-color: #eee;
	color: #666;
}
