header#current-user
{
	width: 100%;
	background-color: #393c39;

	position: relative;

	padding: 10px 0 9px 0;
}

header#current-user > h1
{
	color: rgb(165, 165, 165);
	cursor: pointer;

	font-size: 16px;
	line-height: 29px;
	display: inline;

	padding: 0;
	margin: 0;
}

/* Everything is squashed if we have to display status */
header#current-user.has-status > h1
{
	line-height: 18px;
}

/* Change color on hover to indicate clickability */
header#current-user > h1:hover
{
	color: #fff;
}

header#current-user > h1:active
{
	color: #eaeaea;
}

header#current-user > h1:after
{
    content:"\A";
    white-space:pre;
}

header#current-user > img.avatar
{
	float: left;
	cursor: pointer;

	width: 52px;
	height: 52px;
	border: 1px solid #b5b5b5;

	margin: 0 10px 10px 0;
}

header#current-user > img.avatar.offline
{
    -webkit-filter: grayscale(100%);
    filter: gray;
}

/* Change color on hover to indicate clickability */
header#current-user > img.avatar:hover
{
	border-color: white;
}

/* Don't display a broken image when we don't have an avatar */
header#current-user > img.avatar:not([src])
{
	display: none;
}

header#current-user > span.status
{
	display: block;

	font-size: 12px;
	font-weight: bold;
	color: #fff;

	line-height: 20px;

	/* Show ellipsis if the titles get too long */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/* Add 5px padding or else WebKit will not have enough room to show ellipsis */
	padding-right: 5px;
}

header#current-user:not(.has-status) > span.status
{
	display: none;
}

/* Search Field */
header#current-user > input[type="search"]
{
	display: block;
	-webkit-appearance:none;

	background: white url(../images/search/search.png) right no-repeat;

	padding: 4px 2px 4px 8px;
	width: 100%;

	color: black;
	font-size: 12px;

	height: 28px;

	/* Undo some of the base.css reset for this element */
	cursor: text;
	-webkit-user-select: text;

	border: 1px double #ffffff;
	border-bottom: 1px double #f3f3f3;
	outline: none;

	-webkit-box-shadow: inset 0 1px 5px #888;
}

header#current-user > input[type="search"]:focus
{
	-webkit-box-shadow: none;
	outline: 2px solid #eebd67;
	outline-offset: -3px;
}

header#current-user > input[type="search"]::-webkit-search-cancel-button
{
	-webkit-appearance: none;

	background: white url(../images/search/cancel.png) right no-repeat;
	width: 18px;
	height: 15px;
	cursor: pointer;
}
