
.group-participant-list-item
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;

	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: start;
	-webkit-box-align: center;
	
	height: 33px;
	
	margin-bottom: -1px; /* so multiple items in a list don't have double borders between */
	padding-right: 4px;

	background-color: #f4f4f4; 

	border: 1px solid #d2d2d2;

	cursor: default;

	overflow: hidden;
	
	/* hover animation */
	-webkit-transition: background-color 250ms;
	transition: background-color 250ms;
}

.group-participant-list-item:hover
{
	background-color: #ffffff;
}

/* The hover menu button with at least 1 icon */

.group-participant-list-item > .otk-hover-context-menu-button
{
	margin-left: 2px;
	margin-right: 4px;
	
	visibility: hidden;
}

.group-participant-list-item:hover > .otk-hover-context-menu-button
{
	visibility: visible;
}

/* The hover menu button with no icons */

.group-participant-list-item:not(.voip):not(.broadcasting):not(.joinable) > .otk-hover-context-menu-button
{
	display: none;
}

.group-participant-list-item:not(.voip):not(.broadcasting):not(.joinable):hover > .otk-hover-context-menu-button
{
	display: block;
}

.group-participant-list-item:not(.voip).self > .otk-hover-context-menu-button
{
	display: none;
}

.group-participant-list-item:not(.voip).self:hover > .otk-hover-context-menu-button
{
	display: block;
}

.group-participant-list-item > .otk-presence-indicator
{
	-webkit-box-flex: 0;
	width: 3px;

	height: 31px;
	margin: 1px;
}

.group-participant-list-item > .otk-user-avatar
{
	-webkit-box-flex: 0;
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.group-participant-list-item > .otk-user-avatar:not([src])
{
	/* The default for the avatar component is to display:none if there is no src attribute
	   but we want the avatar to always take up space in this case, so do this */
	display: block;
	visibility: hidden;
}

.group-participant-list-item > .labels
{
	font-size: 11px;
	font-weight: normal;
	
	-webkit-box-flex: 1;
	
	overflow: hidden;
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.group-participant-list-item > .labels > .nickname
{
	display: block;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.group-participant-list-item > .labels > .subtitle
{
	display: block;
	font-size: 10px;
	font-weight: normal;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.group-participant-list-item > .labels > .subtitle.blocked
{
	color: #9e0b0f;
	text-shadow: 0px 1px 1px #ffdddd;
	font-weight: bold;    
}


/* ICONS */

.group-participant-list-item > span.icons
{
	-webkit-box-flex: 0;
	display: block;
	position: relative;
	top: 3px;
}

.group-participant-list-item > span.icons > .icon
{
	width: 20px;
	height: 20px;

	-webkit-box-flex: 0;
	
	background-repeat: no-repeat;

	display: none;

	border: 1px solid transparent;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.group-participant-list-item > span.icons > .icon:hover
{
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

.group-participant-list-item > span.icons > .icon:first-child
{
	margin-left: 8px;
}

/* VOIP ICONS */
.group-participant-list-item > span.icons > .icon.voip
{
	background-position: -1px -1px, 0 0;
}

.group-participant-list-item.self > span.icons > .icon.voip
{
	background-position: 0 -2px, 0 0;
}

/* REMOTE USER VOIP ICONS */

.group-participant-list-item > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/voip.png);
}
.group-participant-list-item > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/voip.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/voip.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* REMOTE USER VOIP + TALKING */

.group-participant-list-item.talking > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/voip-talking.png);
}
.group-participant-list-item.talking > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/voip-talking.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item.talking > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/voip-talking.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* REMOTE USER VIOP + REMOTE MUTED */

.group-participant-list-item.remote-mute > span.icons > .icon.voip,
.group-participant-list-item.remote-mute > span.icons > .icon.voip:hover,
.group-participant-list-item.remote-mute > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/voip-mute.png);
	opacity: .5;
	border: 1px solid transparent;
	box-shadow: none;
}

/* REMOTE USER VIOP + LOCAL MUTED */

.group-participant-list-item.local-mute > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/voip-mute.png);
}
.group-participant-list-item.local-mute > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/voip-mute.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item.local-mute > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/voip-mute.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* REMOTE USER + ADMIN MUTE */

.group-participant-list-item.admin-mute > span.icons > .icon.voip,
.group-participant-list-item.admin-mute > span.icons > .icon.voip:hover,
.group-participant-list-item.admin-mute > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/voip-mute.png);
	opacity: .5;
	border: 1px solid transparent;
	box-shadow: none;
}

/* LOCAL USER VOIP ICONS */

.group-participant-list-item.self > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/transmit.png);
}
.group-participant-list-item.self > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/transmit.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item.self > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/transmit.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

.group-participant-list-item.self.ptt > span.icons > .icon.voip,
.group-participant-list-item.self.ptt > span.icons > .icon.voip:hover,
.group-participant-list-item.self.ptt > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/transmit.png);
	border: 1px solid transparent;
	box-shadow: none;
	opacity: .5;
}

/* LOCAL USER VIOP + TALKING */

.group-participant-list-item.self.talking > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/transmit-talking.png);
}
.group-participant-list-item.self.talking > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/transmit-talking.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item.self.talking > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/transmit-talking.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

.group-participant-list-item.self.talking.ptt > span.icons > .icon.voip,
.group-participant-list-item.self.talking.ptt > span.icons > .icon.voip:hover,
.group-participant-list-item.self.talking.ptt > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/transmit-talking.png);
	border: 1px solid transparent;
	box-shadow: none;
	opacity: 1;
}

/* LOCAL USER VIOP + MUTED */

.group-participant-list-item.self.local-mute > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/transmit-mute.png);
}
.group-participant-list-item.self.local-mute > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/transmit-mute.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item.self.local-mute > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/transmit-mute.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* LOCAL USER VIOP + MUTED BY AN ADMIN */

.group-participant-list-item.self.muted-by-admin > span.icons > .icon.voip
{
	background-image: url(../images/participant-icons/transmit-mute.png);
}
.group-participant-list-item.self.muted-by-admin > span.icons > .icon.voip:hover
{
	background-image: url(../images/participant-icons/transmit-mute.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item.self.muted-by-admin > span.icons > .icon.voip:active
{
	background-image: url(../images/participant-icons/transmit-mute.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* BROADCASTING ICONS */

.group-participant-list-item > span.icons > .icon.broadcasting
{
	background-image: url(../images/participant-icons/broadcasting.png);
}
.group-participant-list-item > span.icons > .icon.broadcasting:hover
{
	background-image: url(../images/participant-icons/broadcasting.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item > span.icons > .icon.broadcasting:active
{
	background-image: url(../images/participant-icons/broadcasting.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* JOINABLE ICONS */

.group-participant-list-item > span.icons > .icon.joinable
{
	background-image: url(../images/participant-icons/joinable.png);
	background-position: -1px -1px, 0 0;
}
.group-participant-list-item > span.icons > .icon.joinable:hover
{
	background-image: url(../images/participant-icons/joinable.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(0, #ffffff),
								color-stop(1, #ececec)
							);
}
.group-participant-list-item > span.icons > .icon.joinable:active
{
	background-image: url(../images/participant-icons/joinable.png),
						-webkit-gradient(
								linear, left top, left bottom,
								color-stop(1, #ffffff),
								color-stop(0, #ececec)
							);
}

/* LEVEL INDICATOR */

.group-participant-list-item > span.icons > .levels
{
	display: none;
	margin-left: 6px;
	margin-right: 2px;
}

.group-participant-list-item.voip > span.icons > .icon.voip
{
	display: inline-block;
}

.group-participant-list-item.broadcasting > span.icons > .icon.broadcasting
{
	display: inline-block;
}

.group-participant-list-item.joinable > span.icons > .icon.joinable
{
	display: inline-block;
}

.group-participant-list-item.self.voip > span.icons > .levels
{
	display: inline-block;
}

