section#group-content
{
	overflow: auto;
	-webkit-box-flex: 1;
	/* Needed for our loading-indicator */
	position: relative;

	background-color: #e5e5e5;
	border: 1px solid #ffffff;
	border-top: none;
	padding-top: 1px;

	/* text-shadow: 0px 1px 1px #ffffff; */
}
#group-content[data-display="loading"]
{
    padding-top: 0; /* this allows the spinner on this page to align with the roster spinner */ 
}

section#group-content > section.group-content
{
    display: none;
}

section#group-content[data-display="groups"] > section.group-content:not(.empty)
{
    display: block;
}

section.group-content > div.create-group > h3
{
	font-weight: bold;
	font-size: 12px;
	background-color: #444444;
	margin: 0 0 0 0;
	height: 30px;
	line-height: 30px;

	padding: 1px 0 0 0;

	overflow: hidden;

	border-bottom: 1px solid rgb(178, 178, 178);
}

ol.chat-groups
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.chat-group
{
	position: relative;
    -webkit-transition: margin-top 250ms, opacity 250ms, z-index 250ms, background-color 250ms;
}

li.chat-group.filtered-out
{
	margin-top: -44px;
	opacity: 0;
	z-index: -10;
}

li.chat-group > div.otk-expand-collapse-indicator
{
    position: absolute;
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 0;
    display: none; /* remove channels */
}

li.chat-group hgroup
{
	/* height of the group room items */
    height: 44px;
    
    padding: 0 0 0 25px;
	
	background-color: #d9d9d9;
    border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #c5c5c5;
}

li.chat-group > header > hgroup:hover
{
	background-color: #cccccc;
}

li.chat-group hgroup > .group-name
{
    margin-top: 14px;
    margin-right: 50px; /* allow room for context menu and invite friends icon */
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

li.chat-group.group-invite hgroup > .group-name
{
    margin-top: 6px;
}

li.chat-group.group-invite.invited-by hgroup > .group-name
{
    margin-top: 4px;
}

li.chat-group hgroup > .group-status
{
    position: absolute;
    margin-top: -10px;
    font-weight: bold;
    font-size: 9px;
    color: #5f5e5e;
}

li.chat-group.invited-by hgroup > .group-status
{
    margin-top: -2px;
}

li.chat-group hgroup > .group-status > a
{
	text-decoration: none;
	color: #269dcf;
	vertical-align: top;
    outline: none;
}

li.chat-group hgroup > .group-status > a:not(:last-child)
{
	border-right: 1px solid #838383;
	padding-right: 4px;
	margin-right: 4px;
}

li.chat-group hgroup > .group-status > a:hover
{
	text-decoration: underline;
}

li.chat-group hgroup > .group-status > a:active
{
    color: #106487!important;
	text-decoration: underline;
}

li.chat-group hgroup > .group-status > a:lang(ko)
{
	font-size: 13px;
}

li.chat-group hgroup > .group-invited-by
{
    position: absolute;
    margin-top: -13px;
    font-weight: bold;
    font-size: 10px;
    color: #5f5e5e;
}

li.chat-group header .otk-hover-context-menu-button.group
{
	display: none;
	position: absolute;
	top: 15px;
	right: 8px;
    display: none;
}
li.chat-group.group-invite header .otk-hover-context-menu-button.group
{
	right: 8px;
}
li.chat-group header:hover .otk-hover-context-menu-button.group
{
	display: inline-block;
}

/**/
ol.chat-channels:not(.expanded)
{
	display: none;
}

ol.chat-channels
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none; /* remove channels */
}

ol.chat-channels > li.chat-channel.filtered-out
{
	margin-top: -44px;
	opacity: 0;
	z-index: -10;
}

li.chat-channel.member > div.otk-expand-collapse-indicator
{
    position: absolute;
    margin-top: 12px;
    margin-left: 19px;
    margin-right: 7px;
}

li.chat-channel:not(.member) > div.otk-expand-collapse-indicator
{
    display: none;
}

li.locked.chat-channel > img.locked-channel
{
	position: absolute;
    margin-top: 10px;
    margin-left: 16px;
    display: inline-block;
}

li.chat-channel > img.locked-channel
{
    display: none;
}

ol.chat-channels > li.chat-channel
{
	position: relative;
    -webkit-transition: margin-top 250ms, opacity 250ms, z-index 250ms, background-color 250ms;
}

ol.chat-channels > li.chat-channel > header > hgroup
{
	/* height of the group channel items */
	height: 34px;

	padding: 0 0 0 32px;

    background-color: #eeeeee;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #9f9f9f;
}

ol.chat-channels > li.chat-channel > header > hgroup:hover
{
    background-color: #e0e0e0;
}

li.chat-channel hgroup > h3,
li.chat-channel hgroup > h6
{
    margin-left: 7px;
    
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

li.chat-channel hgroup > h3
{
    margin-top: 0;
}

li.chat-channel:not(.member) hgroup > h3
{
	/* Push un-joined channel names down a bit since there is no subtext under it */
	margin-top: 8px;
}

li.locked.chat-channel hgroup > h3
{
	/* Push locked channel names down a bit since there is no subtext under it */
	margin-top: 8px;
}

li.chat-channel.member hgroup > h6
{
    position: absolute;

    font-weight: bold;
    font-size: 9px;
    color: #5f5e5e;
}

li.chat-channel:not(.member) hgroup > h6
{
    display: none;
}

li.chat-channel header .otk-hover-context-menu-button.channel
{
	position: absolute;
	right: 8px;
	top: 10px;
	display: none;
}
li.chat-channel header:hover .otk-hover-context-menu-button.channel
{
	display: inline-block;
}

ol.channel-users:not(.expanded)
{
	display: none;
}

ol.channel-users
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.channel-user
{
	width: auto;
    float: none;
    height: 22px;
    background-color: #f4f4f4;
    -webkit-box-shadow: none;
    border: none;
}

li.channel-user:hover
{
    background-color: #ffffff;
    -webkit-box-shadow: none;
    border: none;
}

li.channel-user:not(:last-child)
{
	border-bottom: 1px solid #d2d2d2;
}

li.channel-user > span.nickname,
li.channel-user > div.otk-presence-indicator
{
    margin-left: 33px;
}

li.channel-user > button
{
    margin-right: 10px;
}

li.channel-user .otk-hover-context-menu-button.user
{
	right: -1px;
}
#group-content > div.fullpage-spinner-container
{
    display: none;
}

#group-content[data-display="loading"] > div.fullpage-spinner-container
{
    display: block;
}

section#group-content > div.otk-empty-list-callout.create-group
{   
    display: none;
	width: 180px;
	height: auto;
	min-height: 150px;
}

section#group-content > div.otk-empty-list-callout.create-group > button.tertiary
{
	height: auto;
	min-height: 13px;
}

section#group-content[data-display="create-groups"] > div.otk-empty-list-callout.create-group
{
	display: block;
}

#group-content > div.otk-empty-list-callout.offline-group
{
	display: none;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#group-content[data-display="offline"] > div.otk-empty-list-callout.offline-group
{
	display: block;
}

div.otk-empty-list-callout.offline-group > div#spacer
{
	height: 50%;
    margin-bottom: -42px;
}


/* ADD FRIEND TO GROUP BUTTON */

.group-header .add-friend-to-group-button > img
{
	vertical-align: top;
}

.group-header .add-friend-to-group-button
{
	position:relative;
	top:0;
	float:right;
	margin-top:-34px; 
	min-width: 24px;
	height: 24px;
	right: 24px;
	padding-left: 2px;
	padding-right: 1px;
	border:1px solid transparent;
	border-radius:3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, rgba(255,255,255,0)),
		color-stop(1, rgba(236,236,236,0))
	);
	background-repeat:no-repeat;	
	box-shadow:0 1px 2px rgba(0,0,0,0);

}

.group-header .add-friend-to-group-button.active
{
	border:1px solid #fff;
	border-radius:3px;
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, rgba(255,255,255,1)),
		color-stop(1, rgba(236,236,236,1))
	);
	background-repeat:no-repeat;
	box-shadow:0 1px 2px rgba(0,0,0,0.4);
}

.group-header .add-friend-to-group-button.pressed
{
	box-shadow:0 1px 2px rgba(0,0,0,.2) inset;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom: 1px solid white;
}

#group-content > div.otk-empty-list-callout.timeout-groups
{
	display: none;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#group-content[data-display="timeout"] > div.otk-empty-list-callout.timeout-groups
{
	display: block;
}

div.otk-empty-list-callout.timeout-groups > div#spacer
{
	height: 50%;
    margin-bottom: -50px;
}