nav#nav-buttons
{
	background-color: #393c39;

	border-bottom: 2px solid rgb(255, 255, 255);
	position: relative;
}

nav#nav-buttons > h1
{
	font-size: 12px;
    line-height: 24px;
    display: inline-block;
    
	border-bottom: 25px solid rgb(217, 217, 217);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;    
    
    margin: 0 0 -4px -10px;
    padding: 0;
    
    z-index: 0;
    position: relative;
}

nav#nav-buttons > h1:first-child
{
    margin: 0 0 -4px 0;
    border-top-left-radius: 5px;
	border-left: none;
}

nav#nav-buttons > h1.selected
{
    border-bottom: 25px solid rgb(255, 255, 255);
    z-index: 1;
}

footer#status-bar
{
	height: 31px;
	width: 100%;
	background-color: #393c39;
}

footer#status-bar > button.dark-button.add-friend,
footer#status-bar > button.dark-button.create-group
{
	margin-top: 6px;
	padding-left: 18px;
	
	background-image: url(../images/common/add-friend.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #686868),
		color-stop(1, #515151)
	);
	background-position: 6px 7px, 0 0;
}

footer#status-bar > button.dark-button.add-friend:lang(ko),
footer#status-bar > button.dark-button.create-group:lang(ko)
{
	font-size: 13px;
}

footer#status-bar > button.dark-button.add-friend:hover,
footer#status-bar > button.dark-button.create-group:hover
{
	background-image: url(../images/common/add-friend.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #7c7c7c),
		color-stop(1, #707070)
	);
}

footer#status-bar > button.dark-button.add-friend:active,
footer#status-bar > button.dark-button.create-group:active
{
	background-image: url(../images/common/add-friend.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #515151),
		color-stop(1, #616161)
	);
}

footer#status-bar > button.dark-button.add-friend.disabled,
footer#status-bar > button.dark-button.add-friend.disabled:hover,
footer#status-bar > button.dark-button.add-friend.disabled:active,
footer#status-bar > button.dark-button.create-group.disabled,
footer#status-bar > button.dark-button.create-group.disabled:hover,
footer#status-bar > button.dark-button.create-group.disabled:active
{
	background-image: url(../images/common/add-friend.png), -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0, #686868),
		color-stop(1, #515151)
	);
    opacity:0.45;
    cursor: default;
}

#tabs
{
	margin-left: -9px;
	background-color: #393c39;
}

/* Feature callout on a tab element needs to be fixed position */
.otk-callout
{
	position: fixed;
}

