html
{
	height: 100%;
	background-color: #e0e0e0; 
}

body
{
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

section#roster-content
{
	overflow: auto;
	-webkit-box-flex: 1;
	/* Needed for our loading-indicator */
	position: relative;

	border: 1px solid #bebebe;
}

section#roster-content > section.contact-group
{
	display: none;
}

section#roster-content[data-display="contacts"] > section.contact-group:not(.empty)
{
	display: block;
}

section.contact-group > h3
{
	font-weight: normal;
	font-size: 10px;
	color: #444444; 
	background-color: #eeeeee;
	margin: 0 0 0 0;
	height: 22px;
	line-height: 22px;
	text-transform: uppercase;

	padding: 1px 0 0 15px;

	font-family: "Apex New", "Arial", sans-serif;

	overflow: hidden;
	-webkit-transition: height 250ms;

	border-bottom: 1px solid #e0e0e0;
}

section.contact-group > h3:lang(ja),
section.contact-group > h3:lang(zh),
section.contact-group > h3:lang(ko),
section.contact-group > h3:lang(th),
section.contact-group > h3:lang(el),
section.contact-group > h3:lang(ru)
{
	/* Apex doesn't work very well in these languages */
	font-family: inherit; 
}

section.contact-group > h3:lang(ko)
{
	font-size: 12px;
}

section.contact-group > h3.selected
{
	background-color: #949698;
	color: white;
}

section.contact-group > h3 > span.item-count
{
	display: block;
	float: right;

	width: 36px;
	height: 15px;
	margin-top: 3px;
	margin-right: 5px;

	border-radius: 7px;
	background-color: #a6a8a9;

	line-height: 15px;
	color: white;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-size: 11px;

	text-align: center;

	-webkit-box-shadow: inset 0 1px 2px #757677;
	text-shadow: 0px 1px #757677;
}

section.contact-group > h3 > span.item-count:lang(ko)
{
	font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
}

section.contact-group > h3 > span.item-count:lang(th)
{
	font-family: Tahoma, Arial, sans-serif;
}

section.contact-group > h3 > span.item-count:lang(zh)
{
	font-family: SimHei;
}

section.contact-group > h3.selected > span.item-count
{
	/* need to ask design about this */
}

section.contact-group:not(.collapsed) > h3
{
	background-image: url(../images/common/expanded-indicator.png);
	background-repeat: no-repeat;
	background-position: 3px 8px;
}

section.contact-group.collapsed > h3
{
	background-image: url(../images/common/collapsed-indicator.png);
	background-repeat: no-repeat;
	background-position: 4px 7px;
}

section#roster-content.filtering > section.contact-group > h3
{
	height: 0;
	padding-top: 0;
	border-bottom: none;
}

section#roster-content:not(.filtering) > section.contact-group.collapsed > ol
{
	display: none;
}

ol.contacts
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ol.contacts > li.contact
{
	height: 36px;
	padding-left: 51px;

	background-color: #e6e6e6; 

	border-top: 1px solid #f6f6f6;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid transparent;

	position: relative;
	padding-top: 7px;

	-webkit-transition: margin-top 250ms, opacity 250ms, z-index 250ms, background-color 250ms;
	z-index: 0;
}

ol.contacts > li.contact.showing-menu
{
	border: 1px solid #3c3c3c;
}


ol.contacts > li.contact.filtered-out
{
	margin-top: -45px;
	opacity: 0;
	z-index: -10;
}

ol.contacts > li.contact:hover
{
	background-color: #dedede;
}

ol.contacts > li.contact.selected
{
	background-color: #ff9901;
}

ol.contacts > li.contact.online:after
{
	background-color: #87c95b;
	
	width: 5px;

	position: absolute;
	top: 1px;
	left: 0;
	bottom: 1px;

	content: '';
}

ol.contacts > li.contact.away:after
{
	background-color: #dc453e;
	
	width: 5px;

	position: absolute;
	top: 1px;
	left: 0;
	bottom: 1px;

	content: '';
}

ol.contacts > li.contact.joinable:after,
ol.contacts > li.contact.ingame:after
{
	background-color: #02a0e2;
	
	width: 5px;

	position: absolute;
	top: 1px;
	left: 0;
	bottom: 1px;

	content: '';
}

ol.contacts > li.contact.joinable.broadcasting:after,
ol.contacts > li.contact.ingame.broadcasting:after
{
	background-color: #6441a5;
	
	width: 5px;

	position: absolute;
	top: 1px;
	left: 0;
	bottom: 1px;

	content: '';
}

ol.contacts > li.contact.unavailable:after
{
	background-color: #b3b3b3;
	
	width: 5px;

	position: absolute;
	top: 1px;
	left: 0;
	bottom: 1px;

	content: '';
}

ol.contacts > li.contact > img.avatar
{
	width: 28px;
	height: 28px;

	position: absolute;
	top: 6px;
	left: 13px;

	background-color: #ffffff;
	padding: 1px;
	border-bottom: 1px solid #999999;
}

/* Hide avatar's we don't have */
ol.contacts > li.contact > img.avatar:not([src])
{
	display: none;
}

/* Fade out offline contact avatars */
section#offline > ol.contacts > li.contact.unavailable > img.avatar
{
	opacity: 0.5;
}

ol.contacts > li.contact > button.menu
{
	-webkit-appearance: none;
	border: none;
	background-color: inherit;
	width: 16px;
	height: 15px;
	background-image: url(../images/common/contact-menu-button.png);

	position: absolute;
	right: 2px;
	top: 5px;

	display: none;
}

ol.contacts > li.contact:hover > button.menu
{
	display: inline-block;
	outline: none;
}

ol.contacts > li.contact > button.menu:hover
{
	display: inline-block;
	background-image: url(../images/common/contact-menu-button-hover.png);
}

ol.contacts > li.contact > button.menu:active,
ol.contacts > li.contact > button.menu.opened
{
	display: inline-block;
	background-image: url(../images/common/contact-menu-button-press.png);
}

ol.contacts > li.contact > div.name
{
	font-size: 13px;
	font-weight: bold;
	color: #565656;
	height: 17px; 

	overflow: hidden;

	/* Give room for the control button */
	margin-right: 34px;
}

ol.contacts > li.contact.selected > div.name
{
	color: White;
}

ol.contacts > li.contact > div.name > span
{
	/* Show ellipsis if names get too long */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

ol.contacts > li.contact > div > span.nickname
{
	display: block;
	height: 17px; 
	-webkit-transition: margin-top 150ms linear 0s;
}

ol.contacts > li.contact:hover > div > span.nickname
{
	/* We always need the transition in case we gain a real name while hovered */
	-webkit-transition: margin-top 150ms linear 500ms;
}

ol.contacts > li.contact:hover > div > span.nickname:nth-last-child(2)
{
	/* Move ourselves up our height + the spacing above the real name */
	margin-top: -34px;
}

ol.contacts > li.contact > div.name > span.real-name
{
	/* Add spacing above us so we never actually see the nickname and real name at the same time */
	margin-top: 17px;
	height: 17px; 
	display: block;
}

/* Show requests in black text even if their presence is online or unknown */
section#offline > ol.contacts > li.contact.unavailable > div.name 
{
	color: #8e8e8e; 
}

ol.contacts > li.contact > span.subtitle.status,
ol.contacts > li.contact > span.subtitle.presence
{
	display: block;

	color: #888; 
	font-size: 10px;

	margin-top: 2px;

	/* Add 6px padding or else WebKit will not have enough room to show ellipsis */
	padding-right: 6px;
	padding-left: 0px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	text-shadow: 0px 1px 1px #ffffff;
}

ol.contacts > li.contact > span.subtitle.status:lang(ko),
ol.contacts > li.contact > span.subtitle.presence:lang(ko)
{
	font-size: 12px;
}

ol.contacts > li.contact.selected > span.subtitle.status,
ol.contacts > li.contact.selected > span.subtitle.presence
{
	color: White;
	text-shadow: none;
}

ol.contacts > li.contact > span.subtitle.blocked
{
	/* Design doesn't want this on the roster */
	display: none;
}

ol.contacts > li.contact.joinable > span.subtitle.status
{
	/* allow room for the joinable icon */
	padding-left: 16px;

	background-image: url(../images/common/joinable-game.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}

/* Hide the offline subtitle in the roster. The chat window still wants it */
ol.contacts > li.contact.unavailable > span.subtitle.presence
{
	display: none;
}

/* Currently playing game uses a different font than the status labels 
 * Not sure if this is intentional */
ol.contacts > li.contact > span.subtitle.status
{
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

ol.contacts > li.contact > span.subtitle.status:lang(ko)
{
	font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
}

ol.contacts > li.contact > span.subtitle.status:lang(zh)
{
	font-family: SimHei;
}

ol.contacts > li.contact > span.subtitle.status:lang(th)
{
	font-family: Tahoma, Arial, sans-serif;
}

ol.contacts > li.contact > span.subtitle.request-controls
{
	display: block;
	font-size: 10px;
	font-weight: bold;

	margin-top: 0px;
}

ol.contacts > li.contact > span.subtitle.request-controls:lang(ko)
{
	font-size: 13px;
}

ol.contacts > li.contact > span.subtitle.request-controls > a
{
	text-decoration: none;
	color: #269dcf;
	vertical-align: top;
    outline: none;
}

ol.contacts > li.contact > span.subtitle.request-controls > a:hover
{
	text-decoration: underline;
}

ol.contacts > li.contact > span.subtitle.request-controls > a:active
{
    color: #106487!important;
	text-decoration: underline;
}

ol.contacts > li.contact.selected > span.subtitle.request-controls > a
{
	color: #fff;
}

ol.contacts > li.contact.selected > span.subtitle.request-controls > a:hover
{
	text-decoration: underline;
}

ol.contacts > li.contact.selected > span.subtitle.request-controls > a:active
{
    color: #eaeaea!important;
	text-decoration: underline;
}

/* Separator between the links */
ol.contacts > li.contact > span.subtitle.request-controls > a:not(:last-child)
{
	border-right: 1px solid #838383;
	padding-right: 4px;
	margin-right: 4px;
}

ol.contacts > li.contact.selected > span.subtitle.request-controls > a:not(:last-child)
{
	border-right: 1px solid  #fff;
}

#roster-content > div.fullpage-spinner-container
{
    display: none;
}
#roster-content[data-display="loading"] > div.fullpage-spinner-container
{
    display: block;
}

#roster-content > div.otk-empty-list-callout.add-friends
{
	display: none;

	width: 145px;
	height: 210px;
}

#roster-content[data-display="add-friends"] > div.otk-empty-list-callout.add-friends
{
	display: block;
}

#roster-content > div.otk-empty-list-callout.offline-friends
{
	display: none;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#roster-content[data-display="offline"] > div.otk-empty-list-callout.offline-friends
{
	display: block;
}

div.otk-empty-list-callout.offline-friends > div#spacer
{
	height: 50%;
    margin-bottom: -42px;
}

#roster-content > div.otk-empty-list-callout.timeout-friends
{
	display: none;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#roster-content[data-display="timeout"] > div.otk-empty-list-callout.timeout-friends
{
	display: block;
}

div.otk-empty-list-callout.timeout-friends > div#spacer
{
	height: 50%;
    margin-bottom: -50px;
}