# This file is a one stop shop for all things ILT.
# Both server and client deployement configurations
# are completely defined by values specified herein.
#
# iltctrl.sh uses values defined below to execute all
# commands and to generate other config files needed
# for deploying blaze server and stress clients.
#
# bash$ iltctrl.sh profiles/<profilename> genserverconfig -->
#   bin/server_<$deployEnv>_<$deployPlat>.cfg
#
# bash$ iltctrl.sh profiles/<profilename> genclientconfig -->
#   tools/ilt/bin/clientdeploy.cfg

#
# ILT configuration
#
iltProfile=fifa_profile # performance definition file used by health and report gen
iltReportDir=~/iltreport # absolute path
iltRampUpMin=80 # time to evenly ramp up all stress clients to full PSU
iltInServiceTimeoutMin=15 # time to wait for all servers to go in service
iltTargetPsuTimeoutStartupMin=300 # time to wait for target PSU to be reached on startup before checking perf criteria
iltTargetPsuTimeoutPreShutdownMin=20 # time to wait for target PSU to be reached just before shutdown and completing the ilt run (PSU may have dropped during the run due to a network error simulation)
iltTargetPsuRunDurationMin=120 # time to execute tests before graceful shutdown and final report
iltMaxNetworkErrorSimulations=0 # the maximum number of network error simulations to perform during the run
iltNetworkErrorSimulationDelayMin=90 # the minimum delay between network error simulations, and also the delay before the first simulation after target PSU has been reached. Simulations will not be started when PSU is below the target.
iltNetworkErrorSimulationDurationMin=1 # the duration of a network error simulation
iltHostReqFreeDiskSpaceKB=10000000 # amount of free disk space required for deploy (10000000KB ~ 10GB)
iltHostReqFreeFileHandles=130000 # number of free file handles, required for deploy
iltHostReqProcLimit=140000 # process limit, required for deploy
iltIgnoreReportResult=1 # ignore failed ILT reports (use for tuning report profile)
iltRepopulateDb=0 # whether 'runilt' command populates the db (user/clubs) with clean data
iltClientUseRedirector=0 # control stress client to use redirector to login and reconnect, must be set to 1 to testing ZDT functionalities

#
# Deploy configuration
#
deployEnv=ilt # 'ilt' is a custom deploy setting that avoids collisions with existing filenames that use the common environments, e.g. cert|dev|stress|test in server_stress_pc.cfg
deployRdir=test # dev|test
deployUser=gos-qa
deployPlat=pc
deploySvcName=gosilt-gosqa-pc
deployMail=nobody@ea.com

# The box which hosts the mock XBL or PSN service, if mock testing is used. If mocking Xbox One Live, deployPlat should be set to xone. If mocking PS4 PSN, deployPlat should be set to ps4.
# deployMock1stPartyUrl=496361-gosltapp1077.rspc-iad.ea.com:8085

# The jump box within target env that all client/server packages uploaded through to reduce upload bandwidth/delay
# NOTE: Per/user SSH keys *must* be setup from this jump box to all other hosts to enable proxied deploys.
# deployProxy=470976-gosltapp1030.rspc-iad.ea.com

#
# Server configuration <blazehost>:<blazetype>:<numinstances>
#

#
# NOTE!  The available suite of ILT hardware in Rackspace IAD is insufficient to run a 2 million PSU test.
# Specifically, search slaves run relatively hot even with 96 instances under 600k load, and they do not scale
# linearly, as more coreMasters require proportionally more search slaves, but more users also require proportionally
# more search slaves.  The instance allocation below has not been tested recently as is likely to fail.  When a 2 million
# PSU test is desired, unless significant work has been done to allow Blaze to fit in the Rackspace IAD hardware,
# additional hardware will likely be required, and some effort will be needed to determine what instance layout will
# be needed to even allow the test to run smoothly.
#

configMaster=470976-gosltapp1030.rspc-iad.ea.com

slaves+=("470976-gosltapp1030.rspc-iad.ea.com:coreNSMaster:1")
slaves+=("470976-gosltapp1030.rspc-iad.ea.com:coreMaster:10")
slaves+=("470976-gosltapp1030.rspc-iad.ea.com:mmSlave:10")

slaves+=("470977-gosltapp1031.rspc-iad.ea.com:coreSlave:15")
slaves+=("470978-gosltapp1032.rspc-iad.ea.com:coreSlave:15")
slaves+=("470979-gosltapp1033.rspc-iad.ea.com:coreSlave:15")

slaves+=("470980-gosltapp1034.rspc-iad.ea.com:coreSlave:10")
slaves+=("470981-gosltapp1035.rspc-iad.ea.com:coreSlave:10")
slaves+=("470982-gosltapp1036.rspc-iad.ea.com:coreSlave:10")
slaves+=("470983-gosltapp1037.rspc-iad.ea.com:coreSlave:10")
slaves+=("470984-gosltapp1038.rspc-iad.ea.com:coreSlave:10")
slaves+=("470985-gosltapp1039.rspc-iad.ea.com:coreSlave:10")
slaves+=("470986-gosltapp1040.rspc-iad.ea.com:coreSlave:10")
slaves+=("496359-gosltapp1075.rspc-iad.ea.com:coreSlave:10")
slaves+=("496360-gosltapp1076.rspc-iad.ea.com:coreSlave:10")
slaves+=("496361-gosltapp1077.rspc-iad.ea.com:coreSlave:10")

slaves+=("470980-gosltapp1034.rspc-iad.ea.com:grSlave:1")
slaves+=("470981-gosltapp1035.rspc-iad.ea.com:grSlave:1")
slaves+=("470982-gosltapp1036.rspc-iad.ea.com:grSlave:1")
slaves+=("470983-gosltapp1037.rspc-iad.ea.com:grSlave:1")
slaves+=("470984-gosltapp1038.rspc-iad.ea.com:grSlave:1")
slaves+=("470985-gosltapp1039.rspc-iad.ea.com:grSlave:1")
slaves+=("470986-gosltapp1040.rspc-iad.ea.com:grSlave:1")
slaves+=("496359-gosltapp1075.rspc-iad.ea.com:grSlave:1")
slaves+=("496360-gosltapp1076.rspc-iad.ea.com:grSlave:1")
slaves+=("496361-gosltapp1077.rspc-iad.ea.com:grSlave:1")

slaves+=("470980-gosltapp1034.rspc-iad.ea.com:searchSlave:5")
slaves+=("470981-gosltapp1035.rspc-iad.ea.com:searchSlave:5")
slaves+=("470982-gosltapp1036.rspc-iad.ea.com:searchSlave:5")
slaves+=("470983-gosltapp1037.rspc-iad.ea.com:searchSlave:5")
slaves+=("470984-gosltapp1038.rspc-iad.ea.com:searchSlave:5")
slaves+=("470985-gosltapp1039.rspc-iad.ea.com:searchSlave:5")
slaves+=("470986-gosltapp1040.rspc-iad.ea.com:searchSlave:5")
slaves+=("496359-gosltapp1075.rspc-iad.ea.com:searchSlave:5")
slaves+=("496360-gosltapp1076.rspc-iad.ea.com:searchSlave:5")
slaves+=("496361-gosltapp1077.rspc-iad.ea.com:searchSlave:5")

# The number of required redis instance, and their distribution, has not yet been validated. 
# The number should be updated accordingly when the 2M psu ilt run is done.
redis+=("470976-gosltapp1030.rspc-iad.ea.com:main:8")

# the graphite poller requires the redis port to be in the 30000-39999 range
portRedisBase=30000
portBase=15000
portsPerServer=20

#
# Client configuration, <clienthost>:<numsets>
#
clients+=("470987-gosltapp1041.rspc-iad.ea.com:20")
clients+=("470988-gosltapp1042.rspc-iad.ea.com:20")
clients+=("470989-gosltapp1043.rspc-iad.ea.com:20")
clients+=("470990-gosltapp1044.rspc-iad.ea.com:20")
clients+=("470991-gosltapp1045.rspc-iad.ea.com:20")
clients+=("470992-gosltapp1046.rspc-iad.ea.com:20")
clients+=("470993-gosltapp1047.rspc-iad.ea.com:20")
clients+=("496362-gosltapp1078.rspc-iad.ea.com:20")
clients+=("471005-gosltmdb670.rspc-iad.ea.com:20")
clients+=("471006-gosltmdb671.rspc-iad.ea.com:20")

#
# Client test set configuration, <instance name/log file base name>:<numconnections>:<testconfig>
#
# The projected total number of users is the total <numsets> in the client config above * the total <numconnections> below.
# The "target PSU" (number of online users to start tracking values at) is based on the projected total.
# You can override the calculated "target PSU" by explicitly setting 'iltTargetPsu' in this file.
#
stressinstances+=("ilt:5500:../etc.ilt.sports/stress/stress-integrated-detailed.cfg")
stressinstances+=("dds:500:../etc.ilt.sports/stress/integrated/stress-fifa-mm-dedicatedserver.cfg")
stressinstances+=("qm:3000:../etc.ilt.sports/stress/integrated/stress-fifa-mm-quick.cfg")
stressinstances+=("qm4p:300:../etc.ilt.sports/stress/integrated/stress-fifa-mm-quick-4p.cfg")
#stressinstances+=("qm16p:150:../etc.ilt.sports/stress/integrated/stress-fifa-mm-quick-16p.cfg")
stressinstances+=("mmclubs:400:../etc.ilt.sports/stress/integrated/stress-fifa-mm-club.cfg")
#stressinstances+=("mmcustom:175:../etc.ilt.sports/stress/integrated/stress-fifa-mm-custom.cfg")
stressinstances+=("gb:80:../etc.ilt.sports/stress/integrated/stress-fifa-gamebrowser.cfg")

