.otk-operation-queue-item
{
	padding-left: 20px;
	height: 45px;
	color: #555;
    
	display: -webkit-box;
	-webkit-box-align: center;
}

.otk-operation-queue-item.expandable
{
	padding-left: 7px;
}

.otk-operation-queue-item.mini
{
	height: 30px;
	padding-left: 10px;
}

.otk-operation-queue-item > :last-child
{
	margin-right: 0px;
}

.otk-operation-queue-item .column
{
	display: block;
	margin-right: 20px;
}

.otk-operation-queue-item:not(.expandable) .otk-expand-collapse-indicator
{
	display: none;
}

.otk-operation-queue-item .otk-expand-collapse-indicator
{
	margin-right: 8px;
	display: block;
}


.otk-operation-queue-item .title-container
{
	-webkit-box-flex: 2;
}

.otk-operation-queue-item .title-container > *
{
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 2px;
}

.otk-operation-queue-item .title-container > :last-child
{
	margin-bottom: 0px;
}

.otk-operation-queue-item .title
{
	color: #555;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}

.otk-operation-queue-item.mini .title
{
	font-size: 11px;
}

.otk-operation-queue-item .sub-title
{
	font-weight: bold;
	font-size: 11px;
	color: #7b7b7b;
	white-space: nowrap;
}

.otk-operation-queue-item.mini .sub-title
{
	font-size: 10px;
	display: none;
}

.otk-operation-queue-item .status
{
	font-size: 11px;
	font-weight: bold;
	color: #888;
	text-align: right;
}

.otk-operation-queue-item .otk-hyperlink
{
	white-space: nowrap;
	text-align: right;
	vertical-align: middle;
	display: none;
}

.otk-operation-queue-item.mini .otk-hyperlink
{
	font-size: 11px;
	color: #888;
}