.otk-sticky-list
{
}

.otk-sticky-list > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li > .otk-sticky-list
{
	display: block;
}

.otk-sticky-list > ul > section:before
{
	border-bottom: 1px solid #fff;
	display: block;
	height: 0px;
	content: " ";
	width: 100%;
	left: 0;
}

.otk-sticky-list > ul > section:after
{
	border-top: 1px solid #fff;
	display: block;
	height: 0px;
	content: " ";
	width: 100%;
	left: 0;
}

.otk-sticky-list > ul > section
{
	-webkit-box-sizing: content-box;
	line-height: 29px;
	background-color: #d9d9d9;
	font-size: 12px;
	font-weight: bold;
	color: #444;
}

.MAC .otk-sticky-list > ul > section > *
{
	margin-top: 1px;
}

.otk-sticky-list > ul > section > :first-child
{
	padding-left: 20px;
}

.otk-sticky-list > ul > section > :last-child
{
	padding-right: 20px;
}

.otk-sticky-list > ul > section > a
{
	float: right;
}

.otk-sticky-list > ul > li:first-of-type
{
	border-top: 1px solid #c6c6c6;
}

.otk-sticky-list > ul > li
{
	border-bottom: 1px solid #c6c6c6;
}