<?xml version="1.0"?>
<example>
<para>Create the directory tree &quot;one/two/three&quot;.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <mkdir dir="one/two/three"/>
    <fail unless="@{DirectoryExists('one/two/three')}"/>
</project>
]]>
</code>
</example>
