<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <fileset name="myfileset" basedir="${package.dir}/source" />
    <fail unless="@{FileSetGetBaseDir('myfileset')} eq '${package.dir}/source'" />
</project>
]]>
</code>
</example>