<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.2.0">
    <name>Profile</name>

    <feature name="http://widgets.dm.origin.com/features/interfaces/achievementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/clientNavigation" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/dateFormat" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/entitlementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/onlineStatus" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originSocial" required="false" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originUser" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/productQuery" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/subscriptionManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/telemetryClient" />

    <!-- Needed for box art -->
    <access origin="http://static.cdn.ea.com" />
    <access origin="https://eaassets-a.akamaihd.net" />
    <access origin="http://origin.com" subdomains="true" />
    <access origin="https://origin.com" subdomains="true" />

    <origin:link role="http://widgets.dm.origin.com/linkroles/profiledetails" template="/index.html{?id}" />
    <origin:link role="http://widgets.dm.origin.com/linkroles/searchdetails" template="/search-friend.html{?keyword}" />
</widget>
