*
!stress_launch.sh
!DirtyCast/qosstress/run/qosstressd
!DirtyCast/qosstress/run/qosstressf
!DirtyCast/qosstress/run/validate.cfg
!DirtyCast/qosstress/run/qosstress_logger.cfg
!DirtyCast/qosstress/run/libc\+\+*.so.1
