<origin-store-promo-shell background-color="{{::backgroundColor}}" image="{{::backgroundImage}}" href="{{::href}}">
    <div ng-class="{
            'origin-store-promo-accolade-textcolor-light' : textColor === 'light',
            'origin-store-promo-accolade-textcolor-dark' : textColor === 'dark',
            'origin-store-promo-accolade-imagescrim' : (textAlignment === 'left' || textAlignment === 'right')
            }">
        <div class="origin-store-promo-accolade-wrapper" ng-class="{
                'origin-store-promo-accolade-leftalign' : textAlignment === 'left',
                'origin-store-promo-accolade-rightalign' : textAlignment === 'right',
                'origin-store-promo-accolade-centeralign' : textAlignment === 'center'}">
            <div class="origin-store-promo-accolade">
                <div ng-class="::{
                    'origin-store-promo-accolade-largefont' : numberOfQuotes === 1,
                    'origin-store-promo-accolade-mediumfont' : numberOfQuotes > 1}">
                    <div class="origin-store-promo-accolade-quotewrapper">
                        <div class="origin-store-promo-accolade-quote">
                            <span ng-bind-html="::strings.quote1Str"></span>
                        </div>
                        <div class="origin-store-promo-accolade-source">
                            <span ng-bind-html="::strings.quote1SourceStr"></span>
                        </div>
                    </div>
                    <div class="origin-store-promo-accolade-quotewrapper" ng-if="::(strings.quote2Str && strings.quote2SourceStr)">
                        <div class="origin-store-promo-accolade-quote">
                            <span ng-bind-html="::strings.quote2Str"></span>
                        </div>
                        <div class="origin-store-promo-accolade-source">
                            <span ng-bind-html="::strings.quote2SourceStr"></span>
                        </div>
                    </div>
                    <div class="origin-store-promo-accolade-quotewrapper" ng-if="::(strings.quote3Str && strings.quote3SourceStr)">
                        <div class="origin-store-promo-accolade-quote">
                            <span ng-bind-html="::strings.quote3Str"></span>
                        </div>
                        <div class="origin-store-promo-accolade-source">
                            <span ng-bind-html="::strings.quote3SourceStr"></span>
                        </div>
                    </div>
                </div>
                <div class="origin-store-promo-accolade-logo">
                    <img ng-src="{{::lightGameLogo}}" ng-if="::lightGameLogo" class="origin-store-promo-accolade-gamelogo-light">
                    <img ng-src="{{::darkGameLogo}}" ng-if="::darkGameLogo"  class="origin-store-promo-accolade-gamelogo-dark">
                </div>
            </div>
        </div>
        <div class="origin-store-promo-accolade-imagescrim-overlay"></div>
    </div>
</origin-store-promo-shell>