<origin-store-promo-shell background-color="{{::backgroundColor}}" image="{{::backgroundImage}}" href="{{::href}}">
    <div class="origin-store-promo-badge-wrapper">
        <div class="origin-store-promo-badge" ng-class="::{
        'origin-store-promo-badge-textcolor-light' : textColor === 'light'
        }">
            <img class="origin-store-promo-badge-image" ng-src="{{::badgeImage}}" ng-if="::badgeImage" >
            <div class="otktitle-4-condensed origin-store-promo-badge-quote" ng-bind-html="::strings.quoteStr"></div>
        </div>
    </div>
</origin-store-promo-shell>