<origin-store-promo-shell background-color="{{::backgroundColor}}" image="{{::image}}" href="{{::shellHref}}" class="origin-store-promo-callout origin-store-promo-calloutcta origin-telemetry-store-promo-callout">
    <div class="origin-store-promo-callout-content origin-telemetry-store-promo-callout-content otkpromo-callout-content" ng-class="textColorClass">

        <h2 ng-if="::useH2" class="origin-store-promo-callout-content-title origin-telemetry-store-promo-callout-content-title callout-text-medium" ng-class="::headerSizeClass" ng-bind-html="::titleStr"></h2>

        <h1 ng-if="::useH1" class="origin-store-promo-callout-content-title origin-telemetry-store-promo-callout-content-title" ng-class="::headerSizeClass" ng-bind-html="::titleStr"></h1>

        <h2 class="origin-store-promo-callout-content-subtitle origin-telemetry-store-promo-callout-content-subtitle otktitle-2" ng-bind-html="::subtitleStr"></h2>

        <a ng-href="{{::hrefAbsoluteUrl}}" ng-if="::shouldShowCta" ng-click="openLink($event, href)" class="origin-store-promo-calloutcta-cta origin-telemetry-store-promo-calloutcta-cta otkbtn otkbtn-primary">
            <span class="origin-telemetry-store-promo-calloutcta-cta-span" ng-bind="::ctaText"></span>
            <i class="origin-store-promo-callout-externallink otkbtn-externallink" ng-show="isExternaLink"></i>
        </a>
    </div>
</origin-store-promo-shell>
