<origin-store-promo-shell background-color="{{::backgroundColor}}" image="{{::image}}" href="{{::href}}" class="origin-store-promo-callout" ng-class="textColorClass">


    <div class="origin-store-promo-callout-content origin-telemetry-store-promo-callout-content otkpromo-callout-content">

        <h2 ng-if="::useH2" ng-class="::headerSizeClass" class="origin-store-promo-callout-content-title" ng-bind-html="::titleStr"></h2>

        <h1 ng-if="::useH1" ng-class="::headerSizeClass" class="origin-store-promo-callout-content-title" ng-bind-html="::titleStr"></h1>

        <h2 class="origin-store-promo-callout-content-subtitle otktitle-2" ng-bind-html="::subtitleStr">
        </h2>

        <p class="origin-store-promo-callout-content-text otktitle-2" ng-bind-html="::strings.textFormatted">
        </p>
    </div>

    <div class="origin-store-promo-callout-content-legaldisclaimer otktitle-5" ng-bind-html="legalDisclaimerTextFormatted"></div>
    <origin-legaldisclaimer legal-disclaimer-text="{{::strings.legalDisclaimerText}}" legal-disclaimer-link-text="{{::strings.legalDisclaimerLinkText}}" legal-disclaimer-dialog-header-text="{{::strings.legalDisclaimerDialogHeaderText}}"
                                  legal-disclaimer-dialog-body-title-text="{{::strings.legalDisclaimerDialogBodyTitleText}}"
                                  legal-disclaimer-dialog-body-text="{{::strings.legalDisclaimerDialogBodyText}}"></origin-legaldisclaimer>

</origin-store-promo-shell>
