<div class="origin-cta-secondary origin-store-promo-cta">
    <origin-cta-loadurlinternal ng-if="!isEntitlement && ctaText && href" href="{{::href}}" description="{{::ctaText}}"
                                ng-class="largeScreen ? 'origin-store-promo-cta-button' : 'otka otktitle-3 origin-store-promo-cta-link otkc'"
                                type="{{ getButtonType() }}"
                                type="primary"></origin-cta-loadurlinternal>

    <!-- CTA -->
    <div ng-if="isEntitlement && offerId">
        <div ng-class="largeScreen ? 'origin-store-promo-cta-button' : 'otka otktitle-3 origin-store-promo-cta-link otkc'">
            <origin-store-cta offer-id="{{ ::offerId }}"
                              showinfobubble="true"
                              type="{{ getButtonType() }}"></origin-store-cta>
        </div>
    </div>
</div>
