<div class="origin-store-promo-ratings" ng-if="showRatingsArea" ng-class="{'origin-store-promo-ratings-dark': ratingFontColor == 'dark'}">
    <a ng-href="{{ ::model.gameRatingUrl  }}" target="_blank" ng-if="model.gameRatingSystemIcon && model.gameRatingUrl">
        <img ng-src="{{ ::model.gameRatingSystemIcon }}" alt="{{ ::model.gameRatingTypeValue }}" class="origin-store-promo-ratings-icon">
    </a>
    <ul class="origin-store-promo-ratings-descriptors">
        <li class="otktitle-6 origin-store-promo-ratings-descriptor" ng-repeat="descriptor in model.gameRatingDesc track by $index">{{ descriptor }}</li>
    </ul>
    <p class="otktitle-6 origin-store-promo-ratings-desc" ng-if="model.gameRatingDescriptionLong">{{ ::model.gameRatingDescriptionLong }}</p>
</div>