<div ng-click="onBtnClick()" ng-class="{'active-link': href}" class="origin-store-promo-shell">

    <origin-store-backgroundimagecarousel background-color="{{ backgroundColor }}" images="images">
        <ng-transclude> </ng-transclude>
    </origin-store-backgroundimagecarousel>
    <div class="origin-store-promo-shell-badge" ng-if="badgeImage">
        <img ng-src="{{badgeImage}}" class="origin-store-promo-shell-badgeimage"/>
    </div>
    <origin-cta-playvideo
        ng-if="videoid"
        video-id="{{ videoid }}"
        mature-content="{{ matureContent }}"
        type="round">
    </origin-cta-playvideo>
</div>
