<origin-store-promo-ratings></origin-store-promo-ratings>
<origin-store-promo-shell background-color="{{backgroundColor}}" image="{{image}}" videoid="{{videoid}}" mature-content="{{matureContent}}"  href="{{href}}" badge-image="{{badgeImage}}">
    <ng-transclude></ng-transclude>
</origin-store-promo-shell>
<origin-store-promo-banner-shell title-str="{{strings.titleStr}}" show-packart="{{::isPackartShown}}" pack-art="{{model.packArt}}" title-image="{{titleImage}}">
    <div class="origin-store-promo-banner-content origin-telemetry-store-promo-banner-content" ng-class="{'origin-store-promo-banner-content-haspricing': showOcdPricing }">
        <div ng-if="showAccessLogo" class="origin-store-promo-banner-access">
            <span class="otkicon otkicon-originlogo origin-store-promo-banner-access-logo"></span>
            <span class="otkicon otkicon-accesstext origin-store-promo-banner-access-text"></span>
        </div>
        <h1 ng-if="useH1 && strings.titleStr" class="origin-store-promo-banner-title origin-telemetry-store-promo-banner-title otktitle-2" ng-bind-html="strings.titleStr" ng-class="::titlePositionClass"></h1>
        <h2 ng-if="!useH1 && strings.titleStr" class="origin-store-promo-banner-title origin-telemetry-store-promo-banner-title otktitle-2" ng-bind-html="strings.titleStr" ng-class="::titlePositionClass"></h2>

        <img ng-if="titleImage && !titleStr" class="origin-store-promo-banner-titleimage" ng-src="{{titleImage}}" />

        <h3 class="origin-store-promo-banner-subtitleText origin-telemetry-store-promo-banner-subtitleText otktitle-3" ng-if="strings.text || availableTextFormatted">
            <span class="origin-telemetry-store-promo-banner-subtitleText" ng-bind-html="strings.text"></span>
			<span class="origin-telemetry-store-promo-banner-subtitleText" ng-bind-html="availableTextFormatted"></span>
        </h3>

        <origin-store-price pricing-layout="horizontal" ng-if="::showOcdPricing" offer-id="{{::model.offerId}}"></origin-store-price>

        <div ng-if="isOth" class="origin-store-promo-banner-oth-badge"><p class="origin-store-promo-banner-oth-badge-text otktitle-4-strong otktitle-4" ng-bind-html="strings.othText"></p></div>
        <origin-store-promo-release></origin-store-promo-release>
        <origin-store-promo-cta is-entitlement="{{::isEntitlement}}" offer-id="{{::model.offerId}}" cta-text="{{::ctaText}}" href="{{::href}}"></origin-store-promo-cta>
    </div>
</origin-store-promo-banner-shell>
