<origin-store-promo-ratings></origin-store-promo-ratings>
<origin-store-promo-shell background-color="{{backgroundColor}}" image="{{image}}" videoid="{{videoid}}" mature-content="{{matureContent}}" href="{{href}}" badge-image="{{badgeImage}}">
    <ng-transclude></ng-transclude>
</origin-store-promo-shell>

<origin-store-promo-banner-shell pack-art="{{model.packArt}}" show-packart="{{::isPackartShown}}" title-str="{{titleStr}}" title-image="{{titleImage}}">
    <div class="origin-store-promo-banner-content">
        <div ng-if="showAccessLogo" class="origin-store-promo-banner-access">
            <span class="otkicon otkicon-originlogo origin-store-promo-banner-access-logo"></span>
            <span class="otkicon otkicon-accesstext origin-store-promo-banner-access-text"></span>
        </div>
        <h2 ng-if="::useH2" class="origin-store-promo-banner-title otktitle-2" ng-bind-html="titleStr"></h2>
        <h1 ng-if="::useH1" class="origin-store-promo-banner-title otktitle-2" ng-bind-html="titleStr"></h1>
        <img ng-if="titleImage && !titleStr" class="origin-store-promo-banner-titleimage" ng-src="{{titleImage}}" />
        <div ng-if="isOth" class="origin-store-promo-banner-oth-badge"><p class="origin-store-promo-banner-oth-badge-text otktitle-4-strong otktitle-4" ng-bind-html="strings.othText"></p></div>
        <origin-store-timer ng-show="timerVisible" goal-date="{{ ::goaldate }}"></origin-store-timer>
        <origin-store-promo-cta ng-if="!timeReached" is-entitlement="{{::isEntitlement}}" offer-id="{{model.offerId}}" cta-text="{{::ctaText}}"></origin-store-promo-cta>
    </div>
</origin-store-promo-banner-shell>
