@infobubble-width: 280px;

.origin-storecta {
    max-width: 250px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: -5px;
    .origin-infobubble {
        bottom: auto;
        width: @infobubble-width;
        margin-left: (-1 * (@infobubble-width / 2));
        left: 50%;
        .origin-storegamelegal {
            margin-top: 5px;
        }
    }
    &:hover {
        .origin-infobubble {
            visibility: visible;
            .opacity(1);
            .animation(originInfobubbleMoveInFromBottom @timing-short-ease-out);
        }
    }
}