<div class="origin-pdp-feature-accolade-video">
    <div class="origin-pdp-feature-video">
        <origin-background-video ng-if="!ageGateActive" video-id="{{ ::videoId }}" image-url="{{::smallScreenImageurl}}"></origin-background-video>
        <div class="origin-pdp-feature-video-static-image-container" ng-if="ageGateActive">
            <img class="origin-pdp-feature-video-static-image" ng-src="{{::videoImage}}" />
            <div class="origin-pdp-feature-video-static-image-overlay"></div>
        </div>
    </div>
    <div class="origin-pdp-feature-accolade-videoaccolade">
        <origin-store-promo-accolade
                text-alignment="center"
                text-color="light"
                layout="hero"
                quote1-str="{{::quote1Str}}"
                quote2-str="{{::quote2Str}}"
                quote3-str="{{::quote3Str}}"
                quote1-source-str="{{::quote1SourceStr}}"
                quote2-source-str="{{::quote2SourceStr}}"
                quote3-source-str="{{::quote3SourceStr}}">
        </origin-store-promo-accolade>
    </div>
</div>
