<div class="origin-pdp-feature-badge-video">
    <div class="origin-pdp-feature-video">
        <origin-background-video ng-if="!ageGateActive" video-id="{{ ::videoId }}" image-url="{{::smallScreenImageurl}}"></origin-background-video>
        <div class="origin-pdp-feature-video-static-image-container" ng-if="ageGateActive">
            <img class="origin-pdp-feature-video-static-image" ng-src="{{::videoImage}}" />
            <div class="origin-pdp-feature-video-static-image-overlay"></div>
        </div>
    </div>
    <div class="origin-pdp-feature-badge-videobadge">
        <origin-store-promo-badge
                text-color="light"
                layout="hero"
                quote-str="{{::quoteStr}}"
                badge-image="{{::badgeImage}}">
        </origin-store-promo-badge>
    </div>
</div>
