<div class="origin-pdp-feature-container" ng-style="moduleBackgroundColor" ng-show="anyOcdDataFound" ng-class="{'origin-pdp-feature-text-dark': isDarkColor, 'origin-pdp-feature-text-light': !isDarkColor}">
    <div class="origin-pdp-feature-container-header" ng-if="titleStr || text">
        <h2 class="otktitle-page" ng-if="titleStr" ng-bind-html="::titleStr"></h2>
        <h3 class="otktitle-3" ng-if="text" ng-bind-html="::text"></h3>
        <div class="origin-pdp-feature-header-div" ng-style="moduleAccentColor"></div>
    </div>
    <div class="origin-pdp-feature-bubblewrap" ng-transclude></div>
</div>
