<div class="origin-pdp-feature-premier-accolade" ng-show="anyDataFound">
    <origin-store-promo-accolade ng-if="::(backgroundImage && quote1Str)"
            layout="hero"
            background-image="{{::backgroundImage}}"
            text-alignment="{{::textAlignment}}"
            text-color="{{::textColor}}"
            quote1-str="{{::quote1Str}}"
            quote2-str="{{::quote2Str}}"
            quote3-str="{{::quote3Str}}"
            quote1-source-str="{{::quote1SourceStr}}"
            quote2-source-str="{{::quote2SourceStr}}"
            quote3-source-str="{{::quote3SourceStr}}">
    </origin-store-promo-accolade>
</div>
