<div class="origin-pdp-feature-video">
    <origin-background-video ng-if="!ageGateActive" video-id="{{ ::videoId }}" image-url="{{::smallScreenImageurl}}"></origin-background-video>
    <div class="origin-pdp-feature-video-static-image-container" ng-if="ageGateActive">
        <img class="origin-pdp-feature-video-static-image" ng-src="{{::videoImage}}" />
        <div class="origin-pdp-feature-video-static-image-overlay"></div>
    </div>
    <div class="origin-pdp-feature-video-text-wrapper" ng-class="{
            'origin-pdp-feature-text-left': isLeft,
            'origin-pdp-feature-text-right': isRight,
            'origin-pdp-feature-text-center': isCenter
    }">
        <div class="origin-pdp-feature-video-text" ng-class="{
            'origin-pdp-feature-text-dark': isDarkColor,
            'origin-pdp-feature-text-light': !isDarkColor,
            'origin-pdp-feature-slideUp': isTextInView ,
            'origin-pdp-feature-hero-text-slide': (tSlide && !isXSmall),
            'origin-pdp-feature-noanimation': isXSmall
        }">
            <h2 class="otktitle-page" ng-bind-html="header"></h2>
            <p class="otktitle-3" ng-bind-html="text"></p>
            <div class="origin-pdp-feature-video-cta" ng-if="ctaType">
                <origin-cta-loadurlexternal
                    href="{{ ::ctaHref }}"
                    description="{{ ::ctaDescription }}"
                    type="{{ ::ctaType }}"
                    ng-if="isExternalCta">
                </origin-cta-loadurlexternal>
                <origin-cta-loadurlinternal
                    href="{{ ::ctaHref }}"
                    description="{{ ::ctaDescription }}"
                    type="{{ ::ctaType }}"
                    ng-if="!isExternalCta">
                </origin-cta-loadurlinternal>
            </div>
        </div>
    </div>

</div>
