//
// Origin Store - Free Games Module
// =============================================

.origin-store-freegames-module {
  position: relative;
  background: rgb(30, 38, 44);
  min-height: 360px;
  overflow: hidden;
  
  @media screen {
    @media (min-width: 1000px) {
      height: 360px;
      
      &.origin-store-freegames-module-right .origin-store-freegames-module-content {
        float: right;
      }
      
      &.origin-store-freegames-module-left .origin-store-freegames-module-content {
        float: left;
      }
      
    }
  }
}

.origin-store-freegames-module-image-wrapper {
  overflow: hidden;
  height: 360px;
  text-align: center;
  width: 5000px;
  position: relative;
  left: 50%;
  .translate(-50%, 0);
}

.origin-store-freegames-module-image-wrapper-inner {
  position: relative;
  display: inline-block;
  top: 50%;
  .translate(0, -50%);
}

.origin-store-freegames-module-image-scrim-right {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  
  #gradient > .horizontal(rgba(30, 38, 44, 0), rgba(30, 38, 44, 1), 0%, 100%);
}

.origin-store-freegames-module-image-scrim-left {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  
  #gradient > .horizontal(rgba(30, 38, 44, 1), rgba(30, 38, 44, 0), 0%, 100%);
}

.origin-store-freegames-module-image {
  width: auto;
  height: auto;
  
  @media screen {
    @media (min-width: 1000px) {
      height: 100%;
    }
  }
}

.origin-store-freegames-module-bg-scrim {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}

.origin-store-freegames-module-left .origin-store-freegames-module-bg-scrim {
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.6);
  
  @media screen {
    @media (min-width: 1000px) {
      background: transparent;
      
      #gradient > .horizontal(rgba(30, 38, 44, 0.6), rgba(30, 38, 44, 0), 60%, 70%);
    }
  }
}

.origin-store-freegames-module-right .origin-store-freegames-module-bg-scrim {
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.6);
  
  @media screen {
    @media (min-width: 1000px) {
      background: transparent;
      
      #gradient > .horizontal(rgba(30, 38, 44, 0), rgba(30, 38, 44, 0.6), 30%, 40%);
    }
  }
}

.origin-store-freegames-module-content {
  display: inline-block;
  width: 100%;
  color: @color-white;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  top: 50%;
  .translate(0, -50%);
  
  @media screen {
    @media (min-width: 1000px) {
      max-width: 600px;
      width: 60%;      
    }
  }
  
  .origin-cta-secondary {
    margin-top: 20px;
  }
}