<example>
<para>Run a C# script that sets a nant property that can be used by the rest of the build. Show examples of using 
the mainclass attribute and import sub-element.</para>
<code>
&lt;project&gt;
    &lt;script mainclass=&quot;Scriptlet&quot;&gt;
        &lt;code&gt;&lt;![CDATA[
            // If you specify the class name using the mainclass attribute, you can 
            // use it like a normal class, with data members, constructors, and so on.
            Project _project;
			
            public Scriptlet(Project project)
            {
                _project = project;
            }
			
            void Run()
            {
                _project.Properties.Add("foo", "bar");
                // Example of using System.Data.DataTable
                DataTable dt = new DataTable("Table1");
                Log("dt.TableName=" + dt.TableName);
                // Since &lt;, '&amp;', and '&gt;' are reserved characters in XML, 
                // it'll be an error to use them without the containing CDATA element.
                if (1 &lt; 2 &amp;&amp; 1 &gt; 0)
                   Log("1 &lt; 2 &amp;&amp; 1 &gt; 0");
            }
			
            void Log(string msg)
            {
                NAnt.Core.Logging.Log.WriteLine(msg);
            }
            
            public static void ScriptMain(Project project) {
                Scriptlet script = new Scriptlet(project);
                script.Run();
            }
        ]]&gt;&lt;/code&gt;
        &lt;references basedir=&quot;C:\WINDOWS\Microsoft.NET\Framework\v1.1.4322&quot;>
            &lt;!-- extra assemblies to use --&gt;
            &lt;includes name="System.Data.dll"/&gt;
        &lt;/references&gt;
        &lt;imports&gt;
            &lt;!-- Extra namespaces to use --&gt;
            &lt;import name="System.Data"/&gt;
        &lt;/imports&gt;
    &lt;/script&gt;
    &lt;fail message=&quot;Property foo not set correctly.&quot; unless=&quot;${foo} == bar&quot;/&gt; 
&lt;/project&gt;
</code>
</example>
