<!-- PJ: this file needs to be refactored -->
<div ng-if="type === 'primary'" class="origin-cta-primary origin-telemetry-cta-primary origin-tealium-cta-primary">
    <a ng-href="{{::btnHref}}" class="otkbtn otkbtn-primary origin-telemetry-otkbtn-primary origin-tealium-otkbtn-primary" ng-disabled="disabled" ng-click="onBtnClick($event)">
        <i class="otkicon otkbtn-primary-icon {{::iconClass}}" ng-if="iconClass"></i>
        <div class="otkbtn-primary-text origin-telemetry-otkbtn-primary-text origin-tealium-otkbtn-primary-text" ng-bind-html="btnText"></div>
    </a>
</div>

<div ng-if="type === 'secondary'" class="origin-cta-secondary">
    <a ng-href="{{::btnHref}}" class="origin-tile-secondarycta" ng-click="onBtnClick($event)" ng-bind-html="btnText"></a>
</div>


<a ng-if="type === 'round' && (!btnText || btnText === 'undefined')" ng-href="{{::btnHref}}" class="otktileicon origin-store-video origin-telemetry-store-video origin-tealium-store-video" ng-click="onBtnClick($event)">
    <i class="otkicon otkicon-play origin-telemetry-otkicon-play origin-tealium-otkicon-play"></i>
</a>

<div ng-if="type === 'round' && (btnText && btnText !== 'undefined')" ng-click="onBtnClick($event)" class="origin-store-carousel-secondarycta-container">
    <a ng-href="{{::btnHref}}" class="otkicon otkicon-play origin-cta-textplay-icon"></a>
    <a ng-href="{{::btnHref}}" class="otka origin-store-carousel-secondarycta-playtext" ng-if="btnText" ng-bind-html="btnText"></a>
</div>

<div ng-if="type === 'dark' || type === 'link' ||  type === 'light' || type === 'transparent'" class="origin-cta-secondary">
    <a ng-href="{{::btnHref}}"
       ng-class="{'otkbtn otkbtn-dark origin-telemetry-otkbtn-dark': type === 'dark',
                  'otkbtn otkbtn-light origin-telemetry-otkbtn-light' : type === 'light',
                  'otka origin-telemetry-otka' : type === 'link',
                  'otkbtn otkbtn-transparent origin-telemetry-otkbtn-transparent' : type === 'transparent'}"
       ng-click="onBtnClick($event)" ng-bind-html="btnText"></a>
</div>
