<div ng-if="type == 'secondary'" class="origin-cta-selectlanguage" ng-class='{
        "origin-cta-secondary": (type === "secondary" ||  type === "transparent" ||  type === "light"),
        "origin-store-carousel-secondarycta-container": type === "round"
}'>
    <a ng-href='{{::btnHref}}'
       ng-click='onBtnClick($event)'
       ng-class='{
            "origin-tile-secondarycta": type === "secondary",
            "origin-store-carousel-secondarycta-playtext": type === "round",
            "otkbtn otkbtn-transparent": type === "transparent",
            "otkbtn-light": type === "light"
        }'>
        <origin-icon icon="{{ icon }}" ng-if="icon"></origin-icon>
        <span ng-bind="btnText"></span>
    </a>
</div>
