<div class="origin-store-purchase-cta-btnwithdropdown origin-telemetry-store-purchase-cta origin-tealium-store-purchase-cta-btnwithdropdown" ng-class="{'origin-cta-primary' : type === 'primary', 'origin-cta-secondary' : type === 'transparent'}">
    <div class="otkbtn-dropdown" ng-if="contextMenuItems.length > 0">
        <button class="otkbtn" ng-class="{'otkbtn otkbtn-primary otkbtn-primary-btn origin-telemetry-otkbtn-primary' : type === 'primary', 'otkbtn otkbtn-light otkbtn-primary-btn' : type === 'light'}" ng-click="onBtnClick($event)" ng-show="(type === 'primary' || type === 'light') && btnText"  class="origin-tealium-purchase-cta">
            <i class="otkicon otkbtn-primary-icon {{::iconClass}}" ng-if="iconClass"></i>
            <span class="otkbtn-primary-text origin-tealium-otkbtn-primary-text" ng-bind-html="btnText"></span>
        </button>
        <button class="otkbtn otkbtn-transparent otkbtn-primary-btn origin-telemetry-otkbtn-primary origin-tealium-otkbtn-primary-btn"
                ng-show="type === 'transparent'"
                ng-click="onBtnClick($event)"
                ng-bind-html="btnText"></button>

        <origin-store-contextmenu type="{{::type}}" items="contextMenuItems"></origin-store-contextmenu>
    </div>

    <div ng-if="contextMenuItems.length === 0">
        <button ng-class="{'otkbtn otkbtn-primary origin-telemetry-otkbtn-primary origin-tealium-otkbtn-primary' : type === 'primary', 'otkbtn otkbtn-light origin-telemetry-otkbtn-light origin-tealium-otkbtn-light' : type === 'light'}" ng-click="onBtnClick($event)" ng-show="(type === 'primary' || type === 'light') && btnText" class="origin-telemetry-purchase-cta origin-tealium-purchase-cta">
            <i class="otkicon otkbtn-primary-icon {{::iconClass}}" ng-if="iconClass"></i>
            <span class="otkbtn-primary-text origin-tealium-otkbtn-primary-text" ng-bind-html="btnText"></span>
        </button>
        <button class="otkbtn otkbtn-transparent origin-telemetry-otkbtn-transparent origin-tealium-otkbtn-transparent"
                ng-show="type === 'transparent'"
                ng-click="onBtnClick($event)"
                ng-bind-html="btnText"></button>
    </div>
</div>
