
.origin-profile-friends-tab {

    padding-right: 20px;

    .show-more-less {
        display: block;
        margin: 12px 0;
        clear: both;
        text-align: center;
        cursor: pointer;

        &:hover {
            // Get rid of the underline on hover
            background-image: none;
        }
    }

    .friendtile-section {
        min-height: 71px;
    }

    .origin-profile-page-friends-friendtile {
        position: relative;
        min-height: 0;
        min-width: 0;
        height: 71px;
        float: left;

        // 4 columns
        width: 22%;
        margin-right: 16px;

        @media only screen and (max-width: 1300px) {
            // 2 columns
            width: 47%;
            margin-right: 16px;
        }
        @media only screen and (max-width: 900px) {
            // 1 column
            width: 100%;
            margin-right: 0;
        }

        .origin-profile-page-friends-friendtile-avatar {
            position: absolute;
            top: 15px;
            left: 10px;
        }

        .origin-profile-page-friends-friendtile-labels {
            .origin-profile-page-friends-friendtile-username {
                position: absolute;
                top: 26px;
                left: 60px;
                cursor: pointer;
            }
            .origin-profile-page-friends-friendtile-gamename {
                position: absolute;
                top: 36px;
                left: 60px;
                color: @color-black;
                cursor: pointer;
            }
        }
        .origin-profile-page-friends-friendtile-labels.has-gamename {
            .origin-profile-page-friends-friendtile-username {
                top: 16px;
            }
        }

    }

    .find-friends-link {
        cursor: pointer;
    }
}
