.origin-profile-header {
    text-align: center;
    color: @color-white;
    position: relative;
    overflow: hidden;
    background-color: @color-darknavy;

    @media screen and (max-width: 600px) {
        padding-left: 5px;
        padding-right: 5px;

        .origin-profile-header-hasaccess-logo .otkicon-origintext { display: none; }
    }

    .origin-profile-header-info-section {
        position: relative;
        z-index: 2;
        margin: 24px 8px;
    }

    .origin-profile-header-avatar {
        margin-top: 20px;
        @media only screen and (max-width: 1100px) {
            // make room for the header controls (CTA button, etc)
            margin-top: 60px;
        }
    }

    .origin-profile-header-username {
        margin-bottom: 8px;
        overflow: hidden;
    }

    .origin-profile-header-controls {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding-right: 45px;
        padding-left: 45px;

        .origin-profile-header-hasaccess-logo {
            float: left;

            >.otkicon {
                position: relative;
            }

            >.otkicon-originlogo {
                font-size: 30px;
                top: -20px;
            }

            >.otkicon-origintext {
                font-size: 62px;
                margin-left: -4px;
                top: -5px;
            }

            >.otkicon-accesstext {
                font-size: 57px;
                margin-left: -1px;
                top: -6px;
            }
        }

        @media only screen and (max-width: 600px) {
            padding-right: 10px;
            padding-left: 10px;
        }

        .origin-profile-header-controls-primary-button {
            float: right;

            @media only screen and (max-width: 600px) {
                max-width: 70%;
            }
        }

        &.hasDropdown .origin-profile-header-controls-primary-button {
            @media only screen and (max-width: 600px) {
                left: 55px;
                position: absolute;
                right: 0;
                max-width: 100%;
                width: auto;
            }
        }

        &.hasCTA .origin-profile-header-controls-options-button,
        &.hasDropdown.hasCTA .origin-profile-header-controls-options-button {
            @media only screen and (max-width: 600px) {
                float: left;
            }
        }

        .origin-profile-header-controls-options-button {
            float: right;
			cursor: pointer;

            >.otkicon-downarrow {
			    font-size: 26px;
			    width: 26px;
			    height: 26px;
			    margin-top: 10px;
			    margin-right: 10px;
			    color: @color-white;
			    .transition(all 0.3s ease-in-out);
                pointer-events: none;

			    &:after {
				    content: '';
				    display: block;
				    width: 24px;
				    height: 24px;
				    .border-radius(50%);
				    border: 2px solid @color-white;
				    position: relative;
                    top: -28px;
                    left: -1px;
      			    .transition(all 0.3s ease-in-out);
			    }
            }
        }   

        .origin-profile-header-controls-options-button:hover > .otkicon-downarrow {
            color: @color-mediumnavy;
        }
        .origin-profile-header-controls-options-button:hover > .otkicon-downarrow:after {
            border: 2px solid @color-mediumnavy;
        }
    }

    .origin-profile-header-bg-image-wrapper {
        overflow: hidden;
        position: absolute;
        width: 100%;
        display: block;
        // forces hardware acceleration on blur()
        .transform(translate3d(0,0,0));

        .origin-profile-header-image,
        .origin-profile-header-image-svg {
            position: relative;
        }
        
        .origin-profile-header-image {
            width: 120%;
            margin-left: -10%;
            margin-top: -45%;
        }

    }

    .origin-profile-header-bg-scrim {
       #gradient > .vertical(rgba(20, 27, 32, 0), rgba(20, 27, 32, .5), 0%, 100%); 
       position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .origin-profile-header-presence-area {
        margin: 8px 0;

        .origin-profile-header-presence-dot {
            position: relative;
            top: -1px;
            margin-right: 2px;
        }
    }


    #origin-profile-header-controls-options-menu {
        text-align: left;
        z-index: 2000;
        margin-right: 35px;
        .transition(none);
    }

}
