.origin-profile-tab {
    padding: 0 40px;
    @media screen and (max-width: 1150px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 600px) {
        padding: 0 5px;
    }
}

.row-header {
    margin: 12px 0;
    clear: both;
}

.header-text {
    text-align: center;
}

.origin-profile-anonymous,
.origin-profile-offline,
.origin-profile-private,
.origin-profile-blocked {
    width: 500px;
    padding-top: 72px;
    margin: 0 auto;
    text-align: center;
    color: @color-black;
}

.origin-profile-offline {
    .otkc {
        margin-top: 8px;
        margin-bottom: 18px;
    }
}
