#
# VoipServer configuration
#

#######################
# VoipServer settings #
#######################

# max number of tunnels this server will handle
voipserver.maxtunnels=8

# local port for tunnel traffic (UDP)
voipserver.localport=4096

# voipserver frontend interface (specify a mask ie: 10.0.0.0/8)
# if no frontinterface is specified it will either grab a public or private address (prefers public)
voipserver.frontinterface=

# voipserver diagnostics
voipserver.diagnosticport=0

# voiptunnel debug level
# voipserver.debuglevel=1

# voipserver mode
# 0=gameserver, 1=concierge, 2=qos
voipserver.mode=0

# environment
voipserver.environment=prod

# flush rate of prototunnel
# this is the maximum amount of time in milliseconds voip packets will be delayed to help improve packet bundling 
# this is derived from the packet rate of many games (30 packets/sec) with a some extra time to help approach 100% VoIP packet bundling 
voipserver.tunnelflushrate=38

#######################
# GameServer settings #
#######################

# GameServer port to listen on (TCP)
gameserver.port=0

# max number of GamServers allowed to connect to the VoipServer
gameserver.maxservers=64

####################
# Monitor settings #
####################

monitor.pctgamesavail=6,3
monitor.pctclientslot=6,3
monitor.avgclientlate=100,150
monitor.pctserverload=75,85
monitor.avgsystemload=4,8
monitor.failedgamecnt=4,9
monitor.udperrorrate=100000,150000
monitor.udprecvqlen=100000,120000
monitor.udpsendqlen=100000,120000

######################
# Diagnostic setting #
######################

# latency buckets (must be changed in vs *and* gs configs, max seven entries)
voipserver.latebins=80,160,300,440,520

#################
# Trust setting #
#################

# trusted address settings
voipserver.trustmatch=127.0.0.0/8,159.153.0.0/16,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12,74.205.2.0/25,83.138.146.192/27,89.234.31.0/25,92.52.126.0/24

#################
# S2S setting   #
#################

# Nucleus server to use; PROD = https://accounts2s.ea.com, (DEV/TEST/CERT) = https://accounts2s.int.ea.com, LOAD = https://accounts2s.ears.lt.ea.com
# The server will figure this out automatically using voipserver.environment but you can override here
# voipserver.nucleusaddr=https://accounts2s.int.ea.com

#######################
# Concierge setting   #
#######################

voipserver.pingsite=
voipserver.pool=global
voipserver.offloadInboundSSL=0

#############################
# metrics pushing setting   #
#############################

#voipserver.metricsaggregator.port=0       // set port to 0 to disable statsd reporting
#voipserver.metricsaggregator.addr=<url or ipaddr> 
#voipserver.metricsaggregator.rate=5000    // set rate to 0 to depend on VM reporting to push to the aggregator (for dual reporting)

