//
// Origin Store - Free Games Offer Module
// =============================================

.origin-store-freegames-offermodule {
  position: relative;
  background: @color-darknavy;
  overflow: hidden;
  .box-shadow(0 0 2px 0 fade(@color-darknavy, 25%));

  .media-min-width(@pdp-width-medium, {
    height: 320px;
  });

  > .background-image {
    position: absolute;
    z-index: 1;
    top: 0;
  }

   .background-image-overlay {
     position: absolute;
     height: 100%;
     width:100%;
     z-index: 1;
     top: 0;
     background: fade(@color-darknavy, 70%);
  }

    .origin-storeprice {
        margin: 5px 0 12px;
    }
    .background-image {
      width: 100%;
      
      .origin-store-blurimage-image {
        width: 100%;
        .translate(0, -50%);
      }
    }
}

.origin-store-freegames-offermodule-image-wrapper {
  overflow: hidden;
  height: 100%;
  text-align: center;
  width: 5000px;
  position: absolute;
  top: 0;

  .media-min-width(@pdp-width-medium, {
    height: 360px;
  });
}

.origin-store-freegames-offermodule-image-wrapper-inner {
  position: relative;
  display: inline-block;
}

.origin-store-freegames-offermodule-image-scrim-right {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;

  #gradient > .horizontal(fade(@color-darknavy, 0%), fade(@color-darknavy, 100%), 0%, 100%);
}

.origin-store-freegames-offermodule-image-scrim-left {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;

  #gradient > .horizontal(fade(@color-darknavy, 100%), fade(@color-darknavy, 0%), 0%, 100%);
}

.origin-store-freegames-offermodule-image {
  width: auto;
  height: auto;

  .media-min-width(@global-width-small, {
    height: 100%;
  });
}

.origin-store-freegames-offermodule-bg-scrim {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .media-max-width(@pdp-width-medium, {
      top: 50%;
      .translate(0, -50%);
  });

  .media-min-width(@store-width-xsmall, {
    padding: 45px;
  });

}

.origin-store-freegames-offermodule-content {
  display: inline-block;
  width: 100%;
  color: @color-white;
  position: relative;
  box-sizing: border-box;

  .media-min-width(@pdp-width-medium, {
    width: 50%;
  });

  .media-max-width(@global-width-small, {
    padding: 20px;
  });

  .media-min-width(@store-width-xsmall, {
    margin: 45px 0;
  });

  .media-min-width(@pdp-width-medium, {
    margin: 0;
  });

  &.origin-store-freegames-left {
    float: left;

    .media-min-width(@pdp-width-medium, {
      padding-right: 90px;
    });
  }

  &.origin-store-freegames-right {
    float: right;

    .media-min-width(@pdp-width-medium, {
      padding-left: 90px;
    });
  }

  .origin-cta-secondary {
    margin-top: 20px;
  }
}

.origin-store-freegames-offermodule-subtitle {
  color: @color-lightnavy;
}

.origin-store-freegames-offermodule-offer {
  display: inline-block;
  background: #fff;
  position: relative;
  padding: 10px;
  width: 100%;
  float: right;
  box-sizing: border-box;

  .media-min-width(@pdp-width-medium, {
    width: 50%;
  });

  .media-max-width(@global-width-small, {
    padding: 20px;
    text-align: center;
  });

  .origin-storecta {
    .media-max-width(@global-width-small, {
      margin: 0 auto;
      max-width: none;
    });
    .media-min-width(@global-width-small, {
      margin: 5px 0 0 160px;
    });
  }
}

.origin-store-freegames-offermodule-offer-packart {
  width: 100px;

  .media-max-width(@global-width-small, {
    padding-bottom: 12px;
  });

  .media-min-width(@global-width-small, {
    width: 150px;
    float: left;
    margin-right: 10px;
  });
}

.origin-store-freegames-offermodule-offer-description {
  color: @color-mediumnavy;

  .media-max-width(@global-width-small, {
    padding: 10px 0;
  });

  .media-min-width(@global-width-small, {
    margin-left: 160px;
    padding: 10px 0 7px 0;
  });
}