<example>
<para>If a task "if" parameter evaluate to false, then the task will not be initialized. see devtrack 5839</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name='p' value='x' if='1 == 0'/>
    <property name='q' value='${p}' if='1 == 0'/>
    <fileset name='test' fromfileset='xxx' if='1 == 0'/>
</project>
]]>
</code>
</example>