<span> <!-- DO NOT REMOVE this SPAN : ng-repeat on the top level dom overrides the scope (ng-repeat creates an isolated scope and functions inside the ng-repeat do not work!).
            must add span to get around the problem -->
    <li role="presentation" class="origin-filterbar-item origin-filterbar-item-isactive" ng-repeat="filter in filters track by filter.id">
        <a class="origin-filterbar-item-label" role="presentation" ng-bind="::filter.label"></a>
        <i class="otkicon otkicon-closecircle origin-filterbar-item-icon" ng-click="dismissFilters(filter)"></i>
    </li>
</span>
