<section class="origin-store-access-landing-hero">
	<div ng-transclude></div>

	<div class="origin-store-access-landing-hero-background-fade"></div>

	<origin-parallax-container depth="1.5">
		<div class="origin-store-access-landing-hero-background-container">
			<img ng-repeat="image in images track by $index" ng-src="{{ image.background }}" class="origin-store-access-landing-hero-image" ng-class="{'origin-store-access-landing-hero-image-active': active == $index}">
		</div>
	</origin-parallax-container>

	<div class="origin-store-access-landing-hero-container">
		<div class="origin-store-access-landing-hero-content">
			<img ng-src="{{ ::logo }}" alt="">
			<h1 class="otktitle-page origin-store-access-landing-hero-content-header" ng-bind-html="strings.header"></h1>
			<h2 class="otktitle-3 origin-store-access-landing-hero-content-desc" ng-bind-html="::strings.description"></h2>
			<origin-store-access-cta 
				ng-if="strings.buttonText" 
				button="{{ ::strings.buttonText }}" 
				offer-id="{{ ::offerId }}">
			</origin-store-access-cta>
			<h4 class="otktitle-4 otktitle-4-strong origin-store-access-landing-hero-content-legal" ng-if="strings.subtitle" ng-bind-html="::strings.subtitle"></h4>
			<h5 class="otktitle-5 otktitle-5-caps origin-store-access-landing-hero-content-legal" ng-bind-html="::strings.legal"></h5>
		</div>

		<div class="origin-store-access-landing-hero-foreground-container">
			<img ng-repeat="image in images track by $index" ng-src="{{ image.foreground }}" class="origin-store-access-landing-hero-image" ng-class="{'origin-store-access-landing-hero-image-active': active == $index}">
		</div>
	</div>
</section>