<section class="origin-store-access-landing-media">
	<div class="origin-store-access-landing-media-container">
		<div class="origin-store-access-landing-media-content">
			<img ng-src="{{ ::logo }}" alt="" class="origin-store-access-landing-media-logo">
			<h2 class="otktitle-page" ng-bind-html="strings.header"></h2>
			<h3 class="otktitle-3 origin-store-access-landing-media-content-desc" ng-bind-html="::strings.description"></h3>
			<origin-store-access-cta
				ng-if="buttonText"
				button="{{ ::strings.buttonText }}"
				offer-id="{{ ::offerId }}">
			</origin-store-access-cta>
			<h4 class="otktitle-4 otktitle-4-strong origin-store-access-landing-media-content-legal" ng-if="strings.subtitle" ng-bind-html="::strings.subtitle"></h4>
			<h5 class="otktitle-5 otktitle-5-caps origin-store-access-landing-media-content-legal" ng-bind-html="::strings.legal"></h5>
		</div>
		<div class="origin-store-access-landing-media-player">
			<div class="origin-store-access-landing-media-player-wrapper" ng-show="video">
				<div class="origin-store-access-landing-media-player-location"></div>
			</div>

			<img ng-src="{{ ::image }}" alt="" ng-if="!video && image" class="origin-store-access-landing-media-image">
		</div>
	</div>
</section>