<section class="origin-store-access-landing-prop">
	<div class="origin-store-access-landing-prop-background-fade"></div>

	<div class="origin-store-access-landing-prop-background">
		<img ng-src="{{ ::background }}" alt="" class="origin-store-access-landing-prop-background-image">
	</div>

	<div class="origin-store-access-landing-prop-container">
		<div class="origin-store-access-landing-prop-content" origin-fadein>
			<h2 class="otktitle-page" ng-bind-html="::strings.header"></h2>
			<div ng-transclude class="origin-store-access-landing-prop-content-list"></div>
		</div>

		<img ng-src="{{ ::foreground }}" alt="" class="origin-store-access-landing-prop-foreground">

		<div class="origin-store-access-landing-prop-logo">
			<img ng-src="{{ ::logo }}" alt="">
			<h6 class="otktitle-3" ng-bind-html="::strings.caption"></h6>
		</div>
	</div>
</section>