<div class="origin-store-access-landing-trialtile">
	<img ng-src="{{ ::image }}" alt="" class="origin-store-access-landing-trialtile-image" ng-click="onClick()">
	<h4 class="otktitle-3 otktitle-3-strong origin-store-access-landing-trialtile-header" ng-if="header" ng-bind-html="::strings.header" ng-click="onClick()"></h4>
	<h4 class="otktitle-3 otktitle-3-strong origin-store-access-landing-trialtile-header" ng-if="!header" ng-bind-html="::model.displayName" ng-click="onClick()"></h4>
	<h5 class="otktitle-3 origin-store-access-landing-trialtile-description" ng-if="description" ng-bind-html="::strings.description"></h5>
	<h5 class="otktitle-3 origin-store-access-landing-trialtile-description" ng-if="!description" ng-bind-html="::model.shortDescription"></h5>
</div>