<section class="origin-store-access-landing-vaultlist">
	<h3 class="otktitle-page" ng-bind-html="::strings.header"></h3>

	<div class="origin-store-access-landing-vaultlist-games">
		<div class="origin-store-access-landing-vaultlist-game" ng-repeat="model in models track by $index">
			<img ng-src="{{ model.packArt }}" alt="" class="origin-store-access-landing-vaultlist-image">
		</div>
	</div>

	<button class="otkbtn otkbtn-light" ng-bind-html="::strings.more" ng-show="!open && showCta" ng-click="open = !open"></button>
	<button class="otkbtn otkbtn-light" ng-bind-html="::strings.less" ng-show="open && showCta" ng-click="open = !open"></button>
</section>