<div ng-show="allFriends.length === 0">
    <h3 class="otktitle-2 header-text">{{noFriendsTitleLoc}}</h3>
    <h3 class="otktitle-3 header-text">{{noFriendsSubtitleLoc}} <a class="otka find-friends-link">{{findFriendsLoc}}</a></h3>
</div>
<div ng-show="allFriends.length !== 0">

    <section class="friendtile-section">
        <h2 class="otktitle-3 row-header">{{myFriendsLoc}}</h2>

        <origin-profile-page-friends-friendtile ng-repeat="friend in allFriends | orderBy:'originId' | limitTo: friendsLimit"
                                                nucleusid="{{friend.nucleusId}}" username="{{friend.originId}}">
        </origin-profile-page-friends-friendtile>

        <a ng-show="friendsLimit < allFriends.length" class="otka show-more-less show-more">{{showMoreLoc}}</a>
        <a ng-show="(friendsLimit === allFriends.length) && allFriends.length > limit" class="otka show-more-less show-less">{{showLessLoc}}</a>
    </section>

</div>
