<div class="otktitle-5 otktitle-5-caps origin-beta-stripe" ng-if="version">{{::version}}</div>
<div class="origin-clientnav">
    <a ng-click="goBack()" class="origin-browsebtn-back ng-class:{'origin-browsebtn-isdisabled':backDisabled}">
        <i class="otkicon otkicon-leftarrow otkicon-browsebtn"></i>
    </a>
    <a ng-click="goForwards()" class="origin-browsebtn-forwards ng-class:{'origin-browsebtn-isdisabled':forwardDisabled}">
        <i class="otkicon otkicon-rightarrow otkicon-browsebtn"></i>
    </a>
</div>