<div class="origin-navigation-bottom" ng-show="ready && isUserLogedIn()">
    <div ng-if="underAge" class="origin-navigation-bottom-isloggedin-underage"
        ng-class="{'origin-navigation-bottom-isexpanded': menuOpen}">
        <origin-shell-miniprofile></origin-shell-miniprofile>
        <ul class="origin-nav origin-nav-stacked" ng-transclude></ul>
    </div>
    <div ng-if="!underAge" class="origin-navigation-bottom-isloggedin"
        ng-class="{'origin-navigation-bottom-isexpanded': menuOpen}">
        <origin-shell-miniprofile></origin-shell-miniprofile>
        <ul class="origin-nav origin-nav-stacked" ng-transclude></ul>
    </div>

    <origin-download-manager-mini></origin-download-manager-mini>
</div>
