<div class="origin-miniprofile" ng-click="onClick($event)">
    <origin-avatar
        ng-if="myNucleusId()"
        ng-hide="{{ hide() }}"
        nucleusid="{{ myNucleusId() }}"
        avatar-size="medium"
        class='origin-miniprofile-avatar'
        click-override="onClick">
    </origin-avatar>
    <div class="origin-miniprofile-username-area">
        <strong class="otktitle-4 origin-shell-miniprofile-username" ng-bind="myOriginId()"></strong>
        <i class="otkicon otkicon-downarrow"></i>
    </div>
    <div>
        <p class="origin-miniprofile-points otkc otkc-small" ng-hide="{{ hide() }}" ng-bind-html="pointsLoc"></p>
    </div>
</div>
