<div ng-hide="isUnderAge()">
    <form ng-submit="submit()" class="origin-globalsearch"
        ng-class="{
            'origin-globalsearch-isfocused': focused,
            'origin-globalsearch-issearching': searchString !== ''
        }">
        <label>
            <div class='otkinput otkinput-filter'>
                <i class="otkicon otkicon-search otkinput-icon"></i>
                <i ng-show="searchString.length || (isCompactView && focused)" class="otkicon otkicon-closecircle otkinput-clear" ng-mousedown="clear()"></i>
                <input ng-model="searchString" ng-change="search()" ng-model-options="{debounce: 500}" ng-keyup="escapeClearSearch($event.keyCode)" type="text" placeholder="{{searchPlaceholderLoc}}" ng-focus="onfocus()" ng-blur="onblur()" maxlength="100">
            </div>
        </label>
    </form>
</div>