<div class="origin-navigation-top" origin-add-sitestripe-margin="mobile">
    <div class="origin-logo" ng-class="{'origin-logo-ishidden': globalSearchOpen}" ng-if="!inClient">
        <a class="origin-logo-link" ng-href="{{::homeUrl}}" ng-click="toHome($event)">
            <i class="otkicon otkicon-originlogo origin-logo-hurricane"></i>
            <i class="otkicon otkicon-origintext origin-logo-text"></i>
            <span class="otktitle-6 otktitle-6-caps origin-beta-pill" ng-if="version" ng-bind="::version"></span>
        </a>
    </div>
    <origin-shell-client-nav ng-if="inClient"></origin-shell-client-nav>
    <div class="l-origin-hamburger" ng-click="toggleMainMenu($event)">
        <div class="origin-hamburger" ng-class="{'origin-hamburger-bar': mainMenuVisible}"></div>
    </div>
    <div class="l-globalsearch">
        <origin-global-search></origin-global-search>
    </div>
</div>
