#
# package.cfg - configuration options for packaging builds
#

[repo]
branch = fifa-2022-genx-test

[build]
build_image = src.ent.ea.com:8443/gs/gs_docker_sandbox/blaze-build:1.8
build_target = debug
debug = unix64-clang-debug
release = unix64-clang-debug-opt
final = unix64-clang-opt

[pack container]
dockerfile = docker/deploy/Dockerfile
baseimage = src.ent.ea.com:8443/gs/gs_docker_sandbox/blaze-base:1.4
includes =
    bin/dbmig
    bin/asan
    out/linux/%(var:build_target)s/bin/blazeserver -> bin
    out/linux/%(var:build_target)s/bin/llvm-symbolizer -> bin
    out/linux/%(var:build_target)s/bin/cfgtest -> bin
    out/linux/%(var:build_target)s/bin/monitor -> bin
    out/linux/%(var:build_target)s/bin/*.so* -> lib
    out/linux/%(var:build_target)s/lib/* -> lib

[pack blaze]
add_tag_info = True
includes =
    component/*/db/*
    component/*/cfg/*
    customcomponent/*/db/*
    customcomponent/*/cfg/*
    etc/*
    framework/*/db/*

[pack tools]
includes =
    bin/dbmig -> run
    bin/gdbtools -> run
    bin/base.cfg -> run
    bin/rotatelog -> run
    bin/redis*.conf -> run
    bin/monitor-exception -> run
    bin/monitor-external -> run
    bin/bugsentry.py -> run
    bin/info-core -> run
    bin/info-core-opt -> run
    bin/info-exception -> run
