[DEPLOY]
env        = test
platform   = ps4
user       = fifa

prefix = fifa-2022
suffix = cfe
serviceName = %(prefix)s-%(platform)s-%(suffix)s
bootfile = env/cfetest.boot

oldBuildCount = 4
# number of old builds to keep

[CLUSTERS]
config = configMaster
core = coreMaster coreNSMaster coreSlave grSlave mmSlave searchSlave
osdk = osdkAuxMaster osdkAuxSlave
gdpr = gdprAuxSlave

[REDIS]
clusters = main

[fifa20-stest-app-gencert4-01.bio-dub.ea.com]
startId: 0
runset:
  configMaster = 1
  coreMaster = 2
  coreNSMaster	= 1
  osdkAuxMaster = 1
  osdkAuxSlave = 2
  grSlave = 2
  mmSlave = 2
  searchSlave = 2
  coreSlave = 2
  gdprAuxSlave = 1
redis_nodes:
  main-a           = 30220
  
[MAIL]
recipients = alchong@ea.com,gavincard@ea.com
