//
// Styling for the Game Properties dialog
// --------------------------------------------------

.origin-dialog-content-gameproperties-nav {
    > ul {
        .display-flex();

        > li {
            overflow: hidden;

            > a {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        > li:last-child > a {
            width: calc(100% - 52px);
        }
    }
}

section.origin-dialog-content-gameproperties-tabbed-section {
    display: none;
    padding-top: 24px;
}

section.origin-dialog-content-gameproperties-tabbed-section.active-section {
    display: block;
    -webkit-animation: origin-settings-fader 1s ease-in-out 1;    /* slow the fade because the client will sometimes pop */
    -moz-animation: origin-settings-fader 0.3s ease-in-out 1;
    -o-animation: origin-settings-fader 0.3s ease-in-out 1;
    animation: origin-settings-fader 0.3s ease-in-out 1;
}

.origin-dialog-content-gameproperties-cloudsaves-section {
    .otkcheckbox {
        display: block;
        margin-top: 24px;
    }

    span.bubble-tip {
        position: relative;
        font-size: 24px;
        line-height: 16px;
        color: #c3c6ce;
    }

    .otkprogress {
        margin-top: 12px;
    }

    .progress-label {
        position: absolute;
        top: 19px;
        left: 0;
        color: #787D85;
    }

    .divider {
        height: 1px;
        width: 100%;
        background: #edf1f2;
        margin: 24px 0;
        display: block;
    }

    .origin-dialog-content-gamepropertiescloudsaves-restore-save-btn {
        margin-top: 12px;
    }
}