.prompt-content {
    margin-top: 20px;
}

.dialog-content-prompt-section-footer {
	.otkbtn, .otkbtn + .otkbtn {

		// because the OTK way has positioning issues on mobile
	  @media screen and (max-width: 586px) {
	      display: block;
	      margin: 8px auto 0;
	  }

	}	
} 
