
.dialog-content-reportuser-section {
    padding: 30px;
}

.dialog-content-reportuser-section-title {
    background-color: @color-lightgray;
    .border-top-radius(4px);

    .otkmodal-title {
        margin: 0;
        padding: 0;
    }
}

.dialog-content-reportuser-section-confidential {
    padding-top: 10px;
    padding-bottom: 10px;

    >p {
        border-bottom: 1px solid rgba(195, 198, 206, 0.5);
        max-width: none;
        padding-bottom: 10px;
    }
}

.dialog-content-reportuser-section-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -10px;

    .dialog-content-reportuser-section-form-why-area,
    .dialog-content-reportuser-section-form-where-area {
        display: inline-block;
        position: relative;
        width: 48%;

        @media only screen and (max-width: 700px) {
            display: block;
            width: auto;
        }

    }

    .dialog-content-reportuser-section-form-comment-area {
        margin-top: 20px;   
    }
}


.dialog-content-reportuser-section-footer {
    margin-top: 40px;
    text-align: right;
    border-top: 1px solid @color-lightgray;

    @media screen and (max-width: 600px) {
        text-align: center;
    }

    .otkbtn {
        @media screen and (max-width: 600px) {
            margin-bottom: 8px;
        }
    }
}

