<div class='origin-hometile-overlay'>
    <div class='origin-hometile-overlay-content' ng-show="canShowAddDismissFriendButtons()">
        <a class='otkbtn otkbtn-primary' href='javascript:void(0)' ng-click='addFriend()'>{{addFriendString}}</a>
        <a href='javascript:void(0)' class="origin-hometile-secondarycta" ng-click='dismiss()'>{{dismissString}}</a>
    </div>
    <div class='origin-hometile-overlay-content origin-friendtile-confirm' ng-show="canShowRequestButtons()">
        <i class='otkicon otkicon-person origin-friendtile-iconperson'></i>
        <i class='otkicon otkicon-check origin-friendtile-iconcheck'></i>
        <div class='otktitle-4 origin-friendtile-requestsent'>{{requestSentString}}</div>
    </div>
    <div class='origin-hometile-overlay-content' ng-show="canShowViewFriendsList()">
        <origin-cta-loadurlinternal offerid='{{::offerId}}' description='{{viewListButtonString}}' href='http://internal-route-to-friendslist' type='primary'></origin-cta-loadurlinternal>
    </div>
    <div class='origin-hometile-overlay-content' ng-show="canShowProfileButton()">
        <origin-cta-loadurlinternal offerid='{{::offerId}}' description='{{viewProfileString}}' href='http://internal-route-to-profile' type='primary'></origin-cta-loadurlinternal>
    </div>
</div>
