.origin-social-inviteusers-user {

    padding: 12px 12px;
    border-top: 1px solid rgba(195, 198, 206, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height: 61px;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &:hover{
        background-color: rgba(195, 198, 206, 0.2);
    }

    >.otktitle-4 {
        position: absolute;
        top: 22px;
        left: 70px;
    }

    >.otkicon {
        .animation(none);

        &.zoomIn {
            .animation(originZoomIn 0.125s linear);
        }
        &.zoomOut {
            .animation(originZoomOut 0.125s linear);
        }
    }

    >.otkicon-add {
        position: absolute;
        top: 7px;
        right: 40px;
        font-size: 48px;
        color: @color-lightnavy;
        transition: color 0.5s ease-in-out;

        &:hover{
            color: @color-darknavy;
        }
    }

    >.otkicon-checkcircle {
        position: absolute;
        top: 6px;
        right: 41px;
        font-size: 46px;
        color: @color-green;
    }
}
