<example>
<para>This shows how a project could 'compile' a debug and release build using a common compile target.</para>
<code>
<![CDATA[
<project default="build">
    <target name="compile">
      <echo message="compiling with debug = ${debug}"/>
    </target>

    <target name="build">
        <property name="debug" value="false"/>
        <call target="compile"/>
        <property name="debug" value="true"/>
        <call target="compile" force="true"/> <!-- notice the force attribute -->
    </target>
</project>
]]>
</code>
</example>
