<div class="origin-pdp-hero-description-info">
    <h1 class="otktitle-page origin-pdp-hero-title origin-pdp-hero-info-block"
        ng-bind-html="model.displayName">
    </h1>
    <origin-store-pdp-infoblock
        header="shortDescription || model.shortDescription"
        body="longDescription || model.longDescription | limitTo:100"
        read-more-text="::strings.readMoreText"
        is-visible="true"
        is-dimmed="selectedEditionId !== highlightedEditionId"
        on-read-more="goToInfo">
    </origin-store-pdp-infoblock>
</div>
