<div class="origin-pdp-hero-main" ng-class="{'origin-pdp-hero-main-nobg': !!showVideo || !backgroundImage, 'origin-pdp-hero-main-slide':  !!backgroundImage}">
    <section class="origin-pdp-hero-info">
        <origin-store-pdp-sections-packart
            offer-id="{{ highlightedEditionId }}"
            pack-art="{{ packArt }}">
        </origin-store-pdp-sections-packart>

        <section class="origin-pdp-hero-description">
            <origin-store-pdp-sections-description
                offer-id="{{ highlightedEditionId }}"
                short-description="{{ shortDescription }}"
                long-description="{{ longDescription }}"
                read-more-text="{{ ::strings.readMoreText }}">
            </origin-store-pdp-sections-description>

            <div class="store-pdp-editions">
                <ul class="store-pdp-editions-list otkbtngroup">
                    <li class="otkbtngroup-item" ng-repeat="offer in editions | toArray | orderBy:'-weight'">
                        <a href="javascript:void(0)" class="otkbtn otkbtn-grouped"
                            ng-click="goToPdp(offer)"
                            ng-class="{'otkbtn-selected' : (selectedEditionId == offer.offerId)}"
                            ng-mouseover="setHighlightedEdition(offer.offerId)"
                            ng-mouseout="setHighlightedEdition(selectedEditionId)">
                            {{ offer.editionName }}
                        </a>
                    </li>
                </ul>
            </div>

            <origin-socialmedia class="origin-pdp-hero-socialmedia"></origin-socialmedia>
        </section>
    </section>

    <section class="origin-pdp-hero-action">
        <origin-store-pdp-ownership offer-id="{{ highlightedEditionId }}" editions="editions"></origin-store-pdp-ownership>

        <origin-store-pdp-subscriptionavailability offer-id="{{ highlightedEditionId }}" editions="editions"></origin-store-pdp-subscriptionavailability>

        <origin-store-pdp-basegamerequired offer-id="{{ highlightedEditionId }}"></origin-store-pdp-basegamerequired>

        <origin-store-pdp-sections-offerdetails
            offer-id="{{ highlightedEditionId }}"
            now-available-text="{{ nowAvailableText }}"
            preload-date-text="{{ preloadDateText }}"
            release-date-text="{{ releaseDateText }}">
        </origin-store-pdp-sections-offerdetails>

        <origin-store-pdp-cta offer-id="{{ highlightedEditionId }}" editions="editions"></origin-store-pdp-cta>

        <origin-store-pdp-sections-subsinfo
            offer-id="{{ highlightedEditionId }}"
            learn-more-text="{{ learnMoreText }}"
            available-with-subs-text="{{ availableWithSubsText }}"
            subs-info-text="{{ subsInfoText }}">
        </origin-store-pdp-sections-subsinfo>

        <origin-store-game-legal offerid="{{ highlightedEditionId }}" class="origin-pdp-hero-legal otktitle-5"></origin-store-game-legal>
    </section>

    <section class="origin-pdp-hero-keybeat">
        <origin-store-pdp-keybeat icon="{{ keybeatIcon }}" message="{{ keybeatMessage }}" />
    </section>
</div>