<ol class="origin-store-carousel-product-controls">
    <li>
        <div class="origin-store-carousel-product-controls-left origin-telemetry-store-carousel-product-controls-left origin-tealium-store-carousel-product-controls-left" ng-click="goTo(carouselState.current-1)" ng-class="{ 'origin-store-carousel-product-controls-active origin-tealium-store-carousel-product-controls-active' : carouselState.numberOfSlides.length > 1 }"></div>
    </li>
    <li>
        <div class="origin-store-carousel-product-controls-right origin-telemetry-store-carousel-product-controls-right origin-tealium-store-carousel-product-controls-right" ng-click="goTo(carouselState.current+1)" ng-class="{ 'origin-store-carousel-product-controls-active origin-tealium-store-carousel-product-controls-active' : carouselState.numberOfSlides.length > 1 }"></div>
    </li>
</ol>
