body {
	margin: 0px 0px 0px 0px;
	background-color: #eee;
}

.main {
	padding: 60px 100px 29px 100px;
	text-align: %1;
}
	
a {
	text-decoration: none;
	outline: none;
}

p {
	margin-top: 7px;
}
%2
%3
%4
%5