//
// Modals
// --------------------------------------------------


// .otkmodal-open      - body class for killing the scroll
// .otkmodal           - container to scroll within
// .otkmodal-dialog    - positioning shell for the actual modal
// .otkmodal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.otkmodal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.otkmodal {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    -webkit-overflow-scrolling: touch;

    // Prevent Chrome on Windows from adding a focus outline
    outline: 0;

    // fade the modal in
    opacity: 0;
    .transition(opacity .3s ease-in-out);
}

// Shell div to position the modal with bottom padding
.otkmodal-dialog {
    position: relative;
    width: auto;
    margin: 80px auto 40px auto;
    // When fading in the modal, animate it to slide down
    .translate(0, -50px);
    .transition-transform(~"1.1s cubic-bezier(0.03, 1, 0.2, 1)");
}

.otkmodal-lg {
    width:@modal-lg;
}

.otkmodal-md {
    width:@modal-md;
}

.otkmodal-sm {
    width:@modal-sm;
}

.otkmodal-isvisible {
    opacity:1.0;
    .otkmodal-dialog {
        .translate(0, 0)
    }
}


// Actual modal
.otkmodal-content {
    position: relative;
    padding-bottom: 35px;
    background-color: @modal-content-bg;
    .box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: none;
}

// Modal background
// Backdrop lives inside of the modal
.otkmodal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: @modal-backdrop-fallback;
    background-color: @modal-backdrop-bg;
    // Fade for backdrop
    visibility: hidden;
    .transition(opacity .15s linear);
    .opacity(0);
}

.otkmodal-backdrop-isvisible {
    visibility: visible;
    .opacity(@modal-backdrop-opacity);
}

// Close icon
.otkmodal-close {
    position: absolute;
    width: @modal-control-size;
    height: @modal-control-size;
    right: 0;
    top: -40px;
    color: @color-white;
    text-align: center;
    > .otkicon {
        font-size: @modal-control-fontsize;
        line-height: @modal-control-size;
        left: -0.2em;
    }
}


// Modal header
// Top section of the modal w/ title and dismiss
.otkmodal-header {
    padding: @modal-title-padding;
}

// Title text within header
.otkmodal-title {
    margin: 0;
}

// Modal body
// Where all modal content resides (sibling of .otkmodal-header and .otkmodal-footer)
.otkmodal-body {
    position: relative;
    padding: @modal-inner-padding;
    max-height: @modal-max-height;
    overflow: auto;
}

// Footer (for actions)
.otkmodal-footer {
    margin-top: 15px;
    padding: @modal-footer-padding;
    text-align: right; // right align buttons
    border-top: 1px solid @modal-footer-border-color;
    &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

    // Properly space out buttons
    .otkbtn + .otkbtn {
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .otkbtn-group .otkbtn + .otkbtn {
        margin-left: -1px;
    }
}
