//
// Typography
// --------------------------------------------------



// Titles
// -------------------------

.otktitle-page,
.otktitle-hero {
    .font();
    font-size: 36px;
    line-height: 42px;
    font-weight: @weight-light;
    margin:0 0 18px 0;
}

.otktitle-2,
.otktitle-3,
.otktitle-4,
.otktitle-5,
.otktitle-6 {
    .font();
    margin:0;
}

.otktitle-2,
.otktitle-3,
.otktitle-4 {
    font-weight: @weight-light;
}

.otktitle-3 > strong,
.otktitle-3-strong,
.otktitle-4 > strong,
.otktitle-4-strong,
.otktitle-5,
.otktitle-6 {
    font-weight: @weight-normal;
}

.otktitle-2 {
    font-size: 24px;
    line-height: 30px;
}

.otktitle-3 {
    font-size: 18px;
    line-height: 24px;
}

.otktitle-4 {
    font-size: 14px;
    line-height: 18px;
}

.otktitle-5 {
    font-size: 11px;
    line-height: 16px;
}

.otktitle-5-caps {
    font-weight: @weight-semibold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.otktitle-6 {
    font-size: 9px;
    line-height: 12px;
}

.otktitle-6-caps {
    font-weight: @weight-semibold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


// Body text
// -------------------------

/* they can apply this class to the OTK container to make all of their fonts open sans */
.otk {
    .font();
}

/* otkc for otkcontent, yes, it is rather small :p */
.otkc {
    .font();
    font-size: 16px;
    line-height: 24px;
    font-weight: @weight-light;
    max-width: @content-maxwidth;
    margin-bottom: 6px;
    > strong {
        font-weight: @weight-normal;
    }
}

.otkc-small {
    font-size: 12px;
    line-height: 20px;
    font-weight: @weight-normal;
    max-width: @content-small-maxwidth;
    margin-bottom:0;
    > strong {
        font-weight: @weight-semibold;
    }
}

.otka {
    .font();
    color: @color-blue;
    font-weight: @weight-normal;
    text-decoration: none;
    &:hover {
        /*text-decoration: underline;*/
        .underline(@color-blue, 18px);
    }
}

.otka-disabled {
    opacity: 0.4;
    filter:alpha(opacity=40);
    pointer-events: none;
    cursor: default;
}


// Emphasis & misc
// -------------------------

