.origin-agegate,
.origin-agegate-overlay {
	height: 100%;
	width: 100%;
}

.origin-agegate-overlay {
	z-index: 1;
	background-color: @color-darknavy;
	position: relative;
	padding: 25px;
	.box-sizing(border-box);

	.display-flex();
	align-items: center;
	justify-content: center;
}

.origin-agegate-form,
.origin-agegate-restrictedmessage{
	color: @color-white;
	text-align: center;
	.flex(1, 1, auto);
	max-width: 550px;
}

.origin-agegate-header {
	margin-bottom: 18px;
	>.otktitle-page {
		margin-bottom: 0;
	}
}

.origin-agegate-header-title {
	margin-bottom: 10px;
}

.origin-agegate-select {
	max-width: 150px;
	display: inline-table;
	text-align: left;
}

.origin-agegate-buttons {
	margin-top: 15px;
}

.origin-pdp-hero {
	.origin-agegate {
		position: absolute;
		top: 0;
		display: none;
	}
}

.otkmodal {
	.origin-agegate {
		min-height: 441px;

        .media-max-width((@global-width-small + 1), {
			min-height: 515px;
			margin-bottom: 30px;
        });
    }
}
