// GLOBAL BREAKPOINTS
@global-width-xsmall: 600px; // Main content padding right/left = 5px
@global-width-small: 1000px; // Hide chat / show mobile nav
@global-width-medium: 1150px; // Main content padding right/left = 20px
@global-width-large: 1800px; // expanded chat visible
@global-width-xlarge: 2600px; // Zoom 2

// STORE / PDP
@import "/store/breakpoints.less";

// HOME
@import "/home/breakpoints.less";

// GAME LIBRARY / OGD
@import "/gamelibrary/breakpoints.less";

// ACHIEVEMENTS
@import "/achievements/breakpoints.less";

// PROFILE
@import "/profile/breakpoints.less";

// SETTINGS
@import "/settings/breakpoints.less";

// TILE GRID
// TILE GRID w/FILTER PANEL OPEN
