@origin-gamecard-packart-width: 142px;
@origin-gamecard-packart-widthsmall: 100px;
@origin-gamecard-gutter: 12px;
@origin-gamecard-packart-placeholder-height: 212px;
@origin-gamecard-packart-placeholder-heightsmall: 141px;

.origin-gamecards-container {
    width: 100%;

    .display-flex();
    .flex-flow(row wrap);
    .justify-content(flex-start);
}

.origin-gamecard-item {
    .box-sizing(border-box);
    .box-shadow(0 0 2px 0 fade(@color-black, 25%));

    // margin-bottom: 32px;
    margin: 0 @origin-gamecard-gutter 32px;
    background: @color-white;

    width: 100%;

    &-2col {

        .media-min-width(@ogd-width-tiny, {
            width: calc(50% - @origin-gamecard-gutter);
            &:nth-child(odd) {
                margin-left: 0;
            }
            &:nth-child(even) {
                margin-right: 0;
            }
        });
    }
}


.origin-gamecard {
    .display-flex();
    .flex-flow(row nowrap);
    .justify-content(flex-start);

    padding: 10px;
    background: @color-white;
    text-align: left;
    color: @color-black;

    .media-max-width(@ogd-width-medium, {
        .flex-flow(column nowrap);
        .align-items(center);

        padding: 20px;
        text-align: center;
    });
}

.origin-gamecard-primarycol {
    min-width: @origin-gamecard-packart-width;
    .media-max-width(@ogd-width-medium, {
        margin-bottom: @origin-gamecard-gutter;
    });
}

.origin-gamecard-primarycol-small {
    min-width: @origin-gamecard-packart-widthsmall;
    .media-max-width(@ogd-width-medium, {
        margin-bottom: @origin-gamecard-gutter;
    });
}

.origin-gamecard-secondarycol {
    width: calc(100% - @origin-gamecard-packart-width);
    max-width: 100%;
    padding-left: 10px;

    .media-max-width(@ogd-width-medium, {
        width: 100%;
        padding-left: 0;
    });
}

.origin-gamecard-secondarycol-small {
    width: calc(100% - @origin-gamecard-packart-widthsmall);
    max-width: 100%;
    padding-left: 10px;

    .media-max-width(@ogd-width-medium, {
        width: 100%;
        padding-left: 0;
    });
}

.origin-gamecard-maintitle {
    margin-bottom: 10px;
}

.origin-gamecard-packart {
    width: @origin-gamecard-packart-width;
    .media-max-width(@ogd-width-medium, {
        width: @origin-gamecard-packart-widthsmall;
    });
}

.origin-gamecard-packart-placeholder {
    width: @origin-gamecard-packart-width;
    height: @origin-gamecard-packart-placeholder-height;
    .animation(largeGameCardLoading 2s ease-in-out infinite);
    .media-max-width(@ogd-width-medium, {
        width: @origin-gamecard-packart-widthsmall;
        height: @origin-gamecard-packart-placeholder-heightsmall;
        margin: 0 auto;
    });
}

.origin-gamecard-placeholder-header {
    height: 18px;
    width: 100%;
    display: block;
    .animation(largeGameCardLoading 2s ease-in-out infinite);
    margin-bottom: 24px;
}

.origin-gamecard-placeholder-title, .origin-gamecard-placeholder-description {
    height: 8px;
    width: 60%;
    display: block;
    margin-bottom: 18px;
    .animation(largeGameCardLoading 2s ease-in-out infinite);
    .media-max-width(@ogd-width-medium, {
        margin-left: auto;
        margin-right: auto;
    });
}

.origin-gamecard-placeholder-description {
    width: 90%;
}

.origin-gamecard-packart-small {
    width: @origin-gamecard-packart-widthsmall;
    .media-max-width(@ogd-width-medium, {
        width: @origin-gamecard-packart-widthsmall;
    });
}

.origin-gamecard-description {
    margin-bottom: @origin-gamecard-gutter;
}

.origin-gamecard-long-description-container {
    max-height: 80px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.origin-gamecard-long-description-fadeaway:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #ffffff 100%);
}

.origin-gamecard-readmore {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    bottom: 10px;
}

.origin-gamecard-violator {
    .display-flex();
    .flex-flow(row nowrap);
    .justify-content(center);

    color: @color-darkgray;

    &-icon {
        .align-self(center);
        width: 32px;
        font-size: 32px;
    }
    &-text {
        .align-self(center);
    }
    .media-min-width(@ogd-width-medium, {
        .justify-content(flex-start);
    });
}

.origin-gamecard-violator-successicon {
    color: @color-green;
    top: -1px;
}

.origin-gamecard-violator-debugicon,
.origin-gamecard-violator-debugtext {
    color: @color-red;
    font-weight: @weight-normal;
}

.origin-gamecard-violator-debugtext {
    text-overflow: ellipsis;
    overflow: hidden;
}

.origin-gamecard-discounts {
    margin-bottom: @origin-gamecard-gutter;
}

.origin-gamecard-accessdiscount {
    color: @color-green;
    font-size: 14px;
}

.origin-gamecard-cta-container {
    max-width: @otk-cta-width;
    .media-max-width(@ogd-width-medium, {
        margin: 0 auto;
    });
}
.origin-gamecard-gift-cta-container {
    margin-top: 12px;
}
