origin-control-toast .origin-toast-dialog {
  border-top: solid 1px #263138;
  border-bottom: solid 1px #040608;
  background-color: #22313C;
  color: #EDF1F2;
  position: fixed;
  z-index: 14;
  bottom: 80px;
  padding: 24px;
  border-radius: 6px;
  pointer-events: none;
  right: -100px;
  opacity: 0;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

origin-control-toast .origin-toast-dialog .otkicon {
  color: #EDF1F2;
  position: relative;
  top: calc(50% - 20px);
  margin: -2px 16px 0px 0px;
}

.origin-toast-dialog-display {
  right: 80px !important;
  opacity: 1 !important;
  pointer-events: auto !important;
  transition: right 0.6s cubic-bezier(0.03, 1, 0.2, 1), opacity 0.6s cubic-bezier(0.03, 1, 0.2, 1), bottom 0.6s cubic-bezier(0.03, 1, 0.2, 1);
}

.origin-content-hasembeddedchat .origin-toast-dialog {
    right: calc(@social-hub-width - 100px);
}

.origin-content-hasembeddedchat .origin-toast-dialog-display {
    right: calc(@social-hub-width + 80px) !important;
}


.origin-toast-dialog i {
  float: left;
  font-size: 40px;
  margin: 8px 20px 8px 0px;
  color: #F56C2D;
}


.origin-toast-dialog article {
  text-align: left;
  width: 300px;
}


.origin-toast-dialog article .otktitle-4 {
  line-height: 12px;
}
