.origin-featureintro-description {
    margin-top: 0;
}

.origin-featureintro-callout {
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: fade(@color-dark-blue, 90%);
    cursor: pointer;

}

.origin-featureintro-callout-animation {
    display: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: fade(@color-dark-blue, 80%);
    .animation(pulse 2s infinite);
    .vertical-center();
    top: 7px;
    right: 20px;
}

.origin-navigation .origin-featureintro-callout {
    .vertical-center();
    top: 25px;
    right: 20px;
}


.origin-featureintro-callout-visible {
    display: block;
}

.origin-featureintro-gifting-title {
    margin-bottom: 6px;
}


// Feature Intro dialog content

.origin-dialog-featureintro-content, .origin-dialog-featureintro-image {
    .box-sizing(border-box);
    display: inline-block;
    vertical-align: top;
    width: 50%;

    .media-max-width(@global-width-xsmall, {
        width: 100%;
    });
}

.origin-dialog-featureintro-content {
    .media-min-width(@global-width-xsmall, {
        padding-right: 15px;
    });
}
    .origin-dialog-featureintro-content-fullwidth {
        width: 100%;
        padding-right: 0;
    }

.origin-dialog-featureintro-image {
    img {
        max-width: 100%;
        .border-radius(4px);
    }

    .media-max-width(@global-width-xsmall, {
        margin-top: 22px;
    });

    .media-min-width(@global-width-xsmall, {
        padding-left: 15px;
    });
}

.origin-dialog-featureintro-content .otktitle-4 {
    color: @color-mediumnavy;
}