.origin-globalfooter {
    .display-flex();
    .flex-wrap(wrap);
    padding-top: 60px;
    padding-bottom: 12px;
    background-color: @color-white;
    
    &-column {
        .flex-grow(1);
        width: 25%;
        padding-right: (@tile-gutters-large * 2);
        box-sizing: border-box;
        margin-bottom: 48px;


        &:last-child {
            padding-right: 0;
            width: 100%;
            .media-min-width(@global-width-small, {
                width: 25%;
                margin-top: 0;
            });
        }

        &-header {
            color: @color-darknavy;
            margin-bottom: 6px;
        }
    }

    &-linklist {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &-link {
        font-size: 14px;
        line-height: 18px;
        color: @color-mediumnavy;
        text-decoration: none;
        padding: 6px 0;
        display: inline-block;
        word-break: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    &-legal {
        color: @color-darkgray;
        margin-top: 12px;
        
        // adds "Learn More" icon to external links
        .external-link::after {
            .iconfont();
            content: '\e62f';
            position: relative;
            top: 2px;
            font-size: @font-size-subtitle;
        }
    }

    &-version {
        color: @color-darkgray;
    }

    &-languageicon{
        font-size: 24px;
        color: @color-lightnavy;
        .vertical-center();
    }

    &-languagelabel{
        margin-left: 30px;
    }

    &-languageselector{
        margin-bottom: 24px;
    }
}

.origin-content-isfilteroverlayopen .origin-globalfooter {
    .media-max-width(@global-width-xlarge, {
        position: fixed;
    });
}