.origin-iframemodal {
    z-index: @zindex-iframe-modal;
    padding: 0;

    &.otkmodal-isvisible {
        display: block;
    }

    iframe {
        display: block; // iFrame bug fix
        overflow: hidden;
    }

    &-content {
        display: block;
        .media-max-width(@global-width-small, {
            .border-radius(4px);
            overflow: hidden; // for the rounded corners
        });
    }

    .otkmodal-dialog {
        max-width: (@global-width-small + 1); // Needs to be 1px bigger than the max-width 1000px breakpoint in otk
    }

    .otkmodal-close{
        cursor: pointer;
    }
}