.origin-inline-notification{
    font-size: 28px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    text-align: left;

    &.inline-notification-standard {
        border: 1px solid @color-lightblue;
        background: #d4f3fd;
        color: #0baee1;
    }

    &.inline-notification-warning {
        border: 1px solid @color-yellow;
        background: #fff4e3;
        color: #e28901;
    }

    &.inline-notification-error {
        border: 1px solid @color-red;
        background: #ffbba2;
        color: #a22c00;
    }

    .origin-beta-message-icon {
        font-size: 28px;
        position: absolute;
        top: 7px;
    }

    .origin-beta-message-text {
        font-weight: 400;
        padding: 0 30px;
        display: inline-block;

    }
}