// Top level layout styles
//
// -------------------------

// Gives a page section appropriate padding values for each breakpoint
.l-origin-section {
    .section-padding();
}

.l-origin-section-divider {
    margin-bottom: @section-spacing-bottom;
}

.l-origin-align-right {
    .align-with-gutters-right();
}

.l-origin-align-left {
    .align-with-gutters-left();
}

// Browse grid styles!
//
// -------------------------
// Note: < 1000px is same for all sizes


// ------------------------------
// Container styles
// ------------------------------
.l-browsegrid-container-base {
    .clearfix();
    padding: 0px;
}

.l-browsegrid-container {
	.l-browsegrid-container-base();

	margin-left: -@browsegrid-9col-gutter;
    .media-max-width(@browsegrid-8col, {
        margin-left: -@browsegrid-8col-gutter;
    });
    .media-max-width(@browsegrid-7col, {
        margin-left: -@browsegrid-7col-gutter;
    });
    .media-max-width(@browsegrid-6col, {
         margin-left: -@browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col, {
         margin-left: -@browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col, {
         margin-left: -@browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col, {
         margin-left: -@browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col, {
        margin-left: -@browsegrid-2col-gutter;
    });
    .media-max-width(@browsegrid-1col, {
         margin: 0 auto;
    });
}

.l-browsegrid-container-withembeddedfilter {
    .l-browsegrid-container-base();

    margin-left: -@browsegrid-8col-gutter;
    .media-max-width(@browsegrid-7col-withfilter, {
        margin-left: -@browsegrid-7col-gutter;
    });
    .media-max-width(@browsegrid-6col-withfilter, {
        margin-left: -@browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col-withfilter, {
        margin-left: -@browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col-withfilter, {
        margin-left: -@browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col-withfilter, {
        margin-left: -@browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col-withfilter, {
        margin-left: -@browsegrid-2col-gutter;
    });
}

.l-browsegrid-container-withchat {
    .l-browsegrid-container-base();

    // Default 8 grid
    margin-left: -@browsegrid-8col-gutter;

    .media-max-width(@browsegrid-7col-withchat, {
        margin-left: -@browsegrid-7col-gutter;
    });
    .media-max-width(@browsegrid-6col-withchat, {
        margin-left: -@browsegrid-6col-gutter;
    });
     .media-max-width(@browsegrid-5col, {
         margin-left: -@browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col, {
         margin-left: -@browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col, {
         margin-left: -@browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col, {
        margin-left: -@browsegrid-2col-gutter;
    });
    .media-max-width(@browsegrid-1col, {
         margin: 0 auto;
    });
}

.l-browsegrid-container-withchatandfilter {
    .l-browsegrid-container-base();

    // default to 7col
    margin-left: -@browsegrid-7col-gutter;
    .media-max-width(@browsegrid-6col-withchatandfilter, {
        margin-left: -@browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col-withfilter, {
        margin-left: -@browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col-withfilter, {
        margin-left: -@browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col-withfilter, {
        margin-left: -@browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col-withfilter, {
        margin-left: -@browsegrid-2col-gutter;
    });
    .media-max-width(@browsegrid-3col, {
         margin-left: -@browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col, {
        margin-left: -@browsegrid-2col-gutter;
    });
    .media-max-width(@browsegrid-1col, {
         margin: 0 auto;
    });
}

// ------------------------------
// Item styles
// ------------------------------
.l-browsegrid-item-base {
    float: left;
    position: relative;

    max-width: @browsegrid-tile-maxwidth;
    min-width: @browsegrid-tile-minwidth;

    margin-bottom: @browsegrid-tile-marginbottom;
    .box-sizing(border-box);

    list-style-type: none;

    .translate3d(0, -15px, 0);
    .transition(all @transition-long);
}

.l-browsegrid-item {
	.l-browsegrid-item-base();

    width: @browsegrid-9col-itemwidth;
    margin-left: @browsegrid-9col-gutter;
    .media-max-width(@browsegrid-8col, {
        width: @browsegrid-8col-itemwidth;
        margin-left: @browsegrid-8col-gutter;
    });
    .media-max-width(@browsegrid-7col, {
        width: @browsegrid-7col-itemwidth;
        margin-left: @browsegrid-7col-gutter;
    });
    .media-max-width(@browsegrid-6col, {
        width: @browsegrid-6col-itemwidth;
        margin-left: @browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col, {
        width: @browsegrid-5col-itemwidth;
        margin-left: @browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col, {
        width: @browsegrid-4col-itemwidth;
        margin-left: @browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col, {
        width: @browsegrid-3col-itemwidth;
        margin-left: @browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col, {
        width: @browsegrid-2col-itemwidth;
        margin-left: @browsegrid-2col-gutter;
    });
    .media-max-width(@browsegrid-1col, {
        width: @browsegrid-1col-itemwidth;
        float: none;
        margin: 0 auto @browsegrid-tile-marginbottom;
    });
}

.l-browsegrid-item-withembeddedfilter {
    .l-browsegrid-item-base();

    // Default 8 grid
    width: @browsegrid-8col-itemwidth;
    margin-left: @browsegrid-8col-gutter;

    .media-max-width(@browsegrid-7col-withfilter, {
        width: @browsegrid-7col-itemwidth;
        margin-left: @browsegrid-7col-gutter;
    });
    .media-max-width(@browsegrid-6col-withfilter, {
        width: @browsegrid-6col-itemwidth;
        margin-left: @browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col-withfilter, {
        width: @browsegrid-5col-itemwidth;
        margin-left: @browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col-withfilter, {
        width: @browsegrid-4col-itemwidth;
        margin-left: @browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col-withfilter, {
        width: @browsegrid-3col-itemwidth;
        margin-left: @browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col-withfilter, {
        width: @browsegrid-2col-itemwidth;
        margin-left: @browsegrid-2col-gutter;
    });
}

.l-browsegrid-item-withchat {
    .l-browsegrid-item-base();

    // Default 8 grid
    width: @browsegrid-8col-itemwidth;
    margin-left: @browsegrid-8col-gutter;

    .media-max-width(@browsegrid-7col-withchat, {
        width: @browsegrid-7col-itemwidth;
        margin-left: @browsegrid-7col-gutter;
    });
    .media-max-width(@browsegrid-6col-withchat, {
        width: @browsegrid-6col-itemwidth;
        margin-left: @browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col, {
        width: @browsegrid-5col-itemwidth;
        margin-left: @browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col, {
        width: @browsegrid-4col-itemwidth;
        margin-left: @browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col, {
        width: @browsegrid-3col-itemwidth;
        margin-left: @browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col, {
        width: @browsegrid-2col-itemwidth;
        margin-left: @browsegrid-2col-gutter;
    });
    .media-max-width(@browsegrid-1col, {
        width: @browsegrid-1col-itemwidth;
        float: none;
        margin: 0 auto @browsegrid-tile-marginbottom;
    });
}

.l-browsegrid-item-withchatandfilter {
    .l-browsegrid-item-base();

    // Default 7 grid
    width: @browsegrid-7col-itemwidth;
    margin-left: @browsegrid-7col-gutter;

    .media-max-width(@browsegrid-6col-withchatandfilter, {
        width: @browsegrid-6col-itemwidth;
        margin-left: @browsegrid-6col-gutter;
    });
    .media-max-width(@browsegrid-5col-withfilter, {
        width: @browsegrid-5col-itemwidth;
        margin-left: @browsegrid-5col-gutter;
    });
    .media-max-width(@browsegrid-4col-withfilter, {
        width: @browsegrid-4col-itemwidth;
        margin-left: @browsegrid-4col-gutter;
    });
    .media-max-width(@browsegrid-3col-withfilter, {
        width: @browsegrid-3col-itemwidth;
        margin-left: @browsegrid-3col-gutter;
    });
    .media-max-width(@browsegrid-2col-withfilter, {
        width: @browsegrid-2col-itemwidth;
        margin-left: @browsegrid-2col-gutter;
    });
}


// ------------------------------
// Flexbox styles
// ------------------------------
// The verbosity of these styles is due to the extra layers of nested elements,
// each of which must have display: flex.

.l-browsegrid-flexcontainer { // ul
    .display-flex();
    .flex-wrap(wrap);
}

.l-browsegrid-flexitem { // li
    .display-flex();

    .l-browsegrid-flexitem-inner {  // directive/element inside li
        .display-flex();
        .flex-grow(1);
        // Note: You may also need to put .flex-direction(column); on
        // the immediate descendant of this element
    }
}