//
// Home Header and Footer
// --------------------------------------------------

.origin-message {
    display: block;
    margin: 0 auto;
    padding: 45px 0 50px 0;
    max-width: 700px;
    text-align: center;
}

.origin-message-title {
    color: @color-darknavy;
    margin-bottom: 12px;
}

.origin-message-title-light {
    color: @color-white;
    margin-bottom: 12px;
}

.origin-message-content {
    color: @color-mediumnavy;
}

.origin-message-content-light {
    color: @color-white;
}

.origin-message-trigger {
    margin-top: 24px;
}


//
// Collapsable Message
// --------------------------------------------------

.origin-message-collapsible {
    overflow: hidden;
    .transition(all 0.5s  cubic-bezier(0, 1, 0.5, 1));
}

.origin-message-collapsible-iscollapsed {
    max-height: 0;
    padding: 0;
}
