//
// newcontentbanner
//

// local variables
@newcontentbanner-height: 80px;

.origin-newcontentbanner {
    position: fixed;
    visibility: hidden;
    top: 6px;
    left: 50%;
    margin-left: (@nav-width/2);
    padding: 8px 24px;
    .translate3d(-50%, -100px, 0);
    color: @color-mediumnavy;
    text-decoration: none;
    .box-shadow(0 0 8px 0 fade(@color-black, 25%));
    background: @color-white;
    background: fade(@color-white, 80%);
    border-radius: @newcontentbanner-height;
    opacity: 0;
    .transition(all @timing-simple-animate);
    z-index: 1;
    &:hover {
        background: @color-white;
        .box-shadow(0 0 12px 0 fade(@color-black, 35%));
        color: @color-black;
    }
    @media screen {
        @media (max-width: @width-mobile) {
            display: none;
        }
        @media (min-width: @width-large-desktop) {
            margin-left: ((@nav-width - @social-hub-width) / 2);
        }
    }
}

.origin-newcontentbanner-isvisible {
    visibility: visible;
    opacity: 1.0;
    .animation(0.6s originNewContentBannerBounceIn 4s 1 forwards);
}

.origin-newcontentbanner-icon {
    position: relative;
    top: 2px;
    font-size: 24px;
}

.origin-newcontentbanner-text {
    display: inline-block;
    position: relative;
    top: -4px;
}
