.origin-content {
    > #content, #footer {
        opacity: 1;
        .transition(all @timing-short-ease-out);
    }


    &.origin-page-transition-shrink {
        > #content, #footer {
            .scale(.99, .99);
        }
    }

    &.origin-page-transition-zoom {
        > #content, #footer {
            .scale(1.02, 1.02);
        }
    }

    &.origin-page-transition-hidden {
        > #content, #footer {
            opacity: 0;
        }
    }

    &.origin-page-transition-loading {
        .loading(fixed);

        &:after {
            .media-min-width(@global-width-small, { left: calc(50% + (@nav-width / 2)); });
        }
    }

    &.origin-page-transition-none {
        > #content, #footer {
            .transition-property(none);
            .transition-duration(0);
        }
    }

   &.origin-content-isdocked.origin-page-transition-out:after {
       .media-min-width(@global-width-large, {
           left: calc(50% + (@nav-width/2) - (@social-hub-width/2));
       });
   }
}
