.origin-parallax-container {
    height: 100%;

    img {
        height: 100%;
    }

    .origin-store-blursvg-active & img{
        .horizontal-center();
    }
}

[origin-store-backgroundscrims] {
    position: relative;
    overflow: hidden; // fixes blur overflowing problem
    margin-left: 1px; // fixes subpixel rounding problem
    margin-right: 1px;
    height: 100%;
}
