//
// Pills Navigation Component
// --------------------------------------------------


// variables for nav heights
@height-light: 70px;
@height-normal: 58px;


.origin-pills {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: @height-normal;
    .origin-pills-nav {
        position: absolute;
        width: 100%;
    }
    &.origin-pills-light {
        height: @height-light;
    }

    .otkpill-overflow {
        margin-right: 0px;
    }
}

// when we are opening the dropdown make the
// overflow visible
.origin-pills-isopeningdropdown {
    overflow: visible;
}

.origin-pills-nav {
    @media screen and (max-width: @width-mobile-small) {
        display: none;
    }
}

.origin-pills-nav-ishidden > li {
    visibility: hidden;
}

.origin-pills-select {
    display: none;
    @media screen and (max-width: @width-mobile-small) {
        display: block;
    }
}

// i have to overwrite this stuff because of some of the
// hacks that I am doing for the overflow
.origin-pills-bar {
    position: absolute;
    bottom: 0;
    @media screen and (max-width: @width-mobile-small) {
        display: none;
    }
}
