.origin-policy {
    margin-top: 54px;

    &-header {
        .clearfix();

        h1 {
            margin-bottom: 24px;
        }
    }

    &-select {
        width: 240px;
        float: right;
        top: -8px; //Offset to center vertically
        margin-bottom: 9px;
    }

    &-content {
        box-sizing: border-box;
        .store-content-box();
        margin: 0 auto;

        .otkc {
            margin: 0 auto;
        }

        a {
            color: @color-dark-blue;
            font-weight: @weight-normal;
            text-decoration: none;
        }
    }
}
