@origin-sitestripe-background-color: #22313C;
@origin-sitestripe-font-weight: 600;
@origin-sitestripe-message-passive-color: #2AC4F5;
@origin-sitestripe-message-warning-color: #FEA722;
@origin-sitestripe-message-error-color: #FF6550;
@origin-sitestripe-closecircle-color: @color-mediumnavy;
@timing-sitestripe-closecircle: all 0.3s ease-in-out 0s;

.origin-sitestripe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @origin-sitestripe-background-color;
    color: @color-white;
    text-align: center;
    padding: 16px 0;
    z-index: @zindex-globalsitestripe;
    .user-select(none);
}

.origin-sitestripe-message {
    font-weight: @origin-sitestripe-font-weight;
    margin: 0 auto;
    position: relative;
    max-width: none;
    padding: inherit 40px;
}

.origin-sitestripe-message-text {
    position: relative;
    top: -1px;
}

.origin-sitestripe-reason {
    margin: 0 auto;
    max-width: none;
}

.origin-sitestripe-icon {
    font-size: 24px;
    top: 5px;
    color: @origin-sitestripe-message-passive-color;
}

.origin-sitestripe-message-passive {
    color: @origin-sitestripe-message-passive-color;
}

.origin-sitestripe-message-warning {
    color: @origin-sitestripe-message-warning-color;;
}

.origin-sitestripe-message-error {
    color: @origin-sitestripe-message-error-color;;
}

.origin-sitestripe-closecircle {
    cursor: pointer;
    color: @origin-sitestripe-closecircle-color;
    font-size: 34px;
    margin: -14px 3px 0 0;
    float: right;
    position: relative;
    z-index: 2;
    .transition(@timing-sitestripe-closecircle);

    &:hover {
        color: @color-white;
    }
}
