.origin-socialmedia {
    .display-flex();
    padding: 12px 0;
    margin-left: -32px; // left aligns the facebook icon to content edge (20px from &-button, 12px from the internal space of the font icon)
    
    &-button {
        color: @color-black;
        display: table;
        cursor: pointer;
        margin-left: 20px;
    }

    &-icon {
        font-size: 34px;
        opacity: 1;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: @color-white;
        .transition(opacity 0.3s ease-in-out);

        &:hover {
            opacity: 0.5;
        }

        &-facebook {            
            &:before {
                content: "\e627";
            }
        }

        &-twitter {
            &:before {
                content: "\e626";
            }
        }
    }

    &-theme-light {
        .origin-socialmedia-icon {
            color: @color-white;
        }

        .origin-socialmedia-button { 
            background-color: transparent;  
        }
    }

    &-theme-lightWithBackground {
        .origin-socialmedia-icon {
            color: @color-white;
        }

        .origin-socialmedia-button { 
            @size: 60px;
            border-radius: (@size/2);
            height: @size;
            width: @size;
            background-color: @color-black;  
        }
    }

    &-theme-dark {
        .origin-socialmedia-icon {
            color: @color-black;
        }

        .origin-socialmedia-button {
            background-color: transparent;
        }
    }

}