//
// Origin Styles Tile for Home
// --------------------------------------------------

.origin-tile {
    max-width: 100%;
    width: 100%;
    background: @color-white;
    .box-shadow(@default-drop-shadow);
    .display-flex();
    .flex-direction(column);
}

.origin-tile-support-text .origin-store-access-subscriber-logo {
    position: relative;
    bottom: 0;
}

.l-origin-hometile-container {
    margin-top: @home-section-title-margin-bottom;
}

.l-origin-hometiles {
    .display-flex();
    .flex-flow(row wrap);
    .justify-content(center);
    margin: 0;
    padding: 0;

    .media-min-width(@home-width-xsmall, {
        margin: 0 (-1*@tile-gutters-large) 0 (-1*@tile-gutters-large);
    });
}

.l-origin-hometile {
    width: 100%;
    padding: 0;
    .flex-grow(0);
    margin-bottom: @home-tile-margin-bottom;
    max-width: @home-tile-maxwidth;
    list-style: none;
    .box-sizing(border-box);

    &.l-origin-home-discovery-tile {
        .display-flex();
    }

    .origin-tile-support-text {
        .display-flex();
        .flex-direction(column);
        .flex-grow(1);

        .origin-storeprice {
            margin-top: auto;
        }
    }

    .media-min-width(@global-width-xsmall, {
        padding: 0 @tile-gutters-large;
    });

    .media-max-width(@home-width-xsmall, {
        width: 100%;
    });

    .media-min-max-width(@home-width-xsmall, @home-width-large, {
        width: 50%;

        /* one item */
        &:first-child:nth-last-child(1) {
            width: 100%;
        }
    });

    .media-min-width(@home-width-large, {
        width: 25%;

        /* one tile */
        &:first-child:nth-last-child(1) {
            width: 100%;
        }

        /* two tiles */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ li {
            width: 50%;
        }

        /* three tiles */
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ li {
            width: 33.3333%;
        }
    });
}

.no-touch .origin-tile {
    .transition(all .3s ease-out);
    &:hover {
        .box-shadow(@hover-drop-shadow);
        .origin-cta-primary, .otkbtn-primary {
            .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
        }

        .origin-tile-overlay-content-title {
            .animation(originHomeTilesMoveInFromTop @timing-long-ease-out);
        }

        .origin-tile-overlay-isvisible .origin-tile-overlay-content-title {
            .animation(none);
        }
    }
}

.origin-tile h2 {
    color: #C3C6CE;
    .transition(color 0.3s ease-out 0s);
    &:hover {
        color: @color-white;
        text-decoration: none;
    }
}

.origin-tile-container {
    height: @home-tile-image-height;
    position: relative;
    overflow: hidden;
    background: #1c292f;  /* TODO: New colour introduced */
}

.origin-tile-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-size: cover;
    background-position: center top;
    background-color: @color-mediumnavy;

    > img {
        padding-top: 18px;
        height: (@home-tile-image-height * .85);
    }

    &.origin-tile-image-gift {
        background-image: url(../images/gift/tile-gift.jpg);
    }
}

.origin-tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: transparent;
    text-align: center;
    z-index: 10;
    .transition(all .3s ease-out);
    opacity: 0;
    background: @color-darknavy;
    background: fade(@color-black, 90%);
    .otkbtn-primary {
        opacity: 0;
        visibility: hidden;
    }
}

.origin-tile:hover  {
    .origin-tile-overlay, .origin-tile-overlay-isvisible{
        display: block;
        opacity: 1;
        .otkbtn-primary {
            .animation(originDelayedFadeInSlideUp @timing-long-ease-out forwards);
        }
    }
}

h2.origin-tile-overlay-content-title {
    margin-bottom: 17px;
    text-align: center;
    &.is-downloading{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.origin-tile-overlay-content .origin-tile-overlay-link {
    cursor: pointer;
}

.origin-tile .origin-tile-overlay-link h2.origin-tile-overlay-content-title:hover,
.origin-tile-overlay-content .origin-tile-overlay-link h2.origin-tile-overlay-content-title:hover {
    text-decoration: underline;
}

.origin-tile-overlay-content {
    left: 50%;
    top: auto;
    bottom: 0;
    right: auto;
    position: absolute;
    .translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    .media-min-width(@global-width-xsmall, {
        top: 50%;
        bottom: auto;
    });
}

.no-touch .origin-tile-overlay-content {
    top: 50%;
    bottom: auto;
}


/* this is bad we should ideally have this as a variant of the hometile */
.origin-tile:hover .origin-tile-overlay-isvisible .origin-cta-primary,
.origin-tile:hover .origin-tile-overlay-isvisible .origin-cta-primary {
    .animation(none);
}

.origin-tile-secondarycta {
    margin-top: 15px;
    display: block;
    color: @color-lightnavy;
    font-size: 14px;
    transition: all 0.3s ease-out 0s;
    text-decoration: none;
    &:hover {
        color: @color-white;
        text-decoration: underline;
    }
}

.otkbtn-primary-icon {
    display: inline-block;
    transform: scale(2);
    padding-right: 5px;
}

.no-touch {
    .otkbtn-primary-icon, .otkbtn-primary-text > .otktooltip-arrow {
        display: none;
    }
}

.otkbtn-primary-icon + .otkbtn-primary-text {
    display: inline-block;
    .no-touch { display: block; }
}

.otkbtn-primary-text > .otktooltip-arrow {
    display: block;
    bottom: -5px;
}

.no-touch .otkbtn-primary-text > .otktooltip-arrow {
    display: none;
}

.origin-tile-overlay-content > .otktitle-2 {
    display: none;
}

.no-touch .origin-tile-overlay-content > .otktitle-2 {
    display: block;
}

.l-origin-tile-gameprogress {
    display: block;
    position: relative;
    -webkit-backface-visibility: hidden;
}

.origin-tile-title {
    left: 0;
    bottom: 0;
    padding: 18px;
    max-width: 60%;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    background: @color-darknavy;
    background: fade(@color-black, 85%);
    .transition(all .3s ease-out);
}

.origin-tile:hover .origin-tile-title {
    opacity: 0;
}

// REVIEW: this probably needs to be changed
.origin-tile-support-text {
    position: relative;
    &-isshown {
         padding: 15px;
    }
}

.origin-tile-support-text-title {
    color: @color-darknavy;
    font-weight: @weight-normal;
}

.origin-tile-support-text h3 {
    margin: 0;
}

.origin-tile-support-text-paragraph {
    margin: 0;
    color: @color-mediumnavy;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.origin-tile .origin-avatarlist {
    margin-top: 12px;
}

.origin-tile-author {
    &-isshown {
         padding: 3px 15px 15px;
     }
}

.origin-tile-author .author-name a {
    font-weight: 400;
    color: #2AC4F5;
    text-decoration: none;
}

.origin-tile-author .author-description {
    font-weight: 600;
    color: @color-lightnavy;
}

.origin-tile-author .author-timetoread {
    color: @color-lightnavy;
}

.origin-tile-video-icon {
    @size: 48px;
    @padding: 10px;
    background: @color-darknavy;
    background: fade(@color-darknavy, 70%);
    border: 2px solid @color-white;
    border-radius: 50%;
    .box-shadow(0 0 25px 0 fade(@color-darknavy, 90%));
    color: @color-white;
    display: inline-block;
    font-size: 35px;
    height: @size;
    width: @size;
    padding: @padding;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    text-decoration: none;
    text-indent: 2.5px;
    z-index: 2;
    .transition(all .3s ease-in-out 0s);
    margin: 0;
    .translate(-50%, ((@size+(2*@padding))/-2));

    .no-touch &:hover {
        background: @color-darknavy;
        background: fade(@color-darknavy, 90%);
        border: 2px solid @color-lightgray;
        .box-shadow(0 0 25px 0 fade(@color-darknavy, 50%));
        color: @color-white;
    }

    .otkicon-play {
        left: 4px;
    }
}