//
// User Card
// --------------------------------------------------

.origin-usercard {
	position: relative;
	width: 280px;
	margin-left: -140px;
	padding: 20px;
    .box-sizing(border-box);
	background: @color-white;
	border: 1px solid @color-lightnavy;
	.border-radius(8px);
    .box-shadow(0 2px 10px 0 fade(@color-darknavy, 30%));
}

.origin-usercard-section,
.origin-userinfo {
    .clearfix();
}

.origin-usercard-avatar,
.origin-usercard-userinfo,
.origin-userinfo-avatar,
.origin-userinfo-content {
    display: inline-block;
    vertical-align: middle;
}

.origin-usercard-avatar,
.origin-userinfo-avatar {
    width: 85px;
}

.origin-usercard-userinfo,
.origin-userinfo-content {
    width: 153px;
}

.origin-usercard-username,
.origin-userinfo-username,
.origin-usercard-message,
.origin-userinfo-message {
    float: left;
    clear: both;
}

.origin-usercard-message,
.origin-userinfo-message {
    margin-top: 2px;
    position: relative;
}

.origin-userinfo-currentlyplaying {
    margin-top:0;
    clear: both;
}

.origin-usercard-action {
    border-top: 1px solid @color-lightgray;
    margin-top: 20px;
    margin-bottom: -5px;
    text-align: center;
    color: @color-darknavy;
}

.origin-usercard-action-currentplayingmessage{
    margin-top: 15px;
}

.origin-usercard-message-icon,
.origin-userinfo-message-icon{
    font-size: 26px;
    left: -5px;
    top: -4px;
    vertical-align: middle;
    position: absolute;
}

.origin-usercard-message-text,
.origin-userinfo-message-text {
    margin-left: 20px;
}

.origin-usercard-privacy {
    text-align: center;
}

// Arrow at the bottom
// -------------------------

.origin-usercard-arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.origin-usercard-arrow:after,
.origin-usercard-arrow:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.origin-usercard-arrow:after {
    margin-left: -15px;
    bottom: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
}

.origin-usercard-arrow:before {
    bottom: -16px;
    margin-left: -16px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #c3c6c3;
}
