//Utility classes

.origin-bglight {
    background-color: @color-white;
}

.origin-bgdark {
    background-color: @color-black;
}

.origin-ng-element {
    display: block;
}

.origin-scrolling-disabled {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
}