//
// Variables
// --------------------------------------------------


//== Font Weights
//
// ## Settings for the font weights used.

@weight-ultralight: 200;
@weight-light: 300;
@weight-normal: 400;
@weight-semibold: 600;

@weight-condensed-bold: 700;
@weight-condensed-light: 300;

//== Font Sizes
//
// ## Settings for the font sizes used
@font-size-game-violator: 11px;
@font-size-body: 12px;
@font-size-body-large: 14px;
@font-size-subtitle: 16px;
@font-size-icon-font: 30px;
@font-size-cta-icon: 81px;


//== Colors
//
// ## Settings for all of the colors used.

@color-black: #141b20;
@color-darknavy: #1e262c;
@color-mediumnavy: #787d85;
@color-lightnavy: #c3c6ce;
@color-lightblue: #2ac4f5;
@color-lightgray: #edf1f2;
@color-white: #fff;
@color-orange: #f56c2d;
@color-darkorange: #c85e36;
@color-nuxgreen: #05a68a;
@color-green: #04bd68;
@color-limegreen: #04BD68;
@color-blue: #6bbfca;
@color-dark-blue: #2ac4f5;
@color-red: #df3d00;
@color-pastelred: #ffebe4;
@color-heartred: #ff4f38;
@color-yellow: #fea722;
@color-mediumgray: #c2c6cd;
@color-darkgray: #787D85;
@color-charcoal: #141b20;

//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including OTK via Bower.

@icon-settings: "\e60a";
@icon-close: "\e609";
@icon-rightarrow: "\e62a";
@icon-leftarrow: "\e62b";
@icon-add: "\e60f";
@icon-search: "\e601";
@icon-originlogo: "\e604";
@icon-facebook: "\e627";
@icon-refresh: "\e628";
@icon-downarrow: "\e607";
@icon-menu: "\e600";
@icon-twitter: "\e626";
@icon-check: "\e624";
@icon-checkcircle: "\e60b";
@icon-home: "\e617";
@icon-store: "\e618";
@icon-gamelibrary: "\e619";
@icon-profile: "\e606"; /* RENAME TO PERSON */
@icon-download: "\e61c";
@icon-downloadnegative: "\e613"; /* RENAME TO DOWNLOAD-CIRCLE */
@icon-person: "\e606";
@icon-leftarrowcircle: "\e605";
@icon-rightarrowcircle: "\e603";
@icon-expandarrow: "\e622";
@icon-addcontact: "\e620";
@icon-bar: "\e621";
@icon-trophy: "\e61b";
@icon-pause: "\e625";
@icon-microphone: "\e629";
@icon-chatbubble: "\e602";
@icon-closecircle: "\e610";
@icon-play: "\e608";

// new icons
@icon-pausecircle: "\e612";
@icon-join: "\e623";
@icon-dlc: "\e61f";
@icon-windows: "\e61d";
@icon-apple: "\e61e";
@icon-key: "\e61a";
@icon-save: "\e615";
@icon-cloud: "\e616";
@icon-star: "\e614";
@icon-warning: "\e611";
@icon-controller: "\e60d";
@icon-access: "\e60c";
@icon-sort: "\e62c";

// new icons
@icon-callactive: "\e630";
@icon-callinactive: "\e631";
@icon-addgroup: "\e636";
@icon-mute: "\e637";
@icon-learnmore: "\e62f";
@icon-offlineleft: "\e62d";
@icon-offlineright: "\e62e";


//-- Home Columns
//
// Number of home columns
// HA TODO - This should be 'tile grid' and be updated
@home-tile-column-width: 33.3%;
@home-tile-column-padding: 0 12px;
@home-tile-margin: 0 0 24px 0;
@home-tile-minheight: 357px;
@home-tile-image-height: 250px;
@home-tile-maxwidth: (1000 + (2*@tile-gutters-large));

//-- Browse Grid
//
@browsegrid-tile-maxwidth: 231px;
@browsegrid-tile-minwidth: 140px;
@browsegrid-tile-maxheight: 325px;
@browsegrid-tile-marginbottom: 36px;
@browsegrid-container-maxwidth: 2600px;

// Default column sizes (no chat, no filter)
@browsegrid-8col: 2450px;
@browsegrid-7col: 2140px;
@browsegrid-6col: 1900px;
@browsegrid-5col: 1650px;
@browsegrid-4col: 1370px;
@browsegrid-3col: 770px;
@browsegrid-2col: 485px;
@browsegrid-1col: 330px;

// Map to widths with filter only
@browsegrid-7col-withfilter: 2440px;
@browsegrid-6col-withfilter: 2200px;
@browsegrid-5col-withfilter: 1940px;
@browsegrid-4col-withfilter: 1670px;
@browsegrid-3col-withfilter: 1415px;
@browsegrid-2col-withfilter: 1100px;

// Map to widths with chat only
@browsegrid-7col-withchat: 2440px;
@browsegrid-6col-withchat: 2200px;

// Map to widths with chat and filter
// defaults to 7
@browsegrid-6col-withchatandfilter: 2500px;

// Browse grid image widths
@browsegrid-9col-itemwidth: 10%;
@browsegrid-8col-itemwidth: 10.79%;
@browsegrid-7col-itemwidth: 12.7%;
@browsegrid-6col-itemwidth: 14.66%;
@browsegrid-5col-itemwidth: 17.5%;
@browsegrid-4col-itemwidth: 22.33%;
@browsegrid-3col-itemwidth: 30.5%;
@browsegrid-2col-itemwidth: 48%;
@browsegrid-1col-itemwidth: 100%;

// Browse grid gutter sizes
@browsegrid-9col-gutter: 1.11%;
@browsegrid-8col-gutter: 1.71%;
@browsegrid-7col-gutter: 1.5%;
@browsegrid-6col-gutter: 2%;
@browsegrid-5col-gutter: 2.5%;
@browsegrid-4col-gutter: 2.66%;
@browsegrid-3col-gutter: 2.75%;
@browsegrid-2col-gutter: 2%;
@browsegrid-1col-gutter: 0px;

//-- Media Query master list
//
// Media query master width list

@width-mobile-small: @global-width-xsmall;
@width-mobile: @global-width-small;
@width-desktop: @global-width-medium;
@width-medium-desktop: 1200px;
@width-large-desktop: @global-width-large;


//== Spinner
//
// ## Loading Spinner Size

@spinner-size: 31px;

//-- Transitions
//
// transitions

@transition-short: 0.3s ease-in-out;
@transition-long: 1.1s cubic-bezier(0.03, 1, 0.2, 1);


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-unveiling: 1010;
@zindex-globalsitestripe: 1001;
@zindex-filterpanel: 920;
@zindex-topbanner-bar: 900;
@zindex-ogd: 970;
@zindex-pdp-nav: 990;
@zindex-pagethinking-overlay: 997;
@zindex-pagethinking-spinner: 998;
@zindex-nav: 1000;
@zindex-nav-submenus: 1001;
@zindex-gus: 1000;
@zindex-current-download: 1000;
@zindex-tooltip: 1005;
@zindex-infobubble: 1051;
@zindex-bundle-hero: 2;
@zindex-chatwindow: 1020;
@zindex-offlineflyout: 2000;
@zindex-background-image: -1;
@zindex-iframe-modal: 4000;

//-- Buttons
//

@touch-state-button-diameter: 50px;

//-- Animation
//
// Default speed and transition for animations
@timing-simple-animate: .3s ease-in-out;
@timing-long-ease-out: 1.1s cubic-bezier(.03,1,.2,1);
@timing-short-ease-out: .6s cubic-bezier(.03,1,.2,1);
@timing-reallyshort-ease-out: 0.35s cubic-bezier(0.24, 1, 0.32, 1);
@timing-ogd-ease-out: 0.5s cubic-bezier(.3,.6,.31,.91);

//-- Social list
//
// Social components  - these are also specified in app


@social-hub-width: 300px;
@social-chatwindow-width-notabs: 500px;
@social-chatwindow-height-notabs: 400px;
@social-chatwindow-width-tabs: 500px;
@social-chatwindow-height-tabs: 479px;
@social-chatwindow-participantlist-width: 180px;
@social-chatwindow-toolbar-height: 44px;
@social-chatwindow-input-height: 45px;

//-- Titlebar list
//
// Titlebar components
@titlebar-subwindow-height: 30px;

//--Shell GUS
//
//
@gus-height: 62px;

//== Navigation
//
// ## Global navigation styles used

@nav-width: 280px;

//-- Global Content Width
//
// Also defined in app/src/variables.less
@global-content-width-xlarge: (@global-width-xlarge - @nav-width);

//-- Global positioning

// margins for page content area (space between content and edge of screen/navigation)
@section-spacing-small: 5px;
@section-spacing-medium: 20px;
@section-spacing-large: 45px;
@section-spacing-bottom: 54px;

// padding for space between components (space between tiles stacked 2 or more horizontally)
@tile-gutters-large: 18px;
@tile-gutters-small: 15px;


//-- Achievements
//
// Radial Progress Bar
@achieve-radialprog-size-large: 102px;
@achieve-radialprog-innersize-large: 94px;
@achieve-radialprog-size-medium: 70px;
@achieve-radialprog-innersize-medium: 64px;
@achieve-radialprog-size-small: 46px;
@achieve-radialprog-innersize-small: 42px;

//-- User tile
//
@usertile-avatar-width: 60px;

//-- OTK
//
// Overrides related to OTK styles
@otk-cta-width: 250px;

// -- Global tile drop shadow
//
// Default and hover states
@default-drop-shadow: 0 0 2px 0 fade(@color-darknavy, 25%);
@hover-drop-shadow: 0 6px 25px 0px fade(@color-darknavy, 30%);
@highlight-drop-shadow: 0 0 0 10px @color-orange;

//-- Origin Access
//
// Module Widths
@access-module-width: 650px;
@access-container-width: (@access-module-width * 2);
@access-background-image-width: 1920px;