<div class="l-origin-store-column-{{:: (size || 'full') }} origin-store-oth-card-container-wrapper">
    <div class="origin-store-oth-card-container">
        <div class="origin-store-oth-card">
            <origin-store-program-offer
                on-click="goToPdp(model)"
                display-name="{{::model.displayName}}"
                free-text="{{::freeText}}"
                pack-art="{{::model.packArt}}"
                original-price="{{::model.price}}"
                description="{{::description}}"
                offer-id="{{::offerId}}"
                offer-href="{{::offerhref}}"
                offer-description-title="{{::offerDescriptionTitle}}"
                offer-description="{{::offerDescription}}">
            </origin-store-program-offer>
        </div>
    </div>
</div>