<example>
<para>Will exit the current build displaying a message if the property
<c>should-fail</c> is set to true.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="should-fail" value="false"/>
    <fail if="${should-fail}" message="Because 'should-fail' was true."/>

    <trycatch>
      <try>
       <fail unless="@{FileExists(${filename})}" type="FileNotFoundException" message="File ${filename} was not found."/>
       <!-- do something with the file in ${filename}-->
      </try>
      <catch exception="FileNotFoundException">
        <echo message="File ${filename} could not be properly treated because it was not found"/>
      </catch>
    </trycatch>    
</project>
]]>
</code>
</example>
