/* An individual game tile */
.game
{
	position:relative;
	width:172px; height:240px; overflow:visible;
	margin:0;
	background-image: url(../images/card/default-non-origin-boxart.png);
}

/* Drop shadow and cropped boxart mask */
.game > div.boxart-container
{
    position:relative;
    overflow:hidden;
    width:inherit; height:inherit; overflow:hidden; opacity:1; box-shadow:0 0 6px rgba(0,0,0,0.7);
	-webkit-transition: box-shadow .5s;
}

/* Boxart */
.game > div.boxart-container > img
{
	width:inherit;
	height:inherit;
}

.game:hover > div.boxart-container, .game.selected > div.boxart-container
{
	box-shadow:0 0 15px rgba(0,0,0,0.7);
}


.game:hover, .game.selected
{
	-webkit-transform: scale(1.03);
}

/* Overlay (disabled) */
.game > .blend-overlay
{
	position:absolute;
	top:0; left:0; z-index:2;
	width:100%; height:100%; overflow:hidden;
	background: white;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
}


.game.disabled > .blend-overlay
{
	opacity: 0.5;
}


/* Violator */
.game > .violator
{
	position:absolute; display:none;
	top:-4px; right:-4px; z-index:3;
	width:103px; height:103px; overflow:hidden;
	background:url(../images/card/violator-generic.png) no-repeat 0 0; background-size:100% 100%;
	-webkit-transform:scale(1); -webkit-transform-origin:right top 0;
}
.game.has-violator > .violator
{
	display:block;
}
.game.has-violator > .violator.expires,
.game.has-violator > .violator.trial-expired,
.game.has-violator > .violator.subs-membership-expired,
.game.has-violator > .violator.subs-membership-expiring,
.game.has-violator > .violator.subs-entitlement-retired,
.game.has-violator > .violator.subs-entitlement-retiring
{
	background-image:url(../images/card/violator-expires.png);
}
.game.has-violator > .violator.upgrade-available-base-only,
.game.has-violator > .violator.upgrade-available-dlc-only,
.game.has-violator > .violator.upgrade-available-base-dlc
{
	background-image:url(../images/card/violator-upgrade.png);
}
.game.has-violator > .violator.update-available
{
	background-image:url(../images/card/violator-install.png);
}
.game.has-violator > .violator.dlc-available
{
	background-image:url(../images/card/violator-dlc.png);
}
.game.has-violator > .violator.demo
{
	background-image:url(../images/card/violator-demo.png);
}
.game.has-violator > .violator.trial
{
	background-image:url(../images/card/violator-trial.png);
}
.game.has-violator > .violator.new-dlc-available,
.game.has-violator > .violator.new-dlc
{
	background-image:url(../images/card/violator-new-dlc-available.png)
}

.game.has-violator > .violator.internal-debug
{
	background-image:url(../images/card/violator-debug.png);
}
.game.has-violator > .violator.multi-2
{
	background-image:url(../images/card/violator-multi-2.png);
}
.game.has-violator > .violator.multi-3
{
	background-image:url(../images/card/violator-multi-3.png);
}
.game.has-violator > .violator.multi-4
{
	background-image:url(../images/card/violator-multi-4.png);
}
.game.has-violator > .violator.multi-5
{
	background-image:url(../images/card/violator-multi-5.png);
}
.game.has-violator > .violator.new
{
	background-image:url(../images/card/violator-new.png);
}
.game.has-violator > .violator.beta
{
	background-image:url(../images/card/violator-beta.png);
}
.game.has-violator > .violator.playable
{
	background-image:url(../images/card/violator-playable.png);
}
#main > #expansions-area > .expansions > .content > ul > li.game.has-violator > .violator.unowned-content
{
	background-image:url(../images/game-details/add-unowned.png);
	top:-11px;right:-4px;-webkit-transform:scale(.30);
}
/* Progress Bar */
.game > .otk-operation-controller-mini
{
	position:absolute; display:none;
	bottom:0;
	width:209px; overflow:hidden;
	padding:15px 11px 1px 12px;
	background-color:#EAEAEA;
	-webkit-transform:scale(1); -webkit-transform-origin:left bottom 0;
}

.game > .otk-operation-controller-mini.label-only,
.game.tiny > .otk-operation-controller-mini.label-only
{
	padding:5px 11px 5px 12px;
}

.game > .otk-operation-controller-mini.label-only > .otk-progressbar
{
	display: none;
}

.game > .otk-operation-controller-mini > .progress-info
{
    text-align: left;
	font-size: 16px;
	font-weight: bold;
	padding-top: 2px;
}

.game.tiny > .otk-operation-controller-mini
{
	padding:18px 9px 18px 12px;
}

.game.tiny > .otk-operation-controller-mini.label-only > .progress-info
{
	font-size: 23px;
}

.game.tiny > .otk-operation-controller-mini:not(.label-only) > .progress-info,
.game.tiny > .otk-operation-controller-mini .otk-divider-flag
{
    display: none;
}
