html, *
{
	-webkit-font-smoothing:antialiased; /* none (looks like IE6) | antialiased | subpixel-antialiased (default) */
}

/* Remove the outline from all focused elements */
*:focus
{
	outline:0 none!important;
}


input[type="checkbox"]
{
	box-sizing:content-box; -webkit-appearance:none;
	width:22px; height:21px; overflow:hidden;
	margin:0; border:0 none; padding:0;
	background:transparent url(../images/uitoolkit/checkbox-sprite.png) no-repeat 0 0;
}
input[type="checkbox"]:checked
{
	background-position: 0 -42px;
}
input[type="checkbox"]:checked:disabled
{
	background-position: 0 -147px;
}
input[type="checkbox"]:focus
{
	background-position: 0 -21px;
}
input[type="checkbox"]:checked:focus
{
	background-position: 0 -105px;
}
input[type="checkbox"]:disabled
{
	background-position: 0 -63px;
	cursor: default;
}

/* Non-standard button for My Games */
#view-options > button.library
{
	display:inline-block;
	height:23px; overflow:hidden; margin-right: 10px;
	border:1px solid #AAA; border-radius:2px; padding:0 10px;
	background-color:#F5F5F5;
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop(0, #FEFDFC),
			color-stop(1, #F1F1F1)
		); background-repeat:no-repeat;
	color:#444;
	font-weight:bold; font-size:11px; line-height:22px;
}
#view-options > button.library:hover
{
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop(0, #FBFBFB),
			color-stop(1, #D6D6D6)
		);
}
#view-options > button.library:active
{
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop(0, #BBBBBB),
			color-stop(1, #FAFAFA)
		);
}

/* Feedback button */
#feedback
{
	display:none;
	position:absolute;
	top:50%;
	right:-40px;
	min-width:70px;
	height:44px;
	-webkit-transform:rotate(90deg);
	background:url(../images/common/feedback-button.png) no-repeat top left;
	background-position: right -133px;
	text-decoration:none;
	cursor:default;
	font:bold 14px Arial, sans-serif;
	padding:0 26px 0 0;
	color:#ffffff;
	z-index:45;
}
#feedback:lang(ko),
#feedback:lang(th),
#feedback:lang(zh)
{
	font-family: inherit;
}
#feedback > span
{
	background:url(../images/common/feedback-button.png);
	background-position:0 -88px;
	padding:12px 0 16px 24px;
	text-align:center;
	display:inline-block;
	min-width:70px;
}
#feedback > span > span
{
	padding-top:13px;
}
#feedback:focus
{
	outline:none;
}
#feedback.disabled
{
	color:#eeeeee;
	background-position:right -45px;
}
#feedback.disabled > span
{
	background-position:0 0 !important;
}
#feedback:active:not(.disabled)
{
	background-position:right -307px !important;
}

#feedback:active:not(.disabled)>span
{
	background-position:0 -263px !important;
}

#feedback:hover:not(.disabled)
{
	background-position:right -220px;
}

#feedback:hover:not(.disabled)>span
{
	background-position:0 -175px;
}

.contents-scrolling > #feedback
{
	right:-23px;
}
