.hovercard
{
	position:absolute; display:none;
	z-index:999;
	padding-left:7px;
}
.hovercard.hflip
{
	padding-left:0; padding-right:7px;
}
.hovercard > .content
{
	position:relative; display:block;
	z-index:1;
	min-width:289px; max-width:350px; overflow:hidden;
	border-radius:4px; padding:3px;
	background-color:#FFF; background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(248,248,248)), to(rgb(227,227,227))); box-shadow:0 0 15px rgba(0,0,0,1);
	-webkit-box-sizing:border-box; -webkit-background-clip:padding;
}

/***********
 * HEADER */
.hovercard > .content > header
{
	position:relative;
	padding:15px 35px 15px 8px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(58,58,58)), to(rgb(37,37,37)));
	color:#FFF;
}
.hovercard > .content > header > h2
{
	display:inline;
	margin:0; padding:0 14px 0 0;
	font-weight:600; font-size:18px; text-shadow:0 1px 1px #000; line-height:12px;
	color:#FFF;
	text-decoration:none;
}
.hovercard > .content > header > h3
{
	display:inline;
	margin:0; padding:0 14px 0 0;
	background:url(../images/common/link-action.png) no-repeat right center;
	font-weight:600; font-size:18px; text-shadow:0 1px 1px #000; line-height:12px;
}
.hovercard > .content > header > h3 > a
{
	color:#FFF;
	text-decoration:none;
}
.hovercard > .content > header > h3 > a:hover
{
	text-decoration:underline;
}
.hovercard > .content > header > h4
{
	margin:-1px 0 0 0; padding:0;
	color:#999;
	font-weight:bold; font-size:10px;
}
/* Favorite button */
.hovercard > .content > header > button
{
	position:absolute;
	/* Try to align with the top line of the title */
	top:15px; right:10px; z-index:1;
	width:16px; height:16px; overflow:hidden;
	margin:0 0 0 0; border:0 none; padding:0;
	background:url(../images/common/favorite-sprite.png) no-repeat 0 0;
}
.hovercard > .content > header > button:hover:not(.favorite)
{
	background-position:0 -32px;
}
.hovercard > .content > header > button.favorite
{
	background-position:0 -16px;
}

/******************
 * NOTIFICATIONS */
/* Moved to stand-alone stylesheet  */

/*  Normally there's a div.info that has a top white border to match the bottom border of the footer to produce a bezel 
 * If there's no div.info to display the last notification has to lose its bottom border and instead form part of the bezel */

.hovercard > .content > ul.notifications:nth-last-child(2) > li:last-child
{
	padding-bottom: 0;
}

.hovercard > .content > ul.notifications:nth-last-child(2) > li:last-child > div.message
{
	border-bottom:1px solid #C2C2C2;
}

/*********
 * INFO */
.hovercard > .content > .info
{
	margin:0 9px; border-bottom:1px solid #C2C2C2; padding:0;
	color:#444;
	font-size:12px;
}
.hovercard > .content > .info > .info-fixed-data
{
	border:1px solid #EEE; /* hack to show dotted border */ 
	border-bottom:1px dotted #949597;
	padding:10px 0; margin-left:-2px;
}
.hovercard > .content > .info > .info-fixed-data:last-child
{
	border-bottom:0 none;
}
.hovercard > .content > .info > .info-fixed-data > .label
{
	display:inline-block;
	font-weight:bold;
}
.hovercard > .content > .info > .info-fixed-data > .value
{
	display:inline-block;
	font-weight:normal;
}
.hovercard > .content > .info > .description
{
	margin:15px 0 0 0;
	padding-bottom:10px;
}
.hovercard > .content > .info > .description + div
{
	border-top:1px dotted #949597;
}
.hovercard > .content > .info > .description.multi-line
{
	overflow:hidden;height:3.9em;
}
.hovercard > .content > .info > button.more-details
{
	box-sizing:content-box;
	margin:0; border:0 none; padding:0;
	background-color:transparent;
	color:#555;
	font-weight:bold; font-size:11px; text-decoration:none;
}

.hovercard > .content > .info > .friends
{
	padding:8px 0 4px 0;
}

.hovercard > .content > .info > .achievements > h3,
.hovercard > .content > .info > .friends > h3
{
	margin-bottom:5px;
	color:#444;
	font-weight:bold; font-size:12px;
}
.hovercard > .content > .info > .friends > ul
{
	list-style-type:none; float:none; clear:both;
	margin:0; padding:0;
	/* This is to counteract the right margin on the li on the right edge */
	margin-right: -8px;
}
.hovercard > .content > .info > .friends > ul:after
{
	display:block; float:none; clear:both; height:0; overflow:hidden; visibility:hidden; content:".";
}
.hovercard > .content > .info > .friends > ul > li
{
	float:left;
	margin:0 8px 8px 0; padding:0;
	width:30px; height:30px; overflow:hidden;
}
.hovercard > .content > .info > .friends > ul > li > img
{
	width:100%; height:100%;
}

.hovercard > .content > .info > .achievements 
{ 
	border-top: 1px solid #FFF; 
	padding-top: 7px; 
	padding-bottom: 9px; 
}

	.hovercard > .content > .info > .achievements > h3 
	{ 
		float: left; 
	}

	.hovercard > .content > .info > .achievements > a.link-view-achievements 
	{ 
		float: right;
		font-family: helvetica, arial, sans-serif;
		font-size: 12px;
		text-decoration: none;
		color:  #269DCF;
		font-weight: bold;
	}
	
	.hovercard > .content > .info > .achievements > a.link-view-achievements:lang(ko),
	.hovercard > .content > .info > .achievements > a.link-view-achievements:lang(th),
	.hovercard > .content > .info > .achievements > a.link-view-achievements:lang(zh)
	{
		font-family: inherit;
	}

	.hovercard > .content > .info > .achievements > a.link-view-achievements:hover 
	{ 
		text-decoration: underline; 
	}

	.hovercard > .content > .info > .achievements > ul 
	{
		margin: 0; padding: 0;
		width: 100%; overflow: hidden;
		clear: both;
		text-decoration: none;
		list-style-type: none;
	}

		.hovercard > .content > .info > .achievements > ul  > li 
		{
			margin: 0 6px 0 0; padding: 0;
			float: left;
		}

		.hovercard > .content > .info > .achievements > ul  > li  > a {}	
		
			.hovercard > .content > .info > .achievements > ul  > li  > a > img 
			{
				width: 30px; height: 30px;
			}

			.hovercard > .content > .info > .achievements > ul  > li.unachieved  > a > img 
			{
				filter: alpha(opacity=25);
				opacity: 0.25;
				zoom: 1;	
			}	
	
/***********
 * FOOTER */
.hovercard > .content > footer
{
	margin:0 6px; border-top:1px solid #FFF; padding:0 0;
	border-radius-bottom-left:4px; border-radius-bottom-right:4px;
	-webkit-box-sizing:border-box; -webkit-background-clip:padding;
	text-align:right;
}

.hovercard > .content > footer > table.footer-table
{
    margin-bottom:6px;
	width: 100%;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td
{
    color:#515254;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > .footer-subscriptions
{
	width: 61px;
	height: 18px;
    display: inline-block;
	float: left;
	margin-top: 15px;
	background:url(../images/common/access-logo-mini.png) no-repeat 0 0;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > .footer-buttons
{
	float: right;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-value
{
    font-family:Arial; font-weight:bold; font-size:28px;
    display:inline-block;
    vertical-align:bottom;
    line-height:28px;
    padding-top:10px;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-value
{
    font-family:Arial; font-weight:bold; font-size:22px;
    display:inline-block;
    padding-left:10px;
    vertical-align:bottom;margin-left:4px;
    line-height:20px;
    text-decoration:line-through;
    color:#777777;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-description
{
    font-family:Arial; font-weight:bold; font-size:10px;
    display:inline-block;margin-left:4px;
    text-align:left;
    vertical-align:bottom;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-description
{
    font-family:Arial; font-weight:bold; font-size:8px;
    display:inline-block;
    text-align:left;
    vertical-align:bottom;
    color: #777777;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-value:lang(ko),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-value:lang(ko),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-description:lang(ko),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-description:lang(ko),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-value:lang(th),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-value:lang(th),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-description:lang(th),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-description:lang(th),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-value:lang(zh),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-value:lang(zh),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.current-price-description:lang(zh),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > span.original-price-description:lang(zh)
{
	font-family: inherit;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > button
{
    margin-top:10px;
	margin-left:10px;
}
.hovercard > .content > footer > table.footer-table > tbody > tr > td > button.more-details
{
	padding:3px 10px;
	font-family:Georgia; font-style:italic; font-size:19px;
	height:22px;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > button.more-details:lang(ko),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > button.more-details:lang(th),
.hovercard > .content > footer > table.footer-table > tbody > tr > td > button.more-details:lang(zh)
{
	font-family: inherit;
}

.hovercard > .content > footer > table.footer-table > tbody > tr > td > button.primary
{
	float:right;
}

/*************
 * POINTER */
.hovercard > .pointer-shadow
{
	display:none!important;
}
.hovercard > .pointer
{
	position:absolute; display:block;
	left:-18px; top:25px; z-index:2;
	width:25px; height:36px; overflow:hidden;
	background:url(../images/hovercard/tooltip-pointer.png) no-repeat 0 0;
}
.hovercard.hflip > .pointer
{
	left:auto; right:-18px;
	-webkit-transform:rotate(180deg);
}

/*
.hovercard > .pointer,
.hovercard > .pointer-shadow
{
	position:absolute; display:block;
	left:-5px; top:15px;
	width:25px; height:25px;
	background-color:#FFF;
	-webkit-transform:rotate(135deg);
}
.hovercard.hflip > .pointer,
.hovercard.hflip > .pointer-shadow
{
	left:auto; right:-5px;
}
.hovercard.hflip > .pointer
{
	-webkit-mask-image:-webkit-gradient(
		linear, left top, right bottom,
		color-stop(0.49, rgba(0,0,0,1)),
		color-stop(0.5, rgba(0,0,0,0))
	);
}
.hovercard > .pointer
{
	z-index:2;
	-webkit-mask-image:-webkit-gradient(
		linear, right bottom, left top,
		color-stop(0.49, rgba(0,0,0,1)),
		color-stop(0.5, rgba(0,0,0,0))
	); -webkit-mask-size:25px; -webkit-mask-repeat:no-repeat;
}
.hovercard > .pointer-shadow
{
	z-index:0;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}*/
