body
{
	margin:0; padding:0;
	background:url(../images/common/background-tile.png) repeat 0 0;
	/* Don't let them select text */
	-webkit-user-select: none;
}

body, html
{
	font-family:helvetica,arial,sans-serif;
}

body:lang(ko), html:lang(ko)
{
	font-family: Dotum, AsiaDNR-M, Arial, sans-serif;
}

body:lang(zh), html:lang(zh)
{
	font-family: SimHei;
}

body:lang(th), html:lang(th)
{
	font-family: Tahoma, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	-webkit-margin-before:0; -webkit-margin-after:0; -webkit-margin-start:0; -webkit-margin-end:0;
}

#main
{
	margin:0; padding:0;
}
#main > div
{
	width:420px;
	margin:30px auto 0 auto; border-radius:4px; padding:30px 0;
	background-color:#E5E5E5; box-shadow:1px 1px 3px rgba(0,0,0,0.4);
}
#main > div > h1
{
	margin:0; padding:0;
	font:400 22px/100% 'Trebuchet MS', Helvetica, Arial, sans-serif; text-align:center;
}

#main > div > h1:lang(ja),
#main > div > h1:lang(zh),
#main > div > h1:lang(ko),
#main > div > h1:lang(th),
#main > div > h1:lang(ru),
#main > div > h1:lang(el)
{
	font-family: inherit;
}

#main > div > h2
{
	margin:4px 0 0 0; padding:0;
	color:#444;
	font-weight:normal; font-size:12px; text-align:center;
}
