ul.notifications
{
	list-style-type:none;
	margin:0; padding:0;
}
ul.notifications > li
{
	position:relative;
	margin:0; padding:0 8px;
	background:#CBE1EB url(../images/notification/notification-icon-generic.png) no-repeat 10px center;
	padding-bottom:1px; /* hack to show dotted border */
}
/* Dismiss button */
ul.notifications > li.dismissable > button
{
	position:absolute; display:block;
	top:50%; right:7px; z-index:5;
	width:12px; height:11px; overflow:hidden;
	margin:-4px 0 0 0; border:0 none; padding:0;
	text-indent:-900px;
	background:url(../images/notification/notification-dismiss.png) no-repeat center center;
}

/* Message */
ul.notifications > li > .message
{
	min-height:13px;
	border:1px solid #CBE1EB; /* hack to show dotted border */ 
	border-bottom:1px dotted #949597; padding:12px 1px 10px 28px;
	color:#444; margin-right:2px;
	font-weight:bold; font-size:12px; line-height:13px;
}
ul.notifications > li > .message > button
{
	display:inline-block;
	margin:0; border:0 none; padding:1px 0 0 0;
	background-color:transparent;
	color:#269DCF;
	font-weight:bold; text-decoration:none;
	cursor:pointer;
	font-size: 12px;
}
ul.notifications > li > .message > button:hover
{
	text-decoration:underline;
	cursor:pointer;
}
ul.notifications > li > .message > button:active
{
	color:#106487;
	text-decoration:underline;
}

ul.notifications > li > .message > button.disabled,
ul.notifications > li > .message > button.disabled:hover,
ul.notifications > li > .message > button.disabled:active
{
	pointer-events: none;
	cursor: default;
	color: #b0b0b0;
}

ul.notifications > li.dismissable > .message
{
	padding-right:15px;
}

/* Message: Non-Origin Game */
ul.notifications > li.type-non-origin-game
{
	background-image:url(../images/notification/notification-icon-non-origin-game.png);
}

/* Message: Bit set specific */
ul.notifications > li.type-64-only
{
	background-image:url(../images/notification/64bit.png);
}

/* Message: Platform available osx */
ul.notifications > li.type-platform-mac
{
	background-image:url(../images/notification/notification-icon-osx.png);
}

/* Message: Platform available win */
ul.notifications > li.type-subs-windows-only,
ul.notifications > li.type-subs-windows-only-purchasable,
ul.notifications > li.type-platform-pc
{
	background-image:url(../images/notification/notification-icon-windows.png);
}

/* Message: Internal Debug */
ul.notifications > li.type-internal-debug
{
	-webkit-user-select:text;
	background-image:url(../images/notification/notification-icon-debug.png);
}
ul.notifications > li.type-internal-debug > .message
{
	color:#F00;
}
ul.notifications > li.type-internal-debug > .message > h4
{
	margin-bottom:2px;
}
ul.notifications > li.type-internal-debug > .message > ul
{
	margin:0; padding:0 0 0 15px;
}
ul.notifications > li.type-internal-debug > .message > ul > li
{
	margin:0; padding:0;
	font-size:11px;
}

/* Message: Expires */
ul.notifications > li.type-timed-trial-admin-disable,
ul.notifications > li.type-timed-trial-expired,
ul.notifications > li.type-expires,
ul.notifications > li.type-trial-expired,
ul.notifications > li.type-demo-expired,
ul.notifications > li.type-alpha-beta-expired,
ul.notifications > li.type-subs-membership-expired,
ul.notifications > li.type-subs-membership-expiring,
ul.notifications > li.type-subs-entitlement-retired,
ul.notifications > li.type-subs-entitlement-retiring
{
	background-image:url(../images/notification/notification-icon-expires.png);
}

/* Message: Weekend Trial */
ul.notifications > li.type-early-access,
ul.notifications > li.type-trial
{
	background-image:url(../images/notification/notification-icon-trial.png);
}

/* Message: Preload Available */
ul.notifications > li.type-preload-available
{
}

/* Message: Dates (Preload & Available) */
ul.notifications > li.type-preload-date,
ul.notifications > li.type-available-date,
ul.notifications > li.type-release-coming,
ul.notifications > li.type-preannouncement-date 
{
	background-image:none;
}
ul.notifications > li.type-preload-date > .message,
ul.notifications > li.type-available-date > .message,
ul.notifications > li.type-release-coming > .message,
ul.notifications > li.type-preannouncement-date > .message
{
	width:auto;
	padding-left:0px;
	font-size:12px;
}
ul.notifications > li.type-preload-date > .message > .label,
ul.notifications > li.type-available-date > .message > .label,
ul.notifications > li.type-release-coming > .message > .label,
ul.notifications > li.type-preannouncement-date > .message > .label
{
	display:inline-block;
	font-weight:bold;
}

ul.notifications > li.type-preload-date > .message > .value,
ul.notifications > li.type-available-date > .message > .value,
ul.notifications > li.type-release-coming > .message > .value
{
	display:inline-block;
	font-weight:normal;
}

/* Message: Update Available */
ul.notifications > li.type-update-available
{
	background-image:url(../images/notification/notification-icon-install.png);
}

ul.notifications > li.type-upgrade-available-base-only,
ul.notifications > li.type-upgrade-available-dlc-only,
ul.notifications > li.type-upgrade-available-base-dlc
{
	background-image:url(../images/notification/notification-icon-upgrade.png);
}

/* Message: DLC Available */
ul.notifications > li.type-dlc-available > .message
{
	background-image:url(../images/notification/notification-icon-dlc.png);
}

/* Message: New DLC Available */
ul.notifications > li.type-new-dlc-available,
ul.notifications > li.type-new-dlc
{
	background-image:url(../images/notification/notification-icon-new-dlc-available.png);
}

/* Message: Just Released */
ul.notifications > li.type-just-released > .message
{
}

/* Message: Demo */
ul.notifications > li.type-demo,
ul.notifications > li.type-dynamic-content,
ul.notifications > li.type-dynamic-content-playable-at,
ul.notifications > li.type-playable
{
    background-image:url(../images/notification/notification-icon-demo.png);
}

/* Message: Expansion Available */
ul.notifications > li.type-expansion-available > .message
{
}

/* Message: Preview content */
ul.notifications > li.type-preview-content
{
	background-image:none;
}

ul.notifications > li.type-preview-content > .message
{
	width:auto;
	padding-left:0px;
	font-size:12px;
	font-weight:normal;
}
