<li class="l-origin-home-merchtile l-origin-hometile origin-telemetry-discovery-tile">
    <section class="origin-home-merchtile">
        <img ng-src="{{ ::image }}" class="origin-home-merchtile-img">
        <div class="origin-home-merchtile-content">
            <h2 class="otktitle-3 origin-home-merchtile-content-heading" ng-bind-html="strings.headline"></h2>
            <p class="otkc origin-home-merchtile-description" ng-bind-html="strings.text"></p>
        </div>
        <div class="origin-home-merchtile-overlay" ng-click="openMobileInfobubble()">
            <div class="l-origin-home-merchtile-cta">
                <origin-cta-promo origin-infobubble="{{::infobubbleContent}}" ></origin-cta-promo>
            </div>
        </div>
    </section>
</li>