.origin-store-carousel-featured-carousel{
    position: relative;
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    background-color: @color-darknavy;
    color: @color-white;
    padding: 25px 0 10px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    height: 440px;
    z-index: 0;
    @media only screen {
        @media (max-width: 835px) {
            height: auto;
            flex-direction: column;
        }
    }
}

.origin-store-carousel-featured-carousel-img-wrapper {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.origin-store-carousel-product-controls {
    height: 40px;
}

.origin-store-carousel-featured-carousel-caption {
    position: absolute;
    width: 375px;
    padding: 52px 30px;
    box-sizing: border-box;
    z-index: 10;
    @media only screen {
        @media (max-width: 1100px) {
            padding: 0 30 0 20px;
            width: 350px;
        }

        @media (max-width: 835px) {
            position: relative;
            width: 100%;
            padding: 24px 10px;
        }
    }
    .touch-enabled .origin-cta-primary, .origin-cta-secondary {
       position: relative;
    }
}
.origin-store-carousel-featured-carousel-title {
    color: @color-white;
}

.origin-store-carousel-featured-carousel-subtitle {
    color: @color-white;
    padding-bottom: 25px
}

.origin-store-carousel-featured-carousel-slider {
    position: absolute;
    left: 375px;
    right: 45px;
    @media only screen {
        @media (max-width: 1100px) {
            left: 350px;
            right: 45px;
        }

        @media (max-width: 835px) {
            position: relative;
            width: 100%;
            left: auto;
            right: auto;
        }
    }
}

.origin-store-carousel-featured-carousel-slider-isloading {
    .loading(@color-darknavy);
    display: inline-block;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

