
.origin-carouselimage-isloading {
    .loading(@color-darknavy);
    opacity: 0.6;
    position: absolute;
    top: 0;
}



.origin-carouselimage {
    position: relative;

    .origin-carouselimage-headerarea {
        position: relative;
        padding-bottom: 10px;
        padding-top: 10px;

        .origin-carouselimage-title {
            display: inline;
            padding-right: 10px;
        }
    }
    .origin-carouselimage-container {
        overflow: hidden;
        width: 100%;

        .origin-carouselimage-slidearea {
          display: block;
          padding-left: 3px;
          position: relative;
          width: 2000%;
          transform: translateX(0);
          .transition(0.5s ease-in-out all);
          .origin-carouselimage-slidearea-items {
            margin-right: 15px;
          }
        }
    }
}

.origin-carouselimage-container {
    width: 100%;
    overflow: hidden;
}

/* Image Item CSS */
.origin-carouselmediaitem {
    width: 315px;
    display: inline-block;
    @media only screen and (max-width: 600px) {
      width: 210px;
  }
}

.origin-carouselimageitem-modal, .origin-carouselvideoitem-modal {
    display: inline-block;
    padding: 30px;
    .origin-carouselimageitem-thumb{
        height: 100%;
    }
}

.origin-carouselimageitem-thumb {
  width: 100%;
  cursor: pointer;
}

/* Video Item CSS */
.origin-store-carousel-media-videoitem-container{
  position: relative;
  width: 315px;
  height: 177px;
  overflow: hidden;
  .transition(all @transition-short);
  @media only screen and (max-width: 600px) {
    width: 210px;
    height: 118px;
  }
}

.origin-store-carousel-media-videoitem-videothumb {
  width: 100%;
  position: relative;
    cursor: pointer;
  top: 50%;
  .translate(0, -50%);
}

.origin-store-carousel-media-videoitem-videoicon {
  background: @color-darknavy;
  border: 2px solid @color-white;
  border-radius: 50%;
  .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.9));
  color: @color-white;
  display: inline-block;
  font-size: 35px;
  height: 48px;
  width: 48px;
  left: 121.5px;
  top: 52px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  text-indent: 6.5px;
  z-index: 2;
  line-height: 48px;
  .transition(all @transition-short);
  @media only screen and (max-width: 600px) {
    height: 32px;
    width: 32px;
    left: 77px;
    top: 34px;
    font-size: 21px;
    line-height: 32px;
  }

  &:hover {
    background: @color-darknavy;
    border: 2px solid @color-lightgray;
    .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.5));
    color: @color-white;
  }
}
