.origin-store-bundle-dialog-add-item {
    .otkmodal-footer {
        .clearfix();
        .origin-store-bundle-dialog-add-item-button {
            float: right;
            max-width: @otk-cta-width;
            width: 100%;
            margin-left: 20px;
            .media-max-width(@global-width-xsmall, {
                margin-left: 0;
                margin-bottom: 12px;
                max-width: 100%;
            });
        }
    }
}
