<section class="origin-store-access-trials-hero">
	<img class="origin-store-access-trials-hero-background" ng-src="{{ ::background }}" origin-imagefadein alt="">

	<div class="origin-store-access-trials-hero-content" ng-class="{'origin-store-access-trials-hero-text-light': shade == 'light'}">
		<div class="origin-store-access-trials-hero-text">
			<img ng-src="{{ ::logo }}" origin-imagefadein alt="" class="origin-store-access-trials-hero-logo">

			<h1 class="otktitle-page" ng-bind-html="::strings.header"></h1>
			
			<ng-transclude></ng-transclude>

			<origin-store-access-cta 
				ng-if="strings.button && offerId"
				button="{{ ::strings.button }}"
				offer-id="{{ ::offerId }}">
			</origin-store-access-cta>

			<h5 class="otktitle-5 otktitle-5-caps origin-store-access-trials-hero-platform" ng-bind-html="::strings.platform"></h5>

			<h5 class="otktitle-4 otktitle-4-strong origin-store-access-trials-hero-legal" ng-bind-html="::strings.legal"></h5>
		</div>

		<div class="origin-store-access-trials-hero-foreground">
			<div class="origin-store-access-trials-video-player-wrapper" ng-show="video">
				<div class="origin-store-access-trials-video-player-location"></div>
			</div>
		</div>

		<img ng-src="{{ ::foreground }}" origin-imagefadein alt="" class="origin-store-access-trials-hero-foreground-image" ng-show="!video && foreground">
	</div>
</section>