<section class="origin-store-access-trials-mediaprop">
	<img ng-src="{{ ::background }}" origin-imagefadein alt="" class="origin-store-access-trials-mediaprop-background">

	<div class="origin-store-access-trials-mediaprop-content" ng-class="{'origin-store-access-trials-mediaprop-content-light': shade == 'light', 'origin-store-access-trials-mediaprop-content-twotone': shade == 'twoTone'}">
		<div class="origin-store-access-trials-mediaprop-top">
			<div class="origin-store-access-trials-mediaprop-top-left">
				<h2 class="otktitle-page origin-store-access-trials-mediaprop-mainheader" ng-bind-html="::strings.header"></h2>
			</div>
			<div class="origin-store-access-trials-mediaprop-top-right">
				<h3 class="otktitle-3 origin-store-access-trials-mediaprop-text" ng-bind-html="::strings.description"></h3>
			</div>			
		</div>
		
		<origin-store-pdp-section-wrapper>
			<origin-store-pdp-media-carousel>
				<origin-store-pdp-media-carousel-video ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-video>
				<origin-store-pdp-media-carousel-video ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-video>
				<origin-store-pdp-media-carousel-video ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-video>
				<origin-store-pdp-media-carousel-video ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-video>
				<origin-store-pdp-media-carousel-video ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-video>
				<origin-store-pdp-media-carousel-video ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-video>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
				<origin-store-pdp-media-carousel-img ocd-path="{{ ::ocdPath }}"></origin-store-pdp-media-carousel-img>
			</origin-store-pdp-media-carousel>
		</origin-store-pdp-section-wrapper>

		<div class="origin-store-access-trials-mediaprop-props">
			<div class="origin-store-access-trials-mediaprop-prop">
				<h4 class="otktitle-2 origin-store-access-trials-mediaprop-header" ng-bind-html="::strings.propOneHeader"></h4>
				<p class="otktitle-3 origin-store-access-trials-mediaprop-text" ng-bind-html="::strings.propOneDescription"></p>
			</div>
			<div class="origin-store-access-trials-mediaprop-prop">
				<h4 class="otktitle-2 origin-store-access-trials-mediaprop-header" ng-bind-html="::strings.propTwoHeader"></h4>
				<p class="otktitle-3 origin-store-access-trials-mediaprop-text" ng-bind-html="::strings.propTwoDescription"></p>
			</div>
			<div class="origin-store-access-trials-mediaprop-prop">
				<h4 class="otktitle-2 origin-store-access-trials-mediaprop-header" ng-bind-html="::strings.propThreeHeader"></h4>
				<p class="otktitle-3 origin-store-access-trials-mediaprop-text" ng-bind-html="::strings.propThreeDescription"></p>
			</div>
			<div class="origin-store-access-trials-mediaprop-prop">
				<h4 class="otktitle-2 origin-store-access-trials-mediaprop-header" ng-bind-html="::strings.propFourHeader"></h4>
				<p class="otktitle-3 origin-store-access-trials-mediaprop-text" ng-bind-html="::strings.propFourDescription"></p>
			</div>
		</div>
	</div>
</section>