//
// Origin Store - Free Games Program Module
// =============================================
.origin-store-freegames-program {
  position: relative;
  background: @color-mediumnavy;
  overflow: hidden;
  text-align: center;
}

.origin-store-freegames-program {
  .origin-backgroundimage-wrapper-inner,
  .origin-backgroundimage-image {
    width: 100%;
    height: auto;
  }
}

.origin-store-freegames-program-bg-scrim {
  position: relative;
  padding: 45px;
  background: @color-mediumnavy;
  background: fade(@color-mediumnavy, 45%);

  @media (max-width: @width-mobile) {
    padding: 0;
  }
}

.origin-store-freegames-program-container {
  max-width: @width-medium-desktop;
  margin: 0 auto;
  .clearfix();
}

.origin-store-freegames-program-col {
  width: 50%;
  display: block;
  float: left;

  @media (max-width: @width-medium-desktop) {
    width: 100%;
    float: none;
  }
}

.origin-store-program-offer {
  display: block;
  background: #fff;
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  margin-right: 45px;
  .clearfix();

  @media (max-width: @width-medium-desktop) {
    margin: 0 0 45px 0;
  }

  @media (max-width: @width-mobile) {
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .origin-storecta {
    margin-top: 12px;
    margin-left: 160px;

    @media (max-width: @width-mobile) {
      max-width: none;
      margin: 12px auto 0;

      .otkbtn {
        max-width: none;
      }
    }
  }
}

.origin-store-program-offer-packart {
  width: 150px;
  height: auto;
  float: left;
  
  @media (max-width: @width-mobile) {
    float: none;
    margin: 0 auto 12px;
    width: 100px;
  }
}

.origin-store-program-offer-title {
  margin-left: 160px;
  color: @color-black;
  text-decoration: none;
  max-height: 60px;
  overflow: hidden;
  display: block;

  @media (max-width: @width-mobile) {
    margin-left: auto;
    max-height: none;
    overflow: visible;
  }
}

.origin-store-program-offer-description {
  display: block;
  padding-top: 10px;
  max-width: inherit;
  color: @color-mediumnavy;
  margin-left: 160px;

  @media (max-width: @width-mobile) {
    margin-left: auto;
  }
}

.origin-store-program-offer-price {
  display: block;
  margin-left: 160px;
  @media (max-width: @width-mobile) {
    margin-left: auto;
  }

  .otkprice-sale {
    padding-right: 5px;
  }
}

.origin-store-freegames-program-screenshots {
  display: block;
  margin-left: 45px;

  @media (max-width: @width-medium-desktop) {
    margin: 0;
  }

  @media (max-width: @width-mobile) {
    margin: 0;
    padding: 20px;
  }

  .origin-store-freegames-program-screenshot-container {
    width: 50%;
    display: inline-block;
    font-size: 0;
    cursor: pointer;

    &:nth-child(1) {
      .origin-store-freegames-program-screenshot {
        margin: 0 12px 12px 0;
      }
    }

    &:nth-child(2) {
        .origin-store-freegames-program-screenshot {
        margin: 0 0 12px 12px;
      }
    }

    &:nth-child(3) {
        .origin-store-freegames-program-screenshot {
        margin: 12px 12px 0 0;
      }
    }

    &:nth-child(4) {
        .origin-store-freegames-program-screenshot {
        margin: 12px 0 0 12px;
      }
    }
  }
}

.origin-store-freegames-program-screenshot-image {
  width: 100%;
  height: auto;
}

.origin-store-freegames-program-right {
  .origin-store-freegames-program-col {
    float: right;

    .origin-store-program-offer {
      margin: 0 0 0 45px;

      @media (max-width: @width-medium-desktop) {
        margin: 0 0 45px 0;
      }

      @media (max-width: @width-mobile) {
        margin: 0;
      }

    }
    .origin-store-freegames-program-screenshots {
      margin: 0 45px 0 0;

        @media (max-width: @width-medium-desktop) {
          margin: 0;
      }
    }
  }
}

