.origin-titlebar-subwindow {
    display: block;
    height: @titlebar-subwindow-height;
    background-color: #141b20;
    .border-top-radius(4px);
}

origin-social-chatwindow-area.popped-out .origin-titlebar-subwindow {
    .border-top-radius(0);
}

.origin-titlebar-subwindow-button {
    float: right;
    font-size: 20px;
    color: #c3c6ce;
    cursor: pointer;
    padding: 2px 4px;
    .transition(all, 500ms, ease);
    &:hover {
        background-color: #50565d;
        color: #ffffff;
    }
}

.origin-titlebar-subwindow-minimize {
    .otkicon {
        position: relative;
        top: 6px;
    }
}

.origin-titlebar-subwindow-close {
    border-top-right-radius: 4px;
}

.origin-titlebar-subwindow-title {
    position: relative;
    float: left;
    top: 5px;
    left: 8px;
    color: white;
    margin: 0;
}

.origin-titlebar-subwindow-transclude {
    float: left;
}

.origin-titlebar-subwindow-popin {
    display: none;
}

origin-social-chatwindow-area.popped-out
.origin-titlebar-subwindow-close {
    display: none;
}

origin-social-chatwindow-area.popped-out
.origin-titlebar-subwindow-popout {
    display: none;
}

origin-social-chatwindow-area.popped-out
.origin-titlebar-subwindow-popin {
    display: block;
    .rotate(180deg);
}

origin-social-chatwindow-area.popped-out
.origin-social-chatwindow-area.oig
.origin-titlebar-subwindow-popin {
    display: none;
}

origin-social-chatwindow-area.popped-out
.origin-titlebar-subwindow-minimize {
display: none;}

