<example>
<para>Move a single file.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo file="myfile.txt" message="A file to move."/>
    <move file="myfile.txt" tofile="mytarget.txt"/>
</project>
]]>
</code>
</example>
