<h3 ng-show="isPrivate && !loading" class="otktitle-2 header-text">{{privateLoc}}</h3>

<div ng-show="!isPrivate && !loading">
    <div ng-show="commonGames.length + uncommonGames.length === 0">
        <h3 class="otktitle-2 header-text">{{noGamesLoc}}</h3>
    </div>
    <div ng-show="commonGames.length + uncommonGames.length !== 0">
        <section class="gametile-section" ng-show="commonGames.length">
            <h2 class="otktitle-3 row-header">{{gamesYouBothOwnLoc}}</h2>
            <origin-profile-page-games-gametile ng-repeat="game in commonGames | limitTo: commonGamesLimit | orderBy:'title'" titlestr="{{game.title}}" image="{{game.image}}" offerid="{{game.offerId}}"></origin-profile-page-games-gametile>
            <a ng-show="commonGamesLimit < commonGames.length" class="otka show-more-games show-more-games-common">{{showMoreGamesLoc}}</a>
            <a ng-show="(commonGames.length > commonGamesInitialLimit) && (commonGamesLimit === commonGames.length)" class="otka show-less-games show-less-games-common">{{showLessGamesLoc}}</a>
        </section>
        <section class="gametile-section" ng-show="uncommonGames.length">
            <h2 ng-show="commonGames.length" class="otktitle-3 row-header">{{otherGamesLoc}}</h2>
            <h2 ng-show="commonGames.length === 0" class="otktitle-3 row-header">{{gamesYouDontOwnLoc}}</h2>
            <origin-profile-page-games-gametile ng-repeat="game in uncommonGames | limitTo: uncommonGamesLimit | orderBy:'title'" titlestr="{{game.title}}" image="{{game.image}}" offerid="{{game.offerId}}"></origin-profile-page-games-gametile>
            <a ng-show="uncommonGamesLimit < uncommonGames.length" class="otka show-more-games show-more-games-uncommon">{{showMoreGamesLoc}}</a>
            <a ng-show="(uncommonGames.length > uncommonGamesInitialLimit) && (uncommonGamesLimit === uncommonGames.length)" class="otka show-less-games show-less-games-uncommon">{{showLessGamesLoc}}</a>
        </section>
    </div>
</div>
