<div ng-show="myGames.length === 0">
    <h3 class="otktitle-2 header-text">{{noGamesLoc}}</h3>
</div>
<div ng-show="myGames.length !== 0">

    <h2 class="otktitle-3 row-header">{{myGamesLoc}}</h2>
    <origin-profile-page-games-gametile ng-repeat="game in myGames | limitTo: gamesLimit | orderBy:'title'" titlestr="{{game.title}}" image="{{game.image}}" offerid="{{game.offerId}}"></origin-profile-page-games-gametile>
    <a ng-show="gamesLimit < myGames.length" class="otka show-more-games">{{showMoreGamesLoc}}</a>
    <a ng-show="(myGames.length > gamesInitialLimit) && (gamesLimit === myGames.length)" class="otka show-less-games">{{showLessGamesLoc}}</a>

</div>
