<div class="otkcontextmenu-wrap otkcontextmenu-isvisible" ng-hide="!visible" ng-style="{'left': left, 'top': top}">
    <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="contextmenu">
        <li ng-repeat="menuItem in items()" role="presentation" ng-class="{
            'otkmenu-item-disabled': menuItem.enabled===false,
            'otkmenu-context-divider': menuItem.divider}"
            ng-disabled="menuItem.enabled===false" ng-click="menuItem.callback()">
            <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-hide="menuItem.divider">{{menuItem.label}}</a>
        </li>
    </ul>
</div>