<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <mkdir dir="foo" />
    <mkdir dir="foo/raz" />
    <mkdir dir="foo/bar" />
    <mkdir dir="foo/bar/1" />
    <mkdir dir="foo/bar/2" />
    <mkdir dir="foo/bar/3" />

    <eval code="@{DirectoryGetDirectoriesRecursive('foo', '*', '|')}" 
          property="directories" 
          type="Function" />
    
    <foreach item="String" in="${directories}" property="directory" delim="|">
        <fail unless="@{DirectoryExists('${directory}')}" />
    </foreach>
</project>
]]>
</code>
</example>