//
// Origin Social Chat Window
// --------------------------------------------------


//
// Minimized window styles

.origin-social-chatwindow-area-minimized {
    height: 34px; 
    width: 300px;
    text-align: center;
    padding-top: 15px;
    
    position: fixed;
    z-index: @zindex-chat;
    bottom: 0;
    right: 350px;
    background: #FFFFFF;
    color: #222;
    border-left: 1px solid #C3C6CE;
    border-right: 1px solid #C3C6CE;
    border-top: 1px solid #C3C6CE;
    cursor: pointer;
    .box-shadow(0 1px 2px #ababab);
   
    @media screen and (max-width: @width-mobile) {
        display: none;
    }    

    @media screen and (min-width: @width-large-desktop) {
        right: 330px;
    }
}

.origin-social-chatwindow-area-minimized-button {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    .transition(background 0.3s ease-in-out);
    &:hover {
        background: #EDF1F2;
    }
}

.origin-social-chatwindow-area-minimized-button.hasAdditionalTabs {
    right: 60px;
}

.origin-social-chatwindow-area-minimized-presence {
    position: relative;
    top: 12px;
}

.origin-social-chatwindow-area-minimized-label {
    position: relative;
    top: 12px;
    color: @color-darknavy;
}

.origin-social-chatwindow-area-minimized-unread-count {
    position: absolute;
    right: 4px;
    top: 4px;
}
 
.origin-social-chatwindow-area-minimized-tabselector {
    position: absolute;
    left: 240px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    .transition(background 0.3s ease-in-out);
    border-left: 1px solid #C3C6CE;
    &:hover {
        background: #EDF1F2;
    }
}

.origin-social-chatwindow-area-minimized-tabselector-tab-count {
    color: @color-mediumnavy;
    position: relative;
    top: 12px;
    left: -8px;
}

.origin-social-chatwindow-area-minimized-tabselector-caret {
    color: @color-mediumnavy;
    position: absolute;
    top: 11px;
    right: 2px;
    font-size: 30px;
}

.origin-social-chatwindow-area-minimized-tabselector-unread-count {
    position: absolute;
    right: 4px;
    top: 4px;
}

//
// Full window styles

.origin-social-chatwindow-area {
/*    z-index: 1000000000; */
    height: @social-chatwindow-height-notabs;
    width: @social-chatwindow-width-notabs;
    position: fixed;
    bottom: 0;
    right: 350px;
    display: none;
    .border-top-radius(4px);
    .box-shadow(0 2px 15px rgba(30, 38, 44, 0.7));

    @media screen and (max-width: @width-mobile) {
        visibility: hidden;
    }    

    @media screen and (min-width: @width-large-desktop) {
        right: 330px;
    }
}

origin-social-chatwindow-area.popped-out .origin-social-chatwindow-area{
    display: block;
    position: static;
    height: 100%;
    width: 100%;
}

.origin-social-chatwindow-area.origin-social-chatwindow-area-showing-tabs {
    height: @social-chatwindow-height-tabs;
    width: @social-chatwindow-width-tabs;
}

.origin-social-chatwindow-area-content {
    height: 100%;
    background-color: #edf1f2;
    border-left: 1px solid #787d85;
    border-right: 1px solid #787d85;
    border-top: 1px solid #787d85;
}

.origin-social-chatwindow-area .origin-social-chatwindow-conversation-section {
    display: none;
    position: absolute;
    top: @titlebar-subwindow-height;
    left: 1px;
    right: 1px;
    bottom: 0;
    background-color: #e9edee;
}

.origin-social-chatwindow-area.origin-social-chatwindow-area-showing-tabs .origin-social-chatwindow-conversation-section {
    top: 80px;
}

origin-titlebar-subwindow .otkpresence {
    margin-left: 9px;
    position: relative;
    top: 2px;
}

//
// Tabs
//

.origin-social-chatwindow-tab .otktab-title {
    display: inline-block;
    .text-overflow();
    max-width: 100%;
    position: relative;
    font-size: 12px;
    vertical-align: middle;
}

.origin-social-chatwindow-tab origin-social-chatwindow-conversation-presenceindicator {
    position: relative;
    vertical-align: baseline;
}

.origin-social-chatwindow-tab .origin-social-chatwindow-tab-close {
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    right: 2px;
    top: 13px;
    cursor: pointer;

    color: @color-mediumnavy;

    &:hover {
        color: @color-darknavy;
    }
}

.origin-social-chatwindow-tab:hover .origin-social-chatwindow-tab-close {
    opacity: 1;
}

//
// Overflow menu items
//

.origin-social-chatwindow-tab-overflow-menu-item {
    display: block;
    position: relative;

    origin-social-chatwindow-conversation-presenceindicator {
        display: inline-block;
        position: relative;
        left: -2px;
        vertical-align: baseline;
    }

    .origin-social-chatwindow-tab-overflow-menu-item-title {
        display: inline-block;
        position: relative;
        .text-overflow();
        max-width: 160px;
        vertical-align: middle;
    }

    .origin-social-chatwindow-tab-overflow-menu-item-close {
        display: inline-block;
        position: absolute;
        right: 8px;
        opacity: 0;
        .transition(all 0.3s ease-in-out);
        color: @color-mediumnavy;
        &:hover {
            color: @color-darknavy;
        }
    }

    &:hover {
        .origin-social-chatwindow-tab-overflow-menu-item-close {
            opacity: 1;
        }
    }

}

//
// Notification badges
//

origin-social-chatwindow-area-minimized .otkbadge,
origin-social-chatwindow-area .otkbadge {
    position: absolute;
    right: 2px;
    top: 2px;
}

//
// Overflow menu stuff
//

.origin-social-chatwindow-tab-overflow-tab {
    vertical-align: middle;
}

.origin-social-chatwindow-area-minimized #origin-social-chatwindow-area-minimized-tabselector .otkdropdown-wrap,
.origin-social-chatwindow-tab-overflow-tab .otkdropdown-wrap {
    text-align: left;

    // Position the caret
    &:before,
    &:after {
        left: 168px;
    }
}

.origin-social-chatwindow-tab-overflow-tab .otkdropdown-wrap {
    // Position the menu
    left: -44px;
    top: 50px;
}

.origin-social-chatwindow-area-minimized #origin-social-chatwindow-area-minimized-tabselector .otkdropdown-wrap .otkmenu,
.origin-social-chatwindow-tab-overflow-tab .otkdropdown-wrap .otkmenu {
    max-height: 336px;
    overflow-y: auto;
}

.origin-social-chatwindow-area-minimized #origin-social-chatwindow-area-minimized-tabselector .otkdropdown-wrap .otkbadge,
.origin-social-chatwindow-tab-overflow-tab .otkdropdown-wrap .otkbadge {
    top: 17px;
    right: 24px;
}

