<div class='origin-userinfo'>
	<div class='origin-userinfo-avatar'>
		<origin-avatar nucleusid='{{nucleusId}}' avatar-size='medium'></origin-avatar>
	</div>
	<div class='origin-userinfo-content'>
		<a href='javascript:void(0)' ng-click='loadProfile()' class='otka origin-userinfo-username'>{{originId}}</a>
		<a href='javascript:void(0)' ng-click='createMessage()' class='otka otkc-small origin-userinfo-message'>
			<i class='otkicon otkicon-chatbubble'></i>{{message}}
		</a>
		<p class='otkc otkc-small origin-userinfo-currentlyplaying' ng-bind-html="currentlyPlaying"></p>
		<div class='otkc otkc-small' ng-if="isJoinable">
			<a href='javascript:void(0)' class='otka'>{{joinGame}}</a>
		</div>
	</div>
</div>