<example shouldfail="true">
<para>Tests to ensure that file set elements cannot have any non-whitespace inner text values.
Note that NAnt used to support multiple files inside a single [includes] element.  Now that groups are
supported this feature has been removed.
</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
	<fileset name="sources">
    	<includes>
    	    <!-- this format is no longer supported and will raise an error -->
    	    good.txt
    	    fast.txt
    	</includes>
	</fileset>
</project>
]]>
</code>
</example>