.store-deals-module {
    position: relative;
    overflow: hidden;
    background-color: @color-darknavy;
    background-size: cover;
    background-position: right center;
    .transition(all .3s ease-out);
    box-shadow: 0 0 2px 0 fade(@color-black, 25%);
    &:hover{
        box-shadow: 0 0 10px 0 fade(@color-black, 60%);
    }

    @media screen {
        @media (max-width: (@pdp-width-xsmall - 1)) {
            min-height: 460px;
        }

        @media (min-width: @pdp-width-xsmall) {
            min-height: 330px;
        }
    }
}

.store-deals-module-caption {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding: 30px;
    box-sizing: border-box;

    @media screen {
        @media (max-width: (@pdp-width-xsmall - 1)) {
            #gradient > .vertical(fade(@color-darknavy, 80%), fade(@color-darknavy, 80%), 0%, 100%);
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
        }

        @media (min-width: @pdp-width-xsmall) {
            #gradient > .horizontal(fade(@color-darknavy, 80%), fade(@color-darknavy, 80%), 0%, 100%);
            height: 330px;
            width: 400px;
        }
    }
}

.store-deals-module-caption-header {
    color: @color-white;
    margin-bottom: 5px;
}

.store-deals-module-caption-title {
    color: @color-white;
    margin-bottom: 15px;
}

.store-deals-module-caption-subtitle {
    color: @color-white;
    margin-bottom: 30px;
}

.store-deals-module-image-wrapper {
    overflow: hidden;
    height: 100%;
    text-align: center;
    width: 5000px;
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);

    @media screen {
        @media (max-width: @pdp-width-xsmall) {
            top: 0;
            .translate(-50%, 0);
        }
        @media (min-width: 1000px) {
            height: 360px;
        }
    }
}

.store-deals-module-image-wrapper-inner {
    position: relative;
    display: inline-block;
    top: 50%;
    .translate(0, -50%);
    @media screen {
        @media (max-width: @pdp-width-xsmall) {
            top: 0;
            .translate(0, 0);
            #gradient > .vertical(fade(@color-darknavy, 80%), fade(@color-darknavy, 0), 0%, 100%);
        }
    }
}

.store-deals-module-image-scrim-right {
    width: 100px;
    height: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    #gradient > .horizontal(fade(@color-darknavy, 0), fade(@color-darknavy, 1), 0%, 100%);
}

.store-deals-module-image-scrim-left {
    width: 100px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    #gradient > .horizontal(fade(@color-darknavy, 1), fade(@color-darknavy, 0), 0%, 100%);

    @media screen {
        @media (max-width: @pdp-width-xsmall) {
            height: 100%;
            width: 100%;
            #gradient > .vertical(fade(@color-darknavy, 0), fade(@color-darknavy, 1), 80%, 100%);
            z-index: 1;
        }
    }
}

.store-deals-module-image {
    width: auto;
    height: auto;

    @media screen {
        @media (min-width: 1000px) {
            height: 100%;
        }
    }
}

