<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="deg" value="@{MathDegToRad('90')}" />
    <fail unless="@{MathSin('${deg}')} == 1" />
</project>
]]>
</code>
</example>