<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name='pi' value='@{MathPI()}' />
    <property name='rad' value='@{MathDivf("${pi}", "180")}' />
    <property name='deg' value='@{MathMulf("90", "${rad}")}' />
    
    <echo message="@{MathDegToRad('90')} == ${deg}" />
</project>
]]>
</code>
</example>