<div class='origin-gametile ng-class:{
        "origin-gametile-isdisabled": isDisabled,
        "origin-gametile-ismasked": isQueued
    }' origin-context-menu='getAvailableActions()' origin-automation-gamestate
     ng-click='onTileClick()'>
    <a>
        <origin-game-badge offerid='{{::offerId}}'></origin-game-badge>
        <img class='origin-gametile-img' ng-src='{{packArt}}' alt='{{displayName}}'>
        <origin-game-violator offerid='{{::offerId}}'></origin-game-violator>
    </a>

    <a>
        <section class='l-origin-gametile-overlay' ng-show='isQueued'>
            <h1 class='origin-gametile-title otktitle-3'>{{displayName}}</h1>
            <div class='l-origin-gametile-progress'>
                <origin-game-progress offerid='{{::offerId}}'></origin-game-progress>
            </div>
        </section>
    </a>

    <a href="#/game-library/ogd/{{::offerId}}" class="otka" ng-if="showDetailsButton">
        <div class="origin-gametile-overlay">
            <section class="origin-gametile-overlay-content">
                <button class="otkbtn otkbtn-primary">
                    <i class="otkicon otkbtn-primary-icon {{::iconClass}}"></i>
                    <div class="otkbtn-primary-text">{{strings.detailsButtonLabel}}</div>
                </button>
            </section>
        </div>
    </a>
</div>