<h1 class='otktitle-page'>Store Hero Carousels</h1>

<origin-store-row>
  <origin-store-oth-details width="divided" paragraph="There's no catch. Grab full games, expansions and more at absolutely no cost. Just make sure to act fast because On the House specials can appear and disappear at any time." title="Free?! What's the Catch?"></origin-store-oth-details>
  <origin-store-oth-details width="divided" paragraph="Nope. You’re getting a full version of the real game — for free!" title="You Mean a trial or Demo, Right?
"></origin-store-oth-details>
  <origin-store-oth-details width="divided" paragraph="Once you’ve claimed your game, it’s yours to keep!" title="How Long Will I Own the Game?"></origin-store-oth-details>
  <origin-store-oth-details width="divided" paragraph="Our goal is to provide a great gaming experience and a way to discover awesome new games. Having a game in your library, for free, is a fantastic way to see what Origin is all about." title="Why is Origin Doing This?"></origin-store-oth-details>
</origin-store-row>


<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
    <origin-store-carousel-hero-releasebanner
        title="Titanfall: Game of the year! The best thing to happen to anyone ever. Drop a Titan on it"
        subtitle="Some text goes here any text really"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png"
        start-date="June 10 2015 00:00:00 PST"
        end-date="June 15 2015 01:00:00 EST"
        >
    <origin-cta-loadurlinternal
              href="/gamelibrary"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-releasebanner>
  </origin-store-carousel-hero>
</origin-store-row>


<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="10000"
    alignment="left">
    <origin-store-carousel-hero-banner
        title="Define Your Destiny"
        subtitle="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        video-description="Hello Video"
        >
         <origin-cta-loadurlinternal
              href="/gamelibrary"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 2"
        subtitle="Some text goes here any text really"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png">
         <origin-cta-loadurlinternal
              href="/store/deals"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 3"
        subtitle="YYYYYYYYYYYYYYYYYYYYYYY"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_pvz_long.png">
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 4"
        subtitle="44444444444444444444444"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_chinarising_long.png">
            <origin-cta-pdp
               href=""
               description="Details"
               type="primary">
           </origin-cta-pdp>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 5"
        subtitle="555555555-------------5555555555"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_fifaworld_long.png">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="true"
    stationary-period="4000"
    alignment="right">
    <origin-store-carousel-hero-banner
        title="Define Your Destiny"
        subtitle="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png">
         <origin-cta-loadurlinternal
              href="/gamelibrary"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 2"
        subtitle="Some text goes here any text really"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png">
         <origin-cta-loadurlinternal
              href="/store/deals"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 3"
        subtitle="YYYYYYYYYYYYYYYYYYYYYYY"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_pvz_long.png">
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 4"
        subtitle="44444444444444444444444"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_chinarising_long.png">
            <origin-cta-pdp
               href=""
               description="Details"
               type="primary">
           </origin-cta-pdp>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 5"
        subtitle="555555555-------------5555555555"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_fifaworld_long.png">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
    <origin-store-carousel-hero-timerbanner
        title="Define Your Destiny"
        new-title="Too late you lose!"
        subtitle="Some text goes here any text really"
        href="/store/deals"
        goal-date="June 30 2015 10:44:00 PDT"
        hide-timer="true"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
        post-title="">
         <origin-cta-loadurlinternal
              href="/gamelibrary"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-timerbanner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 2"
        subtitle="Some text goes here any text really"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png">
         <origin-cta-loadurlinternal
              href="/store/deals"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 3"
        subtitle="YYYYYYYYYYYYYYYYYYYYYYY"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_pvz_long.png">
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 4"
        subtitle="44444444444444444444444"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_chinarising_long.png">
            <origin-cta-pdp
               href=""
               description="Details"
               type="primary">
           </origin-cta-pdp>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 5"
        subtitle="555555555-------------5555555555"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_fifaworld_long.png">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="10000"
    alignment="left">
    <origin-store-carousel-hero-banner
        title="Normal Hero with Video"
        subtitle="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
        href="#"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
        videoid="uG8V9dRqSsw"
        restrictedage="18"
        video-description="Play Trailer">
         <origin-cta-loadurlinternal
              href="#"
              description="Button"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
    <origin-store-carousel-hero-timerbanner
        title="Hero Clock - Expired | Post-Title (Fail) | Show Timer"
        post-title="Hero Clock - Expired | Post-Title (Pass) | Show Timer"
        subtitle="Subtitle"
        goal-date="June 19 2015 10:30:00 PDT"
        hide-timer="False"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png">
         <origin-cta-loadurlinternal
              href="#"
              description="Button"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-timerbanner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
    <origin-store-carousel-hero-timerbanner
        title="Hero Clock - Expired | No Post-Title | Show Subtitle | Hide Timer | Video"
        subtitle="Timer to Subtitle (Pass)"
        goal-date="June 19 2015 10:30:00 PDT"
        hide-timer="true"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
    videoid="uG8V9dRqSsw"
        restrictedage="18"
        video-description="Play Trailer">
        <origin-cta-loadurlinternal
            href="#"
            description="Button"
            type="primary">
        </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-timerbanner>
  </origin-store-carousel-hero>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
  <origin-store-carousel-hero-releasebanner
        title="Titanfall: Game of the year! Drop a Titan on it"
        subtitle="Some text goes here any text really"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png"
        start-date="June 10 2015 00:00:00 PST"
        end-date="June 15 2015 01:00:00 EST"
    availabletext="Available %startDate% - %endDate%">
    <origin-cta-loadurlinternal
            href="/#"
            description="Button"
            type="primary">
        </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-releasebanner>
  </origin-store-carousel-hero>
</origin-store-row>