<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="p" value="1" />

    <eval code="@{PropertyUndefine('p')}" type='Function' />
    <fail if="@{PropertyExists('p')}" />
</project>
]]>
</code>
</example>