QFrame#outerFrame[isIGO="false"] {
    border-width: 5px;
    border-image: url(:/OriginCommonControls/OriginNotificationDialog/notificationBackground.png) 5 stretch stretch;
}

QFrame#outerFrame[isIGO="true"] {
    border-width: 5px;
    border-image: url(:/OriginCommonControls/OriginNotificationDialog/igo_notificationBackground.png) 5 stretch stretch;
}