<li class="origin-background-mediacarousel-item" ng-class="{'origin-background-mediacarousel-itemvisible' :  isOnTop}">
    <div class="origin-background-mediacarousel-item-packart l-origin-align-right" ng-click="goToPdp()">
        <span class="otktitle otktitle-4">{{model.displayName}}</span>
        <img ng-src="{{model.packArt}}" />
    </div>
    <div class="item-background-wrapper">
        <div class="item-background-wrapper-inner">
            <img ng-src="{{imageUrl}}" ng-if="(isSmallScreen || !videoId) && imageUrl"/>
            <div class="origin-video-player" ng-hide="isSmallScreen || !videoId"></div>
        </div>
    </div>
    <div class="origin-background-mediacarousel-item-overlay"></div>
</li>