<div class="origin-store-browse-wrapper l-origin-section">
	<div class="origin-tilelist-pagetitle">
		<h1 class="otktitle-2 origin-store-browse-pagetitle">{{pageTitle}}</h1>
		<div class="origin-store-browse-socialmedia">
			<origin-socialmedia theme="dark" title-str="{{::facebookPageTitle}}" hide-facebook="{{isFacebookHidden}}"></origin-socialmedia>
		</div>
	</div>

	<div class="origin-store-facets" ng-transclude ng-hide="!isLoading && (searchRequestFailed || games.length === 0)"></div>
	<origin-store-browse-noresult ng-show="!isLoading && (searchRequestFailed || games.length === 0)">
	</origin-store-browse-noresult>
	<section class="origin-tilelist" origin-lazyload="loadMore" origin-lazyload-disabled="lazyLoadDisabled()">
		<ul class="l-browsegrid-flexcontainer">
			<li class="origin-tilelist-item l-browsegrid-flexitem" ng-repeat="item in games" origin-postrepeat>
				<origin-store-game-tile ocd-path="{{item.path}}" class="l-browsegrid-flexitem-inner"></origin-store-game-tile>
			</li>
		</ul>
	</section>

</div>
