<div style="padding: 0 30px;">
    <h1 class="otktitle-2"><br>Test for the Cart API</h1>
    <p class="origin-store-pdp-comparison-table-description">A story by Chris and Patrick</p>

    <section >
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Offers</p>
                <a class="otka" href="javascript:void(0)" ng-click="addOffer()">add offer with clear</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="addOfferNoClear()">add offer</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="removeOffer()">remove offer</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="removeOtherOffer()">remove offer (not in cart)</a>
            </div>
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Coupons</p>
                <a class="otka" href="javascript:void(0)" ng-click="addCoupon()">add coupon</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="removeCoupon()">remove coupon</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="removeOtherCoupon()">remove coupon (not in cart)</a>
            </div>
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Cart</p>
                <a class="otka" href="javascript:void(0)" ng-click="getCart()">get cart</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="clearCart()">clear cart</a>
            </div>
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Direct Entitlement</p>
                <a class="otka" href="javascript:void(0)" ng-click="gimmeFreeGame('Origin.OFR.50.0000583')">FIFA15 demo</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="gimmeFreeGame('Origin.OFR.50.0000912')">FIFA16 demo</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="gimmeFreeGame('OFB-EAST:109552122')">SimCity free trial</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="gimmeFreeGame('OFB-EAST:41420')">Mass Effect 3 demo</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="gimmeFreeGame('Origin.OFR.50.0001048')">Dragon Age Inquisition trial</a>
            </div>
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Early Access Trial Entitlement</p>
                <a class="otka" href="javascript:void(0)" ng-click="gimmeFreeGame('Origin.OFR.50.0001160')">PvZ GW2 Early Trial</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="checkTrialTime('1026482_oa')">Check Time</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="checkTrialTimeByOfferId('Origin.OFR.50.0001160')">Check Time By OfferId</a>
            </div>
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Lockbox Errors</p>
                <a class="otka" href="javascript:void(0)" ng-click="showError('timeout')">timeout</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="showError('1000')">1000 (unhandled)</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="showError('5000')">5000 (handled)</a>
            </div>
            <div style="padding: 5px 0;">
                <p class="otktitle-3">Subscription Entitlements</p>
                <a class="otka" href="javascript:void(0)" ng-click="vaultGame('entitle')">Entitle</a> &nbsp;&middot;&nbsp; 
                <a class="otka" href="javascript:void(0)" ng-click="vaultGame('remove')">Remove</a>
            </div>
    </section>
</div>