<div class="origin-store-contextmenu-wrapper">
    <button class="otkbtn otkbtn-dropdown-btn origin-tealium-otkbtn-dropdown-btn"
            ng-class="{'otkbtn-transparent' : (type === 'transparent'), 'otkbtn-primary' : (type === 'primary')}"
            ng-click="toggleContextMenu($event)">
        <i class="otkicon otkicon-downarrow origin-store-contextmenu-icon origin-tealium-otkicon-downarrow"></i>
    </button>
    <origin-dropdown-menu ng-click="hideContextMenu()" top="top" bottom="bottom" class="origin-store-contextmenu" items="items" is-visible="isContextMenuVisible"></origin-dropdown-menu>
</div>
