<div class="origin-storecta" ng-class="{ 'origin-storecta-isloading': isLoading }">
	<origin-cta-pdp
		ng-if="isPdpCta()"
		offer-id="{{ model.offerId }}"
		description = "{{ pdpDescriptionStr }}"
		type = "{{ type }}"
		class="origin-storecta-btn">
	</origin-cta-pdp>

	<origin-cta-directacquisition
		ng-if="isEntitlementCta()"
		href="{{ href }}"
		description="{{ directacquisitionDescriptionStr }}"
		type="{{ type }}"
		offer-id="{{ ctaOfferId }}"
		is-vault="{{ couldBeEntitledThroughVault }}"
		origin-infobubble="{{ infobubbleContent }}"
		class="origin-storecta-btn">
	</origin-cta-directacquisition>

	<origin-cta-loadurlinternal
		ng-if="isLearnMore()"
		sref="app.store.wrapper.origin-access"
		description="{{ learnMoreStr }}"
		type="{{ type }}">
	</origin-cta-loadurlinternal>

	<origin-cta-loadurlexternal
        ng-if="isBrowserGame"
        href="{{ model.platforms.PCWIN.executePathOverride }}"
        description="{{ ::playNow }}"
        type="primary">
    </origin-cta-loadurlexternal>
</div>
