<div class="origin-store-informational origin-store-informational-{{ ::contentWidth }}">
    <h2 ng-if="::useH2" class="origin-store-informational-header"
        ng-class="{ 'otktitle-page': headerTextSize === 'large',
                    'otktitle-2': headerTextSize === 'medium',
                    'otktitle-3': headerTextSize === 'small'}" ng-bind-html="::headerText"></h2>
    <h1 ng-if="::useH1" class="origin-store-informational-header"
        ng-class="{ 'otktitle-page': headerTextSize === 'large',
                    'otktitle-2': headerTextSize === 'medium',
                    'otktitle-3': headerTextSize === 'small'}" ng-bind-html="::headerText"></h1>
    <div class="origin-store-informational-text-{{::textAlignment || 'left'}}">
        <p ng-bind-html="::content" class="origin-store-informational-content otkc"></p>
        <blockquote class="origin-store-informational-quote otkc">{{ ::quote }}</blockquote>
    </div>

    <div ng-show="href" class="origin-cta-secondary">
        <a class="otkbtn otkbtn-light"
           ng-href="{{ hrefAbsoluteUrl }}"
           ng-bind-html="::ctaText" ng-click="openLink(href, $event)"></a>
    </div>
</div>
