<section>

    <form name="ocdForm">
        <input type="text" name="ocdPath" ng-model="ocd.path"/>
        <input type="text" name="offerId" ng-model="ocd.offerId"/>
        <button ng-click="callOcd()">Call OCD</button>
        <button ng-click="getOffer()">Get Offer by Id</button>
        <button ng-click="getOcdByOfferId()">Get Ocd by Offer Id</button>
        <button ng-click="getOcdResponseByOffer()">Get Ocd response by Offer Id</button>
        <button ng-click="getOcdPathByOffer()">Get Ocd path by Offer Id</button>
    </form>

    <br/>
    <br/>
    <br/>
    <div>
        <h3>OCD response</h3>
        <br/>
        <br/>
        {{data}}
    </div>

    <br/>
    <br/>
    <br/>

</section>