<div class="origin-storeprice" ng-class="{ 'origin-storeprice-horizontal': pricingLayoutHorizontal }">

    <span ng-if="showFreeText">
        <span class="origin-storeprice-free otkprice-free" ng-bind="strings.freeText"></span>
    </span>

    <div ng-if="showPrice" class="origin-storeprice-standard">
        <span ng-if="showFormattedPrice" class="origin-storeprice-price origin-telemetry-price otkprice" ng-bind="model.formattedPrice"></span>
        <span ng-if="showSaveText" class="origin-storeprice-sale otkprice-sale origin-telemetry-price" ng-bind="strings.saveText"></span>
        <span ng-if="showFormattedStrikePrice" class="otkprice-original origin-storeprice-strike origin-telemetry-strike-price" ng-bind="model.formattedStrikePrice"></span>
    </div>

    <div ng-if="showIncludedWithText" class="origin-storeprice-access">
        <span class="origin-storeprice-access-price otkprice" ng-bind="strings.included"></span>
        <span class="origin-storeprice-access-withtext otkc otkc-small" ng-bind="strings.withText"></span>

        <origin-store-origin-access hasinfobubble="true"></origin-store-origin-access>

        <div class="origin-storeprice-originalprice otkc otkc-small">
            <span ng-bind="strings.orText"></span>
            <span ng-bind="model.formattedPrice"></span>
        </div>

    </div>

    <div class="origin-storeprice-accesslogo origin-store-access-subscriber-logo" ng-if="showAccessLogo && !suppressAccessText">
        <origin-store-origin-access></origin-store-origin-access>
    </div>

    <div ng-if="showOwnedText" class="origin-storeprice-owned">
        <i class="origin-storeprice-owned-icon otkicon otkicon-checkcircle"></i>
        <span class="otktitle-4 origin-storeprice-owned-icon-text" ng-bind="strings.ownedText"></span>
    </div>

</div>
