<div class="origin-store-timer-table">
    <div class="origin-store-timer-row">
        <div class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.days || 00) | padZeroes:2}}</p></div>
        <div class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.hours || 00) | padZeroes:2}}</p></div>
        <div class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.minutes || 00) | padZeroes:2}}</p></div>
        <div class="origin-store-timer-cell origin-store-timer-numbers"><p>{{(time.seconds || 00) | padZeroes:2}}</p></div>
    </div>
    <div class="origin-store-timer-row">
        <div class="origin-store-timer-cell origin-store-timer-text"><p ng-bind="strings.days"></p></div>
        <div class="origin-store-timer-cell origin-store-timer-text"><p ng-bind="strings.hours"></p></div>
        <div class="origin-store-timer-cell origin-store-timer-text"><p ng-bind="strings.minutes"></p></div>
        <div class="origin-store-timer-cell origin-store-timer-text"><p ng-bind="strings.seconds"></p></div>
    </div>
</div>
