<div class="origin-store-carousel-featured-carousel origin-telemetry-store-carousel-featured-carousel l-origin-store-column-full" ng-class="textColorClass">
    <origin-store-backgroundimage background-color='{{ ::backgroundColor }}' image='{{ ::imageSrc }}'> </origin-store-backgroundimage>
    <div class="origin-store-carousel-featured-carousel-caption">
        <h2 class="otktitle-page origin-store-carousel-featured-carousel-title" ng-bind-html="strings.titleStr"></h2>
        <p class="origin-store-carousel-featured-carousel-subtitle otktitle-3" ng-bind-html="strings.text"></p>
        <origin-cta-loadurlinternal ng-if="href && description"
            href="{{ href }}"
            description="{{ description }}"
            type="{{ ctaType }}">
        </origin-cta-loadurlinternal>
    </div>

    <div class="origin-store-carousel-featured-carousel-slider"  ng-class="{'origin-store-carousel-featured-carousel-slider-isloading': isLoading}" origin-store-carousel-carousel ng-swipe-left ng-swipe-right>
        <div class="origin-store-carousel-product-carousel-headerarea origin-store-carousel-carousel-header"></div>
        <div class="origin-store-carousel-product-carousel-container origin-store-carousel-carousel-container">
            <ul class="l-origin-storegametiles-fixed origin-store-carousel-product-carousel-slidearea origin-store-carousel-carousel-slidearea" ng-transclude></ul>
        </div>
    </div>
</div>


