<div class="origin-carouselimage l-origin-store-column-full"  ng-class="{'origin-carouselimage-isloading': isLoading}" origin-store-carousel-carousel>
    <div class="origin-carouselimage-headerarea origin-store-carousel-carousel-header">
        <div class="origin-carouselimage-title" ng-if="version != 'MODAL'">
            <h1 class="otktitle-2 origin-carouselimage-title" ng-bind-html="titleStr"></h1>
        </div>
    </div>
    <div class="origin-carouselimage-container origin-store-carousel-carousel-container">
        <ul class="origin-carouselimage-slidearea origin-store-carousel-carousel-slidearea" ng-transclude></ul>
    </div>
</div>



