<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sockets</key>
	<dict>
		<key>com.ea.origin.ESHelper.sock</key>
		<dict>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPathName</key>
			<string>/var/run/com.ea.origin.eshelper.sock</string>
		</dict>
	</dict>
	<key>Label</key>
	<string>com.ea.origin.ESHelper</string>
	<key>WaitForDebugger</key>
	<false/>
</dict>
</plist>
