<example>
<para>Uses a while statement to loop over a series of numbers.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name='x' value='0' />
    <while condition='${x} lte 1'>
        <eval type='Function' code="@{MathAdd('${x}', '1')}" property='x' />
    </while>
</project>
]]>
</code>
</example>