//
// Presence Indicators
// --------------------------------------------------

.otkpresence {
    display:inline-block;
    width:7px;
    height:7px;
    .border-radius(50%);
}

.otkpresence-online {
    background: @color-presence-online;
}

.otkpresence-ingame {
    background: @color-presence-ingame;
}

.otkpresence-offline {
    background: @color-presence-offline;
}

.otkpresence-broadcasting {
    background: @color-presence-broadcasting;
}

.otkpresence-away {
    background: @color-presence-away;
}