//
// Progress Bars
// --------------------------------------------------


// Radial Progress Bar
// -------------------------

.otkprogress-radial {
    position: relative;
    background-color: @color-mediumnavy;
    > .otkprogress-status {
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: @color-white;
    }
}

.otkprogress-radial,
.otkprogress-radial-progress,
.otkprogress-radial-progressfill {
    width: @progress-radial-size;
    height: @progress-radial-size;
    border-radius: 50%;
}

.otkprogress-radial-progress,
.otkprogress-radial-progressfill {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: @progress-radial-size;
    height: @progress-radial-size;
    margin-left: (-1*(@progress-radial-size/2));
    margin-top: (-1*(@progress-radial-size/2));
    border-radius: 50%;
}

.otkprogress-radial-progress {
    clip: rect(0, @progress-radial-size, @progress-radial-size, (@progress-radial-size/2));
}

// when greater than 50
.otkprogress-radial-isgt50 .otkprogress-radial-progress {
    clip: rect(0, (@progress-radial-size/2), @progress-radial-size, 0);
}

.otkprogress-radial-progressfill {
    clip: rect(0, (@progress-radial-size/2), @progress-radial-size, 0);
    .rotate(60deg);
}

// when greater than 50
.otkprogress-radial-isgt50 .otkprogress-radial-progressfill {
    clip: rect(0, @progress-radial-size, @progress-radial-size, (@progress-radial-size/2));
}

.otkprogress-radial-center {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: @progress-radial-innersize;
    height: @progress-radial-innersize;
    margin-left: (-1*(@progress-radial-innersize/2));
    margin-top: (-1*(@progress-radial-innersize/2));
    border-radius: 50%;
    background: @color-darknavy;
    > .otkprogress-percent {
        position:absolute;
        top: 50%;
        left: 0.15em;
        width: 100%;
        margin-top: -0.5em;
        text-align: center;
        font-size: 20px;
    }
}

// Radial progress bar states
// -------------------------

.otkprogress-radial-ispreparing .otkprogress-percent,
.otkprogress-radial-ispaused .otkprogress-percent {
    color: @color-lightgray;
}

.otkprogress-radial-ispreparing .otkprogress-radial-progressfill,
.otkprogress-radial-ispaused .otkprogress-radial-progressfill {
    background: @color-lightgray;
}

.otkprogress-radial-isactive .otkprogress-percent {
    color: @color-green;
}

.otkprogress-radial-isactive .otkprogress-radial-progressfill {
    background: @color-green;
}

.otkprogress-radial-iscomplete > .otkprogress-percent {
    display:none;
}

// when things are greater than 50 then you
// have to flip the colors
.otkprogress-radial-isgt50 {
    &.otkprogress-radial-ispaused,
    &.otkprogress-radial-ispreparing {
        background: @color-lightgray;
    }
    &.otkprogress-radial-isactive {
        background: @color-green;
    }
    .otkprogress-radial-progressfill {
        background: @color-mediumnavy;
    }
}


// Block Progress Bar
// -------------------------

.otkprogress-block {
    max-width:@progress-bar-width;
    width:100%;
    .otkprogress-type {
        color:@color-mediumnavy;
    }
    .otkprogress-wrap {
        position:relative;
        height:50px;
    }
    .otkprogress-bar {
        position:absolute;
        top:5px;
        width:100%;
        height: @progress-bar-height;
        background:@color-lightnavy;
        border-radius: @progress-bar-height/2;
    }
    .otkprogress-value {
        height: @progress-bar-height;
        background:@color-green;
        border-radius:@progress-bar-height/2;
        transition:all 0.3s ease-in-out;
    }
    .otkprogress-status,
    .otkprogress-remaining,
    .otkprogress-rate {
        position:absolute;
        color:@color-darknavy;
    }
    .otkprogress-status {
        right:0;
        margin-top:-17px;
    }
    .otkprogress-rate,
    .otkprogress-remaining {
        margin-top:22px;
        font-size:11px;
        font-family:inherit;
        text-transform:uppercase;
        font-weight:@weight-semibold;
    }
    .otkprogress-rate {
        right:0;
    }
    .otkprogress-remaining {
        left:50px;
    }
    .otkprogress-unit {
        color:@color-mediumnavy;
        font-weight:@weight-semibold;
    }
    .otkprogress-percent {
        position:absolute;
        margin-top:18px;
        font-size:16px;
        color:@color-green;
    }
}

.otkprogress-block-iscomplete {
    .otkprogress-bar {
        overflow:hidden;
    }
    .otkprogress-value {
        width:6% !important;
        .animation(otkprogressslide 1.2s linear 0s infinite);
    }
    .otkprogress-remaining,
    .otkprogress-rate,
    .otkprogress-percent {
        display:none;
    }
}

.otkprogress-block-ispaused {
    .otkprogress-value {
        background:@color-mediumnavy;
    }
    .otkprogress-percent {
        color:@color-mediumnavy;
    }
}
