<!-- we are assuming two for now -->
<section class='l-origin-home-merch origin-home-section ng-class:{"origin-home-section-isloading": isLoading}' ng-if='visible'>
	<ul class='origin-home-merchtiles'>
		<li class='l-origin-home-merchtile' ng-repeat="merchitem in ::merchitems">
			<origin-home-merchandise-tile
				headline="{{::merchitem.headline}}"
				text="{{::merchitem.text}}"
				ctatext="{{::merchitem.targetText}}"
				image="{{::merchitem.image}}"
				alignment="{{::merchitem.alignment}}"
				theme="{{::merchitem.theme}}"></origin-home-merchandise-tile>
		</li>
	</ul>
</section>