<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo message="@{DateTimeNow()}" />
</project>

<!-- Your output on en-US locale will look something like: 
[echo] 1/29/2015 2:51:55 PM
-->

<!-- Your output on en-CA locale will look something like: 
[echo] 29/01/2015 2:51:55 PM
-->

<!-- Your output on en-GB locale will look something like: 
[echo] 29/01/2015 14:51:55
-->
]]>
</code>
</example>