<example>
    <code>
        <![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <!-- Compare file time -->
    <echo file="testfile1.txt" message="test file 1"/>
    <property name='t1' value="@{FileGetLastWriteTime('testfile1.txt')}" />
    <echo message="LastWriteTime of testfile1.txt = ${t1}"/>
    <sleep milliseconds="1000"/>
    <echo file="testfile2.txt" message="test file 2"/>
    <property name='t2' value="@{FileGetLastWriteTime('testfile2.txt')}" />
    <echo message="LastWriteTime of testfile2.txt = ${t2}"/>
    <echo message="DateTimeCompare result = @{DateTimeCompare('${t1}', '${t2}')}"/>

    <!-- Example Output
          [echo] LastWriteTime of testfile1.txt = 1/29/2015 3:20:34 PM
          [sleep] Sleeping for 1000 milliseconds
          [echo] LastWriteTime of testfile2.txt = 1/29/2015 3:20:35 PM
          [echo] DateTimeCompare result = -1
    -->


    <!-- Hard coding input time in specific format -->
    <property name="t1De" value="29.01.2015 09:00:00"/>
    <echo message="t1De = ${t1De}"/>
    <!-- Need to convert that to local OS format first and save to property t1 -->
    <script language="C#" compile="true">
        <code>
            <![CDATA[
                public static void ScriptMain(Project project)
                {
                    string deDateTimeStr = project.Properties["t1De"];
                    DateTime localCultureDateTime = DateTime.Parse(deDateTimeStr, new System.Globalization.CultureInfo("de-DE", true));
                    project.Properties.Add("t1", localCultureDateTime.ToString() );
                }
            ] ]>
        </code>
    </script>
    <echo message="t1 = ${t1}"/>
    <property name="t2" value="@{DateTimeNow()}"/>
    <echo message="t2 = ${t2}"/>
    <echo message="DateTimeCompare result = @{DateTimeCompare('${t1}', '${t2}')}"/>

    <!-- Example Output
          [echo] t1De = 29.01.2015 09:00:00
          [echo] t1 = 1/29/2015 9:00:00 AM
          [echo] t2 = 1/29/2015 2:51:55 PM
          [echo] DateTimeCompare result = -1
    -->


    <!-- Making sure that your input format is universal (ie ISO 8601) -->
    <property name="t1" value="2015-01-29T15:00:00"/>
    <echo message="t1 = ${t1}"/>
    <property name="t2" value="@{DateTimeNow()}"/>
    <echo message="t2 = ${t2}"/>
    <echo message="DateTimeCompare result = @{DateTimeCompare('${t1}', '${t2}')}"/>

    <!-- Example Output
          [echo] t1 = 2015-01-29T15:00:00
          [echo] t2 = 1/29/2015 2:51:55 PM
          [echo] DateTimeCompare result = 1
    -->

</project>
]]>
</code>
</example>