<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <mkdir dir="foo" />
    <echo message="@{DirectoryGetLastWriteTime('foo', 'dd MMM yyyy')}"/>
    <echo message="@{DirectoryGetLastWriteTime('foo', 'yyyyMMdd')}"/>
    <echo message="@{DirectoryGetLastWriteTime('foo', 'HHmm')}"/>
</project>
]]>
</code>
</example>