<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <mkdir dir='foo' />
    <fail unless="@{DirectoryIsEmpty('foo')}" 
          message='Directory should have been empty' />
</project>
]]>
</code>
</example>