<div class="origin-store-pdp-access-nonvaultupsell">

    <div ng-show="showNonSubscriberUpsell() || showAlternateVaultEditionUpsell() || showOthSubscriptionsUpsell() || showSubscriberUpsell() || showSubscriberUpgradeArea()" class="origin-store-pdp-access-nonvaultupsell-logo">
        <div class="origin-access-logo">
            <i class="otkicon otkicon-originlogo"></i>
            <i class="otkicon otkicon-origintext"></i>
            <i class="otkicon otkicon-accesstext"></i>
        </div>
    </div>

    <!-- non subscriber upsell -->
    <div ng-if="showNonSubscriberUpsell()">
        <h6 class="otkc origin-store-pdp-access-nonvaultupsell-header" ng-bind-html="nonVaultUpsellStrings.nonvaultUpsellHeader"></h6>
        <ul class="otkc origin-store-pdp-access-nonvaultupsell-list">
            <!-- before trial launch -->
            <li ng-if="!hasManualOverrides() && earlyAccessTrialModel && !isEarlyAccessTrialReleased()" class="origin-store-pdp-access-nonvaultupsell-list-item" ng-bind-html="nonVaultUpsellStrings.nonvaultTrialUpsellBefore"></li>
            <!-- between trial and game launch -->
            <li ng-if="!hasManualOverrides() && earlyAccessTrialModel && isEarlyAccessTrialReleased() && !isReleased()" class="origin-store-pdp-access-nonvaultupsell-list-item" ng-bind-html="nonVaultUpsellStrings.nonvaultTrialUpsellMiddle"></li>
            <!-- after game launch -->
            <li ng-if="!hasManualOverrides() && earlyAccessTrialModel && isEarlyAccessTrialReleased() && isReleased()" class="origin-store-pdp-access-nonvaultupsell-list-item" ng-bind-html="nonVaultUpsellStrings.nonvaultTrialUpsellAfter"></li>
            <!-- discount messaging -->
            <li ng-if="model.hasSubsDiscount && !hasManualOverrides()" class="origin-store-pdp-access-nonvaultupsell-list-item" ng-bind-html="nonVaultUpsellStrings.nonvaultDiscountUpsell"></li>
            <!-- manual overrides -->
            <li ng-if="manualTrialOverride" class="origin-store-pdp-access-nonvaultupsell-list-item" ng-bind-html="nonVaultUpsellStrings.manualTrialOverride"></li>
            <li ng-if="manualDiscountOverride" class="origin-store-pdp-access-nonvaultupsell-list-item" ng-bind-html="nonVaultUpsellStrings.manualDiscountOverride"></li>
        </ul>
        <a ng-href="{{::accessLandingUrl}}" class="otka otkc" ng-click="goToOriginAccessLandingPage($event)">{{ ::nonVaultUpsellStrings.nonvaultupsellLearnMore }}</a>
    </div>

    <!-- Nonsubscriber / Alt Edition In Vault -->
    <div ng-show="showAlternateVaultEditionUpsell()">
        <h6 class="otkc origin-store-pdp-access-nonvaultupsell-header" ng-bind-html="nonVaultUpsellStrings.nonsubscriberAlternateEditionInVaultHeader"></h6>

        <p class="otkc" ng-bind-html="nonVaultUpsellStrings.nonsubscriberAlternateEditionInVaultText"></p>

        <a ng-href="{{::accessLandingUrl}}" class="otka otkc" ng-click="goToOriginAccessLandingPage($event)">{{ ::nonVaultUpsellStrings.nonvaultupsellLearnMore }}</a>
    </div>

    <!-- Nonsubscriber / Current Edition On The House -->
    <div ng-show="showOthSubscriptionsUpsell()">
        <h6 class="otkc origin-store-pdp-access-nonvaultupsell-header" ng-bind-html="::nonVaultUpsellStrings.vaultGameOthHeader"></h6>

        <p class="otkc" ng-bind-html="::nonVaultUpsellStrings.vaultGameOthText"></p>

        <a ng-href="{{::accessLandingUrl}}" class="otka otkc" ng-click="goToOriginAccessLandingPage($event)">{{ ::nonVaultUpsellStrings.nonvaultupsellLearnMore }}</a>
    </div>

    <!-- subscriber upsell -->
    <div ng-if="showSubscriberUpsell()">
        <!-- manual override -->
        <p ng-if="manualSubscriberTrialOverride" class="otkc" ng-bind-html="::nonVaultUpsellStrings.manualSubscriberTrialOverride"></p>

        <!-- before trial release / before game release / no override -->
        <p ng-if="!isEarlyAccessTrialReleased() && !isReleased() && !manualSubscriberTrialOverride" class="otkc" ng-bind-html="::nonVaultUpsellStrings.nonVaultGameEarlyTrialNotReleased"></p>

        <!-- after trial release / before game release / no override -->
        <p ng-if="isEarlyAccessTrialReleased() && !isReleased() && !manualSubscriberTrialOverride" class="otkc" ng-bind-html="::nonVaultUpsellStrings.nonVaultGameEarlyTrialReleased"></p>

        <!-- after trial release / after game release / trial not started / no override -->
        <p ng-if="isEarlyAccessTrialReleased() && isReleased() && !isTrialStarted() && !manualSubscriberTrialOverride" class="otkc" ng-bind-html="::nonVaultUpsellStrings.nonVaultGameEarlyTrialAndGameReleased"></p>

        <!-- after trial release / trial started / trial not expired yet / no override -->
        <p ng-if="isEarlyAccessTrialReleased() && isTrialStarted() && !isTrialExpired() && !manualSubscriberTrialOverride" class="otkc" ng-bind-html="notExpiredEarlyAccessTrialMessage()"></p>

        <!-- before game release / expried trial -->
        <p ng-if="!isReleased() && isTrialExpired() && !manualSubscriberTrialOverride" class="otkc" ng-bind-html="::nonVaultUpsellStrings.expiredEarlyAccessTrialGamePreOrdered"></p>

        <!-- after game release / expried trial -->
        <p ng-if="isReleased() && isTrialExpired() && !manualSubscriberTrialOverride" class="otkc" ng-bind-html="::nonVaultUpsellStrings.expiredEarlyAccessTrialGameNotPreOrdered"></p>

        <!-- button states -->
        <a ng-href="{{::accessTrialUrl}}" class="otka origin-store-pdp-access-nonvaultupsell-learnmore" ng-if="!isTrialExpired()" ng-click="goToOriginAccessTrialsPage($event)">
            {{ ::nonVaultUpsellStrings.seeDetails }}
        </a>

        <!-- get trial button -->
        <origin-cta-directacquisition
            ng-if="isEarlyAccessTrialReleased() && !earlyAccessTrialModel.isOwned"
            description="{{ download }}"
            type="transparent"
            offer-id="{{ earlyAccessTrialModel.offerId }}">
        </origin-cta-directacquisition>

        <!-- play trial button -->
        <origin-cta-downloadinstallplay
            ng-if="isEarlyAccessTrialReleased() && earlyAccessTrialModel.isOwned && !isTrialExpired()"
            offerid="{{ earlyAccessTrialModel.offerId }}"
            type="transparent">
        </origin-cta-downloadinstallplay>
    </div>

    <!-- subscriber upgrade -->
    <div ng-if="showSubscriberUpgradeArea()">
        <h6 class="otkc origin-store-pdp-access-nonvaultupsell-header" ng-bind-html="nonVaultUpsellStrings.subscriberVaultUpgradeGameHeader"></h6>

        <origin-cta-directacquisition
            description="{{ upgradeNow }}"
            type="link"
            offer-id="{{ vaultEdition.offerId }}"
            is-vault="{{ vaultEdition.subscriptionAvailable }}">
        </origin-cta-directacquisition>
    </div>
</div>
