<div class="origin-store-pdp-access-vaultupsell origin-tealium-store-pdp-access-vaultupsell" ng-show="model.subscriptionAvailable || showSubscriberAquisitionArea() || showPlayAction() || showUpgradeToVaultEdition()">
    <div ng-show="showSubscriptionUpsellArea()">

        <a ng-href="{{::accessLandingUrl}}" ng-click="goToAccessLandingPage($event)" class="otkbtn otkbtn-primary origin-pdp-cta origin-tealium-pdp-cta" ng-bind-html="vaultupsellStrings.playForZeroWith"></a>

        <div ng-show="!ownsLesserEdition()">
            <h6 class="otkc origin-store-pdp-access-vaultupsell-header" ng-bind-html="vaultupsellStrings.vaultupsellHeader"></h6>

            <ul class="otkc origin-store-pdp-access-vaultupsell-list">
                <li class="origin-store-pdp-access-vaultupsell-list-item" ng-bind-html="vaultupsellStrings.vaultupsellPointOne"></li>
                <li class="origin-store-pdp-access-vaultupsell-list-item" ng-bind-html="vaultupsellStrings.vaultupsellPointTwo"></li>
            </ul>

            <a ng-href="{{::accessLandingUrl}}" ng-click="goToAccessLandingPage($event)" class="otka otkc">{{ vaultupsellStrings.vaultupsellLearnMore }}</a>
        </div>
    </div>

    <div ng-if="showPlayAction()" class="origin-store-pdp-access-vaultupsell-play-cta">
        <origin-cta-downloadinstallplay
            offerid="{{ model.ogdOfferId }}"
            type="primary">
        </origin-cta-downloadinstallplay>
    </div>

    <!-- subscriber acquisition -->
    <div ng-if="showSubscriberAquisitionArea()">
        <div ng-show="showSubscriberAquisitionArea()" class="origin-store-pdp-access-vaultupsell-logo">
            <div class="origin-access-logo">
                <i class="otkicon otkicon-originlogo"></i>
                <i class="otkicon otkicon-origintext"></i>
                <i class="otkicon otkicon-accesstext"></i>
            </div>
        </div>
        <h6 class="otkc origin-store-pdp-access-nonvaultupsell-header" ng-bind-html="vaultupsellStrings.subscriberVaultGameHeader"></h6>

        <a ng-href="{{::vaultPdpUrl}}" class="otka origin-store-pdp-access-nonvaultupsell-get" ng-click="goToVaultPdp()" ng-bind-html="vaultupsellStrings.getItNow"></a>
    </div>

    <div ng-if="showAddToLibraryCta() && vaultupsellStrings" class="origin-store-pdp-access-vaultupsell-cta">
        <origin-cta-directacquisition
            description="{{ ::vaultupsellStrings.addToMyGames }}"
            type="primary"
            offer-id="{{ vaultEdition.offerId }}"
            is-vault="{{ vaultEdition.subscriptionAvailable }}">
        </origin-cta-directacquisition>
    </div>

    <div ng-if="showUpgradeToVaultEdition() && vaultupsellStrings" class="origin-store-pdp-access-vaultupsell-cta">
        <origin-cta-directacquisition
            description="{{ ::vaultupsellStrings.upgrade }}"
            type="primary"
            offer-id="{{ vaultEdition.offerId }}"
            is-vault="{{ vaultEdition.subscriptionAvailable }}">
        </origin-cta-directacquisition>
    </div>

    <div class="origin-pdp-cta-divider" ng-if="showSubscriptionUpsellArea() || showSubscriberAquisitionArea() && vaultupsellStrings">
        <span class="origin-pdp-cta-divider-line"></span>
        <span class="otktitle-5 otktitle-5-caps origin-pdp-cta-divider-text" ng-bind-html="::vaultupsellStrings.orText"></span>
        <span class="origin-pdp-cta-divider-line"></span>
    </div>
</div>
