<example>
<para>Delete a directory and the contents within.  If the directory does not 
exist the task will fail.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <mkdir dir="c:\bar69"/>
    <touch file="c:\bar69\one.txt"/>
    <touch file="c:\bar69\two.txt"/>
    <delete dir="c:\bar69" failonmissing="true"/>
    <fail if="@{DirectoryExists('c:\bar69')}"/>
</project>
]]>
</code>
</example>
