//
// Home Friend Recommendation Tile
// --------------------------------------------------
@origin-friendtile-icon-size: 30px;
@origin-friendtile-icon-margin: 14px;
@origin-friendtile-icon-margin-bottom: -3px;

.origin-friendtile {
    .animation(originTileAppear 1.1s cubic-bezier(0.03, 1, 0.2, 1) 0s 1 normal);
}

.origin-friendtile .origin-tile-overlay:hover {
    // One day these should be global for all origin-tiles
    cursor: pointer;
}

.origin-friendtile-isnewfriend {
    .animation(originTileRemove 1.1s cubic-bezier(0.03, 1, 0.2, 1) 0s 1 normal);
}

// Images
// -------------------------

.origin-friendtile-wrapper {
    position: absolute;
    left: 50%;
    width: 1000px;
    height: 250px;
    opacity: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    .horizontal-center();
    .animation(originFadeIn 0.5s ease-in-out 1 forwards);
}

.origin-friendtile-bgscrim {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: fade(@color-darknavy, 45%);
    z-index: 1;
}

.origin-friendtile-bgimage {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    .blur(15px);
}

.origin-friendtile-image {
    width: 160px;
    .border-radius(80px);
    margin: -80px 0 0 -80px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
}

// Users Origin ID
// -------------------------

.origin-friendtile-originId {
    color: @color-black;
    &:hover {
        /*text-decoration: underline;*/
        .underline(@color-black, 18px);
    }
}

.origin-friendtile-text {
    margin-top: 0;
    color: @color-mediumnavy;
    .text-overflow();
}

// Confirmation Icons
// -------------------------

.origin-friendtile-confirm {
    .animation(originFriendPopin 0.9s cubic-bezier(0.03, 1, 0.2, 1) 0s 1 normal);
}

.origin-tile .origin-friendtile-confirm-visible {
    display: block;
    opacity: 1;
}

.origin-friendtile-iconperson {
    color: @color-white;
    font-size: 40px;
    margin-right: -@origin-friendtile-icon-margin;
}

.origin-friendtile-iconcheck {
    color: @color-green;
    font-size: 45px;
}

.origin-friendtile-requestsent {
    color: @color-white;
    font-weight: @weight-normal;
}

a.origin-friendtile-dismisscta {
    display: inline-block;
    padding: 0px 12px 12px 12px;
}


.origin-game-friendsplayingicon {
    .box-sizing(border-box);
    margin-right: @origin-friendtile-icon-margin;
    color: @color-lightblue;
    line-height: @origin-friendtile-icon-size;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: @origin-friendtile-icon-margin-bottom;
}

.origin-game-friendsplayingicon::after {
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
    content: "";
    width: @origin-friendtile-icon-size;
    height: @origin-friendtile-icon-size;
    line-height: @origin-friendtile-icon-size;
    .box-sizing(border-box);
    border: 2px solid @color-lightblue;
    .border-radius(50%);
    .animation(avatarInGamePulse 2s ease 0s infinite);
}

.origin-home-discovery-tile-ugfriendsplaying{
    .origin-tile-image{
        width: 1000px;

        &.origin-tile-image-packart {
            width: 100%;
        }
    }

    .origin-game-friendsplayingtext-wrapper {
        position: relative;

        .origin-game-friendsplayingtext {
            position: absolute;
            top: 5px;
        }
    }
}

origin-home-discovery-tile-recfriends {
    width: 100%;
}
