//
// Home Getting Started Tile
// --------------------------------------------------

.origin-home-get-started-area {

    .l-origin-home-getstarted {
        .display-flex();
        .flex-wrap(wrap);
        .justify-content(center);
    }

    .origin-getstarted-tile-container {
        .display-flex();
    }

    .origin-getstarted-tile {
        overflow: hidden;
        position: relative;
        vertical-align: top;
        box-sizing: border-box;
        padding-top: 250px;
        .flex-grow(0);

        .origin-getstarted-tile-cta-area {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 250px;
            text-align: center;
            background: fade(@color-black, 90%);
            .transition(opacity 0.3s ease-in-out);
            opacity: 0;
        }

        .origin-getstarted-msg-text {
            text-align: left;
        }

        .origin-getstarted-tile-cta-confirmation,
        .origin-getstarted-tile-cta-controls {
            position: absolute;
            left: 0;
            right: 0;
            top: 70px;
            bottom: auto;

            .getstarted-btn-primary {
                margin-bottom: 20px;

                .getstarted-learnmore {
                    margin-left: 6px;
                    font-size: 24px;
                    margin-top: -8px;
                    margin-bottom: -8px;
                    position: relative;
                    top: 4px;
                }
            }

            .getstarted-a {
                color: @color-lightnavy;
                .transition(color @timing-simple-animate);
                &:hover {
                    color: @color-lightgray;
                    .underline(@color-lightgray, 18px);
                }
            }

            .getstarted-email {
                color: @color-white;
                font-size: 40px;
                border-radius: 100px;
                text-align: center;
                text-indent: 0px;
                margin: -10px;
            }

            .getstarted-check {
                color: @color-limegreen;
                font-size: 45px;
            }

            p {
                color: @color-white;
            }
        }

        .origin-getstarted-tile-cta-confirmation {
            display: none;
        }

        .origin-getstarted-tile-cta-controls {
            display: block;
        }

        img {
            position: absolute;
            width: 1000px;
            top: 0;
            left: 50%;
            margin-left: -500px;
        }

        // Show the CTA controls on hover
        &:hover {
            .origin-getstarted-tile-cta-area {
                opacity: 1;
            }
        }

        // Show confirmation
        &.confirmed {
            .origin-getstarted-tile-cta-area {
                opacity: 1;
                .origin-getstarted-tile-cta-confirmation {
                    display: block;
                }
                .origin-getstarted-tile-cta-controls {
                    display: none;
                }
            }
        }
    }
}
