// Sections Variables
// --------------------------------------------------
@home-section-padding-top: 40px;
@home-section-padding-bottom: 8px;
@home-section-title-margin-bottom: 30px;
@home-section-subtitle-margin-top: 4px;

// Tiles Variables
// --------------------------------------------------
@home-tile-padding-top: 40px;
@home-tile-margin-bottom: 36px;
@profile-page-tile-friends: 16px;