//
// Home Recommendation Tiles
// --------------------------------------------------


.l-origin-home-recommended {
    min-height: 400px;
}

.otktitle-3.origin-home-recommended-header {
    text-align: center;
    width: 100%;
    color: @color-darknavy;
}

h2.otktitle-3.origin-home-recommended-header:hover {
    transition: none;
    color: @color-darknavy;
}

.otktitle-4.origin-home-recommended-subtitle {
    text-align: center;
    width: 100%;
    color: @color-darknavy;
    margin-top: @home-section-subtitle-margin-top;
}

.origin-home-recommended-tile {
    margin-top: @home-section-title-margin-bottom;
}

.origin-home-recommended-violator .origin-ogd-message-title-content {
    color: @color-mediumnavy;
}

.origin-home-recommended-violator .origin-ogd-message{
    justify-content:flex-start;
}