//
// Home Sections
// --------------------------------------------------

.origin-home {
    background: @color-lightgray;

    .media-max-width(@global-width-small, {
        margin-top: -7px; // minor adjustment to become pixel perfect with prototype
    });

    .media-min-width(@global-width-small, {
        padding-top: 5px; // minor adjustment to become pixel perfect with prototype
    });
}

// Origin home sections
// -------------------------

.origin-home-section {
    position: relative;
    padding-top: @home-section-padding-top;
    padding-bottom: @home-section-padding-bottom;
    min-height: @home-tile-minheight;
    #gradient.home();
    opacity: 1.0;
    .transition(opacity @timing-simple-animate);
}

.origin-home-section-condensed {
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
}

// loading state
.origin-home-section-isloading {
    .loading();
    opacity: 0.6;
}

.origin-home-section-title {
    text-align: center;
    color: @color-darknavy;
}

.origin-home-section-subtitle {
    text-align: center;
    width: 100%;
    color: @color-darknavy;
    margin-top: @home-section-subtitle-margin-top;
}


// Layout for the view more
// -------------------------

.l-origin-home-section-more {
    padding: 9px 0 35px 0;
    text-align: center;
    width: 100%;
}

.origin-home-section-more-isloading {
    position:relative;
    .loading();
    > .otkbtn {
        opacity: 0;
    }
}