//
// origin store - paragraph
// ======================================

.l-origin-store-row > .otktitle-page,
.l-origin-store-row > .otktitle-2,
.l-origin-store-row > .otktitle-3,
.l-origin-store-row > .otktitle-4,
.l-origin-store-row > .otktitle-5,
.l-origin-store-row > .otktitle-6,
.l-origin-store-row > .otkc,
.l-origin-store-row > .otkc-small {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 100%;

  @media screen {
    @media (min-width: 1000px) and (max-width: 1199px) {
      margin-left: 4%;
      margin-right: 4%;
    }
  }
}

.origin-store-paragraph-pagetitle {
  position: relative;
  border-bottom: 1px solid @color-lightnavy;
  >.origin-socialmedia {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}