<div class='origin-hometile origin-friendtile'>
    <div class='origin-hometile-container'>
        <div class='origin-hometile-image'>
            <img ng-src='{{image}}' class='origin-friendtile-bgimage' alt='' >
            <img ng-src='{{image}}' class='origin-friendtile-image' alt='' >
        </div>
        <div class='origin-hometile-overlay'>
            <div class='origin-hometile-overlay-content' ng-hide="friendRequestSent || noMoreFriends">
                <a class='otkbtn otkbtn-primary' href='javascript:void(0)' ng-click='addFriend()'>{{addFriendString}}</a>
                <a href='javascript:void(0)' class="origin-hometile-secondarycta" ng-click='dismiss()'>{{dismissString}}</a>
            </div>
            <div class='origin-hometile-overlay-content origin-friendtile-confirm' ng-show="friendRequestSent && !noMoreFriends">
                <i class='otkicon otkicon-person origin-friendtile-iconperson'></i>
                <i class='otkicon otkicon-check origin-friendtile-iconcheck'></i>
                <div class='otktitle-4 origin-friendtile-requestsent'>{{requestSentString}}</div>
            </div>
            <div class='origin-hometile-overlay-content' ng-show="noMoreFriends">
                <origin-cta-loadurlinternal offerid='{{::offerId}}' description='{{viewListButtonString}}' href='http://internal-route-to-friendslist' type='primary'></origin-cta-loadurlinternal>
            </div>
        </div>
    </div>
    <div class='origin-hometile-support-text'>
        <h3 ng-hide="noMoreFriends">
            <a href='#/profile' class='otka otkc origin-friendtile-originId'>
                <strong>{{originId}}</strong>
            </a>
        </h3>
        <p class='otkc origin-friendtile-text'>{{descriptionString}}</p>
    </div>
</div>