<style>
    input[readonly], textarea[readonly] {
        background-color: #eee;
    } 
    .treeview {
        width: auto;
        height: 100%;
        float: left;
        padding-top: 10px;
        padding-right: 50px;
    }
    .treeview ul {
        padding-left: 10px;
    }
    .treeview li {
        list-style: none;
    }
    .pane {
        float: left;
        width: 70%;
    }
    .pane textarea {
        width: 100%;
        height: 200px;
    }
    .pane div {
        margin: 20px 0px;
    }
    .input-table {
        width: 100%;
    }
    
    .item-table {
        border-collapse: collapse;
        width: 100%;
    }

    .item-table td, .item-table th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: left;
    }    
</style>
<div style="padding: 30px 30px;">
    <h1 class="otktitle-page">Telemetry Test Page</h1>
    <hr>
    <div class="treeview">
        <ul>
            <li>PIN Events</li>
            <ul ng-repeat="n in pinEvents">
                <li><a class="otka" href="javascript:void(0)" ng-click="selectExample(n)">{{n.name}}</a></li>
            </ul>
        <ul>
    </div>
    <div class="pane">
        <div><h1 class="otktitle-2">Telemetry Info</h1><div>
        <div><h1 class="otktitle-3">{{currentExample.comment}}</h1><div>
        <div class="otkc">
            <p>Javascript Code:</p>
            <code>{{executeCmd}}</code>
        </div>
        <div class="otkc">
            Origin.telemetry.{{currentExample.jsFunc.name}}(
        </div>
        <div class="otkc">
            <table class="input-table">
                <tr ng-repeat="arg in currentExample.jsArgs">
                    <td width="100px">{{arg.name}}:</td>
                    <td ng-if="arg.type == 'select'" class="otkselect">
                        <select ng-model="currentExample.jsParams[$index]">
                            <option ng-repeat="value in arg.values" value="{{value}}">{{value}}</option>
                        </select>
                        <span class="otkselect-label">{{currentExample.jsParams[$index]}}</span>
                    </td>
                    <td ng-if="arg.type == 'text'" class="otkinput">
                        <input type="text" class="" ng-model="currentExample.jsParams[$index]" placeholder="{{arg.placeholder || ''}}"></input>
                    </td>
                    <td ng-if="arg.type == 'json'" class="otktextarea">
                        <textarea class="" ng-model="currentExample.jsParams[$index]" placeholder="{{arg.placeholder || ''}}"></textarea>
                    </td>
                    <td ng-if="arg.type == 'const'" class="otkinput">
                        <input type="text" value="{{arg.values}}" readonly></input>
                    </td>
                    <td ng-if="arg.type == 'array'">
                        <table class="item-table" ng-init="arrayIndex = $index">
                            <tr>
                                <th ng-repeat="key in arg.keys">{{key.name}}</th>
                                <th>Remove</th>
                            </tr>
                            <tr ng-repeat="value in currentExample.jsParams[arrayIndex]">
                                <td ng-repeat="key in arg.keys">{{ value[key.key] }}</td>
                                <td><a class="otkbtn otkbtn-dark otkbtn-icon otkicon-close" ng-click="removeItem(arrayIndex, $index)"></a></td>
                            </tr>
                        </table>
                        <div>
                            <table class="input-table">
                                <tr ng-repeat="arg in arg.keys">
                                    <td>{{arg.name}}:</td>
                                    <td ng-if="arg.type == 'text'" class="otkinput">
                                        <input type="text" ng-model="newItem[arg.name]" class="" placeholder="{{arg.placeholder || ''}}" required></input>
                                    </td>
                                    <td ng-if="arg.type == 'select'" class="otkselect">
                                        <select ng-model="newItem[arg.name]" required>
                                            <option ng-repeat="value in arg.values" value="{{value}}">{{value}}</option>
                                        </select>
                                        <span class="otkselect-label">{{newItem[arg.name]}}</span>
                                    </td>
                                </tr>
                            </table>
                            <button class="otkbtn otkbtn-next" ng-click="addItem($index, newItem)">Add Item</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="otkc">
            )
        </div>
        <div>
            <button class="otkbtn otkbtn-primary" ng-click="execute(currentExample)">Execute</button>
        </div>
    </div>
</div>