<div ng-if="isVisible()">
    <div>
        <origin-store-pdp-savings
            ng-if="isPrimarySavingsAction()"
            savings="{{ strings.saveText }}"
            strike-price="{{ model.strikePrice | currency }}">
        </origin-store-pdp-savings>
        <a href="javascript:void(0)" ng-click="startPrimaryActionFlow()" class="otkbtn otkbtn-primary origin-pdp-cta" ng-class="{'otkbtn-disabled': isPrimaryActionDisabled()}" ng-bind-html="getPrimaryCtaMessage()"></a>
    </div>

    <div class="origin-pdp-cta-divider" ng-if="hasAlternativeAction()">
        <span class="origin-pdp-cta-divider-line"></span>
        <span class="otktitle-5 otktitle-5-caps origin-pdp-cta-divider-text">{{ ::strings.orText }}</span>
        <span class="origin-pdp-cta-divider-line"></span>
    </div>

    <div ng-if="hasAlternativeAction()">
        <origin-store-pdp-savings
            ng-if="model.savings"
            savings="{{ strings.saveText }}"
            strike-price="{{ model.strikePrice | currency }}">
        </origin-store-pdp-savings>
        <a href="javascript:void(0)" ng-click="startSecondaryActionFlow()" class="otkbtn otkbtn-transparent origin-pdp-cta">
            {{ getAlternativeCtaMessage() }}
        </a>
    </div>
</div>
