<div class="store-pdp-nav">
    <div class="store-pdp-nav-bar" ng-class="{'store-pdp-nav-bar-pinned' : pinned}">
        <div class="store-pdp-nav-mini-poster"
            ng-class="{'store-pdp-nav-mini-poster-pinned': pinned}"
            ng-click="reset()">
            <img ng-src="{{ model.packArt || packArtDefault }}">
        </div>
        <div class='l-pills-pdp' ng-class="{'l-pills-pdp-ispinned': pinned}">
            <origin-pills theme='light' nav-items='items' nav-click='navClick' selected-index='activeItemIndex'></origin-pills>
        </div>
    </div>
</div>