<!-- Overview -->
<div class="l-origin-store-column-full">
    <div class="origin-store-pdp-overview">
        <ul class="origin-store-pdp-overview-list">
            <origin-store-pdp-overview-item title="Genre" message="{{ model.genre }}"></origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title="Release Date" message="{{ model.releaseDate | formatDate:'LL' }}"></origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title="Rating" message="{{ model.gameRatingTypeValue }}"></origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title="Publisher" message="{{ model.publisher }}"></origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title="Developer" message="{{ model.developer }}"></origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title="Supported Languages" message="{{ model.supportedLanguages }}"></origin-store-pdp-overview-item>
            <origin-store-pdp-overview-item title="Game Links" message="{{ model.links }}"></origin-store-pdp-overview-item>
        </ul>
    </div>
</div>
