body {
    background: @color-lightgray;
    margin:0;
    padding:0;
}

.origin-content {
    margin-left: @nav-width;
    padding: 62px 0 0 0;
    .transition(all 0.3s ease-out);
    @media screen {
        @media (max-width: @width-mobile) {
            margin-left: 0;
        }
        @media (min-width: @width-large-desktop) {
            margin-left: @nav-width;
        }
    }
    &:after {
        content: '';
        position: fixed;
        display: inline-block;
        top: 50%;
        left: 50%;
        margin-left: ((@nav-width/2) - (@spinner-size/2));
        margin-top: (-1 * (@spinner-size/2));
        width: @spinner-size;
        height: @spinner-size;
        background: url(/images/loader.png) no-repeat 0 0;
        .animation(otkrotate .7s linear 0 infinite normal);
        opacity: 1.0;
        .transition(opacity 0.3s ease-out);
        @media screen {
            @media (max-width: @width-mobile) {
                margin-left: (-1 * (@spinner-size/2));
            }
            @media (min-width: @width-large-desktop) {
                margin-left: ((@nav-width/2) - (@spinner-size/2));
            }
        }
    }
}

// when chat is docked, add padding
.origin-content-isdocked {
    @media screen {
        @media (min-width: @width-large-desktop) {
            padding-right: @social-roster-width;
        }
    }
}

.origin-content-isloaded {
    &:after {
        opacity: 0;
    }
}