<example>
<para>Set the normal file attributes to all executable files in the current 
directory and sub-directories.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <attrib normal="true">
        <fileset>
            <includes name="**/*.exe"/>
            <includes name="**/*.dll"/>
        </fileset>
    </attrib>
</project>
]]>
</code>
</example>
