<example>
<para>Clean any flags on the specified file.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <touch file="foo.txt"/>

    <!-- first let's add some attributes -->
    <attrib file="foo.txt" readonly="true" hidden="true"/>

    <!-- now let's clear them -->
    <attrib file="foo.txt" normal="true"/>
    <fail 
        message="'foo.txt' not set to readonly."
        if="@{FileCheckAttributes('foo.txt', 'ReadOnly Hidden')}"
        />
</project>
]]>
</code>
</example>
