<div class="origin-store-oth-card-container-wrapper" ng-class="::sizeClass" ng-show="::sizeClass">
    <div class="origin-store-oth-card-container">
        <div class="origin-store-oth-card">
            <origin-store-program-offer-oth
                display-name="{{::model.displayName}}"
                pack-art="{{::model.packArt}}"
                description="{{description}}"
                offer-id="{{::model.offerId}}"
                offer-description-title="{{offerDescriptionTitle}}"
                offer-description="{{offerDescription}}"
                oth="{{ ::model.oth }}"
                show-oth-link="false"
                on-click="goToPdp($event)"
                pdp-url="{{::getPdpUrl(model, true)}}"
            >
            </origin-store-program-offer-oth>
        </div>
    </div>
</div>
