<div class="origin-pdp-feature-hero">
    <div class="origin-pdp-feature-hero-text-wrapper" ng-class="{
            'origin-pdp-feature-text-left': isLeft,
            'origin-pdp-feature-text-right': isRight,
            'origin-pdp-feature-text-center': isCenter,
    }">
        <div class="origin-pdp-feature-hero-text" ng-class="{
            'origin-pdp-feature-text-dark': isDarkColor,
            'origin-pdp-feature-text-light': !isDarkColor,
            'origin-pdp-feature-slideUp': isTextInView,
            'origin-pdp-feature-hero-text-slide': tSlide
        }">
            <h2 class="otktitle-page" ng-bind-html="header"></h2>
            <p class="otktitle-3" ng-bind-html="text"></p>
            <div class="origin-pdp-feature-video-cta" ng-if="ctaType">
                <origin-cta-loadurlexternal
                    href="{{ ::ctaHref }}"
                    description="{{ ::ctaDescription }}"
                    type="{{ ::ctaType }}"
                    ng-if="isExternalCta">
                </origin-cta-loadurlexternal>
                <origin-cta-loadurlinternal
                    href="{{ ::ctaHref }}"
                    description="{{ ::ctaDescription }}"
                    type="{{ ::ctaType }}"
                    ng-if="!isExternalCta">
                </origin-cta-loadurlinternal>
            </div>
        </div>
    </div>
    <origin-background-video video-id="{{ ::video }}"></origin-background-video>
</div>
