<section class="origin-dialog-content-pp otkmodal-body origin-dialog-bundledlcpurchaseprevention">
    <h1 class="otktitle-2 origin-dialog-content-pp-title" ng-bind-html="strings.title"></h1>
    <h2 class="otktitle-3 origin-dialog-content-pp-text" ng-bind-html="strings.description"></h2>
    <ul class="dlc-list">
        <li ng-repeat="data in requiredBaseGameandDLC[0].dlc track by $index" >
            <p>{{ data.i18n.displayName }}</p>
        </li>
    </ul>
    <div class="origin-dialog-content-pp-action-container">
        <a href="javascript:void(0)" class="otkbtn otkbtn-light" ng-click="closeResponse()" ng-if="strings.btnCancel">{{ strings.btnCancel }}</a>
    </div>
</section>