<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2" ng-bind-html="setLanguageString"></h4>
</div>
<div class="otkmodal-body">
	<ul class='origin-cldialog-languages'>
		<li ng-repeat='language in ::languages' class='origin-cldialog-language'>
			<a href='javascript:void(0)' ng-click='setLocale(language.key)' class='otkc otka'>
				<img ng-src="{{::language.image}}" alt="{{::language.name}}" class='origin-cldialog-language-image'>
				<span class='origin-cldialog-language-name' ng-bind="::language.name"></span>
			</a>
		</li>
	</ul>
</div>
