 <div class="l-origin-checkoutusingbalance">
    <section class="origin-checkoutusingbalance-section" ng-class="{'origin-checkoutusingbalance-active-section': !purchaseSuccess}">
        <div class="otkmodal-header">
            <h4 class="otkmodal-title otktitle-2" ng-bind="::reviewOrderLoc"></h4>
        </div>
        <div class="otkmodal-body">
            <div class="origin-checkoutusingbalance-cart">
                <img class="origin-checkoutusingbalance-cart-item-image" ng-src="{{::model.packArt}}" alt="{{::model.displayName}}" ng-if="model.hasPackArt">
                <p class="origin-checkoutusingbalance-cart-item-desc origin-checkoutusingbalance-cart-item-desc-center otkc">{{::model.displayName}}</p>
                <p class="origin-checkoutusingbalance-cart-item-price otkc" ng-bind-html="priceLoc"></p>
            </div>
            <div class="origin-checkoutusingbalance-cart-current-balance">
                <p class="origin-checkoutusingbalance-cart-current-balance-label otktitle-4" ng-bind="::currentBalanceLoc"></p>
                <p class="origin-checkoutusingbalance-cart-current-balance-value otkc" ng-bind="::currentBalance"></p>
            </div>
            <div class="origin-checkoutusingbalance-cart-new-balance">
                <p class="origin-checkoutusingbalance-cart-new-balance-label otktitle-4" ng-bind="::newBalanceLoc"></p>
                <p class="origin-checkoutusingbalance-cart-new-balance-value otktitle-2" ng-bind="::newBalance"></p>
            </div>
        </div>
        <div class="origin-checkoutusingbalance-footer otkmodal-footer">
            <div class="origin-checkoutusingbalance-checkout-disclaimer otkc otkc-small" ng-bind-html="checkoutDisclaimerLoc"></div>
            <button class="otkbtn otkbtn-primary" ng-click="onPlaceOrder()" ng-bind="::placeOrderLoc"></button>
        </div>
    </section>
    <section class="origin-checkoutusingbalance-section" ng-class="{'origin-checkoutusingbalance-active-section': purchaseSuccess}">
        <div class="otkmodal-header">
            <h4 class="otkmodal-title otktitle-2" ng-bind="::thankYouLoc"></h4>
        </div>
        <div class="otkmodal-body">
            <a class="origin-checkoutusingbalance-order-history otkc otka" ng-click="onViewOrderHistory()" ng-bind="::orderHistoryLoc"></a>
            <div class="origin-checkoutusingbalance-order-number">
                <p class="origin-checkoutusingbalance-order-number-label otktitle-4" ng-bind="::orderNumberLoc"></p>
                <p class="origin-checkoutusingbalance-order-number-value otkc" ng-bind="::orderNumber"></p>
            </div>
            <div class="origin-checkoutusingbalance-total-price">
                <p class="origin-checkoutusingbalance-total-price-label otktitle-4" ng-bind="::totalLoc"></p>
                <p class="origin-checkoutusingbalance-total-price-value otktitle-2" ng-bind="::totalPriceLoc"></p>
            </div>
            <div class="origin-checkoutusingbalance-cart origin-checkoutusingbalance-order-summary">
                <img class="origin-checkoutusingbalance-cart-item-image" ng-src="{{::model.packArt}}" alt="{{::model.displayName}}" ng-if="model.hasPackArt">
                <p class="origin-checkoutusingbalance-cart-item-desc otkc" ng-class="{'origin-checkoutusingbalance-cart-item-desc-center': !model.downloadable}" ng-bind="::model.displayName"></p>
                <button class="otkbtn otkbtn-primary origin-checkoutusingbalance-download" ng-if="model.downloadable" ng-click="onDownloadWithOrigin()" ng-bind="::downloadWithOriginLoc"></button>
            </div>
        </div>
        <div class="origin-checkoutusingbalance-footer otkmodal-footer" ng-if="isOIGContext && !model.downloadable">
            <button class="otkbtn otkbtn-primary" ng-click="onBackToGame()" ng-bind="::backToGameLoc"></button>
        </div>
    </section>
</div>