<div class="otkmodal-header">
    <h2 class="otkmodal-title otktitle-2" ng-bind-html="strings.title"></h2>
</div>
<div class='otkmodal-body'>
    <div class="otkc"  ng-show="description" ng-bind-html="description" origin-dialog-content-linkreact></div>
    <ul class="origin-checkoutconfirmation-list" ng-show="offers">
    	<li ng-repeat="offer in offers">
    		<origin-checkoutconfirmation-item offer-id="{{offer}}" modal-id="{{ modalId }}" is-vault="{{isVault}}"></origin-checkoutconfirmation-item>
    	</li>
    </ul>
</div>