<section class="origin-dialog-content-pp otkmodal-body">
    <h1 class="otktitle-2 origin-dialog-content-pp-title" ng-bind-html="strings.title"></h1>
    <h2 class="otktitle-3 origin-dialog-content-pp-text" ng-bind-html="strings.description"></h2>
    <div class="origin-dialog-content-pp-action-container">
        <button class="otkbtn otkbtn-primary" ng-click="closeResponse(false)" ng-if="strings.btnClose" ng-bind="::strings.btnClose"></button>
        <button class="otkbtn otkbtn-primary" ng-click="closeResponse(true)" ng-if="strings.btnContinue" ng-bind="::strings.btnContinue"></button>
        <button class="otkbtn otkbtn-light" ng-click="closeResponse(false)" ng-if="strings.btnCancel" ng-bind="::strings.btnCancel"></button>
    </div>
</section>