<div class='otkmodal-body'>
    <div class="origin-cldialog-downloadinfo-warning" ng-show='insufficientspacetext'>
        <div class="origin-cldialog-downloadinfo-warning-icon"><i class="otkicon otkicon-warning"></i></div>
        <div class="origin-cldialog-downloadinfo-warning-text otkc"></div>
    </div>
    <div class='origin-cldialog-downloadinfo-table'>
        <div class='origin-cldialog-downloadinfo-cell otkc'>{{size1text}}</div>
        <div class='origin-cldialog-downloadinfo-cell otkc'>{{size1}}</div>
        <div class='origin-cldialog-downloadinfo-cell otkc'>{{size2text}}</div>
        <div class='origin-cldialog-downloadinfo-cell otkc'>{{size2}}</div>
    </div>
    <div class="downloadinfo-extracheckbuttons-list" ng-repeat='chkitem in extracheckbuttons track by $index'>
        <span class='downloadinfo-extracheckbuttons-list-checkbox otkcheckbox'>
            <input type='checkbox' ng-model='chkitem.checked' id='{{chkitem.id}}'>
            <label for='{{chkitem.id}}'>{{::chkitem.name}}</label>
            <a href="javascript:void(0)" class="downloadinfo-extracheckbuttons-list-checkbox-help" ng-show="chkitem.tooltip !== ''" origin-tooltip="{{chkitem.tooltip}}" origin-tooltip-placement="top">
                <i class="otkc bubble-tip otkicon otkicon-help" ></i>
            </a>
        </span>
    </div>
    <div class="otkc downloadinfo-extra-content" ng-show="extracontent.length">
        <p class="downloadinfo-extra-title">{{::extraContentText}}</p>
        <ul class="downloadinfo-extra-content-list">
            <li ng-repeat='pdlc in extracontent'>
                <span class='otkcheckbox'>
                    <input type='checkbox' ng-model='pdlc.checked' id='{{::pdlc.productId}}'>
                    <label class="downloadinfo-extra-content-name" for='{{::pdlc.productId}}'>{{::pdlc.displayName}}</label>
                </span>
                <div class="otkc-small downloadinfo-extra-content-desc">{{::pdlc.shortDescription}}</div>
            </li>
        </ul>
    </div>
</div>