<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2" ng-bind-html="::strings.titleStr"></h4>
</div>
<div class='otkmodal-body origin-dialog-featureintro'>
    <div class="origin-dialog-featureintro-content" ng-class="::{'origin-dialog-featureintro-content-fullwidth': !strings.imageUrl}" ng-bind-html="::strings.content"></div>
    <div class="origin-dialog-featureintro-image" ng-if="::strings.imageUrl"><img ng-src="{{::strings.imageUrl}}"></div>
</div>
<div class='otkmodal-footer dialog-content-prompt-section-footer'>
    <button class='otkbtn otkbtn-primary'  ng-click='onBtnClick()' ng-bind="::strings.btnText"></button>
</div>