<section ng-class="{'origin-gameproperties-header' : client.isOnline}">

    <div ng-show="!client.isOnline" class="otkc origin-gameproperties-advanced-offline">
        <i class="origin-gameproperties-warning otkicon otkicon-warning"></i>
        <span class="origin-gameproperties-advanced-warning-text"></span>
    </div>

    <div class="origin-gameproperties-launch" ng-show="advanced.multiLaunchOptions.length">
        <label for="origin-gameproperties-multilaunch-options" class="otklabel otktitle-4">{{::whenLaunchingLoc}}</label>
        <span class="otkselect">
                <select name="origin-gameproperties-multilaunch-options" ng-disabled="!client.isOnline" ng-model="advanced.selectedLaunchOption">
                    <option ng-repeat="value in advanced.multiLaunchOptions">{{value}}</option>
                </select>
                <span class="otkselect-label">{{advanced.selectedLaunchOption}}</span>
        </span>
    </div>

    <div class="origin-gameproperties-locales" ng-show="advanced.locales.length">
        <label for="origin-gameproperties-locale-options" class="otklabel otktitle-4">{{::availableLocalesLoc}}</label>
        <span class="otkselect">
            <select name="origin-gameproperties-locale-options" ng-disabled="!client.isOnline" ng-options="locale as locale.name for locale in advanced.locales" ng-model="advanced.selectedLocale"></select>
            <span class="otkselect-label">{{advanced.selectedLocale.name}}</span>
        </span>
    </div>


    <label>
        <span class="otktitle-4 otkinput-label">{{::commandLineLoc}}</span>
        <div class="otkinput">
            <input ng-disabled="!client.isOnline" type="text" ng-model="advanced.commandLineText">
        </div>
    </label>
</section>