<section ng-class="{'origin-gameproperties-header' : !general.isNOG && (general.installed || general.cloudSavesSupported)}">
    <label ng-if="general.isNOG">
        <span class="otktitle-4 otkinput-label" ng-bind="::gameNameLoc"></span>
        <div class="otkinput origin-gameproperties-gamename">
            <input maxlength="52" type="text" ng-model="general.gameTitle">
        </div>
    </label>

    <label ng-if="general.isNOG">
        <span class="otktitle-4 otkinput-label" ng-bind="::gameLocationLoc"></span>
        <div class="otkinput origin-gameproperties-gamelocation">
            <input disabled="disabled" type="text" ng-model="general.nogExecutablePath">
        </div>
    </label>

    <p class="otkc origin-gameproperties-gamemanual" ng-if="general.gameManualUrl.length && !general.isNOG"><a class="otka" ng-href="{{::getGameManualAbsoluteUrl()}}" ng-click="openGameManual($event)" ng-bind="::gameManualLoc"></a></p>
    <p ng-if="!general.isNOG" class="otkc origin-gameproperties-epilepsy"><a class="otka" ng-href="{{::getEpilepsyWarningAbsoluteUrl()}}" ng-click="openEpilepsyWarning($event)" ng-bind="::epilepsyWarningLoc"></a></p>
    <p ng-if="general.cdKey.length && !general.isNOG" class="otkc origin-gameproperties-cdkey"><span ng-bind="::cdKeyLoc"></span>&nbsp;<span ng-bind="general.cdKey"></span></p>

    <p ng-if="general.grantDate && !general.isNOG" class="otkc origin-gameproperties-dateadded"><span ng-bind="::dateAddedLoc"></span>&nbsp;<span ng-bind="formatDate(general.grantDate)"></span></p>

    <label ng-if="general.isNOG">
        <span class="otktitle-4 otkinput-label" ng-bind="::commandLineLoc"></span>
        <div class="otkinput">
            <input type="text" ng-model="general.commandLineText">
        </div>
    </label>

    <div class="origin-gameproperties-divider"></div>

    <span class="otkcheckbox">
        <input type="checkbox" value="" id="enable-OIG-input" ng-model="general.enableOig">
        <label for="enable-OIG-input" ng-bind="enableOIGGameLoc"></label>
    </span>    
</section>