<div class='origin-gameproperties-header'>
    <h1 class="otktitle-3" ng-bind="::cloudSavesTitleLoc"></h1>
    <p class="otkc" ng-bind="::cloudSavesDescLoc"></p>
    <div ng-show="!client.isOnline" class="otkc origin-gameproperties-offline">
        <i class="origin-gameproperties-warning otkicon otkicon-warning"></i>
        <span class="origin-gameproperties-cloudsaves-warning-text"></span>
    </div>
    <span class='origin-gameproperties-cloudsaves-checkbox otkcheckbox'>
        <input type='checkbox' id='enable-cloud-saves-checkbox' ng-disabled="!client.isOnline" ng-model='cloud.cloudSavesEnabled'>
        <label for='enable-cloud-saves-checkbox' ng-bind="::enableCloudSavesLoc"></label>
    </span>
    <div class="origin-gameproperties-cloudsaves-progress otkprogress otkprogress-block otkprogress-block-isactive">
        <div class="otkprogress-wrap">
            <div class="otkprogress-bar">
                <div class="otkprogress-value" ng-style="{'width': cloud.usagePercent}"></div>
            </div>
            <span class="origin-gameproperties-cloudsaves-progresslabel otktitle-5 otktitle-5-caps" ng-bind-html="cloud.usageDisplay"></span>
        </div>
    </div>

    <div class="origin-gameproperties-divider"></div>

    <h1 class="otktitle-3">{{::restoreLastSaveTitleLoc}}</h1>
    <p class="otkc">{{::restoreLastSaveDescLoc}}</p>
    <p class="otkc" ng-show="cloud.lastBackupDate != undefined && cloud.lastBackupValid">{{restoreDateLoc | replaceStr:'%date%':cloud.lastBackupDate}}</p>
    <button class="otkbtn otkbtn-light origin-gamepropertiescloudsaves-restore" ng-disabled="!cloud.lastBackupValid" ng-click="restoreSave()" ng-bind="::restoreLastSaveLoc"></button>
</div>