<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2">{{dlgTitle}}</h4>
</div>

<div class="otkmodal-body">
    <nav ng-if="!gameProperties.isNOG && (gameProperties.installed || gameProperties.cloudSavesSupported)" class="otknavbar origin-gameproperties-nav" role="navigation">
        <ul class="otknav otknav-pills">
            <li class="otkpill" ng-class="{'otkpill-active' : tab.isSet(0)}">
                <div ng-click="tab.setTab(0)"><span class="otktitle-4"><strong ng-bind-html="::generalLoc"></strong></span></div>
            </li>
            <li class="otkpill" ng-class="{'otkpill-active' : tab.isSet(1)}" ng-show="gameProperties.cloudSavesSupported">
                <div ng-click="tab.setTab(1)"><span class="otktitle-4"><strong ng-bind-html="::cloudSavesLoc"></strong></span></div>
            </li>
            <li class="otkpill" ng-class="{'otkpill-active' : tab.isSet(2)}" ng-show="gameProperties.installed">
                <div ng-click="tab.setTab(2)"><span class="otktitle-4"><strong ng-bind-html="::advancedLoc"></strong></span></div>
            </li>
        </ul>
        <!-- for a sliding nav, you need to update the width and then transform the location
        of the pills bar when you select a new tab.  Again this is component code to update
        the position and width of the bar -->
        <div class="otknav-pills-bar" style="width: 0; transform: translate3d(0px, 0px, 0px);"></div>
    </nav>
    <section class="origin-gameproperties-tabbedsection" ng-class="{'origin-gameproperties-activesection': tab.isSet(0)}">
            <origin-dialog-content-gamepropertiesgeneral offerid='{{offerId}}'></origin-dialog-content-gamepropertiesgeneral>
    </section>
    <section class="origin-gameproperties-tabbedsection" ng-class="{'origin-gameproperties-activesection': tab.isSet(1)}">
            <origin-dialog-content-gamepropertiescloudsaves offerid='{{offerId}}'></origin-dialog-content-gamepropertiescloudsaves>
    </section>
    <section class="origin-gameproperties-tabbedsection" ng-class="{'origin-gameproperties-activesection': tab.isSet(2)}">
            <origin-dialog-content-gamepropertiesadvanced offerid='{{offerId}}'></origin-dialog-content-gamepropertiesadvanced>
    </section>
</div>

<div class="otkmodal-footer">
    <button class="otkbtn otkbtn-primary" ng-click="save()" ng-bind="::saveLoc"></button>
    <button class="otkbtn otkbtn-light" ng-click="cancel()" ng-bind="::cancelLoc"></button>
</div>
