<div class='otkmodal-body'>
    <section class="dialog-content-inviteusers">

        <div ng-show="onlineCount.count !== 0 && rosterLoadStatus.friendCount > 0" class="dialog-content-with-friends">
            <div class="otkmodal-title-content">
                <p class="otkc" ng-bind-html="titleLoc"></p>
            </div>

            <div class="otkinput otkinput-filter">
                <i class="otkinput-clear otkicon otkicon-closecircle" ng-show="filterText.length" ng-click="clearFilter()"></i>
                <input type="text" value="" placeholder="{{filterPlaceholderLoc}}" ng-model="filterText">
            </div>

            <div ng-repeat="friend in rosterArray = (roster | toArray | orderBy: 'originId' | filter: filterByNameAndPlatform)">
                <origin-social-inviteusers-user user="friend"></origin-social-inviteusers-user>
            </div>
        </div>

        <div ng-show="onlineCount.count === 0 && rosterLoadStatus.friendCount > 0" class="dialog-content-friends-offline">
            <div class="otkmodal-title-content">
                <p class="otkc" ng-bind-html="friendsOfflineLoc"></p>
            </div>
        </div>

        <div ng-show="rosterLoadStatus.friendCount === 0" class="dialog-content-no-friends">
            <div class="otkmodal-title-content">
                <p class="otkc" ng-bind-html="noFriendsLoc"></p>
            </div>
        </div>

    </section>
</div>
