<div class='otkmodal-body'>
    <div class="origin-dialog-content-media-carousel origin-tealium-dialog-content-media-carousel" ng-class="{'media-type-video': isTypeVideo}">
        <div class="origin-dialog-content-media-carousel-prev origin-tealium-dialog-content-media-carousel-prev"  ng-click="previousMediaItem()">
            <i class="otkicon otkicon-leftarrowcircle origin-dialog-content-media-carousel-left origin-tealium-dialog-content-media-carousel-left"></i>
        </div>

        <div class="origin-dialog-content-media-carousel-next origin-tealium-dialog-content-media-carousel-next" ng-click="nextMediaItem()">
            <i class="otkicon otkicon-rightarrowcircle origin-dialog-content-media-carousel-right origin-tealium-dialog-content-media-carousel-right"></i>
        </div>

        <ul class="origin-dialog-content-media-carousel-list">
            <li ng-repeat="mediaItem in items track by $index" class="origin-dialog-content-media-carousel-item"
                ng-class="{'origin-dialog-content-media-carousel-item-prev': active > $index,
                            'origin-dialog-content-media-carousel-item-active': active == $index,
                            'origin-dialog-content-media-carousel-item-next': active < $index}">
                <img ng-if="::(mediaItem.type ==='image')" ng-src="{{::mediaItem.src}}" class="origin-dialog-content-media-carousel-image"/>
                <origin-store-carousel-media-youtubeitem ng-if="(mediaItem.type ==='video' && active === $index)" video-id="{{::mediaItem.videoId}}" mature-content="{{::mediaItem.matureContent}}"></origin-store-carousel-media-youtubeitem>
            </li>
        </ul>
    </div>
</div>
