<div class='otkmodal-header' ng-class="{'otkmodal-header-dark': blocking === 'true'}">
    <i class="otkmodal-icon otkicon otkicon-warning origin-dialog-header-icon" ng-if="blocking === 'true'"></i>
    <h4 class='otkmodal-title otktitle-2 origin-dialog-header' ng-bind-html='header'></h4>
</div>
<div class='otkmodal-body'>
    <div class='otkc'  ng-show='description'  ng-bind-html='description'  origin-dialog-content-linkreact></div>
    <div ng-transclude></div>
</div>
<div class='otkmodal-footer dialog-content-prompt-section-footer'>
    <button class='otkbtn otkmodal-btn-yes'  ng-disabled="!yesenabled || yesenabled === 'false'"  ng-show='yesbtntext'  ng-click='onYesBtnClick()'>{{::yesbtntext}}</button>
    <button class='otkbtn otkmodal-btn-no'  ng-click='onNoBtnClick()'>{{::nobtntext}}</button>
</div>
