<div class='otkmodal-body'>
    <section class="dialog-content-reportuser-section-form">

        <div class="dialog-content-reportuser-section-form-why-area">
            <span class="otktitle-4 otkinput-label" ng-bind-html="whyLoc"></span>
            <span class="otkselect">
                <select id="why-select">
                    <!-- DO NOT CHANGE THESE VALUES -->
                    <option value="">{{selectOneLoc}}</option>
                    <option value="Cheating">{{cheatingLoc}}</option>
                    <option value="Child Solicitation">{{solicitationLoc}}</option>
                    <option value="Harassment">{{harassmentLoc}}</option>
                    <option value="Offensive Content">{{offensiveLoc}}</option>
                    <option value="SPAM">{{spamLoc}}</option>
                    <option value="Suicide Threat">{{suicideLoc}}</option>
                    <option value="Terrorist Threat">{{terroristLoc}}</option>
                    <option value="Client Hack">{{hackLoc}}</option>
                </select>
                <span class="otkselect-label" ng-bind-html="selectOneLoc"></span>
            </span>
        </div>
        <div class="dialog-content-reportuser-section-form-where-area">
            <span class="otktitle-4 otkinput-label" ng-bind-html="whereLoc"></span>
            <span class="otkselect">
                <select id="where-select">
                    <!-- DO NOT CHANGE THESE VALUES -->
                    <option value="">{{selectOneLoc}}</option>
                    <option value="NAME">{{realNameLoc}}</option>
                    <option value="Avatar">{{avatarLoc}}</option>
                    <option value="Custom Game Name">{{customGameLoc}}</option>
                    <option value="In Game">{{inGameLoc}}</option>
                </select>
                <span class="otkselect-label" ng-bind-html="selectOneLoc"></span>
            </span>
        </div>

        <div class="dialog-content-reportuser-section-form-comment-area">
            <label>
                <span class="otktitle-4 otktextarea-label" ng-bind-html="commentsLoc"></span>
                <div class="otktextarea">
                    <textarea placeholder="{{enterNotesLoc}}" ng-model="comment"></textarea>
                </div>
            </label>
        </div>

    </section>
</div>
