<div class="otkmodal-header">
    <h2 class="otkmodal-title otktitle-2" ng-bind-html="strings.title"></h2>
</div>
<div class='otkmodal-body'>
    <ul class='origin-dialog-languages'>
    	<li ng-repeat="(locale, language) in languageMap" class='origin-dialog-language'>
            <span class="otkradio">
                <input name="language" type="radio" value="{{locale}}" id="origin-language-{{locale}}" ng-checked='locale === currentLocale'>
                <label for="origin-language-{{locale}}" ng-bind="language"></label>
            </span>
    	</li>
    </ul>
</div>
<div class='otkmodal-footer'>
    <button class='otkbtn otkbtn-primary' ng-click='save()' ng-bind="strings.save"></button>
    <button class='otkbtn otkbtn-light' ng-click='cancel()' ng-bind="strings.cancel"></button>
</div>
