<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2 origin-dialog-header" ng-bind-html="::shareDialogHeadingLoc"></h4>
</div>
<div class="otkmodal-body">
    <a class="otkbtn otkbtn-command share-wishlist-facebook-container origin-telemetry-share-wishlist-facebook" href="javascript:void(0);" ng-click="openShareWindow($event)">
        <div class="otkbtn-command-icon">
            <div class="share-wishlist-facebook-icon-wrapper">
                <i class="otkicon otkicon-facebook share-wishlist-facebook-icon"></i>
            </div>
        </div>
        <div class="otkbtn-command-info">
            <p class="otkc"><strong ng-bind-html="::shareFacebookHeadingLoc"></strong></p>
            <p class="otkc" ng-bind-html="::shareFacebookDescriptionLoc"></p>
        </div>
    </a>

    <div class="copy-wishlist-link">
        <div class="copy-wishlist-link-wrapper">
            <div class="otkc share-wishlist-link-heading" ng-bind-html="::shareLinkHeadingLoc"></div>
            <div id="wishlistLink" class="otkc share-wishlist-link" ng-class="{'share-wishlist-link-highlighted': isCopiedOldBrowser}" ng-bind="::wishlistLink"></div>
            <div class="share-wishlist-copy-link-copied-old-browser" ng-show="isCopiedOldBrowser">
                <span ng-bind-html="::linkCopiedOldBrowserLoc"></span>
            </div>
        </div>
        <button class="otkbtn otkbtn-light share-wishlist-button origin-telemetry-share-wishlist-link" ngclipboard ngclipboard-success="copyLink(e)" ngclipboard-error="copyLinkOldBrowser(e)" data-clipboard-target="#wishlistLink">
            <span class="share-wishlist-copy-link-text" ng-bind-html="::copyLinkToClipboardCtaLoc" ng-hide="isCopied"></span>
            <span class="share-wishlist-copy-link-copied" ng-show="isCopied">
                <i class="otkicon otkicon-check share-wishlist-copied-icon"></i>
                <span ng-bind-html="::linkCopiedLoc"></span>
            </span>
        </button>
    </div>
</div>
<div class="otkmodal-footer dialog-content-prompt-section-footer">
    <button class="otkbtn otkbtn-light" ng-click="closeDialog()"><span ng-bind="::cancelCtaLoc"></span></button>
</div>
