<div class="origin-store-dialog-content-vaultdlcupgradewarning otkmodal-content">
    <div class="otkmodal-header">
        <h4 class="otkmodal-title otktitle-2" ng-bind-html="::strings.title"></h4>
    </div>
    <div class="otkmodal-body">
        <p class="otkc">{{ strings.upgrade }}</p>
        <p class="otkc" ng-if="showUpgradeWarning" ng-bind-html="::strings.warning"></p>
    </div>
    <div class="otkmodal-footer clearfix">
        <button class="otkbtn otkbtn-primary" ng-click="clickUpgrade()" ng-bind="::strings.btnOk"></button>
        <button class="otkbtn otkbtn-light" ng-click="clickCancel()" ng-bind="::strings.btnCancel"></button>
    </div>
</div>