<div class="origin-store-dialog-content-vaultupgradewarning checkout-content otkmodal-content">
    <div class="otkmodal-header">
        <h4 class="otkmodal-title otktitle-2" id="myModalLabel" ng-bind-html="::strings.title"></h4>
    </div>
    <div class="otkmodal-body"><p class="otkc"><span class="vaultupgradewarning-body"></span></p></div>
    <div class="otkmodal-footer clearfix">
        <button class="otkbtn otkbtn-primary" ng-click="clickUpgrade()" ng-bind="::strings.btnOk"></button>
        <button class="otkbtn otkbtn-light" ng-click="clickCancel()" ng-bind="::strings.btnCancel"></button>
    </div>
</div>