<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2" ng-bind-html="strings.title"></h4>
</div>

<div class="otkmodal-body origin-you-need-origin-steps">
    <div class="origin-you-need-origin-step">
        <div class="otkgraphic-download">
            <div class="otkicon otkicon-cloud">
                <i class="otkicon otkicon-originlogo"></i>
            </div>
            <div class="offset-icon">
                <i class="otkicon otkicon-download"></i>
            </div>
        </div>
        <p class="otkc" ng-bind-html="strings.downloadAndInstall"></p>
    </div>

    <span class="origin-you-need-origin-divider"><i class="otkicon otkicon-rightarrow"></i></span>

    <div class="origin-you-need-origin-step">
        <div class="otkgraphic-userlogin">
            <div class="circle">
                <i class="otkicon otkicon-profile"></i>
            </div>
            <div class="offset-icon">
                <i class="otkicon otkicon-check"></i>
            </div>
        </div>
        <p class="otkc" ng-bind-html="strings.launchAndSignIn"></p>
    </div>

    <span class="origin-you-need-origin-divider"><i class="otkicon otkicon-rightarrow"></i></span>

    <div class="origin-you-need-origin-step">
        <div class="otkgraphic-posterart">
            <img class="poster" ng-src="{{model.packArt}}">
            <div class="offset-icon">
                <i class="otkicon otkicon-play"></i>
            </div>
        </div>
        <p class="otkc" ng-bind-html="strings.downloadAndPlay"></p>
    </div>
</div>

<div class="otkmodal-footer origin-you-need-origin-steps-footer">
    <origin-inline-notification ng-if="strings.betaMessage" message="{{strings.betaMessage}}" type="standard"></origin-inline-notification>
    <a ng-href="{{downloadLink}}" class="otkbtn otkbtn-primary origin-telemetry-download-client-button disabled" ng-show="downloadLink"
       ng-bind-html="strings.downloadOrigin" data-platform="{{::platform}}">
    </a>
    <button ng-click="dismissModal()" class="otkbtn otkbtn-light" ng-bind-html="strings.continueBrowsing"></button>
</div>
