<div class='otkmodal-body'>
    <div class="origin-dialogcontent-youtube">
        <div class="origin-dialogcontent-youtube-content">
            <div class="origin-dialogcontent-youtube-iframewrapper">
                <origin-agegate ng-if="matureContent === 'true'" mature-content="{{matureContent}}"></origin-agegate>
                <div class="origin-dialogcontent-youtube-player"></div>
            </div>
        </div>
        <div class="origin-dialogcontent-youtube-footer" ng-if="::strings.contentText">
            <div class="origin-dialogcontent-youtube-footercontent">
                <img class="origin-dialogcontent-youtube-footerpackart" ng-if="::(model.packArt && showPackart)" ng-src="{{ ::model.packArt }}" origin-imagefadein/>
                <div class="origin-dialogcontent-youtube-footertext otktitle-3" ng-bind-html="::strings.contentText"></div>
            </div>
            <div ng-if="::contentLink" class="origin-dialogcontent-youtube-footercta">
                <a ng-href="{{::contentLinkAbsoluteUrl}}" ng-click="openLink(contentLink, $event)" class="otkbtn otkbtn-primary">
                    <span ng-bind="::contentLinkBtnText"></span>
                    <i class="otkbtn-externallink" ng-show="isContentLinkExternal"></i>
                </a>
            </div>
            <div ng-if="::(model && !contentLink)" class="origin-dialogcontent-youtube-footercta">
                <origin-store-cta ng-if="::model.offerId" offer-id="{{ ::model.offerId }}" showinfobubble="true" ng-click="closeDialog()"></origin-store-cta>
            </div>
        </div>
    </div>
</div>