//
// Origin Social Hub Chatrooms Area
// --------------------------------------------------


//== Chatrooms Area
//
// ## Origin Social Hub List Selector styles
.origin-social-hub-chatrooms-area {
}

.origin-social-hub-chatrooms-area-add-group {
    position: absolute;
    right: 0;
    top: 0;
}

.origin-social-hub-chatrooms-area-add-icon {
    font-size: 32px;
    color: #1E262C;
    .transition(all 0.3s ease-in-out);
    cursor: pointer; 
}

.origin-social-hub-chatrooms-area-rooms-filter {
	position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 12px;
    height: 38px;
}

.origin-social-hub-chatrooms-area-list {
    position: absolute;
    top: 174px;
    bottom: 0;
    left: 0;
    right: 0;
}

.origin-social-hub-chatrooms-area-rooms-filter-group-field {
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
}

.origin-social-hub-chatrooms-area-section {
    position: absolute;
    top: 174px;
    bottom: 0;
    left: 0;
    right: 0;
}

.origin-social-hub-chatrooms-area-section-loading {
    top: 110px;
    .loading();
}

.origin-social-hub-chatrooms-area-section-norooms {
    top: 110px;
}

.origin-social-hub-chatrooms-area-section-title {
    padding-left: 16px;
}

.origin-social-hub-chatrooms-area-viewport {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: @color-white;
}

.origin-social-hub-chatrooms-room-first {
    border-top: 1px solid rgba(195, 198, 206, 0.5);
}

.origin-social-hub-chatrooms-room {    
    height: 50px;
    display: block;
    position: relative;
    
    .user-select(none);
    
    cursor: pointer;
    .transition(all ease-in-out 0.3s);
    padding: 6px 12px;    

    border-bottom: 1px solid rgba(195, 198, 206, 0.5);

    .origin-social-hub-chatrooms-room-name {
        height: 50px;
        display: block;
        padding: 0;
        padding-top: 12px;
        position: relative;
        .text-overflow();
        padding-right: 70px;
    }

    .origin-social-hub-chatrooms-room-add-friend {
        position: absolute;
        top: 15px;
        right: 45px;
        font-size: 24px;
        color: #1E262C;
    }

    .item-focus {
        background: rgba(195, 198, 206, 0.2);
    }

    //
    // Pending items

    .origin-social-hub-roster-chatrooms-room-accept-icon {
        font-size: 32px;
        color: @color-limegreen;
        position: absolute;
        right: 70px;
        top: 10px;
    }

    .origin-social-hub-roster-chatrooms-room-decline-icon {
        font-size: 32px;
        color: #C3C6CE;
        position: absolute;
        right: 40px;
        top: 12px;    
    }

    //
    // Menu button and dropdown

    .origin-social-hub-roster-chatrooms-room-menu-icon {
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 17px;    
        font-size: 24px;
        .transition(opacity .3s ease);
    }

    &:hover {
        background: rgba(195, 198, 206, 0.2);
        .origin-social-hub-roster-chatrooms-room-menu-icon {
            opacity: 1;
        }
    }

    .origin-social-hub-roster-chatrooms-room-menu-icon-dropdown {
        position: absolute;
        left: -150px;
    }
}

.origin-social-hub-chatrooms-room:hover,
.origin-social-hub-chatrooms-area-viewport .item-focus {
    background: rgba(195, 198, 206, 0.2);
}

[origin-social-hub-keyeventtarget] {
    outline: none;
}

