<div ng-class="{ 'origin-social-hub-chatrooms-room' : true, 'origin-social-hub-chatrooms-room-first' : index==='0' }"> 
    <div class="origin-social-hub-chatrooms-room-name">{{chatroom.name}}
        <input type="hidden" id="origin-social-hub-chatrooms-group-guid-input" value="{{chatroom._id}}"></input>
        <input type="hidden" id="origin-social-hub-chatrooms-room-jid-input" value="{{chatroom.rooms[0].roomJid}}"></input>
        <input type="hidden" id="origin-social-hub-chatrooms-room-name-input" value="{{chatroom.name}}"></input>
    </div>
    <div ng-if="!chatroom.inviteGroup" class="origin-social-hub-chatrooms-room-add-friend"><i class="otkicon otkicon-addcontact"></i></div>

    <div ng-if="chatroom.inviteGroup" class="origin-social-hub-roster-chatrooms-room-accept-icon"><i class="otkicon otkicon-checkcircle"></i></div>
    <div ng-if="chatroom.inviteGroup" class="origin-social-hub-roster-chatrooms-room-decline-icon"><i class="otkicon otkicon-closecircle"></i></div>    

    <div class="origin-social-hub-roster-chatrooms-room-menu-icon"><i class="otkicon otkicon-downarrow"></i></div>    

<!--

    <div ng-if="!chatroom.inviteGroup" class="otkdropdown origin-social-hub-roster-chatrooms-room-menu-icon">
        <a class="otkdropdown-trigger otkdropdown-trigger-caret" href="javascript:void(0);" data-toggle="otkdropdown" data-target="#origin-social-hub-roster-chatrooms-room-menu-dropdown" id="otkdropdown origin-social-hub-roster-chatrooms-room-menu">            
        </a>
        <div class="otkdropdown-wrap otkdropdown origin-social-hub-roster-chatrooms-room-menu-icon-dropdown" id="origin-social-hub-roster-chatrooms-room-menu-dropdown">
            <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="otkdropdown origin-social-hub-roster-chatrooms-room-menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">{{joinConversationsLoc}}</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">{{inviteFriendsToChatroomLoc}}</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">{{editChatroomLoc}}</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">{{viewChatroomMembersLoc}}</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">{{deleteChatroomLoc}}</a>
                </li>                
            </ul>
        </div>
    </div>
-->

    
</div>