<div class="origin-social-hub-section">

    <header origin-social-hub-keyeventtarget="header" ng-show="(sectionLength > 0)" class="origin-social-hub-section-header otktitle-5 otktitle-5-caps header-visible" tabindex="-1" ng-class="{ 'header-focus' : isActive }">{{titleStr}}&nbsp;({{sectionLength}})
        <i class="origin-social-hub-section-downarrow otkicon otkicon-downarrow"></i>
    </header> 
      
    <div class="origin-social-hub-section-viewport">
        <div ng-repeat="chatroom in chatrooms | orderBy: 'name' | filter: { name : nameFilter }" origin-social-hub-keyeventtarget="item" tabindex="-1"> 

            <div ng-class=" {'item-focus' : isActive }">
                <origin-social-hub-chatrooms-room chatroom="chatroom" index="{{$index}}" ng-class=" {'item-focus' : isActive }"></origin-social-hub-chatrooms-room>
            </div>

        </div>
    </div><!-- /viewport --> 
</div>

