.origin-store-pdp-access-nonvaultupsell {
    .origin-pdp-cta {
        margin-top: 12px;
    }

    .otkbtn-transparent {
        width: 100%;
        max-width: none;
    }
}

.origin-store-pdp-access-nonvaultupsell-logo {
    border-top: 1px solid #787D85;
    padding-top: 18px;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 24px;

    .origin-access-logo {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 131px;
        height: 28px;
    }

    .otkicon-originlogo {
        color: #F56C2D;
        font-size: 23px;
        position: absolute;
        top: 2px;
        left: 0;
    }

    .otkicon-origintext {
        color: #787D85;
        font-size: 58px;
        position: absolute;
        top: -14px;
        left: 20px;
    }

    .otkicon-accesstext {
        color: #787D85;
        font-size: 55px;
        position: absolute;
        top: -12px;
        left: 75px;
    }
}

.origin-store-pdp-access-nonvaultupsell-header {
    font-weight: 400;
    margin-top: 12px;
}

.origin-store-pdp-access-nonvaultupsell-list {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
}

.origin-store-pdp-access-nonvaultupsell-list-item {
    margin-bottom: 12px;

    &:before {
        font-family: 'origin';
        content: "\e624";
        font-size: 28px;
        left: -7px;
        position: absolute;
        display: inline-block;
        color: @color-green;
    }
}

.origin-store-pdp-access-nonvaultupsell-learnmore {
    margin-bottom: 12px;
    display: inline-block;
}
