body 
{ 
	font-family: sans-serif;
	margin: 8px 8px 8px 8px;
}

a { color: #00f; }

section.member-detail {
	margin-left: 0.5em;
	margin-bottom: 0.75em;
	padding: 0 0.5em 0 0.5em;
	border-radius: 8px;
}

section.property-detail, section.dict-member-detail {
	border: 1px solid #99d;
}

section.signal-detail {
	border: 1px solid #9d9;
}

section.method-detail {
	border: 1px solid #d99;
}

section.typedef-definition {
	border: 1px solid #bbb;
}

section.member-detail h3 {
	margin: 0 -0.5em 0 -0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	font-size: 100%;
	border-radius: 8px 8px 0 0;
}

section.property-detail h3, section.dict-member-detail h3 {
	background: -webkit-linear-gradient(top, #f0f0ff, #ccccff);
	background: -moz-linear-gradient(top, #f0f0ff, #ccccff);
	background-color: #ddf;
}

section.property-detail.readonly h3:after {
	content: " [readonly]";
	font-family: monospace;
}

section.signal-detail h3 {
	background: -webkit-linear-gradient(top, #f0fff0, #bbffbb);
	background: -moz-linear-gradient(top, #f0fff0, #bbffbb);
	background-color: #bfb;
}

section.method-detail h3 {
	background: -webkit-linear-gradient(top, #fff0f0, #ffcccc);
	background: -moz-linear-gradient(top, #fff0f0, #ffcccc);
	background-color: #fdd;
}

section.typedef-definition h3 {
	background: -webkit-linear-gradient(top, #f4f4f4, #d8d8d8);
	background: -moz-linear-gradient(top, #f4f4f4, #d8d8d8);
	background-color: #fdd;
}

section.members {
	margin-bottom: 1.5em;
}

section.members > h2 {
	margin-bottom: 0.5em;
}

h1, h2 {
	margin: 0.5em -8px 0.5em -8px;
	border-top: 1px solid #666;
	padding: 0.25em 8px 0.25em 8px;
}

h1 {
	background: -webkit-linear-gradient(top, #eee, #d0d0d0);
	background: -moz-linear-gradient(top, #eee, #d0d0d0);
	background-color: #ddd;
	border-bottom: 1px solid #666;
	text-shadow: -1px -1px 0 #f4f4f4;
	margin-top: 0;
}

h2 {
	background-color: #eee;
	font-size: 130%;
	margin-top: 0.7em;
}

h4 {
	margin-bottom: 0.5em;
	font-size: 100%;
}

dl {
	margin-top: 0;
}

section.signature-detail > dl {
	margin-left: 12px;
}

section.signature-detail > dl > dt {
	font-family: monospace;
	font-size: 115%;
	margin-top: 0.5em;
}

section.signature-detail > dl > dd {
	margin: 0 0 0 20px;
}

section.signature-detail > dl > dd > p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table {
	border-radius: 6px;
	background-color: #f6f6f6;
	border: 1px solid #e6e6e6;
	padding: 5px 5px 5px 5px;
	margin-top: 0.5em;
}

th {
	margin: 0px;
	background-color: #ddd;
	padding: 5px;
}

td {
	padding: 3px;
}

table tr {
	color: black;
	padding: 2px;
}

footer {
	margin-top: 1em;
	padding-top: 0.5em;
	border-top: 1px solid #888;
	font-size: 90%
}

footer > span.generated-date
{
	display: block;
	float: right;

	font-style: italic;
	vertical-align: middle;
	color: #444;
}

p.description 
{
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
