<div class="origin-store-carousel-banner" ng-click='onBtnClick()' ng-class="{'carousel-item-linked': href}">
    <div class="origin-store-carousel-banner-img-wrapper">
        <img src="{{ image }}" alt="">
    </div>
    <div class="origin-store-carousel-banner-caption-wrapper" ng-class="contentClass">
        <h1 class="otktitle-page origin-store-carousel-banner-caption">{{ title }}</h1>
        <p class="otktitle-3">{{ subtitle }}</p>
        <p class="otkc" ng-transclude></p>
        <div class="origin-store-carousel-banner-dates otktitle-5-caps otktitle-5">
            <p ng-if="sDate" class="origin-store-carousel-banner-dates-text">{{ aText }}</p>

        </div>
    </div>
</div>
