#OriginTitlebarOSX {
	min-height: 35px;
	max-height: 35px;
    background-color: #141B20;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


QLabel#lblWindowTitle {
	color: #fff;
    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
}
QLabel#lblWindowTitle[style="inactive"] {
	color: #c3c6ce;
}


QLabel#lblDebugMode {
    margin-right: 8px;
	color: #aaa;
    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
}

#fullscreenContainer {
    min-width: 24px;
    max-width: 24px;
    margin-right: 3px;
}

QPushButton#btnMinimize:disabled,
QPushButton#btnMinimize[style="inactive"] {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/disabled_button.png); 
}
QPushButton#btnMinimize:hover,
QPushButton#btnMinimize[buttonContainer="hovering"],
QPushButton#btnMinimize:pressed {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/minimize_hover.png);
}
QPushButton#btnMinimize {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/minimize_button.png);
	border-width: 0px 0px 0px 0px;
}


QPushButton#btnZoom:disabled,
QPushButton#btnZoom[style="inactive"] {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/disabled_button.png); 
}
QPushButton#btnZoom:hover,
QPushButton#btnZoom[buttonContainer="hovering"],
QPushButton#btnZoom:pressed {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/zoom_hover.png);
}
QPushButton#btnZoom {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/zoom_button.png);
	border-width: 0px 0px 0px 0px;
}


QPushButton#btnClose:disabled,
QPushButton#btnClose[style="inactive"] {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/disabled_button.png); 
}
QPushButton#btnClose:hover,
QPushButton#btnClose[buttonContainer="hovering"],
QPushButton#btnClose:pressed {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/close_hover.png);
}
QPushButton#btnClose {
	border-image: url(:/OriginCommonControls/OriginTitlebarOSX/close_button.png);
	border-width: 0px 0px 0px 0px;
}

QPushButton#btnFullscreen[style="inactive"] {
    border-image: url(:/OriginCommonControls/OriginTitlebarOSX/fullscreen_inactive.png); 
}
QPushButton#btnFullscreen:hover,
QPushButton#btnFullscreen:pressed {
    border-image: url(:/OriginCommonControls/OriginTitlebarOSX/fullscreen_hover.png);
}
QPushButton#btnFullscreen {
    border-image: url(:/OriginCommonControls/OriginTitlebarOSX/fullscreen_button.png);
    border-width: 0px 0px 0px 0px;
}