QFrame#outerFrame[style="norm"][chromeStyle="dialog"] {
    border-image: url(:/OriginCommonControls/OriginWindow/background.png) 37 39 39 37 stretch stretch;
    border-width: 37px 39px 39px 37px;
	padding: -30px -30px -30px -30px;
}
QFrame#outerFrame[style="norm"][chromeStyle="window"] {
    border-image: url(:/OriginCommonControls/OriginWindow/mainwindow_background.png) 3 3 3 3 stretch stretch;
    border-width: 3px 3px 3px 3px;
}

QFrame#outerFrame[style="max"][chromeStyle="dialog"] {
    border-image: none;
    border: none;
	background-color: qlineargradient(spread:pad, x1:0, y1:0, 
												  x2:0, y2:1, 
												  stop:0 #f8f8f8, 
												  stop:1 #e3e3e3);
}

QFrame#outerFrame[style="max"][chromeStyle="window"] {
	border-image: none;
    border: none;
	background-color: #393c39;
}