<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="warn" strict="true" name="gridnodeagnettest">
    <Filter type="ThresholdFilter" level="trace" />
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%5p %d{ABSOLUTE} [%t] %c{5}.%M():%L - %m%n" />
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="com.amazonaws" level="warn" />
        <Logger name="com.amazonaws.request" level="warn" />
        <Logger name="httpclient.wire" level="warn" />
        <Logger name="org.apache.http" level="warn">
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Root level="trace">
            <AppenderRef ref="STDOUT" level="DEBUG" />
        </Root>
    </Loggers>
</Configuration>