<div class="origin-checkoutconfirmation-item">
	<img class="poster" ng-src="{{::model.packArt}}" alt="{{::model.displayName}}" title="{{::model.displayName}}">
	<div class="origin-checkoutconfirmation-item-details">
		<div class="origin-checkoutconfirmation-item-title">{{::model.displayName}} {{::model.editionName}}</div>
		<div ng-show="!canDownloadNow">
			<div class="origin-checkoutconfirmation-item-platform otktitle-5 otktitle-5-caps" ng-show="platforms">
				Platform: <i class="otkicon otkicon-windows" ng-show="platforms.PCWIN"></i><i class="otkicon otkicon-apple" ng-show="platforms.MAC"></i>
			</div>
			<div class="origin-checkoutconfirmation-item-message">{{::strings.visitFromComputer}}</div>
		</div>
		<div ng-show="canDownloadNow" class="origin-checkoutconfirmation-item-downloadnow" >
			<a class="otkbtn otkbtn-primary" ng-click='downloadWithOrigin()'>{{::strings.downloadWithOrigin}}</a>
			<p class="otkc otkc-small" ng-bind-html="strings.havingTrouble"></p>
		</div>
		
	</div>

</div>