<section class="origin-store-bundle">
    <div class="origin-store-facets" ng-transclude ng-hide="!loading && (searchRequestFailed || games.length === 0)"></div>
    <origin-store-browse-noresult ng-show="!loading && (searchRequestFailed || games.length === 0)">
    </origin-store-browse-noresult>
    <section class="origin-tilelist origin-store-bundle-tilelist" origin-lazyload="loadMore" origin-lazyload-disabled="lazyLoadDisabled()">
        <ul class="l-browsegrid-flexcontainer">
            <li class="l-browsegrid-flexitem origin-tilelist-item" ng-repeat="item in games" origin-postrepeat>
                <origin-store-bundle-offer ocd-path="{{item.path}}" class="l-browsegrid-flexitem-inner"></origin-store-bundle-offer>
            </li>
        </ul>
    </section>
</section>
