<div class="origin-storebundlecart-wrapper">
    <h5 class="otktitle-5 otktitle-5-caps origin-storebundlecart-header" ng-bind-html="strings.yourBundleText | countWrapper:bundle.length">
    </h5>

    <div class="origin-storebundlecart-empty" ng-if="strings.emptyBundleText && bundle.length === 0">
        <span class="origin-empty-cart otktitle-3" ng-bind-html="strings.emptyBundleText"></span>
    </div>

    <origin-store-carousel-product class="origin-storebundlecart" ng-if="!strings.emptyBundleText || bundle.length > 0">
        <li ng-repeat="offerId in bundle" class="origin-storebundlecart-item">
            <origin-store-bundle-cart-item offer-id="{{ offerId }}"></origin-store-bundle-cart-item>
        </li>
    </origin-store-carousel-product>

    <section class="origin-storebundlehero-price">

        <div ng-hide="(bundlePrice.subTotal + bundlePrice.total + bundlePrice.discount) === 0 || bundle.length === 0" class="origin-storebundlehero-prices">
            <p ng-hide="bundlePrice.discount === 0" class="otkc origin-storebundlehero-price-item">
                <span ng-bind-html="strings.subtotalText"></span>
                <span class="otkprice-original" ng-bind="bundlePrice.subTotalPrice"></span>
            </p>

            <p ng-hide="bundlePrice.discount === 0" class="otkc origin-storebundlehero-price-item">
                <span ng-bind-html="strings.discountText"></span>
                <span class="otkprice-sale" ng-bind="bundlePrice.discountPrice"></span>
            </p>

            <p class="otkc origin-storebundlehero-price-item">
                <span ng-bind-html="strings.totalText"></span>
                <span class="otkprice" ng-bind="bundlePrice.totalPrice"></span>
            </p>

        </div>

        <div ng-click="buyNow()" ng-disabled="!(bundle.length > 0)" class="otkbtn otkbtn-primary origin-storebundlehero-cta" ng-bind-html="strings.buyNowText"></div>
    </section>
</div> 