<section class="origin-storebundlehero" ng-class="{
        'origin-storebundlehero-shrink': isShrunk,
        'origin-storebundlehero-pinned': isPinned,
        'origin-storebundlehero-text-color-dark': isDarkText }"
    origin-add-sitestripe-margin set-margin="updateHeroMargin">

    <div class="origin-storebundlehero-background" ng-if="backgroundImage">
        <img ng-src="{{backgroundImage}}" class="origin-storebundlehero-backgroundimage"/>
        <div class="origin-storebundlehero-imagescrim" ng-if="::isScrimShown"></div>
    </div>

    <div class="origin-storebundlehero-header" ng-if="titleStr || description">
        <h1 class="otktitle-2 origin-storebundlehero-title" ng-bind-html="titleStr"></h1>
        <p class="otktitle-3 origin-storebundlehero-description" ng-bind-html="description"></p>
    </div>

    <origin-store-bundle-cart></origin-store-bundle-cart>
</section>

<section class="origin-bundlemain origin-bundlemain-offerlist" ng-class="{
        'origin-bundlemain-offerlist-pinned': isPinned && !isShrunk && description,
        'origin-bundlemain-offerlist-nodescription': isPinned && !isShrunk && !description,
        'origin-bundlemain-offerlist-shrink': isPinned && isShrunk,
        'origin-storebundlehero-isLoading': isLoading}" ng-transclude>
</section>

<section class="origin-bundlemain origin-bundlemain-legal">
    <origin-store-paragraph ng-bind-html="legalText"></origin-store-paragraph>
</section>