//
// Site Stipe - Message of the Day
// ==============================================

.origin-store-sitestripe-wrapper {
  overflow: hidden;
}

.origin-store-sitestripe-messageoftheday {
  height: 58px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  .transition(all 0.3s ease-in);
}

.origin-store-sitestripe-messageoftheday-close {
  cursor: pointer;
  color: @color-mediumnavy;
  font-size: 34px;
  margin: 10px 10px 0 0;
  float: right;
  position: relative;
  z-index: 2;
  .transition(all 0.3s ease-in-out 0s);

  &.close-transition-dark:hover {
  color: @color-darknavy;
}
  &.close-transition-light:hover {
    color: @color-white;
  }
}

.origin-store-sitestripe-messageoftheday-image-wrapper {
  height: 58px;
  position: relative;
  display: block;
}

.origin-store-sitestripe-messageoftheday-image-wrapper-fade {
  height: 58px;
  width: 50px;
  position: absolute;
  z-index: 2;
  right: 0;
}

.origin-store-sitestripe-messageoftheday-image {
  height: 58px;
  .opacity(.4);

  .media-min-width(@global-width-small, {
    .opacity(1);
  });

  &.origin-store-sitestripe-messageoftheday-image-center {
    .horizontal-center();
  }

  &.origin-store-sitestripe-messageoftheday-image-left {
    float: left;
  }
}

.origin-store-sitestripe-messageoftheday-logo {
  display: none;
  @sitestripe-logo-breakpoint: 1301px;

  .media-min-width(@sitestripe-logo-breakpoint, {
    display: inline-block;
    max-height: 58px;

    width: 150px;
    left: 200px;
    .vertical-center();
  });
}

.origin-store-sitestripe-messageoftheday-content {
  color: @color-white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 58px;
}

.origin-store-sitestripe-messageoftheday-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.origin-store-sitestripe-messageoftheday-content-text {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  overflow: hidden;
  height: 58px;
  max-width: 75%;
  oveflow: hidden;
}

.origin-store-sitestripe-messageoftheday-withtimer {
  .origin-store-sitestripe-messageoftheday-content-text {
    max-width: 75%;

    .media-min-width(@store-width-xsmall, {
      max-width: 50%;
    });
    .media-min-width(@global-width-small, {
      max-width: 40%;
    });
  }
}

.origin-store-sitestripe-messageoftheday-content-text-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 58px;
}

.origin-store-sitestripe-messageoftheday-title {
  font-weight: @weight-normal;
  .otkicon {
    font-size: 24px;
    float: left;
    margin-right: 5px;
  }
}

.origin-store-sitestripe-messageoftheday-subtitle {
  font-weight: @weight-normal;
}

.origin-store-sitestripe-messageoftheday-timer {
  display: inline-block;
  height: 58px;
  padding-top: 10px;
  margin: 0 10px;
  box-sizing: border-box;

  .media-max-width(@store-width-xsmall, {
    display: none;
  });

  .origin-store-timer-numbers {
    color: inherit;
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizelegibility;
  }

  .origin-store-timer-text {
    color: inherit;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizelegibility;
    line-height: 12px;
  }
}

.origin-store-sitestripe-messageoftheday-alert,
.origin-store-sitestripe-messageoftheday-info {
  .origin-store-sitestripe-messageoftheday-close {
    margin-top: 2px;
    color: unset;
    &:hover {
      color: @color-mediumnavy;
    }
  }
}
