<div class="origin-store-promo-static l-origin-store-column-full" ng-click="onBtnClick()">
    <div class="origin-store-promo-static-caption">
        <div class="l-origin-store-promo-static-caption">
            <h2 class="origin-store-promo-static-caption-title otktitle-2">{{title}}</h2>
            <h3 class="origin-store-promo-static-caption-subtitle otktitle-3">{{text}}</h3>
            <div ng-transclude></div>
        </div>
    </div>
    
    <div class="origin-store-promo-static-image-wrapper">
        <div class="origin-store-promo-static-image-wrapper-inner">
            <div class="origin-store-promo-static-image-scrim-right"></div>
            <div class="origin-store-promo-static-image-scrim-left"></div>
            <img src="{{ image }}" alt="" class="origin-store-promo-static-image">
        </div>
    </div>
</div>