<origin-filter-panel is-visible="isVisible()">
    <origin-filter-link
        label="{{::clearAllLabel}}"
        is-enabled="hasActiveFilters()"
        on-click="clearAll()">
    </origin-filter-link>

    <origin-filter-searchfield
        placeholder="{{::searchPlaceholder}}"
        model-object="getFilter('displayName')"
        model-field-name="value"
        on-change="onFilterChange()">
    </origin-filter-searchfield>

    <origin-gamelibrary-filter-item filter-id="isPlayedLastWeek" visibility="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isFavorite" visibility="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isDownloading" visibility="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isHidden" visibility="online"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isInstalled" visibility="always"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isNonOrigin" visibility="always"></origin-gamelibrary-filter-item>
    <origin-gamelibrary-filter-item filter-id="isSubscription" visibility="always"></origin-gamelibrary-filter-item>

    <origin-filter-submenu label="Platform">
        <origin-gamelibrary-filter-item filter-id="isPcGame" visibility="always"></origin-gamelibrary-filter-item>
        <origin-gamelibrary-filter-item filter-id="isMacGame" visibility="always"></origin-gamelibrary-filter-item>
    </origin-filter-submenu>
</origin-filter-panel>
