<div class='l-origin-gamelibrary'>
    <div ng-if="hasGames() && !isLoading">
        <div class='l-origin-gamelibrary-topbanner'>
            <origin-gamelibrary-filter-bar on-change="applyFilters()"></origin-gamelibrary-filter-bar>
            <origin-gamelibrary-nav>
                <origin-gamelibrary-navigationitem title="{{::localizedStrings.addGameLabel}}" icon-class="otkicon-add" active="false"></origin-gamelibrary-navigationitem>
                <origin-gamelibrary-navigationitem title="{{localizedStrings.filterLabel | countWrapper:activeFiltersCount}}" icon-class="otkicon-menu" active="isFilterPanelOpen" ng-click="toggleFilterpanel()"></origin-gamelibrary-navigationitem>
            </origin-gamelibrary-nav>
        </div>

        <div class="l-origin-gamelibrary-content ng-class:{'l-origin-gamelibrary-content-isfilterpanelopen': isFilterPanelOpen}">
            <origin-gamelibrary-gameslist origin-gamelibrary-draggable
                id='gamelibrary-favoritegames'
                draggable-target='gamelibrary-othergames'
                title='{{::localizedStrings.favouritesLabel}}'
                games="displayedGames"
                filter-by="{'isFavorite': true}">
            </origin-gamelibrary-gameslist>
            <origin-gamelibrary-gameslist origin-gamelibrary-draggable
                id='gamelibrary-othergames'
                draggable-target='gamelibrary-favoritegames'
                title='{{::localizedStrings.allOthersLabel}}'
                games="displayedGames"
                filter-by="{'isFavorite': false}">
            </origin-gamelibrary-gameslist>
        </div>

        <div class="l-origin-filter-panel ng-class:{'l-origin-filter-panel-isopen': isFilterPanelOpen}">
            <origin-gamelibrary-filter-panel is-visible="isFilterPanelOpen" on-change="applyFilters()"></origin-gamelibrary-filter-panel>
        </div>

        <div class="l-origin-gamelibrary-slideout">
            <div ui-view="slideout"></div>
        </div>
    </div>
</div>
