<?xml version="1.0" encoding="UTF-8"?>
<origin-shell-navigation>
    <origin-shell-side-nav>
        <origin-shell-main-menu>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Home" section="home" icon="home" ui-sref="app.home_home"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Store" section="store" icon="store" ui-sref="app.store.wrapper.home"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Game Library" section="gamelibrary" icon="gamelibrary" ui-sref="app.game_gamelibrary"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
        </origin-shell-main-menu>
        <origin-shell-footer-menu>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Get Started" section="getstarted" ui-sref="app.error_notfound" disposition="hide" for="get-started"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Download Origin" section="download" ui-sref="app.error_notfound" disposition="hide" for="client"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Origin Insider" section="insider" ui-sref="app.error_notfound"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="About Origin" section="about" ui-sref="app.error_notfound"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
            <origin-shell-menu-item>
                <origin-shell-menu-item-link title="Support" section="support" ui-sref="app.error_notfound"></origin-shell-menu-item-link>
            </origin-shell-menu-item>
        </origin-shell-footer-menu>
    </origin-shell-side-nav>
    <origin-shell-top-banner></origin-shell-top-banner>
</origin-shell-navigation>