<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
    <origin-store-carousel-hero-banner
        title="Free Games on Origin"
        subtitle="Put away your wallet and enjoy great games at no cost."
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-oth.jpg">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<div class="l-origin-store-row">
    <origin-store-informational info-text="Sorry, we don’t have an On the House game right now. Check out our other free game programs" href="/store"/ description='Learn More'></origin-store-informational>
</div>

<div class="l-origin-store-row">
    <h1 class="otktitle-page">Offer modules</h1>
</div>

<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="left"
        title="On the House."
        subtitle="Download and start Game Time to experience the features and gameplay: check out modes, levels, and options and play as long as the Game Time is running!"
        href="#/free-games/on-the-house"
        description="Learn More"
        offerid="OFB-EAST:109552419"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/simcity2.png"
        offersubtitle="Play for 48 free hours."
        offerdescriptiontitle="What kind of city will you create?"
        offerdescription="You are an architect, cityplanner, Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.">
    </origin-store-freegames-offermodule>
</origin-store-row>

<div class="l-origin-store-row">
    <origin-store-informational info-text="Check out our other great free games." href="/store"/ description='Learn More'></origin-store-informational>
</div>


<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>










