<origin-store-row>
    <origin-store-paragraph-headertwo description="Product Description"></origin-store-paragraph-headertwo>
    <origin-store-pdp-description></origin-store-pdp-description>
</origin-store-row>
<origin-store-row>
    <origin-store-paragraph-headertwo description="Details"></origin-store-paragraph-headertwo>
    <!-- origin-store-pdp-details></origin-store-pdp-details -->
    <origin-store-pdp-overview></origin-store-pdp-overview>
</origin-store-row>
<origin-store-row>
    <origin-store-paragraph-headertwo description="System Requirements"></origin-store-paragraph-headertwo>
    <origin-store-pdp-systemrequirements></origin-store-pdp-systemrequirements>
</origin-store-row>
<origin-store-row></origin-store-row>
