<origin-store-nav>
    <origin-store-nav-dropdown title="Home Page" href="#/store">
        <origin-store-nav-dropdown title="PDP">
            <origin-store-nav-item title="Description, Details, System Requirements" href="#/store/pdpInfo/Origin.OFR.50.0000871"></origin-store-nav-item>
        </origin-store-nav-dropdown>
        <origin-store-nav-divider></origin-store-nav-divider>
        <origin-store-nav-item title="Game Tiles" href="#/store/storegametiles"></origin-store-nav-item>
        <origin-store-nav-divider></origin-store-nav-divider>
        <origin-store-nav-item title="6 and 9 Packs" href="#/store/storepacks"></origin-store-nav-item>
        <origin-store-nav-item title="Hero Carousel" href="#/store/storeCarousel"></origin-store-nav-item>
        <origin-store-nav-item title="Featured and Exclusive Promos" href="#/store/storePromos"></origin-store-nav-item>
        <origin-store-nav-item title="Age Gate" href="#/store/storeAgegate"></origin-store-nav-item>
        <origin-store-nav-item title="Social Media" href="#/store/socialmedia"></origin-store-nav-item>
        <origin-store-nav-dropdown title="Product Carousel" href="#/store/storeProductCarousel">
            <origin-store-nav-item title="item 4" href="#/store"></origin-store-nav-item>
            <origin-store-nav-item title="item 5" href="#/store"></origin-store-nav-item>
            <origin-store-nav-dropdown title="Title 2" href="#/store">
                <origin-store-nav-item title="item 4" href="#/store"></origin-store-nav-item>
                <origin-store-nav-divider></origin-store-nav-divider>
                <origin-store-nav-item title="item 5" href="#/store"></origin-store-nav-item>
            </origin-store-nav-dropdown>
        </origin-store-nav-dropdown>
    </origin-store-nav-dropdown>

    <origin-store-nav-dropdown title="Free Games" href="#/store/freegames">
        <origin-store-nav-item title="On The House" href="#/store/freegames/onthehouse"></origin-store-nav-item>
        <origin-store-nav-item title="Game Time" href="#/store"></origin-store-nav-item>
        <origin-store-nav-item title="Demos and Betas" href="#/store"></origin-store-nav-item>
    </origin-store-nav-dropdown>

    <origin-store-nav-item title="Deals & Exclusives" href="#/store"></origin-store-nav-item>
    <origin-store-nav-item title="Origin Access" href="#/store"></origin-store-nav-item>
</origin-store-nav>