<div ng-if = '!noFriend' ctid='{{ctid}}' mutualFriendCounts='{{numMutualFriends}}' friendNucleusId='{{friendNucleusId}}' class='origin-tile origin-telemetry-discovery-friendtile origin-friendtile' ng-class='::telemetryTrackerClass'>
    <div class='origin-tile-container'  origin-touch="goToProfile()">
        <div class='origin-friendtile-wrapper'>
            <div class="origin-friendtile-bgscrim"></div>
            <img ng-src='{{image}}' class='origin-friendtile-bgimage' alt='' >
            <img ng-src='{{image}}' class='origin-friendtile-image' alt='' >
        </div>
        <origin-home-discovery-tile-friend-overlay ng-if="::isTouchDisable"></origin-home-discovery-tile-friend-overlay>
    </div>
    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <h3 ng-hide="noFriend">
            <a href='javascript:void(0)' class='otka otkc origin-friendtile-originId' ng-click="goToProfile()">
                <strong>{{originId}}</strong>
            </a>
        </h3>
        <div class='origin-friendtile-text' ng-if="canShowFullName()">{{fullName}}</div>
        <p ng-if="!!friendsInCommonStr" class='otkc origin-friendtile-text' ng-bind-html="descriptionString"></p>
        <div ng-if="!!friendsInCommonStr">
            <origin-friends-tiledisplay ng-if='friendsInCommonStr' friendslist='commonFriends' popouttitlestr='{{popoutTitleStr}}'></origin-friends-tiledisplay>
        </div>
    </div>
</div>
