<div class='origin-tile origin-telemetry-discovery-tile' ng-class='::[telemetryTrackerClass, contextClass]'>
    <div class='origin-tile-container' origin-touch="navigateToGame()">
        <div class='origin-tile-image' ng-style="imageStyle" ng-if="::image" ng-class="{'origin-tile-image-packart': !discoverTileImage}">
            <img ng-src="{{image}}" ng-if="!discoverTileImage" />
        </div>
        <origin-home-discovery-tile-game-overlay ng-if="::isTouchDisable"></origin-home-discovery-tile-game-overlay>
        <div class='origin-tile-title' ng-if='gamename' ng-hide='isDownloading'>
            <a ng-click="navigateToGame()" class='otka origin-tile-overlay-link'>
                <h2 class='otktitle-2' ng-bind-html='gamename'></h2>
            </a>
        </div>
    </div>
    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <p class="origin-tile-support-text-paragraph">
            <origin-game-friendsplaying-text offerid="{{::offerId}}" text="{{::description}}"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display offerid='{{::offerId}}'></origin-game-friendsplaying-display>
        <origin-store-price offer-id={{::offerId}} hide-owned-state="true"></origin-store-price>
    </div>
</div>

