<div class="origin-tile origin-telemetry-discovery-tile" ng-class='::telemetryTrackerClass'>
    <div class="origin-tile-container">
        <div class="origin-tile-image" ng-style="{ 'background-image': 'url({{image}})' }" ng-if="::image"></div>
        <div class="origin-tile-overlay" ng-if="::showHover">
            <div class="origin-tile-overlay-content">
                <div ng-transclude></div>
            </div>
        </div>
        <origin-home-discovery-tile-video-icon></origin-home-discovery-tile-video-icon>
    </div>
    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <div class="origin-tile-support-text-paragraph">
            <div ng-show="::descriptiontitle">
                <h1 class="otktitle-3 otktitle-3-strong origin-tile-support-text-title" ng-bind-html="::descriptiontitle"></h1>
            </div>
            <div ng-show="::description" ng-bind-html="::description">
            </div>
        </div>
    </div>
    <div class="origin-tile-author otkc otkc-small" ng-class="{ 'origin-tile-author-isshown' : authorVisible }">
        <span class="author-name" ng-if="authorhref && authorname">
            <a ng-click="onAuthorClicked()" href="javascript:void(0)">{{::authorname}}</a>
        </span>
        <span class="author-description" ng-if="!authorhref && authorname" ng-bind="::authorname"></span>
        <span class="author-description" ng-if="authorDetails">
            <span ng-if="authorname">| </span>
            <span ng-bind="::authorDetails"></span>
        </span>
        <span class="author-timetoread" ng-if="timetoread">
            <span ng-if="authordescription || (authorhref && authorname)">| </span>
            <span ng-bind="::timetoread"></span>
        </span>
    </div>
</div>
