<div class="origin-tile origin-telemetry-discovery-tile" ng-class='::telemetryTrackerClass'>
    <div class="origin-tile-container">
        <div class="origin-tile-image" ng-style="{ 'background-image': 'url({{image}})' }" ng-if="::image"></div>
        <div class="origin-tile-overlay" ng-if="::showHover">
            <div class="origin-tile-overlay-content">
                <div ng-transclude></div>
            </div>
        </div>
        <origin-home-discovery-tile-video-icon></origin-home-discovery-tile-video-icon>
    </div>
    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <p class="origin-tile-support-text-paragraph">
            <origin-game-friendsplaying-text offerid="{{::offerId}}" tealium-offerid="{{::offerId}}" subtitle="{{::subtitle}}" text="{{::description}}" friendstext="{{::friendsText}}" requestedfriendtype="{{::requestedFriendType}}"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display ng-if="!!offerId" offerid="{{::offerId}}" tealium-offerid="{{::offerId}}" popouttitle="{{::friendsPopoutTitle}}" requestedfriendtype="{{::requestedFriendType}}"></origin-game-friendsplaying-display>
        <origin-store-price ng-if=::isPriceVisible() offer-id={{::offerId}} hide-owned-state="true"></origin-store-price>
    </div>
    <div class="origin-tile-author otkc otkc-small" ng-class="{ 'origin-tile-author-isshown' : authorVisible }">
        <span class="author-name" ng-if="authorhref && authorname">
            <a ng-click="onAuthorClicked()" href="javascript:void(0)">{{::authorname}}</a>
        </span>
        <strong class="author-description" ng-if="authordescription">
            | {{::authordescription}}
        </strong>
        <span class="author-timetoread" ng-if="timetoread">
            <span ng-if="authordescription || (authorhref && authorname)">| </span>{{::timetoread}}
        </span>
    </div>
</div>
