
<div class="origin-tile origin-telemetry-discovery-tile">
    <div class="origin-tile-container">
        <div class="origin-tile-image" ng-style="{ 'background-image': 'url({{image}})' }" ng-if="::image"></div>
        <div class="origin-home-merchtile-content" ng-if="::!focusedCopyEnabled">
            <h1 class="otktitle-3"><strong ng-bind-html="strings.descriptiontitle"></strong></h1>
            <p class="otkc origin-home-merchtile-description" ng-bind-html="strings.description"></p>
            <origin-store-price ng-if="priceVisible" offer-id={{::offerId}} owned-text=""></origin-store-price>
        </div>
        <div class="origin-home-merchtile-callout-content" ng-class="::textColorClass" ng-if="::focusedCopyEnabled">
            <h1 class="origin-home-merchtile-callout-headline"><strong ng-bind-html="descriptiontitle"></strong></h1>
            <p class="otkc origin-home-merchtile-callout-description otktitle-3" ng-bind-html="description"></p>
        </div>

        <div class="origin-tile-overlay" ng-if="::showHover">
            <div class="origin-tile-overlay-content">
                <div ng-show="exclusivePromo" class="l-origin-home-merchtile-cta">
                    <origin-cta-promo origin-infobubble="{{::infobubbleContent}}" ></origin-cta-promo>
                </div>
                <div ng-transclude></div>
            </div>
        </div>
        <origin-home-discovery-tile-video-icon></origin-home-discovery-tile-video-icon>
    </div>
</div>

