<div class="origin-tile origin-telemetry-discovery-tile" ng-class='::telemetryTrackerClass'>
    <div class="origin-tile-container">
        <div class="origin-tile-image" ng-style="::imageStyle" ng-if="::image" ng-class="::{'origin-tile-image-packart': usingPackArt}">
            <img ng-src="{{::image}}" ng-if="::usingPackArt" />
        </div>
        <div class="origin-tile-overlay" ng-if="::showHover">
            <div class="origin-tile-overlay-content">
                <a class="otka origin-tile-overlay-link" href="javascript:void(0)" ng-click="navigateToGame()">
                    <h2 class='otktitle-2 origin-tile-overlay-content-title origin-telemetry-tile-overlay-content-title' class='ng-binding' ng-if='::gamename' ng-class="{'is-downloading': isDownloading}" ng-bind-html='::gamename'></h2>
                </a>
                <div ng-transclude></div>
            </div>
        </div>
        <origin-home-discovery-tile-video-icon></origin-home-discovery-tile-video-icon>
        <div class="origin-tile-title" ng-show="::gamename">
            <h2 class="otktitle-2" ng-bind-html="::gamename"></h2>
        </div>
    </div>
    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <p class="origin-tile-support-text-paragraph">
            <origin-game-friendsplaying-text offerid="{{::offerId}}" text="{{::description}}" friendstext="{{::friendsText}}" requestedfriendtype="{{::requestedFriendType}}"></origin-game-friendsplaying-text>
        </p>
        <origin-game-friendsplaying-display ng-if="!!offerId" offerid="{{::offerId}}" popouttitle="{{::friendsPopoutTitle}}" requestedfriendtype="{{::requestedFriendType}}"></origin-game-friendsplaying-display>
        <origin-store-price ng-if=::isPriceVisible() offer-id={{::offerId}} hide-owned-state="true"></origin-store-price>
    </div>
</div>
