<div class="origin-storegamelegal">
    <div ng-if="model.oth" class="origin-storegamelegal-othavailability">
        {{ getOthAvailabilityText() }}
    </div>
    <div class="origin-storegamelegal-eula">
        <a href="javascript:void(0)" ng-bind-html="::strings.eulaText" ng-click="goToEula()"></a>
    </div>
    <div ng-if="model.termsAndConditions" class="origin-storegamelegal-terms">
        <a ng-href="{{ linkTerms }}" class="otka" ng-click="goToTerms()">
            {{ ::strings.termsText }}
        </a>
    </div>
    <div ng-if="model.oth" class="origin-storegamelegal-oth">
        <a href="javascript:void(0)" class="otka" ng-click="goToOthPage()">
            {{ ::strings.othText }}
        </a>
    </div>
</div>
