<div class="origin-storegamerating otkc-small">
    <a ng-href="{{ model.gameRatingUrl }}" class="origin-storegamerating-logo" target="_blank">
        <img ng-src="{{ model.gameRatingSystemIcon }}" class="origin-storegamerating-logoimg" alt="{{ model.gameRatingTypeValue }}">
    </a>
    <div class="origin-storegamerating-details">
        <ul class="origin-storegamerating-descriptors">
            <li class="origin-storegamerating-descriptor" ng-repeat="descriptor in model.gameRatingDesc">{{ descriptor }}</li>
        </ul>
    </div>
    <div class="origin-storegamerating-footnote">{{ model.gameRatingDescriptionLong }}</div>
</div>
