<div class="origin-storegametile"
    ng-class="{
        'origin-storegametile-responsive': type === 'responsive',
        'origin-storegametile-fixed': type === 'fixed',
        'origin-storegametile-compact': type === 'compact'
    }" title="{{ model.displayName }}">

    <div class="origin-storegametile-overlaywrapper" ng-click="goToPdp(model)">
        <img ng-src="{{ model.packArt }}" class="origin-storegametile-posterart" />
        <div class="origin-storegametile-overlay">
            <div class="origin-storegametile-overlaycontent">
                <origin-store-cta offerid="{{ offerId }}" showinfobubble="true" class="origin-storegametile-cta"></origin-store-cta>
            </div>
        </div>
    </div>

    <section class="otkc origin-storegametile-details">
        <h2 class="otktitle-4 origin-storegametile-title">
            <a href="javascript:void(0)" ng-click="goToPdp(model)">
                <span>{{ model.displayName }}</span>
            </a>
        </h2>
        <origin-store-price offer-id="{{ offerId }}"></origin-store-price>
    </section>

    <div ng-if="getViolatorText()" class="origin-storegametile-violator otktitle-5 otktitle-5-caps">
        <span>{{ getViolatorText() }}</span>
    </div>

</div>