<div class="origin-settings-clearfix">
    <section class="origin-settings-section origin-settings-account origin-settings-global">
        <header class="origin-settings-header origin-settings-clearfix">
            <div class="origin-settings-div origin-settings-div-main">
                <div class="origin-settings-wrap origin-settings-left">
                    <h1 class="otktitle-2" ng-bind-html='::eaAcctTitleStr'></h1>
                </div>
            </div><!-- close /section -->
            <div class="origin-settings-div origin-settings-div-side">
                <a target="_blank" href="" class="otka" ng-bind-html='::editOnEATitleStr' ng-click="openURL('https://account.alpha.origin.com/cp-ui/aboutme/index?gameId=ebisu&locale=en_US&access_token={access_token}')"></a>
            </div><!-- close /section -->
        </header>
        <div class="origin-settings-details origin-settings-clearfix origin-settings-global " style="border-bottom: none; padding: 18px 0px 0px 0px;">

            <div class="input-info">
                <div>
                    <div class='user-info'>
                        <h1 class='origin-settings-account-otkc otkc' ng-bind-html='::getOriginIdStr()'></h1>
                        <h1 class="origin-settings-account-otkc otkc" ng-bind-html='::getPasswordStr()'></h1>
                    </div>
                </div>
            </div><!-- end .input-info -->

            <div class="origin-settings-div avatar" style="">
                <div class="otkavatar " style="">
                    <img draggable="false" ng-src="{{avatarImgSrc}}" alt="{{::myOriginId}}" class="otkavatar-img origin-settings-img">
                </div>
            </div>
            <div class="input-info">
				<div class='user-info'>
					<h1 class='origin-settings-account-otkc otkc' ng-bind-html='::getOriginIdStr()'></h1>
					<h1 class="origin-settings-account-otkc otkc" ng-bind-html='::getPasswordStr()'></h1>
				</div>
            </div><!-- end .input-info -->


        </div><!-- end .origin-settings-details  -->
    </section>
    <section class="origin-settings-section origin-settings-security origin-settings-global">
        <header class="origin-settings-header origin-settings-clearfix">
            <div class="origin-settings-div origin-settings-div-main">
                <div class="origin-settings-wrap origin-settings-left">
                    <h1 class="otktitle-2" ng-bind-html='::secAndPrivTitleStr'></h1>
                </div>
            </div><!-- close /section -->
            <div class="origin-settings-div origin-settings-div-side">
                <a target="_blank" href="" class="otka" ng-bind-html='::editOnEATitleStr' ng-click="openURL('https://account.alpha.origin.com/cp-ui/security/index?gameId=ebisu')"></a>
            </div><!-- close /section -->
        </header>
        <div class="origin-settings-details origin-settings-clearfix" style="border-bottom: none; padding: 18px 0px 0px 0px;">

            <div class="input-info copy">
                <div>
                    <div class="user-info" style>
                        <p class="origin-settings-p origin-settings-account-otkc otkc" ng-bind-html='::secAndPrivTextStr'></p>
                    </div>
                </div>
            </div><!-- end .input-info -->

            <div class="origin-settings-div avatar" style="position: absolute; top: 18px;">
                <div class="otkavatar " style="width: 95px; height: 95px;">
                    <img style="border:0;" draggable="false" ng-src="{{::securityImgSrc}}" alt="security" class="otkavatar-img origin-settings-img">
                </div>
            </div>
            <div class="input-info copy">
				<div class="user-info" >
					<p class="origin-settings-p origin-settings-account-otkc otkc" ng-bind-html='::secAndPrivTextStr'></p>
				</div>
            </div><!-- end .input-info -->
        </div><!-- end .origin-settings-details  -->
    </section>
</div>


<section id="blockblock" class="origin-settings-section origin-settings-clearfix" note="Input was success after adding 1 user" ng-hide="true">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <p class="otktitle-2" ng-bind-html='::blocklistTitleStr'></p>
                <p class="otktitle-4" ng-bind-html='::blocklistTextStr'></p>
            </div>
        </div><!-- close /section -->
        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-wrap origin-settings-right">
                <!-- <a class="otkbtn otkbtn-light your-block">Block Someone</a> -->
            </div>
        </div><!-- close /section -->
    </header>

    <ul class="origin-settings-blocked-list" style="margin-top: 0px;">
        <li class="origin-settings-blocked-list-row user-01" style="border-top: none; border-bottom: 1px solid rgba(195, 198, 206, 0.5);">
            <a href="javascript:void(0)" class="otkavatar otkavatar-isbroadcasting"><img src="../images/avatars/avatar_11.jpg" alt="User Name" class="otkavatar-img origin-settings-img"></a>
            <span class="otktitle-4"><strong>sample blocked user</strong></span>
            <a href="" class="otka unblock unblock-user-01" ng-bind-html='::unblockUserStr'></a>
        </li>

        <div class="more-content origin-settings-hide">
            <li class="origin-settings-blocked-list-row user-06" style="border-top: none; border-bottom: 1px solid rgba(195, 198, 206, 0.5);">
                <a href="javascript:void(0)" class="otkavatar otkavatar-isingame"><img src="../images/avatars/avatar_10.jpg" alt="User Name" class="otkavatar-img origin-settings-img"></a>
                <span class="otktitle-4"><strong>sample blocked user more</strong></span>
                <a href="" class="otka unblock unblock-user-06" ng-bind-html='::unblockUserStr'></a>
            </li>
        </div>

    </ul>

    <div class="loading loading-more" style="margin-top: 12px; margin-bottom: 18px;">
        <div class="loader-text">
            <a style="cursor: pointer; margin-top: 6px;" class="load-more otka" note="Load More can load up to 5 users per click. Once all users have been loaded, the link would be hidden."><span class="notes-anchor ng-scope" ng-click="showNotesContainer()"><figure>17</figure></span>Load More Users</a>
        </div>
    </div>

    <div class="discover-loader origin-settings-hide" style=" padding: 0px 0px 25px 0px;">
        <loading textcolor="black" text="Loading More Users" class="ng-isolate-scope">
            <div class="loading">
                <div class="loader-text">
                    <img src="../images/loader.png">
                    <h5 class="otktitle-5 otktitle-5-caps ng-binding" ng-show="text" ng-bind-html='::loadingMoreStr'></h5>
                </div>
            </div>
        </loading>
    </div>

<!-- close /origin-settings-details - row -->
</section>

