<section id="#application" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::title'></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details has-drop origin-settings-clearfix">
        <origin-settings-item itemstr="{{::defaultSectionStr}}" itemhintstr="{{::defaultSectionHintStr}}"></origin-settings-item>

        <div class="origin-settings-div origin-settings-div-side">
            <div id="drpdwn" class="origin-settings-drop-select">
                <span class="otkselect origin-settings-drop-select">
                    <select name="setting-dropdown" class="application-default origin-settings-select" ng-init="app_default='decide'" ng-model="app_default" ng-change="changeDefault()">
                        <option value="decide" ng-bind-html='::defaultOriginStr'></option>
                        <option value="home" ng-bind-html='::defaultHomeStr'></option>
                        <option value="mygames" ng-bind-html='::defaultGameLibraryStr'></option>
                        <option value="store" ng-bind-html='::defaultStoreStr'></option>
                    </select>
                </span>
            </div>

        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details has-drop origin-settings-clearfix">
        <origin-settings-item itemstr="{{::languageSectionStr}}" itemhintstr="{{::languageSectionHintStr}}"></origin-settings-item>

        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
                <span class="otkselect origin-settings-drop-select">
                    <select name="setting-dropdown" class="origin-settings-select" ng-options="locale as locale.name for locale in locales" ng-model='currentLocale' ng-change="changeLang()"></select>
                </span>
            </div>

        </div><!-- close /section -->

    </div><!-- close /origin-settings-details - row -->

</section>
            
                
                
<section id="#update" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::clientupdatestr'></h1>
            </div>
        </div><!-- close /section -->
    </header>


    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::updategamesstr}}" itemhintstr="{{::updategameshintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{auto_patch}}" toggleaction="toggleSetting('auto_patch')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::updateoriginstr}}" itemhintstr="{{::updateoriginhintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{auto_update}}" toggleaction="toggleSetting('auto_update')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::originbetastr}}" itemhintstr="{{::originbetahintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{beta_opt_in}}" toggleaction="toggleSetting('beta_opt_in')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->


</section>                
                
                
                
                
<section id="#start-up" class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::startupstr'></h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::autostartstr}}" itemhintstr="{{::autostarthintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{run_on_sys_start}}" toggleaction="toggleSetting('run_on_sys_start')" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::lhresponderstr}}" itemhintstr="{{::helperhintstr}}"></origin-settings-item>
        <origin-settings-slide-toggle togglecondition="{{origin_responder}}" toggleaction="toggleLocalhostService()" addclass="origin-settings-div-side"></origin-settings-slide-toggle>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix" ng-hide="true">    <!-- hide for now until functionality is built out -->
        <origin-settings-item itemstr="{{::shortcutstr}}" itemhintstr="{{::shortcuthintstr}}"></origin-settings-item>

        <div class="origin-settings-div origin-settings-div-side shortcut origin-settings-toggle">
            <a class="shortcut create-shortcut otkbtn otkbtn-light" ng-bind-html='::shortcutcreatestr'></a>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details origin-settings-clearfix" ng-hide="true">    <!-- hide for now until functionality is built out -->
        <origin-settings-item itemstr="{{::menushortcutstr}}" itemhintstr="{{::menushortcuthintstr}}"></origin-settings-item>

        <div class="origin-settings-div origin-settings-div-side origin-settings-toggle">
            <a id="servicebtn" href="" class="otkbtn otkbtn-light" style="float:right" ng-bind-html='::menushortcutcreatestr'></a>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

</section>

