<section class="origin-settings-section origin-settings-clearfix">
    <header class="origin-settings-header origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2">{{::titleStr}}</h1>
            </div>
        </div><!-- close /section -->
    </header>

    <div class="origin-settings-details origin-settings-clearfix">
        <origin-settings-item itemstr="{{::enableOIGStr}}" itemhintstr="{{::enableOIGHintStr}}"></origin-settings-item>
        <div class="origin-settings-div origin-settings-div-side">
            <div class="otktoggle origin-settings-toggle" style="" ng-class="{'otktoggle-ison':enableOIG, 'otkbtn-disabled':isGamePlaying}" ng-click="toggleEnableOIGSetting()">
                <span class="otktoggle-slide"></span>
            </div>
        </div>
    </div><!-- close /origin-settings-details - row -->

    <div class="origin-settings-details un-verified origin-settings-clearfix">
        <origin-settings-item itemstr="{{::unverifiedStr}}" itemhintstr="{{::unverifiedHintStr}}"></origin-settings-item>
        <div class="origin-settings-div origin-settings-div-side">
            <div class="otktoggle origin-settings-toggle" style="" ng-class="{'otktoggle-ison':inGameAllGames, 'otkbtn-disabled':isGamePlaying}" ng-click="toggleInGameAllGamesSetting()">
                <span class="otktoggle-slide"></span>
            </div>
        </div>
    </div><!-- close /origin-settings-details - row -->


    <div class="origin-settings-details un-verified origin-settings-clearfix ">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">{{::keyboardShortcutStr}}</p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::keyboardHintStr}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
                <p class="origin-settings-p otktitle-4">{{::defaultShortcutStr}}  <strong>{{::defaultHotkeyStr}}</strong>.</p>
            </div>
        </div><!-- close /section -->


        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
                <div class="otkinput">
                    <input id="oig-leHotKeys" class="shortcut-box-error oig-leHotKeys" value="{{hotkeyString}}" placeholder="" readonly="true">
                </div>
            </div>
        </div><!-- close /section -->
    </div><!-- close /origin-settings-details - row -->

    <div class="otktooltip otktooltip-error otktooltip-bottom origin-settings-oig-hkerror1" style=" top: 247px; right: 18px;">
        <b class="otktooltip-arrow"></b>
        <div class="otktooltip-inner otktitle-4"><strong>{{shortcutInUseStr}}</strong></div>
    </div>

    <div class="origin-settings-details un-verified origin-settings-clearfix">
        <div class="origin-settings-div origin-settings-div-main">
            <div class="origin-settings-text-desc">
                <p class="origin-settings-p otkc origin-settings-global">{{::windowPinShortcutStr}}</p>
                <span class="origin-settings-icon-wrap">
                    <a origin-tooltip="{{::windowPinHintStr}}" origin-tooltip-add-class="otkc">
                        <i class="otkc bubble-tip otkicon otkicon-help"></i>
                    </a>
                </span>
                <p class="origin-settings-p otktitle-4">{{::defaultShortcutStr}}  <strong>{{::defaultHotkeyPinStr}}</strong>.</p>
            </div>
        </div><!-- close /section -->

        <div class="origin-settings-div origin-settings-div-side">
            <div class="origin-settings-drop-select">
                <div class="otkinput">
                    <input id="oig-lePinKeys" class="shortcut-box-error oig-lePinKeys" value="{{hotkeyPinString}}" placeholder="" readonly="true">
                </div>

            </div>
        </div><!-- close /section -->

        <div class="otktooltip otktooltip-error otktooltip-bottom origin-settings-oig-hkerror2" style=" top: 60px; right: -5px;">
            <b class="otktooltip-arrow"></b>
            <div class="otktooltip-inner otktitle-4"><strong>{{shortcutInUseStr}}</strong></div>
        </div>

    </div><!-- close /origin-settings-details - row -->

</section>
