
 <!-- Use nav tag if the pills are a significant navigation block,
use a div otherwise --> 
<nav class="otknavbar" role="navigation" origin-authstatelistener>
    <div ng-if="isLoggedIn" class="origin-settings">
        <nav class="settings-nav otknavbar navbar-issticky" data-drop="otkpills" data-stickto role="navigation">
            <ul class="otknav settings-tab otknav-pills">
                <li class="otkpill" ng-class="{'otkpill-active' : OriginSettingsCtrl.isSet(pages.application)}" ng-show="OriginSettingsCtrl.isClientRunning() && !inOIG">
                    <a class="otktitle-4" href ng-click="OriginSettingsCtrl.setPage(pages.application)" ng-bind-html='::tabNames[2]'></a>
                </li>
                <li class="otkpill" ng-class="{'otkpill-active' : OriginSettingsCtrl.isSet(pages.diagnostics)}" ng-show="OriginSettingsCtrl.isClientRunning() && !inOIG">
                    <a class="otktitle-4" href ng-click="OriginSettingsCtrl.setPage(pages.diagnostics)" ng-bind-html='::tabNames[3]'></a>
                </li>
                <li class="otkpill" ng-class="{'otkpill-active' : OriginSettingsCtrl.isSet(pages.installs)}" ng-show="OriginSettingsCtrl.isClientRunning() && !inOIG">
                    <a class="otktitle-4" href ng-click="OriginSettingsCtrl.setPage(pages.installs)" ng-bind-html='::tabNames[4]'></a>
                </li>
                <li class="otkpill" ng-class="{'otkpill-active' : OriginSettingsCtrl.isSet(pages.notifications)}" ng-show="OriginSettingsCtrl.isClientRunning()">
                    <a class="otktitle-4" href ng-click="OriginSettingsCtrl.setPage(pages.notifications)" ng-bind-html='::tabNames[5]'></a>
                </li>
                <li class="otkpill" ng-class="{'otkpill-active' : OriginSettingsCtrl.isSet(pages.oig)}" ng-show="OriginSettingsCtrl.isClientRunning()">
                    <a class="otktitle-4" href ng-click="OriginSettingsCtrl.setPage(pages.oig)" ng-bind-html='::tabNames[6]'></a>
                </li>
                <li class="otkpill" ng-class="{'otkpill-active' : OriginSettingsCtrl.isSet(pages.voice)}" ng-show="OriginSettingsCtrl.isClientRunning() && voiceSupported">
                    <a class="otktitle-4" href ng-click="OriginSettingsCtrl.setPage(pages.voice)" ng-bind-html='::tabNames[9]'></a>
                </li>
            </ul>
            <div class="otknav-pills-bar" style="width: 135px; transform: translate3d(0px, 0px, 0px);"></div>
        </nav>        
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.application)}">
            <origin-settings-application></origin-settings-application>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.diagnostics)}">
            <origin-settings-diagnostics></origin-settings-diagnostics>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.installs)}">
            <origin-settings-installs></origin-settings-installs>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.notifications)}">
            <origin-settings-notifications></origin-settings-notifications>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.oig)}">
            <origin-settings-ingame></origin-settings-ingame>
        </section>
        <section class="origin-settings-tabbed-section origin-settings-clearfix" ng-class="{'active-section': OriginSettingsCtrl.isSet(pages.voice)}">
            <origin-settings-voice></origin-settings-voice>
        </section>

        <origin-control-toast  id="auto-save-toast" toasttype="simple" toasttitle="{{changeSavedStr}}" toasticon="otkicon-checkcircle" class="ng-isolate-scope"></origin-control-toast>
    </div>
</nav>
