<section id="#voice" class="origin-settings-section origin-settings-clearfix">
	<header class="origin-settings-header origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::deviceSettingsStr'></h1>
			</div>
		</div><!-- close /section -->
	</header>

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::selectMicStr}}
				<hint text="{{::selectMicHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::selectMicHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
			</div>
		</div><!-- close /section -->
		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-drop-select origin-settings-voice-devices">
				<span class="otkselect origin-settings-drop-select">
					<select name="setting-dropdown" class="microphone origin-settings-select" ng-model="selectedInputDevice" ng-change="commitSetting('selectedInputDevice')"
                        ng-options="inputDevice as inputDevice for inputDevice in inputDevices">
                    </select>
				</span>
			</div>

		</div><!-- close /section -->
	</div><!-- close /origin-settings-details - row -->

	<div class="origin-settings-details origin-settings-has-voice origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main" style="width: 40%; border: 0px solid red;">
			<div class="origin-settings-text-desc">
				<p style=" margin-bottom: -2px;" class="origin-settings-p otkc origin-settings-global" ng-bind-html='::micVolumeStr'></p>
				<script>
				    $("a.microphone-test").click(function(){
				        $(this).html($(this).text() == 'Stop Testing' ? 'Test Microphone' : 'Stop Testing');
				    });
				</script>

			</div>
		</div><!-- close /section -->
		<div class="origin-settings-div origin-settings-div-side">
	        <control-slider-microphone sliderid="microphone-volume"><div class="origin-settings-range-field otkslider">
            <span class="otkicon otkicon-mute"></span>
            <span for="{{sliderid}}" class="otkslider-track"></span>
            <input type="range" min="0" max="100" id="{{sliderid}}" name="{{sliderid}}" value="65" oninput="outputUpdate(value)" class="origin-settings-voice">
            <span class="otkicon otkicon-microphone"></span>
        </div>

<script>
	/*function outputUpdate(vol) {
		document.querySelector('#speakers-volume').value = vol;
	}*/

    $('.otkslider > input')
        .show(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');})
        .mousemove(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');})
        .mouseup(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');});

</script></control-slider-microphone>
		</div><!-- close /section -->
		<div class="origin-settings-hide origin-settings-div origin-settings-div-side-half">
	           <control-slider-microphone sliderid="microphone-volume"><div class="origin-settings-range-field otkslider">
	<span class="otkicon otkicon-mute"></span>
	    <span for="{{sliderid}}" class="otkslider-track"></span>
	    <input type="range" min="0" max="100" id="{{sliderid}}" name="{{sliderid}}" value="65" oninput="outputUpdate(value)" class="origin-settings-voice">
	<span class="otkicon otkicon-microphone"></span>
</div>

<script>
	/*function outputUpdate(vol) {
		document.querySelector('#speakers-volume').value = vol;
	}*/

    $('.otkslider > input')
        .show(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');})
        .mousemove(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');})
        .mouseup(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');});

</script></control-slider-microphone>
			</div><!-- close /section -->
		<div class="origin-settings-hide origin-settings-div origin-settings-div-side-half">
			<a class="otkbtn otkbtn-light" data-toggle="otkmodal" data-target="#profile-" ng-bind-html='::testMicStr'></a>
		</div><!-- close /origin-settings-details - row -->

	</div><!-- close /origin-settings-details - row -->

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::selectSpkrStr}}
				<hint text="{{::selectSpkrHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::selectSpkrHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
			</div>
		</div><!-- close /section -->

		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-drop-select origin-settings-voice-devices">
				<span class="otkselect origin-settings-drop-select">
					<select name="setting-dropdown" class="speakers origin-settings-select" ng-model="selectedOutputDevice" ng-change="commitSetting('selectedOutputDevice')"
                        ng-options="outputDevice as outputDevice for outputDevice in outputDevices">
                    </select>
				</span>
			</div>

		</div><!-- close /section -->
	</div><!-- close /origin-settings-details - row -->

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global" ng-bind-html='::sprkVolumeStr'><span class="origin-settings-hide otktitle-5 otktitle-5-caps">(<output for="speakers-volume" id="speakers-volume"></output>)</span></p>
			</div>
		</div><!-- close /section -->
		<div class="origin-settings-div origin-settings-div-side">

        <control-slider-speakers sliderid="speakers-volume"><div class="origin-settings-range-field otkslider">
        <span class="otkicon otkicon-speaker"></span>

	    <span for="{{sliderid}}" class="otkslider-track"></span>
	    <input type="range" min="0" max="100" id="{{sliderid}}" name="{{sliderid}}" value="65" oninput="outputUpdate(value)" class="origin-settings-voice">
	<span class="otkicon otkicon-speaker up"><span class="otkicon otkicon-speakinglevels"></span></span>
</div>

<script>
		/*function outputUpdate(vol) {
			document.querySelector('#speakers-volume').value = vol;
		}*/

    $('.otkslider > input')
        .show(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');})
        .mousemove(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');})
        .mouseup(function(){$('.otkslider-track[for = "' + $(this).attr('id') + '"]').css('width', $(this).val().toString() + '%');});

</script>


<!-- <div class="origin-settings-range-field">
				<span class="otkicon otkicon-add"></span>
					<input type="range" min="0" max="1" step="0.1" name="speakers-volume" id="speakers-volume" value="1" oninput="outputUpdate(value)">
					<span class="thumb"><output for="speakers-volume" id="speakers-volume"></output></span>
				<span class="otkicon otkicon-add"></span>
				<script>
					function outputUpdate(vol) {
						document.querySelector('#speakers-volume').value = vol;
					}
				</script>
	</div>closing .origin-settings-range-field -->
</control-slider-speakers>

		</div><!-- close /section -->
	</div><!-- close /origin-settings-details - row -->
</section>

<section id="#activation" class="origin-settings-section origin-settings-clearfix">
	<header class="origin-settings-header origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-wrap origin-settings-left">
                <h1 class="otktitle-2" ng-bind-html='::captureSettingsStr'></h1>
			</div>
		</div>
	</header>

	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::captureModeStr}}
				<hint text="{{::captureModeHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::captureModeHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
			</div>
		</div>
		<div class="origin-settings-div origin-settings-div-side">
			<div class="origin-settings-drop-select">
				<span class="otkselect origin-settings-drop-select">
					<select name="setting-dropdown" class="voiceactivation origin-settings-select" ng-init="enable_push_to_talk='true'" ng-model="enable_push_to_talk" ng-change="commitSetting('enable_push_to_talk')">
						<option value="false" ng-bind-html='::voiceActivateStr'></option>
						<option value="true" ng-bind-html='::pushToTalkStr'></option>
					</select>
				</span>
			</div>

		</div>
	</div>

	<div class="origin-settings-details origin-settings-clearfix push-to-talk-shortcut" ng-show="enable_push_to_talk==='true'">
		<div class="origin-settings-div origin-settings-div-main" style="width: 40%; border: 0px solid red;">
			<div class="origin-settings-text-desc">
				<p style=" margin-bottom: -2px;" class="origin-settings-p otkc origin-settings-global">{{::pushToTalkShortcutStr}}
				<hint text="{{::pushToTalkShortcutHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::pushToTalkShortcutHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
				<a href="#" class="otkc otkc-small otka" ng-bind-html='::restoreDefaultStr'></a>
			</div>
		</div>

		<div class="origin-settings-div origin-settings-div-side">
            <div id="ctrlnpt" class="origin-settings-drop-select">
			    <div class="origin-settings otkinput">
			        <input id="shortcut-talk" class="shortcut-box-error your-ingame" value="Ctrl + 5" placeholder="">
			    </div>
			</div>
			<a href="javascript:void(0);" class="origin-settings-voice-test-microphone origin-settings-ptt otkc otkc-small otka">{{testMicLinkStr}}</a>
		</div>
	</div>

	<div id="txtinptTT" class="otktooltip otktooltip-error otktooltip-bottom" style=" top: 185px; right: 18px;">
	    <b class="otktooltip-arrow"></b>
	    <div class="otktooltip-inner otktitle-4"><strong>{{::shortcutInUseStr}}</strong></div>
	</div>

	<!-- Microphone Sensitivity -->
	<div class="origin-settings-details origin-settings-has-voice origin-settings-clearfix microphone-sensitivity-row"  ng-show="enable_push_to_talk==='false'">
		<div class="origin-settings-div origin-settings-div-main" style="width: 40%; border: 0px solid red;">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::micSensitivityStr}}
				<hint text="{{::micSensitivityHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::micSensitivityHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
			</div>
		</div>

		<div class="origin-settings-div origin-settings-div-side">
			<control-slider-sensitivity sliderid="microphone-sensitivity">
			    <div class="origin-settings-range-field otkslider">
					<span class="otkicon icon-mute "></span>
			    	<span for="{{sliderid}}" class="otkslider-track"></span>
			    	<input type="range" min="0" max="100" id="{{sliderid}}" name="{{sliderid}}" value="65" class="origin-settings-voice">
					<span class="origin-settings-sensitivity-microphone"><i class="otkicon otkicon-microphone"></i></span>
				</div>
			</control-slider-sensitivity>
			<div class="mode-voice mike-test">
				<ul class="origin-settings-voice-audio-test">
					<li class="bar b0"></li>
					<li class="bar b1"></li>
					<li class="bar b2"></li>
					<li class="bar b3"></li>
					<li class="bar b4"></li>
					<li class="bar b5"></li>
					<li class="bar b6"></li>
					<li class="bar b7"></li>
					<li class="bar b8"></li>
					<li class="bar b9"></li>
					<li class="bar b10"></li>
					<li class="bar b11"></li>
					<li class="bar b12"></li>
					<li class="bar b13"></li>
					<li class="bar b14"></li>
					<li class="bar b15"></li>
					<li class="bar b16"></li>
					<li class="bar b17"></li>
					<li class="bar b18"></li>
					<li class="bar b19"></li>
					<li class="bar b20"></li>
				</ul>
			</div>
			<a href="javascript:void(0);" class="origin-settings-voice-test-microphone origin-settings-va otkc otkc-small otka">{{testMicLinkStr}}</a>
		</div>
	</div>


	<div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::voiceChatIndStr}}
				<hint text="{{::voiceChatHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::voiceChatHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
				<p class="origin-settings-p otktitle-4 origin-settings-hide">...</p>
			</div>
		</div>

		<div class="origin-settings-div origin-settings-div-side">
            <div class="otktoggle origin-settings-toggle" ng-class="{'otktoggle-ison':voice_chat_indicator}" ng-click="toggleSetting('voice_chat_indicator')">
                <span class="otktoggle-slide"></span>
            </div>
		</div>
	</div>

	<!--div class="origin-settings-details origin-settings-clearfix">
		<div class="origin-settings-div origin-settings-div-main">
			<div class="origin-settings-text-desc">
				<p class="origin-settings-p otkc origin-settings-global">{{::voiceChatWarnStr}}
				<hint text="{{::voiceChatWarnHintStr}}" specialclass="" class="ng-isolate-scope"><span data-toggle="otktooltip" data-placement="top" title="{{::voiceChatWarnHintStr}}" class="bubble-tip otkicon otkicon-help origin-settings-global"></span></hint></p>
			</div>
		</div>
		<div class="origin-settings-div origin-settings-div-side">
            <div class="otktoggle origin-settings-toggle" ng-class="{'otktoggle-ison':no_warning_voice_conflict}" ng-click="toggleSetting('no_warning_voice_conflict')">
                <span class="otktoggle-slide"></span>
            </div>
		</div>
	</div-->

</section>
