<section class="origin-store-access-nux-discount">
    <h2 class="otktitle-2" ng-bind-html="::titleStr"></h2>
    <p class="otktitle-3" ng-bind-html="::description"></p>
    <div class="origin-store-access-nux-discount-banner-bg">
        <img ng-src="{{ image }}" alt="" class="origin-store-access-nux-discount-banner-image">
    </div>
    <div class="origin-store-access-nux-pills">
    	<span 
            class="origin-store-access-nux-pill" 
            ng-repeat="i in getPillCount() track by $index" 
            ng-class="{'origin-store-access-nux-pill-selected': ($index + 1) === currentIndex}">
        </span>
    </div>
    <button class="otkbtn otkbtn-nux origin-store-access-nux-discount-cta" ng-click="nextStage()" ng-bind-html="::btn"></button>
</section>