<section class="origin-store-access-nux-trials">
    <h2 class="otktitle-2" ng-bind-html="::titleStr"></h2>
    <p class="otktitle-3" ng-bind-html="formattedDescription"></p>
    <div class="origin-store-access-nux-trials-banner-bg">
        <div class="origin-store-access-nux-trials-banner">
            <div class="origin-store-access-nux-trials-banner-wrapper">
                <img ng-src="{{ image }}" alt="" class="origin-store-access-nux-trials-banner-image">
            </div>
            <div class="origin-store-access-nux-trials-banner-title">
                <h2 class="otktitle-2">{{ model.displayName }}</h2>
            </div>
            <div class="origin-store-access-nux-trials-banner-hover">
                <h2 class="otktitle-2 origin-store-access-nux-trials-banner-hover-title">{{ model.displayName }}</h2>
                <origin-cta-directacquisition
                    description="{{ ::getItNowBtn }}"
                    type="primary"
                    origin-infobubble="{{ infobubbleContent }}"
                    offer-id="{{ model.offerId }}"
                    is-vault="false"
                    class="origin-store-access-nux-trials-banner-hover-cta">
                </origin-cta-directacquisition>
            </div>
        </div>
    </div>
    <div class="origin-store-access-nux-pills">
        <span 
            class="origin-store-access-nux-pill" 
            ng-repeat="i in getPillCount() track by $index" 
            ng-class="{'origin-store-access-nux-pill-selected': ($index + 1) === currentIndex}">
        </span>
    </div>
    <button class="otkbtn otkbtn-nux origin-store-access-nux-trials-cta" ng-click="nextStage()" ng-bind-html="::btn"></button>
</section>