<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.1.0">
	<name>Settings</name>
	
	<feature name="http://widgets.dm.origin.com/features/interfaces/clientSettings" />
	<feature name="http://widgets.dm.origin.com/features/interfaces/originUser" />
	<feature name="http://widgets.dm.origin.com/features/interfaces/entitlementManager" />
	<feature name="http://widgets.dm.origin.com/features/interfaces/installDirectoryManager" />
	<feature name="http://widgets.dm.origin.com/features/interfaces/clientNavigation" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/onlineStatus" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originPageVisibility" />	
	<feature name="http://widgets.dm.origin.com/features/interfaces/originVoice" />    
	<feature name="http://widgets.dm.origin.com/features/interfaces/originSocial" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/subscriptionManager" />

    <origin:link role="http://widgets.dm.origin.com/linkroles/generalview" template="/general.html"/>
	<origin:link role="http://widgets.dm.origin.com/linkroles/notificationsview" template="/notifications.html"/>
	<origin:link role="http://widgets.dm.origin.com/linkroles/ingameview" template="/ingame.html"/>
	<origin:link role="http://widgets.dm.origin.com/linkroles/advancedview" template="/advanced.html"/>	
    <origin:link role="http://widgets.dm.origin.com/linkroles/voiceview" template="/voice.html"/>	
	<content src="general.html" />
</widget>
