<div class="origin-social-hub-area-presence">

    <i ng-show="presence !== 'invisible'" ng-class="{'otkpresence' : true,
                    'otkpresence-online': presence == 'online',
                    'otkpresence-away': presence == 'away',
                    'otkpresence-offline': presence == 'invisible'}">
    </i>

    <div class="otkdropdown" ng-show="presenceStr.length">
        <a class="otktitle-4 otktitle-4-strong otkdropdown-trigger otkdropdown-trigger-caret" href="javascript:void(0);" id="origin-social-hub-area-presence-trigger">
            {{presenceStr}}
        </a>
        <div class="otkcontextmenu-wrap" id="origin-social-hub-area-presence-menu">
            <ul class="otkmenu otkmenu-context" role="menu" arialabelledby="origin-social-hub-area-presence-trigger">
                <li role="presentation">
                    <a role="menuitem" data-value="online" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-online"></i>
                        {{onlineLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence == 'online'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>
                <li role="presentation">
                    <a role="menuitem" data-value="away" tabindex="-1" href="javascript:void(0);">
                        <i class="otkpresence otkpresence-away"></i>
                        {{awayLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence == 'away'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>
                <li role="presentation">
                    <a role="menuitem" data-value="invisible" tabindex="-1" href="javascript:void(0);">
                        {{invisibleLoc}}
                    </a>
                    <div class="origin-social-hub-area-presence-menu-checkmark" ng-show="presence == 'invisible'">
                        <i class="otkicon otkicon-checkcircle"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
