<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.1.0">
	<name>Shift Download</name>
	<feature name="http://widgets.dm.origin.com/features/interfaces/entitlementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/dateFormat" />
    
	<content src="index.html" />
</widget>
