<a class="origin-store-carousel-hero-controls origin-store-carousel-hero-controls-left" ng-if="carouselState.slides.length > 1" href="javascript:void(0);" ng-click="goTo(carouselState.current-1)" ng-class="{'origin-store-carousel-hero-controls-active': carouselState.focus}">
    <i class="otkicon otkicon-leftarrowcircle icon-leftarrow-carousel"></i>
</a>
<a class="origin-store-carousel-hero-controls origin-store-carousel-hero-controls-right" ng-if="carouselState.slides.length > 1" href="javascript:void(0);" ng-click="goTo(carouselState.current+1)" ng-class="{'origin-store-carousel-hero-controls-active': carouselState.focus}">
    <i class="otkicon otkicon-rightarrowcircle icon-rightarrow-carousel"></i>
</a>
