<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <mkdir dir="foo" />
    <touch file="foo/bar.txt" />
    <touch file="foo/baz.txt" />
    
    <eval code="@{DirectoryGetFiles('foo', '*.*', '|')}" 
          property="files" 
          type="Function" />
    
    <foreach item="String" in="${files}" property="file" delim="|">
        <fail unless="@{FileExists('${file}')}" />
    </foreach>
</project>
]]>
</code>
</example>