Origin--UIToolkit--OriginPushButton {
	border-image: url(:/OriginCommonControls/OriginPushButton/ebisupushbutton_dark_normal.png) 0 0 0 0 stretch stretch;
	border-radius: 8px;
	min-height: 20px;
	padding: 0px 6px 0px 6px;
	color: #fff;
	outline: none;
    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
}
	
Origin--UIToolkit--OriginPushButton:disabled {
	color: #868886;
	border-image: url(:/OriginCommonControls/OriginPushButton/ebisupushbutton_dark_disabled.png) 0 0 0 0 stretch stretch; 
}

Origin--UIToolkit--OriginPushButton:hover {
    border-image: url(:/OriginCommonControls/OriginPushButton/ebisupushbutton_dark_hover.png) 0 0 0 0 stretch stretch; 
}

/* needs to come AFTER hover */
Origin--UIToolkit--OriginPushButton:pressed  {
	border-image: url(:/OriginCommonControls/OriginPushButton/ebisupushbutton_dark_clicked.png) 0 0 0 0 stretch stretch; 
}