# Build products
generated/
build/

/originClient/*/resources/compiledWidgets/

# The runtime dir has some binaries checked in already
# Be careful to ignore around them
!/originClient/*/runtime/winhttp.dll
!/originClient/*/runtime/OriginUninstall.exe
/originClient/*/runtime/*.dll
/originClient/*/runtime/*.pdb
/originClient/*/runtime/*.map
/originClient/*/runtime/*.exe
/originClient/*/runtime/*.ilk
/originClient/*/runtime/*.log
/originClient/*/runtime/*.exp
/originClient/*/runtime/*.lib
/originClient/*/runtime/curl-ca-bundle.crt
/originClient/*/runtime/codecs/
/originClient/*/runtime/imageformats/
/originClient/*/runtime/EACore.ini
/originClient/*/runtime/*.wad
/originClient/*/runtime/widgets

# Ignore Info plists
/*/*/XCodeOSXTemplate/Info.plist
/*/*/XCodeTemplate/*-xcode.template/Info.plist
/EscalationClientHelper_OSX/*/source/OriginESHelper/OriginESHelper-Info-versioned.plist
/EscalationClient_OSX/*/source/OriginESImpl/OriginESImpl-Info-versioned.plist

/OriginLegacyApp/*/lib/
/OriginLegacyApp/*/bin/
/OriginLegacyApp/*/source/IGO/IGO/igo*.fxo

/OriginCrashReporter/*/bin

/EscalationClient/*/bin

/UpdateTool/*/bin/UpdateTool.*

/OriginVersion/*/target/

# Doxygen output
/docs/
doxygen_log.txt

# bridgedocgen output
/originClient/*/jsinterface/doc/html/

# Vim swap files
.*.swp

# Clang build information
/compile_commands.json
.clang_complete

# Compiled Python
*.pyc

# Mac OS Finder spam
.DS_Store
