//
// exclusive Promo
// --------------------------------------------------

.origin-store-home-promo-exclusive {
  box-sizing: border-box;
  overflow: hidden;
  height: 360px;
  box-shadow: 0 0 2px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.25);
  .transition(all .3s ease-out);
  position: relative;
  width: 96%;
  text-align:center;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.6);
  }
}

.origin-store-home-promo-exclusive-image-wrapper {
  display:block;
  width: 1400px;
  height: 360px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -700px;
  text-align: center;
}

.origin-store-home-promo-exclusive-video {
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.7);
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 25px 0 rgba(30, 38, 44, 0.9);
  color: #ffffff;
  display: inline-block;
  font-size: 35px;
  height: 48px;
  width: 48px;
  padding: 10px;
  position: relative;
  top: 20%;
  text-decoration: none;
  text-indent: 2.5px;
  .transition(all .3s ease-in-out 0s);
  
  &:hover {
    background: rgb(30, 38, 44);
    background: rgba(30, 38, 44, 0.9);
    border: 2px solid #edf1f2;
    .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.5));
    color: @color-white;
  }
}

.origin-store-home-promo-exclusive-header {
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.85);
  width: 100%;
  padding: 14px 15px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: @color-white;
  text-align: left;
}

.origin-store-home-promo-exclusive-content {
  color: @color-white;
  min-height: 78px;
  position: absolute;
  bottom: 10px;
  width: 100%;  
  box-sizing: border-box;
  text-align: left;
  border-width: 0 10px;
  border-color: transparent;
  border-style: solid;
    
  &:hover {
    .origin-store-home-promo-exclusive-content-cta {
      .opacity(100);
    }
  }
}

.origin-store-home-promo-exclusive-content-text {
  background: @color-white;
  min-height: 134px;
  padding: 10px;
  box-sizing: border-box;
}

.origin-store-home-promo-exclusive-content-cta {
  .opacity(0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.9);
  z-index: 2;
  .transition(all .3s ease-in-out 0s);
  
  &:hover .otkbtn {
    .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
  }
  
  .origin-store-home-promo-exclusive-content-cta-wrapper {
    position: relative;
    top: 50%;
    .translate(0, -50%);
    .transition(all 0.3s ease-in-out 0s);
  }
}

.origin-store-home-promo-exclusive-content-offer-packart {
  margin:-10px 10px 0 -10px;
  float: left;
  max-width: 95px;
}

.origin-store-home-promo-exclusive-content-offer-title {
  color: #1e262c;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.origin-store-home-promo-exclusive-content-list {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
  color: #787d85;
  font-size: 12px;
  line-height: 17px;
}

.origin-store-home-promo-exclusive-content-text {
  .otkprice {
    display: block;
  }
}