.origin-store-promo-static {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: @color-darknavy;
  @media screen {
    @media (max-width: 599px) {
      min-height: 360px;
      background-size: cover;
      background-position: right center;
      .transition(all .3s ease-out);
      box-shadow: 0 0 2px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.25);
      &:hover{
        box-shadow: 0 0 10px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.6);
      }
    }
    @media (min-width: 600px) and (max-width: 1099px) {
      min-height: 260px;
      background-size: cover;
      background-position: right center;
      .transition(all .3s ease-out);
      box-shadow: 0 0 2px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.25);
      &:hover{
        box-shadow: 0 0 10px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.6);
      }
    }
    @media (min-width: 1100px) {
      min-height: 260px;
      background-size: cover;
      background-position: right center;
      .transition(all .3s ease-out);
      box-shadow: 0 0 2px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.25);
      &:hover{
        box-shadow: 0 0 10px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.6);
      }
    }
  }    
}

.origin-store-promo-static-caption {  
  position: relative;
  z-index: 2;
  @media screen {
    @media (max-width: 599px) {
      #gradient > .vertical(rgba(30, 38, 44, 0.8), rgba(30, 38, 44, 0.8), 0%, 100%); 
      display: inline-block;
      padding: 24px 0 55px;
      width: 100%;
      position: absolute;
      bottom: 0; 
      left: 0;
      box-sizing: border-box;
      text-align: center;
    }
    @media (min-width: 600px) and (max-width: 1099px) {
      #gradient > .horizontal(rgba(30, 38, 44, 0.8), rgba(30, 38, 44, 0), 0%, 100%); 
      display: inline-block;
      height: 260px;
      padding: 0 42px;
      width: 400px;
      box-sizing: border-box;
    }
    @media (min-width: 1100px) {
      #gradient > .horizontal(rgba(30, 38, 44, 0.8), rgba(30, 38, 44, 0), 0%, 100%); 
      display: inline-block;
      height: 260px;
      padding: 0 42px;
      width: 400px;
      box-sizing: border-box;
    }
  }    
}

.l-origin-store-promo-static-caption {
  @media screen {
    @media (max-width: 599px) {
    }
    @media (min-width: 600px) and (max-width: 1099px) {
      .translate(0,50%)
    }
    @media (min-width: 1100px) {
      .translate(0,50%)
    }
  }    
}

.origin-store-promo-static-caption-title {
  color: @color-white;
}

.origin-store-promo-static-caption-subtitle {
   color: @color-white;
   margin-bottom: 20px;
}

.origin-store-promo-static-image-wrapper {
  overflow: hidden;
  height: 100%;
  text-align: center;
  width: 5000px;
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%, -50%);
  
  @media screen {
    @media (max-width: 600px) {
      top: 0;
      .translate(-50%, 0);
    }
    @media (min-width: 1000px) {
      height: 360px;
    }
  }  
}

.origin-store-promo-static-image-wrapper-inner {
  position: relative;
  display: inline-block;
  top: 50%;
  .translate(0, -50%);
  @media screen {
    @media (max-width: 600px) {
      top: 0;
      .translate(0, 0);
      #gradient > .vertical(rgba(30, 38, 44, 0.8), rgba(30, 38, 44, 0), 0%, 100%); 
    }
  }  
}

.origin-store-promo-static-image-scrim-right {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  #gradient > .horizontal(rgba(30, 38, 44, 0), rgba(30, 38, 44, 1), 0%, 100%);
}

.origin-store-promo-static-image-scrim-left {
  width: 100px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  #gradient > .horizontal(rgba(30, 38, 44, 1), rgba(30, 38, 44, 0), 0%, 100%);

  @media screen {
    @media (max-width: 600px) {
      height: 100%;
      width: 100%;
      #gradient > .vertical(rgba(30, 38, 44, 0), rgba(30, 38, 44, 1), 80%, 100%); 
      z-index: 1;
    }
  }
}

.origin-store-promo-static-image {
  width: auto;
  height: auto;
  
  @media screen {
    @media (min-width: 1000px) {
      height: 100%;
    }
  }
}

