<div class="origin-store-home-promo-exclusive l-origin-store-column-{{ size }}">

    <div class="origin-store-home-promo-exclusive-image-wrapper" ng-if="image">
        <img src="{{ image }}" alt="" class="origin-store-home-promo-exclusive-image">
    </div>

    <p class="otktitle-5 origin-store-home-promo-exclusive-header" ng-if="header">{{ header }}</p>

    <origin-cta-playvideo
        ng-if="videoid" 
        actionid="play-video" 
        videoid="{{ videoid }}"
        restrictedage="{{ restrictedage }}"
        type="round">
    </origin-cta-playvideo>
    
    <div class="origin-store-home-promo-exclusive-content clearfix" ng-if="offerid">
        
        <div class="origin-store-home-promo-exclusive-content-cta">
            <div class="origin-store-home-promo-exclusive-content-cta-wrapper">
                <origin-cta-pdp 
                    href="{{ href }}" 
                    description="{{ description }}" 
                    type="primary">
                </origin-cta-pdp>
            </div>
        </div>
        
        <div class="origin-store-home-promo-exclusive-content-text">
            <a href="{{ href }}"><img src="{{ packart }}" alt="{{ offertitle }}" class="origin-store-home-promo-exclusive-content-offer-packart"></a>
            
            <h2 class="otktitle-2 "><a href="{{ href }}" class="otktitle-3 origin-store-home-promo-exclusive-content-offer-title">{{ offertitle }}</a></h2>
        
            <ul ng-if="bulletone" class="tile-list otktitle-4 origin-store-home-promo-exclusive-content-list">
                <li>{{ bulletone }}</li>
                <li ng-if="bullettwo">{{ bullettwo }}</li>
            </ul>
            
            <origin-store-price offerid="{{ offerid }}"></origin-store-price>
        </div>        
    </div>
</div>