<div class="origin-store-home-promo-featured l-origin-store-column-{{ size }}">
        
    <a href="{{ href }}" class="origin-store-home-promo-featured-link"></a>
    
    <div class="origin-store-home-promo-featured-image-wrapper" ng-if="image">
        <img src="{{ image }}" alt="" class="origin-store-home-promo-featured-image">
    </div>
    
    <p class="otktitle-5 origin-store-home-promo-featured-header" ng-if="header">{{ header }}</p>

    <origin-cta-playvideo
        ng-if="videoid" 
        actionid="play-video" 
        videoid="{{ videoid }}"
        restrictedage="{{ restrictedage }}"
        type="round">
    </origin-cta-playvideo>

    <div class="origin-store-home-promo-featured-content" ng-if="!offerid">
        <h2 class="otktitle-2">{{ title }}</h2>
        
        <div ng-if="timer">
            <origin-store-timer goal-date="{{ goaldate }}"></origin-store-timer>
        </div>
        
        <h3 class="otktitle-3">{{ subtitle }}</h3>
        
        <p class="otktitle-5 origin-store-home-promo-featured-content-available" ng-if="available && enddate">{{ aText }}</p>
    </div>
    
    <div class="origin-store-home-promo-featured-content" ng-if="offerid">
        <h2 class="otktitle-2 ">{{ title }}</h2>
        
        <div ng-if="timer">
            <origin-store-timer goal-date="{{ goaldate }}"></origin-store-timer>
        </div>
        
        <ul ng-if="bulletone && !timer" class="tile-list otktitle-4 origin-store-home-promo-featured-content-list">
            <li>{{ bulletone }}</li>
            <li ng-if="bullettwo">{{ bullettwo }}</li>
        </ul>
        
        <div ng-class="{'origin-store-home-promo-featured-content-hidden': timer}">
            <origin-store-price offerid="{{ offerid }}"></origin-store-price>
        </div>
    </div>
</div>