<div ng-show="userLoggedIn" class="origin-social-chatwindow-area-minimized">

    <div class="origin-social-chatwindow-area-minimized-button" ng-class="{ 'hasAdditionalTabs' : additionalTabCount() > 0 }" keytarget tabindex=-1 >
        <i ng-show="activeConversation.state === 'ONE_ON_ONE'" class="origin-social-chatwindow-area-minimized-presence"
           ng-class="{'otkpresence' : true,
            'otkpresence-online': xmppConnection.isConnected && activePresence.show === 'ONLINE',
            'otkpresence-ingame': xmppConnection.isConnected && activePresence.show === 'INGAME',
            'otkpresence-broadcasting': xmppConnection.isConnected && activePresence.isBroadcasting,
            'otkpresence-joinable': xmppConnection.isConnected && activePresence.isJoinable,
            'otkpresence-away': xmppConnection.isConnected && activePresence.show === 'AWAY',
            'otkpresence-offline': !xmppConnection.isConnected || activePresence.show === 'UNAVAILABLE'}">
        </i>
        <span class="otktitle-4 origin-social-chatwindow-area-minimized-label"><strong>{{activeConversation.title}}</strong></span>
        <div ng-show="unreadCount > 0" class="otkbadge">{{unreadCount}}</div>
    </div>

    <div ng-show="additionalTabCount() > 0" class="origin-social-chatwindow-area-minimized-tabselector otkdropdown-trigger" id="origin-social-chatwindow-area-minimized-tabselector" keytarget=contextmenu tabindex=-1>
        <span class="otktitle-5 origin-social-chatwindow-area-minimized-tabselector-tab-count">{{additionalTabCount()}}</span>
        <div class="otkdropdown-wrap otkdropdown-wrap-arrowbottom otkdropdown-wrap-arrowright" >
            <ul class="otkmenu otkmenu-dropdown" role="menu" arialabelledby="origin-social-chatwindow-area-minimized-tabselector">
                <li ng-repeat="id in getAdditionalTabIds()"
                        data-conversation-id="{{id}}"
                        class="origin-social-chatwindow-tab-overflow-menu-item"
                        role="presentation" keytarget="contextmenuitem" tabindex="-1">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);">
                        <origin-social-chatwindow-conversation-presenceindicator conversation="getConversationById(id)" ng-if="getConversationById(id).state === 'ONE_ON_ONE'"></origin-social-chatwindow-conversation-presenceindicator>
                        <span class="otkc otkc-small origin-social-chatwindow-tab-overflow-menu-item-title" keytargetenter><strong>{{getConversationById(id).title}}</strong></span>
                        <div ng-show="getConversationById(id).unreadCount > 0" class="otkbadge">{{getConversationById(id).unreadCount}}</div>
                        <span class="origin-social-chatwindow-tab-overflow-menu-item-close"><i class="otkicon otkicon-close"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        <i class="otkicon otkicon-downarrow origin-social-chatwindow-area-minimized-tabselector-caret"></i>
        <div ng-show="overflowTabsUnreadCount > 0" class="otkbadge">{{overflowTabsUnreadCount}}</div>
    </div>

</div>
