Origin--UIToolkit--OriginDropdown {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_normal.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
    color: #404040;
    text-align: left center;
    min-width: 60px;
    min-height: 20px;
    max-height: 20px;

    font-family: "__FONT_FAMILY__";
    font-size: __FONT_SIZE__;
    font-weight: __FONT_WEIGHT__;
}

Origin--UIToolkit--OriginDropdown:!focus:!hover {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_normal.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
}

Origin--UIToolkit--OriginDropdown:!focus:hover {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_hovered.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
}

Origin--UIToolkit--OriginDropdown:focus:!hover {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_normal_focused.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
}

Origin--UIToolkit--OriginDropdown:focus:hover {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_hovered_focused.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
}

Origin--UIToolkit--OriginDropdown:focus:pressed {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_normal_focused.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
}

Origin--UIToolkit--OriginDropdown:disabled {
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown_disabled.png) 5px 5px 5px 5px stretch stretch;
    border-width: 5px 5px 5px 5px;
}

Origin--UIToolkit--OriginDropdown::down-arrow {
    image: url(:/OriginCommonControls/OriginDropdown/dropdown_arrow.png);
}

Origin--UIToolkit--OriginDropdown QAbstractItemView { 
    /*
    border-image: url(:/OriginCommonControls/OriginDropdown/dropdown.png) 14px 16px 19px 16px stretch stretch;
    border-width: 14px 16px 19px 16px;
    margin-top: -10px;
    margin-bottom: -12px;
    margin-left: -10px;
    margin-right: -10px;
    */
}

Origin--UIToolkit--OriginDropdown::drop-down {
    border: none;
    background: none;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
}