Origin--UIToolkit--OriginCalloutIconTemplate
{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:, y2:1, stop:0 #f8f8f8, stop:1 #e3e3e3);
    border-radius: 3px;
}

Origin--UIToolkit--OriginCalloutIconTemplate #head
{
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 5px;
}

Origin--UIToolkit--OriginCalloutIconTemplate[hasContent="true"] #head
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

Origin--UIToolkit--OriginCalloutIconTemplate[direction="left"],
Origin--UIToolkit--OriginCalloutIconTemplate[direction="left"] #head
{
    border-top-left-radius: 0px;
}

Origin--UIToolkit--OriginCalloutIconTemplate[direction="right"],
Origin--UIToolkit--OriginCalloutIconTemplate[direction="right"] #head
{
    border-top-right-radius: 0px;
}

Origin--UIToolkit--OriginCalloutIconTemplate #icon
{
    background-color: #2896CE;
    image: url(:/OriginCommonControls/OriginBanner/info_large.png);
    border-radius: 4px;
}