<li class="l-origin-home-merchtile l-origin-hometile">
    <section class="origin-home-merchtile origin-home-merchtile-callout" origin-touch="touched(event)">
        <img ng-src="{{image}}" class="origin-home-merchtile-img">
        <div class="origin-home-merchtile-callout-content" ng-class="::textColorClass">
            <h1 class="origin-home-merchtile-callout-headline"><strong ng-bind-html="headline"></strong></h1>
            <p class="otkc origin-home-merchtile-callout-description otktitle-3" ng-bind-html="text"></p>
        </div>
        <div class="origin-home-merchtile-overlay">
            <div class="l-origin-home-merchtile-cta" ng-transclude></div>
        </div>
    </section>
</li>