
.origin-carouselimage-isloading {
    .loading(@color-darknavy);
    opacity: 0.6;
    position: absolute;
    top: 0;
}



.origin-carouselimage {
    position: relative;

    .origin-carouselimage-headerarea {
        position: relative;
        padding-bottom: 10px;
        padding-top: 10px;

        .origin-carouselimage-title {
            display: inline;
            padding-right: 10px;
        }
    }
    .origin-carouselimage-container {
        overflow: hidden;
        width: 100%;
        /*min-height: 372px;*/

        ul.origin-carouselimage-slidearea {
          display: block;
          padding-left: 3px;
          position: relative;
          width: 2000%;
          transform: translateX(0);
          .transition(0.5s ease-in-out all);
          li{
            margin-right: 15px;
          }
        }

    }

}

.origin-carouselimage-container {
    width: 100%;
    overflow: hidden;
}

/* Image Item CSS */
.origin-carouselimageitem, .origin-carouselvideoitem {
    width: 315px;
    display: inline-block;
    @media only screen and (max-width: 600px) {
    width: 210px;
  }
}

.origin-carouselimageitem-thumb {
  width: 100%;
}

/* Video Item CSS */
.origin-carouselvideoitem-container{
  position: relative;
  width: 315px;
  height: 177px;
  overflow: hidden;
  .transition(all .3s ease-in-out 0s);
  @media only screen and (max-width: 600px) {
    width: 210px;
    height: 118px;
  }
}

.origin-carouselvideoitem-videothumb {
  width: 100%;
  position: relative;
  top: 50%;
  .translate(0, -50%);
}

.origin-carouselvideoitem-videoicon {
  background: rgb(30, 38, 44);
  background: rgba(30, 38, 44, 0.7);
  border: 2px solid #ffffff;
  border-radius: 50%;
  .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.9));
  color: #ffffff;
  display: inline-block;
  font-size: 35px;
  height: 48px;
  width: 48px;
  left: 121.5px;
  top: 52px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  text-indent: 6.5px;
  z-index: 2;
  line-height: 48px;
  .transition(all .3s ease-in-out 0s);
  @media only screen and (max-width: 600px) {
    height: 32px;
    width: 32px;
    left: 77px;
    top: 34px;
    font-size: 21px;
    line-height: 32px;
  }

  &:hover {
    background: rgb(30, 38, 44);
    background: rgba(30, 38, 44, 0.9);
    border: 2px solid #edf1f2;
    .box-shadow(0 0 25px 0 rgba(30, 38, 44, 0.5));
    color: @color-white;
  }
}