# This file is auto-included by rpcratecap.sh and rpcraterep.sh.
# and defines the Blaze service cluster parameters used to capture
# RPC rate profile data from graphite and generate a CSV report. 

# Blaze service name used in graphite query
serviceName="test.gos-qa-sltstress-2011-ps3"

# uncomment to define time range(GMT) used in graphite query
#from="08:40_20120511"
#till="23:59_20120511"

# graphite host location
graphiteServer="gossdevapp11.abn-sjc.ea.com"
#graphiteServer="gossdevapp12.abn-sjc.ea.com"

# servers used in graphite query and CVS report generation
declare -A serverCounts
serverCounts["configMaster"]=1
serverCounts["coreMaster"]=2
serverCounts["mmSlave"]=2
serverCounts["searchSlave"]=2
serverCounts["coreSlave"]=26

