<div class='origin-usercard'>
	<div class='origin-usercard-section'>
		<div class='origin-usercard-avatar'>
			<origin-avatar nucleusid='{{nucleusId}}' avatar-size='medium'></origin-avatar>
		</div>
		<div class='origin-usercard-userinfo'>
			<a href='#/profile' class='otka origin-usercard-username'>{{originId}}</a>
			<a href='javascript:void(0)' ng-click='createMessage()' class='otka otkc-small origin-usercard-message'>
				<i class='otkicon otkicon-chatbubble'></i>{{message}}
			</a>
		</div>
	</div>
	<div class='origin-usercard-action' ng-if="isPlayingGame">
		<p class='otkc otkc-small' ng-bind-html="currentlyPlaying"></p>
		<div class='otkc otkc-small' ng-if="isJoinable">
			<a href='javascript:void(0)' class='otka'>{{joinGame}}</a>
		</div>
	</div>
	<i class='origin-usercard-arrow'></i>
</div>