<div class="origin-agegate origin-agegate-underage-{{underage}}" ng-if="matureContent === 'true' && restrictedAge">
	<div ng-if="underage !== 'no'" class="origin-agegate-overlay">
		<div ng-if="underage == 'yes'" class="origin-agegate-restrictedmessage">
			<span class="otktitle-2" ng-bind-html="restrictedMessage"></span>
		</div>
		<form novalidate ng-if="underage == 'unknown'" class="origin-agegate-form" name="originAgeGate" >
			<div class="origin-agegate-header">
				<div class="origin-agegate-header-title otktitle-2" ng-bind-html="titleStr"></div>
				<div class="otkc" ng-bind-html="descriptionStr"></div>
			</div>
			<span class="otkselect origin-agegate-select">
				<select name="origin-agegate-month" ng-model="dob.month" ng-options="m.key as m.value for m in ::months" required></select>
				<span class="otkselect-label" ng-if="dob.month" ng-bind="getFormattedMonthString()"></span>
				<span class="otkselect-label" ng-if="!dob.month" ng-bind-html="monthLabelStr"></span>
			</span>
			<span class="otkselect origin-agegate-select">
				<select name="origin-agegate-day" ng-model="dob.day" ng-options="d for d in ::days" required></select>
				<span class="otkselect-label" ng-if="dob.day" ng-bind="dob.day"></span>
				<span class="otkselect-label" ng-if="!dob.day" ng-bind-html="dayLabelStr"></span>
			</span>
			<span class="otkselect origin-agegate-select">
				<select name="origin-agegate-year" ng-model="dob.year" ng-options="y for y in ::years" required></select>
				<span class="otkselect-label" ng-if="dob.year" ng-bind="dob.year"></span>
				<span class="otkselect-label" ng-if="!dob.year" ng-bind-html="yearLabelStr"></span>
			</span>
			<div class="origin-agegate-buttons">
				<button ng-disabled="originAgeGate.$invalid" ng-click="confirmAge()" class="otkbtn otkbtn-primary" ng-bind-html="confirmStr"></button>
			</div>
		</form>
	</div>
</div>