<a
    href="javascript:void(0)"
    ng-class="{
	'otkavatar': true,
	'otkavatar-isonline': presence.show === 'ONLINE',
	'otkavatar-isingame': presence.show === 'INGAME',
    'otkavatar-isjoinable': presence.isJoinable,
	'otkavatar-isbroadcasting': presence.isBroadcasting,
	'otkavatar-isaway': presence.show === 'AWAY',
	'otkavatar-isoffline': presence.show === 'UNAVAILABLE',
	'otkavatar-medium': avatarSize === 'medium',
	   'otkavatar-large': avatarSize === 'large'
    }"				
    ng-click="onClick($event)"
>
    <img ng-src="{{userImage}}" alt="{{originId}}" class="otkavatar-img" width='{{::avatarWidthHeight}}' height='{{::avatarWidthHeight}}'>
</a>
