<div class="origin-background-video-container" >
    <div class="origin-background-video-image" ng-if="isSmallScreen">
        <origin-store-backgroundimage ng-if="youtubeImageUrl" image='{{ ::youtubeImageUrl }}'></origin-store-backgroundimage>
    </div>
    <div class="origin-background-video-player-container" ng-hide="isSmallScreen" ng-class="{'origin-background-video-player-container-visible': isVisible}">
        <div class="origin-background-video-player-scrim" origin-store-backgroundscrims>
            <div class="origin-background-video-player"></div>
        </div>
    </div>
    <div class="origin-background-video-overlay"></div>
</div>
