<div class="origin-bglightflare-infinite-wrapper">
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-one"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-two"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-three"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-four"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-five"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-six"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-seven"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-eight"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-nine"></div>
    <div class="origin-bglightflare-infinite origin-bglightflare-infinite-ten"></div>
</div>
