<div class="origin-bglightflare-wrapper">
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-one"></div>
    <div class="origin-bglightflare origin-bglightflare-medium origin-bglightflare-two"></div>
    <div class="origin-bglightflare origin-bglightflare-large origin-bglightflare-three"></div>
    <div class="origin-bglightflare origin-bglightflare-large origin-bglightflare-four"></div>
    <div class="origin-bglightflare origin-bglightflare-medium origin-bglightflare-five"></div>
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-six"></div>
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-seven"></div>
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-eight"></div>
    <div class="origin-bglightflare origin-bglightflare-medium origin-bglightflare-nine"></div>
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-ten"></div>
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-eleven"></div>
    <div class="origin-bglightflare origin-bglightflare-small origin-bglightflare-twelve"></div>
</div>
