<nav class="otknavbar origin-pills" role="navigation">
    <ul class="otknav otknav-pills origin-pills-nav origin-pills-nav-ishidden">
        <li class="otkpill" 
            ng-class="{'otkpill-active': selectedIndex === $index}" 
            ng-repeat="item in items" origin-postrepeat>
            <a ng-href="{{item.href}}" ng-click="navItemClick($event, item, $index)" ng-bind="item.title"></a>
        </li>
        <li class="otkpill otkpill-overflow otkdropdown">
            <a href="javascript:void(0);" class="otkdropdown-trigger otkdropdown-trigger-caret" ng-click="toggleDropdown()" ng-bind="strings.moreText"></a>
            <div ng-class="{'otkdropdown-isvisible': showDropdown}"
                class="otkdropdown-wrap otkdropdown-wrap-alignright otkdropdown-wrap-noarrow">
                <ul class="otkmenu otkmenu-dropdown otktitle-5 otktitle-5-caps" role="menu">
                    <li role="presentation"
                        ng-repeat="item in items"
                        ng-class="{'otkmenu-item-active': selectedIndex === $index}"
                        origin-postrepeat>
                        <a role="menuitem" tabindex="-1" ng-href="{{item.href}}" ng-click="navItemClick($event, item, $index)" ng-bind="item.title"></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="otknav-pills-bar origin-pills-bar"></div>
    <span class="otkselect origin-pills-select">
        <select ng-model="navSelectValue" ng-change="onChange(navSelectValue)">
            <option ng-repeat="item in items"
                value="{{$index}}"
                ng-selected="selectedIndex === $index" ng-bind="item.title"></option>
        </select>
        <span class="otkselect-label" ng-bind="items[selectedIndex].anchorName"></span>
    </span>
</nav>
