<section class="origin-policy l-origin-section l-origin-section-divider">
    <div class="origin-policy-header">
        <span class="otkselect origin-policy-select">
            <select ng-model="selectedPolicy" ng-options="policy.date group by policy.title for policy in policies"></select>
            <span class="otkselect-label" ng-bind="selectedPolicy.date"></span>
        </span>
        <h1 class="otktitle-2" ng-bind-html="selectedPolicy.title"></h1>
    </div>
    <div class="origin-policy-content" ng-transclude></div>
</section>