<div class="origin-socialmedia" ng-class="{ 'origin-socialmedia-theme-dark': theme === 'dark',
                                            'origin-socialmedia-theme-light': theme === 'light',
                                            'origin-socialmedia-theme-lightWithBackground': theme === 'lightWithBackground'}">

	<origin-socialmedia-facebookshare title-str="{{titleStr}}" description="{{description}}" image="{{image}}" ng-hide="isFacebookHidden"></origin-socialmedia-facebookshare>
	<origin-socialmedia-twitter display-name="{{titleStr}}"></origin-socialmedia-twitter>
</div>
