.originbanner {
	margin: -24px -30px 27px -31px;
	border-top-right-radius: 5px;
	padding: 16px 20px 16px 55px!important;
	font: bold 13px Arial!important;
    font-family: inherit!important;
	-webkit-box-flex: 1.0 !important;
	color: #fff!important;
	min-height: 18px !important;
	border-top: none!important;
}

.info {
	background: url('../../images/uitoolkit/info_large.png') no-repeat 13px center;
	/*background-color: #269dcf;*/
}

.success {
	background: url('../../images/uitoolkit/validated_large.png') no-repeat 13px center;
	/*background-color: #5cab26;*/
}

.error {
	background: url('../../images/uitoolkit/error_large.png') no-repeat 13px center;
	/*background-color: #c93507;*/
}

.notice {
	color: #444;
	background: url('../../images/uitoolkit/notice_large.png') no-repeat 13px center;
}