input[type="radio"]
{
	box-sizing:content-box; -webkit-appearance:none;
	width:25px; height:24px; overflow:hidden; 
	margin:0; border:0 none; padding:0;
	background:transparent url(../../images/uitoolkit/radiobuttons.png) no-repeat 0 0;
}

input[type="radio"]:focus
{
	background-position:0 -24px;
}

input[type="radio"]:checked
{
	background-position:0 -48px;
}

input[type="radio"]:focus:checked
{
	background-position:0 -120px;
}

input[type="radio"]:disabled
{
	background-position:0 -72px;
}

input[type="radio"]:disabled:checked
{
	background-position:0 -169px;
}