input[type="checkbox"] {
	box-sizing:content-box; -webkit-appearance:none;
	width:22px; height:21px; overflow:hidden;
	margin:0; border:0 none; padding:0;
	background:transparent url(../../images/uitoolkit/checkboxes.png) no-repeat 0 0;
}
input[type="checkbox"]:checked  {
	background-position: 0 -42px;
}
input[type="checkbox"]:checked:disabled  {
	background-position: 0 -147px;
}
input[type="checkbox"]:focus {
	background-position: 0 -21px;
}
input[type="checkbox"]:checked:focus {
	background-position: 0 -105px;
}
input[type="checkbox"]:disabled  {
	background-position: 0 -63px;
	cursor: default;
}