
.otk-level-indicator
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	display: inline-block;
	position: relative;

	width: 206px;
	height: 11px;
	
	background-color: transparent;
	
	margin: 6px;
}

.otk-level-indicator .track
{
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
}

.otk-level-indicator .track.outer
{
	position: relative;
	
	width: 206px;
	height: 11px;
	
	background-color: #dadada;
	border-radius: 5px;
}

.otk-level-indicator .track.inner,
.otk-level-indicator .track.unfilled
{
	border-radius: 3px;
	position: absolute;	
}

.otk-level-indicator .track.inner
{
	margin: 3px 4px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background-image: -webkit-gradient(
		linear, left top, right top,
		color-stop(0, #74d200),
		color-stop(1, #dc0405)
	);	
}

.otk-level-indicator .track.unfilled
{
	left: 90px;
	right: 0;
	top: 0;
	bottom: 0;
	
	background-color: #888888;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
}

.otk-level-indicator.disabled .track.unfilled
{
	background-color: #dadada;
}

.otk-level-indicator .segments
{
	position: absolute;	
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.otk-level-indicator .segment
{
	float: left;
	
	width: 0;
	height: 5px;
	padding: 0;
	margin: 0 0 0 8px;
	border: none;
	border-left: 1px solid rgba(0,0,0,.15);
	border-right: 1px solid #dadada;
}