@origin-store-access-boxartbackground-image-width: 90px;
@origin-store-access-boxartbackground-image-height: 127px;

.origin-store-access-footer {
    @module-height: 600px;

    .origin-store-access-footer-container {
        position: relative;
        overflow: hidden;

        .media-min-width(@pdp-width-large, {
            height: @module-height;
        });
    }

    .origin-store-access-footer-content-container {
        width: 100%;

        .media-min-width(@pdp-width-large, {
            position: absolute;
            top: 0;
            height: 600px;
            max-width: 1200px;
            left: 50%;
            z-index: 3;
            .translate(-50%, 0);
        });

        .media-max-width(@pdp-width-large, {
            text-align: center;
            background-color: @color-white;
        });
    }

    .origin-store-access-footer-content {
        .box-sizing(border-box);

        .media-min-width(@pdp-width-large, {
            padding: 45px 45px 45px 80px;
            max-width: 605px;
            position: absolute;
            top: 50%;

            .translate(0, -50%);
            .opacity(1);
            .transition(all @transition-long);
        });

        .media-max-width(@pdp-width-large, {
            padding: 45px 45px 45px 80px;
            max-width: 575px;
            text-align: left;
            margin: 0 auto;
            width: 100%;
        });

        .media-max-width(@width-mobile-small, {
            padding: 45px 35px 45px 60px;
        });
    }

    .origin-store-access-footer-content-hidden {
        .opacity(0);
        .translate(0, -30%);
    }

    .origin-store-access-footer-gradient {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: @module-height;
        background-image: -webkit-linear-gradient(to right top, #194b7f 0%, #0adca5 50%, #194b7f 100%);
        background-image: linear-gradient(to right top, #194b7f 0%, #0adca5 50%, #194b7f 100%);
        .opacity(.7);
    }

    .origin-store-access-boxartbackground {
        overflow: hidden;

        .media-min-width(@pdp-width-large, {
            position: relative;
            top: 0;
            left: -15%;
            z-index: 1;
            width: 130%;
        });

        .media-max-width(@pdp-width-large, {
            height: @module-height;
            margin-left: -15%;
            width: 130%;
        });
    }

    .origin-store-access-footer-foreground {
        width: calc(100% + 500px);
        height: @module-height;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .origin-store-access-footer-fill {
        width: 40%;
        height: 600px;
        display: inline-block;
        background-color: #fff;
        float: left;

        .media-max-width(@pdp-width-large, {
            display: none;
        });
    }

    .origin-store-access-footer-slice {
        float: left;

        .media-max-width(@pdp-width-large, {
            display: none;
        });
    }

    .origin-store-access-list {
        max-width: 450px;
        list-style-type: none;
        color: @color-darkgray;
        margin: 0;
        padding: 0;
    }

    .origin-store-access-item {
        margin-bottom: 12px;
        position: relative;
    }

    .origin-store-access-item-check {
        position: absolute;
        font-size: 32px;
        color: @color-green;
        top: -2px;
        left: -35px;
    }

    .origin-store-access-fine-print {
        margin-top: 18px;
        color: @color-darkgray;
    }

    .origin-store-access-footer-legal {
        color: @color-charcoal;
        max-width: 100%;
        margin: 0;

        .media-min-width(@width-mobile-small, {
            padding: 45px;
        });

        .media-max-width(@width-mobile-small, {
            padding: 45px 35px;
        });
    }

    .origin-store-access-boxartbackground-image-container {
        width: @origin-store-access-boxartbackground-image-width;
        height: @origin-store-access-boxartbackground-image-height;
        padding: 1px;
        float: left;
        .origin-store-access-boxartbackground-image {
            .filter(grayscale(100%));
            width: 100%;
            height: auto;
        }
    }
}
