.origin-store-access-hero {
    @module-height: 600px;

    text-align: center;
    position: relative;
    height: @module-height;
    overflow: hidden;
    background: @color-white;

    .origin-store-access-hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 4;
        .translate(-50%, -50%);
        max-width: 1000px;

        .media-min-width(@width-mobile, {
            width: 50%;
        });

        .media-max-width(@width-mobile, {
            width: 60%;
        });

        .media-max-width(@width-mobile-small, {
            width: 80%;
        });
    }

    .origin-store-access-hero-subtitle {
        margin-bottom: 20px;
    }

    .origin-store-access-hero-gradient {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: @module-height;
        background-image: -webkit-linear-gradient(to right top, #194b7f 0%, #0adca5 50%, #194b7f 100%);
        background-image: linear-gradient(to right top, #194b7f 0%, #0adca5 50%, #194b7f 100%);
        .opacity(.7);
        .transition(all @transition-short);
    }

    &.origin-store-access-hero-loading {
        .origin-store-access-hero-gradient {
            .opacity(0);
        }
    }

    .origin-store-access-boxartbackground {
        position: absolute;
        top: 0;
        left: -15%;
        z-index: 1;
        width: 130%;
        .transition(opacity .5s ease-in-out);
    }

    &.origin-store-access-hero-loading {
        .origin-store-access-boxartbackground {
            .opacity(0);
        }
    }

    .origin-store-access-hero-foreground {
        width: calc(100% + 834px);
        height: @module-height;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        left: 50%;
        .translate(-50%, 0);
    }

    .origin-store-access-hero-leftcorner {
        width: 40%;
        height: 600px;
        display: inline-block;
        text-align: right;
        min-width: 417px;
        margin-right: -1px;
    }

    .origin-store-access-hero-middle {
        background-color: @color-white;
        height: @module-height;
        width: 20%;
        display: inline-block;
    }

    .origin-store-access-hero-rightcorner {
        width: 40%;
        height: 600px;
        display: inline-block;
        text-align: left;
        min-width: 417px;
        margin-left: -1px;
    }

    .origin-store-access-hero-platform {
        margin-top: 12px;
        color: @color-darkgray;

        .otkicon-windows {
            font-size: 24px;
            position: relative;
            top: 6px;
        }
    }

	.origin-store-access-boxartbackground-image-container {
	    width: 90px;
	    height: 127px;
	    padding: 1px;
	    float: left;
	    .origin-store-access-boxartbackground-image {
	        .filter(grayscale(100%));
	        width: 100%;
	        height: auto;
		}
	}
}
