.origin-store-access-interstitial {
	background: @color-white;
	.box-sizing(border-box);
}

.origin-store-access-interstitial-header {
	background: @color-lightgray;
	padding: 30px;
}

.origin-store-access-interstitial-footer {
	text-align: right;
	padding: 30px;
	border-top: 1px solid @color-lightgray;
}

.origin-store-access-interstitial-offers {
	text-align: center;
	margin: 30px 30px 0;
	.display-flex();
    .flex-wrap(wrap);
    .justify-content(space-between);
    .align-items(stretch);
}

.origin-store-access-interstitial-window {
	overflow: auto;
}

.origin-store-access-interstitial-trial {
	margin: 30px 30px 18px;

	.media-max-width(@global-width-small, {
		text-align: center;
    });
}

.origin-store-access-interstitial-logo {
	float: left;
	margin-right: 20px;
	width: 130px;

	.media-max-width(@global-width-small, {
		margin: 0 0 10px;
		float: none;
    });
}

.origin-store-access-interstitial-desc {
	margin: 0;
	display: table;
}

.origin-store-access-interstitial-offer {
	border: 2px solid @color-lightnavy;
	border-radius: 4px;
	max-width: 48%;
	padding: 50px;
	cursor: pointer;
	position: relative;
	margin-bottom: 30px;

	.display-flex();
	.justify-content(center);

	&.origin-store-access-interstitial-offer-selected {
		border-color: @color-green;
		cursor: default;
		.box-shadow(@hover-drop-shadow);

		&:after {
			font-family: 'origin';
		    content: "\e624";
		    font-size: 36px;
		    color: @color-white;
		    padding: 7px;
		    border-radius: 50px;
		    background: @color-green;
		    position: absolute;
		    left: 50%;
		    margin-left: -25px;
		    bottom: -24px;
		    .animation(giftingPosterPop 0.9s cubic-bezier(0.03, 1, 0.2, 1) forwards);
		}
	}

	.box-shadow(@default-drop-shadow);
	.box-sizing(border-box);
	.flex(0, 0, 48%);
	.transition(all @transition-short);

	.media-max-width(@width-mobile-small, {
        max-width: 100%;
        .flex(0, 0, 100%);
    });
}

.origin-store-access-interstitial-value {
	color: @color-green;
	top: 24px;
	.horizontal-center();
}

.origin-store-access-interstitial-offer-price {
	margin-bottom: 12px;
	margin-top: 6px;
	color: @color-mediumnavy;
}

.origin-store-access-interstitial-offer-duration {
	margin-bottom: 0;
}

.origin-store-access-interstitial-save {
	background: @color-green;
	color: @color-white;
	border-radius: 4px;
    padding: 4px 18px;
    display: inline-block;
}