
// origin access NUX intro stage
.origin-store-access-nux-intro {
    padding: 30px;
    text-align: center;
    display: none;

    &.origin-store-access-nux-active {
        display: block;
    }
}

.origin-store-access-nux-intro-logo {
    margin-top: 12px;
    margin-bottom: 24px;
}

.origin-store-access-nux-intro-title {
    margin: 0 0 30px;
    max-width: none;
}

.origin-store-access-nux-intro-cta {
    margin-bottom: 24px;
}

.origin-store-access-nux-intro-content {
    max-width: none;
    margin-top: 12px;
    color: @color-darkgray;
}

// origin access NUX vault stage
.origin-store-access-nux-vault {
    display: none;
    padding: 30px;
    text-align: center;

    &.origin-store-access-nux-active {
        display: block;
    }
}

.origin-store-access-nux-vault-list {
    margin-top: 30px;
    padding-bottom: 30px;
    background-image: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%),
    -webkit-linear-gradient(left, rgba(216, 220, 224, 0) 0%, #d8dce0 30%, #d8dce0 50%, #d8dce0 70%, rgba(216, 220, 224, 0) 100%);
    background-image: linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(left, rgba(216, 220, 224, 0) 0%, #d8dce0 30%, #d8dce0 50%, #d8dce0 70%, rgba(216, 220, 224, 0) 100%);
}

.origin-store-access-nux-vault-cta {
    margin-top: 24px;
}

// origin access NUX trials stage
.origin-store-access-nux-trials {
    display: none;
    padding: 30px;
    text-align: center;

    &.origin-store-access-nux-active {
        display: block;
    }
}

.origin-store-access-nux-trials-banner-bg {
    margin:0 -30px;
    padding: 30px 30px 54px;
    background-image: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%),
    -webkit-linear-gradient(left, rgba(216, 220, 224, 0) 0%, #d8dce0 30%, #d8dce0 50%, #d8dce0 70%, rgba(216, 220, 224, 0) 100%);
    background-image: linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(left, rgba(216, 220, 224, 0) 0%, #d8dce0 30%, #d8dce0 50%, #d8dce0 70%, rgba(216, 220, 224, 0) 100%);
}

.origin-store-access-nux-trials-banner {
    position: relative;

    &.origin-store-access-nux-trials-banner-hovered,
    &:hover {
        .origin-store-access-nux-trials-banner-title {
            .opacity(0);
        }

        .origin-store-access-nux-trials-banner-hover {
            .opacity(1);
        }

        .origin-store-access-nux-trials-banner-hover-title {
            top: 30%;
        }

        .origin-store-access-nux-trials-banner-hover-cta {
            top: 50%;
        }
    }
}

.origin-store-access-nux-trials-banner-wrapper {
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 100%;
}

.origin-store-access-nux-trials-banner-image {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
}

.origin-store-access-nux-trials-banner-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: @color-white;
    background: fade(@color-darknavy, 85%);
    padding: 18px;
    .opacity(1);
    .transition(all .3s ease-out);
}

.origin-store-access-nux-trials-banner-hover {
    background: fade(@color-darknavy, 85%);
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    .opacity(0);
    .transition(all .3s ease-out);

    .origin-store-access-nux-trials-banner-hover-cta {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 100%;
        max-width: @otk-cta-width;
        .translateX(-50%);
        .transition(top .3s ease-out);
    }

    .origin-store-access-nux-trials-banner-hover-title {
        color: @color-white;
        position: absolute;
        top: 25%;
        left: 50%;
        .translateX(-50%);
        .transition(top .3s ease-out);
    }
}

.origin-store-access-nux-trials-cta {
    margin-top: 24px;
}

// origin access NUX discount stage
.origin-store-access-nux-discount {
    display: none;
    padding: 30px;
    text-align: center;

    &.origin-store-access-nux-active {
        display: block;
    }
}

.origin-store-access-nux-discount-banner-bg {
    margin:0 -30px;
    padding: 30px;
    background-image: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%),
    -webkit-linear-gradient(left, rgba(216, 220, 224, 0) 0%, #d8dce0 30%, #d8dce0 50%, #d8dce0 70%, rgba(216, 220, 224, 0) 100%);
    background-image: linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(left, rgba(216, 220, 224, 0) 0%, #d8dce0 30%, #d8dce0 50%, #d8dce0 70%, rgba(216, 220, 224, 0) 100%);
}

.origin-store-access-nux-discount-cta {
    margin-top: 24px;
}

// origin access NUX pills
.origin-store-access-nux-pills {
    .clearfix();
    margin-top: 30px;
}

.origin-store-access-nux-pill {
    width: 10px;
    height: 10px;
    border: 1px solid @color-lightnavy;
    border-radius: 50%;
    margin-right: 6px;
    display: inline-block;
}

.origin-store-access-nux-pill-selected {
    border: 1px solid #1BA58A;
    background: #1BA58A;
}