.origin-store-access-takeover {
    text-align: center;
    position: relative;
    margin-bottom: 54px;
    height: 768px;
    overflow: hidden;
}

.origin-store-access-takeover-image-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.origin-store-access-takeover-image-container {
    width: 10000px;
    position: relative;
    left: 50%;
    .translate(-50%, 0);
}

.origin-store-access-takeover-image-scrim {
    position: relative;
    display: inline-block;
}

.origin-store-access-takeover-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    padding: 45px 45px 40px;
    .box-sizing(border-box);
    .translate(-50%, 0);

    .media-max-width(@global-width-large, {
        width: 100%;
    });

    .origin-store-video {
        position: absolute;
        top: 0;
        left: 50%;
        .translate(-50%, -100%);
    }

    .origin-cta-primary {
        display: inline;
        margin: 5px;

        .media-max-width(@width-mobile, {
            display: inline-block;
            width: 100%;
        });
    }

    .origin-cta-secondary {
        display: inline;
        margin: 5px;

        .media-max-width(@width-mobile, {
            display: inline-block;
            width: 100%;
        });
    }
}

.origin-store-access-takeover-header {
    color: @color-white;
}



.origin-store-access-takeover-list {
    color: @color-white;
    margin-bottom: 40px;

    .origin-store-access-list {
        padding: 0;
    }

    .origin-store-access-item {
        list-style-type: none;
    }

    .origin-store-access-item-check {
        font-size: 32px;
        color: @color-green;
        position: relative;
        top: 10px;
    }
}

.origin-store-access-takeover-content-dark {
    .origin-store-access-takeover-header {
        color: @color-black;
    }

    .origin-store-access-takeover-list {
        color: @color-black;
    }
}