
<span ng-if="friendsPlaying.length || game.downloadable" ng-class="{ 'origin-game-icons-downloadable' : game.downloadable, 'origin-game-icons-friendsplaying': friendsPlaying.length }">
    <div class="origin-game-icons-gradient"></div>
    <div class="origin-game-icons-wrapper">
        <origin-game-friendsplaying-icon ng-if="friendsPlaying.length" friendsplaying="friendsPlaying"></origin-game-friendsplaying-icon>
        <origin-game-download-icon ng-if="game.downloadable" offerId="{{::offerId}}"></origin-game-download-icon>
    </div>
</span>
