<div class="origin-ogd-gamestats">
	<section class="origin-ogd-gamestats-section">
	    <h5 class="otktitle-5 otktitle-5-caps origin-ogd-sectiontitle" ng-bind-html="hoursPlayedStr"></h5>
	    <p class="otktitle-4"><strong ng-bind-template="{{userHoursPlayed}} {{userNeverPlayed}}"></strong></p>
	</section>
	<section class="origin-ogd-gamestats-section">
	    <h5 class="otktitle-5 otktitle-5-caps origin-ogd-sectiontitle" ng-bind-html="lastPlayedStr"></h5>
	    <p class="otktitle-4"><strong ng-bind-template="{{userLastPlayed | amDateFormat:'LL'}} {{userHasNotPlayed}}"></strong></p>
	</section>
</div>
