<div ng-show="isDownloading || isComplete" 
     ng-class='{
        "origin-gameprogress": true,
        "otkprogress": true,
        "otkprogress-radial": true,
        "otkprogress-radial-isactive": downloadState == "active",
        "otkprogress-radial-ispaused": downloadState == "paused",
        "otkprogress-radial-iscomplete": downloadState == "complete",
        "otkprogress-radial-ispreparing": downloadState == "preparing",
        "otkprogress-radial-isgt50": percent > 50}'>
    <div ng-class='{
            "otkprogress-radial-progress": true,
            "otkprogress-clipright": percent <= 50,
            "otkprogress-clipleft": percent > 50}'>
        <div class="otkprogress-radial-progressfill otkprogress-clipleft" ng-style="rotationDegreesCSS"></div>
    </div>
    <div class="otkprogress-radial-progressfill otkprogress-clipright otkprogress-radial-progressfillgt50"></div>
    <div class="otkprogress-radial-center">
        <span class="otkprogress-percent">{{percent}}%</span>
    </div>
</div>
<div class="otkprogress-status otktitle-5 otktitle-5-caps">{{stateStr}}</div>

<div ng-show="playableAtStr" class="l-progress-playable-status">
    <div class="progress-playable-status otktitle-5 otktitle-5-caps" 
         ng-class="{playable: shouldLightFlag}">
             {{playableAtStr}}
    </div>
</div>

<div class="progress-error-count otktitle-5" ng-show="errorCountStr">{{errorCountStr}}</div>