<div class='origin-gametile ng-class:{
        "origin-gametile-isdisabled": isDisabled,
        "origin-gametile-ismasked": isQueued,
        "origin-gametile-ishighlighted": isHighlighted
    }' origin-context-menu='getAvailableActions()' origin-automation-gamestate
     ng-click='onTileClick()' ng-dblclick='onTileDblClick()'>
    <a href>
        <origin-game-badge offerid='{{::offerId}}' ng-hide='isQueued'></origin-game-badge>
        <img origin-fallbackimage='{{defaultPackArt}}' class='origin-gametile-img origin-tealium-gametile-img' ng-src='{{packArt}}' alt='{{displayName}}'>
        <div class='l-origin-game-violator-wrapper' ng-if='delayLoaded' ng-hide='isQueued'>
            <origin-game-icons offerid='{{::offerId}}'></origin-game-icons>
            <origin-game-violator offerid='{{::offerId}}'></origin-game-violator>
        </div>
    </a>

    <a href ng-if='delayLoaded'>
        <section class='l-origin-gametile-overlay' ng-show='isQueued'>
            <h1 class='origin-gametile-title otktitle-3'>{{displayName}}</h1>
            <div class='l-origin-gametile-progress'>
                <origin-game-progress offerid='{{::offerId}}'></origin-game-progress>
            </div>
        </section>
    </a>

    <a class="otka" ng-if="showDetailsButton" ng-href="{{getGameDetailsPageUrl()}}" ng-click="goToGameDetailsPage($event)">
        <div class="origin-gametile-overlay">
            <section class="origin-gametile-overlay-content">
                <button class="otkbtn otkbtn-primary">
                    <i class="otkicon otkbtn-primary-icon {{::iconClass}}"></i>
                    <div class="otkbtn-primary-text" ng-bind-html="strings.detailsButtonLabel"></div>
                </button>
            </section>
        </div>
    </a>

</div>
