<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left">
    <origin-store-carousel-hero-banner
        title="Free Games on Origin"
        subtitle="Put away your wallet and enjoy great games at no cost."
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-free-game.png">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>

<div class="l-origin-store-row">
    <h1 class="otktitle-page">Program modules</h1>
</div>

<origin-store-row>
    <origin-store-freegames-program
        size="full"
        offerid="OFB-EAST:39471"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/ultima.jpg"
        offerdescriptiontitle="Join Your Friends in the Fight."
        offerdescription="Experience a revolution in first-person shooters. Pilot powerful titans and battle across over a dozen maps in fast-paced, explosive combat.">
    </origin-store-freegames-program>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-program
        size="half"
        description="Learn More"
        offerid="OFB-EAST:39471"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/ultima.jpg"
        offerdescriptiontitle="Join Your Friends in the Fight."
        offerdescription="Experience a revolution in first-person shooters. Pilot powerful titans and battle across over a dozen maps in fast-paced, explosive combat.">
    </origin-store-freegames-program>

    <origin-store-freegames-program
        size="half"
        description="Some Override Text"
        offerid="OFB-EAST:39471"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/ultima.jpg"
        offerdescriptiontitle="Join Your Friends in the Fight."
        offerdescription="Experience a revolution in first-person shooters. Pilot powerful titans and battle across over a dozen maps in fast-paced, explosive combat.">
    </origin-store-freegames-program>
</origin-store-row>

<div class="l-origin-store-row">
    <h1 class="otktitle-page">Offer modules</h1>
</div>

<origin-store-row>
    <origin-store-productlist>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000743"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000858"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000828"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="DR:208591800"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="OFB-EAST:60885"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="DR:230773600"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="OFB-EAST:109546867"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="OFB-EAST:109552419"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000462"></origin-store-carousel-product-gameitem>
        <origin-store-carousel-product-gameitem offerid="Origin.OFR.50.0000743"></origin-store-carousel-product-gameitem>
    </origin-store-productlist>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="left"
        title="On the House."
        subtitle="Download and start Game Time to experience the features and gameplay: check out modes, levels, and options and play as long as the Game Time is running!"
        href="#/free-games/on-the-house"
        description="Learn More"
        offerid="OFB-EAST:109552419"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/simcity2.png"
        offersubtitle="Play for 48 free hours."
        offerdescriptiontitle="What kind of city will you create?"
        offerdescription="You are an architect, cityplanner, Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.">
    </origin-store-freegames-offermodule>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="right"
        title="Game Time"
        subtitle="Game Time is your time to test drive the real game for absolutely no cost. xperience the features and gameplay: check out modes, levels, and options and play as long as the Game Time clock is running!"
        href="#/free-games/game-time"
        description="Learn More"
        offerid="OFB-EAST:109546867"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/bf44.jpg"
        offersubtitle="Play for 48 free hours."
        offerdescriptiontitle="Battlefield 4 Game Time is on!"
        offerdescription="Get one full week with Battlefield 4 for free. Join your friends for 64-player action.">
    </origin-store-freegames-offermodule>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-offermodule
        alignment="left"
        title="Demos & Betas"
        subtitle="Experience a game before it’s released, or get a sample of the final game. Betas and demos are a great way to see what the games are all about."
        href="#/free-games/demos-betas"
        description="Learn More"
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/fifa.jpg"
        offersubtitle="Play for 48 free hours."
        offerdescriptiontitle="Download the FIFA 15 Demo"
        offerdescription="Feel the game. Try the Ignite Engine for free.">
    </origin-store-freegames-offermodule>
</origin-store-row>

<div class="l-origin-store-row">
    <h1 class="otktitle-page">No offer modules</h1>
</div>

<origin-store-row>
    <origin-store-freegames-module
        alignment="left"
        title="On the House."
        subtitle="Download and start Game Time to experience the features and gameplay: check out modes, levels, and options and play as long as the Game Time is running!"
        href="#/free-games/on-the-house"
        description="Learn More"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/simcity2.png">
    </origin-store-freegames-module>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-module
        alignment="right"
        title="Game Time"
        subtitle="Game Time is your time to test drive the real game for absolutely no cost. xperience the features and gameplay: check out modes, levels, and options and play as long as the Game Time clock is running!"
        href="#/free-games/game-time"
        description="Learn More"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/bf44.jpg">
    </origin-store-freegames-module>
</origin-store-row>

<origin-store-row>
    <origin-store-freegames-module
        alignment="left"
        title="Demos & Betas"
        subtitle="Experience a game before it’s released, or get a sample of the final game. Betas and demos are a great way to see what the games are all about."
        href="#/free-games/demos-betas"
        description="Learn More"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/backgrounds/fifa.jpg">
    </origin-store-freegames-module>
</origin-store-row>


<origin-store-row>
    <origin-store-paragraph-pagetitle
        description="Page title">
    </origin-store-paragraph-pagetitle>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headertwo
        description="H2 page title">
    </origin-store-paragraph-headertwo>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headerthree
        description="H3 page title">
    </origin-store-paragraph-headerthree>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headerfour
        description="H4 page title">
    </origin-store-paragraph-headerfour>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headerfive
        description="H5 page title">
    </origin-store-paragraph-headerfive>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-headersix
        description="H6 page title">
    </origin-store-paragraph-headersix>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-content
        description="Content type paragraph">
    </origin-store-paragraph-content>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="Small content type paragraph">
    </origin-store-paragraph-contentsmall>
</origin-store-row>

<origin-store-row>
    <origin-store-paragraph-contentsmall
        description="INTERNET CONNECTION, ORIGIN ACCOUNT, ACCEPTANCE OF PRODUCT AND ORIGIN END USER LICENSE AGREEMENTS (EULAS), AND INSTALLATION OF THE ORIGIN CLIENT SOFTWARE (www.origin.com/about) REQUIRED TO PLAY. YOU MUST BE 13+ TO ACCESS ONLINE SERVICES AND FEATURES. EA ONLINE PRIVACY POLICY AND TERMS OF SERVICE CAN BE FOUND AT www.ea.com. PLEASE REVIEW EULAS AND ADDITIONAL IMPORTANT DISCLOSURES APPLICABLE TO SPECIFIC PRODUCTS AT www.ea.com/1/product-eulas. ONLINE FEATURES AND SERVICES ARE NOT GUARANTEED. EA MAY RETIRE ONLINE FEATURES AND SERVICES (IF ANY) AFTER 30 DAYS NOTICE POSTED ON www.ea.com/1/service-updates. EA MAY PROVIDE CERTAIN INCREMENTAL CONTENT AND/OR UPDATES FOR NO ADDITIONAL CHARGE, IF AND WHEN AVAILABLE.">
    </origin-store-paragraph-contentsmall>
</origin-store-row>
