
<origin-store-row>
    <h2 class="otktitle-2 l-origin-store-column-full">Exclusive Promos</h2>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        restrictedage="18"
        size="full"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000">
    </origin-store-home-promo-exclusive>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000"
        header="Great Game Bundle">
    </origin-store-home-promo-exclusive>
    
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000">
    </origin-store-home-promo-exclusive>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000">
    </origin-store-home-promo-exclusive>
    
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000">
    </origin-store-home-promo-exclusive>
    
    <origin-store-home-promo-exclusive
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        bulletone="Offer controls button."
        edgecolor="#000000">
    </origin-store-home-promo-exclusive>
</origin-store-row>

<origin-store-row>
    <h2 class="otktitle-2 l-origin-store-column-full">Featured Promos</h2>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-featured
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        restrictedage="18"
        size="full"
        description="Learn More"
        href="/#/somelink"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        edgecolor="#000000"
        hidetimer="true"
        header="Some Header">
    </origin-store-home-promo-featured>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-featured
        title="Adrenaline Rush"
        subtitle="Get your blood pumping with up to 70% off Bafflefild Games."
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        enddate="June 2, 2015 12:15:00 PM PST"
        available="Availble Until %endDate%">
    </origin-store-home-promo-featured>
    
    <origin-store-home-promo-featured
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        edgecolor="#000000">
    </origin-store-home-promo-featured>
</origin-store-row>

<origin-store-row>
    <h2 class="otktitle-2 l-origin-store-column-full">Featured Promos with Timers based on offerid</h2>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-timerfeatured
        offerid="Origin.OFR.50.0000462"
        subtitle="this was added after expiry"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        restrictedage="18"
        size="third"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        hidetimer="true"
        header="Some Header">
    </origin-store-home-promo-timerfeatured>
    
    <origin-store-home-promo-timerfeatured
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        hidetimer="true">
    </origin-store-home-promo-timerfeatured>
    
    <origin-store-home-promo-timerfeatured
        offerid="Origin.OFR.50.0000462"
        subtitle="this was added after expiry"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        edgecolor="#000000"
        hidetimer="true">
    </origin-store-home-promo-timerfeatured>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-timerfeatured
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        edgecolor="#000000"
        hidetimer="false">
    </origin-store-home-promo-timerfeatured>
    
    <origin-store-home-promo-timerfeatured
        offerid="Origin.OFR.50.0000462"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        bulletone="Tons of shooty guns."
        bullettwo="Thrilling vehicular combat."
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        hidetimer="false"
        newtitle="title switched but timer stayed">
    </origin-store-home-promo-timerfeatured>
</origin-store-row>

<origin-store-row>
    <h2 class="otktitle-2 l-origin-store-column-full">Featured Promos with Timers</h2>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-timerfeatured
        title="this title should switch after expiry"
        subtitle="this subtitle should switch after expiry"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        restrictedage="18"
        size="third"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        hidetimer="true"
        goaldate="June 19, 2015 01:30:00 PM PDT"
        newtitle="this title was switched after expiry"
        newsubtitle="this subtitle was switched after expiry">
    </origin-store-home-promo-timerfeatured>
    
    <origin-store-home-promo-timerfeatured
        title="this title should switch after expiry"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        hidetimer="true"
        goaldate="June 19, 2015 01:30:00 PM PDT"
        newtitle="this title was switched after expiry">
    </origin-store-home-promo-timerfeatured>
    
    <origin-store-home-promo-timerfeatured
        title="This title will stay after expiry"
        newsubtitle="this was added after expiry"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="third"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        hidetimer="true"
        goaldate="June 19, 2015 01:30:00 PM PDT">
    </origin-store-home-promo-timerfeatured>
</origin-store-row>

<origin-store-row>
    <origin-store-home-promo-timerfeatured
        title="title will stay with timer"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        hidetimer="false"
        goaldate="June 19, 2015 01:30:00 PM PDT">
    </origin-store-home-promo-timerfeatured>
    
    <origin-store-home-promo-timerfeatured
        subtitle="subtitle will switch"
        image="http://docs.x.origin.com/origin-x-design-prototype/images/store/wide-bf.jpg"
        videoid="hlEKa6tUPlU"
        size="half"
        description="Learn More"
        href="/#/somelink"
        edgecolor="#000000"
        hidetimer="false"
        goaldate="June 19, 2015 01:30:00 PM PDT"
        newtitle="title switched but timer stayed"
        newsubtitle="new subtitle">
    </origin-store-home-promo-timerfeatured>
</origin-store-row>