
<origin-store-row>
  <origin-store-paragraph-pagetitle description="Origin Store Page Title" showsocialmedia="true"></origin-store-paragraph-pagetitle>
</origin-store-row>

<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="4000"
    alignment="left"
    showsocialmedia="true">
    <origin-store-carousel-hero-releasebanner
        title="Titanfall: Game of the year! The best thing to happen to anyone ever. Drop a Titan on it"
        subtitle="Some text goes here any text really"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png"
        start-date="June 10 2015 00:00:00 PST"
        end-date="June 15 2015 01:00:00 EST"
        >
      <origin-cta-loadurlinternal
          href="/gamelibrary"
          description="Take me to deals"
          type="primary">
      </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-releasebanner>
  </origin-store-carousel-hero>
</origin-store-row>


<origin-store-row>
  <origin-store-carousel-hero
    auto-rotate="false"
    stationary-period="10000"
    alignment="left"
    showsocialmedia="true">
    <origin-store-carousel-hero-banner
        title="Define Your Destiny"
        subtitle="Pre-order to save 10% and prepare for the Wild Hunt with exclusive bonus items"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_masseffect3_long.png"
        videoid="wS7gfJqFoA"
        restrictedage="18"
        video-description="Hello Video"
        >
         <origin-cta-loadurlinternal
              href="/gamelibrary"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 2"
        subtitle="Some text goes here any text really"
        href="/store/deals"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_titanfall_long.png">
         <origin-cta-loadurlinternal
              href="/store/deals"
              description="Take me to deals"
              type="primary">
         </origin-cta-loadurlinternal>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 3"
        subtitle="YYYYYYYYYYYYYYYYYYYYYYY"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_pvz_long.png">
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 4"
        subtitle="44444444444444444444444"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_chinarising_long.png">
            <origin-cta-pdp
               href=""
               description="Details"
               type="primary">
           </origin-cta-pdp>
    </origin-store-carousel-hero-banner>
    <origin-store-carousel-hero-banner
        title="Right Align: Hero banner 5"
        subtitle="555555555-------------5555555555"
        image="https://qa.preview.cms.origin.com/content/dam/originx/web/app/home/actions/tile_fifaworld_long.png">
    </origin-store-carousel-hero-banner>
  </origin-store-carousel-hero>
</origin-store-row>