//
// Game Tiles
// --------------------------------------------------

// Variables
// -------------------------

@badge-height: 30px;

// Game Tile
// -------------------------

.origin-gametile {
    position: relative;
}

.origin-gametile-img {
    display: block;
    width: 100%;
}

.origin-gametile-isdisabled .origin-gametile-img {
    opacity: 0.3;
}

.origin-gametile-ismasked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: @color-black;
    background: fade(@color-black, 90%);
}


// Top Violator (these should really be badges)
// -------------------------

.origin-game-badge {
    position: absolute;
    right: 0;
    top: 0;
    height: @badge-height;
    color: @color-white;
    padding: 3px 18px;
    background: @color-mediumnavy;
    background: fade(@color-mediumnavy, 85%);
    border-bottom-left-radius: 4px;
    .box-sizing(border-box);
}

.origin-game-badge-new {
    background: @color-green;
    background: fade(@color-green, 85%);
}

// Textual Violators
// -------------------------

.l-origin-game-violator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.origin-game-violator {
    padding: 9px 5px;
    background: @color-black;
    background: fade(@color-black, 90%);
    color: @color-white;
}

.origin-game-violator-content {
    display: table;
}

.origin-game-violator-icon,
.origin-game-violator-text {
    display: table-cell;
    vertical-align: top;
}

.origin-game-violator-icon {
    margin-right: -3px;
    > .otkicon {
        font-size: 36px;
    }
}

.origin-game-violator-text {
    margin: 0;
    padding: 4px 7px;
}


// Different Icons for the violators
// -------------------------

.origin-game-violator-icon-urgent {
    color: @color-red;
}

.origin-game-violator-icon-warning {
    color: @color-orange;
}


// Overlay
// -------------------------

.l-origin-gametile-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    .translate3d(0, -50%, 0);
    z-index: 1;
}

.origin-gametile-title {
    color: @color-white;
    padding: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

// Progress
// -------------------------

.l-origin-gametile-progress {
    margin:15px auto 0;
    width: 102px;
    height: 102px;
}

.origin-gameprogress-percent {
    opacity: 1.0;
    .transition(opacity @transition-short);
}

.origin-gameprogress:hover .origin-gameprogress-percent {
    opacity: 0;
}

.l-origin-gameprogress-ctas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    margin-top: -16px;
    text-align: center;
    font-size: 32px;
    opacity: 0;
    .transition(opacity @transition-short);
}

.origin-gameprogress:hover .l-origin-gameprogress-ctas {
    opacity: 1.0;
}

// game progress call to action

.origin-gameprogress-cta {
    float: left;
    width: 30px;
    height: 32px;
    cursor: pointer;
    *cursor: hand;
    color: @color-mediumnavy;
    &:hover {
        color: @color-white;
    }
}


// TEMP!!!!! just until the OGD is hooked up to show the primary cta button
// -------------------------

.l-origin-temp-cta {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0.90;
  z-index: 900;
}

