.origin-store-accordionlist {
    width: 100%;

    &-item {
        cursor: pointer;
        font-size: @font-size-body-large;
        @padding-size: 20px;
        margin-bottom: 5px;

        //Icon style
        .otkicon-downarrow {
            color: @color-lightnavy;
            font-size: @font-size-icon-font;
            left: -10px;
            .rotate(-90deg);
            .transition(color @timing-simple-animate);
        }

        &.expanded .otkicon-downarrow {
            .rotate(0deg);
        }

        .no-touch &:hover {
            .otkicon-downarrow {
                color: @color-darknavy;
                .transition(color @timing-simple-animate);
            }
        }

        .origin-store-accordionlist-topic {
            margin-left: -15px;
            margin-bottom: 0;
            display: inline-block;
            width: calc(100% - @padding-size);
            vertical-align: text-top;
            margin-top: 0;
            font-weight: 400;
            color: @color-darknavy;

            position: relative;
            top: -7px;
        }

        //Content styling
        &-content {
            color: @color-mediumnavy;
            padding-left: @padding-size;
            margin: 0px;
            .opacity(0);
            display: none;

            .media-max-width(@global-width-xsmall, {
                max-width: none;
            });
        }

        &.expanded &-content {
            .opacity(1);
            display: block;
            .transition(opacity @timing-simple-animate;);
        }
    }
}
