.origin-store-backgroundimagecarousel-wrapper {
    .horizontal-center();
    height: 100%;
    .origin-store-backgroundimagecarousel-image {
        opacity: 0;
        .transition(opacity ease-in-out 1s);

        .horizontal-center(relative);
        &.active {
            opacity: 1;
        }

    }
    .origin-backgroundimage-scrim {
        .media-max-width(@global-width-small, {
            visibility: hidden;
        });
    }
}