@store-width-xsmall: @global-width-xsmall;
@store-width-medium: @global-width-medium;
@store-width-large: 1600px;

//-- PDP Media Queries
@pdp-width-xsmall: @global-width-xsmall;
@pdp-width-medium: 1300px;
@pdp-width-large: 1500px;

// Origin Access 
@access-landing-wide: 1350px;