.origin-store-browse-wrapper {
    .clearfix();
    .box-sizing(border-box);
    position: relative;
    padding-top: 42px;
    padding-bottom: 21px;
    height: 100%;
    .media-min-width(@global-width-xlarge, {
        width: (@global-width-xlarge - @nav-width);
    });

    .origin-tilelist {
        padding-top: 45px;
        width: calc(100% - @social-hub-width);
        .media-max-width(@global-width-small, {
            width: 100%;
            position: relative;
            top: -50px;
            padding-top: 0;
            clear: both;
        });
    }

    .origin-store-browse-sort-category{
        position: relative;
    }

    .origin-filterpanel .origin-filter-list > *:nth-child(1) .origin-filtergroup-wrapper{
        padding-top: 0;
        margin-top: 0;
    }



    .origin-tilelist-pagetitle {
        padding-bottom: 12px;
        margin-bottom: 45px;

        .media-max-width(@global-width-small, {
            width: 100%;
            text-align: center;
            white-space: normal;
            overflow: visible;
            padding-bottom: 56px;
        });
    }

    .origin-store-browse-socialmedia {
        position: absolute;
        left: calc(100% - 70px);
        top: 0;

        .origin-socialmedia {
            padding: 0;
        }

        .media-max-width(@global-width-small, {
            .horizontal-center();
            top: 25px;
        });
    }

    .origin-store-facets {
        float: right;
        text-align: right;
        position: relative;

        .media-max-width(@global-width-small, {
            top: -100px;
            height: 50px;
        });
    }

    .l-origin-filterpanelcontainer {
        position: relative;
        min-height: 100vh;
    }

    .origin-filterpanel {
        .media-max-width(@global-width-small, {
            position: absolute;
            top: -124px;
            right: -20px;
        });
    }
}

.origin-store-browse-noresults {
    padding: 48px 12%;
    text-align: center;
    color: @color-black;
    word-wrap: break-word;

    .origin-store-browse-noresults-btncontainer {
        .otka {
            line-height: 50px;
            cursor: pointer;
        }
    }
}

.origin-content-isdocked .origin-store-browse-wrapper {
    .media-min-width(@global-width-xlarge, {
        width: (@global-width-xlarge - @nav-width - @social-hub-width);
    });
}

.origin-content-isdocked .origin-store-browse-wrapper .origin-tilelist {
    .media-min-width(@global-width-small, {
        width: calc(100% - @filterpanel-width-desktop);
    });
}


// If filterpanel is open
.origin-content-hasembeddedfilter .origin-store-browse-wrapper .origin-filterpanel {
    .media-max-width(@global-width-small, {
        top: -38px;
    });
}

.origin-filterpanel-togglebutton {
    position: relative;
    padding: 10px 0;
    color: @color-mediumnavy;
    cursor: pointer;
    font-size: 28px;
    line-height: 0;


    .media-min-width(@global-width-small, {
        display: none;
    });

    .origin-filterpanel-sorttitle {
        .media-max-width(@store-width-xsmall, {
            display: none;
        });
    }
}

.origin-content-hasembeddedfilter .origin-store-browse-wrapper .origin-tilelist,
.origin-content-hasembeddedfilter .origin-store-browse-wrapper .origin-tilelist-pagetitle {
    .media-max-width(@global-width-small, {
        position: fixed;
    });

}
