.origin-store-contextmenu {

    .otkcontextmenu-isvisible-below {
        top: 50px;
    }

    .otkcontextmenu-isvisible-above {
        bottom: 50px;
    }

}

.origin-store-contextmenu-wrapper {
    position: relative;
    text-align: left;

    .otkcontextmenu-isvisible {
        position: absolute;
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .ng-hide:not(.ng-hide-animate) {
        display: block!important;
        opacity: 0;
        visibility: hidden;
        right: 9999px;
    }    

    .otkbtn-dropdown-btn.otkbtn-transparent {
        border-left: 1px solid;
    }

    .origin-store-contextmenu-icon {
        .scale(2,2);
    }

}