.origin-store-informational {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    &.origin-store-informational-large {
        max-width: 1200px;
    }

    &-header {
        &.otktitle-page {
            margin-bottom: 42px;
        }

        &.otktitle-2{
            margin-bottom: 20px;
        }
        &.otktitle-3 {
            font-weight: @weight-normal;
            font-size: 16px;
            text-align: left;
        }
    }

    &-content {
        margin: 0 auto 38px;
    }

    &-quote {
        margin: 0 auto 38px;
        font-weight: @weight-normal;
        font-style: italic;
    }

    &-text-left{
        text-align: left;
    }
    &-text-center{
        text-align: center;
    }
    &-text-right{
        text-align: right;
    }
}