//
// Store Pack
// ------------------------------------

.origin-store-pack-title {
    padding: 0 10px 10px 0;
}

.l-origin-store-pack {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    width: 100%;
}

.l-origin-store-pack-item {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    margin: 0;
    padding: 0 15px 15px 0;
    .box-sizing(border-box);
}

.l-origin-store-pack-item:nth-child(3n) {
    padding-right: 0;
}


.media-max-width(@global-width-medium, {
    .l-origin-store-pack-item {
        width: 50%;
        padding-right: 9px;
    }

    .l-origin-store-pack-item:nth-child(3n) {
        padding-right: 9px;
    }

    .l-origin-store-pack-item:nth-child(2n) {
        padding-right: 0;
        padding-left: 9px;
    }

    .l-origin-store-pack-item:nth-child(n+9) {
        display: none;
    }
});

.media-max-width(@global-width-xsmall, {
    .l-origin-store-pack-item {
        display: block;
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .l-origin-store-pack-item:nth-child(2n),
    .l-origin-store-pack-item:nth-child(3n) {
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
});