//
// origin store - paragraph
// ======================================

.l-origin-store-row-content > .otktitle-page,
.l-origin-store-row-content > .otktitle-2,
.l-origin-store-row-content > .otktitle-3,
.l-origin-store-row-content > .otktitle-4,
.l-origin-store-row-content > .otktitle-5,
.l-origin-store-row-content > .otktitle-6,
.l-origin-store-row-content > .otkc,
.l-origin-store-row-content > .otkc-small {
    max-width: 100%;
}

.origin-store-paragraph-pagetitle {
    position: relative;
    border-bottom: 1px solid @color-lightnavy;
    width: 100%;
    padding-bottom: 12px;
    
    .origin-socialmedia {
        float: right;
        padding: 0;

        .media-max-width(@global-width-small, {
            display: block;
            float: none;
        });
        &-button {
            display: inline-block;
        }
    }

    h1 {
        display: inline-block;
    }

    .media-max-width(@global-width-small, {
        text-align: center;
    });

}

.origin-store-paragraph-headertwo-border {
    border-bottom: 1px solid @color-lightnavy;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.origin-store-paragraph-contentcolumn {
    .content-columns(1, 65px);

    .media-min-width(@store-width-medium, {
        .content-columns(2, 65px);
    });

    .media-min-width(@global-width-large, {
        .content-columns(3, 65px);
    });

    P {
        margin: 0;
    }

    b, 
    strong {
        font-weight: @weight-normal;
    }
}
