.origin-storeprice.origin-storeprice-horizontal {
    margin-top: 6px;
}

.origin-storeprice-price,
.origin-storeprice-access-price {
    display: block;
    // CSS '&' here used if origin-storeprice-price is
    // a child of origin-storeprice-horizontal
    .origin-storeprice-horizontal & {
        display: inline-block;
    }
}

.origin-storeprice-free {
    display: block;
}

.origin-storeprice-strike {
    white-space: nowrap;
}

.origin-storeprice-sale,
.origin-storeprice-strike {
    display: inline-block;
}

.origin-storeprice-sale {
    margin-right: 5px;
    .origin-storeprice-horizontal & {
        margin-left: 5px;
    }
}

.origin-storeprice-access {
    color: @color-mediumnavy;
    .origin-store-originaccess {
        margin-top: -10px;
    }
}

.origin-storeprice-access-price {
    margin-right: 4px;
}

.origin-storeprice-access-withtext {
    color: @color-orange;
    margin-right: 3px;
}

.origin-storeprice-accesslogo {
    .origin-storeprice-horizontal & {
        position: relative;
        top: -3px;
    }
}

.origin-storeprice-originalprice {
    // Gotta bump this back up because the access icon is tall
    margin-top: -6px;
    .origin-storeprice-horizontal & {
        margin-top: 0;
    }
}

.origin-storeprice-owned {
    font-size: 0;
    color: @color-green;
}

.origin-storeprice-owned-icon {

    font-size: 28px;
    margin: -4px 0 0 -5px;
}

.origin-storeprice-owned-icon,
.origin-storeprice-owned-icon-text {
    vertical-align: middle;
}