 // Note: Multiple promo variables contained
 // in less/store/variables.less
 .origin-store-promo {
    position: relative;

    &.l-origin-store-column-half,
    &.l-origin-store-column-full {
        .origin-store-promo-shell {
            min-height: @promo-image-height-medium;

            .media-max-width(@global-width-small, {
                min-height: 0;
            });
        }
    }

    &.l-origin-store-column-hero {
        .origin-store-promo-shell {
            min-height: @promo-image-hero-height-medium;

            .media-max-width(@global-width-small, {
                min-height: 0;
            });
        }
    }


    .origin-store-promo-shell-badge {
        position: absolute;
        top: 20px;
        right: 45px;
        z-index: 900;
        max-width: 150px;

        .media-max-width(@store-width-large, {
            max-width: 100px;
        });

        .media-max-width(@global-width-small, {
            max-width: 75px;
            right: 20px;
        });

        .origin-store-promo-shell-badgeimage {
            vertical-align: middle;
            width: 100%;
        }
    }

    .active-link{
        cursor: pointer;
    }

    overflow: hidden;
    .transition(all .3s ease-out);
    .box-shadow(0 0 2px 0 fade(@color-black, 25%));
    padding: 0;
    min-height: @promo-image-height-xsmall;
    display: block;

    .media-min-width(@store-width-xsmall, {
        min-height: @promo-image-height-small;
    });

    .origin-store-backgroundimagecarousel-wrapper {
        height: @promo-image-height-xsmall;
        position: relative;

        .media-min-width(@store-width-xsmall, {
            height: @promo-image-height-small;
        });

        .media-min-width(@global-width-small, {
            height: 100%;
            position: absolute;
        });

        .origin-store-backgroundimagecarousel-image {
            height: @promo-image-height-xsmall;

            .media-min-width(@store-width-xsmall, {
                height: @promo-image-height-small;
            });

            .media-min-width(@global-width-small, {
                height: @promo-image-height-medium;
            });
        }
    }

    &-banner {
        z-index: 1;
        width: 100%;
        min-height: @promo-banner-height;
        padding: 20px @section-spacing-small;
        box-sizing: border-box;
        background: @color-darknavy;
        position: relative;

        .media-min-width(@store-width-xsmall, {
            padding-left: @section-spacing-medium;
            padding-right: @section-spacing-medium;
        });

        .media-min-width(@global-width-small, {
            text-align: left;
            background: fade(@color-darknavy, 90%);
            position: absolute;
            bottom: 0;
        });

        .media-min-width(@store-width-medium, {
            padding-left: @section-spacing-large;
            padding-right: @section-spacing-large;
        });

        &-title {
            margin-bottom: 6px;
            color: @color-white;
        }

        &-title,
        &-subtitleText {
            max-width: 800px;
            margin-right: 5px;
            color: @color-white;

            .callout-text{
                font-weight: 700;
                color: @color-orange;
                font-size: 36px;
            }
        }

        .origin-store-promo-withpackart &-content {
            text-align: left;
            padding-left: 70px;

            .media-min-width(@store-width-xsmall, {
                padding-left: 90px;
            });
        }

        .origin-storeprice-access {
            color: @color-lightnavy;

            .otkicon-accesstext {
                color: @color-lightgray;
            }
        }

        .origin-store-promo-banner-access {
            margin-bottom: 6px;
            position: relative;
            height: 25px;
            color: @color-white;
        }

        .origin-store-promo-banner-access-logo {
            color: @color-orange;
            font-size: 24px;
            position: absolute;
            top: 1px;
            left: -3px;
        }

        .origin-store-promo-banner-access-text {
            position: absolute;
            font-size: 54px;
            left: 20px;
            top: -14px;
        }

        .origin-store-promo-banner-titleimage {
            max-width: @promo-titleimage-maxwidth;
            max-height:@promo-titleimage-maxheight;
            margin-bottom: 6px;

            .media-max-width(@global-width-small, {
                max-width: 160px;
                max-height: 40px;
            });
        }

        .origin-store-promo-banner-oth-badge {
            padding-left: 30px;
            color: @color-white;
            margin-top: 6px;
            .origin-store-promo-banner-oth-badge-text{
                text-transform: uppercase;
            }
        }
    }

    &-cta { //Banner cta
        .origin-store-promo-cta-link {
            margin-top: 6px;
        }

        .otka {
            display: inline-block;

            .media-min-width((@store-width-large + 1), {
                display: none;
            });

            .media-max-width(@global-width-xsmall, {
                font-size: 16px;
            });
        }

        &-button {
            width: @otk-cta-width;
            display: none;
            .vertical-center();

            .media-min-width((@store-width-large), {
                display: block;
                right: @section-spacing-large;
            });
        }
    }

    &-release {
        color: @color-white;
        margin-right: 5px;
    }

    &-packart {
        position: absolute;
        width: 60px;
        top: -5px;
        left: @section-spacing-small;

        .media-min-width(@store-width-xsmall, {
            left: @section-spacing-medium;
            top: -15px;
            width: 70px;
        });

        .media-min-width(@store-width-medium, {
            left: @section-spacing-large;
        });
    }

    &-list {
        list-style-type: disc;
        list-style-position: inside;
        color: @color-lightnavy;
        margin: 6px 0;
        padding: 0;

        & li {
            margin: 0;
            padding: 0;
        }
    }

    // Custom styles for hero promos
    &.l-origin-store-column-hero {
        .media-min-width(@global-width-small, {
            height: @promo-image-hero-height-medium;
        });

        .origin-store-backgroundimagecarousel-image {
            .media-min-width(@global-width-small, {
                height: @promo-image-hero-height-medium;
            });
        }

        .callout-text {
            .media-min-width(@global-width-small, {
                font-size: 42px;
            });
        }

        .origin-store-promo-banner-title {
            font-size: 36px;
            line-height: 42px;
        }
        .origin-store-promo-banner-titleimage {
            max-width: @promo-titleimage-hero-maxwidth;
            max-height: @promo-titleimage-hero-maxheight;
        }

        .origin-store-promo-banner-content {
            .otktitle-2 {
                font-size: 36px;
                line-height: 42px;

                .media-max-width(@global-width-small, {
                    font-size: 24px;
                    line-height: 30px;
                });
            }
        }
    }

    // Custom styles for half width promos
    &.l-origin-store-column-half {
        .origin-store-promo-cta {
            .otka {
                display: inline-block;

                .media-min-width(@global-width-large, {
                    display: inline-block;
                });
            }

            .otkbtn {
                display: none;

                .media-min-width(@global-width-large, {
                    display: none;
                });
            }
        }
    }

    // Custom styles for promos in carousels
    &-carousel {
        .origin-store-carousel-hero-controls > .otkicon {
            top: (@promo-image-height-xsmall/2);

            .media-min-width(@store-width-xsmall, {
              top: (@promo-image-height-small/2);
            });

            .media-min-width(@global-width-small, {
              top: (@promo-image-hero-height-medium/2);
            });
        }
    }

    // Promo background video styling
    .origin-store-video {
        top: (@promo-image-height-xsmall/2);

        .media-min-width(@store-width-xsmall, {
            top: (@promo-image-height-small/2);
        });

        .media-min-width(@global-width-small, {
            top: ((@promo-image-hero-height-medium - @promo-banner-height)/2);
        });

        .otkicon-play {
            top: 3px;
            left: 5px;
        }
    }
    .media-min-width(@global-width-small, {
        &.l-origin-store-column-hero .origin-store-video {
            top: ((@promo-image-hero-height-medium - @promo-banner-height)/2);
        }
    });

    &-ratings {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        color: @color-white;

        &.origin-store-promo-ratings-dark {
            color: @color-darknavy;
        }

        .origin-store-promo-ratings-descriptors {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 115px;
        }

        .origin-store-promo-ratings-icon {
            width: 50px;
            margin-right: 10px;
            float: left;
        }

        .origin-store-promo-ratings-desc {
            padding: 10px 0 0;
            width: 175px;
            clear: both;
        }
    }

    &-feature {
        height: auto;
        .origin-store-backgroundimagecarousel-wrapper {
            .media-min-width(@global-width-small, {
                height: @promo-image-hero-height-medium;
            });
            .origin-backgroundimage-image {
                .media-min-width(@global-width-small, {
                    height: @promo-image-hero-height-medium;
                });
            }
        }
        &-content {
            box-sizing: border-box;
            .position-center();
            width: 100%;
            height: 100%;
            max-width: 1390px;
            .media-min-width(@global-width-small, {
                padding: 0 45px;
            });
            &-text-wrapper {
                .vertical-center();
                padding-right: 30px;
            }
            &-text-container {
                width: 50%;
                display: inline-block;
                height: 100%;
                position: relative;
                font-weight: 300;
                &.text-color-light {
                    color: @color-white;
                }
                &.text-color-dark {
                    color: @color-darknavy;
                }
            }
            &-title {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 12px;
            }
            &-cta {
                margin-top: 18px;
            }
            &-image-container{
                width: 50%;
                height: 100%;
                display: inline-block;
                position: relative;
                img{
                    width: 100%;
                    .vertical-center();
                    .media-max-width(@global-width-small, {
                        .position-center();
                        height: 100%;
                        width: auto;
                    });
                }
                .media-max-width(@global-width-small, {
                    display: block;
                    height: @promo-image-height-small;
                    width: 100%;
                });
                .media-max-width(@global-width-xsmall, {
                    height: @promo-image-height-xsmall;
                });
            }
        }
        &-banner-content {
            color: @color-white;
            &-image-container {
                img {
                    max-width: 160px;
                    max-height: 40px;
                }
            }
            .origin-store-promo-feature-banner-title {
                font-size: 24px;
                line-height: 30px;
                font-weight: 300;
                .media-max-width(@promo-width-xsmall-exact, {
                    margin-bottom: 6px;
                });
            }
        }
    }

}

 // TODO This style need a new home when the CTA module is refactored.
 .origin-store-video {
        @size: 48px;
        @padding: 10px;
        background: @color-darknavy;
        background: fade(@color-darknavy, 70%);
        border: 2px solid @color-white;
        border-radius: 50%;
        .box-shadow(0 0 25px 0 fade(@color-darknavy, 90%));
        color: @color-white;
        display: inline-block;
        font-size: 35px;
        height: @size;
        width: @size;
        padding: @padding;
        position: absolute;
        left: 50%;
        text-decoration: none;
        text-indent: 2.5px;
        z-index: 2;
        .transition(all .3s ease-in-out 0s);
        margin: 0;
        .translate(-50%, ((@size+(2*@padding))/-2));

        .no-touch &:hover {
            background: @color-darknavy;
            background: fade(@color-darknavy, 90%);
            border: 2px solid @color-lightgray;
            .box-shadow(0 0 25px 0 fade(@color-darknavy, 50%));
            color: @color-white;
        }

    }


.no-touch .origin-store-promo-isclickable:hover {
    .box-shadow(0 0 10px 0 fade(@color-black, 60%));
}
// design review changes for promos in rows
.l-origin-store-row {
    .origin-store-promo-packart {
        left: 15px;

        .media-min-width(@global-width-xsmall, {
            left: 25px;
        });
    }

    .origin-store-promo-banner {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.origin-store-promo-banner-content {
    .otktitle-2 {
        font-size: 24px;
        line-height: 30px;
    }
    .origin-store-promo-banner-title.origin-store-promo-banner-title-position-center {
        .vertical-center();
    }
}
