.l-origin-store-takeover-wrapper {
    text-align: center;
    min-height: 100vh;
    @small-screen-height: 700px;
    @xlarge-screen-height: 1200px;
    @xlarge-screen-hero-height: 900px;
    @large-screen-hero-height: 650px;
    @small-screen-hero-height: 350px;
    cursor: pointer;

    .origin-store-takeover-hero {
        .origin-backgroundimage-wrapper {
            width: auto;

            img {
                height: @large-screen-hero-height;

                .media-min-height(@xlarge-screen-height, {
                    height: @xlarge-screen-hero-height;
                });

                .media-max-height(@small-screen-height, {
                    height: @small-screen-hero-height;
                });
            }
        }

        .horizontal-center(relative);

        height: @large-screen-hero-height;

        .media-min-height(@xlarge-screen-height, {
            height: @xlarge-screen-hero-height;
        });

        .media-max-height(@small-screen-height, {
            height: @small-screen-hero-height;
        });

        .origin-store-video {
            top: 50%;
        }
    }

    &.origin-store-takeover-light {
        color: @color-white;
    }

    &.origin-store-takeover-dark {
        color: @color-black;
    }

    .l-origin-store-takeover-content {
        font-size: 0;
        width: 100%;
        padding: 0 5px 5%;
        box-sizing: border-box;
        position: relative;
        top: -50px; //Offset into the hero
    }

    .origin-store-takeover-title {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }

    .origin-store-takeover-subtitle {
        width: 100%;
        margin: 15px auto 20px;
    }

    .origin-store-takeover-cta {
        width: 100%;
        margin-bottom: 10px;

        .media-min-width(@store-width-xsmall, {
            max-width: @otk-cta-width;
            display: inline-block;
            margin: 0 10px;
        });
    }
}