<li class="origin-shell-popoutmenu-item" itemprop="name">
    <a class="origin-shell-popoutmenu-anchor" ng-class="{active: isActive, 'submenu-active': hasSubmenu}" ng-hide="hide" ng-click="onClick($event)" ng-href="{{hrefAbsoluteUrl}}" itemprop="url">
        <span ng-bind="titleStr"></span>
        <i class="otkicon otkicon-downarrow origin-shell-submenu-more" ng-show="::hasSubmenu"></i>
    </a>
    <div class="origin-shell-popout-container" ng-show="::hasSubmenu">
        <ul class="origin-shell-popout" role="menu" ng-transclude></ul>
    </div>
</li>
