<div class="origin-profile-games-gametile origin-tile" origin-touch="navigateToGame()" ng-click="navigateToGame()">
    <img ng-src="{{image}}" />
    <div class="origin-profile-games-gametile-scrim"></div>
    <a class="otkbtn otkbtn-primary origin-profile-games-gametile-info-button" ng-if=!owned ng-bind-html="learnMoreLoc" ng-click="navigateToGame()"></a>
    <a class="otkbtn otkbtn-primary origin-profile-games-gametile-info-button" ng-if=owned ng-bind-html="detailsLoc" ng-click="navigateToGame()"></a>
</div>