#
# GameServer server configuration
#

#######################
# Lobby configuration #
#######################

# Blaze server information
gameserver.lobbyname=OTG-2010-pc
gameserver.secure=1

# environment
gameserver.environment=

# pingsite
gameserver.pingsite=

#######################
# GameServer settings #
#######################

# gameserver diagnostic port
gameserver.diagnosticport=0

# debug level
# gameserver.debuglevel=1

# VoipServer address
gameserver.voipserveraddr=127.0.0.1
gameserver.voipserverport=0

# VoipServer timeout
gameserver.voipservertimeout=40

# fixed rate
gameserver.fixedrate=33

# game settings (peermode 1 or 2 only)
# max number of clients supported
gameserver.maxclients=0
gameserver.maxspectators=0

# timeouts
gameserver.conntimeout=10
gameserver.peertimeout=15

#################
# Link settings #
#################

# comm redundancy config - max limit (in bytes) to be used when default limit results in unreasonable packet loss
gameserver.redundancylimit=128

# comm redundancy config - unreasonable server-to-client packet loss threshold (in number of packets per 100000) - When packet loss exceeds this threshold, redundancylimit is applied.
gameserver.redundancythreshold=1000

# comm redundancy config - time limit (in seconds) without exceeding server-to-client packet loss threshold before backing down to default redundancy config
gameserver.redundancytimeout=60

# comm redundancy config - time period (in ms) over which local->remote packet loss is calculated for redundancy
gameserver.redundancyperiod=5000

#################
# Dist settings #
#################

# game stream
gameserver.linkstream=

# pause threshold
gameserver.pausethreshold=4

# CRC settings
gameserver.crcchallenge=0
gameserver.crcresponse=0


######################
# Diagnostic setting #
######################

# latency buckets (must be changed in vs *and* gs configs, max seven entries)
gameserver.latebins=80,160,300,440,520

#################
# Trust setting #
#################

# trusted address settings
gameserver.trustmatch=127.0.0.0/8,159.153.0.0/16,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12,74.205.2.0/25,83.138.146.192/27,89.234.31.0/25,92.52.126.0/24
