<example>
<para>Shows how to use the <c>${property.value}</c> to append to a property.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="test">bar;${property.value}</property>
    <property name="test" value="foo;${property.value}"/>
    <fail unless="${test} == foo;bar;"/>
</project>
]]>
</code>
</example>
