//
// Home Discovery Tiles
// --------------------------------------------------

.l-origin-home-discovery {
    margin: 0 60px;
    @media screen {
        @media (max-width: @width-mobile-small) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.origin-home-discovery-tiles {
    .display-flex();
    .flex-wrap(wrap);
    margin: 0;
    padding: 0;
}

// Layout for a discovery tile
// -------------------------

.l-origin-home-discovery-tile {
    padding: 0 0 0 20px;
    margin: 0 auto 20px;
    max-width: @home-tile-maxwidth;
    .flex-grow(1);
    display: flex;
    list-style: none;
    .box-sizing(border-box);
    @media screen {
        @media (max-width: (@width-mobile - 1)) {
            width: 100%;
            padding: 0;
        }
        @media (min-width: @width-mobile) and (max-width: (@width-desktop - 1)) {
            width: 50%;
        }
        @media (min-width: @width-desktop) and (max-width: (@width-large-desktop - 1)) {
            width: 33%;
        }
        @media (min-width: @width-large-desktop) {
            width: 25%;
        }
    }
}