//
// Home Merchandise Tiles
// --------------------------------------------------

.l-origin-home-merch {
    max-width: 2036px;
    min-height: 270px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    @media screen {
        @media (max-width: @width-mobile-small) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.origin-home-merchtiles {
    margin: 0;
    padding: 0;
    .clearfix();
}

// Layout for a merch tile
// -------------------------

.l-origin-home-merchtile {
    float: left;
    width: 50%;
    margin: 0 0 24px 0;
    padding: 0 0 20px 18px;
    list-style: none;
    .box-sizing(border-box);
    @media screen {
        @media (max-width: @width-medium-desktop) {
            float: none;
            width: 100%;
            padding: 0 0 10px 0;
        }
    }
}

.l-origin-home-merchtile:first-child {
    padding-left: 0;
    padding-right: 18px;
    @media screen {
        @media (max-width: @width-medium-desktop) {
            padding-right: 0;
        }
    }
}

.l-origin-home-merchtile:only-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    @media screen {
        @media (max-width: @width-medium-desktop) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Merch Tile
// -------------------------

.origin-home-merchtile {
    position:relative;
    height: 250px;
    overflow: hidden;
    .box-shadow(0 0 2px 0 fade(@color-black, 25%));
    .transition(all 0.3s ease-out);
    &:hover {
        .box-shadow(0 0 10px 0 fade(@color-black, 60%));
    }
}

.origin-home-merchtile-img {
    position:absolute;
    left: 50%;
    top: 50%;
    .translate(-50%, -50%);
}


.origin-home-merchtile-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    color: @color-white;
    text-shadow: 1px 1px 2px @color-black;
    background: fade(@color-darknavy, 90%);
    @media screen {
        @media (max-width: @width-mobile-small) {
            padding: 45px 15px;
        }
    }
}

.origin-home-merchtile-content:after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 100%;
    top: 0;
    width: 300px;
}

.origin-home-merchtile-description {
    margin-top: 0;
    color: @color-lightnavy;
    @media screen {
        @media (max-width: @width-mobile-small) {
            display:none;
        }
    }
}


// Merchtile Overlay
// -------------------------

.origin-home-merchtile-overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @color-black;
    background: fade(@color-black, 90%);
    opacity: 0;
    .transition(all 0.3s ease-out);
    text-align: center;
    &:hover {
        opacity: 1.0;
    }
}

.l-origin-home-merchtile-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

