.origin-home-newuser {
    display: block;
    margin: 0 auto;
    padding: 60px;
    max-width: 700px;
    text-align: center;
    overflow: hidden;
    .transition(all 0.5s  cubic-bezier(0, 1, 0.5, 1));
    @media screen {
        @media (max-width: @width-mobile-small) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.origin-home-newuser.origin-home-newuser-isclosed {
    max-height: 0;
    padding: 0;
}

.origin-home-newuser .otkbtn {
    margin-top: 24px;
}

.origin-home-newuser h2 {
    color: @color-darknavy;
}

.origin-home-newuser h4 {
    color: @color-mediumnavy;
}
