//
// Home Recommendation Tiles
// --------------------------------------------------


.l-origin-home-recommended {
    max-width: @home-tile-maxwidth;
    min-height: 400px;
    margin: 0 auto;
    padding: 60px 60px 0 60px;
    @media screen {
        @media (max-width: @width-mobile-small) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.origin-home-anon .l-origin-home-recommended {
    max-width: 100%;
}

.origin-home-recommended-tiles {
    margin: 0;
    padding: 0;
    .clearfix();
}

// Layout for a recommended tile
// -------------------------

.l-origin-home-recommended-tile {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
    list-style: none;
    .box-sizing(border-box);
}


// Home Hero
//
// The splash that is displayed on the anonymous
// homepage instead of the recommended next action.

.origin-homehero {
    position: relative;
    height: 508px;
    overflow: hidden;
    margin: -60px -60px -20px -60px;
}

.origin-homehero-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 1234px;
    .translate(-50%, -50%);
}

.origin-homehero-content {
    position: absolute;
    top: 50%;
    left: 45px;
    padding: 30px;
    width: 600px;
    color: @color-white;
    background: @color-black;
    background:rgba(red(@color-black), green(@color-black), blue(@color-black), 0.85);
    .translate(0, -50%);
}

.origin-homehero-content a {
    color: @color-blue;
    font-weight: normal;
    text-decoration: none;
}

.origin-homehero-content a:hover {
    background-image: none;
    cursor: pointer;
}

.origin-homehero-featured {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background: @color-lightgray;
}

.origin-homehero-featured h2 {
    margin: 0;
}

.origin-homehero-featured a {
    color: @color-black;
    text-decoration: none;
}

.origin-homehero-featured a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.origin-homehero-featured .otktitle-5 {
    color: @color-mediumnavy;
}
