//
// Origin Styles Tile for Home
// --------------------------------------------------

.origin-hometile {
    max-width: 100%;
    min-height: @home-tile-minheight;
    .flex-grow(1);
    width: 100%;
    margin-bottom: 24px;
    background: @color-white;
    .box-shadow(0 0 2px 0 fade(@color-black, 25%));
}

.no-touch .origin-hometile {
    .transition(all .3s ease-out);
    &:hover {
        .box-shadow(0 0 10px 0 fade(@color-black, 60%));
        .origin-cta-primary, .otkbtn-primary {
            .animation(originHomeTilesMoveInFromBottom @timing-long-ease-out);
        }

        .origin-hometile-overlay-content-title {
            .animation(originHomeTilesMoveInFromTop @timing-long-ease-out);
        }

        .origin-hometile-overlay-isvisible .origin-hometile-overlay-content-title {
            .animation(none);
        }
    }
}

.origin-hometile h2 {
    color: #C3C6CE;
    .transition(color 0.3s ease-out 0s);
    &:hover {
        color: @color-white;
        text-decoration: none;
    }
}

.origin-hometile-container {
    height: @home-tile-image-height;
    position: relative;
    overflow: hidden;
    background: #1c292f;  /* TODO: New colour introduced */
}

.origin-hometile-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-size: cover;
    background-position: center top;
}

.origin-hometile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 1;
    background: transparent;
    text-align: center;
}

.no-touch .origin-hometile-overlay {
    .transition(all .3s ease-out);
    opacity: 0;
    background: @color-darknavy;
    background: fade(@color-black, 90%);
}

.no-touch {
    .origin-hometile:hover .origin-hometile-overlay, .origin-hometile-overlay-isvisible {
        display: block;
        opacity: 1;
    }
}

h2.origin-hometile-overlay-content-title {
    margin-bottom: 17px;
    text-align: center;
}

.origin-hometile-overlay-content .origin-hometile-overlay-link {
    cursor: pointer;
}

.origin-hometile .origin-hometile-overlay-link h2.origin-hometile-overlay-content-title:hover,
.origin-hometile-overlay-content .origin-hometile-overlay-link h2.origin-hometile-overlay-content-title:hover {
    text-decoration: underline;
}

.origin-hometile-overlay-content {
    left: 50%;
    top: auto;
    bottom: 0;
    right: auto;
    position: absolute;
    .translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.no-touch .origin-hometile-overlay-content {
    top: 50%;
    bottom: auto;
}


/* this is bad we should ideally have this as a variant of the hometile */
.origin-hometile:hover .origin-hometile-overlay-isvisible .origin-cta-primary,
.origin-hometile:hover .origin-hometile-overlay-isvisible .origin-cta-primary {
    .animation(none);
}

.origin-hometile-secondarycta {
    margin-top: 15px;
    display: block;
    color: @color-lightnavy;
    font-size: 14px;
    transition: all 0.3s ease-out 0s;
    text-decoration: none;
    &:hover {
        color: @color-white;
        text-decoration: underline;
    }
}

.otkbtn-primary-icon {
    display: block;
    line-height: 19px;
    font-size: 30px;
}

.no-touch {
    .otkbtn-primary-icon, .otkbtn-primary-text > .otktooltip-arrow {
        display: none;
    }
}

.otkbtn-primary-text > .otktooltip-arrow {
    display: block;
    bottom: -5px;
}

.no-touch .otkbtn-primary-text > .otktooltip-arrow {
    display: none;
}

.origin-hometile-overlay-content > .otktitle-2 {
    display: none;
}

.no-touch .origin-hometile-overlay-content > .otktitle-2 {
    display: block;
}

.l-origin-hometile-gameprogress {
    display: block;
    position: relative;
    height: 110px;
    left: 50%;
    margin-left: -51px; /* the avatar width */
    -webkit-backface-visibility: hidden;
}

.origin-hometile-title {
    left: 0;
    bottom: 0;
    padding: 18px;
    max-width: 60%;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    background: @color-darknavy;
    background: fade(@color-black, 85%);
    .transition(all .3s ease-out);
}

.origin-hometile:hover .origin-hometile-title {
    opacity: 0;
}

// REVIEW: this probably needs to be changed
.origin-hometile-support-text {
    padding: 15px;
    position: relative;
}

.origin-hometile-support-text h3 {
    margin: 0;
}

.origin-hometile-support-text-paragraph {
    margin: 0;
    color: @color-mediumnavy;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.origin-hometile-support-text-paragraph a {
    color: @color-darknavy;
    font-weight: 400;
    text-decoration: none;
}

.origin-hometile-support-text-paragraph a:hover {
    text-decoration: underline;
}

.origin-hometile .origin-avatarlist {
    margin-top: 12px;
}

.origin-hometile-author {
    margin: 0 0 15px 15px;
}

.origin-hometile-author .author-name a {
    font-weight: 400;
    color: #2AC4F5;
    text-decoration: none;
}

.origin-hometile-author .author-description {
    font-weight: 600;
    color: #C3C6CE;
}

.origin-storegametile-cta .otkbtn-primary {
    display: none;
    .no-touch & {
        display: block;
    }
}