.origin-store-pdp-description {
  margin-top: 20px;
  .store-content-box();
}

.origin-store-pdp-description-p {
  margin: 0;
  @media (max-wdith: 1099px) {
    width: 500px;
  }
  @media (min-width: 1100px) and (max-width: 2099px) {
    .content-columns(2, 65px);
    -webkit-font-smoothing: antialiased;  
    max-width: inherit;
  }       
  @media (min-width: 2100px) {
    .content-columns(3, 65px);
    -webkit-font-smoothing: antialiased;  
    max-width: inherit;
  }       
}
