@pdp-feature-minheight: 375px;
@pdp-feature-hero-height: 800px;
@pdp-feature-single-bubble: 900px; // Should be updated with breakpoint
@pdp-feature-hero-width: 1900px;

@pdp-feature-double-bubble: 1300px;

.origin-pdp-feature-text-center {
    .position-center();
    z-index: 1;
}

.origin-pdp-feature-text-left {
    .position-left();
    z-index: 1;
}

.origin-pdp-feature-text-right {
    .position-right();
    z-index: 1;
}

.origin-pdp-feature-container {
    .clearfix();
    padding: 42px 0;
}

.origin-pdp-feature-container-header {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 48px 0;
    position: relative;
}

.origin-pdp-feature-header-div {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 0;
    line-height: 0;
}

.origin-pdp-feature-bubblewrap {
    .display-flex();
    .flex-wrap(wrap);
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -moz-justify-content: space-around;
    margin: 0;
    text-align: center;
}

.origin-pdp-feature-bubble {
    .box-sizing(border-box);
    width: 300px;
    max-width: 100%;
    min-height: @pdp-feature-minheight;
    padding: 54px;
    opacity: 0;
    list-style: none;
    .translate3d(0, 200px, 0);
    .transition(all @transition-long);

    @media screen {
        @media (max-width: (@pdp-feature-single-bubble - 1)) {
            width: 100%;
        }
        @media (min-width: @pdp-feature-single-bubble) and (max-width: (@pdp-feature-double-bubble - 1)) {
            width: 50%;
        }
        @media (min-width: @pdp-feature-double-bubble) {
            width: 33%;
        }
    }
}

.origin-pdp-feature-hero {
    position: relative;
    left: 50%;
    width: 100%;
    height: @pdp-feature-hero-height;
    margin-left: -50%;
    overflow: hidden;
}

origin-pdp-feature-hero-text-wrapper{
    display: absolute;
    top: 50%;
    .translate(0%, -50%);
}

.origin-pdp-feature-hero-text {
    display: block;
    text-align: center;
    color: @color-white;

    .transition(all @transition-long);
    @media screen {
        @media (max-width: (@width-mobile-small - 1)) {
            max-width: 100%;
        }
        @media (min-width: @width-mobile-small) {
            max-width: 420px;
        }
    }
}

.origin-pdp-feature-hero-text-slide{
    .translate3d(0, 200px, 0);
}

.origin-pdp-feature-slideUp {
    .translate3d(0, 0, 0);
    opacity: 1;
}

.origin-pdp-feature-bubble-content{
    text-align: center;
}

.origin-pdp-feature-bubble-circle {
    .circle(100%);
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 24px;
}

.origin-pdp-feature-bubble-title {
    margin-bottom: 18px
}

.origin-pdp-feature-bubble-text {
    margin: 0 auto;
}


.origin-pdp-feature-text-light {
    color: @color-white;
}

.origin-pdp-feature-text-dark {
    color: @color-black;
}

.origin-pdp-feature-video-cta {
    margin-top: 24px;
}