@mini-hero-size: 844px;

.origin-pdp-hero {
    position: relative;
    width: 100%;
    min-height: 600px;
    overflow: hidden;

    background-color: @color-black;
}

.origin-pdp-hero-background {
    height: @mini-hero-size;
    opacity: 0;
    margin-right: auto;
    margin-left: auto;
    .animation(originFadeIn 0.5s ease-in-out 0.3s 1 forwards);
    @media screen and (max-width: @pdp-width-medium) {
        top: 0;
        .position-center();
        width: 100%;
        height: 100%;
    }
}

.origin-pdp-hero-background-image {
    position: relative;
    width: 1500px;
    opacity: 0;
    .animation(originFadeIn 0.5s ease-in-out 0.3s 1 forwards);

    @media screen and (min-width: @pdp-width-medium) {
        position: absolute;
    }
}

.origin-pdp-hero-main {
    .clearfix();
    position: absolute;
    left: 0;
    right: 0;
    min-height: 335px;
    padding: 25px 45px 100px;
    background-color: fade(@color-black, 85%);
    color: @color-white;
    bottom: 0;

    @media screen and (max-width: @pdp-width-medium) {
        position: static;
        min-height: @mini-hero-size;
    }
}

.origin-pdp-hero-main-slide{
   .translate3d(0, 120%, 0);
   .animation(originSlideIntoPlace @transition-long 1s 1 forwards);
}

.origin-pdp-hero-main-nobg {
    position: static;
}

.origin-pdp-packartwrapper-pop{
    margin-top: -50px;
}

.origin-pdp-packartwrapper {
    float: left;
    max-width: 250px;
    margin-right: 25px;
    vertical-align: top;

    @media screen and (min-width: @pdp-width-medium) and (max-width: @pdp-width-large) {
        max-width: 150px;
    }

    @media screen and (max-width: @pdp-width-medium) {
        max-width: 100px;
        margin-top: 0;
    }
}

.origin-pdp-packart {
    width: 100%;
    height: auto;
}

.origin-pdp-hero-body {
    @media screen and (max-width: @pdp-width-medium) {
        float: left;
    }
}

.origin-pdp-hero-description {
    float: left;
    width: calc(100% - 600px);

    @media screen and (min-width: @store-width-medium) and (max-width: @pdp-width-large) {
        width: calc(100% - 500px);
    }

    @media screen and (max-width: @store-width-medium) {
        width: auto;
    }
}

.origin-pdp-hero-description-info {
    min-height: 200px;
}

.origin-pdp-hero-action {
    float: right;
    .clearfix();

    width: 300px;

    @media screen and (max-width: @store-width-medium) {
        padding-top: 25px;
        clear: none;
    }

    @media screen and (max-width: @store-width-medium) {
        float: left;
        clear: none;
        width: 250px;
    }
}

.origin-pdp-hero-infoblock {
    margin: 24px 0 6px;
}

.origin-pdp-hero-infoblock-dim {
    .opacity(.3);
    .transition-transform-opacity(.3s ease-out);
}

.origin-pdp-hero-info {
    margin: 0;
}

.origin-pdp-hero-title {
    margin-bottom: 18px;
    min-height: 84px;
}

.origin-pdp-hero-socialmedia {
    margin-top: 20px;
}

.origin-pdp-hero-legal {
    margin-top: 12px;
    color: @color-lightnavy;

    .origin-storegamelegal-othavailability,
    .origin-storegamelegal-oth {
        display: none;
    }
}

.origin-pdp-hero-rating {
    margin-top: 20px;
    color: @color-mediumnavy;
    @media screen and (max-width: @pdp-width-medium) {
        margin-bottom: 20px;
        .origin-storegamerating-logo {
            float: none;
            margin-bottom: 12px;
        }
    }
}

.origin-pdp-savings {
    margin-bottom: 12px;
}


.origin-pdp-hero-video {
    width: 100%;
    overflow: hidden;
    .transition(height 0.3s ease-in-out);
}

.origin-pdp-hero-video-hide {
    position: absolute;
    height: 0;
}

.origin-pdp-hero-video-show {
    position: relative;
}

.origin-pdp-hero-videobutton {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 50%;
    display: none;
    @media screen and (min-width: @pdp-width-medium) {
        display: initial;
    }
    .otkicon-play {
        padding-top: 6px;
    }
}


.origin-pdp-hero-buttoncontainer {
    width: 100%;
    position: relative;
}

.origin-pdp-hero-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 1;
}

.origin-pdp-hero-video-frame {
    width: 100%;

}
