.origin-pdp-productstatus-item {
    position: relative;
    margin-bottom: 12px;
}

.origin-pdp-productstatus-text {
    display: block;
    margin-left: 30px;
}

.origin-pdp-productstatus-icon {
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    font-size: 30px;
}

.origin-pdp-icon-checkmark {
    top: -5px;
    color: @color-green;
}

.origin-pdp-icon-exclamationmark {
    top: -35%;
    color: @color-lightnavy;
}