<example>
<para>Shows how to use the <c>fromfile</c> attribute to read from a file into a property.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <echo file="test.txt">Hello World!</echo>
    <property name="test" fromfile="test.txt" />
    <fail unless="'${test}' == 'Hello World!'"/>
</project>
]]>
</code>
</example>
