*
!gameserver_launch.sh
!DirtyCast/GameServer/run/gameserverd
!DirtyCast/GameServer/run/gameserverf
!DirtyCast/GameServer/run/gameserver.cfg
!DirtyCast/GameServer/run/gameserver_logger.cfg
!DirtyCast/GameServer/run/libc\+\+*.so.1
