<example>
  <para>
  Declares a package named EAThread with version number 1.24.05.
  </para>
  <code>
  <![CDATA[
  <project xmlns="schemas/ea/framework3.xsd">
      <package name="EAThread" targetversion="3.24.05"/>
      <echo message="Current package version: ${package.version}"/>
  </project>]]>
  </code>
</example>
