<section class='origin-home-merchtile'>
    <img ng-src="{{image}}" alt="{{alttext}}" class='origin-home-merchtile-img'>
    <div class='origin-home-merchtile-content ng-class:{
        "origin-home-merchtile-content-right": alignment == "right",
        "origin-home-merchtile-content-left": alignment == "left",
        "origin-home-merchtile-content-light": theme == "light",
        "origin-home-merchtile-content-dark": theme == "dark"}'>
        <h1 class='otktitle-3'><strong>{{headline}}</strong></h1>
        <p class='otkc origin-home-merchtile-description'>{{text}}</p>
        <div class='origin-home-merchtile-price otktitle-3' ng-if="price">{{price}}</div>
        <div ng-if="discount">
            <span class='origin-home-merchtile-originalprice otktitle-4'>{{originalPrice}}</span>
            <span class='origin-home-merchtile-discount otktitle-4'>{{discount}}</span>
        </div>
    </div>
    <div class='origin-home-merchtile-overlay'>
        <div class='l-origin-home-merchtile-cta'>
            <origin-cta-pdp offerid='{{::offerId}}' description='{{ctatext}}' type='primary'></origin-cta-pdp>
        </div>
    </div>
</div>
