<div class="prompt-content origin-cldialog-commandbuttons">
    <a class="otkbtn otkbtn-command"  ng-repeat='command in ::commandButtons track by $index'  ng-click="$parent.selectedOption=command.option">
        <i class="otkbtn-command-icon otkicon" ng-class='command.icon'></i>
        <div class="otkbtn-command-info">
            <p class="otkc"><strong>{{command.title}}</strong></p>
            <p class="otkc"  ng-bind-html='command.text'></p>
            <p class="commandbuttons-bottom-text otktitle-5 otktitle-5-caps"  ng-show="command.bottomtext"  ng-bind-html='command.bottomtext'></p>
        </div>
    </a>
</div>