<div class="origin-cldialog-downloadinfo-warning" ng-show='insufficientspacetext'>
    <div class="origin-cldialog-downloadinfo-warning-icon"><i class="otkicon otkicon-warning"></i></div>
    <div class="origin-cldialog-downloadinfo-warning-text otkc">{{insufficientspacetext}}</div>
</div>
<div class='origin-cldialog-downloadinfo-table'>
    <div class='origin-cldialog-downloadinfo-cell otkc'>{{size1text}}</div>
    <div class='origin-cldialog-downloadinfo-cell otkc'>{{size1}}</div>
    <div class='origin-cldialog-downloadinfo-cell otkc'>{{size2text}}</div>
    <div class='origin-cldialog-downloadinfo-cell otkc'>{{size2}}</div>
</div>
<div ng-repeat='chkitem in extracheckbuttons track by $index'>
    <span class='otkcheckbox'>
        <input type='checkbox' ng-model='chkitem.checked' id='{{chkitem.id}}'>
        <label for='{{chkitem.id}}'>{{::chkitem.name}}</label>
    </span>
</div>