<div class="otkmodal-header">
    <h4 class="otkmodal-title otktitle-2">{{titlestr}}</h4>
</div>

<div id="origin-dialog-content-gameproperties" class="otkmodal-body">
    <nav class="otknavbar origin-dialog-content-gameproperties-nav" role="navigation">
        <ul class="otknav otknav-pills">
            <li class="otkpill" ng-class="{'otkpill-active' : tab.isSet(0)}">
                <a href ng-click="tab.setTab(0)"><span class="otktitle-4"><strong>{{::generalstr}}</strong></span></a>
            </li>
            <li class="otkpill" ng-class="{'otkpill-active' : tab.isSet(1)}" ng-show="cloudSavesSupported">
                <a href ng-click="tab.setTab(1)"><span class="otktitle-4"><strong>{{::cloudsavesstr}}</strong></span></a>
            </li>
            <li class="otkpill" ng-class="{'otkpill-active' : tab.isSet(2)}">
                <a href ng-click="tab.setTab(2)"><span class="otktitle-4"><strong>{{::advancedstr}}</strong></span></a>
            </li>
        </ul>
        <!-- for a sliding nav, you need to update the width and then transform the location
        of the pills bar when you select a new tab.  Again this is component code to update
        the position and width of the bar -->
        <div class="otknav-pills-bar" style="width: 0; transform: translate3d(0px, 0px, 0px);"></div>
    </nav>
    <section class="origin-dialog-content-gameproperties-tabbed-section origin-dialog-content-gameproperties-general-section" ng-class="{'active-section': tab.isSet(0)}">
            <origin-dialog-content-gamepropertiesgeneral></origin-dialog-content-gamepropertiesgeneral>
    </section>
    <section class="origin-dialog-content-gameproperties-tabbed-section origin-dialog-content-gameproperties-cloudsaves-section" ng-class="{'active-section': tab.isSet(1)}">
            <origin-dialog-content-gamepropertiescloudsaves></origin-dialog-content-gamepropertiescloudsaves>
    </section>
    <section class="origin-dialog-content-gameproperties-tabbed-section origin-dialog-content-gameproperties-advanced-section" ng-class="{'active-section': tab.isSet(2)}">
            <origin-dialog-content-gamepropertiesadvanced></origin-dialog-content-gamepropertiesadvanced>
    </section>
</div>

<div class="otkmodal-footer">
    <a href="#" class="otkbtn otkbtn-primary" ng-click="save()">{{::savestr}}</a>
    <a href="#" class="otkbtn otkbtn-light" ng-click="cancel()">{{::cancelstr}}</a>
</div>
