<h1 class="otktitle-3">{{::cloud.cloudsavestitlestr}}</h1>
<p class="otkc">{{::cloud.cloudsavesdescstr}}</p>
<span class='otkcheckbox'>
    <input type='checkbox' id='enable-cloud-saves-chk' ng-disabled="offline" ng-model='cloud.enabled'>
    <label for='enable-cloud-saves-chk'>{{::cloud.enablecloudsavesstr}}</label>
    <hint text="{{::cloud.offlinehintstr}}" ng-show="offline">
        <span data-toggle="otktooltip" data-placement="top" title="{{::cloud.offlinehintstr}}" class="bubble-tip otkicon otkicon-help"></span>
    </hint>
</span>
<div class="otkprogress otkprogress-block otkprogress-block-isactive">
    <div class="otkprogress-wrap">
        <div class="otkprogress-bar">
            <div class="otkprogress-value" ng-style="{'width':cloud.usagePercent}"></div>
        </div>
        <span class="progress-label otktitle-5 otktitle-5-caps" ng-bind-html="cloud.usageDisplay">{{cloud.usageDisplay}}</span>
    </div>
</div>

<span class="divider"></span>

<h1 class="otktitle-3">{{::cloud.restorelastsavetitlestr}}</h1>
<p class="otkc">{{::cloud.restorelastsavedescstr}}</p>
<a href class="otkbtn otkbtn-light origin-dialog-content-gamepropertiescloudsaves-restore-save-btn" ng-disabled="!cloud.lastBackupValid" ng-click="cloud.restoreSave()">{{::cloud.restorelastsavestr}}</a>