<div class="origin-dialog-content-media-carousel">
    <div class="origin-dialog-content-media-carousel-prev" ng-click="previousMediaItem()">
        <i class="otkicon otkicon-leftarrowcircle origin-dialog-content-media-carousel-left"></i>
    </div>

    <div class="origin-dialog-content-media-carousel-next" ng-click="nextMediaItem()">
        <i class="otkicon otkicon-rightarrowcircle origin-dialog-content-media-carousel-right"></i>
    </div>

    <ul class="origin-dialog-content-media-carousel-list">
        <li ng-repeat="screenshot in items track by $index" class="origin-dialog-content-media-carousel-item"
            ng-class="{'origin-dialog-content-media-carousel-item-prev': active > $index,
                        'origin-dialog-content-media-carousel-item-active': active == $index,
                        'origin-dialog-content-media-carousel-item-next': active < $index}">
            <img ng-src="{{::screenshot.src}}" class="origin-dialog-content-media-carousel-image" ng-if="screenshot.type ==='image'"/>
            <origin-store-carousel-media-youtubeitem width="1340" height="755" videoid="{{::screenshot.videoId}}" restrictedage="18" ng-if="(screenshot.type ==='video' && active === $index)"></origin-store-carousel-media-youtubeitem>
        </li>
    </ul>
</div>
