<header class="dialog-content-reportuser-section dialog-content-reportuser-section-title">
    <h4 class="otkmodal-title otktitle-2">{{titleLoc}}</h4>
</header>

<div ng-show="!reportSent">
    <section class="dialog-content-reportuser-section dialog-content-reportuser-section-confidential">
        <p class="otkc">{{confidentialLoc}}</p>
    </section>

    <section class="dialog-content-reportuser-section dialog-content-reportuser-section-form">
        <div class="dialog-content-reportuser-section-form-why-area">

            <h4 class="otkc"><strong>{{whyLoc}}</strong></h4>

            <span class="otkselect">
                <select id="why-select">
                    <!-- DO NOT CHANGE THESE VALUES -->
                    <option value="">{{selectOneLoc}}</option>
                    <option value="Cheating">{{cheatingLoc}}</option>
                    <option value="Child Solicitation">{{solicitationLoc}}</option>
                    <option value="Harassment">{{harassmentLoc}}</option>
                    <option value="Offensive Content">{{offensiveLoc}}</option>
                    <option value="SPAM">{{spamLoc}}</option>
                    <option value="Suicide Threat">{{suicideLoc}}</option>
                    <option value="Terrorist Threat">{{terroristLoc}}</option>
                    <option value="Client Hack">{{hackLoc}}</option>
                </select>
                <span class="otkselect-label">{{selectOneLoc}}</span>
            </span>
        </div>

        <div class="dialog-content-reportuser-section-form-where-area">

            <h4 class="otkc"><strong>{{whereLoc}}</strong></h4>

            <span class="otkselect">
                <select id="where-select">
                    <!-- DO NOT CHANGE THESE VALUES -->
                    <option value="">{{selectOneLoc}}</option>
                    <option value="NAME">{{realNameLoc}}</option>
                    <option value="Avatar">{{avatarLoc}}</option>
                    <option value="Custom Game Name">{{customGameLoc}}</option>
                    <option value="In Game">{{inGameLoc}}</option>
                </select>
                <span class="otkselect-label">{{selectOneLoc}}</span>
            </span>

        </div>

        <div class="dialog-content-reportuser-section-form-comment-area">
            <label>
                <span class="otktitle-4 otktextarea-label">{{commentsLoc}}</span>
                <div class="otktextarea">
                    <textarea placeholder="{{enterNotesLoc}}"></textarea>
                </div>
            </label>
        </div>

    </section>

    <footer class="dialog-content-reportuser-section dialog-content-reportuser-section-footer">
        <button class="otkbtn otkbtn-primary otkbtn-disabled">{{submitLoc}}</button>
        <button class="otkbtn otkbtn-light">{{cancelLoc}}</button>
    </footer>
</div>
<div ng-show="reportSent">
    <section class="dialog-content-reportuser-section">
        <p class="otkc">{{thankYouLoc}}</p>
    </section>
    <footer class="dialog-content-reportuser-section dialog-content-reportuser-section-footer">
        <a href="javascript:void(0)" class="otkbtn otkbtn-light">{{closeLoc}}</a>
    </footer>
</div>
