<header class="dialog-content-searchforfriends-section dialog-content-searchforfriends-section-title">
    <h4 class="otkmodal-title otktitle-2">{{titleLoc}}</h4>
</header>

<section class="dialog-content-searchforfriends-section dialog-content-searchforfriends-section-searchfield-area">
    <p class="otkc dialog-content-searchforfriends-searchfield-description">{{descLoc}}</p>
    <div class="otkinput otkinput-filter">
        <i class="otkinput-icon otkicon otkicon-search"></i>
        <input type="text" class="dialog-content-searchforfriends-searchfield-input" placeholder="{{placeholderLoc}}">
        <i class="otkicon otkicon-closecircle friendssearch-clearfilter"></i>
    </div>
</section>

<footer class="dialog-content-searchforfriends-section dialog-content-searchforfriends-section-footer">
    <a href="javascript:void(0)" class="otkbtn otkbtn-primary otkbtn-disabled">{{searchLoc}}</a>
    <a href="javascript:void(0)" class="otkbtn otkbtn-light">{{cancelLoc}}</a>
</footer>
