<div class="origin-dialog-content-youneedorigin">
    <div class="otkmodal-header">
        <h4 class="otkmodal-title otktitle-2">{{strings.title}}</h4>
    </div>
    <div class="otkmodal-body you-need-origin-steps">
        <div class="need-origin-step">
            <div class="otkgraphic-download">
                <div class="otkicon otkicon-cloud">
                    <i class="otkicon otkicon-originlogo"></i>
                </div>
                <div class="offset-icon">
                    <i class="otkicon otkicon-download"></i>
                </div>
            </div>
            <p class="otkc">{{strings.downloadAndInstall}}</p>
        </div>

        <i class="otkicon otkicon-rightarrow"></i>

        <div class="need-origin-step">
            <div class="otkgraphic-userlogin">
                <div class="circle">
                    <i class="otkicon otkicon-profile"></i>
                </div>
                <div class="offset-icon">
                    <i class="otkicon otkicon-check"></i>
                </div>
            </div>
            <p class="otkc">{{strings.launchAndSignIn}}</p>
        </div>

        <i class="otkicon otkicon-rightarrow"></i>

        <div class="need-origin-step">
            <div class="otkgraphic-posterart">
                <img class="poster" ng-src="{{model.packArt}}">
                <div class="offset-icon">
                    <i class="otkicon otkicon-play"></i>
                </div>
            </div>
            <p class="otkc">{{strings.downloadAndPlay}}</p>
        </div>

    </div>

    <div class="otkmodal-footer">
        <a href="http://www.dm.origin.com/mac/download" class="otkbtn otkbtn-primary disabled">{{strings.downloadOrigin}}</a>
        <a href="javascript:void(0)" ng-click="dismissModal()" class="otkbtn otkbtn-light">{{strings.continueBrowsing}}</a>
    </div>
</div>