<?xml version="1.0"?>
<example>
<para>Simple example using RegExMatch task.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <property name="TestString">
        Ubuntu clang version 3.4-1ubuntu3 (tags/RELEASE_34/final) (based on LLVM 3.4)
        Target: x86_64-pc-linux-gnu
        Thread model: posix
    </property>

    <RegexMatch 
        Input="${TestString}" 
        Pattern="clang version (\d)\.(\d)" 
        Properties="ClangVersionString;ClangMajorVer;ClangMinorVer"
    />

    <fail 
        unless="'${ClangVersionString}' == 'clang version 3.4'" 
        message="Unexpected ClangVersionString result."
    />

    <fail 
        unless="'${ClangMajorVer}' == '3'" 
        message="Unexpected ClangMajorVer result."
    />

    <fail 
        unless="'${ClangMinorVer}' == '4'" 
        message="Unexpected ClangMinorVer result."
    />

    <RegexMatch 
        Input="${TestString}" 
        Pattern="Expecting no match (\d)\.(\d)\.(\d)" 
        Properties="MatchResult"
    />

    <fail 
        unless="@{StrIsEmpty('${MatchResult}')}" 
        message="Expecting empty string MatchResult for no match."
    />

</project>
]]>
</code>
</example>
