<div class="origin-store-timer-table {{aclass}}">
    <div class="origin-store-timer-row">
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{time.days}}</p></span>
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{time.hours}}</p></span>
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{time.minutes}}</p></span>
        <span class="origin-store-timer-cell origin-store-timer-numbers"><p>{{time.seconds}}</p></span>
    </div>
    <div class="origin-store-timer-row">
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Days</p></span>
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Hrs</p></span>
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Mins</p></span>
        <span class="origin-store-timer-cell origin-store-timer-text"><p>Secs</p></span>
    </div>
</div>
