.origin-store-about-heading {
    color: @color-darknavy;
    max-width: 500px;
    margin-bottom: 40px;
    text-align: center;

    .media-min-width(@global-width-small, { text-align: left; });
    .media-max-width(@global-width-small, { .horizontal-center(relative); });
    
    &-light {
        color: @color-white;
    }

    &-centered {
        .media-min-width(@global-width-small, { 
            text-align: center;
            .horizontal-center(relative);
        });
    }
}