.origin-about-hero {
    box-sizing: border-box;
    position: relative;
    min-height: 500px;

    .origin-about-hero-header-wrapper {
        width: 100%;
        height: 100%;
        z-index: 4;
        text-align: center;
        position: relative;
        .display-flex();
        .align-items(center);
        .justify-content(center);

        .media-max-width(@global-width-small, {
            padding: 20px 0 0;
        });

        .media-min-width(@global-width-small, {
            height: 100vh;
            padding: 0;
        });
    }

    .origin-about-hero-header {
        opacity: 0;
        color: @color-white;
        text-shadow: 0 0 12px fade(@color-darknavy, 40%);
        width: 100%;
        max-width: 900px;
        box-sizing: border-box;
        .translate3d(0, 32px, 0);

        > .otktitle-page {
            font-size: 48px;
            line-height: 60px;
            margin: 0 auto;

            .media-max-width(@global-width-xsmall, {
                font-size: 38px;
            });
        }
    }

    .origin-about-hero-delayedslide {
        opacity: 1;
        .translate3d(0, 0, 0);
        .transition(all 1.6s ease-in-out);
    }

    .origin-about-hero-action {
        position: absolute;
        bottom: 40px;
        right: 40px;
        border-radius: 4px;
        padding: 6px;
        background: #22313C;
        color: @color-lightnavy;
        cursor: pointer;
        z-index: 4;
        transition: color @transition-short;

        .media-max-width(@global-width-xsmall, {
            display: none;
        });

        &:hover {
            color: @color-white;
        }

        .origin-downloadorigin-nav-anchor-icon{
            font-size: 24px;
        }

        .origin-downloadorigin-nav-anchor-title{
            position: relative;
            top: -4px;
            margin-right: 4px;
        }

    }
}
