.origin-about-nav {

    margin: 24px auto 0;
    overflow: visible;
    border-top: 1px solid fade(@color-white, 10%);
    padding: 0;

    &-item {
        color: @color-white;
        padding: 12px 0;
        display: inline-block;
        cursor: pointer;
        width: 25%;
        text-align: center;

        &-icon, .otktitle {
            margin: 10px 0;
            display: block;
        }

        .otktitle {
            font-weight: 400;
        }

        .media-max-width(@global-width-xsmall, { width: 50%; });

        .origin-about-jumptolink {
            font-size: 34px;
            .transform(translate3d(0, 0, 0));
        }

        &:hover {
            .otkicon-rightarrow {
                .transform(rotate(90deg) translate3d(6px, 0, 0));
                color: @color-white;
                margin-right: 0;
            }
        }
    }

    .otkicon-rightarrow {
        font-size: 12px;
        top: 0;
        margin-right: 0;
        margin-bottom: 6px;
        color: @color-lightnavy;
        .transform(rotate(90deg) translate3d(0, 0, 0));
        .transition-transform-color(@timing-simple-animate);
    }
}
