.origin-store-about-section {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;

    origin-store-about-section-withbackground & {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100vh;
    }

    &-content {
        .section-padding();
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 0 auto;

        .display-flex();
        .flex-direction(column);
        .justify-content(center);

        &-wrapper{
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
        }

        origin-store-about-section-withbackground & {
            width: 100%;
            z-index: 4;
            position: relative;
            display: table-cell;
            vertical-align: middle;
        }

        .l-origin-store-row {
            .display-flex();
            .flex-wrap(wrap);
        }
    }

    &-light {
        background-color: @color-white;
    }

    .origin-inline-notification {
        @about-tile-margin-4: 72px;
        @about-tile-margin-2: 36px;
        @about-tile-width: (100% - (@about-tile-margin-4)) / 3;
        //width should be 2 tiles width + the margins in between
        //0.5 px is to fix rounding error
        width: calc(( @about-tile-width - 0.5px) * 2 + (@about-tile-margin-2));

        .media-max-width(@global-width-medium, {
            width: 100%;
        });
    }
}
