.origin-store-about-tile {
    text-align: center;
    background-color: @color-white;
    padding: 40px;
    .box-sizing(border-box);

    .otkicon {
        font-size: 32px;
        margin-bottom: 12px;
        display: block;
    }
}

.origin-store-about-tile-content {
    margin-left: auto;
    margin-right: auto;
}

.media-max-width(@global-width-medium, {
    .l-origin-store-row {
        .l-origin-store-column-third.origin-store-about-tile {
            &:last-child {
                margin-bottom: 32px;
            }

            &:nth-child(3n) {
                margin-left: 0;
            }
        }
    }
});

.origin-store-about-downloadorigin-tile-downloadbtn {
    margin-top: 10px;

    .media-max-width(@global-width-xsmall, {
        .origin-store-about-downloadorigin-tile-downloadbtn {
            display: none;
        }
    });
}
