/**
 * Styles for the Unique Selling Point module
 */

.origin-uniquesellingpoint-list {
    @icon-size: 30px;

    .display-flex();
    .flex-flow(row wrap);
    .justify-content(space-around);

    .l-origin-store-column-half:first-child & {
        .media-min-width(@global-width-xsmall, {
            .justify-content(flex-end);
            
            &-item {
                max-width: 400px; // max-width of .otkc
            }
        });
    }    

    &-item {
        box-sizing: border-box;
        padding-left: @icon-size;
        padding-bottom: 40px;
        width: 100%;

        .media-min-width(@global-width-xsmall, {
            .l-origin-store-column-half-stackBelow & {
                width: calc(50% - @tile-gutters-large);
                margin: 0 @tile-gutters-large;

                &:nth-child(2n) {
                    margin-right: 0;
                }
                &:nth-child(2n+1) {
                    margin-left: 0;
                }
            }
        });

        .media-min-width(@global-width-small, {
            &,
            .l-origin-store-column-half-stackBelow & {
                width: 100%;
                margin: 0;
            }
        });

        .otkicon {
            position: absolute;
            font-size: @icon-size;
            color: @color-green;

            &.otkicon-check {
                left: -6px; // offset for icon
            }
        }

        .otkc {
            margin-top: 6px;

            .media-max-width(@global-width-xsmall, {
                max-width: none;
            });
        }
    }
}

// Styles for the About page USP module (combination of USP and faded image)
.origin-store-about-uniquesellingpoint {
    max-width: 1200px;
    margin: 0 auto;

    &-fadedImage {
        @boxShadowSize: 10px;
        @imageHeight: (480px + (2 * @boxShadowSize));

        overflow: hidden;
        position: relative;
        height: (@imageHeight / 2);
        margin: (-1 * @boxShadowSize / 2);

        .media-min-width(@global-width-small, {
            height: @imageHeight;
            width: auto;
            margin: -4px (-1 * @boxShadowSize);
        });

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;

            .fadedImageGradient(@color) {
                #gradient > .vertical(fade(@color, 0%), fade(@color, 100%), 0%, 100%);

                .media-min-width(@global-width-small, {
                    #gradient > .horizontal(fade(@color, 100%), fade(@color, 0%), 0%, 50%);
                });
            }

            .fadedImageGradient(@color-lightgray);

            .origin-store-about-section-light & {
                .fadedImageGradient(@color-white);
            }
        }

        img {
            width: calc(100% - (2 * @boxShadowSize));
            border-radius: 6px;
            position: relative;
            border: 1px solid fade(@color-white, 80%);
            float: right;
            box-shadow: 2px 2px @boxShadowSize 0px @color-lightnavy, -4px -2px @boxShadowSize 0px @color-lightnavy;
            margin: @boxShadowSize;
            margin-bottom: 0;

            .media-min-width(@global-width-small, {
                height: calc(100% - (2 * @boxShadowSize));
                width: auto;
                margin: @boxShadowSize;
                margin-left: 0;
            });
        }
    }
}
