.origin-store-vat-table {
    border: 1px solid @color-lightgray;
    text-align: left;
    border-radius: 4px;
    background: @color-white;
    box-shadow: 0 0 2px 0 fade(@color-darknavy, 25%);
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;

    tr:nth-child(odd) {
        background: @color-lightgray;
    }

    th {
        background: @color-lightgray;
        padding: 18px;
        width: 33.3333%;
        font-weight: 400;
    }

    td {
        padding: 14px 18px;
        width: 33.3333%
    }
}