<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.2.0">
    <name>Chat</name>

    <feature name="http://widgets.dm.origin.com/features/interfaces/clientSettings" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originSocial" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originChat" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/onlineStatus">
        <!-- This lets use request online and offline mode.
             Remove if copying and pasting this config unless you really need it -->
        <param name="canRequestState" value="true"/>
    </feature>
    <feature name="http://widgets.dm.origin.com/features/interfaces/nativeMenu" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/dateFormat" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/productQuery" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/clientNavigation" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/telemetryClient" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/audioPlayer" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originVoice" />   
    <feature name="http://widgets.dm.origin.com/features/interfaces/originConsole" />

    <!-- Needed for box art -->
    <access origin="http://static.cdn.ea.com" />
    <access origin="https://eaassets-a.akamaihd.net" />
    <access origin="http://drh.img.digitalriver.com" />

    <content src="roster.html" />
    
    <origin:link role="http://widgets.dm.origin.com/linkroles/chatwindow" template="/chat-window.html{?initialConversations}" />
    <origin:link role="http://widgets.dm.origin.com/linkroles/invitefriendswindow" template="/invite-friends-window.html{?groupGuid,channelId,conversationId}" />
    <origin:link role="http://widgets.dm.origin.com/linkroles/groupmemberswindow" template="/group-members-window.html{?groupGuid}" />
</widget>
