<!doctype html>
<html ng-app="GroupMembersModule">
	<head>
		<title>Group Members</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="uitoolkit/styles/uitoolkit.css">
		<link rel="stylesheet" type="text/css" href="chat/stylesheets/base.css">
		<link rel="stylesheet" type="text/css" href="chat/stylesheets/context-menu.css" data-devel-only="true">
		<link rel="stylesheet" type="text/css" href="chat/stylesheets/group-members-window.css">
		<script src="chat/scripts/vendor/angular/angular.min.js"></script>        
	</head>
	<body>
		<script src="uitoolkit/scripts/uitoolkit.js"></script>
		<script src="chat/scripts/vendor/innov8.querystring.js"></script>
		<script src="chat/scripts/devel/innov8.dateformat.js" data-devel-only="true"></script>
		<script src="chat/scripts/devel/localization.js" data-devel-only="true"></script>
		<script src="chat/scripts/devel/normalize-dev.js" data-devel-only="true"></script>

        <script src="chat/scripts/menus/group-members-menu.js"></script>
		<script src="chat/scripts/views/remote-user.js"></script>
		<script src="chat/scripts/controllers/async-real-name-load.js"></script>
		<script src="chat/scripts/utilities/throttle.js"></script>
		<script src="chat/scripts/utilities/viewport.js"></script>
		<script src="chat/scripts/utilities/group-index.js"></script>
		<script src="chat/scripts/utilities/presence-string.js"></script>
        <script src="chat/scripts/utilities/user-names.js"></script>
        <script src="chat/scripts/controllers/group-members-window.js"></script>

        <div id="group-members-page">
	        <section id="group-members-content">
				<h2 class="group-members-header"></h2>                
                <h4 class="offline-warning" data-string-id="ebisu_client_you_cannot_view_room_members_when_offline">You cannot view room members when offline.</h4>
        
                <!-- spinner -->
                <div class="group-members-window-spinner-container">
                    <div class="otk-spinner-large animated group-members-window-spinner-centered"></div>
                </div>
                
                <!-- group owner and admins -->
                <div id="group-members-contact-list" class="contacts-container">
                    <div ng-controller="GroupMembersCtrl" id="group-members-controller">                            
                        <div ng-show="(ownerAdminsCount > 0)" class="members-subtitle" >
                            <span class="otk-count-bubble">{{ownerAdminsCount}}</span>
                            <label class="members-subtitle-label" data-string-id="ebisu_client_owner_and_admins">Owner and Admins</label>
                        </div>
                    
                        <div ng-repeat="member in ownersAndAdmins = (ownerAdminsArray | limitTo: adminLimit)">
                            <div class="otk-contact group-members-contact" ng-class="(hasRealName(member) ? 'has-real-name' : '')"  data-user-id="{{member.id}}">
                                <div class="otk-presence-indicator" data-presence="{{getPresence(member)}}"></div>
                                <img class="otk-user-avatar" ng-src="{{member.avatarUrl}}"/>
                                <div class="name">
                                    <span class="nickname">{{member.nickname}}</span>
                                    <span class="realname">{{getRealName(member)}}</span>
                                </div>
                                <span class="presence">{{getUserRoleString(member)}}</span>
                                <button class="otk-hover-context-menu-button"></button>
                            </div>
                        </div>
                        <!-- end repeat ownersAndAdmins -->
                                            
                        <!-- ordinary members -->
                        <div ng-show="(membersCount > 0)" class="members-subtitle">
                            <span class="otk-count-bubble">{{membersCount}}</span>
                            <label class="members-subtitle-label" data-string-id="ebisu_client_members">Members</label>
                        </div>
                        <div class="group-member-marker" style="visibility: hidden" data-index="0"></div>                                                      
                        <div class="group-members-list">
                            <div class="column1">
                                <span ng-repeat="member in membersArray track by $index">
                                    <group-member ng-if="$index % 3 == 0" index="{{$index}}" member="member"></group-member>
                                </span>
                            </div>
                            <div class="column2">
                                <span ng-repeat="member in membersArray track by $index">
                                    <group-member ng-if="$index % 3 == 1" index="{{$index}}" member="member"></group-member>
                                </span>
                            </div>
                            <div class="column3">
                                <span ng-repeat="member in membersArray track by $index">
                                    <group-member ng-if="$index % 3 == 2" index="{{$index}}" member="member"></group-member>
                                </span>
                            </div>
                        </div>                                                     
                        <div id="members-lazy-loading-spinner" class="otk-spinner-medium group-members-window-spinner-centered"></div>                        
                        <div class="group-member-marker" style="visibility: hidden;" data-index="max"></div>
                        
                    </div> <!-- end group-members-controller -->
                        
                </div> <!-- end group-members-contact-list -->
            </section><!-- end group-members-content -->
        
            <footer id="button-footer">
                <div class="beveled-separator"></div>
                <span id="buttons">
                    <button id="closeButton" class="otk-button primary" onclick="window.close();" data-string-id="ebisu_client_close">Close</button>
                </span>
            </footer>
        
        </div><!-- end group-members-page -->
    </body>
</html>
