// Global Search Results Page
// --------------------------------------------------

.origin-search-section {
    position: relative;
    min-height: 100px;
    padding: 25px 20px 0 0;
    @media screen {
        @media (max-width: (@width-mobile-small - 1)) {
            padding: 25px 5px 0 5px;
        }
    }
}

.origin-search-section-noresults {
    display: none;
}

.origin-search-store-section {
    padding-left: 20px;
}

.origin-search-title {
    margin: 5px 0;
    text-align: center;
}

.origin-search-section-title {
    padding-bottom: 20px;
    padding-left: 20px;
    @media screen {
        @media (max-width: (@width-mobile-small - 1)) {
            padding-left: 0;
        }
    }
}

.origin-search-store-section .origin-search-section-title {
    padding-left: 0;
}

.origin-search-store-section-title {
    padding-bottom: 20px;
}

.origin-search-view-more {
    font-size: 16px;
}

.origin-search-section-isloading {
    .loading(@color-darknavy);
    position: relative;
    display: block;
}

/* TODO: add the "searching" text after design ticket */
.origin-search-section-isloading:after {
    position: relative;
    left: 50%;
    margin: 25px auto;
}

.origin-search-list {
    .clearfix();
}

.origin-search-tiles {
    .display-flex();
    .flex-wrap(wrap);
    margin: 0;
    padding: 0;
}

.l-origin-search-people-tile {
    padding: 0 0 0 20px;
    margin: 0;
    max-width: 1000px;
    list-style: none;
    .box-sizing(border-box);
    @media screen {
        @media (max-width: (@width-mobile-small - 1)) {
            width: 100%;
            padding: 0;
        }
        @media (min-width: @width-mobile-small) and (max-width: (@width-large-desktop - 1)) {
            width: 50%;
        }
        @media (min-width: @width-large-desktop) {
            width: 25%;
        }
    }
}

.l-origin-search-game-tiles {
    .display-flex();
    .flex-wrap(wrap);
    margin: 0;
    padding: 0;
}

.origin-banner-searchloggedout {
    padding: 48px 12%;
    display: block;
    color: @color-black;
    text-align: center;
}

.origin-banner-searchloggedout-title {
    text-align: center;
    padding: 24px 0px 24px 0px;
    margin-bottom: 0px;
}

.origin-banner-searchoffline {
    padding: 48px 12%;
    display: block;
    color: @color-black;
    text-align: center;
}

.origin-banner-searchoffline-message {
    max-width: 100%;
    margin-bottom: 24px;
}

/* End: Search Results Page */

/* Start: No Search Results Page */

.origin-search-no-results {
    pointer-events: none;
    padding: 48px 12%;
    text-align: center;
    color: @color-black;
}

.origin-search-no-results-desc {
    margin-bottom: 20px;
    max-width: 100%;
}

.origin-search-no-results img {
    max-width: 100%;
}

/* End: No Search Results Page */