.origin-storegamelegal {
    text-align: left;

    &-eula,
    &-terms,
    &-promo {
       a {
            color: @color-dark-blue;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-trial {
        color: @color-mediumnavy;
        margin: 0;
    }
}

