.origin-storegamerating-logo, .origin-storegamerating-descriptors, .origin-storegamerating-icons {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.origin-storegamerating-logo {
	margin-right: 10px;
}

.origin-storegamerating-logoimg {
	display: block;
	width: 50px;
	height: auto;
}

.origin-storegamerating-details {
	text-align: left;
	display: inline;
}

.origin-storegamerating-descriptors {
	list-style: none;
}

.origin-storegamerating-footnote {
	clear: left;
	padding-top: 12px;
}

.origin-storegamerating-icons li {
    list-style: none;
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    background: url('../images/store/pegi-descriptors-sprite.jpg') no-repeat 0 0;

    &.violence { background-position: 0 0; }
    &.bad-language { background-position: -31px 0; }
    &.fear { background-position: -62px 0; }
    &.sex { background-position: -93px 0; }
    &.drugs { background-position: -124px 0; }
    &.discrimination { background-position: -155px 0; }
    &.gambling { background-position: -186px 0; }
    &.online-gameplay { background-position: -217px 0; }
}
