// game tile add to wishlist
body:not(.no-touch) {
    .origin-store-game-wishlist {
        display: none;
    }
}

.origin-store-game-wishlist {
    margin: 18px 0 0;
    position: relative;
    height: 10px;
    .box-sizing(border-box);
}

.origin-store-game-wishlist-remove,
.origin-store-game-wishlist-add {
    text-align: center;
    color: @color-lightnavy;
    margin: 0;
    .transition(color @transition-short);

    &:hover {
        color: @color-white;
    }

    .otkicon-heart {
        .animation(giftingPosterPop 0.9s cubic-bezier(0.03, 1, 0.2, 1) forwards);
        font-size: 28px;
        top: 7px;
        margin-top: -10px;
        margin-left: -4px;
        color: @color-heartred;
    }

    .otkicon-heart-outlined {
        font-size: 28px;
        top: 7px;
        margin-top: -10px;
        margin-left: -4px;
        color: @color-lightnavy;
    }
}

.origin-store-game-wishlist-loading {
    width: 100%;
    height: 20px;
    position: relative;
    margin-left: -20px;
    top: -15px;

    .loading(absolute, @color-white);
}