<section class="origin-store-game-keyart" ng-click="onElementClick()">
	<img ng-src="{{ ::background }}" alt="" origin-imagefadein class="origin-store-game-keyart-background" ng-if="background">

	<div class="origin-store-game-keyart-foreground">
		<div class="origin-store-game-keyart-foreground-content">
			<origin-store-cta
				offer-id="{{ model.offerId }}"
				showinfobubble="true">
			</origin-store-cta>
			<origin-store-game-wishlist ng-if="!model.isOwned && !isFree" offer-id="{{ model.offerId }}"></origin-store-game-wishlist>
		</div>
	</div>

	<div class="origin-store-game-keyart-content">
		<h3 class="otktitle-3 otktitle-3-strong origin-store-game-keyart-content-header" ng-bind-html="::model.displayName"></h3>
		<origin-store-price offer-id="{{ model.offerId }}" ng-if="!model.oth" suppress-access-text="{{ overrideVault }}"></origin-store-price>
		<span class="otktitle-4-strong otktitle-4 origin-store-game-keyart-content-oth" ng-if="model.oth" ng-bind-html="::oth"></span>
	</div>
</section>
