<div class="origin-storegamelegal">
    <p ng-if="model.oth && context != 'pdp'" class="otkc-small origin-storegamelegal-trial" ng-bind-html="::othAvailabilityText"></p>

    <p ng-if="model.trial && model.trialLaunchDuration" class="otkc-small origin-storegamelegal-trial" ng-bind-html="::strings.trialTimeMessage"></p>

    <div ng-if="model.onlineDisclaimer" class="origin-storegamelegal-terms">
        <a ng-href="{{::termsUrl}}" class="otka" ng-click="goToTerms($event)" ng-bind-html="::strings.termsText"></a>
    </div>
    <div ng-if="model.eulaLink" class="origin-storegamelegal-eula">
        <a ng-href="{{::eulaUrl}}" class="otka" ng-click="goToEula($event)" ng-bind-html="::strings.eulaText"></a>
    </div>
    <div ng-if="model.oth && showOthLink" class="origin-storegamelegal-oth">
        <a ng-href="{{::othUrl}}" class="otka" ng-click="goToOthPage($event)" ng-bind-html="::strings.othText"></a>
    </div>
    <div ng-if="promoLegalId" class="origin-storegamelegal-promo">
        <a ng-href="{{::policyUrl}}" class="otka"  ng-click="goToPolicyPage($event)" ng-bind-html="::strings.promoText"></a>
    </div>
</div>
