<div class="origin-storegamerating otkc-small" ng-show="::model.gameRatingSystemIcon">
    <a ng-href="{{ ::model.gameRatingUrl }}" class="origin-storegamerating-logo" target="_blank">
        <img ng-src="{{ ::model.gameRatingSystemIcon }}" class="origin-storegamerating-logoimg" alt="{{ ::model.gameRatingTypeValue }}">
    </a>
    <ul ng-show="ratingReasonIcons.length" class="origin-storegamerating-icons">
        <li ng-repeat="reason in ::ratingReasonIcons track by reason.className" ng-class="::reason.className"></li>
    </ul>
    <div ng-hide="ratingReasonIcons.length" class="origin-storegamerating-details">
        <ul class="origin-storegamerating-descriptors">
            <li class="origin-storegamerating-descriptor" ng-repeat="descriptor in model.gameRatingDesc track by $index" ng-bind="::descriptor"></li>
        </ul>
    </div>
    <div class="origin-storegamerating-footnote" ng-bind-html="::model.gameRatingDescriptionLong"></div>
</div>
