<div class="origin-storegametile origin-telemetry-storegametile"
    ng-class="{
        'origin-storegametile-responsive': type === 'responsive',
        'origin-storegametile-fixed': type === 'fixed',
        'origin-storegametile-compact': type === 'compact'
    }">

    <div class="origin-storegametile-overlaywrapper" ng-click="goToPdp(model, $event)">
        <div class="origin-storegametile-posterart-wrapper">
            <div class="origin-storegametile-posterart-container">
                <img ng-src="{{ model.packArt }}" class="origin-storegametile-posterart" origin-imagefadein />
            </div>
        </div>
        <div class="origin-storegametile-overlay origin-telemetry-storegametile-overlay">
            <div class="origin-storegametile-overlaycontent">
                <origin-store-cta offer-id="{{ model.offerId }}" showinfobubble="true" class="origin-storegametile-cta origin-telemetry-storegametile-cta"></origin-store-cta>
                <origin-store-game-wishlist ng-if="!model.isOwned && !isFree" offer-id="{{ model.offerId }}"></origin-store-game-wishlist>
            </div>
        </div>
    </div>

    <section class="otkc origin-storegametile-details">
        <h2 class="otktitle-4 origin-storegametile-title">
            <a ng-href="{{::getPdpUrl(model, true)}}" ng-click="goToPdp(model, $event)">
                <span class="origin-telemetry-storegametile-title-text" ng-bind="model.displayName"></span>
            </a>
        </h2>
        <origin-store-price offer-id="{{ model.offerId }}" suppress-access-text="{{ overrideVault }}"></origin-store-price>
    </section>

    <div ng-if="::violatorText" class="origin-storegametile-violator otktitle-5 otktitle-5-caps">
        <span ng-bind="::violatorText"></span>
    </div>

</div>
