<div class="origin-store-game-wishlist" ng-if="isWishlistEnabled">
	<p class="otktitle-4  origin-store-game-wishlist-add" ng-if="!onWishlist && isLoaded" ng-click="updateWishlist($event)">
		<i class="otkicon otkicon-heart-outlined"></i>
		<strong ng-bind-html="add"></strong>
	</p>
	<p class="otktitle-4 origin-store-game-wishlist-remove" ng-if="onWishlist && isLoaded" ng-click="updateWishlist($event)">
		<i class="otkicon otkicon-heart"></i>
		<strong ng-bind-html="remove"></strong>
	</p>
	<div class="origin-store-game-wishlist-loading" ng-if="!isLoaded"></div>
</div>