.origin-achievements-overall {
    #gradient > .home();
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 8px;
    ul {
        list-style: none;
        width: 100%;
        .display-flex();
        .flex-wrap(wrap);
        padding: 0;
        margin: 0;
        > li {
            .box-sizing(border-box);
            width: 100%;
            padding: 0;
            margin-bottom: 32px;
        }

        .media-min-width(@achievements-width-xsmall, {
            > li {
                padding: 0 18px 0 18px;
                width: 50%;
            }
            > li:nth-of-type(odd) {
                padding-left: 0;
            }
            > li:nth-of-type(even) {
                padding-right: 0;
            }
        });
    }
}

.origin-achievements-overall-title {
    text-align: center;
    color: @color-darknavy;
    margin-bottom: 30px;
}

.origin-achievements-overallprogress {
    .transition(all @transition-short);
    .box-sizing(border-box);
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    background: @color-white;
    box-shadow: 0px 0px 2px 0px fade(@color-darknavy, 25%);
}

.origin-achievement-tile {
    min-height: 0; /* Reset min-height for achievement use case */
}

.origin-achievements-support-text {
    .display-flex();
    .flex-wrap(wrap);
    .box-sizing(border-box);
}

.origin-achievements-score-board  {
    display: inline-block;
    position: relative;
    width: 49%;
}

.origin-achievement-tiles {
    .display-flex();
    .flex-wrap(wrap);
    margin: 0;
    padding: 0;
}

.l-origin-achievement-tile {
    margin: 0 0 20px;
    padding: 0 18px;
    list-style: none;
    .box-sizing(border-box);
    &:nth-child(even) {
        padding-right: 0;
    }
    &:nth-child(odd) {
        padding-left: 0;
    }
    @media screen {
        @media (max-width: @achievements-width-xsmall) {
            width: 100%;
            padding: 0;
        }
        @media (min-width: @achievements-width-xsmall) {
            width: 50%;
        }

    }
}

.origin-achievements-private {
    position: relative;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 198px;
    text-align: center;
}

.origin-achievements-private-text {
    max-width: none;
}

.origin-achievements-retry {
    text-align: center;
}

// Achievement Summary No Games

.origin-achievements-nogames-title {
    margin: 35px 0 12px 0;
    text-align: center;
}

.origin-achievements-nogames-text {
    margin: 0 auto 18px;
    text-align: center;
}

// Achievement Badge

.origin-achievementbadge {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    background: @color-white;
    .box-shadow(0 0 2px 0 fade(@color-darknavy, 25%));
}

.origin-achievementbadge-hidden {
    opacity: 0.5;
}

.origin-achievementbadge-header {
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.origin-achievementbadge-title {
    float: left;
    width: calc(100% - 65px);
    height: 25px;
    .text-overflow();
}

.origin-achievementbadge-points {
    float: right;
    top: 50%;
}

.origin-achievementbadge-logo {
    font-size: 20px;
    color: @color-orange;
}

.origin-achievementbadge-image-wrapper {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.origin-achievementbadge-image-bg {
    #gradient > .achievementradial();
    position: absolute;
    width: 100%;
    height: 250px;
    left: 50%;
    margin-left: -50%;
}

.origin-achievementbadge-image {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 9;
    vertical-align: middle;
    opacity: 0;
    .transition(opacity 0.3s ease-in-out);
}

.origin-achievementbadge-image-fadein {
    opacity: 1;
}

.origin-achievementbadge-footer {
    min-height: 80px;
    padding: 15px;
}

.origin-achievementbadge-desc {
    margin-top: 0;
    color: @color-mediumnavy;
}

.origin-achievementbadge-date {
    margin-top: 0;
    color: @color-lightnavy;
}

// loading state
.origin-achievement-isloading {
    .loading(absolute);
    position: relative;
    top: 50px;
}

.origin-achievement-ogd-isloading {
    .loading(absolute, @color-white);
    position: relative;
    top: 150px;
}