// Achievements Radial Progress
// --------------------------------------------------

.origin-achievementprogress {
    .clearfix();
}

.origin-achievementprogress-radial {
    display: inline-block;
    background-color: @color-lightgray;

    .media-max-width(@achievements-width-medium, {
        display: none;
    });
}

.origin-achievementprogress-details {
    display: inline-block;
    position: relative;
}

.origin-achievementprogress-wrapper {
    .transform(translateY(-50%));
    position: absolute;
    bottom: auto;
    top: 50%;
}

.origin-achievementprogress-fill {
    background: @color-green;
}

.origin-achievementprogress-center {
    background-color: @color-white;
}

.origin-achievementprogress-large {
    .origin-achievementprogress-radial {
        width: @achieve-radialprog-size-large;
        height: @achieve-radialprog-size-large;
        margin-right: 15px;
    }
    .origin-achievementprogress-clipright {
        clip: rect(0, @achieve-radialprog-size-large, @achieve-radialprog-size-large, (@achieve-radialprog-size-large/2));
    }
    .origin-achievementprogress-clipleft {
        clip: rect(0, (@achieve-radialprog-size-large/2), @achieve-radialprog-size-large, 0);
    }
    .origin-achievementprogress-center {
        width: @achieve-radialprog-innersize-large;
        height: @achieve-radialprog-innersize-large;
    }
    .origin-achievementprogress-trophyicon {
        font-size: 60px;
    }
    .origin-achievementprogress-originicon {
        font-size: 41px;
    }
    .origin-achievementprogress-details {
        width: calc(100% - 147px);
        height: 102px;

        .media-max-width(@achievements-width-medium, {
            width: 100%;
            height: auto;
        });

        >.origin-achievementprogress-wrapper {
            .media-max-width(@achievements-width-medium, {
                position: relative;
                .translate3d(0, 0, 0);
            });
        }
    }
}

.origin-achievementprogress-medium {
    .origin-achievementprogress-radial {
        width: @achieve-radialprog-size-medium;
        height: @achieve-radialprog-size-medium;
        margin-right: 6px;
    }
    .origin-achievementprogress-clipright {
        clip: rect(0, @achieve-radialprog-size-medium, @achieve-radialprog-size-medium, (@achieve-radialprog-size-medium/2));
    }
    .origin-achievementprogress-clipleft {
        clip: rect(0, (@achieve-radialprog-size-medium/2), @achieve-radialprog-size-medium, 0);
    }
    .origin-achievementprogress-center {
        width: @achieve-radialprog-innersize-medium;
        height: @achieve-radialprog-innersize-medium;
    }
    .origin-achievementprogress-trophyicon,
    .origin-achievementprogress-originicon {
        font-size: 30px;
    }
    .origin-achievementprogress-details {
        width: calc(100% - 87px);
        height: 68px;
    }
}

.origin-achievementprogress-small {
    .origin-achievementprogress-radial {
        width: @achieve-radialprog-size-small;
        height: @achieve-radialprog-size-small;
        margin-right: 6px;
    }
    .origin-achievementprogress-clipright {
        clip: rect(0, @achieve-radialprog-size-small, @achieve-radialprog-size-small, (@achieve-radialprog-size-small/2));
    }
    .origin-achievementprogress-clipleft {
        clip: rect(0, (@achieve-radialprog-size-small/2), @achieve-radialprog-size-small, 0);
    }
    .origin-achievementprogress-center {
        width: @achieve-radialprog-innersize-small;
        height: @achieve-radialprog-innersize-small;
    }
    .origin-achievementprogress-trophyicon {
        font-size: 24px;
    }
    .origin-achievementprogress-originicon {
        font-size: 22px;
    }
    .origin-achievementprogress-details {
        width: calc(100% - 63px);
        height: 44px;
    }
}

.origin-achievementprogress-trophyicon,
.origin-achievementprogress-originicon {
    color: @color-mediumnavy;
    .position-center();
}

.origin-achievementprogress-details {
    .origin-achievementprogress-score {
        margin: 0px;
        color: @color-darknavy;
    }
    .origin-achievementprogress-text {
        color: @color-mediumnavy;
    }
}

.origin-achievementprogress-details-light {
    .origin-achievementprogress-score {
        margin: 0px;
        color: @color-white;
    }
    .origin-achievementprogress-text {
        color: @color-lightnavy;
    }
}