// Unveiling variables
@unveiling-content-maxheight-large: 765px;
@unveiling-content-maxheight-small: 650px;
@unveiling-packart-width-small:     180px;
@unveiling-boundingspace-maxheight: 30px;
@unveiling-content-maxwidth:        1200px;

@unveiling-bglightflare-diameter-small: 20px;
@unveiling-bglightflare-diameter-medium: 24px;
@unveiling-bglightflare-diameter-large: 28px;

@unveiling-bglightflare-infinite-diameter-large: 15px;
@unveiling-bglightflare-infinite-diameter-small: 10px;


// Sets page to fill width and height
.l-origin-unveiling {
    position: fixed; // :(
    display: block;
    z-index: @zindex-unveiling;
    .box-sizing(border-box);

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: @color-darknavy;
}

// Flash-landing screen
.origin-unveiling-flashlanding-wrapper,
.origin-unveiling-content-wrapper {
    width: 100%;
    .position-center();
    z-index: (@zindex-unveiling + 10);

    text-align: center;
    color: @color-white;
}

.origin-unveiling {
    .animation(originFadeIn 0.3s ease-in-out forwards);
}

.origin-unveiling-content {
    position: relative;
    max-width: @unveiling-content-maxwidth;
    margin: 0 auto;
}

.origin-unveiling .otkavatar {
    cursor: default;
}

.origin-unveiling-flashlanding-receivedmessage {
    // This transitions the main message out via scale 1 -> 0 and opacity: 0
    .animation(originUnveilingFlashlandingTransitionOut 0.4s 3s ease-out forwards);
}

// Main content
.origin-unveiling-contentlong {
    height: 100%;
    overflow-y: auto;

    .media-max-height(@unveiling-content-maxheight-large, {
        padding-top: @unveiling-boundingspace-maxheight;
        padding-padding: @unveiling-boundingspace-maxheight;
    });
}

.origin-unveiling-sendergameinfo {
    font-weight: 400;
}

.origin-unveiling-background-image-wrapper {

    // if not blurring, darken scrim
    .overlay(@color-darknavy, 90%);
    &:before {
        z-index: (@zindex-unveiling + 5);
        cursor: default;
    }
}

.origin-unveiling-background-blurred .origin-unveiling-background-image-wrapper {
    .overlay(@color-darknavy, 70%);
    &:before {
        z-index: (@zindex-unveiling + 5);
        cursor: default;
    }
}

// For the blurred image (not Edge)
.origin-unveiling-background-blurred .origin-unveiling-background-image {

    .blur(8px);
}

.origin-unveiling-background-image {
    // This animates opacity from 0 -> 1
    opacity: 0;
    .animation(originFadeIn 0.3s 3s ease-in-out forwards);
    .horizontal-center();

    .media-min-width(@global-width-large, {
        width: 105%;
    });
}

// --------------------------
// Lighting bursts and flares
// ---------------------------

// Background lighting & bursts
.origin-unveiling-bglightburst {
    opacity: 0;
    z-index: (@zindex-unveiling + 10);
    background-color: fade(@color-white, 20%);
    .position-center();
    .circle(@unveiling-content-maxwidth);

    margin-top: (@unveiling-content-maxwidth * -0.5);
    margin-left: (@unveiling-content-maxwidth * -0.5);


    // Animations. Second slightly slower than the first
    &-first {
        .animation(originUnveilingCircleBgLightBurst 0.9s 3s ease-out forwards);
    }
    &-second {
        // animation
        .animation(originUnveilingCircleBgLightBurst 0.9s 3.05s ease-out forwards);
    }
}

// Background lighting & flares
.origin-unveiling .origin-bglightflare-wrapper,
.origin-unveiling .origin-bglightflare-infinite-wrapper {
    .position-center();
}

.origin-unveiling .origin-bglightflare,
.origin-unveiling .origin-bglightflare-infinite {
    background-color: fade(@color-white, 90%);
    opacity: 0;
}

// If the scrim is darkened on Edge, lighten up those flares.
.origin-unveiling-background-blurred {
    .origin-bglightflare,
    .origin-bglightflare-infinite {
        background-color: fade(@color-white, 20%);
    }
}

// One-time flares (count: 14)
.origin-unveiling .origin-bglightflare {
    .blur(4px);
    // One-time flares (count: 14)

    // 3 flare sizes
    &-small {
        .circle(@unveiling-bglightflare-diameter-small);
    }
    &-medium {
        .circle(@unveiling-bglightflare-diameter-medium);
    }
    &-large {
        .circle(@unveiling-bglightflare-diameter-large);
    }

    &-one {
        .animation(originBgLightflareOne 0.8s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-two {
        .animation(originBgLightflareTwo 0.8s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-three {
        .animation(originBgLightflareThree 0.7s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-four {
        .animation(originBgLightflareFour 0.75s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-five {
        .animation(originBgLightflareFive 0.85s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-six {
        .animation(originBgLightflareSix 0.8s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-seven {
        .animation(originBgLightflareSeven 0.85s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-eight {
        .animation(originBgLightflareEight 0.8s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-nine {
        .animation(originBgLightflareNine 0.8s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-ten {
        .animation(originBgLightflareTen 0.85s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-eleven {
        .animation(originBgLightflareEleven 0.85s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
    &-twelve {
        .animation(originBgLightflareTwelve 0.85s 3.05s cubic-bezier(0.54, 0.85, 0.31, 0.91) forwards);
    }
}

// Infinitely-animated flares (count: 10)
.origin-unveiling .origin-bglightflare-infinite {
    &-one {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteOne 6s cubic-bezier(0.54, 0.85, 0.31, 0.91) 2.5s infinite);
    }
    &-two {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteTwo 12s cubic-bezier(0.54, 0.85, 0.31, 0.91) 3.5s infinite);
    }
    &-three {
        .circle(@unveiling-bglightflare-infinite-diameter-small);
        .animation(originBgLightflareInifiniteThree 8s cubic-bezier(0.54, 0.85, 0.31, 0.91) 5s infinite);
    }
    &-four {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteFour 15s cubic-bezier(0.54, 0.85, 0.31, 0.91) 6s infinite);
    }
    &-five {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteFive 15s cubic-bezier(0.54, 0.85, 0.31, 0.91) 4s infinite);
    }
    &-six {
        .circle(@unveiling-bglightflare-infinite-diameter-small);
        .animation(originBgLightflareInifiniteSix 9s cubic-bezier(0.54, 0.85, 0.31, 0.91) 3.5s infinite);
    }
    &-seven {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteSeven 7s cubic-bezier(0.54, 0.85, 0.31, 0.91) 3.5s infinite);
    }
    &-eight {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteEight 10s cubic-bezier(0.54, 0.85, 0.31, 0.91) 4s infinite);
    }
    &-nine {
        .circle(@unveiling-bglightflare-infinite-diameter-small);
        .animation(originBgLightflareInifiniteNine 11s cubic-bezier(0.54, 0.85, 0.31, 0.91) 3.75s infinite);
    }
    &-ten {
        .circle(@unveiling-bglightflare-infinite-diameter-large);
        .animation(originBgLightflareInifiniteTen 12s cubic-bezier(0.54, 0.85, 0.31, 0.91) 3.6s infinite);
    }
}

.origin-unveiling-posterart-image {
    // Add initial state styles
    opacity: 0;
    .scale(0, 0);
    .translate3d(0, 0, 0);
    // Animations
    .animation(originUnveilingPackartPopIn 1.5s 3s ease-in-out forwards);
    margin-bottom: 28px;
}

.origin-unveiling-posterart {
    // Set initial state styles
    .translate3d(0, 176px, 0);
    // Animations
    .animation(originUnveilingPackartTransitionIn 1.1s cubic-bezier(.03, 1, .2, 1) 4.5s forwards);
}

.origin-unveiling-contentlong .origin-unveiling-posterart-image {
    .media-max-height(@unveiling-content-maxheight-large, {
        width: @unveiling-packart-width-small;
    });
}
.origin-unveiling-contentshort .origin-unveiling-posterart-image {
    .media-max-height(@unveiling-content-maxheight-small, {
        width: @unveiling-packart-width-small;
    });
}

.origin-unveiling-senderquote {
    margin-top: 12px;
    margin-bottom: 24px;
    overflow-wrap: break-word;
    white-space: pre-line;

    // If the user didn't enter a message, hide the field while retaining its position
    &-isempty {
        margin: 0;
        visibility: hidden;
    }
}

.origin-unveiling-details {
    opacity: 0;
    .translate3d(0, -176px, 0);
    .animation(originUnveilingDetailsTransitionIn 1s cubic-bezier(0.03, 1, 0.2, 1) 4.6s forwards);

    max-width: 500px;
    display: inline-block;
}

.origin-unveiling-contentlong .origin-unveiling-details {
    .media-max-height(@unveiling-content-maxheight-large, {
        margin-bottom: @unveiling-boundingspace-maxheight;
    });
}

.origin-unveiling-contentshort .origin-unveiling-details {
    .media-max-height(@unveiling-content-maxheight-small, {
        margin-bottom: @unveiling-boundingspace-maxheight;
    });
}


.origin-unveiling-downloadlaterlink {
    display: block;
    cursor: pointer;
    margin-top: 12px;
}

// Temp removal of download/play icon
.origin-unveiling-details .origin-cta-primary .otkicon-primary-icon {
    display: none;
}
