<div class="origin-pdp-hero-main origin-announcement-hero-main" ng-class="{'origin-pdp-hero-main-nobg': !!showVideo || !backgroundImage, 'origin-pdp-hero-main-slide':  !!backgroundImage}">
    <section class="origin-pdp-hero-info">

        <div class="origin-pdp-packartwrapper" ng-class="{'origin-pdp-packartwrapper-pop': !!backgroundImage && !showVideo}">
            <origin-store-pdp-sections-packart></origin-store-pdp-sections-packart>
            <origin-store-announcement-game-rating class="origin-pdp-hero-rating"
                                                   url="{{::gameRatingUrl}}"
                                                   system-icon="{{::gameRatingSystemIcon}}"
                                                   system-icon-alt="{{::gameRatingSystemIconAlt}}"
                                                   description-short="{{::gameRatingDescriptionShort}}"
                                                   description-long="{{::gameRatingDescriptionLong}}">
            </origin-store-announcement-game-rating>
        </div>

        <section class="origin-pdp-hero-description" ng-if="::(shortDescription || longDescription)">
            <origin-store-pdp-sections-description></origin-store-pdp-sections-description>
            <origin-store-pdp-sections-platform platform-text="{{platformText}}" platforms="platforms"></origin-store-pdp-sections-platform>
            <origin-socialmedia theme="light" hide-facebook="{{isFacebookHidden}}" title-str="{{titleStr}}" description="{{truncatedLongDescription}}" image="{{packArt}}"></origin-socialmedia>
        </section>
    </section>

    <section class="origin-pdp-hero-action" ng-if="::actionButtonText">
        <origin-store-pdp-infostring is-visible="isVisible()" message="retireMessage"></origin-store-pdp-infostring>
        <origin-cta-loadurlexternal href="{{::actionButtonHref}}" description="{{::actionButtonText}}" type="primary"></origin-cta-loadurlexternal>
    </section>
</div>

