<div class="origin-store-carousel-featured-carousel l-origin-store-column-full">
    <div class="origin-store-carousel-featured-carousel-img-wrapper">
        <img src="{{imageSrc}}" class="origin-store-carousel-featured-carousel-img"></img>
    </div>
    <div class="origin-store-carousel-featured-carousel-caption">
        <h1 class="otktitle-page origin-store-carousel-featured-carousel-title">{{title}}</h1>
        <h1 class="origin-store-carousel-featured-carousel-subtitle otktitle-3">{{text}}</h1>
        <origin-cta-loadurlinternal ng-if="href && description"
            href="{{ href }}"
            description="{{ description }}"
            type="transparent">
        </origin-cta-loadurlinternal>
    </div>

    <div class="origin-store-carousel-featured-carousel-slider"  ng-class="{'origin-store-carousel-featured-carousel-slider-isloading': isLoading}" origin-store-carousel-carousel>
        <div class="origin-store-carousel-product-carousel-headerarea origin-store-carousel-carousel-header"></div>
        <div class="origin-store-carousel-product-carousel-container origin-store-carousel-carousel-container">
            <ul class="l-origin-storegametiles-fixed origin-store-carousel-product-carousel-slidearea origin-store-carousel-carousel-slidearea" ng-transclude></ul>
        </div>
    </div>
</div>


