body
{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-color:#e0e0e0;
	
	padding: 10px 10px 10px 10px;
}

pre
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	margin: 0;
	padding: 0;
	
	-webkit-border-radius: 0;
	background-color: none;
	border: none;

	overflow: auto;
	white-space:pre;
}

xmp.code-sample
{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	
	margin: 0;
	padding: 0;
	
	-webkit-border-radius: 0;
	
	/* Allow text selection for code samples */
	-moz-user-select: -moz-text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	user-select: text;

	-webkit-box-flex: 1;
	position: relative;

	border: 1px solid #bebebe;
	border-radius: 4px;
	background-color: #ffffef;
	color: #404040;
	
	overflow: auto;
	white-space:pre;
}

span.small-print
{
	font-size: 9px;
}

span.label
{
	color: #444444;
	font-size: 12px;
	font-weight: bold;
}

h3.component-name
{
	border-bottom: 1px dashed #888888;
}

/*container and contact pane for test*/
.scroll-page-container
{
    margin: 0 24px;
}

#contact-pane
{
    display:block;
    height: 400px;
    width:300px;
    background-color: #ccc;
    overflow-y: scroll;
}