// Filter bar
// -------------------------
.origin-filterbar-container {
    display: inline-block;
    max-width: 65%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.origin-filterbar-item {
    display: none;
    position: relative;
    width: 200px;
    box-sizing: border-box;
    margin: 15px 15px 15px 0;
    padding: 6px 18px;
    border-radius: 20px;

    background: @color-darknavy;
    color: @color-white;
    line-height: 20px;
    font-size: 14px;
    font-weight: @weight-normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;

    .animation(popIn @timing-short-ease-out 1);

    > a {
        color: inherit;
        text-decoration: none;

        &:focus {
            outline: none;
        }
    }

    > .otkicon {
        position: absolute;
        top: 4px;
        right: 5px;

        color: @color-mediumnavy;
        font-size: 23px;

        cursor: pointer;

        &:hover {
            color: @color-white;
        }
    }
}

.origin-filterbar-item-isactive {
    display: inline-block;
}
