<ol class="origin-store-carousel-product-controls">
    <li>
        <a class="origin-store-carousel-product-controls-left" href="javascript:void(0);" ng-click="goTo(carouselState.current-1)" ng-class="{ 'origin-store-carousel-product-controls-active' : carouselState.numberOfSlides.length > 1 }"></a>
    </li>
    <li>
        <a class="origin-store-carousel-product-controls-right" href="javascript:void(0);" ng-click="goTo(carouselState.current+1)" ng-class="{ 'origin-store-carousel-product-controls-active' : carouselState.numberOfSlides.length > 1 }"></a>
    </li>
</ol>
