.otk-operation-controller-mini
{
	display: inline-block;
}

.otk-operation-controller-mini[has-buttons=true] > .container
{
    display: inline-block;
	vertical-align: middle;
}

.otk-operation-controller-mini.label-only > .container
{
	display: none;
}

.otk-operation-controller-mini[has-buttons=true] > .container > .progress-container
{
    display: inline-block;
    padding-bottom: 4px;
}

.otk-operation-controller-mini > .container > .button-container
{
	display: inline-block;
	vertical-align: bottom;
}

.otk-operation-controller-mini[has-buttons=false] > .container > .button-container
{
	display: none;
}

.otk-operation-controller-mini[has-buttons=true] > .container > .otk-progressbar
{
	vertical-align: middle;
}

.otk-operation-controller-mini > .container > .button-container > .toolbar
{
	min-width: 23px;
	height: 23px;
}

.otk-operation-controller-mini > .container > .button-container > .toolbar:before
{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-position: center center;
	background-repeat: no-repeat;
}

.otk-operation-controller-mini > .container > .button-container > .play
{
	margin: 0px 0px 0px 10px!important;
}

.otk-operation-controller-mini > .container > .button-container > .play:before
{
	background-image: url('../images/otk-operation-controller-mini/icon-play.png');
}

.otk-operation-controller-mini > .progress-info
{
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: #444;
	padding-top: 1px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}