<div class="store-search-facet-filters">
    <div class="origin-filterpanel-togglebutton" ng-click="toggleFilterPanel()">
        <i class="origin-filterpanel-sortdownicon otkicon otkicon-sortdown"></i>
        <span class="otktitle-5 otktitle-5-caps origin-filterpanel-sorttitle" ng-bind-html="::sortFilterString"></span>
    </div>
    <div class="l-origin-filterpanelcontainer" ng-class="{'l-origin-filterpanelcontainer-panel-visible' : states.hasEmbeddedFilter || states.hasFilterOverlay }">
        <div ng-class="{'origin-filterpanel-overlay' : hasEmbeddedFilter || states.hasFilterOverlay }" ng-click="toggleFilterPanel()"></div>
        <div class="origin-filterpanel" ng-class="{'origin-filterpanelvisible': hasEmbeddedFilter || states.hasFilterOverlay }">
            <div class="origin-filterpanel-close" ng-click="toggleFilterPanel()">
                <i class="otkicon otkicon-close"></i>
            </div>
            <div role="menu" class="origin-filter-list" ng-transclude></div>
        </div>
    </div>
</div>

