<li role="presentation" class="origin-store-browse-sort-category">
    <div class="origin-filtergroup-wrapper origin-filtergroup-collapsible" ng-click="toggle()">
        <h5 class="otktitle-5 otktitle-5-caps origin-filtergroup-title" ng-bind-html="::label"></h5>
        <i  class="otkicon otkicon-downarrow origin-filter-icon"
            ng-class="{'origin-filter-submenu-icon-closed': !open}"></i>
    </div>
    <ul role="menu" class="origin-filter-list" ng-show="open" ng-transclude></ul>
</li>
