.origin-storegamerating {
	.clearfix();
}

.origin-storegamerating-logo {
	display: block;
	float: left;
	margin: 0 15px 0 0;
}

.origin-storegamerating-logoimg {
	width: 50px;
	height: auto;
}

.origin-storegamerating-details {
	text-align: left;
	display: inline;
}

.origin-storegamerating-descriptors {
	margin: 0;
	padding: 0;
	list-style: none;
}