<p>{{data.categories[area].title}}</p>
<ul class="otkmenu otkmenu-dropdown" role="menu" ng-repeat="game in data.results[area].game | limitTo:3">
    <li role="presentation" >
        <!--We probably want an directive here.-->
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="clicked(data.categories[area].url, game.offerId)">{{game.offerId}}</a>
    </li>
</ul>
<ul class="otkmenu otkmenu-dropdown" role="menu" >
  <li role="presentation" ng-show="data.results[area].length>3">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="search(true, area)">More...</a>
    </li>
</ul>
<h3 class="loading" ng-show="data.results[area] === undefined">Loading...</h3>
<h3 ng-show="data.results[area].length === 0">No results found.</h3>