// Filter panel
// -------------------------
@item-highlight-color: #d8dce0;
@item-icon-font-size: 32px;

.origin-filter-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: @nav-width;
    z-index: @zindex-nav;

    overflow-x: hidden;
    overflow-y: scroll;

    background: @color-lightgray;

    pointer-events: none;

    .translate3d(125%, 0, 0);
    .transition(transform @timing-long-ease-out);
}

.origin-filter-panel-isvisible {
    pointer-events: auto;
    .translate3d(0, 0, 0);
}

.origin-filtergroup-wrapper {
    padding: 12px 0;
    margin-top: 32px;
    border-bottom: 1px solid @item-highlight-color;
    margin-bottom: 12px;

    .origin-filtergroup-title {
        float: left;
    }

    .origin-filtergroup-clearall-link {
        color: @color-dark-blue;
        font-size: @font-size-body-large;
        text-decoration: none;
        float: right;

        &:hover {
            text-decoration: underline;
        }

        &.disabled {
            opacity: 0.4;
            cursor: default;
            pointer-events: none;
        }
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.origin-filtergroup-collapsible {
    cursor: pointer;
    margin-top: 10px;

    .origin-filter-icon {
        color: @color-mediumnavy;
    }
}


.origin-filter-list {
    position: relative;
    top: 0;
    padding: 0;
    list-style: none;
    margin-top: 12px;
}

.origin-filter-item {
    position: relative;
    padding: 10px;
    margin: 2px 0;
    overflow: hidden;
    font-size: @font-size-body-large;
    cursor: pointer;
    color: fade(@color-mediumnavy, 60%);
}

.origin-filter-item-submenu .origin-filter-item {
    border-bottom: none;
}

.origin-filter-item-isdisabled {
    opacity: 0.4;

    &:hover {
        background: @color-darknavy;
        color: @color-lightnavy;
    }
}

.origin-filter-link {
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.origin-filter-icon {
    position: absolute;
    right: 6px;
    top: 2px;
    font-size: @item-icon-font-size;
}

.origin-filter-icon-check {
    color: @color-green;
    .translate3d(125%, 0, 0);
}

.origin-filter-item-option {
    color: @color-mediumnavy;
    font-weight: @weight-normal;

    .transition(all @timing-simple-animate);

    &:hover {
        background: @item-highlight-color;
        color: @color-darknavy;
        .border-radius(4px);
    }
}

.origin-filter-item-isactive {
    background: @item-highlight-color;
    color: @color-darknavy;
    font-weight: @weight-normal;
    .border-radius(4px);

    > .otkicon {
        .translate3d(0, 0, 0);
        .transition(transform @timing-long-ease-out);
    }
}

.origin-filter-item-submenu {
    color: @color-mediumnavy;
}

.origin-filter-submenu-icon-closed {
    .rotate(270deg);
}

.origin-filter-item-submenu-text {
    margin: 0;
    line-height: 20px;
}

.origin-filter-item-link {
    color: @color-dark-blue;
    font-weight: @weight-normal;
}

.origin-filter-searchfield {
    padding-right: 40px;
}

.origin-filter-dismiss-icon {
    display: none;
    position: absolute;

    top: 20px;
    right: 20px;
    z-index: 100;

    color: @color-mediumnavy;
    font-size: 23px;

    &:hover {
        color: @color-darknavy;
    }
}

.origin-filter-dismiss-icon-isvisible {
    display: block;
}
