
.origin-profile-friends-tab {

    padding-right: 20px;
    @media screen and (max-width: 599px) {
        padding-right: 6px;
    }

    .show-more-less {
        display: block;
        margin: 30px 0 50px;
        clear: both;
        text-align: center;
        cursor: pointer;
        .horizontal-center(relative);

        &:hover {
            // Get rid of the underline on hover
            background-image: none;
        }
    }

    .friendtile-section {
        min-height: 71px;
    }

    .loading-indicator {
        position: relative;
        .loading();
    }

    .error-page {
        text-align: center;
    }

    .origin-profile-page-friends-friendtile {
        position: relative;
        min-height: 0;
        min-width: 0;
        height: 71px;
        float: left;
        margin-bottom: @profile-page-tile-friends;

        // 4 columns
        width: calc(25% - 16px);
        margin-right: 16px;

        @media only screen and (max-width: 1300px) {
            // 2 columns
            width: calc(50% - 16px);
            margin-right: 16px;
        }
        @media only screen and (max-width: 900px) {
            // 1 column
            width: 100%;
            margin-right: 0;
        }

        .origin-profile-page-friends-friendtile-avatar {
            position: absolute;
            top: 15px;
            left: 10px;
        }

        .origin-profile-page-friends-friendtile-labels {
            .vertical-center();
            left: 60px;
            width: calc(100% - 75px);

            .origin-profile-page-friends-friendtile-username {
                cursor: pointer;
                color: @color-darknavy;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .origin-profile-page-friends-friendtile-gamename {
                cursor: pointer;
                color: @color-mediumnavy;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .find-friends-link {
        cursor: pointer;
    }
}
