.origin-profile-tab {
    .section-padding();
}

.row-header {
    margin: 12px 0;
    clear: both;
}

.header-text {
    text-align: center;
}

.origin-profile-anonymous,
.origin-profile-private,
.origin-profile-blocked {
    max-width: 500px;
    padding-top: 72px;
    margin: 0 auto;
    text-align: center;
    color: @color-black;
    @media screen and (max-width: @profile-no-sidebar) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.origin-profile-anonymous-actionitems {
    position: relative;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    .media-max-width(@global-width-xsmall, {
        position: static;
        width: 290px;
        display: block;
        margin: 0 auto;
    });
}

.origin-profile-anonymous-actionitems .otkbtn {
    width: 240px;
    float: left;
    margin: 20px;
    .media-max-width(@global-width-small, {
         width: 200px;
    });
    .media-max-width(@global-width-xsmall, {
        width: 240px;
        float: none;
        clear: both;
        margin: 10px;
    });
    .otkbtn .otktooltip-arrow { display: none; }
    .otkbtn .otktooltip-top {
        padding: 0;
        margin: 0;
    }
}
