
.origin-profile-navsection {
    padding: 0 40px;
    margin-bottom: 30px;

    @media screen and (max-width: 1150px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 600px) {
        margin: 20px 0 0 0;
        padding: 0 5px;
    }
}

.origin-profile-section {
    min-height: 200px;
    .animation(origin-settings-fader 0.3s ease-in-out 1 forwards);
}
