@wishlist-hearticon-size: 28px;

.origin-profile-wishlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.origin-profile-wishlist-container{
    margin-bottom: 74px;
}

.origin-profile-wishlist-share-button-container {
    text-align: right;
    margin: 24px 0 24px 0;
}

.origin-profile-wishlist-gametile {
    padding: 10px;
    max-width: 100%;
    box-shadow: 0 0 2px 0 fade(@color-darknavy, 25%);
}

.origin-profile-wishlist-item {
    padding-bottom: 24px;
}

.origin-profile-wishlist-empty {
    text-align: center;
}

.origin-profile-wishlist-empty-image {
    .border-radius(4px);
    margin-top: 12px;
}

.origin-profile-wishlist-empty-heading {
    color: @color-darknavy;
    margin-bottom: 12px;
}

.origin-profile-wishlist-empty-description {
    color: @color-mediumnavy;
    margin-bottom: 12px;
}

.origin-profile-wishlist-private-stripe {
    position: relative;
    width: 100%;
    height: initial;

    padding: 8px 0 16px 0;
    margin-bottom: 24px;

    top: 0px;

    background-color: @origin-sitestripe-background-color;
    color: white;

    text-align: center;
    overflow: hidden;

    transition: all 0.6s cubic-bezier(0.03, 1, 0.2, 1);
}

.origin-profile-wishlist-private-warning-icon {
    color: @color-yellow;
    font-size: 24px;
    font-weight: 300;
    padding-right: 0;
    top: 6px;
}

.origin-profile-wishlist-private-heading-text {
    font-size: @font-size-body;
    line-height: 20px;
    margin-bottom: 0;
    max-width: 100%;
}

.origin-profile-wishlist-private-body-text {
    font-size: @font-size-body;
    line-height: 20px;
    margin: 1em;
    max-width: 100%;
}

.origin-profile-wishlist-gametile-title {
    cursor: pointer;
    color: @color-black;
}

.origin-profile-wishlist-gametile-packart {
    cursor: pointer;
    position: relative;
    width: 150px;

    .media-max-width(@ogd-width-medium, {
        width: 100px;
        margin-top: 10px;
        margin-bottom: -5px;
    });
}

.origin-profile-wishlist-date-added {
    color: @color-mediumnavy;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 400;
}

.origin-profile-wishlist-ineligibletoreceive {
    color: @color-darkgray;
    position: relative;
    text-align: left;
    i {
        top: 7px;
        left: -5px;
        font-size: 32px;
    }
    .origin-profile-wishlist-ineligibletoreceive-msg {
        position: relative;
        left: -5px;
    }
}

.origin-profile-wishlist-release-date {
    display: inline-block;
    color: @color-mediumnavy;
    position: relative;
    top: -1px;
    left: -6px;
    font-weight: 400;
}

.origin-profile-wishlist-release-date-icon {
    top: 8px;
    left: -5px;
    font-size: 32px;
    color: @color-mediumnavy;
}

.origin-profile-wishlist-gametile-remove-link {
    margin-top: 15px;
    margin-bottom: 1px;
    font-weight: 400;
    padding-bottom: 8px;

    .media-max-width(@ogd-width-medium, {
        text-align: center;
    });
}

.origin-profile-wishlist-access-text-wrapper {
    color: @color-white;
}

.origin-profile-wishlist-gametile-cta-container .otkbtn-primary{
    border: none;
    padding: 13px 0;
}

.origin-profile-wishlist-subs-divider {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.origin-profile-wishlist-or-divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: @otk-cta-width;
    margin: 0;

    .media-max-width(@ogd-width-medium, {
        margin: 0 auto;
    });
}

.origin-profile-wishlist-or-text {
    color: @color-mediumnavy;
}

.origin-profile-wishlist-or-divider:before {
    content: '';
    height: 1px;
    background: rgba(195, 198, 206, 0.5);
    flex: 1;
    margin: 0 10px 0 0;
}

.origin-profile-wishlist-or-divider:after {
    content: '';
    height: 1px;
    background: rgba(195, 198, 206, 0.5);
    flex: 1;
    margin: 0 0 0 10px;
}

.origin-profile-wishlist-gametile-cta-container {
    max-width: @otk-cta-width;
    width: @otk-cta-width;
    .media-max-width(@ogd-width-medium, {
        margin: 0 auto;
    });
}

.origin-profile-wishlist-secondarycol {
    padding-left: 13px;

    .media-max-width(@ogd-width-medium, {
        padding-left: 0;
    });
}

.origin-profile-wishlist-secondarycol-small {
    padding-left: 10px;

    .media-max-width(@ogd-width-medium, {
        padding-left: 0;
    });
}

.wishlist-access.origin-access-logo {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 15px;
}

.wishlist-access.origin-access-logo .otkicon-originlogo {
    color: @color-white;
    font-size: 22px;
    position: absolute;
    top: -1px;
    left: 0;
}

.wishlist-access.origin-access-logo .otkicon-accesstext {
    color: @color-white;
    font-size: 54px;
    position: absolute;
    top: -16px;
    left: 20px;
}

.origin-wishlist-on-wishlist {
    position: relative;
    margin-bottom: 12px;
}

.origin-wishlist-on-wishlist-icon {
    position: absolute;
    top: -4px;
    left: -4px;
    font-size: @wishlist-hearticon-size;
    color: @color-heartred;
    .animation(giftingPosterPop 0.9s cubic-bezier(0.03, 1, 0.2, 1) forwards);
}

.origin-wishlist-on-wishlist-message {
    padding-left: @wishlist-hearticon-size;
    display: inline-block;
}

.origin-wishlist-on-wishlist-text {
    font-weight: 400;
    color: @color-darknavy;
}

.origin-pdp-hero-action .origin-wishlist-on-wishlist-text {
    color: @color-white;
}

.origin-profile-wishlist-share-area {
    display: table;
    margin-bottom: 24px;
    height: auto;
    width: 100%;
}

.origin-profile-wishlist-share-textcontainer {
    position: relative;
    overflow-wrap: break-word;
    min-width: 250px;
    float: right;

    .media-max-width(@global-width-xsmall, {
        min-width: auto;
        float: none;
    });
}

.origin-profile-wishlist-share-text {
    float: left;
    padding-right: 4px;
}

.origin-profile-wishlist-share-link {
    float: left;
    color: @color-mediumnavy;
}
