.origin-store-gift-friendtile {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 70px;

    .no-touch &:hover {
        z-index: 10;
        .box-shadow(0 6px 25px 0px fade(@color-darknavy, 30%));
    }

    .origin-store-gift-friendtile-user {
        display: inline-block;
        width: 60%;
        text-align: left;
        .origin-store-gift-friendtile-avatar {
            display: inline-block;
            width: 41px;
            height: 41px;
            margin: 15px;
        }
        .origin-store-gift-friendtile-userinfo {
            display: inline-block;
            .vertical-center();
        }
    }

    .origin-store-gift-friendtile-eligibility {
        display: inline-block;
        width: 40%;
        text-align: right;

        .origin-store-gift-friendtile-status {
            .vertical-center();
            right: 60px;
            font-weight: 400;

            &.origin-store-gift-friendtile-onwishlist {
                color: @color-green;
            }

            .media-max-width(@global-width-xsmall, { display: none; });
        }

        .origin-store-gift-friendtile-action {
            font-size: 48px;
            color: @color-mediumnavy;
            padding: 10px;

            &.otkicon-add {
                .transition(color @timing-short-ease-out);
            }
        }

        .origin-store-gift-friendslist-loader {
            .loading-inline();
            &:after {
                position: absolute;
                .transform-none();
                right: 17px;
                top: 18px;
            }
        }
    }

    &.origin-store-gift-friendtile-disabled {
        pointer-events: none;
        cursor: default;
        color: @color-black;
        opacity: .4;

        .origin-store-gift-friendtile-action {
            opacity: 0;
        }
    }

    &.origin-store-gift-friendtile-dimmed {
        opacity: .4;

        .no-touch &:hover {
            .box-shadow(none);

            .origin-store-gift-friendtile-action {
                &.otkicon-add {
                    color: @color-darknavy;
                }
            }
        } 

    }

    &.origin-store-gift-friendtile-selected {

        z-index: 20;
        .box-shadow(0 6px 25px 0px fade(@color-darknavy, 30%));

        .origin-store-gift-friendtile-action {
            &.otkicon-checkcircle {
                .animation(originPopIn @timing-short-ease-out forwards);
                color: @color-green;
            }
        }

        .no-touch &:hover {
            .box-shadow(0 6px 25px 0px fade(@color-darknavy, 30%));
        }
    }
}