.origin-store-gift-friendslist-wrapper {
    padding: 30px 0 15px 0;


    .origin-store-gift-friendslist-searchinput {
        box-sizing: border-box;
        margin: 0 30px
    }

    // Hide IE11's "X" button that gets automatically displayed in focused text input fields
    ::-ms-clear { display: none; }

    .origin-store-gift-friendslist-friends-wrapper {
        padding: 0 15px 15px 30px;
        margin: 24px 0 0;
        overflow-y: scroll;
    }

    .origin-store-gift-friendtileitem {
        width: 100%;
        box-sizing: border-box;
    }

    .origin-store-gift-friendslist-friends {
        max-height: 45vh;

        ul {
            list-style: none;
            padding: 0;
        }
    } 

    .origin-store-gift-friendslist-nofriends {
        padding: 48px 30px;
        margin-top: 30px;
        text-align: center;
    }
}


.origin-store-gift-disclaimer-container {
    color: @color-darkgray;
    float: left;
    text-align: left;
    clear: both;
}

.origin-store-gift-disclaimer-text {
    margin: 0;
    .media-max-width(@global-width-xsmall, {
        margin-bottom: 24px;
    });
}