//
// Origin Social Hub Roster
// --------------------------------------------------

//== Roster
//

//== Roster Area
//
// ## Origin Social Hub Roster styles

.origin-social-hub-roster-area {
}

.origin-social-hub-roster-area-friends-clear-filter {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 24px;
    color: #787D85;
    .transition(all 0.3s ease-out);
    cursor: pointer;
	z-index: 100;
}

.origin-social-hub-roster-area-friends-add-friends {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #1E262C; 
    .transition(all 0.3s ease-out);
    cursor: pointer;
}

.origin-social-hub-roster-area-friends-filter {
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 12px;
}

.origin-social-hub-roster-area-list {
    position: absolute;
    top: 174px;
    bottom: 0;
    left: 0;
    right: 0;
    .transition(all 0.3s ease-out);
}

.origin-social-hub-roster-area-list-loading {
    top: 110px;
    .loading(@color-darknavy);
}

.origin-social-hub-roster-area-list-nofriends {
    top: 110px;
}

.origin-social-hub-roster-area-friends-filter-group-field {
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
}

.origin-social-hub-roster-area-viewport {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // .text-overflow() will hide y scrollbar.
    // Avoid using, it will hide your friends!
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.origin-social-hub-roster-area-friends-ingame-header,
.origin-social-hub-roster-area-friends-offline-header,
.origin-social-hub-roster-area-friends-online-header {
    padding: 6px 0;
    width: 100%;
    text-align: center;
    color: @color-white;
    background: #787D85;
}



//
// Origin Social Hub Roster Friend
// --------------------------------------------------


//== Roster Friend
//
// ## Origin Social Hub Roster Friend styles
.origin-social-hub-roster-item {
    width: 276px;
    height: 50px;
    cursor: pointer;
    position: relative;
    padding: 6px 12px;
    border-bottom: 1px solid #e0e2e6;
    .user-select(none);
    .transition(background 0.07s ease-in);    

    .origin-social-hub-roster-friend-menu-icon {
        opacity: 0;
        position: absolute;
        top: 17px;
        right: 20px;
        font-size: 24px;
        .transition(opacity 0.3s ease-in-out);
    }

    &:hover {
        .origin-social-hub-roster-friend-menu-icon {
            opacity: 1;
        }
    }

    .icon-visible {
        opacity: 1;
    }
}

//
// Origin Social Hub Roster Friend Context Menus
// --------------------------------------------------

.origin-social-hub-roster-friend-wrap,
.origin-social-hub-roster-pendingitem-wrap {

    // Each friend's context menu
    .origin-social-hub-roster-contextmenu {
        top: 32px;
        right: 43px;
        width: 140px;
        white-space: normal;
        word-wrap: break-word;
        .box-shadow(0px 0px 8px 0px rgba(30, 38, 44, 0.3));
    }

    // Inner context menu displaying list of chat groups
    .origin-social-hub-roster-chatroomlist-contextmenu {
        width: 110px;
        top: 0px;
        right: 140px;
        white-space: normal;
        word-wrap: break-word;
        .box-shadow(0px 0px 8px 0px rgba(30, 38, 44, 0.3));
    }
}

.origin-social-hub-roster-item:hover,
.origin-social-hub-roster-item-selected {
    background: rgba(195, 198, 206, 0.2);
}

.origin-social-hub-roster-friend,
.origin-social-hub-roster-section-header {
    outline: none;
}

.origin-social-hub-roster-friend-offline {
	opacity: 0.5;
}

.origin-social-hub-roster-friend-inner-wrapper {
    margin-left: 50px;
    display: block;
    padding: 0;
    padding-top: 12px;
    position: relative;
	
    &:hover {
		.origin-social-hub-roster-friend-realname {
			opacity: 1;
		}
		.origin-social-hub-roster-friend-originId {
			opacity: 0;
		}	
	}
}

.origin-social-hub-roster-friend-link {
    float: left;
    margin-top: 4px;
}

.origin-social-hub-roster-friend-joingame-icon {
    position: absolute;
    top: 18px;
    right: 45px;
    background: #6BBFCA;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    color: @color-white;
}

.origin-social-hub-roster-friend-watchbroadcast-icon {
	position: absolute;
	top: 17px;
	right: 45px;
	
	color: #6441a5;
	font-size: 30px;
	.transition(color 0.3s ease-in-out);
}

.origin-social-hub-roster-friend-realname {
	position: absolute;
	top: 10px;
	opacity: 0;
	.transition(opacity 0.5s ease-in-out);
}

.origin-social-hub-roster-friend-originId {
	position: absolute;
	top: 10px;
	opacity: 1;
	.transition(opacity 0.5s ease-in-out);
}

.origin-social-hub-roster-friend-playing-game {
	position: absolute;
	top: 25px;
}


//
// Pending items styles
.origin-social-hub-roster-pendingitem,
.origin-social-hub-roster-pendingitem-icon,
.origin-social-hub-roster-pendingitem-cancel-request {
    .transition(all 0.3s ease-in-out);
}
 
.origin-social-hub-roster-pendingitem-icon {
    position: absolute;
    line-height: 70%;
    font-size: 32px;
}

// Accepted styles only
.origin-social-hub-roster-pendingitem-accept-icon-wrap {
    right: 70px;
    top: 14px;
}

    .origin-social-hub-roster-pendingitem-accept-icon {
        color: #04BD68;
    }
        .origin-social-hub-roster-pendingitem-accepted,
        .origin-social-hub-roster-pendingitem-accepted:hover {
            background: rgba(4, 189, 104, 0.85);
        }

// Declined/Cancel styles only
.origin-social-hub-roster-pendingitem-decline-icon-wrap,
.origin-social-hub-roster-pendingitem-cancel-icon-wrap {
    right: 40px;
    top: 14px;
}
    .origin-social-hub-roster-pendingitem-decline-icon,
    .origin-social-hub-roster-pendingitem-cancel-icon {
        color: #C3C6CE;
        position: relative;
        top: 2px;
    }
        .origin-social-hub-roster-pendingitem-declined,
        .origin-social-hub-roster-pendingitem-declined:hover,
        .origin-social-hub-roster-pendingitem-cancelled,
        .origin-social-hub-roster-pendingitem-cancelled:hover {
            background: rgba(195, 198, 206, 0.85);
        }


.origin-social-hub-roster-pendingitem-accept-icon-accepted,
.origin-social-hub-roster-pendingitem-decline-icon-declined,
.origin-social-hub-roster-pendingitem-cancel-icon-cancelled {
    color: @color-white;
    font-size: 50px;
    right: 130px;
}

.origin-social-hub-roster-pendingitem-accept-icon-accepted {
    top: 2px;
}
.origin-social-hub-roster-pendingitem-decline-icon-declined,
.origin-social-hub-roster-pendingitem-cancel-icon-cancelled {
    top: 4px;
}

    .origin-social-hub-roster-pendingitem-accept-icon-accepted a,
    .origin-social-hub-roster-pendingitem-decline-icon-declined a,
    .origin-social-hub-roster-pendingitem-cancel-icon-cancelled a {
        color: @color-white;
        font-size: 50px;
    }

// Pending item tooltips
.otka:hover {
    background-image: none;
}

.otktooltip {
    font-size: 14px;
    opacity: 0.7;
}

.otktooltip-inner {
    padding: 6px 14px;
}
