//
// Top Banner
// --------------------------------------------------


//== Top Banner
//
// ## Top Banner styles


.l-origin-topbanner {
    position: fixed;
    top: 0;
    left: @nav-width;
    right: 0;
    z-index: @zindex-gus;
    .clearfix();
    opacity: 0;
    .transition(all 0.3s ease-out);
    background: @color-white;
    .box-shadow(0px 0px 2px 0px rgba(30, 38, 44, 0.25));
    @media screen {
        @media (max-width: @width-mobile) {
            display: none;
        }
        @media (min-width: @width-large-desktop) {
            left: @nav-width;
        }
    }
}

// when the content is docked
.origin-content-isdocked .l-origin-topbanner {
    @media screen {
        @media (min-width: @width-large-desktop) {
            right: @social-hub-width;
        }
    }
}

.l-origin-topbanner-isloaded {
    opacity: 1.0;
}


//== Mini Profile
//
// ## Mini Profile Styles

.origin-miniprofile {
    height: 62px;
    padding:11px 0 11px 44px;
    .box-sizing(border-box);
    .clearfix();
}

//== Login CTA
//
// ## Login CTA styles

.origin-miniprofile-login {
    margin:9px 0;
    font-size: @font-size-body-large;
    font-weight: @weight-normal;
    color: @color-mediumnavy;
}


//== Logged In Bar
//
// ## Styles for avatar and user dropdown

.origin-miniprofile-avatar {
    float: left;
    margin-right: 5px;
}

.origin-miniprofile-userinfo {
    float:left;
    margin-top: -3px;
}

.origin-miniprofile-dropdown-trigger {
    color: @color-black;
    &:after {
        color: @color-black;
    }
}

.origin-miniprofile-points {
    display: block;
    font-size: @font-size-body;
    color: @color-mediumnavy;
    text-decoration: none;
}

//== Search
//
// ## Search styles

.origin-globalsearch {
    position:absolute;
    right: 40px;
    top: 8px;
    width: 300px;
}

//== Language Selector
//
// ## TODO: Remove This

.origin-localeselector {
    position: absolute;
    top: 30px;
    right: 350px;
    width: 40px;
    opacity: 0.4;
    border: 1px solid @color-lightgray;
    .transition(opacity 0.3s ease-out);
    .translate(0, -50%);
    .box-sizing(border-box);
    &:hover {
        opacity: 1.0;
    }
    > img {
        display: block;
        width: 100%;
        cursor: pointer;
    }
}

