<div class="origin-storebundlecart-wrapper">
    <h5 class="otktitle-5 otktitle-5-caps origin-storebundlecart-header">
        {{ strings.yourBundleText | countWrapper:countMyItems() }}
    </h5>

    <origin-store-carousel-product class="origin-storebundlecart">
        <li ng-repeat="offerId in getMyItems()" class="origin-storebundlecart-item">
            <origin-store-bundle-cart-item offer-id="{{ offerId }}"></origin-store-bundle-cart-item>
        </li>
    </origin-store-carousel-product>

    <section class="origin-storebundlehero-price">
        <p class="otkc origin-storebundlehero-price-item">
            <span>{{ strings.subtotalText }}</span>
            <span class="otkprice-original">{{ getSubtotal() }}</span>
        </p>
        <p class="otkc origin-storebundlehero-price-item">
            <span>{{ strings.totalText }}</span>
            <span class="otkprice">{{ getTotal() }}</span>
        </p>
        <p class="otkc origin-storebundlehero-price-item">
            <span>{{ strings.discountText }}</span>
            <span class="otkprice-sale">{{ getDiscount() }}</span>
        </p>

        <a href="javascript:void(0)" ng-click="buyNow()" class="otkbtn otkbtn-primary origin-storebundlehero-cta">{{ strings.buyNowText }}</a>
    </section>
</div>