<section class="origin-storebundlehero" ng-class="{
        'origin-storebundlehero-shrink': isShrunk,
        'origin-storebundlehero-pinned': isPinned
    }">
    <div class="origin-storebundlehero-background">
        <div class="origin-storebundlehero-backgroundwrapper">
            <img ng-src="{{ backgroundImage }}" class="origin-storebundlehero-backgroundimage"/>
        </div>
    </div>

    <div class="origin-storebundlehero-header" ng-if="title || description">
        <h1 class="otktitle-2 origin-storebundlehero-title">{{ title }}</h1>
        <span class="otktitle-3 origin-storebundlehero-description">{{ description }}</span>
    </div>

    <origin-store-bundle-cart class="origin-storebundlecart-container" bundle-id="{{ bundleId }}"></origin-store-bundle-cart>
</section>

<section class="origin-bundlemain origin-bundlemain-offerlist" ng-class="{
        'origin-bundlemain-offerlist-pinned': isPinned && !isShrunk && description,
        'origin-bundlemain-offerlist-nodescription': isPinned && !isShrunk && !description,
        'origin-bundlemain-offerlist-shrink': isPinned && isShrunk
    }" ng-transclude>
</section>

<section class="origin-bundlemain origin-bundlemain-legal">
    <origin-store-paragraph ng-bind-html="legalText"></origin-store-paragraph>
</section>