<div
    class="origin-storebundleoffer"
    ng-class="{'origin-storebundleoffer-isinbundle': isInBundle(), 'origin-storebundleoffer-hover': infoBubbleVisible}"
    title="{{ model.displayName }}">
    <div class="origin-storebundleoffer-overlaywrapper">
        <img ng-src="{{ model.packArt }}" class="origin-storebundleoffer-posterart" />
        <div class="origin-storebundleoffer-overlay">
            <a ng-if="!isInBundle()" href="javascript:void(0)" ng-click="goToPdp(model)" class="origin-storebundleoffer-overlay-link">{{ model.displayName }}</a>
            <div class="origin-storebundleoffer-overlaycontent">
                <div ng-if="isInBundle()" class="origin-storebundleoffer-inbundlemessage">
                    <i class="otkicon otkicon-checkcircle"></i>
                    <h2 class="otktitle-3">{{ strings.inBundleText }}</h2>
                </div>
                <a
                    ng-if="!isInBundle() && !isOwned()"
                    href="javascript:void(0);"
                    ng-click="addToBundle($event)"
                    origin-infobubble="{{ infobubbleContent }}"
                    class="otkbtn otkbtn-primary">
                    {{ strings.addText }}
                </a>
                 <a href="javascript:void(0)"
                    ng-if="isOwned()"
                    ng-click="goToPdp(model)"
                    class="otkbtn otkbtn-primary">
                    {{ strings.learnMoreText }}
                </a>
            </div>
        </div>
    </div>
    <section class="otkc origin-storebundleoffer-details">
        <h2 class="otktitle-4 origin-storebundleoffer-title">
            <a href="javascript:void(0)" ng-click="goToPdp(model)">
                <span>{{ model.displayName }}</span>
            </a>
        </h2>
        <origin-store-price offer-id="{{ offerId }}"></origin-store-price>
    </section>
</div>