<origin-friends-tiledisplay 
    friendslist="
        requestedFriendType !== 'friendsOwned' && friendsPlaying.length ? friendsPlaying : 
        (requestedFriendType !== 'friendsOwned' && friendsPlayed.length ? friendsPlayed : friendsOwned)" 
    popouttitlestr="
        {{requestedFriendType !== 'friendsOwned' && friendsPlaying.length ? friendsPlayingTitleStr : 
        (requestedFriendType !== 'friendsOwned' && friendsPlayed.length ? friendsPlayedTitleStr : friendsOwnedTitleStr)}}" >
</origin-friends-tiledisplay >
