
<div class="origin-game-friendsplayingtext-wrapper" ng-if="text.length > 0 || friendsTitleStr.length > 0">

	<h1 class="otktitle-3"><strong ng-bind-html="subtitle"></strong></h1>

	<i ng-if="requestedFriendType !== 'friendsOwned' && (friendsPlaying.length || friendsPlayed.length)" class='otkicon otkicon-person origin-game-friendsplayingicon'></i>

	<span class='origin-game-friendsplayingtext' ng-bind-html="text"></span>

	<span class='origin-game-friendsplayingtext' ng-bind-html="friendsTitleStr"></span>
</div>