.origin-infobubble {
    display: block;
    visibility: hidden;
    .opacity(0);
    position: absolute;
    min-width: 150px;
    z-index: 1;
    cursor: auto;
    padding-top: 8px;
}

.origin-infobubble-content
{
    padding: 20px;
    .box-sizing(border-box);
    background: @color-white;
    border: 1px solid @color-lightnavy;
    .border-radius(8px);
}

.origin-infobubble-isvisible
{
    visibility: visible;
    .opacity(1);
    .animation(originTooltipMoveInFromBottom @timing-long-ease-out);
}

.origin-infobubble-arrow {
    position: absolute;
}

.origin-infobubble-arrow:after,
.origin-infobubble-arrow:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.origin-infobubble-arrow-up {
    left: 50%;
    top: 0;
}

.origin-infobubble-arrow-up:after {
    margin-left: -15px;
    top: -6px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
}

.origin-infobubble-arrow-up:before {
    top: -7px;
    margin-left: -16px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #c3c6c3;
}