<?xml version="1.0"?>
<example>
<para>An example of a build that could often cause problems because it tries to batch compile two files with the same base name.</para>
<code file="Batch.build">
<![CDATA[
<project default="build">
    <package name="BatchCompileExample" />
    <dependent name="VisualStudio" version="7.1.1-4"/>

    <property name="cc.batch" value="true"/>
    <property name="cc.template.sourcefile" value='"%sourcefile%"'/>
    <property name="cc.options">
        -nologo 
        -c 
        -Zi
        -Fd"%outputdir%/%outputname%.pdb"
    </property>
    <property name="outdir" value="${package.dir}/build"/>

    <target name="build">
        <cc outputname="${package.name}" outputdir="${outdir}">
            <sources>
                <includes name="add.c"/>
                <includes name="add.cpp"/>
            </sources>
        </cc>
    </target>
</project>
]]>
</code>
<para>Where <c>add.c</c> contains:</para>
<code file="add.c">
<![CDATA[
int add(int a, int b)
{
    return a + b;
}
]]>
</code>
<para>And <c>add.cpp</c> contains:</para>
<code file="add.cpp">
<![CDATA[
int fastadd(int a, int b)
{
    return a + b;
}
]]>
</code>
</example>
