<div class="origin-search-results">
    <origin-search-logged-out ng-if="loggedOut"></origin-search-logged-out>
    <origin-search-results type="games" results="gameResults" limit="5" ng-if="isGamesVisible"></origin-search-results>
    <origin-search-results type="store" results="storeResults" limit="6" ng-if="isStoreVisible"></origin-search-results>
    <origin-search-results type="people" results="peopleResults" limit="{{peopleResultsLimit}}" show-all-people-callback="showAllPeopleCallback()" ng-if="isPeopleVisible"></origin-search-results>
    <origin-search-no-results ng-if="noResultsFound"></origin-search-no-results>
    <div class='origin-search-loader' ng-class = '{"origin-search-section-isloading": isLoading }'></div>
    <origin-search-offline ng-if="isOffline"></origin-search-offline>
</div>