<?xml version="1.0"?>
<example>
<para>Displays a deprecation message and location in the build file then continues with the build.</para>
<code file="simple.build">
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <deprecate message="This is an example deprecate task usage."/>
</project>
]]></code>
</example>
