<div class="origin-store-sitestripe-messageoftheday" ng-class="{
        'origin-store-sitestripe-messageoftheday-withtimer': timer,
        'origin-store-sitestripe-messageoftheday-info': info,
        'origin-store-sitestripe-messageoftheday-alert': alert
    }" style="background-color: {{ edgecolor }};">

    <div class="origin-store-sitestripe-messageoftheday-image-wrapper" ng-if="image">
        <div class="origin-store-sitestripe-messageoftheday-image-wrapper-fade" style="background: linear-gradient(to right, transparent 0%, {{ edgecolor }} 100%);"></div>
        <img ng-src="{{ image }}" alt="{{ title }}" class="origin-store-sitestripe-messageoftheday-image">
    </div>

    <div class="origin-store-sitestripe-messageoftheday-content">

        <a ng-if="href" href="{{ href }}" class="origin-store-sitestripe-messageoftheday-link"></a>

        <i class="otkicon otkicon-closecircle origin-store-sitestripe-messageoftheday-close" ng-click="siteStripeDismiss()"></i>

        <img ng-src="{{ logo }}" alt="" ng-if="logo" class="origin-store-sitestripe-messageoftheday-logo">

        <div ng-if="timerVisible && timerposition == 'left'" class="origin-store-sitestripe-messageoftheday-timer">
            <origin-store-timer goal-date="{{ goaldate }}"></origin-store-timer>
        </div>

        <div class="origin-store-sitestripe-messageoftheday-content-text">
            <div class="origin-store-sitestripe-messageoftheday-content-text-wrapper">
                <h2 class="otktitle-3 origin-store-sitestripe-messageoftheday-title">
                    <i ng-if="info" class="otkicon otkicon-info"></i>
                    <i ng-if="alert" class="otkicon otkicon-warning"></i>
                    {{ title }}
                </h2>

                <h3 class="otktitle-4 origin-store-sitestripe-messageoftheday-subtitle">{{ subtitle }}</h3>
            </div>
        </div>

        <div ng-if="timerVisible && timerposition == 'right'" class="origin-store-sitestripe-messageoftheday-timer">
            <origin-store-timer goal-date="{{ goaldate }}"></origin-store-timer>
        </div>

    </div>
</div>