<example>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <fileset name="f">
        <includes name="one.txt" asis="true" />
        <includes name="two.txt" asis="true" />
    </fileset>
    
    <fail unless="@{FileSetCount('f')} == 2" />
</project>
]]>
</code>
</example>