metricsLoggingConfig = {
    loggingInterval = "1m",
    componentMetrics = true,
    fiberTimings = true,
    status = true,
    dbMetrics = true,
    outboundMetrics = true,
    operationalInsightsExport = {
      #ifdef METRICS_AGENT_HOSTNAME
        agentHostname = "#METRICS_AGENT_HOSTNAME#",
      #else
        agentHostname = "localhost",
      #endif
        agentPort = 8125,
        enableGostatsdExtensions = true,
        globalTags = {
            "env" = "#ENV#"
        }
        include = [
            { regex = "^uptime" }
            { regex = "^fibers.cpuUsageForProcessPercent" }
            { regex = "^memory.usedMemory" }
            { regex = "^util.stt*" }
            { regex = "^util.tts*" }
            { regex = "^fibers.systemCpuTimeForProcess" }
            { regex = "^fibers.userCpuTimeForProcess" }
            { regex = "^gamepacker.*" }
        ]
        exclude = [
            { regex = "^config_uptime" }		
            { regex = "^database.*" }
            { regex = "^deprecatedRPCs.*" }			
            { regex = "^endpoint.*" }
            { regex = "^fibers_cpuBudgetExceeded.*" }			
            { regex = "^fibers.cpuBudgetCheckCount" }
            { regex = "^fibers.count" }
            { regex = "^fibers.dbcount.*" }			
            { regex = "^fibers.time" }
            { regex = "^fibers.maxPooledFibers" }
            { regex = "^fibers.numPooledFibers" }
            { regex = "^fibers.usedFiberListSize" }
            { regex = "^http_pool.*" }
            { regex = "^inboundgrpc.*" }
            { regex = "^inservice" }			
            { regex = "^logger.*" }
            { regex = "^memory.node_pool.*" }
            { regex = "^memory.maxUsedMemory" }
            { regex = "^memory.allocatedCoreMemory" }
            { regex = "^memory.processResidentMemory" }
            { regex = "^redis.*" }
            { regex = "^rpc.*" }
            { regex = "^selector.*" }
            { regex = "^usersessions.*" }
            { regex = "^authentication.*" }
            { regex = "^clubs.*" }
            { regex = "^gamemanager.*" }
            { regex = "^gamereporting.*" }
            { regex = "^grpcendpoint.*" }
            { regex = "^matchmaker.*" }
            { regex = "^messaging.*" }
            { regex = "^search.*" }
            { regex = "^slivers.*" }
            { regex = "^stats.*" }
            { regex = "^storage.*" }
            { regex = "^util.connectionCount.*" }
            { regex = "^numrpcs" }
            { regex = "^numrequestssent" }
            { regex = "^numresponsesreceived" }
            { regex = "^outboundgrpc.*" }
            { regex = "^profanityFilterService.*" }			
            { regex = "^blazecontroller.*" }
        ]
    }
}
