<div ng-transclude></div>
<form novalidate class="simple-form">
    <textarea rows="5" cols="100" ng-model="directive_str" placeholder="directive string ..."/>
    </textarea>
    <button ng-click="compileStr(directive_str)">
        Compile
    </button>
</form>
<form novalidate class="simple-form">
    <textarea rows="1" cols="100" ng-model="directive_url" placeholder="directive url ..."/>
    </textarea>
    <button ng-click="compileUrl(directive_url)">
        Compile
    </button>
</form>
<form novalidate class="simple-form">
    <textarea rows="5" cols="100" ng-model="jssdk_api_call" placeholder="place JSSDK API call  ... WARNING: it is using eval()"/>
    </textarea>
    <button ng-click="evalJssdkCall(jssdk_api_call)">
        Send
    </button>
</form>
<div id="hand-craft-container"></div>
