<origin-home-recommended-action>
    <origin-home-recommended-action-notloggedin image="https://qa.www.assets.cms.origin.com/content/dam/originx/web/app/home/actions/dai_intro_bg.png" title="Discover. Play. Connect." description="Origin is your PC Gaming platform. Play your favorite games, discover new content, and connect with friends. &lt;a href='javascript:void(0);'&gt;Learn More.&lt;/a&gt;" subtitlestr="Featured" subdescriptionstr="&lt;a href='javascript:void(0);'&gt;Dragon Age: Inquisition&lt;/a&gt;"></origin-home-recommended-action-notloggedin>
</origin-home-recommended-action>
