<example>
  <para>Loops over a fileset</para>
  <code>
    <![CDATA[
    <project default="doloop">
        <fileset name="myfileset">
            <includes name="*" />
        </fileset>
        <target name="doloop">
            <foreach item="FileSet" in="myfileset" property="filename">
                <echo message="${filename}"/>
            </foreach>
        </target>    
    </project>
    ]]>
  </code>
</example>
