<section class="origin-home-get-started-area l-origin-section origin-home-section" ng-if="isVisible">
    <div ng-if="bucket.length">
        <h2 class="otktitle-3 origin-home-section-title" ng-bind-html="::titleLoc"></h2>
        <h3 class="otktitle-4 origin-home-section-subtitle" ng-if="::subtitleLoc" ng-bind-html="::subtitleLoc"></h3>
        <div class="l-origin-hometile-container">
            <section class="l-origin-home-getstarted">
                <ul class="l-origin-hometiles">
                    <li class="origin-getstarted-tile-container l-origin-hometile" ng-repeat="tile in bucket | limitTo: limit track by tile.name">
                        <origin-home-get-started-tile tile="tile"></origin-home-get-started-tile>
                    </li>
                </ul>
                <div class="l-origin-home-section-more" ng-show="bucket.length > limit">
                    <a href="javascript:void(0)" ng-click="showMoreTiles()" class="otkbtn otkbtn-light" ng-bind="viewmoreLoc"></a>
                </div>
            </section>
        </div>
    </div>
    <ng-transclude></ng-transclude>
</section>



