<div class="origin-tile origin-getstarted-tile origin-telemetry-getstarted-tile origin-telemetry-discovery-tile" telemetry-name="{{tile.name}}">
    <img ng-src="{{tile.image}}" />

    <div class="origin-tile-support-text" ng-class="{ 'origin-tile-support-text-isshown' : supportTextVisible }">
        <h1 class="otktitle-3 otktitle-3-strong origin-tile-support-text-title" ng-bind-html="tile.title"></h1>
        <p class="origin-tile-support-text-paragraph origin-getstarted-msg-text"></p>
    </div><!-- .support-text end -->
    
    <div class="origin-getstarted-tile-cta-area">
        <div class="origin-getstarted-tile-cta-controls">
            <a class="otkbtn otkbtn-primary getstarted-btn-primary origin-message-trigger origin-telemetry-getstarted-btn-primary" ng-click="dismiss()" href="javascript:void(0)">{{tile.buttonText}}<i class="otkicon otkicon-learnmore getstarted-learnmore origin-telemetry-getstarted-learnmore" ng-if="tile.externalLink === 'true'"></i></a><br />
            <a class="otka getstarted-a origin-telemetry-getstarted-a secondary-action" ng-click="remindLater()" href="javascript:void(0)">{{tile.linkText}}</a>
        </div>
        <div class="origin-getstarted-tile-cta-confirmation">
            <i class="otkicon otkicon-email getstarted-email"></i>
            <i class="otkicon otkicon-check getstarted-check"></i>
            <p class="otktitle-4 otktitle-4-strong" ng-bind-html="tile.confirmationStr"></p>
        </div>
    </div>
</div>

