<header class="origin-titlebar-subwindow">

    <div class="origin-titlebar-subwindow-transclude" ng-transclude></div>

    <h3 class="otkc otkc-small origin-titlebar-subwindow-title"><strong>{{titleStr}}</strong></h3>

    <div class="origin-titlebar-subwindow-button origin-titlebar-subwindow-close" title=""><i class="otkicon otkicon-close"></i></div>
    <div class="origin-titlebar-subwindow-button origin-titlebar-subwindow-popout" title=""><i class="otkicon otkicon-expandarrow"></i></div>
    <div class="origin-titlebar-subwindow-button origin-titlebar-subwindow-minimize" title=""><i class="otkicon otkicon-bar"></i></div>

</header>
