<tr class="origin-store-pdp-comparison-table-body-row">
	<td class="origin-store-pdp-comparison-item origin-store-pdp-comparison-table-no-mobile">
		<img ng-src="{{ ::image }}" alt="" class="origin-store-pdp-comparison-item-image">
	</td>
	<td class="origin-store-pdp-comparison-item" ng-class="{'origin-store-pdp-comparison-table-show-more': show}">
		<h6 class="otkc origin-store-pdp-comparison-table-headers">{{ ::title }}</h6>
		<p class="otktitle-4 origin-store-pdp-comparison-table-description">
            {{ ::description }} <a ng-if="more" class="otka origin-store-pdp-comparison-table-more" ng-click="showContent()">{{ ::showMore }}</a>
        </p>

		<div ng-if="more" class="otkc origin-store-pdp-comparison-table-more-content"><p class="otktitle-4 origin-store-pdp-comparison-table-more-content-text" ng-bind-html="more"></p></div>

		<a ng-if="more" class="otka origin-store-pdp-comparison-table-less" ng-click="hideContent()">{{ ::showLess }}</a>
	</td>
	<td ng-repeat="check in checks track by $index" class="origin-store-pdp-comparison-item origin-store-pdp-comparison-item-checks origin-store-pdp-comparison-item-{{ ::offerLength }}" ng-class="{'origin-store-pdp-comparison-item-checked': check.type == 'checked' || check.type == 'custom'}">

		<i class="origin-store-pdp-comparison-item-check otkicon otkicon-checkcircle" ng-if="check.type == 'checked'"></i>

		<i class="origin-store-pdp-comparison-item-close otkicon otkicon-closecircle" ng-if="check.type == 'not-checked'"></i>

		<p class="origin-store-pdp-comparison-item-text otktitle-4" ng-if="check.type == 'custom'">{{ ::check.text }}</p>

		<p class="origin-store-pdp-comparison-item-edition otkc otkc-small">{{ ::models[$index] }}</p>
	</td>
</tr>