<div class="l-origin-store-column-full">
    <table class="origin-store-pdp-comparison-table">
        <thead>
            <tr>
                <th colspan="2" rowspan="3" class="origin-store-pdp-comparison-table-top">
                    <h3 class="otktitle-2 origin-store-pdp-comparison-table-top-title">{{ ::title }}</h3>
                    <p class="otktitle-3 origin-store-pdp-comparison-table-top-subtitle">{{ ::subtitle }}</p>
                </th>
                <th ng-repeat="offer in offers track by $index" class="origin-store-pdp-comparison-table-no-mobile">
                    <p ng-if="flag && $last" class="otktitle-4 origin-store-pdp-comparison-table-popular-flag"><stong>{{ ::flag }}</strong></p>
                </th>
            </tr>
            <tr class="origin-store-pdp-comparison-table-no-mobile">
                <th ng-repeat="offer in offers track by $index">
                    <img ng-src="{{ ::models[offer.offerid].packArt }}" alt="" class="origin-store-pdp-comparison-table-image">
                </th>
            </tr>
            <tr class="origin-store-pdp-comparison-table-no-mobile">
                <th ng-repeat="offer in offers track by $index" class="origin-store-pdp-comparison-table-packart">
                    <h6 class="otkc otkc-small origin-store-pdp-comparison-table-headers">{{ ::models[offer.offerid].editionName }}</h6>
                </th>
            </tr>
        </thead>
        <tbody ng-transclude></tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="origin-store-pdp-comparison-table-footer origin-store-pdp-comparison-table-no-mobile"></td>
                <td ng-repeat="offer in offers track by $index" class="origin-store-pdp-comparison-table-footer origin-store-pdp-comparison-item-{{ ::offerLength }}">
                    <h6 class="otkc otkc-small origin-store-pdp-comparison-table-footer-header">{{ ::models[offer.offerid].editionName }}</h6>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="origin-store-pdp-comparison-table-no-mobile"></td>
                <td ng-repeat="offer in offers track by $index" class="origin-store-pdp-comparison-table-cta origin-store-pdp-comparison-item-{{ ::offerLength }}">
                    <span class="origin-store-pdp-comparison-owned" ng-if="models[offer.offerid].isOwned" nowrap>
                        <i class="origin-store-pdp-comparison-owned-icon otkicon otkicon-checkcircle"></i>
                        <span class="otktitle-4 origin-store-pdp-comparison-owned-text">
                            <strong>{{ ::youOwnThis }}</strong>
                        </span>
                    </span>
                    <origin-cta-purchase ng-if="isPurchasable(offer.offerid)" href="http://somepdplink" description="{{ ::buyNow }}" type="primary"></origin-cta-purchase>
                </td>
            </tr>
        </tfoot>
    </table>
</div>