<div class="origin-social-hub-area-minimized ng-class:{
    'origin-social-hub-area-ispoppedout': isPoppedOut()
}">

	<div class="origin-social-hub-area-minimized-middle">
		<span ng-if="userLoggedIn" class="origin-social-hub-area-minimized-center">
            <i class="otkpresence"
               ng-class="{'otkpresence-online': !isInvisible && (presenceObj.show == 'ONLINE'),
                        'otkpresence-away': !isInvisible && (presenceObj.show == 'AWAY'),
                        'otkpresence-invisible': isInvisible}">
            </i>
			<span class="otktitle-5 otktitle-5-caps origin-social-hub-area-minimized-label"><strong>{{titlestr}}</strong></span>    
		</span>
	</div>
</div>
