.origin-store-access-landing-footer {
	padding: 100px 45px;
	overflow: hidden;
	.box-sizing(border-box);
	.display-flex();
    .flex-wrap(wrap);
    .justify-content(center);
    .align-items(center);
    
	#gradient > .vertical(@color-white, #d7dce1 , 0%, 100%);

	.media-max-width(@global-width-xsmall, {
    	padding: 100px 5px;
    });
}

.origin-store-access-landing-footer-logo {
	margin-bottom: 18px;
}

.origin-store-access-landing-footer-content {
	.flex(0, 0, 100%);
    max-width: @access-module-width;
    color: @color-darknavy;

	.origin-store-access-list {
    	list-style-type: none;
    	margin: 0 0 18px;
    	padding: 0;

	    .origin-store-access-item {
	    	position: relative;
	    	padding-left: 22px;
    		margin-bottom: 12px;
    		color: @color-mediumnavy;

	    	&:before {
	    		content: "";
			    position: absolute;
			    border-radius: 20px;
			    width: 9px;
			    height: 9px;
			    top: 7px;
			    left: 0;
			    border: 2px solid @color-lightnavy;
	    	}

	    	.otkicon {
	    		display: none;
	    	}
	    }
	}
}

.origin-store-access-landing-footer-legal {
	margin-top: 12px;
	color: @color-mediumnavy;
}