.origin-store-access-landing-hero {
	height: 700px;
	overflow: hidden;
	position: relative;
}

.origin-store-access-landing-hero-container {
	position: relative;
    padding: 0 45px;
    max-width: @access-container-width;
    margin: 0 auto;
    height: 100%;
	.display-flex();
    .flex-wrap(wrap);
    .justify-content(flex-start);
	.align-items(center);

	.origin-cta-primary {
		margin-top: 18px;
	}

	.media-max-width(@global-width-xsmall, {
    	padding: 100px 10px;
    	.box-sizing(border-box);
    });
}

.origin-store-access-landing-hero-content {
	max-width: @access-module-width;
	.flex(0, 0, 50%);
	padding-right: 30px;
	position: relative;
	z-index: 3;
	.box-sizing(border-box);

	.media-max-width(@access-landing-wide, {
    	padding: 0;
    	.flex(0, 0, 100%);
    	margin: 0 auto;
    });
}

.origin-store-access-landing-hero-content-header {
	color: @color-white;
}

.origin-store-access-landing-hero-content-desc {
	color: @color-white;
}

.origin-store-access-landing-hero-content-legal {
	margin-top: 12px;
	color: @color-lightnavy
}

.origin-store-access-landing-hero-background-fade {
	width: 100%;
	height: 700px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	#gradient > .horizontal(fade(@color-darknavy, 70%), fade(@color-darknavy, 30%) , 0%, 40%);
}

.origin-store-access-landing-hero {
	.origin-parallax-container {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
	}
}

.origin-store-access-landing-hero-background-container {
	min-width: 100%;
	.position-center();

	.origin-store-access-landing-hero-image {
		min-width: 101%;
		height: auto;
		.position-center2d(absolute);
		.opacity(0);
		.transition(all @transition-long);

		.media-max-width(@access-background-image-width, {
			max-width: @access-background-image-width;
		});

		.media-min-width(@access-background-image-width, {
			max-width: 101%;
		});
	}

	.origin-store-access-landing-hero-image-active {
		.opacity(1);
	}
}

.origin-store-access-landing-hero-foreground-container {
	position: absolute;
	bottom: 0;
	right: 45px;
	z-index: 3;
	height: 100%;
	.flex(0, 0, 50%);
    width: calc(50% - 45px);
    max-width: @access-module-width;

	.media-max-width(@access-landing-wide, {
    	display: none;
    });

	.origin-store-access-landing-hero-image {
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		.opacity(0);
		.transition(all @transition-long);
	}

	.origin-store-access-landing-hero-image-active {
		.opacity(1);
	}
}