.origin-store-access-landing-legalwrapper {
	background: @color-white;
	padding: @section-spacing-large;
	border-bottom: 1px solid @color-lightgray;

	:first-child {
		margin-top: 0;
	}

    .otkc-small {
    	max-width: none;
    }
}