.origin-store-access-landing-prop {
	width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;

    .origin-parallax-container {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}

.origin-store-access-landing-prop-container {
    max-width: @access-container-width;
    height: 700px;
    position: relative;
    overflow: hidden;
    padding: 0 45px;
    margin: 0 auto;
    .display-flex();
    .justify-content(center);
    .align-items(center);
}

.origin-store-access-landing-prop-background-fade {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

    .media-min-width(@access-landing-wide, {
        #gradient > .horizontal-three-colors(fade(@color-darknavy, 70%); fade(@color-darknavy, 40%); 50%; fade(@color-darknavy, 0%); 70%);
    });

    .media-max-width(@access-landing-wide, {
        background: fade(@color-darknavy, 40%);
    });
}

.origin-store-access-landing-prop-background {
    min-width: 101%;
    .position-center();
}

.origin-store-access-landing-prop-background-image {
    min-width: 101%;

    .media-max-width(@access-background-image-width, {
        max-width: @access-background-image-width;
    });

    .media-min-width(@access-background-image-width, {
        max-width: 101%;
    });
}

.origin-store-access-landing-prop-content {
	position: absolute;
	top: 50%;
    z-index: 3;
    color: @color-white;
    .box-sizing(border-box);

    .origin-store-access-landing-prop-content-list {
        .transition-delay(0s);
    }

    .media-min-width(@access-landing-wide, {
		left: 45px;
    	width: calc(50% - 45px);
    	max-width: @access-module-width;
    	.translate(0, -50%);
    });

    .media-max-width(@access-landing-wide, {
    	left: 50%;
    	width: 100%;
    	max-width: 740px;
    	padding: 0 45px;
    	.translate(-50%, -50%);
    });

    .media-max-width(@global-width-xsmall, {
    	padding: 0 10px;
    });

    .origin-store-access-list {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;

	    .origin-store-access-item {
	    	position: relative;
	    	padding-left: 22px;
    		margin-bottom: 12px;

	    	&:before {
	    		content: "";
			    position: absolute;
			    border-radius: 20px;
			    width: 9px;
			    height: 9px;
			    top: 7px;
			    left: 0;
			    border: 2px solid @color-lightnavy;
	    	}

	    	.otkicon {
	    		display: none;
	    	}
	    }
	}
}

.origin-store-access-landing-prop-foreground {
	position: absolute;
    width: calc(50% - 45px);
    max-width: @access-module-width;
    bottom: 0;
    right: 45px;
    z-index: 3;

    .media-max-width(@access-landing-wide, {
    	display: none;
    });
}

.origin-store-access-landing-prop-logo {
	position: absolute;
	bottom: 24px;
	left: 45px;
	z-index: 3;
	color: @color-white;
	.box-sizing(border-box);

    .media-max-width(@access-landing-wide, {
    	left: 50%;
    	width: 100%;
    	max-width: 740px;
    	padding: 0 45px;
    	.translate(-50%, 0);
    });

    .media-max-width(@global-width-xsmall, {
    	padding: 0 10px;
    });
}