.origin-store-access-landing-trialwrapper {
	padding: 60px 45px;
	text-align: center;
    color: @color-darknavy;
	.box-sizing(border-box);

	#gradient > .vertical(@color-white, #d7dce1 , 0%, 100%);

	.media-max-width(@global-width-xsmall, {
    	padding: 60px 5px;
    });
}

.origin-store-access-landing-trialwrapper-tiles {
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 18px;
	.display-flex();
	.flex-wrap(wrap);
    .justify-content(center);
    .box-sizing(border-box);
}

.origin-store-access-landing-trialtile {
	flex: 0 0 33.333%;
    padding: 0 10px;
    margin-bottom: 20px;
    .box-sizing(border-box);

    .media-max-width(@access-landing-wide, {
    	.flex(0, 0, 50%);
    });

    .media-max-width(@global-width-xsmall, {
    	.flex(0, 0, 100%);
	    padding: 0 5px;
	    margin-bottom: 10px;
    });
}

.origin-store-access-landing-trialtile-image {
	width: 100%;
    margin-bottom: 12px;
    cursor: pointer;
}

.origin-store-access-landing-trialtile-header {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.origin-store-access-landing-trialtile-description {
    color: @color-mediumnavy;
}