

.origin-store-access-landing-vaultlist {
	padding: 60px 45px;
	text-align: center;
	.box-sizing(border-box);
    color: @color-darknavy;

	#gradient > .vertical(@color-white, #d7dce1 , 0%, 100%);

	.media-max-width(@global-width-xsmall, {
    	padding: 60px 5px;
    });
}

.origin-store-access-landing-vaultlist-games {
	max-width: 1320px;
    margin: 0 auto;
    padding-top: 18px;

    .display-flex();
    .flex-wrap(wrap);
    .justify-content(center);
}

.origin-store-access-landing-vaultlist-game {
	flex: 0 0 12.5%;
    padding: 0 10px;
    margin-bottom: 20px;
    .box-sizing(border-box);

    .media-max-width(@access-landing-wide, {
		flex: 0 0 25%;
    });

    .media-max-width(@global-width-xsmall, {
    	flex: 0 0 33.333%;
    	padding: 0 5px;
    	margin-bottom: 10px;
    });
}

.origin-store-access-landing-vaultlist-image {
	max-width: 100%;
}