Origin--UIToolkit--OriginSlider::vertical  {
	padding: 4px 0px;
}

Origin--UIToolkit--OriginSlider::horizontal {
	padding: 0px 4px;
}

Origin--UIToolkit--OriginSlider::groove:horizontal {
    height: 11px;
    border-radius: 5px;
}

Origin--UIToolkit--OriginSlider::groove:vertical {
    width: 11px;
    border-radius: 5px;
}

Origin--UIToolkit--OriginSlider::sub-page:horizontal {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #f9ae00, stop:1 #f96e00);
    border: 3px solid #ccc;
    border-radius: 5px;
}

Origin--UIToolkit--OriginSlider::add-page:vertical {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #f9ae00, stop:1 #f96e00);
    border: 3px solid #ccc;
    border-radius: 5px;
}

Origin--UIToolkit--OriginSlider::add-page:horizontal {
    border: 3px solid #ccc;
    background: #888888;
    border-radius: 5px;
}

Origin--UIToolkit--OriginSlider::sub-page:vertical {
    border: 3px solid #ccc;
    background: #888888;
    border-radius: 5px;
}

Origin--UIToolkit--OriginSlider::handle {
    image: url(:/OriginCommonControls/OriginSlider/handle.png) no-repeat;
    margin: -5px;
}

Origin--UIToolkit--OriginSlider::handle:pressed {
    image: url(:/OriginCommonControls/OriginSlider/handle_active.png) no-repeat;
}

Origin--UIToolkit--OriginSlider::sub-page:disabled {
    background: #bfbfbf;
    border-color: #999;
}

Origin--UIToolkit--OriginSlider::add-page:disabled {
    background: #eee;
    border-color: #999;
}

Origin--UIToolkit--OriginSlider::handle:disabled {
    opacity: 10;
}