<section class='origin-homehero'>
    <img ng-src='{{image}}' class='origin-homehero-img' alt='{{title}}'>
    <div class='origin-homehero-content'>
        <h1 class='otktitle-page'>{{title}}</h1>
        <p class='otktitle-3' ng-click='onBtnClick()' ng-bind-html='description'></p>
    </div>
    <div class='origin-homehero-featured'>
    	<div class='otktitle-5 otktitle-5-caps' >{{subtitle}}</div>
    	<h2 class='otkc otkc-small' ng-click='onBtnClick()' ng-bind-html='subdescription'></h2>
    </div>
</section>