<div class="otkmodal origin-iframemodal" ng-class="{'otkmodal-isvisible': isReady}">
    <div class="otkmodal-backdrop otkmodal-backdrop-visible" ng-class="{'otkmodal-backdrop-isvisible': isReady}"></div>
    <div class="otkmodal-dialog otkmodal-lg">
        <div class="otkmodal-close" ng-click="close()">
            <i class="otkicon otkicon-closecircle"></i>
        </div>
        <div class="origin-iframemodal-content">
            <iframe frameborder="0" ng-src="{{::url}}" scrolling="{{::scrollbars}}"></iframe>
        </div>
    </div>
</div>