<div class="otkmodal origin-iframemodal" ng-class="{'otkmodal-isvisible': isReady}">
    <div class="otkmodal-backdrop otkmodal-backdrop-visible" ng-class="{'otkmodal-backdrop-isvisible': isReady}"></div>
    <div class="otkmodal-dialog otkmodal-lg">
        <div class="otkmodal-close" ng-click="close()">
            <i class="otkicon otkicon-closecircle"></i>
        </div>
        <origin-offline-sitestripe></origin-offline-sitestripe><!-- Offline sitestripe in client -->
        <origin-iframe source-url="{{::sourceUrl}}" origin-url="{{::originUrl}}" type="{{::type}}"></origin-iframe>
    </div>
</div>