<example>
  <para>Iterates over the directories in the current directory.</para>
  <code>
<![CDATA[
<project default="doloop">
    <target name="doloop">
        <foreach item="Directory" in="." property="path">
            <echo message="path='${path}' name='@{PathGetFileName('${path}')}"/>
        </foreach>
    </target>    
</project>
]]>
  </code>
</example>
