html,
body {
    height: 100%;

    // Because of mobile x-scrolling
    position: relative;
}

body {
    background: @color-lightgray;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

//Present messaging for users with no games
.l-no-games-online .origin-messages-center {
    padding-top: 100px;
    max-width: 600px;
}

.l-no-games-online .l-origin-home-discovery {
    background-image: none;
}

.l-no-games-offline .origin-messages-center {
    padding-top: 250px;
    width: 600px;
}

// Sticky footer
.origin-content {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    max-width: @global-width-xlarge;
    .box-sizing(border-box);

    .media-max-width(@global-width-small, {
        padding-top: @nav-height-mobile;
    });
    .media-min-width(@global-width-small, {
        padding-left: @nav-width;
    });
    .media-min-width(@global-width-large, {
        &.origin-content-isdocked {
            padding-right: @social-roster-width;
        }
    });
    .media-min-width(@global-width-xlarge, {
        margin: 0 auto;
    });

    #content {
        display: table-row;
        height: 100%;
        overflow: hidden;
    }

    #footer {
        display: table-row;
    }
}
.origin-content-oig {
    padding: 0;
}

.origin-isloading {
    .loading();
    &:after {
        .media-min-width(@global-width-small, {
            margin-left: (@nav-width/2);
        });
    }
}
