.origin-usertile-avatar {
    position: absolute;
    top: 15px;
    left: 10px;
}

.origin-usertile-labels {
    .vertical-center();
    left: @usertile-avatar-width;
    width: calc(100% - @usertile-avatar-width - 15px);
}

.origin-usertile-username {
    color: @color-darknavy;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.origin-usertile-gamename {
    color: @color-mediumnavy;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.origin-username-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.origin-usertile {
    position: relative;
    min-height: 0;
    min-width: 0;
    height: 71px;
    display: inline-block;

    @media only screen and (min-width: (@ogd-width-medium + 1)) {
        // 4 columns
        width: calc(25% - 27px);
        margin-right: 36px;

        &:nth-child(4n+1) {
            margin-right: 0;
        }
    }

    @media only screen and (max-width: @ogd-width-medium) {
        // 2 columns
        width: calc(50% - 18px);
        margin-right: 36px;

        &:nth-child(2n+1) {
            margin-right: 0;
        }
    }

    @media only screen and (max-width: @ogd-width-tiny) {
        // 1 column
        width: 100%;
        margin-right: 0;
    }
}
