//
// Badges
// --------------------------------------------------

// variables
@badge-height: 14px;

// base class
.otkbadge {
    display: inline-block;
    width: auto;
    height: @badge-height;
    background: @color-orange;
    text-align: center;
    color: @color-white;
    font-size: 9px;
    padding: 0 5px;
    font-weight: @weight-semibold;
    .border-radius(12px);
    .animation(none);
}

.otkbadge-isnotifying {
    .animation(otkpop 0.25s linear);
}