//
// Buttons
// --------------------------------------------------


// base class
.otkbtn {
    display: inline-block;
    width: 100%;
    max-width: @button-maxwidth;
    padding: 12px 0;
    .font();
    font-size: 14px;
    font-weight: @weight-normal;
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    .border-radius(4px);
    .transition(background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;);
    .box-sizing(border-box);
    .user-select(none);
    &:active {
        .translate3d(0, 1px, 0);
    }
}

.otkbtn-primary {
    color: @color-white;
    background: @color-orange;
    border: 1px solid @color-orange;
    &:hover {
        background: @color-darkorange;
        border: 1px solid @color-darkorange;
    }
}

.otkbtn-light {
    color: @color-black;
    border: 1px solid @color-lightnavy;
    background: @color-lightgray;
    &:hover {
        background: @color-lightnavy;
    }
}

.otkbtn-dark {
    color: @color-white;
    background: @color-darknavy;
    border: 1px solid @color-darknavy;
    &:hover {
        background: @color-mediumnavy;
        border: 1px solid @color-mediumnavy;
    }
}

.otkbtn-transparent {
    color: @color-white;
    background: transparent;
    border: 1px solid @color-white;
    &:hover {
        background: @color-black; /* NEED FALLBACK COLOR */
        background: rgba(red(@color-black), green(@color-black), blue(@color-black), 0.1);
    }
}

.otkbtn-nux {
    color: @color-white;
    background: @color-nuxgreen;
    border: 1px solid @color-nuxgreen;
    &:hover {
        background: @color-nuxgreen-hover;
    }
}

.otkbtn-wrap {
    display:inline-block;
    position:relative;
    padding-left:20px;
    > .otkicon {
        position:absolute;
        top:50%;
        margin-top:-16px;
        margin-left:-32px;
        font-size:32px;
    }
}

.otkbtn[disabled],
.otkbtn-disabled {
    .opacity(0.4);
    pointer-events: none;
    cursor: default;
}

.otkbtn-icon {
    .iconfont();
    font-size:32px;
    padding:5px 10px;
    width:auto;
}
