//
// Forms
// --------------------------------------------------


.otkform {}

// Input Group Form
//
// A form where all of the inputs are visually grouped to one another


.otkform-inputgroup .otkfield {
    .border-radius(0);
    margin-bottom:-1px;
}

.otkform-inputgroup .otkform-group:first-child  .otkfield {
    .border-top-radius(4px);
}

.otkform-inputgroup .otkform-group:last-child .otkfield {
    .border-bottom-radius(4px);
}

// Groups
//
//

.otkform-group {}

/* we need these for the transitions on the error/success states */
.otkform-group-field {
	position:relative;
}


// Common form field
//
// Shared size and type resets for form input. Apply `.otkfield` to any
// of the following form controls:
//
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.otkfield {
    position: relative;
    display:block;
    width: 100%;
    margin:0;
    font-size: @field-fontsize;
    font-weight: @weight-normal;
    font-family: inherit;
    color: @color-black;
    background: @color-white;
    /*background-image:none;*/
    outline: 0;
    border: 1px solid @color-lightnavy;
    .box-sizing(border-box);
    .border-radius(4px);
    .appearance(none);
    .transition(all 0.3s ease-in-out);
    .placeholder({
        color: @color-mediumnavy;
        font-weight: @weight-light;
    });
    &:focus {
	    border: 1px solid @color-orange;
	    background: @color-white;
	    z-index: 1;
	    .box-shadow(0 0 1px 0 @color-orange);
	}
}

.otkfield-input {
    height: @input-height;
    padding: 0 10px;
}

.otkfield-input-filter {
    height: @input-filter-height;
    padding-left: 15px;
    font-size: @input-filter-fontsize;
    .border-radius(@input-filter-radius);
}

.otkfield-textarea {
    padding: 10px;
    min-height: 150px;
    resize:none;
}

.otkfield-action {
    position:absolute;
    top:0;
    left:0;
    height:45px;
    padding:0 10px;
    font-size:24px;
    color:@color-darknavy;
    background:transparent;
    border:0;
    outline:0;
    .appearance(none);
    .box-sizing(border-box);
    .transition(all 0.3s ease-in-out);
    z-index:2;
    &:focus,
    &:active,
    &:hover {
        color:@color-orange;
    }
}


// Checkbox and Radio Inputs
//
//

.otkcheckbox > input,
.otkradio > input {
    display:none;
    cursor:pointer;
}

.otkcheckbox > label,
.otkradio > label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    margin-bottom: 18px;
    padding-bottom:2px;
    font-size:16px;
    font-weight:@weight-light;
    font-family:inherit;
    line-height:1;
    cursor: pointer;
    vertical-align:baseline;
    white-space:nowrap;
}

.otkcheckbox > label:before,
.otkradio > label:before,
.otkcheckbox > label:after,
.otkradio > label:after {
    content: '';
    position:absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    text-align: center;
    .box-sizing(border-box);
}

.otkcheckbox > label:before,
.otkradio > label:before {
    border: 1px solid @color-lightnavy;
    background:@color-white;
    .transition(all 0.25s ease-in-out);
}

.otkcheckbox > label:before {
    .border-radius(3px);
}

.otkradio > label:before {
    .border-radius(50%);
}

.otkcheckbox > label:hover:before,
.otkradio > label:hover:before {
    border: 1px solid @color-orange;
}

.otkcheckbox > input:checked + label:before,
.otkradio > input:checked + label:before {
    border: 1px solid @color-orange;
    background: @color-orange;
}

.otkcheckbox > input:checked + label:after {
    content: @icon-check;
    display: block;
    left: -5px;
    color:@color-white;
    .iconfont(21px); //pass in line height
    font-size: 31px;
    text-align: center;
    .animation(otkpopin 1s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.otkradio > input:checked + label:after {
    position: absolute;
    width:14px;
    height:14px;
    bottom:3px;
    left:3px;
    background:@color-white;
    .border-radius(50%);
    .animation(otkpopin 1s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.otkcheckbox > input[disabled] + label,
.otkradio > input[disabled] + label {
    opacity: .4;
    pointer-events: none;
    cursor: default;
}

// Selects
//
//

.otkselect {
    position: relative;
    display:block;
    font-weight: @weight-ultralight;
    background: @color-white;
    overflow: visible;
    cursor: pointer;
    .border-radius(5px);
    &:after {
        content: @icon-downarrow;
        position: absolute;
        display: block;
        top: 5px;
        right: 38px;
        width: 0;
        height: 0;
        color: @color-darknavy;
        .iconfont();
        font-size: 36px;
        z-index:1;
    }
}

.otkselect,
.otkselect-label,
.otkselect > select {
    width: 100%;
    height: 45px;
    .transition(all 0.5s ease);
    .box-sizing(border-box);
}

.otkselect-label,
.otkselect > select {
    position:absolute;
    padding: 10px;
    font-size: 16px;
    font-weight: @weight-normal;
    color: @color-black;
    background: transparent;
    cursor: pointer;
    .border-radius(4px);
}

.otkselect-label {
    border: 1px solid @color-lightnavy;
}

.otkselect > select {
    outline: 0;
    .appearance(none);
    z-index:2;
    opacity:0;
    &:focus + .otkselect-label {
        border: 1px solid @color-orange;
        .box-shadow(0 0 1px 0 @color-orange);
    }
}



// Labels
//
// ========

.otkform-label {
    display: block;
    color: @color-black;
    margin-bottom: 5px;
}


// Help Tips
//
// ==========

.otkform-group-help {
    display:none;
}

.otkform-group-help > p {
    margin-top:6px;
}


// Control States
//
// Display error and success states

.otkform-group-hassuccess .otkfield {
    border:1px solid @color-green;
}

.otkform-group-haserror .otkfield {
    background:@color-pastelred;
    border:1px solid @color-red;
}

.otkform-group-hassuccess .otkform-group-field:after,
.otkform-group-haserror .otkform-group-field:after {
    .iconfont();
    font-size: 32px;
    position: absolute;
    right: -40px;
    bottom: 7px;
    z-index: -1;
}

.otkform-group-hassuccess .otkform-group-field:after {
    content: @icon-checkcircle;
    color: @color-green;
    .animation(otkslidefromleft 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.otkform-group-haserror .otkform-group-field:after {
    content: @icon-close;
    color: @color-red;
    .animation(otkshake 0.15s linear 0s 2);
}

.otkform-group-haserror .otkform-group-help {
    color: @color-red;
    display:block;
    .animation(otkslidefromleft 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

