//
// Variables
// --------------------------------------------------


//== Font Weights
//
// ## Settings for the font weights used.

@weight-ultralight: 200;
@weight-light: 300;
@weight-normal: 400;
@weight-semibold: 600;


//== Colors
//
// ## Settings for all of the colors used.

@color-black: #141b20;
@color-darknavy: #1e262c;
@color-mediumnavy: #787d85;
@color-lightnavy: #c3c6ce;
@color-lightgray: #edf1f2;
@color-white: #fff;
@color-orange: #f56c2d;
@color-darkorange: #c85e36;
@color-nuxgreen: #05a68a;
@color-nuxgreen-hover: #09937C; /* this is new */
@color-green: #04bd68;
@color-blue: #6bbfca;
@color-red: #df3d00;
@color-pastelred: #ffebe4;
@color-yellow: #fea722;
@color-purple: #6441a5; /* new for broadcasting */

//== Presence Colors
//
// ## Colors used for each of the presence states

@color-presence-online: @color-green;
@color-presence-ingame: @color-blue;
@color-presence-offline: @color-mediumnavy;
@color-presence-broadcasting: @color-purple;
@color-presence-away: @color-red;

//== Button Sizes
//
// ## Settings for maxwidths for some of the content.

@button-maxwidth: 250px;

//== Content Sizes
//
// ## Settings for maxwidths for some of the content.

@content-maxwidth: 500px;
@content-small-maxwidth: 400px;


//== Inputs
//
// ## Settings for inputs

@field-fontsize: 16px;
@input-height: 45px;

// filter input
@input-filter-height: 38px;
@input-filter-fontsize: 14px;
@input-filter-radius: 40px;


//== Navs
//
// ## Settings for navigation elements

@nav-pills-margin-right: 30px;
@nav-pill-padding: 36px 0 18px 0;
@nav-pill-fontsize: 11px;
@nav-pill-letterspacing: 1px;
@nav-pill-barheight: 3px;
@nav-tab-width: 200px;
@nav-tab-height: 55px;
@nav-tab-padding: 0 30px;
@nav-tab-fontsize: 14px;


//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including OTK via Bower.

@icon-font-path: "./fonts/";
@icon-font-name: "origin";

@icon-settings: "\e60a";
@icon-close: "\e609";
@icon-rightarrow: "\e62a";
@icon-leftarrow: "\e62b";
@icon-add: "\e60f";
@icon-search: "\e601";
@icon-originlogo: "\e604";
@icon-facebook: "\e627";
@icon-refresh: "\e628";
@icon-downarrow: "\e607";
@icon-menu: "\e600";
@icon-twitter: "\e626";
@icon-check: "\e624";
@icon-checkcircle: "\e60b";
@icon-home: "\e617";
@icon-store: "\e618";
@icon-gamelibrary: "\e619";
@icon-profile: "\e606"; /* RENAME TO PERSON */
@icon-download: "\e61c";
@icon-downloadnegative: "\e613"; /* RENAME TO DOWNLOAD-CIRCLE */
@icon-person: "\e606";
@icon-leftarrowcircle: "\e605";
@icon-rightarrowcircle: "\e603";
@icon-expandarrow: "\e622";
@icon-addcontact: "\e620";
@icon-bar: "\e621";
@icon-trophy: "\e61b";
@icon-pause: "\e625";
@icon-microphone: "\e629";
@icon-chatbubble: "\e602";
@icon-closecircle: "\e610";
@icon-play: "\e608";

// new icons
@icon-pausecircle: "\e612";
@icon-join: "\e623";
@icon-dlc: "\e61f";
@icon-windows: "\e61d";
@icon-apple: "\e61e";
@icon-key: "\e61a";
@icon-save: "\e615";
@icon-cloud: "\e616";
@icon-star: "\e614";
@icon-warning: "\e611";
@icon-controller: "\e60d";
@icon-access: "\e60c";
@icon-sort: "\e62c";

// new icons
@icon-callactive: "\e630";
@icon-callinactive: "\e631";
@icon-addgroup: "\e636";
@icon-mute: "\e637";
@icon-learnmore: "\e62f";
@icon-offlineleft: "\e62d";
@icon-offlineright: "\e62e";


//== Badges
//
// ## Settings for badges

@badge-size: 19px;
@badge-fontsize: 11px;


//== Progress Bars
//
// ## Settings for progress bars

@progress-bar-width: 350px;
@progress-bar-height: 6px;

// Radial progress
@progress-radial-size: 102px;
@progress-radial-innersize: 96px;

//== Carousel
//
//##

@carousel-control-size: 23px;
@carousel-control-color: @color-white;
@carousel-control-fontsize: 37px;
@carousel-control-margin: 47px; // how far the carousel control is from the edge of the carousel

@carousel-indicator-active-bg: @color-orange;
@carousel-indicator-border-color: @color-darknavy;
@carousel-indicator-size: 8px;

@carousel-caption-color: @color-white;
@carousel-caption-top: 10%;

// when there is an image to the left, where do we start
@carousel-caption-left: 38%;

// when there is an image to the right, where do we end
@carousel-caption-right: 38%;

// where do we start and end when the text is centered
@carousel-caption-center: 30%;

// the margin that we have betweent the end of the indicators and the
// start of the content
@carousel-caption-margin: 50px;


//== Shoveler
//
//##

@shoveler-control-size: 30px;
@shoveler-control-fontsize: 47px;
@shoveler-control-innermargin: 13px;

//== Modals
//
//##

//** Modal Sizes
@modal-lg: 900px;
@modal-md: 600px;
@modal-sm: 300px;

@modal-control-fontsize: 47px;
@modal-control-size: 30px;

//** Padding applied
@modal-title-padding: 30px 35px 0 35px;
@modal-inner-padding: 24px 35px;
@modal-footer-padding: 25px 35px 35px 35px;
@modal-max-height: 500px;

//** Background color of modal content area
@modal-content-bg: @color-white;
//** Modal content border color
@modal-content-border-color: @color-lightgray;
//** Modal content border color **for IE8**
@modal-content-fallback-border-color: @color-darknavy;

//** Modal backdrop background color
@modal-backdrop-fallback: rgb(30,38,44);
@modal-backdrop-bg: rgba(30,38,44,.9);
//** Modal backdrop opacity
@modal-backdrop-opacity: .5;

//** Modal footer border color
@modal-footer-border-color: @color-lightgray;

//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width: 200px;
//** Tooltip text color
@tooltip-color: @color-white;
//** Tooltip background color
@tooltip-bg: @color-black;
@tooltip-opacity: .9;
@tooltip-border-radius: 3px;

//** Tooltip arrow width
@tooltip-arrow-width: 5px;
//** Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;


//== Dropdowns
//
//##

@dropdown-width: 200px;

//== Avatar Size
//
//##

@avatar-size: 41px;
@avatar-size-medium: 70px;
@avatar-size-large: 160px;


//== Animation variables
//
//##

@animation-simple: .3s ease-in-out;
@animation-long-ease-out: 1.1s cubic-bezier(.03,1,.2,1);
@animation-short-ease-out: .6s cubic-bezier(.03,1,.2,1);

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar: 1000;
@zindex-dropdown: 1000;
@zindex-popover: 1010;
@zindex-tooltip: 1030;
@zindex-navbar-fixed: 1030;
@zindex-modal-background: 1040;
@zindex-modal: 1050;