.origin-store-bundle {
    .clearfix();

    .origin-tilelist{
        padding-top: 0;
        width: calc(100% - @filterpanel-width-desktop);

        .media-max-width(@global-width-small, {
            border-top: 1px solid #d8dce0;
            padding-top: 20px;
            width: 100%;
            clear: both;
        });

        ul {
            width: 100%;
        }
    }
    .origin-filterpanel {
        .media-min-width(@global-width-small, {
            top: -22px;
        });
    }

    .l-origin-filterpanelcontainer {
        overflow: hidden;

        .media-max-width(@global-width-small, {
            pointer-events:none;
            position: relative;
            margin-top: -50px;
            margin-right: -@section-spacing-medium;

            &-panel-visible{
                pointer-events:initial;
            }
        });

        .media-max-width(@global-width-xsmall, {
            margin-right: -@section-spacing-small;
        });
    }

    .origin-store-facets {
        position: relative;
        float: right;
        text-align: right;

        .media-max-width(@global-width-small, {
            height: 50px;
        });

        .origin-filtergroup-wrapper {
            position: relative;
        }
    }
}
