.origin-storebundlecart-header {
    margin-bottom: 15px;
    .media-max-width(@global-width-small, {
        display: none;
    });
}

.origin-storebundlecart-wrapper {
    position: relative;

    .origin-storebundlecart-item {
        float: left;
        margin-right: 15px;
        width: auto;
    }
}

.origin-storebundlecart {
    height: 155px;
    width: calc(100% - 300px);

    margin: 0;

    box-sizing: border-box;
    border: 2px dashed @color-mediumnavy;
    .border-radius(4px);

    background: fade(@color-mediumnavy, 30%) none repeat scroll 0% 0%;

    list-style: none;

    .clearfix();
    
    .media-max-width(@global-width-small, {
        display: none;
    });


}

.origin-storebundlecart-empty {
    .origin-storebundlecart();
    position: relative;
}

.origin-empty-cart {
    .position-center();
    color: @color-lightnavy;
    text-align: center;
}

.origin-storebundlehero-shrink .origin-storebundlecart {
    height: 162px;
}


.origin-storebundlecart-item-small {
    width: 110px;
}

.origin-storebundlecart-itemwrapper {
    position: relative;
}
.origin-storebundlehero-shrink .origin-storebundlecart-itemwrapper img {
    width: 95px;
    height: 134px;
}

.origin-storebundlecart-posterart {
    width: 95px;
    height: 134px;

    border-width: 0;
    .border-radius(2px);
}

.origin-storebundlecart-deleteicon {
    position: absolute;
    cursor: pointer;

    top: -5px;
    left: -5px;
    .circle(20px);

    text-decoration: none;
    color: @color-white;
    font-size: 35px;
    opacity: 1;

    background-color: fade(@color-darknavy, 80%);

    &::before {
        position: relative;
        top: -7px;
        left: -7px;
    }
}

.origin-storebundlecart .origin-store-carousel-product-carousel-headerarea {
    position: absolute;
    top: -50px;
    width: 100%;
}

.origin-storebundlecart .origin-store-carousel-product-controls-left,
.origin-storebundlecart .origin-store-carousel-product-controls-right {
    &:hover {
        color: @color-white;
    }
}

.origin-storebundlecart .origin-store-carousel-product-carousel-container {
    padding: 10px;
    box-sizing: border-box;
}
