.origin-storebundlehero {
    color: @color-white;
    background: @color-black;
    padding: @section-spacing-large;
    z-index: @zindex-bundle-hero;
    left: 0;
    right: 0;
    position: relative;

    .media-max-width(@global-width-small, {
        left: 0;
    });

    .media-min-max-width(@global-width-xsmall, @global-width-medium, {
        padding: @section-spacing-medium;
    });

    .media-max-width(@global-width-xsmall, {
        padding: @section-spacing-small;
    });
}

.origin-storebundlehero-text-color-dark {
    color: @color-darknavy;
}


.origin-storebundlehero-pinned {
    position: fixed;
    top: 0;
    left: @nav-width;
    z-index: @zindex-filterpanel;

    .media-max-width(@global-width-small, {
        left: 0;
        top: @gus-height;
    });
}

.origin-content-isnavopen .origin-storebundlehero-pinned {
    .media-max-width(@global-width-small, {
        left: @nav-width;
    });
}

.origin-content-isdocked .origin-storebundlehero {
    .media-min-width(@global-width-large, {
        right: @social-hub-width;
    });
}

.origin-storebundlehero-header {
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
}
.origin-storebundlehero-shrink .origin-storebundlehero-header {
    display: none;
}

.origin-storebundlehero-title {
    @font-size-header: 36px;
    margin-bottom: 18px;
    font-size: @font-size-header;
    text-align: center;

    line-height: 42px;

    > .otka:hover {
        background-position: 0 28px;
    }
}

.origin-storebundlehero-description {
    color: @color-lightnavy;
    text-align: center;
    .origin-storebundlehero-text-color-dark & {
        color: @color-mediumnavy;
    }
}

// Overrides for dark font
.origin-storebundlehero-text-color-dark .origin-empty-cart {
    color: @color-mediumnavy;
}

.origin-storebundlehero-backgroundwrapper {
    overflow: hidden;
}

.origin-storebundlehero-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.origin-storebundlehero-backgroundimage {
    display: block;
    position: absolute;
    width: 120%;
    height: 120%;
    .position-center();

    img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.origin-storebundlehero-imagescrim {
    @background-scrim-color: rgba(30, 38, 44, 0.45);
    height: 100%;
    width: 100%;
    background: @background-scrim-color;
    position: absolute;
}

.origin-storebundlehero-price {
    bottom: 0;
    right: 0;
    .clearfix();
    // If parent has this class, apply color change
    .origin-storebundlehero-text-color-dark & {
        color: @color-mediumnavy;
    }

    .media-min-width(@global-width-small, {
        width: 250px;
        position: absolute;
        text-align: right;
    });

}

.origin-storebundlehero-prices {
    display: inline-block;
    width: 100%;
    // If parent has this class, apply color change
    .origin-storebundlehero-text-color-dark & {
        color: @color-darknavy;
    }
}

.origin-storebundlehero-price-item {
    margin-top: 0;

    > span {
        font-size: @font-size-subtitle;
        font-weight: @weight-normal;
    }
    .media-max-width(@global-width-xsmall, {
        margin-bottom: 0;
    });

    .media-max-width(@global-width-small, {
        &:last-child {
            margin-bottom: 0;
        }
    });
}

.origin-storebundlehero-cta {

    .media-min-width(@global-width-medium, {
        margin-top: 6px;
    });

    .media-max-width(@global-width-small, {
        margin-top: 6px;
    });
}
