.origin-bundlemain {
    position: relative;
    margin-bottom: 0;
    .clearfix();

    .section-padding();
    padding-top:45px;
    padding-bottom: 45px;

    .media-max-width(@global-width-small, {
        padding-top: 0;
    });

}

.origin-bundlemain-offerlist-nodescription {
    margin-top: 336px;

    .media-max-width(@global-width-xsmall, {
        margin-top: 190px;
    });

}

.origin-bundlemain-legal {
    font-size: 12px;
}
