.origin-storebundleoffer {
    .display-flex();
    .flex-direction(column);
    margin: 0;
    padding: 0;
    position: relative;
    background: @color-white;
    box-shadow: 0 0 2px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.25);
    .transition(all .3s ease-out);

    width: 100%;
    &:hover {
        z-index: 1;
        box-shadow: 0 0 10px 0 rgba(red(@color-black), blue(@color-black), green(@color-black), 0.6);
    }
}

.origin-storebundleoffer-overlaywrapper {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.origin-storebundleoffer-posterart {
    width: 100%;
}

.origin-storebundleoffer-overlay {
    .opacity(0);
    .transition(all .3s ease-in-out);
}

.no-touch .origin-storebundleoffer-overlay{
    &:hover {
        .opacity(1);
        .overlay(@color-black, 90%);
        .origin-storebundleoffer-overlaycontent{
            opacity: 1;
        }
    }
}

.origin-storebundleoffer-overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0;
}

.origin-storebundleoffer-isinbundle {
    .origin-storebundleoffer-overlay {
        cursor: default;
        .opacity(1);
        .overlay(@color-black, 90%);
        .origin-storebundleoffer-overlaycontent{
           opacity: 1;
        }
    }

    .origin-storebundleoffer-removeoffermobile{
        color: @color-lightnavy;
        transition: color @transition-short;
        text-decoration: none;
        cursor: pointer;

        position: absolute;
        bottom: 5%;
        text-align: center;
        width: 100%;
        opacity: 1;

        .no-touch &:hover{
            color: @color-white;
            text-decoration: underline;
        }
    }
}

.no-touch .origin-storebundleoffer-hover {
    .origin-storebundleoffer-overlay {
        .opacity(1);
    }
}

.origin-storebundleoffer-overlaycontent {
    position: absolute;
    width: 90%;
    padding: 0 5%;
    top: 50%;
    left: auto;
    bottom: auto;
    right: auto;
    .translate(0, -50%);
    text-align: center;
    opacity: 0;
}


.origin-storebundleoffer-details {
    padding: 10px 10px 0 10px;
    text-align: left;
    min-height: 123px;
    font-size: 0;
}

.origin-storebundleoffer-title {
    color: @color-darknavy;
    height: 36px;
    margin-bottom: 17px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    > a
    {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
         &:hover {
            .underline(@color-black, 18px);
        }
    }
}

.origin-storebundleoffer .origin-storeprice {    
    min-height: 67px;
    .display-flex();
    .align-items(flex-end);
}

.origin-storebundleoffer-inbundlemessage {
    color: @color-white;
    .otkicon-checkcircle{
        color: @color-green;
        font-size: 55px;
    }
}
