<div class='origin-usercard'>
    <div class='origin-usercard-section'>
        <div class='origin-usercard-avatar' ng-if="!isPrivate">
            <origin-avatar nucleusid='{{nucleusId}}' avatar-size='medium'></origin-avatar>
        </div>
        <div class='origin-usercard-userinfo' ng-if="!isPrivate">
            <a ng-href="{{::userProfileUrl}}" ng-click='loadProfile()' ng-if='!isPrivate' class='otka origin-usercard-username' ng-bind="originId"></a>
            <div ng-if="enableSocialFeatures" ng-click='createMessage()' class='otka otktitle-4 origin-usercard-message'>
                <i class='origin-usercard-message-icon otkicon otkicon-chatbubble'></i> <span class="origin-usercard-message-text" ng-bind="messageString"></span>
            </div>
        </div>
        <p class= "origin-usercard-privacy" ng-if="isPrivate">
            <span class="otktitle-4" ng-bind-html="::trustAsHtml(privateProfileString)"></span>
        </p>
    </div>
    <div class='origin-usercard-action' ng-if="presence.show === 'INGAME'">
        <p class='otktitle-4 origin-usercard-action-currentplayingmessage' ng-bind-html="::trustAsHtml(getCurrentlyPlayingString(presence))"></p>

        <div class='otkc otkc-small' ng-if="presence.isBroadcasting && !presence.isJoinable">
            <a ng-href='{{presence.broadcastingUrl}}' class='otka' ng-click="openLink($event, presence.broadcastingUrl)">{{watchGameString}}</a>
        </div>
        <div class='otkc otkc-small' ng-if="(presence.isJoinable || presence.isGroupJoinable) && !presence.isBroadcasting && enableSocialFeatures">
            <div ng-click='joinGame()' ng-if="presence.isJoinable && !presence.isGroupJoinable" class='otka' ng-bind="joinGameString"></div>
            <div ng-click='joinGame()' ng-if="!presence.isJoinable && presence.isGroupJoinable" class='otka' ng-bind="joinGroupString"></div>
            <div ng-click='joinGame()' ng-if="presence.isJoinable && presence.isGroupJoinable" class='otka' ng-bind="joinGameAndGroupString"></div>
        </div>
		<div class='otkc otkc-small origin-usercard-ctas' ng-if="presence.isBroadcasting && presence.isJoinable && enableSocialFeatures"></div>
    </div>
    <i class='origin-usercard-arrow'></i>
</div>
