<div class='origin-userinfo'>
	<div class='origin-userinfo-avatar'>
		<origin-avatar nucleusid='{{nucleusId}}' avatar-size='medium' ng-click="closeDialog()"></origin-avatar>
	</div>
	<div class='origin-userinfo-content'>
		<a ng-href="{{::userProfileUrl}}" ng-click='loadProfile($event)' class='otka origin-userinfo-username' ng-bind="originId"></a>
		<div ng-if="isSocialEnabled && hasValidNucleusId" ng-click='createMessage()' class='otka otkc-small origin-userinfo-message'>
			<i class='origin-userinfo-message-icon otkicon otkicon-chatbubble'></i><span class="origin-userinfo-message-text" ng-bind="messageLoc"></span>
		</div>
		<p class='otkc otkc-small origin-userinfo-currentlyplaying' ng-bind-html="::trustAsHtml(currentlyPlayingLoc)"></p>
		<div class='otkc otkc-small' ng-if="isJoinable && isSocialEnabled">
			<div ng-click="joinGame()" class='otka' ng-bind="joinGameLoc"></div>
		</div>
	</div>
</div>
