<div origin-store-backgroundscrims ng-if="backgroundImage && !showVideo" class="origin-pdp-hero-background">
    <origin-parallax-container depth="3">
        <origin-blur-image blur-value="blurVal"
                           image-url="backgroundImage"
                           svg-options="{preserveAspectRatio: 'xMidYMin slice'}"
                           image-options="{viewBox: '0 0 1000 1000', preserveAspectRatio: 'xMidYMin slice'}"></origin-blur-image>
    </origin-parallax-container>
    <div class="origin-pdp-hero-videobutton" ng-if="videoId">
        <origin-cta-playvideo handler="videoButtonHandler" video-id="{{ videoId }}" mature-content="{{ matureContent }}" type="round"></origin-cta-playvideo>
    </div>
</div>
