<div class="origin-pdp-hero-description-info">
    <h1 class="otktitle-page origin-pdp-hero-title origin-pdp-hero-info-block"
        ng-bind-html="title || model.displayName" origin-lineclamp="titleLines">
    </h1>
    <origin-store-pdp-infoblock
        header="{{shortDescription || selectedModel.shortDescription}}"
        body="{{longDescription || selectedModel.longDescription}}"
        read-more-text="{{::descriptionStrings.readMoreText}}"
        is-visible="true"
        is-dimmed="selectedModel.offerId !== model.offerId"
        on-read-more="goToInfo()">
    </origin-store-pdp-infoblock>
</div>
