<div class="origin-pdp-hero-main" ng-class="{'origin-pdp-hero-main-nobg': !backgroundImage, 'origin-pdp-hero-main-slide':  !!backgroundImage,
                                             'origin-pdp-hero-main-video-playing': showVideo}">
    <section class="origin-pdp-hero-info">
        <div class="origin-pdp-packartwrapper" ng-class="{'origin-pdp-packartwrapper-pop': !!backgroundImage && !showVideo}">
            <origin-store-pdp-sections-packart highlighted-edition-id="model.offerId"></origin-store-pdp-sections-packart>
            <origin-store-game-rating class="origin-pdp-hero-rating"></origin-store-game-rating>
        </div>

        <section class="origin-pdp-hero-description">
            <origin-store-pdp-sections-description></origin-store-pdp-sections-description>
            <origin-store-pdp-sections-platform platforms="model.platforms" platform-text="{{platformStrings.platformText}}"></origin-store-pdp-sections-platform>
            <div class="store-pdp-editions">
                <ul class="store-pdp-editions-list otkbtngroup" ng-if="purchasableEditions.length < 4">
                    <li class="otkbtngroup-item" ng-repeat="offer in purchasableEditions track by offer.offerId">
                        <a ng-href="{{::getPdpUrl(offer, true)}}" class="otkbtn otkbtn-grouped"
                            ng-click="goToPdp(offer)"
                            ng-class="{'otkbtn-selected' : (selectedModel.offerId == offer.offerId)}"
                            ng-mouseover="updateModel(offer)"
                            ng-mouseout="resetModel()" ng-bind="::getLocalizedEdition(offer.editionName)">
                        </a>
                    </li>
                </ul>

                <span class="otkselect store-pdp-editions-selector" ng-if="purchasableEditions.length > 3">
                    <select
                        ng-options="offer as offer.editionName for offer in purchasableEditions"
                        ng-model="selectedModel"
                        ng-change="handleChange(selectedModel)">
                    </select>
                    <span class="otkselect-label" ng-bind-html="::selectedModel.editionName"></span>
                </span>
            </div>

            <origin-socialmedia theme="light" title-str="{{ selectedModel.displayName }}" description="{{truncatedLongDescription}}" image="{{selectedModel.packArt}}"></origin-socialmedia>
            <origin-store-game-rating class="origin-pdp-hero-secondary-rating"></origin-store-game-rating>
        </section>
    </section>

    <section class="origin-pdp-hero-action">
        <origin-store-pdp-ownership></origin-store-pdp-ownership>

        <div ng-if="!ownsGreaterEditionNotVault()">
            <origin-store-pdp-access-vaultupsell></origin-store-pdp-access-vaultupsell>

            <p ng-show="showCollapseBtn()" ng-click="collapseState = !collapseState" class="otktitle-4 origin-pdp-hero-main-collapse-trigger" ng-class="{'origin-pdp-hero-main-collapsed': !collapseState && hideCollapseArea()}">
               <span ng-bind="mainStrings.purchaseSeperately"></span> <i class="otkicon otkicon-downarrow"></i>
            </p>

            <div class="origin-pdp-hero-main-collapse-target origin-tealium-pdp-hero-main-collapse-target" ng-hide="collapseState && hideCollapseArea()">
                <origin-store-pdp-basegamerequired></origin-store-pdp-basegamerequired>

                <origin-store-pdp-sections-offerdetails></origin-store-pdp-sections-offerdetails>

                <origin-wishlist-on-wishlist offer-id="{{selectedModel.offerId}}" game-name="{{selectedModel.displayName}}"></origin-wishlist-on-wishlist>

                <origin-store-pdp-savings
                    ng-if="model.savings && (!model.isOwned || model.vaultEntitlement)">
                </origin-store-pdp-savings>

                <origin-store-pdp-cta></origin-store-pdp-cta>
            </div>
        </div>

        <origin-store-pdp-savings
                ng-if="model.savings && ownsGreaterOrEqualEditionNotVault()">
        </origin-store-pdp-savings>
        <origin-cta-gift model="model" type="transparent" ng-if="ownsGreaterOrEqualEditionNotVault()"></origin-cta-gift>

        <origin-store-game-legal ng-if="!ownsGreaterEditionNotVault()" class="origin-pdp-hero-legal otktitle-5"></origin-store-game-legal>

        <origin-store-pdp-entitlementarea></origin-store-pdp-entitlementarea>

        <origin-store-pdp-access-nonvaultupsell ng-if="!ownsGreaterEditionNotVault()"
            ng-show="!model.subscriptionAvailable || model.oth || (ownsLesserEdition() && user.isSubscriber)">
        </origin-store-pdp-access-nonvaultupsell>
    </section>

    <section class="origin-pdp-hero-keybeat">
        <origin-store-pdp-keybeat icon="{{ keybeatIcon }}" message="{{ keybeatMessage }}" />
    </section>
</div>
