<div class="origin-pdp-hero-video" ng-class="{'origin-pdp-hero-video-hide': !showVideo, 'origin-pdp-hero-video-show': !!showVideo }">
    <div class="origin-pdp-hero-buttoncontainer"></div>
    <div class="origin-pdp-hero-video-frame"></div>

    <origin-agegate ng-if="matureContent === 'true'" mature-content="{{matureContent}}" restricted-message="{{restrictedMessage}}"></origin-agegate>

    <div class="otkmodal-close origin-pdp-hero-close-button" ng-click="hide()">
        <i class="otkicon otkicon-closecircle"></i>
    </div>
</div>
