<div class="origin-store-about-section-content" ng-class="{'origin-bgdark': isUnderage }">
    <div class="origin-store-about-heading origin-store-about-heading-centered origin-store-about-heading-light" align="center">
        <span class="otktitle-5 otktitle-5-caps" ng-bind-html="::errorcode"></span>
        <h1 class="otktitle-page" ng-bind-html="::titleStr"></h1>
        <origin-store-paragraph-headerthree description="{{::description}}" ng-if="description"></origin-store-paragraph-headerthree>
    </div>
</div>