QLabel#divLine {
    border-image: url(:/OriginCommonControls/OriginWindowTemplate/divider.png);
	max-height: 2px;
	min-height: 2px;
}

QFrame#exitInfo {
	padding-left: 30px;
	padding-right: 26px;
	min-height: 36px;
	max-height: 36px;
}

QFrame#exitInfo[style="hasButtons"] {
	margin-top: 2px;
	min-height: 70px;
	max-height: 70px;
}

#buttonBox {
	margin-top: 3px;
	button-layout: 0;
}

#scrollArea {
	max-height: 400px;
	background-color: transparent;
	border: none;
}

QLabel#icon {
	margin-right: 8px;
	min-width: 21px;
	min-height: 21px;
	max-width: 21px;
	max-height: 21px;
}

QLabel#icon[style="command"] {
	image: url(:/OriginCommonControls/OriginMessageBox/command.png);
}

QLabel#icon[style="error"] {
	image: url(:/OriginCommonControls/OriginMessageBox/error.png);
}

QLabel#icon[style="info"] {
	image: url(:/OriginCommonControls/OriginMessageBox/info.png);
}

QLabel#icon[style="notice"] {
	image: url(:/OriginCommonControls/OriginMessageBox/notice.png);
}

QLabel#icon[style="validated"] {
	image: url(:/OriginCommonControls/OriginMessageBox/validated.png);
}
