.origin-store-carousel-hero {
  .icon-leftarrowcircle { &:before { content: @icon-leftarrowcircle; } }
  .icon-rightarrowcircle { &:before { content: @icon-rightarrowcircle; } }
  position: relative;
   > .origin-socialmedia {
    z-index: 60;
    position: absolute;
    right: 45px;
    bottom: 10px;
  }

  > .origin-store-carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;

    > .origin-store-carousel-banner {
      display: none;
      position: relative;
      .transition(0.3s ease-in-out left);

      &.carousel-item-active, &.carousel-item-next, &.carousel-item-prev {
        display: block;
      }

      &.carousel-item-active {
        left:0;
      }
      &.carousel-item-linked{
        cursor: pointer;
      }

      &.carousel-item-next, &.carousel-item-prev {
          position: absolute;
          top: 0;
          width: 100%;
      }


      /* Classes used to slide the hero banners */
      &.carousel-item-next, &.carousel-item-active.carousel-item-right  { left: 100%; }
      &.carousel-item-prev, &.carousel-item-active.carousel-item-left { left: -100%; }
      &.carousel-item-next.carousel-item-left, &.carousel-item-prev.carousel-item-right { left: 0; }

      > .origin-store-carousel-banner-img-wrapper {
        background: #1E262C;
        height: 360px;
        left: 50%;
        margin-left: -50%;
        overflow: hidden;
        position: relative;
        top: 0;
        width: 100%;

        > img {
          display:block;
          width:100%;
          line-height: 1;
          position: absolute;
          min-width: 1400px;
          left: 50%;
          margin-left: -50%;
          height: 360px;
        }
      }

      > .origin-store-carousel-banner-caption-wrapper {
          position: absolute;
          top: 50%;
          z-index: 30;
          color: @color-white;
          top: 50%;
          bottom: auto;
          padding-top: 20px;
          padding-bottom: 20px;
          transform: translateY(-50%);

          .origin-store-timer-table {
            position: relative;
          }
          .origin-store-carousel-banner-dates {
            .origin-store-carousel-banner-dates-text {
              display: inline-block;
            }
          }
      }
      .carousel-caption-left {
        left: 8%;
        right: 8%;
      }
      .carousel-caption-center {
        left: 50%;
        right: auto;
        width: 50%;
        margin-left:-25%;
        text-align:center;
        .c {
          margin:auto;
        }
        > .otkc {
          max-width: none;
        }
        .origin-store-timer-table {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .carousel-caption-right {
        right: 8%;
        left: 8%;
        text-align: right;
        .origin-store-timer-table{
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
  }

  .origin-store-carousel-hero-controls {
    .transition(0.3s ease-in-out all);
    padding: 180px 25px;
    text-indent: -6px;
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 0;
    height: 23px;
    z-index: 50;

    &:hover, &:focus {
      outline: none;
      text-decoration: none;
    }

    &.origin-store-carousel-hero-controls-right {
      left: auto;
      right:  15px;
    }

    &.origin-store-carousel-hero-controls-left {
      left: 15px;
      right: auto;
    }

    &.origin-store-carousel-hero-controls-active {
      opacity: 1;
    }

    > .otkicon {
        font-size: 37px;
        color: @color-white;
        line-height: 23px;
        top:-2px;
        left:-0.2em;
    }
  }

  > .origin-store-carousel-hero-indicators-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 40;
    width: 60%;
    margin-left: -30%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 0;
    list-style: none;
    text-align: center;

    > .origin-store-carousel-hero-indicator {
      display: inline-block;
      width:  6px;
      height: 6px;
      margin: 3px;
      text-indent: -999px;
      border-radius: 8px;
      cursor: pointer;

      // IE8-9 hack for event handling
      //
      // Internet Explorer 8-9 does not support clicks on elements without a set
      // `background-color`. We cannot use `filter` since that's not viewed as a
      // background color by the browser. Thus, a hack is needed.
      //
      // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
      // set alpha transparency for the best results possible.
      background-color: #000 \9; // IE8
      background-color: rgba(0,0,0,0); // IE9
      border: 1px solid  #787d85;
      .box-shadow(0 0 30px rgba(30, 38, 44, 0.3));


    }

    > .origin-store-carousel-hero-indicator-active {
      width: 10px;
      height: 10px;
      background-color: @color-orange;
      border: 1px solid @color-orange;
      position: relative;
      top: 2px;
    }
  }
}

@media only screen and ( max-width: 600px ) {
  .origin-store-carousel-hero {
    height: 540px;
    > .origin-store-carousel-container {
      > .origin-store-carousel-banner {
        > .origin-store-carousel-banner-img-wrapper {
          height: 540px;
          > img {
            height:auto;
            min-width: 1400px;
            left:-50%;
            margin-left: -50%;
          }
        }
        > .origin-store-carousel-banner-caption-wrapper {
          text-align: center;
          bottom: 0;
          width: 100%;
          padding-bottom: 50px;
          padding-top: 18px;
          top: auto;
          background: rgb(30, 38, 44);
          background: rgba(30, 38, 44, 0.8);
          left: 50%;
          transform: translateX(-50%);
          .origin-store-timer-table {
            margin-left: auto;
            margin-right: auto;
          }


        }
        .carousel-caption-left .carousel-caption-center .carousel-caption-right{
          left: 50%;

        }
        .carousel-caption-center {
          margin-left: auto;
        }
        .origin-cta-secondary {
          position: relative;
          margin: auto;
        }
        .origin-cta-primary {
          position: relative;
          margin: auto;
        }
      }
    }
    .origin-store-carousel-hero-controls {
      padding-top: 0;
    }
  }
}

.origin-cta-textplay-icon{
  font-size: 11px;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 17px;
  text-indent: 1px;
  top: -1px;
}
