<example>
<para>This is an example of using the <c>inputs</c> and <c>outputs</c> file sets to perform
dependency checking.  The program will be executed if the files in the inputs are newer
than the files in the outputs.  This example also shows how to redirect standard output to a file.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <touch file="in.0.txt"/>
    <touch file="in.1.txt"/>
    <exec program='cmd.exe' output="out.txt">
        <args>
            <arg value='/c echo ${exec.inputs.0} ${exec.inputs.1}'/>
        </args>
        <inputs failonmissing='false'>
            <includes name='in.*.txt'/>
        </inputs>
        <outputs>
            <includes name='out.txt' asis='true'/>
        </outputs>
    </exec>
    <fail message="out.txt file was not created" unless="@{FileExists('out.txt')}"/>
</project>
]]>
</code>
</example>