<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.1.0">
	<name>Shift Offer List</name>

	<feature name="http://widgets.dm.origin.com/features/interfaces/entitlementManager" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/originCommon" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/clientSettings" />

    <!-- Needed for box art -->
    <access origin="http://static.cdn.ea.com" />
    <access origin="http://origin.com" subdomains="true" />
    <access origin="http://ea.com" subdomains="true" />
    <access origin="https://origin.com" subdomains="true" />
    <access origin="https://ea.com" subdomains="true" />
    <access origin="https://eaassets-a.akamaihd.net" />

	<content src="index.html" />
</widget>
