<div class="origin-store-sitestripe-messageoftheday origin-telemetry-store-sitestripe" ng-class="{
        'origin-store-sitestripe-messageoftheday-withtimer': timer,
        'origin-store-sitestripe-messageoftheday-info': info,
        'origin-store-sitestripe-messageoftheday-alert': alert
    }" ng-style="{'background-color': edgecolor }" ng-show="siteStripeVisible">

    <div class="origin-store-sitestripe-messageoftheday-image-wrapper" ng-if="image">
        <div class="origin-store-sitestripe-messageoftheday-image-wrapper-fade" ng-style="{background: 'linear-gradient(to right, transparent 0%, '  + edgecolor  + '100%'}"></div>
        <img ng-src="{{ image }}" alt="{{ titleStr }}" class="origin-store-sitestripe-messageoftheday-image" ng-class="::imagePositionClass">
    </div>

    <div class="origin-store-sitestripe-messageoftheday-content">

        <a ng-if="href" ng-href="{{ strings.hrefAbsoluteUrl }}" ng-click="goTo($event, strings.href)" class="origin-store-sitestripe-messageoftheday-link origin-telemetry-store-sitestripe-link" data-sitestripe-id="{{uniqueSitestripeId}}"></a>

        <i class="otkicon otkicon-closecircle origin-store-sitestripe-messageoftheday-close" ng-click="dismissSiteStripe()" ng-class="hoverClass"></i>

        <img ng-src="{{ logo }}" alt="" ng-if="logo" class="origin-store-sitestripe-messageoftheday-logo">

        <div ng-if="timerVisible && timerposition == 'left'" class="origin-store-sitestripe-messageoftheday-timer">
            <origin-store-timer goal-date="{{ goaldate || releaseDate }}"></origin-store-timer>
        </div>

        <div class="origin-store-sitestripe-messageoftheday-content-text">
            <div class="origin-store-sitestripe-messageoftheday-content-text-wrapper" ng-style="{color: (fontcolor)}" >
                <h2 class="otktitle-3 origin-store-sitestripe-messageoftheday-title">
                    <i ng-if="info" class="otkicon otkicon-info"></i>
                    <i ng-if="alert" class="otkicon otkicon-warning"></i>
                    <span ng-bind-html="titleStr"></span>
                </h2>

                <h3 class="otktitle-4 origin-store-sitestripe-messageoftheday-subtitle" ng-bind-html="subtitle"></h3>
            </div>
        </div>

        <div ng-if="timerVisible && timerposition == 'right'" class="origin-store-sitestripe-messageoftheday-timer" ng-style="{color: (fontcolor)}">
            <origin-store-timer goal-date="{{ goaldate || releaseDate }}"></origin-store-timer>
        </div>

    </div>
</div>