<div class="origin-store-sitestripe-promocode origin-telemetry-store-sitestripe"
     ng-style="{'background-color': backgroundColor }" ng-show="siteStripeVisible" ctid="{{::ctid}}">
    <img ng-src="{{ ::image }}" alt="" class="origin-store-sitestripe-promocode-image" ng-if="image">

    <div class="origin-store-sitestripe-promocode-content">

        <a ng-if="href" ng-href="{{ strings.hrefAbsoluteUrl }}" ng-click="goTo($event, strings.href)"
           class="origin-store-sitestripe-promocode-link origin-telemetry-store-sitestripe-link"></a>
        <i class="otkicon otkicon-closecircle origin-store-sitestripe-promocode-close"
           ng-click="dismissSiteStripe()"></i>

        <div class="origin-store-sitestripe-promocode-content-text" ng-style="{color: (fontcolor)}">

            <!-- SAVE 30% -->
            <span ng-bind-html="::savingsText" class="origin-store-sitestripe-text-item origin-store-sitestripe-promocode-savingstext"></span>

            <!-- off/storewide use -->
            <span ng-bind-html="::prePromoCodeText" class="origin-store-sitestripe-text-item"></span>

            <!-- promocode -->
            <span ng-bind-html="::promoCodeText" class="origin-store-sitestripe-text-item origin-store-sitestripe-promocode-text-code"
                  ng-style="{'background-color': promoBackgroundColor, 'border-color': promoBorderColor}"></span>

            <!-- at checkout -->
            <span ng-bind="::postPromoCodeText" class="origin-store-sitestripe-text-item"></span>

        </div>
    </div>

        <origin-legaldisclaimer ng-class="fontColorClass" legal-disclaimer-text="{{legalDisclaimerText}}" legal-disclaimer-link-text="{{legalDisclaimerLinkText}}" legal-disclaimer-dialog-header-text="{{legalDisclaimerDialogHeaderText}}" legal-disclaimer-dialog-body-title-text="{{legalDisclaimerDialogBodyTitleText}}" legal-disclaimer-dialog-body-text="{{legalDisclaimerDialogBodyText}}"></origin-legaldisclaimer>

</div>