<div class='origin-home-section ng-class:{"origin-home-section-isloading": data.results.store === undefined}'>
    <h2 class="otktitle-3 origin-home-section-title">{{sectionTitle}}</h2>
    <ul class="origin-gameslist-list" ng-show="data.results.store !== undefined">
        <li class='origin-gameslist-item origin-gameslist-item-isvisible' ng-repeat="game in data.results.store.game">
            <origin-store-game-tile type="fixed" offerId="{{game.offerId}}" ng-click="onGameClick($event)"></origin-store-game-tile>
        </li>
    </ul>
    <h3 ng-show="data.results.store.game.length === 0">No results found.</h3>
</div>