<div class='origin-home-section ng-class:{"origin-home-section-isloading": data.results.people === undefined}'>
    <h2 class="otktitle-3 origin-home-section-title">{{sectionTitle}}</h2>
    <ul class="origin-gameslist-list" ng-show="data.results.people !== undefined">
        <li class='origin-gameslist-item origin-gameslist-item-isvisible' ng-repeat="game in data.results.people">
            <origin-game-tile offerId="{{game.offerId}}" ng-click="onGameClick($event)"></origin-game-tile>
        </li>
    </ul>
    <h3 ng-show="data.results.people.length === 0">No results found.</h3>
</div>
