//
// Participants

.social-chatwindow-conversation-participant {
    position: relative;
    display: block;
    .transition(background-color ease-in-out 0.3s);
    background-color: transparent;
    &:hover {
        background-color: #e1e6e7;
    }
    cursor: pointer;
    font-weight: @weight-normal;
    font-size: 12px;
    padding: 8px 6px 8px 20px;
    margin: 0;
    color: #000;
    vertical-align: middle;
    height: 54px;
    border-top: solid 1px rgba(195, 198, 206, 0.2);
    .box-sizing(border-box);
    .text-overflow();
}

origin-social-chatwindow-conversation-participant:last-child .social-chatwindow-conversation-participant {
    border-bottom: solid 1px rgba(195, 198, 206, 0.2);
}

.l-social-chatwindow-conversation-participant-username-and-status {
    position: absolute;
    left: 38px;
    right: 40px;
    top: 8px;
    bottom: 8px;
}

.social-chatwindow-conversation-participant.self .l-social-chatwindow-conversation-participant-username-and-status {
    top: 17px;
}

.social-chatwindow-conversation-participant-presence {
    position: absolute;
    top: 22px;
    left: 20px;    
}

.social-chatwindow-conversation-participant-username,
.social-chatwindow-conversation-participant-status {
    position: relative;
    display: block;
}

.social-chatwindow-conversation-participant-status {
    color: #787d85;
    font-weight: @weight-light;
}

.social-chatwindow-conversation-participant-menubutton {
    opacity: 0;
    font-size: 24px;
    .transition(opacity ease-in-out 0.3s);
    position: absolute;
    right: 4px;
    top: 10px;
}

.social-chatwindow-conversation-participant:hover .social-chatwindow-conversation-participant-menubutton {
    opacity: 1;
}