<section class='origin-home-merchtile' origin-touch="touched(event)">
    <img ng-src="{{image}}" alt="{{alttext}}" class='origin-home-merchtile-img'>
    <div class='origin-home-merchtile-content'>
        <h1 class='otktitle-3'><strong>{{headline}}</strong></h1>
        <p class='otkc origin-home-merchtile-description'>{{text}}</p>
        <origin-store-price ng-if="showpricing" offer-id={{::offerId}} owned-text=""></origin-store-price>
    </div>
    <div class='origin-home-merchtile-overlay' ng-if="::isTouchDisable">
        <div class='l-origin-home-merchtile-cta' ng-transclude>
        </div>
    </div>
</div>
