<widget xmlns="http://www.w3.org/ns/widgets" xmlns:origin="http://widgets.dm.origin.com/configuration" version="0.1.0">
    <name>OIG</name>

    <feature name="http://widgets.dm.origin.com/features/interfaces/clientSettings" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/clientNavigation" />
    <feature name="http://widgets.dm.origin.com/features/interfaces/broadcast" required="false" />
    
    <!-- Needed for Open Sans font -->
    <access origin="http://fonts.googleapis.com" subdomains="true" />
    <access origin="http://fonts.gstatic.com" subdomains="true" />

    <origin:link role="http://widgets.dm.origin.com/linkroles/systemtimeview" template="/oig-system-time.html"/>
    <origin:link role="http://widgets.dm.origin.com/linkroles/navbarview" template="/oig-navbar.html"/>
    <origin:link role="http://widgets.dm.origin.com/linkroles/nuxwelcomeview" template="/oig-nux-welcome.html"/> 
    <origin:link role="http://widgets.dm.origin.com/linkroles/nuxshortkeyview" template="/oig-nux-shortkey.html"/>
    <origin:link role="http://widgets.dm.origin.com/linkroles/broadcastconnect" template="/oig-broadcast-connect.html"/>
    <origin:link role="http://widgets.dm.origin.com/linkroles/broadcastsettings" template="/oig-broadcast-settings.html"/>

    <content src="index.html" />
</widget>
