/***********************************
 Default: For less than 960px
 */
#navbar {
    background: url("../images/common/left_bg.png") no-repeat;
	width: 250px; min-height: 500px;	
	float: left;
	border-radius: 5px 0 0 5px;
}

#navbar > ul
{
	border-bottom: 1px solid #fff;
}

#navbar > ul > li
{
	list-style-type: none;
	height: 49px;
	position: relative;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #C2C2C2
}
#navbar > ul > li:nth-child(1),
#navbar > ul > li:nth-child(1) > a
{
	border-top: none!important;
	border-top-left-radius:6px;
}
#navbar > ul > li:hover
{
	cursor:pointer;
}

#navbar > ul > li > a
{
	width:92%; height:68%;
	display: inline-block;
	padding: 16px 0 0 20px;
	text-decoration: none;
    font-size: 16px;
    font-weight: bold;
	color: #444;
}
#navbar > ul > li > a:hover
{
	background: url('../images/common/nav-hover.png') no-repeat!important;
}
#navbar > ul > li > a:active
{
	color: #444!important;
	cursor:pointer;
	background: url('../images/common/nav-active.png') no-repeat!important;
}
#navbar > ul > li.current
{
	border-top: 1px solid #c6c6c6;
}
#navbar > ul > li.current:hover
{
	border-top: 1px solid #fff;
}
#navbar > ul > li.current > a {
	-webkit-box-shadow: none;
	margin-right: -1px;
	background: url('../images/common/shadow.png') no-repeat;
}
#navbar > ul > li:nth-child(1).current > a
{
	background: url('../images/common/shadow-top.png') no-repeat;
}
#navbar > ul > li.current > span
{	
	background: url('../images/common/arrow.png') no-repeat;
	position: absolute;
	height: 30px; width: 16px;
	left: 236px;
	z-index: 10;
	top: 11px;
}