/***********************************
 Default: For less than 960px
 */
html, *
{
	-webkit-font-smoothing:antialiased; /* none (looks like IE6) | antialiased | subpixel-antialiased (default) */
}
 
html,
body
{
	margin:0; padding:0 0 0 0;
	background:url(../images/common/generic-banner.jpg) no-repeat center top fixed;
    background-color: #a0a0a0;
	-webkit-background-size: cover;
	/* Don't let them select text */
	-webkit-user-select: none;
    font-family: Arial,sans-serif;
}
html:lang(ko),
body:lang(ko)
{
    font-family: "Dotum", "AsiaDNR-M";
}
html:lang(zh),
body:lang(zh)
{
    font-family: SimHei;
}
html:lang(th),
body:lang(th)
{
    font-family: Tahoma;
}

a:active,
a:focus
{
	outline:none;
}

#page_title {
    margin: 20px auto;
    width: 946px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
	cursor: default;
}

.container
{
	margin: 20px auto;
	width: 850px; min-height: 400px;
	-webkit-box-shadow: 0px 0px 5px #666;
	border-radius: 5px;
	background-color: #ececec;
	position: relative;
}
body.MAC .container
{
	border: 1px solid #999;
}

.container > div
{
	display: inline-block; 
	margin: auto;
}

/* Remove the outline from all focused elements */
*:focus
{
	outline:0 none!important;
}

ul
{
	list-style-type:none;
	padding:0px; margin:0px;
}
#main  ul > li
{
	margin: 5px 0 0 0;
}

hr
{
	background-image:-webkit-gradient(
		linear, left top, left bottom,
		color-stop(1%, #C2C2C2),
		color-stop(50%, #C2C2C2),
		color-stop(50%, #FFF),
		color-stop(100%, #FFF)
	); border: none;
	height: 2px;
	margin-top:30px; margin-bottom:30px;
}

hr.clearLeft
{
    clear: left;
}

#chkBoxSpace {
	margin-top: 21px;
}

/* Content */
#main
{
	position:relative;
	z-index:1; 
	background-position: center top; background-repeat: no-repeat; background-size: cover;
	border-left: 1px solid #E0E0E0;
    margin-left: -1px;
}

/* *****************
	Header */
#main > div > div > header
{
	position: relative; float: none;
	margin-bottom: 20px;
}
#main > div > div > header:after
{
	display:block; float:none; clear:both; 
	height:0; overflow:hidden; visibility:hidden; content:".";
}


#main > .general-page,
#main > .ingame-page,
#main > .advanced-page,
#main > .voice-page,
#main > .notifications-page
{
	min-height: 461px; width: 540px;
	position:relative; float:none; clear:both; 
	padding: 24px 30px 25px 30px;
}

#main > .ingame-page > .oig-Enabled 
{
	margin: 25px 0 0px 0;
}

#main > .ingame-page > .oig-Enabled > ul
{
	margin: 0px 0 0 30px;
}

#main > .ingame-page > .oig-Enabled > ul > li
{
	height: 24px;
}

#main > .advanced-page > div > div > .origin-ux-textbox > .origin-ux-textbox-control > span > input
{
	width: 280px;	
}

#main > .voice-page #voice-microphone,
#main > .voice-page #voice-microphone-dropdown,
#main > .voice-page #voice-speaker-dropdown
{
    float: left;
}

#main > .voice-page #voice-microphone-dropdown span,
#main > .voice-page #voice-speaker-dropdown span
{    
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#main > .voice-page #voice-microphone-icon
{
    background:url(../images/common/device_microphone.png); width: 10px; height: 17px;
    float: left;
    margin-left: 5px;
    margin-right: 7px;
    position: relative;
    top: 3px;
}

#main > .voice-page #voice-speaker
{
    float: left;
}

#main > .voice-page #voice-microphone
{
    margin-top: 24px;
    float: left;
}

#main > .voice-page #voice-speaker-dropdown
{
    clear: left;
}

#main > .voice-page #voice-speaker-icon
{
    background:url(../images/common/device_speaker.png); width: 16px; height: 16px;
    float: left;
    margin-left: 5px;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

#main > .voice-page #voice-speaker-minus,
#main > .voice-page #voice-microphone-minus
{
    background:url(../images/common/volume-minus.png); width: 8px; height: 2px;
    float: left;
    margin-top: 8px;
    margin-right: 3px;
}

#main > .voice-page #voice-speaker-plus,
#main > .voice-page #voice-microphone-plus
{
    background:url(../images/common/volume-plus-sprite.png);
    background-position: 0 -9px; width: 8px; height: 8px;
    float: left;
    margin-top: 7px;
    margin-left: 3px;
}

#main > .voice-page #voice-speaker-plus.maxVolume,
#main > .voice-page #voice-microphone-plus.maxVolume
{
    background-position: 0 0; width: 8px; height: 8px;
}

#main > .voice-page #voice-microphone-volume,
#main > .voice-page #voice-speaker-volume,
#main > .voice-page #voice-microphone-slider,
#main > .voice-page #voice-speaker-slider
{
    float: left;
}

#main > .voice-page #voice-microphone-volume,
#main > .voice-page #voice-speaker-volume
{
    margin-left: 20px;
}

#main > .voice-page #voice-test-microphone
{
    clear: both;
    float: left;
    margin-top: 20px;
}

#main > .voice-page #voice-activation-table
{
    clear: left;
    float: left;
}

table#voice-activation-table{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table, tr, td, th, tbody, thead{
    vertical-align: baseline;
}

#main > .voice-page .voice-activation-label
{
    text-align: right;
    vertical-align: top;
}

#main > .voice-page #devices-bottom-spacer
{
    clear:both;
    height: 10px;
}

div#captureModeOptions > div
{
    text-align: left;
    width: 150px;
    display: inline-block;
}

div#captureMode > div#pushToTalkPanel,
div#captureMode > div#voiceActivatedPanel
{
    display: none;
}

div#captureMode.pushToTalk > div#pushToTalkPanel
{
    display: block;
}

div#captureMode.voiceActivated > div#voiceActivatedPanel
{
    display: block;
}

div#captureMode.autoGain div#voice-activation-bars
{

}

div#voice-activation-microphone
{
    margin-top: 7px;
	background:url(../images/common/microphone-sprite.png);
    background-position: 0 -30px; width: 19px; height: 29px;
}

div#voice-activation-microphone.disabled
{
    opacity: 0.5;
}

div#voice-activation-microphone.overThreshold
{
    background-position: 0 0; width: 19px; height: 29px;
}

div#voice-activation-bars
{
    float: left;
}

div#voice-activation-microphone
{
    float: left;
}

div#voice-activation-spacer
{
    clear: left;
}

div.voice-activation-row
{
    display: table-row;
}

div.voice-activation-cell
{
    text-align: right;
    vertical-align: top;
    display: table-cell;
}

div#voice-activation-bars div#voice-activation-level-indicator{
    margin: 6px 6px 0 6px;
}

/***********************************
 For more than 960px
 */
@media screen and (min-width: 960px)
{
	.container
	{
		width: 946px
	}
	#main > .general-page,
    #main > .voice-page,
	#main > .ingame-page,
	#main > .advanced-page
	{
		width: 636px;
	}
}
