<div class="origin-carouselimage l-origin-store-column-full"  ng-class="{'origin-carouselimage-isloading': isLoading}" origin-store-carousel-carousel ng-swipe-left ng-swipe-right>
    <div class="origin-carouselimage-headerarea origin-store-carousel-carousel-header"></div>
    <div class="origin-carouselimage-container origin-store-carousel-carousel-container" ng-if="media">
        <ul class="origin-carouselimage-slidearea origin-store-carousel-carousel-slidearea">
            <li class="origin-carouselimage-slidearea-items origin-carouselmediaitem" ng-repeat="screenshot in ::media track by $index">
                <origin-store-media-carousel-videoitem video-id="{{screenshot.videoId}}" position="$index" on-click="openModal" ng-if="screenshot.type === 'video'"></origin-store-media-carousel-videoitem>
                <img ng-src="{{screenshot.src}}" class="origin-carouselimageitem-thumb" ng-if="screenshot.type ==='image'" ng-click="openModal($index)"/>
            </li>
        </ul>
    </div>
</div>


