<div class="origin-store-carousel-product-carousel l-origin-store-column-full"  ng-class="{'origin-store-carousel-product-carousel-isloading': isLoading}" origin-store-carousel-carousel ng-swipe-left ng-swipe-right>
    <div class="origin-store-carousel-product-carousel-headerarea origin-store-carousel-carousel-header">
        <div class="origin-store-carousel-product-carousel-title">
            <h1 class="otktitle-2 origin-store-carousel-product-carousel-title">{{ title }}</h1>
            <a class="otka otktitle-3" ng-href="{{viewAllHref}}">{{viewAllStr}}</a>
        </div>
    </div>
    <div class="origin-store-carousel-product-carousel-container origin-store-carousel-carousel-container">
        <ul class="l-origin-storegametiles-fixed origin-store-carousel-product-carousel-slidearea origin-store-carousel-carousel-slidearea" ng-transclude></ul>
    </div>
</div>



