<div class="origin-store-carousel-product-carousel origin-telemetry-store-carousel-product-carousel l-origin-store-access-carousel" ng-class="{'origin-store-carousel-product-carousel-isloading': isLoading}" origin-store-carousel-carousel ng-swipe-left ng-swipe-right>
    <div class="origin-store-carousel-product-carousel-headerarea origin-store-carousel-carousel-header"></div>
    <div class="origin-store-carousel-product-carousel-container origin-store-carousel-carousel-container origin-store-access-carousel-container">
        <ul class="l-origin-storegametiles-fixed origin-store-carousel-product-carousel-slidearea origin-store-carousel-carousel-slidearea">
            <li ng-repeat="offer in models track by $index">
                <img ng-src="{{ offer.i18n.packArtMedium || offer.packArt }}" alt="" class="origin-access-carousel-packart">
            </li>
        </ul>
    </div>
</div>