<div class="origin-store-access-comingsoon">
	<div class="origin-store-access-comingsoon-content">
		<img ng-if="image" ng-src="{{ ::image }}" alt="">
		<h1 ng-if="strings.header" class="otktitle-page" ng-bind-html="::strings.header"></h1>
		<h2 ng-if="strings.subtitle" class="otktitle-3 origin-store-access-comingsoon-subtitle" ng-bind-html="::strings.subtitle"></h2>
		<h4 class="otktitle-5 otktitle-5-caps origin-store-access-comingsoon-platform">{{ ::strings.platform }}<i class="otkicon otkicon-windows"></i></h4>
	</div>
</div>