<div class="origin-store-access-footer">
	<div class="origin-store-access-footer-container">
		<origin-store-access-boxartbackground></origin-store-access-boxartbackground>

		<div class="origin-store-access-footer-gradient"></div>

		<div class="origin-store-access-footer-foreground">
			<div class="origin-store-access-footer-fill"></div>
			<div class="origin-store-access-footer-slice">
				<img ng-src="{{ ::slice }}" alt="">
			</div>
		</div>

		<div class="origin-store-access-footer-content-container">
			<div class="origin-store-access-footer-content origin-store-access-footer-content-hidden">
				<img ng-if="image" ng-src="{{ ::image }}" alt="">
				<h1 ng-if="titleStr" class="otktitle-page" ng-bind-html="titleStr"></h1>
				<ng-transclude></ng-transclude>
				<origin-store-access-cta ng-if="buttonText && offerId" button="{{ ::buttonText }}" offer-id="{{ ::offerId }}"></origin-store-access-cta>
				<p ng-if="small" class="otkc otkc-small origin-store-access-fine-print" ng-bind-html="small"></p>
			</div>
		</div>
	</div>

	<p ng-if="legal" class="origin-store-access-footer-legal otkc otkc-small" ng-bind-html="legal"></p>
</div>