<div class="origin-store-access-hero origin-store-access-hero-loading">
	<origin-store-access-boxartbackground></origin-store-access-boxartbackground>

	<div class="origin-store-access-hero-gradient"></div>

	<div class="origin-store-access-hero-foreground">
		<div class="origin-store-access-hero-leftcorner"><img ng-src="{{ ::leftSlice }}" alt=""></div><div class="origin-store-access-hero-middle"></div><div class="origin-store-access-hero-rightcorner"><img ng-src="{{ ::rightSlice }}" alt=""></div>
	</div>

	<div class="origin-store-access-hero-content">
		<img ng-if="image" ng-src="{{ ::image }}" alt="">
		<h1 ng-if="strings.titlestr" class="otktitle-page" ng-bind-html="::strings.titlestr"></h1>
		<h2 ng-if="strings.subtitle" class="otktitle-3 origin-store-access-hero-subtitle" ng-bind-html="::strings.subtitle"></h2>
		<origin-store-access-cta ng-if="strings.buttonText && offerId" button="{{ ::strings.buttonText }}" offer-id="{{ ::offerId }}"></origin-store-access-cta>

		<h4 class="otktitle-5 otktitle-5-caps origin-store-access-hero-platform">{{ ::strings.platform }}<i class="otkicon otkicon-windows"></i></h4>
	</div>
</div>