<section class="origin-store-access-interstitial">
	<div class="origin-store-access-interstitial-header">
		<h1 class="otktitle-2" ng-bind-html="::strings.header"></h1>
	</div>

	<div class="origin-store-access-interstitial-window">
		<div class="origin-store-access-interstitial-trial" ng-if="::logo && strings.description">
			<img ng-src="{{ ::logo }}" alt="" class="origin-store-access-interstitial-logo">
			<p class="otkc origin-store-access-interstitial-desc" ng-bind-html="::strings.description"></p>
		</div>

		<div class="origin-store-access-interstitial-offers" ng-transclude></div>
	</div>

	<div class="origin-store-access-interstitial-footer">
		<button 
			class="otkbtn otkbtn-primary"
			ng-class="{'otkbtn-disabled': !highlightedOfferId}"
			ng-click="onClick()"
			ng-if="::strings.buttonText"
			ng-bind-html="::strings.buttonText">
		</button>
	</div>
</section>