<div class="origin-store-access-interstitial-offer" ng-class="{'origin-store-access-interstitial-offer-selected': highlight == 'true'}" ng-click="highlightOffer()">
	<div class="origin-store-access-interstitial-offer-content">
		<h5 class="otktitle-5 otktitle-5-caps origin-store-access-interstitial-value" ng-if="::value"><strong ng-bind-html="::strings.value"></strong></h5>
		<h2 class="otktitle-2 origin-store-access-interstitial-offer-duration" ng-bind-html="::strings.duration"></h2>
		<h3 class="otktitle-3 origin-store-access-interstitial-offer-price" ng-bind-html="::strings.price"></h3>
		<h4 class="otktitle-4 otktitle-4-strong origin-store-access-interstitial-save" ng-if="::save" ng-bind-html="::strings.save"></h4>
	</div>
</div>