<div class="origin-store-access-prop origin-store-access-prop-{{ alignment }}">
	<div class="origin-store-access-prop-background">
		<div class="origin-store-access-prop-blend-right"></div>
		<div class="origin-store-access-prop-blend-left"></div>
		<img ng-show="background" ng-src="{{ ::background }}" alt="">
	</div>

	<img ng-if="image" ng-src="{{ ::image }}" alt="" class="origin-store-access-prop-character">

	<div class="origin-store-access-prop-slice-left">
		<img ng-src="{{ ::rightSlice }}" alt="">
	</div>

	<div class="origin-store-access-prop-slice-right">
		<img ng-src="{{ ::leftSlice }}" alt="">
	</div>

	<div class="origin-store-access-prop-fill"></div>

	<div class="origin-store-access-prop-content-container">
		<div class="origin-store-access-prop-content origin-store-access-prop-content-hidden">
			<h3 ng-if="titleStr" class="otktitle-page" ng-bind-html="::titleStr"></h3>
			<ng-transclude></ng-transclude>
			<p class="otkc otkc-small origin-store-access-prop-content-legal" ng-if="legal" ng-bind-html="::legal"></p>
		</div>
	</div>
</div>