<section class="origin-store-access-takeover" style="background-color: {{ ::backgroundColor }};">
    <div class="origin-store-access-takeover-image-wrapper">
        <div class="origin-store-access-takeover-image-container">
            <div class="origin-store-access-takeover-image-scrim" origin-store-backgroundscrims>
                <img ng-src="{{ ::image }}" alt="" />
            </div>
        </div>
    </div>
    <div class="origin-store-access-takeover-content origin-store-access-takeover-content-{{::color}}">
        <origin-cta-playvideo
            ng-if="videoId"
            video-id="{{ ::videoId }}"
            mature-content="{{ ::matureContent }}"
            type="round">
        </origin-cta-playvideo>

        <h1 class="origin-store-access-takeover-header otktitle-page" ng-bind-html="::strings.header"></h1>

        <div class="origin-store-access-takeover-list" ng-transclude></div>

        <origin-store-access-cta
            ng-if="primaryCtaText && offerId"
            button="{{ ::primaryCtaText }}"
            offer-id="{{ ::offerId }}">
        </origin-store-access-cta>

        <origin-cta-loadurlinternal
            mg-if="secondaryCtaText"
            href="/store/origin-access"
            description="{{ ::secondaryCtaText }}"
            type="{{::btnColor}}">
        </origin-cta-loadurlinternal>
    </div>
</section>