<div class="store-access-vault-wrapper l-origin-section">
    <origin-tile-list>
        <ul class="l-browsegrid-flexcontainer origin-tilelist store-access-vault-list" origin-lazyload="loadMore" origin-lazyload-disabled="lazyLoadDisabled()">
            <li class="l-browsegrid-flexitem origin-tilelist-item" ng-repeat="item in games track by $index" origin-postrepeat>
                <origin-store-game-tile ocd-path="{{item.path}}" class="l-browsegrid-flexitem-inner"></origin-store-game-tile>
            </li>
        </ul>
    </origin-tile-list>
</div>