<section class='origin-gameslist' data-gameslist-id='{{id}}'>
    <header class='origin-gameslist-header'>
        <h1 class='otktitle-5 otktitle-5-caps origin-gameslist-title'>{{title}}</h1>
        <a class='origin-gameslist-toggletrigger' href='javascript:void(0)' ng-click='toggleGamesList()'>{{triggerValue}}</a>
    </header>
    <div class='origin-gameslist-wrapper'>
        <ul class="origin-gameslist-list">
            <li class='origin-gameslist-item origin-gameslist-item-isvisible' ng-repeat="game in games" origin-postrepeat>
                <origin-game-tile offerId="{{game.offerId}}"></origin-game-tile>
            </li>
        </ul>
    </div>
</section>