Origin--UIToolkit--OriginDivider[orientation="horizontal"][style="DarkGrey_White"]
{
    min-height: 2px;
    max-height: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #c3c3c3, stop:0.5 #c3c3c3, stop:0.501 #fff, stop:1 #fff);
}

Origin--UIToolkit--OriginDivider[orientation="vertical"][style="DarkGrey_White"]
{
    min-width: 2px;
    max-width: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #c3c3c3, stop:0.5 #c3c3c3, stop:0.501 #fff, stop:1 #fff);
}

Origin--UIToolkit--OriginDivider[orientation="horizontal"][style="DarkGrey_LightGrey"]
{
    min-height: 2px;
    max-height: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #444, stop:0.5 #444, stop:0.501 #868686, stop:1 #868686);
}

Origin--UIToolkit--OriginDivider[orientation="vertical"][style="DarkGrey_LightGrey"]
{
    min-width: 2px;
    max-width: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #444, stop:0.5 #444, stop:0.501 #868686, stop:1 #868686);
}

Origin--UIToolkit--OriginDivider[orientation="horizontal"][style="LightGrey_White"]
{
    min-height: 2px;
    max-height: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #d4d4d4, stop:0.5 #d4d4d4, stop:0.501 #f3f3f3, stop:1 #f3f3f3);
}

Origin--UIToolkit--OriginDivider[orientation="vertical"][style="LightGrey_White"]
{
    min-width: 2px;
    max-width: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #d4d4d4, stop:0.5 #d4d4d4, stop:0.501 #f3f3f3, stop:1 #f3f3f3);
}

Origin--UIToolkit--OriginDivider[orientation="horizontal"][style="DarkGreen_LightGreen"]
{
    min-height: 2px;
    max-height: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #1b5101, stop:0.5 #1b5101, stop:0.501 #95dd33, stop:1 #95dd33);
}

Origin--UIToolkit--OriginDivider[orientation="vertical"][style="DarkGreen_LightGreen"]
{
    min-width: 2px;
    max-width: 2px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 #1b5101, stop:0.5 #1b5101, stop:0.501 #95dd33, stop:1 #95dd33);
}

Origin--UIToolkit--OriginDivider[orientation="vertical"][style="Dotted_DarkGrey"]
{
    min-width: 1px;
    max-width: 1px;
    background-image: url(:/OriginCommonControls/OriginDivider/dotted-darkgrey-v.png);
}

Origin--UIToolkit--OriginDivider[orientation="horizontal"][style="Dotted_DarkGrey"]
{
    min-height: 1px;
    max-height: 1px;
    background-image: url(:/OriginCommonControls/OriginDivider/dotted-darkgrey-h.png);
}

Origin--UIToolkit--OriginDivider[orientation="vertical"][style="Dotted_LightGrey"]
{
    min-width: 1px;
    max-width: 1px;
    background-image: url(:/OriginCommonControls/OriginDivider/dotted-lightgrey-v.png);
}

Origin--UIToolkit--OriginDivider[orientation="horizontal"][style="Dotted_LightGrey"]
{
    min-height: 1px;
    max-height: 1px;
    background-image: url(:/OriginCommonControls/OriginDivider/dotted-lightgrey-h.png);
}