#ifndef USING_BITC
framework.databaseConfig.databaseConnections.main.slaves = [
    #ifdef DBBASE
        #define DBBASE_PLAT "#DBBASE#"
    #else
        #define DBBASE_PLAT "#DBBASE_PREFIX#_#PLATFORM#"
    #endif
    
    #include "framework/databases_main_slaves.cfg"
]
#if PLATFORM == "common"
// default configuration of per platform schema in a shared cluster
    #if XPLAY_HOST_PC == "1"
    #define DBBASE_PLAT "#DBBASE_PREFIX#_pc"
    framework.databaseConfig.databaseConnections.main_pc.slaves = [
        #include "framework/databases_main_slaves.cfg"
    ]
    #endif

    #if XPLAY_HOST_XONE == "1"
    #define DBBASE_PLAT "#DBBASE_PREFIX#_xone"
    framework.databaseConfig.databaseConnections.main_xone.slaves = [
        #include "framework/databases_main_slaves.cfg"
    ]
    #endif

    #if XPLAY_HOST_PS4 == "1"
    #define DBBASE_PLAT "#DBBASE_PREFIX#_ps4"
    framework.databaseConfig.databaseConnections.main_ps4.slaves = [
        #include "framework/databases_main_slaves.cfg"
    ]
    #endif

    #if XPLAY_HOST_NX == "1"
    #define DBBASE_PLAT "#DBBASE_PREFIX#_nx"
    framework.databaseConfig.databaseConnections.main_nx.slaves = [
        #include "framework/databases_main_slaves.cfg"
    ]
    #endif

    #if XPLAY_HOST_IOS == "1"
    #define DBBASE_PLAT "#DBBASE_PREFIX#_ios"
    framework.databaseConfig.databaseConnections.main_ios.slaves = [
        #include "framework/databases_main_slaves.cfg"
    ]
    #endif

    #if XPLAY_HOST_ANDROID == "1"
    #define DBBASE_PLAT "#DBBASE_PREFIX#_android"
    framework.databaseConfig.databaseConnections.main_android.slaves = [
        #include "framework/databases_main_slaves.cfg"
    ]
    #endif

#endif // PLATFORM == "common"

#ifdef STATS_DBHOST
    #ifdef DBBASE
        #define DBBASE_PLAT "#DBBASE#"
    #else
        #define DBBASE_PLAT "#DBBASE_PREFIX#_#PLATFORM#"
    #endif
    framework.databaseConfig.databaseConnections.stats = {
        hostname = "#STATS_DBHOST#"
        port = #DBPORT#
        database = "#DBBASE_PLAT#"
        username = "#DBUSER#"
        password = "#DBPASS#"
        obfuscator= "#DBOBFUSCATOR#"
        maxConnCount = "#DEFAULT_DBMAX#"
    #ifdef DB_ASYNC_CONNS
        asyncDbConns = true
    #endif
        instanceOverrides = {
            coreSlave = {
                maxConnCount = #DBMAX#
            }
        }
        slaves = [
    #ifdef STATS_DBSLAVE1
        {
            hostname = "#STATS_DBSLAVE1#"
            port = #DBPORT#
            database = "#DBBASE_PLAT#"
            username = "#DBUSER#"
            password = "#DBPASS#"
            obfuscator= "#DBOBFUSCATOR#"
            maxConnCount = "#DEFAULT_DBMAX#"
            instanceOverrides = {
                coreSlave = {
                    maxConnCount = "#DBMAX#"
                }
            }
        }
        #endif
        #ifdef STATS_DBSLAVE2
        {
            hostname = "#STATS_DBSLAVE2#"
            port = #DBPORT#
            database = "#DBBASE_PLAT#"
            username = "#DBUSER#"
            password = "#DBPASS#"
            obfuscator= "#DBOBFUSCATOR#"
            maxConnCount = "#DEFAULT_DBMAX#"
            instanceOverrides = {
                coreSlave = {
                    maxConnCount = "#DBMAX#"
                }
            }
        }
        #endif
        #ifdef STATS_DBSLAVE3
        {
            hostname = "#STATS_DBSLAVE3#"
            port = #DBPORT#
            database = "#DBBASE_PLAT#"
            username = "#DBUSER#"
            password = "#DBPASS#"
            obfuscator= "#DBOBFUSCATOR#"
            maxConnCount = "#DEFAULT_DBMAX#"
            instanceOverrides = {
                coreSlave = {
                    maxConnCount = "#DBMAX#"
                }
            }
        }
        #endif
        #ifdef STATS_DBSLAVE4
        {
            hostname = "#STATS_DBSLAVE4#"
            port = #DBPORT#
            database = "#DBBASE_PLAT#"
            username = "#DBUSER#"
            password = "#DBPASS#"
            obfuscator= "#DBOBFUSCATOR#"
            maxConnCount = "#DEFAULT_DBMAX#"
            instanceOverrides = {
                coreSlave = {
                    maxConnCount = "#DBMAX#"
                }
            }
        }
        #endif
        ]
    }
#endif

#endif
