<div class= 'origin-home-discovery-configs' ng-transclude></div>
<section class='l-origin-home-discovery l-origin-section origin-home-section ng-class:{"origin-home-section-isloading": isLoading}'  ng-if='visible'>
    <h2 class='otktitle-3 origin-home-section-title' ng-bind-html="titleStr"></h2>
    <h3 class='otktitle-4 origin-home-section-subtitle' ng-if="subtitleStr" ng-bind-html="subtitleStr"></h3>
    <div class='l-origin-hometile-container'>
        <ul class='origin-home-discovery-tiles l-origin-hometiles'>
        </ul>
        <div class='l-origin-home-section-more ng-class:{"origin-home-section-more-isloading":isLoadingMore}' ng-if='moreTilesAvailable'>
        	<a href='javascript:void(0)' ng-click='showMoreTiles()' class='otkbtn otkbtn-light' ng-bind-html="viewmoreStr"></a>
        </div>
    </div>
</section>
