QWidget,
QWidget#ClientView  QWidget#navBar  QPushButton#btnStore,
QWidget#ClientView  QWidget#navBar  QPushButton#btnMyGames,
QWidget#ClientView  QWidget#navBar  QPushButton#btnMyOrigin {
	font-family: "Dotum", "AsiaDNR-M", "Arial";
}

QLabel#lblGroupName,
QLabel#lblAndXOthers {
    font-size: 13px;
}
/************************************************************/
/* Invite to Group flyout */
/************************************************************/

QDialog#InviteToGroupFlyout #lblFriendsOnline {
	color: #fff;
    font-size: 14px;
    font-weight: bold;
}

