QWidget,
QWidget#ClientView  QWidget#navBar  QPushButton#btnStore,
QWidget#ClientView  QWidget#navBar  QPushButton#btnMyGames,
QWidget#ClientView  QWidget#navBar  QPushButton#btnMyOrigin {
	font-family: Arial;
}

QWidget#ClientView {
	/* Greek needs more horizontal width for My Games */
	min-width: 1015px;
}

QPushButton#browserButton, QPushButton#friendsButton, QPushButton#settingsButton, QPushButton#achievementsButton {
	font-size: 12pt;
}