QWidget,
QWidget#ClientView  QWidget#navBar  QPushButton#btnStore,
QWidget#ClientView  QWidget#navBar  QPushButton#btnMyGames,
QWidget#ClientView  QWidget#navBar  QPushButton#btnMyOrigin {
    font-family: SimHei;
}