QWidget,
QWidget#ClientView  QWidget#navBar  QPushButton#btnStore
,QWidget#ClientView  QWidget#navBar  QPushButton#btnMyGames
,QWidget#ClientView  QWidget#navBar  QPushButton#btnMyOrigin {
    font-family: "DFGHSGothic-W5";
}

QPushButton#browserButton, QPushButton#friendsButton, QPushButton#settingsButton, QPushButton#achievementsButton {
    font-size: 12pt;
}