<div class="origin-storecta" ng-class="{
	'origin-storecta-isloading': isLoading,
	'origin-storecta-hasinfobubble': showInfoBubble === 'true'
	}">
	<origin-cta-pdp
		ng-if="isPdpCta"
		href="{{href}}"
		description = "{{pdpDescriptionStr}}"
		type = "{{type }}"
		offerid="{{offerId}}"
	></origin-cta-pdp>
	<origin-cta-directacquisition
		ng-if="isEntitlementCta"
		href="{{href}}"
		description = "{{directacquisitionDescriptionStr}}"
		type = "{{type}}"
		offerid="{{offerId}}"
		showinfobubble="{{showInfoBubble}}"
	></origin-cta-pdp>
</div>