<div class="origin-storeprice" ng-class="{'origin-storeprice-isloading' : isLoading}">
	
	<div ng-if="isOth && !isOwned" class="origin-storeprice-oth">
			<span class="otkprice-free">{{freeString}}</span>
			<span ng-if="strike.length">
				<s class="otkprice-original">{{strike}}</s>
			</span>
	</div>

	<span ng-if="isFree && !isOth && !isOwned" class="origin-storeprice-free">
		<span class="otkprice-free">{{freeString}}</span>
	</span>

	<div ng-hide="isOriginAccessOffer || isOwned" class="origin-storeprice-standard">
		<span ng-if="price.length && !isFree" class="otkprice">{{price}}</span>
		<span ng-if="saleString.length && !isFree" class="otkprice-sale">{{saleString}}</span>
		<span ng-if="strike.length && !isOth">
			<s class="otkprice-original">{{strike}}</s>
		</span>
	</div>

	<div ng-if="!isSubscriber && !isOwned && !isFree && isOriginAccessOffer" class="origin-storeprice-access">
		<span class="otkprice">{{zeroPriceString}}</span>
		<span class="otktitle-4">{{withString}}</span>

		<origin-store-origin-access hasinfobubble="true"></origin-store-origin-access>
		
		<div class="origin-storeprice-orprice">
			<div class="otktitle-4">{{orString}} {{price}}</div>
		</div>
	</div>

	<origin-store-origin-access ng-if="!isOth && !isOwned && isSubscriber && isOriginAccessOffer"></origin-store-origin-access>

	<div ng-if="isOwned" class="origin-storeprice-owned">
		<i class="otkicon otkicon-checkcircle"></i>
		<span class="otktitle-4">{{ownedString}}</span>
	</div>
</div>