<div class="prompt-content">
	<div class="prompt-content-otkprogress otkprogress otkprogress-block otkprogress-block-ispreparing" data-status="operationstatus" 
		 ng-class="{'otkprogress-block-ispaused': operationstatus == 'paused',
					'otkprogress-block-iscomplete': operationstatus == 'complete',
					'otkprogress-block-isactive': operationstatus == 'active',
					'otkprogress-block-ispreparing': operationstatus == 'preparing'}">
		<!-- This is optional -->
		<span class="otkprogress-type otktitle-5 otktitle-5-caps">{{operation}}</span>
		<h3 class="otktitle-3">{{title}}</h3>
		<div class="otkprogress-wrap">
			<div class="otkprogress-bar">
				<div class="otkprogress-value" ng-style="{'width':percent}"></div>
			</div>
			<span class="otkprogress-status otktitle-5 otktitle-5-caps" ng-bind-html="phase"></span>
			<span class="otkprogress-percent" id="block-percent" ng-bind-html="percent"></span>
			<span class="otkprogress-remaining" ng-bind-html="completed">{{completed}}</span>
			<span class="otkprogress-rate" ng-bind-html="rate"></span>
		</div>
	</div>
</div>