<div class='otkmodal-header'>
    <h4 class='otkmodal-title otktitle-2' ng-bind-html='header'></h4>
</div>
<div class='otkmodal-body'>
    <div class='otkc'  ng-show='description'  ng-bind-html='description'  origin-dialog-content-linkreact></div>
    <div ng-transclude></div>
</div>
<div class='otkmodal-footer'>
    <button class='otkbtn otkmodal-btn-yes'  ng-disabled='!yesenabled'  ng-show='yesbtntext'  ng-click='onYesBtnClick()'>{{::yesbtntext}}</button>
    <button class='otkbtn otkmodal-btn-no'  ng-click='onNoBtnClick()'>{{::nobtntext}}</button>
</div>