
<div ng-if="model" class="origin-profile-wishlist-gametile origin-telemetry-profile-wishlist-gametile origin-gamecard" data-telemetry-offer-id="{{ model.offerId }}">

    <section ng-if="packArtUrl" ng-class="usingSmallPackArt ? 'origin-gamecard-primarycol-small' : 'origin-gamecard-primarycol'">
        <img class="origin-profile-wishlist-gametile-packart origin-telemetry-profile-wishlist-gametile-packart"  ng-src="{{packArtUrl}}" alt="{{ model.displayName }}" ng-class="usingSmallPackArt ? 'origin-gamecard-packart-small' : 'origin-gamecard-packart'" origin-touch="navigateToGame()" ng-click="navigateToGame()"/>
    </section>
    <section ng-class="usingSmallPackArt ? 'origin-profile-wishlist-secondarycol-small' : 'origin-profile-wishlist-secondarycol'">
        <h1 class="otktitle-2 origin-profile-wishlist-gametile-title origin-telemetry-profile-wishlist-gametile-title" origin-touch="navigateToGame()" ng-click="navigateToGame()">{{ model.displayName }}</h1>

        <p class="otktitle-4 origin-profile-wishlist-date-added" ng-bind-html="addedDateLoc"></p>

        <div class="origin-profile-wishlist-prerelease" ng-if="releaseDateLoc">
            <i class="otkicon otkicon-info origin-profile-wishlist-release-date-icon"></i>
            <span class="otktitle-4 origin-profile-wishlist-release-date" ng-bind-html="releaseDateLoc"></span>
        </div>

        <div class="origin-profile-wishlist-gametile-cta-container">
            <origin-cta-directacquisition
                ng-if="showDirectAcquisitionCTA()"
                description="{{ playFreeLoc }}"
                type="primary"
                offer-id="{{ model.offerId }}"
                is-vault="{{ isVaultEntitlement() }}"
                origin-infobubble="
                    <origin-store-game-rating></origin-store-game-rating>
                    <origin-store-game-legal></origin-store-game-legal>">
            </origin-cta-directacquisition>

            <div ng-if="showDirectAcquisitionCTA() && primaryAction.enabled && (showPurchaseCTA() || isGameGiftable)"
                class="origin-profile-wishlist-subs-divider">
                <p class="origin-profile-wishlist-or-divider">
                    <span class="origin-profile-wishlist-or-text otktitle-5 otktitle-5-caps" ng-bind-html="orLoc"></span>
                </p>
            </div>

            <div ng-if="primaryAction.enabled && (showPurchaseCTA() || isGameGiftable) && model.savings && model.savings !== '0'" class="origin-gamecard-discounts">
                <span class="otkprice-sale">{{ savingsLoc.replace('%savings%', model.savings) }}
                    <s class="otkprice-original">{{ model.formattedStrikePrice }}</s>
                </span>
                <div ng-if="model.hasSubsDiscount && isSubscriber" class="origin-gamecard-accessdiscount">{{ originAccessDiscountAppliedLoc }}</div>
            </div>

            <origin-cta-purchase
                ng-if="showPurchaseCTA()"
                model="model"
                type="{{isOwnedSubscriptionOffer() ? 'light' : 'primary'}}"
                disable-context-menu="true"
                origin-infobubble="
                    <origin-store-game-rating></origin-store-game-rating>
                    <origin-store-game-legal></origin-store-game-legal>">
            </origin-cta-purchase>

            <origin-cta-gift
                ng-if="isGameGiftable"
                nucleus-id="{{userId}}"
                model="model"
                type="primary"
                origin-infobubble="
                    <origin-store-game-rating></origin-store-game-rating>
                    <origin-store-game-legal></origin-store-game-legal>">
            </origin-cta-gift>

            <div class="origin-profile-wishlist-ineligibletoreceive" ng-show="eligibilityStr">
                <i class="otkicon otkicon-info"></i>
                <span class="otktitle-4 origin-profile-wishlist-ineligibletoreceive-msg">
                    <strong ng-bind="eligibilityStr"></strong>
                </span>
            </div>

            <a href="javascript:void(0)" ng-if="isSelf" ng-click="onRemoveClicked($event)" class='otka'>
                <div class="otktitle-4 origin-profile-wishlist-gametile-remove-link origin-telemetry-profile-wishlist-gametile-remove-link" ng-bind-html="::removeFromWishlistLoc"></div>
            </a>
        </div>

    </section>


</div>