<div ng-if="loadMore" class="origin-profile-wishlist-container origin-telemetry-profile-wishlist-container-other-user">
    <div ng-if="!privacy.isPrivate && !wishlist.isPrivate && !loading">
        <div class="origin-profile-wishlist-empty" ng-if="wishlist.offerList.length === 0">
            <h2 class="otktitle-2 origin-profile-wishlist-empty-heading" ng-bind-html="emptyWishlistHeadingLoc"></h2>
            <h3 class="otktitle-3 origin-profile-wishlist-empty-description" ng-bind-html="emptyWishlistDescriptionLoc"></h3>
        </div>

        <div
            origin-lazyload="loadMore"
            origin-lazyload-offset="20"
            origin-lazyload-throttle="500"
            origin-lazyload-disabled="lazyLoadDisabled()"
            >

            <ul class="origin-profile-wishlist">
                <li ng-repeat="wish in lazyLoadOfferList track by wish.id" class="origin-profile-wishlist-item" origin-postrepeat>
                    <origin-profile-page-wishlist-gametile userid="{{nucleusId}}" wish="wish"></origin-profile-page-wishlist-gametile>
                </li>
            </ul>
        </div>
    </div>
</div>