<div ng-if="loadMore" class="origin-profile-wishlist-container origin-telemetry-profile-wishlist-container-self">
    <div ng-show="isPrivate" class="origin-profile-wishlist-private-stripe">
        <div class="otknotice-stripe-message">
            <span class="otkicon otkicon-warning origin-profile-wishlist-private-warning-icon"></span>
            <span class="otkc otkc-small origin-profile-wishlist-private-heading-text"><strong ng-bind-html="privateProfileHeadingLoc"></strong></span>
            <p class="otkc origin-profile-wishlist-private-body-text"></p>
        </div>
    </div>

    <div class="origin-profile-wishlist-empty" ng-if="wishlist.offerList.length === 0">
        <h2 class="otktitle-2 origin-profile-wishlist-empty-heading" ng-bind-html="emptyWishlistHeadingLoc"></h2>
        <h3 class="otktitle-3 origin-profile-wishlist-empty-description" ng-bind-html="emptyWishlistDescriptionLoc"></h3>
        <img ng-src="{{::addToWishlistImageSrc}}" class="origin-profile-wishlist-empty-image">
    </div>

    <div ng-if="wishlist.offerList.length > 0 && !isPrivate && showShareWishlist" class="origin-profile-wishlist-share-area">
        <div class="origin-profile-wishlist-share-textcontainer">
            <button class="otkbtn otkbtn-light"  ng-click="openShareWishlist()">
                <span ng-bind="::shareYourWishlistLoc"></span>
            </button>
        </div>
    </div>

    <div origin-lazyload="loadMore"
         origin-lazyload-offset="20"
         origin-lazyload-throttle="500"
         origin-lazyload-disabled="lazyLoadDisabled()">

        <ul class="origin-profile-wishlist">
            <li ng-repeat="wish in lazyLoadOfferList track by wish.id" class="origin-profile-wishlist-item" origin-postrepeat>
                <origin-profile-page-wishlist-gametile userid="{{userId}}" wish="wish"></origin-profile-page-wishlist-gametile>
            </li>
        </ul>
    </div>
</div>
