<div class="l-origin-store-takeover-wrapper origin-tealium-takeover" ng-click="gotoPrimaryLinkAndDismissTakeover($event, primaryUrl)" ng-class="{'origin-store-takeover-dark': isDarkTextColor, 'origin-store-takeover-light': !isDarkTextColor}" ng-show="!isDismissedOrHidden">

    <div class="origin-store-takeover-hero">
        <origin-store-backgroundimage bottom-scrim="true" background-color='{{ ::backgroundColor }}' image='{{ ::image }}'> </origin-store-backgroundimage>
        <origin-cta-playvideo ng-if="videoId" actionid="play-video" video-id="{{ videoId }}" mature-content="{{ matureContent }}" type="round" class="origin-tealium-takeover-playvideo"></origin-cta-playvideo>
    </div>

    <div class="l-origin-store-takeover-content">
        <img class="origin-store-takeover-title" ng-src="{{ logo }}" ng-if="hasLogo" title="{{ titleStr || model.displayName }}">
        <h1 class="otktitle-page origin-store-takeover-title" ng-if="!hasLogo" ng-bind-html="titleStr || model.displayName"></h1>

        <h2 class="otktitle-2 origin-store-takeover-subtitle" ng-bind-html="strings.keyMessage || model.shortDescription"></h2>

        <div class="origin-store-takeover-cta origin-tealium-takeover-primary-link">
            <a ng-click="gotoPrimaryLinkAndDismissTakeover($event, primaryUrl)" ng-href="{{::primaryAbsoluteUrl}}" class="otkbtn otkbtn-primary">
                <span ng-bind-html="::strings.primaryText"></span>
                <i class="otkbtn-externallink" ng-if="::isPrimaryLinkExternal"></i>
            </a>
        </div>

        <div class="origin-store-takeover-cta origin-tealium-takeover-second-link">
            <a ng-click="dismissTakeoverAndOpenLink($event, secondaryUrl)" ng-href="{{::secondaryAbsoluteUrl}}"
               class="otkbtn"
               ng-class="::{'otkbtn-transparent': !isDarkTextColor, 'otkbtn-light': isDarkTextColor}">
                <span ng-bind="::strings.secondaryText"></span>
            </a>
        </div>
    </div>
</div>