<example>
<para>Register properties and display the values set.</para>
<code>
<![CDATA[
<project default="build">
	<target name="build">
		<echo message="sys.env.windir == ${sys.env.windir}"/>
	</target>
</project>
]]>
</code>
</example>
