<example>
<para>Register the properties without a prefix.</para>
<code>
<![CDATA[
<project xmlns="schemas/ea/framework3.xsd">
    <sysinfo prefix=""/>
    <echo message="Your operating system is: ${os}"/>
</project>
]]>
</code>
</example>
