//
// FifaCups Configuration
//
//
// Note: each season must be configured with it's stats period type. This must match the stat period
// period type configured for the associated stats category in the stats.cfg file. This period type
// defines the length of a season.
//
//   PeriodType is based on the StatPeriodType defined in Blaze code
//
//   STAT_PERIOD_ALL_TIME  = 0x1  // Absolute time.
//   STAT_PERIOD_MONTHLY   = 0x2  // During the month.
//   STAT_PERIOD_WEEKLY    = 0x4  // During the week.
//   STAT_PERIOD_DAILY     = 0x8  // During the day.

fifacups = {
    dbName = "main",
    
    // are users automatically registered in versus seasonal play on login
    autoUserRegistration = true,
    
    // are clubs automatically registered in club seasonal play on club creation
    autoClubRegistration = true,
	
	
    instances = [
        {
            //H2H Seasonal Play
            id = 1,
            memberType = 1,
            leagueId = 1,
            tournamentId = 12,
            tournamentMode = 4,
            startDivision = 1,
            cupStatCategory = "SPOverallPlayerStats",
#if (ENABLE_PROD_STATS_ROLLOVER == "true")
            periodType=0x4,
            statMode = 2,
	    cupDuration = {
                days = 3,
                hours = 0,
                minutes = 0	    	
            },
#else
            periodType=0x8,
            statMode = 0,
	    cupDuration = {
                days = 0,
                hours = 23,
                minutes = 30	    
            },
#endif
            cups = [
                { cupId = 1,  startDiv = 1, endDiv = 2, tournamentRule = 3 },
                { cupId = 2,  startDiv = 3, endDiv = 5, tournamentRule = 3 },
                { cupId = 3,  startDiv = 6, endDiv = 8, tournamentRule = 3 },
                { cupId = 4,  startDiv = 9, endDiv = 10, tournamentRule = 3 },
                { cupId = 5,  startDiv = 1, endDiv = 10, tournamentRule = 3 }
                ]            
        },
        {
            //Clubs Seasonal Play
            // Rule Id Enum from Client
            //	enum OnlineCupRules
            //{
            //	CUP_RULE_SURVIVAL				= 0,
            //	CUP_RULE_HEADER_AND_VOLLEYS		= 1,
            //	CUP_RULE_LONG_RANGE				= 2,
            //	CUP_RULE_NO_RULES				= 3,
            //	CUP_RULE_MONEY_BALL				= 4,  mystery
            //	CUP_RULE_TUG_OF_WAR				= 5,  king of the hill
            //	CUP_RULE_AUTHENTIC				= 6,
            //	CUP_RULE_MAX					= 7
            //};
			
            id = 2,
            memberType = 2,
            leagueId = 1,
            periodType=0x8,
            statMode = 0,
            tournamentId = 13,
            tournamentMode = 5,
            startDivision = 1,
            cupStatCategory = "SPOverallClubsStats",
            cupDuration = {
                days = 0,
                hours = 23,
                minutes = 30
            },
		cups = [
			{ cupId = 1,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 6},
			{ cupId = 2,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 3},
			{ cupId = 3,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 0},
			{ cupId = 4,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 5},
			{ cupId = 5,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 2},
			{ cupId = 6,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 4},
			{ cupId = 7,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 1},
			{ cupId = 8,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 6},
			{ cupId = 9,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 3},
			{ cupId = 10,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 0},
			{ cupId = 11,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 5},
			{ cupId = 12,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 2},
			{ cupId = 13,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 4},
			{ cupId = 14,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 1},
			{ cupId = 15,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 6},
			{ cupId = 16,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 3},
			{ cupId = 17,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 0},
			{ cupId = 18,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 5},
			{ cupId = 19,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 2},
			{ cupId = 20,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 4},
			{ cupId = 21,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 1},
			{ cupId = 22,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 6},
			{ cupId = 23,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 3},
			{ cupId = 24,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 0},
			{ cupId = 25,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 5},
			{ cupId = 26,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 2},
			{ cupId = 27,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 4},
			{ cupId = 28,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 1},
			{ cupId = 29,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 6},
			{ cupId = 30,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 3},
			{ cupId = 31,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 0},
			{ cupId = 32,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 5},
			{ cupId = 33,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 2},
			{ cupId = 34,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 4},
			{ cupId = 35,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 1},
			{ cupId = 36,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 6},
			{ cupId = 37,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 3},
			{ cupId = 38,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 0},
			{ cupId = 39,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 5},
			{ cupId = 40,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 2},
			{ cupId = 41,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 4},
			{ cupId = 42,  startDiv = 1, endDiv = 10, tournamentRule = 3, ruleId = 1}
		],
		rotationExceptions = [
			{ cupId = 2, state = "FIFACUPS_CUP_STATE_INACTIVE", time = "2019/02/07" },
			{ cupId = 3, state = "FIFACUPS_CUP_STATE_INACTIVE", time = "2019/02/08" }
		],
		rotatingCupsCount = 42
        },
        {
            //Coop Seasonal Play
            id = 3,
            memberType = 3,
            leagueId = 1,
            periodType=0x1,
            statMode = 0,
            tournamentId = 14,
            tournamentMode = 5,
            startDivision = 1,
            cupStatCategory = "SPOverallCoopStats",
            cupDuration = {
                days = 0,
                hours = 23,
                minutes = 30
            },
            cups = [
                { cupId = 1,  startDiv = 1, endDiv = 2, tournamentRule = 3 },
                { cupId = 2,  startDiv = 3, endDiv = 5, tournamentRule = 3 },
                { cupId = 3,  startDiv = 6, endDiv = 8, tournamentRule = 3 },
                { cupId = 4,  startDiv = 9, endDiv = 10, tournamentRule = 3 },
                { cupId = 5,  startDiv = 11, endDiv = 15, tournamentRule = 3 }
                ]            
        }
    ]  
}