<div class="expandedview-header">
    <div class="bg-wrapper">
        <div class="bg-img-container" ng-hide="!packartLarge || gameLogo || backgroundVideoPoster">
            <img class="bg-image" src="{{packartLarge}}" />
        </div>
        <div class="top">
            <a href="javascript:void(0)" class="otkexpandedview-close" ui-sref="app.game_gamelibrary">
                <i class="otkicon otkicon-closecircle"></i>
            </a>
        </div>
        <div class="video-container" ng-hide="!backgroundVideoPoster">
            <video autoplay loop preload="metadata" poster="{{backgroundVideoPoster}}">
                <source src="{{video.src}}" type="{{video.type}}" ng-repeat="video in ::backgroundVideoSrcFiles"></source>
            </video>
        </div>
        <img class="game-logo" src="{{gameLogo}}" ng-hide="!gameLogo" />
        <img class="game-premium-logo" src="{{gamePremiumLogo}}" ng-hide="!gamePremiumLogo" />
        <img class="origin-access-logo-with-premium" src="{{accessLogo}}" ng-hide="!accessLogo"/>
        <img class="game-packart" src="{{packartLarge}}" ng-hide="!packartLarge || gameLogo || backgroundVideoPoster" />
        <div class="otktitle-2 otktitle-2-caps gamename" ng-hide="!packartLarge || gameLogo || backgroundVideoPoster">
            {{gameName}}
        </div>
        <div class="game-details clearfix">
            <div class="left-col clearfix">
                <div class="actions-wrapper clearfix">
                    <div class="item">
                        <origin-cta-downloadinstallplay offerid="{{offerId}}" type="primary"></origin-cta-downloadinstallplay>
                    </div>
                    <div class="item">
                        <origin-game-settings-button offerid="{{offerId}}"></origin-game-settings-button>
                    </div>
                    <div class="item">
                        <origin-game-favorite-button offerid="{{offerId}}"></origin-game-favorite-button>
                    </div>
                </div>
            </div>
            <div class="right-col">
                <origin-game-ogd-gamestats offerid="{{offerId}}"></origin-game-ogd-gamestats>
            </div>
        </div>
    </div>
</div>
